[2016-03-01 23:32] jonathanolson commented on #212
It was in a "wait for design, since we may integrate it into the navbar or do something else" state.

@ariel-phet would presumably know if this has changed.

[2016-03-02 04:25] ariel-phet commented on #212
Perhaps this is a question for @kathy-phet ...she might want the screenshot feature only available in iO sims. Since the webgl issues have not been all figured out and tested, we certainly should not be shipping it as a feature yet.

It is true we had discusses integrating the screenshot feature into the navibar, but for the moment, I think we were all OK with having it in the menu. The navbar int

[2016-03-03 17:36] jessegreenberg commented on #58
https://github.com/phetsims/scenery/issues/41 will neeed to be completed before we handle this issue.

[2016-03-03 17:42] samreid commented on #212
@kathy-phet said she is OK to put the screenshot feature into the phet.colorado.edu sims, though not at high priority.  Higher priority is for @jonathanolson and @samreid to make sure the BrainPop simulations can export screenshots even if WebGL is running:

Color Vision
Concentration
Molecules and Light
Balancing Act
Graphing Lines
Wave on a String
Energy Skate Park: Basics
Arithmetic

[2016-03-03 17:52] jonathanolson commented on #321
Fixes have been released, closing.

[2016-03-03 17:52] #321 closed

[2016-03-03 18:38] jonathanolson commented on #300
Will be repurposed for assertions in other issues.

[2016-03-03 18:38] #300 closed

[2016-03-04 20:19] jonathanolson opened #325 "Consider improved logging for simulations"
Adding something with logging levels (like Scenery) would be helpful for simulations in general.

[2016-03-08 03:15] pixelzoom commented on #325
I've been using very rudimentary logging in function-builder.  It's adding functionBuilder.js (namespace) at line 16:

[code]

Currently no uses in master HEAD, but an example is:

[code]

[2016-03-08 03:19] pixelzoom commented on #325
Skype discussion from 1/4/2016, where @samreid suggested the approach used in function-builder.

[1/4/16, 10:11:41 AM] Chris Malley: has anyone used a logging library for JS?  something that could be turned on/off via query param would be perfect.
[1/4/16, 10:12:10 AM] Jonathan Olson: There's a node.js logging lib that has been used (forget the name), and I have a custom solution for Scenery loggi

[2016-03-08 04:00] samreid commented on #325
@samreid's last suggestion in the thread is:

If our logging proliferates, then the ability to remove them for builds will become important.  Also, it seems rare that we would want verbose messages from multiple namespaces, and attaching that to the namespace seems to be an abuse of the namespace intention.

[2016-03-08 04:23] pixelzoom commented on #325
scenery, dot and kite attach many things to the namespace. It's my recollection that we discussed that, and concluded that it was OK.

[2016-03-08 17:24] samreid commented on #325
@jonathanolson says it would be nice to conditionally enable certain groups of log statements, and have the log statements checked in, and getting them stripped out for builds.

@jbphet says this would generally be useful.

[2016-03-08 17:36] samreid commented on #325
We are in general agreement about creating a new repo for logging that can be used by scenery as well as other repos.  @jonathanolson proposed name "rainforest", but @jbphet was not excited about that name.

@samreid said he has numerous suggestions for improving the API.

@jbphet and @samreid says low priority for their work.

@pixelzoom is OK with the strategy he mentioned above.  If something b

[2016-03-08 17:37] samreid commented on #325
@samreid suggestions for API changes:

It seems odd that the log method is the name of the log, like `Display('hello')`.  `push` seems like it should take an argument of the message.

[2016-03-08 17:38] samreid commented on #325
**Consensus** if others have a need for this, please note it here and increase priority as necessary.

[2016-03-09 18:35] jonathanolson opened #326 "Consider replacing "About" translation credits link with direct reference"
Since you're running the sim in one translation, it would make sense to just directly display credits for THAT translation (instead of having a link that shows credits for all translations).

[2016-03-10 05:34] jonathanolson commented on #324
Merged to master.

[2016-03-10 05:34] #324 closed

[2016-03-10 16:52] samreid commented on #326
Yes, @jonathanolson's recommendation makes good sense.  Directing to our site may have advantages though, like providing a nearby button that says "contribute translations", but I don't think we are leveraging this too much.

[2016-03-10 17:09] jonathanolson commented on #131
I believe phet-io messages have the required parts. Closing.

[2016-03-10 17:09] #131 closed

[2016-03-10 18:37] pixelzoom commented on #326
The current link was implemented in https://github.com/phetsims/joist/issues/163.

Hooke's Law (for example) goes to http://phet.colorado.edu/es_PE/for-translators/translation-credits#hookes-law-header

What would the proposed change ("just directly display credits for THAT translation") link to?

[2016-03-10 18:57] jonathanolson commented on #326
It wouldn't link to anything. It would only show translator information for that specific locale inline in the dialog.

[2016-03-10 19:01] jonathanolson commented on #212
Is pending on WebGL support, see https://github.com/phetsims/scenery/issues/308.

[2016-03-10 19:02] jonathanolson commented on #287
Looks good to me.

[2016-03-10 19:02] #287 closed

[2016-03-10 19:10] pixelzoom commented on #326
It seems like assuming 1 translator per locale is an assumption that is likely to bite us in the future.

Why is the current solution not sufficient?

[2016-03-10 19:18] jonathanolson commented on #326
The website I think internally handles multiple translators, and those could be listed in the About dialog.

Seems very bulky. Requires an external link that goes to a page which then has to be scanned to find the locale.

[2016-03-10 20:05] jessegreenberg commented on #326
3/10/16: Translation credits will be left as is.

The link takes you to a list of translations for the given sim.  In order to do this, it would complicate the build process.  Information would also come from Rosetta and we want to keep those details private.

The current solution has been working well, no complaints from translators so far.

[2016-03-10 20:05] #326 closed

[2016-03-19 00:59] samreid opened #327 "PhetMenu memory leak"
See https://github.com/phetsims/tasks/issues/546

[2016-03-19 03:06] samreid opened #328 "branch: phet-menu"
For #327

[2016-03-19 03:16] samreid commented on #327
I made changes in the phet-menu branch that eagerly create the PhET Menu once per PhETButton instead of lazily and repeatedly.  Testing with fuzzMouse=100 over 60 seconds, I see:

master: 16.8MB -> 72.2MB
phet-menu: 13.5MB -> 14.4MB

So it seems this has addressed the majority of the problem, though there is still likely an issue somewhere.

This seems like a good change, but it will need broad te

[2016-03-19 03:20] samreid commented on #327
Also pinging @ariel-phet about testing this, we could either (a) create a test just for testing the phet button + phet menu on every platform or (b) bundle this test into some upcoming RC.

[2016-03-19 17:01] ariel-phet commented on #327
Seems worth bundling into an upcoming RC

[2016-03-19 19:34] jonathanolson commented on #237
Implemented.

[2016-03-19 19:34] #237 closed

[2016-03-19 19:37] jonathanolson commented on #212
I believe I've handled all of the screenshot-related issues (and https://github.com/phetsims/joist/issues/286 sufficiently?), so I've enabled it by default in the menu.

@ariel-phet, do we want to do additional testing now, or wait for an RC?

[2016-03-21 14:20] ariel-phet commented on #212
@jonathanolson probably good to do some preliminary testing. Please create a task and assign to me with some relevant details. I imagine testing could be done from sims on phettest? And we could try a few cases (such as ESPB and other known ones?).

[2016-03-22 17:42] jbphet commented on #327
The changes look reasonable, and I tested them by switching joist to the branch and running a sim (Balancing Act) and popping up the menu several times, taking heap snapshots as I went.  The number of allocated PhetMenus stayed constant at 2.  I believe that it's because there is one for the home screen and one for the nav bar.  I also ran Hooke's Law using the ```fuzzMouse=100``` with this change

[2016-03-22 17:46] samreid commented on #327
Yes, that's right.

[2016-03-22 17:48] jbphet opened #329 "Dialog windows shown by PhetMenu leak memory"
If I run a test where start up a sim and then use the button in the lower right to pop up the PhET menu, then select "About..." and then "Check for Updates..." several times each, and then capture a heap snapshot, the count for each of these dialog windows matches the number of times that it was brought up.  This would seem to imply that these dialogs are not getting garbage collected and are caus

[2016-03-22 17:55] jbphet commented on #329
Here are a couple of screenshots from tests where I opened the About and Check for Updates dialogs four times each:

![dialog-leak-1](https://cloud.githubusercontent.com/assets/3082831/13962071/f76daada-f024-11e5-9d14-b7ad00355108.PNG)
![dialog-leak-2](https://cloud.githubusercontent.com/assets/3082831/13962076/fe0e3c42-f024-11e5-8cda-95e5b1cc6015.PNG)

[2016-03-22 17:56] jbphet commented on #329
Assigning to @samreid, since this is joist code and since he just fixed a similar issue with PhetMenu.

[2016-03-22 18:16] jbphet commented on #327
Reopening - I should have assigned back to @samreid for integration into master.

[2016-03-23 03:16] samreid commented on #327
Merged into master and `phet-menu` branch deleted.

[2016-03-23 03:16] #327 closed

[2016-03-23 03:17] samreid commented on #328
Branch merged to master and deleted, closing.

[2016-03-23 03:17] #328 closed

[2016-03-24 16:21] jonathanolson commented on #212
Added task in https://github.com/phetsims/tasks/issues/556. Anything else I should do for this issue for now?

[2016-03-28 17:17] ariel-phet commented on #212
I think nothing else until testing finishes.

[2016-03-28 19:24] jonathanolson opened #330 "Investigate phetAllocation alternatives for memory/GC analysis"
Most browsers have tools for investigating memory leaks (more than creation of objects), and phetAllocation only touches certain types.

During collaboration with @jessegreenberg on performance, we patched this into require.js' execCb function, resulting in phetAllocation being able to watch creation of almost every type:

[code]

It can't detect function closure creation or other problems, and it

[2016-04-05 16:13] samreid commented on #329
@jbphet recommended bumping the priority

[2016-04-05 17:31] jbphet commented on #329
True, mainly because having no memory leaks in the common code makes it easier to detect them and track them down in sim-specific code.

[2016-04-05 21:26] samreid commented on #329
It seems like opening the about dialog 5 times in blast creates a 0.9MB memory leak:

![image](https://cloud.githubusercontent.com/assets/679486/14298529/b6e4422a-fb42-11e5-92d0-99279c389cdd.png)

Test procedure.  Open blast.  Take 5 memory snapshots.  Open about dialog 5 times.  Take 5 memory snapshots. I am taking multiple memory snapshots since the first 1-2 seem unstable.

[2016-04-05 21:51] samreid commented on #329
Dialog has `sim.on( 'resized', updateLayout );` but never removes this listener.  Still, after removing this listener attachment, the problem is still present.

[2016-04-06 00:14] samreid commented on #329
There are also independent leaks in these lines, or usage of those vars:

[code]

[2016-04-06 00:25] samreid commented on #329
Putting the `upToDateNode` in children creates a memory leak.  Creating it but not adding to children, there is no leak...

[2016-04-06 00:47] samreid commented on #329
Fixed one leak source above, but there is still at least one other source for AboutDialog leaks, as described in https://github.com/phetsims/joist/issues/329#issuecomment-206043397

[2016-04-06 00:48] samreid commented on #329
One of the retainers "map descriptors", may be a chrome bug according to https://groups.google.com/forum/#!topic/google-chrome-developer-tools/-tBvJaaVMHc

[2016-04-06 01:17] samreid commented on #329
Well, running with the chrome optimizations disabled, and with canary, I am still seeing the leak.

Commenting out the rectangle's FontAwesomeNode child makes the leak disappear:
[code]

[2016-04-06 01:23] samreid commented on #329
Commenting out the shape caching in FontAwesomeNode.getShapeByName eliminates the AboutDialog memory leak.

[2016-04-06 01:34] samreid commented on #329
I'm getting to a point where assistance from @pixelzoom @jbphet @jonathanolson or @jessegreenberg would be helpful.

One possibility would be to stop caching icons in Font Awesome Node, but it would be best to understand what is causing the root of the problem.

[2016-04-06 01:44] samreid commented on #329
The FontAwesomeNode shape cache has a reference to the Shape.
The Shape extends Events, and uses:
[code]

Commenting out this line in isolation does not prevent the memory leak.

[2016-04-06 17:00] samreid commented on #329
In discussing this with @jonathanolson and @jbphet, @jonathanolson identified that the memory leak is due to the FontAwesomeNode's Path adding a reference to the cached Shape.

If FontAwesomeNode is typically used for button icons, it may not be too important to cache the shapes.

We could check to see if any FontAwesomeNodes were relying on the caching, to boost performance there we could reuse F

[2016-04-07 12:15] samreid commented on #329
@jonathanolson based on our discussion yesterday, I thought adding a `copy()` call in FontAwesomeNode like so would resolve the memory leak, but it does not:

[code]

Can you hypothesize why?  I also tried copying the bounds in the implementation of Shape.copy, but there is still a leak.

[2016-04-07 12:34] samreid commented on #329
I'm seeing some 6/21 places where FontAwesomeNode is constructed dynamically in the UI and hence a delay would be undesirable.  I could measure the delay and see if it is acceptable, but I also looked at adding a `staticShape` option to Path, which would skip adding listeners:

[code]

and

[code]

However, I am hesitant to increase the complexity of one of our core scenery classes.

@jonathanolso

[2016-04-07 20:07] samreid commented on #329
We discussed this at today's meeting.  Current sentiment is that we should:

* Remove caching from FontAwesomeNode
* Test performance on sims that are dynamically creating FontAwesomeNode
* In the future investigate `Node.dispose`

[2016-04-07 22:18] jonathanolson opened #331 "Home screen icons drift"
Discovered by @phet-steele. Fuzzing for a few minutes makes it very obvious:

![acid-base-solutions-rise](https://cloud.githubusercontent.com/assets/480878/14368651/56844e8e-fcdc-11e5-9762-9e24e991a991.PNG)

Likely to be buggy re-layout code? I'll take a look.

[2016-04-12 15:06] jessegreenberg commented on #310
This was completed,``` aria-hidden``` is sufficient to hide the heartbeat div from the screen reader.  Closing.

[2016-04-12 15:06] #310 closed

[2016-04-12 18:32] samreid commented on #329
I'll assign this to @jbphet for now, @jbphet please do as much of steps 1-2 above as you wish, then reassign to me when complete.

[2016-04-12 19:33] jbphet opened #332 "home screen leaks memory when switching between selections"
The file `HomeScreenView.js` contains the following code:

[code]

This creates a new HBox every time the screen index changes.  Because the icons have a reference to the previous HBox, the previous HBox is still a reachable object and is thus never garbage collected.

To see the leak in action, add the line

[code]

to the closure above (currently around line 245 in `HomeScreenView`).  Then, star

[2016-04-12 19:47] jbphet commented on #332
I added a simple fix for this - retaining a reference to the previously allocated HBox and removing its children when it's replaced - but I think @jonathanolson (who figured out where this was coming from in the first place) may have had a different fix in mind.  Assigning to him to review, modify, and/or elaborate upon.

[2016-04-12 20:52] jbphet commented on #332
Issue https://github.com/phetsims/tasks/issues/546 is kind of a parent issue for this one, since it is a general issue about tracking down memory leaks.

[2016-04-12 21:45] jbphet commented on #329
I disabled caching in FontAwesomeNode by commenting out the code so that it can be easily restored if needed.  I added documentation and a TODO that should serve to remind us to remove it permanently or put it back at some point.  I tested the the portions of Energy Skate Park Basics and Reactants Products and Leftovers that dynamically create FontAwesomeNodes and noticed no significant performanc

[2016-04-13 00:08] samreid commented on #329
Sounds great @jbphet, let's close this issue.

[2016-04-13 00:09] samreid commented on #329
@jbphet my inclination is to remove the commented out code in FontAwesomeNode.js.  If we trace performance problems to FontAwesomeNode initialization in the future, we can re-evaluate or check history.  Sound OK?

[2016-04-13 16:47] jbphet commented on #329
Sounds good, I went ahead and completely removed the caching code and added a comment about why caching isn't done (with a link to this issue) so that the problem isn't accidentally reintroduced.  I'll go ahead and close this issue but @samreid can feel free to review if so inclined.

[2016-04-13 16:47] #329 closed

[2016-04-13 16:51] jbphet commented on #329
A note to anyone who looks at this in the future and is considering reintroducing caching into FontAwesomeNode: If dispose functions are added to Scenery nodes and used properly, caching of shapes will no longer cause memory leaks and the caching could be added back.

[2016-04-13 22:27] samreid commented on #323
We should switch this to use a visibleBoundsProperty in ScreenView.js

[2016-04-13 22:30] samreid commented on #323
And for clients that need "scale", it should be a Property too.

[2016-04-14 03:12] samreid commented on #323
I converted the `layoutFinished` event to a `visibleBoundsProperty`, updated Circuit Construction Kit, Bending Light and Pendulum Lab usages and tested.  Lint is passing and I don't see any problems in the sims.  For Pendulum Lab, I tested that the new layout values exactly matched the previous layout values.

I'll close this issue and create a developer meeting note about this new API.

[2016-04-14 03:12] #323 closed

[2016-04-14 16:37] samreid commented on #331
In the above commits, I added a "band-aid" that resets the top of the icons each time they layout, which fixes the problem.  We should still investigate the cause, but this band-aid should be sufficient to proceed on https://github.com/phetsims/tasks/issues/546

[2016-04-21 22:40] phet-steele opened #333 "iPad screenshot feature with no other tabs open"
Since sims are technically "bigger" running on an iPad with no tabs open (see #234), the resulting screenshot is...hard to explain, see below. Having a second tab open beforehand so the sim loads with the correct size results in a totally fine screenshot. For phetsims/tasks/issues/556.

Screenshot with no tabs open first, it appears cropped:
![20160421_163904](https://cloud.githubusercontent.com/a

[2016-05-02 19:05] pixelzoom commented on #307
In Skype, I proposed that it's time to enable namespace checking.  Discussion:

[5/2/16, 12:54:37 PM] Chris Malley: Re turning on checkNamespace... I see lots of recent code (expression-exchange-basics, CCK, making-tens,...) that is not namespaced.  Looks like developers have been generally blowing this off.  Is that what we decided to do?
[5/2/16, 12:56:03 PM] Chris Malley: I understand for old c

[2016-05-02 19:07] pixelzoom commented on #307
Assigned to @jonathanolson to review. Then I believe this can be closed.

[2016-05-02 20:26] pixelzoom commented on #307
@phet-steele FYI, here's the current state of affairs when running test-server. The majority of runnable (sims and demos) are failing with "Assertion failed: not namespaced".

![screenshot_20](https://cloud.githubusercontent.com/assets/3046552/14966772/624fc542-1071-11e6-9b5c-28f90681bba5.png)
![screenshot_21](https://cloud.githubusercontent.com/assets/3046552/14966901/e13911e2-1071-11e6-96cf-92f3

[2016-05-02 20:44] pixelzoom commented on #307
I namespaced blast, chains, griddle and graphing-quadratics.

[2016-05-02 21:03] pixelzoom commented on #307
... and ohm-law, resistance-in-a-wire.

[2016-05-02 21:14] jonathanolson commented on #307
I'll plan to tackle build-a-molecule, making-tens, pendulum-lab, wave-on-a-string.

[2016-05-02 22:57] jbphet commented on #307
Neuron, Area Builder, and Arithmetic have been namespaced.  The 3 sims that comprise the States of Matter suite have been assigned to @aadish, see https://github.com/phetsims/states-of-matter/issues/114.  I'll tackle Balancing Act and Expression Exchange tomorrow.

[2016-05-03 00:25] jessegreenberg commented on #307
I namespaced balloons-and-static-electricity, friction, estimation, and faradays-law.

[2016-05-03 13:06] samreid commented on #307
I namespaced cck in the above commit.

[2016-05-03 13:35] samreid commented on #307
I namespaced bending-light in the above commit.

[2016-05-03 15:33] samreid commented on #307
I namespaced protein-synthesis in the above commit.

[2016-05-03 15:50] samreid commented on #307
I namespaced beaker in the above commit.

[2016-05-03 16:11] samreid commented on #307
I namespaced energy-skate-park-basics in the above commit.

[2016-05-03 16:55] samreid commented on #307
I namespaced fluid-pressure-and-flow in the above commit.

[2016-05-03 17:09] samreid commented on #307
I namespaced seasons in the above commit.

[2016-05-03 17:14] samreid commented on #307
Here's the new list of what's left (17 to go):

![image](https://cloud.githubusercontent.com/assets/679486/14991738/0fc74250-1120-11e6-8296-de9b9571a94b.png)
![image](https://cloud.githubusercontent.com/assets/679486/14991743/18025ad6-1120-11e6-8f3c-8e95901a26ed.png)
![image](https://cloud.githubusercontent.com/assets/679486/14991752/1f560efe-1120-11e6-9b1f-831ddd4d255a.png)

[2016-05-03 17:22] jessegreenberg commented on #307
I am going to work on gravity-and-orbits and john-travoltage next.

[2016-05-03 17:32] aadish commented on #307
namespaced build an atom in above commit

[2016-05-03 18:40] jbphet commented on #307
Balancing Act and Expression Exchange are now namespaced.

[2016-05-03 18:45] aadish commented on #307
States of Matter, Atomic Interactions and States of Matter Basics are namespaced

[2016-05-03 21:42] jessegreenberg commented on #307
john-travoltage and gravity-and-orbits have been namespaced.

[2016-05-10 19:12] phet-steele commented on #307
Hey all, still left:

- [ ] balancing-act
- [ ] build-a-molecule
- [ ] build-an-atom
- [ ] calculus-grapher
- [ ] curve-fitting
- [ ] fraction-comparison
- [ ] fraction-matcher
- [ ] making-tens
- [ ] pendulum-lab
- [ ] plinko-probability
- [ ] projectile-motion

[2016-05-10 19:48] aadish commented on #307
my bad pushed the commit for build and atom on wrong branch

[2016-05-10 21:53] pixelzoom opened #334 "make home screen handle > 4 screens"
The home screen currently seems to have a limit of 4 screens.  When a 5th screen is added, layout is tight, see screenshot below from function-builder.  Since "Faraday's Electromagnetic Lab" has 5 screens and is likely to be ported in the not-too-distant future, this needs to be addressed.

![screenshot_26](https://cloud.githubusercontent.com/assets/3046552/15163658/fc026eaa-16c6-11e6-9f16-e6b54af

[2016-05-10 21:54] pixelzoom commented on #334
Navigation bar looks fine with 5 screens:

![screenshot_27](https://cloud.githubusercontent.com/assets/3046552/15163739/87b78d90-16c7-11e6-8cc4-a7137217cfa7.png)

[2016-05-11 16:06] jbphet commented on #307
Should now be fixed for Balancing Act.  I had done the same thing as @aadish, i.e. I committed the changes on a branch instead of on master.

[2016-05-11 16:08] jbphet commented on #307
Marking for developer meeting so that we can discuss and assign individuals to finish the remaining sims.

[2016-05-11 16:50] jbphet commented on #307
I went ahead and did projectile-motion, since I set it up initially and there isn't much to it yet.

[2016-05-12 18:08] samreid commented on #334
At today's meeting @samreid volunteered to work on this.

[2016-05-12 18:09] samreid commented on #334
Fixed above, @pixelzoom can you please review?

[2016-05-12 18:36] pixelzoom commented on #307
I took care of all remaining sims, with one exception.  build-a-molecule has its own non-standard namespace, and will need to be converted by @jonathanolson (tracking in https://github.com/phetsims/build-a-molecule/issues/78).

[2016-05-12 18:43] pixelzoom commented on #307
@phet-steele Please kick off an automated test. Verify that the only runnable that fails with "Assertion failed: not namespaced" is build-a-molecule. If verified, close this issue.  Otherwise note runnable that still need attention. Thanks.

[2016-05-12 18:54] pixelzoom commented on #334
👍 Closing.

[2016-05-12 18:54] #334 closed

[2016-05-12 19:04] phet-steele commented on #307
build-a-molecule is all that's left! Congrats! :tada: :cake: :+1: :smile:

[2016-05-12 19:04] #307 closed

[2016-05-12 19:17] pixelzoom commented on #307
Excellent, thanks.

[2016-05-17 05:13] samreid opened #335 "branch: phet-io-require-2"
See https://github.com/phetsims/phet-io/issues/439

[2016-05-27 16:46] samreid commented on #335
Merged to master, branch deleted, closing.

[2016-05-27 16:46] #335 closed

[2016-06-03 17:06] samreid commented on #242
Dialog and barrier stack seem sufficiently instrumented for now.

[2016-06-03 17:06] #242 closed

[2016-06-07 22:21] samreid opened #336 "Requirejs mode not running on IE11."
[6/7/16, 3:53:16 PM] Sam Reid: Sims don’t load on IE11 in requirejs (not-built) mode?
[6/7/16, 3:54:01 PM] Chris Malley: i haven't looked at IE in awhile. error message?
[6/7/16, 3:55:54 PM] Sam Reid: hangs on splash screen for 3+ minutes and counting
[6/7/16, 3:56:10 PM] Chris Malley: nothing in console?
[6/7/16, 3:56:16 PM] Jesse Greenberg: Was running OK for me this morning, just pulled joist a

[2016-06-09 19:27] samreid opened #337 "JPEG support in screenshots"
To support BrainPOP and SnapThought in https://github.com/phetsims/phet-io/issues/465 we would like to support jpeg.

[2016-06-09 19:29] samreid commented on #337
I added support above, we may need this SHA for cherry picking maintenance deploys.

[2016-06-14 15:28] phet-steele commented on #234
Still happens, this bug was never reported to Apple/StackOverflow. Does someone want to take a crack at it? Preferably not me, but someone more versed in the going-ons with this issue.

[2016-06-14 15:49] ariel-phet commented on #234
@samreid since you are often heavily involved with Joist, is this something you could report to apple? Or give @phet-steele some specific guidance?

[2016-06-15 03:50] samreid commented on #234
Since this issue is specific to iOS, let's test it on mobile safari on iOS 10 Beta which became available this week.  If it is still a problem, then we can work on scheduling creation of a minimal reproducible example that can be used on StackOverflow or as a bug report to Apple.  I'd be happy to help with that but would need to schedule it appropriately.

[2016-06-15 17:17] #337 closed

[2016-06-23 21:42] pixelzoom opened #338 "add profiling support to Screen"
In https://github.com/phetsims/function-builder/issues/37, I found it useful to profile the initialization time required for the model and view of each Screen.  I temporarily added code to `Screen.initializeModelAndView` to do this, and I had to add it temporarily multiple times.

Would it be useful to add this functionality to Screen, hidden behind a query parameter? Something like this (tested):

[2016-06-23 21:45] pixelzoom commented on #338
Sample output from function-builder:

[code]

It would also be nice to have totals, but those could be computed manually.

[2016-06-24 18:18] samreid commented on #338
Maybe make it a bit more readable by implementing like so:

[code]

[2016-06-30 18:32] pixelzoom commented on #338
6/30/16 dev meeting: Consensus is that this would be useful. I'll add it at some point, taking @samreid's comments into consideration.

[2016-07-01 14:17] pixelzoom commented on #338
This is unlikely to get done before September. If anyone needs it sooner, let me know.

[2016-07-01 17:57] jbphet commented on #325
This was discussed in the 6/30/2016 status meeting since I have a need for some logging in Expression Exchange.  I had looked at what was done in Function Builder and did something similar, but added added a no-op function if logging was not enabled so that the pattern

```   expressionExchange.log && expressionExchange.log( 'message' )```

could be reduced to simply

```   expressionExchange.log(

[2016-07-02 02:02] ariel-phet commented on #68
A suggestion floated to me (which I am curious about) is that we could do asynchronous loading and actually ship 2 files when you click the "play" simulation button.

My housemate brought up an interesting point -- the single html file for download does not really need a loading screen (in fact you do not really even see it even on a sim like function builder) since once you have it downloaded you

[2016-07-02 15:54] samreid commented on #68
On iPad3, it takes about 11,000 milliseconds for Function Builder to launch **after** the full HTML file has been downloaded.  On Firefox on my MacBook Air, it is taking about 5,000 ms after the full HTML file has been downloaded.

Showing a loading animation during code downloading would be helpful for situations that take a long time to download the HTML, which may include: people using a poor L

[2016-07-07 17:44] pixelzoom opened #339 "provide a default screen icon"
7/7/16 dev meeting:

Provide a default screen icon in joist, so we don't have to create an placeholder icon for screens while we're waiting for the icons to be designed.  A rectangle with a solid color would be fine.

[2016-07-07 17:59] ariel-phet commented on #68
@jbphet and @schmitzware are curious to explore this.

Current thought, a animation while HTML is downloading and progress bar as joist initiates screens (perhaps granularity of model and view)

[2016-07-07 18:08] pixelzoom commented on #339
The most robust way to do this probably to replace the `homeScreenIcon` parameter to Screen's constructor with `options.homeScreenIcon`, similar to the existing `options.navigationBarIcon`.  But that would require changing a *lot* of usages of Screen.

The easiest approach might be to make no changes to Screen. Instead, check  `screen.homeScreenIcon` in HomeScreenView. If its not  defined, create

[2016-07-07 19:05] samreid commented on #68
Instead of a 2-file solution, I'm wondering if we can put code in the `<head>` or somewhere so it will run ASAP while the file is still downloading.  Then maybe we can show an animation while the file is still loading but still only deliver a single file (and hence minimize changes to our build/deploy/delivery process).

[2016-07-07 19:08] samreid commented on #68
According to http://stackoverflow.com/questions/8249013/why-put-javascript-in-head,

So this may be a suitable place for us to put loading code.

[2016-07-07 19:26] samreid commented on #68
I was curious about the idea of doing this with a single script, but putting the loading script near the top of the file.  So I added this code as the first script in the body:

[code]

and throttled my connection to simulate 4G, and it looked like this:

![loadingscreen](https://cloud.githubusercontent.com/assets/679486/16666750/43675006-4446-11e6-8bfb-f92da021e713.gif)

You can see the Loading..

[2016-07-07 19:27] samreid commented on #68
I should also mention, that for this part of the animation, the sky is the limit for what we display.  It could be the airplane animating around, for example.

[2016-07-13 20:27] pixelzoom commented on #338
How about something like this...

Add a query parameter to enable this profiling:

```http://localhost/.../function-builder/function-builder_en.html?profileScreens```

Sets a global that can be inspected in the console:

[code]

Also adds a menu item to the PhET menu that opens a dialog, whose content looks something like this:

[code]

If we wanted to make the dialog prettier, the above info coul

[2016-07-13 23:46] samreid commented on #338
I am wondering if it should automatically show the dialog, to streamline the development process for improving startup times.

[2016-07-14 02:56] samreid commented on #68
I'm also interested in investigating this.

[2016-07-14 03:29] samreid commented on #68
To understand the issue for showing progress bars while the simulation is loading, I rewrote this code:

[code]

as

[code]

To accomplish this, I also had to move out the last half of the constructor to a new function like so:

[code]

This also meant that sims mains cannot call sim.start() immediately after the constructor finishes, hence I created a "initialized" callback that can be used like

[2016-07-15 18:54] brroberts1231 commented on #234
Tested on iOS 10.0, Safari 602.1, and confirmed that it is still a problem. Similar to what @arnabp said:

I found that if you open up a new tab without going anywhere (having it stay on the 'favorites' tab) then return back to the sim, the sim will resize. But instead if you open a new tab then go to any webpage, then return to the sim, it won't resize and the cutoff will occur.

[2016-07-18 14:56] samreid opened #340 "branch: phet-io-types"
See https://github.com/phetsims/phet-io/issues/489

I emailed the developer list:

PhET Developers,

I'm about to create branches in 6 repos to support the work-in-progress for moving phet-io types to simulations as part of https://github.com/phetsims/phet-io/issues/489

This approach seems feasible, so please keep in mind that changes to these repos will eventually need to merge.

Currently the r

[2016-07-21 20:47] samreid commented on #340
Merged to master and deleted branch, see https://github.com/phetsims/phet-io/issues/498

Closing.

[2016-07-21 20:47] #340 closed

[2016-07-27 21:37] pixelzoom opened #341 "Dialog needs options for close button pointerAreas"
There's currently no way to adjust the pointerAreas for the optional close button.

[2016-07-27 21:38] pixelzoom commented on #341
Following the convention used elsewhere, the options would be:

[code]

[2016-07-27 21:39] pixelzoom commented on #341
Not a high priority, since clicking anywhere outside a model Dialog also closes it.

[2016-08-04 17:18] pixelzoom opened #342 "provide support for "Projector Mode""
Discussed at 8/4/16 dev meeting...

Some sims have a "Projector Mode" option that is accessible via the PhET menu (Options submenu). Support for this (including a Property and query parameter) is currently duplicated in sim-specific code.  Investigate providing support for this in joist.

Before work on this is done, general handling of colors schemes in joist should be cleaned up, see #222.

[2016-08-05 22:39] samreid opened #343 "fuzzRate=1 seems to send much much less than 1 event per frame"
From a phet-io transcript with event recording and fuzzMouse=1

[code]

[2016-08-12 16:47] samreid commented on #336
I'm not planning to work on this now.  It would be much more important if we actively developed on IE.

[2016-08-17 03:07] samreid opened #344 "Update Sim components that use Sim.tandem"
In https://github.com/phetsims/phet-io/issues/549 Sim.tandem became Tandem.createRootTandem() instead of optional.  Where the tandem is passed to other instances such as the home screen or navbar, it could also be done as a required argument to simplify things.

[2016-08-18 02:35] samreid commented on #344
I'm seeing many places in Joist where tandem is passed as an option where it can be converted to a required parameter.

[2016-08-22 17:16] pixelzoom commented on #339
I'm working on another multi-screen sim, and having to create placeholder icons again.  Would be nice to have this feature.

[2016-08-22 21:16] samreid commented on #234
I noticed this problem again today during testing https://github.com/phetsims/bending-light/issues/351

[2016-08-25 23:23] pixelzoom opened #345 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this runnable relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:33] pixelzoom commented on #345
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:33] #345 closed

[2016-08-29 03:02] samreid commented on #344
I completed this in the above commits.  Got stuck at a point where screen.tandem may be null, but this may change in https://github.com/phetsims/phet-io/issues/562.  Putting on hold and reducing priority until that issue is addressed.

[2016-08-30 22:58] pixelzoom opened #346 "buggy placement of Dialog close button"
Example in plinko-probability:

[code]

Results in:

![screenshot_111](https://cloud.githubusercontent.com/assets/3046552/18110009/676c3abe-6ed2-11e6-969a-6d8f9a6c38c0.png)

Looks like the problem is here in Dialog:

[code]

I don't believe that the placement of the close button should have anything to do with the `dialogContent`. The close button should always be inside the dialog. And it should

[2016-08-30 23:00] pixelzoom commented on #346
Noted while working on https://github.com/phetsims/plinko-probability/issues/72.

[2016-08-30 23:08] pixelzoom commented on #346
This problem seems to occur whenever you try to use the `xMargin` and `yMargin` options. I've worked around it in plinks-probability by avoiding those options, and wrapping my dialog in a sun.Panel with the desired margins.

[2016-08-31 17:21] pixelzoom commented on #338
Unassigning this, since it's unlikely to be on my radar for a long time.

[2016-09-01 17:17] pixelzoom opened #347 "parseInt missing radix argument"
`Sim` contains 1 call to `parseInt` with no radix argument.

[Documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseInt) for `parseInt` says:

[2016-09-01 17:27] pixelzoom commented on #347
No problem here, I mis-parsed the line of code. Closing.

[2016-09-01 17:27] #347 closed

[2016-09-07 05:22] samreid commented on #68
I'd like to help out on this issue when I have time.

[2016-09-07 05:25] samreid commented on #330
What is Chrome DevTools lacking?

[2016-09-07 06:59] samreid commented on #68
I'm going to split this into 2 separate issues: showing animation while files are downloading and showing js execution progress.

[2016-09-07 07:01] samreid opened #348 "Show progress indicator while JS loading"
From #68 we would like to show progress of the JS loading.  For this part, we will get discrete steps, roughly N+M, where N is the number of screens and M is the number of other non-screen steps.

[2016-09-07 07:04] samreid opened #349 "Show animation while HTML is downloading"
As described in #68, we can show smooth animation while the HTML is downloading by putting the loading animation code near the top of the HTML, see https://github.com/phetsims/joist/issues/68#issuecomment-231181814 for sample code + prototype.

While the HTML is downloading, we are not constrained to a small number of steps as we are for showing loading progress during JS execution as in #348.

We

[2016-09-07 07:05] samreid commented on #68
Let's proceed in the two issues mentioned above.

[2016-09-07 07:05] #68 closed

[2016-09-07 07:08] samreid commented on #348
I demonstrated a prototype of this in #68 and am interested in taking next steps toward production.  This will require the following steps:

1. Check in proposed changes to a branch
2. Code review from another developer, possibly @schmitzware @jbphet or @pixelzoom.  Perhaps @mattpen could review the HTML part.
3. Functional testing from QA team to make sure the requirejs and built versions launch

[2016-09-07 07:09] samreid opened #350 "branch: progress-indicator"
To support #348

[2016-09-07 07:15] samreid commented on #348
OK, with the 2 commits above (in progress-indicator branches for chipper + joist), builds will include a loading progress indicator.  To show the loading progress indicator for requirejs mode, you will need to include the svg code from chipper/templates/sim.html into the sim.

[code]

I'll add a todo to the above steps to update the `generate-development-html` template with this as well.

[2016-09-07 07:20] samreid commented on #348
I'm happy with the progress in the branches and the code is ready for review.  @ariel-phet can you please review the steps in https://github.com/phetsims/joist/issues/348#issuecomment-245194269 to see what work remains, who will need to be involved--and let us know your recommendations for scheduling next steps?

[2016-09-07 07:22] samreid commented on #348
Specific review questions (in addition to general review):
1. Is there a better way to position the progress bar?
2. Should the progress bar styling be provided through CSS classes, or inline `style=...`
3. Should we try to add a `workItem` (see Sim.js) for any work that happens before SimLauncher is called?

[2016-09-07 07:40] samreid commented on #349
If we want to animate the dots in "Loading..." we will likely need to move the word "loading" out of the splash svg and just include text as a normal span.  @ariel-phet it seems the proposed strategy in https://github.com/phetsims/joist/issues/68#issuecomment-231181814 will work and give us the flexibility to show smooth animation while the HTML continues downloading.

Hence, the next step is for

[2016-09-07 18:21] ariel-phet commented on #349
@samreid since the word "Loading" is not translatable, I would opt to remove the text and just have a simple progress bar. I think what you have done for a progress bar is pretty good already and we might pixel polish a little, but I am leaning much more towards simple and clear than fancy.

[2016-09-07 18:22] ariel-phet commented on #349
@samreid can the JS and HTML downloading in essence be weaved into a single animation (like a simple progress bar)

Perhaps the first half of the bar is loading HTML, and then the second half is the JS, or such.

[2016-09-07 18:24] ariel-phet commented on #348
@samreid I suggest doing a simple version (ideally without the word loading and only your progress bar) and showing at status meeting to get some quick designer feedback. I think we want to keep this animation simple and clear, nothing fancy.

[2016-09-07 18:24] ariel-phet commented on #348
Also marking for dev meeting so we can discuss a bit more (and decide on review and such).

[2016-09-08 01:37] samreid commented on #349
I'm not aware of any way to judge the progress of the HTML file download.  @mattpen or @jonathanolson may know of something.  If that is not possible, then the "downloading" phase would have to be an indeterminate animation (i.e. an animation that continues and has no start/end).  I can think of a few ways to combine this with the js loading progress bar, but I'm not too excited about any of them.

[2016-09-08 01:40] samreid commented on #349
Idea: perhaps we can query document or document.body or look for the scripts to see how many or how long they are?  I'm not sure if they are all or none, though.

[2016-09-08 01:58] ariel-phet commented on #349
Ah... @samreid, so I understand clearly, the progress bar currently is just the JS loading phase? You are thinking of sort of a "warm up" animation before that? Perhaps just a strobing glow effect on the progress bar until the JS starts?

[2016-09-08 02:02] samreid commented on #349
Yes, precisely.  Issue #348 is about indicating progress changes in steps every time a screen is loaded.

I'll investigate ideas like https://github.com/phetsims/joist/issues/349#issuecomment-245470323 to see if we can get a deterministic progress on the HTML download, but I think there is only a 20% chance or so that we can get something like that working.  If we can't get it working, then we'll

[2016-09-08 02:14] ariel-phet commented on #349
@samreid I think not a major need for the deterministic part. Mainly we just want to give the user some active feedback. so I think you could hop right into the glow...sort "I am getting ready to start" and then have the progress bar go.

Especially for users who have a slow connection, once they see this a few times I think it will give that comforting "hey something is happening" feeling.

[2016-09-08 16:01] pixelzoom opened #351 "Screen name should be optional"
Related to https://github.com/phetsims/joist/issues/339...

`Screen` constructor currently has a `name` parameter, which is the name of the screen that is displayed to the user.  For single-screen sims, this is never displayed.  And what single-screen sims appear to be doing is using the sim name for the screen name. (See for example (e.g. john-travoltage-main.js.)

TODO:
- [ ] Move `name` to `opt

[2016-09-08 16:02] pixelzoom commented on #351
Since this and #339 both involve changing the signature of `Screen` constructor, it would be most efficient to do them at the same time.

[2016-09-08 16:03] pixelzoom commented on #339
Since this and #351 both involve changing the signature of `Screen` constructor, it would be most efficient to do them at the same time.

[2016-09-08 16:03] pixelzoom commented on #339
Reassigning to me, since I'm doing #351, and I'd like to not have to create placeholders again.

[2016-09-08 16:06] pixelzoom commented on #351
`screen.name` is used in these joist files:

HomeScreenView
NavigationBarScreenButton

[2016-09-08 17:30] pixelzoom opened #352 "should screen icons be validated by Screen?"
Related to #339...

Icons for home screen and (optional) navigation bar are provided to the `Screen` constructor.  But they are currently not validated by Screen.  Navigation bar icon is validated in `NavigationBar`.  Home screen icon isn't validated at all - it's possible to use an icon with completely bogus size and aspect ratio.

Questions:
• Should validation of both icons be done by `Screen`?

[2016-09-08 17:38] pixelzoom commented on #351
@samreid We'll have to address this bit of code, which assumes that the home screen is the only screen with `name === null`:

[code]

[2016-09-08 17:51] pixelzoom opened #353 "fix tandem handling in Screen and HomeScreen"
Prerequisite to addressing #339 and #351.

Tandem handling looks suspect in Screen and HomeScreen.  Work with @samreid to fix this.

[2016-09-08 19:04] pixelzoom commented on #352
Consensus: Validate in Screen.

[2016-09-08 19:33] samreid commented on #348
@jbphet volunteered to review the changes to Sim.js

[2016-09-08 19:55] pixelzoom commented on #353
@samreid and I worked on this together. Verified with instance-proxies wrapper. Closing.

[2016-09-08 21:39] pixelzoom commented on #352
Skype discussion:

[9/8/16, 3:29:17 PM] Sam Reid: How big are the discrepancies?  How difficult would it be to get all of the icons to be the same size?
[9/8/16, 3:29:37 PM] Sam Reid: (all home screen icons same size as each other, all navbar icons same size as each other).
[9/8/16, 3:30:24 PM] Chris Malley: Some are ridiculously off. seasons (for example) has home screen icon 21.1279296875x12
[9/

[2016-09-08 21:49] samreid opened #354 "Loading bar improvements"
The loading bar should be white and match the width of the PhET logo.  For single screen sims, it may need to start partway completed (10%?)

[2016-09-08 22:10] pixelzoom commented on #352
Work completed, summary:

• Validation of the home screen icon has been added to Screen.
• Validation of the navigation bar icon has been relocated from NavigationBar to Screen.
• Fixed assertion failures in sims, and created issues for the 2 that I couldn't easily fix (issues immediately above.)

@samreid would you mind reviewing, since our discussion makes you most familiar with this.

[2016-09-09 05:41] pixelzoom commented on #339
Done. The first 2 commits above are the joist changes. The others are client changes.

@jbphet since this work was originally assigned to you, would you mind reviewing? High priority since this touched every sim.

[2016-09-09 05:43] pixelzoom commented on #351
This was done at the same time as https://github.com/phetsims/joist/issues/339.  @jbphet since that issue is assigned to you for verification, please do this one at the same time.

[2016-09-09 05:50] pixelzoom commented on #353
Reopening. Something still doesn't look right here. `HomeScreen` is passing all of its options to `HomeScreenView`, including a tandem - which seems wrong.  @samreid can you take a look?

[2016-09-09 05:55] pixelzoom commented on #353
Here's where HomeScreen is instantiated in Sim:

[code]

Unfortunately, both of these options are intended to be passed on to HomeScreenView.  Can we just cherry pick these options and pass them like this in HomeScreen?

[code]

[2016-09-09 15:58] samreid commented on #353
Fixed as @pixelzoom suggested (but note different order for `pick` args), @pixelzoom would you like to review?

[2016-09-09 17:34] pixelzoom commented on #353
Looks good. (Sorry about the order of `pick` args, I was going from memory.)

Closing.

[2016-09-09 17:34] #353 closed

[2016-09-10 04:24] samreid commented on #348
I will hold off work until @jbphet completes his review and/or we get the branch back to master.

[2016-09-10 04:36] samreid commented on #349
I'd like to wait until @jbphet has reviewed #348 and we have changes merged to master before continuing here.

[2016-09-10 04:37] samreid commented on #350
On hold while @jbphet reviews #348

[2016-09-10 04:57] samreid commented on #354
On hold until we are back to master after #348

[2016-09-12 15:53] samreid commented on #352
This is looking good, in the above commit I also separated asserts and added docs to make it more readable.  I also recommend to (1) remove this logic, since it seems like an unnecessary complication:

[code]

And I recommend to (2) factor out the size validation code, I'll do these steps in a few moments.

One other review comment, here is code from NavigationBarScreenButton

[code]

Here is code

[2016-09-12 15:56] samreid commented on #352
Also, I'm seeing:

[code]

If this is truly a minimum size, perhaps we should rename the var to indicate as such.

[2016-09-12 16:03] samreid commented on #352
The above commits (1) remove logic for whether to validate the navigation bar screen icon and (2) factor out the validation code.  @pixelzoom back to you.

[2016-09-12 19:12] jbphet commented on #348
I've reviewed the changes to Sim.js, and they look good for the most part.  Here are some minor suggestions:

[ ] document where the value for PROGRESS_BAR_INDICATOR comes from (e.g. // intended to be slightly larger than logo)
[ ] suggest naming runItem to runWorkItem or doWorkItem

I'd also like to test this a bit in some different situations before "signing off" on it, but was unable to run sim

[2016-09-13 03:01] samreid commented on #348
I added the progress bar to chipper's branch and merged changes into joist's branch and everything appears to be working.  To test:

1. check out chipper and joist branches
2. cd to a sim
3. grunt generate-development-html
4. launch sim as requirejs
5. grunt
6. launch sim in built mode

I couldn't agree more, let's make sure this strategy is viable, then get it back to master soon-ish so we can co

[2016-09-13 20:58] jbphet commented on #348
I've tested this on the branches with a 4-, 2-, and 1-screen sim, and it pretty much worked in all cases.  The one thing that I noticed that was a little odd was that sometimes the progress bar did not fill in all the way before the home screen appeared.  Perhaps not a huge deal, but it would be nicer if it was consistent.  This happened a lot on the single screen sim (Charges and Fields), a littl

[2016-09-13 21:36] pixelzoom commented on #352
Changes look good.

About the naming issue in https://github.com/phetsims/joist/issues/352#issuecomment-246395172...
If we want to rename, we should do so for both HOME_SCREEN_ICON_SIZE (56 occurrences) and NAVBAR_ICON_SIZE (11 occurrences). How about HOME_SCREEN_ICON_MINIMUM_SIZE and NAVBAR_ICON_MINIMUM_SIZE, respectively?

[2016-09-13 22:13] jessegreenberg commented on #348
@samreid would you mind if we added some accessibility markup to the progress bar?  I have never tested before, but a ```<progress>``` html element exists, and there is also an aria role for ```progressbar```.  I have never tried either, but they should add information for the screen reader.  I will quickly try them out.

[2016-09-13 22:46] samreid commented on #348
I have some reservations/questions but am not opposed to investigation.  I'll jot down my thoughts here so I don't forget:

1. Is the loading bar a visual enhancement or meant to convey meaningful semantic information?
2. When running a sim with assistive technology, should the first thing the user hears be "loading progress 15% 30% 60%" or a few seconds of silence followed by the sim title and de

[2016-09-13 23:18] jessegreenberg commented on #348
In response to the above:
 1. Only meant to provide semantic information.
 2. The first thing the AT reads is always the page title, which is "Loading simulation-name-here" at the moment.  I'm not sure if we can even get around this. It could continue to read the loading bar status.
 3. Yes, i quickly ran into that, good point.

Here is what I found from testing:
- Testing ```<progress>``` element

[2016-09-13 23:29] jessegreenberg opened #355 "Make home screen accessible"
The home screen should be accessible.  This hasn't been an issue yet since most accessibility prototypes have been a single screen.  Among other things, we will need to decide
- [x] What does the screen reader say on loading into the home screen(see accessibility comments in https://github.com/phetsims/joist/issues/348#issuecomment-246856548)
- [x] What is the keyboard interaction for screen butto

[2016-09-14 00:06] jessegreenberg commented on #348
A maintenance version of forces-and-motion-basics will soon be ready for RC testing.  If the progress bar is ready for testing, it could be tested along with that RC.

[2016-09-19 12:35] samreid commented on #352
How about:

[code]

[2016-09-19 15:09] pixelzoom commented on #352
@samreid I made the change as you suggested in https://github.com/phetsims/joist/issues/352#issuecomment-247981061, but...

I had suggested HOME_SCREEN_ICON_MINIMUM_SIZE because (awhile back) we agreed to standardized var and option names like `xMin`, `yMinSize`, etc. versus `minX`, `minYSize`.  And the other constants in Screen are (e.g.) `HOME_SCREEN_ICON_ASPECT_RATIO`, and `HOME_SCREEN_ICON_MIN

[2016-09-19 15:13] samreid commented on #352
I am fine to use `HOME_SCREEN_ICON_ASPECT_RATIO` etc.  Also, I did not know that our decision to standardize var names like `xMin` etc extended outside of scenery options.

[2016-09-19 15:24] pixelzoom commented on #352
Sorry, I was wrong about this: https://github.com/phetsims/joist/issues/352#issuecomment-248021016.  Looking at sun, scenery-phet, etc. our decision was apparently to standardize on (e.g.) `minX`, `minXSize`, `minXPadding`.   So the new constant names are fine.

Closing.  If I missed anything, feel free to reopen.

[2016-09-19 15:24] #352 closed

[2016-09-19 21:32] pixelzoom opened #356 "Screenshot feature captures things that aren't displayed"
This was discovered by @phet-steele while testing Plinko Probability (https://github.com/phetsims/tasks/issues/702).  I've reproduced it on Mac+Chrome, Mac+FF, Mac+Safari.  I have not investigated other platforms.

The Screenshot feature does not appear to respect the bounds of CanvasNode, and what appears in the screenshot may be different from what is rendered on the screen.

Steps to reproduce:

[2016-09-19 21:39] pixelzoom commented on #356
In the above example, the balls are rendered using BallsNode, a subtype of CanvasNode.

[2016-09-20 16:42] samreid commented on #356
I saw something like this in a common library test homescreen.

[2016-09-20 16:53] pixelzoom commented on #356
Do you mean something like sun or scenery demo application?

[2016-09-20 16:54] samreid commented on #356
Yes, I didn't catch exactly which it was but saw something odd in the aqua screenshots.  I'll add myself to assignments to see if it is replicable and which it was.

[2016-09-20 20:26] ariel-phet commented on #356
@samreid is the screenshot implementation something you are reasonably familiar with?

[2016-09-20 20:28] ariel-phet commented on #356
Putting at medium priority for the moment

[2016-09-20 21:00] samreid commented on #356
Negative.

[2016-09-20 21:49] pixelzoom opened #357 "memory leaks in Dialog"
Multiple leaks in joist.Dialog:

[code]

Dialog doesn't own any of these things that it's adding listeners to; `content` is a constructor argument, and `titleNode` is an alias for `options.title`. Dialog also has no `dispose` function to remove the listeners, so it would technically fail a code review.

Assigning to @ariel-phet to prioritize and assign.

[2016-09-20 22:18] ariel-phet commented on #357
@samreid and @pixelzoom please discuss and collaborate on improving dialog. We are adding dialogs in several sims with increased functionality so now would be a good time to improve the implementation.

How about come up with a plan and lets discuss a developer meeting, and we can prioritize further there.

[2016-09-20 22:20] samreid commented on #357
Also `addEventsListener` is deprecated.

[2016-09-20 22:37] ariel-phet commented on #356
@jonathanolson please give your thoughts

[2016-09-20 22:48] pixelzoom opened #358 "Dialog fails with default options"
The default for `Dialog` is currently `modal:false`, which results in:

assert.js:23 Uncaught Error: Assertion failed: Non-modal dialogs not currently supportedwindow.assertions.assertFunction @ assert.js:23Dialog @ Dialog.js?bust=1474411421395:64

If non-modal dialogs aren't supported, then why is that the default?

[2016-09-20 22:54] jonathanolson commented on #356
I'll improve CanvasNode documentation to make this clear, but CanvasNode implementations (subtypes) should fulfill the contract:

- CanvasNode subtypes' paintCanvas should NEVER draw anything outside of the current canvasBounds.

The canvasBounds are used to determine what area of the screen the actual Canvas needs to cover, and what area needs to be cleared and repainted if (in the future again)

[2016-09-20 23:02] ariel-phet commented on #356
@pixelzoom see comment above, sounds like this might be a sim specific issue (not general to screenshot), although documentation needs to be improved.

[2016-09-20 23:05] pixelzoom commented on #356
As noted in https://github.com/phetsims/joist/issues/356#issue-177903981:

So I am unconcerned in the case of this specific sim; in practice, it will never draw outside the canvasBounds.

What I am interested in is:
(1) Why does it show up in the screenshot?
(2) Is there anything we can do to detect when we're drawing outside the canvasBounds, or do we need to rely on testing to catch this.

Back

[2016-09-20 23:07] pixelzoom commented on #356
@ariel-phet said:

It is most definitely not specific to this sim.  And in practice, it's not even relevant to this sim, since the sim will not draw outside the canvasBounds unless `maxIntroBalls` (a testing query parameter) is set to a huge value.

[2016-09-20 23:15] jonathanolson commented on #356
The screenshot drawing method draws to a single Canvas that is then turned into a data URL. The Canvas takes up the full display size, so the CanvasNode doesn't get clipped. Because the CanvasNode's canvasBounds are small, while actually running the sim, the Canvas block is fitted around the CanvasNode's bounds, and so anything outside is clipped.

Scenery can't do cheap detection (we COULD design

[2016-09-20 23:21] pixelzoom commented on #356
This is not a query parameter that is relevant to phet-io.  And if that many balls did stack up, the least of our worries would be the clipping at the top edge of the canvas.

[2016-09-21 01:14] samreid commented on #348
There is a bit of a maintainability issue that start() adds a workItem.  We should try to create all work items up front (or at least know how many there are) so we can properly advance the progress bar.  Part of the hassle is that new Sim() and sim.start() are separate--we may benefit from joining them.

[2016-09-21 01:28] samreid commented on #348
Perhaps saving the work items until start is called would be best.  I'll investigate that next.

[2016-09-21 02:48] samreid commented on #348
In the above commits, I did the following:
* separated model and view into separate steps
* pause slightly between steps, and after all steps complete
* simplifications
* Util.linear for mapping progress

@jbphet can you please review the new proposal, and test on a few sims?

[2016-09-21 22:17] pixelzoom commented on #357
@samreid and I discussed the general status of Dialog today via Skype. But we have no plan yet for how to move forward.  The first order of business would likely be to triage related issues, evaluate the current implementation, then decide whether to revised the currently implementation or start over.

[2016-09-21 22:19] pixelzoom commented on #357
And we should probably create a new issue titled something like "improve Dialog", since this issue is not appropriate for the task that @ariel-phet specified in https://github.com/phetsims/joist/issues/357#issuecomment-248452092.

[2016-09-22 19:27] pixelzoom commented on #357
9/22/16 dev meeting: I'll create an "improve Dialog" issue, link to related issues, look for design meeting plans, etc.

[2016-09-26 16:23] pixelzoom opened #359 "improve Dialog"
In https://github.com/phetsims/joist/issues/357#issuecomment-248452092, @ariel-phet said:

In https://github.com/phetsims/joist/issues/357#issuecomment-248759332, I said:

[2016-09-26 16:29] pixelzoom commented on #359
Open issues related to Dialog and its subtypes:

https://github.com/phetsims/joist/issues/71 About dialog refinements
https://github.com/phetsims/joist/issues/289 SettingsDialog should extend Dialog
https://github.com/phetsims/joist/issues/291 look of close button for Dialogs
https://github.com/phetsims/joist/issues/292 non-modal dialog must have close button
https://github.com/phetsims/joist/issu

[2016-09-26 16:33] pixelzoom commented on #359
Design decisions that need to be made before proceeding:

User interface:
• What is the desired look for dialogs and their subcomponents?
• What options should dialogs have and what are the defaults? (close button, title bar, modality,...)

Software design:
• Should dialogs and other popups (menus, check box lists,...) share a common framework?

@ariel-phet Please assign someone to be responsible

[2016-09-26 16:39] samreid commented on #349
Now I realize why @ariel-phet's colleague suggested the 2-file approach, we could load the sim HTML over XHR and monitor the download progress.

[2016-09-26 17:58] pixelzoom commented on #357
Unassigning, now tracking in the more general issue https://github.com/phetsims/joist/issues/359 ("improve Dialog").

[2016-09-27 20:17] samreid commented on #359
@ariel-phet said:

If you could elaborate on the increased functionality, it will increase the probability we can implement something that will address the proposed use cases.

[2016-09-27 20:33] samreid commented on #359
In the issue linked above, I asked @ariel-phet to help me prioritize/schedule Dialog work relative to my other work.

[2016-09-28 05:40] samreid commented on #359
In the above issue, @ariel-phet and I decided:

I'll unassign from myself and put on the calendar for Oct 10 to see if it is ready for my attention.

[2016-09-28 14:57] ariel-phet commented on #234
Reread through this issue,

@phet-steele take note for QA: Since this really appears to be a browser bug, (for which we have no easy workaround) and it requires switching tabs away from the sim and back to the sim, I think we are just not going to worry about it.

Making a minimal reproducible case is not exactly trivial.

@aadish do you feel like trying to make a minimal reproducible case here? I

[2016-09-28 17:05] ariel-phet commented on #359
Design document started:
https://docs.google.com/document/d/12UkhG7lU-dLBCa-A8FcamkrPBLQxr6ft33Igbw6a5U8/edit#

[2016-09-29 03:35] samreid commented on #349
Unassigning until November based on discussion in https://github.com/phetsims/special-ops/issues/40

[2016-09-29 03:36] samreid commented on #350
Unassigning until November based on discussion in https://github.com/phetsims/special-ops/issues/40

[2016-09-29 03:36] samreid commented on #354
Unassigning until November based on discussion in https://github.com/phetsims/special-ops/issues/40

[2016-09-30 18:54] jbphet commented on #348
I tested the progress indicator on requireJS and built versions of 1, 2, 3, and 4 screen simulations using Chrome and Firefox.  The sims were:
+ Friction
+ Acid Base Solutions
+ Balancing Act
+ Forces and Motion Basics

The progress bar functioned correctly on all simulations, and I felt like the timing of the animation was good.  There is some pixel polishing needed to make this a good size, but

[2016-09-30 18:57] jbphet opened #360 "triggers potentially in incorrect order"
I noticed this when reviewing the code for #348.

There are a couple of triggers that seem potentially redundant or out of order. They are ```this.trigger0( 'simulationStarted' )``` and ```this.trigger0( 'endedSimConstructor' )```.  It just seems to me that the constructor would need to be completed before the simulation can be started.

[2016-09-30 18:59] jbphet commented on #348
Also, during the conversation with @samreid I suggested considering ```_.after``` as a way to clearly separate out the code for the portion that needs to be done after all the work items are complete.  He wasn't too keen on it and will likely not use it, but may keep it in mind as a possibility as we move forward.

[2016-10-01 14:51] samreid commented on #348
In this context, all of the actions are sequential, so we can easily track when they are done without using _.after.

[2016-10-01 16:08] samreid commented on #348
Unassigning until November as @ariel-phet suggested in https://github.com/phetsims/special-ops/issues/40

[2016-10-03 21:31] samreid commented on #360
The endedSimConstructor was unused, I removed it.

[2016-10-03 21:31] #360 closed

[2016-10-03 21:32] samreid opened #361 "Rename simStarted => simInstanceCreated"
Discovered in #360

simStarted should be renamed to simInstanceCreated.  PhET-iO things should be renamed as well.

[2016-10-06 07:42] jonathanolson commented on #346
There's the complication that for dialog content that spans the entire width, we don't want the close button overlapping the content (thus either content would need to be pushed down, or the dialog would need to be wider).

I'd prefer to defer until Dialog design is completed (reassign if something is desired/needed before then).

[2016-10-06 15:51] pixelzoom commented on #346
Agreed.

[2016-10-10 15:56] samreid commented on #359
Please assign to me and @pixelzoom when this is ready to move to implementation phase.

[2016-10-18 00:44] jonathanolson opened #362 "Re-shown dialog has incorrect position if window size changed"
To reproduce:

1. Open a sim with a dialog that is saved and re-shown (curve-fitting, make-a-ten, etc.)
2. Open the dialog (from a help/info button)
3. Close the dialog
4. Resize the window
5. Open the dialog

The dialog is now incorrectly repositioned.

Example:
![joist-dialog-position](https://cloud.githubusercontent.com/assets/480878/19460521/aecc434e-9499-11e6-8b5c-120a0b351529.PNG)

[2016-10-18 00:46] jonathanolson commented on #362
Fixed.

[2016-10-18 00:46] #362 closed

[2016-10-19 22:57] ariel-phet commented on #359
Assigning over to @amanda-phet for the moment since she has taken the lead on this project

[2016-10-26 15:56] amanda-phet commented on #359
At the 10/20/16 design meeting I believe we wrapped up all questions regarding this dialog box. The design specs are outlined in the design document.

[2016-10-26 16:05] samreid commented on #359
The next step will be to review the proposed design with @pixelzoom before implementation work can start.  I'll put it on-hold until @pixelzoom is back.

[2016-10-26 16:07] ariel-phet commented on #359
@samreid - @pixelzoom is back

[2016-10-26 16:08] samreid commented on #359
Welcome back @pixelzoom!  The next step will be to review the proposed design with @pixelzoom before implementation work can start.

[2016-10-27 04:51] samreid commented on #359
@pixelzoom please reassign me after you have reviewed the proposed design and when we are ready to start implementing.

[2016-10-31 17:44] pixelzoom opened #363 "delete fuzzTouches query parameter"
Noted while working on https://github.com/phetsims/query-string-machine/issues/15...

Query parameter `fuzzTouches` is not documented in chipper.initialize-globals.js.  It's used in Sim.js, but doesn't appear to do anything.

[2016-10-31 17:44] pixelzoom commented on #363
Skype:
[10/31/16, 11:39:56 AM] Jonathan Olson: fuzzTouch not implemented yet (could probably just remove the joist-relevant code until it is)
[10/31/16, 11:41:02 AM] Chris Malley: OK will delete. (It's fuzzTouches, my mistake.)

[2016-10-31 17:45] pixelzoom commented on #363
Done, closing.

[2016-10-31 17:45] #363 closed

[2016-10-31 17:47] pixelzoom opened #364 "create JoistQueryParameters"
Factored out of https://github.com/phetsims/query-string-machine/issues/15#issuecomment-256709865.

Factor out query parameters used in joist into JoistQueryParameters.

[2016-10-31 18:11] pixelzoom commented on #364
In a Skype discussion with @jonathanolson and @samreid, we decided to consolidate all common-code query parameters in chipper.QueryParameter.  Closing this issue, I'll create a similar issue in chipper.

[2016-10-31 18:11] #364 closed

[2016-10-31 22:30] pixelzoom commented on #359
Comments on current design:

The proposed solution (shown with a mockup) seems complicated. There must be a better way.

I don't know what this means. PhET HTML5 sims don't support text entry.

If a dialog is non-modal, it makes no sense to dismiss it when clicking outside.

Yes, modal dialogs should stack.

Mockups show an icon at the bottom of the screen, presumably for moving?  I don't think th

[2016-11-03 18:33] pixelzoom opened #365 "Convert from PropertySet to Property"
Per https://github.com/phetsims/axon/issues/102...  Convert from PropertySet to Property.

[2016-11-05 03:19] samreid commented on #359
@ariel-phet how do you want to address @pixelzoom's questions?  Should we schedule another design meeting, or see if a subgroup can answer them over issue comments?

[2016-11-07 16:56] pixelzoom opened #366 "Dialog.dispose fails assertion"
See https://github.com/phetsims/models-of-the-hydrogen-atom/issues/10

Should be addressed as part of https://github.com/phetsims/joist/issues/359

@ariel-phet please prioritize and assign.

[2016-11-07 17:00] pixelzoom commented on #366
The problem is in `Panel.dispose`, as described in https://github.com/phetsims/models-of-the-hydrogen-atom/issues/10#issuecomment-258893240.

It's also unclear whether Dialog needs to add anything additional in a `dispose` override.

[2016-11-07 21:03] pixelzoom opened #367 "showHomeScreen and screenIndex query parameters are broken"
Noted while working on https://github.com/phetsims/joist/issues/365.

I don't see how the `showHomeScreen` and `screenIndex` query parameters can possibly be working (and they don't appear to be working).  The query parameters are read long after their related Properties are initialized.

[2016-11-07 21:13] pixelzoom opened #368 "change Sim to use Emitters (by composition)"
Noted while working on #365.

Sim previously extended PropertySet, which extends Events.  Yuck - what a totally inappropriate type hierarchy.   After replacing PropertySet with Property in #365, Sim now extends Event.  Still major yuck. Recommended to replace this inheritance abuse with composition.

[2016-11-07 21:15] pixelzoom commented on #365
@samreid Please review the changes that I made to Sim.js.  This was difficult to test because some of the query parameters were broken to begin with (see #367).

[2016-11-07 21:16] pixelzoom commented on #365
UpdateCheck has its own special set of oddities that are making conversion unnecessarily difficult.

From Skype conversation with @jonathanolson:

[11/7/16, 12:03:38 PM] Chris Malley: Seems like adding updateURL property (lowercase 'p') in the inherit call would create problems for attempt to access updateURLProperty via its ES5 set/get.
[11/7/16, 12:31:27 PM] Jonathan Olson: That's weird. Looks l

[2016-11-07 21:26] pixelzoom commented on #365
@jonathanolson please review changes to UpdateCheck and related joist types (see above commit). I test by change "version" in a sim's package.json to something older than the published version. Then ran the sim and confirmed that it reported that an update was available. Similar test procedure for no update available.

[2016-11-07 21:28] pixelzoom commented on #365
Joist is now free of PropertySet. Labeling review of this work as high-priority since it could really mess things up.

[2016-11-07 21:33] pixelzoom opened #369 "unnecessary Properties in Sim?"
Sim.js line 182:

[code]

Skype:
[11/7/16, 1:12:19 PM] Chris Malley: Why is showPointerAreas a Property in Sim? Is there a feature to dynamically turn them on/off?
[11/7/16, 1:12:46 PM] Chris Malley: Ditto for showPointers, showCanvasNodeBounds, showFittedBlockBounds.
[11/7/16, 1:13:12 PM] Chris Malley: These are all query parameters. Can't they be set once at startup? Why are they Properties?

I

[2016-11-07 21:42] pixelzoom commented on #367
initialize-globals.js says:

But there's no screenIndex query parameter documented, and there's none implemented in Sim.

[2016-11-07 21:53] pixelzoom commented on #367
`screens` query parameter numbers screen starting at 1.  `screenIndex` appears to number starting at zero.  Very confusing.

[2016-11-07 21:57] pixelzoom commented on #367
Fixed. @samreid please review.

[2016-11-07 22:50] samreid commented on #368
Please note that Events is deprecated and Sim.js should use Emitters instead (by composition).

[2016-11-07 22:50] samreid commented on #369
As far as I know, these are only set on startup, but got thrown into the PropertySet so they could be managed by built-in PhET-io support.  I don’t know of any wrappers that need to dynamically turn those on and off again.  For instance, the “Playback” wrapper would enable the showPointerAreas during startup.

For instance, `showCanvasNodeBoundsProperty` has one statement to declare the property,

[2016-11-07 23:19] samreid commented on #365
I skimmed the changes to Sim.js and didn't see any trouble.  I still need to test a few things.

[2016-11-08 01:19] jonathanolson commented on #365
Looks good, thanks.

[2016-11-08 16:04] pixelzoom commented on #369
Also wondering about `showHomeScreen` and `screenIndex`.  The former has been broken for who knows how long.  And the latter was actually never implemented.  (See https://github.com/phetsims/joist/issues/367.)  If no one is using (or maintaining) these, then why do they exist?

[2016-11-08 16:06] pixelzoom commented on #369
Any code that isn't use is "too much code".  All code has maintenance cost. Together they are N query parameters that I'm having to port to QueryStringMachine.  I'm not excited to port things that aren't used, or have questionable value.  And the very existence of this issue is a cost which I'm pretty sure is now in the hundreds of dollars to PhET.

[2016-11-08 16:30] samreid commented on #365
Launching http://localhost/hookes-law/hookes-law_en.html?ea&brand=phet&screens=1 shows a blank screen, so something is amiss.

[2016-11-08 16:34] samreid commented on #365
Proposed fix committed above, @pixelzoom can you please review?

[2016-11-08 16:48] pixelzoom commented on #365
Thanks. Must've been this change in default options that was messing things up:

[code]

Back to @samreid. If your review is done, feel free to close.

[2016-11-08 17:02] samreid commented on #365
@zepumph and @mattpen pointed out that the Classroom Activity was failing to launch.  I committed a fix above that should address the problem.  I checked for other usages of Sim properties in phet-io and didn't see any. @pixelzoom would you like to review that change?

[2016-11-08 17:13] pixelzoom commented on #365
Fix looks good. Sorry I missed that one (but surprised I missed only that one :)

@samreid I'm assuming that means your review is done, so I'm closing. If that's not the case, please reopen.

[2016-11-08 17:13] samreid commented on #365
Reopening to continue testing.

[2016-11-08 18:45] pixelzoom opened #370 "issues with playbackMode feature"
Noted while working on https://github.com/phetsims/query-string-machine/issues/15.

There appears to be both a `playbackMode` query parameter (which is ignored) and a `phet.joist. playbackMode` global.

Documentation of `playbackMode` in initialize-globals.js:

[code]

The query parameter is read in Sim.js, where it's used to set the default value of `options.playbackMode`:

[code]

Later in Sim.j

[2016-11-09 21:22] pixelzoom opened #371 "standardize query parameter for "projector mode" feature"
Noted while working on https://github.com/phetsims/chipper/issues/516.

There are currently 2 different query parameters (`projector` and `projectorMode`) used to enabled the "projector mode" feature that is available in some sims.

Q1: Should PhET standardize this?
Q2: Should it be in the QueryStringMachine schema for common code, so it's not repeated in sim-specific schemas?

Here are the client

[2016-11-09 21:39] pixelzoom commented on #371
Since "projector mode" is a subset of the more general "color scheme" issue (see https://github.com/phetsims/joist/issues/222)... My vote is for `colorScheme` query parameter, defined like this in the common-code QueryStringMachine schema:

[code]

Same usage: `?colorScheme=projector`

Molecule Shapes appears to have 3 color schemes: default, basics, projector (see MoleculeShapesColors).  So we'll

[2016-11-10 17:11] jonathanolson commented on #369
No preference, I'm fine to have it only be set on startup.

[2016-11-10 17:14] jonathanolson commented on #371
Sounds good

It seems sim-specific (or at least, we should have ways of having sim-specific color profiles).

[2016-11-10 17:44] samreid commented on #371
Agreed, there should be a sim-specific way of defining color profiles.

[2016-11-10 17:58] samreid commented on #365
I haven't seen other issues, ready to close the issue now.

[2016-11-10 17:58] #365 closed

[2016-11-10 18:05] pixelzoom commented on #371
There's nothing that limits a sim's ability to define a color profile. But there's currently no ability for a sim to modify the schema for query parameter -- i.e., no ability to add 'basics' to the `validValues` for `colorScheme`.   Do we need to add this ability to QueryStringMachine? Or is it sufficient for a sim that needs such customization to copy-paste-modify the schema that it needs to exte

[2016-11-10 18:07] pixelzoom commented on #371
... i.e., Molecule Shapes would copy the `colorScheme` schema and modify it as follows:

[code]

... then use `MoleculeShapesQueryParameters.colorScheme` instead of `phet.chipper.queryParameters.colorScheme`.   That could be problematic if there's common code that that handles general color schemes, and relies on `phet.chipper.queryParameters.colorScheme`.

[2016-11-10 18:11] pixelzoom commented on #371
I don't see a way to do this. The schema is evaluated in preloads, way before the sim every exists.  So there's no opportunity for a sim to (for example) add to `validValues`.

[2016-11-10 18:12] samreid commented on #371
Regarding the proposal in the preceding https://github.com/phetsims/joist/issues/371#issuecomment-259763388

If you supply ?colorScheme=basics, then the validation in phetcommon would fail.

[2016-11-10 18:15] pixelzoom commented on #371
Ah, yes.

[2016-11-10 18:16] pixelzoom commented on #371
Ah, yes.  So the sim would need to change the query parameter name, and that seems very undesirable.

[2016-11-10 20:22] pixelzoom commented on #369
11/10/16 dev meeting: Keep all of these, easier than deciding which to delete.

[2016-11-10 20:22] #369 closed

[2016-11-10 20:36] pixelzoom commented on #371
11/10/16 dev meeting notes:
• we'll refer to these as "color profiles"
• query parameter will be `colorProfile`
• omit `validValues` from schema for `colorProfile`, to support sim-specific values

[2016-11-10 20:37] pixelzoom commented on #371
The schema will be:

[code]

Sample use: `?colorProfile=projector`.

I'll handle the changes.

[2016-11-11 01:21] ariel-phet commented on #366
@andrewadare is this something you can handle whilst taking care of dispose in some other places? Or is it a complicated enough task to discuss more? If so, just reassign me.

[2016-11-11 02:26] andrewadare commented on #366
I just looked into it, and I'm unable to reproduce the problem (see https://github.com/phetsims/models-of-the-hydrogen-atom/issues/10#issuecomment-259864800). This part of MOTHA seems to work fine for me. What am I missing?

[2016-11-11 02:30] andrewadare commented on #366
https://github.com/phetsims/models-of-the-hydrogen-atom/issues/10#issuecomment-259865468, that's what.

[2016-11-11 02:32] andrewadare commented on #366
@ariel-phet I'll have a look soon.

[2016-11-14 03:44] pixelzoom commented on #371
charges-and-fields was converted in https://github.com/phetsims/charges-and-fields/commit/78353b561fea847c6fc74d1e3a058b819aae4d51.

molecules-shapes was converted in https://github.com/phetsims/molecule-shapes/commit/1959d3a78715294e6909fd6948c4c66e308c53a8 and https://github.com/phetsims/molecule-shapes/commit/7baa6c8b16ff0c9212e51b11bb08e4d574731d90.

[2016-11-14 04:00] pixelzoom commented on #371
All sims converted and tested.  Projector mode is enabled with `?colorProfile=projector`, default colors are used with anything else.

@jessegreenberg, you won the lottery - would you please verify?

[2016-11-14 04:32] pixelzoom opened #372 "documentation for a11y options"
These options have identical documentation in Sim.js:

[code]

Similarly in initialize-globals.js, for the associated query parameters.

@jessegreenberg Can you please clarify the documentation? How do these options differ?

[2016-11-14 18:25] jessegreenberg commented on #372
Actually, I think the virtualCursor option can be removed.  It was used to enable prototype behavior for a virtual cursor that behaved like virtual cursors used in prominent screen readers and I should have documented it as such.

It was a nice prototype, and helped jumpstart some new accessibility features but there is no intention of using this option anymore so there is no point in maintaining

[2016-11-14 18:48] jessegreenberg commented on #372
Removed in commit above and I added a bit more documentation to the accessibility option.  Closing.

[2016-11-14 18:50] pixelzoom commented on #372
Reopening.  Also need to be removed from initialize-globals.js. I'll handle that.

[2016-11-14 18:51] jessegreenberg commented on #372
Thanks!

[2016-11-14 18:51] pixelzoom commented on #372
`virtualCursor` also appears in screen-reader.html:

Remove it?

[2016-11-14 18:54] jessegreenberg commented on #372
Yes, screen-reader.html can be removed from balloons-and-static-electricity.

[2016-11-14 18:58] jessegreenberg commented on #372
I deleted it.

[2016-11-14 18:59] #372 closed

[2016-11-14 19:08] jonathanolson opened #373 "Screen could accept a backgroundColorProperty?"
Right now, sims that use ColorProfile need to pass in the initial background color, and then update that color on updates, like so:
[code]

Can Screen just accept a backgroundColor as a Property (like Scenery) and not force creation of its own property? Do we ever need to change the Screen's backgroundColor independently of the color profile?

[2016-11-14 20:12] jessegreenberg commented on #371
I reviewed the commits above and tested all of the sims listed in https://github.com/phetsims/joist/issues/371#issue-188355688.  I verified that the query parameter ```?colorProfile``` works exactly as described in https://github.com/phetsims/joist/issues/371#issuecomment-260243749.  A search through repos also verified that the list of sims in the initial comment included all sims that have a ```

[2016-11-14 20:34] pixelzoom commented on #371
Yep, that's it. Thanks. Closing.

[2016-11-14 20:34] #371 closed

[2016-11-16 23:11] pixelzoom commented on #373
Recommended to use the pattern employed elsewhere for optional Properties (e.g. `enabledProperty`):

[code]

[2016-11-16 23:12] jonathanolson commented on #373
Sounds great to me.

[2016-11-16 23:28] pixelzoom commented on #373
The down side is that we have something like 150 usages of `backgroundColor` that will need to be converted to `backgroundColorProperty`.  If we want to avoid that conversion... We could keep both `backgroundColor` and `backgroundColorProperty`, make them mutually exclusive, and use `backgroundColor` as the default value for `backgroundColorProperty`.

[2016-11-16 23:32] pixelzoom commented on #373
I.e.:

[code]

[2016-11-16 23:38] jonathanolson commented on #373
Supporting both looks more complicated, and I'd volunteer for the refactoring to keep it simple.

[2016-11-16 23:40] pixelzoom commented on #373
Keeping it simple would be my choice too.

[2016-11-17 01:49] pixelzoom commented on #351
Above I said:

#339 is closed. @jbphet what is the status of this one?

[2016-11-17 06:15] samreid commented on #373
I thought we recently added scenery support so you could pass in {Color|Property.<Color>}.  How did that work out?

[2016-11-17 06:24] jonathanolson commented on #373
Works great in general for direct use, but many sun/scenery-phet types don't support all Scenery fill/stroke options. We're lacking the tools to transparently deal with these (say you want to get a slightly darker color, ```Color.toColor( fill ).darkerColor( 0.5 )``` will fail for a ```Property.<Color>```).

I didn't check how backgroundProperty is used, but Display.backgroundColor doesn't support

[2016-11-17 06:34] samreid commented on #373
Providing support for `Property.<Color>` in Screen sounds fine to me too.  It should be straightforward (though lots of busywork) to convert to `Property.<Color>`.

My only hesitation is that with 150+ copies of this, we will have 150+ copies of this duplicated code:
[code]

If we approximate `new Property(new Color()` as a line of code, then we have ~3*150 lines of duplicated code as a result of

[2016-11-17 06:57] jonathanolson commented on #373
5+ sims would use ColorProfile properties presumably.

I'm not concerned about the small (maximum 8 per sim if 4 screens) number of import lines, as there is much lower-hanging fruit for reducing the file size imports take up (abbreviate namespaces, make certain things global, etc.)

[2016-11-17 16:30] jbphet commented on #351
I spot checked a number of the commits and they look reasonable, and this has been in operation for a while with no reports of issues, so I think it's safe to close.

[2016-11-17 16:30] #351 closed

[2016-11-17 17:46] samreid commented on #373
Consensus: we'll use backgroundColorProperty.

[2016-11-18 17:10] samreid commented on #344
https://github.com/phetsims/phet-io/issues/562 is addressed, taking off hold.

[2016-11-18 19:20] jbphet commented on #348
It's November, so I'm assigning to @ariel-phet.  If the design team has time, it might be good to put this up in design meeting and start refining it.  I hate to have it linger on this branch for too long, or it may become hard to merge into master, and it seems pretty close at this point.

Another consideration is whether it is okay to roll this out a little at a time as sims are published or whe

[2016-11-19 03:49] samreid commented on #348
Also, it is a nontrivial change to joist and our loading sequence, so maintenance releases sound very expensive.

[2016-11-19 04:10] samreid commented on #367
The change set looks good and works correctly.  I have taken the following steps:

1. Changed screenIndex to be 1-based, like ?screens
2. Removed the no-longer-used standalone option

Tests with build an atom and faradays law seem good, committing.

[2016-11-19 04:11] samreid commented on #367
@pixelzoom please review changes at your convenience.

[2016-11-19 18:00] samreid commented on #370
@jonathanolson it looks like Sim.playbackMode is no longer used since phet-io is now using `phet.joist.playbackMode`.  You originally added Sim.playbackMode and I cannot see it being used for anything at the moment, can it be removed now?

[2016-11-20 03:39] samreid commented on #344
Fixed above, closing.

[2016-11-20 03:39] #344 closed

[2016-11-21 19:16] pixelzoom commented on #367
Changes look good.

I fleshed out the doc for screenIndex in the above commit.  @samreid please review, refine if you'd like, and close.

[2016-11-21 21:17] samreid commented on #367
Looks great, closing.

[2016-11-21 21:17] #367 closed

[2016-11-22 01:47] ariel-phet commented on #348
@samreid do you have time at some point to do some refinement with me? I think we all agreed this feature should be clean and minimalist. I think it will work fine for you and I to iterate and then bring up at status meeting as the proposed solution.

Perhaps lets you and I work together once you polish off the queryStringMachine work?

As for maintenance releases, that is not necessary, we can ju

[2016-11-22 15:46] samreid commented on #348
Sure, how about 10am on Wednesday Nov 30?

[2016-11-22 19:55] jonathanolson commented on #370
Presumably it can be removed, I'm not using it for anything.

[2016-11-23 00:07] ariel-phet commented on #348
@samreid that works well, on my calendar

[2016-11-23 04:45] samreid commented on #370
I removed playbackMode, tested grunt lint, ran a sim in requirejs mode and mirror-inputs mode and all seems well. Committing.

[2016-11-23 04:46] samreid commented on #370
@pixelzoom would you like to review?

[2016-11-23 18:27] pixelzoom commented on #370
Looks like `playbackMode` query parameter was successfully deleted, but...

@samreid said:

Did you consider deleting `phet.joist.playbackMode` and changing phet-io to use the `playbackMode` query parameter?   It seems like phet-io should be using query parameters whenever possible, rather than creating its own globals (which btw don't appear to be documented or encapsulated in any one place.)

[2016-11-23 18:48] ariel-phet commented on #212
We no longer support IE9 closing

[2016-11-23 18:48] #212 closed

[2016-11-23 19:01] ariel-phet opened #374 "Modifications to NavBar for Keyboard navigation"
The navbar is going to require some updates to accommodate a "help button" for keyboard navigation (a keyboard navigable button that will bring up a dialog that shows the various keyboard options available in a keyboard accessible simulation).

The proposed design is:
![navbar_mods](https://cloud.githubusercontent.com/assets/4051174/20574772/779b4a4a-b173-11e6-80a4-d24dcd94054a.png)

This design h

[2016-11-23 19:58] jonathanolson commented on #374
The changes would probably be fairly isolated in Joist, so it wouldn't be too prohibitive to do maintenance releases.

That said, we may end up with a good number of differing implementations (due to various refactorings that have touched NavigationBar.js and the buttons). I at least did moderate refactoring in August 2015 (https://github.com/phetsims/joist/commit/772985365471edbe7e8c147d577c55702

[2016-11-24 16:57] samreid commented on #370
I considered using a query parameter to set up a simulation for playback mode, and thought that a global would be more straightforward, so that it can be set using the conventional PhET-iO API.  In the above commit, I initialized the global in Sim.js and documented it.  @pixelzoom would you like to review?

[2016-11-28 17:03] #370 closed

[2016-11-29 05:52] ariel-phet commented on #286
This issue appears like it can be closed

[2016-11-29 05:52] #286 closed

[2016-11-29 05:56] ariel-phet commented on #80
This issue seems stale and has not affected any usage in 3 years, closing

[2016-11-29 05:56] #80 closed

[2016-11-29 05:58] ariel-phet commented on #64
@samreid how many TODO issues are currently in Joist?

[2016-11-29 06:03] samreid commented on #64
26 matches in 14 files.

[2016-11-29 06:04] ariel-phet commented on #70
I attempted to reproduce this issue on Beer's Law lab on iPad2 iOS 9.3.5 and it is not longer present, I can switch screens while manipulating objects with no obvious consequences. Closing

[2016-11-29 06:07] ariel-phet commented on #82
It appears that https://github.com/phetsims/joist/issues/348 will be a successful strategy for showing a progress bar, so we will eventually remove any text that says "Loading" since a progress bar will give an iconic representation of that text. Closing

[2016-11-29 06:07] #82 closed

[2016-11-29 06:14] ariel-phet commented on #52
This issue is no longer present (I am unable to pinch to zoom on the splash screen). Tested on iPad2 iOS 9.3.5

[2016-11-29 06:14] #52 closed

[2016-11-29 06:19] ariel-phet commented on #58
@jessegreenberg what is the status of this issue? It seems like it might be outdated?

[2016-11-29 15:13] pixelzoom commented on #70
Reopening.

It's probably no longer present in Beer's Law Lab because I worked around it in client code.  Depending on how the client implements interaction, I still stand by my original statement: "This is a general problem with multi-touch that affects all sims."  There needs to be common-code support for cancelling interactions, and that support needs to be wired into joist for screen switching

[2016-11-29 15:14] pixelzoom commented on #70
I renamed this issue to indicate what we need to remember to do.

[2016-11-29 16:50] pixelzoom commented on #37
@jonathanolson Is this issue still relevant?

[2016-11-29 16:51] pixelzoom commented on #37
@jonathanolson Is this issue still relevant?  If no, please close. If yes, please briefly describe what needs to be done.

[2016-11-29 16:54] pixelzoom commented on #348
From https://github.com/phetsims/joist/issues/49...  The progress indicator should be displayed for a minimum amount of time.

[2016-11-29 16:54] pixelzoom commented on #49
This should be addressed in the new progress indicator (#348).  Moving this request there.  Closing.

[2016-11-29 16:54] #49 closed

[2016-11-29 16:55] pixelzoom commented on #57
@jonathanolson status?

[2016-11-29 17:03] pixelzoom commented on #245
TODO has been simplified to:

```//TODO address Firefox font problem, see https://github.com/phetsims/joist/issues/245```

[2016-11-29 17:09] pixelzoom opened #375 "a11y issue in NavigationBarScreenButton"
@jessegreenberg Please address this TODO item in NavigationBarScreenButton:

[code]

[2016-11-29 17:11] jonathanolson commented on #57
Status is "hasn't reached a high enough priority level, and we haven't implemented the robust multi-touch handling yet".

[2016-11-29 17:12] jonathanolson commented on #37
@samreid, is this an issue for current playback?

[2016-11-29 17:15] pixelzoom opened #376 "missing tandem.addInstance in Screen?"
Screen has options.tandem, then does nothing with it.

Looking at concentration, an instrumented sim...  In concentration-main.js, I see:

[code]

So a tandem is created for `ConcentrationScreen`, which passes it to `Screen`, which does nothing with it.

Should Screen's constructor call `tandem.addInstance`?

[2016-11-29 17:16] pixelzoom commented on #376
TODO added in Screen.  Please remove it when this issue is addressed.

[2016-11-29 17:18] pixelzoom commented on #64
All TODO items should reference a GitHub issues.  There are current 20+ that do not.

[2016-11-29 17:23] pixelzoom commented on #71
Still relevant.  Now dependent on revision of Dialog, https://github.com/phetsims/joist/issues/359.

[2016-11-29 17:26] pixelzoom commented on #74
Still relevant.

First, we need a complete list of features that require an Internet connection.

Second, we need to pick an approach. For features that require an Internet connection, the options are (1) disable features, or (2) hide features.

[2016-11-29 17:28] pixelzoom commented on #103
@samreid Can you please summarize the status of this issue, now that PhET-iO has some support for saving and loading state?

[2016-11-29 17:29] pixelzoom commented on #110
@samreid @jonathanolson Can one of you please explain why this issue is in joist, and indicate what the current status is?

[2016-11-29 17:32] pixelzoom commented on #130
This issue has been dormant for 2+ years. @samreid @jonathanolson What (if anything) do we need to do here?

[2016-11-29 17:33] jonathanolson commented on #74
The "up-to-date" display in the About dialog should function without internet (letting people know it wasn't able to check).

Presumably the "can we connect to the internet" would come after the PhetMenu has been constructed, so we'd need to consider after-the-fact disabling/removing, correct?

[2016-11-29 17:34] jonathanolson commented on #64
Side-note: Should I do this for dot/kite/scenery?

[2016-11-29 17:34] pixelzoom commented on #132
What we've been doing seems to be working out fine. Not worth the effort to make this change. Closing.

[2016-11-29 17:34] #132 closed

[2016-11-29 17:35] pixelzoom commented on #144
This issue is 2+ years old, and variable time step seems to be serving us well.

@samreid Can this issue be closed?

[2016-11-29 17:36] jonathanolson commented on #110
Joist isn't the right place anyways, chipper has the image plugin that could potentially be modified.

That said, we've been doing fine with the current approach, closing.

[2016-11-29 17:36] #110 closed

[2016-11-29 17:36] jonathanolson commented on #130
We have a code-review item to handle capping DTs, so I think this can be closed.

[2016-11-29 17:40] jonathanolson commented on #373
Commits landed 6 days ago, forgot to close.

[2016-11-29 17:43] pixelzoom commented on #130
Closing.

[2016-11-29 17:45] pixelzoom commented on #64
Imo, any TODO item in production (i.e. published) code should have an associated GitHub issue.  Less strict would be to require that only in common code.  Up to @ariel-phet to set the policy.

[2016-11-29 17:47] pixelzoom commented on #74
I've added an option (3) above, which is to keep the features enabled, but have them gracefully handle lack of an internet connection, e.g. by informing the user they there's no Internet connection.  "Failing" in a way that affects the sim should not happen.

[2016-11-29 17:50] pixelzoom commented on #158
Looks like this was partially addressed in phetsims/scenery-phet#270.  In PhetColorScheme:

[code]

So now I'll investigate whether we also need PHET_LOGO_BLUE.  Or maybe I'll just add it, since @samreid said "yellow and blue are used they are sometimes matched to the PhET logo for consistency".

[2016-11-29 17:59] pixelzoom commented on #158
I've been unable to find a .ai file for the PhET logo in GitHub, so I'm resorting to looking at other files.
Inspecting brand/phet/images/logo.png and phet-cafepress/webite-assets/phet-logo-registered.svg, I see these colors:

yellow = 'rgb( 254, 225, 5 )'
blue = 'rgb( 106, 206, 245 )'

PhetColorScheme.PHET_LOGO_YELLOW doesn't match this, so I've reopened phetsims/scenery-phet#270.

[2016-11-29 18:01] jessegreenberg commented on #375
I removed the TODO comment since this is more generally going to be addressed with issue #355.

[2016-11-29 18:01] #375 closed

[2016-11-29 18:02] jessegreenberg commented on #355
Removing my assignment for now, this is not going to be addressed until we begin accessibility work on a sim with multiple screens.

[2016-11-29 18:04] pixelzoom commented on #158
The official PhET logo file is apparently brand/phet/assets/phet-brand-assets.ai. Inspecting that file confirms the above logo colors.

[2016-11-29 18:04] pixelzoom commented on #158
PhET logo blue may also appear in client code as '#6acef5'.

[2016-11-29 18:06] pixelzoom commented on #158
Added PHET_LOGO_BLUE.  The only usage I could find was in fraction-matcher, which I replaced.

We'll sort out the correct value for PHET_LOGO_YELLOW in phetsims/scenery-phet#270.

Closing.

[2016-11-29 18:06] #158 closed

[2016-11-29 18:20] pixelzoom commented on #168
I'm guessing that "the histogram" is the comma-separate set of integers shown in the upper-left corner of the screen. E.g. in rutherford-scattering:

![screenshot_85](https://cloud.githubusercontent.com/assets/3046552/20722928/b2a19ca0-b625-11e6-837f-d45d4e74b829.png)

[2016-11-29 18:20] samreid commented on #168
Yes, you guessed correctly!

[2016-11-29 18:22] pixelzoom commented on #168
What are the x and y axes of the histogram?  (I read Profile.js, but still don't grok.)

[2016-11-29 18:23] pixelzoom commented on #168
Also don't understand the bit after '+++ ='.  Is this also some sort of histogram?

[2016-11-29 18:27] pixelzoom commented on #175
@samreid Is this issue still relevant?

[2016-11-29 18:30] samreid commented on #168
0,0,1,5,7,4,3,0,0,0,0,0,0.... ++= 37, 99

would mean that 0 frames took 0 ms, 0 frames took 1ms, etc. 1 frame took 3ms, 5 frames took 4ms, etc.  Then additionally another frame took 37ms and another took 99ms.

[2016-11-29 18:32] ariel-phet commented on #64
I am marking this issue for developer meeting as it seems to warrant a larger discussion of pros cons. Although I feel like chipping away at TODO in joist seems worthy of attention.

[2016-11-29 18:33] pixelzoom commented on #183
To summarize the status of this issue...  JoistButton was created for use in the navigation bar, but doesn't seem suited to the Home screen buttons. Home screen buttons are created in HomeScreenView.  The very least that we should do is factor out the code that creates the buttons into something like HomeScreenButton, so it's the button code isn't mixed in with other responsibilities of HomeScreen

[2016-11-29 18:35] pixelzoom commented on #183
Also worth noting is that there are currently 2 buttons (largeScreenButton and smallScreenButton) created for each screen.  And these buttons each have their own tandem.  Has this PhET-iO instrumentation has been done in a way that will allow us to factor out HomeScreenButton without changing the PhET-iO API?  @samreid can you comment?

[2016-11-29 18:42] pixelzoom commented on #168
So... The part before the '+++ =' is a histogram for frame rates from 0-29ms, and the value is number of frames for each frame rate.  And the part after the '+++ =' is used to indicate frame rates that exceeded 29ms - without indicating how many frames exceeded 29ms.   Is that correct?

[2016-11-29 18:43] jonathanolson commented on #64
I feel like cleaning this up is also good. 300+ TODOs are marked in Scenery alone, so I'll spend some of my cleanup-time triaging those, until every TODO is marked with an issue reference.

[2016-11-29 18:46] pixelzoom commented on #188
Reviewed... This is still a problem, and may have gotten worse.  In addition to passing the complete `{Sim} sim` instance to components, some components are now using `window.phet.joist.sim`.

[2016-11-29 18:50] samreid commented on #168
Well, if there were 5 frames that took 37ms each, it would say: `+++=37,37,37,37,37`  Everything else you said looks correct.

[2016-11-29 18:53] pixelzoom commented on #192
Screen defines MINIMUM_NAVBAR_ICON_SIZE, and we've been using it without issue:

[code]

Closing.

[2016-11-29 18:53] #192 closed

[2016-11-29 18:58] pixelzoom commented on #208
Since this issue was create, Sim.js has been reduced by 1/3 to 703 lines.   Skimming what's left, I think we're in much better shape, and can close this issue.

[2016-11-29 19:00] pixelzoom commented on #222
Status of this issue is that it's still very relevant. We standardized scenery-phet.ColorProfile.  Now we need to use it in joist.   When we do this is up to project management priorities.

[2016-11-29 19:03] pixelzoom commented on #228
This is related to #183, where we need to factor out HomeScreenButton.

In the meantime, we could make the following changes to HomeScreenView:

• create largeIconWithFrame and largeText with `pickable:false`
• create smallIcon and smallText with `pickable:false`

[2016-11-29 19:23] pixelzoom commented on #183
If/when HomeScreenButton is factored out, set `pickable:false` for button content to improve performance. See #228.

[2016-11-29 19:25] pixelzoom commented on #228
Back to the comment that started this issue:

[code]

I've created numerous Nodes for home screen icons, and I've never seen the interference mentioned in the above code comment.  So I think this is a non-issue and can be closed.

[2016-11-29 19:25] #228 closed

[2016-11-29 19:31] pixelzoom commented on #222
This should also be addressed, from #255:

[2016-11-29 19:31] pixelzoom commented on #255
Folding this issue into #222. Closing.

[2016-11-29 19:34] pixelzoom commented on #264
Reviewed this issue.... No change, items 1 & 2 are still problems.

[2016-11-29 19:36] pixelzoom commented on #273
Still a problem.... In general, joist really needs a full overhaul of its buttons (home screen, nav bar, etc.)

[2016-11-29 19:40] pixelzoom commented on #285
In https://github.com/phetsims/molecule-shapes/issues/127#issuecomment-125717354, @jonathanolson said:

That was on 7/28/15, perhaps the Chrome bug has been fixed.  Or if not, perhaps we should report it.

Assigning to @ariel-phet to decide how to proceed.

[2016-11-29 19:49] pixelzoom commented on #289
This dialog is not currently used. And if/when it extends Dialog, I don't see much of the current implementation that will survive.  Recommended to delete SettingsDialog and its usage in PhetMenu.

@samreid Your opinion?

[2016-11-29 19:52] pixelzoom commented on #291
This issue is superseded by #359. Look of the close button will be specified in the Dialog design documents (https://docs.google.com/document/d/12UkhG7lU-dLBCa-A8FcamkrPBLQxr6ft33Igbw6a5U8/edit#).

Closing.

[2016-11-29 19:54] pixelzoom commented on #359
Requirement from #292:

[2016-11-29 19:54] pixelzoom commented on #292
Moved this issue to a requirement in #359. Closing.

[2016-11-29 19:57] pixelzoom commented on #293
Issue 5 (placement of close button) is describe in more detail in https://github.com/phetsims/joist/issues/346, and is not specific to non-modal Dialogs.

[2016-11-29 19:57] pixelzoom commented on #293
Issues 2-5 are still problems.

[2016-11-29 20:02] pixelzoom commented on #294
I confirmed that if brand is not 'phet', `UpdateCheck.check` is a no-op. I.e., this expression evaluates to true and `check` returns immediately:

[code]

Closing.

[2016-11-29 20:02] #294 closed

[2016-11-29 20:04] pixelzoom commented on #294
And here's why the expression evaluates to true, UpdateCheck line 52:

[code]

[2016-11-29 20:06] pixelzoom commented on #301
Reviewing issue status... Looks like work is complete, waiting for @jonathanolson to review.

@ jonathanolson Do you have time to take a look?

[2016-11-29 20:07] pixelzoom commented on #302
@jonathanolson This issue is 1+ year old. Has this gone live? Have we tested?

[2016-11-29 20:10] pixelzoom commented on #308
I seriously doubt that PhET will ever localize layout.  There are so many questions, it would be a huge amount of work, and it's unclear whether it even matters.

@ariel-phet Do you want to keep this issue open?

[2016-11-29 20:14] jonathanolson commented on #302
I just tested. When I change the URL to access the sim over HTTP, the Full Screen button exists and works properly (on Chrome OSX).

I don't believe we made an effort to hide the button. Would warrant further investigation if we need to.

@ariel-phet, should we have someone investigate?

[2016-11-29 20:15] jonathanolson commented on #301
Will review.

[2016-11-29 20:17] pixelzoom commented on #348
From #309:  Everything in a PhET simulation scales to fit the window except the splash screen logo/text. Should this scale as well?

[2016-11-29 20:18] pixelzoom commented on #309
Folded this issue into #309, where the splash screen is getting a redesign.

[2016-11-29 20:18] #309 closed

[2016-11-29 20:20] pixelzoom commented on #359
In https://github.com/phetsims/joist/issues/315, it was proposed that Dialog should move to sun.  This is something to think about when reimplementing Dialog.  Does it require things that are specific to joist? Should/can any of those things be moved to sun?

[2016-11-29 20:20] pixelzoom commented on #315
Folded this issue into https://github.com/phetsims/joist/issues/359.  Closing.

[2016-11-29 20:27] pixelzoom commented on #320
In PhetMenu, I see:

[code]

... and that's used to disable various things when running with `?fuzzMouse`.

Couldn't we simply hide the 'Full Screen' menu item by changing this:

[code]

to this:

[code]

[2016-11-29 20:27] pixelzoom commented on #320
@jonathanolson Your opinion on the above proposal?

[2016-11-29 20:33] pixelzoom commented on #325
This issue is still relevant, but still low in priority.

[2016-11-29 20:38] pixelzoom commented on #331
If you add a workaround that you intend to someday address properly, it's generally a good idea to add a TODO (which notes the issues number) in the code at the site of the workaround.  I'll add the TODO.

And yes, we should investigate the cause.

[2016-11-29 21:02] ariel-phet commented on #308
@pixelzoom I think I agree. We have plenty of RTL users and they seem adaptable enough for this not to be a huge deal. It would be one thing if an RTL funder came to us with this as one of the stipulations for funding, but for the foreseeable future it seems like too big of an issue to tackle.

[2016-11-29 21:02] #308 closed

[2016-11-29 21:09] ariel-phet commented on #302
@jonathanolson it seems in the current state of the website, someone would have to purposely use HTTP since we are default serving from HTTPS, that seems like a rare use case. Also at worst the user will try to go full screen and it won't work from HTTP and give some kind of security warning.

This does not seem to warrant any time to try to hide the button or such in my view. Closing

[2016-11-29 21:09] #302 closed

[2016-11-29 21:19] pixelzoom opened #377 "center is a bad name for a Node"
In HomeScreenView:

[code]

And then the code proceeds to do things like:

[code]

Yuck. And I'll leave it at that.

[2016-11-29 21:22] pixelzoom commented on #377
It's not even clear that this Node is even really needed.  And this issue sure smells like it might have something to do with #331.  So...

I renamed `center` to `centerNode`.  Closing.

[2016-11-29 21:22] #377 closed

[2016-11-29 21:40] pixelzoom commented on #331
After working on #332 and #337, I can see how this would cause drift.   Addressed, closing.

[2016-11-29 21:40] #331 closed

[2016-11-29 21:41] pixelzoom commented on #377
Yet another rename, `centerNode` to `iconsParent`.

[2016-11-29 21:45] pixelzoom commented on #332
Keeping a reference to the HBox is unnecessary.  The parent Node (`iconsParent`) is an intermediate Node, which exists solely to maintain rendering order. `iconsParent` has only 1 child, so simply verify that there's only 1 child, removeAllChildren, then addChild the new HBox.

I also cleaned up the computation of `spacing`.  It only needs to be computed once, and the the computation was unnecessa

[2016-11-29 21:47] pixelzoom commented on #333
@ariel-phet your call on this one.

[2016-11-29 21:49] pixelzoom commented on #338
Reviewed issue... Would still be nice to do, and still not on my radar.

[2016-11-29 21:50] pixelzoom commented on #359
Requirement from #341: Dialog needs options for close button pointerAreas

[2016-11-29 21:51] pixelzoom commented on #341
Moved this requirement to https://github.com/phetsims/joist/issues/359. Closing.

[2016-11-29 21:57] pixelzoom commented on #342
Standardizing on `colorProfile=projector` was done in https://github.com/phetsims/scenery-phet/issues/156).   And the ColorProfile is necessarily sim specific.  So the functionality that may be appropriate to add to joist is a way to add a "Projector Mode" item to the Options dialog (and handing of the associated i18n).

Not on anyone's radar now, but let's leave this open.

[2016-11-29 21:58] pixelzoom commented on #343
FYI, `fuzzMouse` is now a flag, and `fuzzRate` is used to specify number of events.  Renaming this issue accordingly.

[2016-11-29 22:04] pixelzoom commented on #343
The value of `fuzzRate` is passed as the `averageEventQuantity` argument of Display.fuzzMouseEvents.  In Display.fuzzMouseEvents, the while loop expression is:

[code]

So for `fuzzRate=1`, the partial evaluation of the expression is:

[code]

Since `Math.random` returns a positive number, the `while` loop is therefore never executed -- verified by putting a `console.log` inside the loop and runni

[2016-11-29 22:06] pixelzoom commented on #343
To constrain `fuzzRate`, change its schema in initialize-globals.js to:

[code]

[2016-11-29 22:08] pixelzoom commented on #359
Fix the buggy placement of the close button, as reported in #346.

[2016-11-29 22:08] pixelzoom commented on #346
Moved this to #359.  Closing.

[2016-11-29 22:10] pixelzoom commented on #354
@samreid is this a duplicate of #348?

[2016-11-29 22:14] pixelzoom commented on #356
Current status of this issue... Screenshot feature does not respect the bounds of CanvasNode.  So if a sim uses a CanvasNode to 'clip' things, it's possible for things to appear in screenshots that don't appear on the screen.  This issue has not been addressed yet, but has been noticed only in developer features, not production features. We should be on the lookout for this problem when testing.

[2016-11-29 22:15] pixelzoom commented on #357
Still an issue in Dialog. Should be addressed when Dialog is revised/rewritten in #359.

[2016-11-29 22:17] jonathanolson commented on #343
Looks like I'm using a geometric distribution, but as wikipedia notes:

I'm fine with the above constraint, or we could add 1 to the value in that formula (no preference).

Thoughts?

[2016-11-29 22:17] pixelzoom commented on #361
I see 9 occurrences of 'simStarted' in phet-io, zero occurrences in joist.  Why is this issue in joist?

[2016-11-29 22:18] pixelzoom commented on #366
Should be addressed when revising/rewriting Dialog in #359.

[2016-11-29 22:24] pixelzoom commented on #368
According to the `Sim` constructor documentation, there is only 1 Event:

[code]

with associated trigger on line 564:

[code]

But the documentation lies.  Sim triggers 3 other events:

[code]

And `barrierRectangle` triggers 2 more:

[code]

[2016-11-29 22:25] jonathanolson commented on #356
Shouldn't ever happen, I noted above:

This should be a sim bug?

[2016-11-29 22:28] pixelzoom commented on #343
How about we add 1 to the value in the formula *and* require `fuzzRate` to be > 0 ?

[2016-11-29 22:30] pixelzoom commented on #343
I've update the schema for `fuzzMouse`. @jonathanolson can you update the `while` loop expression in Display?

[2016-11-29 22:48] pixelzoom opened #378 "clean up scaling of icons on Home screen"
In HomeScreenView:

[code]

For `largeIcon`, the scale is suspicious (note the `*2`, we'll come back to it):

[code]

For `smallIcon`, the scale is:

[code]

So `HEIGHT` isn't the height of either icon. It's multiplied by 2 for `largeIcon`.  And it's mapped to a scale (probably empirically) for `smallIcon`.

Let's fix this so that `HEIGHT` is `LARGE_ICON_HEIGHT`, and then `smallIcon` is some fract

[2016-11-29 22:50] pixelzoom commented on #378
And for clarity, let's rename `var scale` to `var smallIconScale`.

[2016-11-29 22:56] jonathanolson commented on #343
Committed, also added an assertion for the range Scenery-side.

[2016-11-29 22:58] jonathanolson commented on #320
Sounds fine to me, with the caveat that it might reduce code coverage of the fuzzer (if we add a bug in the full-screen feature).

[2016-11-29 23:17] ariel-phet commented on #333
I am guessing that for most users, taking a screenshot on the iPad is by far more easily accomplished with the normal "Home + Wake/Sleep" button press.

It is unclear to me if the built in screenshot feature is getting used much on iPad, so I am willing to punt on this for the moment, or until we get a bug report from a user.

[2016-11-30 01:14] pixelzoom commented on #368
I changed the documentation to:

```Events: search for 'trigger' to find the supported Events```

[2016-11-30 01:18] pixelzoom commented on #378
Cleanup completed in above commit.  Feel free to take a look, if anyone is interested.

I tested with 4 screens (Function Builder), 3 screens (Unit Rates), 2 screens (Beer's Law Lab), and 1 screen (Concentration).  The 1-screen case has no Home screen, but was included for completeness. I verified that the icons sizes and positions are the same in master and a recent dev version.

Closing.

[2016-11-30 01:18] #378 closed

[2016-11-30 02:03] pixelzoom commented on #168
In the commit above, I improved the display formatting (shown below in rutherford-scattering) and documented the display format.  I hope you weren't too attached to the `'+++ ='` separator, because I changed it. Using a common separator between the 4 logical fields make it easier to document the general form, i.e.:

[code]

@samreid feel free to take a peek.

![screenshot_86](https://cloud.githubu

[2016-11-30 02:08] pixelzoom commented on #168
Sure would be nice if the longTimes were sorted, so you could easily see the largest.

[2016-11-30 02:09] pixelzoom commented on #168
Would also be nice if the histogram was divided into groups of 10.  With 30 numbers all mashed together, it's a little difficult to guess which times the numbers go with.

[2016-11-30 02:15] pixelzoom commented on #168
I added sorting of longTimes, in ascending order. @samreid let me know if you think this will compromise the goal of being "minimally invasive".

[2016-11-30 02:25] pixelzoom commented on #168
I noticed that when I turn on traces and the light in rutherford-scattering, I get a large number of values in `longTimes`. That part of the output gets pushed to a new line (see screenshot below) and the largest value may actually be off the right side of the screen.  So I changed `longTimes` to be sorted in descending order, so that the largest values are guaranteed to be visible.

![screenshot_

[2016-11-30 02:32] pixelzoom commented on #168
Function `frameEnded` is structured like this:

[code]

I think we're missing a data point every 60 frames. Shouldn't the `else` block happen on every call to `frameEnded`?

[2016-11-30 02:40] pixelzoom commented on #168
Fixed the above bug in `frameEnded`.  Data for every 60th frame is now recorded.

[2016-11-30 02:41] pixelzoom commented on #168
The histogram length `30` is repeated 3 times, should be a constant.

[2016-11-30 02:43] pixelzoom commented on #168
The first time that `longTimes` is displayed, the first value is `NaN`.

[2016-11-30 02:50] pixelzoom commented on #168
`NaN` was being displayed because `previousFrameStartTime` was undefined for the first frame recorded.  Fixed by skipping the first frame.   That also made me realize that `frameCount` was unnecessary, because `allTimes.length` is always the number of frames recorded.

[2016-11-30 03:02] pixelzoom commented on #168
Think I'll stop here. @samreid let me know if you see anything that I've messed up.

[2016-11-30 03:28] pixelzoom commented on #168
I noticed that the display div has `id="trace"`.  How about something that's more easily associated with this feature, like `id="profiler"` or `id="phetProfiler"` ?

[2016-11-30 06:31] samreid commented on #361
It looks like the variable is called `simulationStarted` and called from line 465 of Sim.js:

[code]

It is a bit of a misnomer since the Sim hasn't yet been `launch`ed.

[2016-11-30 06:32] samreid commented on #361
But perhaps the best way to do this would be to call tandem.addInstance(this,TSim) and let it replace `simInstanceCreated`, if possible.

[2016-11-30 06:33] samreid commented on #37
This is an issue.  Our current workaround is to instruct researchers to not resize the window during playbacks.  What we should do instead is make it so that window resize events do not end up changing the scenery display size during playback.

[2016-11-30 17:05] samreid commented on #348
@ariel-phet and I are meeting to refine the progress indicators, I created "progress-indicator-2" branches to continue.  I need to create an issue branch for that.

[2016-11-30 17:35] samreid commented on #348
- [ ] We should make sure the progress bar fills to the end.

[2016-11-30 17:48] samreid commented on #348
- [ ] PhET-iO logo should have "loading..." removed and be resized to match the width of the main logo.

[2016-11-30 17:54] samreid commented on #348
The QA team should test this on:
Windows + Chrome/Firefox/Edge/IE11
Mac + Chrome/Firefox/Safari
iPad + Mobile Safari

I'll prepare a dev version.

[2016-11-30 17:58] samreid commented on #348
Brand bought itself a branch in the above commit.

[2016-11-30 18:10] samreid commented on #348
ESPB Dev is here:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.2.4-dev.1/energy-skate-park-basics_en.html

[2016-11-30 18:14] samreid commented on #348
Faraday's law is here:
http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.3.7-dev.1/faradays-law_en.html

[2016-11-30 18:18] samreid opened #379 "branch: progress-indicator-2"
See https://github.com/phetsims/joist/issues/348

[2016-11-30 18:19] samreid commented on #348
I created new branch issues.  The "progress-indicator" branches are deprecated, to be used for reference only and can be deleted when this issue is closed.

[2016-11-30 18:34] pixelzoom commented on #356
I don't see anything in CanvasNode that indicates that it's an error to draw outside the bounds.  The only thing even close to that is this comment:

```7 Any regions outside of the canvasBounds will not be guaranteed to be drawn.```

So if it's the client's responsibility to draw only things that are inside the CanvasNode bounds, how is it supposed to draw things that are *partially* in bounds? E

[2016-11-30 18:35] pixelzoom commented on #356
... or should the client be explicitly setting `clipArea` for the CanvasNode?

[2016-11-30 18:39] jonathanolson commented on #356
clipArea should be used if you want the clipping effect.

Maybe error is the wrong phrase, since Scenery can't detect drawing outside. The better phrase would be "drawing anything outside of the canvasBounds results in undefined graphical behavior", which I could better specify than setCanvasBounds' docs:

[2016-11-30 18:39] pixelzoom commented on #343
👍 Closing.

[2016-11-30 18:39] #343 closed

[2016-11-30 18:45] pixelzoom commented on #320
Full Screen feature is now hidden when running with fuzzMouse.  I also changed the name of var `allowPopups`, since FullScreen is not a popup.

Closing.

[2016-11-30 18:45] #320 closed

[2016-11-30 18:54] pixelzoom commented on #356
Thanks for the clarification. Now that I understand, I think the existing doc is fine.

I've created an issue for myself (https://github.com/phetsims/tasks/issues/745) to look for usages of CanvasNode that should have an explicit `clipArea`.

So I think we're done here. Closing.

[2016-11-30 18:54] #356 closed

[2016-12-01 16:47] samreid commented on #64
As with many maintenance issues, this is a tradeoff between building new features/simulations vs improving our foundation. We could easily go >1 years working on TODOs, addressing lint concerns, improving the quality of our code, etc, but at the end of that time we wouldn't have any new simulations.  So we must pick a nice point within this spectrum.

[2016-12-01 16:52] pixelzoom commented on #64
I believe the dev meeting discussion is going to be whether to create a GitHub issue for each TODO, not where to address all the TODOs.

[2016-12-01 17:29] samreid commented on #348
By popular demand: here is the progress indicator in white:

http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.2.4-dev.2/energy-skate-park-basics_en.html

[2016-12-01 17:46] samreid commented on #374
The proposed changes sound straightforward.

[2016-12-01 17:50] ariel-phet commented on #285
I cannot reproduce this bug after trying quite a bit on latest Chrome.

Closing

[2016-12-01 17:50] #285 closed

[2016-12-01 18:06] samreid commented on #348
Blue wins, we'll move forward with that.

[2016-12-01 19:00] pixelzoom commented on #374
(1) Make sure we consider `brand=adapted-from-phet`, since that logo is much wider than 'brand=phet'.
(2) Sim title in the navbar will likely need to shrink. "Reactants, Products and Leftovers" is probably the current worst-case.

[2016-12-01 19:08] samreid commented on #374
We may want to disable the keyboard icon for iPads, it depends on whether.

[2016-12-01 19:37] andrewadare commented on #64
@ariel-phet suggested that we make this the next "chip-away" priority after removing deprecated code (https://github.com/phetsims/chipper/issues/515).

@samreid suggested that we add a lint rule to common code repos in order to make the outstanding TODO items more prominent.

[2016-12-01 19:38] samreid opened #380 "Add an eslint rule that checks that TODOs are marked with an issue in joist"
See https://github.com/phetsims/joist/issues/64

Eventually provide this for scenery, kite, dot as well, when they are getting more issue coverage.

[2016-12-01 19:41] andrewadare commented on #64
Consensus: we will try adding an eslint rule (to emit warnings, not errors). Leaving flagged for dev meeting until it gets implemented.

[2016-12-01 19:41] samreid commented on #380
TODO: this should probably be an issue in chipper.

[2016-12-01 19:42] samreid commented on #380
@pixelzoom suggested we shouldn't have a lint rule.

[2016-12-01 20:47] ariel-phet commented on #359
Addressing @pixelzoom comments in design document

[2016-12-02 21:33] jbphet commented on #332
This change reintroduces the memory leak.  The leak results not because of a lingering reference to the HBox from its parent node, but from the child nodes, and those nodes - the screen icons - are retained.

I verified this by using the test described https://github.com/phetsims/joist/issues/332#issue-147851036.  You can also set a breakpoint in the closure, look at the parent of the first icon,

[2016-12-02 21:37] jbphet commented on #332
If the idea of retaining a reference to the HBox is bothersome, the changes could be kept and you could call `iconsParentNode.children[0].removeAllChildren` in the closure before removing the children from `iconsParentNode`, but I'm not sure that is an improvement over just keeping the reference around.

[2016-12-02 22:20] jessegreenberg commented on #374
We decided that @jessegreenberg will work on the implementation, with JO possibly helping where necessary and doing the review.

@arouinfar would you please take a look at the comments in https://github.com/phetsims/joist/issues/374#issuecomment-264261584 to consider the "adapted from PhET" brand case?

[2016-12-02 22:28] ariel-phet commented on #374
@arouinfar we need the PhET-iO log to work "as is" -- @jessegreenberg has that logo asset.

For the "adapted from PhET brand" if that is not looking so good (since it is so wide) we will plan to adjust that logo (not the navbar implementation). Perhaps you and I can work on a simple treatment, and then we will give to Dave for refinement.

@jessegreenberg can you let both @arouinfar and I know how

[2016-12-02 22:50] jonathanolson commented on #374
The phet-io logo (from brand) is 388x108 pixels in size. Logos look like they are sized by their aspect ratio, so if the height is 108 and width is 388 or less, it should be good.

[2016-12-02 23:06] pixelzoom commented on #332
I'll have a look on Monday.

[2016-12-05 20:19] arouinfar commented on #374
@ariel-phet I can certainly work on mocking up variations using the other PhET logos.

I'm not finding the PhET-iO or "adapted from PhET" logos in our Design Resources - Branding folder. @jessegreenberg do you have the .ai file for these logos? If you email them to me I can store them on Drive.

[2016-12-05 20:21] samreid commented on #374
@arouinfar please look at https://github.com/phetsims/brand/blob/8c6f9c0402d8d445e61b8692c25b78b0ef09f279/phet-io/assets/phet-io-logo.ai

[2016-12-05 20:22] samreid commented on #374
And https://github.com/phetsims/brand/tree/dd452990dd83173fb5e6fe29346de9972b428a86/adapted-from-phet/images (but I suspect "adapted from" text may be added in joist code)

[2016-12-05 20:24] pixelzoom commented on #374
That is indeed the case, since it's translatable.  See joist.AdaptedFromText.

[2016-12-05 20:27] arouinfar commented on #374
Thanks @samreid and @pixelzoom!

[2016-12-06 16:45] pixelzoom commented on #332
I restored the closure variable for the HBox and the call to `HBox.removeAllChildren`, so that icons don't end up keeping a reference to the HBox (their parent). @jbphet please review.

This issue demonstrates what I think is a general problem - the 2-way parent-child references can make it difficult and error-prone to "prune" the scene graph.  I've created https://github.com/phetsims/scenery/issu

[2016-12-06 19:13] samreid commented on #376
Fixed above and removed TODO.  Tested instrumented sim in instance-proxies and uninstrumented sim in require.js.  Lint is passing. @pixelzoom do you want to review?

[2016-12-06 19:25] #376 closed

[2016-12-06 23:47] pixelzoom commented on #368
Looks like these Events would be fairly easy to convert to Emitters. There are a handful of uses:

resized: 4 uses (Dialog, PhetButton, phetio.js)
simulationStarted: not used?
simulationStarted: 1 use (TSim)
frameCompleted: 7 uses (Profiler, NeuronProfiler, phetio.js, TPhETIO)

[2016-12-06 23:51] pixelzoom commented on #368
@samreid `startedSimConstructor` doesn't appear to be used anywhere, looks like something that you added long ago that used to have a corresponding `endedSimConstructor`.  Can this chunk of code be deleted from Sim, line 238?

[code]

[2016-12-06 23:59] samreid commented on #368
It is used by TSim.js

[2016-12-07 00:00] samreid commented on #368
The string mismatch problem should be solved by https://github.com/phetsims/phet-io/issues/886

[2016-12-07 00:22] pixelzoom commented on #368
`startedSimConstructor` is not used by TSim (unless you're referring to some branch). Are you thinking of `simulationStarted`?

[2016-12-07 00:22] pixelzoom commented on #368
@samreid said:

Was this meant for some other issue?

[2016-12-07 05:35] jessegreenberg commented on #374
This is mostly complete, commit coming shortly.  While aqua is running tests here are some screenshots with these changes.  I think the keyboard navigation icon was still under consideration in https://github.com/phetsims/joist/issues/374#issue-191355797 so I used one from FontAwesome for now.

Proposed mockup against navigation bar in sim (mockup on top):
![capture2](https://cloud.githubuserconte

[2016-12-07 05:49] samreid commented on #374
Looking great so far @jessegreenberg!  Will you please align the bottom of the house to the bottom of the screen icon rectangles?  I think it will look a bit nicer.

[2016-12-07 05:52] samreid commented on #368
My apologies for being cryptic--I wanted to jot down enough to jog my memory before I had to take off.  TSim.js has this line:

[code]

and `toEventOnStatic` prepends these started and ended strings like so:

[code]

So when doing a word search for `startedSimConstructor` it **looks** like there are no usages, but it is used by a concatenated string.

[2016-12-07 16:20] pixelzoom commented on #374
Have you tested with `stringTest=long` ?

[2016-12-07 16:24] pixelzoom commented on #374
@samreid asked:

I'm guessing that might be non-trivial to do. The screen labels are scaled to occupy a maximum width, which also affects the height of the labels.  And the icon+label is vertically centered in the navbar.  So the position of the bottom of the screen icons is highly dependent on the labels.

[2016-12-07 16:24] pixelzoom commented on #374
And imo, the home screen icon looks better vertically centered anyway.

[2016-12-07 16:25] pixelzoom commented on #368
Yikes. Why is that necessary?

[2016-12-07 16:33] samreid commented on #368
It is not necessary, which is why we can fix it in https://github.com/phetsims/phet-io/issues/907.  It was my misguided attempt to "factor out" duplicated parts of strings.

[2016-12-07 16:42] pixelzoom commented on #368
Got it. While it's being fixed, should it be changed to an Emitter?

[2016-12-07 16:47] samreid commented on #368
Eventually, yes.  I'm not sure if that will be better to do separately or not.  I'll take a look when I'm there.

[2016-12-07 17:50] ariel-phet commented on #359
@amanda-phet I believe we got to all questions in the last design meeting, if there are any stragglers from this issue, perhaps you @pixelzoom and I can hash them out in this issue or over skype or such?

[2016-12-07 17:53] arouinfar commented on #374
Thanks @jessegreenberg! The worst-case scenario isn't as bad as I expected. I think we can make a few tweaks and avoid a complete overhaul of the "adapted from" logo. I'll work on a mockup, but here's what I have in mind:
* The "adapted from" text could be made 1 or 2 pt smaller. It feels pretty big compared to the other text in the navbar.
* The title looks a bit too small in the worst case scena

[2016-12-07 18:11] samreid commented on #374
I see the point about the top of the house being too close to the top of the navbar, thanks @arouinfar!

[2016-12-07 19:14] arouinfar commented on #374
<img width="1041" alt="screen shot 2016-12-07 at 11 38 28 am" src="https://cloud.githubusercontent.com/assets/8419308/20981377/b5b72dc2-bc71-11e6-94ff-9e493ece41ce.png">

Top: @jessegreenberg's worst-case scenario from https://github.com/phetsims/joist/issues/374#issuecomment-265360377
Middle: worst-case scenario with tweaks suggested in https://github.com/phetsims/joist/issues/374#issuecomment-26

[2016-12-07 19:56] pixelzoom commented on #374
And to ask again... this is all being tested with "stringTest=long", yes?

[2016-12-07 19:57] pixelzoom commented on #374
And to ask again... this is all being tested with `stringTest=double` and `stringTest=long`, yes?

[2016-12-07 20:00] arouinfar commented on #374
If I had access to a string-testable version, I would @pixelzoom. The 2nd mockup in https://github.com/phetsims/joist/issues/374#issuecomment-265543331 is about the best I can do in Illustrator.

[2016-12-07 20:04] arouinfar commented on #374
As it currently stands, I have no idea if/where I can access @jessegreenberg's work on phettest.

[2016-12-07 20:11] jessegreenberg commented on #374
Yes, here are stringTest=long and stringTest=double tests with the layout before the additional changes in https://github.com/phetsims/joist/issues/374#issuecomment-265543331.

![capture9](https://cloud.githubusercontent.com/assets/6396244/20984570/1e304bf2-bc7e-11e6-8d4d-9a0072be5718.PNG)
![capture10](https://cloud.githubusercontent.com/assets/6396244/20984572/1f53f72c-bc7e-11e6-9630-0ba1777da010

[2016-12-07 20:26] pixelzoom commented on #374
Looks great. I asked because the last time I was modifying the navabar, `stringTest` was critical to verifying robustness of the layout.

[2016-12-07 22:25] jessegreenberg commented on #374
Absolutely, ```stringTest``` has caught a few issues with my layout for changes for this issue!

The above commits are the work for this issue thus far, including the list in https://github.com/phetsims/joist/issues/374#issuecomment-265543331.  Here are some examples:

Comparing mockups from @arouinfar (mock ups on top):
![capture1](https://cloud.githubusercontent.com/assets/6396244/20989209/231ae

[2016-12-07 22:31] jessegreenberg commented on #374
@arouinfar @ariel-phet @emily-phet can you please review these?  The button will be hidden (since most sims aren't accessible and there is no content yet for the "Keyboard Help Dialog").  But you should be able to find changes on phettest to review the new layout.

We still need to come up with an icon for this button.

[2016-12-07 23:15] zepumph commented on #374
Sorry about that mumbo jumbo, I accidentally committing some incorrect files. All is well now

[2016-12-07 23:20] emily-phet commented on #374
@jessegreenberg where am I supposed to be looking? I'm a bit confused.

[2016-12-07 23:29] jessegreenberg commented on #374
@emily-phet, the images in https://github.com/phetsims/joist/issues/374#issuecomment-265593015 show what the navigation bar looks like now with the keyboard help button for sims with 5, 3, and 1 screens.

With phettest, @arouinfar can pull the latest version of joist and see the changes directly in a sim, but I am not sure how to set that up.

[2016-12-08 00:00] samreid commented on #103
PhET-iO provides customizability, and save/load for specific simulations (such as Circuit Construction Kit), will be provided by custom logic in the simulation, which is leveraged by PhET-iO for state store/restore.  Closing.

[2016-12-08 00:01] samreid commented on #103
Eventually we should probably have reusable code/components for save/load.  We may arrive there by implementing this for CCK then generalizing.

[2016-12-08 00:50] arouinfar commented on #374
@jessegreenberg the screenshots in https://github.com/phetsims/joist/issues/374#issuecomment-265593015 look good to me. The slight differences between the mockups and your screenshots are errors on my end in trying to approximate the navbar layout.

Unfortunately, I can't take a look at the navbar in context, because common libraries cannot be viewed directly on phettest. Perhaps I can take a look

[2016-12-08 00:50] samreid commented on #144
Yes, our current strategy to use dynamic timesteps when possible seems to work well.

[2016-12-08 00:50] #144 closed

[2016-12-08 00:54] samreid commented on #374
@arouinfar I encourage you to look at this with @jessegreenberg, but also wanted to let you know that after pressing "pull all" on phettest, you can launch any sim to see the changes in that sim.

[2016-12-08 01:12] samreid commented on #175
This feature is now supported by PhET-iO, closing.

[2016-12-08 01:12] #175 closed

[2016-12-08 01:15] arouinfar commented on #374
Thanks for the clarification @samreid! After pulling all, I took a look at FAMB with `?stringTest=double` and the navbar still looks reasonable to me.
<img width="1072" alt="screen shot 2016-12-07 at 6 09 21 pm" src="https://cloud.githubusercontent.com/assets/8419308/20993564/6303ca5e-bca8-11e6-8b75-0e0a9ab6d0d1.png">

I also tried `?stringTest=Beschleunigung` to see how the screen icons would loo

[2016-12-08 01:25] ariel-phet commented on #374
@arouinfar my suggestion for a revised "adapted from PhET"

[2016-12-08 01:34] samreid commented on #183
The same tandem names can be used, and I don't think any 3rd party is yet leveraging the home screen icon APIs, so it would be OK to change.  I'm interested in changing this button implementation because right now the button is a VBox.

[code]

If we coalesce the buttons, a different tandem can be assigned--it wouldn't disrupt PhET-iO clients at this point.

[2016-12-08 01:45] samreid commented on #289
I removed the SettingsDialog in the preceding commits.  As far as I know, we do not need to remove stale keys from babel.  @pixelzoom would you like to review the changes?

[2016-12-08 01:56] samreid commented on #168
Spot testing seems good, I also renamed the dom element ID in the above commit.  @pixelzoom anything else to do here?

[2016-12-08 02:06] samreid commented on #348
Testing completed in https://github.com/phetsims/tasks/issues/744 and we are approved to merge to master.

[2016-12-08 02:43] samreid commented on #348
I merged the 3 branches and generated new development html.

A few things left to do here: https://github.com/phetsims/joist/issues/348#issuecomment-245194269 and I need to delete the remote branches from these repos.

[2016-12-08 02:50] ariel-phet commented on #374
@arouinfar A thought I was having that might simplify the "adapted from" logo a bit. I took the "PhET-iO" logo chopped off the "iO" -- this has the advantage of make our name clear (for those less familiar) and reduces the vertical height of the logo. I feel like without the swoop and the airplane it looks less like it comes directly from us. I also tried the words "adapted from" on top. I think i

[2016-12-08 03:15] samreid opened #381 "Remove progress indicator branches"
From https://github.com/phetsims/joist/issues/348 @samreid needs to delete the 5-6 branches in 2-3 repos.

[2016-12-08 03:36] samreid commented on #361
This could change what @zepumph and I are working on for playback--which detects the "simStarted" message.  I'd like to discuss with @zepumph what the best name for this event is.

[2016-12-08 03:38] samreid commented on #380
I'm fine with this being a manual process, as implied by https://github.com/phetsims/joist/issues/380#issuecomment-264272985, closing.

[2016-12-08 14:55] pixelzoom commented on #168
👍 Closing.

[2016-12-08 14:55] #168 closed

[2016-12-08 16:40] emily-phet commented on #374
@jessegreenberg wrt the the keyboard nav button, the mockups all look good to me.

[2016-12-08 16:57] samreid commented on #380
From https://github.com/phetsims/joist/issues/64#issuecomment-264272842 it looks like we are proceeding:

I may not get to this soon, someone else please feel free to beat me to it.

[2016-12-08 16:58] pixelzoom commented on #289
👍 Closing.

[2016-12-08 16:58] #289 closed

[2016-12-08 17:44] arouinfar commented on #374
@ariel-phet's suggested changes to the logo clean up the navbar quite nicely. Let's take a look after status, and I can send @jessegreenberg the logo asset if it gets the thumbs up.

<img width="1031" alt="screen shot 2016-12-08 at 10 12 52 am" src="https://cloud.githubusercontent.com/assets/8419308/21019767/f09b8e66-bd2e-11e6-8482-136ff133ce27.png">

[2016-12-08 18:09] pixelzoom commented on #368
Related to https://github.com/phetsims/chipper/issues/515... Removing Events from Sim looks like relatively low-hanging fruit. And since these Events are being used by PhET-iO, it seems like it would be good to do this sooner rather than later.  But my priorities are being shifted elsewhere, and I won't have time to do work on this in the foreseeable future.  So unassigning.

[2016-12-08 18:14] jessegreenberg commented on #374
That looks good to me, and it saves us a bit of space.

[2016-12-08 19:20] arouinfar commented on #374
I showed the updated adapted-from-PhET logo to @kathy-phet and she's given it her approval.

@ariel-phet do you have any further tweaks to suggest?

@jessegreenberg how would you prefer the asset? Should I send you the .ai file for just the PhET portion of the logo?

[2016-12-08 19:47] ariel-phet commented on #374
@arouinfar you should ask @kathy-phet if that version should have the registered "R" or not.

I would also do the programming such that the "adapted from" max width is just the width of the logo

[2016-12-08 19:48] kathy-phet commented on #374
yes at the "R".

[2016-12-08 19:53] arouinfar commented on #374
Thanks @kathy-phet @ariel-phet. I'll add the R to the asset I send to @jessegreenberg.

[2016-12-08 23:00] jonathanolson opened #382 "Progress Indicator overlap on small screens"
It seems when the screen is small enough, we get some overlap on the phet-io logo (because the logo is farther down on the screen:
![screen shot 2016-12-08 at 3 59 19 pm](https://cloud.githubusercontent.com/assets/480878/21031173/5d62b210-bd5f-11e6-8c77-7817f9280a9c.png)

[2016-12-09 00:00] samreid commented on #382
I observed this problem as well, but wasn't sure how to address it.  My main concern for fixing this is if things get odd when the screen size is extra large.

[2016-12-09 00:10] samreid commented on #350
Merged, deleted, closing.

[2016-12-09 00:10] #350 closed

[2016-12-09 00:10] samreid commented on #379
Merged, deleted, closing.

[2016-12-09 00:10] #379 closed

[2016-12-09 00:12] samreid commented on #348
Branches deleted, closing.

[2016-12-09 00:12] #348 closed

[2016-12-09 00:13] samreid commented on #381
Branches removed, closing.

[2016-12-09 00:13] #381 closed

[2016-12-09 04:19] samreid commented on #380
In the above commit, I added a rule that checks that Joist TODOs have GitHub issues.  I left it as a Warning for now, since there are some 14 or so issues at the moment.  Once those 14 issues are cleared, we can turn the rule to Error.

[2016-12-09 04:22] samreid commented on #380
Also, if we like this rule, we can add other repos to its whitelist (currently joist-only).

[2016-12-11 05:21] samreid commented on #64
It was implemented in #380, but perhaps we should leave this marked for developer meeting so we can choose a "volunteer" to help address the new lint issues.

[2016-12-11 05:21] samreid commented on #380
This rule is complete, we will discuss #64 in the next developer meeting, and we could discuss this issue too if we want to.  Until then, closing.

[2016-12-11 05:24] samreid commented on #382
Perhaps we can put the entire logo + loading bar in a `<g>`?  We would do this for the PhET brand as well, if we can get it to work.

[2016-12-11 06:01] samreid commented on #368
In the above commits, I used Emitter for resize.  Tested by resizing with dialogs open/closed in Faraday's Law, and tested phet-io mirror input events, and saw the screen resized properly in all 3 cases.

[2016-12-11 06:14] samreid commented on #368
Other events changed to emitters in the above commits.  Sim no longer extends Events.  Tested lint and running Faraday's Law.  All seems well.  `self.barrierRectangle.trigger0( 'endedCallbacksForFired' );` will be handled as part of getting rid of the deprecated Events class or converting phet-io events to use Emitters.  Normally at this point I would reassign to @pixelzoom for review, but I know

[2016-12-11 06:43] samreid commented on #382
@mattpen @jonathanolson or @zepumph can you please advise how to get the logo and progress indicator to scale together, and scale isometrically with the size of the window (as our sims do)?  The document body currently contains these elements:

[code]

[2016-12-11 20:47] samreid commented on #354
Completed as part of #348, closing.

[2016-12-11 20:47] #354 closed

[2016-12-12 00:34] pixelzoom commented on #368
I skimmed the commits and didn't see any obvious problems.

2 documentation issues:

• All of the Emitter definitions need visibly annotations (`@public`?)
• `this.resizedEmitter` and `this.frameStartedEmitter` need to be documented.

After that, I think we're good to close this issue.

[2016-12-12 01:17] samreid commented on #368
I added docs in the above commit, @pixelzoom would you like to take a look?

[2016-12-12 01:24] pixelzoom commented on #368
👍 Closing.

[2016-12-12 01:24] #368 closed

[2016-12-12 20:16] arouinfar commented on #374
@ariel-phet here are three versions of the registered adapted-from-PhET logo. The R symbol is the same size as it normally is. The PhET portion of the logo is a bit smaller in this iteration, so the R is a bit too tight if it is bottom- and right-aligned with the T, like it usually is (top). I think it looks a bit cleaner if the R is moved one pixel further to the right (middle). Alternatively, we

[2016-12-13 00:01] arouinfar commented on #374
Spoke with @ariel-phet, and we've decided to go with the middle option. I've emailed the assets to @jessegreenberg for implementation.

[2016-12-13 16:31] pixelzoom opened #383 ""brand awareness" for the Splash screen"
Love the new animated progress bar on the Splash screen.  But a couple of observations related to "brand awareness":

(1) In requirejs mode, the official PhET logo (brand=phet) is displayed regardless of brand. Not a big deal since this mode is for developers, but would be nice to see the expected logo when testing.

(2) A sim that was built with `--brand=adapted-from-phet` shows no logo on the sp

[2016-12-13 16:36] jonathanolson commented on #382
Wrap with a div, use a CSS transform, and (unfortunately) duplicate code for isometric scaling? Although it's somewhat nice to have the logo larger when it is small, and not huge when the sim is in a large window.

[2016-12-13 16:43] samreid commented on #382
That's a fair point.  Perhaps we should make this part of the design, and just move the progress bar to accommodate?

[2016-12-13 16:44] samreid commented on #382
My inclination is to have the entire sim be scaled (even the splash screen.)

But perhaps it is a good question for @ariel-phet?

[2016-12-13 17:50] ariel-phet commented on #383
@samreid did a few changes sneak in with the addition of the progress bar?

As for (1) it seems that might be an easy fix

As for (2) my expectation is that the splash screen would open with either the custom defined brand or the "adapted from PhET" logo. Is that correct or is the behavior currently just nothing?

[2016-12-13 17:54] ariel-phet commented on #382
@samreid it is seems the scaling everything isometrically (though in some cases not aesthetically perfect) is the most straightforward approach. So lets go with splash screen being scaled.

[2016-12-13 18:50] samreid commented on #64
Today I became volunteered.

[2016-12-13 18:53] samreid commented on #64
In the above commit, I removed todo-should-have-issue rule (set from warning to off).  This will take the pressure off from having to address this quickly.  Please pull chipper.   I will re-enable the rule when the warnings are addressed.

[2016-12-13 21:10] jessegreenberg commented on #374
I updated the adapted from phet logo in the above commits.  Here are a couple screenshots:

![normal](https://cloud.githubusercontent.com/assets/6396244/21159202/8aa6f7b8-c13d-11e6-9dd9-bb0f4e04df34.PNG)

![string-test-long](https://cloud.githubusercontent.com/assets/6396244/21159207/8e15a52a-c13d-11e6-9d14-9e19d626529a.PNG)

@arouinfar can you please review?

[2016-12-13 21:15] arouinfar commented on #374
@jessegreenberg your screenshots look good to me. I'd review on phettest, but it appears to be down.

[2016-12-13 21:19] arouinfar commented on #374
Scratch that, apparently Chrome was due for a hard refresh...

I'm taking a look now.

[2016-12-13 21:28] arouinfar commented on #374
@jessegreenberg still looks good on master!

At one point we had talked about grouping the sim name and the home button into a single click/touch area that would navigate to the home screen. @ariel-phet is this something we still want to do?

[2016-12-13 21:37] ariel-phet commented on #374
@arouinfar no -- I think the devs generally felt best to just keep the home screen icon as its own separate element for now.

[2016-12-13 22:02] arouinfar commented on #374
Sounds good @ariel-phet. Thanks!

[2016-12-13 22:26] jessegreenberg commented on #374
Alright, thanks!  I think we are finished with changes for this issue then.  @jonathanolson would you please review changes?  john-travoltage will be the first sim to use this, so there might be some overlap between this issue and phetsims/john-travoltage#128.

[2016-12-14 16:35] samreid commented on #64
In the above commit, I decided the input listener for the large screen button is working nicely and does not need to be refactored to use ButtonListener, hence I removed that TODO.

[2016-12-14 17:14] samreid opened #384 "Does the keydown event in the phet menu bubble down to menu items?"
This code was spotted in Joist:

[code]

Based on #64 all Joist TODOs will now have issues, like this one.

[2016-12-14 17:16] samreid opened #385 "In Profiler.js, show how much time spent in model vs view, and potentially other subdivisions"
From this TODO in the code:

See https://github.com/phetsims/joist/issues/64

[2016-12-14 17:20] samreid opened #386 "Potential conflict with this.node = ..."
ScreenView.js has this code:

[code]

There are 455 occurrences of this.node across our codebase, so there is the possibility that this.node will conflict.  Should a different name be used?

[2016-12-14 17:33] samreid opened #387 "How should we handle milliseconds -> seconds for dt?"
Sim.js currently exports phet.joist.elapsedTime (in ms) for Tween clients to use, but it sends out notifications in seconds.  Sampling from the system clock gives ms, so this led to the pattern: ms => seconds => ms.  Can this be cleaned up?

[2016-12-14 17:36] samreid opened #388 "Why is element.parentNode null sometimes?"
Why is element.parentNode null sometimes?  Perhaps different for different startup sequences, such as downloaded with Chrome "Save As"?  The code is:

[code]

It would be better not to need a truthy check.

[2016-12-14 17:38] samreid commented on #64
The commit https://github.com/phetsims/chipper/commit/48b774fa2b21d53076ff0cd340928acf25f129dc also turned on the "TODOs require Issues in Joist" lint rule.

Closing.

[2016-12-14 17:38] #64 closed

[2016-12-14 17:48] jessegreenberg commented on #384
It does indeed, I removed the TODO and added a more definitive comment.

[2016-12-14 17:48] #384 closed

[2016-12-14 18:56] jessegreenberg commented on #386
Yes, thanks, I renamed to avoid a possible namespace conflict and removed the TODO.

[2016-12-14 18:56] #386 closed

[2016-12-14 19:56] samreid opened #389 "Progress bar incompatible with iOS Reading List"
When saving a simulation to reading list, then turning on airplane mode, then launching the saved sim, this error appears:

![image](https://cloud.githubusercontent.com/assets/679486/21198436/9cf574fc-c1fc-11e6-877c-6b58680ad554.png)

Note in particular:

TypeError: null is not an object (evaluating 'document.getElementById("progressBarForeground").setAttribute')

This is crashing the application.

[2016-12-14 19:57] samreid commented on #389
My conversation with @phet-steele:

[12/14/16, 12:44:51 PM] Steele Dalton: any idea why this is happening?

TypeError: null is not an object (evaluating 'document.getElementById("progressBarForeground").setAttribute')
[12/14/16, 12:45:01 PM] Sam Reid: how can I reproduce it?
[12/14/16, 12:45:08 PM] Steele Dalton: some context: reading list states of matter rc.1
[12/14/16, 12:45:18 PM] Steele Dalto

[2016-12-14 19:59] samreid commented on #389
I was going to tinker with a states of matter build, but dependencies.json is missing.  Why is dependencies.json missing?

[2016-12-14 20:08] samreid commented on #389
Please see also https://github.com/phetsims/scenery/issues/174 and this code, also in Sim.js

[code]

[2016-12-14 20:17] samreid commented on #389
I committed a proposed workaround above, which fixes the problem on my iPad3 reading list.  Note when testing Mobile Safari is cache-happy, so you may need to clear the cache or trick it by using ?queryStrings.

A more solid long-term fix might be to dynamically create the splash screen and progress bar from JS code, but then Chrome or Safari could get into an odd state where there are two of each

[2016-12-14 23:49] zepumph commented on #382
I'm unsure about how I can help here. I'm not too familiar with scaling. Let me know if you want me to implement anything once we figure it out, or if you need anything at all from me.

[2016-12-15 03:17] samreid commented on #383
It looks like the problem is that my build.json file indicates `{brand:'phet'}` and that value is used when running `grunt generate-development-html`.  If this hypothesis is correct, it seems the correct course of action would be to remove brand from my build.json and rebuild all development html.

[2016-12-15 03:28] samreid commented on #383
Apparently this has been a problem since this feature was introduced about a year ago.

[2016-12-15 03:37] samreid commented on #383
In the preceding commits, the fallback brand in development html is set to "adapted-from-phet".

As documented in https://github.com/phetsims/brand/blob/master/README.md the expectation is for 3rd parties to add their own logo.

@pixelzoom can you please review my commits and comments?

[2016-12-15 03:38] samreid commented on #383
Also, do we want to change sim-development.html to hard-code "adapted-from-phet" so this doesn't happen again?

[2016-12-15 04:29] samreid commented on #382
I tried this:

[code]

with

[code]

And it did not turn out too well.

[2016-12-15 04:33] samreid commented on #382
This has most of the logic we need:

https://developer.amazon.com/public/solutions/platforms/webapps/docs/automatically-scaling-an-element-to-fill-the-screen

[2016-12-15 17:16] pixelzoom commented on #383
Changes reviewed.

@samreid said:

...

No, I don't think we want to hard-code the development html to 'adapted-from-phet'.  It should default to that, but it should also obey the `?brand` query parameter.  For example, for the html files that you revised, I can specify `brand=phet` or `brand=phet-io` and see the expected splash logo.

And until this is fixed somewhere in the build process, this p

[2016-12-15 18:01] samreid commented on #383
I'd be OK with `adapted from PhET` logo to be the splash screen.   @ariel-phet is that OK with you?

@pixelzoom the template sim-development.html currently has this line:
[code]

The ``{[BRAND}}`` gets filled in based on the developer's build.json when `grunt generate-development-html` is run.  If we change sim-development.html (the template) to

[code]

then no matter what is specified in build.j

[2016-12-15 18:10] pixelzoom commented on #383
That sounds correct.

[2016-12-15 18:12] pixelzoom commented on #383
@samreid said:

One problem - that logo has a translated component, "Adapted from PhET".   Imo, we should purge translation from the "adapted" logo.

[2016-12-15 18:58] samreid commented on #383
By "purge translation" did you mean "remove English text" or "prevent i18n of the English text"?

[2016-12-15 19:00] samreid commented on #383
OK I hard coded the 'adapted-from-phet' in the preceding commit and tested that grunt generate-development-html is unchanged.

[2016-12-15 19:34] pixelzoom commented on #383
@samreid asked:

I mean don't translate any portion of the logo, require each logo to be fully contained in an image file. We are currently doing something special for "adapted-from-phet" - we're adding text to the logo image. In PhetButton, line 114:

[code]

[2016-12-15 19:39] samreid commented on #383
@ariel-phet said OK to make the splash screen use the "adapted from phet" and to make it no longer translatable.

[2016-12-16 19:08] samreid commented on #382
This is mostly working:

[code]

My main concerns:
* What if jquery is not available by the time this is called?
* will subsampling lead to inferior looks?
* testing all of the different ways of loading sims.  Chrome  => Save As, iOS reading mode, etc.

[2016-12-16 19:31] zepumph commented on #382
This is a method we use a lot in the website, is this helpful?
[code]

[2016-12-16 20:37] samreid commented on #382
I'm planning to write these few lines without jquery so it's not an issue.

[2016-12-16 20:39] samreid commented on #382
Here's a screen capture of a smallish splash, so we can evaluate how nicely it scales down:

![image](https://cloud.githubusercontent.com/assets/679486/21277716/02db153a-c395-11e6-89d1-4720367cf3c0.png)

[2016-12-16 22:17] samreid opened #390 "Should the AboutDialog be persistent?"
Every time "About..." is pressed, it creates as new AboutDialog:

[code]

This led to issues in a recent phet-io issue in which we had to dispose all the subcomponents of the about dialog when MultiLineText started requiring tandems.

@zepumph and I were wondering if it would be better to make the AboutDialog persistent (created on first display, then hidden & re-shown in subsequent displays) so t

[2016-12-16 22:33] pixelzoom commented on #390
The About dialog certainly shouldn't be _created_ until it's needed.  In general, arguments for making something persistent are: (a) it takes a significant amount of time to create, and (b) it's used repeatedly -- and I doubt that either of those is the case forAbout dialog. So unless there's some huge effort involved, I'm don't think that "so that we don't have to deal with disposing it properly"

[2016-12-16 22:43] jbphet commented on #389
The change seems reasonable.  I'll roll it in to the SOM 1.0 release.  Back to @samreid in case he wants to keep this open for the more elaborate long-term workaround described above or simply close it.

[2016-12-16 23:12] samreid commented on #382
This splash.js is mostly working:

[code]

[2016-12-16 23:20] samreid commented on #382
The PhET-iO logo had the wrong artwork bounds, after fixing that things are looking nice!

![image](https://cloud.githubusercontent.com/assets/679486/21281624/8bd13cc8-c3ab-11e6-9aff-d50330958f0c.png)

Latest splash.js

[code]

[2016-12-17 06:52] samreid commented on #382
We will need to test this new implementation on many platforms, so we will probably need to create branches for chipper and joist.

Other steps to complete before testing:
- [ ] Does this form of scaling produce aliasing/rasterization?  Is there a form of scaling that does not?
- [ ] make sure the body did not already have such a div (if stored from Chrome=>save as or iOS Reading Mode).
- [ ] Clea

[2016-12-17 06:58] samreid commented on #382
I'll need a branch for brand as well, or the phet-io will look like this until merged:

![image](https://cloud.githubusercontent.com/assets/679486/21285055/84e2c8e2-c3eb-11e6-8f98-131608507baf.png)

[2016-12-17 07:07] samreid opened #391 "branch: splash-script"
See https://github.com/phetsims/joist/issues/382

[2016-12-17 07:14] samreid commented on #382
@ariel-phet I thought I'd ping you after identifying the remaining work to make the splash screen resizeable using this approach.  The remaining developer work items are noted in https://github.com/phetsims/joist/issues/382#issuecomment-267747208 and these changes would require exhaustive cross platform testing, including testing in iOS Reading Mode and Chrome Save As.  For the development side of

[2016-12-18 03:09] samreid commented on #390
There is minimal up-front effort involved, and minor "maintenance effort" as new components are added to the AboutDialog.  Thanks for your thoughts, I'll reassign to @zepumph to make sure he has read through these concerns.  @zepumph let me know if you have any questions or comments, and feel free to close.

[2016-12-18 04:04] samreid commented on #374
@jessegreenberg and @ariel-phet: in https://github.com/phetsims/joist/issues/383 we decided to make the "adapted from PhET" logo a single non-translatable image and show it in the splash screen (as well as the navbar).  I was going to proceed with this, but it looks like the AI files don't include the "adapted from" text, perhaps it is still added in Joist.  @ariel-phet and @jessegreenberg how wou

[2016-12-18 04:05] samreid commented on #383
My comment in https://github.com/phetsims/joist/issues/374

[2016-12-18 04:06] samreid commented on #389
This is underway in https://github.com/phetsims/joist/issues/382, we'll address it there:

[2016-12-18 04:06] #389 closed

[2016-12-19 01:20] arouinfar commented on #374
@samreid I have the .ai asset with the "adapted from" text. I will email it to you.

[2016-12-19 15:51] #390 closed

[2016-12-19 18:14] zepumph commented on #361
After working with @samreid on this, we decided that this is still a good name, and we shouldn't rename anything. The simStarted message is still the first event and it is being emitted once all of the screens have been fully initialized. Closing.

[2016-12-19 18:14] #361 closed

[2016-12-19 18:38] jessegreenberg commented on #374
Thanks @arouinfar.  @samreid I could also update the image and assets for 'adapted-from-phet' if you wish.

[2016-12-19 21:00] samreid commented on #374
I'll be starting on this now, and I'll report back if I need assistance, thanks!

[2016-12-19 21:12] samreid commented on #374
Completed above, @jessegreenberg can you please review?

[2016-12-19 21:13] samreid commented on #383
I completed the work in the above commits, and reassigned to @jessegreenberg for review in https://github.com/phetsims/joist/issues/374

@jessegreenberg after you have reviewed the code, please reassign to me if there are issues for me to work on/discuss.  If all seems well, please reassign #383 to @pixelzoom to see if there is anything else left to do.

[2016-12-20 18:02] jessegreenberg commented on #374
Looks great to me, thanks @samreid.  In the above commit I added the dialog that will open from this button.

Assigning back to @jonathanolson for review.

[2016-12-20 18:08] jessegreenberg commented on #383
Changes look good to me @samreid, layout looks good in the navbar and the logo also looks good in the splash screen.  @pixelzoom is there anything else to do for this issue?

[2016-12-20 18:08] pixelzoom commented on #383
Looks good to me. Closing.

[2016-12-20 18:08] #383 closed

[2016-12-20 18:51] ariel-phet commented on #382
@samreid yes, go ahead and proceed, it would be good to finalize this work

[2016-12-21 06:54] samreid commented on #382
@ariel-phet I've finished the work identified in https://github.com/phetsims/joist/issues/382#issuecomment-267747208

The next step is for a code review.  A developer needs to review the changes in the branches for joist, chipper and brand and do basic tests (run generate-development-html and test in requirejs, and test a built sim).  Can you recommend a reviewer?

[2016-12-21 22:40] ariel-phet commented on #382
It seems @jonathanolson would be best suited to this task, assigning him (though it looks like he will not be free until after Xmas)

[2016-12-21 22:41] ariel-phet commented on #382
@samreid do you want to create a review issue and assign it to JO?

[2016-12-22 19:51] samreid opened #392 "Review splash.js and related code"
In https://github.com/phetsims/joist/issues/382 the splash screen was revised to support dynamically resizing.

From https://github.com/phetsims/joist/issues/382#issuecomment-268450661

Please keep in mind that this solution must support Chrome => "Save As..." and iOS Reading Mode, each of which saves part of the DOM.  You'll see code that supports this by checking for the existence of DOM element

[2016-12-22 19:52] samreid commented on #382
Review will happen in https://github.com/phetsims/joist/issues/392.  After that's complete, we can finish with the last checkboxes in https://github.com/phetsims/joist/issues/382#issuecomment-267747208

[2016-12-22 22:23] samreid commented on #382
On hold while we await review.

[2016-12-27 20:57] jonathanolson commented on #392
It wasn't immediately clear how the progress bar was updated (by the ID progressBarForeground, used in Joist).

I'd recommend references in both locations (splash.js and in Sim.js).

There seem to be other IDs that aren't used anywhere else, e.g. 'progressBarBackground', 'progressBar'.

Additionally, is there a place with documentation about the restrictions we need to follow for the "Save As" and

[2016-12-27 22:57] samreid commented on #392
I added docs in the preceding commits.

While developing this, I thought of removing the unused IDs but realized they may come in handy if someone is trying to understand the DOM (say, in the dev tools).  Still, based on your point, I removed the IDs and tested that it works nicely without them.

I don't have a thorough understanding of "Save As" and "Reading Mode", or know where they are document

[2016-12-30 23:43] jbphet commented on #332
The changes in @pixelzoom's commit above look good, and I re-tested to verify that there is no leak when switching between active home screen icons.  Closing.

[2016-12-30 23:43] #332 closed

[2017-01-04 23:42] zepumph opened #393 "Separate MenuItem from PhetMenu into PhetMenuItem.js"
Currently it looks like:
[code]

and many other members added on. This is messy.

[2017-01-04 23:44] zepumph opened #394 "Factor out BarrierRectangle from Sim.js to a new file"
This is to match the TBarrierRectangle, and to make the code easier to maintain.

[2017-01-04 23:46] zepumph opened #395 "Factor out ScreenButton to its own file"
currently screenButtons (large and small) are being created on the spot from VBoxes in HomeScreenView.js. It should be in its own file.

[2017-01-05 06:34] jonathanolson commented on #392
Ok, looks good to me. Thanks!

[2017-01-05 16:54] samreid commented on #392
Thanks @jonathanolson, I'll continue in #382

[2017-01-05 16:54] #392 closed

[2017-01-05 18:21] samreid commented on #382
Remaining work:

- [ ] Review size with @ariel-phet
- [ ] QA testing on multiple platforms.

Questions for testing:
- [ ] Does this make the splash screen take longer to appear?  How much longer?
- [ ] Does this make the splash screen look aliased? How bad is it?

After testing:
- [ ] Regenerate all sim_en.html

[2017-01-05 23:43] samreid commented on #382
@ariel-phet I published http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.3.7-dev.3/faradays-law_en.html which demonstrates the resizing splash screen.  I chose a scaling factor that matched the size on my screen--people that have a bigger screen than me will see a bigger splash logo than before.  People that have a smaller screen than me will see a smaller splash logo than before.  Can

[2017-01-10 18:10] jessegreenberg commented on #58
I don't think this is issue is relevant anymore.

This feature in particular is going to be handled in #41, and whether or not it is off by default will be handled there.  But rendering the accessibility DOM and acesssibility features have not yet shown a negative impact on performance.

[2017-01-10 18:12] samreid commented on #58
The main concern about performance was on iPad, has that been tested?

[2017-01-10 19:01] jessegreenberg commented on #58
For the sims that have accessible content thus far (john-travoltage and balloons-and-static-electricity) we have tested performance on iPads, ```?profiler``` tool shows the same fps with and without current accessibility features.

Moving peer elements to match positions will likely be slower, I will revisit this issue after we investigate continue in phetsims/scenery#41.

[2017-01-10 19:02] samreid commented on #58
Sounds good, thanks!

[2017-01-10 19:02] #58 closed

[2017-01-12 02:07] ariel-phet commented on #382
@samreid looks good to me!

[2017-01-13 19:25] jessegreenberg opened #396 ""Check for Updates..." color doesn't change when sim is out of date"
"Check for Updates..." in the PhET Menu is supposed to turn green when the sim is out of date:

[code]

But that isn't happening:
![capture2](https://cloud.githubusercontent.com/assets/6396244/21942687/4ab701e6-d98b-11e6-8625-b4d90af4cb0a.PNG)

[2017-01-13 19:31] jonathanolson commented on #396
It looks like the PhetMenu isn't reconstructed each time it's opened, so that probably caused the break.

Using a DerivedProperty for the color might be a clean solution, as long as the color is being directly passed as a fill/stroke.

[2017-01-13 21:32] jessegreenberg commented on #396
Good idea @jonathanolson, that seems to work nicely.  Would you mind reviewing?

[2017-01-13 23:07] samreid commented on #382
On hold until the preceding issue is complete.

[2017-01-14 00:56] jonathanolson commented on #396
I was thinking more along the line of my above commit, since you can pass a ```Property<string>``` or ```Property<Color>``` directly to a Node's fill/stroke.

That removes the need for the client-side update listener and disposal.

Additionally, the black default was duplicated, so I removed the one outside the options object handling.

@jessegreenberg can you review my commit above?

[2017-01-17 22:10] arnabp opened #397 "Splash/progress bar stays at 0 for too long on slow connections?"
When testing the latest splash screen demonstration from phetsims/tasks#764 I noticed that at slower speeds, the progress bar doesn't seem to accurately depict the progress of the loading of the sim.

For example, when I throttle the speed of chrome down to 250 kb/s, the splash screen takes 26 seconds to come on, then the loading bar is at 0% for 29 seconds, then the loading bar goes from 0 to 100

[2017-01-17 22:33] ariel-phet commented on #397
@arnabp thanks for the report. The loading bar should step incrementally I would think given the way @samreid has it implemented, so kicking this question to him.

[2017-01-20 16:42] samreid opened #398 "Launching a PhET simulation temporarily triggers GPU even for non-webgl sims"
As observed in https://github.com/phetsims/circuit-construction-kit-dc/issues/11 when launching a PhET simulation in requirejs mode, it forces the system to use High Performance GPU for a few seconds before switching back to Integrated.  I noticed this because sometimes there is a graphical artifact when switching between graphics cards, and can reliably observe this behavior using Activity Monito

[2017-01-23 21:34] BryceAG commented on #397
I have done some testing with the speeds myself, and compared it to the old splash. It seems that at any speed, both with the old and resizing splash, the loading bar doesn't actually show progress incrementally until the last second or so. It also looks like the resizing splash will only show the bar at 0%, ~20%, and full, where as the old splash would go 0, 20, 40, 60, 80, full at the last momen

[2017-01-23 23:16] kathy-phet opened #399 "Inconsistencies of "screens" query parameter"
Amanda and I were discussing today how we should let people know more about the screens query parameter. It's a powerful feature for teachers.

However, as I was writing up this feature for a potential partner, I also realized that we now have inconsistencies in the published simulations.

States of matter uses "?screens=1,2"
Function Builder uses "?screens=1.2"

Seems problematic if we want to ad

[2017-01-23 23:21] jonathanolson commented on #399
IIRC, it was changed because we originally thought commas weren't allowed (so periods were used), but it turned out commas were actually ok.

[2017-01-23 23:22] kathy-phet commented on #399
Is there a benefit to commas over periods?

[2017-01-24 00:34] ariel-phet commented on #399
@kathy-phet commas seem more semantically correct "1.2" looks more like a version number, whereas comma delimited screen numbers look more, well...comma delimited 🥇

[2017-01-24 00:41] ariel-phet commented on #399
@kathy-phet this also might be able to be dealt with via a maintainence releases, if you feel that is warranted, please mark it for dev meeting

[2017-01-24 02:35] kathy-phet commented on #399
Ok, but if I understand it means republishing all HTML sims to make it consistent across them? I don't know how much testing that would involve or if it can use shas and not require testing.

Sent from my iPhone

On Jan 23, 2017, at 5:34 PM, Ariel Paul <notifications@github.com<mailto:notifications@github.com>> wrote:

@kathy-phet<https://github.com/kathy-phet> commas seem more semantically correc

[2017-01-24 03:28] ariel-phet commented on #399
@kathy-phet a maintenance release involves shas and a patch, minimal testing. Not sure if that is possible in this instance or not. Will mark it for dev meeting.

[2017-01-24 06:53] samreid commented on #399
The commit that changed from dots to commas is 7ed7e850872f95c36926c9888c6ef6cff77ceec2 from November 14, 2016.  Any simulation published from master since then likely requires the commas.

Comma seems the preferable delimiter to me (more readable and easier to explain), but we should discuss whether we should add support for both for backward compatibility (and possibly deprecate dots).  Making m

[2017-01-24 06:54] samreid commented on #399
I'm also wondering if some apache-side magic (URL rewriting) could help here.

[2017-01-24 12:34] kathy-phet commented on #399
I don't see the apache side helping on downloaded sims.
Kathy

Sent from my iPhone

On Jan 23, 2017, at 11:54 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm also wondering if some apache-side magic (URL rewriting) could help here.

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/phetsims/j

[2017-01-24 22:35] jonathanolson commented on #399
Is that because of the amount of variations of changes for different sims, based on QueryStringMachine-related changes?

I'd rather do maintenance releases rather than not let sim HTML be cache-able in Varnish so we can conditionally redirect on sim startup.

[2017-01-25 20:49] phet-steele opened #400 "Splash screen loading bar border is not symmetrical"
The left side of the loading bar is just ever so slightly thinner than the right side:

<img width="938" alt="screen shot 2017-01-25 at 1 45 25 pm" src="https://cloud.githubusercontent.com/assets/5863899/22308632/fb7c8d34-e304-11e6-934a-83948a0b4e7d.png">

Seen on macOS 10.12.3 Chrome. For phetsims/tasks/issues/764.

[2017-01-25 20:59] samreid commented on #400
This appears to be an svg aliasing problem.

[2017-01-25 20:59] samreid commented on #400
Upon closer inspection, it seems like the left side is getting clipped, perhaps the svg bounding box isn't wide enough to account for the stroke width.

[2017-01-25 22:24] pixelzoom commented on #373
Reopening. There are problems here.  Assigning to @jonathanolson to correct, since he did the work.

(1) Incorrect documentation in Screen.js:

[code]

The type expression should be `{Property.<Color|string}`.

(2) Failure if the color is specified using a string.

For example, creating a Screen with `backgroundColorProperty: new Property( 'yellow' )` results in a hard failure:

[code]

Color shou

[2017-01-25 22:27] pixelzoom commented on #373
I fixed the type expression, problem (1) above.

[2017-01-25 22:33] pixelzoom commented on #373
I fixed the error in Sim.js in the above commit. This allows me to continue with Unit Rates development.

[2017-01-25 22:37] pixelzoom commented on #373
I searched joist for `backgroundColorProperty`, and didn't see any other problematic code like Sim.js.  But I'm wondering about this Sim.js (line 388):

[code]

Are the `toCSS` calls needed? `LookAndFeel` looks like it supports string colors (would be nice if it were documented), because I see this initialization in its constructor:

[code]

[2017-01-25 22:40] pixelzoom commented on #373
I removed the `toCSS` calls, tested a Screen with both a string and Color value for `backgroundColorProperty`, and didn't see any problems.  That said, I'm not familiar with all of the situations were `LookAndFeel` might be used.  @jonathanolson please review what I've done and test any other situations that I might have missed.

[2017-01-26 02:34] jonathanolson commented on #373
Sorry about missing the documentation update.

I had originally refactored as @samreid described:

instead of

So that `Property<string>` was not supported, although this required wrapping things with `new Color()` in some client usages.

The advantage would be that casts to Color (e.g. Color.toColor) wouldn't be required later, as we would only need one Color instance. Additionally, one instance

[2017-01-26 02:37] jonathanolson commented on #400
Explicit width/height (and ideally namespace ` xmlns='http://www.w3.org/2000/svg' `) in the SVG element itself may fix this. Viewbox could also be used, but is more complicated.

[2017-01-26 17:22] samreid commented on #399
We would like to investigate doing a maintenance release to get old sims to use commas.

[2017-01-26 17:22] samreid commented on #399
I'll investigate this.

[2017-01-26 17:23] samreid commented on #399
@ariel-phet also said it would be good for @samreid to take the maintenance release process for a test drive.

[2017-01-26 17:25] samreid commented on #399
@kathy-phet recommends exhaustive cross-platform testing before we do any maintenance releases.  @samreid will create a tasks issue and assign to @ariel-phet.

[2017-01-26 18:14] samreid commented on #399
I will hold off on investigating patching until testing in the aforementioned issue is complete.

[2017-01-26 18:24] jonathanolson commented on #399
Having me available for the maintenance releases would be helpful.

I also committed an npm prune before the npm update steps for the maintenance release process. It doesn't tend to be updated when other tools are updated, so there's a chance of other out-of-date things.

[2017-01-26 20:02] kathy-phet commented on #399
Just looking into this a bit to see if there are still concerns out there about commas. Generally in all that I saw the recommendation was to avoid commas. They use these kinds of arguments:
1) Users can be wary of URLs with commas because the are not common
2) Autolinking can fail/terminate at a comma (I assume this means like when I make a pdf with a URL or send and email with a URL that is text

[2017-01-27 16:44] samreid commented on #399
It looks like the spec is here:
https://tools.ietf.org/html/rfc3986#section-3.3

query       = *( pchar / "/" / "?" )

where
 pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"

and

      sub-delims  = "!" / "$" / "&" / "'" / "(" / ")"  / "*" / "+" / "," / ";" / "="

Hence the comma is allowed in the query part of the path.

[2017-01-27 16:44] samreid commented on #399
Other information I found in my search:

http://stackoverflow.com/questions/198606/can-i-use-commas-in-a-url

Commas are allowed in the filename part of a URL, but are reserved characters in the domain*, as far as I know. [...]

2.2. Reserved Characters

Many URI include components consisting of or delimited by, certain special characters. These characters are called "reserved", since their usage

[2017-01-27 16:45] samreid commented on #399
@jonathanolson can you please review https://github.com/phetsims/joist/issues/399#issuecomment-275711962 and let me know your thoughts?

[2017-01-27 17:41] samreid commented on #399
I also noticed we have been using commas in the phetioExpressions query parameter for quite some time.  See https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/37#issuecomment-275725822

[2017-01-27 18:05] jonathanolson commented on #399
Spec definitely says commas are allowed.

Possibly, however the usual case would be links with no query parameter?

This only seems to be happening for when the comma is the last character in the URL, and it also happens when a period is the last character in a URL. I checked Skype, Gmail, and a few others.

Additionally, it's still possible to encode the comma and have the url work (e.g. `screens

[2017-01-27 20:00] samreid commented on #399
OK it seems we should proceed with cross-platform testing before performing a huge maintenance release, to confirm that this feature works on our supported platforms (that is, making sure our browsers are implementing the spec properly).

[2017-01-28 16:45] samreid commented on #397
As long as we constrain ourselves to single-html file solutions, we cannot show the progress bar for the sim to be downloading.  Instead, the progress bar shows the progress of the sim as it runs JavaScript code after it has already fully downloaded.  The original task https://github.com/phetsims/joist/issues/68 was split into the two subtasks:
Show animation while HTML is downloading #349
Show pr

[2017-01-28 16:48] samreid commented on #349
The two file + xhr solution may be the standard/simplest way to implement this, but if we constrain ourselves to the single HTML file, there may still be a way to achieve the desired behavior.  I noticed that as the HTML file downloads, the DOM can update.  We know this because HTML in the HTML file renders the splash screen with the empty progress bar.  If we could intersperse HTML fragments thro

[2017-01-29 19:37] jonathanolson commented on #349
It may be possible to have require.js split it for every module.

[2017-01-30 17:37] ariel-phet commented on #349
Seems worth investigating. Opening the sim is definitely part of the user experience, so getting some useful feedback that sim is loading (even if jumpy at slow connections) seems worthwhile.

[2017-01-30 17:38] ariel-phet commented on #349
Marking at low priority, mainly because @samreid has plenty on his plate, but worthy of an initial couple hours of investigation in the next few weeks if possible.

[2017-01-31 01:45] jonathanolson commented on #398
Checks for WebGL support may be doing this?

[2017-01-31 07:32] samreid commented on #349
In the above commits, I interleaved JS and DOM updates between each module.  On Chrome with throttling when I build Function Builder with `grunt --uglify=false --lint=false` and run with "Good 3G" there are about 5 seconds with no updates (screen looks frozen), then about 20 seconds with well-animated fine grained updates (screen gradually fills with asterisks while progress bar jumps around rando

[2017-01-31 07:35] jonathanolson commented on #349
Depends on your server, https://httpd.apache.org/docs/trunk/mod/mod_ratelimit.html for apache?

[2017-01-31 07:56] samreid commented on #349
Thanks @jonathanolson

I uncommented this line in my httpd.conf using `sudo nano /etc/apache2/httpd.conf`
[code]
And added these lines in my Directory:
[code]

and restarted apache with

[code]

And it is nicely throttled.  On the iPhone 5S, I'm now seeing this behavior:

0-37 seconds: screen is frozen with a blank progress bar
37-53 seconds: every 2 seconds or so the screen updates with more aste

[2017-01-31 07:59] samreid commented on #349
Likewise, we should test on Mac Safari and other browsers to see how they behave for incremental rendering.

[2017-01-31 17:44] ariel-phet commented on #397
Commented in #349, unassigning myself

[2017-01-31 22:26] jonathanolson opened #401 "Ordering of model/view steps and Timer/TWEEN"
Currently, Sim.js has the order:

1. Fire input events
2. model.step
3. view.step
4. Timer.step
5. TWEEN.update

This is problematic, since if any code relies on Timer or TWEEN.update, model.step and view.step can't assume all model/view "state changes" have happened.

Say you have some expensive-to-run view code (you want to run it only once per frame) that updates the positions of every model it

[2017-02-01 15:17] samreid commented on #349
Note to self: how much does this extra baggage increase the download size?

[2017-02-01 23:13] pixelzoom commented on #373
@jonathanolson said:

Agreed.  I've done this in my sims and runnables for common-code repos.  Looks like there are 63 remaining occurrences of `backgroundColorProperty: new Property( Color.toColor`.  How do you want to handle refactoring?

[2017-02-02 03:52] jonathanolson commented on #37
@samreid, is there documentation on how to record and play back? I'd like to reproduce and understand so I can fix it.

I was able to record a session with the record wrapper, but the playback wrapper (linked in phetmarks) doesn't seem to exist.

[2017-02-02 04:10] jonathanolson commented on #37
Via @phet-steele, saw the metacog playback code (playback looks nice!)

It looks like this problem should be present if it wasn't wrapped in an iframe.

@samreid or @zepumph, what flags would Sim be able to check to see if it is in "playback" mode? handlePlaybackEvent looks like it's reaching in very directly, so I'm really not sure if there is a status that lets Sim know it's being played back.

[2017-02-02 16:53] samreid commented on #37
By embedding the playback frame inside an iframe, this is no longer a problem.  The size from the recording is set to the playback iframe and the playback iframe doesn't resize otherwise.

Looking in mirror.html, I'm seeing `disableRequestAnimationFrame` as a flag that is currently set for the playback frame.  And in playSession.js, I see `setPlaybackMode` which looks like it sets `phet.joist.play

[2017-02-02 18:15] samreid commented on #401
The reason TWEEN was later in the sequence was that we have primarily used it as a visual sugar for the animation--hence applied it after the model step.  That being said, I don't think anything would break if we update the steps to the order you described.

Another alternative (just brainstorming for completeness): we could have
1. Fire input events
2. Model timer
3. Model tween
4. model.step
5.

[2017-02-02 18:32] jonathanolson commented on #401
If we have separated model/view timers and model/view TWEENs, @samreid above proposal (https://github.com/phetsims/joist/issues/401#issuecomment-277037239) sounds great.

[2017-02-02 18:53] samreid commented on #401
@jonathanolson what about:

Fire input events
Timer.step
model.step
TWEEN.update
view.step

[2017-02-02 20:19] jonathanolson opened #402 "branch: step-order"
For https://github.com/phetsims/joist/issues/401

[2017-02-02 20:20] jonathanolson commented on #401
Done in the step-order branch.

@samreid, can you review?

@jbphet, can you let me know when a good time would be to test some sim behavior, including expression-exchange (that has the tween interactions)?

[2017-02-02 20:47] samreid commented on #397
We'll investigate this in #349, closing.

[2017-02-02 20:47] #397 closed

[2017-02-02 20:50] jonathanolson commented on #374
Usage of the pattern (2 usages):
[code]
can be inlined in the options:
[code]

If KeyboardHelpButton is already being passed the full {Sim}, can it pull out `sim.lookAndFeel.navigationBarFillProperty` on its own?

In KeyboardHelpButton, it's doing a multilink to that handles light/dark:
[code]
This seems duplicated with LookAndFeel code:
[code]
so presumably we should have a BooleanProperty to det

[2017-02-02 20:52] jonathanolson commented on #374
Also leaving myself assigned, as there's further review once confirming that is how the margin is ordered.

[2017-02-02 21:00] samreid commented on #401
All of the logic seems good and the new order is as requested.  A new difference I noticed is that TWEEN used to only run when not on the home screen, now it runs any time.  If all TWEENS are transient, that shouldn't be a significant new problem.

I tested a few sims, including ones with TWEEN and all seems well. I'd recommend this for master.

Also, once in master, I was thinking about this patt

[2017-02-02 21:21] jonathanolson commented on #401
I don't think so, before my change it used to run outside of the home screen:
[code]

Also thought about it, and I'm fine with it. Feel free to make the change if you like it.

[2017-02-02 21:40] jonathanolson commented on #37
Done, can you review?

[2017-02-02 21:41] samreid commented on #37
The code change looks good, thanks!

[2017-02-02 21:41] #37 closed

[2017-02-02 21:50] samreid commented on #401
Thanks for clarifying, you are correct.

[2017-02-02 23:20] jonathanolson commented on #373
@pixelzoom, I believe I hit all the usages above. Can you verify? (Tests are passing).

[2017-02-03 16:50] pixelzoom commented on #373
Looks good, I don't see any that were missed.  Closing.

[2017-02-03 16:50] #373 closed

[2017-02-03 18:42] jbphet commented on #401
I checked out the joist step-order branch and tested the only sim I have that does some TWEEN things in the model, and saw no problems.  I also checked the behavior of TWEEN in the view for Area Builder, Arithmetic, and Gene Expression Essentials and saw no problems.

[2017-02-03 20:39] ariel-phet commented on #399
Testing confirmed in https://github.com/phetsims/tasks/issues/771

@samreid perhaps we should wait until @jonathanolson is back local before discussing the maintenance release.

[2017-02-03 20:40] samreid commented on #399
Sounds good, I'll put it on hold until then.

[2017-02-08 18:44] zepumph commented on #394
@pixelzoom thanks for your help in this. Would you mind looking over this change. Feel free to close it if looks good to you.

[2017-02-08 19:10] zepumph commented on #393
@pixelzoom could you look over this one at your convenience.

[2017-02-08 21:45] zepumph commented on #395
This was much more work than #394 and #393. It involved a lot of logic to manage small vs large screen buttons. After spending a fair amount of time simplifying the duplicated code from the first commit, I think that things look good, but it should definitely be looked into just in case I missed something important. I haven't done a lot of work in joist before. @samreid do you think you can look o

[2017-02-09 16:31] samreid commented on #398
I confirmed this to be a problem even in the sun demo.

[2017-02-09 16:34] samreid commented on #398
Short circuiting scenery/Util.checkWebGLSupport prevents the graphics card switch and artifacts.

[2017-02-09 16:42] samreid commented on #398
It would be good to discuss with @jonathanolson how to address this issue.  I suspect I am not the only one who has their screen flicker and sometimes render incorrectly due to a graphics card switch.  There are several places in the code where WebGL status is checked, but I wonder if those are necessary if the simulation will never try to render anything in WebGL.

[2017-02-09 17:20] pixelzoom commented on #394
I fixed a few things in the above commits, mostly documentation. There was 1 bug fixed in https://github.com/phetsims/joist/commit/7edb289ed9dec736b31d6746087e8f4a495d7632; if you called `BarrierRectangle` constructor without `options`, it would fail at `var tandem = options.tandem;`.  Review the above commits, and let me know if you have any questions.

There is still a latent bug.  If `BarrierRe

[2017-02-09 17:22] samreid commented on #394
Tandems for Joist should be passed through the required arguments.  The tandems will always be available (guaranteed to be created by Sim.js).

[2017-02-09 17:26] pixelzoom commented on #394
Looking at MenuItem, I see:

[code]

Should that pattern be used here too? Or is MenuItem also using the wrong pattern?

[2017-02-09 17:29] pixelzoom commented on #394
BarrierRectangle links to modalNodeStack, so `dispose` needs to be implemented.

[2017-02-09 17:44] pixelzoom commented on #393
I fixed some basic formatting in the above commit, let me know if you have any questions about that. @zepumph you seem to have a tendency to leave multiple blank lines hanging around. Are you using the PhET Style in IDEA, and are you formatting your code?

Other things that need to be addressed:

(1) There is no documentation in the header comment.  The header comment should provide a short descri

[2017-02-09 17:47] pixelzoom commented on #393
I put TODO items in the code for the problems noted in https://github.com/phetsims/joist/issues/393#issuecomment-278717098.

[2017-02-09 17:49] pixelzoom commented on #394
@samreid said:

Disagree in this case. You've now made `BarrierRectangle` available to clients, and I could certainly see how I could use it for the keypad layer in Unit Rates.  So `tandem` should be an option, not a required constructor parameter.

[2017-02-09 18:01] pixelzoom commented on #394
Additional problems noted in the TODO items that I added to code in above commit.

[2017-02-09 18:04] pixelzoom commented on #395
Problems noted in the TODO items added to the code in the above commit. Let me know if you have questions.  These are similar to the problems in #393 and #394, so let me (or @samreid) know if you have questions.

[2017-02-09 22:53] samreid commented on #400
I have replicated the problem in http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.3.7-dev.3/faradays-law_en.html

![image](https://cloud.githubusercontent.com/assets/679486/22806532/d1be8844-eedf-11e6-8403-04627b820e8d.png)

[2017-02-09 22:54] samreid commented on #400
Joist, brand and chipper have branches "splash-script" for this.

[2017-02-09 22:56] samreid commented on #400
Those branches are too stale to work with master.

[2017-02-09 23:04] samreid commented on #400
I merged master to the branches without any hassle.  Here is the div as shown in the chrome dev tools:

![image](https://cloud.githubusercontent.com/assets/679486/22806863/69bde544-eee1-11e6-8ee1-ce9ade79c102.png)

[2017-02-09 23:16] samreid commented on #400
Putting x at 1 instead of 0 seems to solve the problem:

![image](https://cloud.githubusercontent.com/assets/679486/22807205/ff720bf0-eee2-11e6-8eea-55879c8e1eb0.png)

Is it still aligned, or should I subtract off some width?

[2017-02-09 23:34] samreid commented on #400
Here are guides that show how bad the alignment is:

![image](https://cloud.githubusercontent.com/assets/679486/22807235/32529bf2-eee3-11e6-9903-495fe9934853.png)

it would be good to clean that up.

[2017-02-10 01:27] jessegreenberg commented on #380
The eslint rule requires a full github url, but not an issue number reference like #ddd, where d is a digit. Is it OK if the rule allows for both or would we rather have it strictly check for url? Either url or issue number seems acceptable to me.

[2017-02-10 01:35] jessegreenberg commented on #380
The above commit allows both.  @samreid are you OK with this change?

[2017-02-10 03:44] samreid commented on #400
Proposed fix in http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.1-dev.3/energy-skate-park-basics_en.html

[2017-02-10 05:21] samreid commented on #380
In the above commit, I fixed a variable name and fixed the logic for checking matching of a regular expression (indexOf only works if you pass a string parameter).

For testing ESLint rules, you must use `grunt --disable-eslint-cache` or the lint test may not run (if version in cache succeeded).

@jessegreenberg can you please review my commit and let me know if all is well?

[2017-02-10 05:29] samreid commented on #394
I agreed with @pixelzoom's recommendations and would add:

- [ ] Let's try implementing this with Plane instead of Rectangle. This could simplify the API and get rid of the resizing logic in Sim.resize.
- [ ] This default cornerRadius is already 0, so this option override is unnecessary:

[code]

- [ ] For `//TODO #394 implement dispose or document why unlink is unnecessary` currently BarrierRecta

[2017-02-10 05:30] samreid commented on #394
I removed the "priority low" label, but this does not need to be done before next week.

[2017-02-10 05:32] samreid commented on #395
I'd recommend to read through @pixelzoom's review comments as well as the recommendations in #394 (to see if any of them apply here as well), then please reassign to me and @pixelzoom once a 2nd draft is ready.

[2017-02-10 05:45] samreid commented on #349
If we move to a 2-file approach, things become straightforward and simple, and we can probably show fine-grained progress.  We would put all the HTML in one file, all (or most) of the JS in a 2nd file and use this approach:
http://stackoverflow.com/questions/18126406/how-can-i-get-the-progress-of-a-downloading-script

We would probably need to publish 3 artifacts for each simulation:
1. The full s

[2017-02-10 05:56] samreid commented on #349
Here is a StackOverflow thread that discusses the problem and some proposed solutions:
http://stackoverflow.com/questions/18981909/how-to-show-a-running-progress-bar-while-page-is-loading