[2020-04-07 22:03] KatieWoe commented on #624
This is also happening in https://github.com/phetsims/QA/issues/488

[2020-04-08 15:17] chrisklus commented on #624
I figured out why this is happening - the cause of the bug was present before the HomeScreenButton refactor in #601, but it wasn't a bug then because each HomeScreenButton consisted of a small button and a large button, so the input listener behavior was slightly different between then and now.

Aside from the usual input listeners, this additional one handles the case described in the comment:

[

[2020-04-08 18:52] chrisklus commented on #624
@samreid and @jonathanolson looked at this with me and came up with a working solution. We decided to guard touchdown events to eliminate the "double hit"  behavior. Thanks!

Assigning to @pixelzoom to confirm the behavior is as expected and close if so.

[2020-04-08 22:06] zepumph commented on #619
I added one more. Ready to close after spot check.

[2020-04-09 17:58] jonathanolson commented on #608
I'll handle investigating the above merged changes, and whether we can branch to detect cases that are incompatible. (after CT)

[2020-04-09 18:02] pixelzoom commented on #608
Other notes from 4/9/20 dev meeting:  @jonathanolson would prefer `excludeInvisibleChildrenFromBounds: true` as the default. This should be investigated for LayoutBox first, but would extend to Panel, AccordionBox, and other UI components that size themselves then selected to their "content".

[2020-04-09 18:32] pixelzoom commented on #624
I did not review the code changes.  But I did confirm that it's now working correctly on touch and mouse devices.   Closing.

[2020-04-09 18:32] #624 closed

[2020-04-09 18:46] zepumph commented on #610
One design consideration for PhET-iO is to use LayoutBox so that we can get reflow on menu item visibility change.

[2020-04-09 19:49] pixelzoom opened #625 "add options.tandem to ColorProfile"
`ColorProfile` currently set its tandem to "global.colorProfile", and there's no way to change it. That makes it impossibel for a sim to create > 1 ColorProfile, or to locate a ColorProfiel where it needs to live in the tandem hierarchy.  So ColorProfile should be modified to take options.tandem, just like other elements.

There are 15 occurrences of new ColorProfile.  These will need to be examin

[2020-04-09 19:53] pixelzoom commented on #625
Estimate ~1 hour.

[2020-04-10 15:28] chrisklus commented on #619
Looks good, thanks. Closing.

[2020-04-10 15:28] #619 closed

[2020-04-10 17:55] pixelzoom opened #626 "many sims are not using ScreenIcon"
`ScreenIcon` was created so that home screen and navbar icons have a consistent size, and we could easily change that consistent size in one place.  It has existed since 6/29/15, and history can be found in https://github.com/phetsims/joist/issues/259.

Looking at recently-published sims many of them (including Number Line, Wave Interference, and EFAC) are not using `JOIST/ScreenIcon`.  Maybe this

[2020-04-10 19:02] pixelzoom commented on #626
A few of my older sims that pre-dated `ScreenIcon` have been converted in the above commits.

[2020-04-10 19:07] pixelzoom commented on #626
The easiest way to convert existing icons is to wrap them in `ScreenIcon`.

Here's an example were the existing icons are `Image` nodes.

Before:

[code]

After:

[code]

By default, `ScreenIcon` puts a margin around the icon that you provide. Setting `maxIconWidthProportion: 1` and `maxIconHeightProportion: 1` prevents this, so that your icons will look the same after they are wrapped.

[2020-04-10 20:30] jonathanolson commented on #608
The modified changes that were merged to master look good, removing the blocking label. Looking into case detection.

[2020-04-10 21:16] chrisklus commented on #623
Thanks! @zepumph or @samreid please spot check and close if all set. Commit is https://github.com/phetsims/joist/commit/4e442e6241307a16d7bb537dc0843e355c73d303.

[2020-04-10 23:22] jonathanolson commented on #608
The work here should be complete and is passing snapshot comparisons. Is it worth it to examine the cases where we needed to add flags?

[2020-04-11 04:22] samreid commented on #608
Yes, we should review them and make sure they are doing the right thing, but perhaps at lower priority or in a separate issue.  Also, I saw a handful of occurrences of `excludeInvisibleChildrenFromBounds: true`, can they be removed?

[2020-04-11 13:33] pixelzoom commented on #608
Could you please enumerate them, so that responsible devs can review if they choose?

[2020-04-11 13:34] pixelzoom commented on #608
Could you please enumerate them, so that responsible devs can review if they choose?  Or maybe it's as simple as searching for `excludeInvisibleChildrenFromBounds`.  I didn't inspect commits, so it's not clear to me whether you added `excludeInvisibleChildrenFromBounds: true` for these cases.

[2020-04-11 14:26] samreid commented on #608
The default in LayoutBox is now `excludeInvisibleChildrenFromBounds: true`.  You can find cases that opt out of the default behavior by searching for `excludeInvisibleChildrenFromBounds: false`

[2020-04-13 13:41] pixelzoom commented on #608
`excludeInvisibleChildrenFromBounds: true` is now the new default.  Has anyone tested what happens when all children are made invisible?  Does the LayoutBox still have well-defined bounds? Do containers (e.g. Panel, AccordionBox, ComboBoxListBox, buttons) that rely on bounds computations of their "content" still behave correctly?

This is not a corner case.  While setting up a configuration in Stu

[2020-04-13 13:59] samreid commented on #608
It would be best for @jonathanolson to answer these questions, unassigning for now. Please reassign me if I should assist.

[2020-04-13 15:39] jonathanolson commented on #608
It has "empty" bounds, which is what I believe is correct and desired in this case. Ideally we should be able to handle cases like this in parents (as layoutbox/etc. should), although I can now imagine a lot of code that would break in these cases (e.g. manually positioning a layout box)

Panel treats it as zero-size, but AccordionBox and buttons fail out with empty bounds, and it looks like Combo

[2020-04-13 15:49] jonathanolson commented on #608
Applied a bug fix above, where visibility changes were NOT properly forcing childBounds recomputations in some cases on parents.

[2020-04-13 15:49] jonathanolson commented on #608
And assuming this feature is good to keep, we can probably remove the `excludeInvisibleChildrenFromBounds: true` cases set in simulations for layout boxes.

[2020-04-13 16:15] pixelzoom commented on #608
I was curious about how call sites needing `excludeInvisibleChildrenFromBounds: false` were identified, and didn't see it explained anywhere in this issue.  From Slack:

Chris Malley  10:08 AM
How did you identify call sites that needed `excludeInvisibleChildrenFromBounds: false`? Did you inspect all sims for visual discrepancies, or just identify things that failed in CT/aqua? How did you ensure

[2020-04-13 16:36] pixelzoom commented on #608
After the issues in https://github.com/phetsims/joist/issues/608#issuecomment-612953008 are resolved, the next steps is probably to identify other UI components that should optionally resize based on the bounds of visible children, and add `excludeInvisibleChildrenFromBounds` to those components (with default `true`?).

Off the top of my head:

* SCENERY/AlignBox, AlignGroup
* SUN/AccordionBox
* S

[2020-04-13 16:53] pixelzoom commented on #608
In case responsible devs want to inspect uses of `excludeInvisibleChildrenFromBounds: false`....

<details>
<summary>occurrences of  excludeInvisibleChildrenFromBounds: false</summary>

[code]

[2020-04-13 18:37] ariel-phet commented on #626
Considering that this seems pretty quick, it seems reasonable to me to make a chip-away issue. I will mark as high-priority for dev meeting just to see if there are any objections (seems potentially doable by an intern)

[2020-04-14 18:45] jessegreenberg commented on #511
In this issue, an auditor for PDOM content was added for subtrees of Nodes. In https://github.com/phetsims/perennial/issues/138, work has been done to audit the output PDOM content as a whole.

We considered addressing the duplication of assertions in setters and the `accessibleAudit` function by refactoring them out, but realized that several assertions are not the same in both cases. Instead it

[2020-04-15 17:27] chrisklus commented on #599
We may not be able to validate these values using QSM since `screens` is a general QP and its valid values vary sim by sim. However, we can continue to validate in selectScreens.js and then leverage QSM's `addWarning` function to show a dialog in the sim and launch with the default number of screens.

@arouinfar it seems like this should be done sooner rather than later. Sims currently crash with

[2020-04-15 17:35] chrisklus commented on #603
Thanks for the reminder @samreid.

Remaining items from https://github.com/phetsims/joist/issues/603#issuecomment-594270691:

See https://github.com/phetsims/chipper/issues/936.

I addressed the review comments in ScreenSelector code, but there are still TODOs for https://github.com/phetsims/joist/issues/599. I just requested the priority of that issue. I think ScreenSelector.js can be reviewed be

[2020-04-15 20:12] chrisklus opened #627 "Improvements to phet-io general tandem structure"
From 04/09/20 design meeting:

- [x] Uninstrument `nameProperty` for the HomeScreen and single screen sims' screen
- [x] Unify title tandem naming as `titleText`. This includes `homeScreen.view.title` and `general.view.navigationBar.titleTextNode`.
- [x] Refactor `Sim.name` as `Sim.simNameProperty` and instrument it. Also use to update text of titles mention above, and mark those title's `textProp

[2020-04-15 20:30] chrisklus opened #628 "phet-io API file commits for #627"
There will be at least 3 iterations of regenerating every sim's phet-io API files over in #627, so I'm going to commit them to this issue instead so that one is easier to follow and review.

[2020-04-15 20:58] chrisklus opened #629 "Does HomeScreen need a screen name?"
From https://github.com/phetsims/joist/issues/627, `screen.nameProperty` is going to be uninstrumented for the HomeScreen (and possibly single screen sims since their screen names are `null`).

It feels cleanest to do this by checking if `options.name` exists for the screen, but HomeScreen does get passed a name string on line 41 of HomeScreen.js. While `screen.nameProperty` is used for labeling t

[2020-04-15 21:12] zepumph commented on #629
Yes, it is used as the header for that screen:

![image](https://user-images.githubusercontent.com/6856943/79388862-92621480-7f1a-11ea-8c07-5d905a47cefe.png)

I'm not sure I understand all the nuance in trying to omit that, but I feel like using `value === null` as a check on whether or not to instrument is a bit obfuscated. I'd be happy to discuss further if you would like.

[2020-04-15 21:47] chrisklus commented on #629
@zepumph and I just chatted on zoom - some discussion points from the call:

This could have worked out because the designers' request was to essentially not instrument this Property if the name was not visible in the sim (for screens), which is a pattern followed by every screen except the home screen. However, as @zepumph pointed out above, HomeScreen.nameProperty is appropriately being used for

[2020-04-15 21:47] #629 closed

[2020-04-16 00:19] zepumph commented on #621
I followed the above instructions, which were quite helpful. I couldn't run the sim until I merged chipper and joist masters into the branches. Then things worked well! I feel pretty confident that the merge conflicts were resolved correctly, but perhaps you want to take a look at the changes in modulify.js before merging to master.

* I ran `grunt modulify` on the following repos:

<details>

[co

[2020-04-16 05:46] arouinfar commented on #599
This sounds a bit problematic, and we should probably fix it.

Sounds like you have a plan!

[2020-04-16 15:50] chrisklus commented on #627
Here's a working patch for item 3:

<details>

[code]

</details>

Before committing, I wanted to see if designers could consider any alternative names for `simTitleProperty`. While `nameProperty` would be the most idiomatic with how the code is structured for the previous usage of `name`, I think `simNameProperty` would still be a large improvement over `simTitleProperty` (it was mentioned that i

[2020-04-16 17:30] chrisklus commented on #627
We discussed https://github.com/phetsims/joist/issues/627#issuecomment-614736438 in 04/16/20 phet-io meeting and concluded that `nameProperty` was indeed not specific enough, but `simNameProperty` sounds good.

[2020-04-16 21:40] zepumph commented on #627
- [ ] @chrisklus this means that the name Property for each Screen will never have a value of null, is that correct? If so perhaps it would worth investigating making its phetioType `PropertyIO<StringIO>`. I'm unsure how the validation will be in that case though. It may not be worth the effort. If that is changed, we can likely remove the creator in `StudioInstanceCreator`.

[2020-04-16 21:44] zepumph commented on #597
I commented over in https://github.com/phetsims/joist/issues/627#issuecomment-614911233,

but we may be able to simplify the phetioType for the Screen name Property. I put it over there since it is in active development around the same code.

I didn't see a TODO in Screen.js or NavigationBar.js, which one were you talking about?

Sounds great!

Everything else here is looking really good. Thanks f

[2020-04-16 21:49] zepumph commented on #613
I'm going to review this while reviewing  https://github.com/phetsims/joist/issues/603#issuecomment-59427069

[2020-04-16 21:50] zepumph commented on #613
I see now that `?homeScreen=true` will fail on a single screen sim, but not on a multi-screen simulation that only has a single screen specified. This feels good and right to me. Great work @chrisklus. Anything else here?

[2020-04-16 22:04] zepumph commented on #603
Review:

- [ ] Type doc could be better in `selectScreens` for `@returns`:

- [ ] (minor thought) - I think it may be more clear to separate out tests about selectScreens into multiple QUnit tests (not files). Maybe one for valid and one more invalid.

Things are looking really great. No need to pass things back to me if you feel good about the above two comments.

[2020-04-17 00:55] chrisklus commented on #627
@zepumph and I just chatted on slack - since the Property needs null as a possible type too (in phet brand), but the phetioType applies validation regardless of if the Property is instrumented, the type will have to remain as `PropertyIO( NullableIO( StringIO ) )`.

[2020-04-17 01:16] chrisklus commented on #597
Thanks @zepumph. TODO is currently in line 95 of HomeScreenView.js. Basically, I'm wondering if descriptions should support the new Property nature of screen.name (and very soon, sim.name), or if leaving static support is sufficient (by just passing in the initial value of the Properties).

[2020-04-17 02:30] chrisklus commented on #627
All set - @arouinfar please review appearance and behavior in Studio for the checklist items in https://github.com/phetsims/joist/issues/627#issue-600559441.

[2020-04-17 23:24] arouinfar commented on #627
Looks good @chrisklus. I wonder if the documentation for `general.view.navigationBar.titleText.textProperty` and `homeScreen.view.titleText.textProperty` should mention that the sim name is changed via `general.view.simNameProperty`. I don't know if it's critical since the textProperties aren't featured, but the simNameProperty is.

[2020-04-17 23:54] chrisklus commented on #627
Thanks @arouinfar!

Soon those textProperties will be gone and `general.view.simNameProperty` will be there instead as a linked element. It's possible that we'll still have one separate textProperty though, depending on how we handle the `screens=1` case, so I'll keep that in mind.

Assigning to @zepumph or @samreid to review all four commits from this issue as they pertain to the checklist in htt

[2020-04-18 01:30] zepumph commented on #597
Ahh I see thanks!. It would probably be the most robust to link the `innerContent` to the value of the screenProperty, like `screenNameProperty.link( name=> {homeScreenButton.innerContent = name });`

That said, it wouldn't change the behavior currently since there is nothing changing the home screen name. That and home screen's nameProperty is no longer instrumented. Does that sound good?

[2020-04-20 18:53] samreid commented on #626
@jbphet & @ariel-phet recommended proceeding with this as a chip-away issue.  Assigning all developers to chip away at this, then sometime in the future, we will switch the assertions on.

[2020-04-20 22:49] chrisklus commented on #603
Right now they are all general to be usable for `selectScreensTests` too, but I'm unfamiliar with what our convention is for that. Would it be better to write the docs according to how they are used for a sim, even though the tests don't pass in or get return values as type `Screen`?

[2020-04-21 00:02] zepumph commented on #603
What about

`{Screen[]|Object[]} - Object[] only to support tests`

or
`{Screen[]} - duck-typed for tests`

Not sure which is better.

[2020-04-21 15:36] chrisklus commented on #603
Looks great, thank you. Committed above - closing.

[2020-04-21 15:36] #603 closed

[2020-04-21 15:39] chrisklus commented on #603
Looks great, thank you. Committed above - closing.

[2020-04-22 13:00] samreid commented on #627
`simNameProperty` is described as:

[code]

However, other code checks for its existence like so:

[code]

Can it really be falsy?  If not, this logic should be simplified.  If so, that should be documented and the type should probably be changed.

For the documentation of Screen.nameProperty, add documentation about when it is null.

[code]

Also, the sim "name" string seems like a model thing in

[2020-04-22 22:53] chrisklus commented on #597
Cool, thanks. I tested and committed that above.

HomeScreenButton is the sim-specific screen buttons on the home screen that have instrumented screen names, so your solution above sounds great. Ready to close here?

[2020-04-22 23:48] chrisklus commented on #627
That code is inside a multilink, so its value will be falsy if phet-io was used to change the string to `''`.  The empty string is a valid value for `Property.<string>`, so the type doc seems reasonable to me. I updated the comment in that usage to clarify, let me know if you think more is needed here. In Studio you can play around with the values of the sim name and screen name for a multiscreen

[2020-04-23 00:07] arouinfar commented on #627
I'm not sure I completely follow. Is the proposal that the `simNameProperty` should be moved to the model? This seems a bit incongruous the various `titleText` elements in the view.

[2020-04-23 19:15] samreid commented on #621
I mentioned I would work in this within the next couple of business days.  Bumping priority.

[2020-04-24 15:15] samreid commented on #627
From a programming perspective, the `simName` is a data-oriented model value, and the `titleText` is a view of that model value.  We are free to put that data where we wish, but I thought it would match our existing patterns and conventions to put `simNameProperty` in the model, unless we decided this is an exception to our rule.

@chrisklus the changes look good, thanks!

[2020-04-24 16:29] samreid commented on #621
That is the terminology used in grunt file.recurse, https://gruntjs.com/api/grunt.file#grunt.file.recurse. Should we do something else?

[2020-04-24 16:39] chrisklus commented on #627
Thanks @samreid!

I'll add that when the `textProperty` of `homeScreen.view.titleText` is a linked element, it also would match our conventions for that to link back to the model. It doesn't make any difference on the code end though, let me know what your preference is @arouinfar.

[2020-04-24 16:58] samreid commented on #621
I addressed the review issues, aside from one which I commented on in a prior comment.  I merged chipper and joist to master and ran grunt modulify on everything.  Local aqua seems OK and I tested natural-selection in studio.  @zepumph can you please check the changes, mostly in SimLauncher.js and modulify.js?

[2020-04-24 17:57] arouinfar commented on #627
Thank you for the explanation @samreid. I think it makes sense for the sim name to be in the model; no need to go against convention.

[2020-04-27 13:52] samreid commented on #621
I noticed balloons and static electricity qunit tests are failing CT:

[code]

[2020-04-27 23:30] chrisklus commented on #627
Sounds good, thanks @arouinfar. I pushed a simple change above and CT looks good, closing.

[2020-04-27 23:30] #627 closed

[2020-04-27 23:31] chrisklus commented on #628
https://github.com/phetsims/joist/issues/627 is closed, closing.

[2020-04-27 23:31] #628 closed

[2020-04-28 23:49] zepumph opened #630 "SimLauncher should be an es6 module singleton"
From https://github.com/phetsims/joist/issues/621

Since SimLauncher now holds state, I think it is a bit more idiomatic to make SimLauncher a singleton, and export it as a lowercase `simLauncher`, which is instantiated with the new operator.

This would mean a change to all sims. @samreid what do you think?

[2020-04-28 23:57] zepumph commented on #621
Nope!

I think that the closure you made called `initializeDynamicImports` is better than having them at the bottom, even though it is weird.

I made https://github.com/phetsims/joist/issues/630 for a refactor of SimLauncher into a singleton

I made https://github.com/phetsims/balloons-and-static-electricity/issues/466 for investigating the BASE issue. Even if it turns out to be general. I still t

[2020-04-29 17:31] terracoda commented on #492
Un-assigning myself from this issue. Please re-assign when needed.

[2020-04-30 19:21] Denz1994 commented on #608
From dev meeting on 04/30/20:

Regarding https://github.com/phetsims/joist/issues/608#issuecomment-612953008
If an accordion box content doesn’t exist don’t show anything and have empty bounds. We shouldn’t have restrictions on setting an object the left of another component. @jonathanolson Will proceed and let us know how it goes.

[2020-05-01 19:46] zepumph commented on #591
I created https://github.com/phetsims/chipper/issues/942. Closing

[2020-05-01 19:46] #591 closed

[2020-05-05 22:08] pixelzoom opened #631 "PhetioObject call to sim.runOnNextFrame fails when sim doesn't exist"
In https://github.com/phetsims/joist/commit/eff01ed11b014d76e4281c6b4d69e47044f7a313, @samreid and I added `Sim.runOnNextFrame` to address performance issues in `PhetioObject.dispose`, see https://github.com/phetsims/natural-selection/issues/61.   Here's its current usage in `PhetioObject.dispose`:

[code]

@jonathanolson reported that this breaks cases where Nodes are created before a Sim exists

[2020-05-05 22:16] pixelzoom commented on #631
Workaround pushed.  @samreid please review and decide (for the purposes of PhET-iO) whether this workaround is a solution, or whether something else is needed here.

[2020-05-05 22:21] samreid commented on #631
This workaround seems like it has the opportunity to miss assertions for disposes that happen before joist.sim is assigned.  Perhaps we should bail on this and use axon timer.setTimeout instead.  Or add a this interface to axon timer.  @pixelzoom what do you think?

[2020-05-05 23:43] jonathanolson commented on #608
Aqua tests are passing after I've made positional modifiers no-op on invalid bounds, AND adjusted Panel/AccordionBox to themselves have empty bounds when their contents bounds are empty.

Tagging for dev meeting for further discussion.

[2020-05-06 00:18] pixelzoom commented on #631
I don't honestly know what the correct solution is here, and haven't reviewed the uses beyond PhetioObject.  Using global `phet.axon.timer` will likely run into similar "undefined" issues, and recall that we experienced circular dependency problems when trying to import timer.js.

[2020-05-06 16:53] samreid commented on #630
It seems to me that SimLauncher should be a `class` and have an instance returned.  Not sure if we should double check that with @pixelzoom or @jonathanolson.  Also, I won't have time to work on that soon.  @zepumph how do you want to proceed?

[2020-05-06 16:53] samreid commented on #621
Thanks, I visited the 2 issues mentioned above.  Closing.

[2020-05-06 16:53] #621 closed

[2020-05-06 17:42] pixelzoom commented on #630
@samreid Are you suggesting to use the Singleton pattern, something like this?

[code]

[2020-05-06 17:47] samreid commented on #630
Yes.

[2020-05-06 20:03] zepumph commented on #597
Looks great thanks!

@jessegreenberg, please look at https://github.com/phetsims/joist/commit/aafe1aa56a88c11158e383bc7ed7bea540710caf.

As a convention, do you think that the initial `innerContent` should be kept in options, even though the link call really handles the description? I am inclined slightly towards removing it from options. On one side it is a bit clearer to see that the Node has it

[2020-05-07 20:24] zepumph commented on #630
Implemented above. @samreid please spot check. It involved re-running `grunt modulify` on every sim repo, and so I found a few places where img data was changed, but I brought it along in these commits because it was too prevalent to try to revert just the image changes. Does that mean that people aren't running grunt modulify along with image file changes? Should be make a new issue or mark that

[2020-05-07 22:58] zepumph commented on #630
REpeating https://github.com/phetsims/joist/issues/630#issuecomment-625478118 because it was hidden:

I also found a few more, that for some reason didn't get modulified and were showing up in CT.

[2020-05-08 16:20] zepumph commented on #630
CT is clear for this issue now.

[2020-05-14 01:14] jessegreenberg commented on #626
I got sims I am responsible for and the scenery-phet and sun demos. Here is a list of whats left:

- [ ] area-builder
- [ ] area-model-algebra
- [ ] area-model-introduction
- [ ] area-model-multiplication
- [ ] arithmetic
- [ ] balancing-act
- [ ] bending-light
- [ ] blast
- [ ] build-a-fraction
- [ ] build-an-atom
- [ ] circuit-construction-kit-ac
- [ ] circuit-construction-kit-black-box-study
-

[2020-05-14 01:16] jessegreenberg commented on #626
@pixelzoom do you recall why `maxIconWidthProportion` and `maxIconHeightProportion` default to 0.85?  It seems like 1 would generally be the desired value.

[2020-05-14 01:22] pixelzoom commented on #626
The original intent was to create an icon, pass it to ScreenIcon, and let ScreenIcon put it on a background with a margin around it.  So the 0.85 was what we decided on for a standard margin.  The icons that we're retrofitting have the background and margin built into them, so that's why we're using 1.

[2020-05-14 18:36] pixelzoom commented on #608
5/14/2020 dev meeting:

This is looking good. We will address more containers/layouts as they come up.

Closing.

[2020-05-14 18:36] #608 closed

[2020-05-18 23:34] chrisklus commented on #613
All set, thank you. Closing.

[2020-05-18 23:34] #613 closed

[2020-05-19 00:42] chrisklus commented on #599
working patch:

<details>

[code]

</details>

[2020-05-19 02:41] pixelzoom commented on #593
I have this working in Natural Selection, see https://github.com/phetsims/natural-selection/issues/9#issuecomment-630543721.   I have no plans to do additional work on this in the near future, so unassigning myself.

[2020-05-19 03:44] pixelzoom opened #632 "QueryParametersWarningDialog does not close when you click outside of it"
The "Invalid Query Parameters" dialog does not close when you click outside of it.  The only way to close it is to click on the 'X' close button.  That's not how other PhET dialogs behave (e.g. About  dialog).

@chrisklus if you might know where this needs to be fixed, would you mind?  Otherwise assign back to me and I'll poke around.  The problem is somewhere in QueryParametersWarningDialog.js, I

[2020-05-19 16:03] chrisklus commented on #593
Likewise - this feature is working in Energy Forms and Changes. @pixelzoom should we close this issue and open a new one in the future if we need to build it out more?

[2020-05-19 16:36] pixelzoom commented on #593
Sounds good to me @chrisklus. Closing.

[2020-05-19 16:47] chrisklus commented on #632
Good catch @pixelzoom, thanks. I didn't notice any relevant differences in QueryParametersWarningDialog compared to AboutDialog or OopsDialog, but it looks like I cut out some of the show/hide work of Dialog.js by directly using showPopup/hidePopup in Sim.js. Using show/hide from Dialog instead seems to have fixed the problem.

@pixelzoom please review and close if all looks good.

[2020-05-19 17:09] pixelzoom commented on #632
Looks good, thanks! Closing.

[2020-05-19 17:09] #632 closed

[2020-05-19 19:00] chrisklus commented on #599
Implemented above. Note that I ran into one gotcha; not all of the validation for `?screens` happens in selectScreens.js - there's also an `isValidValue` function as part of its schema in initialize-globals.js. Since `screens` is now marked as public, it's possible that its value has already been reverted to its default of `null` by the time it gets to selectScreens.js. I added a comment to explai

[2020-05-19 19:01] chrisklus commented on #614
From working on https://github.com/phetsims/joist/issues/599:

Aside from the reasons @samreid mentioned above, it's not sufficient to just check if the value is `null` because QueryStringMachine is doing some validation on the value of `screens` (before the sim-specific validation happens at the place of this review comment in selectScreens.js). Since `screens` was marked as public in https://git

[2020-05-19 19:01] #614 closed

[2020-05-19 22:25] zepumph commented on #626
My sims have been completed above. I also did whatever common code repos I saw in the list (vibe and tambo).

Note phet-io-test-sim and vibe didn't have any usages as far as I saw. I checked them off.

[2020-05-20 19:37] pixelzoom commented on #599
@chrisklus and I reviewed this via Zoom, and made one change above.  This is all looking good for the `screens` query parameter.

There are still some TODO items related to this issue in selectScreens.js, and the `initialScreen` and `homeScreen` query parameters (which are also public) seems like they should be handled here too.  Back to @chrisklus.

[2020-05-20 21:42] zepumph commented on #631
Over in https://github.com/phetsims/phet-io/issues/1659, we decided to offload this call from sim, to `timer` which always exists. The PhetioObject usage now calls on `timer.runOnNextFrame`. Closing. Please reopen if there is anything else to discuss.

[2020-05-20 21:42] #631 closed

[2020-05-20 21:45] zepumph opened #633 "AboutDialog doesn't dispose its link texts"
When launching SOM in studio, this resulted in the following error:

[code]

Discovered while working on https://github.com/phetsims/states-of-matter/issues/287

[2020-05-20 22:44] zepumph opened #634 "Dialogs should be phetioState:true"
From https://github.com/phetsims/phet-io/issues/1663, it made little sense to have Dialogs be phetioState false when they have potentially stateful children. This gives the possibility to make the state engine quite a bit simpler, and was easy to do for AboutDialog over (in https://github.com/phetsims/sun/commit/5dcd04e209f5849900025be28ccea096fa218661 and https://github.com/phetsims/joist/commit/

[2020-05-20 22:52] zepumph commented on #634
I found that the OptionsDialog could not easily be made to support state, because it has a `createContent` function that cannot be created and destroyed generally.

We have gotten this far keeping OptionsDialog out of state, so I think we can likely convince ourselves that it will be alright to have their children be unstateful until we need to change things.

[2020-05-20 23:04] zepumph commented on #633
Implemented dispose above.

[2020-05-20 23:04] #633 closed

[2020-05-20 23:16] zepumph commented on #634
I have changed my mind since 16 minutes ago. OptionsDialog has supported state up until this point without actually looking like it has. `tryToCreatorAncestor` has back-doored around all of the structure we have set up to make state more explicit.

Commit coming soon, but we should be better supporting options dialogs for state, since we already are supporting them.

[2020-05-21 00:18] zepumph commented on #634
In the above commits I added support for OptionsDialog state even when tryToCreateAncestor wasn't recursive.

Changes:
* I made sure that OptionsDialog content supported dispose correctly. This fixed assertions when the dialog is disposed and then reconstituted when setting state.
* I made sure content was getting its tandem from the argument. This made sure that the phetioID was underneath `optio

[2020-05-21 20:50] chrisklus commented on #599
Thanks @pixelzoom - we chatted on zoom and I mentioned that I forgot to bring up earlier that I was holding off on finishing `homeScreen` and `initialScreen` because there was no way to get the default value of their schemas (will eventually be possible from https://github.com/phetsims/chipper/issues/936). This was not a problem for `screens` because the default value is all of the sim's possible

[2020-05-21 21:55] samreid commented on #163
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 21:55] samreid commented on #255
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 21:55] samreid commented on #293
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 21:55] samreid commented on #424
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 21:55] samreid commented on #593
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 22:23] pixelzoom commented on #593
I see 1 TODO, in QueryStringMachine.js:

[code]

@chrisklus I'm unfamiliar with this, could you handle it?

[2020-05-22 01:10] pixelzoom commented on #424
The report says "TODOs" plural, but I only found 1 TODO, in MOTHA, deleted in the above commit.   phetsims/chipper#946 doesn't provide any clear instructions on how to test this, so closing.

[2020-05-22 01:10] #424 closed

[2020-05-22 01:40] pixelzoom commented on #599
This defaultValue parameter is suspicious.   If we really want to revert to the default value, QSM should handle that based on key, and we shouldn't be providing a value.   As is, I can provide any value for `defaultValue`, it will still be identified as "Reverting to default value", and the warning dialog will then be in error too.  I also don't see code that actually reverts to `defaultValue` --

[2020-05-22 02:05] zepumph commented on #634
I don't see any issues in CT. Closing

[2020-05-22 02:05] #634 closed

[2020-05-22 03:50] chrisklus commented on #599
Oh right, it's separate - see line 80 in QueryStringMachine.js:

[code]

When QueryStringMachine leverages `addWarning` during its own validation, it does revert to the default value. And I think that's the behavior what we want for the simpler cases that don't require leveraging `addWarning` in sim code.

I see how the separation of the "resetting to default" message from the *actual* resetting i

[2020-05-22 20:47] pixelzoom commented on #599
Change to `QueryStringMachine.addWarning` and call sites look great. Back to @chrisklus.

[2020-05-26 23:42] chrisklus commented on #599
Thanks @pixelzoom, closing.

[2020-05-26 23:42] #599 closed

[2020-05-27 18:14] chrisklus commented on #626
I did my sims in the above commits.

[2020-05-27 23:11] pixelzoom opened #635 "change wording of "Invalid Query Parameters" dialog"
Sometimes query parameters are interdependent, and we can't tell which one is invalid.  In cases like that, we don't infer intent, and report all of the dependent query parameter as invalid.  See for example https://github.com/phetsims/natural-selection/issues/9:

![image](https://user-images.githubusercontent.com/7852916/82368305-73034f00-99d2-11ea-892c-b841badecd3a.png)

In https://github.com/ph

[2020-05-28 04:00] samreid commented on #630
I reviewed the changes in SimLauncher and they looks great (both the ES6 class and singleton).  I added a PSA to the dev meeting agenda.  Thanks @zepumph!  Closing.

[2020-05-28 04:00] #630 closed

[2020-05-28 15:38] amanda-phet commented on #635
Yes

This gives me pause. This could be confusing in the case you mentioned, but also if every query parameter the user decided to use was wrong (and therefore listed), they might think we just list all in the dialog, not just the incorrect ones. I'm having a hard time even describing this case, but hopefully that makes sense.

I don't have a strong preference for either the current wording or the

[2020-05-28 18:58] mattpen commented on #586
Dev Meeting: @pixelzoom and @SaurabhTotey will take a look and report back at the next dev meeting.

[2020-05-28 20:13] pixelzoom commented on #635
5/28/2020 NS design meeting @amanda-phet @ariel-phet @kathy-phet

I will change to "One or more of these ... "

[2020-05-28 21:54] pixelzoom commented on #635
Revised in the above commit.  Lines were getting a bit long, so I also adjusted the line breaks. Example screenshot below from Natural Selection.  @ariel-phet please review. If this looks OK to you, feel free to close.

<img width="738" alt="screenshot_357" src="https://user-images.githubusercontent.com/3046552/83197720-2b2fa680-a0fb-11ea-87f1-654aee050669.png">

[2020-05-29 01:36] ariel-phet commented on #635
Looks good.

[2020-05-29 01:36] #635 closed

[2020-05-29 04:44] samreid commented on #626
I addressed several repos.  I didn't see any occurrences in circuit-construction-kit-common or under-pressure, so I wasn't sure if I was searching in the wrong way, or if those didn't need changes.

[2020-06-03 01:21] Denz1994 commented on #626
I finished my sims from above.

[2020-06-03 22:53] pixelzoom commented on #626
Shall we set a deadline for adding the assertion to check this? I'm concerned that we've done a bunch of work to address this, but new cases will be introduced.   @jbphet @jessegreenberg when do you think you can complete your repos?

[2020-06-03 23:22] jessegreenberg commented on #626
Sorry, mine were done in https://github.com/phetsims/joist/issues/626#issuecomment-628328164 I just forgot to check off rutherford-scattering.

[2020-06-04 15:13] pixelzoom commented on #586
@SaurabhTotey sorry I haven't gotten in touch with you about this. I've been busy with other higher-priority issues.

[2020-06-09 23:39] jbphet commented on #626
I've finished the sims assigned to me, will check CT tomorrow morn to see if it's causing any failures.

[2020-06-10 15:43] KatieWoe opened #636 "CT homeScreenIcon and navigationBarIcon"
Several sims showing errors like:
[code]
or:
[code]

[2020-06-10 17:04] #636 closed, assigned to jbphet

[2020-06-12 05:11] samreid commented on #623
That commit looks good to me, thanks.  Closing.

[2020-06-12 05:11] #623 closed

[2020-06-12 05:12] samreid commented on #604
This is an API breaking change of an important feature, and seems like it should have higher priority.

[2020-06-16 15:43] chrisklus commented on #604
This was implemented as the second item of https://github.com/phetsims/joist/issues/627#issue-600559441. Closing.

[2020-06-16 15:43] #604 closed

[2020-06-16 21:53] samreid commented on #600
I used Natural Selection to test changing the title in studio, and changing the large and small homescreen icon text.  All worked as expected.  The only thing I noticed is that the simulation name is under general.model but the screen name is just under screen (not under screen.model).  @chrisklus @zepumph is this by design?

[2020-06-18 19:21] chrisklus commented on #626
from 06/18/20 dev meeting:

Thanks all, looks like we're ready to close!

[2020-06-18 19:21] #626 closed

[2020-06-19 01:07] zepumph commented on #600
That is a question for @chrisklus, who was much more involved in this round of joist design.

[2020-06-22 22:34] chrisklus commented on #600
The screen name was converted to a Property before the sim name. If I remember correctly, we put the screen name outside of model or view because it seemed most natural there, and the precedent was already set with activeProperty. When we converted the sim name to a Property, everything in general was nested under into model, view, or controller, so we picked model.

I'd be fine with moving screen

[2020-06-23 14:48] samreid commented on #600
Both moves sounds like a good idea to me, but will need to be reviewed and confirmed at a PhET-iO meeting with designers.  Let's schedule for Thursday.

[2020-06-25 17:28] zepumph commented on #600
After discussing the placement of Screen.nameProperty and Screen.activeProperty in the studio tree, we think it should stay in the same place. It is clearer that the `nameProperty` is nested directly under the screen, if it HAD to be under the `model`, then it would likely be needing a rename to something like `screenNameProperty`, but that feels like a unhelpful step. We also noted that Screen.js

[2020-07-07 23:35] jbphet opened #637 "Add sound for PhetMenu"
I pointed out today in the 7/7/2020 sound design meeting for Ratio & Proportion that the PhET menu button doesn't produce any sound.  We decided to add the generic button sound for now, review next week, and go from there.

[2020-07-09 16:52] pixelzoom commented on #600
Reopening.

This was added to HomeScreenView.js by @zepumph in https://github.com/phetsims/joist/commit/41826bec1881d460551e4062da2b3a025f43799a:

[code]

This is a potential infinite loop -- when `centerX` changes, it causes `bounds` to change.  The solution is to observer `titleText.localBoundsProperty`.

This block sim publication, because it affects all sims.

[2020-07-09 18:18] zepumph commented on #600
Thanks for the heads up. The nuance of bounds vs localBounds is often lost on me. Please review and feel free to close.

[2020-07-09 18:25] pixelzoom commented on #600
👍 Closing.

[2020-07-09 18:25] #600 closed

[2020-07-10 21:37] pixelzoom commented on #586
We suspect that this may be the cause (or related to) incorrect scaling of the About dialog in https://github.com/phetsims/ph-scale/issues/168.   So labeling this issue as "block publication".

This issue requires a bigger commitment than I've had time for.  So assigning to @ariel-phet for reassignment.  I recommend tracking down whoever last worked on Dialog scaling and have them work on addressi

[2020-07-13 16:49] pixelzoom opened #638 "do not explicitly set layoutBounds to default value"
Related to https://github.com/phetsims/joist/issues/542, and discussed with @ariel-phet while investigating a workaround for https://github.com/phetsims/ph-scale/issues/168.

The default layoutBounds are defined in ScreenView.js:

`const DEFAULT_LAYOUT_BOUNDS = new Bounds2( 0, 0, 1024, 618 );`

@ariel-phet and I were trying to identify which sims use non-default layoutBounds. The straightforward w

[2020-07-13 17:04] pixelzoom opened #639 "incorrect scaling of AboutDialog"
Reported in https://github.com/phetsims/ph-scale/issues/168. Possibly related to https://github.com/phetsims/joist/issues/586.

AboutDialog scaling is incorrect.  Unclear whether this issue is specific to AboutDialog, or is a more general problem with Dialog scaling.  There are 2 main problems:

(1) On non-Home screens, long credits can result in the About dialog overlapping the navigation bar, an

[2020-07-13 17:08] pixelzoom commented on #639
@ariel-phet asked me to apply the scaling workaround from #586 to AboutDialog.  I noted that this would result in a smaller About dialog in all sims, as well as the Home screen.  And a sim with long credits may still encounter the problem.

A real solution is still needed, probably in connection with #586. Assigning to @ariel-phet to prioritize and assign.

[2020-07-13 17:15] ariel-phet commented on #639
I am currently marking this work deferred. As long as this workaround is working for the moment the work is not a major priority. It is important the about dialog fit within the bounds and everything in it can be read, but the aethetics of this dialog are not of major concern (no effect on pedagogy etc).

A long term solution should be found at some point.

[2020-07-13 17:19] pixelzoom opened #640 "Home screen uses non-default layoutBounds"
HomeScreenView is using non-default layoutBounds:

[code]

This results in the AboutDialog being a different size on the Home screen.  HomeScreenView should use the default ScreenView layoutBounds, which PhET standardized on in #542.

Assigning to @samreid since he's listed as `@author`.   This should be addressed with #639. If you don't have time for this, reassign to @ariel-phet to prioritize an

[2020-07-13 17:38] samreid commented on #640
I switched to the `ScreenView.DEFAULT_LAYOUT_BOUNDS` and the home screen changed from this:

![image](https://user-images.githubusercontent.com/679486/87334942-b83c8c80-c4fc-11ea-91e9-969f0fb53578.png)

to this:

![image](https://user-images.githubusercontent.com/679486/87334974-c38fb800-c4fc-11ea-86cd-67d2afa3c66c.png)

Note that most of the contents are smaller.  Also the navigation bar is 20% s

[2020-07-13 17:41] pixelzoom commented on #638
5 of the above sims are doing significant computations with the layoutBounds, and it makes sense to have a sim-specific constant instead of using ScreenView.DEFAULT_LAYOUT_BOUNDS directly.  So I did not change these:

- [ ] FBConstants.SCREEN_VIEW_LAYOUT_BOUNDS
- [ ] MakeATenConstants.LAYOUT_BOUNDS
- [ ] NLIConstants. NLI_LAYOUT_BOUNDS
- [ ] RatioAndProportionScreenView.LAYOUT_BOUNDS
- [ ] VectorA

[2020-07-13 19:07] zepumph commented on #638
I wasn't really sure from this issue if anything should change in my sims listed above: Ratio and Proportion. It sounds like the answer is "no." But I'm not positive.

[2020-07-13 23:57] zepumph commented on #496
@emily-phet, I think it would be good to ping this issue as common code work needed to be done before publishing our first multi-screen simulation with interactive description (ration and proportion). Please prioritize accordingly.

[2020-07-14 00:21] pixelzoom commented on #640
Everything on the Home screen, and its navbar, will need to be increased in size.

[2020-07-14 03:56] emily-phet commented on #496
Let's make a plan for this tomorrow.

[2020-07-14 04:37] samreid commented on #590
I reviewed the commits and did not see any problems to report.  https://github.com/phetsims/joist/commit/af56fb20ea1c499e77552d5f2cf34e434a5b3c81 looked particularly good, thanks!  Closing.

[2020-07-14 04:37] #590 closed

[2020-07-14 08:30] terracoda commented on #496
in https://github.com/phetsims/joist/issues/496#issuecomment-603027374, @zepumph asked:

We discussed the use of `aria-roledescription` in the initial design and I think we decided not to use it, or at least not to get rid of the word "button". People generally felt  that it could be confusing to rename a native role like "button" which is so intuitive.

If we use `aria-roledescription`, the strin

[2020-07-14 20:58] KatieWoe commented on #639
Noting here that the size difference is fairly noticeable and may be difficult to read in cases where there is a lot of text. Should be fine for now, but I will keep an eye out and make an issue if a future sim seems to have too small of text. Seen on master 7/14/2020

[2020-07-14 21:09] KatieWoe commented on #639
Potential example of this in Acid Base Solutions. Has a fairly large amount of text and a home screen where things would be smaller. May not be problematic in this case, but shows how it might get there.
Published:
![published](https://user-images.githubusercontent.com/41024075/87476692-0e382f80-c5e4-11ea-8dc7-cf034e53ef4a.png)
Master:
![new](https://user-images.githubusercontent.com/41024075/8747

[2020-07-14 22:29] jbphet commented on #637
We reviewed this in the 7/14/2020 sound design meeting and decided that the generic sound is good for now, and @emily-phet with review it with @kathy-phet et al sometime soon.  We may revisit in the future.

[2020-07-15 01:13] ariel-phet commented on #640
@samreid I seem to recall there was a reason that the homescreen layout bounds are not the same as the standard -- perhaps it was this extra work and we were fine with the bounds being different?

Could you do a few minutes of investigation to see if there is an older related issue where we decided to live with these bounds?

[2020-07-15 01:36] pixelzoom commented on #640
If you discover the reason, it would be nice to document it in the code, at the site where the non-standard layoutBounds are specified.

[2020-07-15 01:36] samreid commented on #640
In December 2014 in https://github.com/phetsims/joist/commit/f09454492affa1a945be825b6373fa69ec0ea7e4 we changed the default layout bounds in ScreenView from 768x504 to 1024, 618.  In that commit we did not upgrade HomeScreenView to use the new layout bounds, but we altered it to specify 768x504 (instead of the new default).

We corrected some problems related to that in https://github.com/phetsim

[2020-07-15 19:55] ariel-phet commented on #586
Marking for some discussion at developer meeting, but not a blocking issue.

[2020-07-15 19:59] ariel-phet commented on #640
Marking for dev meeting (partially as a PSA about layout bounds)

[2020-07-15 21:21] samreid commented on #586
@jonathanolson and I reviewed this today and have a recommendation for how to proceed.

* Eliminate the `setScaleMagnitude` from `topLayer` in Sim.js.  That was too inflexible, and leads to awkward layout code that has to invert the scale for positioning things.
* Use the same pattern as `ScreenView.layout` for laying out popups.  Each popup can have its own layout function.  Dialog's default func

[2020-07-16 13:50] terracoda opened #641 "Sim Screens and Sim Resources should be seperate regions"
While reviewing implementation of RaP sim, I noticed that the SIm Screens region and the SIm Resources Regions are combined.

I think this generalizes the implementation, and for the non-visual experience it makes no difference if the Sim Screen buttons are in a region before the Sim Resources.

Here's the code  from the HomeScree.md file

[code]
I'd like to try a `nav` element for the list of Sim

[2020-07-16 13:56] terracoda commented on #641
This issue is related to https://github.com/phetsims/joist/issues/496

[2020-07-16 14:01] terracoda commented on #496
re comment https://github.com/phetsims/joist/issues/496#issuecomment-603022191
When a section or region of some kind has a heading associated with `aria-labelledby`, I don't thin it should need a an `aria-label`.

[2020-07-16 14:05] terracoda commented on #496
@zepumph, is it okay to use RaP as the example to review? It's the latest example.

[2020-07-16 14:21] terracoda commented on #641
We can use the same heading structure for the Home Screen and each Sim Screen if we keep the regions separate
![Screen Shot 2020-07-16 at 11 36 25 AM](https://user-images.githubusercontent.com/1902116/87682073-fe425c00-c759-11ea-8174-3f131e719504.png)
![Screen Shot 2020-07-16 at 11 07 25 AM](https://user-images.githubusercontent.com/1902116/87682578-8f193780-c75a-11ea-9b2c-71fc52b292d7.png)

[2020-07-16 14:24] terracoda commented on #641
@zepumph the names for the buttons on the Home screen should automatically populate the names for the buttons on the each individual Screen.

This might be more straightforward once the sim screens are in their own region.

[2020-07-16 14:29] terracoda commented on #641
One other thing that is not implemented on the Home Screen is `aria-describedby` for the Screen buttons.

I think it would be helpful read out the little screen descriptions automatically on the Home Screen, but not on the individual Sim Screens. On the individual screens,  the description can be explored on-demand.

You would need logic that said, if Home Screen, use `aria-describedby` on sim scr

[2020-07-16 14:51] terracoda commented on #496
![Screen Shot 2020-07-16 at 12 11 45 PM](https://user-images.githubusercontent.com/1902116/87685526-14eab200-c75e-11ea-8f88-02ac56f82dad.png)

Remove "Home Screen", this is the landing page for the sim, so I think it is best to just name the sim, like this:
[code]

If others disagree, I would flip it, so "home screen" came after the sim name like this:
[code]

But my preference is no "home screen"

[2020-07-16 15:04] terracoda opened #642 "Multi-screen Sim Screen intro text"
Related to issues #641 and #496, while reviewing RaP, I noticed the first sentences are not following the template provided in HomeScreem.md

[code]

**Screenshot of RaP's Create Screen**
![Screen Shot 2020-07-16 at 12 30 37 PM](https://user-images.githubusercontent.com/1902116/87687326-2df46280-c760-11ea-838b-91ca0607463a.png)

The first paragraph would be better as:
[code]

[2020-07-16 15:06] terracoda commented on #642
@zepumph, I think I forgot we had this pattern already worked out which is why @Matthew-Moore240 did not use this sentence in the design doc for RaP.

[2020-07-16 15:10] terracoda commented on #496
@zepumph said

I think it is better to have `aria-describedby` on Home Screen only.

[2020-07-16 15:29] terracoda commented on #496
@zepumph, like you already noticed, the logic that is handling the screen button names and the mini screen descriptions might need some attention.

The screen button names on first screen are not right in either RaP or CL.
![Screen Shot 2020-07-16 at 12 48 36 PM](https://user-images.githubusercontent.com/1902116/87689961-6a758d80-c763-11ea-9068-65a874f1fd5b.png)

Here are the screen button names o

[2020-07-16 15:38] terracoda commented on #496
I opened https://github.com/phetsims/coulombs-law/issues/119 in CL's repo since RaP does not have this problem.

[2020-07-16 15:38] terracoda commented on #496
@zepumph, I think my review is complete for now. A second review may be needed after all items and issues are addressed.

[2020-07-16 15:40] terracoda commented on #496
I am un-assigning myself for now. Please let me know if you have any questions.

[2020-07-16 18:19] Denz1994 commented on #586
From Dev Meeting on 07/16/20:

**Discussion:**
@samreid and @jonathanolson have come up with a plan for remaining work on this issue.

@pixelzoom: This pattern assumes we aren't using non-modal Dialogs.
@samreid: If we need a non-modal dialog we should investigate not using Dialog in those cases.

@brandonLi8: Collision-Lab uses a modal dialog for its keypad, but Unit-Rates and Projectile-Motion b

[2020-07-16 18:31] Denz1994 commented on #640
From Dev Meeting on 07/16/20:

**Discussion:**
@samreid: It would take 2-4 hours to change affected sims.
@zepumph: There will be slight visual differences but we are currently satisfied with the home screen layout.

@pixelzoom: ScreenIcon will need to be scaled because we are scaling them to a non-standard screen layout size.

**Resolution:**
@pixelzoom will spend an hour working on this issue an

[2020-07-16 18:34] Denz1994 commented on #638
From Dev Meeting on 07/16/20:

Discussion:
PSA from https://github.com/phetsims/joist/issues/638#issuecomment-657697065 has been relayed to devs.

@samreid Some of these cases mentioned above might have been defensive measures in case the standard `LAYOUT_BOUNDS`  were to change in the future. Instead, create a specific constant for situations like this.

[2020-07-16 18:34] #638 closed

[2020-07-16 20:51] zepumph commented on #511
Adding another note here. Over in https://github.com/phetsims/sun/issues/444, a design requirement was stated that all AccordionBoxes should have a title in the PDOM, even if their title isn't visible in the visual AccordionBox. This felt to me, at first glance, like a perfect thing to check in `accessibleAudit`. So I overrode accessibleAudit in AccordionBox, like so:

[code]

The issue is that th

[2020-07-17 14:16] terracoda commented on #496
@zepumph, I removed the "ready-to-review" label because I reviewed it. I am assuming that might be good protocol. Let me know if that is not good protocol.

[2020-07-21 18:36] pixelzoom opened #643 "unit tests in selectScreensTests.js are inadequate"
See https://github.com/phetsims/ph-scale/issues/171 for examples.

[2020-07-21 21:39] pixelzoom opened #644 "problems with screens query parameter"
This started out as a specific problem in https://github.com/phetsims/ph-scale/issues/171.  After digging in, more problems were discovered, so this general issues was created.

The problems, which can be demonstrated in ph-scale:

- [x] (1) `screens=4,1` displays a warning dialog. But you end up with 2 copies of screen 1 (Macro), both of which are selected on the home screen.  See screenshot belo

[2020-07-21 21:45] pixelzoom commented on #644
To address problem (1) above, @samreid started with https://github.com/phetsims/joist/commit/3cd429cccc852148956a00b053a1ae790c9c4dba.   I noted that `forEach` is the wrong iterator to use in this case, and results in the query parameter being identified multiple times in the warning dialog.  I addressed this in https://github.com/phetsims/joist/commit/c29f824fc60c6ff9efbbd540d17d5764fe56e87e and

[2020-07-21 21:47] pixelzoom commented on #644
Assign @chrisklus to address problems (2), (3), (4) when he returns.  Priority high, since this is blocking ph-scale RC.

[2020-07-21 21:51] pixelzoom commented on #644
Assigning @chrisklus to address problems (2), (3), (4) when he returns. Priority high, since this is block publication of all sims, include an in-progress ph-scale RC.

[2020-07-22 02:16] zepumph commented on #641
I poked at this just now. I will keep going next week.

[code]

[2020-07-22 16:44] samreid commented on #644
It was unclear in https://github.com/phetsims/joist/issues/644#issuecomment-662122814 where @pixelzoom said:

@zepumph and I reviewed the changes for (1) and they looked good.  We also added more unit tests in the commit.  Some of the requested tests in https://github.com/phetsims/joist/issues/644#issuecomment-662122814 already had adequate coverage in selectScreenTests.js.  Anything else for (1)

[2020-07-22 17:03] zepumph commented on #644
@samreid and I tested the above changes and cannot reproduce the case pictured above with two screen one instances. We also created https://github.com/phetsims/query-string-machine/issues/42 to investigate catching warnings when a parameter doesn't pass its validity check in the provided schema.

From here we think this is ready to unblock publication, but defer to @pixelzoom for that decision.

W

[2020-07-22 17:34] pixelzoom commented on #644
`screens` is a public query parameter, so it's supposed to fail gracefully -- display a warning dialog and revert to defaults.  It does not do that and fails hard for the 2 outstanding cases described in https://github.com/phetsims/joist/issues/644#issue-663325840.

[2020-07-22 17:35] pixelzoom commented on #644
`screens` is a public query parameter, so it's supposed to fail gracefully -- display a warning dialog and revert to defaults.  It does not do that and fails hard for the 2 outstanding cases described in https://github.com/phetsims/joist/issues/644#issue-663325840.  So if it were my call, I feel that this is still plenty buggy, and still blocks publication.  But I'll be happy to defer to a designe

[2020-07-22 19:00] zepumph commented on #644
I totally agree with you! My feeling is that this issue was related to a bug in `selectScreens.js`, but exposed further issues with QSM `public` schema field. Let's treat these as two separate items. @chrisklus please review this issue in the context of `selectScreens.js`, and let's meet over in a new blocking publication issue (https://github.com/phetsims/query-string-machine/issues/42) to discus

[2020-07-23 22:01] KatieWoe opened #645 "Long Title strings off center in home screen"
Found during https://github.com/phetsims/QA/issues/514. pH issue made in https://github.com/phetsims/ph-scale/issues/184.
This issue seems to be independent of platform. When strings are long, the title text on the home screen seems to be further to the left than center. Unsure if this ended up in any published sims.
![longoffcenter](https://user-images.githubusercontent.com/41024075/88342933-9661

[2020-07-23 22:07] pixelzoom commented on #645
@arouinfar @kathy-phet does this block publication of pH Scale?

[2020-07-24 00:59] zepumph commented on #496
@terracoda, is everything to implement delegated to separate issues?

[2020-07-24 01:00] zepumph commented on #496
Wait nevermind. I see things here to work on. Sorry to bother!

[2020-07-26 20:22] samreid commented on #645
I removed a line that looked like a prior way of addressing maxWidth.  The title already specifies `maxWidth` as a constructor option, so the line I deleted was extraneous, and since it appeared after centering, it was causing incorrect layout.  @ariel-phet can you please recommend a reviewer for this minor change?

[2020-07-27 17:44] ariel-phet commented on #645
@pixelzoom this issue does not block publication of pH scale. Could you quickly review @samreid's change.

[2020-07-27 18:01] pixelzoom commented on #645
I verified the fix.

Even though it's not blocking, I'm going to cherry-pick for ph-scale so that we can resolve phetsims/ph-scale#184.

[2020-07-27 18:08] pixelzoom commented on #645
Cherry-picked to ph-scale and ph-scale-basics 1.4 branches.

This also affects MAL RC.  Assigning to @ariel-phet and @jessegreenberg to decide whether to cherry-pick there.

[2020-07-28 01:15] ariel-phet commented on #645
@jessegreenberg up to you if you want to cherry-pick. This is a minor aesthetic issue in my opinion, but if it is only a couple of minutes to do it might be worth it.

Whether you cherry pick or not, please note here and then close the issue.

[2020-07-28 02:22] jonathanolson opened #646 "branch: dialog-scaling"
For https://github.com/phetsims/joist/issues/586

[2020-07-28 02:27] jonathanolson commented on #586
It would be good to discuss my above approach with @samreid, as it differs. Specifically, it keeps the code much cleaner (and similar) by calling showPopup on the sim with a wrapper Node that handles the ScreenView-like layout, so that the actual Dialog itself (or other popup content) can be positioned normally based on layoutBounds. This means we can have a varying ScreenView-like transform, whil

[2020-07-28 21:51] KatieWoe opened #647 "Safari Full Screen dev tools don't show up"
**Test device**
Dirac
**Operating System**
Mac 10.12
**Browser**
Safari 12
**Problem description**
Found during https://github.com/phetsims/QA/issues/515, but occurs in other sims. Most likely to impact phet-io, but fairly minor even then.
If you have the dev tools, such as the console, open in Safari and put the sim in full screen mode, there will be a black space where the dev tools would be, bu

[2020-07-28 23:54] pixelzoom commented on #586
@jonathanolson Did something get broken here?  Here's natural-selection with `?dev`.  The layoutBounds are no longer centered in the browser window.

<img width="1494" alt="screenshot_441" src="https://user-images.githubusercontent.com/3046552/88740808-55054980-d0fb-11ea-88fc-171bccc1be3d.png">

[2020-07-29 01:33] jonathanolson commented on #586
I believe the fix for that was pushed yesterday, can you verify it's still happening off of master? I wasn't able to reproduce.

[2020-07-29 02:07] pixelzoom commented on #586
I just ran pull-all.sh, and yes, it's still reproducible in master.

[2020-07-29 03:45] jonathanolson commented on #586
@pixelzoom can you outline a way to reproduce this, ideally on phettest?

<img width="1343" alt="Screen Shot 2020-07-28 at 9 40 02 PM" src="https://user-images.githubusercontent.com/480878/88754195-4464cb80-d11b-11ea-85e3-1bb2106fcd58.png">
<img width="1680" alt="Screen Shot 2020-07-28 at 9 41 59 PM" src="https://user-images.githubusercontent.com/480878/88754196-462e8f00-d11b-11ea-927b-18abd95aaab

[2020-07-29 11:56] samreid commented on #586
Pulling master fixed the problem for me.

[2020-07-29 12:55] samreid commented on #586
I reviewed the changes in Joist as well as the commits in the sun and joist branches and this looks like it is working well.  In particular, I tested:

* The About Dialog shows at the same size on the home screen and the sim screen, and scales properly
* The `visibleBoundsProperty` is updated properly (tested in Bending Light which uses it for layout)

Some questions and ideas for next steps:

* H

[2020-07-29 15:22] chrisklus commented on #644
Changes to `selectScreens` and added tests look good. Thanks for handling this @zepumph @samreid @pixelzoom. Ready to close if the remaining items are to be handled separately in https://github.com/phetsims/query-string-machine/issues/42.

[2020-07-29 17:00] pixelzoom commented on #644
Before closing, I need to test this in ph-scale, and cherry-pick to ph-scale 1.4 and ph-scale-basics-1.4.

[2020-07-29 17:10] pixelzoom commented on #586
I was running locally. Must've been cacheing, because it looks OK now.

[2020-07-29 18:16] jonathanolson commented on #586
It's a consequence of the above design, where each Dialog has its own (optional technically) layoutBounds.

showPopup doesn't actually get a reference to the Popupable, just to the parent Node. Furthermore, this seems unnecessary.

Its layout is handled separately (in Sim.js IIRC?), so it doesn't benefit from Popupable.

The Dialogs/popups are completely independent of what screen is active.

That

[2020-07-29 19:04] zepumph commented on #644
@chrisklus, https://github.com/phetsims/joist/commit/bde554917ede4088394bd8023cea6bce843499d2 added tests that were specifically buggy that @pixelzoom reported, but I didn't feel like @samreid and I spent time thinking through other cases. Can you think of any other tests to add?

[2020-07-29 20:17] jonathanolson commented on #586
Pushed changes to master, includes sim changes to be compatible with the new layout (e.g. now the layoutStrategy won't NEED to handle scale/transform information, and can just position things in the same coordinate frame).

@ariel-phet, we'll likely want to adjust the About dialog sizing (or other dialogs), since they are now "matching" the default layout bounds behavior. What should be done to th

[2020-07-29 20:28] pixelzoom commented on #586
For Natural Selection and Collision Lab, search for "TODO https://github.com/phetsims/joist/issues/586".

For AboutDialog, search for "TODO https://github.com/phetsims/joist/issues/586".

[2020-07-29 20:33] pixelzoom commented on #586
I'll take care of Natural Selection.

[2020-07-29 20:45] pixelzoom commented on #586
Searching for "import Dialog from"...

Common-code Dialogs:

- [ ] joist.AboutDialog
- [ ] joist.OptionsDialog
- [ ] joist.KeyboardHelpDialog
- [ ] joist.UpdateDialog
- [ ] vegas.RewardDialog
- [ ] scenery-phet.OopsDialog
- [ ] scenery-phet.ContextLossFailureDialog

Then there are sim-specific dialogs in:

- [ ] build-a-molecule
- [ ] collision-lab
- [ ] curve-fitting
- [ ] equality-explorer
- [ ]

[2020-07-29 21:24] jessegreenberg commented on #645
Looks like it wouldn't take much time to cherry-pick, but since molecules-and-light is a single screen sim and doesn't show a home screen it should not be impacted by this issue at all so I am going to continue without.

Closing this issue.

[2020-07-29 22:01] pixelzoom commented on #643
Duplicate in #644.

[2020-07-29 22:12] pixelzoom commented on #644
Ugh... I just finished cherry-picking, and now there are more commits?

[2020-07-29 22:23] pixelzoom commented on #643
Reopening.  In https://github.com/phetsims/joist/issues/644#issuecomment-665845986, @zepumph said:

[2020-07-29 22:24] pixelzoom commented on #643
If there are any more units tests, I will forgo cherry-picking them for ph-scale 1.4 and ph-scale-basics-1.4.   If there are any joist changes, let me know.

[2020-07-29 22:25] pixelzoom commented on #644
Closing.  If additional unit tests are needed, they'll be tracked in https://github.com/phetsims/joist/issues/643.

[2020-07-29 22:25] #644 closed

[2020-07-29 22:27] zepumph commented on #643
Thanks @pixelzoom! Over to you @chrisklus.

[2020-07-30 01:00] zepumph commented on #642
This is implemented above. Please review

[2020-07-30 01:04] zepumph commented on #641
@terracoda, is everything discussed above only for the home screen? So would it still say "Sim Screens, Resources, and Tools" for the nav bar when on the "Explore Screen"?

[2020-07-30 01:13] zepumph commented on #641
RE: the first photo in https://github.com/phetsims/joist/issues/641#issuecomment-659445273, support for the help text has already been implemented, it is just that it defaults to "{{Screen}} Screen" when not provided (which I hadn't added it yet to RaP. No changes needed here in joist.

- [ ] Would you prefer a different default?

[2020-07-30 01:50] zepumph commented on #641
Above I created a new Property in Screen.js which is the display name to be used in PDOM description. I am linking to that everywhere we need to set the screen name so that if it ever changes (as it can with PhET-iO), the description will stay in sync. I prefer this slightly to listening to the nameProperty and doing a fillIn at all usage sites.

Up next I will fix the home screen labels, and then

[2020-07-30 01:54] zepumph commented on #641
Ok, now when the nameProperty changes, the following change:
* Visual display on home screen
* Label on home screen (PDOM)
* visual screen button on nav bar
* label for screen button on nav bar (PDOM)
* main sim H1 in PDOM
* intro screen summary sentence in PDOM

Next is regions/headings

[2020-07-30 02:19] ariel-phet commented on #647
@KatieWoe I think this is a good find, but likely not worth fixing

My feeling is that we can just close this issue as `wontfix` -- I would feel differently if the the dev tools did not appear for safari in general since that would be important for debugging. However, debugging the sim while in fullscreen mode in safari seems unlikely to come up. If it does, we can address the issue at that time,

[2020-07-30 02:19] #647 closed

[2020-07-30 02:24] zepumph commented on #641
In the above commits. . .
* I separated out the "Sim Screens" from the "Sim Resources"
* Removed the duplication on the Home screen of having "Sim Screens" AND "Sim Screens, Resources, and Tools"
* I update the aria-labelledby associtaions of both the nav and section regions.
* I simplified the previous code quite a bit by inlining strings and getting rid of extra intermediate Nodes.

I think this

[2020-07-30 02:31] zepumph commented on #496
Sorry for any confusion, I believe that I implemented all recommended changes from this issue over in #641. Over there are changes to labels, regions, and headings for the home screen and nav bar. Please see that issue for review. I'm going to close this issue. Please reopen if you disagree, and feel free to make separate issues as more comes up.

[2020-07-30 02:32] zepumph opened #648 "HomeScreen screen buttons should be aria-describedby their `p` description content"
From https://github.com/phetsims/joist/issues/496 while reviewing HomeScreen.md

[2020-07-30 02:34] zepumph commented on #648
Oops! I now see that this is already implemented, I got confused because it isn't needed for the nav bar buttons, only on the HomeScreen, and I didn't see them on the nav bar buttons. Closing

[2020-07-30 02:34] #648 closed

[2020-07-30 16:42] pixelzoom commented on #586
My sims are done.

Since my sims are the only clients of OopsDialog, I took care of that one. They all look fine, no changes to OopsDialog are needed.

[2020-07-30 17:42] zepumph commented on #586
Today during the PhET-iO meeting, we reviewed this work and saw that the PhetMenu also seems to have this problem.

[2020-07-30 17:49] jonathanolson commented on #586
Restored scaling for the phet menu in the above commit.

[2020-07-30 18:11] pixelzoom commented on #586
I took care of RewardDialog, tested in equality-explorer and make-a-ten.  Font sizes and spacing were increased by ~1.3x.

[2020-07-30 19:35] pixelzoom commented on #586
In fd18e1c, I've adjusted OptionsDialog to account for the rescaling.  I did not increase the title ("Options") font size, since it already looks great to me, and formerly looked too big.

[2020-07-30 19:48] pixelzoom commented on #586
@jonathanolson would you mind handling UpdateDialog and UpdateNode? I don't know how to easily reproduce all of the cases, and there's `option.big` in UpdateNode that complicates things -- `big: false` is apparently used in AboutDialog, and it's unclear yet whether the AboutDialog will change.

[2020-07-30 19:56] pixelzoom commented on #639
Looks like @jonathanolson removed the workaround in https://github.com/phetsims/joist/commit/695644fbf2d8293d9d0e043bfac58dff51d1c245 for https://github.com/phetsims/joist/issues/586.

Remaining AboutDialog tweaks will be done in https://github.com/phetsims/joist/issues/586.

Closing.

[2020-07-30 19:56] #639 closed

[2020-07-30 20:54] pixelzoom commented on #586
In the above commit, I made a first pass at adjusting AboutDialog.  To be reviewed with @ariel-phet.

[2020-07-30 21:37] pixelzoom commented on #586
@ariel-phet and I reviews AboutDialog via Zoom, and it has been approved.  The goal was not to make it pixel-identical to how it looked before Dialog rescaling.  The goal was to polish and make it look good.

[2020-07-31 15:48] jessegreenberg commented on #496
In  https://github.com/phetsims/ratio-and-proportion/issues/116  @terracoda said

[2020-07-31 15:51] terracoda commented on #496
@jessegreenberg, I see in this issue, I said to remove the `aria-roledecription`. That is also a completely, logical path.

The main thing is we need the word button from the element's native role, or in the `aria-roledescription`.

[2020-07-31 15:53] terracoda commented on #496
@jessegreenberg, the word "Screen" was added to the button labels, so best to remove aria-roledescription all together from the sim screen buttons.

[2020-07-31 16:29] jessegreenberg commented on #496
In the above commit I just removed the aria-roledescription from the screen buttons on the home screen, screen buttons in the navigation bar, and the home screen button.

@terracoda can you please review?

[2020-07-31 16:42] terracoda commented on #496
Sounds perfect now! Thanks @jessegreenberg!

[2020-07-31 16:42] #496 closed

[2020-07-31 18:16] terracoda commented on #642
The P1 in Rap now looks good, so I assume this issue can be closed.
Thanks @zepumph.

[2020-07-31 18:16] #642 closed

[2020-07-31 20:13] jbphet commented on #586
The scaling of the Options dialog looks good to me, and should be fine for the upcoming RC of States of Matter and its derivatives.

[2020-07-31 21:02] jonathanolson commented on #586
The UpdateDialog and uses of the UpdateNode look like they're at a great scale to me.

[2020-08-04 22:55] samreid commented on #641
The sim fails on startup when launching with `?homeScreen=false`.

[2020-08-05 22:49] KatieWoe opened #651 "Odd partial flash of screen when loading a downloaded html of sim"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/525.
When saving an html copy of the sim and then opening it, there is a brief, partial flash of the home screen. This appears odd, but does not seem to cause any problems.

**Visuals**
![oddflashwhenstartingdownload](https://user-images.githubusercontent.com/410240

[2020-08-06 00:49] terracoda commented on #641
@zepumph, on Voice Over the Home Screen Sounds really good to me!
I think you got everything that I requested.

[2020-08-06 00:51] terracoda commented on #641
I am un-assigning myself. Reassign if you need me again.

[2020-08-06 18:37] chrisklus commented on #586
From 8/6/20 dev meeting:

All common code parts are taken care of, so we're going to leave this open as a chip-away for sim-specific cases.

[2020-08-06 18:38] ariel-phet commented on #586
@ariel-phet will make a new chip-away issue with the remaining work.

[2020-08-06 18:45] zepumph opened #649 "No navigation bar screen button select sounds with `?homeScreen=false`"
While working on a bug in https://github.com/phetsims/joist/issues/641#issuecomment-668865380, I discovered this.

To reproduce:
1. Load a multiscreen sim with `homeScreen=false`
2. select screen buttons and there will be no sound.

@jbphet, is this a bug or feature?

[2020-08-06 18:53] ariel-phet opened #650 "Incorrect scaling of Options dialogs and sim-specific dialogs"
#### `joist.OptionsDialog`, whose content is sim-specific (search for "createOptionsDialogContent:")
- [x] gravity-force-lab @zepumph
- [x] tambo @jbphet

#### Sim-specific dialogs:
- [x] gene-expression @jbphet
- [x] masses-and-springs @Denz1994
- [x] plinko-probability @chrisklus

[2020-08-06 18:58] ariel-phet commented on #586
Taking remaining work in https://github.com/phetsims/joist/issues/586#issuecomment-665917564 and moving to a new issue as this one has gotten impressively long. Closing

https://github.com/phetsims/joist/issues/650

[2020-08-06 18:58] #586 closed

[2020-08-06 21:19] zepumph commented on #641
This was fixed above, and I added some CT tests over in https://github.com/phetsims/aqua/issues/105 to make sure this doesn't happen again. Thanks @samreid.

Thanks @terracoda for the review.

@samreid, would you please review the above commits in joist? I am especially interested in your thoughts about me making a separate Property for the PDOM display name of the screen. This felt clean in some

[2020-08-06 22:54] zepumph commented on #650
gravity-force-lab was actually gravity-force-lab-basics, and that options dialog is just being used by self voicing stuff. I'm going to check it off. There will be lots of development time if that dialog ends up being used for production.

[2020-08-07 13:36] samreid commented on #641
Would it be better to only create the `HomeButton` if `sim.homeScreen` is defined?  It would have to be done in a phet-io-friendly way.

[2020-08-07 18:16] KatieWoe commented on #645
This seeps to happen in https://github.com/phetsims/QA/issues/525

[2020-08-07 18:20] pixelzoom commented on #645
@KatieWoe can you please check in master?  If this is not fixed in master, then what I cherry-picked for phetsims/ph-scale#184 won't be sufficient.  Or perhaps it's fixed in master and just hasn't been cherry-picked to SOM.

[2020-08-07 18:24] KatieWoe commented on #645
Actually, now that I'm looking at it more, this is pretty weird. I don't see it on Win 10 Chrome, but I am seeing it on Mac 10.12 Safari. @jbphet let me know if pairing would help with this issue.

[2020-08-07 18:26] pixelzoom commented on #645
Yes, master looks different on different browsers.

macOS + Chrome + Firefox look OK:

<img width="920" alt="screenshot_459" src="https://user-images.githubusercontent.com/3046552/89676359-c8038280-d8a8-11ea-844b-2382deb61317.png">

macOS + Safari looks shifted to the left:

<img width="787" alt="screenshot_461" src="https://user-images.githubusercontent.com/3046552/89676554-1749b300-d8a9-11ea-9b1

[2020-08-07 18:41] samreid commented on #645
I'm seeing the same thing, Mac/Chrome above, Mac/Safari below:

![image](https://user-images.githubusercontent.com/679486/89677825-58db5d80-d8ab-11ea-92d6-ecb3c7fa8be4.png)

[2020-08-07 18:47] samreid commented on #645
Using the scenery inspector, it seems the title text has incorrect bounds on Safari.

![image](https://user-images.githubusercontent.com/679486/89678245-19614100-d8ac-11ea-8fa4-530d0a92c234.png)

@jonathanolson can you please advise?

[2020-08-07 22:55] KatieWoe commented on #645
Noting that this shows up in mobile safari as well.

[2020-08-07 23:32] jbphet commented on #650
Updates made to gene-expression-essentials and tambo, unassigning.

[2020-08-08 19:04] samreid commented on #651
@ariel-phet can you please review this issue and advise?

[2020-08-10 19:52] terracoda opened #652 "Visual/Interaction Design for Accessibility Options and related Quick Menus for individual features"
PhET will hopefully publish it's first sim with a Self-Voicing feature as early as March 2021. Self-voicing is not on by default and needs to be enabled by the learner. When enabled, a subset of descriptions are read aloud directly through the browser, distinct from the experience of using a screen reader.

Publication will require there be a sustainable long-term way for self-voicing to be enable

[2020-08-10 20:18] zepumph commented on #641
I think there are more concerns that just PhET-iO, as much of the nav bar layout takes into account the homeButton even if it isn't displayed. It seems like that helps have a consistent look whether `?homeScreen=false` is provided or not (though I'm unsure how important that is).

I think I would prefer to create it each time as it is being done now.

[2020-08-10 21:11] jbphet commented on #645
I just tested [the current States of Matter RC version](https://phet-dev.colorado.edu/html/states-of-matter/1.2.0-rc.1/phet/states-of-matter_en_phet.html) on a Macbook Air running 10.12.6, and I can see the the title is off center under normal circumstances (i.e. not just when testing long strings).  Here is a screen shot:

![som-off-center-title](https://user-images.githubusercontent.com/3082831/

[2020-08-10 21:22] jbphet commented on #645
I tested the [current SOM RC](https://phet-dev.colorado.edu/html/states-of-matter/1.2.0-rc.1/phet/states-of-matter_en_phet.html) on Safari using the nominal (non long string) case, and it looks fine.  Since a title this long is unlikely to occur, and since the consequences are minor if it were to happen, I'm going to deem this non-blocking for the RC and unassign myself.

[2020-08-10 21:27] jessegreenberg commented on #645
Thanks, but MAL is a single screen sim so there isn't anything to do for that sim.

[2020-08-10 22:43] samreid commented on #641
I tried creating `new Rectangle(0,0,0,0)` for layout if there is no home screen button in this patch:

<details>

[code]

</details>

This seemed to work well.  In the case of long strings, it allows more room for screen icons (instead of reserving a blank space):

Master:
![image](https://user-images.githubusercontent.com/679486/89838231-f216a800-db27-11ea-91bb-84b37f9c0cc4.png)

The Patch:
![ima

[2020-08-10 23:52] pixelzoom commented on #645
I'll give this another day to be fixed before I punt on it for ph-scale 1.4 and ph-scale-basics 1.4 RCs.

[2020-08-11 13:32] samreid commented on #645
I tested ph scale in safari and did not see a problem with the bounds:

![image](https://user-images.githubusercontent.com/679486/89903306-ba017a80-dba4-11ea-994b-8ad7f93a78a6.png)

I wonder if Safari is sometimes giving bounds to a LTR RTL directive character?

[2020-08-11 13:37] samreid commented on #645
The problem also disappears when I switch the font from `'Century Gothic, Futura';` to `monospace`:

![image](https://user-images.githubusercontent.com/679486/89903897-78bd9a80-dba5-11ea-9b93-780a80aac61f.png)

A reminder to myself that I had to clear Safari cache when testing this.

[2020-08-11 13:41] samreid commented on #645
Based on the statistics in https://www.cssfontstack.com/ I tried Verdana and it did not have the bounds problem.

[2020-08-11 16:09] pixelzoom commented on #645
Punting on this issue for pH Scale 1.4, closing https://github.com/phetsims/ph-scale/issues/184 as "won't fix".

[2020-08-11 18:45] ariel-phet commented on #651
@KatieWoe

I don't think this particular issue is worth worrying about. The majority of people who want to use a sim offline are either going to click the "download" button on the sim page or use something like our new offline installer.

Marking as `wontfix` and closing.

[2020-08-11 18:45] #651 closed

[2020-08-12 00:43] zepumph commented on #641
I don't think that the extra spacing will pass designer code review. It seems like there are two options here:

1. (the way it is now) Create the HomeButton eagerly, even when not shown. This way it can work well with a consistent layout and with PhET-iO.
2. When there is no home screen, swap it out for a Rectangle of the same dimensions. This will most likely involve converting a HomeButton to us

[2020-08-13 09:01] Denz1994 commented on #650
Masses and springs was fixed to account for the recent changes in dialog.

[2020-08-13 17:35] emily-phet commented on #637
I don't recall this conversation, but I think the sounds is good. Closing.

[2020-08-13 17:35] #637 closed

[2020-08-13 19:50] emily-phet commented on #652
@amanda-phet @arouinfar
Can you let us know when you've discussed, and who'll be taking the lead on this?

Regarding timeline - there's essentially 18 weeks until we need to have designs finalized, implemented, and locked in for first publication. The first sim to be published with this feature (GFL:B) will move from the design/implement/iterate phase and moved into the code review/dev test/rc tes

[2020-08-14 18:11] chrisklus commented on #650
Plinko Probability was updated in the commit above. Assigning back to @ariel-phet to close if everything's set.

[2020-08-14 18:31] amanda-phet commented on #652
I can think about this in about a week, but not any sooner. Happy to discuss it further and potentially take on the visual design at that point.

[2020-08-15 04:05] arouinfar commented on #645
Relevant to https://github.com/phetsims/QA/issues/528, though I don't think it's very critical @chrisklus.

[2020-08-15 05:43] arouinfar commented on #652
I can start working on this on Monday.

[2020-08-16 00:55] terracoda commented on #652
@amanda-phet and @arouinfar, you are both awesome!

[2020-08-16 03:11] samreid commented on #641
The most defensive strategy would be to avoid creating the HomeButton when it will not be used.  The code seems clearer and more maintainable that way.  I'm imagining future maintainers running into this code and wondering "why are we creating a HomeButton if it will never be used"?  It also uses CPU and heap to create a HomeButton.  I think treating the simulation like a platform only applies whe

[2020-08-17 17:16] jonathanolson commented on #645
This seems to be specific to the Futura font (from what I'm finding), and some characters throw things off more than others:

![image](https://user-images.githubusercontent.com/480878/90424206-f76d7880-e07a-11ea-9697-6a021a990c7c.png)

@ariel-phet should I look into this further, to see whether it's a Scenery-side bug, or a Safari-side bug? Other fonts could also work around the issue.

[2020-08-17 19:23] zepumph commented on #641
That is not how we handled the creation of blocks in EFAC. There beakers and blocks had to be turned into PhetioGroups because query parameters could alter the startup configuration. This was dynamic to the platform, but not to the runtime. I think we would need to do that here also with a `PhetioCapsule` if we choose to conditionally create the HomeButton. I am ok (not more) with this, but feel l

[2020-08-17 20:04] ariel-phet commented on #645
@jonathanolson I think we should just use a different font. So lets make sure the specified fonts and fall back do not exhibit the problem. Not worth looking into if it is a scenery/browser bug if using different fonts does an acceptable work around.

[2020-08-17 20:07] samreid commented on #645
For @jonathanolson's reference: During https://github.com/phetsims/scenery-phet/issues/616 @ariel-phet and I consulted https://www.cssfontstack.com/ to see which platforms have which fonts.  But we aren't sure where those percentages came from.

[2020-08-17 20:16] samreid commented on #641
Thanks, the blocks example in EFAC is very helpful.  In that case, we wouldn't want to disable all validation just because a different block starting configuration was created.  I guess I'm confused about that though, because when we run with ?screens=... we do disable validation.  So is `?screens=...` a special case?  This issue can probably be closed (or put on hold) but I'd like to discuss this

[2020-08-17 20:19] jonathanolson commented on #645
Sounds like a plan. I saw I'm assigned back, should I be looking into replacement fonts?

[2020-08-18 02:44] ariel-phet commented on #645
@jonathanolson yes, please look into replacement fonts

[2020-08-18 18:39] KatieWoe opened #653 "Potential issue opening screenshots"
Seen during https://github.com/phetsims/QA/issues/531, but I think it has happened elsewhere.
I have had an issue a few times now where I try to open a screenshot created in the sim, but it doesn't open properly in the viewer. Upon creating the screenshot, a download bar appears on the bottom of the browser with the file. Clicking it would normally open the default photoviewer and display the imag

[2020-08-18 18:41] KatieWoe commented on #653
This was discussed with @samreid over zoom.

[2020-08-18 19:24] ariel-phet commented on #650
I think that will do it for this issue, thanks all!

[2020-08-18 19:24] #650 closed

[2020-08-19 16:39] samreid commented on #641
@chrisklus @zepumph and I discussed this today:

Either we need to create one “API” per combination of query parameters, or make sure that any combination of query parameters uses the exact same API.  Since it would be too difficult to create one "API" for each combination of query parameters, we choose to just have one API and the query parameters work within it.

We have an edge case for screens

[2020-08-19 16:39] #641 closed

[2020-08-19 22:44] KatieWoe commented on #653
I just had this happen with an image downloaded from github, so I am fairly sure now that it is my computer

[2020-08-19 23:24] jbphet commented on #649
In https://github.com/phetsims/tambo/issues/91, the sound generator was moved to the `HomeScreenView` class because issues were coming up for single screen sims.  It appears that @zepumph has found a case where this doesn't work out well, since the home screen - and thus the sound generator - is never created in this test case.  @samreid hadn't anticipated this case at the time this sound generato

[2020-08-20 21:46] zepumph opened #654 "projectorModeCheckbox PhET-iO tree structure"
Over in https://github.com/phetsims/states-of-matter/issues/346, @jbphet and I realized it was weird that there was a linked property right next to the checkbox. I think it would be best to not link there, and instead just have the passed in property be called "property" I will take a look.

Here is what the structure looks like:

![image](https://user-images.githubusercontent.com/6856943/90830082

[2020-08-20 21:57] zepumph commented on #654
This is now the new structure. Notice that it isn't blue, because it isn't linked, but we also don't have an extra `projectorModeEnabledProperty` next to the linked `property`:

[2020-08-21 00:45] arouinfar commented on #654
@zepumph the tree structure looks good to me.

@kathy-phet @jbphet and I discussed this a bit in https://github.com/phetsims/states-of-matter/issues/346, and we decided it wasn't critical for the 1.2.0 release. Since it can't be included in a MR, I'm fine with leaving it out. Clients should be using the query parameter for projector mode, anyway.

[2020-08-21 01:02] samreid commented on #654
This looks like the optimal implementation to address these issues, nice work!  I'm also glad we tried out the strategy to make API calls to linked elements work the same as calls to core elements.  I don't have any recommendations for the review.  I don't mind that it won't be in States of Matter 1.2.0, it will go out with other PhET-iO simulations published after today.  @zepumph can this be clo

[2020-08-24 21:18] jbphet opened #655 "HomeScreenModel could use some additional documentation"
I'm doing some work to improve sound generation for screen selection changes, and I'm working with `HomeScreenModel` as part of this effort.  This class has a public property named `screenProperty` and another named `selectedScreenProperty`.  It's not clear what the difference is, and neither has any documentation beyond visibility and type specs.  I'll figure it out, but it would save time for th

[2020-08-24 22:20] jbphet commented on #649
I fixed this by separating out the sound generation that occurs for the home screen and that which occurs when switching screens.  This seems to work, at least in the test cases that I could think of.  I was a little unclear about the distinction between some of the properties that I ended up using, so I logged #655.  I essentially used trial and error to figure out which changes would work to ini

[2020-08-25 03:28] samreid commented on #649
I tested with and without ?homeScreen=false in waves-intro, and reviewed the changeset and everything seems great!  Nice work, closing.

[2020-08-25 03:28] #649 closed

[2020-08-25 03:31] samreid commented on #655
I added documentation for this, ready for review.

[2020-08-25 17:11] jbphet commented on #655
That looks great - thanks!  Closing.

[2020-08-25 17:11] #655 closed

[2020-08-26 18:52] zepumph commented on #654
I see that `colorProfile` is used in client guides but isn't marked as "public" I also see that for `?locale`. I want to add that to those. @arouinfar please note that any query parameter discussed in those guides should be marked as "public:true" in the schema (in [initialize globals](https://github.com/phetsims/chipper/blob/master/js/initialize-globals.js)). This adds support for the graceful di

[2020-08-26 18:52] #654 closed

[2020-08-27 18:22] zepumph opened #656 "NavigationBarScreenButton "Assertion failed: Bounds mismatch after validateBounds""
When running a multi-screen sim with `?eall`, this fails. @jonathanolson can you take care of this?

[code]

[2020-08-27 22:11] #615 closed

[2020-09-02 16:32] zepumph commented on #570
@samreid and I think we will just make this an Emitter. It makes sense to convert the stepSimulationAction to be an Emitter so that it can be listened to. Over to @samreid for implementation.

[2020-09-03 10:19] samreid commented on #570
Some questions for @zepumph before we proceed:

1. `stepSimulationAction` is currently type `{Action}`.  All 24 of our `phetioPlayback: true` are currently `{Action}` and none of them are `{Emitter}`.  Does the playback engine support `Emitter`?
2. Previously in this issue we discussed instrumenting the `frameEndedEmitter` but the prior comment is about `stepSimulationAction`, what is your recomme

[2020-09-03 16:35] zepumph commented on #570
Yes I believe so. Currently there are no Emitters that are phetioPlayback:true, but all the wrapper-side cares about is the "emitted" event, which Actions and Emitters send (in handlePlaybackEvent.js:

[code]

Yes sorry. Any one of these, no preference. `frameEndedEmitter` is great.

[2020-09-03 20:25] jessegreenberg opened #657 "Enable zoom feature by default"
This was discussed during 8/27/20 status meeting as something we are ready to do. The feature has been published in one sim and we would like it in as many as possible.

Also referencing https://github.com/phetsims/aqua/issues/106 as something that can hopefully be finished shortly after this, as it would be nice to start testing this feature as part of CT now that it has wide use.

[2020-09-03 20:26] jessegreenberg commented on #657
@pixelzoom - @ariel-phet mentioned you had a recommended improvement for the query parameter, assigning to you to comment.

[2020-09-03 20:30] pixelzoom commented on #657
I was wondering why `supportsZoom` can't be 'boolean'. It seemed very odd that it's of type 'string'.  But I see that `null` means to use the default that's specified in package.json.  So I guess we can leave it as is, but it's going to make it challenging to explain this in the PhET-iO Client Guides.

[2020-09-03 20:50] jessegreenberg commented on #657
Exactly, I wanted the query parameter to always take priority so that if `supportsZoom: true` in package.json, it could still be disabled with `?supportsZoom=false` query param. Or if disabled in package.json, you could still test it with `?supportsZoom=true`.

One thing we could do to make it boolean is this:
[code]

This works better when zoom is enabled by default because the package.json entry

[2020-09-03 21:08] pixelzoom commented on #657
How about this?

[code]

[2020-09-03 21:24] jessegreenberg commented on #657
That is very nice! I am not sure how to use packageJSON in initialize-globals yet though.

[2020-09-03 21:41] pixelzoom commented on #657
Jesse Greenberg  3:30 PM
I also notice that the `window.phet.chipper.packageObject` is available in the IIFE on line 618 of initialize-globals. would accessing that way be better in this context?

Chris Malley  3:33 PM
Putting a `debugger` at the top of initialize-globals.js, it's defined when the IIFE is evaluated.

Jesse Greenberg  3:35 PM
OK cool, so `packageJSON = window.phet.chipper.packageOb

[2020-09-03 23:38] jessegreenberg opened #658 "Should selected HomeScreenButton fire on up instead of down?"
Is there a reason that the selected HomeScreenButton fires on down event instead of up? This is especially noticeable now that the zoom feature is enabled by default. If you go to a multi-screen sim and try to zoom in on the selected screen button, it will go right to that screen rather than allow user to zoom in on button.

Could the button fire on pointer up instead?

[2020-09-03 23:42] jessegreenberg commented on #657
OK, the zoom feature is now enabled by default. Instead of https://github.com/phetsims/joist/issues/657#issuecomment-686778830 I went with
[code]

because I wanted the default value to be true if there isn't an entry in package.json.

[2020-09-03 23:51] jessegreenberg commented on #657
After running tests locally I noticed substantial problems in rutherford-scattering, density, buoyancy and I disabled the feature in those three sims until problems can be solved.

Otherwise, sims are running without error with `?fuzz&fuzzPointers=2` (other than the issues noted in https://github.com/phetsims/aqua/issues/106), unrelated to this feature.

I notified the general slack channel that t

[2020-09-04 08:47] samreid commented on #657
[code]
is not defined for some scenery runtimes, and is hence failing on CT:

[code]

[2020-09-04 14:54] jessegreenberg commented on #657
I see, thank you! Fixed in https://github.com/phetsims/chipper/commit/fdb3a425c8d4fa397f2480c65c0fe605e152f540.

[2020-09-04 14:55] jessegreenberg commented on #657
Yes indeed, thanks! Done in the following commits.

[2020-09-05 20:28] samreid commented on #570
Instrumented and tested using this code in studio:

[code]

@pixelzoom can you please review since it pertains to the request in Gas Properties?

[2020-09-08 18:04] pixelzoom commented on #570
I don't know what "testing using this code in studio" means. If it means that the Gas Properties was run in Studio, and that code was typed into the console, then it fails.

In Chrome with `context: top`:

[code]

With `context: source`:

[code]

Back to @samreid.

[2020-09-08 18:10] pixelzoom commented on #657
In Slack, @jessegreenberg mentioned that zoom was causing problems in a few sims, possibly related to WebGL.  Natural Selection uses WebGL (see `OrganismSprites`).

Relevant Slack messages in general channel:

Jesse Greenberg  5:35 PM
Hello all. The zoom feature is now enabled in all PhET sims on master with the exceptions of rutherford-scattering, density, and buoyancy. These were the only sims w

[2020-09-08 18:10] pixelzoom commented on #657
@jessegreenberg What is the timeframe for investigating the problem with WebGL sims? Do you want to do that in this issue, or create a new issue?

FYI, Natural Selection uses WebGL. On 9/17, we start QA on a dev version that will be delivered to the client. Zoom can be disabled for the 9/17 deliverable (if necessary, but not optimal). But then we immediately begin QA for production versions, and I

[2020-09-08 18:15] pixelzoom commented on #657
Labeling blocks-sim-publication to remind me that Zoom needs to be either disabled or addressed for 10/1 deliverable.

[2020-09-08 18:58] samreid commented on #570
I was doing my testing in Natural Selection.  To test in gas properties, please launch studio then run this in the console (note the changed variable name):

[code]

[2020-09-08 19:06] pixelzoom commented on #570
Ah, sorry, I saw "since it pertains to the request in Gas Properties" and went immediately to Gas Properties. Anyway...

The bit of code is working in Gas Properties.  But the request was:

When I press pause in the sim, `frameEndedEmitter` continues to fire.  This was apparently implemented for frame, which is not the same as step.

Before doing more work on this, you might want to have a discuss

[2020-09-08 19:08] pixelzoom commented on #570
And yes, I'm complicit in the confusion about frame vs step.  In https://github.com/phetsims/joist/issues/570#issuecomment-514001785 I said:

[2020-09-08 19:08] samreid commented on #570
If I recall correctly, the designers requested a way to get a callback at the end of every frame so that they could make API calls to compute statistics for the particles.

[2020-09-08 19:50] pixelzoom commented on #570
"Each time the model is stepped" is not the same as "the end of every frame".   `Sim.frameEndedEmitter` continues to emit when the model is not being stepped.

[2020-09-08 20:23] samreid commented on #570
@pixelzoom can you please assign to the designer(s) for this sim for clarification?

[2020-09-08 21:56] pixelzoom commented on #570
Since this issue is a breakout from meeting notes in https://github.com/phetsims/gas-properties/issues/30#issuecomment-512980763, assigning to @arouinfar.

[2020-09-09 20:20] pixelzoom commented on #657
Slack PM with @jessegreenberg and @ariel-phet:

Chris Malley  2:10 PM
When you have a minute, could you both reply to https://github.com/phetsims/joist/issues/657#issuecomment-689048459? Thanks.

Ariel Paul  2:12 PM
Is the zoom feature causing an actual issue in NS? I know it uses webgl but does it do it in a way that is causing issues or is it just suspected that it might?

Chris Malley  2:13 PM

[2020-09-09 20:21] ariel-phet commented on #657
It sounds like zoom will likely not be an issue from a WebGL standpoint in NS after a slack conversation with @jessegreenberg.

@pixelzoom we should go with zoom enabled at first, but if we run into any significant issues, zoom can be disabled. Zoom does not *need* to be enabled for the production version. Although desired, it is not a requirement. Moving forward we would certainly like to have zo

[2020-09-09 20:25] jessegreenberg opened #659 "Review zoom feature with sims that are using WebGLNode and three.js"
From #657 - It was noticed that several (but not all) sims that are using WebGLNode are not working with the zoom feature. The problem is that the content of the WebGLNode does not zoom with the rest of the sim. The issue does not seem to be a general problem with WebGLNode but with the sim-specific usage. We need to review usages of WebGLNode to find all sims where this is a problem, then fix.

[2020-09-09 22:03] jessegreenberg commented on #659
Here are the sims that use WebGLNode:
      bending-light
      charges-and-fields
      nueron

In #657 I also noticed that buoyancy sims had this problem but they are not using WebGLNode they are using three.js. Sims using three.js are
    build-a-molecule
    buoyancy
    density
    density-buoyancy-common

[2020-09-09 22:26] jessegreenberg commented on #659
Checked off sims are working well. Remaining sims have the issue where zooming in on the sim does not zoom the WebGL content.

[2020-09-09 22:42] jessegreenberg commented on #659
These are the three sims with issues related to zoom and webgl. @ariel-phet can you please comment on priority for addressing these?

[2020-09-09 23:19] jbphet commented on #652
In one of the recent sound design meetings we were talking about how to control the relative volume of UI sounds, sim specific sounds, and self-voicing.  @BLFiedler mentioned that he'd seen something like that before, and later sent the screenshot below.  I thought this might be a useful reference for some of the elements that will go into the accessibility options dialog.

![volume-controls](http

[2020-09-15 02:05] ariel-phet commented on #659
@jessegreenberg - Buoyancy and density would be high priority to get zoom working with IMO since we will be publishing these sims in the near future. As much as possible sims going forward should try to support zoom. I will note in the sim specific issues you have made.

[2020-09-15 22:14] jessegreenberg commented on #659
Alright, sounds great thanks. Closing this issue since sim specific problems have been identified.

[2020-09-15 22:14] #659 closed

[2020-09-15 22:16] arouinfar commented on #570
From a design perspective, it doesn't seem particularly important to have the emitter fire while the sim is paused, but it also doesn't seem harmful. While the sim is playing, does `frameEndedEmitter` align with the model being stepped? If so, that would fulfill the original request. I'm not sure of the pros/cons of using frame vs. step and which is preferable in a more general case. If you want m

[2020-09-16 16:40] samreid commented on #570
There is no standard interface for pausing and running models, so something would have to be done on a sim-by-sim basis for this.  I'm not sure it is worth the effort.  If the client only wants updates when the model is running, they could add a check that says

[code]

PhET-iO used to have a way to pass an API call "schema" to the core side to evaluate at a specific time synchronously, but we dro

[2020-09-17 21:37] pixelzoom commented on #570
I'm still not sure what the requirements are here, so I don't know what additional feedback to give.  The closest I can find to a requirement is what @kathy-phet alluded to in https://github.com/phetsims/joist/issues/570#issuecomment-514285716:

No idea what PV and NT mean.  And I would think that view values would be as important as model values. But this sounds like a desire to have a way to get

[2020-09-17 22:42] arouinfar commented on #570
I don't think an asynchronous conversation is going to be very productive here, so I've added this issue to the agenda for next Thursday's phet-io meeting.

[2020-09-18 00:28] ariel-phet commented on #658
@jessegreenberg sorry for the delay reply. I see no problem with firing on pointer up for homescreen buttons, especially if it fixes this issue

[2020-09-21 05:02] pixelzoom opened #660 "a11y test PhetMenu"
In https://github.com/phetsims/joist/commit/cec89de56b7cf10cf9a4193d2778926ce0b1120f for https://github.com/phetsims/tasks/issues/1044, I converted PhetMenu to ES6 and arrow functions. There's a lot of a11y functionality in here that I don't know how to test.  @jessegreenberg or @zepumph could you please verify that no regressions were introduced?

[2020-09-21 14:07] samreid opened #661 "Must call super constructor in derived class before accessing 'this' or returning from derived constructor"
CT is showing

[code]

This looks like it was introduced in https://github.com/phetsims/joist/commit/64c4e5f716fa27eb59c4f3093c2dbfb932e45545 as part of https://github.com/phetsims/tasks/issues/1044

@pixelzoom can you please take a look?

[2020-09-21 14:38] pixelzoom commented on #661
This is another ES6 conversion that was complicated by a11y, PhET-iO, and using `this` before calling super type constructor. I revert the conversion.  Someone else will have to convert this - I can't be spending this amount of time on a (what should be a simple) button.

[2020-09-21 14:38] #661 closed

[2020-09-21 16:51] pixelzoom commented on #660
Labeling as blocks-publication because it would presumably be bad if a11y is broken for the PhET menu.

[2020-09-21 21:53] jessegreenberg commented on #660
Everything about the PhET menu is working great for a11y except the for the "Full Screen" button which is throwing this error in Chrome when activated with keyboard but not mouse.
[code]

And a warning is printed in the console:

Not sure yet if it is even related to these changes. This is not happening in the last sim published with a11y (https://phet.colorado.edu/sims/html/molecules-and-light/1.

[2020-09-21 22:07] jessegreenberg commented on #660
With grunt checkout-timestamp I verified that this is a problem since before https://github.com/phetsims/joist/commit/2a8ddcdaa3aac8ed4572466adc60b64633c7f851 (4 days ago) while ES6 conversion was < 1 day ago in https://github.com/phetsims/joist/commit/cec89de56b7cf10cf9a4193d2778926ce0b1120f.

So this issue can be closed but I will make another one about trying to toggle full screen from keyboard

[2020-09-21 22:07] #660 closed

[2020-09-21 22:12] jessegreenberg opened #662 "Error thrown while trying to enter full screen from keyboard"
From #660, I found that when trying to enter full screen from PhET menu with keyboard input an error is thrown in Chrome.
First we get warning

Then full error:
[code]

I verified that the issue is not related to #660 because it has been present since at least before https://github.com/phetsims/joist/commit/2a8ddcdaa3aac8ed4572466adc60b64633c7f851. This is not happening in the latest published a11

[2020-09-21 22:27] pixelzoom commented on #662
Is there a list of sims with alternative input? And how is alternative input enabled?

[2020-09-21 22:42] jessegreenberg commented on #662
Yes, it is the perennial/data/interactive-descriptions list. Alternative input is enabled by the package.json entry `supportsInteractiveDescriptions`.

[2020-09-21 22:45] jessegreenberg commented on #662
This is happening because a11y was added to FireListener in https://github.com/phetsims/scenery/issues/1076. FireListener is used in sun/MenuItem.js, but there was an additional listener to `click` because FireListener previously didn't support a11y. This is fixed in this case by removing the extra listener.

But we should review usages of FireListener and make sure this isn't happening in other p

[2020-09-21 23:01] jessegreenberg commented on #662
HomeScreenButton is the only other place I could find where `click: ` was used in addition to FireListener.

[2020-09-21 23:14] jessegreenberg commented on #662
Removed in the above commits, tested both and they seem to be working well. @zepumph would you mind reviewing?  Also, can the click listener on 207 be removed? I wasn't sure why that was necessary since click would always select the next screen.

[2020-09-21 23:17] jessegreenberg commented on #662
Oh, ill bet it is for screen reader compatibility since the button may be clicked without focus ever landing on it when AT is in use. I added a note about this.

[2020-09-21 23:39] zepumph commented on #662
Thanks for taking this on; the commits look great.

While looking for more I found this line, can it be removed?

https://github.com/phetsims/sun/blob/d74441aaf9ebae151566208486ab8c05a8468ad5/js/buttons/RectangularButtonView.js#L112

[2020-09-22 01:57] ariel-phet commented on #571
I think enforcing such standards does not actually make sense to do programmatically as we have some sims (like Energy Forms and Changes) where it makes sense for items to be close to, or violate the border.

@pixelzoom always feel free to make a sim specific issue if you notice something you think should be polished and assign me. But I do not actually think this is a general issue we currently n

[2020-09-22 01:57] #571 closed

[2020-09-22 21:15] pixelzoom opened #663 "KeyboardHelpButton is not changing color to match navigation bar"
I noticed this while converting DialogsScreenView to ES6 class for https://github.com/phetsims/tasks/issues/1044.  I verified that it was a problem before that conversion.

DialogsScreenView creates a KeyboardHelpButton, then puts it in a panel that's supposed to match the color of the navigation bar:

[code]

This doesn't seem to be working properly,  because it looks like the screenshot below. P

[2020-09-22 21:20] pixelzoom commented on #663
With the patch below, I would expect KeyBoard to be `'red'` on a `'white'` background.  But it's not changing color.   So I'm guessing that KeyboardHelpButton (or it's superclass JoistButton) is broken.

This feels like it should be blocking. Assigning to KeyboardHelpButton author @jessegreenberg.

[code]

[2020-09-22 21:34] pixelzoom commented on #663
I looked at this a bit more, and determined that KeyboardHelpButton was wired up to the wrong color Property.  That's fixed in the above commit.  I also fixed the Panel, so that it changes color to match the navigation bar.  And I added a comment about how to test.

Since this is in joist demo, I won't request a review, and will just close.  @jessegreenberg feel free to take a peek.

[2020-09-22 21:34] #663 closed

[2020-09-23 00:54] loganbraywork opened #664 "Screenshots have significantly impaired quality"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 2004

<b>Browser</b>

Chrome 85.0.4183.102

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/551

Screenshots made in the screenshot wrapper show lower quality for the play area (seen best in the quality of the rabbits) than original sim.

<b>Visuals</b>

![2020-09-22NSScreenshotwrapper1](https://user-i

[2020-09-23 22:18] jonathanolson commented on #664
I believe the cause of this is likely to be that we're not mipmapping Sprites when rendered in Canvas. Additionally, I'd need to check about mipmapping handling with the normal Image Canvas renderer, or if there are ways to draw in higher quality.

[2020-09-23 22:30] jonathanolson commented on #664
It looks like the normal Image degraded appearance may be able to be improved by experimenting with the exact bias and verifying that we're handling hi-dpi screens nicely (it checks window.devicePixelRatio instead of the Scenery-wide backing-scale ratio).

The Sprites degradation is definitely from lack of mipmapping. This can be fixed by factoring out the mipmap code from Image into a more genera

[2020-09-24 00:16] ariel-phet commented on #664
@jonathanolson can you clarify --

- when you say "will affect the NS Canvas fallback" will it improve that fallback or make it problematic (less performant, etc)
- do any of our supported platforms no longer support webgl? Or are we still worried about devices where webgl is not available on the GPU?

[2020-09-24 00:23] jonathanolson commented on #664
The changes would only introduce a probably-imperceptible startup performance cost, then it would be crisper/cleaner at probably not a perceptible performance cost.

I believe all supported platforms support WebGL. There could be those blacklisted devices where it wouldn't use WebGL, no clue on how often that would occur.

[2020-09-24 16:19] jessegreenberg commented on #662
Yes, thanks! I don't see `accessibleClick` used anywhere, I guess this is from an old option we used to have for the buton model listener that should have been removed before.

[2020-09-24 16:26] ariel-phet commented on #664
Putting at medium priority for the moment

@jonathanolson please work on this issue and elevate priority once Collision Lab is ready for its next dev test.

[2020-09-24 16:27] jessegreenberg commented on #662
Removed in above commit. Closing since that was the only comment.

[2020-09-24 16:27] #662 closed

[2020-09-25 14:29] terracoda commented on #652
@amanda-phet and @arouinfar, the last 2 interviews were super positive and both made use of the zoom feature, too. The next steps for self-voicing is visually brainstorming how we would incorporate the Options menu and any particular feature tool menus when special features are enabled.

Both interviewees commented that it would be nice if the Options menu was easier to find and that the Self-Voic

[2020-09-25 19:22] terracoda opened #665 "Multi-Screen sim Home Screen - Would like to adjust accessible text on home screen & screen pages"
Ratio and Proportion will be our first described
### The first general paragraph on Home Screen
In the initial paragraph that invites learners to explore, please add the word "interactive":
**Current phrase:**

**Change to:**

### On the individual screen pages
Remove the word "interactive" in the intro line of the screen pages. For example:
**Current phrase for Discover Screen of RaP:**

**Change

[2020-09-25 23:24] pixelzoom opened #666 "self in Sim.js"
Noted while converting Sim.js to ES6 class in https://github.com/phetsims/tasks/issues/1044.

Sim.js has a lot of uses of `self`, in 2 categories:

(1) Totally unnecessary, where a closure is not needed.  This should simply be replaced with `this`.

(2) Necessary, where a `function` closure is needed.  Replace `function` with an arrow function.

Since many of these are related to a11y, I may punt

[2020-09-25 23:29] pixelzoom opened #667 "ModuleIndex comment in Sim.js"
In Sim.js, added by @samreid in the original commit on 4/22/2013:

[code]

I have no idea what this comment means. There is nothing in Sim.js named "ModuleIndex".  Recommend to either delete this comment or turn it into something that makes sense.

[2020-09-25 23:39] pixelzoom commented on #666
All occurrences of `self` have been replaced.

There are a few more `function` instances that could be replaced with arrow functions, but I'm going to leave them alone since they don't involve `self`.

Closing.

[2020-09-25 23:39] #666 closed

[2020-09-25 23:40] samreid commented on #667
No longer necessary, removed, closing.

[2020-09-25 23:40] #667 closed

[2020-09-28 13:25] emily-phet commented on #652
@arouinfar

Can you please let us know when you'll be able to do the initial mockups? We really need to have this sorted by Dec. 18th (locked in, no more changes prior to publication)...which is coming up fast.

[2020-09-29 20:09] jonathanolson commented on #664
Some of this may be browser-specific. I'm noticing that I may be able to improve general quality by adjusting the mipmap bias for Canvas (since it seems to have worse handling than SVG for downscaling).

[2020-09-29 20:59] zepumph opened #668 "KeyboardHelp content should be specific to each Screen"
Over in https://github.com/phetsims/ratio-and-proportion/issues/82 we have a new requirement for keyboard help content which involves screen-specific content. After a length conversation with @jessegreenberg, we decided that the most ideal solution would be to move the `keyboardHelpNode` option from Sim to Screen. We also want to add an option to Sim.js to opt into having a keyboard help dialog fo

[2020-10-05 21:05] zepumph commented on #668
Everything has been done. @jessegreenberg please review. From here I can add screen-specific content to RaP over in https://github.com/phetsims/ratio-and-proportion/issues/82.

[2020-10-05 23:15] zepumph commented on #668
Oh, one more piece, @terracoda, I'm not sure that this part of the design was thought about, but since we now base keyboard help content on each screen, the Home Screen gets needs its own.

I think that the homescreen keyboard dialog will need to pass review by designers, I just made it the basic actions, so every Home Screen keyboard help content looks like this;

![image](https://user-images.git

[2020-10-06 12:42] terracoda commented on #668
@zepumph and @jessegreenberg , I think this is great.

I had thought about the Home Screen would need a Keyboard Help dialog, but I had not yet thought about what content would go in it. The Basic Actions make good sense. The home screen mainly has buttons. The only exception being the menu items in the PhET Menu, where I think you need to use the arrows keys.

I've been thinking that it would be

[2020-10-06 21:11] jonathanolson commented on #664
@loganbraywork can you retest?

There are a few parts of this that I've done:

1. Normally mipmapped images should display on Canvas better (will help screenshots or `?rootRenderer=canvas`)
2. Sprites (used in NS) will now mipmap in Canvas (when `mipmap:true` is passed in to the SpriteImage)
3. The screenshot generation will try to now match the high-dpi displays when taken (so on retina devices,

[2020-10-06 23:12] zepumph commented on #668
Added group content above, and created https://github.com/phetsims/scenery-phet/issues/630 for the general refactor. Thanks for the quick review @terracoda. Over to @jessegreenberg.

[2020-10-07 00:26] ariel-phet commented on #664
@jonathanolson can you assign to @pixelzoom to review *after* it has been tested. If all looks good from testing, just go ahead and reassign it to him for review.

@pixelzoom although reviewing this work won't be a rush, it does potentially affect NS so probably to do sooner than later while things are fresh in your mind.

[2020-10-07 14:49] jbphet commented on #645
I'm not sure why this was assigned to me, and I asked @KatieWoe, and she couldn't recall either.  It sounds like @jonathanolson is on it, so I'm unassigning myself.

[2020-10-07 17:14] terracoda opened #669 "Common pieces/options for Keyboard Help content (clean up)"
@zepumph, while reviewing content for RaP's KB Shortcuts dialog, I noticed some typos/mistakes in other sims which might be in common code options.

I noticed the following:
**In Molarity**
- there are no periods in at the ends of the phrases for the combobox instructions. Unlike the visual content, the a11y content should have periods at the ends of the phrases.
- also in the combobox instruction

[2020-10-07 17:15] terracoda commented on #669
@zepumph, in the previous comment, I think "Toggle checkboxes with Space key." is an option.

[2020-10-08 19:05] zepumph commented on #570
We discussed this at phet-io meeting today, and designers and devs feel like the way @samreid outlined in https://github.com/phetsims/joist/issues/570#issuecomment-693525458 will work for this use case, and if, in the future, the asynchronous behavior is not acceptable, then we can investigate adding support for running commands inside the sim frame.

@pixelzoom how does this sound to you? Anythin

[2020-10-08 19:30] KatieWoe commented on #664
It looked ok on Mac 10.15 Chrome. When I checked Win 10 Chrome the image looked better but the screenshot was very, very large for some reason. Over twice the size of the sim it seemed.

[2020-10-08 21:02] loganbraywork commented on #664
The sim screenshots look better on Win 10 Chrome and I have the same issue katie has with them being slightly larger. The thumbnails for the two screens are both still lower quality it seems. On Win 10 Firefox it was the same.

[2020-10-12 17:22] zepumph commented on #669
See https://github.com/phetsims/scenery-phet/issues/630

[2020-10-12 17:25] zepumph commented on #669
I added these fixes for Molarity/common code. I also created side issues for future work. I'm heading to https://github.com/phetsims/scenery-phet/issues/630 for general help section changes now. Closing

[2020-10-12 17:31] zepumph commented on #669
Hey I just saw one more thing in Molarity that I'm going to add to this issue. Even though it has a checkbox in it, the general section isn't adding the row for checkboxes. I'll add that here.

[2020-10-12 17:33] zepumph commented on #669
Alright. @terracoda, if anything here looks problematic, please reopen.

[2020-10-12 17:33] #669 closed

[2020-10-12 20:00] pixelzoom commented on #570
I've never been clear on the requirements, and this issue was opened at the request of designers.  So if designers are OK with what @samreid proposed in https://github.com/phetsims/joist/issues/570#issuecomment-693525458, then that sounds fine to me.

Should an example be added to client-facing documentation?

[2020-10-12 20:04] zepumph commented on #570
Maybe it would be nice to start a "FAQ" section of the wrapper index, that can expand for some use cases that devs have as they do. Part of me feels like this goes beyond the scope of our client facing doc right now, and I'm tentative to add to our current wrapper index before it gets a face lift.

[2020-10-13 15:43] pixelzoom opened #670 "ScreenView ES5 setter for accessibleOrder"
I'm converting ScreenView to ES6 class, and I see this:

[code]

No JSdoc.

ScreenView extends Node, which mixes ParallelDOM, which defines `setAccessibleOrder` and `set accessibleOrder`.   So I believe that this is an override, and you should be overriding `setAccessibleOrder` here (never override an ES5 setter/getter, always override its associated set/get method).

So the change would be:

[cod

[2020-10-13 15:48] pixelzoom commented on #670
Changed in the above commit, ready for review.

[2020-10-13 16:53] zepumph commented on #670
Yes yes that looks very nice. Thanks.

[2020-10-13 16:57] zepumph commented on #670
And I added some doc to help explain. Anything else here?

[2020-10-13 17:09] pixelzoom commented on #670
👍🏻

[2020-10-13 17:09] #670 closed

[2020-10-13 20:27] KatieWoe opened #671 "Published sims improperly zoom"
Found during https://github.com/phetsims/QA/issues/559.
When Molecules and Light was republished recently a proper method for zooming in and out was made for simulations. I noticed that the Charges and Fields sim being tested for maintenance release had a buggy zoom behavior that it should not possess (Shas is before the zoom change in master). I was able to replicate this behavior on some older s

[2020-10-13 21:08] jessegreenberg commented on #671
@KatieWoe can you please confirm that by "Pinch to zoom" you mean on a trackpad? Pinching and zooming on a touch screen does nothing, correct?

[2020-10-13 21:09] KatieWoe commented on #671
Yes, on trackpad (Mac I'm using doesn't have a touchscreen)

[2020-10-13 21:30] KatieWoe commented on #671
On safari it may be easier if you start trying to zoom while the simulation is still loading. This seems to be required for the the iPadOS 14 Safari.

[2020-10-13 21:55] jessegreenberg commented on #671
OK thanks, that makes sense. I suspect that this is how it has always been for HTML5 sims with trackpads. Trackpad zooming works different than other browser zooming. For example, if you zoom in with a trackpad you will not see the browser's zoom indicator
![image](https://user-images.githubusercontent.com/6396244/95919545-c7410e00-0d7b-11eb-8d1a-fda469dc4a44.png)

This list is what I would expect

[2020-10-14 01:24] ariel-phet commented on #671
@jessegreenberg @KatieWoe

I can reproduce this odd behavior on Charges and Fields (published version), if zooming in while the sim loads using pinch to zoom on iPad iOS 14.

However, pinching to zoom on the loading screen seems like "edge case" behavior. Importantly if I pinch to zoom on the website, and then launch the sim, it launches normally.

As @jessegreenberg points out, the behavior seen

[2020-10-14 16:46] jessegreenberg commented on #671
The splash screen doesn't use scenery or the AnimatedPanZoomListener, so it would be much easier if we can just disable pan and zoom on the splash screen rather than supporting zoom there, then trying to get the zoom to carry over to the sim. Over slack I confirmed with @ariel-phet that this is an OK solution. Since that is the only action item for this issue, I am going to make a new issue to dis

[2020-10-14 17:25] jessegreenberg opened #672 "Disable pinch and zoom on the splash screen"
From #671, it is currently possible to pinch and zoom in on the splash screen while the sim is loading using native browser zoom. If this is done it may be impossible to zoom back out because once the sim is loaded we are preventing default pan/zoom gestures and commands.

So we would like to disable pinch to zoom on the splash screen. This will involve preventing default on certain gestures while

[2020-10-15 18:55] jonathanolson commented on #664
Is it possible to get both a screenshot of the browser (including some of the browser interface, so I can verify scale) AND a screenshot generated by the browser? Also that "debug info" usually used for bug reports would be helpful.

[2020-10-19 19:58] pixelzoom commented on #640
Layout of the home screen differs based on the number of screens.  In HomeScreenView.js:

[code]

I will test with:

* natural-selection (2 screens)
* RPAL (3 screens)
* gas-properties (4 screens)
* equality-explorer (5 screens)

[2020-10-19 20:29] pixelzoom opened #673 "Failure with > 6 screens"
Noted while trying to test Home screen layout changes for https://github.com/phetsims/joist/issues/640#issuecomment-712408179.

If a sim has more than 6 screens, joist fails hard.  For example, here's what I get when I try to add 1 Screen to scenery-phet-main.js:

[code]

The failing assertion is in NavigationBarScreenButton.js:

[code]

While this prevents thorough testing of the Home screen, it'

[2020-10-19 20:37] pixelzoom commented on #673
I took a quick stab at this (~5 minutes) and it's not easy.  The way maxWidth is set for NavigationBarScreenButton is really unnecessarily complicated and poorly documented.

[2020-10-19 21:03] pixelzoom commented on #673
Thought I had this fixed, but then it broke changing the screen nameProperty in Studio. So I reverted. See above 2 commits.

[2020-10-19 21:12] pixelzoom commented on #673
Since NavigationBarScreenButton was a pretty big mess, I kept the cleanup parts of af34f1b, and verified that layout still looks correct when changing screen nameProperty in Studio.

[2020-10-20 17:05] pixelzoom opened #674 "PhetMenu should use HSeparator"
In PhetMenu.js, here's how the horizontal separator between menu items is implemented:

[code]

This should be using `HSeparator`.

[2020-10-20 18:15] pixelzoom commented on #640
This has turned into quite the project.  I've had to adjust font sizes, widths, heights, spacing, lineWidth, etc.  All of these quantities were apparently set empirically, instead of relative to layoutBounds.

In order for things to look the same, the multiplier for adjusting these quantities is 1024/768. That's `ScreenView.DEFAULT_LAYOUT_BOUNDS.width` / old `HomeScreenView.LAYOUT_BOUNDS.width`. C

[2020-10-20 18:31] pixelzoom commented on #640
Ugh... problems:

* Checking a few sims reveals that sim-specific screen icons have the same problem as joist components.  They have fonts, lineWidths, etc. that will need to be adjusted.

* Positioning of the home button + screen buttons in the navigation bar is not correct, and seems somehow related to whether the keyboard help and/or sound buttons are visible.

So now I'm leaning towards bailin

[2020-10-20 19:09] pixelzoom commented on #640
I discussed with @samreid, and it doesn't seem like making this change is going to result in significant benefits.   After > 4 hours of working on this, there are still big problems. And the joist code is (in general) not in good shape.   So I'm going to bail on this - my work is captured in the patch below.  I recommend that PhET plan on a major overhaul of joist in the not-too-distant future, a

[2020-10-20 19:26] pixelzoom commented on #674
Done in the above commit.  Compared the PhET menu before and after, and it looks identical.  Closing.

[2020-10-20 19:26] #674 closed

[2020-10-22 04:33] ariel-phet commented on #664
Debug info:

Name: ‪Natural Selection‬
URL: https://phet.colorado.edu/sims/html/natural-selection/latest/natural-selection_en.html
Version: 1.1.1 2020-09-08 16:25:37 UTC
Features missing: applicationcache, generatedcontent, applicationcache, touch
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36

[2020-10-22 04:53] ariel-phet commented on #673
@pixelzoom are you suggesting Joist should fail "gracefully"...not quite sure what the work to be done is. PhET definitely has no plans for a sim with more than 5 screens (and I would push back pretty hard on a sim with more screens than that) especially since we generally aim for 4 or less, with the rare 5 screener. Happy to chat to better understand.

[2020-10-22 16:08] pixelzoom commented on #673
No, I'm suggesting that it shouldn't fail at all.  There's absolute no reason to write code that is dependent on the number of screens being <= 6, regardless of whether PhET plans on having a sim with > 6 screens.

[2020-10-22 19:43] ariel-phet commented on #640
Assigning over to @jessegreenberg as he will likely need to consider these questions when thinking about the enhancements as part of the Global Controls work.

Personally I think considering a "joist 2.0" would make quite a bit of sense as part of supporting the Global Controls work, but will let @jessegreenberg make some recommendations with the regards to that thought.

[2020-10-23 22:47] jessegreenberg commented on #671
Going to pick up in #672, closing.

[2020-10-23 22:47] #671 closed

[2020-10-23 22:54] jessegreenberg commented on #657
Nothing reported on CT and we have a few specific issues to work on in response to this, so closing this issue.

[2020-10-23 22:54] #657 closed

[2020-10-27 03:39] ariel-phet commented on #673
Marking for a (brief) dev meeting discussion

Although I agree we probably should not write code in that way, curious if we have any volunteers to fix. Or perhaps we should wrap this into "Joist 2.0" type work that will likely be necessary as part of the global control work. @jessegreenberg might have some opinions.

[2020-10-30 15:42] pixelzoom commented on #664
@ariel-phet please clarify:

* Does this issue block https://github.com/phetsims/natural-selection/issues/251, the dev test for NS?

* Should the priority of this issue be increased?  I'm trying to reconcile how an issue can be "blocks publication" with "medium priority".

[2020-10-31 01:46] ariel-phet commented on #664
Not blocking

[2020-11-02 16:45] jessegreenberg opened #675 "Legends of Learning test harness steps forward when paused after opening message logs"
From https://github.com/phetsims/energy-skate-park/issues/296, but it applies to all sims.

If the LoL test harness is paused, opening the message logs will step the simulation forward a bit. Unclear if this is a LoL bug or a bug in PhET code. This needs to block publication of master until resolved.

[2020-11-02 16:54] jessegreenberg commented on #675
If the test harness is paused, opening and closing the message logs will send another 'pause' message to the simulation. The sim steps forward because when we receive the pause message we call `sim.stepOneFrame`.

![image](https://user-images.githubusercontent.com/6396244/97895351-abd57d00-1d01-11eb-9e67-b08c7989d009.png)

The second pause message in that snapshot was just from opening the message

[2020-11-02 16:58] jessegreenberg commented on #675
Ah, this is actually a duplicate of https://github.com/phetsims/joist/issues/515. Closing.

[2020-11-02 16:58] #675 closed

[2020-11-02 16:59] jessegreenberg commented on #515
This was recently reported again in #675. It still seems like a bug in the LoL test harness. But in #675 I said

That may stop the move forward on our end if this is important.

[2020-11-02 17:50] samreid commented on #515
The additional frame was introduced in https://github.com/phetsims/pendulum-lab/issues/187.  But maybe we can work around the problem in this issue by skipping the frame when "pause" is called on an already "paused" sim.  Like so:

[code]

@jessegreenberg what do you think?

[2020-11-02 18:00] arouinfar commented on #515
This was also reported in https://github.com/phetsims/QA/issues/562 and https://github.com/phetsims/QA/issues/565.

[2020-11-02 21:25] pixelzoom opened #676 "joist buttons do not use enabledProperty"
In https://github.com/phetsims/sun/issues/515#issuecomment-720709179 (sun buttons have a different API for enabledProperty), @arouinfar reported:

* `gravityAndOrbits.general.view.navigationBar.homeButton.enabledProperty`
* `gravityAndOrbits.general.view.navigationBar.modelScreenButton.enabledProperty`
* `gravityAndOrbits.general.view.navigationBar.toScaleScreenButton.enabledProperty`
* `gravityAn

[2020-11-02 21:27] pixelzoom commented on #676
Re navigation bar buttons...

* The buttons in the navigation bar are not sun buttons.  The home screen button (HomeButton) is a subclass of JoistButton, which is an entirely different button implementation.  The screen buttons are subclasses of Node.

* In Natural Selection https://phet-dev.colorado.edu/html/natural-selection/1.2.0-rc.2/phet-io/wrappers/studio/, published well before work started

[2020-11-02 21:30] pixelzoom commented on #676
I'm not clear (in general) with what happens with focus for disabled components. What should happen with focusHighlight when a navigation bar button is disabled?

[2020-11-02 21:53] ariel-phet commented on #676
@zepumph this seems to be your wheelhouse as it has overlap with iO/a11y/recent work on enabled property.

Marking as high priority since it seems like this work is in the "wrapping up" phase and it would be good to iron out the details. Let me know if that priority should be reassessed.

[2020-11-02 21:54] zepumph commented on #676
In general disabled elements are still focusable. It is an alt-input no-no to remove or change the focus order, as it is very disorienting. You can focus, but you can't activate a button.

[2020-11-09 15:22] terracoda commented on #665
@zepumph, do you have any questions about the changes I requested above?

In a recent interviews, I got feedback that the current Home screen is a little sparse on content, and in a previous interview a learner was confused about the number of screens. I want to make new changes to the over all set up. Some more like this:

H1: {{Name of SIM}}

P: Welcome to {{Name of SIM}}. It has {{Number of Scr

[2020-11-09 15:23] terracoda commented on #665
@zepumph, would these content changes be fairly trivial?

[2020-11-09 18:37] zepumph commented on #665
Looks easy enough to me!

[2020-11-09 18:41] zepumph opened #677 "Adjust screen h1 when using `?screens=1`"
When I go to Ratio and Proportion's first screen, this is the H1:

When I go to Friction (a single screen sim), the H1 is:

When I go to Ratio and Proportion with `?screens=1`, the H1 is:

On this third case though, note that the sim title is different, it says "Ratio and Proportion - Discover". I wonder if we should update the H1 for the screen in this case also, so that it is easier to recognize

[2020-11-10 15:09] terracoda commented on #677
@zepumph, I was not aware of this third case.
So what currently happens with the actual `title` element in these three cases? I think it is very important to know what is happening from the very top. The `title` element is read first and populates the browser tab.

[2020-11-10 19:31] zepumph commented on #677
When adding `?screens=1` to RaP:

![Uploading image.png…]()

[2020-11-10 19:51] zepumph commented on #677
@terracoda and I agree that altering the H1 to match the title of the nav bar works great. So in the above, the H1 title would match and be "Ratio and Proportion — Discover".

[2020-11-10 23:16] zepumph commented on #677
This is now implemented.

![image](https://user-images.githubusercontent.com/6856943/98744395-19b32180-235e-11eb-8f27-69caa4ad1e0f.png)

@terracoda please review.

[2020-11-10 23:31] zepumph commented on #665
Please note that by getting rid of "Sim Screens", I also removed the surrounding `nav` element, which was originally documented in https://github.com/phetsims/joist/blob/b91e469a596eb2e2f206f93b15a299aef342b4da/doc/HomeScreen.md#L68-L77. Please review the current HTML for the home screen in the a11y view and let me know how it sounds!

Here is a copy of the PDOM, with only the home screen and home

[2020-11-10 23:47] zepumph commented on #610
I have not gotten to this. Demoting priority.

[2020-11-10 23:53] terracoda commented on #677
I see I mention "screen" on the second screen further down in the screen summary. I might tweak that in RaP repo.
The headings look great.

[2020-11-10 23:54] terracoda commented on #677
Please close if you are all done :-)

[2020-11-11 00:52] #677 closed

[2020-11-11 22:14] zepumph commented on #676
This was solved above. I don't feel like I did anything but a bug fix. The long-term, (joist 2.0), solution would be to consolidate these joist button types, and make them extend from sun buttons, and behave similarly. For now though, I just tapped into the buttonModel's enabledProperty to achieve this regression fix. @pixelzoom  please review.

I'm not too interested in adding more button refacto

[2020-11-12 17:36] ariel-phet opened #678 "Is it time to pursue a Joist 3.0?"
Joist is a fairly fundamental piece of our HTML5 infrastructure, but since it was initially developed early on in the project, it might be time for a more involved refactor/revision to support future goals.

Certainly with the "global controls" work, iO requirements, and recent large refactors of components like buttons, it seems like a good time to investigate this question.

@pixelzoom has certa

[2020-11-12 17:38] ariel-phet commented on #676
I think that is good enough @zepumph but tagging this issue as part of https://github.com/phetsims/joist/issues/678

[2020-11-12 19:46] zepumph commented on #676
Sounds good. Over to @pixelzoom for review.

[2020-11-13 01:24] zepumph commented on #570
I think we can close this issue. There is no good place to add client facing documentation at this time. If we feel like this is an important feature for a sim, then it can be added its client guide.

Closing

[2020-11-13 01:24] #570 closed

[2020-11-16 17:50] pixelzoom commented on #676
Code changes look reasonable.  Over to @arouinfar to verify that this is now behaving as desired, since she reported this problem.

[2020-11-16 18:17] arouinfar commented on #676
Looks good in master. Thanks @pixelzoom @zepumph.

[2020-11-16 18:17] #676 closed

[2020-11-16 22:46] pixelzoom commented on #678
Here's my input.

First, triage the 83 open issues in joist.  This repo is suffering from bad hygiene. There are may too many ancient/stalled issues.  Wrap issues up, and boil it down to what needs to be done for joist 2.0.

The big chunks of work for joist 2.0 are:

* Revise/rewrite the joist button hierarchy (JoistButton, HomeScreenButton, NavigationBarScreenButton, etc.) Leverage sun buttons if

[2020-11-18 13:17] terracoda commented on #665
In phetsims/ratio-and-proportion#231, @zepumph and I were discussing common code phrases for that sim's screen summaries. That sim is a multi-screen sim. I was thinking it was safe to remove the word "interactive" from the intro sentence on the screen page because we say "interactive screens" on the Home page.  We may need to tweak things (i.e. repeat the word "interactive" on the screen page) if

[2020-11-18 13:20] terracoda commented on #665
@zepumph, other than my question in my previous comment, the latest content on the home page worked great in the latest interview. Assigning back to you to answer my question.

[2020-11-20 00:12] zepumph commented on #656
I'm going to give a ping on this because I'm about to add ?eall to CT testing, so there will likely be lots of red about it.

[2020-11-20 16:30] terracoda commented on #665
In Nov 13th interview for ratio and proportion, this set-up for the Home Screen worked rally well for the learner.

[2020-11-20 16:37] terracoda opened #679 "Focus, Multi-screen Sims & Screen Changes from Nav Bar"
In recent interviews with our first multi-screen sim with Interactive Description, it has become clear that focus needs to go to the H1 when a new screen is selected from the nav bar.

Learners using Ratio and Proportion have no trouble when a screen is loaded from the home page and focus starts at the top of the screen.

However, learners did say that it was unexpected that their focus stayed on

[2020-11-20 17:27] terracoda commented on #665
@zepumph, I am looking at dev version 1.0.0-dev.73, and the first 2 sentences on the screen pages actually read fine:
- Screen 1: The interactive Discover Screen changes as you play with it. It has a Play Area and a Control Area.
- Screen 2: The interactive Create Screen changes as you play with it. It has a Play Area and a Control Area.

I'm fine with leaving "interactive" in on all screens (home

[2020-11-20 17:29] terracoda commented on #665
Regardless, of my question now in https://github.com/phetsims/joist/issues/665#issuecomment-729670841, I think we can close this issue.

[2020-11-20 17:58] zepumph commented on #665
Sounds good! Closing

[2020-11-20 17:58] #665 closed

[2020-11-23 18:57] zepumph commented on #656
This is failing CT now.

[2020-11-25 19:40] zepumph commented on #517
Looks like this was done during https://github.com/phetsims/sun/commit/b09ae801a5ff4572a9bc1c74472660f5c187eda5. It is now running on FireListener. Closing

[2020-11-25 19:40] #517 closed

[2020-11-25 23:01] jonathanolson commented on #656
That was a hunt! Looks like NavigationBarScreenButton was mutating the bounds inside an expression (https://github.com/phetsims/joist/commit/2067bb561be21355bc43922b613976b1ac8a4241):

[code]

This caused an internally broken state in the Node itself, which gets caught by the extra assertions.

@zepumph does the above change look safe?

[2020-11-25 23:03] jonathanolson commented on #656
Also added logging and removed an extra useless check in the assertions above.

[2020-11-25 23:28] zepumph commented on #656
Oh Michael, you naïve little puppy (https://github.com/phetsims/joist/commit/2067bb561be21355bc43922b613976b1ac8a4241).  Thank you so much for the investigation! I really appreciate it.

Since this was my fault, I wonder if you could put a few words down about how you went about investigating this (just an outline), that I may be able to use in the future if I find a scary scenery-internal asserti

[2020-11-26 14:19] terracoda commented on #668
![Screen Shot 2020-11-26 at 10 49 12 AM](https://user-images.githubusercontent.com/1902116/100361707-101fef80-2fd5-11eb-835d-55558f63b6f4.png)

[2020-12-01 21:22] pixelzoom opened #680 "output level is not being set to 0 for some joist buttons"
Fourier has sim-specific sound, and (for now) we want to disable all of the sounds that come with UI components.  So I've added this to fourier-making-waves-main.js:

[code]

This silences most UI components. But I'm still hearing sounds associated with the home screen buttons and navigation bar screen buttons.

For the home screen buttons, I'm only hearing the sound when a new screen is actually

[2020-12-03 17:11] jonathanolson commented on #656
It was mainly narrowing down when the value could have changed (partially with logging), and seeing that it had no Scenery-based change. Then a scan for bounds setters in the relevant files pulled that up!

[2020-12-03 18:04] #656 closed

[2020-12-10 19:21] pixelzoom commented on #673
12/10/2020

Removed from dev meeting.  We'll take a look at addressing this as part of joist 2.0.

[2020-12-10 19:54] pixelzoom commented on #678
12/10/2020

@ariel-phet wanted feedback on whether joist 2.0 (or any of the identified changes) is necessary to add the new "Sim Preferences" feature. @jessegreenberg gave an overview of that feature.

@pixelzoom said that there's nothing blocking this new feature.  But it involves (at least) navigation bar, dialogs, layout bounds -- all things that have been identified as needing work.  Addressin

[2020-12-17 16:48] jessegreenberg commented on #678
Of the list mentioned in https://github.com/phetsims/joist/issues/678#issuecomment-728376022, I think the things that would be good to work on before the "global controls" work would be

Another that I will be thoughtful of is:

I don't think changes for this would touch "global controls" related work, but I can be careful not to add more of this coupling. I suspect other issues can be done separa

[2020-12-18 03:04] pixelzoom opened #681 "colors.html and Studio need a color editor that supports alpha"
colors.hmtl and Studio both use this color editor that is based on input type=color, and therefore cannot support alpha channel.

<img width="196" alt="screenshot_775" src="https://user-images.githubusercontent.com/3046552/102569327-837fc300-40a2-11eb-8275-84e6572b639a.png">

This means that we currently cannot use alpha in colors that are specified in ColorProfile or in Properties editable by Stu

[2020-12-18 03:07] samreid commented on #681
Here's a quick feasibility test:

[code]

![image](https://user-images.githubusercontent.com/679486/102569858-79aa8f80-40a3-11eb-90a0-56f410754ef8.png)

[2020-12-18 03:12] samreid commented on #681
Maybe we should use https://github.com/Simonwep/pickr

MIT License.  Looks like this:

![image](https://user-images.githubusercontent.com/679486/102570200-1d943b00-40a4-11eb-8c33-acf3737d2edc.png)

[2020-12-18 03:15] pixelzoom commented on #681
Re https://github.com/phetsims/joist/issues/681#issuecomment-747839283...  Thanks for cranking out a feasibility test so quickly.  Having to edit RGB in one place, and A in a different place (with the RGB picker closed) is not ideal, but better than no alpha support.

Re https://github.com/phetsims/joist/issues/681#issuecomment-747840788... Looks nice to me. Demo at https://simonwep.github.io/pick

[2020-12-22 21:57] jessegreenberg opened #682 "Should we zoom out when changing screens?"
In phetsims/ratio-and-proportion#282 we are going to move focus from the NavigationBarScreenButton to the screen itself so that focus and the virtual cursor starts at the top of the screen. Our pan and zoom feature will try to pan to the center of the focused node, clicking a NavigationBarScreenButton while zoomed in will pan to the center of the zoomed in screen.

We wanted to make sure this was

[2020-12-23 17:59] terracoda commented on #682
@jessegreenberg, I think this a great question.
After zooming in and switching screens in RaP, I think your instinct is correct.

We should zoom out when switching screens.
This would allow for some orientation to occur on a new screen before zooming in again to interaction or to take a closer look.

Some some screens are quite different, so I feel like zooming out on a screen change makes sense.

[2020-12-29 22:43] zepumph commented on #679
This seems to have been covered by https://github.com/phetsims/ratio-and-proportion/issues/282. @terracoda please reopen if there is more here.

[2020-12-29 22:43] #679 closed

[2021-01-05 20:31] ariel-phet commented on #681
@samreid this seems like a topic to bring up at iO meeting. It would be good to get a read on @kathy-phet feeling of priority

[2021-01-07 22:42] zepumph commented on #681
Related to https://github.com/phetsims/scenery/issues/1135.

[2021-01-09 03:49] samreid commented on #681
We discussed in https://github.com/phetsims/scenery/issues/1135#issuecomment-756431512 and the following comment.

[2021-01-15 18:02] terracoda commented on #652
I am okay with closing this issue. Implementation has started. I imagine issues will start popping up as we have something to review.

[2021-01-15 18:02] #652 closed

[2021-01-20 22:57] zepumph opened #683 "Updates to HomeScreen logic"
From https://github.com/phetsims/ratio-and-proportion/issues/311, it will fix a bug on iOS when using VoiceOver to not recreate the HBox containing the screen buttons each time a selection changes. While poking around there, I found a couple of other things that I would like to cover at this time.

- [x] Just call `updateLayout` instead of recreating a new HBox on each screen selection change (sel

[2021-01-21 18:28] zepumph commented on #553
Today during PhET-iO meeting, we decided that this won't be a goal to work on until a client asks for this. Marking as deferred.

[2021-01-22 18:26] zepumph opened #684 "rename phet.joist.sim.display -> phet.joist.display"
Discovered while working on https://github.com/phetsims/tambo/issues/126 with a team.

[2021-01-22 18:51] #684 closed

[2021-01-22 18:52] zepumph opened #685 "Move phet.joist.random out of joist"
From https://github.com/phetsims/tambo/issues/126, this will help us break the dependency many common code repos have on joist. We think this will be best to do by moving to a `Random` singleton instance in DOT.

[2021-01-22 19:12] zepumph commented on #685
phet.chipper.randomSeed will go away, because dotRandom.setSeed will be the mutable mechanism for altering the randomness.

[2021-01-22 19:47] zepumph commented on #685
Main work done above:

* Create DOT/dotRandom which is seeded by phet.chipper.queryParameters.randomSeed if available, for use globally
* Get rid of phet.joist.random.
* Get rid of phet.chipper.randomSeed, and just use the phet.chipper.queryParameters.randomSeed because it is not mutable by phet-io anymore.
* Add support for mutating the see of a Random, which is important for PhET-iO
* In phetioE

[2021-01-22 19:48] zepumph commented on #685
Review should block publication as it effects many repos.

[2021-01-22 19:57] zepumph opened #686 "Break dependencies on joist by using an options pattern"
From discussion in https://github.com/phetsims/tambo/issues/126, @jonathanolson, @jbphet, @samreid, and I it is best to not depend on joist globals in places like sun, whenever possible.

A pattern was suggested when using these, to declare them as a graceful default option (graceful meaning support if phet.joist is not defined).

Here is a patch we scrapped out for showPopup():

[code]

Dependenc

[2021-01-22 20:03] pixelzoom commented on #685
Reminder to:

- [ ] Change CRC to indicate that `dotRandom` should be used
- [ ] Post this breaking change to Google Group

[2021-01-22 20:04] zepumph commented on #686
@samreid, please review https://github.com/phetsims/sun/commit/ee1470e0f0212a134c1b36f765bb4ca0ca2957c3 before we apply this pattern to the rest of them. Assign back to me for implementation if you want.

[2021-01-22 21:37] zepumph opened #687 "Factor out async loading from simLauncher"
This is from https://github.com/phetsims/tambo/issues/126#issuecomment-765658077, see there, and talk of PHET_CORE/asyncLoader.

Basically this issue it to hold a whole bunch of commits for that issue, but I think the discussion and most of the review should take place over in that issue.

[2021-01-22 22:00] #687 closed

[2021-01-23 03:34] zepumph commented on #683
Alright, all has been implemented, and https://github.com/phetsims/ratio-and-proportion/issues/311 has been confirmed fixed and closed. @jessegreenberg can you please review the above commits?

[2021-01-23 15:01] samreid commented on #686
I tried a few alternatives, including:

[code]

and looked at using a pattern like required.js, but couldn't find anything clearer and more succinct than the proposal.  I'll just commit a minor wording change in the assertion message.

[2021-01-23 15:09] samreid commented on #686
Well, I committed a wording change, but cannot push since it keeps reporting that:

I'll try again later.

[2021-01-23 15:24] samreid commented on #686
Here's a `gracefulBind` that appears to work properly:

[code]

The usage site would be:

[code]

And it would still require an assertion, like:
[code]

@zepumph thoughts?

[2021-01-26 03:19] jonathanolson commented on #685
Changes look safe, however Random.js has a few issues:

- If a seed is 0, then it uses a random seed.
- `new dot.Random()` or `new dot.Random( { seed: 5 } )` are both failing in the dot playground (and presumably the build). At least the first used to work.
- Random.setSeed says it only takes numbers, but null is passed in

Removing blocks-publication, since this looks good for publication.

Dot h

[2021-01-26 17:29] jessegreenberg opened #688 "Move blur listener on ScreenView to display"
It was discovered in https://github.com/phetsims/sun/issues/676 that a blur listener added to ScreenView in https://github.com/phetsims/joist/commit/180efd8722f2a11aede948f4e8d5b6b769860e10 for focus management is effectively making all Nodes under the ScreenView `pickable: true`, changing hit testing and breaking behavior in many cases. I am not sure if adding a blur listener should impact hit te

[2021-01-26 17:35] jessegreenberg commented on #688
I tried blurring immediately but it didn't work for NVDA, focus went away but the virtual cursor stayed in the navigation bar. We likely tried that in https://github.com/phetsims/ratio-and-proportion/issues/282. Ill try moving to the display next.

[2021-01-26 17:58] zepumph commented on #688
Thanks!

[2021-01-26 18:47] jessegreenberg commented on #688
This listener was moved from the ScreenView to the Display in the above commit. I verified that the behavior still works with keyboard navigation and screen readers. @jonathanolson would you mind reviewing this change?

[2021-01-26 18:57] jonathanolson commented on #688
- `if ( has ) { remove() } add()` could be changed to `if ( !has ) { add() }` (shorthanding it) for adding the blur listener? It would be ideal if we didn't remove and then re-add?
- Is there a case where currentView.visible would be false?
- I don't know the constraints, but is it possible to have one persistent listener on the Display (that doesn't need to be added/removed), with just extra logi

[2021-01-26 19:05] jessegreenberg commented on #688
Thanks @jonathanolson -

The above commit removes the unnecessary conditionals. I will take a look at changing the listener so that it doesn't have to be added/removed.

[2021-01-26 20:41] zepumph commented on #685
@jbphet  found an error because recent commits were using `phet.dot.dotRandom` on the namespace instead of importing it. @jonathanolson came in for the quick fix, and I added the namespace call to bad text for clarity.

[2021-01-26 21:16] samreid commented on #685
Thanks for fixing this--I mistakenly used `phet.dot.dotRandom` as an analogy with `phet.joist.random`, but should have used the import. My pattern was copied into ComboBox as part of https://github.com/phetsims/sun/issues/679.  Thanks again!

[2021-01-27 19:13] jessegreenberg commented on #683
Changes all look great and things are behaving well with various forms of input. The only thing I wanted to check was in
6270e6d600b2679e1e0688b3df1b7ad6a8469b09, a focus listener was removed and not replaced. Is that because the listener on line 188 is already doing that?

[code]

[2021-01-27 23:14] zepumph commented on #686
I like it! Committed above. I don't think this is the only answer though, as we will need a graceful solution for getting the object too right? Like for `phet.joist.display` or `phetio.joist.sim.utteranceQueue`. Perhaps we can just use _.get for that directly though. Should we create a `gracefulGlobalGet` also?

Note how, if not in the global namespace, then something like `_.get( 'phet.joist.sim.

[2021-01-27 23:29] samreid commented on #686
Can you help me understand where the `gracefulGlobalGet` would be used?  What would the fallback be if joist is not around?  Or would we handle that at the call site?

[2021-01-27 23:29] zepumph commented on #685
and

Are intertwined to me. I totally see how I added a hard dependency to seedrandom with my changes. Sorry about that. I see two steps forward. Either accept that, or add in this patch to get things to work when seedRandom doesn't work. @jonathanolson do you have a preference?

[code]

Otherwise I did all other items here.

[2021-01-27 23:31] zepumph commented on #686
These are the possibilities I'm seeing, note that we use phet.joist.display in ComboBox, so I chose there to add the option. What do you like best?

[code]

[2021-01-27 23:36] jonathanolson commented on #685
I'm fine with a hard dependency, but seedrandom would need to be added to many HTML files (a lot where `assert/js/assert.js` is included and seedrandom isn't).

Otherwise a soft dependency is fine like above.

[2021-01-27 23:47] samreid commented on #686
Maybe `display: gracefullyGetMe( 'phet.joist.display'), // would return Object|null` is best, since it is clear that null is acceptable.  We typically prefer `null` over `undefined` for sites like this.

[2021-01-27 23:50] KatieWoe opened #689 "Objects can be picked up as you enter screen"
**Device**
iPad 6th Gen
**OS**
iPadOS 14.4
**Browser**
Safari
**Problem Description**
For phetsims/QA#600. Seems to be a touch issue. When on the home screen, if you enter one of the screens by tapping a part of the icon that turns in to the object, the object will be picked up as you enter the screen. This is done without lifting your finger.

**Steps to Reproduce**
1. Go to the home screen
2. En

[2021-01-28 01:39] zepumph commented on #686
maybe I'll call it `getGlobal` for now. I'll commit shortly.

[2021-01-28 01:42] zepumph commented on #686
Above is a proof of concept, and I think it can be used elsewhere, but for Display in this case in MenuItem, I think that we may just want to copy the way the ComboBox gets a display:

[code]

[2021-01-28 01:45] zepumph commented on #686
I tried but it doesn't seem to work when `this` is a `MenuItem` instance, because `this.getUniqueTrail().rootNode()` is PhetMenu. I guess it isn't rooted in a display for some reason? IDK.

@samreid what do think about what is committed?

[2021-01-28 02:29] samreid commented on #686
Did your commit push?  I didn't see it referenced in this issue.

[2021-01-28 02:44] zepumph commented on #686
Sorry about that!

[2021-01-28 03:00] zepumph commented on #685
Committed with grace above.

I noticed though that without seedrandom, seed doesn't do anything or work as expected. Should we assert out if seed is provided and there is no Math.seedrandom?

[code]

[2021-01-28 03:01] samreid commented on #685
Yes, that should be an assertion error.

[2021-01-28 03:03] samreid commented on #686
The commit looks good to me, I just fixed a minor typo.  What's next for this issue?

[2021-01-28 03:05] zepumph commented on #685
Alright thanks for all the help. Closing. Please reopen if there is anything else.

[2021-01-28 03:06] zepumph commented on #686
FIll out the checklist in the first comment, and see if there are any more that we can cover with the strategies implemented in above.

[2021-01-28 03:10] samreid commented on #685
I noticed this line in the commit:

[code]

But I forgot that `assert` no longer evaluated functions passed to its 1st arg, which changed in https://github.com/phetsims/assert/issues/2.  Sorry for the false alarm, closing again.

[2021-01-28 03:34] samreid commented on #686
You are more in tune with this issue, so I'll self-unassign for now, but let me know if you prefer I get up to speed and continue.

[2021-01-28 03:50] pixelzoom commented on #685
Reopening.  I still see `phet.joist.random` in the CRC:

[2021-01-28 03:51] zepumph commented on #685
Ahh, right, thanks.

[2021-01-28 04:07] pixelzoom commented on #685
In phet-software-design-patterns.md:

[2021-01-28 21:42] zepumph commented on #683
Yes, I was confused by logic that focused itself when getting the focus event in addition to the listener you posted above that is actually executing the focus logic. It looked buggy to me, so I removed it and haven't seen any issues come from it. Can you think why that may have been there? Would you like me to put it back?

[2021-01-28 22:49] jessegreenberg commented on #683
No, I agree and think it is better without - just making sure. Closing.

[2021-01-28 22:49] #683 closed

[2021-01-28 22:56] zepumph commented on #685
updated documentation above, and posted to the google group for breaking API changes. Closing

[2021-01-28 22:56] #685 closed

[2021-01-29 00:00] jessegreenberg commented on #688
The Display listener was changed so it doesn't need to be added/removed when screen changes - @zepumph would you mind reviewing this part?

[2021-01-29 01:08] zepumph commented on #688
That looks really nice. Thanks.

[2021-01-29 19:00] jessegreenberg commented on #688
Thanks, closing.

[2021-01-29 19:00] #688 closed

[2021-01-29 19:22] jessegreenberg commented on #668
The options as described in https://github.com/phetsims/joist/issues/668#issue-711447323 look good and are working well, thanks!

[2021-01-29 19:22] #668 closed

[2021-01-29 23:13] jonathanolson commented on #689
My hypothesis (without any confirmation, but makes sense) is:

1. User presses on the home-screen button
2. FireListener attaches to the Pointer
3. Button fires immediately, which causes the screen switch
4. Sim.js screen change listener calls `interruptSubtreeInput()` on the home screen
5. The FireListener unattaches to the Pointer (because of the interruption)
6. The user is now on the new scree

[2021-01-30 00:22] jbphet commented on #689
I just discussed this issue with @kathy-phet as part of the issue review prior to publishing number-line-integers.  She agrees that these buttons should fire on touch release, the way our other buttons do, rather than on touch start, the way they do now.

[2021-02-01 17:51] jessegreenberg commented on #658
Change made above. @chrisklus I saw you listed as an author of HomeScreenButton.js would you mind reviewing this change?

[2021-02-01 18:14] jessegreenberg commented on #682
Done in the above commit. @zepumph I am curious if this will have an impact on the feature with PhET-iO? Like if the screenProperty is set on startup in the downstream sim which resets the transform, it seems it will be impossible to load a sim with a predetermined pan/zoom. That may be acceptable for now, but want to know your thoughts.

[2021-02-02 00:00] zepumph commented on #682
In general this is how we solve this. Basically saying that state setting should not change this.

[code]

This doesn't change behavior like when the screenProperty changes from studio, but I think we can keep that in for now, and see if we get complaints. What do you think? Will you apply this patch and try it out in the state wrapper?

[2021-02-02 00:06] chrisklus commented on #658
Thanks @jessegreenberg - looks great. It was unclear to me why fire on down was the desired behavior when I ported the button from its previous file anyway. Back to you to close if all set.

[2021-02-02 00:11] jessegreenberg commented on #658
OK great, thanks!

[2021-02-02 00:41] jessegreenberg commented on #682
Thanks! That is exactly what I was looking for. I added that line and tested in state wrapper by first setting "Set State Rate" slider to zero, going to a different screen in upstream sim and changing zoom level, then pressing "Set State Now". I saw that zoom level was carried to downstream sim in the state wrapper. I also saw it working as I would expect in studio, zoom level was carried over to

[2021-02-02 00:43] jessegreenberg commented on #682
I think this is ready for review, @terracoda can you please try this change out in a multi-screen sim? The zoom level should reset ever time you change screens. If it is working as you expect, feel free to close.

[2021-02-02 17:27] jessegreenberg commented on #672
This is done with the above commit. I tested on an iPad, Windows 10 touch screen track pad, and macOS trackpad. @samreid would you mind reviewing this change since you are the author of splash.js?

[2021-02-02 17:57] terracoda commented on #682
This work great on my Mac with Safari.

[2021-02-02 18:53] terracoda commented on #682
Pan and Zoom doesn't work at all with VoiceOver enabled. I think that is intended.
And with VO not enabled, the Pan and Zoom between screen seems to work fine, i.e., the screen zooms back out to give the learner a view of the entire sim screen.

I think we can close this issue.

[2021-02-02 18:53] #682 closed

[2021-02-03 17:59] samreid commented on #672
I tested with and without the commit on iPad 7 and saw that it had the desired behavior, nice work!  I made minor formatting changes in the commit.  Some questions:

- [ ] It seems there is a typo or contradiction in this sentence `const passiveOption = { passive: false }; // mark as passive to allow preventDefault()`, we are marking it as passive:false?  I think the doc probably just needs to be

[2021-02-03 18:25] jessegreenberg commented on #672
Thanks for reviewing! For the first two items, I changed as you recommended. I added documentation about `gesturestart`. It is required for macOS trackpad gestures at least, but I think `touchstart` covers iOS touchscreens. I added documentation to this effect.

Hmm, I am not sure. These three cover mouse, trackpad, and touch events which are the native methods of input I can think of to request z

[2021-02-03 18:48] samreid commented on #672
Some issues inadvertently got referenced to here, I'll link them back to https://github.com/phetsims/tandem/issues/166

[2021-02-03 18:53] samreid commented on #672
Looks great, thanks!  Closing.

[2021-02-03 18:53] #672 closed

[2021-02-03 20:15] jbphet commented on #689
Issue https://github.com/phetsims/joist/issues/624 is referenced in a comment in `HomeScreenButton.js`, and appears pretty related to this issue.

[2021-02-03 20:46] jbphet commented on #658
The behavior on touchscreen devices that results from this change is not correct.  With this in place, a single touch of a home screen icon goes to the screen, rather than selecting the icon.

[2021-02-03 20:47] jbphet commented on #658
@jessegreenberg - we should coordinate the effort on this one and #689, since they are closely related.

[2021-02-03 20:55] jbphet commented on #689
I decided to pursue the avenue of making the buttons fire on touch release rather than trying to interrupt the input, since this seems like the way the buttons should behave anyway.  I essentially removed the feature where the user can select different home screen buttons by sliding around, and it seems to solve the problem.  I didn't commit this, but a patch is included below.

The next question

[2021-02-03 21:21] jessegreenberg commented on #658
I see, thanks.  It is caused by the `touchover` listener
[code]

I am not sure how important this is, would it be OK to remove this? It looks like you were exploring that in https://github.com/phetsims/joist/issues/689#issuecomment-772816551 as well.

[2021-02-03 22:20] KatieWoe commented on #689
This can be done in RaP: https://github.com/phetsims/QA/issues/601.

[2021-02-03 22:22] KatieWoe commented on #689
Additionally, as discussed with @jbphet over Zoom. On multiple sims published, if you click down on a home icon with a mouse, you enter the screen without letting go. This does not pick up items as it does in touch.

[2021-02-04 02:12] pixelzoom commented on #680
Raising the priority of this because it's a requirement for Fourier, and it annoying when I'm fuzz testing.  Labeling for dev meeting discussion so we discuss who should do this and when.

[2021-02-04 18:02] chrisklus commented on #689
From 2/4/21 dev meeting:

Devs generally think that firing on touch up is the way to go and will simplify things.

We discussed improving HomeScreenButton by using some button component, i.e. button model, from Sun, but think that these buttons are too custom of behavior to do so.

JB: How about I try the patch above and make a dev version to try it out on a touch screen. In the process, I'll try

[2021-02-04 18:04] jessegreenberg commented on #658
In https://github.com/phetsims/joist/issues/689, we decided to revert this change and wait until a decision is made for how to proceed with HomeScreenButtons. This issue may be resolved naturally if the 'swipe selection' feature is removed, or it may be resolved naturally when other changes to HomeScreenButton occur. Unfortunately this regression is in the CCK Virtual Lab RC, so the revert will ne

[2021-02-04 18:05] samreid commented on #689
To elaborate on this, @pixelzoom and @jbphet said this has been a confusing user experience when they share PhET sim home screens with others.

[2021-02-04 20:00] zepumph commented on #678
From today's dev meeting, "Someone said that we already on 2.0, so now it's time for 3.0."

[2021-02-04 20:06] samreid commented on #678
At today's meeting, @pixelzoom and @chrisklus and @samreid and possibly @jessegreenberg agreed to meet to triage and prioritize the parts of this issue.

[2021-02-09 17:27] samreid commented on #678
@pixelzoom @chrisklus and @jessegreenberg would it be efficient for us to asynchronously review the open issues and https://github.com/phetsims/joist/issues/678#issuecomment-728376022 and comment on proposed priorities, or should we frame this as a working meeting?  If we can begin asynchronously, how can we synchronize our triaging without duplicating too much work?

[2021-02-09 19:56] jbphet opened #690 "Consider making home screen buttons behave like regular buttons"
The current screen-selection buttons on the home screen behave in a pretty non-standard way in that the user first has to select the button for a given screen, at which point it enlarges, and then the user needs to press the enlarged button.  While discussing what to do about #689 during the 2/4/2021 developer meeting, it was suggested that rather than trying to solve problems that that result - a

[2021-02-09 19:58] jbphet commented on #690
Assigning to @kathy-phet to get input on whether this is something that she would support.  If so, we would add it so our list of upcoming "epics" and prioritize.

[2021-02-10 03:28] pixelzoom commented on #678
I've already done my triaging, and the results are in https://github.com/phetsims/joist/issues/678#issuecomment-728376022.  I've edited that comment  to number the "chunks".  Highest priority imo are (2), (1), (5), (4), in that order.

[2021-02-10 04:41] samreid commented on #673
I tried 7 screens in gravity and orbits, and it turned out OK:

![image](https://user-images.githubusercontent.com/679486/107465277-53432680-6b1f-11eb-8019-810308c272c4.png)

I hypothesized that the short text made this possible, and tried increasing the text length, but it still turned out OK:

![image](https://user-images.githubusercontent.com/679486/107465394-7d94e400-6b1f-11eb-940a-bd5099a2aec

[2021-02-10 05:10] samreid commented on #673
I experimented with this in NavigationBarScreenButton.js

[code]

But it led to buttons icons that were different sizes.

Experimentational patch:

<details>

[code]
</details>

[2021-02-10 13:43] samreid commented on #103
CCK save/load will be discussed in https://github.com/phetsims/circuit-construction-kit-common/issues/151, it is unclear whether that will use joist.  On hold until there is progress in that issue.

[2021-02-10 13:51] samreid commented on #163
The TODO marked for this issue is here:

[code]

Some questions:
1. Why is credits.translation the conditional for this?  Is it ever true?  I don't see any "translation:" hits in `*main*` files.
2. Why is credits taken from both `creditsTranslationString` and `credits.translation`?

@jbphet can you please comment on these questions, and how translation credits are currently handled?

[2021-02-10 14:00] samreid commented on #188
One new occurrence of this pattern is A11yButtonsHBox.js, which takes `Sim` as a constructor parameter, and accesses:
* sim.soundPartOfTheAPI
* sim.supportsSound
* sim.accessibilityPartOfTheAPI
* sim.hasKeyboardHelpContent
* sim.screenProperty
* sim.supportsInteractiveDescription

What is a better pattern here?

Also, there are now around 300 occurrences of `phet.joist.sim` for things like:
* phet

[2021-02-10 17:05] jbphet commented on #163
Let me briefly comment on what I know off the top of my head, and you can send it back to me if you need more information.  We don't build translation credits into the "About" dialog, we just add a link to the website page the tracks translation credits.  Those credits are built from information in the translated string files in the babel repo.

[2021-02-10 19:32] pixelzoom commented on #680
I think I've discovered the problem here.  Screen selection uses ScreenSelectionSoundGenerator.  Unlike the sounds for other UI components, this is a SoundClip, not a SharedSoundClip.  And it therefore does not register itself as `categoryName: 'user-interface'`.

Is there some reason why this should not be converted to a SharedSoundClip, using the same pattern as (e.g.) checkboxCheckedSoundPlayer

[2021-02-10 19:47] pixelzoom commented on #690
Another advantage to switching sun button would be that sounds would be associated with UI components, not with Properties.  Sounds are not currently associated with joist buttons, they are associated with Properties.  So if someone changes (e.g.) the screenProperty via PhET-iO, they will hear a sound.

[2021-02-10 19:47] pixelzoom commented on #680
Worked on this with @jbphet, fixed in above commit.  Closing since we collaborated.

[2021-02-10 23:54] kathy-phet commented on #690
The current home screen design was quite purposeful - to attract users into interact with the first screen first. I would be pretty hesitant to go with 4 equally sized buttons that go straight into the simulation. Can we use sun buttons and get the same behavior we have now?

But this is very much a design question, so should be discussed at design meeting.

[2021-02-10 23:58] kathy-phet commented on #690
And if @ariel-phet can make design meeting it would be good, because he did a lot of interviews on this design pattern when it was developed.

[2021-02-11 00:21] pixelzoom commented on #690
I get design motivation -- emphasis of the first screen.  But I've never been fond of the execution.  Just about everyone who I've shown sims to initially has problems with the home screen buttons.  It's very odd to have to click a button twice to select a screen.  And it's very odd to have buttons change size.  There are other ways to attract users to a button, for example putting a bright halo a

[2021-02-11 00:48] emily-phet commented on #690
Changes to the buttons would impact the sound and description as well. We currently have sounds and description patterns in place. I'm not weighing in on whether changing would be an improvement or not, rather, just indicating that there are implications for the decision here across visual and auditory display, and all input methods - touch, cursor, focus (e.g., keyboard, switch, etc.).

[2021-02-11 00:54] kathy-phet commented on #690
@emily-phet - Thanks. Good to understand implications. You were also very involved in the redesign of the home screen I believe. So if you have design insight, that would also be great to share.

The designers also do a lot of interviews. I personally haven't seen any students have trouble with the UX when I teach with the sim, but I don't watch over them as much as the designers do.

[2021-02-11 01:12] kathy-phet commented on #690
After considering this for a bit, I'm inclined to not invest our development and design efforts in a change here since it is likely to be a cascading impact of time and effort, with many more total hours than just fixing the behavior in the original issue which wasn't a big issue anyways. To change the home screen would involve resources from the design team, development team, a bunch of interview

[2021-02-11 01:12] #690 closed

[2021-02-11 03:59] samreid commented on #690
I don't think we should consider this proposal the means for solving https://github.com/phetsims/joist/issues/689, but more specifically for these two topics discussed in the comments above:

(1) It would be a better user experience if tapping on a small homescreen icon takes you to the screen, rather than making that button large and requiring a second tap.
(2) We should simplify the implementati

[2021-02-11 04:59] kathy-phet commented on #690
This is actually also a purposeful constraint that was designed specifically and pedagogically into the original sim. We did not want students to be taken into those screens with just one click. We wanted them to think before they leapt into that screen. We don't have the bandwidth to revisit this choice right now, because it would require a lot of design investigation around the implications of t

[2021-02-11 05:26] samreid commented on #690
Understood--thanks for explaining the value of the design.

[2021-02-11 06:17] pixelzoom commented on #188
Sim is one monolithic "flat" class that has too many responsibilities.  It's a dumping ground for features. Need to add something to the sim quickly? Add a field to Sim.  Sim hasn't been designed, it's been grown.

So my advice is to design Sim.  A good first step would be to divide Sim's responsibilities up amongst smaller "delegate" classes.  Then (for example) something that needs to deal with

[2021-02-11 17:53] chrisklus commented on #678
I would prefer to meet and have a discussion for remaining triage and prioritization

[2021-02-11 17:56] samreid commented on #689
From developer meeting:

@jbphet: Since @kathy-phet determined that we will not investigate a larger-scale change in https://github.com/phetsims/joist/issues/690, I'll work on addressing this by having the buttons fire on button up.  This is a small-scale enough change that it won't warrant accessibility changes, or require interviews.  I'll try to keep the functionality that you can mouse/touch o

[2021-02-13 04:38] zepumph commented on #188
Agreed! I want to also tag https://github.com/phetsims/joist/issues/208, an old issue that is (ish) a duplicate.

[2021-02-13 05:13] zepumph commented on #682
Note that I cherry-picked this into the RAP 1.0 rc branch.

[2021-02-14 04:53] samreid commented on #163
Based on @jbphet's remark, it sounds like we could delete the TODO and close this issue, since we have a working solution for translator credits that doesn't require them to be shown in the about dialog.  @jbphet if you agree, can you please remove the TODO and close this issue, or let me know if I should do so?

[2021-02-15 17:09] samreid commented on #255
I pointed the TODO at https://github.com/phetsims/joist/issues/222, closing.

[2021-02-15 17:09] #255 closed

[2021-02-15 17:14] samreid commented on #330
We no longer use requirejs, and the Chrome Dev Tools have helped me address recent memory leaks.  I recommend to close this issue, but @jonathanolson please reopen if you disagree.

[2021-02-15 17:14] #330 closed

[2021-02-15 17:20] samreid commented on #333
I tested the recent CCK RC on iPad 7, and saw much better behavior.  I took a screenshot with no other tabs:

![IMG_7595948DB809-1](https://user-images.githubusercontent.com/679486/107976739-438c6d80-6f77-11eb-814c-d2c64640f03d.jpeg)

And when I used the PhET menu "screenshot" feature, it showed at a nice size:

![IMG_5C7DA257C6CF-1](https://user-images.githubusercontent.com/679486/107976803-63bc2

[2021-02-15 17:20] #333 closed

[2021-02-15 17:24] samreid commented on #338
This could be useful for the following reasons:
* if we want to make startup times machine readable or to make a spreadsheet, and sort all startup times to find our slowest screen
* if we want to do profiling on several platforms

But for improving the startup time of one simulation, I think Chrome Dev Tools would work nicely.

Maybe we should have a "let's speed up the time it takes to launch sim

[2021-02-15 17:29] samreid opened #691 "Can we improve the startup time of our simulations?"
Inspired by https://github.com/phetsims/joist/issues/338#issuecomment-779360929 and https://github.com/phetsims/phet-io/issues/1733, I'm wondering how much faster we could get our simulations to launch without sacrificing features.

Is the goal faster startup for built sims?  Faster startup for unbuilt?  Faster startup for running generate-phet-io-api?  Something else?  This seems to be an epic-le

[2021-02-15 17:30] samreid commented on #355
@jessegreenberg can you please comment on the status of this issue?

[2021-02-15 17:32] samreid commented on #388
This was addressed in our move to `asyncLoader` and modules, closing.

[2021-02-15 17:32] #388 closed

[2021-02-15 17:35] samreid commented on #439
We will address this as part of https://github.com/phetsims/sun/issues/48, closing.

[2021-02-15 17:35] #439 closed

[2021-02-15 17:36] samreid commented on #465
@zepumph can you please report on the status of this issue?

[2021-02-15 17:43] samreid commented on #524
I spot checked a few sims on iPad 7 and saw that there was no fullscreen button.  I also tested master and saw it was OK too, closing.

[2021-02-15 17:43] #524 closed

[2021-02-15 17:43] jessegreenberg commented on #355
This can be closed, the remaining issue here was resolved in https://github.com/phetsims/joist/issues/683.

[2021-02-15 17:43] #355 closed

[2021-02-15 17:47] samreid commented on #559
Closing for now based on the unsupported platform and rare sighting, thanks for reporting this!

[2021-02-15 17:47] #559 closed

[2021-02-15 17:48] samreid commented on #562
@jessegreenberg has this branch been merged to master, can this branch/issue be deleted/closed?

[2021-02-15 17:48] samreid commented on #563
@jessegreenberg has this branch been merged to master, can this branch/issue be deleted/closed?

[2021-02-15 17:53] jessegreenberg commented on #563
Yes, this exploratory branch can be deleted now, it has been removed.

[2021-02-15 20:03] zepumph commented on #465
This has had iteraction multiple times since 2017.

I think we can close this issue. Sims have been published with the current PhET-iO design.

[2021-02-15 20:03] #465 closed

[2021-02-15 20:18] samreid commented on #585
@KatieWoe is this problem still occurring?

[2021-02-15 20:23] samreid commented on #622
We completed that issue and took it one step further by creating `asyncLoader`.  I'll delete the branch and close.

[2021-02-15 20:25] KatieWoe commented on #585
It still occurs in some sims such as the above mentioned curve fitting in the published version. I checked ESP, which was recently published, and it did not seem to have this issue, so it seems like it was fixed sometime in between.

[2021-02-15 20:28] samreid commented on #653
@KatieWoe can this issue be closed? If not, what do you recommend for this issue?

[2021-02-15 20:29] samreid commented on #658
I believe @jbphet indicated he intends to work on this.

[2021-02-15 20:30] KatieWoe commented on #653
I think so. Especially since I saw it outside of a sim, I don't think there's anything on our end to do.

[2021-02-15 20:30] #653 closed

[2021-02-15 20:49] samreid commented on #596
We need mipmaps since they look better in a few situations, I'll remove the branch.

[2021-02-15 20:54] samreid commented on #585
I wonder if this is related to #672, where pinch and zoom on the splash screen was still enabled.

[2021-02-16 16:49] jessegreenberg commented on #566
This was revisited and done as part of #679 and https://github.com/phetsims/ratio-and-proportion/issues/282. Closing.

[2021-02-16 16:49] #566 closed

[2021-02-16 16:55] jessegreenberg commented on #491
I think this can be closed after https://github.com/phetsims/joist/issues/679 and https://github.com/phetsims/ratio-and-proportion/issues/282, and I think there were other issues for HomeScreen description. @zepumph is that right?

[2021-02-16 16:57] zepumph commented on #491
Yes Thanks.

[2021-02-16 16:58] #491 closed

[2021-02-16 16:58] jessegreenberg commented on #492
The lang attribute was added in https://github.com/phetsims/scenery/issues/1039, closing. We also remove embedding marks from description strings to prevent "left to right embedding" from being read. Closing.

[2021-02-16 16:58] #492 closed

[2021-02-16 17:02] terracoda commented on #491
Also, the https://github.com/phetsims/joist/blob/master/doc/HomeScreen.md was updated a week or so ago to include the design for Ratio and Proportion.

[2021-02-16 19:46] samreid commented on #678
I looked through open issues and, working with @jessegreenberg and @zepumph, we were able to close 15 of the open Joist issues.  I reassigned or commented on other issues where appropriate.  I opened one new issue https://github.com/phetsims/joist/issues/691 about improving the startup time of our simulations.  We met this morning about this issue, and @pixelzoom volunteered to write up notes.

[2021-02-16 19:54] pixelzoom commented on #678
2/16/21 subteam meeting with @samreid @chrisklus @jessegreenberg @pixelzoom

Conclusions:

* This issue and the term "Joist 3.0" implies that we're going to create a new version of joist. That's not the case, and is not needed. There are some joist GitHub issues that need to be evaluated, prioritized, and scheduled to make joist better, not replace it with something entirely new. Those GitHub issu

[2021-02-16 22:06] samreid commented on #658
While working on https://github.com/phetsims/circuit-construction-kit-common/issues/667, @jonathanolson recommended using the maintenance release process to patch between https://github.com/phetsims/joist/commit/f08abbb088afde8b581412293acbd4076922aec9 and https://github.com/phetsims/joist/commit/d0be22a46c325481ea2cb3bca6bb5d3c02f1a704.  This commit was only in for 3 days, but we know it affected

[2021-02-16 22:10] samreid commented on #680
In https://github.com/phetsims/circuit-construction-kit-common/issues/667#issuecomment-780095159 @arouinfar said:

We know this problem affects at least 2 release branches (cck-dc and cck-dc-virtual-lab).  While working on https://github.com/phetsims/circuit-construction-kit-common/issues/667 @jonathanolson recommended using the maintenance release process to update all affected release branches (

[2021-02-16 22:23] pixelzoom commented on #680
Sorry, I don't have time to take the lead on this.

This presumably affects only sims that were turning off the 'user-interface' category of sounds.  Searching for `setOutputLevelForCategory( 'user-interface'`, I find only 5 occurrences: Fourier (1) and the CCK suite (4).  Fourier is unpublished, so I would guess that only CCK is affected.  @samreid is the responsible dev, so can he sort out what

[2021-02-16 22:36] samreid commented on #680
Thanks, I ran this maintenance script to update the CCK 1.2 sims:

[code]

Closing.

[2021-02-16 22:36] #680 closed

[2021-02-17 16:40] jessegreenberg commented on #658
@samreid and I used the MR process to verify that CCKDC and CCKDC Virtual Lab were the only release branches that had picked up the breaking commit https://github.com/phetsims/joist/commit/f08abbb088afde8b581412293acbd4076922aec9.

[2021-02-17 19:15] jbphet commented on #163
As far as I can tell, and from what I know, I don't think that this code is ever used.  I think it may be some work that was started but never completed, and that was intended to incorporate translation credits directly into the sim rather than having a link to translation credits on the website.  I think the whole `if` block should be removed and not just the TODO.

[2021-02-17 19:20] jbphet commented on #163
@samreid - I went ahead and removed the code as described in the comment just above.  Since this is more than you had recommended, I like to get your sign-off that this seems reasonable, so I'm assigning it back to you for review.

[2021-02-17 19:29] samreid opened #692 "ScreenView Nodes can be seen beneath the bottom of the navigation bar"
From https://github.com/phetsims/circuit-construction-kit-common/issues/671, ScreenView Nodes can be seen beneath the bottom of the navigation bar.

From the issue, you can see the probes beneath the bottom of the navigation bar.

![Can see the bottom of the volt pen](https://user-images.githubusercontent.com/48224214/108253294-7a48bc00-710e-11eb-9ac4-82ee28f96a30.JPG)

It looks like (a) the navig

[2021-02-17 19:35] samreid commented on #163
I ran several sims in aqua to test whether `credits.translation` was ever defined, and it was always `undefined` in the cases I tested.  Thanks, closing!

[2021-02-17 19:35] #163 closed

[2021-02-18 00:55] zepumph commented on #188
Part of that is being worked on over in https://github.com/phetsims/joist/issues/686. The brunt of the issue is that most common code shouldn't depend on joist, so instead of importing the modules, from it, we use a global to get the sim instance. That issue is to help break that dependency when possible, and provide flexibility when it is not possible to break entirely.

I'm not sure what to do w

[2021-02-18 01:21] zepumph commented on #686
phet.joist.display has been factored out using the `getGlobal` default option pattern above. Side issues were made when it wasn't simple enough for me to feel confident making changes.

The remaining usages of phet.joist.display are in sims or phet-io. Or will be covered by side issues, like https://github.com/phetsims/tambo/issues/131.

[2021-02-18 01:23] samreid commented on #188
Some comments:

1. We could count the number of occurrences of `phet.joist.sim.isSettingPhetioStateProperty` vs `phet.joist.sim.utteranceQueue` and see what else is being used.
2. Even after https://github.com/phetsims/joist/issues/686 is complete, it will still entail (guarded) access to joist globals.
3. Would it help to split `utteranceQueue` and `isSettingPhetioStateProperty` out of `sim` so t

[2021-02-18 01:42] zepumph commented on #686
All has been done above. Note that phet.joist.sim.utteranceQueue usages will be covered in https://github.com/phetsims/utterance-queue/issues/13. @samreid please review this work.

[2021-02-18 01:43] zepumph commented on #188
There was difficulty when originally trying to do that with utteranceQueue, though it would have been preferred. Please see https://github.com/phetsims/utterance-queue/issues/13 for work in that regard.

[2021-02-19 23:33] samreid commented on #188
There is a proposal in https://github.com/phetsims/utterance-queue/issues/13#issuecomment-780989547 for how that may reduce usage of `phet.joist.sim`.  I'm not planning further work on this issue at the moment, unassigning for now.

[2021-02-19 23:39] samreid commented on #537
I won't be able to get to this any time soon, unassigning again.

[2021-02-24 17:35] samreid commented on #686
I reviewed the implementation of `getGlobal` and its usages and it looks good.  I noticed that there is some duplication of strings, like `'phet.joist.display'` appearing as a string in 4 places (at the moment):

![image](https://user-images.githubusercontent.com/679486/109040997-cefab280-768b-11eb-8d8e-3d51fb3928b3.png)

Should this be factored out?  If so, where should the ground truth be define

[2021-02-24 19:24] zepumph commented on #686
I do not think that should be factored out. It seems like more trouble than its worth.

If you like the pattern for getGlobal, and for gracefulBind, then feel free to close.

[2021-02-24 23:29] samreid commented on #686
Thanks for reminding me that `gracefulBind` is part of this--it also seems good and this issue is ready to close.

[2021-02-24 23:29] #686 closed

[2021-02-26 00:44] pixelzoom commented on #103
This feature was requested on 2/25/2021 in the "Developing Interactive Simulations in HTML5" Google Group, see https://groups.google.com/g/developing-interactive-simulations-in-html5/c/euMS7mLlKv8/m/KXbWLsNvBAAJ:

Bill:

@samreid

@pixelzoom:

Bill:

[2021-02-26 00:55] pixelzoom commented on #103
If this feature is generally desirable (ie, not PhET-iO only), it seems worth investigating how to leverage the parts of PhET-iO that are responsible for saving/restoring state.  Perhaps factoring those parts out so that they can be used by PhET and PhET-iO brand sims.

[2021-02-26 01:13] kathy-phet commented on #103
Save/load may become part of a teacher customization feature package with some sort of small subscription with limited licensing, to help support our budget. But this would be down the road after most all sims have PhET-iO. For now, this remains not on our immediate plans.

[2021-02-26 13:48] samreid opened #693 "Move `resizeAction` to top level and get rid of `alwaysPlaybackableOverride`"
From https://github.com/phetsims/phet-io/issues/1693

@zepumph said:

[2021-02-26 22:40] zepumph commented on #693
- [ ] Once we get rid of this, would we want to assert that nested playback:true is not allowed?

[2021-02-27 00:57] samreid commented on #616
For my future reference, here is a list of sims failing this at the moment:

http://localhost/main/aqua/test-server/test-sims.html?ea&audioVolume=0&sound=disabled&testDuration=10000&testConcurrentBuilds=4&brand=phet-io&fuzz&phetioStandalone&testSims=atomic-interactions,blackbody-spectrum,circuit-construction-kit-dc,coulombs-law,energy-forms-and-changes,faradays-law,friction,gravity-and-orbits,grav

[2021-03-01 16:54] samreid commented on #616
Proposed fix pushed, @zepumph would you like to review?

[2021-03-01 17:22] zepumph commented on #616
Instead of checking supplied. I would have thought to use isPhetioInstrumented with a check on if phetio is enabled. In general I don't like exposing "supplied" since we have other, more formalized abstractions.

[2021-03-01 17:45] jessegreenberg opened #694 "branch: preferences"
A branch to explore changes related to the Preferences Dialog and Toolbar without destabilizing code in master.

[2021-03-01 22:59] samreid commented on #616
Thanks, I changed from `tandem.supplied` to `isPhetioInstrumented`.  Ready for re-review.

[2021-03-02 00:06] zepumph commented on #616
Looks great. Thanks.

[2021-03-02 00:06] #616 closed

[2021-03-02 18:48] zepumph opened #695 "Focus should be at top when returning to home screen"
@jessegreenberg @terracoda, I believe we have discussed this before.

@terracoda thinks this should match the current behavior for sim screens (focus the h1), and not focusing to the highlighted screen button. Basically we should be able to just get rid of `focusHighlightedScreenButton`.

Tagging this for https://github.com/phetsims/ratio-and-proportion/issues/363.

[2021-03-05 01:23] zepumph opened #696 "Support keyboard navigation on non-QWERTY layouts"
Over in https://github.com/phetsims/scenery/issues/1053, we converted our project to use Event.key instead of the deprecated Event.keyCode. We went back and forth about whether it was better to use `key` vs `code`, but decided that `key` was more flexible and workable for PhET.

**The behavior as I understand it on previously alt-input published sims (that use Event.keyCode):**
* keyCode maps dire

[2021-03-05 03:22] emily-phet commented on #696
From my read of this, I would not consider addressing this for already-published sims a high priority for any grant funded work (from grant's to me). If it seemed straightforward for GFL:B, JT, Friction and/or RaP, we could consider addressing this for new sim publications (e.g., RaP v2 - not the v1 that is imminent), and potentially GFL:B, JT, and Friction that would be published with self-voicin

[2021-03-06 00:48] jbphet opened #697 "branch: fireHomeButtonsOnUp"
This branch was created as a place to safely experiment with home button behavior without imperiling any upcoming releases.  See https://github.com/phetsims/joist/issues/689.

[2021-03-06 01:02] jbphet commented on #689
Okay, I've got something working where the listener for the home screen buttons fires on the 'up' event, and we still get the nice "slide-around" behavior when using the sim on a touch-based device.  However, one aspect of these changes - the part that determines whether the fire listener is being fired by a touch-like pointer - strikes me as a little hokey.  I've committed it to a branch to avoid

[2021-03-08 18:47] jbphet commented on #658
At this point, I think this issue is redundant with https://github.com/phetsims/joist/issues/689.  I'm going to close this issue and continue the work in the other.