[2021-03-08 18:47] #658 closed

[2021-03-09 01:17] zepumph commented on #689
Thanks for taking the lead on this!

I do think you found a bug in scenery. PressListener.onRelease is called before the callback for FireListener.fire (when firing on up isntead of down). Thus PressListener.pointer (along with many other things) are cleared before the callback is called.

@jonathanolson please checkout the joist branch: `fireHomeButtonsOnUp`. Then apply my patch. There is a downs

[2021-03-09 22:59] zepumph opened #698 "CT errors around ScreenView tandems named "view""
Over in https://github.com/phetsims/tandem/issues/228 we made an assertion run for tandem names in PhET brand. This broke a couple of sims. I'll update all occurrences I can find. Right now ESP(B) are both not working

[2021-03-09 23:00] zepumph commented on #698
@samreid please review. I don't know how to create and assertion for the "model" part, but perhaps the symmetry will be obvious because we now have the ScreenView assertion.

[2021-03-10 04:12] samreid commented on #698
These changes look excellent, thanks!  If we had a model assertion, it may be located elsewhere, like in `Screen` or as part of an audit during phetio engine or phetioAPIValidation.  We can add that in the future if there is a need for it.  But code reviews and design reviews may be sufficient for now.  Closing.

[2021-03-10 04:12] #698 closed

[2021-03-10 15:57] samreid commented on #693
I launched Natural Selection with ?phetioConsoleLog=json and resized the window.  I saw:

[code]

This was not a child event.   Is there another context where it is nested?  I'm not sure I understand this issue.

[2021-03-10 20:33] jonathanolson commented on #689
This was partly by design, so that the state change to "unpressed" would be complete before firing. I'm a bit worried about all the backward compatibility with release handlers and what things expect, we'd need FULL testing on a lot to make sure we wouldn't break anything.

It would definitely be possible here to add a listener to record whether it's touchlike on the start:
[code]

Thoughts on tha

[2021-03-10 22:44] zepumph commented on #693
Yes this is the nested case that I would most expect to see. I'll take a look at why it isn't showing up as nested.

[2021-03-10 22:56] zepumph commented on #693
I was able to use this link to get the below event: http://localhost:8080/natural-selection/natural-selection_en.html?brand=phet-io&phetioConsoleLog=json&phetioStandalone&ea&debugger

[code]

Perhaps you were experiencing something that I experienced, where this link didn't console log the above event:
http://localhost:8080/natural-selection/natural-selection_en.html?brand=phet-io&phetioConsoleLog

[2021-03-10 23:23] zepumph commented on #693
I think it was dev tools bugs, I restarted chrome and it fixed things.

@samreid I am able to see the same behavior with `phetioEmitHighFrequencyEvents=false`, is it possible that you weren't emitting high frequency events (which would include the resize's parent event "stepSimulationAction").

[2021-03-10 23:26] samreid commented on #693
That's probably it, thanks!

[2021-03-11 00:39] zepumph commented on #689
I think I prefer your solution @jonathanolson to what @jbphet had committed:

[code]

I don't feel strongly though. Also your rationale makes sense about why we want to clear out `this.pointer` in terms of regression, but not in terms of general design. I do not think of a "release" as after the pointer has any relation to the PressListener, but rather _as_ it is ending it. It would be like gettin

[2021-03-11 16:30] jbphet commented on #689
Marking for developer meeting so that we can determine who, if anyone, needs to give the behavior a final thumbs up, and also to discuss the two approaches that have been used/suggested.

[2021-03-11 19:05] zepumph commented on #689
Discussed this during today's dev meeting.

@jonathanolson mentioned another way that we could support this would be by storing a `lastPointer`, but reentrant scenarios could be tricky.

[code]

@jonathanolson mentioned multiple issues with this one also, like if there are multiple pointers over.

We as a team feel like the state of PressListener should be a bit more in sync during the onRelease c

[2021-03-16 18:09] jbphet commented on #689
Removing the "status:ready-for-review" label because it isn't really.

[2021-03-16 18:46] jbphet commented on #689
I met with @jonathanolson yesterday, and we experimented with modifying the processing of `onRelease` events in `pressListener` such that the pointer and trail information is valid during the invocation of the callback and changes to the `isPressedProperty`.  We did some basic regression testing, and things seemed fine, but snapshot comparison testing was showing some differences.  I committed the

[2021-03-18 17:11] jonathanolson commented on #689
I did more review, and the Scenery change should be safe to merge to master.

I haven't identified why tiny differences are showing up, but I'm not concerned about it. The following temporary change aqua-tested fine, showing no OTHER use of these parameters in that space:

[code]

so I'm going to merge in the Scenery change.

[2021-03-18 17:14] jonathanolson commented on #689
Ok, the related single-line change on `fireHomeButtonsOnUp` should be good to go, but I'm going to pass things back to you for that branch in general. Let me know if you need anything else.

[2021-03-19 22:07] jbphet commented on #689
@zepumph and @chrisklus - You two are listed as the authors for `HomeScreenButton.js`, so one of you should probably review the changes.  You can sort out which one between you.

Please assign this issue back to me when you're done regardless of the outcome.  If no changes are necessary based on your review, I plan to work with QA to decide if we should do any specific testing for this change.

[2021-03-19 22:19] jbphet commented on #697
The changes the were tested out on this branch have now been moved to master, and the branch has been deleted.  And further work will be done under the main issue, which is linked in the original description.  Closing.

[2021-03-25 00:27] zepumph commented on #689
Looks really nice! Thanks so much for taking this on. I like the change in scenery, and especially like that @jonathanolson signed off on it!

[2021-03-25 16:28] jbphet commented on #689
@zepumph - Thanks for the review.

@KatieWoe - I've given this some thought, and I think it would be wise to have QA verify that the changes to the home screen button behavior work correctly on all our supported platforms with a particular emphasis on touch-based devices.  This change is fairly subtle, but it affects every multi-screen sim, so it seems prudent to make sure there aren't any unantic

[2021-03-25 17:42] KatieWoe commented on #689
- [ ] Win 10 Chrome
- [ ] Win 10 Firefox
- [ ] MacOS 11 Chrome
- [ ] MacOS 11 Safari
- [ ] ChromeOS Chrome
- [ ] iPadOS Safari

[2021-03-25 22:49] KatieWoe commented on #689
Looks good. QA is done

[2021-03-26 13:37] terracoda opened #699 "(Preferences Menu) HTML Structures for Preferences Menu and Voicing Toolbar"
We might need separate issues, but here's a list of things I think we need look at more carefully. I am going on the assumption that the Preferences Menu and Voicing Toolbar need to be screen reader accessible via the PDOM. I am assuming the sim can still be screen reader accessible with Voicing enabled, but that is not the ideal experience since more than one voice would be speaking at the same t

[2021-03-26 20:39] terracoda opened #700 "(Preferences Menu) Content for Preferences Menu and Voicing Toolbar"
@jessegreenberg, after March 25th Design meeting, @emily-phet and I went through all the content options I had laid out in the tables in the design doc.

I just cleaned up the tables, by copying them and removing all crossed out iterations. Please see the Preferences Menu Content (cleaned up) section
https://docs.google.com/document/d/1Qu3U8IsFYn486oJUzQ71BXs_lBKZTVS5NVdLJlTK7gw/edit#heading=h.yiz

[2021-03-26 20:42] terracoda commented on #700
Yes, General Tab is always present when the preferences menu is enabled in a sim. May need to optimize content for that Tab for sims that don't have sim-specific options.

[2021-03-26 21:17] terracoda opened #701 "(Preferences Menu & Toolbar) Make Read-me buttons independent (if possible)"
From interviews I learned that the Read Me buttons (play buttons in Voicing Toolbar) are super helpful for many learners.

I'd like these read-me button to behave independently from both the Voicing on/off switch in the Toolbar and be unaffected by the checkboxes in the Voicing section of the Audio Preferences Tab.

**Reasoning:** The buttons do not change anything. They provide access to valuable

[2021-03-29 17:01] jbphet commented on #689
Awesome.  Thanks @KatieWoe.  Closing.

[2021-03-29 17:01] #689 closed

[2021-03-31 13:06] terracoda opened #702 "(Voicing) Create shortcut key to stop voicing"
In research interviews with the Voicing sims, a couple of participants suggested a hotkey or shortcut key to immediately stop the voicing. The main screen readers on the market (JAWS, NVDA and VoiceOver) all use the Control key. It was suggested we use the same key for our Voicing feature.

This hotkey would not turn the feature off, it would just immediately stop it. This allows for a long stretc

[2021-03-31 13:07] terracoda commented on #702
We all agreed at March 30th design meeting that a hotkey to stop the voice was a good idea.

[2021-04-08 16:05] zepumph opened #703 "Review Joist issues"
Because I am the responsible dev for this repo, marking high because I haven't done this yet.

[2021-04-13 23:14] zepumph opened #704 "(Voicing Toolbar) White strip under "chevron" button"
While investigating https://github.com/phetsims/ratio-and-proportion/issues/378, @jessegreenberg and I found that there is a bit of an issue with the space directly under the chevron button for the voicing toolbar.

It doesn't overlap with the visibleBoundsProperty, so nothing in the ScreenView overlaps with it. @jessegreenberg told me that was purposeful. As a result, if a sim set's its backgroun

[2021-04-14 12:51] terracoda opened #705 "(Voicing) Laundry list issue to check"
@jessegreenberg, I found these issues last week issue while reviewign GFLB design. I don't want to post individual issues as you may know about these issues issues already. Here are a check list that you can check off as you continue to work on teh Toolbar and the Preferences Menu to get them ready for dev testing:

- [x] With interactive highlights enabled, I see a pink interactive highlight at t

[2021-04-14 12:52] terracoda commented on #705
@jessegreenberg, if need details on any of these issues, or want me to make indy issues, just let me know.

[2021-04-15 12:50] terracoda commented on #705
Adding my testing has been done on MacOS 10.13.6 in Safari.

[2021-04-16 22:27] jessegreenberg opened #706 "JoistButton should implement PDOM"
I just noticed that every subclass of JoistButton sets `tagName: button` and that should be in the supertype.

[2021-04-16 22:32] jessegreenberg commented on #706
Done in the above commit, tested with alternative input and NVDA. @zepumph if you wouldn't mind reviewing this, but seems quite simple feel free to close if all is OK.

[2021-04-20 18:24] zepumph commented on #704
I ended up dilating this to support Ratio and Proportion, but with a TODO pointing to this issue to determine fix this once we have a designed decision about how to proceed here.

[2021-04-20 22:32] zepumph commented on #697
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:33] zepumph commented on #622
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:33] zepumph commented on #596
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:34] zepumph commented on #595
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:34] zepumph commented on #563
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:35] zepumph commented on #506
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:35] zepumph commented on #498
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:35] zepumph commented on #471
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:36] zepumph commented on #417
@samreid can this branch be deleted?

[2021-04-20 22:36] zepumph commented on #402
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:36] zepumph commented on #391
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-21 17:27] jonathanolson commented on #402
Deleted.

[2021-04-21 17:27] #402 closed

[2021-04-21 18:14] zepumph opened #707 "Convert from FA4 to FA5"
From  https://github.com/phetsims/sherpa/issues/83#issuecomment-821685067

[2021-04-22 22:37] zepumph commented on #706
Nice find. THanks

[2021-04-22 22:37] #706 closed

[2021-04-23 15:19] samreid commented on #596
Deleted via the GitHub web interface, closing.

[2021-04-23 15:19] #596 closed

[2021-04-23 15:19] samreid commented on #595
Deleted via the GitHub web interface, closing.

[2021-04-23 15:19] #595 closed

[2021-04-23 15:20] samreid commented on #417
This branch is no longer needed, I removed it using the GitHub web interface, closing.

[2021-04-23 15:20] #417 closed

[2021-04-23 15:25] samreid commented on #391
Deleted via the GitHub web interface, closing.

[2021-04-23 15:25] #391 closed

[2021-04-23 16:47] zepumph commented on #697
Deleted

[2021-04-23 16:47] #697 closed

[2021-04-23 16:47] #622 closed

[2021-04-23 16:47] zepumph commented on #622
Deleted

[2021-04-23 16:48] zepumph commented on #563
Deleted

[2021-04-23 16:48] #563 closed

[2021-04-23 16:48] zepumph commented on #506
Deleted

[2021-04-23 16:48] #506 closed

[2021-04-23 16:49] zepumph commented on #498
Deleted

[2021-04-23 16:49] #498 closed

[2021-04-23 16:49] zepumph commented on #471
Deleted

[2021-04-23 16:49] #471 closed

[2021-04-27 01:34] jessegreenberg commented on #700
Alright @terracoda I think we are up to date here! As discussed I went through the doc and changed the red TODO text to a blue color to indicate what was complete. Can you please review the behavior here?
https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.1/phet/john-travoltage_en_phet.html?supportsVoicing

[2021-04-27 01:43] jessegreenberg commented on #699
After verifying the PDOM instrumentation for Preferences this is still happening and I suspect that it is an issue with Dialogs in general.

[2021-04-27 15:23] jessegreenberg commented on #699
Dialogs are not working well on iOS 14 but I still think this is ready for review @terracoda, can you please check the PDOM in this version?

https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.1/phet/john-travoltage_en_phet.html?supportsVoicing

[2021-04-27 15:25] jessegreenberg commented on #705
These things are generally fixed. New issues can be made for any issues that are found during review.

[2021-04-27 15:25] #705 closed

[2021-04-27 15:25] jessegreenberg commented on #702
This has been added @terracoda, can you please verify in https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.1/phet/john-travoltage_en_phet.html?supportsVoicing?

[2021-04-27 15:26] jessegreenberg commented on #701
The Toolbar buttons are now independent of "Sim Voicing" and "Preferences" options. Can you please verify this is working correctly in https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.1/phet/john-travoltage_en_phet.html?supportsVoicing @terracoda?

[2021-04-27 15:40] jessegreenberg opened #708 "Dialogs close when clicking things in iOS 14 VoicOver"
When clicking anything in a Dialog with iOS VoiceOver double-tap to activate gesture the dialog closes. I am sure this is because of
https://github.com/phetsims/scenery/issues/1094 where we made most PDOM elements not get positioned. That means when double tapping the screen with iOS VoiceOver the screen reader sends a mouse click to the top left corner of the screen. The Sim barrier rectangle cat

[2021-04-27 20:05] jessegreenberg opened #709 "Up/Down arrow keys should change Preferences Tab"
While working with @zepumph, we were using the Preferences dialog with alternative input and he recommended that up/down arrow should navigate Preferences Tabs. Sounds reasonable to me, Ill add this.

[2021-04-28 21:30] terracoda commented on #702
Awesome! The shortcut key works great.

[2021-04-28 21:30] terracoda commented on #702
Closing.

[2021-04-28 21:30] #702 closed

[2021-04-28 21:42] terracoda commented on #701
Seems to work great.

I was a little thrown off that the read-me buttons are silent on focus, but I think that makes sense. The words are on the screen. The content still plays when button is pressed.

Closing.

[2021-04-28 21:42] #701 closed

[2021-04-28 22:27] jessegreenberg commented on #708
@zepumph and the change so that `positionInPDOM` applies to the subtree of Nodes. It is used in Dialog to prevent this issue, and we verified it is working correctly.

We did identify https://github.com/phetsims/scenery/issues/1211, where clicks to non-primary PDOM siblings can close the Dialog because those elements can still receive clicks and fake mouse presses if double-tapped with VoiceOver.

[2021-04-28 22:27] #708 closed

[2021-04-28 22:30] jessegreenberg commented on #709
Done in the above commit.

[2021-04-28 22:30] #709 closed

[2021-04-29 00:26] terracoda commented on #700
@jessegreenberg, I think you got everything except what I will review when I verify the changes for https://github.com/phetsims/john-travoltage/issues/401

Nice work. Closing.

[2021-04-29 00:26] #700 closed

[2021-04-29 16:18] terracoda commented on #699
I think we can close this issue and follow-up a few more new issues in issue https://github.com/phetsims/john-travoltage/issues/403

[2021-04-29 16:21] terracoda commented on #699
Everything above that is checked verified and the unchecked issue does not seem to be a problem anymore. Closing

[2021-04-29 16:21] #699 closed

[2021-05-03 19:13] zepumph opened #710 "[Voicing] Preferences Dialog's click to dismiss listener triggers voicing string "Preferences audio tab""
Steps to reproduce:

1. Launch sim
2.  In Preferences menu, turn on voicing
3. click away from the dialog.
4. Reopen the dialog, and correctly hear, "Preferences, audio tab" or whatever tab you are on
5. Click away to dismiss again, and you hear again, "Preferences, audio tab".

[2021-05-03 20:36] Matthew-Moore240 opened #711 "(Voicing) Preference menu tabs are not being read out after reopening preference menu"
**Test device**
Windows 10 desktop
**Operating System**
Windows 10 desktop
**Browser**
Firefox 88.0 (64-bit)
**Problem description**
With voicing on opening the preference menu you do not hear which tab you are currently on
**Steps to reproduce**
Using only keyboard
1. Turn on voicing
2. Close preference menu
3. Navigate away and then back to preference menu

**Visuals**

Troubleshooting informati

[2021-05-03 20:39] Matthew-Moore240 commented on #711
I tested with using the mouse and it works fine. Its just keyboard navigation for me that doesnt work.

[2021-05-04 15:54] terracoda opened #712 "(Voicing) Minor change to context response for context changes checkbox"
Some iterations on the Sim Voicing checkbox labels occurred, and the word "indirect" was removed from the description, but is still in the confirming response.

Since we have no reading blocks for the long checkbox labels, I have decided it is better to use the same wording in the confirming responses. Please change:

- Voicing indirect sim changes.
- Indirect changes muted.

To:

- Voicing other

[2021-05-06 17:19] zepumph opened #713 "Feature selectedScreenProperty"

[2021-05-06 17:21] zepumph commented on #713
@arouinfar said, "I don't think it does any harm to feature [this]."

No matter if this is featured, we still like directing clients to the query parameter to choose the initial screen.

[2021-05-06 17:21] #713 closed

[2021-05-07 17:35] jonathanolson opened #714 "Maintenance release for initialScreen/homeScreen query parameters"
It would be good to have this added to sims retroactively where needed.

[2021-05-07 20:37] jonathanolson commented on #714
See https://github.com/phetsims/QA/issues/642#issuecomment-834751816 for sims

[2021-05-12 03:15] jonathanolson commented on #714
Patched the "broken" homescreen cases with patches for https://github.com/phetsims/joist/issues/641

[2021-05-12 03:44] jonathanolson commented on #714
Looks like explicit decisions were made to error out and not launch simulations when one screen was visible:

[code]

We don't do that in master... should I remove the explicit errors?

[2021-05-12 15:21] jessegreenberg opened #715 "Changes requested for the Preferences dialog"
Changes have been requested for some of the content in the Preferences dialog here
https://docs.google.com/document/d/1Qu3U8IsFYn486oJUzQ71BXs_lBKZTVS5NVdLJlTK7gw/edit#heading=h.jghy5z2qlft1

Things in red are what need to be changed.

[2021-05-12 17:14] pixelzoom opened #716 "Document conventions for credits."
In https://github.com/phetsims/natural-selection/issues/270#issuecomment-827745710, I was asked to revise the "Lead Design" credits in Natural Selection because the convention had changed.  I tried applying this to other sims, but the ordering needed clarifiction.  So @kathy-phet, @amanda-phet, @arouinfar, and I had a Slack discussion about conventions.

Consensus:

* leadDesign = Primary HTML5 de

[2021-05-12 17:25] pixelzoom commented on #716
Documentation in CreditsNode.js was updated in the above commit.

Over to @arouinfar for next tasks.

[2021-05-12 23:54] kathy-phet commented on #714
I think doing what we do in master now is good. My understanding from what you write is, in master, we don't hard fail, we just launch the sim and ignore the query parameter.

[2021-05-13 16:20] jonathanolson commented on #714
Patched, pending QA with RCs.

[2021-05-14 16:34] jessegreenberg commented on #715
Changes from the document have been made @terracoda. The new content that was red has been changed to blue to signify that it was done. I noticed that changes from #700 were still blue so it could be difficult to distinguish this issue's changes from that one's. If it would be helpful for me to list the changes from this commit to review, please let me know.

Link to review: https://phet-dev.color

[2021-05-14 17:42] jessegreenberg commented on #712
This has been collapsed into #715, closing.

[2021-05-14 17:42] #712 closed

[2021-05-14 18:06] terracoda commented on #715
Nice work @jessegreenberg.
The only thing missing is "Extra Sounds, " at beginning the reading block.

[2021-05-14 22:23] KatieWoe opened #717 "How should the initialScreen parameter be handled"
For https://github.com/phetsims/QA/issues/649. Related to https://github.com/phetsims/joist/issues/714. Seen on Win 10 Chrome.
The `initialScreen=X` query parameter seems to be handled differently for different simulations. For older sims, such as Acid-Base solutions, it highlights the X option on the home screen, and if X is invalid the sim starts with nothing highlighted but the sim is usable. I

[2021-05-14 22:25] KatieWoe commented on #717
Same difference can be seen with invalid screens inputs.

[2021-05-17 04:31] arouinfar commented on #716
Thanks @pixelzoom! Everything looks good. I added a link to CreditsNode.js to the master checklist template, see commit above.

[2021-05-17 04:31] #716 closed

[2021-05-19 20:57] jessegreenberg commented on #715
This was done in https://github.com/phetsims/scenery-phet/commit/16f5fe26b6e7d76a48dbdb6ad46dfb32f6c8212d, back to @terracoda to review in https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.7/phet/john-travoltage_en_phet.html

[2021-05-20 02:06] terracoda commented on #715
Extra Sounds is now in the reading block and sounds good.
Closing.

[2021-05-20 02:06] #715 closed

[2021-05-21 21:23] liam-mulhall opened #718 "Long strings cause screen buttons to overlap"
### Test Device

MacBook Air

### Operating System

macOS 11.2.3

### Browser

Safari 14.0.3

### Problem Description

For https://github.com/phetsims/QA/issues/650. Perhaps related to https://github.com/phetsims/joist/issues/645.

If you put in the standard `?stringTest=long` string (or one with a similar number of characters), the screen buttons get shifted over and can overlap. See the screensh

[2021-05-25 16:35] KatieWoe commented on #718
I saw a similar shift of the icon when the label text disappears as well.
![shiftingicon](https://user-images.githubusercontent.com/41024075/119535098-e9a0fe00-bd44-11eb-9cc0-fb11baa9b742.gif)

[2021-05-26 15:52] jessegreenberg commented on #711
I wasn't able to see this happening so I checked in with @Matthew-Moore240 on slack and he said it isn't happening anymore on latest for him either. Closing this issue.

[2021-05-26 15:52] #711 closed

[2021-05-26 15:54] jessegreenberg commented on #710
I just tested and I am no longer seeing this happening. I believe this has been fixed after changes in https://github.com/phetsims/scenery/issues/1217

[2021-05-26 15:54] #710 closed

[2021-05-27 01:08] jonathanolson commented on #717
Auto-scanning sim differences with the following:

[code]

[2021-06-01 16:09] jonathanolson commented on #717
I believe this is handled in general for the "valid" cases. For "invalid" cases, I'm personally OK with the inconsistency, since master will hard-error an invalid input (without the sim launching).

[2021-06-01 20:43] pixelzoom opened #719 "supportsInteractiveDescription behaves differently in package.json vs query parameter"
`supportsInteractiveDescription=true` in package.json behaves differently than the query parameter.  The latter blows right past `hasKeyboardHelpContent: true`.

<details>
<summary>Slack discussion</summary>

Chris Malley  2:33 PM
I’ve added option hasKeyboardHelpContent: true to fourier-making-waves-main.js, thinking that I would get a default keyboard help dialog, ala Coulomb’s Law.  But I don’t

[2021-06-01 20:50] pixelzoom commented on #719
Also...  If `supportsInteractiveDescription=true` in package.json, and I try to run with `?supportsInteractiveDescription=false`, it's still trying to create keyboard help dialog content.

[2021-06-01 21:20] jessegreenberg commented on #719
The creation of the KeyboardHelpButton is behind a check for `sim.accessibilityPartOfTheAPI` with a comment

`sim.accessibilityPartOfTheAPI` is true only if `supportsInteractiveDescription` is in package.json.

So in order to have a consistent PhET-iO API we are only including the button when accessibility is more "permanent" for the sim. If we didn't care about PhET-iO, this is the kind of behavi

[2021-06-01 21:25] pixelzoom commented on #719
To clarify... That comment:

[code]

.... is in A11yButtonsHBox.js.  And it really should be revised, because the second sentence makes no sense to me.

[2021-06-01 21:31] jessegreenberg commented on #719
Would this work? In `phet` brand, the button is included as long as Interactive Description is enabeld. In `phet-io` brand, it is included only when accessibility is enabled from package.json.

[code]

[2021-06-02 03:04] samreid commented on #719
The proposed patch looks like it will do what we want.  For PhET-iO, we should create the button if it is supported, even if a query parameter may choose not to show it.  This is to support a consistent API for PhET-iO.  What should we do for other brands, such as adapted-from-phet, or client-built brands?  Would something like this work (untested)?  Note the patch also improves upon the broken co

[2021-06-02 14:59] jessegreenberg commented on #719
OK, thanks! That looks better, you are right it should be available phet, adapted, or any non phet-io brand. Ill proceed with that change.

[2021-06-02 15:21] jessegreenberg commented on #719
I added this and verified that for phet and adapted-from-phet brands the KeyboardHelpButton is added whenever the sim  has Interactive Description enabled, and the query parameter overrides the package.json entry. For phet-io brand, it only is available if `supportsInteractiveDescription` is true in package.json, and is not included when enabled with query parameter.

@pixelzoom would you like to

[2021-06-02 15:37] pixelzoom commented on #719
I did a couple of quick tests with Fourier:

* `supportsInteractiveDescription: true` in package.json, `?supportsInteractiveDescription=false`
* No `supportsInteractiveDescription` in package.json, `?supportsInteractiveDescription=true`

... and they worked as expected. Thanks!

[2021-06-02 15:37] #719 closed

[2021-06-04 20:19] KatieWoe opened #720 "Screens parameter may not allow for multiple screens"
For https://github.com/phetsims/QA/issues/653. Seen on Win 10 Chrome for Acid Base Solutions: https://phet-dev.colorado.edu/html/acid-base-solutions/1.2.25-rc.2/acid-base-solutions_en.html.

When using `?screens=X` with X being more than one screen (`?screens=1,2`) only the first one listed seems to show up. It does not seem to happen on all sims, however.

<img width="647" alt="onlyonescreen" src

[2021-06-04 20:38] KatieWoe commented on #720
From @phet-steele on Slack:

So this can probably be closed

[2021-06-08 17:44] KatieWoe commented on #720
In https://github.com/phetsims/QA/issues/653 @CliffordH123 said:

[2021-06-08 20:21] KatieWoe commented on #717
@kathy-phet I noticed a bit of an inconsistency with the initialScreen parameter and @jonathanolson asked me to ask your opinion on it.
I saw this in CCK DC Virtual Lab at least, but I'm not sure how many sims it may impact. https://phet-dev.colorado.edu/html/circuit-construction-kit-dc-virtual-lab/1.2.3-rc.1/phet/circuit-construction-kit-dc-virtual-lab_en_iframe_phet.html. When using `?initialScr

[2021-06-10 17:01] pixelzoom opened #721 "Issues related to pdomPlayAreaNode and pdomControlAreaNode"
Discovered while working on https://github.com/phetsims/fourier-making-waves/issues/76 (play area and control area for Fourier).

In ScreenView.js,

[code]

So the `pdomPlayAreaNode` is behind the `pdomControlAreaNode`.  This seems backwards. In all of the sims that I've implemented, draggable objects (which I suspect would be in the play area) need to stay in front of controls. A couple of genera

[2021-06-10 17:06] pixelzoom commented on #721
I should also point out that (with the current implementation) if any Nodes are added to the ScreenView directly, they will by default be in front of `pdomPlayAreaNode` and `pdomControlAreaNode`.  So even if we change the order that `pdomPlayAreaNode` and `pdomControlAreaNode` are added, it's going to be problematic to (for example) move a draggable object in the play area "to the front".

While I

[2021-06-10 19:20] KatieWoe commented on #720
After some conversation with @jonathanolson we discovered that this issue wasn't in published and so should be fixed.

[2021-06-10 19:47] pixelzoom commented on #721
Over in https://github.com/phetsims/vegas/issues/93, @jessegreenberg said that in situations like this, rather than adding children to `pdomPlayAreaNode` and `pdomControlAreaNode`, we could set `pdomOrder` for those Nodes.

[2021-06-11 17:07] jessegreenberg opened #791 "Down arrow key should move focus into the selected Preferences tab"
The last bit of work from https://github.com/phetsims/john-travoltage/issues/403, the down arrow should move focus into the selected Preferences tab. Currently the down arrow cycles through the tabs like left/right arrows.

[2021-06-17 16:42] jessegreenberg commented on #721
I just updated documentation in the interactive-description-technical-guide.md to reflect this change, Ill add to dev meeting agenda to describe this and the benefits to the team.

[2021-06-17 18:37] jessegreenberg opened #722 "ScreenView's pdomControlAreaNode should come before pdomPlayAreaNode as children"
From https://github.com/phetsims/joist/issues/721, the order of the pdomPlayAreaNode and pdomControlAreaNode should be changed in children order. Generally, the play area controls should be on top of the control area nodes. But we still need to order the play area before the control area in the PDOM, so we will need to set the order explicitly again with `pdomOrder`

[2021-06-17 18:41] jessegreenberg commented on #721
This was discussed during developer meeting today. We reviewed that `pdomOrder` should generally be set explicitly unless it is for a component whose children order naturally aligns with traversal order (such as layout managers).

I made https://github.com/phetsims/joist/issues/722 to swap the order of pdomControlAreaNode and pdomControlAreaNode as children but keeping their same order in the PDOM

[2021-06-17 19:03] jessegreenberg commented on #722
Done in the above commits and I updated the documentation to signify that using `pdomOrder` is generally most robust unless it is clear that the children order should match the PDOM order.

I verified in several sims that the PDOM order is still correct after changing the order of children. Closing.

[2021-06-17 19:03] #722 closed

[2021-06-18 15:25] jonathanolson commented on #717
Closing, handled in maintenance release deployment.

[2021-06-18 15:25] #717 closed

[2021-06-18 15:29] jonathanolson commented on #714
Closing, handled in maintenance release deployment.

[2021-06-18 15:29] #714 closed

[2021-06-23 23:10] jessegreenberg opened #723 "Make layout for Screens and top layer Nodes take a Bounds2 instead of width/height values"
This is needed for Preferences and the new Toolbar. The Toolbar will take up space and the layout of Screens needs to be adjusted to fit that content. The Toolbar appears on the left side of the screen (when visible) and and the Screen layout should shift to the right and scale down accordingly. The layout for each screen and top layer Nodes is currently set by functions with a signature of `( wid

[2021-06-23 23:26] jessegreenberg commented on #723
This was done in the above commits. I tested that it is set up to work as we will need for the Toolbar by modifying the `availableScreenBounds` in Sim.js and seeing sim screen content shift over.

Then I tested local aqua for all sims and saw no errors. I did a local aqua test with `availableScreenBounds` modified and basically watched all sims and saw all sim content adjusted as I would expect.

[2021-06-24 15:02] jessegreenberg commented on #723
Over slack it was noted that this was a breaking API change that may impact 3rd party sims, once this review is done the change should be announced to the appropriate thread for the google group.

[2021-06-24 16:02] jonathanolson commented on #723
Changes look good to me, nice job!

I believe molecule-shapes view is a bit broken due to not being upgraded to the 3d (https://github.com/phetsims/molecule-shapes/issues/184), I'll bump the priority for that.

Assigning back for the google group notification.

[2021-06-24 23:10] jessegreenberg opened #724 "Create a single Property that enables/disables all audio"
With the addition of "Voicing" there is a new type of audio for PhET sims. We need a way to be able to globally enable and disable all forms of audio at once, which currently includes Voicing, Sound, and Enhanced Sound.

The requested design is that the NavigationBarSoundToggleButton control all audio for the simulation. And there is going to be a toggle in the Preferences Dialog that enables and

[2021-06-24 23:22] jessegreenberg commented on #724
I added this in the above commits. @jbphet would you mind reviewing this, does this seem reasonable? After review is done we will want to instrument it with PhET-iO and then update APIs.

[2021-06-28 17:29] jessegreenberg commented on #723
Great, thanks for reviewing! A notification was sent to the google group, closing this issue.

[2021-06-28 17:29] #723 closed

[2021-06-30 19:42] jonathanolson commented on #720
I believe this was fixed up, but not closed!

[2021-06-30 19:42] #720 closed

[2021-07-01 22:51] KatieWoe opened #725 "Long screen names push navigation bar icon to the right when sim is launched"
For https://github.com/phetsims/QA/issues/662. Seen on MacOS 11 in FIrefox. Also went back to check recent GaO issue https://github.com/phetsims/QA/issues/657 and saw it there, so assigning @samreid as well.

When renaming one of the screens, the behavior in studio itself looks fine. However, when the sim is launched the icon above the longer name has moved and can overlap the neighboring icons.

[2021-07-01 22:59] pixelzoom commented on #725
I've lost count of how many times we've had problems with alignment of text + icons in the navigation bar.

Is this a duplicate of https://github.com/phetsims/joist/issues/718?  Why isn't that issue blocking?

[2021-07-01 23:00] pixelzoom commented on #718
Is this the same as https://github.com/phetsims/joist/issues/725?

Seems like this should definitely be blocking.

[2021-07-01 23:34] pixelzoom commented on #725
Tracking for Natural Selection 1.4 in phetsims/natural-selection#295.  This issue is blocking.

[2021-07-02 00:20] pixelzoom commented on #692
@samreid I don't see this on macOS 11.3.1 (latest) with Chrome 91 (latest) or Firefox 89 (latest).  What version were you using, and is this still a problem?

[2021-07-02 14:33] pixelzoom commented on #725
This is blocking https://github.com/phetsims/QA/issues/657 and https://github.com/phetsims/QA/issues/662.  Since the latter has top priority, this issue is elevated to top priority.

[2021-07-02 14:34] pixelzoom commented on #718
This is blocking https://github.com/phetsims/QA/issues/657 and https://github.com/phetsims/QA/issues/662.  Since the latter has top priority, this issue is elevated to top priority.

[2021-07-02 15:46] samreid commented on #725
Wrapping in nested nodes seems safe, and seems to help a lot:

[code]

![image](https://user-images.githubusercontent.com/679486/124298701-cde60000-db19-11eb-900c-0c08aadcde85.png)

However, now the highlight overlay is not centered:
![image](https://user-images.githubusercontent.com/679486/124298736-d8a09500-db19-11eb-88dd-7ae2f58dbf72.png)

There is also a similar problem on the home screen:
![i

[2021-07-02 17:04] samreid commented on #725
I found we are no longer changing strokes or structure on highlight change, so it is safe to resize:true on the HomeScreenButton.  I applied that change and the nested Node container for the dynamic text, and this is working much better.  The navigation bar highlight is still a little off centered though.

[2021-07-02 17:28] samreid commented on #725
I found that running `updateLayout` in the next frame fixes everything, but it is unclear why running `updateLayout` after changing the text is insufficient.  I committed it as a workaround.  Note that using the `runOnNextTick` makes it so the nested `new Node` is not necessary--but I left it in as a safety valve because I don't really understand the problem here.

If @jonathanolson has time to co

[2021-07-02 19:20] jbphet commented on #724
It all looks decent to me, and seems to work in Balloons and Static Electricity.  I'd say go ahead and do the phet-io instrumentation and API update.

[2021-07-06 02:14] samreid commented on #693
Here is the spot in Sim.js where the `stepSimulationAction` calls the resize:

[code]

What are our options for moving the resize up a level in the data stream?

[2021-07-06 14:30] zepumph commented on #693
I've been bashing my head against a data-streamy wall here for a few minutes, and can't really think outside of our current constraints to see how this could work.

We could embed the data for resize into the stepSimulationsAction, by passing in resizePending as an argument to stepSimulationAction, but we would also need that to keep track of the resize values too. We could instrument something el

[2021-07-06 15:32] jessegreenberg commented on #721
@zepumph and I reviewed this during a catch-up meeting today and discussed what was decided in this issue. We found a few places where the documentation could be improved related to this in interactive-description-technical-guide.md in the section related to `pdomOrder`. @zepumph is going to work on bringing the whole section up to speed with this issue. Thanks!

[2021-07-06 15:56] jonathanolson commented on #725
I'm looking into depth into this. Workarounds seem safe.

[2021-07-06 18:13] #721 closed

[2021-07-06 18:21] zepumph opened #726 "Display.voicing is not an option"
Looks like it was removed in https://github.com/phetsims/scenery/commit/221ffb6a5200b716313d1d4363f1b626d6d1b3a0, but is still passed in Sim.js. I'll remove it.

[2021-07-06 19:05] jonathanolson commented on #725
Cleaned up NavigationBarScreenButton a bit, I'm not able to reproduce the bugginess before/after my above patch. @samreid can you look it over? It gets rid of the delay, updateLayout will be triggered on what it's relying on (text bounds), and the stroke will always exist for bounds purposes.

I'll be working on the HomeScreenButton bit next.

[2021-07-06 20:11] jonathanolson commented on #725
I may have rebroken NavigationBarScreenButton in this same way, it looks like I wasn't testing all of the different ways of triggering this.

[2021-07-06 20:31] pixelzoom commented on #724
This seems to be causing big problems, see https://github.com/phetsims/tambo/issues/145.

[2021-07-06 20:32] pixelzoom commented on #724
I'm wondering... Why is `allAudioEnabledProperty` needed?  Isn't that what `soundManager.enabledProperty` does?

[2021-07-06 20:41] pixelzoom commented on #724
In https://github.com/phetsims/tambo/issues/145 I reported:

[2021-07-06 21:04] pixelzoom commented on #724
Adding yet-another Property to Sim.js is really not doing it for me. As we’ve discussed many time in dev meetings…. Sim.js does not need more responsibilities. Unfortunately, adding things to Sim.js is a quick-&-dirty way to move forward.

I highly recommend to reconsider this design. All types of sound should be under the "sound manager" umbrella, with different subcomponents for different types

[2021-07-06 21:36] jessegreenberg commented on #724
I think the name "soundManager" still fits for its current responsibilities. PhET's current terminology for these is grouped like
-"Audio" - All auditory features.
  - "Sounds" - Auditory output like sounds and sonifications, driven by web audio.
    - "Ehanced Sounds" - Like "Sounds" but categorized differently because they may not be beneficial to all learners.
  - "Voicing" - Speech that is  dr

[2021-07-06 21:38] jessegreenberg commented on #724
Id like to discuss this with @jbphet at least before continuing again, but wouldn't be surprised if we bring it to dev meeting.

[2021-07-06 21:46] samreid commented on #725
It seems so, pulling master and testing following these steps:

1. Launch gravity and orbits in studio
2. navigate to gravityAndOrbits.modelScreen.nameProperty
3. Set the value to Model NTHUONEUTHOEU
4. Press Preview Sim

It comes up like this:

![image](https://user-images.githubusercontent.com/679486/124670438-395d0400-de71-11eb-8dc9-8654aa81f07e.png)

Part of my confusion about this implementat

[2021-07-07 00:22] pixelzoom commented on #724
Why does it need to be linked to both?

[2021-07-07 01:00] jessegreenberg commented on #724
The button in the nav bar is for all *audio* now. Sound can be disabled while all audio is still enabled. And audio can be disabled while sounds are still enabled, though in that case there will still no output. I am assuming that the UI component should be disabled in cases where there is no output, so it needs to be linked to both Properties.

[2021-07-07 01:09] pixelzoom commented on #724
The enabled state of the sound control for my Fourier series is supposed to match whether sound in on or off in the navbar.  Based on your discription, it sounds like I need to listen to the same Property as the button in the navbar.  So again... Which Property does that button link to, or is it also linking to both?

[2021-07-07 01:13] pixelzoom commented on #724
@samreid FYI there are 2 listeners being added to `soundManager.enabledProperty` in WaveInterferenceConrolPanel.js.  I see this same problem with those listeners and the `sound` query parameter.

[2021-07-07 01:14] pixelzoom commented on #724
Is there something we can do in the short-term to fix this? The `sound` query parameter is broken, as are my listeners for `soundManager.enabledProperty`.

[2021-07-07 01:22] jessegreenberg commented on #724
The nav bar button links to `sim.audioEnabledProperty`.  A separate control in the Preferences dialog controls soundManager.enabledProperty. When either are false, no sound will come out of the sim.  If all we you care about is matching the nav bar button then then it could just link to audioEnabledProperty. But I assumed that the behavior for the component in DiscreteControlPanel should happen wh

[2021-07-07 01:54] jessegreenberg commented on #724
@pixelzoom @samreid -  As a temporary workaround the "sound" query parameter is now used to set the initial value of sim.allAudioEnabledProperty. If listeners link to `phet.joist.sim.allAudioEnabledProperty` instead of `soundManager.enabledProperty` it will work as before until we have a better fix.

[2021-07-07 15:16] pixelzoom commented on #724
@jessegreenberg said:

Thanks, that helps a lot.  How do I get to the Preferences panel?

The  Panel looks nice.  But I would be concerned that users will turn off Sound in the Preferences panel, then be very confused when toggling the sound control in the navbar results in no change.  Having multiple levels of sound like this is going to be very challenging for the typical user to understand.

[2021-07-07 15:19] pixelzoom commented on #724
@jessegreenberg said:

In the above commit, I've added a TODO, indicating that "sound" no longer does what it was intended to do.

I've also added TODO for my workaround in Fourier, referencing this issue.   So when this issue is addressed, please search to TODOs related to this issue.

[2021-07-07 16:03] zepumph commented on #725
That isn't totally surprising to me, since it is being run through PhET-iO state.

Here are where my debuggers are:

[code]

To test follow @samreids steps above, but make sure to open the dev tools in studio before pressing "preview sim". The you should get 3 debugger pauses for each screen starting up (one in link and two updateLayouts), and then the 7th pause is inside the nameProperty link whi

[2021-07-07 18:28] zepumph commented on #725
@jonathanolson said this in https://github.com/phetsims/joist/issues/725#issuecomment-875011127. I thought that it actually forces the delay, because the boundsProperty is only updated lazily, on updateDisplay. On paper that seems like the right thing, and similar to kicking things off to the next tick. It isn't clear to me why pushing updateLayout back to the next `updateDisplay` call still isn't

[2021-07-07 19:07] zepumph opened #727 "Voicing Nodes need required tandems"
A couple of sims on master are failing because the Voicing toolbar hasn't had Tandems passed to it, it looks like

[code]

[2021-07-07 19:07] zepumph commented on #727
I'll take a look

[2021-07-07 19:18] zepumph commented on #727
I started going down the full-instrument path, and then wondered why we would need customization from the preferences panel? In general we wouldn't want to hide this stuff. Perhaps someone would want to know about what preferences a user uses, but I feel like we should wait to add this in until absolutely needed. Instead, I'll just pass `Tandem.OPT_OUT` places.

In case we ever come back to the ot

[2021-07-07 19:24] zepumph commented on #727
@jessegreenberg please note the continued use of Tandem.OPT_OUT, and let me know if you want to discuss other patterns for now.

[2021-07-07 19:30] #727 closed

[2021-07-07 21:40] pixelzoom commented on #724
If you want to revert this workaround now, I'm going to stop using the "sound" query parameter, because it's still broken. To reproduce in Fourier:

1. Start the sim with `?sound=muted`.
2. Note that the sound icon in the navbar indicates that sound is off. Interact with a few UI components to confirm.
3. Click on the sound icon in the navbar to turn sound on.  Interact with a few UI components an

[2021-07-07 23:04] chrisklus opened #728 "branch: websiteScenery"
This branch will be used for any joist changes needed for the investigation in https://github.com/phetsims/website-scenery/issues/1. It will be deleted once that project is archived.

[2021-07-08 13:23] samreid commented on #724
Unassigning, since my part was moved to https://github.com/phetsims/wave-interference/issues/524

[2021-07-08 14:25] samreid commented on #725
The `textProperty` listener looks good to me, and works properly in my testing.  Likewise, the commit earlier in this thread to HomeScreenButton.js seems to be working correctly for the home screen button problem.

[2021-07-08 14:32] zepumph commented on #725
Are you ready to continue with cherry picking our sims, and we can keep this open for a final review by @jonathanolson?

[2021-07-08 14:51] samreid commented on #725
If @jonathanolson can review sometime today, then I think we should wait before cherry picking.  Also, @zepumph or @jonathanolson can you please review https://github.com/phetsims/joist/commit/58fd74142ca8144982ecc13df4abeab6fa946280 and comment?

[2021-07-08 14:52] samreid commented on #718
This seems like a duplicate of https://github.com/phetsims/joist/issues/725, closing as duplicate.

[2021-07-08 14:52] #718 closed

[2021-07-08 16:02] jonathanolson commented on #725
I've been investigating, I'm reviewing, and I want to have a better understanding of what was causing the original problem (for the future).

I'm fine with whatever is decided to be cherry-picked.

[2021-07-08 17:07] zepumph commented on #725
@jonathanolson confirmed this in person today during PhET-iO meeting.

After further discussion, we feel like giving @jonathanolson the rest of this week to investigate, instead of immediately proceeding with potential work-arounds, feels best. We will hopefully cherrypick on Monday!

[2021-07-08 18:46] jessegreenberg commented on #724
Discussed during developer meeting today, @jbphet @jessegreenberg and @pixelzoom will be the subgroup to work on this.

[2021-07-08 18:50] samreid commented on #724
It's unclear from the proposal in https://github.com/phetsims/joist/issues/724#issuecomment-875098337 whether we prefer the proposed terminology, or if we feel painted into a corner since "sound" currently refers to sonification and sound effects and not voicing.  Let's keep in mind that we may want to relax our definitions for this, especially for things that are client-facing. (If we want it to

[2021-07-08 19:08] pixelzoom commented on #724
I agree with the previous comment, especially for public-facing terminology. Expecting a typical user (or even developers/designer) to understand the difference between "sound" and "audio" is unreasonable.

[2021-07-08 19:12] pixelzoom commented on #724
Btw... PhET's current distinction between "audio" and "sound" is non-standard and uniquely PhET.   Sound is a generic word, coming from any source. Audio is sound coming from a recording, transmission, or electronic device.  Making up new definitions for these terms is confusing to everyone.

[2021-07-08 19:42] jessegreenberg commented on #726
Thank you!

[2021-07-08 19:42] #726 closed

[2021-07-08 20:15] jessegreenberg opened #729 "Terminology for audio and sound features"
The current terminology can be described like
- "Audio" - All forms auditory output
  - "Sounds" - A subset of "Audio", all sounds and sound effects.
  - "Voicing" - A subset of "Audio", all speech produced by the sim.

Graphically it is organized and presented to the user like this:

![image](https://user-images.githubusercontent.com/6396244/124982802-22e7b180-e005-11eb-92f7-f88c5500c716.png)

Fr

[2021-07-08 20:19] jessegreenberg commented on #724
OK, thanks for the feedback. I started https://github.com/phetsims/joist/issues/729 to discuss and review terminology with the team so we can keep this issue about the implementation of the Property.

[2021-07-09 22:00] pixelzoom opened #730 "Use fontawesome icons in NavigationBarSoundToggleButton"
Noticed while working on https://github.com/phetsims/sherpa/issues/83.

I understand why the navigation bar isn’t using SoundToggleButton — it must be a joist button, hence NavigationBarSoundToggleButton.

But is there a reason why NavigationBarSoundToggleButton isn’t using the fontawesome icons that are used by SoundToggleButton, and is instead drawing complicated shapes that are almost identical

[2021-07-09 22:15] samreid commented on #693
I'm not sure I understand the documentation patch, it seems to document the parameters differently than they actually are?  I'm fine to leave master as it is, I can't think of a better approach to make resize events top level.

[2021-07-10 02:35] jonathanolson commented on #725
FYI I've tracked this down to a quite subtle unexpected behavior, where a specific combination of actions and a yet-as-of-unapplied maxWidth is breaking layout containers. I'll have more details soon.

[2021-07-10 04:28] jonathanolson commented on #725
Apologies about the time this took to properly track down! So it turns out that our normal usage of `maxWidth` kind of avoids what was a core bug, but the deferred Property state setting ended up triggering it.

Long story short, code-paths with the following exhibited buggy behavior with maxWidth/maxHeight:

1. Set a maxWidth/maxHeight on a Node that's already constructed
2. Trigger bounds valida

[2021-07-10 04:29] jonathanolson commented on #725
Also, as this is probably important, we should :

- [ ] Review re-entrancy in `validateBounds()` based on the Property changes

to see if there are any other bugs of this class.

[2021-07-10 04:35] jonathanolson commented on #725
For the joist changes, I stripped out the now-unneeded wrapping nodes, removed the explicit `resize:true` and `updateLayout()` parts that are superfluous now. I added dynamic centering of the navbar icons, so that they don't have to maintain the exact same bounds after construction. We were also setting a `maxWidth` on the icon dynamically later, so I added the explicit dependency of updateLayout(

[2021-07-10 04:36] jonathanolson commented on #725
Also setting maxWidth on the icon feels buggy (https://github.com/phetsims/joist/blob/master/js/NavigationBarScreenButton.js#L200), as we don't resize the things that depend on its bounds (https://github.com/phetsims/joist/blob/master/js/NavigationBarScreenButton.js#L80). It seems like an unused code-path now that we force a minimum size and specific aspect ratio.

[2021-07-10 04:51] jonathanolson commented on #725
Reentrancy cases with notification should work fine, but I added warnings in the commit above where it's very unlikely code should be added in certain locations.

[2021-07-12 18:43] zepumph commented on #693
Sounds good to me.

[2021-07-12 18:43] #693 closed

[2021-07-12 19:04] zepumph commented on #725
I asked for a bit of code comment in https://github.com/phetsims/scenery/commit/f0adaceb9b2d8f0420258c1dc65bb94def77c1bd, which feels optional since you have warnings at the end, but still if something comes to you.

I also would recommend writing a test, if possible, that demonstrates this bug. If for no other reason to help document this investigation and bug fix for future scenery maintainers.

[2021-07-12 21:28] jessegreenberg opened #731 "Zooming into older published sims with a trackpad in Safari can break layout"
Initially reported in https://github.com/phetsims/bending-light/issues/400, but moving to joist because it is happening in many other sims too.

Zooming into old sims with a MacOS trackpad while using Safari can break sim layout and cause the whole sim to be shifted off screen.

Example:
https://drive.google.com/file/d/1sL5t2mTmJtT17eugVSTyiB8RJkDBTsD0/view?usp=sharing

This will happen for all si

[2021-07-13 16:45] zepumph commented on #725
https://github.com/phetsims/joist/issues/725#issuecomment-878520708 mentioned a few light pieces of cleanup, but nothing that should hold up publication of NS. @jonathanolson can we remove the blocking label and can you list the commits needed for cherry-pick?

[2021-07-13 17:09] pixelzoom commented on #725
I'm not a fan of partially cherry-picking issues, just to get the non-blocking bits.  It has the potential to create confusion in the future, about what commits were and were not included in the release branch. And what if something additional is discovered when writing unit tests?

There are other things currently holding up NS 1.4, and the next RC probably won't happen until next week. So rather

[2021-07-13 17:17] zepumph commented on #725
I agree and understand. The only reason that I recommended that is because the only code left to write are unit tests.

[2021-07-13 17:29] jonathanolson commented on #725
Removed blocking labels.

[2021-07-13 17:31] jonathanolson commented on #725
I'd be inclined personally to not go back and write the test, because this is exceedingly unlikely to break in the same way in the future. @zepumph objections?

Highly depends on where branches are at, these are the relevant commits I made more recently. Work was done throughout time however.

https://github.com/phetsims/scenery/commit/f0adaceb9b2d8f0420258c1dc65bb94def77c1bd
https://github.com/ph

[2021-07-13 17:36] pixelzoom commented on #725
Yes. I need the exact set of cherry-picks needed to patch NS 1.4.

[2021-07-13 17:37] samreid commented on #725
I'll work on that for gravity and orbits, it should be the same for NS.  I'm just planning to cherry-pick all commits from this issue.

[2021-07-13 18:08] samreid commented on #725
I cherry picked as described above and testing worked well.  Over to @pixelzoom to cherry-pick for Natural Selection (I still have this problem which makes it difficult to help in this case https://github.com/phetsims/natural-selection/issues/298#issuecomment-875003109 )

[2021-07-13 18:27] pixelzoom commented on #725
Shas to cherry-pick are noted in https://github.com/phetsims/natural-selection/issues/295#issuecomment-879305525.  I'll continue patching NS 1.4 in that issue. Unassigning from this issue.

[2021-07-13 20:18] zepumph commented on #725
Sounds good to me!

I think this issue is ready to close, as cherry-pick issues are in their own repos.

[2021-07-13 20:18] #725 closed

[2021-07-13 21:46] KatieWoe opened #732 "Slight movement of text when launching sim"
From Slack:
Kathryn Woessner  3:38 PM
I was looking at https://github.com/phetsims/gravity-and-orbits/issues/400 and I noticed something a bit odd. It no longer pushes things to the side, but the text seems to be higher up when launched. Is that an issue?
<img width="701" alt="lower" src="https://user-images.githubusercontent.com/41024075/125529525-4515abd2-ebbe-4803-936e-fd97cf096a55.png">
<img w

[2021-07-13 21:47] KatieWoe commented on #732
This was for https://github.com/phetsims/qa/issues/671

[2021-07-13 21:50] pixelzoom commented on #724
@jessegreenberg @jbphet and I met on Zoom about this issue today.  @jessegreenberg has more extensive notes, but here are mine.

* We like what's in https://github.com/phetsims/joist/issues/724#issuecomment-875098337, but prefer audioManager.js and `audioEnabledProperty`.
*  "Sound" has become a confusing term, because its PhET-specific definition is very different from the standard definition.  S

[2021-07-13 22:08] pixelzoom commented on #724
In the comment above, I asked:

I discovered that I do this in the console for the "Sound" subsystem:

phet.tambo.soundManager.enabledProperty.value = true

Perhaps I'll be able to do the same thing with other audio subsystem.

[2021-07-13 22:25] jessegreenberg opened #733 "General tab content in Preferences Dialog may be too "accessibility" centric"
This feedback came out of discussion in https://github.com/phetsims/joist/issues/724.

Current content is
![image](https://user-images.githubusercontent.com/6396244/125532424-f6f52a4f-ba2d-4bcb-97cb-14f94ecb156a.png)

It was mentioned that the Preferences Dialog will include things that are not related to accessibility, like sim options and a projector mode color profile. So this description could

[2021-07-13 22:34] jessegreenberg opened #734 "Disabling Sounds and Voicing in Preferences can result in the Audio button in the nav bar having no effect"
This was discussed during a Voicing meeting today, and came up again during discussion in https://github.com/phetsims/joist/issues/724. If sub-features under the "Audio Features" are disabled in Preferences, it can result in cases where pressing the "Audio" button in the navigation bar will have no effect. Since both Voicing and Sounds are disabled, no audio will come out of the sim regardless of

[2021-07-13 22:39] jessegreenberg commented on #724
That summary is great, thanks. Ill be working on https://github.com/phetsims/joist/issues/724#issuecomment-875098337 with the changes described, then bring it back to the sub group for review. This is still blocking publication of sims with sounds so the labels still apply.

[2021-07-13 22:40] pixelzoom commented on #724
Self unassigning for now.  @jessegreenberg let me know if there's anything you'd like me to review, I'll be happy to have a look.

[2021-07-13 22:40] pixelzoom commented on #724
Let me know if there's anything you'd like me to review, I'll be happy to have a look.

[2021-07-13 22:46] samreid commented on #732
I reviewed this code, and it looks like a good candidate for when we have https://github.com/phetsims/sun/issues/48 working.  Currently it is setting the spacing of a layout box, but it would be better if we could float the text south.

[2021-07-13 22:49] emily-phet commented on #733
Thanks @jessegreenberg.

I do not interpret this first paragraph as accessibility specific. We intentionally use the phrasing "inclusive and accessible". "inclusive" is a general term, it's more inclusive to have sim-specific features to allow teachers to customize their use of the sim, etc. So "inclusive and accessible" is essentially like saying "flexible and accessible", or "customizable and ac

[2021-07-14 19:00] jessegreenberg commented on #734
Discussed today with @emily-phet and @terracoda. We thought of a few potential solutions
- When toggling the audio features back on in this state you could always re-enable sound.
- Maybe you HAVE to have at least one sound feature enabled when "Audio" is enabled.
- Add a third state to the NavigationBarSoundButton that indicates that all Audio features are disabled in preferences.

We don't like

[2021-07-14 19:01] jessegreenberg commented on #734
I will work on making this change to the NavigationBarSoundToggleButton.

[2021-07-14 19:02] jessegreenberg commented on #733
During the meeting today @emily-phet and @terracoda brainstormed some different wording and came up with:

![image](https://user-images.githubusercontent.com/6396244/125677990-cd9bcfa4-0602-48fc-b18e-e5cd71198fe8.png)

@emily-phet and @terracoda will continue to brainstorm and update this issue.

[2021-07-14 19:44] emily-phet commented on #733
In further discussion with @terracoda, we (mostly @terracoda!) came up with a second variant:

_We are adding features to our simulations to make them more inclusive. Explore the tabs in this menu to review or change the default presentation settings to support learners with diverse needs and within diverse environments._

_To find other simulations with accessibility features, go to the simulatio

[2021-07-14 19:56] emily-phet commented on #733
The conclusion was to update the wording in the General tab of the Preferences menu to include:

_We are adding features to our simulations to make them more inclusive. Some of these features support accessibility for learners with diverse needs and within diverse environments. Explore the tabs in this menu to review or change the default presentation settings._

_To find other simulations with ac

[2021-07-14 19:57] emily-phet commented on #733
@BLFiedler Since you've looked the most at survey feedback re preferences menu, can you take a look at the italicized text in my last comment, give a thumbs up if this change seems agreeable to you?

[2021-07-14 20:01] emily-phet commented on #734
@jbphet @arouinfar

Hey folks - the solution we've come up with above (see screenshot) involves a visual display change to the audio on/off button in the nav bar. Can you take a look and give a thumbs up / thumbs down using the opaqueness of the audio on/off button to indicate "disabled"?

[2021-07-14 20:30] jessegreenberg commented on #734
This patch would implement this change:
<details>

[code]
</details>

I can apply it once this is cleared by @jbphet / @arouinfar.

[2021-07-14 21:37] emily-phet commented on #733
@jessegreenberg Please go ahead and implement the change to the wording as listed in italics here: https://github.com/phetsims/joist/issues/733#issuecomment-880167855

[2021-07-14 22:05] jessegreenberg commented on #733
Updated, and can be seen here: https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-dev.45/phet/john-travoltage_en_phet.html

@emily-phet can you please review? If it looks OK can this be closed?

[2021-07-14 22:32] emily-phet commented on #733
Looks great! Closing.

[2021-07-14 22:32] #733 closed

[2021-07-15 16:03] arouinfar commented on #734
I think disabling the sound toggle button is a reasonable solution, and the disabled button looks good to me. In https://github.com/phetsims/sun/issues/578 we decided to make `SunConstants.DISABLED_PROPERTY` 0.45 after reviewing a variety of UI components/contexts. Looks like that's now `SceneryConstants.DISABLED_PROPERTY` which is what @jessegreenberg included in the patch.

[2021-07-15 17:47] chrisklus commented on #730
I tracked down the [commit](https://github.com/phetsims/joist/commit/c444bc811712839e707edf7656ad1ec5c1fc3ced) that replaced the font-awesome icons and the associated issue, from https://github.com/phetsims/tambo/issues/19#issuecomment-405775273:

![image](https://user-images.githubusercontent.com/5618316/42853297-d559cf40-89f2-11e8-942e-13738f9e32da.png)

![image](https://user-images.githubuserco

[2021-07-15 22:31] jbphet commented on #730
@pixelzoom said:

@chrisklus has described the reasons above (thanks for looking at this @chrisklus).  I've added a comment with an explanation to the file header.  @pixelzoom - Since you opened the issue, please review the response.  If you think it's satisfactory, this can be closed.  If not, please assign to a designer to decide if we should revisit.

[2021-07-15 23:40] #730 closed

[2021-07-16 17:13] zepumph commented on #694
@jessegreenberg can this branch/issue be deleted and close?

[2021-07-16 17:14] zepumph commented on #646
@jonathanolson can this issue be closed? Please also handle the same branch in sun.

[2021-07-16 17:15] zepumph commented on #565
@jonathanolson can this branch/issue be closed?

[2021-07-16 17:15] zepumph commented on #562
@jessegreenberg, I'm going through my repos to check in on branches, can this branch be closed? If not please let us know the current status of it.

[2021-07-16 17:17] zepumph commented on #233
Since I'm the responsible dev for joist these days, I'll just note here (likely for the next time I look at this) that it seems like this issue, and https://github.com/phetsims/scenery/issues/415, will stick around forever. Sounds good to me!

[2021-07-16 17:21] jessegreenberg commented on #562
Yes, thanks this can and has been deleted.

[2021-07-16 17:21] #562 closed

[2021-07-16 21:05] jessegreenberg opened #735 "Update NavigationBarAudioToggleButton Tandem name"
In #724 the NavigationBarSoundToggleButton was renamed to NavigationBarAudioToggleButton.  Its tandem needs to be updated and all APIs regenerated. I don't want commits for this to hide the relevant changes in #724 so those commits will happen here instead.

[2021-07-16 21:35] jessegreenberg commented on #735
It turned out to only be one sim that needed this. Since the button is only created if "audioManager.soundPartOfTheAPI", there is only one sim with a stable API that has this button. Closing.

[2021-07-16 21:35] #735 closed

[2021-07-19 14:05] zepumph commented on #731
Noting here as I go through issues for https://github.com/phetsims/joist/issues/703. I would recommend keeping this on your plate, to make sure that things don't get lost in @kathy-phet's workload.

[2021-07-19 14:06] zepumph commented on #707
This is not on hold anymore!

[2021-07-19 14:31] zepumph commented on #707
Old:
![image](https://user-images.githubusercontent.com/6856943/126176706-c03a6c47-7ed3-44ee-9fe2-cfb4eea8e639.png)

New:
![image](https://user-images.githubusercontent.com/6856943/126176624-9e8a5d8f-7294-4669-b6e1-61fcc70d6db4.png)

This seems pretty safe to me. Closing

[2021-07-19 14:31] #707 closed

[2021-07-19 14:39] zepumph commented on #696
@jessegreenberg, given recent findings in https://github.com/phetsims/scenery/issues/1053, could you please note if this issue has changed at all in your opinion?

[2021-07-19 15:07] zepumph commented on #695
@jessegreenberg, I'm not sure how we accomplish this, or even if we can. Is this needed for Greenhouse effect?

[2021-07-19 15:13] zepumph commented on #681
I'm really excited by https://www.npmjs.com/package/vanilla-picker, can we just use that in those two spots? I forget, can we put MIT stuff in PhET-iO?

[2021-07-19 15:15] zepumph commented on #664
I'm going through this issue as part of https://github.com/phetsims/joist/issues/703, it looks like we have stalled out because @jonathanolson is waiting on @loganbraywork to supply info asked for in https://github.com/phetsims/joist/issues/664#issuecomment-709527174. Over to @loganbraywork with a ping.

[2021-07-19 15:20] zepumph commented on #645
This issue was marked as high priority. @jonathanolson can you please comment on the current status of things?

[2021-07-19 15:22] samreid commented on #681
PhET-iO can use MIT code.  Can you contrast https://www.npmjs.com/package/vanilla-picker and https://github.com/Simonwep/pickr?

[2021-07-19 15:23] zepumph commented on #640
@jessegreenberg, this issue has been around for a while. Will you please make sure that unreviewed changes aren't hanging around, and remove that label if there is just future work left for this issue.

[2021-07-19 15:30] zepumph commented on #681
pickr seems much better. Let's do that.

[2021-07-19 15:31] zepumph commented on #597
Ping on @jessegreenberg, as this has been up for review for a year.

[2021-07-19 15:33] zepumph commented on #620
@chrisklus I believe this has been sorted out. We have brought multiple sims through RC, and have had recent layout work related to the dynamic text of these buttons over in https://github.com/phetsims/joist/issues/718 et al. I also don't see this in master:

![image](https://user-images.githubusercontent.com/6856943/126186528-6fb929a3-d064-4d38-9e8a-40acd74ea9ec.png)

Closing

[2021-07-19 15:33] #620 closed

[2021-07-19 16:07] terracoda commented on #695
Actually, a better, more natural user experience is for focus to go the button of the source screen.
We are talking about a re-visit to the Home screen, right?

I thought I had this plan mapped for RaP? There might be an interaction design pattern in Binder?? - not sure.
1. Focus is at top of Home Screen when the sim loads for the first time.
2. Focus is at the top of  Sim Screen when a screen is

[2021-07-19 16:23] zepumph commented on #593
Removing one todo, as it makes no sense to dive back into this function 18 months later. As for this issue:

[code]

I created a test:

    tempPublic: {
      public: true,
      defaultValue: '4',
      parse: v => v,
      isValidValue: v => v === '4' || v === '7',
      type: 'custom'
    },

And saw that it worked as expected. When omitted, the value was '4', when I added `tempPublic=3`, I go

[2021-07-19 16:24] #593 closed

[2021-07-19 16:25] zepumph commented on #575
This issue is outdated. I'm going to close this

[2021-07-19 16:25] #575 closed

[2021-07-19 16:28] zepumph commented on #572
This was instrumented and design reviewed in https://github.com/phetsims/joist/issues/654.

Current implementation: https://github.com/phetsims/joist/blob/676449add44cad62cce105d763bbccd3f048c73b/js/ProjectorModeCheckbox.js#L54-L56

[2021-07-19 16:28] #572 closed

[2021-07-19 16:29] zepumph commented on #560
@KatieWoe is this still an issue you run into? Please assign me after responding.

[2021-07-19 16:30] KatieWoe commented on #560
I don't often run tests for that long, so I'm not sure

[2021-07-19 16:32] zepumph commented on #532
This issue is likely to never get worked on in its current state. In https://github.com/phetsims/graphing-quadratics/issues/51#issuecomment-429960192 @jonathanolson recommended keeping the workarounds in. Can we close this issue since we haven't hit this bug in 3 years? Or should we assign this bug to get fixed. I feel a bit like not keeping around an issue that just notes a workaround. There are

[2021-07-19 16:35] zepumph commented on #387
@samreid, what priority do you think this work should be done in, is it a problem that the TWEEN conversion is taking so long?

[2021-07-19 16:38] zepumph commented on #234
@KatieWoe, do you still encounter this bug (anytime in the last year)?

[2021-07-19 16:39] zepumph commented on #222
From https://github.com/phetsims/scenery-phet/issues/515, we are getting a very new strategy about our color profiles. Note that this will likely apply to this issue.

[2021-07-19 16:39] zepumph commented on #183
This work was done in https://github.com/phetsims/joist/issues/601

[2021-07-19 16:39] #183 closed

[2021-07-19 16:41] zepumph commented on #703
I went through all issues and branches. Closing

[2021-07-19 16:41] #703 closed

[2021-07-19 16:41] zepumph commented on #560
Ok thanks for letting me know.

[2021-07-19 17:09] pixelzoom commented on #532
I don't understand the rationale for closing a known bug because it hasn't reached the priority where it needs to be worked on yet.  GitHub issues are cheap, finding and reporting bugs is expensive.  It's likely that we'll run into this problem again, as soon as someone tried to use scenery's DAG features with a Node that uses `clipArea`.   But if you really want to close it, I've changed the comm

[2021-07-19 17:15] jonathanolson commented on #645
High on my project board, and I'll need to look through a variety of fonts to see what would have proper browser support. Presumably then I'll propose a few options and see what works for the sim design.

[2021-07-19 17:18] KatieWoe commented on #234
I haven't seen this lately on iPadOS 12, 13, or 14. I can reopen if it reoccurs, but it can probably be closed for now.

[2021-07-19 17:41] jonathanolson commented on #565
Deleted the branch, closing.

[2021-07-19 17:41] #565 closed

[2021-07-19 18:05] jonathanolson commented on #646
Handled, thanks!

[2021-07-19 18:05] #646 closed

[2021-07-19 18:05] jessegreenberg commented on #734
Thanks @arouinfar - I went ahead with this change in the above commit. Final commit is a bit different from the patch in https://github.com/phetsims/joist/issues/734#issuecomment-880188179. To summarize:

- It takes advantage of the new audioManager and observes Properties on it to know when to disable the nav bar button and change its icon.
- I made a change to the initial value of the soundManag

[2021-07-19 19:27] zepumph commented on #234
Sounds good me!

[2021-07-19 19:27] #234 closed

[2021-07-19 21:41] jessegreenberg commented on #724
This is done in the above commits. Everything pretty much went according to plan from the above comments. To summarize the overall changes again for the reviewer:
- Properties and fields related to Sound and Voicing were moved out of Sim.js into a new audioManager.js.
- An `audio` query parameter was added with the same API as `sound`.
- NavigationBarSoundToggleButton was renamed to NavigationBarA

[2021-07-19 22:00] jessegreenberg commented on #724
Over slack @pixelzoom offered to review as well, and whoever is available to review first can take it on. Assigning to him, and thanks!

[2021-07-19 22:32] samreid commented on #387
This issue is not a very big deal, and I bet we could work around the remaining TWEEN occurrences if we want.  Here are some examples of what's happening:

Sim has `getDT` take in ms and give out sec:

[code]

Then we emit seconds to `animationFrameTimer`

[code]

which multiplies it back by *1000 again:

[code]

I'm very lukewarm on this issue at the moment, partly because it seems like a negligi

[2021-07-20 12:41] zepumph commented on #387
I think there are about 20 places on the project that are multiplying a dt by 1000, (loosely calculated by looking through usages of `dt.* \* 1000`. And ~<70 usages of conversion to milliseconds by multiplying by 1000. Looking through the operations in Sim.js, I'm not very offended by how it divides in `getDT`. If there was an easy way to determine that the vast majority of usages in sims were mul

[2021-07-20 14:56] pixelzoom commented on #724
I had a chance to review this morning.  This was an easy review, because it's done so well.  Solid code. Clear documentation - especially in audioManager.js. This is a huge improvement.  Nice work!

Back to @jessegreenberg.  Feel free to close, unless you also want @jbphet to have a look.

[2021-07-20 15:01] pixelzoom commented on #724
In the above commit, I replace a Fourier multilink with `audioManager.audioAndSoundEnabledProperty`.  It works great.

[2021-07-20 17:02] jessegreenberg opened #736 "Toggle switch or Sound for Voicing in preferences should be removed when only one audio feature is available"
Discussed at a recent design meeting, when only one feature under audio is enabled, the toggle switch for it should be removed because in that case the "Audio" toggle will be the only thing required to enable/disable all auditory output. There is no need to add or remove subcomponents under audio when there is only one.

[2021-07-20 17:26] chrisklus commented on #593
Thanks for testing this out @zepumph!

[2021-07-20 18:37] jessegreenberg commented on #724
Thanks much for the review @pixelzoom. Based on comments over slack between the sub-group of devs working on this issue, I think it is OK to close. But @jbphet feel free to reopen and take a look if you wish.

[2021-07-20 18:37] #724 closed

[2021-07-20 21:30] jessegreenberg commented on #736
I decided to proceed with this for Sound but not for Voicing. It is more complicated for Voicing because the toggle switch for Voicing shows/hides many other UI components to control voicing output. And without the toggle switch for Voicing, we don't hear when the voicing output for "Voicing on/Voicing off" because it goes through auditory output.

It will be very rare that Voicing is supported bu

[2021-07-20 22:39] jonathanolson commented on #681
This came up when I was instrumenting color Properties in Density/Buoyancy, editing the water color instantly turns it opaque.

[2021-07-21 13:42] zepumph commented on #681
@jonathanolson is there a timeline on Density/Buoyancy phet-io that we should know about for the priority of this issue?

[2021-07-21 13:44] kathy-phet commented on #681
Our client sent email yesterday that this sim is actually highest on their phet-io list. We can discuss tomorrow exact timing/feasibility for this goal tomorrow.

[2021-07-22 12:20] zepumph commented on #681
Sounds good to me!

[2021-07-22 16:26] zepumph commented on #681
Here is a pretty easy hello world I was using with a CDN. I think we should use the "classic" theme, because it is clean and easy.

<details>

[code]

[2021-07-22 16:28] zepumph commented on #681
I think we don't want the "save" option, we should just update as you mutate the picker.

[2021-07-22 16:28] zepumph commented on #681
I'll add to sherpa and start in the colors.html file.

[2021-07-22 21:33] zepumph commented on #681
From investigation, I found that it caused a few problems to use pickr. Mostly it was impossible to get the pickr to be a span, but had to be a div. This takes up more vertical space than is desired, and also meant that I had to make sure they were lower in the z-index than the sim. I created https://github.com/Simonwep/pickr/issues/289 to investigate, but for now I think we can commit and continu

[2021-07-22 21:52] zepumph commented on #681
I may have to keep looking through options like https://github.com/Simonwep/pickr#options, but in general I have the following things still to figure out:

- [ ] Add license entries to sherpa,
- [ ] Figure out why the alpha wasn't working in Density
- [ ] The UI is a bit clunky because it uses a "save" button.
- [ ] Hopefully we can get https://github.com/Simonwep/pickr/issues/289 sorted out and r

[2021-07-23 14:04] samreid commented on #681
That patch seems nice so far, may be still workable.  I didn't understand why the z-indices were important.  I removed them and wasn't sure what the problem was.  Also, maybe the main page should use css-grid for layout.  I also noticed I saw https://github.com/web-padawan/vanilla-colorful which also seemed OK.

[2021-07-23 14:13] zepumph commented on #681
The divs for each button extend onto and over the sim. try to drag vertically something in a sim and feel it get interrupted as you move over the divs.

I'd be happier most likely trying out another package. A small aside is that it would be nice to have this be a single file, instead of a js file and a css file that need to be imported where ever this is used.

Furthermore. I wanted to note that

[2021-07-23 20:31] zepumph opened #737 "create preferencesStorage.js"
From https://github.com/phetsims/chipper/issues/1042#issuecomment-885826017, @jessegreenberg and I want to create a way to store preferences with localStorage when possible.

We discussed how to do this for quite some time, with a few options.

1. We could have preferencesStorage be more like a model for all preferences Properties, and initialize it with those Properties. Then the "view" could use

[2021-07-23 20:33] zepumph commented on #737
Another nice part about our strategy is that we can gracefully add in what we want to support as we go. From https://github.com/phetsims/chipper/issues/1042 all I care about most is the three voicing levels checkboxes and the speech rate. That is where I will begin with this experiementation.

[2021-07-23 20:34] zepumph commented on #737
Note that we have to try catch that localStorage is supported, like https://github.com/phetsims/phet-io-wrappers/blob/361a103ffac5d317d28bd9077fe8019cad72ffc1/playback/js/loadSessions.js#L323-L339

[2021-07-26 18:41] jbphet commented on #734
I think the concept is good and I'm up for this change.  I just tried it out on John Travoltage and Balloons and Static Electricity, because the former has voice and sound and the latter just has sound, and the behavior seems reasonable.  However, sounds are not working in either sim.  I don't know if that is related to this issue or not, but I'm not comfortable closing it until sound is fully fun

[2021-07-26 18:43] jbphet commented on #734
Wait, never mind - I'd muted the tab.  The behavior seems fine.  Closing.

[2021-07-27 16:20] samreid opened #738 "In the keyboard shortcuts dialog, should the basics actions be listed before or after the sim-specific actions?"
On Slack, @pixelzoom said:

![image](https://user-images.githubusercontent.com/679486/127190398-128427e8-9c5b-4f95-bb9f-8e0a4ce0bf78.png)

@jessegreenberg said:

@pixelzoom said:

@jessegreenberg said:

@arouinfar said:

@terracoda said:

The sim actions should stay on the left and come first in the reading order. (edited)
I think putting the sim actions first is actually best for all users becaus

[2021-07-27 16:35] samreid commented on #738
I decided to open this issue to (a) make sure I understand the design decisions here and (b) to make sure there is a paper trail in case it comes up again.

My confusion came from the fact that it is not obvious that the section titled "Slider Controls" is about sim-specific actions, as opposed to the other column of basic actions.  Also, like @pixelzoom, my instinct was that the basic controls sh

[2021-07-27 17:03] samreid commented on #387
Not sure what to do with this issue.  I'm not planning on working on it soon, but wouldn't mind if someone else wanted to.  But I don't want it to fall off radar completely or be closed.  Perhaps I'll put a personal calendar reminder to take a look in 3 months, even though I'm not confident we would work on it then either.

[2021-07-27 17:57] jessegreenberg commented on #738
I think there would be another section in that column. The dialog used in BASE has a column with two sections

<details>

![image](https://user-images.githubusercontent.com/6396244/127203595-42dc5614-98b7-4f47-a8c2-3137e9ecef0c.png)

</details>

Yes, SliderKeyboardHelpSection exists in scenery-phet.

For the ordering, I don't feel strongly enough to cast a vote but would be fine changing it if the

[2021-07-27 18:54] samreid commented on #738
For the sake of discussion, I created a mock-up that swaps the sides:

<details>

![image](https://user-images.githubusercontent.com/679486/127211280-a4119fa9-7676-4a6a-a2bc-0360e6038bb3.png)

</details>

[2021-07-27 18:54] jbphet commented on #734
Reopening.  I just came across a problem with the behavior of the nav bar icon and its interaction with query parameters.  The query parameter for `sound` has valid values of `[ 'enabled', 'disabled', 'muted' ]`.  I just tried using `muted` on greenhouse-effect, and the sound is indeed muted at the beginning, but the icon is grayed out and there is no way to unmute it.  This shouldn't be the behav

[2021-07-27 19:42] terracoda commented on #738
Just an FYI, "Slider Controls" comes from the Interactive Description Design. It's not a general heading for the column. The heading is meant to be sim specific.

In Ohm's Law and Resistance in Wire, the sim actions are prominent sliders, and are named Slider Controls in the State Descriptions of the PDOM. In GFLB (and GFL) the sim actions are Move Spheres and Change Mass because that is what the

[2021-07-27 19:45] terracoda commented on #738
Thanks for the mock-up Sam, but imagine you cannot see, and you need to read through line by line all the interactions you already know how to do before you get to "Grab or Release Balloon".

Even for visual readers. It's nice to know what's important. Important stuff comes first.

You tab and then you play with the balloon.

[2021-07-27 19:48] terracoda commented on #738
I am so glad the team is asking questions about this stuff. It helps share the knowledge.

[2021-07-27 19:56] samreid commented on #681
I'm planning on working on this in the near future.

[2021-07-27 20:21] jessegreenberg commented on #734
This is expected with the current UI because the navigation bar button doesn't control "Sounds" anymore, it controls "Audio". The new way to mute initially but still re-enable with the NavigationBarAudioToggleButton is to go through the `audio` query parameter, which supports the same values `[ 'enabled', 'disabled', 'muted' ]`.

With this design, there is no way to unmute sounds with `sound=muted

[2021-07-27 21:47] samreid commented on #681
https://github.com/Simonwep/pickr says:

Likewise, https://github.com/web-padawan/vanilla-colorful seems nice, but I'm sure it will have its quirks and constraints, and it does not have a critical mass to ensure it will be well-maintained in the long term.  I considered creating our own color picker (we have done variants of this via the spectrum sliders in scenery), but it seems wasteful to recre

[2021-07-27 22:18] samreid commented on #681
I added the transparency sliders.  They look like a designer's nightmare, but on the other hand they have the following advantages:

* No third party dependency to license, manage, update, maintain
* Simple implementation, easy to understand, debug, maintain, adapt
* As @pixelzoom said: Having to edit RGB in one place, and A in a different place (with the RGB picker closed) is not ideal, but bette

[2021-07-27 22:33] samreid commented on #681
I added similar support to studio, it looks like this and is wired up and working well.  There is already an alpha channel numerical readout.

![image](https://user-images.githubusercontent.com/679486/127236092-2e1e4cd4-a2e5-47b4-bd8e-bcc9924b6d43.png)

[2021-07-27 22:37] samreid commented on #681
@pixelzoom said:

Based on the above changes, I think you no longer need to strip alpha channels out of colors in Fourier.

[2021-07-27 22:40] samreid commented on #681
@arouinfar and/or @amanda-phet would you like the alpha value displayed in the page, or is it OK for it to be in the console?

[2021-07-27 23:12] pixelzoom commented on #681
While I appreciate the effort that has gone into trying to locate a color editor that supports alpha, then implementing this workaround...  I really dislike this UI, having to edit alpha separately, and possibly having to look in the console to see what value the slider is setting. Very difficult to set a specific alpha value.

Are you planning for this to be a shortterm workaround, or a final sol

[2021-07-27 23:45] samreid commented on #681
After the commit, the transparency value is displayed in the Color Editor.

I agree it is not a streamlined user experience.  Let's discuss further along these dimensions:

### The color editor
Is the color editor good enough for our own internal team use?  For some of our internal team utilities, we do not maintain the same quality of design standard as we do for our end-user products (I'm not ar

[2021-07-28 01:14] samreid commented on #681
In the commit, the transparency slider updates when the sim color transparency changes.  I tested with this patch in proportionPlaygroundColorProfile:

[code]

I think a good next step would be to touch base at a phet-io or design meeting.

[2021-07-28 12:46] zepumph commented on #738
It sounds like there has been discussion about this, and it has been explained why the design was made the way it was (sim-specific/most important interactions first). Can we close this issue?

[2021-07-28 13:41] samreid commented on #738
Everything seems good to me, I think the issue can be closed.  Anyone please feel free to reopen if there is more to discuss.

[2021-07-28 13:41] #738 closed

[2021-07-28 13:54] emily-phet commented on #734
@jbphet - perhaps there is an issue with the current setup for the query parameters? The change from sound to all audio control may mean the sound query parameters should be deprecated as sound becomes a subset of all audio, and maybe needs a new structure to the query parameters.

[2021-07-29 17:09] samreid commented on #681
We discussed this at today's meeting.

@arouinfar said it is important to be able to type in HEX or RGB color values.
@kathy-phet said it is OK in studio with the separate transparency slider.

We do not plan for this to be used a lot by clients.
Most opacities will just be 1.

We haven't exposed colors to PhET-iO before, so this is low priority and not necessary to refine further.  We don't have

[2021-07-29 17:37] zepumph commented on #681
Just noting here, that I am really really happy with this UI choice, and glad that designers agreed. It is simple, and easy to implement. As much native HTML that can be used it good for me! Perhaps one day the input type=color will support alpha, and we could get rid of our sliders (likely not though).

[2021-07-30 20:39] KatieWoe opened #739 "Screenshot option in PhET menu is no longer hidden on iOS"
Found during https://github.com/phetsims/qa/issues/676, but it seems to impact every sim I looked at on the website. Seen on iPadOS 14.7.1, iPhone iOS 14, and iPadOS 12.

Until recently, the Screenshot option in the PhET menu has been disabled on iPad and iPhone devices due to various bugs. I noticed while testing John Travoltage that the option was available. It is also available on many publishe

[2021-07-30 20:47] pixelzoom commented on #739
In PhetMenu.js:

[code]

In initialize-globals.js:

[code]

So the Screenshot menu item is currently hidden only if running in the PhET iOS or Android app.

I see no commits in PhetMenu.js to indicate that Screenshot was ever hidden on iOS.  But I may have missed something.

[2021-07-30 20:51] pixelzoom commented on #739
@KatieWoe is is possible that you're thinking of situation where you've run the sim _from the iOS app_, versus just running the sim on iOS?

[2021-07-30 20:53] KatieWoe commented on #739
No, it was definitely from safari. I'm quite certain of that. It's been the case since I started working here and I remember revisiting it to see if bugs still occurred and they did.

[2021-07-30 21:00] KatieWoe commented on #739
Actually looking back, I may be thinking of full screen. But I could have sworn it was both.

[2021-07-30 21:01] #739 closed

[2021-07-30 23:24] jbphet commented on #734
@jessegreenberg said:

... and @emily-phet said:

I'm generally fine with this idea, but have few thoughts:
1. The `sound` query parameter is marked at public facing, and I don't know if it's cool to just change it.  I'm not even sure who to ask.  People might be using it out there on a regular basis and, if so, removing it could be a problem for them.
 @jessegreenberg and @emily-phet - do you kno

[2021-07-30 23:35] emily-phet commented on #734
Some thoughts and questions for further discussion:

- The original issue @jbphet brought up is only a problem *if the sim has no preferences menu*, correct? If so, the number of sims that have full sonification and no preferences menu will decrease over time.

- If you use a query parameter that indicates you don't want sound, I'm not sure that I would be shocked to find I can't enable sound in t

[2021-07-31 03:30] pixelzoom commented on #739
Full Screen menu item is definely hidden on iOS (mobile Safari).  From PhetMenu.js:

[code]

[2021-07-31 19:35] samreid commented on #681
It looks like this implementation has not been code reviewed.  @zepumph can you please take a look?

[2021-08-02 16:58] jessegreenberg commented on #734
I had the same thought and asked this on slack a little while ago. @arouinfar said that she would add the new `audio` query parameter to teacher tips. I was also told to add `audio` query parameter to https://docs.google.com/spreadsheets/d/1TddeTtD8zAayJzs02g0fL7dR1iWYczs1CMFdYd3SBNc/edit#gid=0. But I don't think anything was done about the navigation bar button and `sound` query param. I put a qu

[2021-08-02 17:04] jbphet commented on #734
It's fine with me as long as the designers are okay with it.

We should have a follow-up issue to update aqua, since it would probably be better to use `audio=disabled` for the automated testing.

[2021-08-02 18:14] zepumph commented on #681
Review:

https://github.com/phetsims/scenery/commit/d20257d4c968859ce32745d51dc78160ea5f178c is very excellent. Much nicer than what I was doing over in https://github.com/phetsims/scenery/issues/1253. Thanks!

Yes this is duplication, but I'm not worried about it, it is all just wiring up a basic slider to adapt to a value. It doesn't bother me personally.

No suggestions. Thanks @samreid!

[2021-08-02 20:56] emily-phet commented on #734
@jbphet - Are you referring to @arouinfar and @amanda-phet? I can reach out to them about this if that's the case. I think you're referring to people who know about the public-facing nature of the query parameters, which would be the folks I name above, plus maybe Oliver and Kathy?

Can you list the people or more specific attributes of the group of people you'd like input in on this? If needed, I

[2021-08-02 21:21] arouinfar commented on #734
I've never used the `sound` query parameter before, and I don't know if it is regularly used by partners/clients.

When @jessegreenberg announced the `audio` query parameter, I made a note to add it to the Teacher Tips for Fourier: Making Waves. That sim has a sound, but no other audio. The current behavior is as I would expect -- `audio=disabled` permanently turns off sound and `audio=muted` mute

[2021-08-02 21:27] emily-phet commented on #734
I'd like to pick a path forward for publication soon, but it sounds like we might need to be clear on how the possible solutions impact sims with different audio-related contents.
I'm going to request some design time on Thursday.

[2021-08-03 19:32] terracoda opened #740 "(Preferences) Change to content on General Tab"
With upcoming changes to the sim pages on the website, we want the content in the General Tab in the Preferences menu to match.

No changes to the first paragraph:
**Current content:**

**Two versions of second paragraph:**
1. To find other simulations with inclusive features, go to the simulation filter page on the PhET website, look for Access and Inclusion and filter by inclusive feature.
2. To

[2021-08-03 22:25] KatieWoe opened #741 "allowLinks parameter does not disable all links"
For https://github.com/phetsims/qa/issues/680.
The link to the legacy version of the sim in the third screen is not disabled by `?allowLinks=false`
![allowlinksbug](https://user-images.githubusercontent.com/41024075/128094161-046d062f-f836-4634-9118-7c163a693c41.gif)

[2021-08-03 22:39] pixelzoom commented on #741
This is specific to molecule-polarity, so transferring this issue from joist to molecule-polarity.

[2021-08-04 03:54] #681 closed

[2021-08-04 14:46] terracoda commented on #740
Thanks @emily-phet.

[2021-08-04 14:48] terracoda commented on #740
@jessegreenberg, we would like this change in the the first release of JT, and we are hoping it will align quite closely with the publication of the new sim page design on the main website. The new sim page design uses the same language of inclusion.

[2021-08-04 14:48] jessegreenberg commented on #740
Got it, thanks - Ill make this change in master and cherry pick into the JT release branch.

[2021-08-05 16:36] jbphet commented on #734
@arouinfar, @terracoda, @jessegreenberg, and I discussed this in a meeting on 8/5/2021.  We decided to go with the minimalist approach, and have only one query parameter for now, the `audio` parameter.  Part of the justification for this decision is that if we tried to support one overarching query parameter like `audio` and then more feature-specific parameters like `sound`, it would be easy to c

[2021-08-05 17:35] jbphet commented on #734
I've removed the labels that were on this, since some work needs to be done before it's ready for review and because we decided that it is okay to publish with the current behavior since the `sound` query parameter is not known to be widely used outside of the development team.

[2021-08-11 23:45] zepumph commented on #737
@jessegreenberg, here is a start. Can you review, and also think/add any others that you may be wanting here.

Should we add this to phetmarks?

[2021-08-12 00:12] zepumph commented on #737
There seems to be something still out of sync here. I'm unsure what it is. I'll keep taking a look. Perhaps preferencesStrorage.register cannot be so "late" in the startup sequence: in the view where used in the Preferences panel. I'll see what the trouble is first though.

[2021-08-13 15:36] zepumph commented on #188
While working on another issue, I saw that PhetioEngine.onSimConstructionStarted takes the whole sim, but it doesn't need it. I'll refactor that now.

[2021-08-16 19:45] zepumph commented on #597
Hey @jessegreenberg, I'm going through old phet-io design issues right now, and came across this one again. Could you please take a look at just https://github.com/phetsims/joist/issues/597#issuecomment-624860692 to review.

[2021-08-18 17:11] jessegreenberg commented on #740
This string has been updated, closing.

[2021-08-18 17:11] #740 closed

[2021-08-20 15:37] Nancy-Salpepi opened #742 "Text is bolder in screenshots than in the original sim"
**Test device**
MacBook Air (m1 chip) and iMac

**Operating System**
11.4 and 10.15.7

**Browser**
Safari and chrome

**Problem description**
https://github.com/phetsims/qa/issues/692

This is more of an FYI-- when taking screenshots in the Screenshot Wrapper, the text in the screenshot appears bolder than in the original. Everything else is the same aside from that. I also noticed this happening

[2021-08-23 16:39] zepumph commented on #737
This is caused because the PreferencesDialog is created lazily, thus the PreferencesStorage registration is also done lazily. @jessegreenberg, I think we may need to create a more central, "model-like" spot to register the preferences we have. Then pass that object to the view. What do you think?

[2021-08-27 18:32] jessegreenberg opened #743 "Create a single model for Preferences"
Motivated by #737, but would be a better organization generally too. It would be good if there was a single PreferencesModel that maintains what is available and used by the PreferencesDialog. This is currently distributed by "model" subcomponents as the PreferencesDialog and panels directly control Properties of voicingManager, soundManager, audioManager, and PreferencesProperties while deciding

[2021-09-02 18:50] samreid commented on #742
@jonathanolson said the main difference is due to the rendering in canvas, which is slightly different.  This is to be expected.  If the renderer in the sim was canvas, it would look the same.

@samreid says the different probably wouldn't cause a problem in use.

@zepumph recommended closing the issue, as will-not-fix.

[2021-09-02 18:50] #742 closed

[2021-09-16 19:10] zepumph opened #744 "PhET-iO instrumentation of Preferences and its dialog"
Today during PhET-iO meeting we were discussing how to instrument these preferences.

We feel strongly about two things:
1. We want a researcher to be able to know what preferences were selected during the sim run.
2. We don't want preferences to be set onto another sim from setState.

For now we will achieve this by instrumenting preferences as phetioReadOnly: true, and phetioState:false. This wa

[2021-09-16 22:16] kathy-phet commented on #731
Let's not plan on fixing this issue in older sims, and rather look forward to adding and republishing them with pan/zoom/keyboard nav features.

Closing as won't fix.

[2021-09-16 22:16] #731 closed

[2021-09-17 17:46] zepumph commented on #744
What about an instrumented Property that stored whether or not preferences should be stored? Then you can turn it on and off.

[2021-09-17 18:27] jessegreenberg commented on #743
This is something that should be done before #744, which is high priority, relabeling this accordingly.

[2021-09-17 18:46] pixelzoom opened #745 "audioManager.js Properties need to be instrumented for PhET-iO."
Related to https://github.com/phetsims/joist/issues/724 ....

Nancy Salpepi  reported in Slack:

I noted that none of the Properties in the new audioManager.js have been instrumented for PhET-iO.  Therefore the state of sound cannot be saved and restored. That seems like an oversight, because soundManager.js is instrumented.

@zepumph asked me to create this issue, and assign to him with high prio

[2021-09-17 19:35] arouinfar opened #746 "Sim crashes with `audio=disabled` if user tries to enable audio from the Preferences dialog"
Steps to reproduce:
1. Run a sim with a Preferences dialog on master with `audio=disabled` such as [GLFB](https://bayes.colorado.edu/dev/phettest/gravity-force-lab-basics/gravity-force-lab-basics_en.html?ea&brand=phet&audio=disabled) or [BASE](https://bayes.colorado.edu/dev/phettest/balloons-and-static-electricity/balloons-and-static-electricity_en.html?ea&brand=phet&audio=disabled).
2. Open the P

[2021-09-17 21:36] jessegreenberg commented on #746
The comment before the assertion is

  // remove this assertion for your case.

@zepumph do you think we can remove this? I think one of the benefits of using `alertDescriptionUtterance` is that it could gracefully handle silencing alerts when the associated Node is not in the scene graph.

However, the real bug for this issue is that any Audio controls are available in the Preferences Dialog when

[2021-09-17 21:51] zepumph commented on #745
I did the initial instrumentation, in the same pattern as SoundManager, all that seems to be needed is the audioEnabledProperty, as the rest are DerivedProperties that should only be instrumented if they serve a purpose for PhET-iO. Over to @arouinfar to review something like `friction.general.view.audioManager.audioEnabledProperty` in studio.

[2021-09-17 21:54] jessegreenberg commented on #746
I thought about this patch:
[code]

But don't like that `supportsAudio` is used for each field of `audioOptions`. Also, if someone passes options to PreferencesConfiguration that override `audioOptions` and don't consider `audio=disabled` this will happen again.

So I went with the above commit instead to remove audio controls from Preferences with audio=disabled. @zepumph can you please review th

[2021-09-17 22:08] zepumph commented on #746
It seems like there is a setup already for handling the view, but this feels a bit more "modely" to me. Perhaps there is no spot currently, but there will be after https://github.com/phetsims/joist/issues/743.

Also, in my naive perspective, I would think you should use AudioManager.supportsAudio instead of checking on the query parameter.

What do you think?

[2021-09-17 22:18] arouinfar commented on #746
Hiding the Audio tab of the Preferences dialog when `audio=disabled` makes sense to me.

What happens if the only content left in a Preferences dialog is the blurb under General? The Preferences dialog would be essentially empty at that point. Should we hide the Preferences dialog/button completely in that situation?

[2021-09-17 22:18] jessegreenberg commented on #746
I think you are correct. PreferencesConfiguration is essentially the model for this, do you prefer the first patch in https://github.com/phetsims/joist/issues/746#issuecomment-922102041?

You are right about this if we keep it in the view, just updated that part at least.

[2021-09-17 22:24] zepumph commented on #746
That patch is a bit quirky, but I don't hate it, those features should already be listening to the global control in general. Presumably that is just demonstrating the underlying lack of model. Wouldn't that get better once we consolidate the config and control Properties into a PreferencesModel?

[2021-09-17 22:26] zepumph commented on #746
I would recommend keeping this assertion for now. Without it, there will be a no op when we would expect to see an utterance. This will be much more difficult catch without the assertion.

[2021-09-17 22:37] arouinfar commented on #745
@zepumph this generally seems fine and stateful. However, it does feel a bit odd.

There isn't a way to mute the sound from the tree. Does that mean there isn't a way to mute the sound with an API call? I suppose a client could use `general.view.audioManager.audioEnabledProperty`, but that permanently disables the sound and a user wouldn't be able to re-enable it.

The solution might be to direct

[2021-09-17 22:49] zepumph commented on #745
I was able to do that by toggling `friction.general.view.audioManager.audioEnabledProperty`. Perhaps I don't understand though. Toggling that Property shuts off the sound as if you pressed the button on the nav bar.

I don't understand, as long as the button isn't set to enabled: false, it is still controllable from the wrapper.

[2021-09-17 23:09] arouinfar opened #747 "Right-align contents of A11yButtonsHBox"
A sim can currently have up to three buttons grouped next to the PhET logo:
![image](https://user-images.githubusercontent.com/8419308/133861099-8d4969d5-ff63-4c1a-a268-62c9f16702f3.png)

With PhET-iO customization, one or more of these buttons can be hidden, leaving behind a gap between the buttons and the PhET-iO logo. It already appears that the HBox is utilizing dynamic layout, since the keybo

[2021-09-17 23:27] arouinfar commented on #745
My bad @zepumph. I think I searched for `sound` in the tree so I was using `general.view.soundManager.enabledProperty` earlier. Using this property mutes the sim and also disables the button in the navbar. The sim cannot be un-muted from the navbar. It also doesn't seem to be affected by changes to `general.view.audioManager.audioEnabledProperty`. If audio is disabled, shouldn't sound be disabled?

[2021-09-20 15:28] zepumph commented on #745
Yes the Property value of soundManager.enabledProperty doesn't change, but sound being on or off does. This is because `soundManager.enabledProperty` is just one of the dependencies of if sound is playing. Note here how many stars have to align to get sound actually playing (see `const fullyEnabled . . .`)

https://github.com/phetsims/tambo/blob/98effa9c6a488ec3520c7884e61f493b7615d9fd/js/soundMan

[2021-09-20 15:46] zepumph commented on #747
@jessegreenberg, can you help with this, I know you have done a fair bit of this layout.

I tried this patch, and thought it would work because the layout is set from the right of the node (https://github.com/phetsims/joist/blob/33aab76edf4019b34a23ace105389ae787c251a3/js/NavigationBar.js#L341)

[code]

@jessegreenberg, what do you think?

[2021-09-20 15:47] zepumph commented on #744
- [ ] We should also instrument the Preferences button on the nav bar.

[2021-09-20 16:08] jessegreenberg commented on #747
I think re-calling this part of `NavigationBar.layout` is what would be needed for this.
https://github.com/phetsims/joist/blob/33aab76edf4019b34a23ace105389ae787c251a3/js/NavigationBar.js#L339-L342

`right` alignment is only for vertical LayoutBoxes and `resize: true` should be enabled by default, though using that is probably important so the A11yButtonsHBox does have the correct bounds when set

[2021-09-20 16:10] jessegreenberg commented on #746
OK sounds good, lets come back to this after #743.

OK sounds good.

[2021-09-20 16:16] jessegreenberg commented on #746
@arouinfar correct, it would only have the "General" tab. I hadn't thought of this case because the Preferences dialog is added as to sims as they get new features that would use it instead of across the board eagerly. But this didn't consider query parameters like this. If you would like to hide the button in cases like this we can do that. The only downside I can imagine is in development, I cou

[2021-09-20 16:51] arouinfar commented on #746
It sounds like it could be messy and less dev-friendly to completely hide the dialog if query parameters reduce its contents to essentially nothing (General tab with just the default blurb). It's possible that this scenario isn't actually realistic. I looked through the sims with a11y features and Waves Intro is the only sim that supports sound without also supporting alt input (though it has part

[2021-09-20 18:22] zepumph commented on #747
But the a11y buttons is an HBox, and thus, a LayoutBox, so I thought we would be getting this for free from `excludeInvisibleChildrenFromBounds`. This should call a relayout on the hbox each time any child's visibility is changed. I'll keep investigating

[2021-09-20 18:30] jessegreenberg commented on #747
That's true, but changing layout of HBox children won't automatically reposition the HBox itself. On master, if you toggle `general.view.navigationBar.audioToggleButton.visibleProperty` and then resize the A11yButtonsHbox.right is set correctly.

[2021-09-20 19:06] zepumph commented on #747
With this code in `NavigationBar.js` I was able to confirm that the HBox was re-laying out, but that it didn't respect the right dimension of it. Thanks for explaining.

[code]

I also didn't want to deal with calling the whole layout function, which would require dimensions and scale parameters. Instead I factored out just the re-layout code that I needed for this task.

What do you think @jesseg

[2021-09-20 19:09] zepumph commented on #745
Alright, updated above. Anything else for this issue?

[2021-09-20 21:09] arouinfar commented on #745
Thanks @zepumph. Looks good in Studio. Not sure if the code needs to be reviewed too, so back to you.

[2021-09-20 22:23] arouinfar commented on #744
@zepumph based on our discussion in the last PhET-iO meeting, I think `general.view.soundManager.enhancedSoundEnabledProperty` may need to be deprecated. The "Enhanced Sound" option has been rebranded as "Extra Sounds" in the preferences dialog. You can see it in context in John Travoltage:

![image](https://user-images.githubusercontent.com/8419308/134083716-fac005d7-ae37-43ed-a5ac-690eed66c956.p

[2021-09-20 22:28] arouinfar commented on #745
It looks like the changes will need to be cherry-picked for https://github.com/phetsims/greenhouse-effect/issues/91

[2021-09-21 17:05] zepumph commented on #745
Sounds great. To cherry pick, you just need https://github.com/phetsims/joist/commit/7f9fce34497d46ea70e59fce32698a952fb79c72 and https://github.com/phetsims/tambo/commit/099510590da295e3ac3a3522b4be7a8cd989b219

----------------------

https://github.com/phetsims/phet-io/commit/4fef32ee65251aea9ffeaa7a4aeda102a778741f is just updating API files

[2021-09-21 21:40] jessegreenberg commented on #745
It looks like I will need https://github.com/phetsims/joist/commit/1563c92d77d7490b5f96051f69489bb721a514aa before https://github.com/phetsims/joist/commit/7f9fce34497d46ea70e59fce32698a952fb79c72, will add that one first.

[2021-09-21 21:46] jessegreenberg commented on #745
Cherry picks done for https://github.com/phetsims/greenhouse-effect/issues/91, I think this can be closed based on the above comments.

[2021-09-21 21:46] #745 closed

[2021-09-23 15:42] zepumph opened #748 "PhetMenu shouldn't need to use `getNextFocusable()`"
While working on https://github.com/phetsims/phet-io/issues/1748 with @jessegreenberg, we realized that using document.activeElement most likely won't play nicely with PhET-iO. Furthermore, using PDOMUtils.getNextFocusable() in general for the PhetMenu and MenuItem seemed like a crutch, something that we don't really need to do.

@jessegreenberg if I misremember our conversation from last Friday,

[2021-09-23 17:03] jessegreenberg commented on #748
That is right, thanks. I don't know why `PDOMUtils.getNextFocusable` and `PDOMUtils.getPreviousFocusable` are being used here. Maybe this (untested) patch could work.

<details>

[code]

</details>

Or maybe it could be even better getting rid  of `firstItem` and `lastItem` since we are calculating the index anyway.

[2021-09-27 17:18] KatieWoe opened #749 "It's easy to accidentally change a UI control when you zoom/pan."
For https://github.com/phetsims/fourier-making-waves/issues/178. Seen on iPad, but would likely be on any touch screen.

When zooming in or out using pinch to zoom on a touch screen, if a finger is in the the area to adjust waves, that movement takes precedence over zooming. This can lead to unintended adjustments and, if the area is big enough, make returning to normal size difficult.

https://us

[2021-09-27 20:02] KatieWoe commented on #749
I'd like to note that I did sometimes have some trouble panning away as well.

[2021-10-01 14:57] arouinfar commented on #746
@jessegreenberg can you please recommend which commits @jbphet should cherry-pick into BASE?

[2021-10-01 15:02] jessegreenberg commented on #746
Yes, after reviewing I think both commits in this should be cherry-picked into a joist branch for BASE 1.5. That includes
https://github.com/phetsims/joist/commit/ed6c7a6db05da8d67e8f8527b567a3f662840a18 and https://github.com/phetsims/joist/commit/034eacb35950e6aafb1a46da4deaf4849798fc4c. Ill also mention this in https://github.com/phetsims/balloons-and-static-electricity/issues/543.

[2021-10-04 20:38] pixelzoom opened #750 "Focus behavior is inconsistent when switching between mouse and keyboard."
While working on Fourier, I reported that behavior when switching between mouse and keyboard seemed inconsistent and unpredicatable.  Sometimes pressing Tab after using the mouse takes you to the next component in the traversal order. Sometimes it takes you back to the beginning of the traversal order.

@jessegreenberg and I paired on this via Zoom. We discovered that ComboBox is responsible for t

[2021-10-05 16:03] jessegreenberg commented on #750
The source of inconsistency is mostly because of these lines:

[code]

combined with our decision to more liberally focus components without checking if an event came from the PDOM.

[2021-10-05 16:14] jessegreenberg commented on #750
The above code snippet clears focus if a Trail does not include the focused Node, but only does that if there is already focus in the simulation. I think it would be more consistent if we *always* moved focus to where the pointer is if the Trail includes a Node that is focusable.

[code]

But I want to think through how this may impact cases where we are already moving focus around with scripting,

[2021-10-05 17:14] jessegreenberg commented on #749
The behavior shown here makes sense to me from what is currently in master. Interaction with UI components always takes precedence over pan and zoom and I think that is a good rule of thumb. If the expectation and behavior were flipped from what is shown above so that one intended to control the sliders but instead the sim zoomed out it would also be confusing. And if pan/zoom took priority it wou

[2021-10-05 22:47] jessegreenberg opened #751 "Hide focus highlights and show Interactive Highlights if there is a certain amount of mouse/touch movement"
Interactive Highlights are a different set of highlights that activate when the mouse/touch Pointer are over an interactive component. We decided in https://github.com/phetsims/balloons-and-static-electricity/issues/523 to make it so that when focus highlights are visible in the sim that Interactive Highlights should never activate to prevent cases where Interactive Highlights and focus highlights

[2021-10-06 00:24] jessegreenberg commented on #750
The result of https://github.com/phetsims/joist/issues/750#issuecomment-934555159 is that focus would generally focus mouse interaction. Then, if you press "Tab", focus would move the *next* item in the traversal order. In https://github.com/phetsims/vegas/issues/96 @arouinfar mentioned that this was not expected when focus was moved automatically. In that case, focus moved into a dialog that was

[2021-10-06 00:36] arouinfar commented on #749
Thanks @jessegreenberg, let's close.

[2021-10-06 00:36] #749 closed

[2021-10-06 17:39] zepumph opened #752 ""Read me" buttons should never be interrupted by sim voicing alerts"
@terracoda reported that it is possible to have alerts from the sim interrupt read-me buttons. @jessegreenberg and I thought that we could use `priority` to accomplish this since it just needs to be done for voicing.

[2021-10-06 17:40] zepumph commented on #752
This should be done for friction.

[2021-10-06 18:44] jessegreenberg commented on #751
This was reviewed with the team today and people thought it felt natural.

[2021-10-06 18:59] jessegreenberg commented on #751
@zepumph would you mind reviewing HighlightVisibilityListener and the change to Sim.js? For Sim.js it was mostly just pulling code out of that class. For HighlightVisibilityListener I am most curious what you think of the structure. It is a listener that gets added to the Display that also adds listeners to the Display. Maybe that is confusing. For the `moveListener` that gets added/removed that s

[2021-10-06 19:27] pixelzoom commented on #750
https://github.com/phetsims/vegas/issues/96 is labeled as blocking, see https://github.com/phetsims/vegas/issues/96#issuecomment-936756648. Any issue reported during RC is blocking by default until these's an explicit decision that it's not blocking.

[2021-10-06 19:48] jessegreenberg commented on #750
Many sims with alternative input have been published with the behavior described here and in https://github.com/phetsims/vegas/issues/96 and I don't think we need to hold Fourier for it while we make improvements in this issue. I would verify that https://github.com/phetsims/vegas/issues/96#issuecomment-934994871 is blocking Fourier 1.0.

[2021-10-07 13:51] zepumph opened #753 "Factor out Display-related logic in Sim to `SimDisplay`"
I was poking around with this in my working copy, and I think it could be an awesome way to remove ~100 or more from Sim.js in a clear and obvious way. In my prototype, SimDisplay took on pretty much everything that solely had to do with the display. I originally thought about creating a "SimView" and moving things like the homeScreen and nav bar to it, but it was a bit more than I wanted to bite

[2021-10-07 15:17] samreid opened #754 "Can we delete queryParameters.recordInputEventLog and related?"
Can we delete this phet-io code?

https://github.com/phetsims/joist/blob/96116cf7524bbec6e24e073efb0175560e570aea/js/Sim.js#L536-L546

[2021-10-07 16:45] zepumph commented on #754
@samreid can you please review. I'm a bit worried I missed some tendrils out somewhere, could you spot check me?

[2021-10-07 17:15] zepumph opened #755 "Don't store options on Sim"
While working on https://github.com/phetsims/joist/issues/754, I noticed that the only place where the sim's options was used that I could see was in PhetMenu. Perhaps we can adjust this to just store createOptionsDialogContent on sim and anything else that is used by sims. I'm fuzzing all sims now with a nulled out `options` to check if there are other options to support this way.

[2021-10-07 18:37] zepumph commented on #755
I fuzzed every single sim, and it worked great! I felt good enough to commit. @samreid can you please reviewhttps://github.com/phetsims/joist/commit/695dd6c97928c4f7f0e407ad29385ea8765017f5?

[2021-10-08 14:50] #755 closed, assigned to zepumph

[2021-10-08 21:32] zepumph commented on #753
CT is looking clear! @samreid can you please take this for a spot check. In addition to reviewing the changes specifically, can you comment on this particular separation, and if you could see a different or additional refactor that could further modularize Sim.js. Thanks!

[2021-10-08 21:54] jessegreenberg commented on #750
We discussed this once before but decided not to work on it, just referencing that issue here: https://github.com/phetsims/scenery/issues/713. I reviewed comments in that thread and they are in line with https://github.com/phetsims/joist/issues/750#issuecomment-938228332.

[2021-10-08 22:46] #754 closed

[2021-10-09 18:00] #753 closed

[2021-10-12 19:43] KatieWoe opened #757 "Hiding whole screen does not carry over when sim is previewed"
**Device**
Dell (and others)
**OS**
Win 11 (and others)
**Browser**
Chrome
**Problem Description**
Found during https://github.com/phetsims/qa/issues/718. In studio, if you hide a whole screen, then preview the sim, the state does not save the hidden screen.

![allvisible](https://user-images.githubusercontent.com/41024075/137018745-e4c0f697-d2ea-4b52-9991-824961ece922.gif)

[2021-10-13 18:00] zepumph commented on #752
Let's discuss and potentially prototype this during out next meeting.

[2021-10-13 23:35] zepumph commented on #757
I don't think this should block publication btw. Many sims have been deployed with this behavior.

[2021-10-14 19:32] zepumph commented on #750
Potentially a subset of https://github.com/phetsims/scenery/issues/1298, depending on what designers think.

[2021-10-19 17:50] jbphet opened #758 "Enabling `supportsSound` doesn't cause the sound icon to appear on the nav bar"
In the past, using the query parameter `supportsSound=true` would turn on sound for a simulation that wasn't configured for it by default, and one of the effects of this would be to add the sound control icon to the nav bar.  Below are a couple of links that demonstrate this for the sim Energy Skate Park, a sim for which sound is not turned on by default:

- Without sound: https://phet-dev.colorad

[2021-10-19 17:52] jbphet commented on #758
Also, the icon doesn't get added when `supportsSound` is added to the `package.json` file.

[2021-10-19 17:58] zepumph commented on #758
I'll take a look.

[2021-10-19 22:50] jbphet commented on #734
I've removed support for the `sound` query parameter, since it has been supplanted by the `audio` one.  I also removed support for `audioVolume`, which was related and is described in https://github.com/phetsims/vibe/issues/33.  There are no related problems that I can see on the continuous test (CT) server, and no one has reported any problems as a result after about 24 hours, so I'm going to clo

[2021-10-21 19:24] zepumph commented on #758
Today during PhET-iO meeting, we decided that it would be best to just always create the button, and ignore the "*PartOfTheAPI" flag, and then only conditionally add it to the nav bar.

[2021-10-22 20:36] KatieWoe opened #759 "Firefox: Nav bar doesn't reach the bottom of the screen"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/721, but it seems like it is a more general issue, so feel free to move.
The nav bar does not reach the bottom of the screen. This leaves a band of color.

**Visuals**
<img width="806" alt="navdoesntreach" src="https://user-images.githubusercontent.com/41024075/138

[2021-10-26 22:33] #757 closed, assigned to zepumph

[2021-10-26 23:33] pixelzoom opened #760 "Omitting Options based on the ?screens query parameter."
Over in https://github.com/phetsims/geometric-optics/issues/254, we have setting in the Options dialog tha is specific to a screen.  In general, if the`?screens` query parameter is used to omit a screen, it would be nice to omit any options that are no longer relevant -- which may mean omitting the entire Options dialog.

Come up with a pattern for this. And ensure sure that omitting options (or t

[2021-10-28 20:23] zepumph opened #761 "PDOM Headings should be removed if there are no children in them"
From design meeting in https://github.com/phetsims/friction/issues/236 today, we noticed that if you hide the reset all button in friction, then there is nothing in the ControlArea, let's adapt ScreenView to listen to children and hide its PDOM nodes in these cases. Also adding this to https://github.com/phetsims/phet-io/issues/1611

[2021-10-28 20:30] zepumph opened #762 "PDOM should be dynamic to sim/screen name change"
I believe that this is the case because of the linking that occurs in https://github.com/phetsims/joist/blob/0f950e236b97bd9af12ecfc54f9b1116fc20c0ed/js/Screen.js#L269-L294, but it will be best to double check as part of https://github.com/phetsims/phet-io/issues/1611

This came out of today's design meeting in https://github.com/phetsims/friction/issues/236

[2021-10-29 17:16] jessegreenberg opened #763 "Instrument AboutDialog and UpdateDialog with Voicing"
The AboutDialog and UpdateDialog needs to be instrumented with Voicing. This likely means converting the Text used in the Dialog to VoicingText, which mixes ReadingBlock.

[2021-10-29 18:32] jessegreenberg commented on #763
This blocks publication of Friction and was caught in https://github.com/phetsims/friction/issues/269.

[2021-11-01 17:46] pixelzoom opened #764 "How to provide type information for translated strings?"
Type information for translated strings is not currently available in the *Strings.js file.

For example:

[code]

There are at least 3 variation of a workaround that have been implemented, all using a d.ts file.

(1)  @samreid @jonathanolson and I can up with this workaround, adding
geometric-optios/js/geometricOpticsStrings.d.ts:

[code]

(2) Gravity and Orbits has this for gravityAndOrbitsStrin

[2021-11-02 03:14] samreid commented on #758
For my understanding: It seems the problem in the issue description is that the client supplied `?supportsSound` without  toggling `soundPartOfTheAPI` to be true as well.  So since it thought sound wasn't part of the API, `?supportsSound` was a no-op.  It sounds like it simplifies things to just eliminate the "API" flags and assume they are always true.  I'll work toward removing the sound API fla

[2021-11-02 03:25] samreid commented on #758
I removed the `soundPartOfTheAPI` flag, always create the NavigationBarAudioToggle and conditionally add it.  Tested OK in energy skate park (a sim without sound) including with ?supportsSound=true and area-builder (a sim with sound) including with ?supportsSound=false.  Still, this would be good to be reviewed before we publish with it in case I'm missing something.  The only other term with `par

[2021-11-02 03:49] samreid commented on #759
I don't see this symptom on Mac/Chrome or Mac/Safari or Mac/Firefox.  Ideas to try when back to a windows computer:

* Is `height` fractional in this code?
[code]

* Would adding some extra pixels vertically cover up the problem?
* Should we apply clipping to the play area?

Also tagging @jonathanolson in case he can recommend something before I investigate.

[2021-11-02 15:36] samreid commented on #758
This introduced a number of API changes discovered on CT, self-assigning for investigation.

[2021-11-02 16:25] samreid commented on #758
OK I updated the API files, re-ready for review.

[2021-11-02 17:43] zepumph opened #765 "Remove accessibilityPartOfTheAPI"
Similar to https://github.com/phetsims/joist/issues/758, we shouldn't use this strategy anymore for PhET-iO instrumentation. Basically it came about during the time when we were asserting on startup eagerly that all items were present. We now are a bit less strict (in a good way).

[2021-11-02 18:52] zepumph commented on #765
Above is a commit that removes this, but it also creates a KeyboardHelpButton in every single sim. I feel like we could still conditionally create based on if the sim has keyboard help content to display. This will improve the assertion in the screenProperty listener also.

[2021-11-02 18:55] zepumph commented on #751
I was surprised that I didn't see this feature when interactive highlights is not enabled. Is that expected? I would have thought that when I press tab, then move my mouse, it would hide the focus highlight. Is this part of the feature set?

[2021-11-02 18:57] zepumph commented on #765
`sim.hasKeyboardHelpContent` is not something that will change based on runtime, so this feels best to me, and cleans up some fluff from the API files.

[2021-11-02 18:57] #765 closed

[2021-11-02 18:58] zepumph commented on #758
This looks great. I used this pattern over in https://github.com/phetsims/joist/issues/765 as well. I just closed it because it was basically the same, but feel free to spot check if you'd like. Anything else here?

[2021-11-02 19:54] samreid commented on #758
That seems good, thanks!  Closing.

[2021-11-02 19:54] #758 closed

[2021-11-02 20:05] jessegreenberg commented on #751
No, my understanding was that this should only happen when the "Interactive Highlights" feature is enabled. I don't think it is necessary to hide them on move unless we need to make space for the other set of highlights. But it would not be difficult to change if people feel differently.

[2021-11-02 22:38] #751 closed

[2021-11-10 15:19] jessegreenberg commented on #763
The Text for these dialogs have been instrumented with Voicing. I also mixed Voicing into RichTextLinks so that links support voicing, which was needed for the links in these Dialogs.

@zepumph would you mind reviewing this common code change?

[2021-11-10 17:42] zepumph commented on #763
Can you describe to me why it is better to have a different type VoicingRichText.js and VoicingText.js as apposed to adding this code directly into RichText/Text?

[2021-11-10 18:25] jessegreenberg commented on #763
I structured it this way because we often do not want Text and RichText to have voicing. I think it is more often a combination of Text + UI component or Text + icon that requires voicing or a ReadingBlock. In the rarer cases where we have big chunks of Text that stand alone we have VoicingText and VoicingRichText.

[2021-11-10 18:29] zepumph commented on #763
Sounds excellent. Thanks for taking care of this. All looks good to me.

[2021-11-10 18:33] jessegreenberg commented on #763
OK, thanks!

[2021-11-10 19:14] jessegreenberg commented on #752
We discussed this during voicing meeting today and decided that we really want interacting with a component after a Toolbar button is pressed to interrupt the "Read me" button content. Interrupting after interaction with a sim component will be very difficult to implement. So we discussed and agreed to try an alternative where clicking anywhere in the Display or changing focus will reduce the prio

[2021-11-12 19:23] zepumph commented on #748
This work pertains to https://github.com/phetsims/scenery/issues/1298.

[2021-11-12 23:13] zepumph opened #766 "What should readme buttons be on the home screen?"
I ran into this for RAP. @jessegreenberg, over to you in case this is not a new issue.

[2021-11-12 23:14] zepumph opened #767 "Abstract methods needed on ScreenView for voicing"
I think that we are past the point of obfuscated assertions like those in VoicingToolbarAlertManager.js. Can we instead just implement those methods directly on ScreenView that throw that assertion?

[2021-11-12 23:15] jessegreenberg commented on #766
I believe this is new and we haven't considered the content for these for multi-screen sims. We should check in with the design team.

[2021-11-12 23:19] zepumph commented on #766
Excellent. I will bring this up in next voicing design meeting.

Over to @terracoda for design

[2021-11-15 19:07] zepumph commented on #763
@jessegreenberg and I found 3 issues related to disposing a poolable Node that supports Voicing. Committed above. From this, @jessegreenberg was interested in taking one more look at this mixin-hierarchy in general to make sure that disposal/cleaning was complete and correct. Over to you.

Thanks @KatieWoe and @samreid for reporting.

[2021-11-17 15:39] jessegreenberg commented on #752
I worked on this for a little bit this morning and it seems pretty simple, but two challenges I am running into are 1) We need to make announcerOptions (and Priority in particular) mutable. Adding a listener to the Display doesn't seem to work because Display listeners are called at the very end of `Input.dispatchEvent`. At this time other Utterances from input have been added to the queue and the

[2021-11-17 17:54] jonathanolson opened #768 "Sim playback has issues when window.innerWidth/window.innerHeight is used"
Discovered this as the source of https://github.com/phetsims/molecule-shapes/issues/195.

We'll add a lint rule to prevent this, and fix up usages to instead use `Sim.dimensionProperty`.

[2021-11-17 18:12] pixelzoom opened #769 "Pan-and-Zoom feature is not working with PhET "Creator" pattern."
[Creator](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#creator-with-drag-forwarding) is a PhET design pattern used by toolboxes and buckets.  When something is dragged out of a toolbox or bucket, a new object is created, with a corresponding model and view.  As discovered in https://github.com/phetsims/equality-explorer/issues/179#issuecomment-971768652, i

[2021-11-17 18:21] pixelzoom commented on #769
From https://github.com/phetsims/equality-explorer/issues/179#issue-1055333825, this shows the buggy behavior:

![pandragobjects](https://user-images.githubusercontent.com/41024075/142065723-ed853357-e07f-434e-b89f-68c8cacf8688.gif)

[2021-11-17 18:51] jonathanolson commented on #768
@zepumph anything else to do here? All commits above.

[2021-11-17 19:01] zepumph commented on #768
All looks great above. The only thing left is to ping @jbphet about https://github.com/phetsims/states-of-matter/commit/d4564f0e0b923cc34ffa5a00da0e6639b402f746.

@jbphet, please note that that window.innerWidth/Height, are not supported by PhET-iO playback, so we created a Property in Sim.js that contains the values needed. We were able to reproduce the bugginess in the mirror-inputs wrapper in a

[2021-11-17 19:18] jbphet commented on #768
Thanks for the heads up.  No further questions your honor - closing.

[2021-11-17 19:18] #768 closed

[2021-11-18 04:16] samreid commented on #759
I tested this on Windows 11 ARM running on Mac Parallels, and could not reproduce the problem.

[2021-11-18 21:06] terracoda commented on #766
@jessegreenberg and @zepumph, I did think about it. Ideas for the three buttons on the Home Screen are laid out in the design doc for Ratio and Proportion.

The content is all the same as what you find in the PDOM, but split up a bit differently.

[2021-11-18 21:12] terracoda commented on #766
The Overview is the first part of the intro:
- Play Overview: "Welcome to Ratio and Proportion. It has 2 interactive screens that you can explore. "

The Details come from combining the Screen button hints:
- Play Details: "On Discover Screen, Explore and discover set challenge ratios. On Create Screen, Set your own challenge ratios to explore."

The Hint is the last sentence of the intro:
- Play

[2021-11-18 21:15] terracoda commented on #766
I think if we use the template we already use for the Home Screen, and then just break it up in a slightly different way for Voicing we will have the Read-Me buttons for the Home Screen done for all sims, once we have the screen button hints drafted :-)

[2021-11-18 21:39] terracoda commented on #766
Here's a visua
<img width="503" alt="home-screen-template-for-voicing" src="https://user-images.githubusercontent.com/1902116/142500989-de24573b-a71d-429e-881b-1575fbcb3c51.png">
l

[2021-11-18 21:40] zepumph commented on #766
Thanks, I'll implement

[2021-11-19 00:15] zepumph commented on #766
@terracoda please review.

The screen hints are capitalized in the middle of each details sentence, but I don't think we should try to fix that. It would be a large pain because we would need to duplicate each hint just for that one capitalization.

[2021-11-19 21:34] terracoda commented on #766
The read-me buttons on the Home Screen sound great to me. Closing.

[2021-11-19 21:34] #766 closed

[2021-11-21 19:43] samreid commented on #759
I determined that the navigation bar height was non-integer, and it seemed to help a little bit to `Math.ceil` it.  However, the play area still showed through beneath the navigation bar at some resolutions.  I tried shifting the navigation bar down by 1px (in addition to the Math.ceil) and could not see any problems.  I don't feel great about this solution because I thought it would disturb the l

[2021-11-25 00:24] jessegreenberg commented on #752
I was able to hack this together for demonstration purposes today, and in the Voicing meeting it was agreed that https://github.com/phetsims/joist/issues/752#issuecomment-965659332 was acceptable behavior.

Regarding https://github.com/phetsims/joist/issues/752#issuecomment-971700658 It seems like the only way to add an event listener that will be guaranteed to be called before listeners on Node t

[2021-12-02 00:02] zepumph commented on #737
Added rate and pitch above to greatly increase my productivity while testing. It adds to the list that would be refactored into a PreferencesModel, but not too horribly I think.

[2021-12-02 00:18] jessegreenberg opened #770 "Improve clickToDismissListener behavior with PanZoomListener"
From https://github.com/phetsims/circuit-construction-kit-common/issues/789 - clickToDismiss listener has problems with PanZoomListener.

[2021-12-03 20:22] KatieWoe commented on #769
Noting in https://github.com/phetsims/qa/issues/748

[2021-12-06 23:42] jessegreenberg commented on #770
In https://github.com/phetsims/joist/commit/a096c520cbcca91ae8abebdefe14c35361c9290f I added a new listener to be used for click to dismiss.

An example usage is in CCK in https://github.com/phetsims/circuit-construction-kit-common/commit/c71117ff7bd2d2d68f104910ee5a903fb1e8170f.

I also tested it out in build-a-molecule, ComboBox, CarouselComboBox, and energy-skate-park like this:

<details>
[cod

[2021-12-07 00:08] jessegreenberg commented on #767
OK sounds good - What do you think of https://github.com/phetsims/joist/commit/2183bef208f23b867566b01b9681e7571a4c9cfe?

[2021-12-07 00:26] jessegreenberg commented on #770
In some local fuzzing I saw
[code]
because DisplayClickToDismissListener did not implement `interrupt` on the Pointer listener. This was fixed in the above commit.

[2021-12-07 15:14] samreid commented on #770
I saw this in the latest CT column:

[code]

[2021-12-07 16:50] jessegreenberg commented on #770
Thanks! I was able to see that locally with `brand=phet&ea&debugger&fuzz&fuzzPointers=2&screens=1&supportsPanAndZoom=false` - The DisplayClickToDismissListener was not getting disposed in the sim, causing this issue. After the above commit I am not seeing this error.

[2021-12-07 17:05] zepumph commented on #767
Sounds excellent!

[2021-12-07 17:05] #767 closed

[2021-12-10 19:24] jessegreenberg commented on #752
@zepumph and I discussed today - We want to try making priority a feature of Utterances instead of the voicingManager Announcer. That will potentially resolve this TODO in the patch

We also thought about making the priority be a Property of the Utterances so that it could be more easily set. It wasn't clear yet how to support that in the implementation, but it seemed like the first step mentioned

[2021-12-13 20:59] jessegreenberg commented on #752
@zepumph found a bug with the toolbar items that should be fixed by this patch https://github.com/phetsims/joist/issues/752#issuecomment-978549593 - the call to `voicingManager.cancel()` in `VoicingToolbarItem.playContent()` needs to be replaced with `voicingManager.cancelUtterance( utterance )`, so that Utterances that are in the queue will still be heard in this case.

[2021-12-17 22:05] jessegreenberg commented on #752
The above commits move priority into Utterance/UtteranceQueue and out of voicingManager. @zepumph and I spent a long time today working on the second part in https://github.com/phetsims/joist/issues/752#issuecomment-991235112, making Priority observable on Utterance and we made really good progress:

<details>

[code]
</details>

The crux of the changes involved:
- Add `priorityProperty` to Uttera

[2021-12-17 22:45] zepumph opened #771 "Incorrect import for joistVoicingUtteranceQueue"
While working on https://github.com/phetsims/chipper/issues/1177.

In PreferencesManager I currently see

https://github.com/phetsims/joist/blob/b669e5be69887af0fc2f46f3aa40cb32fc88568c/js/preferences/PreferencesManager.js#L11

This seems like a bug. I'm going to fix and then see if @jessegreenberg agrees.

[2021-12-17 22:50] zepumph commented on #771
Hows that?

[2022-01-04 19:38] pixelzoom commented on #769
This will likely be a problem for geometric-optics, where we drag rulers out of a toolbox.

[2022-01-07 16:38] jessegreenberg commented on #771
Yes, thank you for fixing!

[2022-01-07 16:38] #771 closed

[2022-01-07 17:01] jessegreenberg commented on #763
I went through Voicing, InteractiveHighlighting, and ReadingBlock looking for cases like we saw in https://github.com/phetsims/scenery/commit/affb5d0adde4fa34cb51cff62f06e1bb88eff0cd that may be problematic if disposed because or used with Poolable. I didn't notice anything wrong and we haven't seen an issue like this on CT since November. I think this can be closed again.

[2022-01-07 17:01] #763 closed

[2022-01-07 18:13] jessegreenberg commented on #752
I reapplied this patch and added some missing documentation and cleanup. I re-tested the cases listed in the above comment and they are working. Unit tested identified a problem with `announceImmediately`, if used with an Utterance that was already in the queue it would try to remove it. I updated the patch to fix this.

Local fuzzing hit

Ill investigate.

[2022-01-08 00:22] jessegreenberg commented on #752
@zepumph and I identified that this is happening because we never get the `announcementCompleteEmitter` from the Announcer when the Utterance is empty. This error was also happening in a case where Voicing was not enabled and we found that strange. We disabled the voicingUtteranceQueue by default so that we don't step through empty content in the queue when Voicing is disabled.

We found more work

[2022-01-11 17:48] zepumph commented on #752
I updated the tests a bit, next I'm going to try to divide this issue out into some side issues, because it is quite large.

[2022-01-11 18:42] zepumph commented on #752
I made side issues and transferred TODOs pointing to this issue to the side issues when appropriate. There are still some TODOs pointing here, and I feel like we are kinda blocked on proceeding with this issue until we investigate https://github.com/phetsims/utterance-queue/issues/40. Over to @jessegreenberg to review the organization that has been done here.

[2022-01-12 22:51] jessegreenberg commented on #678
This was discussed during planning meeting on 1/12/21.

We pulled this into the project board to be worked on and discussed. Issues exist for the remaining issues here and they will be managed by the "responsible developer" as the processed is described in https://github.com/phetsims/joist/issues/678#issuecomment-780080281. As mentioned in https://github.com/phetsims/joist/issues/678#issuecomment-

[2022-01-12 22:51] #678 closed

[2022-01-12 23:17] jessegreenberg commented on #696
This came up during quarterly planning meeting for Q1 2022 - The plan for this quarter will be to reach out to the global team and ask the team if users encounter this problem.

[2022-01-13 22:36] jessegreenberg commented on #752
Organization looks good, thanks. So remaining tasks for this issue are to address the 3 remaining TODOs pointing to this issue and then come back to the original issue that started this work, using `priorityProperty` to prevent "Read Me" button content from getting interrupted.

[2022-01-18 17:21] zepumph commented on #752
I think that I'm getting a bug related to this issue. The assertion is:

`Assertion failed: utterance to be removed not found in queue`

To reproduce:

1. Launch: `http://localhost:8080/ratio-and-proportion/ratio-and-proportion_en.html?brand=phet&ea&debugger&voicingInitiallyEnabled&preferencesStorage` and go to the preferences and check all voicing checkboxes to get full voicing responses.
2. Laun

[2022-01-18 19:36] jessegreenberg commented on #752
Thanks for reporting! I identified the issue and will open a new one for it.

[2022-01-25 19:52] zepumph commented on #744
In https://github.com/phetsims/joist/issues/743#issuecomment-921996720 we decided that this issue is blocked by that one. Marking accordingly.

[2022-01-26 21:05] jessegreenberg opened #772 "Do we need to change anything about i18n of Preferences strings?"
Displayed strings in the preferences dialog are currently translatable. The dialog is still rarely used but the dialog and its content are always imported so the translation utility presents all related strings.

@oliver-phet reported that a translator found preferences strings while translating density, but the Preferences dialog is not used in that sim so the translator wasn't able to see the st

[2022-01-27 19:31] chrisklus commented on #772
From 1/27/22 dev meeting:

@samreid: are we worried about bad translations? Could we make this testable in rosetta so they are more accurate?
@jbphet: that could be confusing if they see it for translations but then it doesn't exist in the real sim.

@zepumph: could an easy fix be just to put a warning message that those strings are for a specific thing that likely won't be in the sim? It feels li

[2022-02-01 15:22] Nancy-Salpepi commented on #769
When testing https://github.com/phetsims/qa/issues/771, I noticed that pan-and-zoom works when moving an object around the play area. However, if I were to remove an object from a grouping, it will not pan until I release it and grab it again.

![panningNP](https://user-images.githubusercontent.com/87318828/151995647-a95c2dc2-2edb-4d67-bfbd-e43fc6ed1294.gif)

[2022-02-03 18:29] samreid commented on #770
@jonathanolson was involved with developing the prior pattern, maybe it would be good to get his review of the proposed pattern?

[2022-02-07 18:00] KatieWoe opened #773 "Phet-dev sims aren't getting an update check"
Found during https://github.com/phetsims/qa/issues/772.
When the sim was opened in an incognito window, the bellow errors appeared. This seemed to be a new error from what I saw. It did not seem to happen when a sim was downloaded and then played in an incognito window.
<img width="343" alt="debugerror" src="https://user-images.githubusercontent.com/41024075/152844275-5d52dae0-25d6-46d2-8a46-a2213

[2022-02-07 19:26] zepumph opened #774 "Home screen voicing readme buttons"
Over in Ratio and Proportion we are adding voicing (https://github.com/phetsims/ratio-and-proportion/issues/363), and part of that are updates to the readme buttons. Let's handle the home screen here.

[2022-02-07 19:29] zepumph commented on #774
Oops, duplicate of https://github.com/phetsims/joist/issues/766

[2022-02-07 19:29] #774 closed

[2022-02-07 22:18] zepumph opened #775 "Review Voicing implementation for HomeScreen and NavBar"
I would like to go through the design doc for Ratio and Proportion and make sure joist is still up to date.

[2022-02-10 17:46] jessegreenberg commented on #769
The overall approach to panning while dragging an object is pretty poor. I am going to reconsider it here first https://github.com/phetsims/scenery/issues/1356 before trying to get what we currently have with the "Creator" pattern.

[2022-02-10 19:05] jessegreenberg commented on #770
@jonathanolson would you be able to review DisplayClickToDismissListener and its usage in circuit-construction-kit? See https://github.com/phetsims/circuit-construction-kit-common/issues/789 for an example of the problem this solves. I am proposing this is the new pattern for a "dismiss" listener. This listener factors out pointer interruption.

Feel free to pass back if you don't have time and Il

[2022-02-12 05:29] samreid opened #776 "Convert sim-facing code to TypeScript"
Such as Screen, ScreenView.  This came up during https://github.com/phetsims/center-and-spread/issues/6

[2022-02-12 17:48] samreid commented on #776
Screen.js was converted to TypeScript.  For this change, it was also made to be a parametric type.  I updated existing TypeScript screens.

[2022-02-12 18:10] samreid opened #777 "it seems like `Screen.descriptionContent` is unused"
Discovered in https://github.com/phetsims/joist/issues/776, it seems like `Screen.descriptionContent` is unused.  Can you please advise?

[2022-02-12 19:27] samreid opened #778 "Can "abstract" methods like `getVoicingOverviewContent` be converted to constructor options?"
During #776 I saw this code in ScreenView:

[code]

When converting this to TypeScript, these methods cannot be `abstract` because it would mean `ScreenView` could not be instantiated directly--concrete subclasses would have to implement those methods.  Would it be better to move those values to constructor options?

[2022-02-12 19:32] samreid commented on #776
I also converted ScreenView to TypeScript.

[2022-02-13 21:43] samreid commented on #776
I converted Screen and ScreenView to TypeScript.  A code review would be appropriate.  @pixelzoom or @jbphet do you have time?

[2022-02-15 14:23] jessegreenberg commented on #772
This was discussed on slack, pasting the thread here:

<details>

A few questions:
Is there one sim that does have all of the preference menu strings in action? e.g. is JT a place where the translators could see the strings present and be able to translate them?
How do other "common strings" work now? When you translate a sim do you only see the common strings that appear in that sim, or do you se

[2022-02-16 02:32] pixelzoom commented on #776
Screen.ts and ScreenView.ts look good.  I removed one unnecessary `assert` in the above commit.

I'm not convinced that the options API needs to be this wide for ScreenView:

[code]

... but I guess it's a reasonable starting point.

[2022-02-16 02:44] pixelzoom commented on #776
@samreid I see that you parameterized SimulaRasaScreen and SimulaRasaScreenView, but did not convert `providedOptions` types, or change `merge` to `optionize`.   I'm still trying to wrap my head around the (complicated) `optionize` syntax.   Should the `providedOptions` and `optionize` look like this?

[code]

[2022-02-16 19:59] jessegreenberg commented on #772
The strings to remove are:
"preferences.tabs.general.simulationSpecificSettings"
"preferences.tabs.input.title"
"preferences.tabs.input.gestureControls.title"
"preferences.tabs.input.gestureControls.description"

[2022-02-16 20:02] zepumph commented on #772
So can we just remove based on the prefix: `preferences.`?

[2022-02-16 20:04] jessegreenberg commented on #772
Not `preferences.`, but `preferences.tabs.input.`. Also the `preferences.tabs.general.simulationSpecificSettings`.

[2022-02-16 20:11] zepumph commented on #772
I see, thanks for catching me up!

[2022-02-16 20:13] jessegreenberg commented on #772
I copied the values of these string keys to their usages so simulation code is no longer referencing these keys. That means sims deployed starting now should not have these string show up in the translation interface and they should be ready to remove from joist-strings_en.json.

[2022-02-16 20:18] jessegreenberg commented on #772
I connected with @jbphet and @liam-mulhall about removing these strings from joist-strings_en.json and they said to assign the issue to them. Thanks!

[2022-02-16 23:00] samreid commented on #777
Thanks!  Perhaps I was only searching in a subset of files.  Closing.

[2022-02-16 23:00] #777 closed

[2022-02-18 20:17] jessegreenberg opened #779 "Remove the supportsSpeechSynthesis query parameter"
It is used in audioManager, and was added for prototype SpeechSynthesis in number-play. But it can now be removed.

[2022-02-18 20:44] zepumph opened #780 "Ability to have voicing without adding a PreferencesConfiguration"
I ran into this over in https://github.com/phetsims/molarity/issues/243. After speaking with @jessegreenberg, it seems like an easy refactor can be done from PreferencesManager -> AudioManager to get this working. I'll commit shortly.

This does pretty much strip all the functionality from PreferencesManager, but it will be beefed back up over in #743.

[2022-02-18 20:48] zepumph commented on #780
Pardon the bad commit message name.

[2022-02-22 23:54] zepumph opened #781 "Splashscreen is covered up by sim if updateDisplay() is called"
I discovered this while working on https://github.com/phetsims/phet-io-wrappers/issues/430 (part of https://github.com/phetsims/phet-io/issues/1835). Basically calling `setState` from a wrapper before the splashScreen had been disposed would show the sim even though the main animation loop wasn't working.

@samreid and I tracked the issue down to Display.updateSize(), because while the splashScree

[2022-02-23 00:00] zepumph commented on #781
Ok, updates to the splashscreen committed above. @chrisklus can you please review this. I don't feel too confident about my css skills. Perhaps you can help me simplify this.

[2022-02-23 00:01] zepumph commented on #781
This will need pretty extensive testing by QA to make sure it works well on all devices.

[2022-02-23 00:03] zepumph commented on #781
@samreid mentioned that perhaps percentage may be different than view coordinates, and we should see about which is better, see https://stackoverflow.com/questions/18588835/allow-a-div-to-cover-the-whole-page-instead-of-the-area-within-the-container

[2022-02-23 00:58] chrisklus commented on #781
The extra properties for transform origin look redundant now that we don't support IE, see https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin

Not tested, but I would expect that you could omit:

[code]

and get the same results with:

[code]

(using the same syntax as the rest of the styling)

Also not clear to me why that's needed at all, have you tested without it?

Since it's po

[2022-02-23 19:54] zepumph commented on #781
Alrighty thanks for the review, I'll take a look.

[2022-02-23 21:39] jessegreenberg commented on #780
Commit looks like what we discussed, thanks!

[2022-02-23 21:39] #780 closed

[2022-02-23 21:44] jessegreenberg commented on #779
It has been removed, there were no usages of it in package.json in any sim.

[2022-02-23 21:44] #779 closed

[2022-02-24 22:14] zepumph opened #782 "Assertion failed: reentry detected, value=false, oldValue=true"
To reproduce, go to Ratio and Proportion, turn on voicing, and then click any readme button many times quickly.

@jessegreenberg, I'm unsure if reentrancy is acceptable, or if we need to guard here. Over to you.

[code]

[2022-02-24 22:32] zepumph commented on #781
I tried out this patch, and it looked a bit off on edge, so I just gave up. I'll head over to QA to make an issue to test this now.

[code]

[2022-02-24 22:46] zepumph commented on #781
I created https://github.com/phetsims/qa/issues/778 for testing.

[2022-02-25 16:48] pixelzoom commented on #776
`Sim` might be nice to convert next.  I found myself having to do this in Geometric Optics, and I suspect others are having to work around this too.

[code]

[2022-02-28 17:24] zepumph opened #783 "Create and IModel interface"
This will have a `step` function. For improving upon type safety and documentation. It also allows for a space to expand the API in the future.

https://github.com/phetsims/ratio-and-proportion/issues/405

[2022-02-28 17:24] zepumph commented on #783
Maybe this get's a reset function too?

[2022-02-28 17:29] Nancy-Salpepi opened #784 "Brief flash occurs when html from Studio wrapper is opened on Mac"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
Safari 15.3

**Problem description**
I first reported this issue back in December, but it was seen again when testing https://github.com/phetsims/qa/issues/778 and I was asked to open this issue (see https://github.com/phetsims/qa/issues/778#issuecomment-1054442711).

When opening an html that was generated from the St

[2022-02-28 18:52] zepumph commented on #784
@Nancy-Salpepi, can you reproduce outside of studio in any form?

[2022-02-28 19:27] Nancy-Salpepi commented on #784
I can also produce this problem when I copy the code under the list of wrappers in the wrapper index, save it as an html and open.

It doesn't happen when I open any of the wrappers, the sim, the phet-iO version of the sim, or the iframe.

[2022-02-28 19:52] KatieWoe opened #785 "Potential difficulties with splash screen rotation on iPad"
For https://github.com/phetsims/qa/issues/778. Seen on iPadOS 14 Safari.

When rotating the iPad while loading a sim (https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.7/phet-io/ratio-and-proportion_all_phet-io.html?postMessageOnError&phetioStandalone was recorded and seemed worse then PhET brand during brief testing) the loading bar may be in the wrong location. This isn't necessa

[2022-02-28 19:58] zepumph commented on #784
Ok gotcha. This seems to be an issue with PhET-iO wrappers then, I thought it was more general (hence the issue in joist). I'll move to PhET-iO wrappers.

[2022-02-28 21:14] zepumph opened #786 "ScreenView should declare a step() no-op"
This is much more clear when using it in sim:

https://github.com/phetsims/joist/blob/22ce0a56ebac73137579d1a7f6c190946c7db639/js/Sim.js#L318-L322

[2022-03-01 19:23] zepumph commented on #743
I'm working on this now.

Notes as I go:
* In VoicingPanelSection, it is a bit funny to factor the Properties from voicingManager-> audioModel, but we still have usages of voicingManager. . . . Too weird?

[2022-03-01 19:32] zepumph commented on #743
I still need to search for all usages of preferencesConfiguration, but here is a patch that is pretty close.

<details>

[code]

[2022-03-01 23:04] zepumph commented on #743
I felt good enough to get to a commit point today. I think it is still only half baked, especially once we get to typescript, perhaps I will want to formalize the "*Model" objects with private classes or something.

[2022-03-02 16:11] pixelzoom opened #787 "CT: iO API failures related to general.view.navigationBar.visibleProperty"
[Chris Malley](https://app.slack.com/team/U6EMFARV2)  [9:07 AM](https://phetsims.slack.com/archives/C6GBDLMB7/p1646237274395599)
graphing-quadratics is failing CT with an iO API change. Did someone change the API for general.view.navigationBar.visibleProperty ? Was the change intentional or a regression? (edited)

[Michael Kauzmann](https://app.slack.com/team/U6DFWDG1Z):spiral_calendar_pad:  [9:09

[2022-03-02 16:12] pixelzoom commented on #787
Looks like this failure is occurring in all iO sims.

[2022-03-02 16:15] zepumph commented on #787
I implicated myself because I was worried about the changes I made yesterday around this time over in https://github.com/phetsims/joist/issues/743. I brief look seems like that is not the issue. I'll keep poking around.

[2022-03-02 16:19] zepumph commented on #787
Aha! Looks like it was me, but in a tricky sort of way. Fixed above.

[2022-03-02 16:20] zepumph commented on #787
No changes to reference API after running `grunt generate-phet-io-api --stable`. Closing

[2022-03-02 16:28] pixelzoom commented on #787
Looking at the doc that was added to A11yButtonsHBox.js, I don't know what it means to "instrument a tandem".  So I modified the doc in the above commit.  @zepumph feel free to review.

[2022-03-02 19:10] zepumph commented on #737
Added interactiveHighlights property above.

I have made some progress in https://github.com/phetsims/joist/issues/743, it would be good to touch base with @jessegreenberg in this issue to see if he ever uses `?preferencesStorage`, and what he would like to see improved on it.

[2022-03-02 22:19] zepumph opened #788 "Preferences nav bar button is invisible (but clickable) on HomeScreen"
I think that Ratio and Proportion is the first multi-screen Voicing/Preferences sim, so it would make sense that there is some weirdness. I think it is because the icon is black.

Here is a nice example with Interactive Highlights on and the mouse over the icon:

![image](https://user-images.githubusercontent.com/6856943/156459346-fde7eb32-d6c6-4b2d-9f5f-b4df71c938a5.png)

[2022-03-04 00:40] zepumph commented on #785
Thanks for the report. Even in that video it took me 5 or so runs to see what you were talking about with "be[ing] in the wrong location."

@arouinfar, do you think this is an issue to solve? The bug is (if I understand correctly) that in the video, after rotating, the splash screen is more to the left until hidden.

[2022-03-04 00:42] zepumph commented on #781
Testing came back with only one potential bug. I asked a designer to determine if it is blocking, we will pick things up over there (https://github.com/phetsims/joist/issues/785). Closing

[2022-03-04 00:42] #781 closed

[2022-03-04 16:21] samreid commented on #781
I added a div suffix to the divs.  Probably doesn't warrant call-out for review, but just tagging @zepumph so he is aware.

[2022-03-04 16:50] terracoda opened #789 "Navbar and High contrast modes"
I got an question via PhET Help about a student using high contrast, so I tried a Chrome extension out to see what our sims look like when inverted. Things looked pretty good in general, though, of course buttons in the black navbar are hard to see.

I thought I would open this issue so it is on the radar for the team. I wonder if we can find a design process that makes the buttons on the navabr b

[2022-03-04 16:53] terracoda commented on #789
Tagging @arouinfar and @amanda-phet for general thoughts, this issue might already be on your radar. If so, apologies for the duplicate issue.

[2022-03-04 18:09] zepumph commented on #762
@terracoda and I just saw that changing the simNameProperty in `friction.general.model.simNameProperty`

didn't change the H1 (`Friction`)

[2022-03-08 06:41] pixelzoom opened #790 "CT: Assertion failed: phetioID already registered"
Many sims complaining in CT intermittently about `navigationBar.phetButton.phetMenu.aboutDialogCapsule`, example below.

Maybe related to https://github.com/phetsims/joist/commit/5b66d5c177a8059a910981aa1ddc1107dca61990?

[code]

[2022-03-08 15:32] zepumph commented on #790
Thanks. I forgot to dispose the Emitter in https://github.com/phetsims/phet-io/issues/1543.

[2022-03-08 15:34] #790 closed

[2022-03-08 21:12] zepumph commented on #791
How does this look @jessegreenberg? I also factored out some code into getSelectedContent for use in both down and up cases.

[2022-03-09 08:32] jonathanolson opened #792 "Helper tooling (picker/coordinates/inspector/etc.)"
Adding a viewable in-sim overlay for helpful designer/developer tools

[2022-03-09 16:28] amanda-phet commented on #789
I'm not sure how this extension is doing the contrast. Why would black be inverted? We try really hard to have contrast in the sims as much as possible, and the blue color in CCK already has an extremely high contrast with black, so I don't understand why a high contrast mode would make this worse.

<img width="769" alt="image" src="https://user-images.githubusercontent.com/7852916/157484961-5f444

[2022-03-09 18:10] terracoda commented on #789
I totally agree with your comment @amanda-phet:

I think for this student bright colors may be difficult to see, so they use the inversion feature on Chrome to invert everything. I imagine (have no evidence) that if something is already inverted (like the navbar) they would be able to see it just fine, but they may have trouble with the blue part of the Sim's Play Area (again, this is just conject

[2022-03-09 18:25] zepumph commented on #762
Ok, after this change, Here is what the PDOM looks like when I change the `ratioAndProportion.general.model.simNameProperty` to "Other Sim Name" and the `ratioAndProportion.discoverScreen.nameProperty` to "Oh Hello". This is running with `screens=1` so there isn't a home screen.:

![image](https://user-images.githubusercontent.com/6856943/157475034-50aaadf9-e940-4ae3-8168-2483ff9ca2bc.png)

[2022-03-09 18:29] zepumph commented on #762
I also ran into a bit of a rabbit hole because of some bad practices we were doing for the screen button icon in https://github.com/phetsims/ratio-and-proportion/issues/444.

Now all sim/screen related name changes via instrumented PhET-iO properties should be updating in the PDOM as well. I tested in:
* Multiscreen sim on home screen and individual screens (sim and screen names)
* Single screen s

[2022-03-09 19:23] amanda-phet commented on #789
I see, I didn't realize we were talking about color inversion. That makes more sense why the colors changed the way they id.

I don't know much about using color inversion and how it supports someone's visual experience. If someone regularly uses this they probably know the drawbacks of using color inversion. If it's something that is widely used, we'd need to learn more about it if we want to cha

[2022-03-09 19:34] terracoda commented on #789
Hmm, I wonder if a setting in Preferences that just provided an inverted the navbar would be useful.

I agree we need to know more about color inversion in general.

[2022-03-09 19:55] terracoda commented on #789
I have reached out the teacher who contacted us to see if they have any more details about the sims that were causing issues and any more details about what exactly were the problems.

[2022-03-10 15:50] terracoda commented on #789
Oh, I took the screen shots with color inversion on, but that didn't stick - that's funny.
Here's screen shots with the google chrome plugin
![image](https://user-images.githubusercontent.com/1902116/157699564-82570e83-f7ae-45ff-b97c-0d8af63d1cfb.png)

![image](https://user-images.githubusercontent.com/1902116/157699470-69697695-7496-41bb-8464-476a2a610117.png)

With the plugin, the navbar present

[2022-03-10 20:36] zepumph commented on #744
During PhET-iO meeting today, we decided that preferences Properties would not be stateful. If in the future clients desire this feature, then we can discuss making it possible.

We also decided that it is acceptable and helpful to have data stream capabilities, so that a researcher could look at learners that use voicing or not (for example). This feels helpful to the goals of PhET-iO.

- [ ] In

[2022-03-11 00:51] zepumph commented on #761
To tackle this, it would be really nice to have it factored out. Basically I want to toggle this in PDOMSectionNode.

My best idea so far is to set labelTagName to null if the PDOMSectionNode has no accessibleChildren.

@jonathanolson, at this time is there a way to know if a Node has any PDOM children (so children + pdomOrder-following) as descendents? Is that the kind of thing that we could add?

[2022-03-11 14:30] jessegreenberg commented on #761
Would it work to check if any of its PDOMInstances have children?

[2022-03-11 18:36] zepumph commented on #761
I kinda went tearing through Scenery adding all the emitters I wanted to to try to get this to work, and I couldn't get it just right. Basically, to get this patch to work, instead of monitoring my PDOMInstance visibility, I have to monitor each and every child PDOMInstance, since toggling visibility doesn't remove the PDOMInstance as a child.

<details>

[code]
</details>

I'm most likely giving

[2022-03-11 19:53] zepumph commented on #743
- [ ] For voicingUtteranceQueue usages in VoicingPanelSection, @jessegreenberg and I wonder if we even need voicingUtteranceQueue as a global, can't they speak through a Node in the section? Yes actually we should move each of these to just voice from the UI component where they are controlled.

MK: What an arbitrary separation of having Properties in the model and still using the voicingManager g

[2022-03-11 20:53] zepumph commented on #761
* I had been thinking about this just from the context of PDOMSectionNode since that is what the ScreenView nodes for general h2 organization are made from. @jessegreenberg mentioned that it may also be important to have a way to do this for `h3` nodes that are more ad-hoc added to sim-specific content. For example, the "Tick Mark Options" header currently as no notion of the radio buttons right b

[2022-03-12 23:47] jessegreenberg commented on #782
Found the way to consistently produce this. Press a button twice quickly so that you play/stop before the synth begins to speak.

When you press the stop button this way there is no utterance to cancel yet so pressing it does nothing. Then the synth begins to speak from the "play" press a little later. Then the next time you press the button play again we hit this assertion because we are trying t

[2022-03-13 03:12] jessegreenberg commented on #782
I misdiagnosed, this is not caused by https://github.com/phetsims/utterance-queue/issues/66 but by https://github.com/phetsims/utterance-queue/issues/68 and has been fixed via that issue. UtteranceQueue.cancelUtterance did not remove the Utterance from the queue so pressing the "stop" button effectively did nothing if you pressed it before the Utterance made it to the Announcer.

@zepumph assignin

[2022-03-13 23:23] jessegreenberg commented on #788
Was incorrectly using `lookAndFeel.navigationBarTextFillProperty` so the button was invisible like the sim title in the nav bar on the home screen. Now fill is set based on the background color like other nav bar buttons.

@zepumph this has been fixed, can you please confirm?

[2022-03-14 16:34] jessegreenberg opened #793 "Remove vibrationManager from Sim"
There are no plans in the next year or more to use Web based vibration. The only usage is in john-travoltage. We should remove it from both john-travoltage and Sim.js at this time. This came up as Sim.js is being converted to TypeScript. VibrationManager was only optionally included so that tappi didn't need to be a dependency for all sims, but strong typing would change that.

[2022-03-14 16:34] jessegreenberg commented on #793
On hold until Sim TypeScript conversion is complete and changes can be made to Sim.ts.

[2022-03-14 16:36] pixelzoom opened #794 "Remove vibrationManager from Sim."
While porting Sim.js to Sim.ts, I ran into this field:

[code]

After converting to .ts, "tappi doesn't have to become a dependency for all sims yet" is not longer true. A the very least, tappi would need to be added to joist/tsconfig.json.  It might also need to be added to build.json.

I asked @jessegreenberg about this on Slack, and he said:

So vibrationManager is going to be removed from Sim.

[2022-03-14 16:38] pixelzoom commented on #794
In duplicate https://github.com/phetsims/joist/issues/793, @jessegreenberg said:

[2022-03-14 16:38] pixelzoom commented on #793
Duplicate of https://github.com/phetsims/joist/issues/794.

[2022-03-14 16:38] #793 closed

[2022-03-14 16:40] pixelzoom opened #795 "Port Sim.js to TypeScript"
I started on this, and ran into a whole bunch of places to add TODOs... Missing doc, use-before-definiton, etc.   TODOs require an associated GitHub issue, so this is it.

[2022-03-14 17:08] zepumph commented on #782
Seems fixed to me! Thanks

[2022-03-14 18:41] pixelzoom commented on #794
I bailed on Sim.js conversion to .ts in #795, so Sim is still in JavaScript for the time being.

@jessegreenberg over to you. You might want to remove vibrationManager from Sim.js before someone else spends time porting those bits.

[2022-03-14 18:50] zepumph commented on #795
Thanks for taking a first pass! Sounds, horrible.

[2022-03-15 01:10] zepumph commented on #792
This is truly one of the nicest tools I have ever used. I have really nothing to recommend. It beats the heck out of inspecting the PDOM copy. I will lend more thoughts as I use it more, but great work!

One thought about usability, In general it is best to have to click on something to select it, but what about a mode, like if you hold down the ctrl key, where it will select items on hover. This

[2022-03-15 20:50] zepumph opened #796 "Toolbar should initialize off screen"
PhET-iO playback helped catch a bug where the toolbar actually starts up with the "open" button half on the screen. I discussed with @jessegreenberg and we both think a patch like this will be easiest

[code]

[2022-03-15 22:33] zepumph commented on #744
I got pretty far with initial instrumentation, but ran into a bug when trying to alert a description to aria live. I'll have to come back to this.

<details>

[code]

[2022-03-16 22:25] zepumph commented on #788
Looks great. Thanks!

[2022-03-16 22:25] #788 closed

[2022-03-16 23:16] pixelzoom opened #797 "UpdaTESTate?"
In joist/tsconfig-module.json:

[code]

Just curious... Is "UpdaTESTate" a thing, or a dupicated typo?

[2022-03-16 23:18] samreid commented on #797
There is a file called UpdateState.js which has a hidden word "test" in it.

[2022-03-16 23:25] pixelzoom commented on #797
Never would have understood that in a million years.

[2022-03-16 23:25] #797 closed

[2022-03-17 14:53] pixelzoom opened #798 "CT: Assertion failed: reentry detected (VoicingToolbarItem)"
Looks like this started appearing in CT on 3/16/2022, 1:18:58 AM, and has been appearing on every cycle since.  Entry point for the failure is `VoicingToolbarItem`. I don't see it in other sims.

[code]

[2022-03-17 16:57] jessegreenberg commented on #798
Good point, I think this is legitimate for the browser to do if it doesn't support or can't use SpeechSynthesis. OK if I make this Property `reentrant: true`? Done in the above commit with a comment.

[2022-03-17 16:58] zepumph commented on #798
Really great stuff, good doc too.

[2022-03-17 17:01] jessegreenberg commented on #798
OK thanks!

[2022-03-17 17:01] #798 closed

[2022-03-19 00:31] samreid commented on #664
Using master, I get mac/chrome screenshots that look like this (zooming in on the ball):

<img width="266" alt="image" src="https://user-images.githubusercontent.com/679486/159099451-912660ca-7720-4d48-adca-3c7c60be5fb3.png">

This patch increases the backing scale before rendering:

[code]

The screenshot from mac/chrome looks like this:

<img width="265" alt="image" src="https://user-images.gith

[2022-03-19 00:50] samreid commented on #664
Everyone except firefox implements https://devdocs.io/dom/canvasrenderingcontext2d/imagesmoothingquality `ctx.imageSmoothingQuality = "low" || "medium" || "high"`, maybe we should enable that.

[2022-03-19 00:50] samreid commented on #664
Experimental patch with manual resampling:

<details>

[code]

</details>

[2022-03-19 00:57] pixelzoom commented on #664
@arouinfar FYI, since we need a new screenshot for Geometric Optics in https://github.com/phetsims/geometric-optics/issues/369.

[2022-03-19 15:31] samreid commented on #664
This version samples at 2x and downsamples to be the right final dimension and size in MB.  It looks much crisper.  I want to test with 4x and improve the intermediate canvas dimensions before being done though:

<details>

[code]

</details>

[2022-03-19 15:44] samreid commented on #664
This version has a better subsampling and supports 4x.  I thought it was better in chrome, but it doesn't seem better in firefox or safari:

<details>

[code]

</details>

I'm at a good point to reach out for help.

[2022-03-19 15:47] samreid commented on #664
Testing the same algorithm in Mac/Chrome for natural selection.  On the left is the default algorithm.  On the right is 2x * 1/2 resolution:

<img width="438" alt="image" src="https://user-images.githubusercontent.com/679486/159128101-ea9b2c2b-5c3c-4ec9-8116-e4a510dfcc8b.png">

Both final images have the same dimensions and roughly same # MB.

[2022-03-19 17:55] samreid commented on #664
This is mac/chrome 1, 2/2 and 4/2/2

<img width="823" alt="image" src="https://user-images.githubusercontent.com/679486/159132369-48815526-897b-4a5a-9b6a-81b88b8be4cb.png">

This is mac/firefox 1, 2/2 and 4/2/2

<img width="851" alt="image" src="https://user-images.githubusercontent.com/679486/159132515-6df145f9-b796-496c-895f-4bc256a08b6c.png">

This is mac/safari 1, 2/2 and 4/2/2

<img width="66

[2022-03-29 22:47] zepumph commented on #744
Alright. The view is committed above. It still isn't totally clear how we will have the model instrumented, since we largely don't want preferences to persist. Even so, this seems like a good commit point. I will work to see what more we would want to do with the model.

[2022-03-30 01:24] pixelzoom commented on #744
fourier-making-waves is a sim that is partially instrument.  It suddenly started failing CT with:

<details>
<summary>Stack Trace</summary>

fourier-making-waves : fuzz : unbuilt
https://bayes.colorado.edu/continuous-testing/ct-snapshots/1648595034925/fourier-making-waves/fourier-making-waves_en.html?continuousTest=%7B%22test%22%3A%5B%22fourier-making-waves%22%2C%22fuzz%22%2C%22unbuilt%22%5D%2C%22

[2022-03-30 14:58] zepumph commented on #744
Makes sense. Thanks for catching it. Fixed above.

[2022-03-30 15:09] pixelzoom commented on #744
It makes me sad that this "RadioButton" suffix convention is now hardcoded in at least 201 places -- search for "RadioButton'" and "RadioButton`".   Should it be factored out?   Or should radio-button groups take `tandemNamePrefix` instead of `tandemName`, and automatically add the "RadioButton" suffix?

[2022-03-30 15:15] pixelzoom commented on #744
Moving the tandem name convention questions to https://github.com/phetsims/phet-io/issues/1855.

[2022-03-30 22:22] chrisklus commented on #762
Apologies for the delay here. Everything is looking good to me too! I tested by changing all related Properties in Studio after following the instructions from https://github.com/phetsims/studio/issues/241#issuecomment-1062474657. The commits look good and I can't think of anything else to change. Back to @zepumph to close if all set.

[2022-03-31 14:26] #762 closed

[2022-03-31 22:42] pixelzoom opened #799 "Problems with PhET-iO instrumentation of Options dialog."
I'm not sure what `optionsDialogCapsule.optionsDialog.visibleProperty` is supposed to do. But it's not doing what I'd expect it to do, and it doesn't behave like any other `visibleProperty` elements.

For example:

1. Run Geometric Optics in Studio.
2. Open the Options dialog via PhET > Options.
3. Close the Options dialog.
4. Problem 1: In Studio, navigate to `optionsDialog.visibleProperty`. You'

[2022-04-01 23:22] jbphet commented on #772
I just went back through this issue, and I want to verify something before I pull the trigger and delete these strings.  First a little background: Translated common-code strings are not branched nor is a SHA recorded when a sim is published.  Instead, all translation builds get their common-code strings from the master version of the babel repo.  There are good reasons for this, but I won't get i

[2022-04-04 20:44] jonathanolson commented on #799
I haven't looked in depth into this, but it seems like it might be similar to this:

1. Problem 1: Create a Rectangle node. It's visibleProperty is true, but it's not showing on the screen
2. Problem 2: Set it to visible:false and add it to the screenView. It's not showing on the screen (even though it's in the screenView)
3. Problem 3: The rectangle is a child of the screenView, but it's not show

[2022-04-05 13:54] jessegreenberg commented on #794
tappi/vibrationManager has been removed from Sim.js, closing.

[2022-04-05 14:11] jessegreenberg commented on #772
That is not the case. These strings were in the code and presented to the user. They are used in published sims. In https://github.com/phetsims/joist/commit/bd489a5e4b22489a3dbf7711166a42958f034f02 I removed them from the code so that future publications off of master do not show these strings.

We were hoping to remove these keys from existing translations: https://github.com/phetsims/joist/issue

[2022-04-05 20:35] jbphet commented on #772
@jessegreenberg and I just discussed this over Zoom, and there is an important point that we were able to clarify.  When @jessegreenberg said in the preceding comment:

...he meant that they were presented to the user in _Rosetta_, but they have never been visible to the user _in a simulation_.

This means that it is indeed safe to remove them from master, so I will proceed with that.

[2022-04-06 18:16] arouinfar commented on #799
From a design perspective, I don't see a reason for `isVisibleProperty` to exist. It makes sense for the `visibleProperty` to control whether or not the dialog is open/visible. If that's not reasonable, and `isShowingProperty` needs to be in control, the `visibleProperty` should be read-only and un-featured to avoid confusion.

[2022-04-06 18:24] arouinfar commented on #785
@zepumph this looks like a minor edge-case to me and seems unlikely to cause any real issues. Unless there is some clear and quick solution, I don't think we need to do anything here.

[2022-04-06 21:18] zepumph commented on #785
Ok thanks. I agree.

[2022-04-06 21:18] #785 closed

[2022-04-06 22:36] jbphet commented on #772
This is done.  I used a script for this, and it is now checked in at https://github.com/phetsims/rosetta/blob/master/scripts/js/remove-string.js.

For some reason, when I used the script, it changed a bunch of unicode characters in the English joist strings file.  I didn't want to commit this, so I manually reverted these changes before doing the commit so only the removal of the strings was inclu

[2022-04-09 14:47] jessegreenberg commented on #752
There are no more TODOs referencing this issue. `priorityProperty` is working great but it is not working for the toolbar buttons because those buttons use `joistVoicingUtteranceQueue`. `priorityProperty` works for Utterances within a single queue, so it cannot be used to prioritize `joistVoicingUtteranceQueue` Utterances over the `voicingUtteranceQueue` Utterances.

The priority of toolbar uttera

[2022-04-11 15:30] jessegreenberg opened #800 "Delete joistVoicingUtteranceQueue and replace with voicingVisibleProperty"
Now that `voicingVisibleProperty` is ready for use I think it can be used instead of the `joistVoicingUtteranceQueue`. The `joistVoicingUtteranceQueue` is problematic because `priorityProperty` doesn't work well with multiple UtteranceQueues (see https://github.com/phetsims/joist/issues/752#issuecomment-1094058020).

[2022-04-11 15:33] jessegreenberg commented on #752
`Node.voicingVisibleProperty` is ready for use, next we will try to replace the `joistVoicingUtteranceQueue` with that in https://github.com/phetsims/joist/issues/800

[2022-04-11 16:29] jessegreenberg commented on #800
At this time the only usage of `joistVoicingUtteranceQueue` is in VoicingToolbarItem, other than controlling its enabled state in `audioManager` and a phet-io specific thing in Sim.js.

[2022-04-11 19:05] jessegreenberg commented on #800
`joistVoicingVisible` has been removed. I added a function to Sim.js to set components other than the toolbar to `voicingVisible: false` so that they are not heard. It is called when `voicingFullyEnabledProperty` changes (which is what previously controlled the `enabled` state of `joistVoicingUtteranceQueue`.

It isn't working quite yet but I expect that it will. We need to do https://github.com/p

[2022-04-12 17:42] jessegreenberg commented on #800
`voicingVisibleProperty` is working as a replacement of the `joistVoicingUtteranceQueue`. The feature of the "Sim Voicing" toggle switch in the toolbar isn't working everywhere yet because we still have decisions to make in https://github.com/phetsims/scenery/issues/1403. Nothing further to be done in this issue.

[2022-04-12 17:43] jessegreenberg commented on #752
`joistVoicingUtteranceQueue` has been deleted and replaced with `voicingVisibleProperty`. We can return to this issue.

[2022-04-12 21:56] jessegreenberg commented on #752
The above commit uses the Utterance.priorityProperty feature in a listener on the Display to make it so that these Voicing toolbar buttons cannot be interrupted unless there is some interaction with the display.

@zepumph can you please review https://github.com/phetsims/joist/commit/ff9c360d826b26673d66c173c32cfbe252da14a2

[2022-04-13 03:26] samreid commented on #776
I'm interested in working on Sim.js => TypeScript.  I'll take a look.

[2022-04-13 05:06] samreid commented on #776
I committed `ts-nocheck` and Sim.js => ts before I knew the scope of this project. I have a working prototype and would like to commit.  It is not complete, but it is a good start.  However, I won't be working later tonight to check when the CT column is ready.  But I will have time to address CT issues 8am-9am on April 13.  But if I wait to push until April 13 morning, then I'll be in meetings wh

[2022-04-13 12:53] pixelzoom commented on #776
Not at all rare for me.  I'm often trying to bust out a few things so that they're ready for review by QA or my sim team.

[2022-04-13 12:55] pixelzoom commented on #776
Not at all rare for me.  I'm often trying to bust out a few things so that they're ready for review by QA or my sim team.  Some of the dev team is in ET, and  8am MT is 10am ET.

[2022-04-13 12:57] pixelzoom commented on #776
It sounded like you didn't commit to master.  But CT is currently bright red.  So I'm not going to investigate, and will defer my morning work plans (again).

[2022-04-13 12:59] samreid commented on #776
Sounds good.  I feel I'm still grappling with the ramifications of the recent discussion about trying to be around to monitor CT before pushing nontrivial changes.  I think I'll open a side issue for that aspect.

My fault, I'll push a revert. In this case it may have been better for me to push more elaborate changes to CT because the problem was caused by this:

[2022-04-13 13:01] pixelzoom commented on #776
What is the problem with simply waiting to push untl you have time to check CT?  I don't get it... And this continues to impact my abilty to work.

[2022-04-13 13:04] pixelzoom commented on #776
And there was no need to "stick around" in this case.  Did you even check CT "quick view"? It would have immediately shown the problem. What good would a faster CT do if you don't even look at it?

[2022-04-13 13:06] samreid commented on #776
I reverted the errant commits and CT should be clear.

[2022-04-13 14:16] samreid commented on #776
I added a note to https://github.com/phetsims/phet-info/blob/master/doc/typescript-quick-start.md

[2022-04-13 18:20] jessegreenberg opened #801 "Add a hotkey to take screenshots"
From https://github.com/phetsims/scenery/issues/1392.

It currently isn't possible to take a screenshot from the PhET menu while zoomed in. Since the button is in the PhET menu you have to pan to it to press it and you cannot take a screenshot of the screen when zoomed into another location in the play area.

In https://github.com/phetsims/scenery/issues/1392#issuecomment-1092179982 it was suggest

[2022-04-13 20:17] jessegreenberg commented on #800
This should be reviewed as part of https://github.com/phetsims/scenery/issues/1300, assigning to @zepumph as part of that. And thanks!

[2022-04-13 20:28] jessegreenberg commented on #752
Discussed together, one improvement is to replace setting priority to 0 to `Utterance.LOW_PRIORITY`.

[2022-04-13 20:54] jessegreenberg commented on #800
One improvement is to rename `setSimVoicingVisible` to `setSimContentVoicingVisible`.

We need to update voicingVisible somehow in setAccessibleViewsVisible. We also need explicit control over how voicingVisible is enabled for the Toolbar and topLayer (dialogs) we thought it would be good to have two functions for each of those so that setting is clear.

Also, the call to `setSimVoicingVisible` is

[2022-04-13 21:42] samreid commented on #776
See also https://github.com/phetsims/joist/issues/795 where there was other work toward Sim JS=>TS.

[2022-04-14 19:20] zepumph commented on #795
See https://github.com/phetsims/joist/issues/776#issuecomment-1097562908
by @samreid for the most recent conversion patch.

I will review this this week.

[2022-04-15 05:51] zepumph opened #802 "Add a small UI shift when running the sim in PhET-iO brand with assertions enabled"
From PhET-iO meeting today over in https://github.com/phetsims/studio/issues/253#issuecomment-1099873680.

@arouinfar, can you look into a couple of mockups for us?

I also want to note that right now it may make sense to run this off of if assertions are enabled or not, but in the future it may be best to have a more central point of "We are in PhET-iO and we are in the debug/development mode." I

[2022-04-16 04:41] samreid commented on #795
I pushed changes to joist centered around Sim.ts.  There were complications around Colors, some places expecting Color|string, some expecting just Color and some expecting just string.  There were expectations throughout joist that colors were `=== 'black'` or `=== 'white'` or `!==`, so I converted some files to *.ts to help catch errors in those areas.  It seemed best to promote LookAndFeel to us

[2022-04-16 22:21] samreid commented on #795
OK I think this is ready for review.  Please review Sim.ts and comments marked for `https://github.com/phetsims/joist/issues/795` at a minimum.  Thanks!

[2022-04-19 19:55] jbphet opened #803 "Add the missing sounds for the Preferences dialog"
As of this writing, the Preferences Dialog makes sounds for some actions, such as opening and closing it and checking a checkbox, but it does _not_ make sounds for some other things, such as togging the AB switches or selecting a different tab.  This was discussed in today's sound design meeting, and we are going to add the needed sounds.

For now, we think all that is needed are sounds for the AB

[2022-04-20 22:10] arouinfar commented on #802
Here are a few ideas:
<img width="400" alt="image" src="https://user-images.githubusercontent.com/8419308/164331444-39fa822f-f1c2-4ba8-81c9-14f7fa7f4ef8.png">

My preference would be to change the color of the menu dots. It's clearly visible and doesn't shift the layout or alter the branding. Tagging to for review in design meeting.

[2022-04-21 14:34] zepumph commented on #795
I was able to get through the commits I saw in joist related to this work as well as the items marked with this issue number. Comments are inline. In general I think that about half of them will get better as we convert more to TypeScript. It would be nice to make the backgroundColorProperty more string or consistent. I think that usages should change to whatever we decide, which is likely to supp

[2022-04-21 17:02] zepumph commented on #802
I also really like the kabob menu icon change. Want to mock up that same color with opposite colors (like projector mode) to make sure things have enough contrast for both? Or do we need two different colors?

![image](https://user-images.githubusercontent.com/6856943/164513038-5f2451f3-dc07-42ad-a8ac-6a42e8f17241.png)

[2022-04-21 17:02] zepumph commented on #802
In my opinion it would be a mistake to change the logo. It would be a fair bit of work, and would likely end up being confusing to our branding and as a communication device.

[2022-04-21 17:45] terracoda commented on #789
So the issue here, is that currently with color inversion on, the navbar and the buttons in it are visually washed out. This would make it very difficult (possibly impossible without assistance) to change screens. The buttons above are likely invisible to a learner using color inversion.

Blind learners using interactive description would not have a problem as they would be moving their focus to t

[2022-04-21 17:46] terracoda commented on #789
@pixelzoom, @samreid , @jonathanolson would you happen to have any ideas on how to address the navbar design to address this issue?

[2022-04-21 17:58] terracoda opened #804 "All Audio toggle button - need to double check the initial presentation in the code"
While working on the interaction design patterns for the Description Course, I looked more carefully at our implementation of the All Audio, toggle button in the navbar.

Sound is on by default, but is the toggle button "toggled on" by default in the code?

If not, it might make more sense to have it "toggled on" in the code, and then have learners toggle it off to turn the Sound off.

An on/off s

[2022-04-21 18:19] jessegreenberg commented on #804
There is a Property called `audioEnabledProperty` that controls whether all audio is on or off and it is controlled by this button. The default value is `true` and the value is controlled by this button. I think that matches the state of the button graphically.

The accessible name of the button is now "All Audio". When audio is enabled, it has `aria-pressed=false` and when disabled it has `aria-p

[2022-04-21 19:06] arouinfar commented on #802
I totally agree. It's a bad idea from a branding perspective and likely more technically difficult to implement.

Good thought! I used the [WebAim's contrast checker](https://webaim.org/resources/contrastchecker/) and `rgb(255, 0, 0)` and `rgb(255, 85, 0)` (PhetColorScheme.RED_COLORBLIND) both pass against black and white backgrounds.

[2022-04-21 20:56] zepumph commented on #802
What would it take to "flip the switch" and implement this coloring when assertions ("PhET-iO debug mode") are enabled.

[2022-04-21 21:38] arouinfar commented on #802
Discussed in 4/21/22 design meeting:
* Changing the color of the menu dots isn't viable because many clients disable the PhET Menu, which hides the dots.
* Adding an extra icon to the navbar isn't ideal because the navbar can get crowded (long sim title, 5 screens, up to 3 a11y icons) and there could be layout issues to work out.
* A simple solution would be to underline the PhET-iO logo. `rgb(255

[2022-04-21 22:43] zepumph commented on #802
<details>

[code]

[2022-04-22 10:25] terracoda commented on #804
Thanks @jessegreenberg for these details. This was indeed my suspicion. With screen reader software, the button’s toggled state did not seem to match when sound is actually on and off.

I completely agree that the origin of this miss-match is when we changed the label from “Mute Sound” to “All Audio”.

I also agree that the aria-pressed states should be reversed.

Let’s do that and then I can revi

[2022-04-22 13:43] terracoda commented on #804
It would be good to address this issue before we publish the next sim with sound.

What kind of label do I need for that?

[2022-04-22 13:44] terracoda commented on #804
Can any dev do the aria-pressed swap? If so, please re-assign as you see fit.

[2022-04-22 14:01] samreid commented on #804
For that we use the `status:blocks-publication` label.  I'll add the label now based on the prior comments.

[2022-04-22 17:19] pixelzoom commented on #789
For starters, it would be really nice use color profiles in joist, especially for the navigation bar, see https://github.com/phetsims/joist/issues/222.  The navigation currently does not use color profiles, and has a very odd way of inverting its background color. It can be 'black' or 'white', based on whether the play area background is 'black' or 'not black'.  When we're using a color profile fo

[2022-04-22 22:50] samreid commented on #789
I inverted the colors using photoshop:

<img width="707" alt="image" src="https://user-images.githubusercontent.com/679486/164814465-92e64e8c-a124-40cd-a378-38cf4d091bbf.png">

Using MacOS => accessibility => invert, it looked about the same.  Both looked great in my opinion.  So I think we would have to decide whether we are trying to support inverted colors, or a specific Chrome plugin.  What pl

[2022-04-23 00:31] terracoda commented on #789
@samreid, I also tested with MacOS’s native Color inversion software. I agree that it looked better than the Chrome plugin. I mentioned this to the teacher that emailed phethelp. I still thought there might be room for improvement.

[2022-04-23 01:24] samreid commented on #789
Do you think we should have an "Invert" option in the visual preferences panel?

<img width="816" alt="image" src="https://user-images.githubusercontent.com/679486/164856437-1c6a39ca-b862-4922-b74b-43e24302109e.png">

[2022-04-23 09:44] terracoda commented on #789
That might be a nice built-in option.

Both the Chrome plugin and the macOS conversion software have other possible adjustments.

Except for the navbar the sims seem to invert rather well. But it is difficult for me to say how well because I don’t have a vision impairment that requires colour inversion.

I like @pixelzoom ’s idea of having more options to design a more visually robust navbar. I am

[2022-04-23 20:24] samreid commented on #795
`any` does not define a structure.  For instance, this code passes type checking:

[code]

The TypeScript handbook https://www.typescriptlang.org/docs/handbook/declaration-files/do-s-and-don-ts.html#any says:

[2022-04-25 16:43] pixelzoom opened #805 "Credits are broken for all sims."
Discovered while working on https://github.com/phetsims/geometric-optics/issues/433.

Credits are broken for all sims.  Running from phetmarks, I see no credits for sims that I’ve spot-checked.  Related to https://github.com/phetsims/joist/issues/795?