[2017-02-10 06:11] samreid commented on #349
PACE looks great and seems great on Chrome, but on mobile safari with a throttled apache it behaves like so:

0-29 seconds: no splash screen shown yet (but safari blue loading bar is filling up)
29-32 seconds: pace bar shows and fills rapidly
32-36 seconds: our normal Joist progress bar fills and the sim launches.

I built a pace version by putting these lines into the sim.html template `<head>`
[

[2017-02-10 17:41] jessegreenberg commented on #380
Yes, this looks and works great @samreid. I should have checked the params of indexOf. Also thanks informing me of ```grunt --disable-eslint-cache```, I was not aware. I incorrectly assumed that changing the rule would blow away the cache.

Thanks for the fixes @samreid, closing.

[2017-02-10 17:41] #380 closed

[2017-02-10 17:51] jessegreenberg commented on #396
Much better @jonathanolson, thanks.  I forgot that ```Property.<string|Color>``` is a valid type for setFill(). I also verified that it is working correctly.  Closing.

[2017-02-10 17:51] #396 closed

[2017-02-10 21:18] phet-steele commented on #400
This is what I see, and it looks fine to moi:

![screen shot 2017-02-10 at 12 39 54 pm](https://cloud.githubusercontent.com/assets/5863899/22841278/2964d39c-ef8e-11e6-99bc-b85e2c77c598.png)

Closing.

[2017-02-10 21:18] #400 closed

[2017-02-14 02:45] zepumph commented on #393
@pixelzoom thank you so kindly for all of your suggestions. I think that I covered them all, and things seem to be working well (with documentation which is always a plus). @samreid would you mind looking at my most recent commit (I take out the call to the supertype tandem and just have the mutate call). I know that we recently changed it away from passing the supertype in Node.call and then pass

[2017-02-14 05:12] samreid commented on #393
The changes look good and tested OK, I added a few cosmetic improvements in the above commits, please review them and let me know if you have any questions about my changes.

[2017-02-15 03:35] zepumph commented on #393
Makes sense, thank you. Closing.

[2017-02-15 18:33] samreid opened #403 "Deselected homescreen buttons should start grayish"
@ariel-phet pointed out that the new Joist homescreen buttons all start bright instead of the deselected ones starting out grayish (as they used to).  Perhaps this broke in recent refactoring.  I'll take a look shortly.

[2017-02-15 19:04] samreid commented on #403
@ariel-phet pointed out that this was buggy in http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.47/unit-rates_en.html?showAnswers&randomEnabled=false

I'll publish a new one for testing.  @pixelzoom heads up that we're going to dev.48 for Unit Rates.

[2017-02-15 19:08] samreid commented on #403
New Unit rates is published here:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.48/unit-rates_en.html

@ariel-phet can you please take a close look and make sure the behavior is good?

[2017-02-15 19:31] ariel-phet commented on #403
@samreid behavior looks correct to me, you might want to email the dev group about this change if anyone has had the bug in a recent RC or such

[2017-02-15 20:25] samreid commented on #403
I notified the skype channel with this text:

[2017-02-15 20:25] #403 closed

[2017-02-16 17:40] samreid commented on #349
@mattpen could we discuss this today?

[2017-02-16 17:49] samreid commented on #399
@kathy-phet would like to confirm that it won't mess up in emails or PDFs

[2017-02-16 18:03] samreid commented on #399
Renders fine in Word and Word=>PDF:

![image](https://cloud.githubusercontent.com/assets/679486/23033834/cfe118fa-f436-11e6-838d-8e1f73723d8b.png)

The link takes me to:
https://phet.colorado.edu/sims/html/states-of-matter/latest/states-of-

Link from Word is OK though.

[2017-02-16 18:05] samreid commented on #349
@mattpen suggested trying an animated gif.

[2017-02-16 18:08] samreid commented on #399
In landscape, the line break is gone: and the link works OK

![image](https://cloud.githubusercontent.com/assets/679486/23034205/46010116-f438-11e6-9204-9f59acc8ff83.png)

@kathy-phet how old of versions of word/PDF/email do you want us to test?

[2017-02-16 18:34] samreid commented on #349
@mattpen and I added an animated gif and it looked much smoother on iOS than the other approaches.  We base64 encoded it and included it in the top of the HTML document.  We should coordinate with @ariel-phet and an artist to come up with an animated GIF that we like.  We will want it to be a small file size, since this will inflate the size of each of our simulations by that amount.  (For instanc

[2017-02-16 18:40] samreid commented on #349
@mattpen also suggested using the gif for iOS and the progress tracker elsewhere.

[2017-02-16 21:18] ariel-phet commented on #349
@samreid these days I am very much liking the simple loading bar, so I think perhaps something like the stroke of the tracking bar giving a pulsing glow or such would be fine. I think lets stay simple and clean

[2017-02-16 21:26] samreid commented on #349
@ariel-phet to implement this in a way that works for iOS, it seems we will need to create a GIF.  Would you like one of PhET's graphic artists to take this on?

[2017-02-16 21:29] samreid commented on #349
Also, if we want to make sure the GIF is artistically consistent with the progress bar, we may wish the artist to create maybe 10 GIF snapshots (not animated) of loading progress that we can use to show progress.  That way there won't be any stutter or inadvertent changes when switching from GIF to SVG.  But I don't know if this would take up too much KB or have other problems.

[2017-02-16 21:36] ariel-phet commented on #349
@samreid why don't we figure out what looks good in code (simple) and then we can get our artist to make the GIF

[2017-02-16 22:45] samreid commented on #349
I started with the same shape as the JS loading bar and am pulsing the stroke-width (requires VPN). Thoughts?
http://phettest.colorado.edu/joist/loading.html

[2017-02-16 22:59] samreid commented on #349
One possibility: we could use this style of SVG animation for platforms that support it, and only fallback to GIF for platforms that need it (like iOS).

Also noted: putting a script like this seems to prevent the iOS splash screen from appearing at all (no idea why).

[2017-02-17 04:45] samreid commented on #399
@pixelzoom reported that commas in his email client worked properly (not sure what email client he was using).

[2017-02-17 19:08] pixelzoom commented on #399
Mail client on Mac OS X 10.11.6.  Sample URL was:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.56/unit-rates_en.html?screens=3,2,1

[2017-02-20 19:11] pixelzoom opened #404 "TWEEN animations are not associated with Screens"
In `Sim.stepSimulation`, all `model.step` is called only for the active screen.  But _all_ TWEEN animations are run, and will continue to use resources, regardless of which Screen created them.   This seems like a significant defect in the main animation loop.  And based on Skype discussion, it would seem that some developers are not aware of this, e.g.:

[2/20/17, 12:04:02 PM] Sam Reid: I normall

[2017-02-20 19:12] pixelzoom commented on #401
If the order of things is going to be changed, then https://github.com/phetsims/joist/issues/404 should be addressed also - TWEEN animations are currently not associated with a Screen, and continue to run when switching screens.

[2017-02-21 04:34] ariel-phet commented on #349
@samreid that pulsing looks good to me....clean and simple.

[2017-02-21 20:07] jonathanolson commented on #404
Assigning, since it looks to be blocking https://github.com/phetsims/joist/issues/401 (to which I'm handling).

[2017-02-21 20:18] jonathanolson commented on #404
Tweens' start/stop automatically adds them to global list that gets stepped with `window.TWEEN.update()`.

It looks like we would want to:

1. Not call `window.TWEEN.update()` ourselves.
2. Add tweens to a Screen's modelTweens or viewTweens (or ignore the distinction). Possibly we could support the models and screenViews having a 'tweens' array?
3. Step these tweens manually with `tween.update( dt

[2017-02-21 21:01] pixelzoom commented on #404
My 2 cents:

#401 deals with correcting the ordering of model/view `step`.  Presumably model/view tweens would require similar ordering, and we would therefore need a distinction between model/view tweens.  So unless there's a good argument for why the model/view distinction isn't needed for tweens, I think we need to go with this options (proposed above):

[code]

We could add `joist.ScreenModel`

[2017-02-21 21:42] jonathanolson commented on #404
Sounds good to me.

I'm not familiar with this conversion, so I probably wouldn't handle it. There appear to be about ~46 places tweens are created with `new TWEEN.Tween`.

[2017-02-22 04:52] jonathanolson opened #405 "PhetMenu accessibleContent triggers dispose multiple times"
Noticed in https://github.com/phetsims/scenery/issues/601.

Running Balloons and Static Electricity and opening the phet menu twice triggers disposal on the menu a second time, due to the `self.dispose()` in createPeer.

Can we just drop the disposal of the PhetMenu? I'm not sure what purpose it serves.

[2017-02-22 14:42] samreid commented on #404
Most (all?) tweens are short transient animations that will complete quickly and stop consuming resources.  Hence this does not seem like a high priority problem.

Would the screen models be globals, or would we have to pass them through everywhere?  If they are globals, how do we name them to proceed safely?  Or perhaps have a global that provides access to the current screen, like `window.phet.j

[2017-02-22 15:05] samreid commented on #399
I emailed:

Kathy,

On Thursday you requested that we check out other programs (like Word and email clients) to see how they deal with commas in URL query parameters.  See https://github.com/phetsims/joist/issues/399#issuecomment-280405334 and the following comments.  Modern Word and Mail (on Mac) did the right thing.  Do you recommend more testing?  How far back do you want us to test?

Jonathan

[2017-02-22 16:36] pixelzoom commented on #404
I agree, not high priority.  But while we're overhauling `stepAnimation` in #401, it would be a good idea to consider this. That said...

I know of no guideline saying that tween should be used only for "short transient animations", and the same could probably be said of "most" model.step animations.

Use of resources is also not limited to the animation itself. When a tween animation ends, there

[2017-02-22 17:31] samreid commented on #404
I agree, it would be best to pause everything related to a screen when the screen is not selected.  What about `window.phet.joist.currentScreen.addStepListener` as an API?

Note to self if we continue down that path: if we want currentScreen.addStepListener to work during initialization, joist would need to switch the currentScreen variable during initialization.

[2017-02-22 17:51] jonathanolson commented on #404
I can think of a few cases where using currentScreen could trigger adding the tween to the wrong screen, and conceptually it makes sense to be able to step a screen in the background (particularly since model tweens would be affected).

[2017-02-22 18:03] samreid commented on #404
Can you clarify what you mean about "in the background"?  I didn't understand this bit:

[2017-02-22 18:05] jonathanolson commented on #404
`inactiveScreen.model.step( dt )` or other operations on an inactive screen could trigger tweens, which would get attached to a completely different screen.

[2017-02-22 18:07] samreid commented on #404
If joist would be calling `inactiveScreen.model.step( dt )` then it should be careful to do it like so:

[code]

But I have a hunch that I don't really understand the problem.

[2017-02-22 18:15] jonathanolson commented on #404
Keeping screens as their own unit that doesn't depend on a ton of extra information makes things like unit tests way easier.

If you rely on a global that gets the current screen, you now can't create screens and test/step them independently, which seems like an anti-pattern.

[2017-02-22 18:16] samreid commented on #404
Agreed, good point!  How do you recommend to associate tweens with screens?

[2017-02-22 18:19] jonathanolson commented on #404
The model (newly provided `joist.ScreenModel` as @pixelzoom noted) and `joist.ScreenView` would provide functionality for tracking tweens, and the step() function would presumably run those.

[2017-02-22 18:21] samreid commented on #404
So if I have a Model that contains an A, which contains a B, which contains a C, then I would pass the ScreenModel into the Model then into the A then into the B then into the C, then when C wants to start a tween, it would invoke it on its reference to the ScreenModel?

[2017-02-22 18:26] jonathanolson commented on #404
The Model would be a subtype of ScreenModel when needed, and yes unfortunately this pattern would include passing it through to where it is needed (or at least an addTween function or similar abstraction, not necessarily the whole model).

[2017-02-22 18:31] samreid commented on #404
Instead of passing through a ScreenModel or TweenContainer to all children, would it more direct/simpler and hence preferable to pass through the step(dt) functions?  This may help with modularity because C can be tested without having to pass it a ScreenModel (or addTween function abstraction).

[2017-02-22 18:37] jonathanolson commented on #404
Can you describe this with a code segment? Is it like passing through an Emitter that fires with step dts?

That would be more modular, but we'd want to create an abstraction for tweens (through twixt?) that stops calling update( dt ) after the animation is done (and removes the listener).

[2017-02-22 18:39] samreid commented on #404
I updated my comment in https://github.com/phetsims/joist/issues/404#issuecomment-281758745

[2017-02-22 18:54] jonathanolson commented on #404
To handle multiple (possibly concurrent) tweens in strategy B, which will often have the case, we might have:
[code]
where the same `TweenHandler` would be present in strategy A at the model and screenView.

[2017-02-23 18:47] pixelzoom opened #406 "disable "show answers" feature in production versions"
Add something to joist that allows us to determine (at runtime) whether we're running a production version. The main purpose of this is to turn off query parameters that reveal answers.

@jonathanolson suggested adding `Sim.isProduction` that parses the version number.

[2017-02-23 19:31] jonathanolson commented on #404
I'll implement the above idea with a type in Twixt.

[2017-02-24 03:21] pixelzoom commented on #406
@jonathanolson What do you think about this solution?

[code]

[2017-02-24 03:25] pixelzoom commented on #406
Or maybe we don't even need `isProduction`.  Would this be too awful in (for example) URQueryParameters, immediately after the `QueryStringMachine.getAll` call?

[code]

[2017-02-24 03:28] pixelzoom commented on #406
Ah.... `assert` is also stripped out of dev versions. Bummer.

[2017-02-24 03:45] pixelzoom commented on #406
I'm not wild about testing the version identifier.  But if all production versions truly followed the same convention, then it would be:

[code]

But would this be a problem for PhET-iO versions? Or research versions?

[2017-02-24 04:07] jonathanolson commented on #406
Definitely for phet-io, potentially other (future) versions. Could consider leaving it up to the Brand object to see (if it is brand-customized), then the 'phet' brand would just check `/^\d+\.\d+\.\d+$/`, the phet-io brand would check `/^\d+\.\d+\.\d+-phetio$/` or include other suffixes.

Alternately, we could add a flag in the build process (that will be complicated for maintenance releases and

[2017-02-24 04:09] jonathanolson commented on #406
We could have most dev builds skip the uglify step (so assertions can be turned on), but we'd probably want RCs to uglify.

[2017-02-24 04:15] samreid commented on #399
At today's meeting @ariel-phet said there is no rush on getting this done quickly.

[2017-02-24 17:49] phet-steele opened #407 "[Safari] Splash screen increases in scale slightly after loading has begun"
Blink and you'll miss it (actually the looping gif makes it very obvious, but it is very subtle otherwise):

![splashscreen01](https://cloud.githubusercontent.com/assets/5863899/23314208/364a8700-fa7e-11e6-91ec-fee12ccc604f.gif)

This is present on both mobile and desktop Safari. It happens every time I load the sim on macOS 10.12.3, but only happens once on the initial load for iOS 10.2 Safari. T

[2017-02-24 17:51] samreid commented on #407
I recommend to fix this not because it is a jarring visual issue but because it could indicate problems with how CSS is being dealt with in Joist, and could lead to problems in future browser versions (not just safari).

[2017-02-24 19:17] phet-steele opened #408 "[IE11] Splash appears in the top left of the screen at startup, then centers"
From @BryceAG in https://github.com/phetsims/tasks/issues/764#issuecomment-274625294

Verified on Win 7 and 8.1, IE11 with this link http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.1-dev.3/energy-skate-park-basics_en.html

[2017-02-24 19:17] samreid commented on #408
Could it be related to the CSS in #407 ?

[2017-02-25 10:40] jonathanolson commented on #404
The above implementation idea fails in a few ways, most notably because we can't be notified of animation start/stops (we'd need to hook into that to tell when to call update()). Without hacking things horribly, this won't be possible.

Will do minor investigation into Twixt as mentioned as a possibility during dev meeting (may be easier to do the longer-term solution up front).

[2017-02-27 19:55] jonathanolson commented on #404
I think getting an animation solution in Twixt is the correct approach for handling the tweens (see https://github.com/phetsims/twixt/issues/3).

This has been more time than I'd like to handle https://github.com/phetsims/joist/issues/401, so I'm going to punt on handling this before finishing https://github.com/phetsims/joist/issues/401 (leaving this open).

[2017-02-27 19:56] jonathanolson commented on #401
Planning on moving these changes over to master and tracking remaining TWEEN ordering (or animation replacements) in https://github.com/phetsims/joist/issues/404.

[2017-02-27 20:03] jonathanolson commented on #401
Pushed to master.

[2017-02-27 20:03] #401 closed

[2017-02-27 20:52] zepumph commented on #393
After looking at some comments from #394, I made tandem a required argument, along with everything necessary for a MenuItem. @samreid will you take a look at this commit. It is passing phet/phet-io tests and works for my general using of the menu.

[2017-02-28 16:49] zepumph commented on #394
@samreid I went with @pixelzoom's suggestion to keep tandem in the options for this one, and I implemented the dispose function even though it isn't used yet, just so it's there. Would one of you take another look? I'll assign both of you just so all are aware of the changes.

In MenuItem I made tandem a required argument. No matter what we choose, I think that it should be consistent across these

[2017-02-28 20:24] pixelzoom commented on #394
Regarding whether to provide the tandem via a constructor parameter or option... If you're instrumenting a piece of common code that is used _exclusively_ by other common code that is also instrumented, then the tandem can be a required argument.  But if you're instrumenting a piece of code that is used (or potentially usable) by client code, then the tandem must be an option.

For example, `joist

[2017-02-28 20:25] pixelzoom commented on #393
As mentioned in https://github.com/phetsims/joist/issues/394#issuecomment-283150742:

[2017-02-28 21:50] zepumph commented on #394
I fully agree with you, all great thoughts. For MenuItem I will move it to sun and tandem will be an option.

I will move Barrier Rectangle to scenery-phet ( I have no idea/opinion about why these two would be in separate repos, but it's easy to move, so we will just go ahead and start there. I will also make the tandem an option.

@pixelzoom thank you so kindly for all of your guidance.

[2017-02-28 21:51] zepumph commented on #393
From https://github.com/phetsims/joist/issues/394#issuecomment-283171458:

[2017-02-28 23:49] zepumph commented on #394
@pixelzoom would you mind taking a final look at this and closing if you think that all is good?

[2017-03-01 19:06] zepumph commented on #349
@samreid let me know if you need help on this.

[2017-03-01 19:12] jonathanolson opened #409 "Prevent negative DTs"
In https://github.com/phetsims/make-a-ten/issues/273, @phet-steele found it looks like leaving Firefox open with the sim (and leaving overnight) will cause an incorrect ordering of dates when re-opening. This means the sim thinks it has gone back in time, stepping the simulation with a negative dt.

This can also be reproduced by stepping the system clock back in time.

Sims are not built to handl

[2017-03-01 19:16] phet-steele commented on #409
@ariel-phet it should be noted that, so far, FF is the only browser that is doing this "naturally". All browsers are affected by the manually adjusting the system clock.

[2017-03-01 19:40] jonathanolson commented on #409
Fix pushed to master, @phet-steele can you test make-a-ten to ensure that this prevents the bug (using the system clock?)

Fuzzing sims with possibly negative timesteps caused assertion errors in the following: atomic-interactions, energy-forms-and-changes, fluid-pressure-and-flow, gene-expression-essentials, make-a-ten, twixt demo (I'm running a longer fuzz dedicated to this to see if it pops up

[2017-03-01 20:10] ariel-phet commented on #409
@jonathanolson I think it would be fine to do a Make-a-Ten maintainence releases (it looks like the credits might need adjusting). But I would just fix in Master and not worry about published sims.

[2017-03-01 20:21] phet-steele commented on #409
Chances are github thinks I'm making this comment before this issue existed (my clock is a few days behind)!

@jonathanolson Make a Ten is fixed in current master. I tested with macOS 10.12.3 Chrome & FF

[2017-03-01 20:54] jonathanolson opened #410 "Error reporting"
It should be potentially possible to detect simulation errors in production sims (same way aqua tests for errors in running built sims), and then send an error report back to phet.colorado.edu.

Thus we could see what types of errors are occurring in the wild (and prioritize bug fixes/maintenance releases based on that). It may also be possible to keep some assertions (if we choose) in some built

[2017-03-01 21:19] jonathanolson commented on #409
Ok, with it fixed I'll plan on tracking make-a-ten maintenance release in https://github.com/phetsims/make-a-ten/issues/273.

[2017-03-01 21:19] #409 closed

[2017-03-01 22:11] zepumph commented on #395
Will you guys take another look at this one too when you can. Thanks.

[2017-03-02 16:58] pixelzoom commented on #394
Minor formatting issues, fixed in above commit. Otherwise looks good. Closing.

[2017-03-02 17:00] pixelzoom commented on #394
Reopening. I noticed that visibility annotations were missing, fixed in above commit. @zepumph feel free to close after reviewing.

[2017-03-02 17:03] pixelzoom commented on #395
A few documentation issues (fixed in above commit), but otherwise looks good. @zepumph feel free to close after reviewing what was missing.

[2017-03-02 17:09] pixelzoom commented on #406
I'm unclear on a viable way to do this.  And now that I've created issues for where this needed to be applied in my sims, I'd like to get it done.  So labeling to (re)discuss at developer meeting.

[2017-03-02 17:11] jonathanolson commented on #406
Thoughts on:

[2017-03-02 17:23] samreid commented on #406
What about only enabling these features if the version contains "-dev" or "-rc"?

[2017-03-02 17:27] samreid commented on #410
How are you envisioning catching the errors?  Wrapping `Sim.step()` phases in try/catch?  What about the startup sequence?  Or is there a cross-cutting way to intercept all errors?

[2017-03-02 17:30] jonathanolson commented on #406
More specific patterns may be helpful, if things like `1.0.0-phetio-rca` could ever be potentially used for an 'RCA' organization, etc.

[2017-03-02 17:34] jonathanolson commented on #410
Yup

Current setup for listeners:
[code]

[2017-03-02 17:43] samreid commented on #406
Perhaps checking if the string endsWith `-dev.[0-9]+` or `-rc.[0-9]+`?

[2017-03-02 18:00] samreid commented on #410
That looks great, I think we should invest in this as an error reporting feature.  Would be good to:

- [ ] name the variables in the callback
- [ ] make sure the callback above works properly across our platforms
- [ ] document the code above
- [ ] why is `window.parent` used for `postMessage`?
- [ ] Is there any other information that should be submitted with the error report?
  - [ ] user agent

[2017-03-02 18:49] jonathanolson commented on #406
That sounds safe enough to me.

[2017-03-02 19:43] pixelzoom commented on #406
3/2/17 dev meeting:
• Parse version identifier for `-dev.[0-9]+` or `-rc.[0-9]+`
• `Sim.isDevVersion` and `Sim.isRCVersion`

[2017-03-02 19:46] pixelzoom commented on #410
Any privacy issues? Is user consent required to report errors back to PhET?

[2017-03-02 19:47] jonathanolson commented on #410
Presumably similar to the current Yotta messages which are sent automatically.

[2017-03-02 19:48] pixelzoom commented on #410
And what is the privacy decision wrt Yotta?

[2017-03-02 19:50] jonathanolson commented on #410
Presumably that it is equivalent to including Google Analytics on pages, which many sites do?

[2017-03-02 19:53] jonathanolson commented on #410
Yes, we definitely wouldn't want to copy/use that ugly code (and that code should be improved).

Ideally we would submit things that would help diagnose problems (user agent and webgl status and things from "report a problem" sound useful, as long as they aren't privacy issues).

Yes, as early as possible would be good.

[2017-03-02 20:10] samreid commented on #410
From the meeting: We shouldn't add any other supplemental information until we have a need for it.  It seems we have a need for startup messages and error messages.  Nothing else at the moment.

[2017-03-02 21:13] jessegreenberg commented on #405
Hmm, nor do I, and I wish I did.  Seems fine to drop.  Actually the block of ```this.accessibleContent = {}```, and will be replaced with the Accessibility mixin in the near future.

[2017-03-02 22:00] jessegreenberg commented on #405
Done above, closing.

[2017-03-02 22:00] #405 closed

[2017-03-03 02:45] pixelzoom commented on #406
We have `SimVersion, but it's used only by `UpdateCheck`.

`Sim` doesn't use `SimVersion`, it stores the version identifier as a string:

[code]

And there are multiple ways of getting the version identifier:

• Global `phet.joist.sim.version`
• Global `phet.chipper.version` if it's a published version (is this true for phet-io?)
• `SimVersion.parse`, as done by UpdateCheck

After discovering that

[2017-03-03 02:51] pixelzoom commented on #406
A side issue here is that I no longer have any faith in the consistency of PhET's version identifier. Imo that is because (a) we haven't evolved the syntax and semantics to accommodate phet-io and (b) we've been publishing things (particularly phet-io) that don't conform to the syntax that we originally agreed on.

[2017-03-03 04:42] samreid commented on #406
I ran Unit rates 1.0.0-dev.64 and saw this in the console:
![image](https://cloud.githubusercontent.com/assets/679486/23538152/53c17090-ff8e-11e6-8fd5-d94382f1fb3c.png)

I tested the production version of Make a Ten and saw:
![image](https://cloud.githubusercontent.com/assets/679486/23538175/71f89aa2-ff8e-11e6-8cb1-ea5b437cc37d.png)

So it seems we cannot use the existence phet.chipper.version to

[2017-03-03 04:54] samreid commented on #406
In https://github.com/phetsims/chipper/issues/507#issuecomment-255193337 we decided to add the phetio string as metadata into the version number.  This conforms to semver as "Additional labels for pre-release and build metadata" and is formalized and documented in getVersionForBrand.js.  Please clarify your specific concerns so we can address or discuss them.

[2017-03-03 17:56] jonathanolson commented on #406
Basically what @samreid said, with the addition that relying the existence of phet.chipper.version sounds very fragile to future changes.

[2017-03-06 23:30] samreid commented on #410
@jonathanolson does this still need to be marked for developer meeting?

[2017-03-07 01:14] jonathanolson commented on #410
Presumably not.

[2017-03-07 22:36] pixelzoom commented on #406
@samreid @jonathanolson So you're OK with having both of these in Sim.js?

[code]

[2017-03-07 22:37] pixelzoom commented on #406
Perhaps there's no need for `this.simVersion` in Sim?  Could just use `this.version`?

[2017-03-07 22:46] pixelzoom commented on #406
... ah, but this functionality really belongs in SimVersion, not in Sim.

[2017-03-07 22:57] pixelzoom commented on #406
Having both `this.version` and `this.simVersion` has a smell to it, can't bring myself to do it.  So I investigated replacing `this.version` with `this.simVersion`.  I immediately ran into 3 sims that are improperly accessing `this.version`, see issues above.

[2017-03-07 23:06] samreid commented on #406
After addressing the 3 issues identified above, let's set up Sim.js so it only has Sim.version and it is of type {SimVersion}.

[2017-03-07 23:06] jonathanolson commented on #406
Having one way to get the version string sounds better.

Sounds nice.

It was public at the time, and sims will need to be able to access the version. Can these usages be refactored?

[2017-03-07 23:07] pixelzoom commented on #406
In https://github.com/phetsims/joist/issues/406#issuecomment-283865364 @samreid said:

• No documentation about version identifier format and semantics in SimVersion (where it presumably belongs).
• Incomplete specification of the version identifier in getVersionForBrand.
• Multiple ways to get the version identifier, including multiple globals.
• Multiple representation of the version identifier

[2017-03-07 23:11] jonathanolson commented on #406
`phet.chipper.version` is also accessed for things like statistics (google-analytics.js), if the version information is being consolidated.

[2017-03-07 23:23] pixelzoom commented on #406
I really don't want to address this version identifier mess.  I'm so tempted just to add this to Sim:

[code]

[2017-03-07 23:26] jonathanolson commented on #406
That looks fine for now. I can potentially tackle the larger version refactoring later at lower priority.

[2017-03-07 23:43] pixelzoom commented on #406
The plan was to do something like this in a sim's *QueryParameter file:

[code]

This is going to work because `phet.joist.sim` doesn't exist yet.  So we can either (a) modify `URQueryParameters.showAnswers` someplace outside of URQueryParameters, or (b) make every site that uses `URQueryParameters.showAnswers` perform the check, e.g.:

[code]

Really don't like either of these options.

[2017-03-09 17:10] pixelzoom opened #411 "clean up version identifier"
This issue was identified while working on https://github.com/phetsims/joist/issues/406.

PhET's version identifier has the following general problems:

• No complete specification of format and semantics (probably belongs in `SimVersion`).
• Multiple incomplete specifications (`SimVersion`, `getVersionForBrand`)
• Multiple ways to get the version identifier (`require('JOIST/packageJSON')`, `phet.

[2017-03-09 17:14] samreid commented on #382
QA testing discovered one problem: https://github.com/phetsims/joist/issues/407

[2017-03-09 17:25] samreid commented on #407
This is very subtle on my MBP, but I can see it.

[2017-03-09 17:50] samreid commented on #407
To get to the same version of the code, I used dependencies.json and grunt --lint=false.  I tried commenting out several CSS parts in joist, but the problem persists.

[2017-03-09 17:57] samreid commented on #411
@ariel-phet recommended @jonathanolson take the lead and @samreid consult with respect to phet-io issues.

[2017-03-09 17:58] pixelzoom commented on #411
@mattpen said that if build-server changes, it could also affect the website.

[2017-03-09 18:09] samreid commented on #407
The problem is that the image changes size.  On the first call, it is 273px wide then after load it is 274px wide.

Adding this code works around the problem:

[code]

[2017-03-09 23:02] #394 closed

[2017-03-09 23:04] #395 closed

[2017-03-09 23:08] zepumph commented on #393
@pixelzoom could you look over this one too. Home stretch.

[2017-03-11 05:55] pixelzoom commented on #393
@zepumph I made one change: renamed `var CHECK_MARK_NODEHolder` to `var checkMarkWrapper`.  The name `CHECK_MARK_NODEHolder` violates PhET (and general) conventions for a var name, it's a weird combination of constant and camel case convention. I get why you named it that.  And I understand that this Node is needed because `CHECK_MARK_NODE` is a constant, and may therefore appear in more than one

[2017-03-13 20:30] samreid opened #412 "Can phetio callbacks be coalesced?"
I saw this code:

[code]

[2017-03-16 18:38] samreid commented on #399
It seems we only need to make maintenance releases for sims with 3 or more screens.  Sims with 1 screen do not need this query parameter.  Sims with 2 screens don't need a comma or decimal (if we disallow teachers being able to reorder the screens).  Here are the published sims with >3 screens:
- [ ] arithmetic
- [ ] balancing-act
- [ ] bending-light
- [ ] build-an-atom
- [ ] energy-skate-park-bas

[2017-03-16 18:57] pixelzoom commented on #399
I suspect that graphing-lines may see a new release branch soon after (or at the same time as) graphing-slope-intercept is published.  This is because some significant  graphing-lines have been addressed while implementing graphing-slope-intercept.

[2017-03-16 18:57] pixelzoom commented on #399
I suspect that graphing-lines may see a new release branch soon after (or at the same time as) graphing-slope-intercept is published.  This is because some significant  graphing-lines issues have been addressed while implementing graphing-slope-intercept.  But maybe that doesn't matter if you're planning to do a batch patch.

[2017-03-16 19:18] zepumph commented on #393
Yeah that makes sense, thanks for the suggestions. Currently I'm going to leave it because it doesn't seem to be hurting much. Thanks for the help. Closing

[2017-03-16 19:18] #393 closed

[2017-03-16 19:42] samreid commented on #408
#407 was attributed to a minor image dimension change.  We can see if an image size problem is causing this issue as well (say, if the image has size 0,0) at the beginning.

[2017-03-16 20:01] samreid commented on #399
Here's a comma delimited list of the sims:

hookes-law,ph-scale,reactants-products-and-leftovers

[2017-03-16 20:10] samreid commented on #399
Here are the joist shas, note they are not too similar:

---------------------
Map for joist

4564645c55c6ce85ccd69de3d17530787ab31bb4
  arithmetic
b72dcd00628c7ab8b59a607e6a4158f6a450ccdc
  balancing-act
ab5582ab6c8d87abb8bcdf947ef8144eb96ea7b6
  bending-light
ecd8d968e09ee1be00a444a261a01d1b391422e2
  build-an-atom
1fad8aae4b45f4afa242dc41d1da96900a622f84
  energy-skate-park-basics
b513b5ee1164a

[2017-03-20 19:27] jessegreenberg opened #413 "Dialog: close button, optional title, layout"
@ariel-phet @emily-phet can we add "Close" buttons to the "About" and "Check for Updates" dialogs?

For a11y, all modal dialogs should have a button that can receive focus when the dialog is opened, and so that the dialog can be dismissed without needing to press "escape".

The close button should not be optional for dialogs, but that part should likely be addressed with #359.

[2017-03-20 19:43] emily-phet commented on #413
@jessegreenberg We should be consistent with the standards here. If the standards say a close button is needed, we should have this. No reason to get too creative for a simple dialog!

[2017-03-20 20:21] ariel-phet commented on #413
@jessegreenberg I see no issue with that, agreed that it can just be added as a requirement to #359

[2017-03-20 20:33] jessegreenberg commented on #413
Thanks @emily-phet and @ariel-phet, I will add a close button to these dialogs.

[2017-03-21 21:17] jessegreenberg opened #414 "Dialog"
@phet-steele showed me that many Dialog's are throwing an assertion that the dialog is trying to remove an accessibility listener that ins't in the list of listeners when the dialog is hidden.

The accessibility listeners were adaded in the Dialog constructor.  Since Dialog's are essentially disposed when hidden, we need to add the accessibility listeners when the Dialog is shown. (The update layo

[2017-03-21 21:18] jessegreenberg opened #415 "Dialogs can remove accessibility listeners twice"
@phet-steele showed me that many Dialog's are throwing an assertion that the dialog is trying to remove an accessibility listener that ins't in the list of listeners when the dialog is hidden.

The accessibility listeners were adaded in the Dialog constructor.  Since Dialog's are essentially disposed when hidden, we need to add the accessibility listeners when the Dialog is shown. (The update layo

[2017-03-21 21:53] phet-steele commented on #415
Example error from GAO:
[code]

[2017-03-21 21:57] jessegreenberg commented on #415
Thanks @phet-steele, should be fixed in the above commit. closing, but let me know if you still run into this.

[2017-03-21 21:57] #415 closed

[2017-03-23 03:29] mattpen commented on #349
@samreid - Please reassign me if there's anything else I can help out with.

[2017-03-23 15:49] jessegreenberg commented on #414
Weird, this is a duplicate of #415? No idea why this issue was created, but #415 is fixed, so this can be closed.

[2017-03-23 15:49] #414 closed

[2017-04-03 19:15] phet-steele commented on #234
I encountered a new symptom after updating to iOS 10.3.1 (it's possible this was occurring before this update, but I never noticed).

1. DO THIS FIRST Open two tabs in mobile Safari
2. In one of them, load a sim
3. Close the other tab without a sim

The sim will not resize, evidenced by the navbar moving up from the bottom. No amount of refreshing the sim will fix this.

![img_0082](https://cloud.

[2017-04-04 20:02] phet-steele commented on #413
@jessegreenberg (all) PhET-iO sims are failing automated testing with this button, here is an example error from CAF:

[code]

[2017-04-04 22:23] pixelzoom opened #416 "OptionsDialog fails stringTest"
There is currently no `maxWidth` on the title of this dialog.   For example in Molecule Polarity with `?stringTest=long`:

![screenshot_324](https://cloud.githubusercontent.com/assets/3046552/24681548/f8896bf4-1952-11e7-8807-3d3eb63c07d2.png)

[2017-04-04 22:25] pixelzoom commented on #416
The sims that use OptionsDialog are:

charges-and-fields
gravity-and-orbits
molecule-shapes @jonathanolson
rutherford-scattering
states-of-matter @jbphet

[2017-04-04 22:30] pixelzoom commented on #416
Fixed in above commit.  Default title now has `maxWidth:400`.   You're still free to substitute your own title with its own `maxWidth`.

[2017-04-04 22:30] #416 closed

[2017-04-04 23:01] jessegreenberg commented on #413
Thanks @phet-steele. In the above commit, we remove the tandem instance from the close button when disposed, phet-io tests are passing.

[2017-04-04 23:57] jessegreenberg commented on #413
Ok, NOW it is fixed.

[2017-04-06 08:40] jonathanolson commented on #399
These should be patched in the maintenance release referenced at https://github.com/phetsims/joist/issues/399.

[2017-04-12 20:28] pixelzoom commented on #406
I need feedback from other developers on this to proceed, so labeling for developer meeting.   In https://github.com/phetsims/joist/issues/406#issuecomment-284897888, do you prefer option (a) or (b)?  Or do you have a better idea?

[2017-04-12 20:36] pixelzoom commented on #406
The current scheme for phetio version identifiers breaks the detection function that we approved in https://github.com/phetsims/joist/issues/406#issuecomment-284893658.   E.g. `1.0.0-phetiodev.1` will not be recognized as a dev version.

[2017-04-12 20:40] samreid commented on #406
Agreed, it looks like those regular expressions don’t support the current versioning scheme for phet-io sims.

[2017-04-12 21:01] samreid commented on #406
This idea is half-baked, but I wanted to pitch in for brainstorming:

[code]

Query String Machine could ignore entries with the `ignored` attribute set to true, and we could make a version object available during startup (possibly as a chipper global).

[2017-04-12 21:06] pixelzoom commented on #406
I think that's preferable to parsing the version identifier - which (as noted in #411) is something that clients should not be doing directly.

[2017-04-13 16:02] jonathanolson commented on #406
At what point in sim execution is phet.chipper.version.production required to be initialized? Looks like in the preloads before initialize-globals?

[2017-04-13 16:06] pixelzoom commented on #406
If it's going to be used by QueryStringMachine, then yes, it needs to happen either before  initialize-globals.js, or in initialize-globals.js before requiring query parameters.

[2017-04-13 19:13] pixelzoom commented on #406
4/13/17 dev consensus:

Punt on this until version id issues are resolved, specifically:
https://github.com/phetsims/joist/issues/411
https://github.com/phetsims/chipper/issues/560

Deferring and unassigning until then.

[2017-04-21 16:48] samreid opened #417 "branch: legends-of-learning"
to support https://github.com/phetsims/special-ops/issues/70

[2017-04-25 14:48] pixelzoom commented on #413
@jessegreenberg Where you aware of the problems with joist.Dialog close button? See https://github.com/phetsims/joist/issues/346.

Since you've added the close button to the About dialog, it now overlaps the title for some sims, with `?brand=adapted-from-phet` (the default).  See screenshot below.  Perhaps this isn't a big deal since we don't publish `adapted-from-phet`.   But I wanted you to be a

[2017-04-25 14:48] pixelzoom commented on #346
A close button on dialogs is apparently required for a11y standards, see https://github.com/phetsims/joist/issues/413.  Raising the priority of this issue.

[2017-04-25 14:50] pixelzoom commented on #359
Raising priority and labeling for developer meeting.  I've encounter dialog issue in projectile-motion and a11y this week.  Dialogs are obviously an important part of the PhET UI toolkit, and there has been little-to-no progress in the 7 months since this issue was opened.

[2017-04-25 14:52] pixelzoom commented on #359
Keeping the "meeting:design" label here too, since it appears that design may have stalled out (see https://github.com/phetsims/joist/issues/359#issuecomment-265519415).  @ariel-phet @amanda-phet What needs to be done to finish design?

[2017-04-25 14:54] pixelzoom commented on #346
This got moved to #413, but has not been addressed. Reopening because the "closed" state gives the illusion that this was fixed, and it is not.

[2017-04-25 14:56] pixelzoom commented on #291
This got moved to #359, but has not been addressed. Reopening because the "closed" state gives the illusion that this was fixed, and it is not.

[2017-04-25 14:56] pixelzoom commented on #292
This got moved to #359, but has not been addressed. Reopening because the "closed" state gives the illusion that this was fixed, and it is not.

[2017-04-25 14:57] pixelzoom commented on #315
This got moved to #359, but has not been addressed. Reopening because the "closed" state gives the illusion that this was addressed, and it is not.

[2017-04-25 14:57] pixelzoom commented on #341
This got moved to #359, but has not been addressed. Reopening because the "closed" state gives the illusion that this was addressed, and it is not.

[2017-04-25 14:58] jessegreenberg commented on #413
Thanks @pixelzoom, I will take a look at this.

[2017-04-25 14:59] pixelzoom commented on #359
Looking through the related issues in https://github.com/phetsims/joist/issues/359#issuecomment-249622050.... 1 of 10 issues have been addressed.  And the 1 addressed (#289) was addressed by deleting unused code - hardly an improvement to Dialog.

[2017-04-25 15:33] pixelzoom commented on #359
Apparently having a close button on dialogs is important for a11y, see  https://github.com/phetsims/joist/issues/413#issuecomment-287875311. Have we considered this during dialog design?  If a close button is needed for a11y, is there any reason for a close button to be optional, or at least the default?

[2017-04-25 15:37] pixelzoom commented on #413
@jessegreenberg @ariel-phet If a close button is indeed necessary for a11y, then someone might want to take a look at all PhET sims, to see how many have dialogs without close buttons.  By default, `joist.Dialog` does _not_ have a close button (`hasCloseButton: false`).  And adding a close button in some sims won't be as easy as just changing `hasCloseButton`.   Some sims (e.g. unit-rates) don't u

[2017-04-27 03:23] pixelzoom commented on #70
@jonathanolson Now that we have an API for canceling interactions... Your thoughts on how to cancel interactions when switching screens?  It seems like this is something that should be handled automatically in joist, whenever screen selection changes.

[2017-04-27 13:46] samreid commented on #70
I wonder if it should be even more general and handled in scenery.  Something like "when a node is no longer in the scene graph, interaction is automatically cancelled".  Not sure if we would need to expand this to "no longer in the scene graph or visible".

[2017-04-27 16:47] jonathanolson commented on #70
Yes, presumably Joist would call interruptSubtreeInput on the screenView and any listeners using this (https://github.com/phetsims/scenery/issues/131) would handle it properly.

[2017-04-27 17:04] jonathanolson commented on #70
I had thought about that, but was concerned enough about when children of a node is changed, it triggers removal of everything and then adds everything (potentially adding nodes back), and figured that would break things.

[2017-04-27 17:34] samreid commented on #70
OK it sounds good to have explicit triggers for breaking interaction, but we should make sure it is general and flexible so it works for screens/scenes or other types of modal behavior.

[2017-04-27 17:46] pixelzoom opened #418 "add activeProperty to Screen"
Suggested by @jonathanolson at 4/27/16 dev meeting:

Add `isActiveProperty` to Screen, would be useful for clients.

[2017-04-27 17:48] samreid commented on #70
@jonathanolson and @pixelzoom will talk about this.

[2017-04-27 17:48] pixelzoom commented on #70
4/27/17 dev meeting: @jonathanolson and I will talk about ways to do this.

[2017-04-27 18:04] pixelzoom commented on #359
4/27/17 dev meeting:  @jessegreenberg will pick this up.

[2017-04-27 23:12] pixelzoom commented on #418
Reminder to instrument `Screen.isActiveProperty` for PhET-iO.

[2017-04-28 21:13] pixelzoom commented on #418
Skype discussion about desired behavior of isActiveProperty:

[4/28/17, 2:29:12 PM] Chris Malley: I was thinking after.
[4/28/17, 2:29:42 PM] Sam Reid: It should become active right before becoming visible
[4/28/17, 2:29:58 PM] Sam Reid: and after becoming invisible it should become inactive
[4/28/17, 2:30:01 PM] Jonathan Olson: No strong preference
[4/28/17, 2:30:13 PM] Chris Malley: what SR desc

[2017-04-28 21:21] pixelzoom commented on #418
I thought this was going to be easy.  But after spending over an hour on it, I give up. Sim.js is a bloated fragile mess.  Trying to get the desired behavior of isActiveProperty at startup is unnecessarily complicated because Screens are all visible when initialized.  I had to touch too many things, and things started breaking.

[2017-04-28 22:06] pixelzoom commented on #418
I took another stab at it, pushed above.

In Screen, there are 3 notable changes:

(1) Added `isActiveProperty`
(2) Added `assert` to verify that `isActiveProperty` doesn't change while the Screen is visible
(3) In `initializeView`, made the view invisible immediate after `createView` is called, and before it's added to the scenegraph

In Sim, all changes are in the function passed to `Property.mu

[2017-04-28 22:15] pixelzoom commented on #418
I added PhET-iO instrumentation to Screen.isActiveProperty:

[code]

I attempted to test in BLL instance-proxies:

![screenshot_19](https://cloud.githubusercontent.com/assets/3046552/25549193/bdcc3350-2c2d-11e7-89c7-691a26531e50.png)

When I toggle the "selected" check box, I see in the console:

[code]

The problem here is that we're attempting to change `isActiveProperty` while the Screen is vis

[2017-04-28 22:18] samreid commented on #418
Yes, it seems like an implementation detail that should either

(a) not be instrumented

or

(b) have clear documentation that it is for observing only and not for setting (like a derived property.) . We have a few other properties like this in other sims, see `phetioInstanceDocumentation`.

Since I can envision clients that may want to detect when screens are active, I'm leaning toward (b).  Thou

[2017-04-28 22:20] pixelzoom commented on #418
Ah... I just removed the instrumentation.  I'll restore it and figure out how to add `phetioInstanceDocumentation`.

[2017-04-28 22:24] pixelzoom commented on #418
Instrumentation restored, `phetioInstanceDocumentation` added:

[code]

instance-proxies still provides a "selected" checkbox that's editable.

[2017-04-28 22:35] samreid commented on #418
I added this test harness:

[code]

And saw the printouts are correct for a 1-screen sim and a multi-screen sim. In the latter case, I saw:

[code]

Changes in Sim.js and Screen.js look good.  I also tested BLL with ?screens=1 and it worked as expected.

But I'm wondering how a screen model or view would get access to this new property?  We should probably pass it through as an option to `createMo

[2017-04-28 22:44] pixelzoom commented on #418
It's `@public`.  After calling `Screen.call`, any Screen subtype has access to it.

[2017-04-28 22:44] pixelzoom commented on #418
Ah, I see... How to pass it to the view and model, since their instantiation is deferred.

[2017-04-28 22:47] pixelzoom commented on #418
It should probably be an argument to `createModel` and `createView`, not an option.  Then the questions are (1) how to propagate it to the instances created by those functions, and (2) whether to propagate it all the way to ScreenView.

[2017-04-28 22:49] pixelzoom commented on #418
I'm starting to question whether we should bail on this entire feature.

[2017-04-28 22:54] samreid commented on #418
The reason I suggested it should be an option (passed like `{isScreenActiveProperty:...}`) to createModel and createView is so that, if we later add other parameters, the order won't seem odd, and clients that don't need the 1st arg can use the other args easily (without exposing unused 1st arg).

[2017-04-28 23:00] pixelzoom commented on #418
What about propagation to ScreenView?  It's not needed currently, but might be the right thing to do now? If we do propagate, then we'll need to touch every ScreenView subtype (133 occurrences of `var ScreenView`), or default `options.isActiveProperty` to `null` in ScreenView.

[2017-04-28 23:21] samreid commented on #418
I don't think it's necessary to pass to ScreenView.  I'm picturing something like ConcentrationScreen.js looking like this:

[code]

That way each view can use it as desired or not at all--there would be no need to pass it through to ScreenView.

[2017-05-01 15:56] pixelzoom commented on #418
I've renamed `isActiveProperty` to `activeProperty`.  This seems more consistent with other `{Property.<boolean>}` fields used throughout common code.  E.g. enabledProperty, onProperty, Sim.activeProperty.

[2017-05-01 16:10] pixelzoom commented on #418
Example usage in example-sim.ExampleScreen (not committed):

[code]

... then modify ExampleModel and ExampleScreenView constructors accordingly.

[2017-05-01 16:13] pixelzoom commented on #418
The part that feels a little incorrect about this converting an option to a required function arg to the `createModel` and `createView` functions.  E.g. the above `createModel` function:

[code]

`options` is not really optional here, since it's required to correctly call `createModel` and `createView`.

Back to @samreid for comment.

[2017-05-01 16:15] pixelzoom commented on #418
So I guess my preference would be to pass `activeProperty` to `createModel` and `createView` as a required parameter, like:

[code]

[2017-05-01 16:22] samreid commented on #418
My concern about making it a required parameter, is that I suspect within the next year we'll be adding another argument.  Then many applications won't be using the first argument and usages will look like this:

[code]

It makes sense to me that `options` is sometimes required to make things behave properly.  For instance to make a red button, passing in `fill:red` is not optional.  Another possi

[2017-05-01 16:24] pixelzoom commented on #418
I would be more comfortable with:

[code]

... where it's up to `ExampleModel` and `ExampleScreenView` to unpack the options and decide whether to use `activeProperty`?

[2017-05-01 16:27] samreid commented on #418
How about instead of cherry picking options, we pass the entire `Screen` and it is up to the model and view creation functions to choose what they need?

[code]

This will provide the cleanest decoupling from the model/view and screen, while still being very general.

[2017-05-01 16:31] pixelzoom commented on #418
I kind of like this. But if we're passing the Screen, then the `model` argument to `createView` is unnecessary.

[2017-05-01 16:33] pixelzoom commented on #418
I'm also concerned that this will encourage people to write code that _increases_ coupling to the Screen, e.g.:

[code]

The `Screen` should definitely _not_ be passed to the model and view constructors.

[2017-05-01 16:36] samreid commented on #418
To clarify, you are saying we would use `screen.model` instead of just `model`.  That seems reasonable.

True, we would need to add a code review checklist item to make sure that doesn't happen.

Also, something that smells fishy is that this code is often *already* in a Screen declaration.  For instance, in ConcentrationScreen, we have

[code]

We already have the context of the screen by using `

[2017-05-01 16:37] pixelzoom commented on #418
Ah yes, we could just rely on a closure to pass args to model and view constructors.

[2017-05-01 16:40] pixelzoom commented on #418
I verified that this works just fine:

[code]

@samreid OK with this solution?

[2017-05-01 16:41] samreid commented on #418
Yes, looks good.

[2017-05-01 16:43] #418 closed

[2017-05-01 16:57] jessegreenberg commented on #140
Reopening.  There is a bug with VoiceOver in Safari that causes the virtual cursor to move to the heartbeat div when the innerHTML changes.  Found in phetsims/john-travoltage#235.

Adding ```hidden``` to the div seems to fix the problem.  But maybe the heartbeat div is not necessary any more.  I will try removing the div and will see if the problem is still there on PhET's supported iOS/macOS devi

[2017-05-01 17:16] jessegreenberg commented on #140
Supported apple products as of 5/1/17

- [ ] iOS 9.3.5 + Safari
- [ ] iOS 10.0.1 + Safari
- [ ] MacOS 10.9.5 + Safari
- [ ] MacOS 10.10.5 + Safari
- [ ] MacOS 10.11.6 + Safari
- [ ] MacOS 10.12 + Safari

A check means it was tested without the heartbeat div and did not exhibit this issue.

[2017-05-01 17:34] jessegreenberg commented on #140
This is still a problem in MacOS 10.12.5 beta fora  build version of graphing-lines.  So the element cannot be removed.  What if we add ```hidden``` to it?

[2017-05-01 17:45] jessegreenberg commented on #140
When ```hidden``` is added the bug is still there, tested in build version of graphing lines.

[2017-05-01 17:47] samreid commented on #140
Sanity check: test on MacOS 10.12.5 beta with the heartbeat div but without hidden and confirm the sim doesn't fall asleep. (maybe they worked around our hack).

[2017-05-01 17:53] jessegreenberg commented on #140
Good idea, just tried a built version of graphing-lines on 10.12.5 beta and this issue is not there, so the heartbeat div is still working as intended.

[2017-05-01 17:54] jessegreenberg commented on #140
```tabindex=-1``` might also prevent virtual focus from moving to this element?

[2017-05-01 18:03] jessegreenberg commented on #140
Problem is still there with tabindex="-1".  When the heartbeat div looks like

[code]

The virtual cursor will move onto the number.

[2017-05-01 18:13] jessegreenberg commented on #140
When a child of the sim div instead of the body, VoiceOver + Safari no longer has a problem with virtual focus.  Can we move the heartbeat div into the body? I'll test to make sure it works under the sim div.

[2017-05-01 18:27] jessegreenberg commented on #140
When in the body, the heartbeat div is working as desired.  I will now test with this change since it works with VoiceOver too.

Supported Apple platforms as of 5/1/17

 - [ ] iOS 9.3.5 + Safari
 - [ ] iOS 10.0.1 + Safari
 - [ ] MacOS 10.9.5 + Safari
 - [ ] MacOS 10.10.5 + Safari
 - [ ] MacOS 10.11.6 + Safari
 - [ ] MacOS 10.12 + Safari

A check means it was tested without the heartbeat div moved

[2017-05-01 18:56] jonathanolson commented on #140
Sounds like a nice solution.

[2017-05-01 19:15] jessegreenberg commented on #140
I tested on the checked platforms above, couldn't locate the other devices. But this seems very safe.  Given @jonathanolson's comment https://github.com/phetsims/joist/issues/140#issuecomment-298402353 I am going to add some documentation and close.

[2017-05-01 19:52] jessegreenberg commented on #140
Done in the above commit, closing again.

[2017-05-01 21:01] jessegreenberg opened #419 "[Chrome] focus doesn't go back to KeyboardHelpButton when help dialog closes"
This is a chrome specific issue.

[2017-05-01 21:04] jessegreenberg commented on #419
Chrome blurs an element before it is ```hidden```, which makes sense.  Above commit fixes the issue.  Closing.

[2017-05-01 21:04] #419 closed

[2017-05-04 17:13] samreid opened #420 "Standardize a PhET postMessage API"
@pixelzoom pointed out that it is not scalable for us to build micro-APIs for different groups including but not limited to BrainPOP and Legends of Learning, and that it may be better for us to decide on the API we prefer and make it available to 3rd parties.  We could ask if 3rd parties change their API calls to match ours, but where 3rd parties cannot change their API calls, we could provide a i

[2017-05-04 19:14] pixelzoom commented on #420
5/4/17: Deferred to 5/11/17 developer meeting

[2017-05-08 15:39] samreid commented on #130
It looks like this review checkbox was added February 2016 and color vision does not include this fix, see https://github.com/phetsims/color-vision/issues/115 . For color vision, it looks like the code review https://github.com/phetsims/color-vision/issues/32 was completed in 2014, so the code review predates the change to the review process.

@ariel-phet @kathy-phet would you like to proactively

[2017-05-08 15:42] samreid commented on #130
After reviewing Color Vision, I'm somewhat inclined to solve this in Joist, because Color Vision has 4 `step` callbacks (out of 6 `step` implementations) and it would be better not to have to cap DT in each of them--would be better to centralize at the call site.

[2017-05-08 15:44] jonathanolson commented on #130
Like having a default maximum timestep, but the ability to override it (or have no maximum)?

[2017-05-08 15:48] samreid commented on #130
Yes, exactly, and it would be supported in Sim.options

[2017-05-08 15:56] pixelzoom commented on #130
+1 for having a default maximum timestep, which can be overridden in Sim.options.  There should be some value that means "no maximum tilmestep".

[2017-05-08 16:00] samreid commented on #130
Sounds good.  For Color Vision, I have made a sim-specific workaround commit that will allow us to proceed immediately with simple maintenance releases, then we can address this larger issue without being rushed.

[2017-05-08 16:05] pixelzoom commented on #130
On second thought... Is Sim.options the right place for this?  What if each screen has different requirements for the dt cap?

[2017-05-08 16:07] pixelzoom commented on #130
Or what if a screen's model and view have different requirements for the dt cap?

[2017-05-08 16:09] pixelzoom commented on #130
Also wondering how this cap affects tween?

[2017-05-08 16:10] samreid commented on #130
Good point! Sim.js may not be the right level for an option/default cap.

[2017-05-08 16:20] pixelzoom commented on #130
More thoughts...

Perhaps Sim `options.dtCap`  would be useful if it defaults to "no cap"? Clients that want a single cap that applies uniformly to model/view/tween can then use `options.dtCap`.

It's not currently possible to cap the dt provided to tween (see Sim.js, line 787). This is yet-another deficiency in how we're treating tween animations.

Should `ScreenView` have `options.dtCap` and a d

[2017-05-09 19:08] ariel-phet commented on #359
@jessegreenberg just a note - I know you are a bit "under the gun" with publishing JT. However, this work would be good to get some momentum on once accessible JT is published.

[2017-05-09 23:17] jessegreenberg commented on #359
@ariel-phet Understood!

[2017-05-10 22:44] jbphet commented on #402
I think I recall that this was merged with master.  GitHub says that it is 177 commits behind master.  Can this branch be removed and the issue closed?

[2017-05-10 23:16] jbphet opened #421 "Can we add a Property to track whether the sim is visible?"
In https://github.com/phetsims/joist/issues/418, a Property was added to the `Screen` type that monitors whether or not that screen is active.  While working on sonfication, a need has come up where continuously generated sounds need to be turned off when the browser tab containing the simulation is hidden.  I added a bit of experimental code that works for this, and was wondering if it should be

[2017-05-10 23:30] samreid commented on #421
It sounds to me like you are barking up the right tree.

[2017-05-11 04:56] jonathanolson commented on #402
Deleted, thanks for noticing.

[2017-05-11 17:27] samreid commented on #130
Proposed solution at the top of stepSimulation:

[code]

[2017-05-11 17:30] samreid commented on #130
@jonathanolson says: sometimes I need the ability to decouple things.

[2017-05-11 17:32] samreid commented on #130
@jbphet says a default of 500ms sounds OK.

[2017-05-11 17:35] samreid commented on #130
@jonathanolson recommends a default cap.

@pixelzoom is on the fence.

Let's try it out and see how it goes.

Volunteers: @pixelzoom got volunteered :)

[2017-05-11 17:37] samreid commented on #130
@pixelzoom and @Denz1994 can take a look.  We are considering `null` to mean "no cap"

[2017-05-11 18:20] samreid commented on #420
@ariel-phet points out that it would be nice to have a larger meeting about what features would be supported by this API before deciding what the details of the API would be.

[2017-05-11 18:40] samreid commented on #421
@ariel-phet points out that by default browsers leave audio on for inactive tabs.  @jbphet will ask at the upcoming sonification meeting what the desired behavior is.

But if we are capping dt, then it could be confusing for the sim to continue making audio while the model is not running.  For instance, in FAMB it could "sound like" the skater went many miles, but when you tab back you can see the

[2017-05-11 18:41] samreid commented on #421
@samreid suggested a specific new axon property `browserTabVisibleProperty` in Sim.js, which could be used for this (if we proceed).

[2017-05-11 18:43] samreid commented on #421
There is general agreement that a new Axon property would be the right way to do this.

[2017-05-12 17:51] jbphet commented on #421
The sonfication behavior was discussed in the 5/12/2017 Sonification Design Meeting, and it was decided that continuous sounds should stop playing when a sim is hidden.  So, there is at least one use case where this will be needed soon.  I will move forward with the implementation.

[2017-05-12 20:37] samreid commented on #420
Some features the API may need:

* pause/resume
* simulation started
* get screenshot

[2017-05-12 20:56] samreid commented on #420
A snippet from my email to Legends of Learning:

Regarding Kathy's point about PhET making our own API.  It is something we are investigating and meeting about in a couple of weeks.  We may go with a general pattern like message: {command:string, arguments:object[], protocol:string} so that it can scale up to more powerful messages and also make sure to deal with clients with the compatible protoc

[2017-05-12 20:59] samreid commented on #420
It may be better to separate instance and command:

{instance:'phet.joist.sim',method:'setActive',arguments:[false],protocol:'1.0.0-phet'}

Note I have also changed the protocol value to include the word "phet" so it is clear this message was intended for the sim.  This could also be done in the key instead of value (not sure what is better).

[2017-05-15 16:20] pixelzoom commented on #130
The `dt` parameter to Sim `stepSimulation` is in seconds.  So I'm going to make Screen's `options.maxDT` also be in seconds.  The consensus was 500 ms, so the default will be `maxDT: 0.5`.

[2017-05-15 16:31] pixelzoom commented on #130
In https://github.com/phetsims/joist/issues/130#issuecomment-300859793, @samreid proposed putting this "at the top of stepSimulation":

[code]

It can't be put at the top, because `screen` isn't defined until much later, and it's only defined if the screen is active.   But `dt` is used to compute `phet.joist.elapsedTime`.   So it seems like both the dt cap and the computation of `phet.joist.elapse

[2017-05-15 16:34] pixelzoom commented on #130
@Denz1994 Unfortunately this isn't going to be straightforward.  It's going to proceed in tiny increments, as I have time to sort this out.   So I don't think this is something that's appropriate for us to collaborate on.

[2017-05-15 16:35] Denz1994 commented on #130
I understand and am actively following the feed. If I have any questions can I post them here?

[2017-05-15 17:16] pixelzoom commented on #130
Of course. That goes without saying for any issue.

[2017-05-18 20:38] zepumph opened #422 "AboutDialog is handled differently than OptionsDialog"
Right now in phetmenu, a new AboutDialog is created and shown every time the button is pressed. This works well for the way that Dialog.js works. Dialog.hide()` calls disposeDialog(), so hide() is really a dispose call. This doesn't really make sense, and it is confusing. So confusing that OptionsDialog is violating the assumption that hide === dispose. See here in PhetMenu:

[code]
As seen this i

[2017-05-18 20:42] zepumph commented on #422
To be more specific about the curve-fitting, here is an image of how the Dialog is being is used, and I get an error if I dispose it again (close it twice).
![image](https://cloud.githubusercontent.com/assets/6856943/26222697/3edaad50-3bd8-11e7-8d0d-bcf4fe7473d7.png)

[2017-05-18 21:42] zepumph commented on #422
So I went through and made it so that these dialogs are created new each time they are shown, and adapted the documentation. 75% of dialogs in the project were already doing this.

I still think there needs to be more done with this issue though. To me there is a problem in having the `hide()` function call the `dispose()` function, especially with no documentation. I added documentation to Dialog

[2017-05-19 16:05] pixelzoom commented on #422
@zepumph said:

I agree, this is a problem. It make it impossible to hide/show one instance of a Dialog. It's also problematic if the client calls `dispose` directly while the Dialog is visible. `hide` and `dispose` should be decoupled, and clients should explicitly them explicitly (as applicable), and calling `dispose` on a visible dialog should probably fail an assertion.

[2017-05-19 19:31] phet-steele commented on #422
@zepumph this fix does not quite work for phet-io. Here is what happens in charges-and-fields when attempting to open the options dialog twice:

[code]

[2017-05-19 20:43] jbphet commented on #421
Implemented, assigning to @samreid to review.  I tried to match style of `Sim.js`, but feel free to move things around if doing so would be more consistent with the spirit of this file.

[2017-05-19 21:34] zepumph commented on #422
I think that will fix it, I implemented hide in the optionsDialog that removedInstance on the tandem there. Thanks @phet-steele for the heads up. I don't have time to do this right now, but it seems like @pixelzoom agrees that it would be good to overhaul the way that Dialog.hide() and Dialog.dispose() works. We are going out of town for the next few weeks, but I will bring it up at dev meeting af

[2017-05-22 15:14] samreid commented on #421
The implementation in Joist looks like it works properly.  I would recommend to take it one step further and change the API to match the page visibility API specs.  https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API

For instance, the proposed joist implementation currently checks `document.visibilityState === 'visible'`, but there are other states we may want to eventually suppo

[2017-05-25 22:54] jessegreenberg commented on #359
@ariel-phet it looks like the last design meeting generated some design questions that haven't been answered yet.

• How is movability of a dialog made accessible?
• How are dialogs constrained to the browser window?
• When the browser window is resized, are dialogs that would become "offscreen" moved?
• Can dialogs overlap the navigation bar, or are they constrained to the ScreenView?
• Separate

[2017-05-25 22:58] jessegreenberg commented on #359
For a11y, if focus enters a Dialog, it should also pop to the front.

For the close button:

It could be, but blue is not the standard focus highlight color for PhET.

[2017-05-25 23:10] jessegreenberg commented on #359
Do we want any non-modal Dialogs that will stay visible over multiple screens or will all non-modal dialogs be screen specific?

[2017-05-25 23:23] jessegreenberg commented on #359
I didn't see it in the design doc, but it was mentioned that the implementation should generally support more than Dialogs - pop ups, combo boxes and such could generally leverage this.

[2017-05-26 16:33] jessegreenberg commented on #359
I did some searching and asked the IDRC in a meeting about non-modal dialogs.  We found these examples:
https://jqueryui.com/dialog/#modal-confirmation
http://accessibility.athena-ict.com/aria/examples/bubbledialog.shtml

These two examples don't support dragging or resizing the dialog with the keyboard.

[2017-05-26 23:51] jbphet commented on #421
@samreid said:

I feel like this would essentially cause leakage of the specifics of the Page Visibility API into our sim code, and this seems of questionable value to me.  According to https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API, browser support for the states `prerender` and `unloaded` are optional.  That means the only states that we can trust are `visible` and `hidden`

[2017-05-27 21:24] samreid commented on #420
@jessegreenberg and I wrote a 1st draft of a public postmessage API.  However, it seems we will be unable to use our proposed thin-wrapper-adapter solution (or at least it will be awkward to use it) for Legends of Learning because they require a single-file submission.

[2017-05-27 21:27] samreid commented on #420
Also, whatever solution we implement here, we should rewrite the snapthought api (currently in sherpa I believe) with it.

[2017-05-28 03:03] samreid opened #423 "Add support for Legends of Learning API"
We would like to add support for the Legends of Learning platform.

[2017-05-28 03:05] samreid commented on #423
@jessegreenberg and I experimented with using a standardized PhET postMessage API for doing this in #420 but since Legends of Learning requires a single-file solution, it seems we won't be able to use an iframe adapter to make that work.  @jonathanolson helped us try out making a sim iframe data base64 but it was laggy and buggy.

So I think we should investigate another way of adding support for

[2017-05-28 03:06] samreid commented on #420
By the way, @jessegreenberg commits above are in the legend-of-learning branch.  They should be moved to another branch so they are not lost when legends-of-learning branch is pruned.

[2017-05-28 03:08] samreid commented on #423
I have a proposed implementation for this, but it relies on (a) putting hooks in Sim.js in 2 spots, and chipper using Query String Machine.  It may not be able to cherry pick into all legacy branches for maintenance releases.

[2017-05-28 03:28] samreid commented on #423
OK I made commits to master to support Legends of Learning messages, trying to remain as decoupled as possible but still satisfy the constraint of having a single build and one-file solution.  It is not too different from our strategy for game up camera.

@jessegreenberg can you please review these joist changes?

[2017-05-30 15:35] ariel-phet commented on #359
@jessegreenberg please find a time to discuss open questions with @amanda-phet and then we can schedule time at a design meeting as needed.

[2017-05-30 17:56] jessegreenberg commented on #423
The nice thing about a standardized postMessage API was that Sim.js didn't need any hooks that were specific to a third party.  @samreid what do you think about changing to something like https://github.com/phetsims/chipper/commit/c4c0850781639c3e0f0b441984317dadbd9024f3 and https://github.com/phetsims/joist/commit/d626170c4b990f6513974a4f2c3adc7429d2420b , where ThirdPartySupport.js will delegate

[2017-06-01 02:53] samreid commented on #423
I see where you are going with this, but am wondering if there would be cases where 3rd party hooks shouldn't be mutually exclusive.  We could have something like ThirdPartySupport.js and it would just iterates through the list:

[code]

[2017-06-01 17:33] jessegreenberg commented on #423
Yes, that makes sense.  @samreid also pointed out that the lookup using ThirdPartySupport makes it much less clear when trying to understand where the third party hooks are. The recommendation in https://github.com/phetsims/joist/issues/423#issuecomment-305375062 is clean.  I will revert to the strategy in https://github.com/phetsims/joist/issues/423#issuecomment-304490286.

[2017-06-01 22:28] jessegreenberg commented on #423
I reverted the changes for third party support so we are back to https://github.com/phetsims/joist/issues/423#issuecomment-304490286.  @samreid is there anything else to do for this issue?

[2017-06-02 14:54] samreid commented on #421
Since prerender and unloaded are currently optional, it seems unlikely that we will use them (at least in the near future).  So perhaps your recommendation would be best.  Still, I think it would be good to have @pixelzoom or @jonathanolson give their opinion before we proceed.

[2017-06-02 15:45] jbphet commented on #421
Unassigning myself for now. @jonathanolson and @pixelzoom - please assign back to me once you've both weighed it.  I'll set a calendar reminder to check in on this in two weeks.

[2017-06-02 18:35] jonathanolson commented on #421
To me, the best first thing would be to have a boolean property (with whatever states mapping to true/false that makes sense). Then if we ever truly need more information, we can figure out something more detailed?

[2017-06-02 18:36] samreid commented on #421
Sounds good to me, thanks @jonathanolson. @jbphet I think everything is all set.

[2017-06-02 21:01] jbphet commented on #421
Okay, thanks all.  Closing.

[2017-06-02 21:01] #421 closed

[2017-06-06 15:58] zepumph commented on #422
#359 should include this overhaul for hide()/dispose(). Closing.

[2017-06-06 15:58] #422 closed

[2017-06-06 16:13] zepumph opened #424 "Dialog: decouple show/hide/dispose"
In #422 @pixelzoom and I talked about Dialog's hide function. Basically it acts as a dispose, but it is confusing and not well documented. There currently isn't a dispose function. I think at the very least, the hide function should call dispose, to separate functionality and make it more clear. Tagging for dev meeting to see the best way to change this.

Tagging #359 as the parent issue for dialo

[2017-06-06 16:13] zepumph commented on #359
Tagging #424 for dev meeting instead, let's keep this parent issue top level.

[2017-06-06 16:19] pixelzoom commented on #424
@zepumph said:

Imo, `hide` should _not_ call `dispose`.   That prevents the client from repeatedly hiding/showing the same Dialog instance.

[2017-06-06 16:23] zepumph commented on #424
I agree, separating them is preferable and better.

[2017-06-06 16:57] pixelzoom commented on #130
In https://github.com/phetsims/joist/issues/130#issuecomment-301529408, I said:

@samreid Can you please take a look at Sim `stepSimulation`, and comment on https://github.com/phetsims/joist/issues/130#issuecomment-301529408?

[2017-06-06 17:11] samreid commented on #130
Can we move this line to the top of stepSimulation?

[code]

That seems like a bug to me too.  It seems like everything should pause when the sim pauses.

I'm not sure how playback works.  Perhaps the sim is inactive but still needs to process input events?  I'm not sure.  I see other logic dealing with activeProperty even before that main if statement:

[code]

[2017-06-06 17:19] samreid commented on #130
Here's a new stepSimulation implementation that uses `&&` strategy and cleans up some of the logic.  It is about 14 lines shorter and hopefully has the same behavior.

[code]

[2017-06-06 18:49] pixelzoom opened #425 "issues with playbackMode and activeProperty in Sim.js"
Discovered during https://github.com/phetsims/joist/issues/130.
Related to https://github.com/phetsims/phet-io/issues/1146.

`phet.joist.playbackMode` and `activeProperty` were added for PhET-iO.  We need to straighten out:

(1) When these can be set.
(2) Who can set them.
(3) How they affect when stepSimulation is called, and who calls it.

[2017-06-06 18:52] pixelzoom commented on #425
We tested the above commits with:

(1) function-builder master (TWEEN and model.step animations)
(2) molarity with mirror-inputs.html wrapper
(3) molarity record and playback:
   (a) record: phet-io-wrappers/record/record.html?sim=molarity&ea&localFile
   (b) playback: phet-io-website/root/metacog/playback/index.html

[2017-06-06 18:54] pixelzoom commented on #130
Changes to Sim and stepSimulation were done in https://github.com/phetsims/joist/issues/425.  So now continuing where we left off with capping dt...

[2017-06-06 19:06] pixelzoom commented on #130
Screen options.maxDT implemented in above commit.

Tested in function-builder by setting the following options:
PatternsScreen: maxDT: 0.001
NumbersScreen: maxDT: 0.002
... then switching between Screens and verifying (by console.log) that dt changes when Screen changes, and that the value of dt is as expected.

[2017-06-06 19:18] pixelzoom commented on #425
Since @samreid @zepumph @jonathanolson and I collaborated on this via Skype.... closing.

[2017-06-06 19:18] #425 closed

[2017-06-06 21:02] pixelzoom commented on #74
I'm not convinced that we need to do anything for the issue.  Here's what I see when running a downloaded sim offline.

In the About dialog, "Unable to check for updates":

![screenshot_266](https://user-images.githubusercontent.com/3046552/26851750-074fa7be-4ac9-11e7-800c-79c4c704f859.png)

Selecting "Check for Updates" from the PhET menu:

![screenshot_265](https://user-images.githubusercontent.

[2017-06-06 21:31] pixelzoom commented on #71
Actually, I think the About dialog is looking pretty good these days. The only improvement I'd make is the formatting of the credits.  Here's a recent example:

![screenshot_267](https://user-images.githubusercontent.com/3046552/26852906-215eda0e-4acd-11e7-88eb-14d7d1a9a9c1.png)

[2017-06-06 21:32] pixelzoom commented on #71
Perhaps we can use RichText to make the credit categories ("Lead Designer", "Software Development",...) stand out from the person names.

[2017-06-06 21:41] pixelzoom commented on #71
Here's the About dialog with RichText for the credits, and a wee bit more leading between the credits lines.  Unfortunately, RichText does not currently support line breaks.

![screenshot_268](https://user-images.githubusercontent.com/3046552/26853277-9ac2d6d8-4ace-11e7-9de7-c665f8d892b9.png)

[2017-06-06 21:46] samreid commented on #71
That looks pretty great @pixelzoom, we should go for it +1

[2017-06-06 21:48] pixelzoom commented on #71
Two problems that must be addressed:

(1) Add line breaks and justification to RichText

(2) The markup must be included in joist strings, and that requires changes to English and translation string files.  E.g. "Lead Design: {0}" must be changed to "<i>Lead Design</i>: {0}".

[2017-06-06 22:05] pixelzoom commented on #301
This has been ready-for-review for quite awhile, would be nice to wrap up.

[2017-06-06 22:11] pixelzoom commented on #387
Imo, it's unfortunate that we chose to represent `dt` in seconds. We should have used milliseconds.  But changing to milliseconds at this point would be a big deal.   And now stepSimulation is part of the PhET-iO API, and is expecting seconds.

That said, I'm not convinced that converting from ms -> sec -> ms is that big a deal.

[2017-06-06 22:13] samreid commented on #387
Can you explain the reasoning for preferring milliseconds?

[2017-06-06 22:38] pixelzoom commented on #387
Reasons to use milliseconds:

(1) milliseconds is the native time format provided by Date, and it's what's typically used in most time-based APIs (like TWEEN).
(2) Programmers are used to dealing with milliseconds, and the fact that it's in seconds continually throws me.
(3) Using milliseconds avoids having to convert _back_ to milliseconds to make calls to time-based APIs, which is exactly the pr

[2017-06-07 03:44] jonathanolson commented on #130
Reopening to understand a potential change to ordering.

I had to apply the above workaround (https://github.com/phetsims/vegas/commit/4d42e0497ab6690a61e9859ff5675a09295b5050) to the Vegas demo, since the screenview was getting displayed BEFORE it was ever stepped.

Is that an anticipated change? (RewardNode isn't fully set up until it is stepped).

[2017-06-07 15:49] pixelzoom commented on #130
What changed related to ordering?  Can you point to something specific in Sim.js?

[2017-06-07 15:50] pixelzoom commented on #130
And how did you discover the need for the workaround in vegas?

[2017-06-07 15:57] phet-steele commented on #130
@pixelzoom, bayes continuous testing was reporting this error in the vegas demo:
[code]

[2017-06-07 15:59] samreid commented on #130
I suspect we should (at a minimum) call model.step and view.step before calling display.update.

[2017-06-07 16:09] jonathanolson commented on #130
I was hoping you or @samreid would know. It just seems that view.step used to be called before display.update, but now is not.

This sounds good to me.

[2017-06-07 16:16] samreid commented on #130
I commented out the vegas workaround and tested http://localhost/vegas/vegas_en.html?brand=phet&ea and did not see any problems.

[2017-06-07 16:18] samreid commented on #130
I also added console.logs for display.update and RewardNodeScreenView.step (still with workaround commented out) and saw:

![image](https://user-images.githubusercontent.com/679486/26889197-9179169a-4b6a-11e7-9c4d-217ea940e7bc.png)

The null is for the home screen.  It looks as if the view.step is being called before the display.update for the reward node screen.  Am I testing the wrong thing?

[2017-06-07 16:19] jonathanolson commented on #130
I have just pulled, and just ran the vegas demo WITHOUT the workaround (http://localhost:8080/vegas/vegas_en.html?brand=phet&ea&fuzzMouse) and it instantly errored out.

[2017-06-07 16:21] samreid commented on #130
I can see the problem with ?fuzzMouse but not without ?fuzzMouse

[2017-06-07 16:23] samreid commented on #130
Hypothesis: the fuzz mouse changes the screen.

[2017-06-07 16:30] samreid commented on #130
In the preceding commits, I changed stepSimulation to update the screen variable after fuzzMouse runs and it seems to have fixed the problem.  However, it seems we should also update some of the logic about when the dt is updated because the maxDT for one screen could be used then another screen could be stepped with it.

[2017-06-07 16:34] samreid commented on #130
In the preceding commit I moved the screen getter to after the fuzzing.  It seems OK in my testing vegas + vegas fuzz + CCK.  @pixelzoom, will you please review?

[2017-06-07 16:39] samreid commented on #387
I guess the only reason to use seconds is to keep our models in MKS (meters, kilograms, seconds) by default, instead of MKMS.  I'm on the fence about which would be best for our sims--in my opinion the best way to judge that would be to look at implementations of step(dt) and see how many of them want to use seconds vs milliseconds.  For example, if we decided to change to MS and we had to iterate

[2017-06-07 16:44] samreid commented on #130
I skyped the group:

[2017-06-07 16:58] jonathanolson commented on #387
To me, it's most natural to have sim time in seconds, particularly because of MKS. It feels like a bit extra mental effort to think of things like animation velocity in amount/microsecond rather than amount/second. I feel like there may be fewer conversions (by 1000) with seconds than there would be with milliseconds, as I've rarely had to use TWEEN/Timer compared to when I need it as seconds.

Al

[2017-06-08 00:20] ariel-phet commented on #74
It does seem sufficient to me. Closing.

[2017-06-08 00:20] #74 closed

[2017-06-08 01:04] jonathanolson commented on #424
Hiding not disposing sounds required if we're re-using dialogs. I think at one point in the the thought was dialogs would never be reused.

[2017-06-08 16:20] jessegreenberg commented on #424
```hide``` has a comment

```show``` is also adding listeners that are being disposed in ```hide```.  I agree that they should be decoupled and I can work on this. @zepumph can I address with #359 or is this causing high priority issues?

[2017-06-08 16:36] zepumph commented on #424
I just saw #359. That seems like a great place to address this, it's not too high priority. I did go through the project and make all dialogs that are being re used, created new each time. See https://github.com/phetsims/curve-fitting/commit/3ba3419e7f528b38b95aff4f7a590a0b8e66daec and https://github.com/phetsims/make-a-ten/commit/2a2d4d13c0926d0365ebb3c0ec1295c08a6414d6 for examples.

These will

[2017-06-08 19:12] jessegreenberg commented on #424
@jessegreenberg will work on this as part of #359.

[2017-06-08 19:14] jessegreenberg commented on #359
https://github.com/phetsims/joist/issues/424 is another issue that will be added to the list of improvements associated with this issue.

[2017-06-09 13:47] samreid opened #426 "Should we make a more generic name for the legendsOfLearning feature set?"
At yesterday's meeting @jbphet proposed that we come up with a more generic query parameter than `?legendsOfLearning` in case another group wants to leverage the same features.  The features in particular are:

* After sim construction is complete, a message "init" is broadcast to the parent.
* When the sim receives a postMessage with its data `messageName`==='pause', the sim will pause
* When the

[2017-06-09 16:20] jonathanolson commented on #426
Not sure why it would need a name, presumably it would just be part of the available API?

If it has its own access control/permissions/etc. that get enabled separately, then maybe it would be a "Pause" feature? Presumably we could always send the init message?

[2017-06-09 16:39] pixelzoom commented on #426
I'm still advocating a general API, rather than adding customer-specific features (or even groups of features).

That would probably be up to Legends Of Learning.  But I also think it's undesirable from PhET's perspective.

[2017-06-09 16:52] samreid commented on #426
The name we are deciding on is the name of the query parameter.

I'm not sure what kind of interaction that may have with other places the simulation is embedded, if any.

Sounds good, but to support legends of learning we must broadcast an "init" message.  What if another group wants us to emit "initialized" or "gameReady"?  Maybe a query parameter that indicates what message is sent after the si

[2017-06-09 18:00] zepumph commented on #424
@jessegreenberg while working on https://github.com/phetsims/phet-io/issues/1143, @samreid and I noticed that dispose was being called on the Dialog before the phet-io event could 'end'. We added this
line `setTimeout( function() { self.hide(); }, 0 );` into Dialog's closebutton listener to hack around this issue temporarily. Once dispose and hide have been separated, the setTimeout can be removed

[2017-06-09 18:58] pixelzoom commented on #424
line `setTimeout( function() { self.hide(); }, 0 );` into Dialog's closebutton listener to hack around this issue temporarily. Once dispose and hide have been separated, the setTimeout can be removed.

Please add documentation to the code indicating why this was added, when it can be removed, and reference this issue.

[2017-06-09 19:19] zepumph commented on #424
Good point, thanks

[2017-06-09 19:38] jonathanolson commented on #426
The name of the query parameter to enable this particular subset of features? What about a query parameter per feature enabled?

[2017-06-09 19:40] pixelzoom commented on #426
Why do these features need to be enabled/disabled?  If we had a generic API, why wouldn't these (and other) features always be enabled?

[2017-06-09 19:44] samreid commented on #426
That was proposed in https://github.com/phetsims/joist/issues/426#issuecomment-307441969 and seems reasonable.

As described in https://github.com/phetsims/joist/issues/426#issuecomment-307441969 I'm not sure what kind of interaction that may have with other places the simulation is embedded, if any.  Maybe it would be fine to leave them on for all time, but then we could use a query parameter so

[2017-06-09 22:02] pixelzoom commented on #130
@samreid said:

I'm confused.  Sim.js currently looks very different that commit https://github.com/phetsims/joist/commit/eb61943578ced23cd09ed3657ff41664200bd44e. Were more commits made and not linked here?  I now see only one call to `getSelectedScreen`.

[2017-06-10 19:49] samreid commented on #426
I'm actually liking the idea of the proposed strategy much more than the "adapter iframe" strategy.  Let's discuss abandoning that and focusing on this.  Would be good to get input from @jessegreenberg on this topic.

[2017-06-11 12:46] samreid commented on #130
After https://github.com/phetsims/joist/commit/eb61943578ced23cd09ed3657ff41664200bd44e

Sim.js had:
* 3 subsequent commits for this issue (see thread above)
* 1 commit for https://github.com/phetsims/build-an-atom/issues/160
* 8 commits for https://github.com/phetsims/phet-io/issues/1146

[2017-06-12 15:08] pixelzoom commented on #130
Looks OK to me.  `getSelectedScreen` was factored out because it was used in 2 places, now it's used only once.  I'll leave it up to @samreid to decide whether to inline it.

[2017-06-12 15:09] samreid commented on #130
`stepSimulation` seems a bit clearer with `getSelectedScreen` as a separate function, I vote to leave it.

[2017-06-12 15:09] #130 closed

[2017-06-12 15:12] pixelzoom commented on #71
Labeling for developer meeting.  Questions:

(1) Should we bother with this at all?
(2) Should we add line breaks to RichText?
(3) Should we change the strings that are related to credits? English only or translations?
(4) Should RichText support both `<br>` and `\n` so that credits translations continue to work?

[2017-06-12 15:16] jonathanolson commented on #71
I would like to add this.

Even if we want both in credits, RichText could potentially only support `<br>`, and the AboutDialog could map `\n` to `<br>`.

[2017-06-12 15:21] pixelzoom commented on #71
@jonathanolson said:

As I mentioned in https://github.com/phetsims/scenery-phet/issues/310#issuecomment-307822271, MultiLineText uses `\n`.  So whether to support `\n` involves more than the About dialog.

[2017-06-12 15:23] samreid commented on #71
It seems like a nice improvement though dealing with the translation files seems like the biggest hassle to me.

[2017-06-12 20:49] pixelzoom commented on #70
Skype:

[6/12/17, 2:45:16 PM] Chris Malley: ph-scale has a relatively simple example of zoom buttons for the "Linear" scale in the "Micro" screen.  See ph-scale.GraphNode.
[6/12/17, 2:47:16 PM] Jonathan Olson: Note that now, subtypes of DownUpListener/SimpleDragHandler (like almost all of our listeners that matter), can be interrupted properly by calling interruptSubtreeInput() on a Node. It will

[2017-06-14 17:04] pixelzoom commented on #426
Related to https://github.com/phetsims/joist/issues/420 (Standardize a PhET postMessage API).

[2017-06-14 17:06] pixelzoom commented on #426
Related to https://github.com/phetsims/joist/issues/420 (Standardize a PhET postMessage API).  The important conclusion there was https://github.com/phetsims/joist/issues/420#issuecomment-304477377, where @samreid said:

[2017-06-14 17:07] pixelzoom commented on #420
https://github.com/phetsims/joist/issues/426#issuecomment-307586488 discussed abandoning this approach.

[2017-06-14 19:12] pixelzoom commented on #70
@jonathanolson indicated "haven't tested fully" and I'm unclear on how to test.  So unassigning myself for now.  Feel free to assign to me if it needs future test or review.

[2017-06-14 19:47] samreid commented on #420
To clarify, we would use query parameters instead of an iframe adapter.

[2017-06-15 17:42] pixelzoom commented on #71
6/15/17 dev meeting consensus:

• Adding styling too much work, investigate adding leading.
• Yes to the RichText changes, generally useful.

[2017-06-15 18:18] samreid commented on #426
It was suggested to use the expanded query parameters like `sim.html?onInitialized=init&pauseCommand=pause&resumeCommand=resume` and combine that with the option to create composite mappings like `legendsOfLearning` mapping to the above commands.

[2017-06-15 18:22] samreid commented on #426
Regarding whether things are on by default or not @zepumph and I can discuss whether messages are targeted or not--whether it is safe to broadcast init always, or always listen.

[2017-06-15 18:33] samreid commented on #426
@pixelzoom suggests just focusing on Legends of Learning at the moment rather than trying to generalize it too much.

[2017-06-19 16:55] pixelzoom commented on #71
I played around with increasing leading (spacing:5) and reducing font size (10pt).  Below is what I came up with.  It doesn't excite me, and I suspect that there will be mixed opinions about it.  So I'm going to bail on this issue.

![screenshot_283](https://user-images.githubusercontent.com/3046552/27296351-c05450f2-54dd-11e7-8aa2-a1de0b2cf41d.png)

[2017-06-20 17:19] phet-steele opened #427 ""addition" should be "additional" in the tandem ID"
The about dialog variable `this.additionalLicenseStatement` is currently instrumented as:

`[sim].navigationBar.phetButton.phetMenu.aboutDialog.additionLicenseStatement`

We are missing the "al" at the end of "addition" in the tandem ID. In other words, it should say "additional". @zepumph, pretty sure that many currently delivered phet-io sims have this typo.

[2017-06-20 17:35] pixelzoom commented on #427
Relevant code in AboutDialog:

[code]

The tandem id currently violates the convention that the id must match the variable name.

[2017-06-20 17:36] pixelzoom commented on #427
Note that changing this tandem id is a breaking change for any clients using `[sim].navigationBar.phetButton.phetMenu.aboutDialog.additionLicenseStatement`.

[2017-06-20 20:18] zepumph commented on #427
Agreed. We should really figure out a system to track these. The most basic strategy would be to document all of these changes in one place, with the date changed, so if someone needs to update to a new version, we can reference this document and look at all of the changes from (Date 1) to (Date 2).

tagging @samreid if he wants to comment.

I hope this is something that we can talk about in the c

[2017-06-20 22:29] zepumph commented on #427
https://github.com/phetsims/phet-io/commit/8073319a923e89328f86654795ea3084335cdc0a added a document to track api changes.

[2017-06-20 22:30] zepumph commented on #427
I think the rest of this discussion can be taken up in https://github.com/phetsims/phet-io/issues/1137. Closing.

[2017-06-26 20:08] zepumph opened #428 "Hyperlinks in the AboutDialog can only be selected with 'Enter' key, no 'Space'?"
When using keyboard navigation to access the about dialog's hylinks, you can select these with the 'Enter' key.

![image](https://user-images.githubusercontent.com/6856943/27558031-405d6e52-5a68-11e7-92f7-5dd79b6da389.png)

I would have expected 'Space' to work also. Is this by design, or a bug. @terracoda could you speak to this?
It is probable that I have it wrong.

[2017-06-26 20:14] terracoda commented on #428
@zepumph, great question.
Links are operable with the Enter key.
Buttons are operable with Space or Enter keys.

Not sure why, but that's the default expected behaviour.

[2017-06-26 20:15] zepumph commented on #428
Good to know. Thanks!

[2017-06-26 20:15] #428 closed

[2017-07-03 20:00] ariel-phet commented on #420
I think for the moment we have decided to wait until other clients come with requests similar to Legends of Learning, until the time no need to generalize/standardize.

Closing

[2017-07-03 20:02] ariel-phet commented on #426
@samreid since we are not doing something more general and just focusing on Legends of Learning for the short term future, can we close this issue?

[2017-07-05 13:16] samreid commented on #420
We already support a 2nd use case for a similar problem: game-up-camera-1.0.0.js gets bundled into every production PhET simulation.  We should review that implementation and see if a technique like the one proposed in https://github.com/phetsims/joist/issues/426#issuecomment-307441969 is suitable.

[2017-07-07 00:30] pixelzoom opened #429 "memory leak in OptionsDialog"
OptionsDialog has parameter `optionsNode`, which is the content of the dialog.  That Node isn't being disposed of in `disposeOptionsDialog`.   This can result in a memory leak.

For example, in Molecule Polarity there is MPOptionsNode.  This is the content for the Options dialog, and it contains UI components (radio buttons) that link to 2 Properties.   After opening the Options dialog N times, I

[2017-07-07 00:38] pixelzoom commented on #429
Never mind.  This isn't what's going on at all.  Each time the Options menu item is selected, a new OptionsDialog is instantiated.  But it reuses the dialog content that was provided to Sim via `options.optionsNode`.

I'm not going to touch this.  Dialog management is generally a mess and is being handled (albeit slowly) as a more general redesign project.

Closing.

[2017-07-07 00:38] #429 closed

[2017-07-07 18:31] pixelzoom opened #430 "replace LinkText with RichText?"
In https://github.com/phetsims/scenery-phet/issues/316#issuecomment-313741189 (RichText link support), @jonathanolson said:

@jonathanolson Since LinkText is used only in joist and molecule-polarity, should we replace it with RichText, then delete LinkText?

[2017-07-07 18:37] jonathanolson commented on #430
I hadn't immediately handled a11y in RichText (isn't trivial), so no not yet. I should be able to implement it however (will tag this issue), so we can look into just using RichText.

Plan would be to determine the "non-marked-up" version of the linked text (decoding HTML entities, ignoring tags) for the accessibleLabel, and then do everything else LinkText does. For example:

[code]
would presuma

[2017-07-07 18:42] pixelzoom commented on #430
Any objection to changing from LinkText to RichText in `molecule-polarity.UnderDevelopmentPlane`?  This is the dialog that informs the user that "Real Molecules" screen is not implemented, and directs them (via a link) to the legacy Java version.  This dialog is temporary, and I'm not aware of any a11y requirements for it.

[2017-07-07 18:45] jonathanolson commented on #430
No objections from me.

[2017-07-07 19:06] jonathanolson commented on #430
I applied that approach to RichText.

Selecting it works well (using ?accessibility):
![richtext-a11y](https://user-images.githubusercontent.com/480878/27972835-f4dd020c-6314-11e7-8266-a9a883093e86.PNG)

but space and enter don't seem to trigger the link.

@jessegreenberg, can you see if I'm doing something wrong here? Once it's fixed, I believe we can move forward with replacing LinkText with Ric

[2017-07-07 19:39] jessegreenberg commented on #430
My only change was to add the href and target attributes to the created node (just like the tagName and label).  The links can now be triggered with "enter". "spacebar" typically doesn't trigger links.

The link ignored for security is still getting keyboard focus, ill take a look at that.

[2017-07-07 19:48] jessegreenberg commented on #430
Never mind, its a checkbox that is behind the links in another demo that is invisible but still focusable.

[2017-07-07 20:14] jessegreenberg commented on #430
Regarding https://github.com/phetsims/joist/issues/430#issuecomment-313760585m ideally the markup would be included in the accessibleLabel, screen readers sometimes pause or change inflection depending on how the text is marked up. @jonathanolson do we have to strip it out?

[2017-07-07 20:16] jessegreenberg commented on #430
None from me, I don't know of any a11y requirements for molecule-polarity either.

[2017-07-07 21:14] jonathanolson commented on #430
It sounds good to include the tags, however there are currently encoding and formatted-tag-list issues with doing so. See https://github.com/phetsims/scenery/issues/643.

If those issues can be resolved, I think it sounds absolutely great to include the markup in the accessibleLabel.

[2017-07-07 21:39] pixelzoom commented on #430
LinkText has been replaced with RichText in molecule-polarity, see https://github.com/phetsims/molecule-polarity/issues/34.  The remaining uses are in joist (AboutDialog, UpdateNodes).

[2017-07-08 00:35] pixelzoom commented on #357
Yet another leak - Dialog doesn't own the `{Node} content` that is passed to its constructor, and that Node may be reused, as it currently is with OptionsDialog.  So `content` needs to be removed as a child when the Dialog is disposed.   Hopefully fixed in https://github.com/phetsims/joist/commit/4c48cf0299e15e72212fad6c15823bdea52805bc.

[2017-07-10 17:52] zepumph commented on #359
@jessegreenberg, I have been involved in a lot of workarounds for Dialog hide/dispose recently. I hate spending time on code that I know shouldn't be there, and won't stick around. How much time do you have to devote to this issue, because I don't mind helping. I have a little time perhaps this week that could be spent diving into separating the two methods, would that step on your toes?

[2017-07-10 18:21] jonathanolson commented on #430
Added including certain tags for accessibleLabel, so:
[code]
ends up with `"<em>‪links‬</em>‪ with ‬<b>‪markup‬</b>"` as the accessibleLabel.

[2017-07-10 19:48] pixelzoom commented on #424
Dialog.hide currently calls Dialog.diposeDialog, rather than Dialog.dipose.  This means that it's impossible to properly cleanup subtypes for Dialog.  For example:

[7/10/17, 1:46:23 PM] Chris Malley: My immediate problem is in MOTHA.  I have a Dialog subtype, SnapshotDialog.  When I call hide, it calls Dialog.disposeDialog, instead of Dialog.dispose.  SnapshotDialog has stuff that it needs to cle

[2017-07-10 20:41] jessegreenberg commented on #424
This issue in particular is causing lots of immediate problems for Dialogs.  Instead of waiting for a new implementation in #359, we should look into this problem now.

[2017-07-10 20:44] pixelzoom commented on #424
Here's pseudo code that shows the responsibilities of these functions.

[code]

[2017-07-10 20:45] pixelzoom commented on #424
If a client want to reuse a Dialog, then the client is responsible for alternately calling `show` and `hide`, as well as managing the Dialog's content.

When a client is done with a Dialog, it's the client's responsibility to call `dispose`.

[2017-07-10 20:46] pixelzoom commented on #424
If a client want to reuse a Dialog, then the client is responsible for alternately calling `show` and `hide`, as well as managing the Dialog's content.

When a client is done with a Dialog, it's the client's responsibility to call `dispose`.

[2017-07-10 20:47] pixelzoom commented on #424
If a client wants to reuse a Dialog, then the client is responsible for alternately calling `show` and `hide`.

When a client is done with a Dialog, it's the client's responsibility to call `dispose` for the Dialog.

The client is also responsible for disposing of the Dialog's content.

[2017-07-10 23:08] zepumph opened #431 "KeyboardHelpDialog is broken"
Just to mark it as a problem, it will be worked on as part of #424

Tagging @jessegreenberg and @pixelzoom so they are aware.

 JT's keyboard dialog is currently failing in fuzz testing.
[code]

[2017-07-11 02:15] jessegreenberg commented on #431
Thanks @zepumph, yes I am aware and it should be fixed once #424 is addressed.

[2017-07-11 02:18] jessegreenberg commented on #424
Thanks @pixelzoom, that looks great.  Since the client is going to be responsible for disposing Dialogs we will have to go through and make sure that every ```show``` has a corresponding ```dispose``` or hide```, including Dialogs that are created from the PhetMenu.

[2017-07-11 03:17] samreid commented on #424
Why does `Dialog` have `hide` and `show` functions?  Wouldn't this normally be accomplished by calling addChild/removeChild on the container?  It seems odd for Dialog to be treated differently (unless it is somehow necessary in this case).

[2017-07-11 14:58] pixelzoom commented on #424
You could certainly do addChild/removeChild.  But that setVisible may improve performance.  And I suspect that show/hide may potentially wrap more responsibilities than addChild/removeChild/setVisible.

[2017-07-12 16:55] pixelzoom commented on #424
@jessegreenberg @zepumph thanks for tackling this.  If you need someone to review, I'll be happy to.

[2017-07-12 17:29] jessegreenberg commented on #424
Thanks very much @pixelzoom, we do need a reviewer.  Assigning to you.

[2017-07-12 17:34] jessegreenberg commented on #424
Prior to this change, the common way to create a Dialog was

[code]
Since the Dialog can hide itself, creating a new one every time will create a memory leak since ```hide``` no longer disposes.

We replaced this with
[code]
so Dialogs are usually reused, but Client can dispose a Dialog if necessary.

[2017-07-13 16:07] jessegreenberg commented on #431
#424 is still open but since hide and dispose are decoupled, the persistent KeyboardHelpDialog is working again.

[2017-07-13 16:07] #431 closed

[2017-07-13 21:01] jessegreenberg commented on #359
@zepumph I will be working on this in the coming weeks.  It sounds like most of the issues you had were related to #424, which should be mostly fixed (though is still open for review). Let me know if you run into any other pressing issues.

[2017-07-13 21:04] zepumph commented on #359
I think that was the main one. Thank you for taking the lead on this. Greatly appreciated.

[2017-07-13 21:06] zepumph commented on #359
In Dialog I still see

[code]

Do you think these setTimeout calls are ready to be removed?

[2017-07-13 21:12] jessegreenberg commented on #359
Honestly, I am not clear on why they were necessary in the first place, but comments indicate that they can be removed if they were for #424, I will make note in that issue.

[2017-07-13 21:14] jessegreenberg commented on #424
In #359 @zepumph said

In Dialog I still see

[code]
Do you think these setTimeout calls are ready to be removed?

I am not sure why this was necessary and I don't know how to test if they can be removed.  @zepumph can you please look into if they can be removed?

[2017-07-13 21:19] zepumph commented on #359
If I remember correctly, hide calling dispose would happen before the closeButton's 'fire' event could "finish." In terms of PhET-iO, this meant that the 'end' emitter for the fire event would never be called, because a child of the fire event, would destroy the component itself. I'm not sure about the accessibility listener.

[2017-07-13 22:14] jessegreenberg commented on #424
@zepumph said:

And recommended that we test to make sure the Dialogs are OK in the mirror-inputs wrapper after removing the setTimeouts.

[2017-07-13 22:34] zepumph commented on #424
I removed these two set timeouts, and tested by using keyboard navigation on BASE to see that on close, the focus highlight updated back to the original nav bar button (for phetmenu and the keyboard nav button).

Next I used phet-io mirror inputs wrapper to see that opening an about dialog, and then closing it with the x button were both repeated correctly in the downstream sims.

PhET-iO and phet

[2017-07-13 22:44] jessegreenberg commented on #424
Great, thanks for removing and testing @zepumph.

[2017-07-18 15:57] pixelzoom commented on #424
Changes in Dialog look great.  Pattern for reusing dialogs looks reasonable, about what I expected.  The only thing that I didn't fully review were the changes to joist for Dialog subtypes (About, Update, Options,...)  I skimmed those changes, didn't see anything obviously wrong, and trust that all is well since nothing is failing in automated testing.

So... Closing!

[2017-07-20 19:15] zepumph opened #432 "Instrument the KeyboardNavDialog"
I noticed recently that the dialog is not instrumented, only it's content is.

[2017-07-24 14:53] samreid commented on #411
Unassigning myself, @jonathanolson let me know if/when I can help out.

[2017-07-24 22:41] samreid commented on #420
Not planning to work on this soon.

[2017-07-26 18:41] pixelzoom commented on #359
@ariel-phet FYI, the lack of closure on this issue is resulting in work-around solutions that are being copy-pasted between sims. See phetsims/projectile-motion#118

[2017-07-26 21:39] jonathanolson commented on #411
Have we switched versioning schemes recently, as part of https://github.com/phetsims/chipper/issues/560 or other issues?

As this code will need to be used by perennial, presumably it will need to handle all versions of our version strings (presumably it will need to be somewhat lax with parsing in versions).

[2017-07-26 21:51] pixelzoom commented on #411
My recollection is that we reached no consensus on version id syntax, agreed to live with the current warts imposed by PhET-iO (e.g. "1.0.0-phetiorc.1"), and decide to kick the can down the road until we work on new build tools/process to support PhET-iO.  Before we can do that, we need to discuss high-level PhET-iO issues; in https://github.com/phetsims/phet-io/issues/1137#issuecomment-317140954,

[2017-07-27 22:59] zepumph commented on #432
This was pretty simple, while implementing this, I also adjusted the about dialog to use Node's tandem registration logic. Fuzz testing is passing for both brands. Closing

[2017-07-27 22:59] #432 closed

[2017-07-28 01:25] jonathanolson commented on #411
@ariel-phet, I'd prefer to delay this work until we do the build tools/process stuff, as it hits build-server/chipper/maintenance-releases/yotta/sims/etc. Is that fine?

[2017-07-28 19:22] ariel-phet commented on #411
@jonathanolson yes that should be fine.

Related to https://github.com/phetsims/chipper/issues/586

[2017-07-28 20:27] jonathanolson commented on #346
This actually looks buggy because xMargin is used for the vertical computation:
[code]
Since by default xMargin and yMargin are the same, I believe this is how it snuck through.

I'll look into testing the fix to change it to yMargin (looks good in my use-case fix in pendulum-lab so far).

[2017-07-28 20:34] jonathanolson commented on #346
It looks like we've been avoiding this, so my new usage that looked broken (where I noticed) is the only case where this even comes up. Will push fix.

[2017-07-28 20:36] jonathanolson commented on #346
@jessegreenberg, you had recent work in the Dialog, do you mind verifying that this should be fine?

[2017-07-28 22:46] jessegreenberg commented on #346
The change looks good, this does look like a pretty clear mistake.  I tested a bunch of Dialogs that are using yMargin including AboutDialog and UpdateDialog.  This also fixes the case in plinko-probability that opened this issue, when I remove the workaround added in https://github.com/phetsims/plinko-probability/commit/0ceac3b3ffa64c7f0c45e8ec9760ec2ab00475c4, the Dialog looks good:
![screen sho

[2017-07-28 22:46] #346 closed

[2017-08-02 16:18] samreid commented on #426
Closing for now, thanks.

[2017-08-02 16:18] #426 closed

[2017-08-02 16:19] samreid commented on #423
We published build-an-atom with LOL features we are going to test out, closing.

[2017-08-02 16:19] #423 closed

[2017-08-03 04:13] samreid commented on #399
@jonathanolson this looks great, I tested through the list above and confirmed that the sims on phet.colorado.edu support ?screens=2,3.  I'll email @kathy-phet

[2017-08-03 04:15] samreid commented on #399
I emailed @kathy-phet

Kathy,

Jonathan rolled out maintenance releases for our sims so now the sims on phet.colorado.edu should all support the screens query parameter with commas. Full details are in https://github.com/phetsims/joist/issues/399

Best Regards,
Sam

[2017-08-03 04:15] #399 closed

[2017-08-03 04:27] kathy-phet commented on #399
I was aware of this maintenance release.

One small thing I have seen -- although I don't think it warrents additional releases -- is that for a 2 screen sim, you still need to use the "." to rearrange the order of the screens:
https://phet.colorado.edu/sims/html/molecule-shapes-basics/latest/molecule-shapes-basics_en.html?screens=2.1

I assume this was because only sims with 3 screens or more wer

[2017-08-03 16:18] samreid commented on #399
https://phet.colorado.edu/sims/html/molecule-shapes-basics/latest/molecule-shapes-basics_en.html?screens=2.1

Understood. I reproduced the problem you described and confirmed that reordering with commas works in master, so this will be OK for new publications.

[2017-08-04 21:25] samreid commented on #359
In https://github.com/phetsims/phet-io/issues/1147#issuecomment-320355721 @zepumph and I realized that we will (probably) be able to delete BarrierRectangle, and instead use Display.addInputListener (see VertexNode or CircuitElementNode for example usage).  It is unclear whether Display.addInputListener will gracefully support dialogs that pop up other dialogs (hopefully yes, but it remains to be

[2017-08-04 21:38] jonathanolson commented on #359
Aren't the barrier rectangle(s) there so that if Dialog 1 opens Dialog 2 (opening Dialog 3) that each level (and everything behind it) would be progressively more grayed out?

[2017-08-04 22:26] samreid commented on #359
There is only one BarrierRectangle instance per sim at the moment and when n>=1 in the modal node stack it does not change its look.

[2017-08-05 21:50] samreid opened #433 "Home screen requires 2 clicks for non-selected screen"
I know we have been using the current implementation of the homescreen for a while now and as far as I know, no problems have been reported.  Still, I noticed a potential for improvement and wanted to raise it for discussion.

Launching 1st screen after starting the sim:
1. Launch sim
2. Click on the 1st screen icon = > it launches right away

Launching 2nd screen after starting the sim:
1. Launch

[2017-08-07 16:27] samreid opened #434 "Focus should be a type"
TFocus is currently associated with Object.  We should create a new type called Focus in Focus.js and use that for type checking TFocus.  @jessegreenberg and @zepumph can you please coordinate on this?

As far as I can tell, the only place this value is set is from AccessiblePeer.js

[code]

Perhaps Focus should have this signature `Focus(display,trail)`

[2017-08-07 18:12] ariel-phet commented on #433
@samreid the home screen is set up to be scaffolded, with the design set up to be driving the user towards the first screen.

The reason for this extra click was since the other homescreen icons are small and faded, the user could click on these to see what each screen is more clearly. This UX has served us well in interviews, so I do think it is still providing us value (with new users mostly goi

[2017-08-07 18:12] #433 closed

[2017-08-07 20:55] jessegreenberg commented on #434
@zepumph I have added a new type for Focus called Focus.js in scenery. I believe it can be used for type checking TFocus, but not sure if there are any other steps.  Removing my assignment but let me know if I can be of help.

[2017-08-07 21:36] samreid commented on #434
I added type checks, @zepumph can you please review?

[2017-08-07 21:41] zepumph commented on #434
Looks good thanks

[2017-08-07 21:41] #434 closed

[2017-08-07 23:29] zepumph opened #435 "AboutDialog multiline texts don't wrap"
Discovered by @phet-steele in https://github.com/phetsims/QA/issues/32

When the QA credits got very large, they extended past the MAX_WIDTH in the AboutDialog. I'm not quite sure how that happened. I would have expected to see it wrap, here is what it looks like now.

![image](https://user-images.githubusercontent.com/6856943/29049891-0e7a8058-7b85-11e7-8f0b-e2186383b256.png)

So as a workaround

[2017-08-08 00:14] jonathanolson commented on #435
RichText would get wrapping somewhat for free if I handle it the approximate way I was thinking for adding line breaks (https://github.com/phetsims/scenery-phet/issues/310).

If wrapping text is desired, that would be the correct long-term way. Wrapping, line breaks and bidirectional text is ... complicated, so I'm probably looking at between 2-20 hours depending on exactly what level of quality i

[2017-08-08 14:32] ariel-phet commented on #435
@jonathanolson yes I think 2-3 hours of investigation would be reasonable. Let's check in once you have done that.

[2017-08-08 21:40] jessegreenberg commented on #430
This requires https://github.com/phetsims/scenery/issues/643 to be completed first.

[2017-08-09 08:36] jonathanolson commented on #435
RichText now has 'lineWrap'. It mostly works, but I'll need to handle whitespace slightly differently (will handle tomorrow).

For the purposes of this issue (which won't have right-aligned text with a space right before an HTML tag with long content), please try it out.

[2017-08-09 08:38] jonathanolson commented on #435
I'm at about 3 hours, expecting 30 minutes more to implement improvements to whitespace. RichText now supports manual line breaks (`<br>`) and line-wrapping, along with multi-line features (will probably deprecate MultiLineText).

[2017-08-09 16:24] samreid commented on #382
OK I merged master to splash-script for joist and chipper, so I can investigate further.

[2017-08-09 16:26] samreid commented on #407
Still seeing the problem in latest safari and merged with master.

[2017-08-09 16:31] samreid commented on #407
I committed the workaround above and it still seems good for safari.

[2017-08-09 16:36] samreid commented on #408
I can still see the problem in my virtual box IE11 for http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.1-dev.3/energy-skate-park-basics_en.html

However, when testing with a built faradays law using the fix from #407 I no longer see the problem.

[2017-08-09 16:38] samreid commented on #408
Dev version is here: http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.1-dev.5/energy-skate-park-basics_en.html

[2017-08-09 16:38] samreid commented on #407
Dev version is here: http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.1-dev.5/energy-skate-park-basics_en.html

[2017-08-09 16:41] samreid commented on #408
Well it is still a problem in that version, not sure why.

[2017-08-09 17:17] samreid commented on #407
@jonathanolson suggested to check the naturalwidth

[2017-08-09 17:36] samreid commented on #407
naturalWidth had the same problem as width, but @jonathanolson suggested to round out the image size by expanding the artboard then svg, and that seemed to fix the problem.  Didn't fix IE though.

[2017-08-09 18:45] samreid commented on #408
@jonathanolson and I considered the following strategies:

1. Let it be buggy on IE11 (the splash screen starts in the top left then jumps to the middle)
2. Don't show any loading/splash screen on IE11
3. Show the loading bar but no image on IE11
4. Rasterize the splash images instead of using SVG
5. Hard code the image sizes in code (may get out of sync and be harder for 3rd parties to add their

[2017-08-09 18:47] samreid commented on #408
I went with (2) for now since it was extremely simple to implement.  @ariel-phet can you please recommend a way to proceed here?  We are not sure how much time to spend getting the splash screen to look good on IE.

[2017-08-09 18:50] samreid commented on #407
Fixed in the preceding commits, on hold until we work out IE in #408

[2017-08-09 18:50] samreid commented on #382
On hold until we discuss IE in #408

[2017-08-09 19:06] samreid commented on #349
I presume the pulsating should stop when the HTML is fully downloaded.  I saw a version that had the loading bar moving to the right while the border was pulsating and it did not look great.

[2017-08-09 19:41] samreid commented on #349
Proposed implementation is above, but I'm waiting to hear about IE before posting a next dev version for this.

[2017-08-10 00:33] zepumph commented on #427
Reopening since this is a phet-io breaking change to the api, and it is currently not being tracked. Unassigning.

[2017-08-10 11:35] jonathanolson commented on #435
Current RichText wraps at spaces or HTML tag boundaries currently. Feel free to try it out as a replacement for MultiLineText here?

[2017-08-10 14:31] ariel-phet commented on #408
@samreid I think i would rather leave it buggy then have no splash/loading screen

[2017-08-10 18:27] zepumph commented on #435
I replaced all MultilineTexts with RichText in the CreditsNode. Then I removed the hard coded new line in the QA credits string, the result was the same as with MultilineText. I printed out the width of the about dialog and it was 601, event though I would have expected that `MAX_WIDTH` would have caused wrapping.

[code]

What do you think @jonathanolson? Does it have something to do with a way t

[2017-08-10 22:10] zepumph commented on #435
Thanks for implementing that @jonathanolson! Back to you because of some strange layout in right to left languages.

[2017-08-10 23:02] jessegreenberg commented on #430
rootNode's links look like this in the accessible DOM:

![screen shot 2017-08-10 at 4 49 58 pm](https://user-images.githubusercontent.com/6396244/29195680-f998b1e0-7dec-11e7-86fa-a62bb70c42e9.png)

And they sound great with VoiceOver.

[2017-08-11 16:57] jessegreenberg commented on #430
I would like to work on making RichText more generally accessible in #662, but is there anything else to work on in this issue before deprecating LinkText?

[2017-08-12 22:05] samreid commented on #408
This is out for testing in the aforementioned issue.

[2017-08-12 22:05] samreid commented on #407
This is out for testing in the aforementioned issue.

[2017-08-12 22:06] samreid commented on #349
This is out for testing in the aforementioned issue.

[2017-08-12 22:31] samreid commented on #349
@ariel-phet will review this in https://github.com/phetsims/QA/issues/36

[2017-08-14 15:31] ariel-phet commented on #349
Looks good to me (tried simulated slow internet)

[2017-08-14 16:16] jonathanolson commented on #430
I can't think of anything else personally. I'll look into the replacement.

[2017-08-14 21:26] phet-steele commented on #408
Doesn't really look like there is anything here to test? There was a commit that changed some things, then a second commit that just reverted it. Yes...it is still buggy on IE11 but that's what we expected. @samreid should we mark this deferred (or wontfix) and leave open for later?

[2017-08-14 21:28] samreid commented on #408
I guess close as wontfix?

[2017-08-14 21:28] #408 closed

[2017-08-14 21:36] phet-steele commented on #407
I no longer see this on macOS 10.12.6, iOS 10.3 beta, or iOS 9.3.5.

[2017-08-14 21:36] #407 closed

[2017-08-15 02:26] jonathanolson commented on #435
Above commit fixes RTL layout with high confidence. Closing.

[2017-08-15 16:49] phet-steele commented on #382
All of these are using http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.1-dev.6/energy-skate-park-basics_en.html.

@samreid this is in a 300x200 iframe:
![screen shot 2017-08-15 at 10 41 51 am](https://user-images.githubusercontent.com/5863899/29325984-f3aa9812-81a6-11e7-8e46-84374684cbb4.png)

This is 600x400:
![screen shot 2017-08-15 at 10 44 41 am](https://user-images.

[2017-08-15 16:52] phet-steele commented on #349
@samreid I like it! You hardly ever see any pulsing on iPad2 due to pretty poor performance and low frame rate while loading, but I don't think we mind? Otherwise, I don't see it breaking.

[2017-08-15 17:58] samreid commented on #382
Looks good to me, closing.

[2017-08-15 17:58] #382 closed

[2017-08-15 18:04] samreid commented on #349
Excellent, thanks, closing.

[2017-08-15 18:04] #349 closed

[2017-08-15 19:30] samreid commented on #391
Ready to merge to master.  I messaged on dev public:

Sam Reid [1:23 PM]
Brace yourselves, I’m merging branches for chipper and joist to support splash screens.

[1:27]
I’ll also have to run grunt generate-development-html for each repo and commit it, so it will be a many-repo commit.

[2017-08-15 19:33] samreid commented on #391
I've locally merged and and run grunt generate-development-html.  I tested 2 requirejs sims and one build at a few different screen sizes on mac chrome, all seems well.  A bit of AQUA isn't revealing other problems.  I noticed one potential phet-io problem I'll create a separate issue for.

[2017-08-15 19:34] samreid opened #436 "phet-io loading bar is a bit far from the logo"
![image](https://user-images.githubusercontent.com/679486/29332775-6c8af8a0-81be-11e7-91bf-d6483037871c.png)

Detected during #391.  I'm inclined to work on this after it gets to master.

[2017-08-15 19:37] samreid commented on #436
For comparison, here is the PhET brand:

![image](https://user-images.githubusercontent.com/679486/29332892-e06c05c0-81be-11e7-8fd3-c7c960260757.png)

[2017-08-15 19:55] samreid commented on #436
This would be nice to fix before next phet-io rc (one may be soon for FAMB), tagging @jessegreenberg so he is aware this is in progress.

[2017-08-15 20:47] pixelzoom commented on #435
Reopening.  3 things still to be done:

(1) CreditsNode needs `options = _.extends( ... )`.  It's currently using `options.maxWidth`, which may not exist.

(2) Some of the credits can't rely on lineWrap, and require explicit line breaks.  These are probably the `thanks:` credits field in *-main.js.

(3) Old-style (`\n`) line breaks that are no longer needed should be removed from *-main.js, they a

[2017-08-15 20:49] pixelzoom commented on #435
The "thanks" credits that need conversion are the ones that consist of multiple bullets.  E.g. in acid-base-solutions-main.js:

[code]

[2017-08-15 20:51] pixelzoom commented on #435
There's 1 line break to convert, and 1 to remove.  Should be:

[code]

[2017-08-15 20:53] pixelzoom commented on #435
I converted acid-base-solutions-main.js as an example, see above commit.

[2017-08-15 21:53] pixelzoom commented on #430
Sounds like we'll be able to delete (vs deprecate) LinkText after the replacement, correct?

[2017-08-16 00:07] jonathanolson commented on #430
Correct.

[2017-08-16 00:44] zepumph commented on #435
I did the above 3 tasks. There was only one other place where a '<br>' was needed for "thanks bullets."

The wrapping is based on the max size of the AboutDialog, which is 550px wide. There are a few dialogs where this looks weird now that we got rid of the manual newlines. This is because there is one line (probably the thanks or QA credit) that is about twice as long as all the others, but only

[2017-08-16 16:51] pixelzoom commented on #435
Options in CreditsNode was still a little wonky, I cleaned up in the above commit.

There were several credits that had problems, see:
https://github.com/phetsims/balancing-chemical-equations/commit/38c7e6c62466f2aca2b58ae3125194d3be727a27
https://github.com/phetsims/energy-skate-park-basics/commit/a5b34100057c4b305e11a5fc5db6bcff2aa3b785
https://github.com/phetsims/fraction-matcher/commit/4a8101b

[2017-08-16 17:56] zepumph commented on #435
All looks good. Thanks for the learning. Closing

[2017-08-16 17:56] #435 closed

[2017-08-18 16:35] samreid commented on #391
Branch merged and ready for deletion (here and in chipper).  I'll verify, delete, close.

[2017-08-18 16:36] samreid commented on #436
Fixed in preceding commit, closing.

[2017-08-18 16:36] #436 closed

[2017-08-18 16:39] samreid commented on #391
Branch deleted, closing.

[2017-08-19 01:53] jonathanolson opened #437 "Handling sim unloading due to memory constraints"
As noted in https://github.com/phetsims/circuit-construction-kit-dc/issues/141, sims can get unloaded from memory when switching between other tabs. Ideally we'd gracefully reload the same state in the sim.

This looks to be possible through an interaction between multiple different APIs (History, Page Visibility and Navigation Timing APIs):

First of all, we can use the History API to store ident

[2017-08-19 14:29] kathy-phet commented on #437
Thank for the ideas, JO.  Good to know there are options and we should keep this in mind, but I think we should not pursue any additional effort here at this time.

Sent from my iPhone

On Aug 18, 2017, at 7:53 PM, Jonathan Olson <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #437<https://github.com/phetsims/joist/issues/437> to @kathy-phet<https://github.com/kathy-ph

[2017-08-22 03:52] samreid commented on #427
Hopefully not too many clients are using `additionLicenseStatement` in their wrappers, and our API diffing tool when it exists should address this API change.  I don't think there is a need for tracking this now.  Also, I am somewhat confused that there are 3 open "breaking API change" issues and 8 closed ones.  What is the distinction between them?

[2017-08-22 03:55] samreid commented on #336
One requirejs faraday's law test launched fine on ie11.576 on my mac/virtual box/win10.  Closing.

[2017-08-22 03:55] #336 closed

[2017-08-22 03:57] samreid commented on #169
@ariel-phet are we still going to do this?  Can this issue be closed?

[2017-08-23 15:25] jonathanolson commented on #437
Notes for future self about changes (were temporary working-copy conditions):

[code]
[code]

[2017-08-24 21:50] phet-steele opened #438 "[Instance Proxies] Do screen titles have a maxWidth?"
@jessegreenberg @samreid @zepumph, presumably this is a joist issue. It may not be too important, but worth noting.

It looks like both the screen title text on the home screen (not the sim title) and the screen title text in the navbar do not have a maxWidth set...or something. Typing in long strings pushes elements around the screen.

- On the home screen, other screen buttons are pushed off scr

[2017-08-25 18:47] samreid commented on #438
I reproduced the problem, it seems ideally we would want to reflow the layout if these screen names are changed or set a max width.  @ariel-phet and @kathy-phet can you help prioritize this issue?

[2017-08-25 18:50] kathy-phet commented on #438
I think setting a max width for the names, something that is beyond what we would choose as a name, would be good.

[2017-08-27 01:42] samreid commented on #438
In the preceding commit, I used maxWidth for the home screen buttons and it prevents the text from getting too large, but unfortunately the text doesn't remain centered (even though resize:true is set in VBox).

![image](https://user-images.githubusercontent.com/679486/29746413-a6c03fa4-8a96-11e7-8fd0-f2ecde0e5b05.png)

Still, I think this is a step in the right direction.  @pixelzoom or @jonathan

[2017-08-27 01:52] samreid commented on #438
Likewise, @pixelzoom @jonathanolson or @jbphet can you please review the 2 preceding commits regarding fixing the navigation bar button text from getting too wide?

[2017-08-27 03:52] jonathanolson commented on #438
It sounds fairly safe (after a brief review), as long as we don't try to bold the text after or something like that.

Let me know if you want an in-depth review.

[2017-08-27 17:10] samreid commented on #438
A cursory review seems acceptable to me, I'm inclined to move the centering issue in https://github.com/phetsims/joist/issues/438#issuecomment-325171719 to a new lower-priority issue and close this one.

[2017-08-27 17:10] #438 closed

[2017-08-27 17:11] samreid opened #439 "Text modified with phet-io to be longer is no longer centered"
See https://github.com/phetsims/joist/issues/438#issuecomment-325171719

[2017-08-28 05:53] zepumph commented on #427
All of the closed issues are from issues from a year or more ago. I have since repurposed this label into open issues to keep track of changes made to the api until we figure out the next system.

I was using this as a solution without thinking through that our api change detection will need to be backwards compatible. We don't need to necessarily keep track of this. I defer to your judgment.

[2017-08-28 14:47] samreid commented on #427
OK thanks for discussing it, my recommendation is to focus efforts on an API diffing tool.

[2017-08-28 14:47] #427 closed

[2017-08-28 16:32] ariel-phet commented on #169
I don't think so. Closing

[2017-08-28 16:32] #169 closed

[2017-08-29 20:12] zepumph opened #440 "propagate tandem to ScreenView"
copied from  https://github.com/phetsims/phet-io/issues/1098, @pixelzoom  said:

As decided in https://github.com/phetsims/molarity/issues/31#issuecomment-292664293...
Subtypes of ScreenView should propagate tandem to the supertype constructor.
Most (all?) instrumented sims don't do this, with the exception of molarity.

[2017-08-29 20:13] zepumph commented on #440
This should be updated in the `how to` docs as well, since I bet that it isn't there.

[2017-09-07 17:27] pixelzoom opened #441 "attempt to register the same listener twice for Screen.backgroundColorProperty"
Related to https://github.com/phetsims/axon/issues/140 (Phase 2: remove the guard from Property.link).

In Sim.js:

[code]

If Screens share the same instance for `backgroundColorProperty`, then line 667 above will result in an attempt to register the same listener twice.

We'll need to resolve this before proceeding with sim testing for https://github.com/phetsims/axon/issues/140.

[2017-09-07 17:29] pixelzoom commented on #441
Proposed fix:

[code]

to:

[code]

@samreid @jonathanolson any objections?

[2017-09-07 17:38] pixelzoom commented on #441
I went ahead an committed the proposed fix, since it was needed to proceed with sim testing. @samreid or @jonathanolson please review.

[2017-09-07 19:14] jonathanolson commented on #441
Seems safe enough, thanks.

[2017-09-07 19:14] #441 closed

[2017-09-10 16:52] pixelzoom opened #442 "Sim: startedSimConstructorEmitter and endedSimConstructionEmitter"
I ran into this while looking for something that fires after the Sim is up an running.

In Sim.js:

[code]

Problems here....

(1) One is named "Constructor", the other "Construction".  Tricky.

(2) The documentation tells us nothing about when these fire. And it's not at all clear from reading the code: `startedSimConstructorEmitter` isn't at the very beginning of the constructor. `endedSimConstr

[2017-09-13 21:29] zepumph commented on #440
Great catch @pixelzoom. We are now passing tandem up to every `ScreenView` instrumented for PhET-iO.

[2017-09-13 21:35] zepumph commented on #440
I will create a new issue to address updating the "how to instrument" docs to make sure this is more explicit. Closing

[2017-09-13 21:35] #440 closed

[2017-09-19 19:00] lmulhall-phet commented on #234
Resizing seems to work in iOS 11 for multiple sims.

[2017-10-04 02:31] zepumph opened #443 "Are there too many active Properties?"
This came up last week during a PhET-iO design meeting to rework Faradays law with @samreid and @kathy-phet. In instance proxies you can only set the sim's active property, but there are active properties for each screen that seem to just be read only. Should they be renamed? Is this even a problem. From a phet-io standpoint it is a little confusing that they are named the same thing, but don't wo

[2017-10-04 14:59] samreid commented on #443
Here is the doc for the recently added Screen.activeProperty:

[code]

It doesn't appear to have a tandem, is this showing up in instance proxies or the data stream?

[2017-10-04 15:18] phet-steele commented on #443
@samreid yup:

`energySkateParkBasics.homeScreen.activeProperty`
`energySkateParkBasics.introScreen.activeProperty`
`energySkateParkBasics.frictionScreen.activeProperty`
`energySkateParkBasics.playgroundScreen.activeProperty`

and yup:

<img width="497" alt="screen shot 2017-10-04 at 9 17 17 am" src="https://user-images.githubusercontent.com/5863899/31183803-e12e8d6e-a8e4-11e7-9cd7-4de0fdc1b704.pn

[2017-10-04 15:44] jbphet commented on #443
@zepumph said:

Yes, I requested these properties and worked on them to support being able to mute sounds when a screen within the sim is not being shown, or when the tab in which the sim is running in hidden, or when the whole browser window is minimized.  Please see https://github.com/phetsims/joist/issues/418 and https://github.com/phetsims/joist/issues/421.  I would have no objection to renami

[2017-10-04 23:49] jessegreenberg opened #444 "Fix PhET menu focus highlight"
Wile working on phetsims/scenery#676, @zepumph and I noticed that the bottom of the PhET menu button focus highlight is clipped off screen for default layouts.  We should fix this, probably with a custom focus highlight using ```FocusHighlightPath```.

[2017-10-05 00:28] zepumph commented on #444
Here is an example from FL
![image](https://user-images.githubusercontent.com/6856943/31205937-1573fe56-a921-11e7-867f-f6e72121af20.png)

[2017-10-05 16:15] zepumph commented on #444
@terracoda could you confirm that this is a problem to have the bottom cut off from a design standpoint?

[2017-10-05 16:17] terracoda commented on #444
@zepumph, oh that's an issue. We had that issue in JT just before release, and @jessegreenberg fixed it. I do not know if the solution was a custom one.

[2017-10-05 16:25] zepumph commented on #444
Thanks! We'll take care of it.

[2017-10-05 16:45] jessegreenberg commented on #444
This is also an issue for the KeyboardHelpButton.

![capture](https://user-images.githubusercontent.com/6396244/31239414-3b88f7c4-a9ba-11e7-90f2-1e9ea4571f97.PNG)

We used to have a custom focus highlight around these, we were hoping they could be removed after phetsims/scenery#676, but they might need a bit of adjustment.

[2017-10-09 17:02] jessegreenberg commented on #444
Marking high priority, this should be done before  an RC with keyboard nav.

[2017-10-09 23:55] jessegreenberg commented on #444
![capture](https://user-images.githubusercontent.com/6396244/31363281-9dd10dd2-ad1a-11e7-9bee-72ad2b281991.PNG)

Fixed in the above commit, thanks for the help @zepumph!

[2017-10-09 23:55] #444 closed

[2017-10-11 00:07] zepumph opened #445 "PhET-iO Design meeting for joist + a11y"
Today we hosted a design meeting for joist/a11y components and phet-io instrumentation. The focus was to look into the desirable features and also to prune down what is already instrumented in instance proxies. Attendees @emily-phet, @kathy-phet, @ariel-phet, @arouinfar, @jessegreenberg, @samreid, @zepumph, @terracoda.

The discussion was loosely based on faradays-law because we will implement thi

[2017-10-11 06:23] samreid commented on #443
It makes sense to me for the screens to be active and the sim to be independently active.  Perhaps this can be covered with `phetioDocumentation`?

[2017-10-11 22:50] zepumph commented on #443
I think the reason why I was getting confused is because the sim `activeProperty` behaves differently than the individual screen's `activeProperty`. You can set the sim's, but not the screen's. At first I thought it may be confusing to have the same name, but now I disagree with past michael.

I think it is the most straightforward to set the active property on the entire sim, and let joist intern

[2017-10-11 22:50] #443 closed

[2017-10-12 18:54] zepumph commented on #411
This is a key part of chipper:2.0, we should discuss fully when @pixelzoom and @kathy-phet are present as well.

Things like phet-io studies, potentially other phet-io brands, will play into this.

[2017-10-13 22:40] samreid opened #446 "Clean up tandems in Sim"
Some places are using `+'.sim.Something` and some places do not even need `sim` at all.  We should look through these tandems and clean them up.  Closely related to  #445.

[2017-10-14 01:11] zepumph commented on #446
@samreid please review

[2017-10-14 02:57] samreid commented on #446
I'm wondering if we can eliminate `simTandem` and just use `tandem`.  Also, can the `barrierRectangle` be uninstrumented?

[2017-10-14 22:30] zepumph commented on #446
That isn't a bad idea. I kinda like how it is organized, but maybe it just ends up being more confusing.

We have gone down this road before. If I remember correctly the answer is no, because in the data stream, I think it is the only way to know that a dialog closed (or how it was closed) if you click away from the dialog. Currently we have it set up as `dataStreamOnlyType`. Once `phetioMethods`

[2017-10-15 00:14] samreid commented on #446
Scenery has a new way to detect when clicking away from a dialog, perhaps we can use that instead.

[2017-10-17 03:09] samreid commented on #446
@jonathanolson do you think we can eliminate joist's barrier rectangles and use Display.addInputListener instead?

[2017-10-17 05:02] jonathanolson commented on #446
Presumably not, it notifies the display after dispatching the event to nodes.

[2017-10-17 17:25] zepumph commented on #446
Is this what you are thinking of? Example from ESPB ControPointUI.js:
[code]

[2017-10-17 19:46] zepumph commented on #446
I reverted the above commit because currently there are a lot of places in the wrapper code that assumes the `.sim.` tandem. I want to think a bit more before just dive into it. If we go about this. We will need to change the (1) wrappers on master including the classroom activity, (2) sonification wrapper but in correlation with new publications, because it break's their api, and (3) the phet-io-

[2017-10-18 00:02] zepumph commented on #445
For now I am not instrumenting keyboard help dialog content since it seems like we are just going to want to toggle the nav bar button until we work out dynamic features.

[2017-10-18 06:27] samreid commented on #446
It will be a hassle to change the names of these things now, but it will be much more painful later on.  We should decide what we want to be in stable 1.0s.

[2017-10-18 18:35] zepumph commented on #446
Agreed. I guess the cost shouldn't play into the decision to move towards the optimal solution.

[2017-10-18 20:20] zepumph commented on #446
What I really meant above is that the cost shouldn't play into deciding what the optimal decision is.

[2017-10-18 20:55] phet-steele opened #447 "CCKDC is slowing down in LoL"
Slack conversation:

**Steele Dalton**

Looks like setting up a complex circuit and pausing/resuming in LoL about 150 times really slows the sim down…..what do you think?

**Sam Reid**

that’s interesting, let me clarify
if you set up a complex circuit, performance is good
then you pause/resume once in LOL and performance is still good
then you pause and resume 30 times in LOL and performance is s

[2017-10-19 02:15] samreid commented on #447
I added this code to LegendsOfLearningSupport.js and was easily able to reproduce the problem on Mac/Chrome:

[code]

[2017-10-19 02:15] samreid commented on #447
Using the above code I replicated the problem in Function Builder.

[2017-10-19 02:19] samreid commented on #447
The profiler shows an unusual amount of time spent in Display.updateSubtreeDisposed:

![image](https://user-images.githubusercontent.com/679486/31751232-8c9c3b4e-b441-11e7-99ad-84776b8bc920.png)

[2017-10-19 02:21] samreid commented on #447
The problem is that requestAnimationFrame is being called again on each pause.  So if you pause 5 times, there will be 5 simulation steps per animation frame.

[2017-10-19 02:29] samreid commented on #447
One solution would be to move the bottom half of Sim.runAnimationLoop to a new function, and call that from LegendsOfLearningSupport.  @pixelzoom I'd like to run this past you before working on it.  You can reproduce the problem by adding https://github.com/phetsims/joist/issues/447#issuecomment-337779804 to LegendsOfLearningSupport.js then launching function-builder with ?legendsOfLearning.  Then

[2017-10-19 02:32] samreid commented on #447
We may need to make maintenance releases to fix affected simulations.

[2017-10-19 16:00] jonathanolson commented on #447
When the sim gets paused, should we use `cancelAnimationFrame` to stop the loop (so we can restart it easily with a new `requestAnimationFrame` later?)

[2017-10-19 16:51] samreid commented on #447
@jonathanolson suggestion sounds like the right solution to me, but I would want to confirm that nothing is relying on the sim updating the display while paused.

[2017-10-19 16:58] pixelzoom commented on #447
I'm not at all familiar with the LoL project, and not totally sure what "the bottom half on Sim.runAnimationLoop" is - do you mean the second `if` statement?

Does @jonathanolson's suggestion (https://github.com/phetsims/joist/issues/447#issuecomment-337954681) make it unnecessary to "move the bottom half of Sim.runAnimationLoop to a new function"?

[2017-10-19 17:02] pixelzoom commented on #447
I really don't understand this problem at all - why the frame rate is so high, why a lot of time is spent in Display.updateSubtreeDisposed.

[2017-10-19 20:43] zepumph commented on #445
Marking as high priority as it is blocking FL redesign and data stream design meeting schedule.

[2017-10-19 20:43] zepumph commented on #445
I will try to get to this asap

[2017-10-19 20:48] samreid commented on #447
LegendsOfLearningSupport.js calls this code on pause: `sim.boundRunAnimationLoop();` . That schedules another animationFrame callback, but there is already another animation frame callback.  So the same callback would get called twice on the next animation frame.  This is because runAnimationLoop has this code:

[code]

So if you pause it 100 times, then on the next animation frame, the `boundRunA

[2017-10-20 21:24] jessegreenberg commented on #355
In https://github.com/phetsims/a11y-research/issues/45 @terracoda and @melbanyard made a mockup for accessible content for the home screen. And we are nearly ready to work on keyboard nav in sims  with multiple screens.

Here is the mockup:
http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/sim-screens/template-sim-screen/00-home-screen.html

@zepumph

[2017-10-20 21:56] BryceAG opened #448 "Changing iPad orientations and reloading causes display errors"
With iPad iOS 10 and 11 (but not 9) if you go back a page, change the orientation, and go forward to the sim again it will not update the orientation.
![ezgif com-crop](https://user-images.githubusercontent.com/15327201/31843029-28a0ce48-b5ae-11e7-915d-1b9cb109510e.gif)
Additionally, the interactive area for objects is not where the displayed object is.
![ezgif com-video-to-gif 1](https://user-ima

[2017-10-21 00:17] zepumph commented on #355
I got started on this this afternoon. There is now keyboard nav on the screen buttons of the home screen. You can see the best progress in RPAL's a11y view, because I added screen descriptions for them also. Try it here http://phettest.colorado.edu/reactants-products-and-leftovers/reactants-products-and-leftovers-a11y-view.html?brand=phet

Here are some disjoint notes I took along the way.

* I im

[2017-10-21 00:18] zepumph commented on #355
Have a look @terracoda @jessegreenberg and @melbanyard!

[2017-10-22 00:57] samreid commented on #447
Unassigning myself until I hear back from @pixelzoom

[2017-10-23 16:27] pixelzoom commented on #447
I have no familiarity with LoL, and now have only a vague understanding of the problem.  Since @jonathanolson recommended a solution that @samreid thinks is "the right solution", I suggest that they collaborate on resolving this.

[2017-10-24 01:13] terracoda commented on #355
@zepumph, great so far. I hear the list structure, and "Sim screen" aria-roledescription.

As per https://github.com/phetsims/joist/issues/355#issue-176776975,

Re item 1
AT like screen readers, will just automatically start reading from the top of the page  (Page Title, H1, intro P, UL and items, etc.), so I don't think we have to do anything specific to make it start reading, except provide the

[2017-10-24 17:29] zepumph commented on #355
Discussion in keyboard navigation meeting today:
Tab to a small button should "click" it and activate the large button.

[2017-10-24 17:45] ariel-phet commented on #448
@BryceAG @phet-steele can you let me know if this happens with other simulations, or just with CCK? Since in Joist, I am assuming all sims?

[2017-10-24 17:53] BryceAG commented on #448
I haven't checked all of the sims, but confirmed that it happens with pendulum lab and projectile motion. I think it's safe to assume it happens for all of them.

[2017-10-24 18:00] ariel-phet commented on #448
@BryceAG thanks. Good to know.

[2017-10-24 18:05] ariel-phet commented on #448
@samreid I think this would be worth some investigation **after** CCK 1.0 is out the door. I am not too concerned by the issue, but we do see lots of organic examples of our sims used in both orientations.

I might also mark this for a quick discussion in dev meeting. For instance, on our iPad app the orientation is locked to landscape (which is what we design our sims for anyhow), and we have yet

[2017-10-24 18:23] zepumph commented on #355
Just to be clear you want that role on the list, so the html will be:
[code]
Also currently it is an ordered list, would you like it to unordered?

[2017-10-24 18:26] terracoda commented on #355
@zepumph, sorry, I didn't hear anythign about navigation on my quick test. If the `nav` element is there, that provides the navigation role natively. There is no need for role="navigation" on the `ol`.

[2017-10-24 18:27] terracoda commented on #355
@zepumph, we are going with the ordered list to imply/encourage to do the screen in order.

[2017-10-24 18:29] zepumph commented on #355
Great!

[2017-10-24 18:42] zepumph commented on #355
In the above commit I updated the "select large button on tab" logic. @terracoda will you take a look.

I just thought of something else. Since we are using two different buttons that hold the same information, but switching them out, will that be confusing to non visual users? I notice that in the PDOM it is redrawing the entire accessibility `div` when we change button visibility. Will AT users

[2017-10-24 18:49] zepumph commented on #442
`statedSimConstructorEmitter` doesn't exist anymore. `endedSimConstructionEmitter` can be used by anyone like LegendsOfLearnerSupport does. Doc has been improved. Closing

[2017-10-24 18:49] #442 closed

[2017-10-25 17:13] terracoda commented on #355
@zepumph, the Tab interaction looks good, and mostly sounds good in Voice Over.

There is one some strange focus behaviour when I make Voice Read from the beginning (Cmd-Option-B key). Visual keyboard focus moves with the virtual cursor (that might be normal), but VO stops reading randomly on the list items. Not sure if this has to do with redrawing of buttons. VO does not say why it is stopping.

[2017-10-26 16:25] pixelzoom commented on #448
@ariel-phet suggested:

I may not know what I'm talking about here... But since sims run in the browser, wouldn't this involve locking the browser to landscape mode?  And if so, isn't that a bit rude, since it assumes the browser is being used solely to run PhET sims?

[2017-10-26 18:09] pixelzoom commented on #448
10/26/2017 dev meeting:
JO: You can't lock the browser, but you can force the context to be locked. Would still be potentially buggy.
AP: For @samreid to investigate after CCK:DC is published.

[2017-10-26 18:10] samreid commented on #448
@jonathanolson pointed out that the root problem is that the bounds are wrong.  We should investigate this.  We will not look into rotating the view, just looking into why the bounds are wrong.

[2017-10-26 23:04] zepumph commented on #355
Is there any insight you have on when it stops reading? I could imagine that it would stop reading when you switch from the first screen to the second, because when you do that interaction (tabing from the first screen, which is large and highlighted, to the second smaller one which then becomes large and highlighted) both buttons are removed from the PDOM and redrawn as the opposite button sizes

[2017-10-27 01:53] jonathanolson commented on #447
I don't think the sim.boundRunAnimationLoop should be there on further inspection. I removed it (things work normally now).

@samreid can you review?

[2017-10-27 03:36] samreid commented on #447
@jonathanolson thanks, you got to the heart of the matter.  I tested your change in http://harness.legendsoflearning.com/ with CCK-DC from master and after many pause/resumes it is still behaving correctly.  We should discuss with @ariel-phet if we are going to perform maintenance releases of any existing LOL sims, and I'll roll this fix into RC.2 for CCK.

[2017-10-27 04:08] samreid commented on #447
Will be ready for RC testing in https://github.com/phetsims/QA/issues/59

[2017-10-27 13:45] terracoda commented on #355
@zepumph, no insight yet. Usually screen reader software just reads what is in the PDOM until I tell it to stop, or I do an interaction. However, in the case of the home screen, it just stops reading...a couple of times on the first button and a couple of times on the second button.

[2017-10-27 16:29] phet-steele commented on #447
Looks kosher in https://github.com/phetsims/QA/issues/59. It's easy to test with `&profiler` to verify we aren't getting too high an fps (the root problem) rather than just testing performance. CCKDC stayed at 60 fps through multiple pauses and resumes and didn't climb to 60000 fps.

[2017-10-27 17:20] zepumph commented on #445
Functionality lost but not mentioned in the list above:
* the MenuItem's TextNode uninstrumented, so you can't customize the text of the menu items.
*

[2017-10-27 17:59] zepumph opened #449 "Add screen name to title when multiscreen sim is run with one screen via `?screens=3`"
From https://github.com/phetsims/joist/issues/445:

This seems like a nice improvement across the board, and will be especially nice is PhET-iO. I will take a stab at this and then ask for review since it touches every multiscreen sim.

[2017-10-27 18:26] ariel-phet commented on #447
In discussion with @samreid it sounds like this might be a good candidate for maintence releases on LoL sims (since it is a one line change, and not having the fix could affect sims that have a strong tie to the temporal model like PM and FAMB). However, there appears to be some confusion as to what sims are actually LoL sims...what sims LoL have been delivered, published, etc.

[2017-10-27 18:30] zepumph commented on #449
Commit is below. @samreid  will you please review.

[2017-10-27 18:32] samreid commented on #449
I suspect we will need to internationalize this using a pattern so it will work well for RTL languages as well.

[2017-10-27 19:07] ariel-phet commented on #447
Ah, it appears there is a google doc with this info:

https://docs.google.com/spreadsheets/d/1umIAmhn89WN1nzcHKhYJcv-n3Oj6ps1wITc-CjWYytE/edit#gid=0

Looks like Projectile Motion, Pendulum Lab, FAMB, BAM, ESPB should all receive this update.

[2017-10-27 19:32] samreid opened #450 "Republish LOL sims with the animation frame fix"
From https://github.com/phetsims/joist/issues/447

@ariel-phet said:

Ah, it appears there is a google doc with this info:

https://docs.google.com/spreadsheets/d/1umIAmhn89WN1nzcHKhYJcv-n3Oj6ps1wITc-CjWYytE/edit#gid=0

Looks like Projectile Motion, Pendulum Lab, FAMB, BAA, ESPB should all receive this update.

UPDATE: changed BAM to BAA

[2017-10-27 19:39] samreid commented on #447
I'll move to #450 and close this one.

[2017-10-27 19:39] #447 closed

[2017-10-27 19:40] samreid commented on #450
The commit to cherry pick removes 1 line of code:
63046a699e8e3994f9c40f8d93482a497f0316b3

[2017-10-27 19:48] samreid commented on #450
Based on the spreadsheet, I think @ariel-phet probably meant BAA instead of BAM.

[2017-10-27 19:57] samreid commented on #450
I created issues for the 5 affected simulations and assigned them to the appropriate developers, @ariel-phet would you like to leave this open as a "master" issue, or just continue in the sub-issues?

[2017-10-27 20:09] ariel-phet commented on #450
@samreid yes meant BAA! And yes lets leave this open

[2017-10-27 20:21] samreid opened #451 "Replace ?showHomeScreen=false with ?bypassHomeScreen"
In https://github.com/phetsims/joist/issues/445 we are building out more joist functionality regarding the homescreen, and will be adding a new query parameter `?homeScreen=false` which creates a sim with no home screen and no homescreen icon.  There is an existing query parameter `showHomeScreen` which seems like it would be easy to confuse with the new one.  We recommend replacing `?showHomeScre

[2017-10-27 20:22] samreid commented on #451
To be clear "bypassHomeScreen" still creates a homescreen, but launches the sim on the 1st screen.  You can get to the homescreen with the navbar home icon.

[2017-10-27 20:22] pixelzoom commented on #451
Wouldn't it be more general/flexible to specify which screen to start on?  E.g. `initialScreen=1`?

[2017-10-27 20:25] samreid commented on #451
There is already a query parameter `?screenIndex` in which you can specify the initial screen.  We could rename it if desired.

[2017-10-27 20:27] pixelzoom commented on #451
`?screenIndex` is the screen that's initially selected on the home screen. It does not start the sim on that screen.

[2017-10-27 20:27] pixelzoom commented on #451
(and I'm wonder what the point of it is).

[2017-10-27 20:29] pixelzoom commented on #451
Back to `initialScreen`...  Semantics of the values should be the same as `screens` query parameter.  E.g. `?screens=1,3&initialScreen=3`.

[2017-10-27 20:38] samreid commented on #451
Currently, you can combine them like so: ?screenIndex=3&showHomeScreen=false

[2017-10-27 20:44] pixelzoom commented on #451
`screenIndex` value  apparently has different semantics that `screens`.  E.g. `&screens=1,3&screenIndex=3&showHomeScreen=false` fails.

If the purpose of `?screenIndex=3&showHomeScreen=false` is to start the sim on a specific screen, why not collapse that to 1 query parameter, like `initialScreen`.

[2017-10-27 20:46] pixelzoom commented on #451
I recommend 3 mutually exclusive query parameters:

`screens` - the screens to include, {number[]}
`startScreen` - the screen to display at startup, {number}
`homeScreen` - whether to include the home screen, {boolean}

[2017-10-27 20:48] pixelzoom commented on #451
I recommend 3 mutually exclusive query parameters, where all screen numbers refer to indices of the default set of screens, numbered starting from 1.

`screens` - the screens to include, {number[]}
`initialScreen` - the screen to display at startup, {number}
`homeScreen` - whether to include the home screen, {boolean}

Delete `screenIndex` and `showHomeScreen`.

[2017-10-27 21:33] zepumph commented on #449
How about that implementation? Especially the name of the string key, I feel like I'm bad at naming those things.

[2017-10-27 21:47] samreid commented on #449
There is a lint error:

  45:3  error  Mismatched var in require(string!), key=simTitleWithScreenNamePattern, var=simTitleWithScreenNamePattern, desiredVar=simTitleWithScreenNamePatternString  string-require-statement-match

[2017-10-27 21:50] samreid commented on #449
Everything else looks good to me.

[2017-10-27 21:50] samreid commented on #449
Do @kathy-phet and @ariel-phet want maintenance releases of this feature for our LOL sims?

[2017-10-27 21:55] kathy-phet commented on #449
It's not a high priority, but if it can be done without much difficulty, it seems worthwhile. Not time sensitive either.

[2017-10-27 22:02] zepumph commented on #449
@samreid I'm very un-involved in the LOL process, what sims would need this if we decide it is worth the cost?

[2017-10-27 22:08] zepumph commented on #449
@samreid I see https://github.com/phetsims/joist/issues/450, want to just add these commits into that?

https://github.com/phetsims/joist/commit/a3e46b837526023de9518247a1e68b991be440b6
https://github.com/phetsims/joist/commit/d418f9eb727f33d50b6cb403ce9b1c96f479f8ad4
https://github.com/phetsims/joist/commit/28a9c131cd75787a431b64af63f52a185cb842ca

[2017-10-27 22:16] zepumph opened #452 "Remove disableRequestAnimationFrame from TSim"
It is only used in `assess.html` to keep pointer events from interacting with the sim. These days we often use css (`pointer-events: none`) or setting the activeProperty if applicable. This method on TSim seems like unneeded bloat on the TType. @samreid what do you think?

[2017-10-27 22:23] zepumph opened #453 "Find a way to keep the logo in PhET-iO brand, but disable the menu"
From #445:
Kathy says clients will need to disable the phet button, perhaps via setPickable(false), OK to show the 3 dots, Kathy is not worried about that. The key is to keep the logo.

This could be done pretty easily if we create a new TType for the PhETMenu button that doesn't extend from node, that way you can't set its visibility, Then we can implement pickable on that Ttype.

This strategy i

[2017-10-27 22:31] pixelzoom commented on #451
At the risk of muddying the waters, I'll propose another alternative that only requires 2 query parameters, `screens` and `initialScreen`.

This approach identifies the home screen with index `0`. That index would be valid in both `screens` and `initialScreen`, making `homeScreen` unnecessary.  Examples:

For a sim that has 3 non-home screens, the default for `screens` would be `0,1,2,3`.  If you

[2017-10-27 22:37] zepumph opened #454 "A11y components are instrumented and in instance proxies even if a11y is not enabled"
From #445 can you think of a way to do the necessary layout in NavigationBar around the keyboardHelpButton, but only create the type if in accessibility mode.

The reason this came up is because it is in instance proxies even if the button isn't displayed.

For implementation I'm thinking something like:
[code]

Let me know what you think. Assigning to @jessegreenberg since he implemented this.

[2017-10-27 22:42] zepumph commented on #454
Wait, all a11y things are like this. Renaming this issue to think about that issue in a larger context.

[2017-10-27 22:44] zepumph commented on #454
Is this acceptable? Do we even have a problem here. It seems confusing that all of our phet-io sims will have ariaHerald in their instance proxies. It will be a long time before all of the phet-io sims use a11y alerts and need ariaHerald. Is this something that we just have clients ignore, and don't spend any energy on hiding these useless (when a11y no enabled) components?

[2017-10-27 22:48] zepumph commented on #445
I made a first pass at this issue today, and @samreid and I discussed a few good points. For the most part everything has been promoted to it's own issue. As a high priority it seems like we should fix everything that hits Faradays Law so that we can move forward with the redesign process. Depending on the outcome of https://github.com/phetsims/joist/issues/454, that may not touch any a11y stuff (

[2017-10-27 22:52] zepumph commented on #451
As a developer, I prefer this option. I want to hear from someone like @ariel-phet if the `?screens` is used in the classroom, and how extensively. Is this a large api change for phet? Or are only power users that can adapt easily using this?

[2017-10-27 23:19] samreid commented on #452
Agreed, we should eliminate it and use a better way of disabling interaction.

[2017-10-27 23:38] zepumph commented on #452
Alright. Since `assess.html` points to a published sim, I think that we should just delete it in master. When we rework `assess.html` there will be much more to do than just this call.

[2017-10-27 23:40] zepumph commented on #452
I'm not sure why there was so much deliberation here, after looking into it, `Sim.disableRequestAnimationFrame` is no longer a method anyways, so this was already broken. Closing

[2017-10-27 23:40] #452 closed

[2017-10-28 00:42] ariel-phet commented on #451
@zepumph @pixelzoom a few comments:

1. Currently, we have not advertised the ability to select screens to our users, so unlikely that any normal user (or even power user) would know how to set the screens.

2. Although I like the cleanliness of the proposal by @pixelzoom that identifies the home screen with index `0`, my designer side is a bit uncomfortable with the idea. The homescreen serves an

[2017-10-28 00:45] ariel-phet commented on #449
Removing assignment since @kathy-phet answered

[2017-10-28 15:11] pixelzoom commented on #451
Also note that these query parameters can't be changed from their defaults for single-screen sims. I.e.:

`screens:1`, no other values allowed
`initialScreen:1`, no other values allowed
`homeScreen:false`, `true` not allowed

Rather than have to validate that the default haven't been changed for single-screen sims, perhaps it might be easiest to just disallow the use of these options for single-sc

[2017-10-28 16:23] pixelzoom commented on #451
@ariel-phet's second comment in https://github.com/phetsims/joist/issues/451#issuecomment-340127235 is unrelated to which approach we use. Both approaches (and this issue) deal with providing the ability to hide the home screen, albeit in slightly different ways.  If we start putting non-navigation controls on the home screen, then (a) we can't hide the home screen, and (b) we need a home screen f

[2017-10-29 02:57] samreid commented on #451
https://github.com/phetsims/joist/issues/451#issuecomment-340081541 sounds clearer to me than https://github.com/phetsims/joist/issues/451#issuecomment-340112627

[2017-10-29 13:36] samreid commented on #454
Is a11y buried behind a flag, or will sims incrementally pick up a11y features (including but not limited to aria herald) from common code as we go?  If so, is this our long term plan?

[2017-10-29 13:40] samreid commented on #449
I suspect that will be best, but I have little experience with running 4 cherry picks together--it sounds as if the cherry picking will be order dependent.  I'm wondering if we should attempt to squash these 3 commits into one?  Also, the commits above introduce a new i18n string and I don't expect it to cause trouble but would love to double check that with someone more familiar with the i18n pro

[2017-10-29 13:50] samreid commented on #453
The proposal to create a new type sounds great, perhaps also add an instance proxies control for it to call setPickable true/false.

[2017-10-30 17:02] zepumph commented on #451
I agree, what do other devs think about proceeding with the following:

`initialScreen` - the screen to display at startup, {number}, defaults to home screen
`homeScreen` - whether to include the home screen, {boolean}, defaults to true

[2017-10-30 17:04] pixelzoom commented on #451
@zepumph asked:

_If_ we provide this feature, then that's fine with me.  But as I said in https://github.com/phetsims/joist/issues/451#issuecomment-340202681:

[2017-10-30 17:06] zepumph commented on #454
A11y is buried behind a flag, but the flag is omitted once a sim is ready for a11y production. I don't really know how these a11y common code components are bundled. @jessegreenberg could you please answer the question above?

[2017-10-30 17:46] jonathanolson commented on #451
I agree with @pixelzoom's proposals and thoughts above.

[2017-10-30 17:51] jbphet commented on #451
I'm in agreement that @pixelzoom's first proposal (https://github.com/phetsims/joist/issues/451#issuecomment-340081541) sounds like a good plan, and I concur that if skipping the home screen is allowed then having "additional settings" on only that screen would be problematic and should be avoided.

[2017-10-30 20:24] zepumph commented on #449
Assigning @jbphet. Is the new i18n string from https://github.com/phetsims/joist/commit/d418f9eb727f33d50b6cb403ce9b1c96f479f8ad used appropriately?

[2017-10-30 20:26] zepumph commented on #449
@samreid I am not familiar with consolidating commits, does that mean reverting all three and making the changes as 1? I think that that may take just as long as the following three lines of bash in joist. Order does matter:

[code]

[2017-10-30 21:42] jbphet commented on #451
FYI, @zepumph said:

I just spoke with @kathy-phet about the usage of the `screens` query param (in relation to a different issue), and she told me that it is used by LoL, Nearpod, and by some teachers, so we should be careful not to alter how it works.

[2017-10-30 21:45] pixelzoom commented on #451
That's unfortunate, because the way it works now is confusing and not a very good public interface.

[2017-10-30 21:50] pixelzoom opened #455 "identify @public query parameters"
In https://github.com/phetsims/joist/issues/451#issuecomment-340593743 we've been advised not to change a query parameter that we (developers) seem to agree has problems.  The reason for not changing it is that it has apparently been advertised to clients and teachers, and is now in use.

Which query parameters are intended for public use?
Which query parameters are already in public use?

And goi

[2017-10-30 21:51] kathy-phet commented on #451
This still works:

[2017-10-30 21:51] kathy-phet commented on #451
The people I know only use the "screens=x,x" part.

[2017-10-30 21:53] pixelzoom commented on #455
Also recall that this same issue came up recently with the `screens` query parameter, see https://github.com/phetsims/joist/issues/399.  It was intended for internal use, and make public before we had a chance to clean it up.

[2017-10-30 21:55] pixelzoom commented on #451
It still works.  But if you want consistency across sims (as was requested when we made a similar change to the `screens` query parameter), then that will require republishing sims.

[2017-10-30 21:56] pixelzoom commented on #451
Perhaps I misunderstood.  If you're referring only to the `screens` query parameter, then we're likely OK.

[2017-10-30 22:38] zepumph commented on #453
@samreid please review. I added TPhetButton that implements the same methods as TNode for pickable manipulation. This seems a bit strange and hard to maintain. Now if pickable changes in node, the dev will need to remember to fix it in TNode, but also in TPhetButton, which doesn't really make any sense, but seems to be the direction we are moving to take a step away from implementation details (li

[2017-10-30 22:50] zepumph opened #456 "Clients should be able to set their own homescreen/navbar icons"
From #445

What do we want to support, links, base64 encoding? Whatever it is will need to be able to passed across the iframe. What do you think @samreid?

[2017-10-30 23:24] zepumph commented on #445
In the above commit I added the "focusedPhetioID" into the state object. This works pretty well to mark the focused item. I found that about 90% or more of tabbable entities in the sim have a tandem. From here I think it would be easy enough to fill in the other tandems so that all tab navigation has phet-io support. I left the indices in there too because that is important for the state wrapper,

[2017-10-30 23:37] zepumph commented on #445
@kathy-phet I have a question about the 4th bullet from above:

Is this bullet that we want to support having different names, or instead that this independence is problematic? I sorta thought that independent updating was a problem. I don't remember exactly what the consensus was. What do you recommend for that feature? It seems like this is in the same boat as the screen icons. For this I though

[2017-10-31 03:42] samreid commented on #451
Rather than adding a new query parameter `initialScreen` and deleting the existing query parameter `screenIndex` we would more likely rename the existing query parameter `screenIndex` to `initialScreen`

[2017-10-31 04:22] samreid commented on #449
Search google for `git squash` but in this case it looks like 3 cherry picks are appropriate.

[2017-10-31 14:04] samreid commented on #456
I tried searching Google for examples of using postMessage to send images and couldn't find anything.  base64 sounds like it would work but before resorting to that we should try sending higher-level representations such as canvas or Image to see if it works as desired.

[2017-10-31 16:23] pixelzoom commented on #451
To clarify... And you proposing to also keep the current behavior, where `initialScreen` would be the initial screen selected on the home screen, and `?initialScreen=3&showHomeScreen=false` would be the required to actually start with that screen visible?  That makes no sense to me - what is the point of using `?initialScreen=3` by itself? And if it's not useful by itself....?

But if you're going

[2017-10-31 16:26] samreid commented on #451
My apologies and you are right, I overlooked the change that initialScreen would bypass the homescreen, so it's not as simple as a rename.

[2017-10-31 17:12] jessegreenberg commented on #454
Most A11y features are hidden behind the `accessibillity` flag, but code and implementation are not. The `accessibility` flag enables/disables creation of the accessible DOM which is what supports keyboard navigation and screen reader access. But we are generally still hitting code and instantiating things related to a11y with or without it.

At the moment I think this means that keyboard help con

[2017-10-31 17:18] samreid commented on #454
I'm not sure.  https://github.com/phetsims/joist/issues/445 already calls for pruning down on a lot of the a11y instrumentation, so perhaps if we are left with a small number of instrumented things that aren't used in some sims (for the near future), it is OK?  On the other hand, if we are really polishing and stabilizing a sim, it would be nice to eliminate all variables that are not usable.

[2017-10-31 17:19] jessegreenberg commented on #454
In the case of the KeyboardHelpButton, we would need to handle layout differently. Also, there is no instance of UtteranceQueue, it is a collection of static functions where the queue is global to the sim. Hiding use of these might look like wrapping a require statement and usages with a check for the accessibility flag.

@samreid @zepumph what do you think about hiding phet-io instrumentation of

[2017-10-31 17:25] jessegreenberg commented on #454
Wait, query params wouldn't be enough, we would need to check `sim.accessible`.

[2017-10-31 17:33] zepumph commented on #451
@ariel-phet and I discussed this in the context of "additional settings". We are good to proceed with a HomeScreen query parameter. The current consensus comes from @pixelzoom:

screens - the screens to include, {number[]}, defaults to all screens
initialScreen - the screen to display at startup, {number}, defaults to home screen
homeScreen - whether to include the home screen, {boolean}, defaults

[2017-10-31 17:35] samreid commented on #451
It sounds correct to me.  What will the default value of the initialScreen be (that indicates to start on the home screen)?

[2017-10-31 17:56] pixelzoom commented on #451
[code]

[2017-10-31 18:15] mbarlow12 commented on #451
A quick thought on semantics (from https://github.com/phetsims/joist/issues/451#issuecomment-340817940) and @ariel-phet's design consideration (https://github.com/phetsims/joist/issues/451#issuecomment-340127235). Perhaps `selectedScreen` would be clearer than initialScreen. That would eliminate some potential for troublesome combinations (e.g. `initialScreen:0, homeScreen: false`...that might be

[2017-10-31 18:17] pixelzoom commented on #451
@mbarlow12 said:

A screen can be selected on the home screen, but not yet visible - which was the problem with the current `screenIndex` query parameter.

[2017-10-31 18:38] jessegreenberg commented on #454
To me it seems more OK for 'prototype' phase and less OK for 'stable API' phase. It sounds like we are moving toward stabilizing the PhET-iO API so I recommend removing A11y until it is ready, but would defer to opinions of the PhET-iO team. @samreid and @zepumph let me know what you think.

[2017-10-31 18:52] samreid commented on #454
That plan sounds reasonable to me, thanks!

[2017-10-31 18:53] zepumph commented on #451
To be clear, this query parameter is just for startup, there is a `Sim.screenIndexProperty` to keep track of the indices as a user interacts with the sim. Here `initial` seems explicit that it will only effect the startup condition.

My understanding is that all indices are based on the full list, so `initialScreen:0`, `homeScreen: false` would throw an error because there is no homeScreen. Am I w

[2017-10-31 19:01] pixelzoom commented on #451
If you want to handle invalid values for all cases (single- and multi-screen), you'll be looking at a lot of logic.   Another option is to ignore all 3 query parameters for single-screen sims (which I indicated in [the doc above](https://github.com/phetsims/joist/issues/451#issuecomment-340848683)).  Then you could either ignore `initialScreen` unless it's something other than `0', or handle the `

[2017-10-31 19:02] pixelzoom commented on #451
Another option is to error out if any of these 3 query parameters are used with a single-screen sim.

[2017-10-31 19:03] pixelzoom commented on #451
Another option is to error out (rather than ignore) if any of these 3 query parameters are used with a single-screen sim.  Even if the values are valid, it makes no sense to use these query parameters for a single-screen sim, and even less sense to spend time writing code to support it.

[2017-10-31 19:44] zepumph commented on #451
Erroring out on a single screen sim seems reasonable to me as long as the error message is clear that the qp is superfluous/unneeded.

In general Erroring out may be a better use case for developers so that they can understand how to use these parameters. In this case I think of our LOL clients as developers also, but a teacher may not know how to open the console. . .

[2017-10-31 20:42] zepumph commented on #454
How about adding instanceDocumentation to all of these if and only if accessibility isn't enabled, saying "This sim is not in accessible mode, this instrumented item is only for Accessibility"

This seems like a nice solution that isn't spending time removing things just to add them back in later (since eventually all sims will have a11y. To me keeping a11y seems like the stable way to go. Thought

[2017-10-31 21:14] samreid commented on #454
It seems there are 3 levels or so.

1. Only instantiate accessibility instances when in accessibility mode
2. Always instantiate accessibility instances, but only instrument them in accessibility mode
3. Always instrument accessibility instances and instrument them, but add in different documentation when not in accessibility mode.

In each case we need logic to identify what to do when not in acc

[2017-10-31 21:36] samreid commented on #453
Let's also remove the methods `TPhetButton.isPickable` and `TPhetButton.addPickableListener`, it will help clarify that the only reason the TType exists is to make the PhETButton unpickable.

The toStateObject/fromStateObject/setValue are necessary to capture the customization?

[2017-10-31 21:43] samreid commented on #451
It has been requested that we make it possible to clone/modify/shuffle screens for PhET-iO, see https://github.com/phetsims/phet-io/issues/1247.  That will likely introduce a preprocessing step before we attain the screen list.

[2017-10-31 21:52] pixelzoom commented on #451
@samreid said

Crucial requirement that was missing from this discussion. I'm no longer confident about the recommendations that I've made.

[2017-10-31 21:57] zepumph commented on #453
@samreid, the instance proxy interface for pickable (createInstanceProxyDiv:127 or so) uses all three of these methods. I think that this implementation is good, and refactored nicely for use in TNode and TPhetButton. Is your concern added maintainability complexity?

[2017-10-31 21:58] kathy-phet commented on #451
For the PhET-iO functionality described above - cloning screens - I do not envision this being supported by the query parameters, this would be done through the API only due to its complexity.

[2017-10-31 22:01] zepumph commented on #451
Agreed! I would go one step further and say that I don't think these query parameters should be supported with the phet-io strategy to clone/modify/shuffle screens for PhET-iO. If you are manipulating screens through the phet-io interface, then do that. If using query parameters, do that. I see them as mutually exclusive operations to manipulate screens.

[2017-10-31 22:06] jessegreenberg commented on #454
Determining whether or not accessibility is enabled will be difficult for some instances. For example, many places where UtteranceQueue is used will not have access to the `sim` instance.

That said, `UtteranceQueue` doesn't require accessibility to be enabled for it to work, though a screen reader has to be enabled to hear it and that should probably be in  `instanceDocumentation`.  So I think it

[2017-10-31 22:11] samreid commented on #451
Query parameters have the advantage that they are immediately available on startup (as opposed to PhET-iO calls which are asynchronous and designed to be called any time (though can be applied as initial `expressions`)), and easy to implement and test.  I agree that general sim clients wouldn't want to use this query parameter, but I don't think we should rule out query parameters as the implement

[2017-10-31 22:15] zepumph commented on #454
Shouldn't it be turned off if accessibility is turned off? If we had to republish Ohms Law right now under the phet brand with no accessibility, I  can imagine that we wouldn't want to have partially complete alerts always enabled in our production sim. That isn't a very good example, but as we move through and touch more sims with a11y, that seems important (similar to BASE phet-io release having

[2017-10-31 22:20] zepumph commented on #454
In phet-io we have the ifphetio! plugin, in a11y we have `sim.accessible`. Maybe that is a good policy for all a11y code. In Utterance queue I think it could be pretty straight forward:

[code]

[2017-10-31 22:26] zepumph commented on #445
In regards to https://github.com/phetsims/joist/issues/445#issuecomment-340616526,

In the above comment I thought that the 'title' we were talking about was for each screen. @samreid helped clear it up. It is for the actual sim title. Unassigning @kathy-phet, sorry for confusion.

[2017-10-31 22:27] samreid commented on #453
I see, thanks for explaining that.  The only remaining problem (is it a problem?) is that you have to setPickable once on the home screen button and again on the navbar button.  Should we create a separate issue for that?

[2017-10-31 22:52] jessegreenberg commented on #454
I don't feel strongly, these alerts are really "invisible" unless a screen reader is enabled and without the `accessibility` flag sims are not usable with a screen reader anyway. Keyboard navigation is easier to find for most users so it is critical to hide the accessible DOM until those features are ready for production.

@zepumph in https://github.com/phetsims/joist/issues/454#issuecomment-34092

[2017-10-31 22:53] samreid commented on #451
To implement the proposal above, sims mains would need to be retrofitted like so (beers law lab for example):

[code]

I used the optional tandem so the default tandems can be associated with their screens (instead of letting them get separated).

Here's the auxiliary function in Sim.js

[code]

And the query parameter would be like:

[code]

This implementation has the desired behavior:

![image]

[2017-10-31 23:04] zepumph commented on #453
Here is fine with me, but I'm drawing blanks on a solution. We could have the pickable interface through Sim, which has access to the nav bar and the home screen.

[2017-10-31 23:06] samreid commented on #453
Maybe only instrument one TPhETButton instance and make sure it updates both real instances?

[2017-10-31 23:09] zepumph commented on #451
It does seem like query parameters are pretty straightforward in that case. What about other data we want to pass for the custom screens like the display name (needs to be URI encoded?)  or the icon. I like this conversation for prototyping, couldn't we have a pretty similar interface but through TPhETIO, that way we could get everything set into the frame before the sim is even launched.

Also sh

[2017-10-31 23:13] samreid commented on #451
I think it makes sense to use Query Parameters to set up the screens (which has to be done before the simulation starts), then rely on the existing PhET-iO APIs for setting titles/icons and further customization.

Sure, that could work nicely too (just harder to test because it requires a wrapper).  But I think we should try it.

Yes, and I think we can continue here as long as we perceive the lis

[2017-10-31 23:16] zepumph commented on #454
The thought would be in the Sim constructor. I think I agree with you. Perhaps less work is more here for the alerts components.

For the keyboard dialog, I see that it is tandemRequired. What if we made it tandemOptional. There is only 1 usage of dialog creation, in `KeyboardHelpButton` which is passed a sim instance. So we can just do:

[code]

This just toggles the instrumentation.

[2017-10-31 23:20] zepumph commented on #451
Agreed, I still recommend the same suggestion from https://github.com/phetsims/joist/issues/451#issuecomment-340081541.

Still to decide is how they co-exist. Erroring out or ignoring through a heirarchy?

[2017-10-31 23:22] kathy-phet commented on #451
For the advanced case of cloning a screen in PhET-iO, I still feel like we can require clients to use the API (using expressions to get it prior to start up?) approach for that. It's an advance use-case and so it doesn't seem like we should worry about presenting query option here -- it seems to overcomplicate the options (to me).

[2017-10-31 23:25] zepumph commented on #451
@kathy-phet I responded in https://github.com/phetsims/phet-io/issues/1247#issuecomment-340936354

[2017-10-31 23:30] jessegreenberg commented on #454
Got it! Sorry, I thought the recommendation was for a plugin like ifphetio! and I was hesitant to do that for a11y. That does seem straight forward.  Though I think they are harmless I can see how leaking a11y features when a11y is not enabled is confusing.

That seems fine to me. But I am also happy to work on preventing instantiation for instances and using a pattern like https://github.com/phet

[2017-11-01 00:17] zepumph commented on #445
@samreid please read through https://github.com/phetsims/joist/issues/445#issuecomment-340614487, then go to http://localhost/phet-io-wrappers/instance-proxies/instance-proxies.html?sim=faradays-law&ea&accessibility and use the keyboard nav of the sim (tab key) while looking at the value of the FocusProperty. Notice that when tabbing on the Magnet, we don't have a "focusedPhetioID" key, only indic

[2017-11-01 02:08] samreid commented on #456
We added support for setting images using instance proxies, but @zepumph and I thought we should focus on Faraday's Law (a single screen sim without any icons) until it is ready first.  Putting this issue on hold.

[2017-11-01 02:16] samreid commented on #451
Let's try @zepumph idea to set it through TPhETIO API in https://github.com/phetsims/joist/issues/451#issuecomment-340933680

[2017-11-01 02:50] pixelzoom commented on #451
Lots of other questions related to "cloning" screens (regardless of how it's done):
If the same screen appears multiple times, who do you propose to avoid tandem id collisions?
Will multiple copies of the same screen need to be configured in different ways?
What other problems might this cause?
Do we really need to do this?...

[2017-11-01 02:52] pixelzoom commented on #451
My input on https://github.com/phetsims/joist/issues/451#issuecomment-340930916...  More complexity, more things to break, more difficult to develop sims.   I'm not digging this at all.

[2017-11-01 02:53] samreid commented on #451
A unique tandem can be given to each clone.

Yes, cloning a screen without changing anything seems to provide no advantage.  The clones can be customized with PhET-iO API calls.

It will transform a relatively static API into a dynamic API, which is unconventional and "tricky".

That's a question for @kathy-phet but I think it won't take too long to create a rough draft.  (The main costs will be i

[2017-11-01 03:45] pixelzoom commented on #451
@samreid said:

So yet another cost for PhET-iO, converting something relatively simple to something complex, "unconventional and tricky".  In https://github.com/phetsims/phet-io/issues/1137#issuecomment-307514863 I identified one of the big management questions as:

@ariel-phet @kathy-phet Has anyone asked this question or answered it? Imo the incremental cost of PhET-iO is very high, perhaps dan

[2017-11-01 03:47] samreid commented on #451
I'm going to commit a proposed strategy for implementing this, we can use it for more concrete discussion and delete it if we wish.  Please see https://github.com/phetsims/phet-io/issues/1247 for details.

[2017-11-01 03:49] pixelzoom commented on #451
Since you used BLL as an example... I'd appreciate it if you kept this out of BLL master.

[2017-11-01 04:50] samreid commented on #451
Given the other commits in https://github.com/phetsims/phet-io/issues/1247 here's the BLL main that will make it work:

[code]

You can test it by launching http://localhost/phet-io-wrappers/create-screens/create-screens.html?sim=beers-law-lab

[2017-11-01 04:55] samreid commented on #451
@pixelzoom requested that these changes remain out of bll/master for now. We should review the proposed changes and decide if we are going to support this feature and if this is the way we want to proceed.

[2017-11-01 04:58] samreid commented on #451
My main reason for pursuing https://github.com/phetsims/phet-io/issues/1247 now was because it had the potential to impact how we proceed with the proposal in https://github.com/phetsims/joist/issues/451#issuecomment-340848683.  I chose a preprocessing strategy and https://github.com/phetsims/joist/issues/451#issuecomment-340848683 will still work properly on the cloned screens.

I'll investigate

[2017-11-01 15:54] pixelzoom commented on #208
Reopening.

Sim.js has once again bloated to 906, most recently with 44 lines in https://github.com/phetsims/joist/commit/a148ed90979eb7f148106d0216dd855399608949.  Looking at commit messages, my guess is that the bloat is due to PhET-iO.

[2017-11-01 16:00] samreid commented on #208
Around 70 lines are from the animated splash screen.

[2017-11-01 17:14] phet-steele commented on #449
What an unexpected and brilliant surprise this enhancement is! Thanks @zepumph and @samreid.

While we are at it, any clue how we could change the name of the sim in the troubleshooting info (when clicking "Report a Problem...")? Not critical, but figure I should say something:

Would be cool if "Name" said "Name: Projectile Motion - Drag". I know there are a bunch of reasons we don't need to do t

[2017-11-01 17:17] phet-steele commented on #449
OH! And the About dialog still has the old name:

<img width="801" alt="screen shot 2017-11-01 at 11 16 25 am" src="https://user-images.githubusercontent.com/5863899/32287362-30152100-bef6-11e7-998f-df2f8e6837f9.png">

[2017-11-01 17:30] phet-steele opened #457 "Add validation to ?screens to not accept duplicate indices"
Currently something like `?screens=3,3` totally breaks.

Try https://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.2-rc.1/projectile-motion_en.html?screens=3,3

If you do this with `?ea`, you get:

[code]

@samreid, thoughts?

[2017-11-01 17:33] phet-steele commented on #457
Not sure if we should error and say "don't use the same index twice", or if we just ignore duplicates and only load one instance per passed index. So the above example would ignore the second "3" and just load one screen. Something like `?screens=1,3,3` would also ignore the second "3" and just load the 1st and 3rd screens.

[2017-11-01 19:28] zepumph commented on #449
Your wish is my command! I'll at least take a look. I don't think it will be difficult. Is there any reason that we wouldn't want it in the about dialog?

[2017-11-01 19:55] zepumph commented on #451
In https://github.com/phetsims/phet-io/issues/1247#issuecomment-341171937 @kathy-phet said we will not support screen replication, too many red flags pointed out by @pixelzoom in https://github.com/phetsims/phet-io/issues/1247#issuecomment-341138950.

[2017-11-01 20:43] zepumph commented on #449
@kathy-phet do you think this title update should go into the about dialog as well?

[2017-11-01 20:57] kathy-phet commented on #449
I don’t think so actually. The About menu is for the sim and version, so I think should reflect the full code in the file regardless of the query parameter. We haven’t removed any code in the file, so I think it should be the name for the base sim.

Happy to discuss. But it also seems like it’s not going to make much difference for the user.

Best,
Kathy

Sent from my iPhone

On Nov 1, 2017, at 1:

[2017-11-01 21:27] zepumph commented on #445
I want to give an updated checklist of what is left to be done for this issue, note that there are a few types of priorities here:
1. Needed for Faradays Law
2. Needed for other sims (like multiscreen sims)
3. Needed for when a11y is fully integrated into phet-io, potentially on a sim by sim instrumentation basis.

Below is a checklist split into the above priorities

**1.**
- [ ] Home Screen quer

[2017-11-01 22:20] zepumph commented on #454
A list of a11y features that are run even when a11y is not enabled:

* UtteranceQueue --> (both phet-io and sim.accessible not implemented)
* AriaHerald --> ( no longer instrumented, but currently not turned off with sim.accessible )
* KeyboardHelpDialog --> ( will be solved with tandemOptional)

@jessegreenberg says that since UtteranceQueue is driven by AriaHerald, if we short circuit AH in Sim.

[2017-11-01 22:25] zepumph commented on #454
We can use `StillnessMotionStrategy.js` as a singleton refference.

[2017-11-01 22:50] samreid commented on #449
My inclination is to use the hyphenated title everywhere the old title was used.  That is, on line 71 of Sim.js replacing `name` with the hyphenated name (if one ?screens is specified).  This will automatically update everything downstream including the browser tab title, save filename, etc.  That is, my recommendation is to treat it as if it is really the name of the sim instead of just a differe

[2017-11-02 00:24] samreid commented on #445
It seems that everything you can tab to should probably have a phetioID.

Let's remove the home screen item from (1) because Faraday's Law has only 1 screen and hence no homescreen.

[2017-11-02 00:45] zepumph commented on #445
see phetsims/faradays-law#83 for implementation for Faradays Law.

That should be a step in the instrumentation process, to check and make sure the focusProperty looks good when tabbing through everything. Otherwise that focusProperty value won't mean anything.

Also, those indices are bound to NEVER be stable, not sure how to handle this @samreid.

[2017-11-02 01:00] zepumph commented on #449
I'm inclined to agree unless the AboutDialog needs to uphold the "actual" sim name for licensing.

[2017-11-02 02:52] samreid commented on #445
I don't recall what the indices are for, but if we have a phetioID for each tabbable item, perhaps we can use that instead, and eliminate the indices?

[2017-11-02 02:55] samreid commented on #457
Typically it is better to throw an error because it might indicate to clients they are doing something that makes no sense (in case it indicates a flaw in their thinking or software).

[2017-11-02 03:01] samreid commented on #457
Committed above, the error is:

The error appears whether or not ?ea is turned on.  @phet-steele can you please test?

[2017-11-02 03:44] samreid commented on #453
How about get rid of TPhETButton and create a new joist boolean property `phetButtonPickable` which defaults to true, and is used by all instances of the PhET Button?

[2017-11-02 05:14] samreid commented on #457
Bonus commit above.

[2017-11-02 16:59] zepumph commented on #445
See `TFocus.fromStateObject` for details., I'm not sure. It may be nice to keep them around when we start to have dynamic particles that are focusable. A11y hasn't gotten there yet, but I don't want to paint us into a corner.

[2017-11-02 17:32] zepumph commented on #445
After thinking a bit more, it does seem like an `index[]` and a phetioID are two independent ways to get at the node. The only thing to fill in is how to get a Trail from a phetioID. Maybe the phetioID is already tied to a unique trail rather than the Node, but if not I'm not sure we can do that when the scene graph is DAGgy.

[2017-11-02 17:38] samreid opened #458 "Update model/view/display on pause"
From https://github.com/phetsims/pendulum-lab/issues/187 it seems we need to add back code like 081275093e195f68aafec59773f9b45c94abc9e0 but that does not reschedule/stack animation frames.  @jonathanolson and @samreid can you please investigate?  We probably need to do this before all the LOL maintenance releases.