[2017-11-02 18:14] samreid commented on #449
@pixelzoom and @ariel-phet feel strongly that the "screen-based" title only appear in the navbar, and that the browser tab and about dialog remain the same.  @pixelzoom reason is that it is the same "deliverable", i.e. the same software being downloaded and run (albeit with customization).

[2017-11-02 18:18] samreid commented on #449
@zepumph will prevent cases like "Concentration -- Concentration"

[2017-11-02 18:19] samreid commented on #449
Or it should error out if you put ?screens=... for a one screen sim?

[2017-11-02 18:24] pixelzoom commented on #449
11/2/17 dev meeting:

Do this only in the navbar, not in the About dialog or Report A Problem.  Also not in the browser title because that may mess up statistics.

[2017-11-02 18:26] pixelzoom commented on #451
11/2/2017 dev meeting:
As proposed in https://github.com/phetsims/joist/issues/451#issuecomment-340873770, we will make these query parameters error out for single-screen sims.

[2017-11-02 18:27] kathy-phet commented on #449
Sounds decided - only in the nav bar.

[2017-11-02 21:20] samreid commented on #445
I see, we have been instrumenting Nodes, but we should have been instrumenting Instances?

[2017-11-02 21:28] zepumph commented on #445
Hmmm, well we say `tandem.createTandem( 'magnet');`, so that basically is a Trail since two magnet instances could look like `screen1.magnet` and `screen2.magnet`. Maybe we should investigate solving this just with phet-io, no indices allowed.

[2017-11-02 21:33] samreid commented on #445
The DAG issue is more like this:

[code]

The node appears at two places (two Instances) in the scene graph and is controlled through a central Node.  But is focus Instance based or Node based?  Can the myNode in `x` be focused without the myNode in `y` being focused?

[2017-11-02 21:44] samreid commented on #208
We are back down to 861 lines.  @pixelzoom want to work on reducing this or call it OK for now?

[2017-11-02 22:37] samreid commented on #445
We decided we are at a sweet spot of using the `phetioID` of the focused Node (not instance) and the indices for playback reconstruction.  @zepumph also recommended adding another element in the TFocus.toStateObject which will be like the indices of the trail, but with indices swapped out for phetioIDs for nodes that were instrumented.  This could help researchers disambiguate different trails.

[2017-11-03 03:32] samreid commented on #458
@jonathanolson can you please review/test?

[2017-11-03 03:36] samreid commented on #458
I tried following the instructions in https://github.com/phetsims/pendulum-lab/issues/187 once but could not reproduce the problem even without the fix above.

[2017-11-03 04:01] samreid commented on #454
What about only instantiating things if accessibility is enabled?

[code]

Likewise, we can assign a global on startup (perhaps in initialize-globals) that occurrences like UtteranceQueue can use.  Perhaps if the sim isn't accessible, then UtteranceQueue.setEnabled should be set to false and the UtteranceQueue shouldn't be registered with tandem (even better if inaccessible sim doesn't register Ut

[2017-11-03 04:02] samreid commented on #453
@zepumph I'd love to hear your thoughts on the preceding idea.

[2017-11-03 04:10] samreid commented on #451
I added the `homeScreen` query parameter, and it throws an assertion error when used on a single screen sim.

[2017-11-03 04:31] samreid commented on #451
I added the `initialScreen` query parameter, here are some tests to check the behavior:

Note that the screens for FAMB are: net force, motion, friction, acceleration
http://localhost/forces-and-motion-basics/forces-and-motion-basics_en.html?brand=phet&ea&initialScreen=4&screens=2,4&homeScreen=true
=> home screen + motion | **acceleration**

http://localhost/forces-and-motion-basics/forces-and-mot

[2017-11-03 04:34] samreid commented on #449
@zepumph anything else to do for this issue other than https://github.com/phetsims/joist/issues/449#issuecomment-341513411
?

[2017-11-03 04:34] samreid commented on #450
Please note that we also want to publish with https://github.com/phetsims/joist/issues/449 and https://github.com/phetsims/joist/issues/458, both are still in development or review at the moment.

[2017-11-03 04:35] samreid commented on #458
Also please unhold https://github.com/phetsims/joist/issues/450 when complete

[2017-11-03 17:08] jonathanolson commented on #458
I reverted the commit above (to the "broken" state) and was able to reproduce the bug on the first try.

I moved to master, but harness.legendsoflearning.com is now just not loading (tried on 3 devices, 6 browsers, and it looks like it's now infinite-looping on something).

I have a high confidence that the above commit should fix it though.

Will check back in a bit.

[2017-11-03 17:09] jonathanolson commented on #458
Actually, one of the LoL tabs I loaded about 10 minutes ago finally finished loading.

Verified that the commit above fixes this.

[2017-11-03 17:16] #458 closed

[2017-11-03 17:17] jonathanolson commented on #450
The change from https://github.com/phetsims/joist/issues/458 looks good, presumably we can un-hold this?

[2017-11-03 17:18] jonathanolson commented on #449
https://github.com/phetsims/pendulum-lab/issues/197 also waiting for this (it looks like).

[2017-11-03 17:23] zepumph commented on #449
Looks good, closing!

[2017-11-03 17:24] zepumph commented on #450
Indeed! We are good to go.

[2017-11-03 17:25] jonathanolson commented on #449
Is there a list of commits to cherry-pick to apply this to a maintenance release branch?

[2017-11-03 17:35] zepumph commented on #449
https://github.com/phetsims/joist/issues/449#issuecomment-340573495

[2017-11-03 17:39] jonathanolson commented on #449
Thanks!

[2017-11-03 17:45] zepumph commented on #449
I'm pretty sure that we decided that

[2017-11-03 17:55] phet-steele commented on #449
Yup, just making sure we covered all of our bases.

[2017-11-03 17:55] #449 closed

[2017-11-03 21:17] samreid commented on #450
This issue is on hold while we proceed with the maintenance releases.

[2017-11-06 16:44] pixelzoom commented on #451
In Slack, @phet-steele said:

I confirmed that `showHomeScreen` and `screenIndex` are still in initialize-globals.js.  Searching for "queryParameters.showHomeScreen" and "queryParameters.screenIndex",  I see no occurrences, so those query parameters are apparently no longer used.

[2017-11-06 16:45] samreid commented on #451
Thanks, I'll remove them now.

[2017-11-06 16:48] samreid commented on #451
It looks like navbar items aren't centered when the home button is hidden:
![image](https://user-images.githubusercontent.com/679486/32452728-9d4dca12-c2d7-11e7-9b50-08bdbea768ef.png)

[2017-11-06 16:49] samreid commented on #451
I removed screenIndex and showHomeScreen and confirmed that http://localhost/forces-and-motion-basics/forces-and-motion-basics_en.html?brand=phet&ea&initialScreen=4&screens=2,4&homeScreen=false still works as expected.

[2017-11-06 16:51] pixelzoom commented on #451
@samreid said:

Is that are new problem, or did it exist before the changes made for this issue?

[2017-11-06 16:53] samreid commented on #451
With the home button, things are (more or lesss?) centered:

![image](https://user-images.githubusercontent.com/679486/32452979-4ec65336-c2d8-11e7-92d5-2fd684eea7fc.png)

This is the first time we are experimenting with removing the home button.  I think it was removed with `setVisible(false)` rather than a strategy that updates the layout.

[2017-11-06 16:55] phet-steele commented on #451
Looks like it happened when we moved the home screen button (so probably unrelated to this issue). The home screen button maybe used to not be considered when centering screen icons?

Production:
<img width="643" alt="screen shot 2017-11-06 at 9 52 55 am" src="https://user-images.githubusercontent.com/5863899/32453031-718e635e-c2d8-11e7-9d2f-db686d744b6c.png">

2.3.0-rc.3:
<img width="605" alt="sc

[2017-11-06 16:57] samreid commented on #451
Thanks, I'll create a new issue for centering things and I'll note that centering should still work with or without the home button.

[2017-11-06 16:59] samreid opened #459 "Screen buttons should be centered"
From https://github.com/phetsims/joist/issues/451#issuecomment-342212501

@phet-steele said:

Looks like it happened when we moved the home screen button (so probably unrelated to this issue). The home screen button maybe used to not be considered when centering screen icons?

Production:
<img width="643" alt="screen shot 2017-11-06 at 9 52 55 am" src="https://user-images.githubusercontent.com/586

[2017-11-06 17:01] samreid commented on #459
I let @ariel-phet know that I'd be spending a couple of hours on this soon.

[2017-11-06 19:22] zepumph commented on #454
@samreid the problem with the above code snippet is that the KeyboardHelpButton is used for layout in the navigation bar, so we need to create it even when accessibility isn't enabled. Perhaps there is a way around that.

That sounds like a good plan. I that @jessegreenberg is on that.

[2017-11-06 19:26] zepumph commented on #453
Thanks for your patience, I ran out of PhET-iO time last week.

I think that could solve our problem. I'm thinking having a property in Sim. PhetButton is passed a Sim instance so it would be easy for all phetButtons to link to that property. Then TSim can interface accordingly. Any other thoughts? Should I go for it and see if it works?

[2017-11-06 19:53] samreid commented on #454
It seems odd that the KeyboardHelpButton would be used for layout even when it isn't shown.

[2017-11-06 19:54] samreid commented on #453
I vote go for it!

[2017-11-06 20:12] zepumph commented on #454
@jessegreenberg could speak to it more, we couldn't see an obvious way to factor it out.

[2017-11-06 21:31] pixelzoom commented on #208
I see 884 lines, but looks like there have been some commits since https://github.com/phetsims/joist/issues/208#issuecomment-341567471.

In https://github.com/phetsims/joist/issues/208#issuecomment-341150916, @samreid said

Can this be factored out into something that handles the splash screen?

[2017-11-06 23:54] samreid commented on #208
The code is Sim.start:

[code]

It doesn't seem trivial to separate, but let me know what you recommend.

[2017-11-07 00:54] zepumph commented on #453
@samreid please review in code and instance proxies. Notice that we still need a TPhetButton type so that it doesn't resort back to TNode with full control over the button.

[2017-11-07 01:51] pixelzoom opened #460 "Sim: rAF? render?"
While attempting to understand the chunk of code identified by @samreid in https://github.com/phetsims/joist/issues/208#issuecomment-342328089 ....

In Sim.js

[code]

The first comment is Greek. What are "rAF" and "render()"? I find no occurrences of them in Sim.js.

@samreid @jonathanolson perhaps you can clarify.

[2017-11-07 02:00] samreid commented on #460
`rAF` is `request Animation Frame` and `render()` is the step that does the drawing.  Full details on this strategy are in the URL http://paulirish.com/2011/requestanimationframe-for-smart-animating/

[2017-11-07 02:09] pixelzoom commented on #460
Comment changed from:

[code]

[code]

Now why is this comment where it is?  The comment is on line 733, is called on line 785.  And I have yet to identify where "rendering" is in relation to the comment.

[2017-11-07 02:11] samreid commented on #460
The main part of the recommendation is to do:

[code]

rather than

[code]

According to their explanation, it is so that a polyfill that uses setInterval will have behavior more similar to the real `requestAnimationFrame`.

[2017-11-07 02:13] #460 closed

[2017-11-07 02:19] pixelzoom commented on #208
I don't believe that Sim.js can possibly need to have as many responsibilities as it currently does. I think it's just been easier/convenient to jam more code in Sim.js when we want to add a feature (like the splash screen). But because of things like $460, I am unable to understand https://github.com/phetsims/joist/issues/208#issuecomment-342328089 and other large portions of Sim.js.

I don't rec

[2017-11-07 02:21] samreid commented on #208
Would this be similar to keeping some functionality (like the Accessibility trait) out of scenery.Node?

[2017-11-07 02:21] samreid commented on #208
Heartbeat div looks like a candidate for moving out of Sim.js

[2017-11-07 02:24] pixelzoom commented on #208
I don't think we'd even need to go that far.  I suspect that there are many things that could be factored out via composition.

[2017-11-07 02:47] samreid commented on #208
A few minor improvements in the 3 preceding commits.  What about moving this from Sim.js to `initialize-globals.js`?

[code]

[2017-11-07 03:06] pixelzoom commented on #208
Since that chunk of code is initializing globals, initialize-globals.js does seem like the correct place for it.

[2017-11-07 03:47] samreid commented on #208
I moved `phet.joist.makeEverythingSlow` => `phet.chipper.makeEverythingSlow` and `phet.joist.makeRandomSlowness` => `phet.chipper.makeRandomSlowness`, and I'll notify the developers on slack.

[2017-11-07 03:54] samreid commented on #208
After the above commits, we are down to 826 lines of code in Sim.js.  One possibility for next steps
would be to factor out view parts into something like SimView.js.  This would include the display, navigation bar setup, layout, showPopup/hidePopup and display updates.  This would be a nontrivial refactoring step.  @pixelzoom what do you think?

[2017-11-07 04:05] samreid commented on #208
After the above commit, Sim.js is down to 807 lines of code.  All of today's commits will need a careful review, perhaps by @pixelzoom, and we can still discuss factoring out SimView.

[2017-11-07 04:28] samreid opened #461 "Sim.activeProperty should be BooleanProperty"
@zepumph I have a real puzzle.  Try the following:

1. Run Beer's Law Lab/state wrapper => Observe that everything is working properly
2. In Sim.js, change `this.activeProperty = new Property(` to a `BooleanProperty` and remove the `phetioValueType`.
3. Run Beer's Law Lab/state wrapper => Observe `Assertion failed: invalid value: undefined`
4. Add a debugger to assert.js and investigate

The probl

[2017-11-07 17:24] zepumph commented on #355
Adding meeting label to talk about how the PDOM is redrawn when tabbing between large/small buttons.

[2017-11-07 17:34] zepumph opened #462 "Implement keyboard nav for the navigation bar"
From https://github.com/phetsims/a11y-research/issues/45, here is a link to the mockup:

http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/sim-screens/template-sim-screen/01-screen-template.html

https://github.com/phetsims/a11y-research/blob/master/html-sketches/sim-screens/template-sim-screen/01-screen-template.html

[2017-11-07 17:43] pixelzoom commented on #208
I reviewed the commits and don't see anything amiss.  @jonathanolson should probably review the factoring out of Heartbeat.js in https://github.com/phetsims/joist/commit/1fe2a7b1a4447de5de824be7d02a8aab842427ff, since I'm unfamiliar with that.

[2017-11-07 17:47] jonathanolson commented on #208
Generally the "singleton" bit is an anti-pattern in Heartbeat. You're also asserting with a string as the first param, which is truthy. In the future, don't assert like that, throw an error.

I'd expect something like:
[code]

[2017-11-07 20:25] phet-steele commented on #457
Working great, thanks @samreid.

[2017-11-07 20:25] #457 closed

[2017-11-07 20:52] phet-steele commented on #451
@samreid these are working great. You have a pretty comprehensive list of tests in https://github.com/phetsims/joist/issues/451#issuecomment-341620806.

One question, did you intend for your last link to have `homeScreen=true`? Otherwise, this link certainly does not have the home screen available.

----

Looks like I should hand this off to @pixelzoom.

[2017-11-07 20:55] jonathanolson commented on #208
Also, this appears to be 2 lines of code. Unless we factor out creation and handling of the Display outside of Sim, the code for this is in the best place.

Would the topLayer/barrierRectangle/associated methods be refactored out into a separate file (SimGlassPane?).

[2017-11-07 21:00] zepumph commented on #451
Reminder to myself: When this is done, it should be updated in https://github.com/phetsims/joist/issues/445#issuecomment-341248255

[2017-11-07 21:05] jonathanolson commented on #301
The file joist/js/PlaybackSim doesn't seem to be used by anything?

Changes look fine.

Currently, input events are turned into a string form meant for eval. I'd highly prefer this change to something like a JSON format that can be fed back in for playback.

Thoughts, and can we remove PlaybackSim?

[2017-11-07 21:11] zepumph opened #463 "home screen button's should default to screen name when accessibleDescription not provided"
This is what the screen's button options look like now:

[code]

I would rather it be more like:
[code]
but that will need its own stringPattern.

[2017-11-08 00:24] zepumph opened #464 "Use FocusHighlightPath to get consistent dilation of bounds"
@jessegreenberg I just added the static method `FocusHighlightPath.getDilationCoefficient()` so that you can get the appropriate dilation based on the size of the node. Could you please implement that here if you think it is appropriate?

Here is what it looks like now:
`      focusHighlight: Shape.bounds( closeButtonShape.getBounds().dilated( 10 ) )`

[2017-11-08 01:12] zepumph commented on #462
I added keyboard nav bigly today to the navigation bar. @terracoda how does this look to you? I like to look at RPAL for a good example since it already has a lot of keyboard nav added. See phettest (phettest.colorado.edu/reactants-products-and-leftovers/reactants-products-and-leftovers-a11y-view.html?brand=phet) or on the dev server (https://www.colorado.edu/physics/phet/dev/html/reactants-produc

[2017-11-08 01:35] terracoda commented on #462
@zepumph, this is looking really good. I do however get leftover ghost focus highlights when going from home screen to sim screen and from sim screen to home screen. I also noticed that in the radio group, focus should go to the selected item in the group, not the first or last item depending on direction of tabbing. See screen shots below with visual examples. They happen in FF and Safari.

**Foc

[2017-11-08 14:30] samreid commented on #451
I think I meant to say "home screen is not available", thanks @phet-steele

[2017-11-08 14:31] samreid commented on #301
@zepumph can you check if PlaybackSim can be deleted?  I can't see any usages of it in master.

[2017-11-09 00:30] samreid commented on #301
Yes, let's convert input events from eval to JSON.  Perhaps a new issue in scenery?

[2017-11-09 02:07] samreid commented on #208
I converted Heartbeat.js to the recommended singleton pattern, @jonathanolson can you please verify?

[2017-11-09 02:16] samreid commented on #208
It seems a decision for the team whether we will factor out SimView.js as described in https://github.com/phetsims/joist/issues/208#issuecomment-342368303

[2017-11-09 06:19] samreid commented on #453
The preceding commits look great.  I thought we could remove TPhETButton and remove PhETButton's call to `tandem.addInstance` altogether, but when I do so, I get this assertion error: `Assertion failed: Only instrumented instances can emit to the data stream.`

It's confusing because TPhetButton doesn't declare any events.  @zepumph can you investigate?

[2017-11-09 17:26] pixelzoom commented on #208
In https://github.com/phetsims/joist/issues/208#issuecomment-342368303, @samreid asked:

would be to factor out view parts into something like SimView.js. This would include the display, navigation bar setup, layout, showPopup/hidePopup and display updates. This would be a nontrivial refactoring step. @pixelzoom what do you think?

Model-view separation seems like a fine pattern to apply to Sim.

[2017-11-09 17:36] samreid commented on #208
@jonathanolson commented on 2 of these in https://github.com/phetsims/joist/issues/208#issuecomment-342619142

[2017-11-09 17:41] pixelzoom commented on #208
Based on https://github.com/phetsims/joist/issues/208#issuecomment-342619142, seems OK to ignore "show pointer areas" checklist item.

Re "show/hide popups", @jonathanolson asked:

Sound like a good idea, but something that should be coordinated with the redesign of Dialog that's being lead by @jessegreenberg.  I think we need a general "glass pane" that can be used by all types of popups, includi

[2017-11-09 18:35] pixelzoom commented on #208
11/9/17 dev meeting notes:
• Let's see what impact Dialog work has on topLayer/barrierRectangle responsibilities, then reevaluate.  Assign this issue to @jessegreenberg to kick back to dev meeting when Dialog work is done.
• Longterm, separation of model and view is desirable.
• Review record/playback responsibility later.

[2017-11-09 18:43] jessegreenberg commented on #359
When this work is done, come back to https://github.com/phetsims/joist/issues/208 to check how this impacts size of Sim.js.

[2017-11-09 21:23] zepumph commented on #453
This is a bit of a strange case in terms of who owns the phetio event that is being added to the data stream. I addressed it in https://github.com/phetsims/phet-io/issues/1235#issuecomment-343295708 and we should pursue it there. Marking as on hold.

[2017-11-09 22:12] jessegreenberg commented on #355
@zepumph I expected this to be a problem but it sounds great with NVDA + Firefox.

[2017-11-10 00:12] jessegreenberg commented on #355
11/9/17 - We are going to test with other screen readers and try to reproduce the case that @terracoda ran into with VoiceOver. From there it will be easier to figure out a workaround.

[2017-11-10 04:03] samreid commented on #459
It looks like the home button was accounted for in centering starting in fabc93650ec62e17e6da62e2aed2bf4bd7db4649

It would be good to get @jessegreenberg in this conversation since I'm not familiar with many of the details of https://github.com/phetsims/joist/issues/374 or the layout changes.

It looks like the original design was that the screen buttons (not accounting for the home button) would

[2017-11-10 17:33] jessegreenberg commented on #374
Yikes, sorry this fell of the radar, ill be working on this soon.

[2017-11-10 18:12] jessegreenberg commented on #459
From #374

Here is the 'worst case scenario' referenced from that comment (5 screens, long title, adapted-from-phet with a 'keyboard help'  button):
![ffcfc54a-bc03-11e6-8f94-303bf3694d13](https://user-images.githubusercontent.com/6396244/32671854-33008136-c606-11e7-902d-dde5b27b1f04.PNG)

Here is what the nav bar looks like in that case now:
![capture4](https://user-images.githubusercontent.com/6

[2017-11-10 18:18] ariel-phet commented on #459
@jessegreenberg I am fine with reducing the title a bit, so long as for the "adapted from" we are using the second treatment shown in the comment.

[2017-11-10 18:22] jessegreenberg commented on #459
Definitely,  first screen shot was taken before we changed it.

[2017-11-10 18:26] arouinfar commented on #459
@jessegreenberg I'm also fine with reducing the title a bit to center the icons.

[2017-11-10 18:31] #463 closed

[2017-11-10 18:49] pixelzoom commented on #451
In https://github.com/phetsims/query-string-machine/issues/30#issuecomment-341507927, we agree to note query parameters that are intended for external use.  That has not been done for `initialScreen` and `homeScreen`.  I'll take care of it now.

[2017-11-10 18:55] jessegreenberg commented on #459
Sounds good, here is what it looks like now:
FAMB with home screen:
![center3](https://user-images.githubusercontent.com/6396244/32673852-e02bc06c-c60d-11e7-8ddd-175744ea7532.PNG)

FAMB without home screen:
![center1](https://user-images.githubusercontent.com/6396244/32673835-cbe7e8ec-c60d-11e7-9de4-13866cdc7f3e.PNG)

"Worst case scenario" from above:
![center2](https://user-images.githubuserconte

[2017-11-10 18:57] jessegreenberg commented on #459
@samreid would you like to review?

[2017-11-10 18:57] zepumph commented on #451
I'm not sure if we want to go down this road, but it may be nice to have a jsDoc `@` block annotation that defines this. There is an `@external` but it has little different use. If we go down this road could we adapt it?

[2017-11-10 19:13] samreid commented on #459
Sure, I'll leave it assigned to myself to take a look, thanks!

[2017-11-11 02:40] samreid commented on #448
This StackOverflow suggests we are seeing the effects of the back-forward cache, https://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked

It seems we can detect when this happens and either (a) update the bounds or (b) refresh the entire sim.  The latter seems more likely to address other corner cases that might crop up.  The former seems more like

[2017-11-11 02:43] samreid commented on #448
On the other hand, I'm wondering if we might see `onpageshow event.persisted` in other contexts such as in our apps.

[2017-11-11 02:45] samreid commented on #448
Also, iOS "Reading Mode" is another context where this could have expected caching behavior.

[2017-11-11 16:41] samreid commented on #448
My iPad3 is stuck on iOS 9.3.5, I'll try to work on this on Thursday.

[2017-11-13 02:01] samreid commented on #459
Code change looks good, and tests in ESPB with and without stringTest=long look good, closing.

[2017-11-13 02:01] #459 closed

[2017-11-13 16:36] pixelzoom commented on #451
With `?screens=1,3&initialScreen=2` the assertion failure has this message:

The message should identify the screen index. I'll take care of this.

[2017-11-13 16:45] pixelzoom commented on #451
This combination seems odd: `?homeScreen=false&screens=1,3&initialScreen=0`.   We've explicitly asked for the home screen to be the initial screen, but there is no home screen.   This succeeds because `initialScreen` is ignored if its value is `0` (see Sim.js line 127), which seems a bit brittle.  And the default value of `initialScreen` is `0`, so we can't detect that it was explicitly set to '0'

[2017-11-14 17:14] samreid commented on #451
I added an assertion error that fails for the combination of homeScreen=false and initialScreen=0, @pixelzoom can you please review?

[2017-11-14 17:31] pixelzoom commented on #451
Hmmm... That reminds me. Assertions are not appropriate for checking any of these query parameters.  They should throw and Error regardless of whether assertions are enabled.

[2017-11-14 17:33] pixelzoom commented on #451
To clarify... `assert` is fine for checking query parameters that are for internal use.  But for query parameters available for external, use `throw Error`.

[2017-11-14 17:33] pixelzoom commented on #451
Hmmm... That reminds me. Assertions are not appropriate for checking any of these query parameters.  They should `throw Error` regardless of whether assertions are enabled.

In general... `assert` is fine for checking query parameters that are for internal use. But for query parameters available for external, use `throw Error`.

[2017-11-14 17:43] samreid commented on #451
I asked on slack:

Is our idiom for errors like so?

 ```if (problematic) throw new Error('…');```
or should I use `assert(!probematic,'error message')` without the `&&`?
or create some sort of new error function for use in cases like this?

[2017-11-14 17:51] pixelzoom commented on #451
@samreid  In your post to Slack, you didn't provide information about the nature of "problematic". And that determines whether to use assert of Error.  Please describe your understanding of when it's appropriate to use assertions vs throwing an Error.

If you use `assert` without `assert &&`, it will fail.

[2017-11-14 17:56] pixelzoom commented on #451
From http://www.suodenjoki.dk/us/archive/2011/assert.htm:

[2017-11-14 17:59] samreid commented on #451
In the preceding commit I converted the Sim.js query string checks from assertions to errors.  @pixelzoom can you please review?

[2017-11-14 18:19] pixelzoom commented on #451
Looks good.  I fixed one of the error messages, which was referring to the old `screenIndex` query param.

Closing.

[2017-11-14 18:19] #451 closed

[2017-11-14 19:59] jessegreenberg commented on #462
In phetsims/balloons-and-static-electricity @terracoda mentioned

@zepumph could you please work on that adjustment as part of this issue?

[2017-11-14 23:24] zepumph commented on #462
Right, thanks for the reminder.

[2017-11-16 16:52] samreid commented on #448
I'll have to move this to Thurdsay Dec 7 or 14.

[2017-11-17 00:37] zepumph commented on #445
This feature is pretty nice in our sims that are using "instrument everything" approach, but may not be that handy for our stable api. Here is an example of a good one in MAL, but Faraday's law has very few nested tandems. Overall I still think this is useful feature for understanding the phet-io context of a focus, although at the end of the day, it may be a bit redundant, for the most part isn't

[2017-11-17 01:18] zepumph commented on #461
It's laughable how I just tracked the getState method fully from the sim to the wrapper, only to find this line in the state wrapper:

[code]

[2017-11-17 01:21] zepumph commented on #461
Back to you @samreid for review. Is this what you were thinking?

[2017-11-17 03:45] samreid commented on #445
Let's raise it as a discussion item for the follow-up Joist phet-io design meeting.

[2017-11-17 05:49] samreid commented on #461
This is looking better, but I'm still worried about `state[ sim.camelCaseName + '.sim.activeProperty' ] = { value: false };` . Is there a way to leverage PropertyIO here to guarantee they never get out of sync again?

[2017-11-17 05:49] samreid commented on #461
Or should we omit this value from the state and try to control it through an explicit API call?

[2017-11-17 17:37] zepumph commented on #461
Yeah what if we just set it once at the  beginning, and then removed the activeProperty tandem from the state before sending it downstream to be set.

[2017-11-17 21:29] jessegreenberg commented on #464
@zepumph `getDilationCoefficient` is really great.  I used it in `KeyboardHelpDialog` for the highlight dilation in the example you mentioned. I reviewed the new function too, which has great documentation. Thanks for this! Closing.

[2017-11-17 21:29] #464 closed

[2017-11-17 22:47] zepumph commented on #462
@terracoda BASE and other single screen sims should now be restored.

[2017-11-18 00:43] zepumph commented on #462
Home button blur is fixed above, Weird home screen focus bug is to be addressed in https://github.com/phetsims/chipper/issues/622 and the radio button issue is in https://github.com/phetsims/sun/issues/316

@terracoda until chipper 622 is resolved, please try not to use firefox + a11y view + multiscreen simulations. You can use firefox + multiscreen sims directly still. Anything else for this issu

[2017-11-18 19:30] samreid commented on #461
This issue is all set, closing.  I created new issue https://github.com/phetsims/phet-io-wrappers/issues/32

[2017-11-18 19:30] #461 closed

[2017-11-20 20:05] zepumph commented on #454
@jessegreenberg can you think of any way to only create a new instance of the Keyboard help button on the nav bar if accessibility was enabled?

Why do we need it for layout if it doesn't get added?

[2017-11-20 23:02] zepumph commented on #454
I see that the help button is used for layout with the following comments:

* `// available width right of center`
* ` // horizontal positioning`
* `// title can occupy all space to the left of the PhET button`

I think that we can use conditionals to say that if there isn't a keyboardHelpButton, ignore it. We could also potentially get away with adding the keyboardHelpButton and the phetMenuButto

[2017-11-20 23:12] zepumph opened #465 "Round Two: PhET-iO Design meeting for joist + a11y"
Once #445 is wrapped up, we will want another design meeting to confirm that everything is looking stable, and to ask a few more questions. Here is a list of stuff that comes up so we don't forget.
- [ ]  phetioIDIndices included in the state of Focus: https://github.com/phetsims/joist/issues/445#issuecomment-345109113

[2017-11-20 23:34] jessegreenberg commented on #454
@zepumph https://github.com/phetsims/joist/issues/454#issuecomment-345860779 sounds great, and I think @samreid mentioned that it would be an improvement.

[2017-11-21 00:27] zepumph commented on #454
@jessegreenberg please review the above commits where I hide/disable the focusProperty, UtteranceQueue, and AriaHerald. Any suggestions? Everything a11y related is now hidden from instance proxies when phet.chipper.a11yEnabled is false. If there are other, non-phet-io recommendations please continue the conversation in https://github.com/phetsims/scenery/issues/710.

In the mean time I will work o

[2017-11-21 01:00] zepumph commented on #374
This works out, because I would love the review to happen after my commit from today for https://github.com/phetsims/joist/issues/454 (specifically https://github.com/phetsims/joist/commit/b40fa583ef1d181daff111cecd879e03adcfa4cc) that refactors the keyboard help button's layout if it isn't added.

[2017-11-21 01:16] zepumph commented on #454
@jessegreenberg please add the above commits to the review. I think that this is about it for this issue. I no longer see any a11y code in instance proxies when a11y is not enabled. Use faradays-law, JT, and BASE as examples to see how things show up on default, and when adding the `?accessibility` flag.

[2017-11-21 23:17] zepumph opened #466 "?showHomeScreenProperty shows up in instance proxies for single screen sims"
And edge case from https://github.com/phetsims/joist/issues/451. It looks like the `showHomeScreenProperty` can manipulate faradays-law in unexpected and weird ways.

In instance proxies, you can toggle that property directly, see here:
![image](https://user-images.githubusercontent.com/6856943/33101882-abeca016-cec6-11e7-954e-2ad3582fe7f9.png)

@samreid I'm tempted to just make this a phetioReadO

[2017-11-21 23:18] zepumph commented on #466
This is part of our effort in https://github.com/phetsims/joist/issues/445

[2017-11-22 00:08] zepumph commented on #446
Places that I will not be updating usages of `.sim.` in phetioIDs:
* Sonification wrapper - I will need to coordinate this with @jbphet, when new phet-io sims are released.
* phet-io-website - in `integrate.html` or `customize.html` examples, these too are using fixed versions
* `phet-io/html/pearson/test-invoke-sequence.html`

Everywhere else should be changed. @samreid this one is very tricky, p

[2017-11-22 01:36] zepumph commented on #445
Updated list on the progress of this issue:
 - [ ] under review: #454
 - [ ] work around in master #453, real solution blocked by phetsims/phet-io#1235
- [ ] "PhetMenu should not be instrumented so that you can have the barrier rectangle visible, but not the menu" workaround in master, https://github.com/phetsims/scenery/issues/711 for real solution
- [ ] phetsims/tandem#31 is blocking phetsims/ph

[2017-11-22 01:54] zepumph commented on #301
I deleted `PlaybackSim.js`, looks like the last commit on it was in 2015. @samreid I don't see another issue in scenery, or tagged in this issue. Back to you.

[2017-11-22 06:21] samreid commented on #301
Thanks, I created https://github.com/phetsims/scenery/issues/712 and will close this issue.

[2017-11-22 06:21] #301 closed

[2017-11-22 17:11] samreid commented on #466
It seems that `showHomeScreenProperty` shouldn't be instrumented for single screen sims.

[2017-11-22 17:14] samreid commented on #466
Proposed fix is above, @zepumph can you please take a look?

[2017-11-22 17:16] samreid commented on #445
Great summary @zepumph, I'll unassign from this master issue and continue in the sub-issues.

[2017-11-22 17:20] samreid commented on #446
I tested through instance proxies for faraday's law, and the IDs seem good.  Earlier today I saw a "faradaysLaw.sim.activeProperty not found" in the state wrapper, but I couldn't reproduce the problem again--I may have had an inconsistent state during development.  This seems good to close for now.

[2017-11-22 17:20] #446 closed

[2017-11-22 19:07] zepumph commented on #466
Looks good to me, thanks

[2017-11-22 19:07] zepumph commented on #466
I'm no

[2017-11-23 01:25] samreid commented on #466
Often code is simpler to follow if there is one point of assignment (so the variable doesn't spend any time with the wrong value), so I tend to recommend `var x = test ? A : B` rather than `var x = A; if (test) x=B`.  Of course there are counterexamples where the latter is simpler (depending on the nature of the test).  Can I reassign to you to try that strategy out for cases like https://github.c

[2017-11-23 01:50] zepumph commented on #466
Sounds good. Thanks @samreid.

[2017-11-23 01:50] #466 closed

[2017-11-24 00:37] samreid commented on #233
@jonathanolson can this be closed?

[2017-11-30 01:58] zepumph opened #467 ""Error: Impossible set state" with AboutDialog"
Occurs in state wrapper when opening the aboutDialog

[code]

This has to do with our recent addition of instrumenting the aboutDialog. The about dialog should be removed from the state, and so should the barrierRectangle.

[2017-12-04 10:38] jonathanolson commented on #233
Given that we'd probably want some other way of archiving the older commits (and there are 66 branches so I'm not concerned about quantity of branches), can we leave this open?

Otherwise, can whoever wants to close this and delete find another way of archiving any commits that would not be on a branch (and note what we would need to use as a replacement for checkout-shas). Additionally, note how

[2017-12-04 19:44] zepumph commented on #467
excluding from phet-io state did the trick. In this commit I excluded the AboutDialog, it's children, and the barrierRectange. Assigning to @samreid to confirm that this is the best strategy for phetioState. In the state wrapper, nothing will change in the downstream sim when interacting with the phetMenu/AboutDialog.

[2017-12-05 22:22] zepumph commented on #467
Bayes was pretty broken until this commit.

[2017-12-06 18:51] jessegreenberg commented on #454
Changes look good to me @zepumph, thanks. I think that https://github.com/phetsims/joist/commit/b40fa583ef1d181daff111cecd879e03adcfa4cc is the best way to handle layout if the KeyboardHelpButton may not exist.

I removed instrumentation from `JohnTravoltageKeyboardHelpContent`, but otherwise I couldn't find any a11y in instance proxies when a11y wasn't enabled. When a11y is enabled I see things l

[2017-12-06 18:51] #454 closed

[2017-12-08 02:22] zepumph opened #468 "Barrier Rectangle doesn't block keyboard nav on Home Screen"
This doesn't happen on other screens though. Perhaps this has something to do with https://github.com/phetsims/chipper/issues/622. We have spent a pretty minimal amount of time on multiscreen sims for a11y, so it doesn't surprise me that things like this are popping up.
Tagging @jessegreenberg. Any ideas?
 ![image](https://user-images.githubusercontent.com/6856943/33748033-bdbe0ab0-db72-11e7-9c2e-

[2017-12-08 23:24] jessegreenberg commented on #468
Thanks @zepumph, my guess is the issue is in Dialog.setAccessibleViewsVisible. We are hiding sim screens and navigation bar from AT but not the home screen.

[2017-12-08 23:31] jessegreenberg commented on #468
Should be fixed in above commit, @zepumph could you please review?

[2017-12-10 14:51] samreid commented on #233
It is probably fine to leave extra branches, but I wanted to clarify about checkout-shas.  If I understand correctly, checkout-shas works based on the sha which would not be deleted if the branch is deleted.  Is this correct?

[2017-12-11 02:50] jonathanolson commented on #233
They are not deleted immediately, but it's not like they stay around forever. I'd view it as putting them commits in the "trash", notably, from https://stackoverflow.com/questions/2613903/does-deleting-a-branch-in-git-remove-it-from-the-history:

So my understanding is that if you want those commits to be checkout-able in the indeterminate future, they need to be pointed to somehow by a branch (or

[2017-12-11 02:53] jonathanolson commented on #233
https://git-scm.com/book/en/v2/Git-Internals-Maintenance-and-Data-Recovery notes that garbage collection is occasionally done, and notably:

[2017-12-11 16:41] samreid commented on #233
Good to know, it seems we must leave this issue open until we decide we never want to be able to build a 0.1 sim.

[2017-12-12 21:32] zepumph commented on #468
My hero! What a fantastic line of code. This works great, and also fixes our a11y view problems in phetsims/chipper#622. Closing!

[2017-12-19 21:54] pixelzoom opened #469 "Automated test failure: Incorrect type in phet-io wrapper. Expected PhetButton, received PushButtonModel"
In the bayes continuous testing report, many sims are currently experiencing this assertion failure:

[code]

Priority high because this affects ability to effectively fuzz test.

[2017-12-19 22:02] pixelzoom commented on #469
This problem was likely introduced by https://github.com/phetsims/sun/commit/2074171436b7fd62c0d0a4a8323daef4d27e6979, committed by @samreid today at 1:59pm.  Immediately after this commit, sims started failing on bayes.   I'd like to understand (1) why things like this aren't being tested before they are pushed, and (2) why things are being pushed if you don't have time to look at bayes after mak

[2017-12-19 22:42] pixelzoom commented on #469
I can't test https://github.com/phetsims/beers-law-lab/issues/222 because of this issue. instance-proxies hits the assertion failure.

[2017-12-19 23:42] pixelzoom commented on #469
instance-proxies is broken for every sim I've tried.

[2017-12-20 00:03] samreid commented on #469
The root of the problem is that PushButtonModels have previously been passed PushButton IO types, so they can emit data on the data stream as if it came from the button.

[2017-12-20 00:07] samreid commented on #469
I pushed part 1 of a 2 (or more) part fix.  Instance Proxies/Beer's Law Lab is now launching and grunt lint-everything is passing.  I need a more robust way for PushButtonModels to emit events from the buttons, I'll look into that next.

[2017-12-20 00:22] samreid commented on #469
Fix part 2 pushed, lint-everything is passing, fuzz is passing for faradays-law/console, faradays-law/instance-proxies, and equality explorer.

[2017-12-20 00:23] samreid commented on #469
The main disadvantage of the above commit is the way eventSource: this is initialized and passed to button models, I'll create another issue for that.

[2017-12-20 00:24] samreid commented on #469
@pixelzoom anything else to do for this issue aside from https://github.com/phetsims/sun/issues/331 ?

[2017-12-20 09:34] samreid commented on #469
My apologies, the preceding 2 commits belong in https://github.com/phetsims/equality-explorer/issues/25#issuecomment-353010599

[2017-12-20 18:49] pixelzoom commented on #469
The fix involve adding omitting PhET-iO options in several places, e.g.:

`this.buttonModel = new PushButtonModel( _.omit( options, 'tandem', 'phetioType' ) );`

If you want to ensure that PushButtonModel is not instrumented, then `_.omit` should be changed to:

`_.omit( options, PhetioObject.OPTIONS_KEYS )`

[2017-12-22 20:56] samreid commented on #467
Yes, excluding from state seems best, closing.

[2017-12-22 20:56] #467 closed

[2018-01-12 05:01] samreid commented on #469
The `_.omit( options, 'tandem', 'phetioType' )` used as described in https://github.com/phetsims/joist/issues/469#issuecomment-352924908 was superceded by a superior solution `phetioEventSource` in https://github.com/phetsims/joist/issues/469#issuecomment-352927381

@pixelzoom anything else to do here?

[2018-01-12 22:02] pixelzoom commented on #469
I'll take your word for it, since my recollection of this issue is now fuzzy, and I don't have any understanding of the "superior solution `phetioEventSource`".

Closing.

[2018-01-12 22:02] #469 closed

[2018-01-21 23:38] samreid commented on #233
I think we will probably leave the branch and leave this issue open forever, but wanted to clarify something for the sake of my understanding.  Do we have the scenery 0.1 commits in the scenery 0.2 history (and hence they won't be garbage collected)?  Or is the main problem the commits made on 0.1 after 0.2 was branched?

[2018-01-22 17:08] samreid commented on #450
Removing hold to check status.

[2018-01-22 17:09] samreid commented on #456
@kathy-phet and @ariel-phet can you help prioritize/schedule work for this issue?  It could take around 4 hours for a rough draft/initial investigation.

[2018-01-22 17:27] ariel-phet commented on #456
@samreid this strikes me very much as a "wishlist" type feature. I think best to revisit when Faraday's Law is complete.

[2018-01-22 18:12] jonathanolson commented on #233
That's the main issue, I believe.

[2018-01-22 20:44] phet-steele commented on #45
@samreid Idk if this fix never worked or if there was regression, but I'm seeing this again.

[2018-01-22 20:52] samreid commented on #45
I reproduced the problem on Chrome/Forces and Motion Basics/Requirejs

[2018-01-22 21:22] phet-steele commented on #45
@samreid I found this version of ESPB built ten days after https://github.com/phetsims/joist/commit/bcc67fc74fe5d2324fb17f17e6e63d3ee7da1ad3 and it still has the problem: https://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.0.0-dev.23/energy-skate-park-basics_en.html
I'm not convinced that commit did anything.

[2018-01-22 21:26] pixelzoom commented on #45
After the icons have shifted once, they never appear to do so again.  So my guess would be that there is duplicated (but slightly different) logic for initial state vs updates.

[2018-01-22 21:31] pixelzoom commented on #45
In HomeScreenView, `var screenChildren` is a very misleading name.  "Children" in this context is typically `{Node[]}`.   But `screenChildren` is actually an array of data structures, where the data structure is defined on line 162:

`return { screen: screen, small: smallScreenButton, large: largeScreenButton, index: index };`

Highly recommended to rename `screenChildren`.

[2018-01-22 22:06] pixelzoom commented on #45
I wonder if this is an issue with HBox?

[2018-01-23 05:48] samreid commented on #45
Putting resize: true in the hBox makes it clear that the problem comes from the size of the border when a button is highlighted:

![famb2](https://user-images.githubusercontent.com/679486/35259999-2cda86a4-ffc6-11e7-82da-205e07345360.gif)

@pixelzoom or @jonathanolson what's the recommended way to eliminate the highlighting from the node's bounds?  Or should we give all of the nodes equal highligh

[2018-01-23 05:53] samreid commented on #45
This code at the bottom of Frame.js's constructor solves the problem (you need to import Color too):

[code]

However, I'd prefer to hear from @jonathanolson and/or @pixelzoom if there's a better way.

[2018-01-23 17:08] jonathanolson commented on #45
That's not recommended, it we repaint only changed bounds in the future, it could break things.

That works fine. If it helps, the string `'transparent'` is a CSS equivalent to `new Color( 0, 0, 0, 0 )`, and is somewhat easier to read (e.g. `stroke: 'transparent'`).

[2018-01-23 17:25] samreid commented on #45
I pushed a fix that always creates and adds the highlight, but only shows it when the frame is supposed to be highlighted.  @jonathanolson or @pixelzoom can you please review?

[2018-01-23 17:50] jonathanolson commented on #45
Changes and simplifications look good.

Using `Rectangle.bounds( Bounds2.rect( this.rectangle.x, this.rectangle.y, this.frameWidth, this.frameHeight ).dilated( 0.75 ), { ... } )` may be somewhat easier to understand. I'll leave up to @samreid .

[2018-01-23 17:56] pixelzoom commented on #45
I trust whatever @samreid and @jonathanolson decide, so I'm going to bow out of this issue.

[2018-01-23 17:58] samreid commented on #45
Thanks @jonathanolson, I went with Rectangle.bounds.  Can you check it again?

[2018-01-23 18:13] jonathanolson commented on #45
Looks correct to me. I presume it's working? (I'm running snapshot comparison tests on a change, so I can't easily check out and verify right now). If so, can this be closed?

[2018-01-23 18:20] samreid commented on #45
It works OK in my tests, but I'd love to run it past @phet-steele for the final say.

[2018-01-23 18:21] phet-steele commented on #45
Works for me in master, using FAMB.

[2018-01-23 18:22] samreid commented on #45
Thanks @jonathanolson and @phet-steele, closing.

[2018-01-23 18:22] #45 closed

[2018-01-25 17:43] pixelzoom commented on #411
As part of chipper 2.0, version id schema was finalized and implement in phetsims/chipper#636 and phetsims/chipper#560, see SimVersion.js.   Labeling for developer meeting to see what else needs to be done to address this issue.

[2018-01-25 18:06] pixelzoom commented on #411
I'm interested in seeing this resolved mainly so that I can address https://github.com/phetsims/joist/issues/406 (disable "show answers" in production versions) for several of the sims that I'm responsible for.

[2018-01-25 18:19] jonathanolson commented on #411
I'll consolidate sim-side logic into SimVersion, including the "is this running from production" checks.

[2018-01-25 18:31] samreid commented on #448
I'm not seeing the same problem on iPhone running iOS 11, perhaps it is reloading the whole page and hence getting the size right.

[2018-01-25 18:47] samreid commented on #448
@oliver-phet and I cannot reproduce the problem on the iOS 10.3.3 iPad mini.  The page gets reloaded each time.

We'll test the air 11.2 next.

[2018-01-25 18:51] samreid commented on #448
@oliver-phet and I reproduced the problem on the full size iPad air.  It seemed to be caching pages.  We hypothesize that the iPad mini and iPhone have a different memory profile and were not caching the pages.

[2018-01-25 18:56] samreid commented on #448
Now that I can reproduce the problem, I'll try to catch usage of the back/forward cache using

[code]

[2018-01-25 19:08] samreid commented on #448
I went with:

[code]

And it is showing `persisted` but not resizing to the window.  This suggests that the window.innerWidth/window.innerHeight are not updated after using the back/forward cache.

[2018-01-25 19:14] samreid commented on #448
I noticed other problems with the page loaded from cache, such as this which happened when rotating it back to the original orientation:

![image](https://user-images.githubusercontent.com/679486/35407474-4f0db6ba-01c9-11e8-8e25-6e0087760ead.png)

Hence I think we should investigate the reload solution proposed by https://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-b

[2018-01-25 19:28] samreid commented on #448
Committed above and correctly reloads the page 10/10 times on Pauling (running 10.3.3).  Here is a dev version published with the proposed fix, for testing:
https://www.colorado.edu/physics/phet/dev/html/friction/1.5.0-dev.2/phet/friction_en_phet.html

[2018-01-30 18:25] pixelzoom opened #470 "make Home Screen gracefully handle larger numbers of screens"
With the addition of the Mystery screen (see https://github.com/phetsims/equality-explorer/issues/34) Equality Explorer is likely to be PhET's first 5-screen sim.   After adding a skeleton for this 5th screen, I noticed that the home screen then adds *more* space to the left and right of the home screen icons, shrinking them further than necessary.  Compare screenshots below for 4-screen and 5-scr

[2018-01-30 18:26] pixelzoom commented on #470
![screenshot_473](https://user-images.githubusercontent.com/3046552/35583816-59a4add2-05b0-11e8-9e11-a5b892e4dc77.png)

![screenshot_474](https://user-images.githubusercontent.com/3046552/35583819-5c5cea30-05b0-11e8-8b79-a517fc3cfaa1.png)

[2018-01-30 18:42] pixelzoom commented on #470
Equality Explorer actually has a 6th screen that I use for debugging/testing.  It's enabled with the `?xy` query parameter.  See screenshot below.  This demonstrates that as the number of screens increases, the left/right margins increase.

![screenshot_476](https://user-images.githubusercontent.com/3046552/35584570-9cf8e632-05b2-11e8-8080-41c9f0f1fdea.png)

[2018-01-30 18:46] pixelzoom commented on #470
I started increasing the number of screens to see how gracefully the home screen handles things.

Things look sane up to 7 screens:

![screenshot_478](https://user-images.githubusercontent.com/3046552/35584699-06ec33a0-05b3-11e8-8361-5e281e805255.png)

At 8 screens, things go terribly wrong:

![screenshot_479](https://user-images.githubusercontent.com/3046552/35584737-1f19d8ce-05b3-11e8-91d3-fb116

[2018-01-30 20:51] ariel-phet commented on #470
@jonathanolson said this would only be 4'ish hours of work plus time for testing. Assigning at medium priority.

@pixelzoom feel free to ping me on this issue in a couple of weeks if it is starting to become pressing. Probably won't be worked on for about 2 weeks.

[2018-01-31 19:18] phet-steele commented on #342
@ariel-phet this would be great to have someone work on soon. Neglecting to do this has caused:

https://github.com/phetsims/states-of-matter/issues/206
https://github.com/phetsims/molecule-shapes/issues/148
https://github.com/phetsims/gravity-and-orbits/issues/262
https://github.com/phetsims/charges-and-fields/issues/119
https://github.com/phetsims/rutherford-scattering/issues/118

AND would have

[2018-01-31 19:49] pixelzoom commented on #342
Duplication of the "Projector Mode" string is the tip of the iceberg. Look at the current implementations (identified by @phet-steele above) and you'll see lots of code duplicated for creating the UI, almost certainly due to copy-paste. The only thing that's sim-specific about the Projector Mode feature is the associated color scheme. There's no reason why everything else (UI components, strings,

[2018-01-31 20:10] pixelzoom commented on #342
Note also that sims with a Projector Mode are supposed to support `?colorProfile=projector`, for starting the sim in Projector Mode.  See initialize-globals.js.  Searching for `queryParameters.colorProfile` I see that only charges-and-fields supports it, and it appears to be unintentional omitted in the other sims.  So not having support in common code not only results in duplicate code, it result

[2018-01-31 21:29] phet-steele commented on #448
@samreid before I ask what I'm going to ask, I should say I have not yet tested the above link. So:

If I were to play devil's advocate, I'd have to ask, "How does this affect the PhET App on iOS?". It's been desirable that when exiting the app and returning to it, that the sim remain as it were and NOT refresh. Note I'm not talking about exiting the sim within the app, I mean literally pressing t

[2018-01-31 21:41] phet-steele commented on #448
I suppose, if I were to draw conclusions with what I see in Mobile Safari proper, the sim does not reload when I leave the browser and return. This means it would probably be the same thing in the app?

[2018-01-31 23:11] samreid commented on #448
Based on discussion in https://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked I think the back-forward cache would not be used for the individual sim WebViews.

[2018-01-31 23:42] ariel-phet commented on #448
@mattpen do you know the answer to @samreid question?

[2018-02-01 03:51] jjohnson5253 commented on #448
A new instance of a WebView is created every time the user opens a sim.  Whenever the user exits a sim (hits done button) the WebView is deleted and freed from memory.

So no, the same WebView is not reused for different sims.

The WebViews do store a back-forward list.

[2018-02-01 04:38] jjohnson5253 commented on #448
Currently, on the iOS app, when switching from portrait to landscape or vice versa, the same issue occurs where the sim does not resize to fit the screen.  @samreid Would your proposed fix remove this bug as well?

[2018-02-01 17:34] samreid commented on #448
Perhaps the WKWebView needs to be resized by the app?

[2018-02-01 17:37] jjohnson5253 commented on #448
Well, the WKWebView resizes correctly, and when opening other sites (non phet) the site resizes correctly.  So it must have something to do with the simulation website code.

[2018-02-02 00:30] samreid commented on #448
We are following up with the iOS app bug in https://github.com/phetsims/phet-ios-app/issues/296

[2018-02-02 22:12] ariel-phet commented on #342
Marking for dev meeting, will see if we can get this fixed up in the various affected sims and be better going forward

[2018-02-02 22:14] ariel-phet commented on #342
Since @jbphet is doing a re-release of SOM to fix up some other issues, tagging him on this issue as well.

[2018-02-02 22:53] jessegreenberg commented on #445
https://github.com/phetsims/scenery/commit/3bc6c6c074f9c72ff1b6b6b72c9cdafe5077f0e0 assumed that  every node up the focused node's trail was instrumented. I believe https://github.com/phetsims/scenery/commit/6f5d2273d5176390454c2856fe2769ed974bfa98 fixes this, and a problem I was running into where `phetioID` was undefined. I also replaced a reference to `.tandem` with `.phetioObjectTandem`. @samr

[2018-02-03 14:23] samreid commented on #445
For https://github.com/phetsims/scenery/commit/6f5d2273d5176390454c2856fe2769ed974bfa98
* Tandem.js line 64 indicates that Tandem.phetioID should always be defined.  I'll take a look to see if I can find what problem you were running into.
* Let's add comments about including the phetioIDs when they are available but falling back to indices

https://github.com/phetsims/scenery/commit/6c8d9feaff540

[2018-02-03 14:27] samreid commented on #445
Regarding the failure, I tried running http://localhost/phet-io-wrappers/instance-proxies/instance-proxies.html?sim=balloons-and-static-electricity&ea&accessibility with this modification:
[code]
and saw this:

![image](https://user-images.githubusercontent.com/679486/35768055-88dac7ac-08b3-11e8-93b5-87684ef8b59e.png)

This seems it is working as expected.  Reassigning to @jessegreenberg to get mo

[2018-02-03 23:28] jessegreenberg commented on #445
Sorry I misunderstood, `phetioObjectTandem` was undefined. The problematic line was
[code]
because not all nodes in the trail had a `phetioObjectTandem`. We can remove the check for phetioID that I added.

[2018-02-03 23:29] jessegreenberg commented on #445
Removed in the above commit. Removing my assignment.

[2018-02-05 17:21] phet-steele commented on #448
@samreid the link in https://github.com/phetsims/joist/issues/448#issuecomment-360573580 is working acceptably. Back to you to decide how to move forward.

[2018-02-05 17:24] samreid commented on #448
Thanks, this is committed to joist master, and new deploys will pick it up.  We'll continue with the app fixes in https://github.com/phetsims/phet-ios-app/issues/296, closing.

[2018-02-05 17:24] #448 closed

[2018-02-07 20:02] terracoda commented on #462
phetsims/chipper#622 is resolved.

@jessegreenberg, can I close this issue. It looks like @zepumph implemented my mockups.

[2018-02-08 17:54] pixelzoom opened #471 "branch: accessible-home"
Identified by `print-branches.sh`. @jessegreenberg please describe.

[2018-02-08 18:44] jessegreenberg commented on #471
This branch is no longer relevant, it was used to explore adding a11y to the home screen before more general support for a11y was added. Branch has been deleted.

[2018-02-08 20:03] pixelzoom commented on #342
2/8/18 dev meeting notes:

• @ariel-phet clarified that he'd like @jbphet to investigate creating common-code support for the "Projector Mode" option, as well as supporting `?colorProfile=projector`, and using it in SOM.

• What probably needs to be migrated is the check box that's labeled "Projector Mode".  We do not want to migrate GlobalOptionsNode, that's the content for OptionsDialog that's p

[2018-02-20 20:03] zepumph commented on #462
Closing, bugs will be addressed in their own issues

[2018-02-20 20:03] #462 closed

[2018-02-27 18:28] samreid opened #472 "Sim crashes after going through a size of 0x0"
ETS reported that sometimes John Travoltage crashes in their wrapper.  The stack trace is:

[code]

@jonathanolson and I traced this to the sim going from a size of 0x0 to another non-zero size.

[2018-02-27 18:29] samreid commented on #472
For instance, run John Travoltage without assertions then run this in the console:

phet.joist.sim.resize(0,0)
phet.joist.sim.resize(10,10)

And you will see the same symptoms.  We do not know what part of the wrapper is transitioning through (0,0), but we can be more defensive in our code.

[2018-02-27 18:32] samreid commented on #472
@jonathanolson can you please spot check the preceding commit?  Close if all is well.

[2018-02-27 19:48] jonathanolson commented on #472
Looks good, thanks!

[2018-02-27 19:48] #472 closed

[2018-03-07 02:32] zepumph commented on #445
All that is left are the two checkboxes in https://github.com/phetsims/joist/issues/445#issuecomment-346216200, @samreid let's talk about this soon, as It is blocking stable api of FL.

[2018-03-07 23:14] jessegreenberg opened #473 "Fix a11y strings"
From https://github.com/phetsims/a11y-research/issues/65, we would like to
- [x] Make sure that the a11yStrings file uses `{{key}}: { "value": '{{string}} }` notation
- [x] declare strings as vars at the top of the page (like with the `string!` plugin

This makes a11y strings look like other strings, and also will make it easier to make a11y strings translatable when the time comes.

[2018-03-09 17:10] samreid commented on #445
@zepumph can you elaborate on this text?

Is it saying PhetMenu should not be instrumented?
Is it saying the reason PhetMenu should not be instrumented so that you can show the barrier rectangle but not the menu?  Why would we want to show the barrier rectangle without showing the menu?
What is the nature of the workaround?  What is the problem it is working around?

[2018-03-09 18:18] zepumph commented on #445
Wow that was a seriously confusing trail of breadcrumbs I left us. Took me a few minutes to figure it out. Here is what I came up with.

First know that if `PhetMenu` is instrumented as a `NodeIO`, then you can make it `visible:false` such that when you click the `PhetMenuButton`, all you see is the `BarrierRectangle` (not what we want).

I was thinking that ideally we wouldn't have a Node (PhetMe

[2018-03-10 00:44] jessegreenberg commented on #473
Done with the above commit, closing.

[2018-03-10 00:44] #473 closed

[2018-03-12 04:44] samreid commented on #453
Proposed strategy is in https://github.com/phetsims/scenery/issues/711#issuecomment-372192021

[2018-03-12 14:15] samreid commented on #445
My proposal in https://github.com/phetsims/scenery/issues/711#issuecomment-372192021 is more of an "opt-in" instead of "opt-out" strategy, but it would be good to discuss.  On hold until then.

[2018-03-15 22:00] zepumph commented on #355
@jessegreenberg I don't have access to voice over, but I agree that everything sounded good for me on NVDA + firefox/chrome. Let me know what else I can do.

[2018-03-15 22:38] jessegreenberg commented on #355
I went ahead and checked off the items in the original ticket, those have been defined and implemented. Ill have a listen on VO to see if I can reproduce issues that @terracoda ran into.

[2018-03-15 22:44] jessegreenberg commented on #355
It did stop for me at the second screen button with VoiceOver.

[2018-03-19 22:04] lmulhall-phet opened #474 "LoL harness errors on iOS 9.3.5"
Hey @samreid, I can't get

https://developers.legendsoflearning.com/public-harness/index.html

to load on on Tycho (iOS 9.3.5). Do you have any idea why this is the case? Do we care about this? Should we notify LoL?

The errors:

![screen shot 2018-03-19 at 3 34 25 pm](https://user-images.githubusercontent.com/31285590/37624000-40354e72-2b8c-11e8-9303-0e1ce4a0ef74.png)

According to this https://g

[2018-03-19 22:21] samreid commented on #474
My High Sierra seems incapable of running Web Inspector for iOS 9.3.5, possibly the same as reported in https://apple.stackexchange.com/questions/305954/safari-remote-debugger-on-ios-9-3-5-not-working-in-high-sierra

It could be that Legends of Learning is trying to use a HTML feature that is not present in Safari for iOS 9.3.5.  It looks like they are using ES6 (with const), but perhaps this is o

[2018-03-19 22:22] samreid commented on #474
According to https://www.legendsoflearning.com/teachers/faq/

I'm inclined to close this issue, but perhaps we should run it past @ariel-phet so he is aware.  @ariel-phet go ahead and close after reading, unless you recommend further work.

[2018-03-19 22:25] lmulhall-phet commented on #474
OK, thanks @samreid. I'll edit the testing matrix so that we don't do LoL testing for iOS versions < "recent" if @ariel-phet thinks this makes sense.

[2018-03-19 22:36] lmulhall-phet commented on #474
@phet-steele can you edit the template for testing matricies?

[2018-03-19 23:08] ariel-phet commented on #474
@lmulhall-phet @samreid sounds good. We still need iOS 9.3.5 obviously for our own testing, but since LoL does not support iPad2's seems perfectly reasonable to drop that testing for us.

[2018-03-20 20:55] phet-steele commented on #474
Dropped iOS 9.3.5 + LoL in testing matrix.

[2018-03-20 20:55] #474 closed

[2018-03-26 16:00] pixelzoom commented on #358
After encountering this for the nth time, I finally changed it to `modal: true`.

Closing.

[2018-03-26 16:02] pixelzoom commented on #315
I see that additional dependencies on joist have been added for a11y.  This is absolutely the wrong direction to be going with Dialog.   Labeling for discussion at developer meeting.

[2018-03-26 16:12] pixelzoom commented on #359
FYI, I'm once again running into problems with Dialog -- in developing new game components (https://github.com/phetsims/vegas/issues/59) and in Equality Explorer (https://github.com/phetsims/equality-explorer/issues/48).   As far back as 12/2015, I've reported issues with Dialog the are still not addressed.  And this issue (redesign) appears to have stalled out.

Assigning to @ariel-phet to review

[2018-03-26 16:18] pixelzoom commented on #470
@ariel-phet ping.  Equality Explorer is definitely a 5-screen sim, and this needs to be a addressed before publishing.

[2018-03-26 16:20] pixelzoom commented on #456
@samreid @ariel-phet Why are we considering this? Has someone asked for this?  Even if they asked, does PhET want clients changing screen icons?  What other graphics will they want to change next?

[2018-03-26 16:44] pixelzoom commented on #430
I converted AboutDialog and UpdateNodes to use RichText, then deleted LinkText.

@jonathanolson please review with relatively high priority.

[2018-03-26 16:45] pixelzoom commented on #430
@jessegreenberg FYI, in case there are any a11y issues.

[2018-03-26 16:50] pixelzoom commented on #374
Raising priority to top.  Apparently there were changes to the navbar made in March _2017_ that have not been reviewed.

[2018-03-26 16:51] pixelzoom commented on #374
@jessegreenberg @zepumph who is supposed to be reviewing this?

[2018-03-26 17:23] jessegreenberg commented on #374
I am meant to work on this.

[2018-03-26 19:42] jessegreenberg commented on #374
I made the above commits to address comments in https://github.com/phetsims/joist/issues/374#issuecomment-277079419. Responding to  each comment:

Done.

Done.

Done.

No, there was a bug with Apple bluetooth keyboards where certain keyboard event properties were not passed to the browser, making it impossible to use some sim features. We verified this was not a problem for Android and submitted a

[2018-03-26 21:03] pixelzoom opened #475 "KeyboardHelpButton does not need to know about Sim"
From https://github.com/phetsims/joist/issues/374#issuecomment-376287416:

This is an example of violating this item from the [code review checklist](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md):

`Sim` is a _huge_ object, and there's no way that `KeyboardHelpButton` should know about it.   In fact, it only needs to know about `keyboardHelpNode` and `showH

[2018-03-26 21:05] pixelzoom commented on #475
While you're in there... `KeyboardHelpButton` is missing JSdoc for its constructor.

[2018-03-26 21:15] pixelzoom commented on #475
KeyboardHelpButton constructor signature should look like this:

[code]

[2018-03-26 21:31] jessegreenberg commented on #475
Sim is no longer passed to KeyboardHelpButton, and after other changes for #374 the JSDoc looks like

[code]
@pixelzoom does this look OK?

[2018-03-26 22:35] ariel-phet commented on #359
Communicated with @jessegreenberg and @amanda-phet via slack. Sounds like they are going to check in to see if anything is left on the design side ( @amanda-phet was pretty sure things had been settled previously).

@jessegreenberg said he could work on this project this week. Marked for dev meeting to see if he needs some assistance.

[2018-03-27 01:40] ariel-phet commented on #470
I have asked @jonathanolson to put this work at the top of his ToDo list for the start of April.

[2018-03-27 02:17] ariel-phet commented on #456
@samreid @zepumph in https://github.com/phetsims/joist/issues/445#issue-264417237 there is the following item

[2018-03-27 02:18] #456 closed

[2018-03-27 16:39] #475 closed

[2018-03-27 16:59] zepumph commented on #445
I think we are ready to close this issue, there are a few loose ends that will be finished up in separate issues. . .

phetsims/scenery#711 will handle the last feature needed for Faraday's Law.

https://github.com/phetsims/phet-io/issues/1205#issuecomment-346450068 logs the last few tasks for the intersections of a11y and phet-io.

https://github.com/phetsims/phet-io/issues/1320 covers a question

[2018-03-28 23:03] pixelzoom commented on #315
As a first step in Dialog cleanup... How about if we remove the dependencies on joist and move it to sun?  Then start redesign/reimplementation there.

[2018-03-28 23:50] jonathanolson opened #476 "Common `speed` query parameter"
Equality Explorer has basically the exact query parameter I was hoping to see in other simulations. Discussed briefly in slack, and I'm going to move it to be a query parameter for all sims.

[2018-03-29 00:06] jonathanolson commented on #476
There were no other namespace collisions. phet-io playback wrapper has a query parameter named `speed` also, but they will not be used in the same contexts (confirmed with @zepumph).

@pixelzoom, I believe I refactored it out (and tested to make sure it was working still for your sim), but let me know if I messed anything up. Feel free to close if everything is fine.

[2018-03-29 00:27] pixelzoom commented on #476
EqEx looks good, no problem -- thanks for taking care of that.

I asked @jonathanolson "What are intended uses?"  Slack discussion from there:

Main intended uses were for internal "see how the animation looks slowed down" (for design, since they were hard to see), and for QA (as many things are WAY easier to do when slowed down)

Concerns about models/views that may blow up with extreme values?
I

[2018-03-29 16:28] jonathanolson commented on #315
I have no objections. Presumably we'd want to add glass-pane equivalents for the full sim and each screen, and have the client responsible for positioning the dialog? (And if it's modal, hooking into a common code way of having a barrier?)

[2018-03-29 16:37] jessegreenberg commented on #315
Sounds good to me.

Yes, which will also be in sun.

[2018-03-29 17:24] pixelzoom commented on #291
3/29/18 dev meeting: @andrea-phet and I will triage this issue.

[2018-03-29 17:24] pixelzoom commented on #292
3/29/18 dev meeting: @andrea-phet and I will triage this issue.

[2018-03-29 17:24] samreid commented on #315
@jonathanolson says one of the costs of moving files across repos is losing history.  We'll keep track of where it moved from, as a paper trail in case we need older history.

[2018-03-29 17:24] pixelzoom commented on #293
3/29/18 dev meeting: @andrea-phet and I will triage this issue.

[2018-03-29 17:25] pixelzoom commented on #341
3/29/18 dev meeting: @andrea-phet and I will triage this issue.

[2018-03-29 17:29] samreid commented on #359
Also noted: @jessegreenberg has been working on a Pane framework for showing screenview dialogs vs sim dialogs.

[2018-04-03 16:27] pixelzoom commented on #476
Reopening.

This was supposed to affect animation.  But it's affecting anything that uses phet-core Timer.   For example, with `?speed=0.1`, the "continuous fire" feature of NumberPicker become unresponsive.

[2018-04-03 16:31] pixelzoom commented on #476
Since this is intended to be a debug/test query parameter, I could live with NumberPicker becoming unresponsive -- though it's very inconvenient.   But I wonder what else might be affected.

[2018-04-03 21:48] pixelzoom opened #477 "Dialog doesn't place 'title' at top"
Examples....

pendulum-lab:
![screenshot_537](https://user-images.githubusercontent.com/3046552/38277581-2cfaf6a6-3756-11e8-8894-3ae9251b7f0b.png)

equality-explorer
![screenshot_538](https://user-images.githubusercontent.com/3046552/38277588-336a285e-3756-11e8-9244-28576c9f2443.png)

The problem here is that Dialog treats `options.title` like part of the `content`.  It applies `options.yMargin`.

[2018-04-03 23:56] pixelzoom opened #478 "Dialog lacks options for adding listeners to close button and boundary rectangle"
There's definitely no way to add a listener to the close button.  You're stuck with this:

[code]

If there's a way to listen for the clicks to the boundary rectangle (outside the Dialog), I can't find it.

[2018-04-04 00:14] pixelzoom commented on #478
`closeButtonListener` option added in above commit.

[2018-04-04 00:15] pixelzoom commented on #478
Question to Slack developer channel:

Anyone know how I can get a callback when a Dialog is closed by clicking outside the Dialog?  Looks like Make A Ten worked around this by creating it’s own barrier rectangle (MakeATenGameScreenView, line 148).

[2018-04-04 00:24] pixelzoom commented on #478
Wow is this convoluted... Dialog `show` calls `window.phet.joist.sim.showPopup( this, this.isModal );`  If `isModal`, then the Dialog gets pushed onto Sims' `{ObservableArray} this.modalNodeStack`.   Sim has an instance of `BarrierRectangle` in `this.barrierRectangle`.  When `modalStack` is not empty, the BarrierRectangle is show.   When you click on the BarrierRectangle, whatever is on the top of

[2018-04-05 01:24] zepumph opened #479 "Rename Screen.activeProperty to Screen.screenActiveProperty"
Although this may be a bit redundant, @samreid and I think it is best to make sure that this property is definitively distinguished with `Sim.activeProperty` which isn't read only, and is very important, especially in a phet-io context. @jbphet is the author of this property, so I want to tag him so he is aware. Nothing will break in the sonification wrapper after this change until we update versi

[2018-04-05 03:08] pixelzoom commented on #478
No reply to my question about this on Slack, so labeling for developer meeting discussion.   The question is "How do I know if a Dialog was dismissed by clicking in the barrier rectangle?"

[2018-04-05 10:33] jonathanolson commented on #478
Based on your description (and a quick review of the code), currently you can't tell. Presumably that can be changed.

It also didn't use Dialog.

[2018-04-05 16:03] pixelzoom commented on #478
Maybe I'll just punt on this, create my own Dialog subtype, and override `hide` so that it also calls `dispose`.  Doesn't feel like a "solution", feels like yet-another Dialog workaround that will need to be undone in the future.

[2018-04-05 19:13] pixelzoom commented on #478
4/5/18 dev meeting:
Punt on a real solution for now, use whatever workaround I can find.  Revisit when Dialog is revisited.

[2018-04-05 22:42] #445 closed

[2018-04-06 01:43] pixelzoom commented on #478
I'm going to add option `hideCallback`, which is called just before the dialog is hidden.

[2018-04-06 02:24] pixelzoom commented on #476
I addressed this by revising the documentation for 'speed' -- which had some other copy-paste errors, since it was apparently copied directly from Equality Explorer without changes.  See https://github.com/phetsims/chipper/commit/489c7ec58add96bd6ee8e37f29901a6f5f126cf2.

Closing.

[2018-04-06 02:24] #476 closed

[2018-04-06 02:25] pixelzoom commented on #478
The 3 callbacks that I added (`closeButtonListener`, `showCallback` and `hideCallback`) give me what I need to proceed with Equality Explorer.  Closing.

[2018-04-06 02:25] #478 closed

[2018-04-09 16:14] pixelzoom opened #480 "use backgroundColorProperty for default homeScreenIcon"
Related to https://github.com/phetsims/joist/issues/339...

The default `homeScreenIcon` created by Screen is a 'white' Rectangle.  Using the Screen's `backgroundColorProperty.value` as the fill will create a better default association to the Screen.  For example, in Equality Explorer, I had 6 screens with different background colors.  And I got sick of looking at 6 white rectangles.

[2018-04-10 02:17] pixelzoom commented on #470
It looks like there's been an attempt to keep the size of the selected icon constant, regardless of the number of screens.  If that's the case... Then I would think that the size of the unselected icons and the amount of space between them would be scaled to fit the remaining horizontal space.

[2018-04-10 14:12] #480 closed

[2018-04-10 18:41] pixelzoom commented on #406
Ideally `showAnswers` would move to initialize-globals.js, disabled for production versions in one place, and used by sims via `phet.chipper.queryParameters.showAnswers`.

[2018-04-10 18:53] pixelzoom commented on #292
According to https://github.com/phetsims/joist/issues/413, _all_ dialogs (modal and non-modal) must have a close button for a11y.  That issue supersedes this one, so closing.

[2018-04-10 18:53] #292 closed

[2018-04-10 18:54] pixelzoom commented on #430
@jonathanolson @jessegreenberg please note the high priority of this issue.

[2018-04-10 19:50] jessegreenberg commented on #430
Thanks @pixelzoom. I reviewed the four commits between https://github.com/phetsims/joist/issues/430#issuecomment-322622394 and https://github.com/phetsims/joist/issues/430#issuecomment-376232459.

I tested links in UpdateDialog and AboutDialog and they are behaving as they should for a11y with `RichText`.

[2018-04-10 20:17] ariel-phet commented on #470
@jonathanolson I think right now, up to 5 screen icons, the selected icon should stay the same size as now, and the other icons should shrink as needed.

After 5 screens (I will push very hard for PhET to never have more than 5 screens in a sim...) lets go with the plan you suggest in the preceding comment (things just scale down).

[2018-04-10 22:12] pixelzoom commented on #413
This is going to be complicated by the fact that some dialogs (eg, KeyboardHelpDialog) create their own custom close button, and add it independently of Dialog.  When we make close button required, KeyboardHelpDialog will have 2 close buttons!

[2018-04-10 22:26] pixelzoom commented on #315
Here's what we'll need to test after moving Dialog and DialogIO:

curve-fitting
ReducedChiSquaredStatisticDialog.js

equality-explorer
OopsDialog.js
SolveItScene.js
InfoDialog.js
SolveItSceneNode.js

gene-expression-essentials
FluorescentCellsPictureDialog.js

joist
DialogsScreenView.js
AboutDialog.js
Dialog.js
DialogIO.js
KeyboardHelpDialog.js
OptionsDialog.js
OptionsDialogIO.js
UpdateDialog.js

[2018-04-10 22:43] pixelzoom commented on #413
molecules-and-light/SpectrumWindowDialog has a "Close" button at the bottom center of the dialog. It will need to be removed.

[2018-04-10 23:00] pixelzoom commented on #315
Work completed by @andrea-phet and myself.  A couple of things that we weren't clear on how to test:

@jessegreenberg Please test KeyboardHelpDialog and check off in the above list.

@zepumph Anything to test related to OptionsDialogIO?  Check off in the above list.

[2018-04-10 23:13] pixelzoom commented on #315
We found KeyboardHelpDialog in john-travoltage, so that's done.

[2018-04-10 23:16] pixelzoom commented on #315
Slack:

Chris Malley [5:15 PM]
We moved Dialog and DialogIO to sun.  OptionDialogIO extends DialogIO.  Any testing required for DialogIO or OptionsDialogIO ?

Michael Kauzmann [5:15 PM]
checking
Looks good to go. Checking it off the list

Chris Malley [5:16 PM]
thanks.

[2018-04-10 23:25] pixelzoom commented on #291
The button shown in https://github.com/phetsims/joist/issues/291#issuecomment-137578788 (a simple 'x') is basically what was decided on.  See the Dialog design doc for specifics.

Closing, this is being handled in https://github.com/phetsims/joist/issues/413 (Add 'close' buttons to all dialogs).

[2018-04-10 23:25] #291 closed

[2018-04-10 23:59] zepumph commented on #479
@samreid please review. Although it is redundant, I like it.

[2018-04-11 15:11] samreid commented on #479
I skimmed the change set, reviewed appearance in Studio and checked for other potential missed cases of `activeProperty` in joist, all seems well, thanks!

[2018-04-11 21:54] pixelzoom commented on #374
This is labeled for "meeting:developer" because it involves significant changes to navigation bar, was assigned for review on 12/16/2017, and has been labeled "top priority" for 16 days.

[2018-04-11 21:55] pixelzoom commented on #430
This is top priority because it involved significant changes to joist, was assigned for review and labeled "high priority" 16 days ago.

[2018-04-11 23:06] jonathanolson commented on #430
Looks good, sorry about the delay.

[2018-04-11 23:06] #430 closed

[2018-04-11 23:08] jonathanolson commented on #374
@jessegreenberg's commits above look good, sorry about the delay.

[2018-04-12 18:56] jessegreenberg commented on #374
Review was the final  portion of this issue. This issue can be closed.

At 4/12/18 developer meeting we talked about how to handle and prioritize review issues. @ariel-phet said that for review issues that will take 10-30 minutes, go ahead and assign to a developer . @ariel-phet said that for larger issues we should assign to him to assign a developer and prioritize. But we should generally use ou

[2018-04-12 18:58] ariel-phet commented on #374
After discussion, this can be closed.

[2018-04-12 18:58] #374 closed

[2018-04-13 00:39] zepumph commented on #453
Honestly,  phetsims/scenery#711 has become this issue. It looks like a `PhetButtonIO` that doesn't extend node, but that has it's own pickable controls, is the leading solution. (although it could still change).

Closing this one.

[2018-04-13 19:31] zepumph commented on #479
this needs to be reverted because of the consensus in https://github.com/phetsims/tasks/issues/929.

Instead, @samreid had the idea to detect naming collisions and add more of the phetioID in the display name. I'll take a look.

[2018-04-13 19:55] zepumph opened #481 "Uninstrument Sim, and move the simStarted event and the ScreenShot method to phetio (PhETIO)"
From https://github.com/phetsims/faradays-law/issues/107, this will simplify the implementation.

[2018-04-15 18:14] zepumph commented on #481
I uninstrumented `Sim.js` and deleted `SimIO.js`. I basically did three things:

1. Moved the `getScreenshotDataURL` to `PhETIO.js`
2. Converted `simStartedEvent` to be run from the `phetio.js` instance (but still in sim.js)
3. We couldn't actually uninstrument Sim.js, because it holds the root tandem, so I made it an ObjectIO (maybe it could be a SimIO.js but have SimIO.js not do anything)
4. Fix

[2018-04-16 02:57] samreid commented on #481
I didn't understand this part.  Why does "holding the root tandem" imply that it must be instrumented?

[2018-04-16 16:16] zepumph commented on #481
I though that it was important to see the root tandem as an instance that says "Represents the entire simulation."

Maybe this isn't important at all though, and we can just uninstrument sim such that there is no "instance" with the phetioID of the root tandem (sim name).

[2018-04-16 16:42] phet-steele opened #482 "PhetButton has lost its highlight on mouse hover"
Assigning to @zepumph and @jessegreenberg since they "volunteered".

The PhetButton no longer "highlights" on mouse hover. It should behave similar to the screen icon buttons where it would get two vertical lines on either side of it.

I'm seeing this issue on master (all sims) and some recent builds, notably phetsims/QA/issues/108 (RIAW 1.5.0-rc.1).

![navbarhighlight](https://user-images.githubu

[2018-04-16 16:43] phet-steele commented on #482
RIAW 1.5.0-rc.1 was built March 9th.
https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.5.0-rc.1/phet/resistance-in-a-wire_all_phet.html

[2018-04-16 16:46] phet-steele commented on #482
Sim that was tested before RIAW that didn't have this issue was MAS, built February 27. Issue was likely introduced between those two dates.
https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.81/phet/masses-and-springs_en_phet.html

[2018-04-16 17:02] samreid commented on #482
Most likely introduced in https://github.com/phetsims/sun/issues/173 .  The new values are

[code]

However, JOIST is checking for

[code]

@jbphet can you take a look?

[2018-04-16 23:10] zepumph commented on #481
I removed the sim instrumentation. Now all the phetio code in Sim.js are properties that grab tandem directly from the root tandem, and code in the `initializePhetio` function, only called if phetio is enabled.

I tested these changes by:
1. Phet fuzz
2. Phet-io fuzz
3. wrapper tests
4. studio for FL to confirm that sim is uninstrumented.

@samreid back to you for a spot check and then close if al

[2018-04-17 19:14] jbphet commented on #482
Should now be fixed.  The commits were tracked against the issues linked above, but here they are for easy reference if needed:

+ https://github.com/phetsims/joist/commit/b1a7f578f461add4bbf3ef244d8dcc424fa10479
+ https://github.com/phetsims/joist/commit/0dac2eca3f65b86b92b4ca4925d48cc346972577

The other issue is slated for code inspection, so I'm assigning this one back to @phet-steele for veri

[2018-04-18 18:24] zepumph opened #483 "Should Screen.activeProperty initialize to false?"
Right now, in the constructor for `Screen`, the activeProperty is initialized to false. Then these screens are passed into Sim.js where their activeProperties are set according. This makes for a minor, but inconsistent initial state for Screen.activeProperty. For example, a single screen sim will still have the initial value of `screen.activeProperty` false.

**First Question**. . . Is this import

[2018-04-18 20:26] phet-steele opened #484 "[LoL] Error in ColorProfile.js"
Not sure what started causing this, but running sims from master that use `ColorProfile.js` coupled with `?legendsOfLearning` is throwing an error. Also not sure the error is the true problem, but here it is:

[code]

Note that running in the LoL harness is not needed to throw this error. Seen on master (2 PM 4/18) macOS 10.13.4 Chrome.

[2018-04-18 20:28] phet-steele commented on #484
An example if you want to run off phettest like I was: http://phettest.colorado.edu/area-model-introduction/area-model-introduction_en.html?ea&brand=phet&legendsOfLearning

[2018-04-19 23:35] jonathanolson commented on #484
Should be fixed in the above commit, can you verify?

[2018-04-19 23:35] zepumph opened #485 "Homebutton won't click with keyboard"
Currently pressing space or enter on `HomeButton.js` will only blur the button, not click it. Tagging @jessegreenberg because we both saw this today in meetings.

[2018-04-19 23:36] zepumph commented on #485
Weird logic, if you add a debugger to JoistButton's click listener, then it will work after you play through the debugger.

[2018-04-19 23:38] zepumph commented on #485
I removed the blur event that I added to the `HomeButton` and it fixed this issue. I look through the project, and the blur event isn't really used in other places, especially no buttons. @jessegreenberg please review.

[2018-04-19 23:48] jessegreenberg commented on #485
Thanks @zepumph, looks good and I verified that this fixed the problem. Ill bet the blur was necessary prior to our work in `AccessibleInstance.updateVisibility`. Closing.

[2018-04-19 23:48] #485 closed

[2018-04-20 16:26] phet-steele commented on #484
Good to go.

[2018-04-20 16:26] #484 closed

[2018-04-23 01:44] andrea-phet commented on #413
Sims that specify a value for hasCloseButton:
curve-fitting
- [ ] ReducedChiSquaredStatisticDialog
equality-explorer
- [ ] OopsDialog
- [ ] InfoDialog
gene-expression-essentials
- [ ] FluorescentCellsPictureDialog
joist
- [ ] AboutDialog
- [ ] DialogsScreenView
- [ ] KeyboardHelpDialog
- [ ] OptionsDialog
- [ ] UpdateDialog
make-a-ten
- [ ] InfoDialog
models-of-the-hydrogen-atom
- [ ] SnapshotsDia

[2018-04-24 17:08] zepumph commented on #413
I'm not sure if this is the best place for this, but I have found the recent ui update to close button breaking keyboard interaction. The reason is that `RectangularPushButton` had accessibleInputListeners (search `addAccessibleInputListener`), but `Path` doesn't. If we want to keep it as a path, then we will need to implement these listeners ourselves.

If going down this road, my recommendation

[2018-04-24 17:10] pixelzoom commented on #413
@andrea-phet let's discuss @zepumph's comment above.

[2018-04-24 17:10] pixelzoom commented on #413
@andrea-phet let's discuss @zepumph's comment above.  In order to support a11y and phet-io, I think it would be best if the close button were a `RectangularPushButton` with transparent `baseColor`.

[2018-04-24 17:12] pixelzoom commented on #413
@andrea-phet let's discuss @zepumph's comment above.  In order to support a11y and phet-io, I think it would be best if the close button were a `RectangularPushButton` with `baseColor: 'transparent'`.

@zepumph would that solve the problem?

[2018-04-24 17:15] zepumph commented on #413
I committed a temporary fix, but it isn't over writable or customizable with options.

[2018-04-24 17:16] zepumph commented on #413
Ahh, sorry @pixelzoom I didn't see any of your comments until just now. Yeah, I think it would be best to style it, but still have it be a `RectangularPushButton`.

[2018-04-24 17:48] pixelzoom commented on #413
I'm going to work on an immediate fix.

[2018-04-24 17:48] pixelzoom commented on #413
Looks like this also got removed from the revised close button:

[code]

@zepumph What does this do, and are there problems without it?

[2018-04-25 16:47] pixelzoom commented on #315
Reopening. We neglected to move DialogsScreenView (demo app) to sun.

[2018-04-25 17:08] #315 closed

[2018-04-25 17:12] pixelzoom commented on #413
Two dialogs have problems with the close button being requires:

(1) KeyboardHelpDialog creates its own custom close button, exactly on top of the standard close button, to be addressed in https://github.com/phetsims/scenery-phet/issues/374.

(2) ContextLossFailureDialog has overlap of content and button, to be addressed in https://github.com/phetsims/scenery-phet/issues/373.

[2018-04-25 18:07] pixelzoom opened #486 "KeyboardHelpDialog: remove custom close button"
Related to https://github.com/phetsims/joist/issues/413#issuecomment-384010740, where the Dialog close button is now mandatory.

KeyboardHelpDialog creates its own custom close button, exactly on top of the standard close button.

This button needs to be removed.  I’ll compare the a11y and phet-io instrumentation to Dialog.  If they are the same, I’ll remove it.  If they are different, someone els

[2018-04-25 18:14] pixelzoom commented on #486
I added `KeyboardHelpButton` to the demo app, but it's not rendering for some reason.

As a workaround, I've added my own button that opens `KeyboardHelpDialog`.

[2018-04-25 18:23] pixelzoom opened #487 "various issues in KeyboardHelpButton and KeyboardHelpDialog"
Noted while working on https://github.com/phetsims/joist/issues/486.

KeyboardHelpButton and KeyboardHelpDialog have many small issues that need to be addressed.  I'll put TODO items in the code that reference this issue.

[2018-04-25 18:51] pixelzoom opened #488 "general problem with content for KeyboardHelpDialog"
There's a general problem with the content for `KeyboardHelpDialog`, demonstrated by `OhmsLawKeyboardHelpContent`:

[code]

(1) The Panel is unnecessary.

(2) By wrapping the content in a Panel, you're unintentionally adding Panel's default margins (xMargin:5, yMargin:5).   In `KeyboardHelpDialog`, `var HELP_CONTENT_MARGIN = 15;`.  Do you'll need to increase this to `20`.

(3) The Panel has copied

[2018-04-25 19:17] pixelzoom commented on #488
I fixed all of these except for JohnTravoltageKeyboardHelpContent.  It's doing something evil at the end of its constructor:

[code]

Assigning to @jessegreenberg and @zepumph to handle `JohnTravoltageKeyboardHelpContent` and review.

[2018-04-25 19:37] pixelzoom commented on #486
@jessegreenberg and @zepumph You'll need to handle this.  There are 2 significant differences in how the custom close button is handled in KeyboardHelpDialog: `accessibleOrder`, `addAccessibleInputListener`. And I don't know enough to deal with these.

In the meantime, I've set `stroke: 'red'` for the custom close button, so you can see it separately from Dialog's close button.

[2018-04-25 19:51] pixelzoom commented on #486
Yikes! Parts of `KeyboardHelpDialog`'s custom close document are `@public`!

In `KeyboardHelpButton`:

[code]

[2018-04-25 19:54] pixelzoom commented on #487
I've done as much as I can here.  Over to @jessegreenberg and @zepumph.

[2018-04-25 20:08] pixelzoom commented on #413
I cleaned up all of the client usages related to the close button.

We need to review the positioning of the close button.  As currently implemented in `updateCloseButtonPosition`, it's possible for the close button to overlap the content (as I saw in ContextLossFailureDialog).  I'll have to review the design document to see what the specification says.

[2018-04-25 20:12] pixelzoom commented on #413
As specified, the design in https://docs.google.com/document/d/12UkhG7lU-dLBCa-A8FcamkrPBLQxr6ft33Igbw6a5U8/edit#heading=h.wwa6byadzd8h allows the close button to overlap the content.  But I doubt that's intention -- the specification appears to indicate a lack of understanding about how layout, margins, etc. work.  So we'll need to discuss with @amanda-phet and @ariel-phet.

[2018-04-26 21:43] zepumph commented on #488
I removed the panel from JT. I decided to keep the code smell illustrated in https://github.com/phetsims/joist/issues/488#issuecomment-384403141. JT was the first keyboard navigation dialog, and the content is by no means idiomatic. When we publish this sim again, we will update the keyboard dialog content to a consistent look with `HelpContent.js`. I'm fine letting it slide until then. JT is not

[2018-04-26 21:51] zepumph opened #489 "Should tandem be in options or required param?"
For joist, @samreid and I have implemented tandems as required parameters. @pixelzoom in https://github.com/phetsims/joist/issues/487 pointed out that he wished that they were in options. I'm not just I see the benefit in moving these to options in joist. @pixelzoom what were your concerns?

[2018-04-26 22:14] zepumph commented on #487
@pixelzoom I don't see any more todos. Tandem as a required param vs option was promoted to #489. I think that is all for this issue.

[2018-04-26 22:14] #487 closed

[2018-04-27 00:25] pixelzoom commented on #489
(4) Having tandem as a required parameter makes it unnecessarily complicated to test in the browser console.  E.g. the case I ran into while debugging/testing yesterday:

`new phet.joist.KeyboardHelpDialog( ...., phet.tandem.Tandem.optional ).show()`

vs.

`new phet.joist.KeyboardHelpDialog( .... ).show()`

_All_ code should be testable without tandems.

[2018-04-27 16:45] phet-steele commented on #482
Things have been looking great, thanks.

[2018-04-27 16:45] #482 closed

[2018-04-27 17:38] pixelzoom commented on #486
The close button should (ideally) be private to Dialog.

Dialogs owns the close button, and all Dialogs have a close button. So Dialog should be responsible for anything and everything related to a11y (and phet-io) for the close button.   If there's something needed in KeyboardHelpDialog's, I suspect that it's something that should either (a) be moved to Dialog, or (b) be reexamined because it is

[2018-04-30 16:10] pixelzoom commented on #488
`JohnTravoltageKeyboardHelpContent ` cleanup move to https://github.com/phetsims/john-travoltage/issues/279.

Closing.

[2018-04-30 16:10] #488 closed

[2018-04-30 16:15] pixelzoom commented on #486
In KeyboardHelpDialog:

[code]

In Dialog:

[code]

I was told that Dialog's accessible order is correct, so that the close button is visited last.   KeyboardHelpDialog comment says the opposite - close button comes first.   Why the contradiction? Why does KeyboardHelpDialog need to be different?

[2018-04-30 16:21] #71 closed, assigned to nobody

[2018-04-30 21:58] zepumph commented on #486
@jessegreenberg could you comment. Why did we want the close button first in the dialog order for the Keyboard Help Dialog?
1. Do we omit that and just make it consistent with Dialog? or...
2. Do we adjust Dialog so that the close button is always first?

[2018-05-01 22:01] pixelzoom commented on #366
All calls to `unlink`, `removeListener`, etc. should be inside a test for `hasListener`. See https://github.com/phetsims/scenery/issues/775#issuecomment-385801650.

[2018-05-03 20:39] zepumph opened #490 "Does the splash screen img need alt text?"
I ran an a11y audit on a https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.0-rc.3/phet/resistance-in-a-wire_en_phet.html, and got the following critique:
![image](https://user-images.githubusercontent.com/6856943/39601572-d39d0780-4ece-11e8-89ad-f8db37543024.png)

It doesn't stick around for long, but I think we should still have it. Tagging @terracoda for a11y context and @samreid becau

[2018-05-03 20:41] samreid commented on #490
As far as I know, the text for the startup sequence has been highly refined, and I wonder if having alt text for the splash image would disturb that.  On the other hand, if a user sees there is an image with no alt-text, they may be dismayed or confused.  Not sure what's best here.

[2018-05-03 20:43] zepumph commented on #490
What do you mean by this?

[2018-05-04 01:27] samreid commented on #490
It is my understanding that the accessibility design team had already decided what the simulation should say as it starts up, not sure if adding an alt text would interfere with that.  For example, when you start balloons and static electricity, it says:

"Balloons and Static Electricity Scene Summary.  This is an interactive sim.  It changes as you play with it.  The sim has a Play Area and Contr

[2018-05-08 16:51] samreid commented on #490
MDN suggests using empty alt text for cases where the image is decoration only:
https://developer.mozilla.org/en-US/docs/Learn/Accessibility/HTML#Empty_alt_attributes

[2018-05-08 17:19] terracoda commented on #490
The image element requires an alt attribute. The alt attribute can be null if the image does not have any relevant important information.

[code]
If there is no alt at all, the browser will use the file name as default.

[2018-05-09 00:17] zepumph opened #491 "Should ScreenView have an h1 label?"
I stumbled across this today, but I'm unsure what the best protocol is. For multiscreen sims, so we want the screen name to be a large header in the PDOM? We havent needed this before, but on the home screen I see some shenanigans in RPAL:
![image](https://user-images.githubusercontent.com/6856943/39789268-494bdf14-52db-11e8-88a4-d42faa07def3.png)

I'm not sure if we want the "Home Screen" header

[2018-05-09 03:53] terracoda commented on #491
@zepumph, we do not want "Home Screen" at all on the home screen, just the name of the sim.

The current thinking on this is that the sim's h1 is the same for each screen. We may want to consider this more carefully, but my current thinking was that the sim is single page with different parts visible at different times.

The sim's name remains constant in the Sim Resources bar.

[2018-05-09 03:54] terracoda commented on #491
Adding, one could consider each part having it's own h1, but we have not done this for the multi-screen sims to date.

[2018-05-09 23:58] terracoda commented on #490
Regarding https://github.com/phetsims/joist/issues/490#issuecomment-386430377, there is no text for the actual loading splash page (i.e., no text for the PhET Logo). There will be a sound for that indicates that the sim is loading.

The "highly refined" text starts at the beginning of the actual sim page, either the opening page on a single screen sim, or the content of the home screen on a multi-

[2018-05-10 23:00] zepumph opened #492 "Accessibility Audit: The language of this page is not set."
After auditing a few version of phet sims (and different locales), it seems like we aren't setting the `lang` attribute for the main `<html>`:

![image](https://user-images.githubusercontent.com/6856943/39898334-bc2c29a2-5462-11e8-9c28-8f4305cc449f.png)

Audited with https://tenon.io/testNow.php?url=https://phet.colorado.edu/sims/html/faradays-law/latest/faradays-law_be.html

This may be a bit of

[2018-05-11 01:12] zepumph commented on #490
Fixed,  tested and audited in https://bayes.colorado.edu/dev/html/faradays-law/1.4.0-dev.26/phet/faradays-law_en_phet.html. @samreid please review.

[2018-05-11 16:09] terracoda commented on #491
We discussed this issue a little yesterday, and we might need a combination of sim name and screen name in the h1, for example:
[code]
Other possible arrangements, too.
I like to put the most important or new information first.

[2018-05-12 17:32] samreid commented on #490
@zepumph, thanks for your fix. The change looks good and I tested that the alt appears in the splash image on startup in requirejs.  To simplify the readability of future commits, I would recommend doing a prior "reformat" commit before the salient change.  I think you normally do this, just wanted to remind you for next time.  Closing.

[2018-05-12 17:32] #490 closed

[2018-05-16 19:09] samreid commented on #481
Looks great, thanks!  Closing.

[2018-05-16 19:09] #481 closed

[2018-05-30 16:41] ariel-phet commented on #470
@jonathanolson, yes all look good in previous comment

[2018-05-30 21:30] zepumph commented on #479
Reverted above.

[2018-05-30 21:39] zepumph commented on #479
https://github.com/phetsims/phet-io-wrappers/issues/21#issuecomment-391078810 could cover this, but even so that problem doesn't belong in this issue, adding it to phetsims/faradays-law#107.

[2018-05-30 21:41] zepumph commented on #479
Closing

[2018-05-30 21:51] andrea-phet commented on #413
@pixelzoom could you review my updates to the layout? Also, is https://github.com/phetsims/joist/issues/477 addressed by the design changes?

[2018-05-30 22:10] pixelzoom commented on #413
Notes/sketch from 5/7/18 meeting with @andrea-phet, to refresh my memory on the "requirements".

![dialog-design-spec](https://user-images.githubusercontent.com/3046552/40750244-e11ac5fe-6423-11e8-8436-bab72cb5c683.jpg)

[2018-05-30 22:18] pixelzoom commented on #413
Changes look good.    But now that all dialogs have a title area, we'll need to alert developers.  Because some of the dialog look odd now.  For example, see the About and Update dialogs below.   We'll need to decide whether to add titles to these, decide how to adjust margins, etc.   I'll add developer-meeting label to discuss at tomorrow's meeting.

![screenshot_656](https://user-images.githubus

[2018-05-30 22:32] pixelzoom commented on #413
@andrea-phet We should also look at the default for some of the options.   E.g., these seem a bit extreme:

[code]

[2018-05-30 22:35] andrea-phet commented on #413
@pixelzoom agreed.

[2018-05-31 03:27] pixelzoom commented on #413
I'm starting to question the decision to have a title area (possibly blank) for all Dialogs.  I have the Dialog shown below in Equality Explorer.  I'm not convinced that it needs a title, and it looks lopsided with a blank area at the top.

![screenshot_658](https://user-images.githubusercontent.com/3046552/40759629-29fd643a-6450-11e8-8674-a678826a5ec0.png)

[2018-05-31 16:15] pixelzoom commented on #479
Note that this change broke Equality Explorer, see https://github.com/phetsims/equality-explorer/issues/120.  If you're going to change the name of something that's public, please change usages.

[2018-05-31 16:20] amanda-phet commented on #413
Do all dialogs *need* a title?

In the sun demo example, sun demo is obviously the title. But we definitely need the option to not have a title, or we will need to do custom spacing for all dialogs that do not have a title.

[2018-05-31 16:30] jonathanolson commented on #413
That sounds good to me. Presumably we'll still want to provide an accessible "name" to all dialogs.

[2018-05-31 16:31] zepumph commented on #479
Sorry about that, and thank you for taking care of it.

[2018-05-31 16:31] #479 closed

[2018-05-31 16:43] pixelzoom commented on #413
I've sketched out 3 design options for Dialogs that don't have a title, see below. (And feel free to suggest others.)

Option 1 - Close button overlaps dialog content. Up to the developer to ensure that they don't overlap. Could be tricky with i18n.

Option 2 - Close button to the right of content. Equal margin on left and right of content.

Option 3 - Close button above content. Equal margin abov

[2018-05-31 16:46] pixelzoom commented on #413
Of the above 3, my preference would be Option 3.   While Option 2 & 3 are similar, Option 3 is a better fit for the aspect ratio of ScreenView layoutBounds.

[2018-05-31 16:46] pixelzoom commented on #413
Of the above 3, my preference would be Option 2.   While Option 2 & 3 are similar, Option 2 is a better fit for the aspect ratio of ScreenView layoutBounds.

[2018-05-31 16:59] pixelzoom commented on #413
Option 1 is something that I really think we should strive to avoid.   And I'd also like to avoid implementing multiple layout options solely for the sake of individual aesthetic preferences.

With Option 2, I don't think a bit of extra horizontal spacing would look bad.  Especially if you had the option to set the xSpacing between the close button and content to zero.  It seems like a small price

[2018-05-31 17:02] pixelzoom commented on #413
About an Option 4, like Option 2 but with different margins on the left and right?  For content that is left justified (e.g. About dialog) perhaps this would eliminate the "excess horizontal spacing" concern.

[2018-05-31 19:04] pixelzoom commented on #413
5/31/18 design meeting:

We'll go with a version of Option 2 for both titled and untitled dialogs, with an option to change the left margin.  I will sketch out the new design, and discuss with @andrea-phet.

[2018-05-31 19:05] samreid commented on #413
At today's meeting, I suggested we look at the iOS dialog layout to solve symmetry problems:

![image](https://user-images.githubusercontent.com/679486/40802566-2d65f938-64d3-11e8-8de5-f08957c2b0ed.png)

We decided to continue investigating the "x" though (I'm not 100% clear why though).

[2018-06-01 17:13] zepumph commented on #492
Tagging @terracoda for discussion. This was brought up in an a11y meeting today.

[2018-06-01 17:14] zepumph commented on #492
I wonder if it is possible to have the language set dynamically, since we can change locale based on a query parameter.

[2018-06-01 17:15] zepumph commented on #492
Tagging @jessegreenberg too.

[2018-06-01 18:10] jessegreenberg commented on #492
It was also brought up that we have some unicode marks that surrounds our translatable strings.
Sometimes VoiceOver says "left to right embedding marks" when it encounters one, depending on user settings. I actually  haven't heard that in a while, maybe default settings were adjusted.

[2018-06-01 20:09] zepumph opened #493 "Update accessibility flag"
From https://github.com/phetsims/john-travoltage/issues/280#event-1659001547 and my work in releasing RIAW 1.5.0, sometimes it is nice to have the ability to turn off accessibility features. We can't do that currently because the accessibility query parameter is a flag. What if instead it was a boolean, like`accessibility=true`.

 I don't love that because of the length, but what if we renamed it

[2018-06-01 21:35] zepumph commented on #453
in https://github.com/phetsims/scenery/issues/711 we decided to go with `PhetButtonIO` as the solution here, but in https://github.com/phetsims/phet-io/issues/1326 we moved public NodeIO methods to properties, so this solution no longer works. As of now clients can just interface directly with the visibilityProperty. Tagging @samreid, isn't this a problem?

[2018-06-04 14:57] terracoda commented on #492
@zepumph and @jessegreenberg, I also have not heard, "left to right embedding" in a while, so maybe that issue has been fixed in some natural way.

[2018-06-04 15:06] terracoda commented on #492
It is my understanding that the `lang` attribute is very important for accessibility, see this short article by Léonie Watson, [Using the HTML `lang` attribute](https://developer.paciellogroup.com/blog/2016/06/using-the-html-lang-attribute/).

In our case, it may not be necessary to put the lang attribute on the parent `html `element as it is my understanding that we only have text-based content i

[2018-06-05 16:20] samreid commented on #453
It was unclear why you said `PhetButtonIO` no longer works--it doesn’t extend NodeIO, so it doesn’t inherit the new Properties.  Can you elaborate?

[2018-06-05 16:22] zepumph commented on #453
I guess what I am saying is that we will need to create a `pickableProperty` for PhetButtonIO, since it doesn't inherit from NodeIO. We decided that PhetButtonIO shouldn't be able to set its visibility, and to the same extent I think that applies to opacity.

[2018-06-05 16:23] samreid commented on #453
Sure, let's adopt the same pattern for `PhetButtonIO.pickableProperty`

[2018-06-05 18:31] andrea-phet commented on #413
Dialog sketch from @pixelzoom on 5/31:

![img_9216](https://user-images.githubusercontent.com/7988696/40995472-61b62aa4-68bc-11e8-925c-0f9f2cf3071f.jpg)

[2018-06-11 15:31] andrea-phet commented on #413
@pixelzoom, could you review Dialog? I think my next step if current changes are good would be to go into use cases and fix any workarounds. One such example would be `ContextLossFailureDialog` in joist:
[code]

[2018-06-12 15:58] pixelzoom commented on #413
This looks overall great.

The only thing I see is potential confusion about options `leftMargin/rightMargin/topMargin/bottomMargin` vs `xMargin/yMargin`.  I see that the former are applied to the content, while the latter are applied to the Panel (supertype).   Unless you have other reasons for wanting to provide both sets of options, I think it might be preferable to get rid of  `xMargin` and `y

[2018-06-14 20:48] andrea-phet commented on #413
Current uses of Dialog:

curve-fitting
- [ ] ReducedChiSquaredStatisticDialog

equality-explorer
- [ ] InfoDialog
- [ ] LevelSelectionNode
- [ ] OopsDialog

gene-expression-essentials
- [ ] FluorescentCellsPictureDialog

joist
- [ ] AboutDialog
- [ ] KeyboardHelpDialog
- [ ] OptionsDialog
- [ ] UpdateDialog

make-a-ten
- [ ] InfoDialog

masses-and-springs
- [ ] EnergyGraphNode

models-of-the-hydro

[2018-06-14 23:20] pixelzoom commented on #470
Labeling as "block-production".  This issue must be closed before Equality Explorer can start RC testing, scheduled to begin 7/11/18.

[2018-06-15 16:41] samreid commented on #489
The description in https://github.com/phetsims/joist/issues/489#issuecomment-397467894 sounds great to me, should we capture it in the "how to instrument" documentation and close this issue?

[2018-06-18 16:52] pixelzoom opened #494 "unwanted space at bottom of AboutDialog"
AboutDialog has some undesirable space at the bottom when `?brand=adapted-from-phet`:

![screenshot_674](https://user-images.githubusercontent.com/3046552/41550275-8304735e-72e5-11e8-8588-572235942074.png)

It looks like a `VStrut(15)` is being added regardless of whether there's any brand information to be displayed.

[2018-06-18 16:58] pixelzoom commented on #494
Done, tested with all brands, closing.

![screenshot_675](https://user-images.githubusercontent.com/3046552/41550605-8ae446b6-72e6-11e8-9659-8072fdf68372.png)

[2018-06-18 16:58] #494 closed

[2018-06-18 18:10] pixelzoom commented on #413
@andrea-phet and I discussed a problem with the current layout options.  If you increase the margins  around the content (or title + content), then the close button starts to move away from the upper-right corner.   For example in Equality Explorer:

![screenshot_677](https://user-images.githubusercontent.com/3046552/41553355-c5ef6e18-72ee-11e8-9b4b-335798063453.png)

What we really want is this,

[2018-06-18 19:03] samreid opened #495 "BarrierRectangle and its sub-components should be marked as phetioReadOnly"
Before https://github.com/phetsims/energy-skate-park-basics/issues/411 can go to dev test, the BarrierRectangle and its sub-components should be marked as readOnly.  This became broken in https://github.com/phetsims/phet-io/issues/1326

[2018-06-18 19:04] samreid commented on #453
@zepumph said this would be good to solve before creating a dev version for https://github.com/phetsims/energy-skate-park-basics/issues/411

[2018-06-18 19:05] samreid commented on #453
@zepumph said he'll tackle this.

[2018-06-18 19:13] zepumph commented on #453
Added in the above commit. Closing

[2018-06-18 19:14] samreid commented on #495
Proposed fix pushed and ready for review.

[2018-06-18 19:16] zepumph commented on #495
That looks good. I wonder how we should handle `phetioState` or other phetio options (high frequency). Do we just want to cherry pick out specific bubbling options?

[2018-06-18 19:17] zepumph commented on #453
@samreid please review.

[2018-06-18 19:18] samreid commented on #495
I suspect that if a Node is marked as `phetioState: false` then its children should be too.  Other attributes don't seem like they should propagate (let me know if you disagree).  I'll propagate `phetioState` shortly.

[2018-06-18 19:18] zepumph commented on #453
this should be fixed before https://github.com/phetsims/energy-skate-park-basics/issues/411#issuecomment-398110355

[2018-06-18 19:19] samreid commented on #495
Proposed fix pushed, please review.

[2018-06-18 19:20] #495 closed

[2018-06-18 19:29] zepumph commented on #453
Right! Thanks for that.

[2018-06-18 19:29] #453 closed

[2018-06-18 22:39] jessegreenberg commented on #493
Sorry for the delay! I have not run into a case where it would be useful to turn accessibility off with a query parameter. Could you please describe a little more where you would have found this useful during your work in RIAW 1.5.0?

[2018-06-19 21:50] pixelzoom commented on #413
@andrea-phet The above changes look great.  I played around with various layout options in the sun demo, and it all seems to be working as expected.  I think this is a nice improvement.   I especially like the diagram that you added to explain the layout options, very helpful.

Next step would be to (re)review the usages listed in https://github.com/phetsims/joist/issues/413#issuecomment-397433509

[2018-06-19 22:34] pixelzoom commented on #413
I reviewed all of the Dialog usages listed in https://github.com/phetsims/joist/issues/413#issuecomment-397433509.  I tweaked a few, but they generally looked good.

[2018-06-19 22:42] pixelzoom commented on #413
@ariel-phet Everything looks good to me here, and I would be comfortable with closing this issue.  But if the resources are available, you might have an impartial 3rd party review the final API.   Since Dialog still has other issues that have not been address, the scope of the review should be limited to what was addressed in this issue -- close button, title, and layout options.

[2018-06-21 17:07] jessegreenberg commented on #413
Discussed 6/21/18 developer meeting:

@jessegreenberg will review the changes.

[2018-06-26 02:49] jonathanolson commented on #470
Simplified above, closing.

[2018-06-29 00:53] zepumph opened #496 "Implement HomeScreen.md template"
The [HomeScreen.md](https://github.com/phetsims/joist/blob/master/doc/HomeScreen.md) file is not just for the homescreen, but outlines how the entire joist scaffolding should look in the pDOM. Currently, as part of https://github.com/phetsims/area-model-common/issues/149, the headers are working, but we need to do the rest of this.

[2018-06-29 01:09] zepumph commented on #496
As already noted, general, cross sim commits regarding screen headers were made in https://github.com/phetsims/area-model-common/issues/149. @jessegreenberg please review these commits:
https://github.com/phetsims/joist/commit/481c860064c9b9e5f866f837105064b61181ac3d
https://github.com/phetsims/joist/commit/6588aeacac4ed83f32a864aab3c5bd2255cce653
https://github.com/phetsims/joist/commit/3781c9037

[2018-06-29 01:09] zepumph commented on #496
Tagging @terracoda too to note issues she sees about joist related strings over in this issue.

[2018-06-29 21:17] jessegreenberg commented on #413
I reviewed the changes regarding layout, close button, and title. I played with all of the options and everything worked as expected, even with extreme values.

The diagram added to document the layout options was extremely helpful, that was a great addition. Everything worked as documented. Based on comments in https://github.com/phetsims/joist/issues/413#issuecomment-398569022, closing this issu

[2018-06-29 21:17] #413 closed

[2018-06-29 22:42] jessegreenberg commented on #496
Hmm, interesting case. Then maybe we need to make the view's `labelContent` truly dependent on the number of screens rather than existence of sim name. One way to do this would be to create the `labelContent` in `Sim.start` where we can count the number of screens. But I really like that the implementation is in Screen.js rather than Sim.js.

Here is another option for your consideration, I am not

[2018-06-29 23:19] jessegreenberg commented on #486
Sorry for the late response, Dialog should be changed so that the behavior matches KeyboardHelpDialog. I moved the content in KeyboardHelpDialog to Dialog and made the Dialog's close button private. @zepumph could you please review?

[2018-07-02 18:13] zepumph commented on #496
I don't want to let this sit in master, high priority.

[2018-07-02 18:16] zepumph commented on #486
Looks good thanks.

[2018-07-02 18:16] zepumph commented on #486
I mean back to @pixelzoom.

[2018-07-02 19:12] zepumph commented on #496
@jessegreenberg good idea! How about that?

[2018-07-03 13:36] terracoda commented on #496
I think it makes sense to make it dependent on the number of screens. That makes sense to me and is in line with how I created the HomeScreen pdom content.

[2018-07-06 16:37] pixelzoom commented on #486
👍

[2018-07-06 16:37] #486 closed

[2018-07-09 23:27] jbphet opened #497 "Integrate global sound controls into sim framework"
There are two sound controls that need to be added into the sim framework, one for turning sound on and off for the sim, and another for choosing between "basic" and "enhanced" sounds.

The issues where this was previously discussed are:
+ https://github.com/phetsims/tambo/issues/11
+ https://github.com/phetsims/tambo/issues/12

The UI design is being finalized in:
+ https://github.com/phetsims/ta

[2018-07-09 23:32] jbphet commented on #497
I committed some code for this but forgot to reference the issue, please see https://github.com/phetsims/joist/commit/4dd92fc5dc4965826cbfd90dfb40ee5b8cc9f75f.

[2018-07-09 23:36] jbphet opened #498 "branch: sound-control"
The sound-control branch was created to develop the global sound controls without risking destabilization of the framework code.  This is necessary because the Equality Explorer simulation is quite close to creating a release candidate (RC) branch.  See https://github.com/phetsims/joist/issues/497.

[2018-07-11 20:29] pixelzoom commented on #406
It occurred to me that we are already detecting production versions in order to strip out assertions.  In initialize-globals.js:

`573     var isProduction = $( 'meta[name=phet-sim-level]' ).attr( 'content' ) === 'production';`

How about if we promote this to a global variable? I.e.:

`window.phet.chipper.isProduction = $( 'meta[name=phet-sim-level]' ).attr( 'content' ) === 'production';`

Then t

[2018-07-11 20:38] pixelzoom commented on #406
We could enable `showAnswers` in debug.html by looking at `phet.chipper.isDebugBuild`.  This is how assertions are currently enabled in debug.html (see initialize-globals.js, line 576).

[2018-07-11 22:42] samreid commented on #406
The two preceding comments seem sensible to me, and not too much work, easy to test.

[2018-07-12 16:16] jonathanolson commented on #406
It looks like that is hard-coded to 'production' in the template, so ANY sim build includes that flag. So the above notes look good as long as we want showAnswers when "it's either not built or is the debug build".

[2018-07-12 18:16] pixelzoom commented on #406
7/12/18 dev meeting:
Use approach in https://github.com/phetsims/joist/issues/406#issuecomment-404299706.
Create globals phet.chipper.isProduction and phet.chipper.showAnswers.
@pixelzoom will do this, and use in EqEx.

[2018-07-13 01:30] pixelzoom commented on #406
Thinking about this a bit more...   Since we may want to disable more than just the `showAnswers` query parameter (e.g. 'autoAnswer' in ArithmeticQueryParameter), perhaps we should have a global variable whose value indicates that we're running the the primary built html file.  I.e.:

`(phet.chipper.isProduction && !phet.chipper.isDebugBuild )`

Do other devs think this is a good idea? Suggestion

[2018-07-13 03:31] samreid commented on #406
My initial reaction is that `( phet.chipper.isProduction && !phet.chipper.isDebugBuild )` seems clear enough--it suggests that production builds can be the debug version or not.  I don't know that giving a new name to that combination would be helpful.  Happy to be proved wrong though!

[2018-07-13 15:32] jbphet commented on #406
If we're going to have two parameters, how about having an object that could also contain a version ID in case we ever need to change it, e.g:

[code]

[2018-07-13 15:48] pixelzoom commented on #406
@jbphet suggested:

That doesn't address the issue.  Call sites would then have to do `( phet.chipper.buildConfig.isProduction && !phet.chipper.buildConfig.isDebugBuild )`.   And `buildConfig` has an entirely different meaning in the chipper implementation.

[2018-07-13 16:59] pixelzoom commented on #406
I added `phet.chipper.isProduction` and `phet.chipper.queryParameters.showAnswers`.  The latter is set to overridden and set to false when running the primary built html file.

Tested in equality-explorer with requirejs html file, equality-explorer_en_phet.html, and equality-explorer_all_phet_debug.html.  `?showAnswers` was ignored when used with equality-explorer_en_phet.html.

[2018-07-13 18:32] pixelzoom commented on #406
All of my sims have been converted to use `phet.chipper.queryParameters.showAnswers`.

[2018-07-13 18:37] pixelzoom commented on #406
@jonathanolson randomly selected to review.

[2018-07-13 21:54] pixelzoom commented on #498
RCs are published for Equality Explorer, so you may proceed with merging to master.

[2018-07-13 21:55] pixelzoom commented on #497
@jbphet said:

RCs are published for all EqEx sims, so you may proceed with merging into master.

[2018-07-16 18:28] pixelzoom commented on #470
Reopening.  There's a problem here, reported by @phet-steele during RC testing of Equality Explorer (https://github.com/phetsims/QA/issues/144).

With `?stringTest=long`, there is vertical displacement of the home screen icons as you select them.  For example, run https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-rc.1/phet/equality-explorer_en_phet.html?stringTest=double.  Stay on the hom

[2018-07-16 18:31] zepumph opened #499 "Uninstrument BarrierRectangle in favor of display.addInputListener"
This is a new pattern that seems better for phetio because then we can uninstrument BarrierRectangle, simplifying the phetio api for monitoring dialog visibility.

In `Sim.js` something like:
[code]

copied from `BarrierRectangle`'s  button listener.

[2018-07-16 18:32] zepumph commented on #499
This should be explored before FL "thoughtful" release.

@samreid's philosophy "good luck, hopefully it works out, but maybe not."

[2018-07-16 18:33] pixelzoom commented on #470
Created https://github.com/phetsims/equality-explorer/issues/143 to track in EqEx RC testing, and to see if this needs to be addressed for 1.0 release.

[2018-07-17 16:17] lmulhall-phet opened #500 "Incorrect bounds on iOS"
Found while testing phetsims/QA/issues/144.

While doing iOS 11.3 + Safari 11.0 Mobile testing, noticed this:

![img_df5f02187a47-1](https://user-images.githubusercontent.com/31285590/42830755-916ef420-89a9-11e8-894b-3efcd81cda4e.jpeg)

Originally found this in iOS 9.3.5 + Safari 9.0 Mobile.

On macOS 10.13.5 + Safari 11.1.1:

![screen shot 2018-07-17 at 10 12 08 am](https://user-images.githubuser

[2018-07-17 17:13] samreid opened #501 "Incorrect dispose in NavigationBarSoundToggleButton"
While investigating https://github.com/phetsims/tambo/issues/18 I noticed this code in NavigationBarSoundToggleButton.js

[code]

The way that prototypes and overrides works, this code is unnecessary.  Or perhaps we need to unlink some things, and that is yet to be completed?

[2018-07-17 17:16] pixelzoom commented on #500
Looking back through published versions, this has apparently been a problem for a long time.

As I recall, the layout bounds (ScreenView.DEFAULT_LAYOUT_BOUNDS) were chosen to fit iPad.  From ScreenView:

[code]

@phet-steele Have you had to compensate for this when making sim screenshots?

@ariel-phet Please prioritize and assign.

[2018-07-17 17:47] jbphet commented on #497
@samreid - since the Equality Explorer RC is out, please review the code on the sound-control branch and let me know what if anything needs to be done before merging it to master.  One exception: for now, please don't spend any time on `NavigationBarSoundToggleButton`, since we are looking at ways to reduce the amount of memory that it used.

[2018-07-17 17:53] phet-steele commented on #500
Taking a sim screenshot is not affected by a sim's layout bounds. What DOES affect a screenshot is the "space consumed by the browser on the top", which we do not control. We can't take screenshots on iOS 11 because Apple shrunk the browser space, but the "screenshot team" has known this for awhile and, again, would not be fixed by changing a sim's layout bounds (it's a totally separate issue if I

[2018-07-17 18:08] jbphet commented on #501
This was actually copied from `KeyboardHelpButton`, which was suggested as the template for this button.  I've removed the code from `NavigationBarSoundToggleButton`, back to you @samreid to decide if `KeyboardHelpButton` requires the same fix.

[2018-07-17 18:18] amanda-phet commented on #500
@lmulhall-phet just reminded me that we open a second tab when taking screenshots, which makes the viewing window the correct proportions. So that's the missing piece here.

[2018-07-17 18:20] pixelzoom commented on #500
@amanda-phet By "missing piece" do you mean that this explains the screenshot sub issue, or do you mean that the current layoutBounds are actually correct?

[2018-07-17 18:23] amanda-phet commented on #500
Potentially both. I do not have time to investigate at the moment, but my hunch is that it was considered when PhET chose the optimal layout bounds.

We also know that the app has a taller view than the browser, so with that in mind, we might want to make it a practice to make things like game bars "stick" to the top of the viewing window.

[2018-07-17 22:01] phet-steele commented on #500
Two tabs on iOS 11 does not fix the screenshot issue. But again, this shouldn't really matter. It's a totally different problem than the intent of this issue, and we have a working solution.

[2018-07-18 01:02] jonathanolson commented on #470
Implemented the change in alignment above. It may slightly change the vertical position of the icons on some sims. @ariel-phet can you check to make sure things still look ok?

[2018-07-18 01:31] ariel-phet commented on #470
@jonathanolson I tried this out on master with `?stringTest=double` and without for the following sims

Equality Explorer (5 screens)
Function Builder (4 screens)
Masses and Spring (4 screens)
Build an Atom (3 screens)
Beer's Law (2 screens)

All looks good to me.

Tagging @pixelzoom to see if he is OK with closing and if he wants to try to patch EqEx before publishing (not necessary, but his call

[2018-07-18 01:56] pixelzoom commented on #470
If I patch, it's going to require another RC cycle.  I can't do that and get the sim published tomorrow 7/18.  Which means that I will not meet KP's request of publishing before I leave for vacation - publication will push to after August 5.  @ariel-phet Your call.

[2018-07-18 01:57] pixelzoom commented on #470
If I patch, it's going to require another RC cycle.  I can't do that and get the sim published tomorrow 7/18.  Which means that I will not meet KP's request of publishing before I leave for vacation - publication will push to after August 5.  That will be personally very disappointing. But @ariel-phet your call.  And @amanda-phet FYI.

[2018-07-18 02:00] samreid commented on #497
In the preceding 3 commits (note these are for 3 repos), I added review comments for the proposed changes.  @jbphet please take a look?

[2018-07-18 03:03] pixelzoom commented on #470
On second thought, I guess I do have a strong opinion :)   While this patch looks very simple, I don't want to deal with it for EqEx 1.0 sims.  Since this fix didn't get tested properly the first time, I would feel the need to test, regardless of the fact that @ariel-phet tested (no offense).  I do not have the time to do that, and, at this late date, I don't want to do anything to jeopardize publ

[2018-07-18 04:53] ariel-phet commented on #470
@pixelzoom sounds good, proceed with that plan

[2018-07-18 17:21] ariel-phet commented on #470
Let's discuss at dev meeting briefly....RC for masses and springs coming up, can this be patched in?

[2018-07-19 16:21] lmulhall-phet opened #502 "Loading sim on iOS Reading List shows sim before splash screen"
When I try to load a simulation that has been added to the iOS "Reading List," the simulation will be shown prior to the splash screen.

Here's a video:

https://drive.google.com/file/d/1FHXqxf-s2CSK1Gl4VuH-Az3zO9uMvQy9/view?usp=sharing

Here's another video:

https://drive.google.com/file/d/1Twpx2mP3UFxT3oKhHT0SoqlNuEtrDmK9/view?usp=sharing

I have also seen the splash screen off center.

Also, n

[2018-07-19 18:26] samreid commented on #470
@jonathanolson said this can be patched in before M&S RC.

[2018-07-19 19:14] samreid commented on #502
@ariel-phet asked @samreid to investigate this up to an hour.

[2018-07-19 19:16] samreid commented on #502
On second thought, @ariel-phet wants to investigate and discuss further with QA.

[2018-07-19 20:10] terracoda commented on #496
@zepumph, FYI, we just reviewed the addition of the global mute sound button in the Design Meeting, and decided that it needs to be on the Home Scree, so both the global mute sound button and the keyboard shortcuts button will be present on the Home Screen.

We'll  figure out the content of the Home Screen shortcuts dialog separately.

[2018-07-19 21:19] samreid commented on #501
Reassigned to @jessegreenberg--were you planning to add more code to the dispose function, or can the dispose function be removed?

[2018-07-19 22:51] samreid commented on #497
Code review complete, everything is looking good or mentioned in outstanding issues (some will be created shortly).

[2018-07-20 23:14] jbphet opened #503 "Add sound and keyboard icons to the home screen"
In the 7/19/2018 design meeting it was decided that the sound and keyboard icons, which we've been working on adding to the nav bar, should also appear on the home screen.

[2018-07-20 23:19] jbphet opened #504 "Fix keyboard nav order for sound on/off icon"
Noticed during the 7/19/2018 design meeting - when using keyboard navigation, the sound icon is being selected after the PhET menu button, which is incorrect.

[2018-07-20 23:25] jbphet commented on #504
Should be fixed.  I tested it with and without sound enabled, and the behavior now looks correct.  Closing.

[2018-07-20 23:25] #504 closed

[2018-07-23 17:14] jbphet commented on #497
@samreid and I worked together on merging in the sound-control branch and taking the steps necessary to add TAMBO to the config file for all runnables.  The merge is completed, but I'm following up on a few loose ends, including whether the test-config files need to be updated.

[2018-07-23 19:22] jbphet commented on #497
All of the `<sim-name>-config.js` have been updated to define TAMBO, and there are no failures occuring on continuous test related to this (there were when I first did this, but they have all been addressed).  I used the command `grunt generate-config` to update the config files, but apparently I should have used `grunt update`.  I went back and tried running `grunt update` in all the "active runn

[2018-07-23 20:47] ariel-phet commented on #502
Discussed with @lmulhall-phet. This issue does not occur on latest iOS

So...
1. Issue does not occur on latest iOS
2. This issue, though distasteful, does not stop the sim from running
3. The reading list is a very rarely used feature for running our sims offline (and our app nicely solves the offline running issue).

Assigning to @KatieWoe so she is aware. @KatieWoe please close the issue once y

[2018-07-23 20:58] chrisklus commented on #503
@jbphet and I decided to first implement this in the same way that the PhET button was added to the home screen (and kept in the same position as on the nav bar), but it seems like the PhET button was done this way because it was the only element needed on the home screen. See https://github.com/phetsims/joist/issues/304

It seems like a better way to do this might be to have the nav bar on the ho

[2018-07-23 22:09] jonathanolson commented on #497
I ran `grunt update` on every active-repo (`perennial/bin/for-each.sh active-repos grunt update` and committed the results (omitting interaction-dashboard).

@jbphet I believe the config files are now correct. Is there some place we should document how to update dependencies?

[2018-07-24 03:19] samreid commented on #503
@chrisklus thanks for pointing out this issue.  I'm not sure the best way to address it, but I agree it is problematic to create two PhetButtons (one for HomeScreen and one for NavigationBar).  And it will be equally awkward to do the same thing for the a11y button strip.

What if we always show the navigation bar (even on the home screen), but on the home screen, its color matches the home screen

[2018-07-24 16:29] jbphet commented on #497
Thanks for the fix.

Sure.  Maybe a new document in `phet-info/doc`?  The challenge will be remembering that it exists and using it when needed and keeping it updated, since adding a new dependency is a pretty rare event.  I would suggest creating it (it should be quite short, right?) then marking for dev meeting to see if people agree with the location and just to let the other devs know that it

[2018-07-24 16:57] chrisklus commented on #503
@samreid thanks for your suggestions, that sounds like a good plan to me. I'm interested in making this change but would like to be able to ask you questions while doing so. @ariel-phet could you comment on the priority of this? Note that the first way i mentioned above has been implemented and is functional.

[2018-07-24 18:24] jbphet commented on #498
The sound-control branch has been merged into master and then deleted.  Closing.

[2018-07-25 06:03] ariel-phet commented on #503
@chrisklus @samreid what you suggest above seems like the right way to do things instead of having copies of buttons and such. Certainly the sim title and other buttons should not show up.

I would be somewhat inclined to do this work on a branch since it is a nontrivial change, and then take a look at the proposed solution at dev meeting. This is the kind of thing the devs like CM might be good t

[2018-07-25 12:43] samreid commented on #503
Sound great.  @chrisklus when we create a branch, we have a policy to create a issue titled "branch: {{branchname}}" in the corresponding repo, so it is clear what the branch is for.  The issue should cross-link to this one so we have a paper trail.  Feel free to go for it and ask me questions here or in slack, or we can meet over zoom if our times match up, or I'll be able to schedule meetings ar

[2018-07-25 15:40] chrisklus commented on #503
@samreid thanks for getting me started, I'll create the branch sometime today and get going.

[2018-07-25 16:48] michaelizer opened #505 "Logo proposal"
Greetings,

I'm a graphic designer and I like contributing to open source projects. I would love to make a logo for yours, for free. Please let me know if you are interested, if yes I will ask you a few questions for the logo to fit great in your project.

Miguel Medina, michaelizer.
Best regards.

[2018-07-25 19:50] chrisklus opened #506 "branch: nav-bar-to-home-screen"
This branch is to be used for the implementation of showing the nav bar on the home screen with only the PhET button and a11y buttons visible. See https://github.com/phetsims/joist/issues/503

[2018-07-25 20:49] jonathanolson commented on #470
@Denz1994 I applied the patch to masses-and-springs' 1.0 branch.

[2018-07-25 22:05] jonathanolson commented on #497
Added phet-info/checklists/updating_metadata.md (fits as a checklist). Tagging for developer meeting to see if anything needs to change.

[2018-07-26 16:16] Denz1994 commented on #470
Thanks for the patch @jonathanolson. This is resolved in masses-and-springs master branch aswell. Closing.

[2018-07-26 16:16] #470 closed

[2018-07-26 17:46] jonathanolson commented on #497
https://github.com/phetsims/phet-info/blob/master/checklists/updating_metadata.md

[2018-07-26 19:28] zepumph opened #507 "Instrument the kabob menu image?"
While working on https://github.com/phetsims/scenery/issues/711#event-1755290785, I saw that we could potentially instrument the "kabob dots" in the button. This could be nice if someone wanted to disable the phetmenu, then there wouldn't be a visual cue to click on the logo. This is a small issue, since you can still disable the menu opening by setting the phetMenuButton to pickable false.

Here

[2018-07-26 21:42] chrisklus commented on #503
Nav bar on the home screen has been implemented and appears to be working. I've tested on multi screen sims and single screen sims with black backgrounds and non-black backgrounds. @samreid could you look this over at your convenience?

One part I'm not crazy about is in `NavigationBar.js`:
[code]

On most multi-screen sims, the screen backgrounds are not black, so the `sim.lookAndFeel` links are

[2018-07-26 22:57] samreid commented on #503
@chrisklus the changes looks great--I especially like all the code you were able to eliminate in 088058b6dd9b526384d87c9857107304a30ba155

I made two follow-up commits to simplify the logic in the part you described above.  I tested in Beer's Law Lab and Gravity & Orbits.  I haven't tested with projector mode or other color profiles.

Can you review and test my follow-up commits?

[2018-07-27 02:38] samreid commented on #507
I agree it would be best for the kabob dots not to show when the button isn't pickable.  Maybe we can/should tie them together in joist?  So that if the phet menu button becomes unpickable the dots automatically disappear?

[2018-07-27 16:55] zepumph commented on #507
Great idea! I implement it above. I made it so that `pickable = null` will still show the dots, since the menu is still usable when `pickable = null`.

![image](https://user-images.githubusercontent.com/6856943/43334458-0a5fb07c-917a-11e8-8677-fb4e7d3b4e7d.png)
![image](https://user-images.githubusercontent.com/6856943/43334466-0c602dfc-917a-11e8-8646-496bb7acdde5.png)

@samreid do you think we ne

[2018-07-27 17:17] chrisklus commented on #503
@samreid ooh using the nav bar visibility is really slick. The issue is that `this.navigationBarFillProperty` is not updating when the home screen is showing (it should be the opposite of `sim.lookAndFeel.navigationBarTextFillProperty` in that case), so the a11y buttons are not showing up on the home screen. @jbphet thought of a fix that was much nicer than my original commit. On a side note, I al

[2018-07-27 18:17] samreid commented on #503
I pulled the changes, made sure I have the right joist branch and tested Gravity and Orbits.  The homescreen looks right, but screen 1 looks like this:

![image](https://user-images.githubusercontent.com/679486/43339566-e9d4aa3e-9196-11e8-996a-e1359f3f417f.png)

Note the missing screen buttons and title from the navigation bar.  Am I testing this incorrectly, or is there an unpushed commit?

[2018-07-27 19:41] zepumph commented on #499
@samreid I'm having a bit of trouble thinking about how to go about doing this. I feel like the pattern applies more to each place where the modalNodeStack is used, rather than with `BarrierRectangle`. I looked and `ComboBox` and think that pattern would parallel by having `Dialog` handle this, on `Dialog.show()` it would add a listener to the display, and it could remove it (and itself) on `hide(

[2018-07-27 20:00] jbphet commented on #342
I'd like to discuss this a bit with other developers.  One possibility is to just create `ProjectorModeCheckbox.js` in joist, and have the clients use this as essentially a convenience type.  Another would be to go a step further and have a `GlobalOptionsNode` type in joist that has an option where a property can be provided such as `projectorModeProperty` and, if present, a checkbox to control it

[2018-07-27 20:44] chrisklus commented on #503
@samreid my apologies, i wasn't careful when removing the original link to 'showHomeScreenProperty` and must've just been looking at the PhET button corner while testing. Fixed and retested on the same four sims.

[2018-07-28 03:05] samreid commented on #503
@chrisklus a reminder to please reassign issues after commenting, when appropriate.  I'll self-assign for now to continue review.  Thanks for the fix!

[2018-07-28 03:11] samreid commented on #499
I think you described the right way to implement it, but the waters are muddy because we do want to dim the background, so the BarrierRectangle or something like it may be warranted anyways.

[2018-07-29 01:27] #507 closed, assigned to samreid

[2018-07-29 01:30] samreid opened #508 "Update the layout of the PhET-iO button when the kabob is hidden"
When the kabob is hidden (for PhET-iO), the PhET-iO button has asymmetric margins.  See https://github.com/phetsims/joist/issues/507 for context.  I do not know how many clients want to make the PhET-iO button unpickable.  @ariel-phet should we investigate adjusting the layout when the kabob is hidden?

[2018-07-29 01:36] zepumph opened #509 "Convert SceneSummary to new structure"
In https://github.com/phetsims/a11y-research/issues/94 @terracoda created the structure for a simulation and made `HomeScreen.md` in this repo. One large change from how we were doing things is that we no longer will have a "Scene Summary" h2. This issue is to implement that change.

In terms of implementation, I think that we will want to do most of the work in `ScreenView.js`. Now that the indep

[2018-07-29 01:38] zepumph commented on #509
Tagging @jessegreenberg so he is aware of how I'm planning to affect joist code.

[2018-07-29 02:02] zepumph commented on #509
@jessegreenberg please review the above commits before I continue so that we make sure that things are ok before proceeding. Marking as a high priority because we want to move friction along before I go on vacation.

[2018-07-30 15:39] chrisklus commented on #503
@samreid you bet, thanks for the reminder.

[2018-07-30 16:13] ariel-phet commented on #508
@samreid I do not think we should investigate. The negative space to the right, although a tad imbalanced with the negative space on the left of the sim title, does not look horrible. Considering the complexity, and this really being only a minor aesthetic concern for a feature that may not be used too often, I do not think it is worth the effort.

Assigning back to you to close or defer.

[2018-07-30 16:34] samreid commented on #508
Sounds great, closing.

[2018-07-30 16:34] #508 closed

[2018-07-30 17:50] zepumph commented on #499
I would like to dive into this together, marking as high priority with the phet-io meeting tag.

[2018-07-30 20:14] samreid commented on #503
I'm going to merge master to this branch to make comparison and future merge easier.

[2018-07-30 20:30] jessegreenberg commented on #509
@zepumph would it be possible for what has been done so far to be implemented in Screen.js? This would address some challenges listed in the TODOs you added in https://github.com/phetsims/joist/commit/72625d0918ebbb69d95fd037b3fc2aa311d6aa92, and could make the `multiscreen` option unnecessary.

Another observation, it looks like the usage of "Screen" for a11y and other usages throughout the proje

[2018-07-30 20:30] samreid commented on #503
@chrisklus the rest of the changes look great, will you please coordinate with @jonathanolson regarding `Property(null)`?  I assigned https://github.com/phetsims/scenery/issues/839 to @jonathanolson.  Once that is addressed, this branch can be merged to master and deleted, and https://github.com/phetsims/joist/issues/506 can be closed, and this issue can be closed.  Also, at that point, please not

[2018-07-30 20:56] zepumph commented on #509
Really great feedback, and I will go ahead and look into the implementation in `Screen.js` instead.

As for renaming, that seems like a chip away issue that I will not be able to dive into before my vacation. Would you mind making an issue for that @jessegreenberg?

[2018-07-30 21:10] lmulhall-phet opened #510 "Adding sim to reading list is inconsistent across iOS versions, can cause problems in iOS 9"
The purpose of this issue is to document the behaviors for adding a simulation to the iOS Reading List.

Related to phetsims/masses-and-springs/issues/301 and phetsims/joist/issues/502.

<b>iOS 9.3.5</b>

1. > In https://github.com/phetsims/joist/issues/382 and https://github.com/phetsims/joist/issues/470 we determined that "Save to Reading List" automatically saves a "snapshot" of the current DOM

[2018-07-30 22:10] zepumph commented on #509
The above commit simplified quite a bit. Thank you @jessegreenberg for the recommendation. Now there are a few other concerns.

Since this node is created in `initializeView`, we don't have access to it in the `FrictionScreenView.js` subtype constructor. So notice I factored the overview content creation/setting to a method that is called in initalizeView. I can foresee this being constraining at

[2018-07-30 22:55] zepumph commented on #509
After talking with @jessegreenberg, and also @ariel-phet briefly, we have decided to go with the following, (hopefully) future proof solution.

* Create a type in scenery-phet called `ScreenSummaryNode` (to eventually replace SceneSummaryNode)
* Move logic out of `Screen.js` and into that type.
* create a method on that node that knows how set the intro string given the name and number of screens.

[2018-07-31 16:16] samreid commented on #510
Joist seems to be the most appropriate repo, since it deals with loading the simulation.

[2018-07-31 16:19] samreid commented on #503
@jonathanolson addressed the change in the scenery issue, removing hold so @chrisklus can continue.  Please use `null` instead of `'black'` for the navigation bar fill `navigationBarFillProperty`, test again, then proceed with the steps in the preceding comment.

[2018-07-31 16:26] samreid commented on #503
How does transparent differ from null?  When would you use one over the other?

[2018-07-31 17:08] chrisklus commented on #503
Thank you @samreid @jonathanolson. @samreid I'm attempting to make the change but think I am missing something because still getting the same assertion as you: `Assertion failed: Invalid fill type` when attempting to use `return showHomeScreen ? null : simNavigationBarFill;`. My scenery repo is up to date.

[2018-07-31 17:13] jonathanolson commented on #503
Ahh sorry, I'll have that fixed up soon.

[2018-07-31 17:15] jonathanolson commented on #503
Ok, I believe I fixed the issue in master, can you pull? Sorry.

[2018-07-31 17:17] chrisklus commented on #503
@jonathanolson no worries at all, looks good.

[2018-07-31 23:31] chrisklus commented on #503
In the state where the home screen is showing, I set the nav bar fill to be the same as the home screen background color. Ready for review.

[2018-07-31 23:39] samreid commented on #503
Looks great, thanks!  I just added one comment.  Back to you to merge to master and do other steps noted in https://github.com/phetsims/joist/issues/503#issuecomment-408999701.  If there are merge conflicts, let me know if you want me to tag along.

[2018-08-01 00:17] chrisklus commented on #506
I merged nav-bar-to-home-screen to master and deleted it.

[2018-08-01 00:29] samreid commented on #503
Looks great, thanks!  Next step is to notify the slack dev-public group as described in https://github.com/phetsims/joist/issues/503#issuecomment-408999701, then close this issue.  Nice work @chrisklus.

[2018-08-01 00:45] chrisklus commented on #503
@samreid thanks for all of your help and reviews! I have notified dev-public. Closing.

[2018-08-01 00:45] #503 closed

[2018-08-03 19:25] #502 closed

[2018-08-06 16:34] pixelzoom commented on #342
Having `ProjectorModeCheckbox.js` would be a sufficient first step.

[2018-08-06 21:36] jbphet commented on #342
I polled @pixelzoom and @samreid about whether `ProjectorModeCheckbox.js` should go in joist or scenery-phet.  The strongest opinion on the matter was expressed by @samreid who said (over Slack), "It would be extremely odd for that string to be in scenery-phet".  I'm fine with that, so that'll be the plan.

[2018-08-06 21:38] samreid commented on #342
Here's all of my comments in context:

John Blanco [10:53 AM]
Hey Sam, I saw you just unassigned from the common projector mode support issue.  Quick question about that: What's your opinion on where that should go?  I'm leaning towards scenery-phet, but one could argue that since it goes into a node that is the content of the options dialog, it should go into joist.  Chris was also thinking scene

[2018-08-09 18:40] pixelzoom commented on #497
My task is to review https://github.com/phetsims/phet-info/blob/master/checklists/updating_metadata.md.

[2018-08-13 17:16] #497 closed

[2018-08-13 17:47] pixelzoom commented on #509
This issue looks like it's related to https://github.com/phetsims/scenery-phet/issues/393, "Replace SceneSummaryNode with ScreenSummaryNode".

[2018-08-13 17:49] pixelzoom commented on #450
Since we're currently republishing sims to update LoL support...  @samreid what is the status of this issue?

[2018-08-13 17:50] pixelzoom commented on #366
This was addressed during work that @andrealin did on Dialog in spring 2018. Closing.

[2018-08-13 17:50] #366 closed

[2018-08-13 17:53] pixelzoom commented on #293
Dialog was recent giving a major overhaul.  While still not ideal, it's better.  It does not support non-modal dialogs (`modal: false`) and there are currently no PhET sims with non-modal dialogs.  So I'm going to close this issue.  If/when PhET needs non-modal dialogs, we can create a new issue "support non-modal dialogs".

[2018-08-13 17:55] pixelzoom commented on #359
Re non-modal dialogs...  Dialog currently has no support for non-modal dialogs, and no non-modal dialogs have been needed by PhET sims.   Re-design of Dialog should definitely consider non-modal dialogs.  See https://github.com/phetsims/joist/issues/293 for historical information.

[2018-08-13 17:56] pixelzoom commented on #57
@jonathanolson Didn't you implement this recently?

[2018-08-13 21:01] jonathanolson commented on #57
Yup, closing.

[2018-08-13 21:01] #57 closed

[2018-08-14 21:35] zepumph commented on #509
It is indeed. This issue is for implementation of the new strategy, and that other issue is to convert usages. Thanks for the link.

[2018-08-15 13:14] samreid commented on #450
I'm not sure of the status of the LOL maintenance releases or republications.  I can see that several of the referenced issues above are closed.  Maybe @jonathanolson or @ariel-phet can comment?

[2018-08-15 15:59] samreid commented on #483
One possibility--can Sim.js create the `screen.activeProperty` instead  of having it created in the Screen constructor?

[2018-08-15 16:48] samreid commented on #483
Since the initial value of `Screen.activeProperty` was changed from false to true in cf702a6614434c53cbf4ef0abb280462bcd6fb4e, there is no longer any problem for single-screen sims.

For Beer's Law Lab, we saw this in the data stream:

[code]

And we don't think it will be confusing at all to have incorrectly true initial value for these properties in studio.  Moving these properties to Sim.js wou

[2018-08-15 16:48] #483 closed

[2018-08-15 18:29] jonathanolson commented on #450
I'm not sure what to comment on. What is the issue that may/may not be patched in, and what sim release branches would need to be patched?

[2018-08-16 17:25] jessegreenberg commented on #501
This can  be removed.

[2018-08-16 17:30] jessegreenberg commented on #501
It has been removed from both KeyboardHelpButton and NavigationBarSoundToggleButton so this issue can be closed.

[2018-08-16 17:30] #501 closed

[2018-08-16 19:44] zepumph opened #511 "Audit PDOM structure of a screen after construction"
From discussion in https://github.com/phetsims/scenery-phet/issues/381 and other places for a11y. It would be really nice to have a place where we can run assertions that individual nodes and the entire screen is constructed for the PDOM as expected.

For nodes this can't be done as individual options are set because we have to be flexible to option order. For the entire `ScreenView`, it would be

[2018-08-20 16:40] jessegreenberg commented on #509
This looks good @zepumph, thanks. I reviewed changes and tested with single and multi screen sims.  Closing, we will continue in https://github.com/phetsims/scenery-phet/issues/393.

[2018-08-20 16:40] #509 closed

[2018-08-21 01:35] zepumph commented on #489
Handled as part of https://github.com/phetsims/phet-io/issues/1243. Closing

[2018-08-21 01:36] #489 closed

[2018-08-22 21:44] pixelzoom commented on #511
@zepumph What feedback do you want on this for developer meeting?  I agree that we need a way to verify that the PDOM is complete, especially if sim developers are responsible for the PDOM's structure/order.  But I don't have enough familiarity with PhET's a11y implementation to recommend how to verify.

[2018-08-23 01:11] zepumph commented on #511
I'm not sure how this made it onto the developers meeting, I think I am just interested in hearing peoples opinions about it, no need to take up dev meeting time for it. For example, there could be a recursive audit function called in `Screen.initializeView()` that cascades to all a11y nodes and makes sure they look as expected on startup. We would also set high level assertions, like "make sure a

[2018-08-23 16:43] pixelzoom opened #512 "add "Sound Design" section to credits"
... needed for the sonification effort.

[2018-08-23 17:28] pixelzoom commented on #512
Done. Tested in a sim with and without "Sound Design" credits. Here's what it looked like in Graphing Quadratics with "Sound Design" credits:

![screenshot_722](https://user-images.githubusercontent.com/3046552/44541396-0822c800-a6c7-11e8-9d5f-c26305f5ac71.png)

Note that I used the old-style pattern for the new 'credits.soundDesign' string: `"Sound Design: {0}"`.  Our policy is to use new-style p

[2018-08-24 19:49] zepumph opened #513 "focusAfterCallback option could be improved"
from phetsims/scenery#831. For the implementation, I see:
[code]

This seems hacky. Very hacky. We can do better.

At the very least we could make a method for this so it is more explicit.

[2018-08-26 21:51] samreid commented on #450
2 of the sims didn't need the patch, 2 were already maintenance released with the fix, and Energy Skate Park: Basics is pending re-release in https://github.com/phetsims/energy-skate-park-basics/issues/375.  In my opinion, this issue should be closed.  @ariel-phet in https://github.com/phetsims/joist/issues/450#issuecomment-340073198, you requested this to be left open as a parent issue when we we

[2018-08-29 18:14] phet-steele opened #514 "Assertion failed: getUniqueTrail found 0 matching trails for the predicate"
Not sure if we should care about this since `?stringTest=%20` is not an officially supported test, but sims in master fail when using this query param and attempting to open the About dialog. This error is thrown:

[code]
This is new to me; this query param did not fail in the past. Seen on Win 10 Chrome. Sort of for phetsims/QA/issues/180.

[2018-08-29 18:22] KatieWoe opened #515 "Legends of Learning message log changes sim state"
**Devices**
Dell and HP laptop
**OS**
Win 10 and Win 7
**Browser**
Chrome and Firefox
**Problem Description**
For phetsims/QA/issues/180
First documented in phetsims/masses-and-springs/issues/324
Pausing the sim with LoL and using the "message log" changes the state of the sim.
**Steps to Reproduce**
1. Enter the masses and springs sim (https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-

[2018-08-29 20:57] KatieWoe commented on #515
Another example from phetsims/QA/issues/181
![jumpmenu2](https://user-images.githubusercontent.com/41024075/44815135-e7151800-ab9b-11e8-908e-b8817dfe8cec.gif)

[2018-08-30 00:29] ariel-phet commented on #450
Sounds good @samreid, closing

[2018-08-30 00:29] #450 closed

[2018-08-30 21:57] zepumph commented on #513
The reason that this line exists is because we don't have a reference to the dialog in order to close it from in `MenuItem`.
We were going to refactor things to get rid of the "focusAfterClose" options, inlining thing into the fire function, but with an extra parameter boolean marking if fire was called from an a11y listener. This seemed hacky and orthogonal.

We also couldn't think of a better wa

[2018-08-30 23:51] zepumph opened #516 "About dialog can go offscreen vertically"
From https://github.com/phetsims/resistance-in-a-wire/issues/172, we found that when using stringTest=double, the credits patterns are doubled, and hence so are the credit strings, such that there is enough line wrap to kick the top of the about dialog off the screen.

At first thought I wonder if Dialog should be able to handle this gracefully with a maxHeight value and scaling but I don't see an

[2018-08-30 23:51] zepumph commented on #516
@ariel-phet please assign and prioritize.

[2018-08-31 00:24] zepumph opened #517 "Convert MenuItem to PressListener"
From https://github.com/phetsims/scenery/issues/719#issuecomment-417509785, I think this will help to solve an issue we are getting for a11y. @jonathanolson does this seem like something that is reasonable to do? If you sign off I can implement.

Let me know if you want more context. Tagging @jessegreenberg too because he was involved in finding this too.

[2018-08-31 01:04] zepumph commented on #499
Assigning so this doesn't fall off the radar.

[2018-09-01 01:40] zepumph commented on #511
I implemented an auditing function that is recursively called on all nodes when the screenView is initialized. This function audits only that node, and not its relationship to other nodes, or its structure as it pertains to the whole screen (that will be another step).

I went through all the setters in the mixin and found assertions that made more sense in a context where the Node has been comple

[2018-09-04 15:55] Denz1994 commented on #512
Considering the other 7 strings mentioned above use the old format, the above commit follows the pattern for the other credit object fields. I was able to successfully to create a sound design field in Masses-and-Springs.
![image](https://user-images.githubusercontent.com/13894380/45040710-9a668c80-b034-11e8-8bb1-b75c4e0585f1.png)

I did remove one unused require statement in CreditNode.js. I will

[2018-09-04 15:59] Denz1994 opened #518 "Credits should follow updated string pattern."
From @pixelzoom in #512.

Perhaps it would be a good practice to retrofit these patterns as we come across them in common code. I will make an attempt to do so. There are 7 credits fields that should be corrected.

[2018-09-04 16:02] pixelzoom commented on #518
We had previously decided not to attempt to change existing uses of the old pattern, because of the effort involved in changing translations.  Happy to re-discuss.  But I still feel that any benefit we'd get from doing this would be negated by the effort to change translations.

[2018-09-04 16:05] pixelzoom commented on #512
@Denz1994 said:

For the record, this used require statement was dead code (commented out) introduced by @zepumph in https://github.com/phetsims/joist/commit/e3c3c82fbc5102524cddef4adb5a007ffc285a64.

Closing.

[2018-09-04 16:05] #512 closed

[2018-09-04 16:33] Denz1994 commented on #518
After discussion with @pixelzoom via slack, it seems like this is a larger issue with common string files for all translations. It was explained that any change in a singular translation file needs to be handled in similar translation files (about 63 other files). There needs to be a better solution for this, perhaps involving an automated grunt command that handles managing all transations with t

[2018-09-04 18:48] ariel-phet commented on #516
marking for a dev meeting (quick) discussion. We might punt on this issue until the first sim that comes along with a big about dialog (and that developer will be the lucky winner!)

[2018-09-05 01:47] zepumph commented on #511
The other piece of this isn't on the individual Node level, but rather on the whole PDOM level. An idea to do this: We could get the HTML as text via `phet.joist.display.accessibleDOMElement.outerHTML`, and then validate different pieces of that. I think this would be easier than trying to parse (a) nodes in a tree, or (b) accessible instances in the tree.

If we have the HTML, then we can validat

[2018-09-05 16:28] Denz1994 commented on #515
While doing some debugging with @jonathanolson we noticed that LegendsOfLearningSupport.js wrapper bugs at line 27. It seems to be sending a "pause" message when opening message logs. Should we be sending “pause” message when we didn’t actually pause in the wrapper? We opened the log so perhaps a "view log" message should be triggered as a separate event?

[2018-09-05 17:27] samreid commented on #499
In discussion today, we decided the BarrierRectangle is the current implementation approach in Sim.js and unlikely to change in the near future.  Having the IO API match the Sim.js implementation approach is appropriate for now.  If we change Sim.js to use display events in the future (with some other way of dimming the background), then it will be appropriate to change the phet-io API as well.  I

[2018-09-05 17:27] #499 closed

[2018-09-05 18:58] KatieWoe opened #519 "Slow loading on phettest"
@arouinfar and I have both noticed that load times for phettest sims have been very slow.  The load bar does not seem to progress until the sim has almost entirely loaded as well.  Times can last up to a minute.  On Win 10 Chrome I've been noticing 10-30 seconds on average, sometimes longer.
I have been using a Win 10 primarily on Chrome and Firefox. @arouinfar uses a MacOS 10.13. on Chrome.

[2018-09-05 19:02] samreid commented on #519
I tested launching http://phettest.colorado.edu/wave-interference/wave-interference_en.html?ea&brand=phet on my MacBook Pro on 10.13.6 running Chrome Version 69.0.3497.81 (Official Build) (64-bit) over my home network with VPN and it launched in about 5 seconds.

[2018-09-05 19:04] samreid commented on #519
I tested a few other sims as well as Firefox and saw about the same behavior 5 seconds for Arithmetic, (around 7 seconds to launch Build An Atom).  Can you have other QA team members try to replicate the problem?

[2018-09-05 19:15] KatieWoe commented on #519
I asked @JRomero0613 to take a look.  I did just look at the ones you said and I seem to be getting faster times on them.  It does seem to vary by sim and updating Chrome seems to improve times a bit.  It still seems slower than the website or load times usually are.
Try http://phettest.colorado.edu/circuit-construction-kit-dc-virtual-lab/circuit-construction-kit-dc-virtual-lab_en.html?ea&brand=ph

[2018-09-05 19:15] arouinfar commented on #519
@samreid that took well over 30 seconds to load on my Mac, also running macOS 10.13.6. My Chrome was slightly out of date (version 68) so I updated. Wave Interference still took quite a bit of time to load on the latest Chrome -- 12 seconds.

[2018-09-05 19:26] KatieWoe commented on #519
@samreid I went to network in the developer tools to look at the loading times for the requests.  This was suggested by @jbphet.  Not sure if it helps, but the phettest version had significantly more requests than the published version.  It also took somewhere over 10 seconds to reach the interactive part of the sim, where the published version took just under 4 seconds.  Hope this helps pin down

[2018-09-05 19:42] JRomero0613 commented on #519
I have just tested about 30 sims and get an average loading time of ~9.5 seconds. Many sims take around 5 or 6 seconds to load, however there are some (around 5 sims) that take 20+ seconds to load, so this drags the average up. If specific sims need to be tested for loading times let me know and I can test.

[2018-09-05 19:58] arouinfar commented on #519
I tried loading Wave Interference again from phettest, and the load time is pretty inconsistent. When writing https://github.com/phetsims/joist/issues/519#issuecomment-418849057 the load times were ~12 seconds. Now, it's taking ~ 30 seconds. Both with latest Chrome.

[2018-09-05 23:20] pixelzoom commented on #516
AboutDialog currently applies `var MAX_WIDTH = 550` to each of its text element individually, so that they aren't all impacted by one especially-long string.

AboutDialog extends Dialog extends Panel extends, and `options` are propagated all the way through. So you should be able to set `maxHeight` for AboutDialog to resolve this issue.

But I'm wondering if maxWidth and maxHeight should be percen

[2018-09-05 23:29] pixelzoom commented on #516
Here's RIAW (master) with `?stringTest=long&brand=phet&dev`.  Not quite outside the layoutBounds, but close.

![screenshot_750](https://user-images.githubusercontent.com/3046552/45126396-6e303600-b130-11e8-8b89-236797fb87e2.png)

Here's what it looks like if AboutDialog does `Dialog.call( this, { ..., maxHeight: 375 } )`:

![screenshot_751](https://user-images.githubusercontent.com/3046552/4512653

[2018-09-05 23:46] samreid commented on #516
It seems more aesthetically pleasing for it to be centered in the ScreenView (doesn't include the Navigation Bar).  `maxHeight` seems to be a reasonable and easy solution.

[2018-09-06 01:59] jonathanolson commented on #517
Seems reasonable to investigate.

[2018-09-06 15:56] samreid commented on #519
@KatieWoe said @jonathanolson has been tinkering with phettest--may be correlated with what we are seeing.

[2018-09-06 16:41] jonathanolson commented on #519
Looks like there is a terminal open taking up 100% cpu:

It's probably worth checking the open terminals in person to see if there's something we can restart.

[2018-09-06 18:58] KatieWoe commented on #519
Just did a quick check myself.  Some seemed faster this morning, but I just got significant load time on the area model multiplication sim.

[2018-09-06 19:35] zepumph commented on #519
Perhaps there is a difference between remote on vpn and on campus.

[2018-09-07 16:52] phet-steele commented on #519
Took me 2 seconds to load MAS using VPN just now.

[2018-09-07 18:08] arouinfar commented on #519
I just clocked 13 seconds on UCB Wireless.

 I decided to re-test the sims from my earlier https://github.com/phetsims/joist/issues/519#issuecomment-419201156. I'm seeing significant improvement in most cases.  I'll test again later this afternoon.

* Rutherford Scattering: 5 seconds
* Wave Interference: 26 seconds
* Function Builder: 6 seconds
* Molarity: 4 seconds
* Gravity Force Lab: 10 seconds

[2018-09-07 18:13] samreid commented on #519
Would it be better for people on the team to clone & serve the sims on their own machines?  It sounds complicated but it isn't complicated.

[2018-09-07 18:19] phet-steele commented on #519
For some people, sure. I started doing that after a while. Told @arouinfar how to but I bet she hasn't been doing that anymore 😝.  But for other people who don't need to look at master often, phettest should still be up and running. It's easier and quicker to have one machine to maintain (ie. keeping up to date) than having every individual person remember.

[2018-09-07 19:11] jonathanolson commented on #519
Also if people are just running things off of "latest master", bayes' CT is fairly up-to-date, so you can load sims like https://bayes.colorado.edu/continuous-testing/beers-law-lab/beers-law-lab_en.html?brand=phet&ea

Might be worth a speed comparison check.

[2018-09-07 19:12] samreid commented on #519
I thought bayes CT was continually swapping out different snapshots.  How does the continuous-testing/ directory work?

[2018-09-07 20:52] jonathanolson commented on #519
It basically is in a continuous "pulling" loop that is interrupted while it creates a snapshot.

[2018-09-07 22:59] jbphet commented on #342
I went ahead and copied the existing translations of "Projector Mode" into the joist strings in the babel repo, mainly because I didn't want translations to lose this string.  I wrote a Node script to do this, and I'll ask the other devs and see if I should archive it in GitHub somewhere.

[2018-09-07 23:12] zepumph opened #520 "Add phet.joist.elapsedTime based on dt"
This would replace any desires to use `Date.now()` in sim code, and it would be reproducible for PhET-iO playback.

From slack:
Jonathan Olson [15:08]
We could make a monotonically increasing value in joist
That gets bumped on every step

Michael Kauzmann [15:09]
I'm surprised that no one has desired this before.

Sam Reid [15:09]
Would you have that as a global?  Like phet.joist.elapsedTime (in s

[2018-09-07 23:40] zepumph opened #521 "phet.joist.elapsedTime should be in seconds"
Promoting todo from `Sim.stepSimulation`:

[code]

From slack conversation beginning with us finding `phet.joist.elapsedTime` in `Sim.js`:
<details>

Sam Reid [15:14]
neat!
That is in milliseconds, crazy!
That seems wasteful and like opportunity for error.

Michael Kauzmann [15:15]
Wow, I agree, but I don't know where my thought came from.

I could divide it by 1000 on the client side to add to th

[2018-09-07 23:41] zepumph commented on #521
Oops, this is a duplicate of https://github.com/phetsims/joist/issues/387, I'll comment there.

[2018-09-07 23:41] #521 closed

[2018-09-07 23:41] zepumph commented on #387
From #521:
Promoting todo from `Sim.stepSimulation`:

[code]

From slack conversation beginning with us finding `phet.joist.elapsedTime` in `Sim.js`:
<details>

Sam Reid [15:14]
neat!
That is in milliseconds, crazy!
That seems wasteful and like opportunity for error.

Michael Kauzmann [15:15]
Wow, I agree, but I don't know where my thought came from.

I could divide it by 1000 on the client side t

[2018-09-08 00:58] pixelzoom commented on #387
TWEEN requires time in milliseconds, TWIXT/Animation requires time in seconds.  I just did a bunch of conversion from TWEEN to Animation (all common code, and all sims that I'm responsible for), so this is fresh in my mind.

10 sims still use TWEEN.  It would be nice to convert them to Animation.  Converting my sims + common code took me half a day.

[2018-09-09 02:26] samreid commented on #519
@jonathanolson and @mattpen do we have gzip enabled for phet-dev and phettest?

@KatieWoe are you interested in having the simulations checked out on your primary computer?  Or if you are switching devices frequently that may not be too helpful.

[2018-09-09 02:38] samreid commented on #514
I'm not familiar with `RichTextElement.getUniqueTrail`, it would be best for @jonathanolson to comment on this when he has time.

[2018-09-10 14:37] KatieWoe commented on #519
@samreid it might be useful, I'm not sure.  Maybe we could discuss it later this week?

[2018-09-10 16:19] mattpen commented on #519
@samreid I enabled compression for phet-dev, it is much faster now.  I currently don't know how to access phettest and I don't know which application(s) are serving the sims there.  @phet-steele was managing this if I recall correctly, I'm not sure who is responsible for it now.  @jonathanolson, are you able to help with that machine?

[2018-09-10 22:30] jbphet commented on #342
Also, I did *not* remove the existing translations of "Projector Mode", since this would mess up the translation process.  It's possible to remove these from a sim's English and translated strings once it has been republished from master, but doing so before republication would cause problems.

[2018-09-10 22:58] jbphet commented on #342
@pixelzoom - I've created the common checkbox for projector mode and integrated it into the States of Matter sims.  Can I get a quick review on this before I propagate to other sims?  I had to make a few decisions in the process of implementation, so I thought it'd be good to get your input.

[2018-09-11 15:11] pixelzoom commented on #342
Looks good!  A couple of thoughts:

- Since this is new common code, should it be ES6?
- Consider adding options to `var label`'s font and maxWidth, in case this gets used outside of OptionsDialog.

[2018-09-11 18:13] jbphet commented on #342
I've added options for the label font and the max text width.  I also converted to ES6 style, and confirmed that this is what we are currently doing (see https://github.com/phetsims/phet-info/issues/82#issuecomment-415539445).

[2018-09-11 18:58] jbphet commented on #342
I've integrated this into all sims that were using projector mode.  In the process, I ended up getting rid of a couple of tandems (one in Charges and Fields, one in Coulomb's Law), and it makes me realize that this should probably have tandems added.  At this point in time, I'm not well versed in how to add phet-io support to common code components, so I'm assigning to @samreid to look at what's b

[2018-09-12 17:18] KatieWoe commented on #519
@arouinfar @jonathanolson loading is back down to a crawl.  It took over two minutes to load one of the sims.  This one took over a minute, see below.  Filmed so that screen capture does not change run time.
https://drive.google.com/file/d/1LI777DRN2EgDnUAfWs_aiopgi-ts3CEu/view?usp=sharing

[2018-09-12 17:36] jbphet commented on #342
For future reference, I tested this by verifying that the projector mode option was available and worked on all sims.  Since I transferred the translated strings into joist, I also spot checked a few locales on a single sim (Molecule Shapes) that had translations to verify that the translated string showed up, and tested a locale for which no translation existed and verified that the fallback to E

[2018-09-12 21:13] arouinfar commented on #519
Here are some of the fabulous speeds I've experienced today.

* Capacitor Lab: Basics: 83 seconds
* Rutherford Scattering: 88 seconds
* Wave Interference: 85 seconds
* Function Builder:  91 seconds

For the record, I do have a local copy, and know how to use it. The user experience on phettest is vastly superior than dealing with the unix terminal (until the load speeds become so horrendous, that

[2018-09-12 21:36] arouinfar commented on #519
Thanks @samreid!

Today's been particularly bad, but I've also noticed that the internet speeds in Duane have been somewhat slower than normal. In general, sims on phettest have been taking in excess of 30 seconds for the past two weeks or so. Occasionally I'll get lucky and a sim will load in about 10s, but that's rare, and still noticeably slower than it used to be.

[2018-09-12 22:04] samreid commented on #342
Since `ProjectorModeCheckbox extends Checkbox` it is already instrumented.  The steps we need to take are:
1) making sure clients pass it a tandem.
2) we likely will want to add `phetioInstanceDocumentation` to it
3) making sure the corresponding Property is instrumented.

I'll leave this assigned to me at medium priority and also assign @zepumph in case he gets to it first.

[2018-09-13 00:18] jonathanolson commented on #519
@arouinfar maybe I could help debug in-person or with zoom? I'm getting sims loaded in 3-4 seconds remotely over VPN.

I'm curious if clearing the cache / checking browser plugins / incognito tabs / network debugging etc. could help.

[2018-09-13 16:44] jessegreenberg commented on #519
Just another data point, sims listed in https://github.com/phetsims/joist/issues/519#issuecomment-420799813 are loading in 8-10 seconds for me remotely over VPN.

[2018-09-13 17:38] arouinfar commented on #519
Thanks for the offer @jonathanolson! If time allows, can you can stop by my office after dev meeting?

My general approach has included:
* Ensuring macOS and Chrome version are latest
* Trying Incognito tabs (load times are not noticeably different)
* Restarting my computer and opening only a single Chrome window to test phettest

Today, phettest is pretty speedy, but for good measure I completely

[2018-09-13 18:49] jonathanolson commented on #519
Was discussed that it may be related to the wifi connection. @KatieWoe can you try an ethernet connection to see if it helps?

I'll stop by after dev meeting to try to get this solved.

[2018-09-13 19:01] arouinfar commented on #519
I'll try the ethernet connection next time phettest is acting up and see if that helps. Thanks @jonathanolson!

[2018-09-13 20:00] jonathanolson commented on #519
I talked with @KatieWoe about this for a bit. I also recommended testing https://bayes.colorado.edu/continuous-testing/beers-law-lab/beers-law-lab_en.html?brand=phet&ea when it's slow (this is the same "mode" of loading a sim, but from bayes), see if ethernet helps, and see if different browsers makes a difference. Someone in dev meeting mentioned that switching to guest wifi may also help.

Feel

[2018-09-13 20:06] arouinfar commented on #519
@jonathanolson to make sure I understand, do I simply replace the portion of the URL before the sim directory (`phettest.colorado.edu/`) with `https://bayes.colorado.edu/continuous-testing/`?

[2018-09-13 21:29] zepumph commented on #411
@jonathanolson it looks like this was completed, as SimVersion is looking pretty good. Please close if correct. I think that the rest will be covered by https://github.com/phetsims/perennial/issues/111

[2018-09-13 22:45] samreid commented on #519
Hopefully we can get phettest working fast or identify whatever internet problems have been problematic.  But if we can get it to load its index page fast but not load sims fast, we could add a link from phettest => bayes?  Anyways just an idea that we hopefully don't need to use.

[2018-09-14 17:52] jbphet commented on #342
@zepumph and @samreid - FYI - this is causing continuous test failures for charges-and-fields.

[2018-09-14 19:32] zepumph commented on #511
@jessegreenberg had good idea to potentially audit in the animation loop. This would be horrible for performance, so maybe we could do it every N frames, hide it under `assertSlow`.

[2018-09-14 19:38] zepumph commented on #511
- [ ] also we should add a blurb at the top of `Accessibility.js` that talks about how it is hard to validate  proper PDOM structure while the Node is being created (to maintain option fleibility), hence the presence of `accessibleAudit`.

[2018-09-14 19:45] zepumph commented on #511
More ideas:
* Have a separate file that has a high level schema of what a PhET PDOM should look like, then pass in the accessible DOM element for validation (this is more like HTML validation).
* Test node things about the ScreenView, like make sure that the accessibleOrder is still (1) screenSummary, (2) playArea, (3) control panel.
* Get a library as a preload that will a11y audit the a11y DOM o

[2018-09-14 22:55] zepumph commented on #342
I added the tandem and instance documentation.

[2018-09-15 20:27] samreid commented on #342
I reviewed @zepumph's changes, and they look good. I also verified that the corresponding Property is instrumented.  @jbphet and @zepumph can this issue be closed?

[2018-09-17 16:48] jbphet commented on #342
Coulomb's Law also had tandems in its global options node when I replaced its projector mode checkbox.  That sim isn't published, but perhaps it is being implemented with phet-io already in place.  Can you check on that one too?  Once that was is addressed (or we decide that there isn't a need), this can be closed.

[2018-09-17 17:09] zepumph commented on #342
Thanks @jbphet I didn't realize it was so instrumented. I went ahead and added CL to the list of phet-io to catch this easier in the future. Closing.

[2018-09-17 18:52] jonathanolson commented on #514
Should be fixed in master, @phet-steele can you verify?

[2018-09-18 14:44] jessegreenberg commented on #515
@ariel-phet is this a blocking issue?

[2018-09-18 15:07] jessegreenberg commented on #515
LegendsOfLearningSupport.js is receiving the messages from the test harness. If the harness is paused (not the sim), the harness mutes and then sends another "pause" message to the sim when the "View Message Logs" button is pressed .
![image](https://user-images.githubusercontent.com/6396244/45696851-745fe280-bb32-11e8-904a-d933d87226d3.png)

This doesn't show up under "Game Messages" in the UI. A

[2018-09-18 18:37] jbphet commented on #342
Coulomb's Law is failing CT, and the error message looks like it is related to this.  Here's the most recent error message as of this writing:

[code]

Reopening for @zepumph to have a look.

[2018-09-18 18:46] zepumph commented on #342
See https://github.com/phetsims/coulombs-law/issues/67. I don't think these errors have to do with this issue. These errors are occurring because I added CL to more phet-io testing (which it is currently failing).

IMO it is better to have a sim that is partially outfitted with phet-io added to the phet-io list so that it can be maintained, rather than ignoring the sim and having it get more and m

[2018-09-19 15:07] samreid commented on #387
Once sims are using Animation and we have deleted TWEEN, we can convert `phet.joist.elapsedTime` to seconds.  I'll search for or create a "convert to Animation" chip away issue, and put this issue on hold until that is complete.

[2018-09-19 16:20] jbphet commented on #342
If this GitHub issue is unrelated to the CT failures, it's fine by me to close it.

[2018-09-20 02:08] jessegreenberg commented on #515
Adding blocking label to flag and as a reminder to bring up during meeting, I am not sure if this needs to be fixed before the next RC for https://github.com/phetsims/QA/issues/181.

[2018-09-20 03:28] ariel-phet commented on #515
Seems blocking'ish to me (but might be something to report to LoL and not necessarily fix on our side)

[2018-09-20 15:20] jonathanolson commented on #411
It looks like there are still other cases of direct package.json usage (Sim.js), so I'm not sure the issue is completely handled.

[2018-09-20 18:40] jessegreenberg commented on #515
We discussed this at dev meeting on 9/20/18 - We think this is a problem with the LoL test harness. @arouinfar it sounded like you were the point person for LoL, could you please reach out to them and let them know that there may be a bug in the test harness where opening the message log sends a second "pause" message when the sim is already paused? Sorry if you aren't the right person for this, i

[2018-09-20 18:59] arouinfar commented on #515
@jessegreenberg my only contact at LoL is a content manager, not a dev. I can certainly send him a link to this issue, and ask him to forward it to the appropriate dev. Before I do that, it would good to hear from @kathy-phet or @samreid, in case they know of an appropriate dev who I can contact directly.

[2018-09-20 19:14] arouinfar commented on #515
I've drafted an email to LoL. I'll check with @kathy-phet this afternoon to see who she recommends I send it to.

[2018-09-24 00:03] samreid opened #522 "Can phetLaunchSimulation be renamed to phet.joist.launchSimulation?"
In https://github.com/phetsims/phet-io/issues/275#issuecomment-423762741 @zepumph pointed out that `phetLaunchSimulation` does not follow our usual convention for global naming.  Can/should it be renamed to `phet.joist.launchSimulation`?

[2018-09-24 16:47] zepumph commented on #522
Sounds reasonable to me. Does this need a quick dev meeting to make sure that isn't dangerous?

[2018-09-24 16:59] phet-steele commented on #514
Checked a few sims and they worked. Thanks @jonathanolson.

[2018-09-24 16:59] #514 closed

[2018-09-25 19:16] jessegreenberg opened #523 "Screen readers read everything in the navigation bar when focus lands in it"
Discovered by the QA team in https://github.com/phetsims/resistance-in-a-wire/issues/176, and determined to be an issue in a recent user interview. Also related to a few issues, about accessible content in the navigation bar:
https://github.com/phetsims/a11y-research/issues/94
https://github.com/phetsims/joist/issues/496

When focus lands in the navigation bar, screen readers generally read throug

[2018-09-25 21:22] KatieWoe opened #524 "Full Screen on iOS 12"
Found during https://github.com/phetsims/QA/issues/194
Affects published sims as well.

When in a sim on an iOS 12 device you can open the phet menu and select full screen.  This option is missing for other instances of iOS.  In this full screen mode you can see an odd graphical issue in which the bottom bar is raised from the bottom of the screen.  This is fixed by changing the orientation.  Disc

[2018-09-25 21:53] ariel-phet commented on #524
Tagging for dev meeting to see what some options are here.

[2018-09-25 22:15] KatieWoe commented on #524
@jonathanolson @ariel-phet
I believe I have a method of reproducing the "unable to escape full screen" fairly reliably.
1. Go to the sim
2. Open phet menu and select Full Screen
3. Use your finger to drag a non-interactable part of the sim.  You should see the normal sim "behind" it.  Don't release the sim.
4. Drag the sim back up to its original position and release.  If you release in another po

[2018-09-25 22:27] KatieWoe commented on #524
Video of issue.
https://drive.google.com/file/d/1YSXgv6EmIcypuqeFoaTtWCu1yt9c2LPc/view?usp=sharing

[2018-09-25 23:42] terracoda commented on #523
Thanks @jessegreenberg, the bottom bar will evenetually be more like this:
[code]

[2018-09-27 04:32] samreid commented on #524
I'm not sure what the problem is and couldn't find others reporting this problem in a quick search.  Some possibilities about how we might proceed:

1. Assign one or more developers an iOS 12 iPad and time to investigate and explore/identify options.  Is there a programmatic way to un-full-screen?  Why isn't it working?  What's happening when the sim "drags" in front of itself?
2. Create a small s

[2018-09-27 19:05] samreid commented on #524
Based on discussion in dev meeting, I pushed a fix that removes the fullscreen button from mobile safari.  @KatieWoe can you please test on master?  After that checks out, @jonathanolson will coordinate with @samreid for a maintenance release.

[2018-09-27 19:06] jbphet commented on #524
In today's dev meeting it was decided that this should go out in a maintenance release.  There is currently and RC in progress for John Travoltage, and the branch is 1.5.  This should be patched too if it hasn't been published by the time this maintenance release occurs.

[2018-09-27 19:08] jessegreenberg commented on #524
Like https://github.com/phetsims/joist/issues/524#issuecomment-425208226 rutherford-scattering is also in RC testing and the 1.1.0 branch will need this too.

[2018-09-27 19:27] samreid commented on #524
Can you please test that the Fullscreen button is still present on other platforms?

[2018-09-27 20:47] KatieWoe commented on #524
Tested on Win 10 chrome and edge, and on Mac OS 10.13 safari.  All looks well.

[2018-09-28 16:28] KatieWoe commented on #524
Linking to JT rc as reminder.  https://github.com/phetsims/QA/issues/196

[2018-09-28 16:32] samreid opened #525 "Maintenance Release to remove Full Screen button from iPad iOS 12"
See https://github.com/phetsims/joist/issues/524.  @ariel-phet asked if @jonathanolson can lead this maintenance release, and I volunteered to assist.  @ariel-phet recommended this be completed by the end of the week next week, so I'll elevate the priority.  @jonathanolson said he would like to fine-tune some documentation before we begin, please notify me when ready.

[2018-09-28 21:39] lmulhall-phet opened #526 "In Chrome App on iOS 12, switching from portrait to landscape doesn't keep same aspect ratio"
Let me know if this should be in different repo.

@Denz1994 discovered this while reviewing https://github.com/phetsims/joist/issues/524. Switching from portrait to landscape and vice versa doesn't keep the same aspect ratio. See below screenshot.

After Switching from Portrait:
![img_335b20de199c-1](https://user-images.githubusercontent.com/31285590/46234499-da6b1780-c333-11e8-9a8f-1de868d9f42b.j

[2018-10-04 17:48] KatieWoe commented on #524
Just checked chrome and firefox on iOS 12 iPad and full screen does not show up as an option either in sims before or after the fix.

[2018-10-05 19:03] jessegreenberg opened #527 "fuzzBoard error with AboutDialog"
When running
[code]
This looks like it could be related to work being done in https://github.com/phetsims/scenery/issues/831. Or it could be because fuzzBoard is clicking much faster than tests using fuzzMouse?

[2018-10-06 22:46] samreid opened #528 "Convert ScreenButton to use FireListener"
For https://github.com/phetsims/sun/issues/396, so this will use the Emitter pattern defined by FireListener.

[2018-10-06 22:48] samreid commented on #528
The proposed fix is above.  Please note this required changes to two `addAccessibleInputListener` calls.  @zepumph can you please review and test?

[2018-10-08 21:50] zepumph commented on #528
this shares the same review comment as https://github.com/phetsims/sun/issues/396#issuecomment-427982527. See there.

[2018-10-09 13:17] terracoda commented on #523
@jessegreenberg, a possible stop-gap measure for this issue is to put extra wrapper `div`s around the `button` elements.
<h2 tabindex="-1" id="label-262-271">Sim Resources</h2>
<div tabindex="-1" id="262-271" role="region" aria-labelledby="label-262-271">
    <div><button tabindex="-1" id="262-271-325-324">Keyboard Shortcuts</button></div>
    <div><button tabindex="-1" id="262-271-316">PhET Menu<

[2018-10-09 15:58] jonathanolson commented on #525
Commits above are just patching some non-published release branches as part of a test (and so we don't miss them).

[2018-10-09 18:08] samreid commented on #525
I asked @ariel-phet on slack:

[2018-10-09 18:46] samreid commented on #525
Sam Reid [12:07 PM]
Apple released iOS 12.0.1 yesterday.  Do you want QA to test fullscreen behvaior on that new version before @jonathanolson and I begin maintenance releasing?

Ariel Paul [12:20 PM]
Probably a good idea

Sam Reid [12:33 PM]
OK we’ll reach out to KW

Sam Reid [12:32 PM]
Hi there, Jonathan and I are getting ready to maintenance release for the iOS 12 fullscreen issue.  But we noti

[2018-10-09 19:17] samreid commented on #525
Sam Reid [12:49 PM]
KW doesn’t have any iOS 12 devices at the moment, it sounds like Kathy has them.  Would you prefer Jonathan and I reschedule the maintenance release until we’ve had time to check on that, or do we want to take the fullscreen button out of iOS regardless?

Ariel Paul [1:14 PM]
We can probably wait

Sam Reid [1:15 PM]
OK we’ll reschedule, thanks!

[2018-10-09 19:17] samreid commented on #525
On hold until we've tested iOS 12.0.1.

[2018-10-10 19:52] KatieWoe commented on #525
Conversation with @ariel-phet
[code]
@samreid

[2018-10-11 04:05] samreid commented on #528
Addressed in https://github.com/phetsims/sun/issues/396#issuecomment-428802431, anything else for this issue?

[2018-10-12 18:21] jessegreenberg commented on #527
@zepumph @mbarlow12 and @jessegreenberg looked into this today, we are not sure why this is happening but it seems to be a problem with either the way accessible visibility updates, or a problem with fuzzBoard. We discovered that the menu item that opens the dialog is being clicked twice before the dialog is closed, but on the second click the primary sibling of the menu item is no longer in the d

[2018-10-15 19:46] pixelzoom commented on #527
Why is `UpdateCheck.check` called each time AboutDialog or UpdateDialog's `show` function is called?  It seems like it should be called the first time one of these dialogs is displayed, then cached.  Or are we trying to handle the unlikely case where an update is published while using the sim?

[2018-10-15 22:51] zepumph opened #529 "add number of screens to the simInfo"
I'm currently working on parsing data logs for interaction dashboard, and this would make things quite a bit easier. I wish the current logs had it

[2018-10-15 23:29] zepumph commented on #529
This makes me wonder if we shouldn't just include the initial `state` of the sim in the simStartedEvent, nested under its own key. Otherwise we may find that we keep finding things from the runtime that we wished were captured on startup.

[2018-10-17 22:54] #528 closed

[2018-10-17 23:32] zepumph commented on #527
I'm not sure. It looks like that code has been around since 2015.

By that metric, perhaps we should fix `UpdateCheck.js` so that the check will be cached internally, and we only need to check once per lifetime of the sim. Presumably the XHR is what we are trying to cache since it is likely the most expensive piece of this.

[2018-10-18 00:25] pixelzoom opened #530 "Update.check does work whenever AboutDialog or UpdateDialog is opened"
Originally noted in https://github.com/phetsims/joist/issues/527#issuecomment-429988175:

Why is `UpdateCheck.check` called each time AboutDialog or UpdateDialog's `show` function is called?  It seems like it should be called the first time one of these dialogs is displayed, then cached.  Or are we trying to handle the unlikely case where an update is published while using the sim?

[2018-10-24 14:54] KatieWoe opened #531 "Lines separating nav bar icons vary between thick and thin"
Device
Mac
OS
Mac OS 10.14
Browser
Safari
Problem Description
For https://github.com/phetsims/states-of-matter/issues/232#issuecomment-432488428
The lines that appear on the sides of the nav bar icons when moused over can look a bit thin depending on where they are.  Doesn't seem to appear on every platform/browser, but does appear in multiple sims.
Steps to Reproduce
1. Choose a sim with more tha

[2018-10-24 18:17] ariel-phet commented on #531
@KatieWoe no assignee for the moment

[2018-10-26 22:21] KatieWoe commented on #525
@jbphet confirmed on States of Matter 1.1.0-rc.3

[2018-10-30 17:06] pixelzoom opened #532 "clipArea is not working for navigation bar icons"
First noted in https://github.com/phetsims/graphing-quadratics/issues/51, which uses scenery's `clipArea` in creation of its screen icons (see GQScreenIconFactory).   The problem occurs only when the same `ScreenIcon` instance is used for both the home screen and navigation bar.  If the navigation bar uses a new `ScreenIcon` instance, there is no problem.

@jonathanolson investigated briefly and r

[2018-10-30 17:11] pixelzoom commented on #532
- [ ] Before closing this issue, remove workaround from graphing-quadratics. Search for TODO comments that reference this issue.

[2018-10-30 17:36] jonathanolson commented on #532
No other details to add. Should I create a Scenery issue to track the browser bug part of it?

[2018-10-30 17:37] pixelzoom commented on #532
Up to you where this issue belongs, feel free to move it if there's nothing joist-specific.

[2018-10-30 17:38] pixelzoom commented on #532
If you move it, let me know so that I can adjust the TODO comments in graphing-quadratics.

[2018-10-30 21:19] samreid commented on #525
Notes from the maintenance release process:

We need to exclude these sims:
John Travoltage bumped to 1.5.0
States of Matter 1.1

NOTE: delete .DS_STORE or something like that before starting.

Maintenance.checkBranchStatus()
Maintenance.createPatch( 'joist', 'https://github.com/phetsims/joist/issues/524' )
Maintenance.addNeededPatchesBefore( 'joist', '3b6ccf3ff0966983c25a7a1603292d8a261657cb' )

[2018-10-31 16:52] pixelzoom opened #533 "[IE] "Report a Problem" page may be blank"
First noticed in https://github.com/phetsims/graphing-quadratics/issues/85, but affects all sims.

On IE, the "Report a Problem" page (accessed from the PhET menu) may be blank if you use other query parameters.

@mattpen's evaluation in https://github.com/phetsims/graphing-quadratics/issues/85#issuecomment-432078326 was:

[2018-10-31 18:11] KatieWoe commented on #234
Have seen this when testing https://github.com/phetsims/special-ops/issues/122 in random sims.  Difference is that the sim size is off upon opening the sim in a new tab, rather than from changes to tab number when the sim is already open.  Will post screenshot on next occurrence.

[2018-11-01 02:55] jonathanolson commented on #532
Actually here is probably best, since it's where we'll probably notice it.

[2018-11-05 17:29] samreid opened #534 "Eliminate frameStartedEmitter and frameEndedEmitter"
From https://github.com/phetsims/phet-io/issues/1383, we would like to eliminate frameStartedEmitter and frameEndedEmitter, and replace usages with `stepSimulationEmitter` (we would make that public).

There are 4 usages of frameStartedEmitter and 3 usages of frameEndedEmitter which would be good to convert, if possible.

[2018-11-06 16:46] ariel-phet commented on #533
Marking for dev meeting to discuss at some point at low priority

[2018-11-07 00:52] samreid commented on #525
We finished this issue in https://github.com/phetsims/special-ops/issues/122, closing.