[2013-04-26 03:14] samreid opened #1 "Abbreviations for the nav bar tab"
Rather than automatically truncating the text in the nav bar when non-active tab text overlaps, we could have translation authors provide abbreviated strings.  I don't plan to work on this now, just adding it here as a reminder.

[2013-04-29 01:37] samreid opened #2 "The sim div shouldn't be present in the DOM when viewing the home screen."
The sim div shouldn't be present in the DOM when viewing the home screen.  It will cause problems for accessibility because the items in the sim div will still be focusable.  Another solution would be to write custom code to manually manage the sim div focusability, but it seems simpler just to remove the sim div from the DOM when viewing the home screen.

[2013-05-07 15:34] pixelzoom opened #3 "compute dt, it's currently hardcoded"
In Sim.js:

151 var dt = 0.04;//TODO: put real time elapsed in seconds, this value is required by beers-law-lab

[2013-05-07 15:36] pixelzoom opened #4 "delete Layout.js"
In Layout.js:

5 \* Layout.js is no longer recommend for sim usage, please see TabView.js instead.

Layout still appears throughout the joist implementation, and should be replaced with TabView.layoutBounds.

[2013-05-07 20:11] #4 closed, assigned to samreid

[2013-05-07 21:33] #3 closed, assigned to samreid

[2013-05-08 03:24] #2 closed, assigned to samreid

[2013-05-14 23:41] pixelzoom opened #5 "add event batching"
This has apparently been implemented in a branch, needs to be merged into master. This will fix the "lagging text drag" issue mentioned in scenery#13.

[2013-05-16 15:13] pixelzoom opened #6 "reset and normalize the CSS values between browsers"
@jonathanolson  wrote:

Just noticed scrollbars on all browsers in BLL that doesn't happen in FAMB. Let me know if it's something wrong in Scenery.

![bll-scrollbars](https://f.cloud.github.com/assets/3046552/513302/2fe2bb36-be3b-11e2-85a5-bff9735e26cf.png)

[2013-05-17 05:20] samreid opened #7 "Consider window.performance.now() for computing dt"
We are currently using Date.now() for computing dt.  Where available should we be using window.performance.now()?  Perhaps it is more accurate (beyond our point of noise), but perhaps it is slower to compute:
http://updates.html5rocks.com/2012/08/When-milliseconds-are-not-enough-performance-now

I just created this ticket for discussion purposes.

[2013-05-20 18:23] pixelzoom opened #8 "move image loading functionality into joist"
Every sim must currently implement this weirdness in it's main.js:
1. create imagesLoader.js (or similar) that returns an empty object
2. call new ImagesLoader( callback ), where callback wires populates imagesLoader with the actual loader and instantiates a Sim.
3. deal with the jshint error created by 2, unless you assign to a var that's never used
4. include imagesLoader.js where you want to lo

[2013-05-20 19:24] pixelzoom opened #9 "need a Splash screen"
... something to show immediately, while the sim is starting up.

[2013-05-20 19:27] pixelzoom opened #10 "add credits and link to software agreement to About dialog"
For phase 1, we don't need separate dialogs for Credits and Software Agreement.

Credits can be displayed in the About dialog. We'll need somewhere to load them from, probably similar to version.js.  Maybe version.js should be generalized to something like simInfo.js.

Software Agreement is a hyperlink to a webpage that displays the PhET software agreement. Should open in a new browser window. Nee

[2013-05-20 19:29] pixelzoom opened #11 "resolve design issues related to Home and navigation bar"
On the home screen and navigation bar, each tab is represented by an icon + label. The label is clearly not working in the current design. Need an approach that works in general, and for arbitrary-length labels.

[2013-05-21 15:44] samreid opened #12 "Attach to global namespace for debugging"
When debugging a sim in the interactive console, it is nice to be able to access the different parts.  Attaching the sim to the global namespace may be a good way to do this.  This code is already in Sim.js (though I don't know if it is currently being used)

[code]

But I would recommend changing this to something safer and more general:

[code]

Let's discuss, particularly whether the namespace

[2013-05-21 15:52] samreid opened #13 "How many scenery.Scenes should be used?"
Should everything be in one scenery.Scene?  Or should we use different Scene instances for each tab, and possibly nav bar, about dialog, etc.

I originally experimented with multiple Scenes, which created some difficulty in mapping locations between objects between scenes (for the popup dialog) and problems in accessibility.  @jonathanolson recommended trying everything under one scene, and it is

[2013-05-23 16:35] #1 closed, assigned to nobody

[2013-05-23 18:01] pixelzoom opened #14 "joist UI components need to specify font family"
I noticed that navigation bar and home screen are being rendered with a serifed font in some cases (eg, Safari 5).  Joist should specify a font family, with a fallback of sans-serif.

[2013-05-24 20:01] pixelzoom opened #15 "Tab icon should not be required for single-tab sims"
For single-tab sims, there is no home screen and no icons in the navigation bar. But an icon is currently required when creating a Tab, otherwise NavigationBar throws an exception.

The current workaround is to do something like this when you create a Tab:

this.icon = new Rectangle( 0, 0, 10, 10, { fill: 'white' } );

[2013-06-04 15:46] pixelzoom opened #16 "incorrect hit-area for items in the PhET menu"
Steps to reproduce:
- press the PhET menu button, lower-right corner of navbar
- click to the right of the "About..." text, but still inside the border of the blue highlight
- nothing happens
- click directly on the "About..." text, the About dialog will open

Looks to me like the input listener is incorrectly attached to just the text, instead of the entire menu item (as denoted by the blue highl

[2013-06-17 16:32] samreid opened #17 "Crashing on the home screen"
Sometimes when showing the home screen, the sim will crash or lock up the computer.  When running Forces and Motion Basics 0.0.0-30 on Win8/Firefox, when showing the home screen, the 'System' task increases to 100% disk usage and 30% CPU.

[2013-06-20 23:54] #11 closed, assigned to nobody

[2013-06-25 19:28] #17 closed, assigned to nobody

[2013-06-25 19:39] #15 closed, assigned to nobody

[2013-07-02 18:15] pixelzoom opened #18 "reuse sun.ComboBox's list to implement joist.PhetMenu"
Will need to factor out the list and add support for separators. ListNode will live in sun.

[2013-07-08 15:33] pixelzoom opened #19 "click anywhere to dismiss the About dialog"
You currently must click on the About dialog, should be able to click anywhere to dismiss it. (Confirmed with Ariel.)

[2013-07-08 15:36] pixelzoom opened #20 "add overlay behind About dialog"
Add overlay behind dialog to (1) focus attention on the dialog and (2) prevent interaction with the sim until dialog is dismissed (making dialog effectively modal.)

Attached screenshot shows how About dialog doesn't really stand out very well on BLL without the overlay.

![about-dialog-no-overlay](https://f.cloud.github.com/assets/3046552/762269/2cc6cf96-e7e4-11e2-8b9e-bfda3d0c4b83.jpg)

[2013-07-08 15:38] pixelzoom opened #21 "multiple PhET menu items appear as selected"
Example screenshot below. This is after having opened the menu and selected various items.

joist 21c9e3964d230b3115ca87a377be748da9cea7d2

![phet-menu](https://f.cloud.github.com/assets/3046552/762271/44b8b380-e7e4-11e2-917a-92c472fa8edf.jpg)

[2013-07-08 15:45] pixelzoom opened #22 "why does the PhetMenu display an overlay?"
I don't see the point in making the PhetMenu put up a visible overlay. There's no reason to dim the rest of the sim when opening a menu.  If you need an overlay to implement "click anywhere to dismiss", use a fully transparent overlay?

[2013-07-08 17:05] pixelzoom opened #23 "home screen should support clicking on tab titles"
You currently have to click on one of the tab icons. You should be able to click either the tab icon or the tab title.

[2013-07-08 17:07] pixelzoom opened #24 "navigation bar buttons should fire on pointer-up"
They currently fire on pointer down, which is not how other PhET buttons work.

Looks like all of these buttons need to be reimplemented as sun buttons.

[2013-07-08 17:18] pixelzoom opened #25 "highlight is not cleared on home button in navigation bar"
To reproduce:
1. Click any sim tab on the home screen.
2. Click the home button in the nav bar
3. Click any sim tab on the home screen.
4. The home button is still highlighted in the nav bar.

See attached screenshot.  Note that both a tab icon and the home button are highlighted.

joist 761a73439b03f47545169077cea0ba9d07223f13

![home-button](https://f.cloud.github.com/assets/3046552/762899/69e01

[2013-07-09 17:36] #21 closed, assigned to nobody

[2013-07-09 17:42] #22 closed, assigned to nobody

[2013-07-09 18:42] #16 closed, assigned to nobody

[2013-07-09 20:25] #25 closed, assigned to nobody

[2013-07-09 20:33] #24 closed, assigned to nobody

[2013-07-10 02:54] #23 closed, assigned to nobody

[2013-07-10 05:33] #13 closed, assigned to nobody

[2013-07-10 05:34] #9 closed, assigned to nobody

[2013-07-10 05:34] samreid opened #26 "Splash screen should show during development"
Splash screen is currently added as a postprocessing step in chipper, which means it is not visible during development.  How much work would it take to add it for development as well?

[2013-07-10 05:35] #12 closed, assigned to nobody

[2013-07-10 19:39] #20 closed, assigned to nobody

[2013-07-10 19:40] #19 closed, assigned to nobody

[2013-07-10 19:51] #7 closed, assigned to nobody

[2013-07-11 23:22] ariel-phet opened #27 "Homescreen should support highlight for mouse over unselected tab thumbnails"
On the homescreen the "unselected" tabs should highlight in the same style as the PhET logo when there is a mouse over even (for either the thumbnails or the tab titles)

[2013-07-22 04:44] ariel-phet opened #28 "Spacing of Tab Thumbnails Too tight for Short Title Tabs in Navbar"
When I look at the latest version of Build an Atom, it looks as though the spacing between tab thumbnails is very tight in the navbar...i thought we had decided on a default spacing that was larger?

[2013-07-22 20:36] #27 closed, assigned to nobody

[2013-07-26 04:27] ariel-phet opened #29 "PhET homepage menu link does not work on iPad"
When you click on the menu in the navbar (or homescreen), and click the PhET homepage link when using an iPad, it does nothing.

[2013-07-30 01:56] pixelzoom opened #30 "PhET menu is flakey on Nexus7"
Nexus7, Android 4.2.2, Chrome 28.0.1500.94.  Observers with Beer's Law Lab 1.0.0, but this is a general problem.

The "PhET" menu not consistently responsive, only opens on every 3rd or 4th touch. Tried it with my finger and with a stylus (as an attempt to get more precise touch) and it was about the same.

When it does open, the menu items are also not consistently responsive. Eg, I touch "About"

[2013-07-30 02:09] pixelzoom opened #31 "About dialog overlay is solid gray on Android+Firefox"
Nexus 7, Android 4.2.2, Firefox 22.0, Beer's Law Lab 1.0.0.

When you select PhET>About, the overlay behind the About dialog is solid gray, can't see anything in the play area. It's supposed to be translucent.

[2013-07-30 02:31] pixelzoom opened #32 "display troubleshooting info in About dialog"
Display anything that would be useful for identifying the browser and host platform.  On mobile devices especially, it's very inconvenient to find browser version, OS version, etc. and we're going to need that info to troubleshoot. If it's in the About dialog, the process of getting info will be the same on all platforms - we can ask users to open the About dialog and send us a screenshot.

[2013-07-30 03:06] pixelzoom opened #33 "splash screen not displayed on Win7 + Firefox 22"
Win7 Home Premium, 64-bit, 6.2 (Build 7600)
Firefox 22.0

When loading:
http://phet.colorado.edu/sims/html/beers-law-lab/1.0.0/beers-law-lab_en.html

... the splash screen is not displayed, the sim goes immediately to the home screen.

Console output looks like trouble:

[21:05:52.142] GET http://phet.colorado.edu/sims/html/beers-law-lab/1.0.0/beers-law-lab_en.html [HTTP/1.1 304 Not Modified 32ms]

[2013-07-30 03:20] pixelzoom opened #34 "homescreen uses serif for sim title, sans-serif for tab names"
On Win7 browsers (IE9, Chrome, Firefox) the homescreen using a serif font for the sim title, and a sans-serif font for the tab names.  Example attached showing Chrome.

Win7 Home Premium, 64-bit, 6.2 (Build 7600)
Chrome 28.0.1500.72 m
Firefox 22.0
IE 9.0.8112.16421 (update 9.0.12)

![homescreen-font](https://f.cloud.github.com/assets/3046552/876374/fa449a0a-f8c6-11e2-811d-c9fa680b7959.jpg)

[2013-08-01 19:01] #10 closed, assigned to nobody

[2013-08-01 19:02] #6 closed, assigned to pixelzoom

[2013-08-01 19:02] #5 closed, assigned to pixelzoom

[2013-08-02 11:20] samreid opened #35 "Rename TabView?"
At yesterday's meeting we discussed renaming "tabs" to "screens", particularly so they wont be confused with the browser tabs.  In this case, we should also consider renaming "TabView" to "ScreenView" and "Tab" to "Screen".  All subclasses and dependencies would ideally be changed as well.  Let's discuss before making this change.

[2013-08-06 21:03] #29 closed, assigned to jonathanolson

[2013-08-07 04:06] #32 closed, assigned to jonathanolson

[2013-08-07 04:06] jonathanolson opened #36 "Add modernizr/feature detection in to sim startup, show information if sim unable to run"
See critical features in the debugging information page.

[2013-08-09 07:06] jonathanolson opened #37 "Resizing window during input event playback should not change scene size"

[2013-08-09 07:07] jonathanolson opened #38 "Add mouse/touch point visualization option for input event playback"
Probably something like ?displayInputEvents.

[2013-08-09 15:38] samreid opened #39 "The phet popup menu is large on the home screen, small on the sim screen"
The phet popup menu is large on the home screen, small on the sim screen

[2013-08-09 16:07] #28 closed, assigned to ariel-phet

[2013-08-12 11:23] dkras opened #40 "Incorrect behavior on keyboard key down"
Possible cause of the issue is the change in
\joist\js\Sim.js
function animationLoop

Steps to reproduce:
- load any object
- press any key on the keyboard

Observed behavior: the simulation freezes and the console shows infinite look of errors:
![image](https://f.cloud.github.com/assets/3923757/946915/84ef8f1e-0341-11e3-92e9-eb045bd22470.png)

[2013-08-12 11:24] dkras opened #41 "Missing file (phet-logo.svg) on startup"
After the latest updates, the error is being thrown to the console.
The error does not cause simulation misbehavior.

GET http://projects.mlearner.com/projects/phet/Simulations/wave-on-a-string/images/joist/phet-logo.svg 404 (Not Found)

[2013-08-12 19:29] #40 closed, assigned to jonathanolson

[2013-08-13 01:52] jonathanolson opened #42 "Tab switching on iPad can cause sims to freeze/reload"
JB noted the process to duplicate:
-   Load BLL version 1, got to screen 1
-   Move the shaker around
-   Open a new tab, load FAMB version 0.0.0-49, go to first screen
-   Put a big guy on the rope, press “Go”, wait until done.
-   Switch back to BLL.
-   Try to move shaker, or do anything else.  Sim is unresponsive.
-   Minimize window, then bring it back.  Now sim is responsive.
-   Switch to 2

[2013-08-13 16:27] pixelzoom opened #43 "encapsulate platform stuff in Platform.js"
For example, this type of thing that's currently in PhetButton.js

var firefox = navigator.userAgent.toLowerCase().indexOf( 'firefox' ) > -1;

...and this in HomeScreen.js

var deviceIsAndroid = navigator.userAgent.indexOf( 'Android' ) > 0;
var deviceIsIOS = /iP(ad|hone|od)/.test( navigator.userAgent );

There's also some stuff in Sim.js that interrogates navigator.

[2013-08-14 05:14] ariel-phet opened #44 "For Loading screen the "loading..." text sometimes appears serifed"
The word "Loading..." appears serifed instead of sans serifed text on iPad2. Nothing we need to fix at the moment, but would be good to specify fall back fonts when we get a chance.

[2013-08-16 22:34] samreid opened #45 "Home screen icons shift when one selected"
For example, in Forces and Motion: Basics, if you tap on the "Motion" tab, the friction and acceleration tabs change location a bit.

[2013-08-26 02:26] samreid opened #46 "SimLauncher fails if imageLoader has no images declared"
SimLauncher fails if imageLoader has no images declared.  Perhaps PxLoader does not return success on start() if it is loading no images?

[2013-08-26 14:44] #35 closed, assigned to samreid

[2013-08-26 23:07] pixelzoom opened #47 "joist doesn't support scenery.Color for Screen.backgroundColor"
Should be able to use a scenery.Color to specify the background color for a Screen. Looks like joist currently supports only CSS color strings, and strange things happen when you use a scenery.Color.

[2013-08-26 23:12] #47 closed, assigned to nobody

[2013-08-27 13:24] pixelzoom opened #48 "sims don't work with HTML file: protocol"
[CM note: This doesn't really correspond to any one repo, but it's could be considered a framework issue, so I decided to create it for the joist. Feel free to move elsewhere.]

KP reported:

Subject: PhET Installer - Super Funky Behavior

Hi Folks,

I knew it was unlikely to be supported - but I just downloaded a new PhET Installer to see if I could access the html5 sims, since I'm at a conferenc

[2013-08-28 19:11] #14 closed, assigned to nobody

[2013-08-28 22:06] pixelzoom opened #49 "show splash screen for minimum amount of time"
The splash (logo) screen sometimes doesn't appear at all, or appears so briefly that it's disconcerting. It should probably appear for some minimum amount of time, regardless of how quickly the sim actually loads.  Perhaps 1 iteration of the animated logo (paper airplane flying and landing.)

[2013-08-28 22:09] #34 closed, assigned to pixelzoom

[2013-08-28 22:11] #26 closed, assigned to nobody

[2013-08-28 23:02] #44 closed, assigned to nobody

[2013-09-04 02:56] pixelzoom opened #50 "navbar problems on iPad"
The navbar is not shown on iPad4 with Chrome.
Chrome 28.0.1500.16. iOS version 6.1.3 (10B329)

Refer to phetsims/beers-law-lab#43 for the original report, but this is a general joist issue that apparently affects all sims.

Chrome is not a PhET-supported browser on iPad, so this is a low-priority issue. But it would be good to confirm that joist is not doing something odd.

[2013-09-05 01:38] jonathanolson opened #51 "Sim thumbnail text (in the navigation bar) resizes only to the right"
Since the text is initially centered, it should stay centered when the boldness changes, instead of having a fixed left and variable right side.

[2013-09-05 05:19] #46 closed, assigned to nobody

[2013-09-05 05:28] #43 closed, assigned to nobody

[2013-09-18 15:07] samreid opened #52 "Pinching to zoom on the splash screen causes sim to run at the wrong zoom"
Pinching to zoom on the splash screen causes sim to run at the wrong zoom

[2013-09-19 20:04] pixelzoom opened #53 "don't print 'could not find image' warning when doing local development"
Address this TODO in joist.SimLauncher:

// TODO: only print warning if we detect we are a production / release candidate build
            window.console && console.log && console.log( 'WARNING: could not find image: ' + filename + ', using PxLoader' );

[2013-09-26 14:43] samreid opened #54 "Rotating landscape->portrait on iPad3 causes the sim to be offset vertically"
On Mobile Safari 7 on iOS7 on iPad3, Rotating landscape->portrait on iPad3 causes the sim to be offset vertically, see attached.

![concentration](https://f.cloud.github.com/assets/679486/1218380/d2eeac5e-26b9-11e3-815b-eeeb97fe29b1.png)

Notice how the navbar is too tall and the top of the control panel and beaker extend off the screen to the top, "underneath" (in z-order) the safari tab bar.  Th

[2013-10-01 15:12] #42 closed, assigned to jonathanolson

[2013-10-08 15:31] samreid opened #55 "The "PhET" menu button on the homescreen should float to the bottom right, as it does for sim screens"
The "PhET" menu button on the homescreen should float to the bottom right, as it does for sim screens

[2013-10-08 19:23] samreid opened #56 "Add support for Joist animationFrameListener"
A number of situations are using requestAnimationFrame or setTimeout/setInterval instead of going through the main Sim.js requestAnimationFrame, which could cause problems for scenery input event recording.  We should create a Joist module that can be loaded and used like addStepListener(function(dt){})

[2013-10-10 18:41] jonathanolson opened #57 "Touch fuzzer should be implemented"
Will be useful for catching multi-touch bugs

[2013-10-11 20:58] jonathanolson opened #58 "Enable fast acessibility by default, rest behind persistent option"
It should be possible to have the "fast" parts of accessibility enabled by default, but have the "slow" things (like moving the peer divs to match positions so zooming works well) behind an option that defaults to off, but is persistent (saved across browsing sessions).

We should test to determine what is 'fast' and what is 'slow'. @samreid suggested the possibility of only enabling peers on the

[2013-10-15 16:13] pixelzoom opened #59 "support different icons for home screen and navbar"
Creating this issue as result of a discussion with @ariel-phet.

The home screen and navbar use very different icon sizes. Sometimes the same icon works in both places, sometimes it doesn't.  Graphing Lines is an example where it doesn't.  So it would be nice to (optionally) specify a different icon for the navbar. If a navbar icon isn't provided, use the home screen icon for the navbar.

[2013-10-16 09:54] jonathanolson opened #60 "Homescreen cut off with long screen titles"
See BAM running with Hungarian:
![bam-hungarian-home-cutoff](https://f.cloud.github.com/assets/480878/1341413/e7f26cdc-3648-11e3-809b-5b43c30d68c8.PNG)

[2013-10-16 15:41] samreid opened #61 "Allow the navbar icons to differ from the home screen icons"
@ariel-phet said:

Could you add the flexibility to joist to have separate images used for
the homescreen and navbar icons. I think in many cases the same image
will work fine, but there may be a few cases where an icon that looks
great on the homescreen needs to be tweaked to look good on the navbar.

[2013-10-16 15:43] #61 closed, assigned to samreid

[2013-10-17 16:26] jonathanolson opened #62 "Sim loading logo / text is not vertically centered"

[2013-10-17 21:31] #53 closed, assigned to nobody

[2013-10-17 22:01] pixelzoom opened #63 "add ScreenView.step"
We've discussed the issue of how to animate view-side elements that either have no model, or have their own encapsulated model that's not in the domain model.  I think it would be useful to support an optional ScreenView.step that (if it exists) is called in Sim.animationLoop.

[2013-10-17 22:09] pixelzoom opened #64 "review TODO items in code"
Review the 22 TODOs in source code, including 9 in PropertySet. Address them, or make GitHub issues.

[2013-10-17 22:55] pixelzoom opened #65 "i18n"
joist is not localized. It needs to be for phase-2.

[2013-10-17 22:58] pixelzoom opened #66 "generalize handling of credits"
Sims are adding credits by doing something like this in their main.js:

[code]

This is not localized and it makes changing the format difficult because it's duplicated in each sim.  It also doesn't support a visually-pleasing result in the About dialog.

[2013-10-17 23:18] #8 closed, assigned to pixelzoom

[2013-10-17 23:23] #50 closed, assigned to nobody

[2013-10-17 23:25] #56 closed, assigned to nobody

[2013-10-17 23:39] #41 closed, assigned to nobody

[2013-10-22 17:14] pixelzoom opened #67 "move "Troubleshooting information" link in About dialog to a PhET menu item"
Menu item will be "Report a problem...".  It takes you to the same pages as the "Troubleshooting information" link did.

[2013-10-22 17:49] #67 closed, assigned to pixelzoom

[2013-10-22 23:47] #62 closed, assigned to jonathanolson

[2013-10-22 23:48] jonathanolson opened #68 "Add loading animation to splash"
Similar to the 'infinte scrolling' progress bar?

[2013-10-28 21:07] jbphet opened #69 "OK to use the alternative RequireJS format in our main sim files?"
A while back, we adopted a format for defining RequireJS dependencies that looks like this:

define( function( require ) {
  var NumberAtom = require( 'BUILD_AN_ATOM/common/model/NumberAtom' );
   .
   .
   .

This is an alternative to the format described in most of the RequireJS documentation, which looks like this:

require( [  'BUILD_AN_ATOM/common/model/NumberAtom'  ],
   function( NumberAtom

[2013-10-28 21:13] #63 closed, assigned to nobody

[2013-10-28 21:34] pixelzoom opened #70 "multi-touch: cancel interactions when switching screens"
This is a general problem with multi-touch that affects all sims.

First reported by @orejolaphet in this beers-law-lab issue: https://github.com/phetsims/beers-law-lab/issues/57.

If you change between screens while interacting with an object, that object will freeze and be immovable when you return to that screen. Resetting the screen will move objects to original position, but the object will s

[2013-10-29 03:25] pixelzoom opened #71 "About dialog refinements"
About dialog needs to be dressed up a bit, it's pretty primitive.

Needs:
- logo
- improved spacing
- improved formatting of credits and thanks you

...anything else?

[2013-10-29 03:49] #65 closed, assigned to samreid

[2013-10-29 04:12] pixelzoom opened #72 "location of separator in PhET menu is hardcoded"
This bites me every time I add something to the PhET menu. Make it possible to add a separator before _any_ menu item.

[2013-10-29 04:15] #72 closed, assigned to nobody

[2013-10-30 04:05] pixelzoom opened #73 "AboutDialog layoutBounds look problematic"
AboutDialog is apparently implemented as a ScreenView subtype, and it appears to use the default layoutBounds.  If the sim uses a non-default layoutBounds (which some do) then the AboutDialog's layoutBounds won't match what the sim is using. And this means that there's the potential for the About dialog to overlap the navigation bar (or worse?)

Using the '?dev' query parameter shows the layoutBou

[2013-10-30 05:17] #66 closed, assigned to nobody

[2013-10-31 16:56] pixelzoom opened #74 "offline solution: what to do about features that require an Internet connection?"
...for example the "PhET website" and "Report a Problem" menu items. If you're running offline, these features are still available and fail.

[2013-10-31 18:32] pixelzoom opened #75 "add 3rd-party library/artwork/resource attribution to credits"
We have this in Java sims. Would be nice to have in HTML5. But we're thinking this is a Phase-3 feature.

Take this into consideration when redesigning About dialog, https://github.com/phetsims/joist/issues/71

[2013-11-03 23:50] pixelzoom opened #76 "document the size for navbar-specific icons in Screen.js"

[2013-11-04 19:45] #48 closed, assigned to nobody

[2013-11-04 19:46] #54 closed, assigned to nobody

[2013-11-04 19:56] #76 closed, assigned to pixelzoom

[2013-11-04 21:38] jbphet opened #77 "Menu highlighting doesn't work on Firefox 25"
Items on the popup menu highlight on other browsers, but don't on Firefox.  Tested on FF version 25, but may well be an issue on other versions.

Screen shot on Firefox:

![bl1](https://f.cloud.github.com/assets/3082831/1468850/5a8da144-4599-11e3-8a13-dfab2895952b.png)

Screen shot on Chrome:

![bl2](https://f.cloud.github.com/assets/3082831/1468852/62f471c8-4599-11e3-884b-4a4e15bb09b0.png)

[2013-11-04 22:19] #59 closed, assigned to jbphet

[2013-11-04 22:26] samreid opened #78 "Invert Navbar for sims with a black background"
In sims with a black background, it is difficult to visually discern the navigation bar.  We discussed a few options (such as a thin border), but it seemed like the majority recommended to pursue an inverted color scheme for the navbar.
![screenshot-3](https://f.cloud.github.com/assets/679486/1469298/107daa34-45a0-11e3-84b8-1797dbd23205.png)

[2013-11-04 22:31] pixelzoom opened #79 "Home Screen buttons should fire on pointer 'up'"
They are currently firing on pointer 'down', which is not the policy that PhET agreed on.  And I'm seeing cases where the 'up' event is then causing something to happen on the screen that is selected. Eg this issue in BAA: https://github.com/phetsims/build-an-atom/issues/72

Reimplement these buttons using 'sun' buttons. Or at least use scenery.ButtonListener.

[2013-11-05 02:39] samreid opened #80 "Navbar blends in to other things for browsers that have no border"
In #78 @pixelzoom pointed out that:

This is also an issue when you happen to have black (or very dark) wallpaper on your desktop and the browser has no chrome along the bottom edge. This is what I've been living with on Mac OS with Chrome and Firefox (Safari has bottom-edge chrome.)

Btw... My wallpaper is not totally black, but it does fade to black along the screen edges. Examples below, showin

[2013-11-05 19:45] samreid opened #81 "only specify renderer:'svg' where necessary"
There may be unnecessary 'svg' declarations, we should only specify renderer:'svg' where necessary

[2013-11-05 19:58] samreid opened #82 "Splash screen "Loading..." text should be internationalized"
Splash screen "Loading..." text should be internationalized.  In the future, we may replace it with an animation, but for now it is in text.  I don't think our normal translation procedure will work here if the splash screen is shown before requirejs loads.  (I could be wrong about that, or we could split into two requirejs load phases).  Here is the Norwegian "nb" translation for Loading...:
"Loa

[2013-11-05 20:00] samreid opened #83 "Show 3rd party licenses in the about dialog (or another popup from the about dialog)"
We are listing the 3rd party code dependencies in the HTML5 at the top, but it would be even better to list them in the UI that the user can easily reach.  Low priority.

[2013-11-05 21:06] #81 closed, assigned to samreid

[2013-11-05 22:41] pixelzoom opened #84 "bold font for selected screen in navigation bar looks lousy"
See screenshot, from graphing-lines:

![screenshot_178](https://f.cloud.github.com/assets/3046552/1478393/40b19ea6-466b-11e3-9e0f-9ca5258253db.jpg)

Proposed changing to plain, here's what it would look like:

![screenshot_179](https://f.cloud.github.com/assets/3046552/1478404/62d3af88-466b-11e3-8b31-35bc25a23d31.jpg)

[2013-11-05 22:42] #84 closed, assigned to nobody

[2013-11-06 03:25] #51 closed, assigned to nobody

[2013-11-06 21:04] pixelzoom opened #85 "add 'Graphic Arts' to credits"
This involves add an optional 'graphicArts' property to the credits object literal, a 'Graphic Arts: {0}' string to joist strings file, and create the field in AboutDialog.

[2013-11-06 21:09] #85 closed, assigned to pixelzoom

[2013-11-07 04:54] #38 closed, assigned to samreid

[2013-11-07 16:46] samreid opened #86 "Navigation bar screen buttons become unresponsive"
In https://github.com/phetsims/forces-and-motion-basics/issues/65, @orejolaphet reported:

Test device: IBM ThinkPad
Operating System: Windows 7 32-bit Operating System
Browser: Google Chrome
Problem description:
The selection for different components of the sim: Tug of War, Motion, Friction, and acceleration, can freeze. Once the selection tabs have frozen the only way to change between any diffe

[2013-11-08 02:11] jonathanolson opened #87 "Quickly clicking on navigation screen icons prevents further screen changes (Chrome/Canary)"
This is exacerbated on a slow tab switch, but present in multiple sims (BLL, FAMB) and on Win7/Mavericks.

Steps to reproduce:
1. Switch to a screen (say, screen 1)
2. Click quickly in succession on screen 2's icon, then back on screen 1's icon (before it has switched to screen 2).

Result:
The sim will now be stuck on screen 2.

[2013-11-08 16:32] #87 closed, assigned to nobody

[2013-11-09 07:30] #86 closed, assigned to jonathanolson

[2013-11-10 02:13] samreid opened #88 "Review and merge navbar branch"
In #86 I rewrote the navbar using more modern techniques including ToggleNode and PushButtonNode.  I did not make efforts to ensure the layout was 100% identical to before, just that was implemented simply it looked reasonable.  The "navbar" branch needs to be code reviewed and UI reviewed.

[2013-11-11 04:50] samreid opened #89 "Speed up switching between screens"
Right now switching between screens is very slow.  For example, see:
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc.40/forces-and-motion-basics_en.html

from #88.  We are currently implementing screen switching with setChildren, to avoid memory problems on limited memory devices.  But while I was investigating #88 I tried switching to use setVisible instead, and th

[2013-11-11 17:43] samreid opened #90 "Rewrite the home button using PushButton"

[2013-11-11 17:51] samreid opened #91 "Rewrite the PhetButton to use PushButton"

[2013-11-11 20:19] samreid opened #92 "Highlight should extend scenery.Node"

[2013-11-12 16:44] samreid opened #93 "Remove share/ package"

[2013-11-12 16:55] samreid opened #94 "PushButton is too heavy"
Joist was rewritten to use PushButton for: NavigationBarScreenButton, HomeButton and PhetButton (and already used it in SettingsDialog).  However, depending on what children are provided, PushButton can be extraordinarily large.  For instance, here is the tree for just one NavigationBarScreenButton (which wraps two PushButtons in a ToggleNode):

[code]

We should rewrite this system using single n

[2013-11-12 18:12] jbphet opened #95 "Warn users if running on unsupported platform"
We should warn users somehow if they are attempting to run a PhET sim on an unsupported platform.  At the time of this writing, the two main unsupported platforms of concern are iOS6 and Safari 5.

[2013-11-13 15:36] #93 closed, assigned to samreid

[2013-11-13 15:38] samreid opened #96 "Some sims need to be able to setChildren instead of setVisible for switching screens"
Some sims need to be able to setChildren instead of setVisible for switching screens.  In #89 we found a way to significantly speed up tab switching for many sims, but some sims such as Build A Molecule crash on iPad3/iOS7 with this approach.  So we should default to setVisible but provide an option to setChildren.

[2013-11-13 16:44] #92 closed, assigned to samreid

[2013-11-13 16:45] #91 closed, assigned to samreid

[2013-11-13 16:45] #90 closed, assigned to samreid

[2013-11-13 16:47] #79 closed, assigned to samreid

[2013-11-15 15:23] samreid opened #97 ""PhET Homepage..." link should open in the same locale as the sim"
Rune said:

[2013-11-20 19:32] #88 closed, assigned to samreid

[2013-12-19 17:49] pixelzoom opened #98 "navigation bar problems on Win 8.1 + IE11"
First reported as https://github.com/phetsims/ph-scale-basics/issues/35, see that ticket for details and screenshot.

For single-screen sims (e.g., ph Scale), the PhET logo and sim title are missing.

For multi-screen sims (e.g. FAMB), the PHET logo is missing on the home screen. After selecting a screen, the screen title is visible in the navbar, but the PhET logo is still missing.

[2013-12-19 17:51] pixelzoom opened #99 "Navbar does not align with bottom + right sides of window (IE10/Win8)"
This is a general issue with joist, first reported in https://github.com/phetsims/ph-scale-basics/issues/32, see that ticket for details.

[2013-12-19 20:18] pixelzoom opened #100 "rename ScreenView.LAYOUT_BOUNDS to DEFAULT_LAYOUT_BOUNDS"
… to prevent confusion about this value's semantics.

[2014-01-09 06:32] samreid opened #101 "Add a "Full screen" button in the phet menu"
We have discussed adding a "Full screen" button to the navbar.  But perhaps it would clutter it too much and we should consider putting it in the phet menu instead.  We prototyped with this a while ago but didn't get anything working well across platforms.

[2014-01-28 18:35] pixelzoom opened #102 "make screen.model.step optional"
Some model have no need for animation or other time-based features. But we currently need to define a step function that looks like this:

[code]

It would be preferable to have screen.model.step be optional in joist.Sim.animationLoop. That involves changing this:

[code]

…to this:

[code]

We could also short-circuit the if statement that encloses this bit of code, but that may be spreading out

[2014-01-28 18:37] #102 closed, assigned to pixelzoom

[2014-01-30 15:49] samreid opened #103 "Support for save/load"
In https://github.com/phetsims/energy-skate-park-basics/issues/52 it was suggested to add some features of saving state to Joist.

[2014-02-15 17:09] pixelzoom opened #104 "doc and naming issues in joist.Timer"
Methods related to interval are undocumented.

setInterval has a 'timeout' parameter, should be 'interval'. clearInterval has 'id' parameter, should be 'intervalID'. Looks like these may have been copy-paste errors when duplicating the corresponding timeout-related functions.

[2014-02-25 04:23] #104 closed, assigned to samreid

[2014-03-03 21:55] samreid opened #105 "PhET Menu doesn't appear on IE11"
See https://github.com/phetsims/under-pressure/issues/42

[2014-03-04 22:52] #105 closed, assigned to samreid

[2014-03-04 22:58] pixelzoom opened #106 "About dialog is not properly scaled"
iPad 2, iOS 7.0.6, Safari. See attached screenshot. Must be fixed before release.

![photo 1](https://f.cloud.github.com/assets/3046552/2327492/799b5382-a3f0-11e3-96e8-1157466cb27f.PNG)

[2014-03-11 23:30] ycarpenterphet opened #107 "Navbar gets cutoff in some sims in iOS 7.1"
Test device: iPad2 and iPad3
Operating System: iOS 7.1
Browser: Safari
Problem description: When certain sims are opened while the iPad is held in a landscape orientation, the navbar appears halfway below the edge of the screen. So far, I have seen this in Molarity 1.0.0 and Gravity Force Lab 1.0.0 and Ohm's Law 1.0.0.
Screenshots:
Example 1
![image 1](https://f.cloud.github.com/assets/4682895/239

[2014-03-12 16:46] #106 closed, assigned to nobody

[2014-03-12 16:50] pixelzoom opened #108 "improve the quality of navbar icons when scaling them down from home screen icons"
Related to https://github.com/phetsims/ph-scale/issues/39

But some browsers (e.g., Win8 and either IE10 or Firefox) do a poor job of scaling home icons down to navbar size.  A workaround is to provide navbar-specific versions of the icons, properly sized in some external program (e.g. Photoshop, Illustrator,…) But many sims have identical home and navbar icons.  Is it possible to instruct the bro

[2014-03-13 04:24] jonathanolson opened #109 "Update Hewlett Google Analytics code"
Requested to add the following:

[code]

And remove the following lines:

[code]

I'll make the changes necessary once I've verified that the equivalent changes on the website are working properly. Presumably we'll want this rolled into whatever deployment is coming up next.

[2014-03-13 05:00] #109 closed, assigned to jonathanolson

[2014-03-13 05:54] jonathanolson opened #110 "Better image (and audio) URLs to prevent multiple decoding of same data"
https://github.com/phetsims/scenery/issues/126 has a note about loading data URI images into a Blob, which we can then get an image reference to. Using this image reference (or in SVG rendering, the URL itself) may significantly speed up DOM/SVG rendered image changes.

[2014-03-14 04:28] #100 closed, assigned to pixelzoom

[2014-03-20 18:11] pixelzoom opened #111 "'Software Agreement' link has problems"
This pertains to the 'Software Agreement' link at the bottom of the About dialog.

On Mac OS 10.9.2 …
• With Firefox and Chrome, the text 'Software Agreement' is visible, but doesn't look like a link. The link does work.
• With Safari 7.0.2, the text is not visible, but clicking in the area where the text should be does open the software agreement.

@samreid reproduced this problem with Chrome and

[2014-03-21 02:11] pixelzoom opened #112 "replace blank lines in About dialog with vertical struts"
Replace this:

[code]

with this:

[code]

...throughout.

[2014-03-21 16:41] #112 closed, assigned to nobody

[2014-03-24 19:39] samreid opened #113 "Wrong var name for phet button in NavigationBar"
NavigationBar has:

[code]

It should be renamed.

[2014-03-24 20:56] samreid opened #114 "Crash/error when resizing window if PhetMenu is open"
While investigating #39 I came across the following bug:
1. Start the sim.
2. Select any screen from the home screen
3. Press the PhetButton to show the PhetMenu
4. Resize the window

In Ph Scale, Beers Law Lab, Build an Atom (latest published versions on our website), the screen above the navbar goes blank and becomes unresponsive.  These tests were run under Win8/Chrome.

In Energy Skate Park: B

[2014-03-24 20:59] samreid opened #115 "The PhetMenu location is incorrect if the window size is changed while the PhetMenu is showing."
The PhetMenu location is incorrect if the window size is changed while the PhetMenu is showing.

[2014-03-25 23:05] jbphet opened #116 "Timer does a bunch of 'catchup ticks' when tab is switched out"
The symptom was originally noticed on the game tab of Balancing Act, see https://github.com/phetsims/balancing-act/issues/12.

When using the timer in Timer.js to drive the game clock, if the tab is switched out and then switched back, the timer ticks until all the missing ticks have been 'made up'.  Below is the output from code that measured the difference in system time between ticks when the t

[2014-03-28 21:49] samreid opened #117 "Sim.js prototype should be set in one call"
Sim.js sets its prototype like:

Sim.prototype.x = ...
Sim.prototype.y = ...

I think it would be better to replace this with:

Sim.prototype = {x:...,y:...};

[2014-03-28 22:00] samreid opened #118 "Simplify string to boolean"
We currently have

[code]

Perhaps it should just be:

[code]

[2014-03-28 22:01] #118 closed, assigned to samreid

[2014-03-28 22:49] #111 closed, assigned to nobody

[2014-03-29 03:44] jonathanolson opened #119 "Consider hiding more Safari mobile UI on Safari 7.1"
See http://theamazingweb.net/2013/12/19/minimal-ui-viewport-meta-tag/

[2014-03-29 08:00] #117 closed, assigned to jonathanolson

[2014-03-29 08:04] #39 closed, assigned to jbphet

[2014-03-29 08:05] #113 closed, assigned to jonathanolson

[2014-04-03 17:03] pixelzoom opened #120 "make PhET branding optional"
4/3/14 status meeting:
PhET branding (logo,...) should only be present in sims created by PhET.

[2014-04-03 19:12] samreid opened #121 "Update licensing info"
Last week (or two weeks ago), KP said she wanted to include new language for the licensing before we retest and republish the simulations.  At today's meeting, she said she may just want to provide a link with the deployed sim so that the licensing information can be provided & updated independently.

[2014-04-14 22:05] pixelzoom opened #122 "repository has no LICENSE file"

[2014-04-17 17:06] jonathanolson opened #123 "Change Google Analytics code so we can record other domains"
Consider another tracking number

[2014-04-18 02:57] samreid opened #124 "License files for all common phetsims repos should match"
All of phetsims common code repos should have MIT licensing.  We'll use GitHub's default MIT license formatting.  I generated a sample license file using GitHub "initialize with MIT license" here:
https://github.com/samreid/testmitlicense/blob/master/LICENSE

[2014-04-18 03:34] #123 closed, assigned to jonathanolson

[2014-05-01 06:57] #121 closed, assigned to nobody

[2014-05-05 14:38] samreid opened #125 "Add better profiling tools"
It is difficult to measure performance or garbage collections on the iPad.  Can we add support for that, to make it easier to improve performance in sims?

[2014-05-28 17:35] samreid opened #126 "Are the ScreenView layout bounds wrong?"
ScreenView layout bounds are reportedly:

[code]

So I created an image with those dimensions as a mockup.

Then I positioned the image using this code:
[code]

And it came out looking like so:

![photo](https://cloud.githubusercontent.com/assets/679486/3108223/4c276a5e-e68e-11e3-9e10-a6f374fe2cdb.PNG)

Why is there extra whitespace on the sides of the image?  Do we have the layoutbounds wrong?  I

[2014-05-29 16:26] samreid opened #127 "Center the home button vertically?"
@jonathanolson said

@jbphet said

@pixelzoom said

[2014-05-29 18:21] #127 closed, assigned to nobody

[2014-06-03 15:18] pixelzoom opened #128 "problematic layout of navbar with long sim titles"
It looks like the screen icons are always horizontally centered in the navbar, regardless of how long the sim title might be. This is problematic for long titles and i18n, as in this (hypothetical but plausible) 2-screen example:

![screenshot_269](https://cloud.githubusercontent.com/assets/3046552/3162076/024f1d52-eb32-11e3-82ba-07e8d028227a.png)

If the sim title will overlap the icons, then eit

[2014-06-05 18:39] pixelzoom opened #129 "sim title should be scaled to fit on home screen"
Example, running with '?dev' to show screen bounds:

![screenshot_273](https://cloud.githubusercontent.com/assets/3046552/3191969/c060c390-ece0-11e3-8448-bb382f8ecad4.png)

[2014-06-11 19:40] samreid opened #130 "Large dt values, how to handle them?"
In ESPB I put:

[code]

and we were thinking of doing something similar for Color Vision.  What have others done, and should we centralize support for this in Sim.js?

[2014-06-12 13:35] #78 closed, assigned to samreid

[2014-06-14 05:18] jonathanolson opened #131 "postMessage API design"
Recommending a general format of a request:
[code]
with a response format:
[code]

For instance, for screenshots, we may want a request type 'screenshotRequest' (or getScreenshot?), and a response type 'screenshotResponse'. The request would optionally have a scale parameter, and the response would include the data URI, width, and height.

[2014-06-17 14:53] pixelzoom opened #132 "simplify SimLauncher call sites"
This boilerplate code is being repeated in each sim's main:

[code]

Unless we think the callback function will vary, how about pushing creation of the callback into SimLauncher? The launch function would look like this:

[code]

Or if we don't want to mess with SimLauncher.launch, create an additional convenience method that creates the callback and calls SimLauncher.launch.  For example:

[code]

[2014-06-17 19:08] #129 closed, assigned to samreid

[2014-06-19 17:04] pixelzoom opened #133 "Timer stops firing when switching from Game to Home to Game"
This problem can be observed occurs with sims that use vegas.GameTimer, which is a wrapper around joist.Timer.  See for example graphing-lines or balancing-chemical-equations.

Steps to reproduce:
1. Select the game screen on the Home screen
2. Select any level button
3. Let the clock run for a few seconds
4. Press the home button in the navigation bar
5. Select the game screen on the Home screen

[2014-06-19 19:52] #133 closed, assigned to nobody

[2014-06-25 20:55] #116 closed, assigned to samreid

[2014-06-26 04:45] #128 closed, assigned to samreid

[2014-06-27 01:02] pixelzoom opened #134 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-06-28 03:34] samreid opened #135 "Test on iOS8 Beta"
iOS 8 is probably coming out this fall, and it would be good for us to test our HTML5 sims on a beta version of iOS 8 in advance to see if there are any issues.

[2014-06-30 17:18] orejolaphet opened #136 ""PhET Loading" Screen does not load in FireFox."
I've noticed this multiple times, and it only happens the first time you open a HTML 5 sim after opening the browser FireFox. Essentially, when you open up the sim the broken image icon appears rather than "PhET Interactive Simulations Loading..."
![untitled](https://cloud.githubusercontent.com/assets/5631059/3432956/7e720cc0-007a-11e4-82b6-1a8a2c476414.png)

[2014-07-01 15:56] bryo5363 opened #137 "Tapping rapidly between navbar screen icons causes one screen to become inaccessible on iPad."
Tapping rapidly between both Concentration and Beer's Law tabs in Beer's Law Lab causes the Beer's Law portion to become inaccessible.

Tested on iOS 8

[2014-07-01 16:14] bryo5363 opened #138 "Tank contains slight concentration after restarting simulation"
While using the Concentration simulation or the Concentration portion of Beer's Law, it is possible to restart the simulation with an initial concentration. I am testing on iOS 8. This is a multitouch issue

Steps to reproduce
-Open simulation
-Use one finger to evaporate the water
-Press restart with other finger while water is evaporating
-Add solvent to water prior to evaporation
-Repeat evapor

[2014-07-02 06:28] samreid opened #139 "Add instrumentation for a data-driven study"
For an upcoming research study, we need to be able to build a specialized version of Forces and Motion: Basics that will log user interface events and model changes.  Changes to joist, axon, sun, scenery-phet and forces-and-motion-basics may be necessary.

[2014-07-22 22:00] pixelzoom opened #140 "some sims are briefly unresponsive after computer has been idle (Safari)"
Affected platform: Mac OS with Safari 7 or 8-beta

To reproduce:
1. run a sim
2. interact with the sim
3. don't touch your computer for at least 3 minutes
4. resume interacting with the sim

When you do step 4, the sim will be unresponsive for a few seconds. This is a concern because students may not touch their computer for a few minutes while listening to the teacher. And when they resume work w

[2014-07-22 22:29] #138 closed, assigned to pixelzoom

[2014-07-24 20:02] orejolaphet opened #141 "Chrome beta bottom tab sizing issue."
Tested on windows 8 with Chrome 37.0.2062.20 beta-m

It seems that multi-scene sims have an issue with the bottom tab. That is the text for each scene is cut of at the bottom of the window.

![untitled](https://cloud.githubusercontent.com/assets/5631059/3693950/62abd1fa-136d-11e4-87ce-cf79e314ab35.png)
![untitled2](https://cloud.githubusercontent.com/assets/5631059/3693951/65b043b8-136d-11e4-97ee-

[2014-07-25 22:29] samreid opened #142 "Make sure SimLauncher is used to launch the sim"
In https://github.com/phetsims/arithmetic/issues/42 we found that the sim was being launched without SimLauncher, and thus images weren't necessarily loaded before the sim started.  We should add a check to make sure the sim is using SimLauncher.

[2014-07-30 23:12] ycarpenterphet opened #143 "Navbar screen titles text vertically offset in Firefox/OSX 10.9.4"
In most browsers (e.g. Chrome) there is a buffer space between the screen icon and the screen title, e.g.
![screen shot 2014-07-30 at 5 03 22 pm](https://cloud.githubusercontent.com/assets/4682895/3757813/c637a666-183d-11e4-88cd-a0ce93417804.png)

However, in Firefox (v31.0 on Mac OSX 10.9.4), the screen titles are vertically set higher and run into / overlap the icons, e.g.
![screen shot 2014-07-

[2014-08-11 22:16] samreid opened #144 "Should we use fixed or variable time steps (or something else)?"
In Java, we most frequently used a fixed time step (ConstantDtClock) so that the dt would be the same in each frame.

In HTML5 (and a few Java sims), we have been using a variable time step, where the amount of time elapsed by the simulation model is proportional to the amount of time that passed in real life.

There are many pros and cons between fixed/variable time steps, but the main reason we

[2014-08-12 17:31] samreid opened #145 "Dev bounds are behind everything else"
In https://github.com/phetsims/energy-skate-park-basics/issues/184 it was identified that the dev bounds are not appearing in ESPB.  The problem is that they are added to the ScreenView first, before the background is added.  We need to allow these bounds to be put in front of the rest of the children in the ScreenView.

[2014-08-12 20:18] jbphet opened #146 "Deprecate old, incorrect default layout bounds"
Default layout bounds are incorrect, see #126.  Discussed with @samreid one of the actions to take and decided to deprecate the old bounds (so that we don't mess up existing sims) and create a new default bounds that is correct.

[2014-08-19 19:23] pixelzoom opened #147 "set layoutBounds via ScreenView options"
In order to fix issues like https://github.com/phetsims/gravity-and-orbits/issues/135, and to be consistent with other 'default overrides', we need to add support for specifying layoutBounds in the options arg to ScreenView's constructor.

[2014-08-19 19:59] #147 closed, assigned to samreid

[2014-08-22 16:07] jbphet opened #148 "Timer should assert if attempt is made to clear a timer that doesn't exist"
In the Aug 19 2014 developer meeting, it was decided that in general PhET libraries should assert if an attempt is made to remove an element that doesn't exist, since this should lead to cleaner code.  As part of this effort, an assert needs to be added to Timer.js.

[2014-08-22 17:26] jbphet opened #149 "Timer can fire listener after it has been removed"
This was found while working on #148.  In cases where an interval timer is running and the sim is paused for a while, such as when a `debugger` statement is encountered, a listener function can be fired multiple times after it has been removed.  This is because the callback function doesn't check if it has been removed each time before firing it.  Here is the code:

[code]

If firing the listener

[2014-08-22 18:35] samreid opened #150 "Consider implementing joist.Timer using core.EventTimer.ConstantEventModel?"
It seems like joist.Timer and core.EventTimer.ConstantEventModel are solving the same fundamental problem.  Perhaps joist.timer should be implemented in terms of core.EventTimer.ConstantEventModel?  Would be good to discuss with @jonathanolson who implemented core.EventTimer.ConstantEventModel.

[2014-08-22 19:43] #148 closed, assigned to samreid

[2014-08-22 20:21] pixelzoom opened #151 "blank lines in troubleshooting info (Firefox + IE)"
Our instructions to testers are to copy-paste the info shown by the 'PhET->Report a Problem' menu item. The web browser shows that info in a nice compact form.  With Firefox (Mac and Win) and IE, copy-pasting inserts a blank line between every line.  That makes the info difficult to read in GitHub issues.

Is there any easy way to prevent this from happening?

[2014-08-25 21:35] #151 closed, assigned to nobody

[2014-08-26 00:11] jonathanolson opened #152 "Decide on a good way of passing string direction (LTR / RTL) to Scenery"
Right now, RTL strings are bidi-reordered as embedded in LTR, breaking things like below (Wave on a String, Hebrew):

![woas-hebrew](https://cloud.githubusercontent.com/assets/480878/4038441/8ea05ffe-2cb5-11e4-89b6-8b003a0dea63.png)

[2014-08-26 19:27] #150 closed, assigned to samreid

[2014-09-02 15:26] pixelzoom opened #153 "encapsulate query parameters"
joist currently has 34 uses of getQueryParameter, and they look like this:

[code]

I recommend that query parameters (and their documentation) be incapsulated in JoistQueryParameters. As an example, see RPALQueryParameters.  Then the usage sites would look like this:

[code]

[2014-09-03 15:48] pixelzoom opened #154 "Options dialog + query params"
This issue came up in https://github.com/phetsims/molecule-polarity/issues/5, where we need to be able to choose from 2 conventions for bond dipoles.

Here's one idea that I proposed:

Other ideas?

We should definitely ask what the requirements are, because changing global settings while the sim is running will be more expensive to implement than configuring the sim once at startup based on query

[2014-09-03 18:11] pixelzoom opened #155 "Sim.js doesn't initialize or document some options"
The following options are not defined or documented in the default options to _.extend:

profile
recordInputEventLog
inputEventLogName

These options are not documented, and their meaning may not be obvious to first-time readers:

showHomeScreen: true,
screenIndex: 0,
standalone: false,
showSaveAndLoad: false,
showSmallHomeScreenIconFrame: false

[2014-09-08 18:42] #155 closed, assigned to pixelzoom

[2014-09-08 22:05] pixelzoom opened #156 "why does AboutDialog extend ScreenView?"
In https://github.com/phetsims/joist/issues/154, we've decided to implement an Options dialog. It will be accessed like the About dialog (from the PhET menu) and have look and behavior similar to the About dialog.

The first thing I did was to look at joist.AboutDialog, to see how it might be generalized. The first thing I noticed is that AboutDialog extends ScreenView, which seems very odd.  Is t

[2014-09-08 22:09] pixelzoom opened #157 "should "Development Team" credits be flattened in the About dialog?"
This was discussed at 9/4/14 developer meeting. What is the purpose of the "Development Team" credits? Should they continue to identify roles? Or would a flat alphabetic list of people who were involved suffice?

[2014-09-11 15:17] samreid opened #158 "Factor out Logo colors"
In some sims, some colors are matched to the PhET logo colors.  For instance, PaperAirplaneNode matches the PhET shade of yellow.  In other sims, when yellow and blue are used they are sometimes matched to the PhET logo for consistency.  It would be good to create a Joist file like "Colors.js" or "LogoColorScheme.js" or something like that to store a single copy of the logo colors instead of copy/

[2014-09-12 15:39] samreid opened #159 "Can the homescreen & navbar buttons be rewritten using the new Sun.buttons?"
Can the homescreen & navbar buttons be rewritten using the new Sun.buttons?

[2014-09-12 19:28] samreid opened #160 "Are we really using 206 scenery nodes in the home screen?"
There is a scenery issue https://github.com/phetsims/scenery/issues/275 that shows Win8/Chrome stutters when the mouse changes to a hand due to DOM reflows.  It seems like the problem goes away as the size of the scenery tree is reduced.  In https://github.com/phetsims/energy-skate-park-basics/issues/208 I noticed that the number of nodes (as measured by simScene.popupDebug() drops by about 206 no

[2014-09-15 17:28] samreid opened #161 "Avoid using ToggleNode in the NavigationBarScreenButton"
In https://github.com/phetsims/energy-skate-park-basics/issues/208, I said:

[2014-09-15 18:45] samreid opened #162 "Merge profiler branch to master"
I added some support for showing profiling information in a branch, but it should be moved to master under a query parameter.

[2014-09-24 19:52] pixelzoom opened #163 "how to handle credits for translation?"
AboutDialog currently reads credits.translation for translation credits. But credits is currently specified in a sim's main.js, and so that's not an appropriate place to specify translation credits.  Translation credits should be specified in the string files. But a sim will have multiple string files (sim-specific, common-code,...) so we need to work out how to coalesce those into a translation c

[2014-09-24 20:31] #156 closed, assigned to pixelzoom

[2014-09-26 19:29] oliver-phet opened #164 "Some sims take a while to load (offline) on IE11"
First noticed doing an offline test on IE11 of Area Builder.

After opening the single-file HTML file, right-click and select 'Open with', choose Internet Explorer.

Sims I noticed take a while to load (around 1 minute on my Win7 machine):
Area Builder
Beer's Law Lab
pH Scale

Sims that don't seem to be affected:
Balancing Act
Color Vision

[2014-09-28 01:46] samreid opened #165 "Move PhetStyle.xml to GitHub"
In order to make it easier to access and share, we should move our IDEA code formatting style XML file PhetStyle.xml to GitHub.  Let's also rename it since Phet is an incorrect casing for our project.

[2014-09-29 18:59] pixelzoom opened #166 "create a Dialog base type"
As noted in https://github.com/phetsims/joist/issues/154, AboutDialog is not generalizable into a Dialog subtype. So we're going to start over.  Design and implement joist.Dialog, to be used as the base type for AboutDialog, OptionDialog, and other future dialogs.

[2014-09-30 04:48] samreid opened #167 "Review the arch branch and see if it is ready to merge to master"
Same question as https://github.com/phetsims/axon/issues/34 but for the joist repository.

[2014-09-30 21:25] #167 closed, assigned to pixelzoom

[2014-10-01 03:08] #157 closed, assigned to pixelzoom

[2014-10-03 03:52] samreid opened #168 "Improve the histogram visualization in ?profiler"

[2014-10-03 03:52] #162 closed, assigned to samreid

[2014-10-03 03:53] #161 closed, assigned to nobody

[2014-10-03 16:38] #139 closed, assigned to nobody

[2014-10-03 16:39] #135 closed, assigned to nobody

[2014-10-03 18:38] #122 closed, assigned to nobody

[2014-10-03 18:42] #125 closed, assigned to samreid

[2014-10-06 23:44] samreid opened #169 "Add "built by ??? using PhET's Open Source libraries""
In #120, we added custom branding and said:

[2014-10-06 23:44] #120 closed, assigned to nobody

[2014-10-07 00:09] #77 closed, assigned to pixelzoom

[2014-10-07 00:12] #33 closed, assigned to pixelzoom

[2014-10-07 01:35] #136 closed, assigned to nobody

[2014-10-08 00:00] #146 closed, assigned to nobody

[2014-10-08 00:06] #119 closed, assigned to jonathanolson

[2014-10-08 00:09] #107 closed, assigned to nobody

[2014-10-08 00:28] #89 closed, assigned to nobody

[2014-10-08 03:27] #30 closed, assigned to pixelzoom

[2014-10-08 15:51] #98 closed, assigned to samreid

[2014-10-08 16:44] pixelzoom opened #170 "replace PushButtonDeprecated in joist"
As discussed in https://github.com/phetsims/sun/issues/94, this is assigned to @pixelzoom.

Joist relies on the old PushButtonDeprecated look for the Home and 'PhET' buttons. Ideally we'd like a an alternative "appearance" for sun buttons that relies on image files. But we are unlikely to have that for awhile. In the meantime, rework/promote PushButtonDeprecated to a simple ImagePushButton. (Consu

[2014-10-08 17:47] #114 closed, assigned to jonathanolson

[2014-10-08 17:47] #115 closed, assigned to samreid

[2014-10-14 19:12] samreid opened #171 "dt is sometimes zero"
@jbphet noticed in Balancing Act that joist sometimes sends out dt=0 in the step function.  It generally appears to be correlated with when the cursor changes to a hand/arrow.  I have reproduced the problem on my machine (though it appears less frequently than on @jbphet machine).  Perhaps related to https://github.com/phetsims/scenery/issues/275

[2014-10-18 01:17] jessegreenberg opened #172 "Assertion failure caused by PhetButton"
The latest commit (SHA 26950bfc21d78419e8f359bd28b896e4b3489b91 )  causes an assertion from Image to fail.

In PhetButton, options.phetLogo was removed so that on line 35,

[code]

was changed to

[code]

options.phetLogo is now undefined when the following is called on line 40.

[code]

phetLabel.image is set later on in the code but initializing phetLabel in this way causes the following asserti

[2014-10-18 03:49] #172 closed, assigned to nobody

[2014-11-06 18:43] #83 closed, assigned to nobody

[2014-11-06 19:45] #96 closed, assigned to pixelzoom

[2014-11-07 02:23] #149 closed, assigned to samreid

[2014-11-07 02:43] samreid opened #173 "Investigate IDEA 14 for development"
IntelliJ IDEA 14 came out this week.  We should check it out and see whether it can be used for working on our projects.

[2014-11-07 16:02] samreid opened #174 "Explore record/playback based on setState"
Since we have a long-term goal to load and save the state of the simulation, I am interested in checking to see whether save it and load can provide a foundation for record and playback.  Bandwidth will probably be a problem so we will need to be judicious about diffs or some other way of creating sparse data.

[2014-11-09 13:50] samreid opened #175 "Add an option to stream scenery input events over iframe API"
Here's one way to add scenery input events to stream over the iframe API:

Add one line (marked as `// Send the events over the iframe` to Sim.js):

[code]

Add arch.js to the prelaunch, and launch the iframe sim with ?recordInputEventLog.  In the future, we may need a way to dynamically turn on the scenery input events (instead of with the query parameter as an up-front parameter) and it may be n

[2014-11-09 14:16] samreid opened #176 "Merge the together branch to master"
As part of #174 I have started a sim iframe API in a separate branch "together".  It is minimally invasive but should be reviewed before merging to master.  The main motivation for merging it into master is to simplify development--to make sure this code is maintained and doesn't diverge from master.  More time will be necessary to discuss and finalize the API and internals, but I'd like to merge

[2014-11-10 19:11] pixelzoom opened #177 "bug in creation of PhetButton icons"
PhetButton.createNodes looks like its supposed to create nodes with identical sizes, but it doesn't. After adding nodes alignment to sun.NodesPushButton (see #170) with 'center' defaults, the PhetButton icon started shifting around when mousing over it. So the images are different sizes.

This was added to PhetButton (line 80) as a workaround:

[code]

[2014-11-11 23:21] pixelzoom opened #178 "create enum for button 'interaction states'"
Spawned out of discussion in #170.  PushButtonInteractionStateProperty has 4 string values, to indicate the mutually-exclusive states of a push button: 'idle', 'over', 'pressed', 'disabled'.

Unclear what the best pattern is for enums. But RPAL.GamePhase demonstrates one pattern that we've discussed.

[2014-11-11 23:44] #178 closed, assigned to nobody

[2014-11-12 00:24] #170 closed, assigned to jbphet

[2014-11-12 01:19] samreid opened #179 "Are we LTI compliant?"
This question came up at today's developer meeting, and @samreid volunteered to investigate.   Thanks, @samreid!

[2014-11-12 02:56] #174 closed, assigned to samreid

[2014-11-12 02:58] #176 closed, assigned to samreid

[2014-11-12 03:01] samreid opened #180 "Review the SimIFrameAPI and sample usage"
At today's meeting, we agreed that @jonathanolson would review the SimIFrameAPI and its sample usage, and @samreid and @jonathanolson would iterate a bit before getting feedback from @pixelzoom.

I already added a protocol version and changed the messages to json, and this is ready for @jonathanolson's review.

Two issues we should look at in addition to the overall review:
1. Issue #175 regarding

[2014-11-12 04:06] samreid opened #181 "Rewrite the navigation bar buttons"
Using a strategy like in the rewrite of PhET button, see #177

[2014-11-13 01:44] samreid opened #182 "Generalize Joist Buttons with Highlighting"
In https://github.com/phetsims/joist/issues/177 @pixelzoom pointed out that the new PhetButton could be generalized to support the other highlighting button types.  More work will be necessary to handle those cases since they are actually radio buttons, and the home screen buttons also change size.  But I'll look into it.

[2014-11-13 01:45] #177 closed, assigned to samreid

[2014-11-13 01:54] #181 closed, assigned to samreid

[2014-11-13 21:12] samreid opened #183 "factor out HomeScreenButton"
The screen buttons should be revisited.  We should decide if we are going to use a starting point of (a) JoistButton as defined in https://github.com/phetsims/joist/issues/182 or (b) the new radio buttons as discussed here: https://github.com/phetsims/sun/issues/127

[2014-11-13 21:13] #182 closed, assigned to samreid

[2014-11-24 15:32] samreid opened #184 "Make it possible to render joist framework components outside of svg"
Right now all joist components (HomeScreen, NavigationBar, PhetMenu, SettingsDialog, and the topLayer in Sim.js) are all hard-coded with {renderer:'svg'}.  We should generalize this to make it easy to test rendering an entire simulation in WebGL, see https://github.com/phetsims/scenery/issues/303

[2014-11-24 20:25] #184 closed, assigned to samreid

[2014-12-23 00:02] pixelzoom opened #185 "navbar and home screen layout are messed up due to dependencies on magic numbers"
In https://github.com/phetsims/joist/issues/126, ScreenView.DEFAULT_LAYOUT_BOUNDS was changed from (0,0,768,504) to (0,0,1024,618).  This exposed dependencies and assumptions elsewhere in joist about the layoutBounds. Many aspects of the home screen and navigation bar are affected, including:

• size of the navbar
• size of icons and labels
• spacing of icons and labels
• positioning of the PhET m

[2014-12-30 18:00] bereaphysics opened #186 "PhET Menu creates a very large bubble in Chrome"
![image](https://cloud.githubusercontent.com/assets/7633344/5581084/5c107b0e-9011-11e4-9285-63638f721e32.png)

Using the Windows version of chrome Version 39.0.2171.95 m  and using RequireJS, the PhET Menu is very large. Although the screenshot was done using AreaBuilder, this happens on all the sims I tested.

I have tested it across a few browsers as well. This is only a feature of the current v

[2014-12-31 01:57] bereaphysics opened #187 "Assertion is triggered when closing Dialog box from Close Button"
While working on getting a dialog box in least square regression, I noticed that the hasCloseButton in Dialog doesn't behave properly when one tries to close the Dialog box.

By default the AboutDialog bubble in Joist doesn't have a close button
[code]

To reproduce the issue,  set hasCloseButton to true, then open up the aboutDialog and click directly on the button to close the AboutDialog bubble

[2014-12-31 17:32] pixelzoom opened #188 "remove dependencies on {Sim} sim in numerous constructors"
Too many components in joist have a {Sim} sim constructor parameter, allowing them to access everything in Sim.  Examples:

This looks like quick-&-dirty prototype code, not production code. These are unnecessarily-wide interfaces, allowing coupling that shouldn't occur. And there are already cases where this is messed up.  For example:

Here's how Sim.js creates the NavigationBar:

NavigationBar

[2015-01-01 23:46] pixelzoom opened #189 "update feature for HTML5 sims"
This feature was originally requested in https://github.com/phetsims/chipper/issues/76.

@oliver-phet wrote:

[2015-01-01 23:58] pixelzoom commented on #189
For Java sims, this was a large feature. A server-side component provides information about the latest version number. The client-side implementation includes: prompting the user, handling download of the latest version, opting out of updates, requesting updates manually, skipping/ignoring specific updates, a preferences panel, reading/writing preferences to local storage,... For a full list of fe

[2015-01-02 00:01] pixelzoom commented on #189
@ariel-phet and @oliver-phet What is the priority of this feature? Timeframe for when you'd like to have it?  Thoughts on which aspects of the Java implementation are required vs. optional vs. unnecessary?

[2015-01-05 18:34] samreid commented on #185
I skimmed @pixelzoom change sets and tested a single-screen sim and a multi-screen sim and all seems good.  Closing.

[2015-01-05 18:34] #185 closed

[2015-01-05 18:36] samreid commented on #188
I'm interested in fixing this once we switch to joist/ohtwo so I don't have to do this twice.

[2015-01-05 18:48] pixelzoom commented on #126
https://github.com/phetsims/joist/issues/185 is resolved and DEFAULT_LAYOUT_BOUNDS has been set to (0,0,1024,618).  Closing.

[2015-01-05 18:48] #126 closed

[2015-01-06 17:15] ariel-phet commented on #189
@pixelzoom - the question of this feature was brought up by @kathy-phet. Once we have HTML5 sim pages and the ability to download and run sims offline, @kathy-phet felt it would be useful for people to know if the sim is out of date. My sense is that in the HTML5 world, not as many people will be running our sims offline, but that is my guess, and we won't know until we have the ability to downloa

[2015-01-06 17:51] pixelzoom commented on #189
@ariel-phet wrote:

Do we notify the user once? Keep bugging them until they update? Give them a choice? Let them opt out of update checking altogether?  Any "choice" that we give the user implies that we store the choices on disk, which opens up a can of worms.

[2015-01-06 18:00] kathy-phet commented on #189
Another question is how will this interact with translations? e.g. if the only change is new languages.

Can someone recap the current plan for translations - my impression is that it involves redeployment every week or month? With a new version number?

[2015-01-06 18:10] pixelzoom commented on #189
The current plan is to process and deploy new translations monthly. Translations will be rolled out in maintenance releases, so yes, the version number will change.  Those same maintenance releases may contain other fixes and changes.

[2015-01-06 18:42] kdessau-PhET opened #190 "Adding Donate Now Button in "About" screen?"
In the HTML5 simulations, it would be good to add a Donate Now button in the About screen. People who actually are curious enough to go that screen would most likely donate. Page to link to is http://phet.colorado.edu/donate or https://donatenow.networkforgood.org/1437859

[2015-01-07 17:01] kathy-phet commented on #189
I don't think we will want to notify people to update if their are only new translations because monthly is going to be too often and people will get annoyed - so I think we'll need a strategy to be able to distinguish if they are "out-of-date" because of translations or otherwise - so we only alert them when it is our opinion that they should update. Perhaps we have a flag that says -- "this has

[2015-01-07 18:09] pixelzoom commented on #189
What constitutes an "important update" is subjective. If you're the teacher in Romania who has been waiting for the Romain translation to be added/corrected, then they a translation update is what they're interested in.

Why not alert them that an update is available, provide a list of changes in the update, then let them decide whether it's an update that they are interested in?

[2015-01-07 19:33] kathy-phet commented on #189
If we can provide a list of changes, I agree that would be good.

[2015-01-08 17:46] pixelzoom commented on #189
What is the timeframe for this feature? When do you want it?

[2015-01-08 19:00] samreid commented on #189
At the Jan 8 developer meeting, @jbphet suggested collecting analytics after creating HTML sim pages with 'download' buttons, in order to understand how important this feature will be.

[2015-01-08 19:00] jbphet commented on #189
As we figure out how this works, we need to take into account versions running from the installer too.  Do we want the notification to behave the same way for installer versions?

[2015-01-08 19:04] jbphet commented on #189
We should do some data gathering after we have sim pages for HTML5 sims to see how often people are actually running the sims off line in a situation where the sim can contact our server.  If this is a very rare situation, then IMO it wouldn't be worth the time and effort to implement and maintain this feature.

[2015-01-08 19:11] jbphet commented on #189
In the 1/8/2015 developer meeting, we discussed the idea of having a menu item in the PhET Menu that says "Check for Updates".  This option would only appear if the sim was not served from our web site.  Once clicked, it would see if a newer version was available and, if so, give the user an option to go to the updated sim page.  The development team liked this idea, since it seemed relatively str

[2015-01-08 20:14] pixelzoom commented on #173
I'll check it out.

[2015-01-09 21:15] bereaphysics commented on #186
The issue has been resolved in chrome 40.0.2214.69.

[2015-01-09 21:15] #186 closed

[2015-01-12 23:59] pixelzoom commented on #173
I updated to IntelliJ 14 and reformatted the source for a couple of repos (but committed no changes): acid-base-solutions, graphing-lines, forces-and-motion-basics, build-an-atom.  Here's a summary of the formatting changes that I discovered.  In the examples below, I'll use '-' to indicate the old format, and '+' to indicate the new format.

By far, the 2 most common changes involve spaces within

[2015-01-13 00:01] pixelzoom commented on #173
We should make some decisions about the above formatting changes at a near-future developer meeting. In the meantime,  I'm going to continue using IntelliJ 14, with 'reformat code before commit' turned off.

[2015-01-13 00:03] pixelzoom commented on #173
Note that I examined a small sample of repos, from a couple of different developers. I also did not evaluate the impact on @jonathanolson's work (scenery, kite, dot) because he has typically not used IntelliJ.

[2015-01-13 18:15] pixelzoom commented on #173
1/13/15 dev meeting:
- update joist/util/phet-idea-codestyle.xml add space inside of braces and brackets
- all developers update to IntelliJ 14 and install phet-idea-codestyle.xml
- all developers reformat their own sims; JO will handle scenery/kite/dot; CM will handle of there common repos
- add any additional issues encountered to this GitHub issue
- report issues to IntelliJ after we've reforma

[2015-01-13 19:03] pixelzoom commented on #173
For Mac users, IntelliJ code styles live in $HOME/Library/Preferences/IntelliJIdea14/codestyles/.

[2015-01-13 19:07] pixelzoom commented on #173
I've completed the code-style changes that we discussed in today's developer meeting. If you look at https://github.com/phetsims/joist/commit/73213c52dbd76625baac9b7606ceccc9133a2ba9, you can see what changed.  Setting Set SPACE_WITHIN_BRACKETS and SPACES_WITHIN_OBJECT_LITERAL_BRACES to "true" is the explicit change that we decide on. Other changes are default values of new settings.

[2015-01-13 20:23] samreid commented on #173
I reformatted my repos above.  Liking IDEA 14 quite a lot so far, pushing is much faster for me!

[2015-01-13 20:28] pixelzoom commented on #173
Pushing is much faster for me too.

[2015-01-13 20:57] pixelzoom commented on #173
I completed reformatting of all sims where i was primary developer or liaison, and all common-code except scenery, kite and dot.

[2015-01-14 19:34] samreid opened #191 "PhET Button sometimes disappears"
Chrome/OSX.  Try running Gravity and Orbits, then switch to a sim screen, then back to the home screen.  Voila!  The PhET button is gone!

[2015-01-14 23:21] pixelzoom commented on #191
Version numbers? I'm running GAO master, and I don't see this on Mac OS 10.9.5 + Chrome 39.

[2015-01-15 01:12] samreid commented on #191
Do you see the triple horizontal line get dimmer?

![image](https://cloud.githubusercontent.com/assets/679486/5750916/d0235b02-9c18-11e4-857b-2755601765e7.png)

[2015-01-15 01:12] samreid commented on #191
The disappearing logo was happening with the phetsims/brand 'adapted-from-phet' branch--I think it was just using the black logo against the black background.

[2015-01-15 01:16] samreid commented on #191
I do not see this problem in reactants-products-and-leftovers, perhaps it is related to the white navbar in gravity-and-orbits.

[2015-01-15 01:18] samreid commented on #191
I'm on latest master branch of everything, on OSX 10.10.1 and Chrome Version 39.0.2171.95 (64-bit)

[2015-01-15 02:12] pixelzoom commented on #191
@samreid asked:

Yes, with GAO master, Mac OS 10.9.5, Chrome 39.

[2015-01-15 02:30] pixelzoom commented on #191
In GAO, the navbar background changes when switching between home and other screens. I'm guessing that the PhET menu is being modified once (when a screen is selected) to work on a white background, and then it no longer works on the home screens black background.  And if navbar background is screen-specific, then the PhET menu (screen icons? home icon?) needs to be modified every time you switch

[2015-01-15 02:34] pixelzoom commented on #191
Looking at joist code, I would expect GAO to be setting Sim.useInvertedColors = true.  But I don't find useInvertedColors in a search of GAO source. How is GOA requesting the inverted navbar?

[2015-01-15 02:37] pixelzoom commented on #191
Ah, I see... useInvertedColors is annotated 'read-only' and is computed in Sim.js:

        sim.useInvertedColors = !!new Color( sim.currentScreen.backgroundColor ).equals( Color.BLACK );
      }

[2015-01-15 02:43] pixelzoom commented on #191
Here's the bug, in PhetButton:

      optionsButton.fill = useInvertedColors ? '#222' : 'white';
      phetLabel.image = useInvertedColors ? phetLogoDarker : phetLogo;
    } );

This code isn't taking into account whether we're on the home screen or some other screen. (It's also ignoring the interactionState, which makes me wonder why it's linking to it.)

[2015-01-15 02:48] pixelzoom commented on #191
Proposed fix:

[code]

[2015-01-15 02:52] pixelzoom commented on #191
Btw... The above proposed fix looks (to me) like it resolved this issue. But looking through the joist code, the way that this 'inversion' is handled, and the API for it, is a bit of a mess. There's a lot of coupling that shouldn't be there, there are undocumented assumptions, and the API allows clients to do things that they shouldn't be able to do.

[2015-01-15 16:07] jonathanolson commented on #191
My recollection is that each screen has a background color which determines if the colors are inverted (not done on a whole-dim level).

[2015-01-15 21:34] pixelzoom commented on #173
I reformatted @aaronsamuel137 and @phetsims/jessegreenberg sims.

[2015-01-15 21:35] pixelzoom commented on #173
Via Skype, @jonathanolson wrote:
[1/13/15, 12:35:50 PM] Jonathan Olson: Should I handle joist/ohtwo reformatting?
[1/13/15, 12:36:29 PM] Chris Malley: if you don't mind. i'm not clear on which branches of which repos are scheduled for merging into master.

I haven't checked joist/ohtwo, but joist/master is definitely not reformatted. Who is handling this? And what are the implications for merging

[2015-01-16 20:58] jbphet commented on #173
Seeing some weirdness when reformatting SOM, see https://github.com/phetsims/states-of-matter/commit/75e7978c922687c8821f07fcbed7a0ced17ddcd2.  The behavior when making this reformatting change was quite odd.  When I reformatted the code using ctrl-alt-L, I got a bunch of changes.  When I went to commit them, they all went away.  When I turned off the "Reformat code" option, I could make the commi

[2015-01-16 21:54] pixelzoom commented on #173
More on the discussion with @jbphet ...

As I noted in my evaluation, IntelliJ 14 seems to be trying to do some left-justification of property values, as in this example from build-an-atom.ChargeComparisonDisplay. The value of the 'left' property is left-aligned with the value of the property immediately after it.

[code]
If you put parentheses around ( INTER_SYMBOL_DISTANCE / 2 ), then the left-a

[2015-01-16 21:58] pixelzoom commented on #173
Another issue with IDEA 14, not related to formatting. Paths in config.js files are being flagged with error: Cannot resolve file 'js'.  Here's a screenshot from molecule-polarity-config.js.

![screenshot_418](https://cloud.githubusercontent.com/assets/3046552/5785105/1f13bfae-9d90-11e4-9d91-64c95b281827.png)

[2015-01-17 20:16] samreid commented on #191
I also think it will be important to rename useInvertedColorsProperty to something more straightforward like navbarFillProperty.  I'm sort of holding off on issues like this until we switch to ohtwo.

[2015-01-17 21:19] pixelzoom commented on #191
Agreed. That name is overly general for what it does.

[2015-01-17 21:19] pixelzoom commented on #191
Double agreed.

[2015-01-20 01:22] pixelzoom opened #192 "what is the optimal size for navigation bar icons?"
Screen.js documentation says 147x100:

But if I add this console.log to NavigationBarScreenButton.js, then I see 36.75x25.

I've typically been adding navbar-specific images files when Firefox mangles the home-screen image files (e.g., https://github.com/phetsims/reactants-products-and-leftovers/issues/28). But I've been sizing them to 147x100. Which means that they are still being downscaled by ~

[2015-01-20 01:33] pixelzoom commented on #192
In  phetsims/reactants-products-and-leftovers#28, I confirmed that a 147x100 navbar image still looks a bit mangled in Win+Firefox.  If I reduce the size to 38x26 it looks nice. Even 70x48 looks good - probably because Firefox is only scaling down by ~2x.   So I suspect that our navbar-specific images have been looking lousy because they are too large.

[2015-01-20 06:56] jonathanolson commented on #192
I just checked the displayed size of the navbar icon on my screen (81x56), and presumably on a retina device it could be ballpark ~160x110. Reducing to anything near 38x26 sounds like it would introduce a ton of blur on higher-resolution devices.

I'd rather solve this at the Scenery level (with a flag indicating that Scenery should be responsible for re-rasterizing images to best fit the display)

[2015-01-20 07:04] jonathanolson opened #193 "Merge master changes to ohtwo"
This is required in preparation for moving Scenery ohtwo to master, and is likely to have some error-prone merge points.

[2015-01-20 14:46] pixelzoom commented on #192
Ah, forgot about retina. Too bad, because I had phetsims/reactants-products-and-leftovers#28 looking great, guess I need to reopen it.  This needs to be completed for RPAL publication, and I guess my only choice is to leave it looking "sort of lousy" on Win+Firefox.

[2015-01-20 14:57] pixelzoom commented on #192
@jonathanolson wrote:

Which sim? I checked multiple sims on non-retina, and icons were all 36.75x25.

If retina requires ~160x110, why is 147x100 specified in Screen.js?

[2015-01-20 15:56] samreid commented on #192
What is your screen size?  What is the maximum screen resolution we will want to support (including retina)?  How do the icons look if they are upscaled instead of downscaled?  As one data point, on iPad3, the screen icons are coming up as 98x67px.

[2015-01-20 17:08] jonathanolson commented on #192
98x67px (CSS 'px') => 196x134 actual pixels?

[2015-01-20 18:51] samreid commented on #193
I created a 0.1 branch based on current master.

[2015-01-20 19:06] pixelzoom commented on #173
Decisions from 1/20/15 developer meeting:

• developers should feel free to reformat any code they come across that hasn't been reformatted
• it is preferable to reformat code as a separate step, rather than combining with other changes
• @pixelzoom will report the two IntelliJ 14 issues (identified above) to JetBrains

[2015-01-20 19:18] pixelzoom commented on #173
The path issue in config.js files was reported to JetBrains here: https://youtrack.jetbrains.com/issue/IDEA-135446

[2015-01-20 19:29] pixelzoom commented on #173
The left-alignment of property values was reported to JetBrains here: https://youtrack.jetbrains.com/issue/IDEA-135451

[2015-01-20 19:34] pixelzoom commented on #173
The left-alignment of property values was reported to JetBrains here: https://youtrack.jetbrains.com/issue/IDEA-135451

Here's the example that I submitted:
[code]

[2015-01-21 08:01] samreid commented on #192
I was using photoshop to count pixels from a screenshot, so I think it was 98x67 actual pixels (if I am using the term pixels right?)

[2015-01-22 02:52] pixelzoom commented on #173
JetBrains assigned both of the issues that I reported to developers. Forward progress...

[2015-01-22 03:07] samreid commented on #173
Nice! :clap:

[2015-01-22 18:13] samreid opened #194 "updateBackground is expensive and being called every frame"
[code]

[2015-01-26 04:32] samreid opened #195 "Close the PhETMenu before invoking its action"
Currently PhETMenu has this code for invoking the action of one of its buttons:

[code]

However, this is causing complication for keyboard accessibility in the case of the AboutDialog, because it creates a new focus context (the AboutDialog) then dismisses the previous focusContext (the AboutDialog).  Focus contexts are being designed as a stack, so it doesn't work to create push a new context th

[2015-01-26 04:34] samreid commented on #195
I tested it a bit (OSX/Chrome only with a few menu item options) with the reversed order and did not see any problems.  Broader testing and review is warranted.

[2015-01-27 20:47] samreid opened #196 "Added ?cacheBuster=false option to sims"
At today's developer meeting, we decided to add a ?cacheBuster=false option to all simulations.  This would disable the cache buster in sims to improve interoperability with chrome dev tools (which get confused when there are query parameters).

We should also document the new query parameter.

[2015-01-27 20:48] samreid commented on #196
Here is the snippet of code I am planning to add to each simulation's config file:

[code]

[2015-01-27 20:49] samreid commented on #196
Can I get a quick microreview of the snippet above before I apply it everywhere @jonathanolson @pixelzoom or @jbphet?  There are a few ways this could have been done, just wanted to get confirmation from someone before I spend time propagating this around.

[2015-01-27 20:55] pixelzoom commented on #196
The snippet being replaced is:

Why is 'bust=' being added?

Does it need to be *new* Date().getTime() ?

I'd prefer to see window.phetcommon.getQueryParameter.

[2015-01-27 21:03] samreid commented on #196
This seems more conventional, see http://requirejs.org/docs/api.html#config-urlArgs and http://stackoverflow.com/questions/8315088/prevent-requirejs-from-caching-required-scripts

Date.now() is a nickname for "new Date().getTime()" starting in ES5 and is supported across our platforms.  See:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/now

Why?  If there a

[2015-01-27 21:28] samreid opened #197 "We need a tweening library for which we can provide dt"
TWEEN.js update method takes a time parameter, but it is not dt.  We should figure how to use TWEEN time argument, or figure out a way to get our tweening to use DT.  This will facilitate things like reproducible playbacks from input events.

[2015-01-27 21:46] #194 closed

[2015-01-27 23:09] pixelzoom commented on #196
Mainly for consistency with other PhET code. query-parameter.js uses `window.phetcommon` throughout. Scenery uses `window.` throughout when referring to globals.  And I've tried to stick to that same convention. I'd like to hear @jonathanolson's opinion.

[2015-01-29 02:49] pixelzoom commented on #173
IDEA 14.0.3 was released. It sadly does not contain fixes for the issues reported herein.

[2015-01-29 06:51] jonathanolson commented on #154
Added back the close button for the Options dialog, but with better positioning (doesn't push content over, and is fitted along the border with an adjustable constant). Will wait to hear feedback on appearance, as it is likely to change.

[2015-01-29 06:54] jonathanolson opened #198 "Modal dialogs aren't modal! (0.2 regression)"
The semi-transparent background that covers the sim does not appear AND does not block input events.

[2015-01-29 06:57] jonathanolson commented on #198
I'm a bit confused, it now appears to be working? Checking built and non-built versions.

[2015-01-29 07:01] jonathanolson commented on #198
No clue what was happening before, will reopen if it occurs again.

[2015-01-29 07:01] #198 closed

[2015-01-29 07:52] jonathanolson commented on #31
Not a problem anymore for latest build and require.js on Nexus 7 (2012) with Firefox 35, closing.

[2015-01-29 07:52] #31 closed

[2015-01-29 07:53] jonathanolson commented on #73
This is fixed by the work in #166, closing.

[2015-01-29 07:53] #73 closed

[2015-01-29 07:58] jonathanolson commented on #193
Completed, closing.

[2015-01-29 07:58] #193 closed

[2015-01-29 08:05] jonathanolson opened #199 "Opening about dialog fires assertion in Input.popFocusContext"
Screenshot of the assertion:
![joist-about-assertion](https://cloud.githubusercontent.com/assets/480878/5954234/1884838c-a752-11e4-8d1e-65977ed5f445.png)

To reproduce, open any sim => PhET Menu => About...

Here's my guess after a very brief look:
1. We pushFocusContext with the PhetMenu's instance after it is opened
2. Click comes in to About..., which removes the PhETMenu from the scene graph.

[2015-01-29 08:09] jonathanolson commented on #187
We're actually getting a new assertion (https://github.com/phetsims/joist/issues/199) from opening/closing the About dialog, but it's related to the PhetMenu.

Additionally, I have no trouble at all closing the AboutDialog with modal: false and hasCloseButton: true, so things may have changed since? Clicking the dialog body or close button works.

Since #199 may be hiding another exception, I'd op

[2015-01-29 08:12] jonathanolson commented on #154
This feature is being used in molecule-shapes, molecule-polarity, charges-and-fields and states-of-matter-basics. I don't see any uncompleted requests here, so I'm closing the issue.

I'd encourage any requests for changes to be made in a new issue that is specific to the change.

[2015-01-29 08:50] jonathanolson opened #200 "Touch bugginess with home-screen thumbnails"
It seems that soon after touching down on a non-selected screen thumbnail it will switch over. Additionally, I'm unable to tap to open a screen (nothing happens).

This behavior is happening on:
iPad 3, iOS 8.0.2 Safari 8 Mobile/12A405
Nexus 7 (2012), Android 4.4.4, FIrefox 35 AND Chrome 40.0.2214.89.
Chrome desktop with mobile device emulation (using touch events).

[2015-01-29 09:58] #200 closed

[2015-01-29 09:59] jonathanolson commented on #200
Was due to the workarounds for https://github.com/phetsims/scenery/issues/333 only handling mouse input.

[2015-01-29 16:58] pixelzoom commented on #154
Reopening. Does anyone else feel that the 'Options' title occupies way too much vertical space? See screenshot below from Molecule Polarity.

![screenshot_197](https://cloud.githubusercontent.com/assets/3046552/5961949/61a360d8-a79d-11e4-8041-0cfa28a8673d.png)

[2015-01-29 17:11] jonathanolson commented on #154
It does bug me a bit, however the vertical spacing should be the same for the top/bottom. Recommended way to fix this?

[2015-01-29 17:42] pixelzoom commented on #154
Looks like this is a general issue with joist.Dialog, not just Options.dialog.

Recommended to make 'Options' look more like a dialog title, with close button to the right. This would be fairly easy to do if we didn't have the titleAlign option. Imo, it should always be centered, so that all dialogs look similar, I don't see a reason to make it configurable.

Here's a sample iOS options dialog. No

[2015-01-29 17:45] pixelzoom commented on #154
Perhaps this discussion (title + close button placement) should be moved to https://github.com/phetsims/joist/issues/166 (crate a Dialog base type)?

[2015-01-29 19:58] jonathanolson opened #201 "Move window.simDisplay to window.phet.simDisplay"
Check for other globals on Sim.js

[2015-01-29 20:43] pixelzoom commented on #166
Moving this from https://github.com/phetsims/joist/issues/154 ... The title and close button need some work, they occupy too much vertical space. For example, here's the Options dialog from Molecule Polarity:

![61a360d8-a79d-11e4-8041-0cfa28a8673d](https://cloud.githubusercontent.com/assets/3046552/5965872/bf56ccf0-a7bc-11e4-8a1c-10e89be6a393.png)

[2015-01-29 20:45] pixelzoom commented on #166
At 1/29/15 dev meeting, there was also discussion about trying this style of close button, like this example from least-squares-regression:

![screenshot_444](https://cloud.githubusercontent.com/assets/3046552/5965907/1451eb2c-a7bd-11e4-80ea-8a694a592815.png)

[2015-01-29 20:46] pixelzoom commented on #154
Moved the discussion of title + close button to #166. Closing.

[2015-01-29 20:46] #154 closed

[2015-01-30 16:29] ariel-phet commented on #190
@pixelzoom where is the appropriate place for this issue to live? We have been talking about some more changes to the about dialog?

[2015-01-30 18:12] pixelzoom commented on #71
In #190, @kdessau-PhET requested:

[2015-01-30 18:12] pixelzoom commented on #190
About dialog refinements are being tracked in https://github.com/phetsims/joist/issues/71. I've moved this request to that issue.

[2015-01-30 18:12] #190 closed

[2015-01-30 21:39] jonathanolson commented on #71
Do we show the button if the brand shows "adapted from PhET"?

[2015-01-30 21:55] pixelzoom commented on #71
Probably not. I'm not even convinced that we really want a "Donate" button that accessible to students.

I'm assuming that we're going to triage all of the features mentioned in the issue before we do any work.

[2015-01-31 00:51] pixelzoom opened #202 "delete sim.scene"
With scenery 0.1, Sim.js created a scenery.scene, and kept it as both a property and a global variable.

With scenery 0.2, Scene was replaced by Display, and Sim.js added a display property and global variable. But the sim.scene (and global) still lives on, replaced with a scenery.Node.

Ditch sim.scene and the associated global.

[2015-01-31 01:04] pixelzoom opened #203 "webglContextLossTimeout query param causes fatal error"
Related to https://github.com/phetsims/joist/issues/202

When run with '?webglContextLossTimeout=1', this line fails in Sim.js:

The console error is:

... where undefined is referring to simulateWebGLContextLoss.

The problem is that Scenery 0.2 no longer has a Scene, and Sim.js replaced it with Node.

[2015-01-31 01:07] pixelzoom commented on #203
timeout to call scene.simulateWebGLContextLoss is called on line 286.
scene is created on line 302.
That seems a bit unwise.

[2015-01-31 01:18] pixelzoom opened #204 "document makeEverythingSlow and makeRandomSlowness"
Globals window.phet.joist.makeEverythingSlow and window.phet.joist.makeRandomSlowness are defined in Sim.js. They have no documentation and don't appear in any other .js or .html files. Please document what they are used for.  And do they below in Sim.js?

[2015-01-31 01:23] pixelzoom opened #205 "delete window.phet.joist.screenshot?"
Sim.js defines global window.phet.joist.screenshot.  It's not referenced in any .js or .html file. Is this vestigial? If so, please delete. If not, please document.

[2015-01-31 01:25] pixelzoom opened #206 "delete Sim options showScreenshotOption and showFullscreenOption"
These appear to be standard features now, and their associated query parameters were commented out. So the options should be deleted, yes?

[2015-01-31 01:30] pixelzoom commented on #202
[1/30/15, 6:02:57 PM] Jonathan Olson: hey what's the reason to get rid of sim.scene?
[1/30/15, 6:03:26 PM] Jonathan Olson: Redundancy since it can be accessed through sim.display.rootNode?
[1/30/15, 6:04:48 PM] Chris Malley: https://github.com/phetsims/joist/issues/203 for example.
[1/30/15, 6:05:06 PM] Chris Malley: don't call it a scene. call it a rootNode if you want to keep it around.
[1/30/15

[2015-01-31 01:32] pixelzoom commented on #202
Renamed sim.scene with sim.rootNode. Assigning to @samreid to review.

[2015-01-31 01:34] jonathanolson commented on #204
First of all, they are used to make sure our sims still behave properly with an artificially higher load (so I can test what happens on desktop at 30fps, 5fps, etc). There tend to be bugs that only happen on less powerful devices, and I added that to both test a sim for robustness, and to allow others (MLL notably has needed to use it for WOAS and another sim) to reproduce the slow behavior bugs.

[2015-01-31 01:35] pixelzoom opened #207 "does sim.rootNode need a reference back to the sim?"
[1/30/15, 6:27:43 PM] Chris Malley: does the rootNode need a reference to the sim?  it's unused. Sim.js line 328:
[1/30/15, 6:27:44 PM] Chris Malley: sim.rootNode.sim = sim; // add a reference back to the simulation
[1/30/15, 6:30:34 PM] Jonathan Olson: Generally no, as long as while I'm debugging (in console) I can get a reference to the sim

[2015-01-31 01:37] jonathanolson commented on #206
I guess it's more of a question of whether we want the ability to disable them on a per-sim basis. I have no problem with removing the options so they are 'always-on'.

[2015-01-31 01:38] pixelzoom commented on #204
Thanks, that's helpful. Would you mind if I document them?

[2015-01-31 01:38] jonathanolson commented on #204
I don't mind at all. Randomness is needed to reproduce bugs that happen when DTs are wildly different, the other one is just constant slowing.

[2015-01-31 01:39] #207 closed

[2015-01-31 01:55] pixelzoom opened #208 "move stuff out of Sim.js"
Sim.js has bloated to 1059 lines. It looks like it was a convenient place to put experimental features, and then those features were never moved elsewhere.

I see the following features in Sim.js. Let's see if we can encapsulate some of these elsewhere.
- [x] fuzzMouse @jonathanolson
- [x] WebGL context loss
- [x] Done button
- [x] data collection @samreid
- [x] profiling @samreid
- [ ] performanc

[2015-01-31 01:55] pixelzoom commented on #204
Documented in https://github.com/phetsims/joist/commit/abe5282f8cac081fc6fbb1fa2a134d7c874fd98a. I 'd like to see these move elsewhere, but that's true for a lot of other stuff in Sim.js.  So I'll wait and address that in https://github.com/phetsims/joist/issues/208.

[2015-01-31 02:40] #204 closed

[2015-01-31 04:47] samreid commented on #206
Yes, let's aim for "always on", and remove the options.

[2015-01-31 11:16] samreid opened #209 "All sims should preload sole/tween.js so that we will have uniform support for animated focus regions across sims"
All sims should preload sole/tween.js so that we will have uniform support for animated focus regions across sims.  See https://github.com/phetsims/scenery/issues/364

[2015-01-31 11:22] samreid commented on #196
@pixelzoom I believe this issue is subsumed by your work in https://github.com/phetsims/tasks/issues/160.  If true, can this issue be closed?

[2015-01-31 11:51] samreid opened #210 "Automatic test harness"
I'd like our team to have an automated test harness that launches each simulation, runs a mouse/touch fuzzer (or some other way of exercising some of the sim functionality) on it and summarizes the results.  It is getting very difficult to know whether common library changes will cause breaking changes in usage sites, and it is time consuming to manually test.  Even knowing if the simulation launc

[2015-01-31 17:13] jonathanolson commented on #196
Review looks fine, I believe window.* is already handled like @samreid mentioned.

I usually just see ?\<number\>, but I don't mind "bust=".

[2015-01-31 17:27] jonathanolson commented on #210
It sounds great to put the sims into an iframe with a fuzzer. We'd presumably want to run with a try-catch around events (Scenery integration?) and the animation frame for this, but we don't want that behavior for normal sim runs. This would help a TON for Scenery development. ?eall might be a better option, unless that slows things down too much.

Additionally if possible, I'd love a tool like Se

[2015-01-31 17:37] jonathanolson commented on #208
I'd like to move fuzzMouse to Scenery, and just leave a single query-parameter check (and the Scenery method on every frame if present).

I don't have strong preferences on the rest.

[2015-01-31 21:02] samreid commented on #208
I think the best pattern to address the issues raised by @pixelzoom above (and other similar issues) is to put hooks into Sim.js so that events are delivered at certain points in its lifecycle.  Then the features above can become require modules that observe the Sim itself for certain events, and act accordingly.  Sim.js is already sending some events for together.js--we may need to instrument it

[2015-02-01 05:55] samreid commented on #201
May be related to https://github.com/phetsims/tasks/issues/160

[2015-02-01 05:58] pixelzoom commented on #201
This is a duplicate of phetsims/tasks#160 and has been done.

[2015-02-01 05:58] #201 closed

[2015-02-01 06:35] samreid commented on #199
@jonathanolson & I should discuss using trails instead of instances for accessibility

[2015-02-01 07:07] samreid commented on #202
The change set looks good and seems to run correctly, I noted one related issue above and I'll close this one.  Thanks @pixelzoom

[2015-02-01 07:07] #202 closed

[2015-02-01 07:08] samreid commented on #203
Context loss handling was handled nicely in webgl-0.1.  Not supported yet in webgl-0.2 (a rewrite with very different strategies).  These flags should be removed or documented as such.

[2015-02-01 07:16] samreid commented on #203
I removed the context loss handling hooks since this is not supported in the new higher performance webgl module.  Once it is introduced, we will probably need to add back similar testing harnesses.

[2015-02-01 07:16] #203 closed

[2015-02-01 07:19] #205 closed

[2015-02-01 07:24] samreid commented on #210
An alternative would be to record a subset of axon Events and Property changes.  Then playing those back, we can see how the model and views respond.  Should be robust against visual style changes but not against internal rearchitecturing of events/properties.

[2015-02-02 03:48] samreid opened #211 "Can we remove ?standalone ?"
The ?standalone query parameter just launches the sim with a single screen.  However, a newer query parameter ?screens=... allows this with much more flexibility.  I recommend we remove ?standalone.  Any reasons not to do so, @pixelzoom @jbphet or @jonathanolson?

[2015-02-02 04:10] samreid commented on #211
Same question for screenIndex.  Since this is public facing, I think using the 1-indexed ?screens seems better.

[2015-02-02 15:59] samreid commented on #199
Was this fixed by phetsims/scenery#369 ?

[2015-02-02 17:15] pixelzoom opened #212 "screenshot feature on IE9 ?"
joist.PhetMenu disables the 'Screenshot' feature for IE9, see:

Is this the longterm plan or a temporary issue? No clues in the code.

[2015-02-02 17:16] samreid commented on #212
I have no idea, I'll ask @jonathanolson, the primary developer for the screenshot feature.

[2015-02-02 17:23] pixelzoom commented on #212
Also... This comment in PhET menu should be deleted, no?

[2015-02-02 17:46] ariel-phet commented on #206
I am not quite sure why these were aimed for "always on" without more discussion. These were "experimental" features that need to be:

1. Tested thoroughly
2. Decide exactly how the UI should work. I am not sure these should be in the PhET menu

It seems we should discuss in developer meeting, but whoever is the right person please put these to "always-off" and perhaps a query parameter that can b

[2015-02-02 17:47] pixelzoom opened #213 "make screenshot and fullscreen features optional (off by default)"
Until testing of these features is complete (https://github.com/phetsims/tasks/issues/25, https://github.com/phetsims/tasks/issues/24) @ariel-phet has asked that these features be turned off by default. So I'm going to restore the query parameters that we lost when joist 0.2 was merged into master.

[2015-02-02 17:52] #213 closed

[2015-02-02 17:53] pixelzoom commented on #206
I had the same questions.

I changed them to be "always off" and restored query parameters that were deleted in the move to joist 0.2. See https://github.com/phetsims/joist/issues/213.

Closing.

[2015-02-02 17:53] #206 closed

[2015-02-02 18:09] pixelzoom commented on #196
The issue of phet.phetcommon.getQueryParameter is indeed resolved by phetsims/tasks#160.   But I don't see urlArgs changed in any config.js files.  So no, this issue cannot be closed.

[2015-02-02 20:08] pixelzoom commented on #208
Decided I don't want to do this. I think the developers who put the features in Sim.js should handle moving them out of Sim.js.  Unassigning.

[2015-02-02 23:04] samreid commented on #196
One more question: should we factor out this logic?  So instead of reading:

[code]

it would read

[code]

With `getCacheBusterArgs` implemented appropriatel?

[2015-02-02 23:53] jonathanolson commented on #196
That sounds nice to me.

[2015-02-03 06:58] jonathanolson opened #214 "Arch fallback global is defined too late in the loading process"
Molecule Shapes: Basics will fail when it tries to load (or from a built version) because window.arch is set in SimLauncher (in require.js), and properties / propertysets can be created/used before then (in any require.js dependency).

We need to decide on where to handle namespaces in general.

[2015-02-03 14:45] samreid commented on #214
Proposed solution committed above.  I also need to add check-arch to all preload matter.

[2015-02-03 15:09] samreid commented on #214
I added the preloads above.  Also, I noticed that about half of the sim html had google-analytics--I removed them (and added this for discussion agenda).  I also removed check-accessibility.js in the above commits, where I saw it.

[2015-02-03 15:09] samreid commented on #214
This work also prompted this issue:
https://github.com/phetsims/phetcommon/issues/23

[2015-02-03 15:10] samreid commented on #214
Reassigned to @jonathanolson to make sure molecule-shapes is good to go, and for discussion.

[2015-02-04 01:17] samreid commented on #196
I added `getCacheBusterArgs` above--wasn't sure if there is a better place for it than query-parameters.js.

Next it needs to be referenced in all config files.

[2015-02-04 01:46] samreid commented on #196
Getting this error after testing the above:

[2015-02-04 02:35] jonathanolson commented on #196
Presumably Node.js will need to be able to execute getCacheBusterArgs, from wherever it is defined (so we shouldn't rely on the existence of 'window' for it).

[2015-02-04 03:50] samreid commented on #196
OK I'll add stubs for Gruntfile.js and commit everything.

[2015-02-04 03:51] samreid commented on #196
I'll skip scenery/dot/kite since they are trying to be phetcommon agnostic, non?

[2015-02-04 03:55] samreid commented on #196
Committed above, would be good for @pixelzoom or @jonathanolson to spot test at least.

[2015-02-04 04:51] samreid commented on #208
I removed the done button in 7dd042a624a6522893720b36f67ff952cd59aa2e

[2015-02-04 05:00] samreid commented on #210
One way to gauge how a simulation is doing is to record the number of assertions passed vs assertions checked.  This could be reported back to the parent frame.

[2015-02-04 07:42] jonathanolson opened #215 "Recommend Timer.clearInterval/clearTimeout doesn't trigger assertion"
window.clearInterval just does nothing if it doesn't recognize the handle (see https://html.spec.whatwg.org/multipage/webappapis.html#dom-windowtimers-cleartimeout).

It's causing assertion failures for 6 different simulations via testing #210, and might be hiding other more important assertion failures.

[2015-02-04 18:45] pixelzoom commented on #196
The first 3 sims I tried (RPAL, BAM, SOMB) have not been updated. Assigning back to @samreid.

[2015-02-04 18:47] pixelzoom commented on #196
The following sims haven't been updated:

BAM
faraday
molecule-shapes
plinko
protein-synthesis
RPAL
resistance-in-a-wire
seasons
smorgasboard
SOMB
SOM
SASS
under-pressure
WOAS

[2015-02-04 18:47] pixelzoom commented on #196
What should we do about non-sim repos that have cache busting in their config.js?  Leave it as the old-style? Remove it?...

[2015-02-04 21:09] samreid commented on #196
How are you determining the list of sims that haven't been updated?  Checking BAM, I see

[code]
in the config file, so it looks like it was updated.  Faraday also has this.  What am I missing?

[2015-02-04 21:17] pixelzoom commented on #196
Do a search in all .js code for "urlArgs: new".  A couple of them are `*-dev-config.js`, but I don't see any reason why those shouldn't be changed too.

[2015-02-04 22:42] pixelzoom commented on #211
Sounds good to me. I've removed screenIndex from my code, and I've never used standalone.

[2015-02-04 22:55] jonathanolson commented on #215
Closing, will open if anyone has objections.

[2015-02-04 22:55] #215 closed

[2015-02-05 01:36] jonathanolson commented on #211
Sounds good to me.

[2015-02-05 01:37] jonathanolson commented on #196
The *-dev-config.js files should be changed also.

[2015-02-05 03:27] jonathanolson commented on #210
Below is a screenshot of the current development:

![joist-test-sims-1](https://cloud.githubusercontent.com/assets/480878/6054497/523a43d8-acab-11e4-8453-5b2c056016fc.png)

Currently the following sims are throwing assertions or out-right failing according to the latest test (makes it hard to test for common-code changes):
### Broken due to Scenery https://github.com/phetsims/scenery/issues/354
ba

[2015-02-05 04:36] jonathanolson commented on #199
Yes, this is now fixed. Thanks!

[2015-02-05 04:36] #199 closed

[2015-02-05 19:17] pixelzoom commented on #166
@ariel-phet and @pixelzoom will triage the feature requirements.

[2015-02-06 04:04] samreid commented on #196
Ah, I see a problem.  Some of my original work didn't get pushed.  Should be pushed now.

[2015-02-06 04:04] samreid commented on #196
@jonathanolson if you *don't* want this in any scenery/dot/kite files please check on them and make sure they are as you desire.

[2015-02-06 17:59] pixelzoom commented on #173
No updated to the IDEA issues in JetBrains' tracking system. I'll leave this issue open and check periodically.

[2015-02-06 19:08] pixelzoom opened #216 "why is joist.SimIFrameAPI totally commented out?"
This looks like a (stale?) copy of together.SimIFrameAPI.  Should it be deleted?

[2015-02-07 02:19] samreid commented on #211
Removed both above.  Closing.

[2015-02-07 02:19] #211 closed

[2015-02-08 21:00] jonathanolson commented on #196
Are there any thoughts on moving that to chipper? Otherwise I'll want to revert repos (like Scenery) that don't depend on phetcommon (see https://github.com/phetsims/scenery/issues/380).

I think we also discussed moving preloads to chipper, which would simplify this significantly. Opinions from @samreid @jbphet @pixelzoom?

[2015-02-08 23:48] pixelzoom commented on #196
Since it's defined in query-parameters.js, I believe that it's moving to chipper, see https://github.com/phetsims/phetcommon/issues/23.

[2015-02-11 05:13] samreid commented on #196
I've moved it to chipper in the issue @pixelzoom mentioned.

[2015-02-11 05:33] #216 closed

[2015-02-11 17:38] bereaphysics opened #217 "Mouse Scrolling moves the screen view and the joist menu in Chrome"
In Chrome version 40.0.2214.111  (windows 7), it is possible to use the  mouse scroll to move the joist menu. This seems particular to this version of chrome, chrome 42 and firefox are fine. To reproduce place a charge (in charges and fields) on the board and generate an equipotential line that extends beyond the screenview. You should be able to use the mouse scroll to get in the state below.

![

[2015-02-11 17:45] bereaphysics commented on #217
I note in passing that is not unique to Charges and fields. Using the scroll button in Least squares regression and Blackbody spectrum, there is a noticable shift in the screenview and joist menu

[2015-02-11 17:53] bereaphysics opened #218 "In IE-11, the bubble menu is very large"
![image](https://cloud.githubusercontent.com/assets/7633344/6152608/c6f3d4de-b1db-11e4-8867-761906c36693.png)

This affects all sims. Firefox and chrome dont display this behavior

[2015-02-11 18:42] jonathanolson commented on #217
Scenery should be calling preventDefault() on mouse scrolls, but I'll check into it since this doesn't seem to occur in Scenery 0.1

[2015-02-11 18:45] bereaphysics commented on #217
For your information, I tested IE-11 as well. No issue with IE. Right now, it is only possible to reproduce this issue with a particular version of chrome.

[2015-02-11 18:54] pixelzoom commented on #218
Which version of Windows and which specific version of IE11?
I don't see this issue with master on Win7 + IE 11.0.9600.17420.

[2015-02-11 19:04] bereaphysics commented on #218
This is from Master and running the requireJS. I have a similar issue when running least squares regression.

Name: Least-Squares Regression

URL: http://localhost:63342/phetsims/least-squares-regression/least-squares-regression_en.html?dev&ea

Version: 1.0.0-dev.6

Features missing: touch, fullscreen

Flags: pointerEnabled, msPointerEnabled, pixelRatioScaling

User Agent: Mozilla/5.0 (Windows NT

[2015-02-11 20:03] jonathanolson commented on #217
@bereaphysics, can you pull the latest Scenery and test? I believe it's fixed.

[2015-02-11 20:08] jonathanolson commented on #218
I'm also unable to reproduce, unless I change my zoom settings. Can you see if your zoom is at 100%?

[2015-02-11 20:08] jonathanolson commented on #214
Molecule Shapes is working well, thanks!

[2015-02-11 20:08] #214 closed

[2015-02-11 20:27] bereaphysics commented on #217
Thank @jonathanolson . That fixes it. Closing

[2015-02-11 20:27] #217 closed

[2015-02-11 20:39] bereaphysics commented on #218
You are correct @jonathanolson. It has to do with with amount of zoom. I must have changed the zoom factor accidentally. It behaves fine if the zoom is at 100%.

[2015-02-11 23:27] jonathanolson commented on #218
It looks like the PhetMenu doesn't resize with the rest of the sim - presumably it should? I'll create an issue for it.

[2015-02-11 23:28] jonathanolson opened #219 "PhetMenu isn't scaled the same way sims are?"
Seems like it would be nice to have it scale with the sim, so it's not ridiculously big on small resolutions, or ridiculously small on high resolutions.

Also would prevent https://github.com/phetsims/joist/issues/218

[2015-02-12 02:52] bereaphysics commented on #218
Upon inspection, this issue is not proper to IE but present across all browsers. It has to do with the zoom being a very large.  Only PhetMenu is affected by the zoom. This is better adressed in #219, so closing.

[2015-02-12 02:52] #218 closed

[2015-02-12 20:56] samreid commented on #219
@aaronsamuel137, could you investigate this?

[2015-02-13 01:25] pixelzoom opened #220 "focusable should be handled in JoistButton"
`focusable:true` is currently set in HomeButton and NavigationBarScreenButton, both of which are subtypes of the more general JoistButton.  This should be handled in JoistButton, no?

[2015-02-13 06:36] samreid commented on #220
Yes, I think that would be best.

[2015-02-13 15:57] aaronsamuel137 commented on #219
I'm noticing that this doesn't happen in older published sims, such as the deploy version of color-vision.

[2015-02-13 17:13] aaronsamuel137 commented on #219
Actually, it does happen, it just won't resize dynamically as you zoom the browser, it will only take effect after closing the bubble and opening it again. In current master, it will rescale as you're zooming.

[2015-02-17 19:59] #220 closed

[2015-02-17 20:39] samreid commented on #219
@aaronsamuel137 & I looked into this and discovered the problem.  The Sim.topLayer wasn't being scaled and hence none of the dialogs were being scaled by default.  We decided to add scaling to Sim.topLayer.  Content (including dialogs) will be automatically resized, but they will have to update their own location, accounting for the new scale factor.

We fixed occurrences we saw in Joist, includin

[2015-02-17 20:43] samreid commented on #219
@aaronsamuel137 & I pushed fixes above.  Reassigning to @pixelzoom, @jonathanolson or @jbphet to review our changes.

[2015-02-17 21:34] pixelzoom commented on #219
Will all Options dialogs behave properly?

[2015-02-17 21:35] samreid commented on #219
Not if they provide a broken `layoutStrategy`

[2015-02-17 21:45] pixelzoom commented on #219
Tested About and Options dialogs in Molecule Polarity, and all seems well. But I have never experienced this issue firsthand, so I'm not confident that I'm testing correctly. Who initially reported this problem? Perhaps it would be best to have that person verify.

[2015-02-17 21:53] samreid commented on #219
Looks like @phetsims/bereaphysics noticed this in #218.  Martin, can you take a look?

[2015-02-17 21:54] samreid commented on #219
By the way @pixelzoom you can see the problem by launching http://phet.colorado.edu/sims/html/reactants-products-and-leftovers/latest/reactants-products-and-leftovers_en.html pressing the PhET button and then pressing CMD+ and CMD-

[2015-02-17 22:01] pixelzoom commented on #219
That's not what I tested, and I never would have guessed to do that. That behavior does appear to be corrected by the fix.

[2015-02-17 23:34] bereaphysics commented on #219
I've tested it across all the browsers. That fixes it. Thanks. Closing

[2015-02-17 23:34] #219 closed

[2015-02-24 04:02] ariel-phet commented on #71
More thoughts from @kathy-phet

1) For "PhET Regular HTML Simulation Files" (the minified files), it would be nice if the about dialog had the CC-BY image, so its clearly CC-BY. Text can be small.
"This is a PhET Regular HTML Simulation File."
![ccby](https://cloud.githubusercontent.com/assets/4051174/6343048/4484a1fe-bb9f-11e4-9b19-475080ee570a.png)

2) The "PhET Enhanced HTML Simulations Files"

[2015-02-24 16:15] pixelzoom commented on #71
@ariel-phet Can you clarify what "Regular" versus "Enhanced" is?  And do you really want those terms to be public facing?

[2015-02-24 22:32] pixelzoom commented on #210
In case anyone else is wondering how to use this... Here's info from a Skype conversation with @jonathanolson.  This is as of 2/24/15.

To run the tests:

1. Go to `joist/tests/` in the console and type `node build-server.js`
2. Visit `joist/tests/test-sims.html` in the browser

All sims that are in chipper/data/active-sims will be tested.

Left to right, the little colored squares are: "run with

[2015-02-24 22:55] pixelzoom commented on #208
So much for a moratorium on adding more stuff to Sim.js.   Since I opened this issue, together initialization and hooks for build-sever have been added.

[2015-02-24 23:32] pixelzoom commented on #165
The PhET code-style was moved to GitHub on 9/27/17. It lives in joist/util/phet-idea-code-style.xml.

Closing.

[2015-02-24 23:32] #165 closed

[2015-02-24 23:34] pixelzoom commented on #163
At 2/17/15 UX design meeting with @ariel-phet, the proposal was to credit translators on the PhET website, but not in the About dialog. This allows us to avoid the issue of how to credit multiple translators, sim vs common-code translators, etc.  Assigning to @ariel-phet to clear this with @kathy-phet.

[2015-02-24 23:38] pixelzoom commented on #153
All common-code query parameters are documented in initialize-globals. Closing.

[2015-02-24 23:38] #153 closed

[2015-02-24 23:40] pixelzoom commented on #94
PushButton no longer exists, replaced by new sun buttons. Closing.

[2015-02-24 23:40] #94 closed

[2015-02-24 23:44] pixelzoom commented on #75
This issue is now being tracked in https://github.com/phetsims/website/issues/73.

[2015-02-24 23:44] #75 closed

[2015-02-24 23:49] pixelzoom commented on #55
This has been fixed for awhile. Closing.

[2015-02-24 23:49] #55 closed

[2015-03-03 17:28] pixelzoom opened #221 "rootRenderer query parameter"
This will override the scenery renderer for Sim.rootNode.

3/3/15 developer meeting notes:

SR: use joistRenderer=... as a query parameter?

JO: This would be helpful for me

CM: Do you want the query parameter to override the sim? It currently does not in some cases, eg new Sim(..., { joistRenderer: ‘svg’ } )

SR: example: ScreenView.call( this, { renderer: Sim.joistRenderer, layoutBounds: Forces

[2015-03-03 21:36] pixelzoom commented on #180
@samreid and @jonathanolson Is this issue still relevant?

[2015-03-03 21:37] pixelzoom commented on #160
@samreid Is this still relevant, or can it be closed now that we're using sun buttons?

[2015-03-03 21:38] pixelzoom commented on #142
@jonathanolson can this be closed?

[2015-03-03 21:39] jonathanolson commented on #142
Looks like it was ported, closing.

[2015-03-03 21:39] #142 closed

[2015-03-03 21:46] pixelzoom commented on #210
Recommended to move the build server (stuff in joist/tests/) to chipper.

[2015-03-03 21:48] pixelzoom commented on #145
Assigning to myself to see if I can resolve this stalled issue.

[2015-03-03 21:50] pixelzoom commented on #108
I'm guessing this can be closed now that we have mipmapping. @jonathanolson please confirm, and close if mipmapping addresses this issue.

[2015-03-03 21:53] pixelzoom commented on #191
This is still a bug, fix I proposed (https://github.com/phetsims/joist/issues/191#issuecomment-70032224) has not been implemented.

[2015-03-03 21:59] pixelzoom opened #222 "color inversion feature needs to be cleaned up"
As I noted in https://github.com/phetsims/joist/issues/191#issuecomment-70032427 ...

@samreid also noted in https://github.com/phetsims/joist/issues/191#issuecomment-70382536:

[2015-03-03 22:00] pixelzoom commented on #191
Color-inversion issues moved to https://github.com/phetsims/joist/issues/222.

[2015-03-03 22:01] jonathanolson commented on #210
That sounds good to me, I'll add it to my list.

[2015-03-03 22:02] pixelzoom commented on #191
I'm going to implement the fix that I proposed. gravity-and-orbits is broken (see https://github.com/phetsims/gravity-and-orbits/issues/139) so I can't test there.  But molecule-shapes exhibits this same problem, so I'll use that to verify.

[2015-03-03 22:07] pixelzoom commented on #191
Fixed as proposed. Assign to @jonathanolson to verify.  You can verify using 1 sim that has an inverted navbar (e.g.  molecule-shapes) and one that has a black navbar (e.g. RPAL).

[2015-03-03 22:14] pixelzoom commented on #195
I checked a few sims and don't see any problems. Closing.

[2015-03-03 22:14] #195 closed

[2015-03-03 22:16] pixelzoom commented on #196
@samreid @jonathanolson I can't tell if there's anything left to do in this issue, or if it can be closed. Can either of you please clarify?  If there's remaining work, please summarize. Thanks.

[2015-03-03 22:19] pixelzoom commented on #187
#199 is now closed, I don't see a dialog in least-squares-regression (other than About), and I can't reproduce this issue in other sims with dialogs (e.g. molecule-polarity).

@bereaphysics can you verify? If it's no longer an issue, please close. Otherwise please enumerate steps to reproduce.

[2015-03-03 22:21] jonathanolson commented on #196
I believe the sim work is done. I can't move certain common repos over to use it (see https://github.com/phetsims/scenery/issues/380), but it can live in that issue, so I'll close here.

[2015-03-03 22:21] #196 closed

[2015-03-03 22:22] pixelzoom commented on #163
@ariel-phet bump

[2015-03-03 22:52] pixelzoom opened #223 "Sim is responsible for adding critical Screen properties"
While reviewing the `together` repo, I wondered about this bit of code in joist.Screen:

[code]

Screen's constructor shows no this.model or this.view.

Hours later, I stumbled across this in Sim.js while working on a joist issue:

[code]

It seems very odd (ok, wrong) that Screen isn't handling this in its constructor, and that Sim is responsible for adding these crucial fields.  Any instance of

[2015-03-03 22:56] bereaphysics commented on #187
Yes it is still present. The Dialog doesn't exist anymore in least squares regression but it can be reproduce in molecules-and-light which invokes Dialog in SpectrumWindows.js. (https://github.com/phetsims/molecules-and-light/blob/master/js/moleculesandlight/view/SpectrumWindow.js)

In SpectrumWindow.js, change line 473
hasCloseButton: false
 to
hasCloseButton: true,

Run the sim and click on the

[2015-03-03 23:12] jonathanolson commented on #210
On that note, I'm not sure about the most natural location for it. chipper/bin makes the most sense, but it's JS. Doesn't fit in grunt/requirejs-plugins directory, but chipper/js (no sub-directory after) could work.

Thoughts @pixelzoom?

[2015-03-03 23:16] ariel-phet commented on #163
I will see if I can catch @kathy-phet 's ear this week.

[2015-03-03 23:20] pixelzoom commented on #145
I factored out the duplicate code, so (1) above is resolved.  I haven't heard of (2) above being an issue yet, so I think we can safely ignore it and create a new issue if it every happens. So... closing this issue.

[2015-03-03 23:20] #145 closed

[2015-03-03 23:21] jonathanolson commented on #191
Looks good, tested on Molecule Shapes (both color modes) and RPAL. Thanks!

[2015-03-03 23:21] #191 closed

[2015-03-03 23:23] pixelzoom commented on #210
chipper/js/build-server/  ?

[2015-03-03 23:24] jonathanolson commented on #191
Also a note that it's a bit weird that the currentScreen isn't some sort of home screen (as the HomeScreen is a ScreenView).

[2015-03-03 23:25] jonathanolson commented on #222
Renaming and cleaning up sounds good. It needs to handle the case when a screen changes its background color (and its colors should be standard) and controls a number of colors, so I'm not sure I like a 'navbarFillProperty'.

[2015-03-03 23:29] jonathanolson commented on #108
Confirmed, although it's up to each sim to do it. Closing.

[2015-03-03 23:29] #108 closed

[2015-03-03 23:29] jonathanolson commented on #210
Like chipper/js/build-server/server.js?

[2015-03-03 23:31] pixelzoom commented on #187
Would be good to fix the sim-specific problem (trying to hide twice).
How about also making Dialog.hide/show be no-ops if the dialog is already hidden/shown?

[2015-03-03 23:33] jonathanolson commented on #160
Balancing Act (3 screens) has a significantly smaller number of nodes, and with Scenery 0.2 the default is to not include the home screen in the SVG DOM when it isn't visible. I'd think this isn't the pain point it once was.

[2015-03-03 23:34] jonathanolson commented on #187
Sorry, that's what I was trying to say with this:

1. We don't hide it if it isn't shown.
2. We don't show it if it is already shown.

That would solve everything, since the SpectrumWindow listener is calling hide().

[2015-03-03 23:37] pixelzoom opened #224 "Screen isn't a Screen"
As noted in https://github.com/phetsims/joist/issues/191#issuecomment-77062005, it's odd that HomeScreen is not a Screen, it's a ScreenView.  Consider renaming it.

Also in Sim, we have this bit of weirdness:

[code]

"which is NOT a Screen"?... Then why is it's type {Screen} and why is it named current*Screen* ?!?

[2015-03-03 23:39] pixelzoom commented on #191
Bothers me too, and doesn't seem to be any good read for the bogus naming. Noted in https://github.com/phetsims/joist/issues/224.

[2015-03-03 23:41] pixelzoom commented on #210
That would be OK. Not sure what we want to call this testing tool longterm, maybe something more specific than build-server, but I don't have a better name.

[2015-03-03 23:42] jonathanolson commented on #210
My understanding was just moving the node.js server, not the front end. Is that what you were mentioning? (It's only 1 file).

[2015-03-03 23:42] pixelzoom commented on #210
When I think of a 'server', I think of something that is running continuously. Is that the intention of this tool?  Or is it intended to be fired up when you want to make sure that all sims build and run?

[2015-03-03 23:42] pixelzoom commented on #210
Where would the front end live?

[2015-03-03 23:44] pixelzoom commented on #187
Sounds good to me.

[2015-03-03 23:49] pixelzoom commented on #143
Still as problem after scenery 0.2 upgrade, with FF 36.0 and Mac OS 10.10.2.

[2015-03-03 23:52] samreid commented on #223
Screen arguments are createModel, createView to give us flexibility for loading.

Yes, that is one benefit, but could be handled elsewhere (say if Sim's constructor is redesigned to be given an array of createScreen functions).  But generally it was designed this way so that we could control when loading occurs--for instance, if we have a 4-screen simulation, then we could show a loading bar that

[2015-03-03 23:54] samreid commented on #223
One more point: I am not interested in making sims launch more slowly when using the ?screens parameter--that has been very nice for iteration during development of many projects.

[2015-03-04 00:04] pixelzoom commented on #99
Not a problem in IE11.  I don't have an IE10 test machine, can someone test whether this is still an issue?

[2015-03-04 00:08] pixelzoom commented on #223
Not a fan of objects that are broken after construction, that typically indicates a design problem, and Sim/ScreenView are too foundational for that. How about a design that defers instantiation of ScreenViews until they are needed?

[2015-03-04 00:10] pixelzoom commented on #223
Defining the fields in ScreenView would be much better than having part of its API definition hidden in Sim.  But I'm not a fan of objects that are broken after construction, that typically indicates a design problem, and Sim/ScreenView are too foundational for that. How about a design that defers instantiation of ScreenViews until they are needed?

[2015-03-04 00:25] pixelzoom commented on #223
A few brainstorming ideas, based on reactants-products-and-leftovers-main.js ...

[code]
 Hmm... But looking at ForcesAndMotionBasicsSim, none of the above may work, looks like `together` API is going to require a Sim subtype with a field for each ScreenView.

[2015-03-04 00:34] samreid commented on #223
I presume that every occurrence of ScreenView in the above comment should be Screen, please correct me if I misunderstood.

[2015-03-04 00:35] pixelzoom commented on #160
Using phet.joist.sim.display.popupDebug(), it looks like energy-skate-park-basics has 36 nodes on its home screen (if I'm interpreting correctly). That's down from 206, and seems reasonable.

[2015-03-04 00:37] pixelzoom commented on #223
Yes, ScreenView should have been Screen. But one can never be sure (https://github.com/phetsims/joist/issues/224). Fixed in above examples.

[2015-03-04 00:58] samreid commented on #221
I replaced joistRenderer with rootRenderer above.  Next, I will look for renderer:'svg' on screen views and remove them.

[2015-03-04 01:12] samreid opened #225 "renderer:'svg' interferes with rootRenderer"
Discovered during #221:

renderer:’svg’ occurs in many many places.  Can/should someone go through and remove those?  It will generally interfere with ‘rootRenderer’.  The only renderer:’svg’ that I can think of that we must keep are where (a) it won’t work with other renderer or (b) parent was canvas and child must be set back to svg.  Those seem somewhat rare.  Let's discuss.  I put it on the ag

[2015-03-04 01:13] samreid commented on #221
OK I removed renderer:'svg' from all of the ScreenViews that I could find and opened related issue #225.  Can @jbphet @jonathanolson or @pixelzoom take a look at what's been done here?

[2015-03-04 03:18] samreid commented on #188
Is this what you had in mind? 1e6d282 Or do you want to bundle the information into an object literal?  Should the credits be in a new options parameter since it is apparently optional?

[2015-03-04 03:22] samreid commented on #208
From the original list, Done button is now gone--but perhaps other data collection features should get rearranged?

[2015-03-04 03:47] samreid commented on #224
Perhaps it would be a good move to rename HomeScreen to HomeScreenView, then to create a new thing called HomeScreen which extends Screen and has HomeScreenView as its view, and a trivial model.  This could uniformify (sp?) things.  Thoughts @pixelzoom ?

[2015-03-04 05:05] samreid commented on #222
I wasn't sure why @jonathanolson concluded "I'm not sure I like a navbarFillProperty", can you elaborate?  What if it was just an enum pattern with possible string values `white` or `black`?

[2015-03-04 05:10] jonathanolson commented on #222
If it has the same functionality, because it's not just the navbar fill that changes? (e.g. in Molecule Shapes, it's called "Projector Mode" not "White Navbar Mode").

[2015-03-04 05:14] jonathanolson commented on #210
I was using "server" in the "it serves responses to requests" sense, since it opens up a service on a port. It was written so that it could be used either running continuously or whenever we need.

I'm happy to move everything to chipper if that's convenient (including the HTML/JS).

[2015-03-04 05:22] samreid commented on #223
I investigated this strategy:

[code]

But it seems too risky since it does not make the model + view construction time explicit--may get done lazily right when clicking on a homescreen icon which would cause a major lag.

[2015-03-04 05:25] samreid commented on #223
It would be good to get @jonathanolson @jbphet @aaronsamuel137 thoughts on this matter.

[2015-03-04 17:08] pixelzoom commented on #221
This logic is incorrect, the query parameter should override all other settings (default and options). It's also preferable to set the default ('svg') in the default options.

Checked in fix above, @samreid please review.

[code]

[2015-03-04 17:13] pixelzoom commented on #221
Reviewed the changes to my sims and tested a few, looks good.

[2015-03-04 17:53] samreid commented on #221
The logic fix seems good, thanks for your review.  Closing.

[2015-03-04 17:53] #221 closed

[2015-03-04 18:17] pixelzoom commented on #224
That sounds like a nice, uniform approach.

[2015-03-04 19:36] jbphet commented on #223
IMO, the benefits of faster single screen init and the possibility of a stepping loading bar are worth a bit of trouble.  My general inclination would be to have the screens construct themselves with the values set to null or some other reasonable values that will not cause badness if accessed by the framework without initialization.  Also, it would be more "framework-ish" if the framework expecte

[2015-03-04 20:24] samreid commented on #180
@jonathanolson & I looked through SimIFrame API and we have moved relevant issues to together/arch my personal TODO list, etc.  Closing.

[2015-03-04 20:24] #180 closed

[2015-03-04 20:25] samreid commented on #160
I think we're done here, closing.

[2015-03-04 20:25] #160 closed

[2015-03-04 20:28] samreid commented on #222
What about calling this the "theme"?  The sim theme could be black, white or something else?

[2015-03-04 20:44] samreid commented on #222
I'm investigating factoring out a LookAndFeel instance, which will be a member of Sim, starting with the preliminary step of modeling the fill of the navigation bar.  Once things are working and refactored, we can decide on names, etc.

[2015-03-04 20:45] kathy-phet commented on #163
I am feeling a bit uneasy with removing the credit from the sim, since these translators do do a lot for us for free, and giving visible credit is a nice acknowledgement of that important contribution. We saw that in our groups own response to changing the credit dialog.

I would consider a compromise (describe below), depending on feedback from the translators.

The propose compromise would be to

[2015-03-04 20:53] samreid commented on #222
In the above commits, I created and factored out LookAndFeel.  I tested with a light sim and a dark sim, and did not see any issues.  But @jonathanolson @jbphet @pixelzoom @aaronsamuel137 and @bereaphysics should be on the lookout for issues that may have been introduced here.

[2015-03-04 20:59] samreid commented on #222
I'd also like to move backgroundColor to the LookAndFeel, instead of having it be ethereal in Sim.js.

[2015-03-04 22:03] jonathanolson commented on #187
@bereaphysics, can you verify that the change above fixed your issue?

[2015-03-04 22:55] bereaphysics commented on #187
Yes it fixes it . closing

[2015-03-04 22:55] #187 closed

[2015-03-04 23:44] jonathanolson commented on #143
Comparison to Win7 (top IE, middle Chrome, bottom FF):
![scenery-win-text-spacing](https://cloud.githubusercontent.com/assets/480878/6496086/d61f203c-c28c-11e4-8949-0c793ba311c1.png)

Introduction text bounds in Acid-Base Solutions can be accessed with ```phet.joist.display._rootNode.children[3].children[3].children[0].children[0].children[1].selfBounds.toString()```

Win7 Chrome: [x:(0,55),y:(-9,

[2015-03-04 23:54] pixelzoom commented on #223
How about this pattern for Screen? It makes Screen responsible from model and view creation, and performs that creation on demand.

[code]

[2015-03-04 23:56] jonathanolson commented on #143
OS X 10.9.5 Chrome: [x:(0,52.255859375),y:(-8,2)]
OS X 10.9.5 Firefox: [x:(0,52.13333511352539),y:(-7.75,2.3000001907348633)]
OS X 10.9.5 Safari: [x:(0,55),y:(-9.703125,2.3125)]

[2015-03-05 00:00] pixelzoom commented on #143
What's the conclusion from the above numbers?

[2015-03-05 00:01] jonathanolson commented on #143
OS X Chrome text with bounds:
![screen shot 2015-03-04 at 4 58 31 pm](https://cloud.githubusercontent.com/assets/480878/6496353/11a22ef8-c290-11e4-83cb-0de750702e04.png)
OS X Firefox text with bounds:
![screen shot 2015-03-04 at 4 59 29 pm](https://cloud.githubusercontent.com/assets/480878/6496358/1eceed46-c290-11e4-8611-a074e2290247.png)

[2015-03-05 00:10] jonathanolson commented on #143
OS X Chrome top, Firefox bottom
![screen shot 2015-03-04 at 5 08 53 pm](https://cloud.githubusercontent.com/assets/480878/6496461/3e6ba92c-c291-11e4-865a-b9592b57ef28.png)

OS X Safari:
![screen shot 2015-03-04 at 5 09 05 pm](https://cloud.githubusercontent.com/assets/480878/6496467/4c4d6df0-c291-11e4-8e8c-946176acd183.png)

[2015-03-05 00:19] jonathanolson commented on #143
OS X Safari text with bounds:
![screen shot 2015-03-04 at 5 19 01 pm](https://cloud.githubusercontent.com/assets/480878/6496563/a120b9e4-c292-11e4-938a-7114cf3c9b1b.png)

[2015-03-05 00:23] jonathanolson commented on #143
Conclusion so far:

Original screenshot is probably a comparison between Safari and Firefox. Safari reports the largest height (~11.83) and Firefox reports the smallest height (~10.05). Since it's using the default font (10px sans-serif) and requesting no padding in the VBox, I'd say Firefox is doing the best at putting the text next to the image.

To me, it looks like Safari renders text smaller

[2015-03-05 00:30] jonathanolson commented on #143
Planning to wait for investigation in https://github.com/phetsims/scenery/issues/382 unless this is high-enough priority to look at before.

[2015-03-05 01:07] samreid commented on #223
This is the same as the method I proposed about 5 comments ago (please see the comment begininng with the text "I investigated this strategy:") and it suffers from the same problems I identified there:

[2015-03-05 04:42] samreid commented on #223
In the above commit, I am creating the model & view within Screen.js, with a public API for triggering their creation, and additional documentation, asserts, etc.  This feels like a step in the right direction--should we make any further changes?

[2015-03-05 05:22] samreid opened #226 "Move sim.simModel properties to the Sim properties"
There are currently two disjoint propertysets making up each Sim.  There is no good reason for the separation (cause is vestigial), and they should be merged.

[2015-03-05 05:28] samreid commented on #226
Fixed above, would be good for @jonathanolson @pixelzoom @jbphet or @aaronsamuel137 to take a look around since this is central joist code.

[2015-03-05 05:31] samreid commented on #224
I've moved many things toward the "HomeScreen is a Screen with a HomeScreenView" approach, but noticing that in many cases it has special treatment and cannot be treated uniformly with the other sim content screens.  For instance, we must keep track of which sim content screen should be highlighted in the HomeScreenView (but not allowing the HomeScreen to highlight itself).  The navigation bar ico

[2015-03-05 05:38] samreid commented on #224
I guess the biggest inconsistency now is code like this:

[code]

This says that the currentScreen is null if the home screen is selected.  Perhaps this should be rewritten so that:
a) it refers to a currentContentScreen (where content means a screen other than the homescreen)
b) set the selected screen to be the home screen instance

b) is probably a better long term solution if it is technically

[2015-03-05 05:39] samreid commented on #224
Another point related to the above comment: we cannot always mix HomeScreen in with the other screens--it is a special case for several concerns (see a few comments back).  But we could have allScreens and contentScreens fields?

[2015-03-05 05:40] samreid commented on #224
This seems like a good point to have @pixelzoom review and advise.

[2015-03-05 05:42] samreid commented on #222
I moved backgroundColor to the LookAndFeel, and made everything else derived property.  Seems much clearer now.  I still have a bit more cleanup to do for the icons + highlighting.

[2015-03-05 06:00] samreid commented on #222
I have cleaned up many of the issues pertaining to the color by factoring out a LookAndFeel and using that as the basis for deriving visible properties.  However, this comment is somewhat vague:

and I'm not sure what else I should address.  Can @pixelzoom take a look?

[2015-03-05 06:00] ariel-phet commented on #163
@kathy-phet and I discussed this briefly, and although not clear from our original description the plan was to always have a link in the sim to translation credits. We obviously value our translators and want to credit them, it just might cause a fair bit of complexity to keep that credit up to date within the sim itself. More discussion to come...

[2015-03-05 06:19] samreid commented on #188
HomeScreen & HomeScreenView use so many parts of sim that passing in the entire sim instance may be warranted.

[2015-03-05 06:31] samreid commented on #188
Likewise, PhetMenu.js is making 11 distinct API calls on Sim.js (some more than once).  Does this mean we should pass in 11 separate arguments into the PhetMenu constructor?  I suspect not, but just want to ping @pixelzoom and find out where he draws the line, or whether there is another solution.

[2015-03-05 06:41] samreid commented on #188
I removed sim from many places.  It is still in the following places, which may be warranted.  Let's discuss it:

1. HomeScreen -> HomeScreenView
2. PhetButton
3. NavigationBar
4. PhetMenu

Leaving assigned to @pixelzoom for discussion.

[2015-03-05 17:21] pixelzoom commented on #163
Note: Provide ability to be "anonymous" wrt translation credits. Perhaps specify this when they create their login.

[2015-03-05 17:24] pixelzoom commented on #163
Notes from 3/5/15 status meeting discussion:

- @oliver-phet will ping key translators to see how they feel about this issue.
- No consensus on what the website "translation credits" should look like, but...
- One idea for website: list all translators by locale, in alphabetical order, click on their name to see details about them and what specific things they contributed to (sim names & "common c

[2015-03-05 17:58] pixelzoom commented on #223
Looks good, I can live with this.

Recommended to add @private where appropriate. Definitely for tthis._model, this._view. Unclear what the intention is for initializeModel, initializeView.

[2015-03-05 18:02] pixelzoom commented on #223
I noticed a couple of other things, so I made the changes for annotations and an additional assertion.

Back to @samreid for review.

[2015-03-05 18:04] pixelzoom commented on #223
If Screen.initializeModel and initializeView are private, how about combining them into initializeModelAndView, and rename initializeModelAndView to initialize?

[2015-03-05 18:06] samreid commented on #223
I'm leaving them all as public in case in the future we want to give the client more control over the creation process, such as for showing a progress indicator during loading.

[2015-03-05 18:06] samreid commented on #223
Anything else for this issue?  Close if not.

[2015-03-05 18:10] pixelzoom commented on #223
Sounds good, closing.

[2015-03-05 18:10] #223 closed

[2015-03-05 20:38] pixelzoom commented on #225
I removed `renderer: 'svg'` from under-pressure.UnderPressureView (a ScreenView subtype), looks like it was missed #221.  I also removed it from under-pressure.*PoolView, looks unnecessary there. Tested and I didn't see any issues.

[2015-03-05 21:50] pixelzoom commented on #226
Assigning to me since @jonathanolson is on vacation.

[2015-03-07 05:34] samreid commented on #208
I'm about to add a proposed replacement for Sim.getStateJSON called Sim.togetherState.  Sorry!  Once the new one is tested/discussed/debugged/etc, we can delete the old one.

[2015-03-09 17:39] pixelzoom commented on #226
The 2 properties in question were homeScreen and screenIndex. Change looks good to me. Closing.

[2015-03-09 17:39] #226 closed

[2015-03-09 18:06] pixelzoom commented on #224
I'm OK with the remaining warts that this approach has. The only approach I can think of that might smooth things out is add the HomeScreen to the beginning of @param {Screen[]} screens, so that screens[0] is the home screen. But that has other warts: may require `instanceof HomeScreen`; would only be added when screens.length > 1; ... So I don't think that's worth the effort to investigate.

[2015-03-10 16:13] pixelzoom commented on #225
Sims that are setting renderer include:

[code]

Consensus at 3/10/15 developer meeting: No need to eagerly solve all of these now. But @jonathanolson & @samreid  can address them as they come across them without consulting with the original developers.  If anyone wants to eagerly fix these, feel free.

[2015-03-10 16:16] bereaphysics commented on #225
That takes care of blackbody-spectrum and least-squares-regression on your list.

[2015-03-10 22:59] pixelzoom commented on #222
This looks much better.

I would rename LookAndFeel to something like "theme" or "color scheme", because "look and feel" is too broad. From Wikipedia:

Unnecessary coupling is demonstrated in HomeButton, NavigationScreenButton, PhetButton, JoistButton. They require only navigationBarFillProperty, but they are passed the entire LookAndFeel.

Undocumented assumptions and flawed logic:

(1) The navba

[2015-03-11 00:16] samreid commented on #224
As I mentioned before,

So for me, this is an important reason not to mix it in with the other Screens.

Anything else to do here before closing?

[2015-03-11 02:47] samreid commented on #222
Do you think this object (whatever its name) will eventually accumulate features that are looky-feely?  Even if right now, it is only about colors, perhaps in the future we will want to change more features as described in the "Look and Feel" definition?

[2015-03-11 02:51] samreid commented on #222
If in the future, the entire LookAndFeel is providing more information than just colors (say it is fonts + styling, etc) then they may need the entire LookAndFeel, or at least more components from it.  Still, for now, I'll pass in only what is necessary.

[2015-03-11 04:30] samreid commented on #222
Would @pixelzoom prefer to (a) document existing enum-style pattern, (b) additionally factor out string constants 'white' and 'black' or (c) switch to using Color instances?

I cannot say for certain whether we will eventually need different navbar colors--but in any case, I think `inverted` as a terminology was a mistake, because it doesn't indicate what it was inverted from and assumes but does

[2015-03-11 04:34] samreid commented on #209
We will probably be using native browser focus regions, closing.

[2015-03-11 04:34] #209 closed

[2015-03-11 04:36] samreid commented on #197
We are now considering doing playback/record based on saveState/loadState.  So this may be a non-issue.  Reopen if I'm wrong!

[2015-03-11 04:36] #197 closed

[2015-03-11 04:45] samreid commented on #183
No plans to work on this in the near future, unassigning.

[2015-03-11 04:46] samreid commented on #179
@ariel-phet any other investigation/discussion/work desired here?

[2015-03-11 04:52] samreid commented on #137
@bryo5363 can you test this issue in a recently published sim, such as Reactants Products and Leftovers?

[2015-03-11 04:54] samreid commented on #168
No plans to work on this at the moment.  Low priority but others feel free to work on this if you want.

[2015-03-11 04:57] samreid commented on #134
I no longer see this issue in Joist.  Closing.

[2015-03-11 04:57] #134 closed

[2015-03-11 04:59] samreid commented on #103
Save/Load features have been moved to the together repo, but we can still provide access to it through Sim.

[2015-03-11 16:21] pixelzoom commented on #224
@samreid wrote:

Nope. Closing.

[2015-03-11 16:21] #224 closed

[2015-03-12 17:15] samreid commented on #208
I'm going to need @jonathanolson's help on the features for which he was the primary developer.  I'll mark the original comment with @jonathanolson attributions where they seem appropriate.  @jonathanolson let me know if you'll be able to work on those.

[2015-03-12 19:48] samreid commented on #208
I can still move these things out:

[code]

Would be good to discuss with @jonathanolson where the screenshotting capability should lie.

[2015-03-12 20:22] jonathanolson commented on #208
Should we have a SimView that is responsible for the visual Scenery display separate from Sim.js?

It would help if I was more clear what Sim.js was for, so I could know what specifically should be moved out.

[2015-03-13 04:44] samreid commented on #208
I moved several more features out of Sim.js.  Reassigning to @jonathanolson to work on the rest.

[2015-03-13 04:44] samreid commented on #208
Also, @pixelzoom feel free to review the parts I have already worked on.

[2015-03-13 04:47] samreid commented on #208
That seems like a great idea for the long run.

Ideally just a container for the screens and PropertySet indicating which screen is selected.  SimView could manage the navbar, homescreenview, etc.  Maybe some of the startup features (including query parameter processing) could/should be moved to SimLauncher?

[2015-03-13 05:06] samreid commented on #208
Anyways, for our immediate needs, just focusing on what @pixelzoom identified in the issue description would be a great start.

[2015-03-16 18:02] jonathanolson opened #227 "Some about dialog text not translatable"
Was just going through https://github.com/phetsims/phet-info/blob/master/code_review_checklist.md for Molecule Shapes and saw the following:

![molecule-shapes-about-dialog](https://cloud.githubusercontent.com/assets/480878/6672783/4cfd7d8e-cbd4-11e4-92cf-258645188174.png)

[2015-03-16 18:03] jonathanolson commented on #227
In code:
[code]

[2015-03-16 22:40] pixelzoom commented on #227
From PhetAboutDialog.java:

[code]

So that would leave the "version" string, which should be pretty easily addressed. Recommended to use a pattern, like:

[2015-03-20 21:24] pixelzoom opened #228 "pickable:false for screen-icons?"
This question came up in a change that @samreid made to acid-base-solutions in https://github.com/phetsims/acid-base-solutions/issues/130.  In IntroductionScreenView and MySolutionScreenView, he explicitly set pickable:false on the Node that was created for the screen icon.

For example, here's the relevant code in IntroductionScreenView:

[code]

I asked:

@samreid replied:

So I removed the code

[2015-03-23 22:08] jessegreenberg opened #229 "Barrier rectangle input listener does not set dialog.isShown"
I ran into this while investigating issue phetsims/molecules-and-light#107.   The barrier rectangle for a popup window in sim has the following input listener

    this.barrierRectangle.addInputListener( new ButtonListener( {
      fire: function( event ) {
        assert && assert( sim.barrierStack.length > 0 );
        sim.hidePopup( sim.barrierStack.get( sim.barrierStack.length - 1 ), true );

[2015-03-23 22:44] jonathanolson commented on #229
It might make sense to have Dialog have better detection for this type of thing. I'm not a huge fan right now of requiring hide() and show() methods on anything used with showPopup(), etc.

[2015-03-24 03:38] ariel-phet commented on #179
@samreid can you discuss with metacog and see if this is a feature that will be necessary in our future relationship with them? It seems one of the markets would be people accessing an enhanced sim from an LMS. If not, please close this issue, if so, please close this issue and create an LTI issue in the appropriate repository.

[2015-03-25 00:09] pixelzoom commented on #227
I handled i18n of the version string.

@ariel-phet Do we want "PhET Interactive Simulations" and the copyright to be translatable? They were not in the Java/Flash sims, with the following comment in the Java code:

[2015-03-25 00:13] pixelzoom opened #230 "should copyright indicate "Some rights reserved" in About dialog?"
The Java copyright indicates "Some rights reserved". The HTML5 copyright does not, should it? See screenshots below.   Assigning to @ariel-phet to decide.

![screenshot_491](https://cloud.githubusercontent.com/assets/3046552/6815885/54223374-d251-11e4-822b-2d080b07e217.png)

![screenshot_492](https://cloud.githubusercontent.com/assets/3046552/6815884/50caa616-d251-11e4-89ed-a874bcd5a6e9.png)

[2015-03-25 00:15] pixelzoom commented on #230
In Java sims, clicking on "Some rights reserved" takes you to the licensing web page. In HTML5, that's done by clicking on "Terms, Privacy & Licensing".  So perhaps "Some rights reserved" is not needed (thought it's very common to see "All rights reserved" immediate after a ©Copyright mark.)

[2015-03-25 00:18] pixelzoom commented on #225
The list has been pruned to:

[code]

[2015-03-25 00:23] pixelzoom commented on #159
Duplicate of #183, closing.

[2015-03-25 00:23] #159 closed

[2015-03-25 00:24] pixelzoom commented on #183
To clarify... "Screen buttons" means the buttons for selecting a screen that appear on the home screen and in the navbar.  There is some additional discussion in #159.

[2015-03-25 00:25] pixelzoom commented on #158
This should go in scenery-phet.PhetColorScheme.

[2015-03-25 00:25] pixelzoom commented on #152
This issue is similar to https://github.com/phetsims/phetcommon/issues/16.

[2015-03-25 00:27] pixelzoom commented on #103
In 3/24/15 developer meeting notes, @samreid said:

[2015-03-25 01:09] ariel-phet commented on #227
I think we want to leave both of those string not translatable

[2015-03-25 01:11] ariel-phet commented on #230
I personally think we are fine as is. It is the same information, just not as proximal to the copyright.

[2015-03-25 01:11] #230 closed

[2015-03-25 03:34] pixelzoom commented on #227
About dialog is now fully translatable. Closing.

[2015-03-25 03:39] ariel-phet commented on #227
@pixelzoom - when you say "fully translatable" I assume you mean besides the strings we do not want translatable? Sorry, just wanted to clarify your last comment.

[2015-03-25 03:44] pixelzoom commented on #227
Correct - By "fully translatable" I mean that all text that should be translatable is now translatable.

[2015-03-25 03:45] pixelzoom commented on #227
"PhET Interactive Simulations" and "Copyright © 2004-2015 University of Colorado" are not translatable, by design.

[2015-03-25 03:45] #227 closed

[2015-03-25 19:30] jonathanolson commented on #152
Should we consider PhetText? Uses PhetFont by default, uses correct LTR/RTL, and any other default settings? It would also be able to trigger HTML rendering like HTMLText if necessary.

[2015-03-25 19:42] pixelzoom commented on #152
I've been using sim-specific subtypes of Font (e.g., GLFont, RPALFont,...) to prepare myself for this eventuality.  So it would be a trivial refactor in my sims.

[2015-03-25 19:47] jonathanolson commented on #152
Added to the developer agenda for discussion.

[2015-03-26 18:17] jonathanolson commented on #152
See http://www.w3.org/International/questions/qa-bidi-unicode-controls for info on embedding.

[2015-03-26 18:21] pixelzoom commented on #152
Notes from 3/26/15 developer meeting:

[code]

[2015-03-30 18:49] samreid commented on #166
I'm going to need a semitransparent overlay for https://github.com/phetsims/scenery/issues/414  Can @pixelzoom and/or @jonathanolson comment on whether this feature should use the barrierRectangle used by dialogs, or something new and separate?

[2015-03-30 19:03] pixelzoom commented on #166
If the barrier rectangle is decoupled from Dialog, then it's probably appropriate to use it.

[2015-03-30 19:05] pixelzoom commented on #166
If the barrier rectangle is decoupled from Dialog, then it's probably appropriate to use it. If it's not decoupled from Dialog, but would fit the bill, then decoupling it.  Not recommended to create something new and identical to the barrier rectangle.

[2015-03-30 19:05] samreid commented on #166
Here's what the code looks like at the moment:

[code]

My main question is whether we have modal dialog support yet.  The overlay rectangle is conceptually similar to a (invisible) modal dialog.

[2015-03-30 20:01] pixelzoom commented on #166
I don't know if we have modal dialog support yet. I've been somewhat out of the loop on Dialog development.

[2015-03-30 22:45] jbphet commented on #229
I was curious why this hasn't been a problem for the About dialog, and the answer is that this dialog is recreated each time.

[2015-03-30 23:14] jbphet commented on #229
I discussed this with @jonathanolson and we decided to add a function to Sim.js to test whether a node was popped up, i.e. was present on the barrier stack, and to use this in Dialog rather than a flag that could get out of sync (and which is the root cause of this issue).  The code has been committed, and @jonathanolson should review.

[2015-03-31 00:26] jonathanolson commented on #166
The barrier rectangle is decoupled, however it won't block all input events as desired. I've implemented display.interactive (https://github.com/phetsims/scenery/issues/414) which should fit the bill for blocking events.

[2015-03-31 02:50] pixelzoom opened #231 "delete ohtwo branch?"
joist 'ohtwo' branch was presumably merged into master when we cut over to scenery 0.2.  Can it be deleted?

[2015-03-31 03:18] jonathanolson commented on #231
Yes.

[2015-03-31 03:40] samreid commented on #231
I deleted it.  Closing.

[2015-03-31 03:40] #231 closed

[2015-03-31 03:49] samreid opened #232 "When the sim is inactive, it should be grayed out"
Related to https://github.com/phetsims/scenery/issues/414

[2015-03-31 03:55] samreid commented on #166
display.interactive is working perfectly for my purposes, thanks.  I may still use the barrier rect to show the sim as grayed out though, see #232

[2015-03-31 15:27] samreid commented on #179
I emailed Doug Stein:

Doug,

For metacog's purposes, do you think it will be important to make our sims LTI compliant?  I'm not too familiar with LTI compliance or the ecosystem, but just wanted to see if it should be on my radar for the future.
http://www.imsglobal.org/toolsinteroperability2.cfm

Best Regards,
Sam

[2015-03-31 15:43] samreid commented on #232
Here is a small change set that looks like it solves the problem.  Can one of @jbphet @jonathanolson @pixelzoom review it?

[code]

[2015-03-31 15:43] samreid commented on #232
The above code should surround the existing `sim.display.interactive = active;` line in Sim.js

[2015-03-31 16:22] pixelzoom commented on #232
@samreid asked someone to review. I'll have a look.

[2015-03-31 20:13] pixelzoom opened #233 "branch: 0.1"
Companion branch to scenery '0.1', keeping this around, see https://github.com/phetsims/scenery/issues/415.

[2015-03-31 20:58] pixelzoom commented on #173
No update to the IDEA issues in version 14.1, so I'm guessing it could be a long time before we see fixes.

[2015-04-01 05:20] samreid commented on #179
Response is in https://github.com/phetsims/special-ops/issues/2 @ariel-phet please review and let me know if you recommend further work on this issue.

[2015-04-01 15:18] ariel-phet commented on #179
@samreid thanks for emailing Doug, his response certainly clarified the issue a bit. Seems like we are good on our side for the foreseeable future.

[2015-04-01 15:18] #179 closed

[2015-04-01 18:13] phet-steele opened #234 "No resize occurring when opening a second tab on mobile safari"
This issue is only seen to be occurring on Safari 600.1.4, running on iOS 8 and later. When a sim is the only tab open in Safari, opening a second tab will not cause the sim to resize to the now smaller screen. This is seen across many sims, most likely all sims, but here is an example using Molecules & Light:

Only 1 tab:
![img_0007](https://cloud.githubusercontent.com/assets/5863899/6947866/5f78

[2015-04-02 18:07] pixelzoom commented on #173
IntelliJ IDEA 14.1.1 released, no fix for these issues.

[2015-04-02 19:59] jonathanolson commented on #189
Costs for the update mechanism:
- Server-side logic to receive requests with version info and reply with whether we should recommend an  update (and what version to update, and any update messages)
- Client-side handling to send requests with version info and act on the reply. Should handle failure gracefully. Will also need to determine "are we in an installer", "are we built from PhET, or are we

[2015-04-02 20:31] pixelzoom commented on #189
At 4/2/15 developer meeting, @ariel-phet wrote:

This was news to me, but it sounded like @jbphet knew about it.

Can @ariel-phet or @jbphet please summarize what the status of this is?  Are we going to deploy translations out of a maintenance branch without changing the version number? Or are we doing to somehow flag releases as "translation only"?  And if we're not going to use the Update featur

[2015-04-25 18:40] pixelzoom commented on #188
I realize that it's been awhile, and I haven't gotten to this. If I don't get to it before @samreid's leave, I'll handle it.

[2015-04-25 18:40] pixelzoom commented on #222
I realize that it's been awhile, and I haven't gotten to this. If I don't get to it before @samreid's leave, I'll handle it.

[2015-04-27 21:17] pixelzoom commented on #173
IntelliJ IDEA 14.1.2 released, no fix for these issues.

[2015-04-30 23:10] jbphet opened #235 "The "Report an Error" menu option should be disabled during fuzz testing"
During fuzz testing (i.e. running a sim using the fuzzMouse option), the Report an Error screen inevitably comes up, basically stopping the test.  We should probably disable this menu option when doing this testing.  I discussed this with @jonathanolson at today's developer meeting, and he seemed to think it would be pretty straightforward.

[2015-05-09 18:41] samreid commented on #60
We should probably implement this before republishing any sims for i18n.  Reassigned to @jonathanolson @pixelzoom and/or @jbphet to make sure it is on their radar.

[2015-05-11 17:39] pixelzoom commented on #60
This appears to have already been addressed. For example:

states-of-matter_en.html?dev&stringTest=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789

![screenshot_518](https://cloud.githubusercontent.com/assets/3046552/7571071/329917f8-f7d2-11e4-8a9a-8c6aa0a12f8e.png)

@samreid It looks like you committed the fix for this. Did you have something else in mind for how this should work?

[2015-05-12 05:40] samreid commented on #60
Ah, I guess this issue was just left open because of the suggestion in this comment: https://github.com/phetsims/joist/issues/60#issuecomment-31726343

To which @jonathanolson repsonded:

So I think the "high priority" part of this issue is complete since all of the text will be legible.  It is a supplemental design issue to decide whether all fonts for screen names should match size (I suspect go

[2015-05-12 06:44] #235 closed

[2015-05-12 18:07] pixelzoom commented on #60
@samreid wrote:

I also suspect that good designers would say "yes".  And we should strive to have identical font sizes for English strings.  But I'm not convinced that's desirable for non-English strings.

So far, our approach for collections for things (e.g., radio buttons in a panel, screen titles,...) has been to scale them independently. See for example i18n of states-of-matter (run with '?st

[2015-05-14 14:03] samreid commented on #60
Since our precedent is for nonuniformly scaled strings (for non-English), I am ok to close this issue.  Still, in the future it may be interesting to discuss what work would be required to employ uniformly scaled strings.  Reassigning to @ariel-phet to see if he is OK with the design decisions here and to see if he wants to create an issue for investigating uniformly scaled strings in the future (

[2015-05-14 14:44] pixelzoom commented on #60
I'll put this on the agenda for discussion at developer meeting.

[2015-05-15 19:26] samreid commented on #103
This is far enough in the future (1+ years as of March 24), so I'm unassigning it.

[2015-05-15 20:03] samreid commented on #124
I wrote a script (see commit above) that iterates over all active repos and prints the 1st line of LICENSE.  Output follows:

Repo  | 1st line of LICENSE
------------- | -------------
acid-base-solutions  |  GNU GENERAL PUBLIC LICENSE
all-sims  |  GNU GENERAL PUBLIC LICENSE
area-builder  |  GNU GENERAL PUBLIC LICENSE
arithmetic  |  GNU GENERAL PUBLIC LICENSE
assert  |  The MIT License (MIT)
atomic

[2015-05-15 20:08] samreid commented on #124
Several problems here:

1. babel has no LICENSE file (even though the README links to it)
2. beaker's LICENSE file looks like a copy/paste error
3. chains is LGPL.  Should be GPL (if a sim) or MIT (if common code)
4. the text for phet-metacog/LICENSE is wrong
5. rutherford-scattering is the wrong license, should be GPL but it is LGPL
6. shred is missing its LICENSE file.  If common code, it should

[2015-05-15 20:19] samreid commented on #124
I fixed two items above and created issues for the remaining four issues.  An additional step for this issue will be to make sure the formatting/text/everything matches up for all LICENSE files of the same type.  I do not have plans to work on that at the moment, and am hence unassigning the issue.  Others feel free to take a look if you wish.

[2015-05-19 20:13] pixelzoom commented on #173
This issue is titled "Investigate IDEA 14 for development" and we've been using it successfully for a few months.  So I'm going to close this issue.  I'll track the reports to JetBrains using their issue system.

[2015-05-19 20:13] #173 closed

[2015-05-21 19:02] jonathanolson opened #236 "Allow locale query parameter to override phet.joist.sim.locale"

[2015-05-21 19:16] pixelzoom commented on #210
While relocating to chipper, also please rename this, since there is now something else called build-server.

[2015-05-21 19:22] pixelzoom opened #237 "make screenshot feature work for WebGL"
As noted in https://github.com/phetsims/tasks/issues/25#issuecomment-104393765:

[2015-05-21 22:20] jbphet opened #238 ""adapted from" text doesn't show up for single-screen simulations"
I'm trying to use the "adapted from PhET" branding, and the black-and-white logo is showing up, but the "adapted from" text is missing.

[2015-05-21 22:58] jbphet opened #239 ""adapted from" text doesn't show up in the home screen"
I'm using the adapted-from-phet brand repo, and the "adapted from" text is not showing up in the home screen of a multi-screen simulation.  I've tested on States of Matter and Build and Atom, and this is true for both.  The text does show up when on the individual screens.

I tried setting the color of the text to always be red in AdaptedFromPhETText.js, and the text was visible on both the home s

[2015-05-21 23:08] jbphet opened #240 "home screen crashes when using "adapted from PhET" branding"
Hitting this error when launching a multi-screen sim using Adapted from PhET branding:
```Uncaught TypeError: Cannot read property 'link' of undefined```

The problem appears to be that AdaptedFromPhETText is expecting a lookAndFeel parameter but is getting a boolean property.

[2015-05-21 23:09] jbphet commented on #240
Fixed in this commit: c3a7ef7f7c6fa75de55ab7a5a164ee546c8e9197.  Assigning to @samreid to make sure that there isn't something subtle that I'm missing that would explain why it was like this.

[2015-05-21 23:13] jbphet commented on #238
Fixed in this commit: c3a7ef7f7c6fa75de55ab7a5a164ee546c8e9197, which got lumped in with another commit.

[2015-05-21 23:13] jbphet commented on #238
Assigning to @samreid for review.

[2015-05-22 19:09] pixelzoom commented on #234
@ariel-phet please assess the priority of this.

[2015-05-22 19:10] pixelzoom commented on #229
@jonathanolson please review.

[2015-05-22 19:11] pixelzoom commented on #225
The remaining sims should be fixed before "Summer 2015 redeploy".

[2015-05-22 19:12] pixelzoom commented on #225
Assigning to @jbphet, since build-an-atom is first on the list.

[2015-05-22 19:13] pixelzoom commented on #171
This sounds like it's either (a) vestigial or (b) potentially serious.  Assigning to @jonathanolson.

[2015-05-22 19:15] pixelzoom commented on #163
Since this is related to translation, it should be resolved (or at least reviewed) for "Summer 2015 redeploy".  Note that it is still assigned to @ariel-phet.

[2015-05-22 19:18] pixelzoom commented on #137
@bryo5363 can you please test?

[2015-05-22 19:20] pixelzoom commented on #124
I'm going to close this issue because the remaining repos that don't have licenses (babel, shred) are covered by issues specific to those repositories.

[2015-05-22 19:20] #124 closed

[2015-05-22 19:24] pixelzoom commented on #60
At dev meeting, the consensus was that our current approach of scaling strings independently is best.

Closing.

[2015-05-22 19:24] #60 closed

[2015-05-22 19:25] jonathanolson commented on #229
Looks good.

[2015-05-22 19:25] #229 closed

[2015-05-22 19:26] pixelzoom commented on #57
@jonathanolson status?

[2015-05-22 19:27] pixelzoom commented on #45
This issue is waiting for review by @jonathanolson.

[2015-05-22 19:28] pixelzoom commented on #37
Same question that @samreid had on 10/17/2013. @jonathanolson is this solved?

[2015-05-22 19:29] pixelzoom commented on #36
We're doing this for WebGL. What are feature detection do you think is needed?

[2015-05-22 19:29] pixelzoom commented on #36
@jonathanolson  We're doing this for WebGL. What are feature detection do you think is needed?

[2015-05-22 19:36] jonathanolson commented on #171
Will try to reproduce.

[2015-05-22 19:40] jonathanolson commented on #99
Definitely looks like it should be fixed soon. I'll look into it, either with an IE10 VM or in person on Tuesday.

[2015-05-22 19:40] jonathanolson commented on #57
Not done yet, please leave open.

[2015-05-22 19:46] jonathanolson commented on #36
Now that we've dropped IE9, we could check for general ES5 features, existence of typed arrays, etc. (that are used in sims).

Basically, it would be helpful for any browser is expected to not run most sims successfully, so we could display information about that. If someone uses IE8, or Firefox 2, it would be helpful.

[2015-05-22 20:38] pixelzoom opened #241 "i18n layout issue with navigation bar"
For example, see the screenshot of graphing-lines below, with ?stringTest=double.  Note how the home screen icon and PhET menu overlap.

![screenshot_525](https://cloud.githubusercontent.com/assets/3046552/7779235/1ea5d300-0090-11e5-877d-f08a5c942672.png)

[2015-05-22 21:27] jonathanolson commented on #236
Of note, the string plugin is already handling this, since it's not checking the sim (not initialized yet):
[code]

[2015-05-22 21:41] jonathanolson commented on #152
In Chrome (Win 7):

Creating a div, filled with the string (default CSS direction: 'ltr):
![scenery-rtl-ltr](https://cloud.githubusercontent.com/assets/480878/7780145/95cbf8f8-0098-11e5-8223-8907b1f31d40.png)

Same div, direction set to 'rtl':
![scenery-rtl-rtl](https://cloud.githubusercontent.com/assets/480878/7780151/a4fce5bc-0098-11e5-983f-5b9067e849c6.png)

It looks like it's using the bidi al

[2015-05-22 21:43] jonathanolson commented on #152
Reference screenshot from Flash version of the sim:
![woas-rtl](https://cloud.githubusercontent.com/assets/480878/7780201/37b60b68-0099-11e5-9ee8-e9e3c04f81d8.png)

[2015-05-22 21:53] jonathanolson commented on #152
Patched the text into the first tab title in a Java sim (running as Hebrew, _iw):
![scenery-rtl-java](https://cloud.githubusercontent.com/assets/480878/7780334/a1a4435e-009a-11e5-93d8-b9316bdc3e4f.png)

[2015-05-22 22:06] jonathanolson commented on #152
Notably in Java, it has the same appearance regardless of what locale is being used.

[2015-05-22 22:08] jonathanolson commented on #152
Investigating adding embedding marks around translated strings, as that may be a good out.

[2015-05-22 22:12] jonathanolson commented on #152
Notably, U+202A pushes LTR, U+202B pushes RTL, U+202C pops, so we would have:
[code]

[2015-05-22 22:17] jonathanolson commented on #152
Adding embedding override marks looks like it will work, but we'll only want to do it for strings loaded from RTL locales (NOT the English fall-back strings)!

![scenery-rtl-embedding](https://cloud.githubusercontent.com/assets/480878/7780586/fc75bb70-009d-11e5-8677-5936c257aa5f.png)

[2015-05-22 22:20] jonathanolson commented on #152
The string plugin and build process will need to know about which locales are RTL, so they can insert the embedding marks.

@jbphet, is it OK with you if I convert the Java locale list over, and include the LTR/RTL information (and put it in chipper)? Then rosetta should be able to refer to the same list, right?

[2015-05-22 22:22] jonathanolson commented on #152
Also http://unicode.org/reports/tr9/#Directional_Formatting_Characters explains the special characters for formatting (will include in code documentation for this).

[2015-05-22 22:25] jonathanolson commented on #152
Also, I'll have the locale information set up in a way that can be read in the browser and Node.js, since it has one browser requirement (string plugin) and 2-3 node.js requirements (string plugin, other grunt build, and rosetta).

[2015-05-22 22:55] jonathanolson commented on #152
Java source code notes the following locale codes are RTL, everything else is LTR: iw, ar, fa, ur. Presumably any country code for those languages will also be RTL.

[2015-05-22 23:28] jbphet commented on #152
It's fine with me to convert the Java locale list over and to use it for now to figure out LTR vs RTL.  We can always ditch it if we come up with something better in the future.

[2015-05-23 02:05] jonathanolson commented on #152
Committed, tested with require.js ?locale=iw, and with built iw (hebrew) version.

Reassigning to @jbphet for any necessary review, and let me know if the localeInfo looks ok. It's basically like a map with entries:
[code]

When Unfuddle SVN stops failing with the following message, I'll have the code for the conversion set up:
[code]

[2015-05-23 02:57] jonathanolson commented on #236
Looks like I already took care of this for Sim.js, closing.

[2015-05-23 02:57] #236 closed

[2015-05-23 03:13] jonathanolson commented on #171
I've spent 10 minutes banging on the sim and I'm unable to reproduce (Win7/Chrome).

Added debugger in Sim.js step if dt was zero, I'd recommend @jbphet add the debugger statement and see if you can still trigger it.

[2015-05-23 03:19] jonathanolson commented on #45
Fix looks good, thanks!

[2015-05-23 03:21] jonathanolson commented on #37
Input event recording and playback hasn't yet been fully updated for Scenery 0.2. Is getting that working a priority for the summer deployment @pixelzoom?

[2015-05-23 04:33] jonathanolson commented on #69
Looks like this is done for the <sim>-main also? Just BAM and masses-and-springs remain, will take care of those.

[2015-05-23 04:36] jonathanolson commented on #141
Can't reproduce on Chrome 45 (Win7), @orejolaphet, can you confirm if this is still an issue, since it was reported so long ago?

[2015-05-23 04:44] jonathanolson commented on #143
This was tagged for the redeploy. @ariel-phet, is this at a priority where I should do https://github.com/phetsims/scenery/issues/382 on my own (1-3 days of work best estimate) in order to see if there is a way we can adjust browser-specific text options so that alignment and bounds sizing is good?

Alternatively, I could look into alternative ways to get bounds of text (maybe new things have been

[2015-05-23 04:47] jonathanolson commented on #70
@ariel-phet, this is also a probably-multi-day issue tagged for the redeploy, should I bump up the priority of this Scenery work (currently tagged as medium priority)?

[2015-05-23 05:15] jonathanolson commented on #99
Could not reproduce on IE10 VM with either 1.0.0-rc.1, 1.1.0-rc.1 or the live production version:
![joist-gap](https://cloud.githubusercontent.com/assets/480878/7782496/35e858ce-00d8-11e5-96be-f70a28b4295f.png)

Will look into reproducing on Socrates (actual device) on Tuesday?

[2015-05-24 01:30] pixelzoom commented on #37
Now that I understand what this is... No, not a priority for the "Summer 2015 redeployment", so removing that label.

[2015-05-26 16:15] #69 closed

[2015-05-26 17:04] pixelzoom commented on #241
Work on this after https://github.com/phetsims/scenery/issues/428 is completed.

[2015-05-26 17:11] pixelzoom commented on #232
This is my first encounter with the sim.display.interactive property. I have no idea when (or why) we would be disabling mouse/touch/keyboard inputs, and can't find any documentation in joist.

Also, the code that @samreid says should be surrounded is:

[code]

Note that the comment references phetsims/scenery#141, which is closed.

@samreid and @jonathanolson, questions:

1. Is this still an issu

[2015-05-26 17:12] pixelzoom commented on #232
Assigning to @jonathanolson for feedback.

[2015-05-26 17:13] jbphet opened #242 "Instrument dialog window and the "barrier stack" for together/tandem"
There is work underway on several simulations to support data sharing using the together and tandem libraries.  Currently, opening and dismissing dialog windows like the "About" dialog doesn't result in the sending of user messages.  This capability should be added.

[2015-05-26 17:19] jonathanolson commented on #232
My understanding of the "interactive" property is that it just shuts off actual user input, but still allows playing back previously recorded inputs.

For playback, we want to fully disable the input from the user playing back previously recorded input events, since otherwise they could "insert" clicks/etc. and screw up the playback.

Showing it as a popup is probably not a great way to accomplish

[2015-05-26 17:42] pixelzoom commented on #232
@jonathanolson  Another question... Is playback something that is currently used by an sims? Ie, does this need to be addressed for "Summer 2015 redeploy"?

[2015-05-26 17:55] samreid commented on #232
sim.active is used for together.js

Beaker is using it at the moment as far as I know.

[2015-05-26 17:59] jonathanolson commented on #232
I don't know of any usage on the sims on our website (excludes together and beaker).

[2015-05-26 18:12] pixelzoom commented on #232
Assigning to @jbphet, since he's working on beaker. Does this need to be addressed for "Summer 2015 redeploy"?

[2015-05-26 22:56] samreid commented on #232
Actually for beaker it is important for it to be inactive *without* being grayed out.  It is unclear if/when the sim should be grayed out for other inactive cases.

[2015-05-26 22:56] samreid commented on #232
I wonder if we could say this is the responsibility of the wrapper html, say, putting an opacity on the iframe..?

[2015-05-27 15:41] jbphet commented on #232
I don't agree with the intent of this issue.  We currently have two customers who are using together.js to build learning systems around PhET simulations.  Both are using the inactive capability for playback or at least setting of state, and I don't think either would want the sim to gray out in this situation.  Assigning back to @samreid to either justify or close.  His suggestion in the comment

[2015-05-27 15:43] pixelzoom commented on #232
+1 for making this the responsibility of the wrapper.

[2015-05-27 16:25] samreid commented on #232
Let's leave this up to the wrapper unless/until we run into a limitation that cannot be overcome by the wrapper.  Closing.

[2015-05-27 16:25] #232 closed

[2015-05-27 18:49] ariel-phet commented on #234
I don't think this is quite "high priority" but it warrants investigation...is this a joist issue @pixelzoom? Can you do some quick investigation and offer some insight in what it will take to fix?

[2015-05-27 18:53] ariel-phet commented on #163
@oliver-phet - have we sent an email to a few translators yet to see if they would be OK with a webpage linked from the sim crediting them?

[2015-05-27 18:58] pixelzoom commented on #234
Investigation won't be "quick". I have never seen this occur, so first I'll need to reproduce it. And I don't have an immediate idea about where to look in joist.

[2015-05-27 19:13] oliver-phet commented on #163
I sent an email to our trusted translators 2 months ago about credits. We talked about it in the translation meeting, but basically, yes they are fine with a webpage linked from the sim about dialog.

[2015-05-28 05:19] ariel-phet commented on #141
All working fine on both win 7 and win 8 for latest chrome  (43.0.2357.81). I checked several sims on both platforms. Closing

[2015-05-28 05:19] #141 closed

[2015-05-28 17:03] jonathanolson commented on #143
My best "fix" currently is adding adjustable padding based on the text height:
[code]

On Safari/Chrome, the height is ~12 (no padding), but on Firefox it adds a padding of about 2 (keeping the baseline in about the correct position).

This is fairly brittle, and those Text nodes don't actually use PhetFont, but it's fairly safe (won't do negative padding) and looks like the following:
![screen sh

[2015-05-28 17:53] pixelzoom opened #243 "look for Text nodes that aren't using PhetFont"
Added this at 5/28/15 dev meeting.

[2015-05-28 17:58] jonathanolson commented on #70
Removed redeploy label since we're not running into it much right now.

[2015-05-28 17:58] pixelzoom commented on #70
5/28/15 dev meeting: @ariel-phet said "don’t worry about it for now".

[2015-05-28 18:00] jonathanolson commented on #143
As decided at the developer meeting, applied above fix and closing issue.

[2015-05-28 20:02] jonathanolson commented on #99
Actual device has updated to IE11, didn't present issue. Tried another attempt with IE10 elsewhere and could not reproduce.

Will reopen if this is encountered.

[2015-05-28 20:02] #99 closed

[2015-05-29 16:41] bryo5363 opened #244 "Clicking "Report a Problem" or "Phet Website" while in full screen causes sim to crash"
Test device: MacBook Pro

Operating System: OSX 10.9.5

Browser: Safari 7.0.6 (9537.78.2)

Problem description: When clicking anything that leads to another link while in full screen, the simulation will crash. This was not apparent on Chrome

Steps to reproduce:
1) open sim
2) click fullscreen
3) open side menu and click report a problem
4) go back to the sim tab on the browser

Severity:

Screen

[2015-05-29 17:04] pixelzoom commented on #234
@ariel-phet Investigation won't be "quick". I have never seen this occur, so first I'll need to reproduce it. And I don't have an immediate idea about where to look in joist.

[2015-05-29 17:10] ariel-phet commented on #234
@pixelzoom can you then see if you can reproduce the problem?

[2015-05-29 17:11] pixelzoom commented on #234
Will do.

[2015-05-29 17:12] pixelzoom commented on #234
Will do.

[2015-05-29 17:40] jbphet commented on #171
I was able to duplicate this, but not during normal sim usage.  I was able to make it happen when I had the developer tools open and was changing the size of the tools window, sliding the divider either right or left.  The attached screen shots show the output.  I also tried this with a debugger statement, and the statement was indeed hit, demonstrating that this isn't just a rounding issue when p

[2015-05-29 17:41] pixelzoom opened #245 "AdaptedFromPhetText is blurry on Firefox"
Address this TODO added by @samreid in AdaptedFromPhetText:

[code]

[2015-05-29 17:44] jbphet commented on #171
Assigning back to @jonathanolson to decide if this is indeed "potentially serious" and should be addressed.  The sim handles it just fine, and I assume most sims would, so it may be a non-issue.  It's just a little odd that it happens at all.

By the way, the test environment where this was reproduced was Win7+Chrome43.

[2015-05-29 17:44] pixelzoom commented on #243
There are 2 cases in joist where PhetFont is not used. They should both be fixed.

NavigationBarScreenButton, line 63:

SettingsDialog, line 38:

[2015-05-29 17:47] pixelzoom commented on #143
@jonathanolson In https://github.com/phetsims/joist/issues/243, the font for NavigationBarScreenButton is going to be changed to PhetFont.  Will that affect this fix?

[2015-05-29 17:55] jonathanolson commented on #143
It might, I would check text.height on Firefox and Safari/chrome on win/Mac to see. Was in 10-12 range.

[2015-05-29 17:59] pixelzoom commented on #243
I couldn't test SettingsDialog because it's broken, as noted in PhetMenu line 216:

[2015-05-29 17:59] jonathanolson commented on #171
Will check to make sure resizing doesn't cause sim steps.

[2015-05-29 18:02] pixelzoom commented on #243
Work completed. Closing.

[2015-05-29 18:02] #243 closed

[2015-05-29 18:02] pixelzoom commented on #143
@jonathanolson I completed https://github.com/phetsims/joist/issues/243. Could you please regression test this workaround, to make sure it's still doing the job?

[2015-05-29 18:04] jonathanolson commented on #143
Will be able to test on Mac only, at airport right now.

[2015-05-29 19:19] jonathanolson commented on #171
Reproduced with Chrome/Mac, had two animation frames with the exact same timestamp (1432926900170) that were naturally generated. Looks like resizing causes more animation frames to be rendered (probably on each resize), so if the sim JS executes quickly enough, there can be many low-DT frames.

Because there is a resize, the ScreenView transform will change, and the view step may be expected to b

[2015-05-29 19:22] jonathanolson commented on #171
Anything else to do here @pixelzoom, @samreid or @jbphet?

[2015-05-29 19:25] pixelzoom commented on #171
Nothing that I know of, but I haven't experienced this or really been paying attention. @samreid created this issue, so perhaps get him or @jbphet to close.

[2015-05-29 19:27] jonathanolson commented on #143
From top to bottom: Safari, Firefox, Chrome (OS X):
![screen shot 2015-05-29 at 1 25 36 pm](https://cloud.githubusercontent.com/assets/480878/7890906/3f0d57be-0606-11e5-8a89-14cc0534d762.png)

Looks fine to me, text sizes where effectively unchanged vertically. Closing.

[2015-05-29 19:29] jbphet commented on #171
I'll go ahead and close.  I'm fine with the implementation requirement that sims need to be able to handle zero values for dt.

[2015-05-29 19:32] pixelzoom commented on #143
Great, thanks.

[2015-05-29 19:35] samreid commented on #171
Sure, sims should handle small dt, but shouldn't we just add a line of logic in joist:

[code]

?  Then we can avoid any required corner-case handling in sim code?

[2015-05-29 19:38] pixelzoom commented on #171
Searching for "/ dt", I find 2 sims that will fail with divide-by-zero errors: balloons-and-static-electricity, faradays-law.

[2015-05-29 19:44] pixelzoom commented on #171
+1 for @samreid suggestion to address this in joist.

[2015-05-29 19:44] pixelzoom commented on #171
+1 for @samreid suggestion to address this in joist. Unless someone can explain the value of calling step when dt is zero?

[2015-05-29 19:45] jonathanolson commented on #171
As noted re: skipping step() if dt === 0:

So we would skip model/view steps, do we also skip updateDisplay() and have the sim NOT update on window resize? Seems sketchy to me.

If we don't skip updateDisplay(), then because the ScreenView transform was changed, other view bits may have changed and would expect model/view updates (view.step() in particular). I assumed every time we redraw the sim,

[2015-05-29 19:52] pixelzoom commented on #171
OK, makes sense.  Then we need to take a look at balloons-and-static-electricity and faradays-law (and possibly other sims?)

[2015-05-29 19:55] jonathanolson commented on #244
Not able to immediately reproduce on MacBook Air, OS X 10.9.5, Safari 7.1.6. Report a problem notes:

Name: Molecule Shapes
URL: http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.0.1-dev.1/molecule-shapes_en.html
Version: 1.0.1-dev.1 2015-05-29 03:40:24 UTC
Features missing: touch
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/600.6.3 (KHTML, like Gecko) Versi

[2015-05-29 19:56] jonathanolson commented on #171
Yes, probably for most sims. Molecule Shapes might also not handle dt=0 gracefully.

[2015-05-30 01:29] bryo5363 commented on #244
@jonathanolson did you have WebGL enabled?

[2015-05-30 01:31] jonathanolson commented on #244
Yes.

[2015-05-30 01:32] bryo5363 commented on #244
Interesting. I will try to reproduce it and let you know how it goes

[2015-05-30 01:35] bryo5363 commented on #244
I was able to reproduce this on a different machine running 7.0.6 (9537.78.2) on 10.9.5. I guess it must be fixed on higher versions.

[2015-05-30 04:12] samreid commented on #238
The words "adapted from" no longer appear on the homescreen.  Not sure if that problem was caused by or in any way relates to this issue or not.

[2015-06-01 20:48] bryo5363 opened #246 "No Full Screen option for iPad"
I was showing @ariel-phet this earlier but when opening the Full Screen version of Molecule Shapes on the iPad 2 w/ iOS 8, we did not notice an option for Full Screen.

[2015-06-01 22:56] pixelzoom commented on #234
I'm testing on iOS 8.3 with Safari 600.1.4. I saw this problem on my first test, with Molecules and Light 1.0.1 from the PhET website. Then I tried master (requirejs and built versions) to see if it might be a joist issue that had been resolved, and didn't see the problem.  Then I went back to 1.0.1, and couldn't reproduce the problem.  Very weird.  I have no idea what might be causing this, and c

[2015-06-04 04:53] samreid opened #247 ""Adapted from" text doesn't appear on the home screen"
I thought I already commented somewhere about this but couldn't find it again.  When using the "Adapted from" branding, the black on black text doesn't appear on the home screen, but "adapted from" does appear on sim screens in the navbar.  It should also appear on the home screen, and should be tested for sims with black/white navbars.

[2015-06-04 17:54] pixelzoom commented on #234
6/4/15 dev meeting: @samreid will take a second look.

[2015-06-04 18:21] oliver-phet commented on #163
![unnamed](https://cloud.githubusercontent.com/assets/5090275/7991202/a71c20d6-0ab3-11e5-911f-ba0383986aff.png)

Clicking the "Translator Credits" will take the user to the translation credits page that will have all of the translators listed by locale, in alphabetical order. The translator's name can be clicked to see details about them (including website URLs) and what specific portions of the P

[2015-06-04 21:52] samreid commented on #234
I'll be testing on Apple iPad 3rd generation running iOS 8.3.

@pixelzoom, how did you find your safari version?  I don't see it under Settings -> Safari.

First, when I launched the sim, there were many tabs.  When I closed the other tabs, Molecules and Light 1.0.1's size updated and it filled the new size.  Creating a new tab then switching back to the Molecules and Light tab, I can see that it

[2015-06-04 21:58] samreid commented on #234
Same problem when running the requirejs version of molecules and light--this will be handy since it will help us more quickly test potential solutions.

[2015-06-04 22:21] samreid commented on #234
This person described the same problem we have here (but no applicable solution)
http://stackoverflow.com/questions/26741369/page-not-resizing-in-safari-mobile-when-user-opens-a-tab

This person showed how to set up a polling loop to detect if the tab has been re-selected after N seconds, then to trigger a relayout:
http://stackoverflow.com/questions/11085409/detect-moving-to-a-new-tab-in-mobile-s

[2015-06-04 22:22] samreid commented on #234
@pixelzoom can you review my notes above and suggest next steps?

[2015-06-04 23:28] pixelzoom commented on #234
@samreid Safari version is reported in PhET->Report A Problem.

[2015-06-05 18:24] oliver-phet commented on #163
Assigning this back to @ariel-phet

[2015-06-08 18:06] pixelzoom commented on #234
I suggest passing this on the @jonathanolson as the next step.

[2015-06-10 16:27] jonathanolson commented on #171
I'd like to update my proposal to consider skipping the model.step() if it's 0, but still doing the view step. Usually view steps don't need the DT as much, and generally models shouldn't change if there's a 0-time DT.

Thoughts?

[2015-06-10 16:32] samreid commented on #171
@jonathanolson's suggestion https://github.com/phetsims/joist/issues/171#issuecomment-110822459 seems like a good solution.

[2015-06-10 16:32] pixelzoom commented on #171
Sounds reasonable to me. Regardless, my approach will be to program defensively :)

[2015-06-10 16:45] jonathanolson commented on #171
Committed the proposed change.

Sims that use DT in the view step (ignoring empty implementations):
balancing-chemical-equations (for RewardNode step)
bending-light (timer)
color-vision (beams get stepped)
energy-forms-and-changes (updates appearance)
fluid-pressure-and-flow (steps layers)
gravity-and-orbits (step() called without DT on paths!!?)

I'll check through all usages to ensure that we're

[2015-06-10 16:54] jonathanolson commented on #171
All usages look safe, although there are a lot of step functions that are empty or that aren't part of a view and ignore their DT parameter. Will note in meeting agenda about possible cleanup.

[2015-06-10 17:10] pixelzoom commented on #171
Those empty step functions are probably being propagated from simula-rasa.

[2015-06-10 17:11] pixelzoom commented on #171
Those empty step functions are probably being propagated from simula-rasa. I'll add a comment in simula-rasa that say something like "delete if not used".

[2015-06-10 17:16] pixelzoom commented on #171
"Called by the animation loop. Optional" is the comment in simula-rasa, and it appears 39 times in sim code. So yes, this is where the empty step functions are coming from.

[2015-06-10 21:05] jbphet commented on #164
Testing this on the currently deployed version of Area Builder, which is 1.0.1.  I downloaded the HTML file from the web site and opened it using right-click->Open with->Internet Explorer.  I did three trials, and all took 24 seconds, where 'loaded' is defined as the point where the home screen appears.  In all cases, the active area of the tab in IE was white for most of the load time, then the P

[2015-06-10 21:21] jbphet commented on #164
I built Area Builder from the current master, and the behavior is a bit different, and is somewhat similar to what @samreid described above.  A dialog is shown that says that IE has blocked the script from running scripts appears.  It looks like this:
![ie-message](https://cloud.githubusercontent.com/assets/3082831/8094386/118b94fe-0f84-11e5-956a-ac2d4e73dbd4.png)
If I don't press the "Allow block

[2015-06-10 21:25] jbphet commented on #164
Version info for IE11 used in the two tests described immediately above:
![ie-version](https://cloud.githubusercontent.com/assets/3082831/8094518/db1c5c40-0f84-11e5-8fbf-6da2eb1c8460.png)

[2015-06-10 21:25] jonathanolson commented on #164
I don't see the MOTW (https://msdn.microsoft.com/en-us/library/ms537628%28v=vs.85%29.aspx) that we have for Flash sims in our built HTML5 sims. I'll test adding it.