[2022-04-25 16:49] samreid commented on #805
Tracking and fixed in #795, closing.

[2022-04-25 16:49] #805 closed

[2022-04-25 18:16] zepumph commented on #795
- [ ] I like unknown! But we call `model.step`. So that would need an ignore or something. I tried this patch and I got really close to liking it, but can you help me out with the one error I'm getting with `this.homeScreen === screen`.

<details>

[code]
</details>

- [ ] We could (a) separately manage an array of Node with layout, or run type assertions on them when we read them out of topLayer.

[2022-04-27 17:13] Ashton-Morris commented on #803
[I am adding these files for review and implementation. ](https://drive.google.com/drive/folders/1YHLFqMsM_lXnnTT_Ec-yGK86mTqgX9Ec?usp=sharing)

- preferences-ab-switch-b.mp3
- preferences-ab-switch-a.mp3
- preferences-tab-switching.mp3
- preferences-tab-switching-003.mp3
- preferences-tab-switching-002.mp3
- preferences-tab-switching-001.mp3

[2022-04-27 18:13] zepumph commented on #694
Just a ping here, do we still need this branch?

[2022-05-02 16:25] jonathanolson opened #806 "updateCheck deprecation warning"
Discovered in https://github.com/phetsims/geometric-optics/issues/402

[code]

[2022-05-03 15:53] samreid commented on #802
In today's meeting, @kathy-phet and @arouinfar surmised that this logo would display in studio since studio will be running in debug mode.  @zepumph is that what you were thinking?

[2022-05-03 16:19] samreid commented on #802
@kathy-phet said this would be good to implement for next week.  Self-assigning.

[2022-05-03 16:59] samreid commented on #802
I added a first draft of the proposal.  Some notes:

* In order to not disrupt the layout, I put it within the bounds of the existing PhET-iO logo. Ideally a future version would be a bit lower.
* I reduced the line width.  Tried to strike a balance between "easily visible" and "not too obtrusive"
* This only shows in PhET-iO brand and only when the `?ea` query parameter is supplied.

Questions fo

[2022-05-03 18:30] kathy-phet commented on #802
I recall that Amy and I did discuss this with MK when we were deciding what design would be, and we all agreed it would be fine. So I don't think this will be new to him when he is back.

[2022-05-04 22:00] arouinfar commented on #802
Here's what it currently looks like on phettest:
<img width="166" alt="image" src="https://user-images.githubusercontent.com/8419308/166831936-1bd37750-bafa-4cfe-bd0c-5788f13ab400.png">

@samreid I think this looks fine for client training, but I'll go ahead and tag for design meeting to discuss the other issues you've raised.

[2022-05-09 15:50] samreid opened #807 "BackgroundColor should be defined in ScreenView, not Screen"
While working on https://github.com/phetsims/mean-share-and-balance/issues/3, @marlitas and I were surprised to see that the backgroundColor is defined in Screen rather than ScreenView, since it seems to be a view-specific value.  We skimmed the usages of background in Joist and could not see a reason that it has to be in the Screen. (It is used to create default homescreen icons, but that seems l

[2022-05-09 16:30] zepumph commented on #807
Yes, that seems like an oversight to me. It is quite view-like to me. I wonder though if joist needs a more general exploration into its model-view separation. Currently it makes some amount of sense to me to house them on the screen (not that is is best) based on the implementation in Sim.js. What is the view vs model separation in Sim? For example, it has a LookAndFeel which set's its background

[2022-05-09 16:59] zepumph commented on #802
I'm not sure if this was discussed last week, but I will say that in studio when the sim is in an iframe, I can only barely see this. Perhaps if it was a bit thicker and just on top of the bottom portion of the log? I'm not sure what is best.

[2022-05-11 18:37] samreid commented on #791
@zepumph and I discussed this at today's PhET-iO meeting.  This is an important part of the upcoming milestone, @jessegreenberg can you please prioritize the review sometime soon?

[2022-05-11 18:40] samreid commented on #761
In discussion with @zepumph, we don't expect to have time to address this for the upcoming milestone.

[2022-05-11 20:30] zepumph commented on #799
`isShowingProperty` is part of the Popupable API. Though @pixelzoom is totally correct in his assessment of things, I'm not too keen to change how that works. Instead, like @arouinfar mentioned in https://github.com/phetsims/joist/issues/799#issuecomment-1090584134, I think it will be best to remove capabilities from Dialog's visibleProperty for PhET-iO to avoid confusion.

[2022-05-11 21:06] zepumph commented on #799
So with this change both isShowingProperty and visibleProperty are readonly. Dialog is run on isShowingProperty. In general this makes sense because it doesn't make sense to control the visibility of a dialog with PhET-iO. Instead, we just control the element that toggles the dialog. So for the options dialog you just hide the menu item. This avoids the confusion that @pixelzoom mentioned in the o

[2022-05-11 21:12] zepumph opened #808 "PhetMenu should relayout when menu items are hidden"
This seems vestigial from before we had the options to `excludeInvisibleChildrenFromBounds`.

I have it working, and it is about 2x more complicated than I wish it was, but it is working. Perhaps @samreid can review and improve.

@samreid, please apply this patch, and toggle visibility of these phetioIDs to demonstrate it working:

`geometricOptics.general.view.navigationBar.phetButton.phetMenu.op

[2022-05-11 21:18] jessegreenberg commented on #791
Thanks for the ping. I reviewed https://github.com/phetsims/joist/commit/db5b61234a76808deb5bdde19daa412bad1f7009 and the implementation is understandable and refactoring was reasonable.

[2022-05-11 21:44] zepumph commented on #791
Ok great. Closing

[2022-05-11 21:44] #791 closed

[2022-05-12 17:52] jessegreenberg commented on #804
I swapped the aria-pressed state of this button, @terracoda can you please review?

[2022-05-12 17:53] terracoda commented on #804
Awesome. I will review as soon as I can.

[2022-05-12 18:24] zepumph opened #809 "simControls should be more like OptionsDialog content"
A couple of problems here.

1. simOptions cannot be a function, it should be possible to create it lazily and provide it a tandem after the fact. This will work better with PhET-iO, in which the PreferencesDialog can be disposed and re-created.
2. I get an assertion in PhET-iO right now because two PreferencesDialogs are created which means the same contentNode is used in two different align group

[2022-05-12 18:25] zepumph commented on #809
Tagging @jessegreenberg as the author of Preferences. I'll investigate a bit more and will likely ask you some questions.

[2022-05-12 18:28] zepumph commented on #809
Ok, now I can open the preferences dialog in PhET-iO brand.

[2022-05-12 21:41] zepumph commented on #802
The design team liked these tweaks today. I'll do it!

[code]

[2022-05-13 17:58] zepumph commented on #809
I discussed with @jessegreenberg and we like turning this into a function and passing it a tandem.

[2022-05-13 18:07] zepumph commented on #809
Something like this:

[code]

[2022-05-15 02:05] samreid commented on #808
I reviewed the patch and saw that it correctly handled the topmost and bottommost items, but still leaves a hole if you hide a middle item.  I think the long term solution for that part is using the new scenery layout engine, which has support for dynamic layout including auto-hiding separators (which are important for the phet menu).  So I think the patch is ready for @zepumph to commit, but just

[2022-05-16 22:22] arouinfar commented on #799
@zepumph the `visibleProperty` isn't read-only in master. I can edit
`geometricOptics.general.view.navigationBar.phetButton.phetMenu.optionsDialogCapsule.optionsDialog.visibleProperty` in Studio and hide the dialog while keeping the dimmed filter up.

<img width="863" alt="image" src="https://user-images.githubusercontent.com/8419308/168691731-1a0fa225-af6b-4917-ac16-557b9d9b6e11.png">

Otherwise,

[2022-05-17 00:37] zepumph commented on #799
Oh man, I'm sorry about that. How about that?

[2022-05-17 16:53] arouinfar commented on #799
Thanks @zepumph, looks good. I verified in master using Geometric Optics which has two dialogs - Options & About.

[2022-05-17 16:53] #799 closed

[2022-05-17 21:22] zepumph commented on #802
Here is the patch applied, as we decided in phet-io meeting. Closing.

![image](https://user-images.githubusercontent.com/6856943/168912260-c18c5733-1823-4121-8b30-a4d5130a89d2.png)

[2022-05-17 21:39] terracoda commented on #804
Sounds great in VoiceOver
<img width="823" alt="image" src="https://user-images.githubusercontent.com/1902116/168913714-85744f21-7aa0-40ca-8925-6c23a41c55d0.png">

And when All Audio is toggled off and I move focus to it, VoiceOver just says, "All Audio, toggle button"

Much better! Thanks @jessegreenberg!

Is there a chance of getting a maintenance release for affected sims with Interactive Descr

[2022-05-17 21:40] terracoda commented on #804
Do we need a new issue about maintenance releases?

[2022-05-17 22:03] jessegreenberg commented on #804
OK great, thanks. Ill remove the "blocks-publication" label then. This issue is fine for MR. ll take a look at sims that may have this change, either manually or using the tooling but this change should be simple for maintenance releases.

[2022-05-17 22:08] jessegreenberg commented on #694
No, this branch can be deleted now.

[2022-05-17 22:11] jessegreenberg commented on #694
It has been deleted.

[2022-05-17 22:11] #694 closed

[2022-05-17 22:22] jessegreenberg commented on #804
The button name was changed on 7/13/21 with SHA 28a10c682eef20bd0a391eaec610e11999d3de07, so this would impact sims that were published after that date that support Interactive Description.

Using the automated maintenance process...
I ran `Maintenance.addNeededPachesBefore( "joist", "28a10c682eef20bd0a391eaec610e11999d3de07" )` and it produced the following list:

[code]

Of those here are the im

[2022-05-17 23:35] jessegreenberg commented on #804
OK, sims have been redeployed to production! Total time was a little over an hour for https://github.com/phetsims/joist/issues/804#issuecomment-1129372089.

@terracoda back to you, is there anything else for this issue?

[2022-05-18 02:06] terracoda commented on #804
Thanks @jessegreenberg !
Awesome work. Closing.

[2022-05-18 02:06] #804 closed

[2022-05-19 20:54] pixelzoom opened #810 "TypeScript issues in ScreenView"
As part of https://github.com/phetsims/joist/issues/776, ScreenView was converted to TypeScript by @samreid.

Remaining issues:
- [ ] methods annotated as `@abstract` should be changed to use `abstract` keyword
- [x] `merge` should be replaced with `optionize` or `combineOptions`
- [x] `options?: any` should be typed
- [x] redundant `@returns` annotations should be removed

[2022-05-20 20:08] zepumph commented on #808
Honestly, I didn't know how far along the new layout stuff was when writing this patch. I'd rather give up on it and use the new layout when it comes time to refactor. Closing

[2022-05-20 20:08] #808 closed

[2022-05-23 18:15] samreid commented on #810
I tried converting the abstract annotations to abstract methods in this patch:

<details>

[code]

</details>

But it had 170+ type errors from ScreenView subtypes not implementing those abstract methods.  @jessegreenberg can you please comment on this part?

[2022-05-23 20:59] zepumph commented on #776
Home screen code done above.

[2022-05-24 21:33] jbphet commented on #803
For reference, [here](https://phet-dev.colorado.edu/html/john-travoltage/1.6.4/phet/john-travoltage_en_phet.html) is a version of the John Travoltage sim that includes the preferences dialog that has partial sound.  To experience it, start the sim and go to the preferences dialog and interact with the various controls.  You'll see that things like checkboxes and radio buttons make sounds, while AB

[2022-05-24 22:08] jbphet commented on #803
The sounds will need to be renamed to match the recently revised naming standards.  @Ashton-Morris - please make a note for your tracking that `preferences-ab-switch-a` was renamed to `switchToA` (and similar for the B sound).

[2022-05-24 22:09] jbphet commented on #803
Note to self (@jbphet):
- [ ] Get the .wav files for these assets once they are finalized.

[2022-05-25 00:25] jonathanolson commented on #143
LayoutBox actually had a reentrancy issue (its layout locking mechanism was over-eager and thus didn't do a final layout when it should have) that FlowBox doesn't have. This results in NavigationBarScreenButton's iconAndText having an improper height (due to incorrect layout). Switching this to FlowBox would have noticeable results (e.g. Graphing Quadratics 4th screen text).

I've left it using La

[2022-05-25 23:14] pixelzoom commented on #803
Looks like @jbphet forgot to add & push the modulified versions of the sounds that he added in https://github.com/phetsims/tambo/commit/382620e4ce6996491b6b24fead907762fd081d51.  I added them in the above commit, please check.

[2022-05-31 18:12] pixelzoom opened #811 "Address padding in NavigationBarScreenButton, now that it uses FlowBox."
In https://github.com/phetsims/joist/commit/934078308d37d93bd9213ae3b895d057304c6ba5 for https://github.com/phetsims/scenery/issues/1420, NavigationBarScreenButton was converted from LayoutBox (now deprecated) to VBox.   And VBox now extends FlowBox.

So does this NOTE need to be addressed?

[code]

I'm not sure what implications this has.  And PhET has had a lot of problems with navbar layout in

[2022-06-02 14:31] terracoda opened #812 ""Synchronize Recording" button in Preferences menu needs accessible name?"
Just a heads up, I am not exactly sure how the "Synchronize Recording" button will be used by researchers or participants in upcoming research studies, but it currently does not have an accessible name. As a result it is not identifiable with a screen reader or with Voicing enabled.

Assuming this button is in common code, can we just fix it there, and push it to both Quad and RaP?

I think the bu

[2022-06-02 14:49] jessegreenberg commented on #812
I added an accessible name for the PDOM and a name response for voicing just in case. Let us know if other accessibility for this button would be helpful for interviews.

[2022-06-02 15:33] terracoda opened #813 "Do we need "Voice" as part of the voicing combo box interaction in Preferences menu?"
I originally designed a dynamic button name "Voice {{Alex}}" for the preferences menu.

The button lives inside an accordion box with the name "Customize Voice", and then there are two sliders before the combo box:

Customize Voice ()
"Rate" (voiced as "Voice Rate" + actual rate) - Voice Rate, {{1.75}} times
"Pitch" (voiced as "Pitch" + actual range) - Pitch, {{in normal range}}
"{{Alex}}" (select

[2022-06-02 15:50] jessegreenberg commented on #813
I am fine with whatever is decided, though adding a "Voice" label makes the control stick out a bit farther (it can get pretty wide for the microsoft voices).

<details>

![image](https://user-images.githubusercontent.com/6396244/171670225-ed672a00-dbfa-4666-ac22-ad950f276f34.png)

</details>

[2022-06-02 16:00] BLFiedler commented on #813
I'm fine with it being above. Will the Pref menu get longer or will the text need to be resized?
![image](https://user-images.githubusercontent.com/47331395/171673710-511a33ef-3b5a-4248-9331-6583d437967c.png)

[2022-06-02 16:03] jessegreenberg commented on #813
Oh yes, I suppose so. Though changing layout of the label isn't currently a supported option of ComboBox.

[2022-06-02 22:33] arouinfar opened #814 "Preferences Dialog - Contents for localization"
Energy Skate Park will be republished with different character sets which should be selectable from the Preferences dialog.

General Tab flow:

* Query parameter customizations (such as `altAccelerationUnits` or `schematicStandard`)
* Language ComboBox
* Culture and Region ComboBox (United States of America, Africa, Africa - Conservative) with default skater headshot
* Access & Inclusion blurb

Se

[2022-06-02 22:58] terracoda commented on #812
That’s it thanks.

[2022-06-02 22:58] #812 closed

[2022-06-03 16:00] terracoda commented on #775
The home screen and navbar are working fine for sim buttons. I am opening a new issue that outlines a design pattern for  Keyboard Shortcuts dialog and all content-heavy dialogs. I think we are already using this pattern in MAL's Light Spectrum Diagram dialog.

[2022-06-03 16:00] #775 closed

[2022-06-03 16:06] terracoda opened #815 "Focus and Voicing pattern for Keyboard Shortcuts dialog button (and other content-heavy dialogs)"
I have the initial documentation for dialog buttons in the design doc for the Preferences Menu.

Here https://docs.google.com/document/d/1Qu3U8IsFYn486oJUzQ71BXs_lBKZTVS5NVdLJlTK7gw/edit#heading=h.lmnes5fzhqwj

This issue is follow up to #775

I think we are already using this pattern in MAL's Light Spectrum Diagram dialog, the pattern being:
- moving the Close button tot he end of the dialog in t

[2022-06-03 18:20] terracoda commented on #815
@zepumph and I discussed the documentation of the above pattern, and decided on a new path, that uses a custom voicing name response for the dialog's close button.

I have updates the documentation here in the Preferences Dialog Design document, just go to [Voicing Dialogs](https://docs.google.com/document/d/1Qu3U8IsFYn486oJUzQ71BXs_lBKZTVS5NVdLJlTK7gw/edit#heading=h.lmnes5fzhqwj) section

[2022-06-03 18:23] zepumph commented on #752
From a discussion with JG today, to fully implement these readme buttons generally, we may need to clear the queue when the read-me buttons are finished, because they will collect in the queue until the overview button has completed speaking.

[2022-06-03 18:55] zepumph commented on #815
OK. @jessegreenberg and I were able to get this to a good state.

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.16/phet/ratio-and-proportion_all_phet.html?

Can you please review with this dev version and see if this aligns with the design doc?

[2022-06-06 15:55] KatieWoe opened #816 "CT: PhET-iO API error: ... `keyboardHelpDialog.closeButton.enabledProperty`"
This type of issue is showing up in multiple sims in CT:
[code]

[2022-06-06 16:12] zepumph opened #817 "Cannot alert description from PhET-iO Archetype."
Reported originally over in https://github.com/phetsims/friction/issues/277#issuecomment-1146590373.

To reproduce:
* Go to studio in a sim that supports interactive highlights (ratio and proportion/friction/etc)
* Preferences dialog -> "visual" tab
* Enable interactive highlights and immediately get an assertion

`Assertion failed:  must be connected to a display to use UtteranceQueue features`

[2022-06-06 16:22] zepumph commented on #813
@terracoda, it would be a bit challenging to add the label above the combobox. Can we just keep it the way it is now?

[2022-06-06 16:23] zepumph commented on #817
This is the node trying to alert description:

`'friction.general.view.navigationBar.preferencesButton.preferencesDialogCapsule.archetype.preferencesPanels.visualPreferencesPanel.interactiveHighlightsEnabledSwitch'`

So why is the archetype trying to produce description? How do we shut that off, but mostly, why is it listening to real-world items. I'll try to shut that off.

[2022-06-06 16:53] zepumph commented on #817
I made some progress here with a commit here, in it we opt out of description and voicing responses if we are a PhET-iO archetype, but this isn't complete, and you can see that with the same assertion when enabling voicing from the preferences dialog. This is because the item trying to emit voicing is not an instrumented Node, and thus `this.phetioIsArchetype === false`. So I think we may need to

[2022-06-06 20:12] samreid commented on #817
I don't think I know enough about connectedDisplays or why there is no connected display to move forward on this.  Want to schedule a meeting?

[2022-06-06 20:44] samreid commented on #817
@zepumph and I worked out this patch which determines dynamically whether a node descendant has a phetioIsArchetype parent:

[code]

[2022-06-06 22:50] zepumph commented on #752
- [ ] Is this case buggy, or a feature?

1. Enable voicing
2. turn sim voicing off
3. press a readme button
4. While it is speaking, interact with something in the screen view.
5. The Read me button is interrupted, but no voicing comes from the sim.

[2022-06-07 16:51] zepumph opened #819 "Voicing readme buttons can noop"
I found a bit of a bug while working on https://github.com/phetsims/utterance-queue/issues/82.

Behavior:

Pressing the button will not trigger voicing.

To reproduce:
* Use keyboard, enable voicing,
* tab to details button
* Press space to hear the details button
* Tab to hint button, hear "play hint", note that the details button returned to the "play" icon.
* Shift tab back to details button
*

[2022-06-07 17:01] zepumph commented on #817
This worked in practice, but I think I can make it one function

[code]

[2022-06-07 19:08] arouinfar commented on #814
I've mocked up the General tab with sections for sim-specific settings and localization. I think the contents pop a bit more when there is some separation between the user controls and the blurb, so I've added a thin separating line between them. Perhaps this can be built into the dialog whenever the General tab contains more than just the blurb.

For ESP, the Culture and Region options would incl

[2022-06-07 20:14] zepumph commented on #817
That is working very well. I also added this same recursion to Voicing as well. The issue that I have is for usages of Voicing.alertUtterance. Here we don't have a Node, and so we don't have access to this function. I will want to discuss this with @jessegreenberg at our meeting on Friday.

[2022-06-07 21:36] jbphet commented on #803
@arouinfar - This is implemented and was reviewed and refined by the sound design team.  I'm not sure if we want or need any additional sign-off, so I thought I'd assign it so you to decide if we do and, if so, to perhaps set up a slot at an upcoming design meeting.  Alternatively, feel free to close if you're comfortable with what we've done.  The best place to experience it is probably in the Pr

[2022-06-07 23:10] jessegreenberg commented on #819
I am not sure what is going on yet, but did notice that it is important that the last two steps to reproduce the problem happen quick enough that the name response is interrupted. If you shift tab back to the details button and wait until is says "Play Details", it works correctly.

[2022-06-07 23:20] jessegreenberg commented on #819
Actually...that may be what is causing the bug. This happens for all toolbar buttons if they are pressed while the name response is still being announced from the focus event.

[2022-06-07 23:26] jessegreenberg commented on #819
Got it...It is because `LabelButtonRow.utterance` is used for both the name response and the object response, so this listener

https://github.com/phetsims/joist/blob/e9a1dbd354b6f68e3d35c4e61c3003ca289ce715/js/toolbar/VoicingToolbarItem.ts#L179-L190

immediately cancels the utterance with the object response AGAIN when the name response is cancelled. Out of time for now but will come back to work

[2022-06-08 12:23] terracoda commented on #813
Can "Voice:" part be hidden? We already have "Voice Pitch" and only "Pitch" is on the screen.

[2022-06-08 12:26] terracoda commented on #813
I would think that the design pattern would be the same as RaP's "Range" combobox.

[2022-06-08 12:27] terracoda commented on #813
If that approach is too complicated. We can leave it.

[2022-06-08 15:29] jessegreenberg commented on #819
I think this is fixed, @zepumph can you please confirm/review?

[2022-06-08 15:39] zepumph commented on #813
Ok how does that sound on master?

[2022-06-08 17:42] terracoda commented on #815
Two periods seems too hacky, so if one period doesn't work, let's stick with the comma.

[2022-06-08 18:10] terracoda commented on #815
Let me know when the period is in place :-)

[2022-06-08 20:37] terracoda commented on #813
I think this sounds better. I hear "Voice {{selectedVoice}}" when I click on or move focus to the combobox button. I also hear each voice option as I arrow through the options.

However, my selection is not voiced. And that's how it woks with the Range combobox as well.

I checked the RaP design doc to see if we had a good reason for not hearing the new selection, and Rule 2 says

@zepumph, is the

[2022-06-08 20:40] terracoda commented on #813
"Voice" is in, so this particular issue is resolved. Shall we move my last comment to a new issue - a common code issue?

[2022-06-09 16:30] zepumph commented on #813
Let's take up https://github.com/phetsims/joist/issues/813#issuecomment-1150388436 in https://github.com/phetsims/ratio-and-proportion/issues/474.

[2022-06-09 16:40] zepumph commented on #819
I think that is very nice. Thanks!

[2022-06-09 16:40] #819 closed, assigned to zepumph

[2022-06-09 21:05] zepumph commented on #800
Ok sounds good. Let me know if I can assist at all.

[2022-06-09 21:22] zepumph commented on #795
Oops, I didn't assign back. Sorry.

[2022-06-10 16:12] terracoda commented on #815
We can try 2 periods, "{{dialogName}}. Close."
I have read that alt text should end in a period, maybe that is a good strategy for some button labels as well - especially action-oriented ones.

We'll just see what works.

[2022-06-10 17:18] zepumph commented on #815
@terracoda and I decided that a comma and then a period at the end worked best. We didn't hear any change with TS's voice: "Alex" though. That is fine though! We are ready to close.

[2022-06-10 17:18] #815 closed

[2022-06-14 02:26] samreid commented on #795
That is because the HomeScreenModel has no step function.  I think it would be very safe to add.  I also tried changing Screen's declaration to `class Screen<M extends IModel, V extends ScreenView> extends PhetioObject {` but that led to a lot of contravariance problems like so:

[code]

How do you want to proceed on this part?

It's optional at the moment, like so:

[code]

[2022-06-21 20:29] arouinfar commented on #803
@jbphet thanks for the chance to review the sounds, and sorry for the delay. In general, I am fine with deferring to the sound design team for any decisions around common UI sounds. However, if there's a case where there's some debate or if the team would like additional input from designers, I'd be happy to review.

That said, I reviewed John Travoltage in master and the tab and toggle sounds in

[2022-06-21 20:29] #803 closed

[2022-06-23 02:10] jessegreenberg commented on #814
This layout was added in the above commits @arouinfar.

I need to come back to the typing of CharacterSetComboBox, I have a temporary `unknown`.  This also created many phet-io problems that I could not resolve before getting to a commit point. Ill come back to both of these things.

[2022-06-23 02:17] jessegreenberg commented on #809
I took a stab at this in the above commits for what was needed in https://github.com/phetsims/joist/issues/814. @zepumph helped me identify that tandems need to be passed through these functions so that a unique tandem can be used in the subcomponents that are created.

However I have a low confidence that things are working for PhET-iO. I was never able to get energy-skate-park running in the sta

[2022-06-23 19:14] zepumph commented on #809
Ok, I haven't reviewed yet, but I fixed RAP in two ways, now I presume that the preferences dialog would work in the state wrapper, but can't test it without getting this (unrelated?) error:

[code]

[2022-06-23 20:03] jessegreenberg commented on #814
From design meeting 6/23/22:

- Localization label should be "Localization Settings"
- The "Language" ComboBox should only be present in the "all" version of the sim. We are not sure if this feature will be included for the localization work in ESP. To be discussed during quarterly goals meeting.
- "Culture and Region" should be read as "Region and Culture"
- We may want to remove the "inclusive f

[2022-06-28 15:59] jessegreenberg commented on #809
I am seeing this too, I am guessing that there is an AlignBox somewhere in Preferences content that is not getting disposed for phet-io use cases. Ill take a look.

[2022-06-28 18:06] jessegreenberg commented on #809
The above commits added missing disposals I found necessary to get Preferences working in the state wrapper for quadrilateral, balloons-and-static-electricity, ratio-and-proportion, energy-skate-park, and friction.

[2022-06-28 18:08] jessegreenberg commented on #809
This issue wasn't for simOptions but specifically simControls of PreferencesConfiguration, I updated the title accordingly.

@zepumph can you please comment on what the next steps for this issue are?

[2022-06-28 19:42] zepumph commented on #809
I wonder if @jonathanolson can comment on https://github.com/phetsims/joist/commit/c02d01cd8d7c7c0c130128a51bcda2fdda5e928b. Do we need this to guard against this assertion? Is it required? Is this the optimal solution? @jonathanolson the way to reproduce this issue is to move the align stuff after the Node disposal and then open the preferences dialog in the state wrapper (ratio-and-proportion/en

[2022-06-28 19:42] zepumph commented on #809
Everything else looks really good.

[2022-06-28 20:45] zepumph commented on #809
Sorry, for the confusion, I actually can get this to easily reproduce with this patch. Open the state wrapper, open the preferences dialog, let it set state twice.

[code]

[2022-06-28 21:35] jonathanolson commented on #809
Disposing a layout container can trigger it to "unset" a preferred size on its content. This was triggering an AlignGroup update to try to update an AlignBox with a content node that was empty. I've added a better default for this temporary case.

[2022-06-28 21:39] zepumph commented on #809
Awesome! Thanks so much. @jessegreenberg, I would recommend removing comments and logic that until 6 minutes ago had an disposal order dependency. Otherwise you are free to close.

As a side note, I see that GeneratePreferencesPanel is now responsible for creating and disposing the simControls. Great!

[2022-06-28 21:45] jessegreenberg commented on #809
Very cool. I reverted https://github.com/phetsims/joist/commit/c02d01cd8d7c7c0c130128a51bcda2fdda5e928b, verified that it failed locally. Then pulled https://github.com/phetsims/scenery/commit/b773e2aecdb622f9a040352d3f9ec6576eb81aef and saw things working.  I pushed the revert.

I think from https://github.com/phetsims/joist/issues/809#issuecomment-1169291018 that was all for this one, closing.

[2022-06-28 21:45] #809 closed

[2022-06-29 14:26] terracoda commented on #752
I did not think of this particular case, when I opened this issue.

That said, when Sim Voicing is off, a read me button is pressed and interaction starts in the sim, I think it seems good for Voicing of the Read Me button to be stopped because the learner has changed their focus to something new - the actual sim.

We may not have thought of this particular case, but I think all the work on uttera

[2022-06-29 14:27] terracoda commented on #752
@jessegreenberg, when the code is good, I think we can close this issue.

[2022-06-29 15:17] terracoda commented on #752
And maybe we should change the title of the issue to: Read me button responses, sim voicing responses, & utterance priorities

[2022-06-29 16:54] jessegreenberg commented on #814
Labels have been updated and the "Language" ComboBox has been removed. Back to @arouinfar for next steps including the last item in https://github.com/phetsims/joist/issues/814#issuecomment-1164817376.

[2022-07-01 19:36] jessegreenberg commented on #772
Excellent, thanks for doing this. I looked at the removed strings in https://github.com/phetsims/joist/commit/d044254a1d3fefb9da18b0848cf038c3ba9b4dff and the change is correct. CLosing.

[2022-07-01 19:36] #772 closed

[2022-07-05 19:43] zepumph opened #820 "Convert SimInfo to typescript"
From https://github.com/phetsims/phet-io-wrappers/issues/435, there is a SimInfoType in PHET_IO_WRAPPERS/Client.ts that wants to instead be in SimInfo. Marking as high priority.

[2022-07-08 19:41] arouinfar commented on #744
During quarterly planning, @zepumph indicated that the Preferences dialog is ready for design review. I reviewed mostly in Friction, with some cross-referencing in John Travoltage and Energy Skate Park (has a General tab, but nothing else).

I’m not sure where this work is at, but this is only partially true for the Audio settings. The Audio Features toggle, Sounds toggle, and Extra Sounds checkbo

[2022-07-08 20:06] zepumph opened #821 "PhET-iO instrumented dialogs need their content wrapped in a Node"
New layout containers will error out if you try to use the content in a PhET-iO archetype and in the actual dialog. This creates a DAG case that new layout containers assert on:

[code]

Easily reproduce the bug:
* Open studio in friction and open the keyboard help dialog

Easily fix this:

[code]

I will take this issue to fix this one, and look around for other potential problems.

[2022-07-08 20:14] zepumph commented on #821
Options, About, and Preferences dialogs already dynamically create their content.

[2022-07-08 20:16] zepumph commented on #821
This was all I was able to find. I searched for `new PhetioCapsule` and `extends PhetioCapsule`. Closing

[2022-07-08 20:16] #821 closed

[2022-07-08 21:27] arouinfar commented on #814
Thanks @jessegreenberg. The dialog looks good in master.

I think it makes the most sense to eliminate this content entirely when the only tab in the Preferences dialog is General. There aren't any other tabs or inclusive features tied to the dialog, so the blurb isn't relevant. Let's consult with the team at the next design meeting.

[2022-07-08 23:17] zepumph commented on #744
Yes indeed! Updated above. It is still `phetioReadOnly:true`.

[2022-07-08 23:22] zepumph opened #822 "selectedTabProperty validValues should only be the supported tabs"
From https://github.com/phetsims/joist/issues/744#issuecomment-1179308610, it would be best if when we created this Property, we only provided it with the validValues that can actually work for this runtime. This makes most sense for PhET-iO. We have the info, we just want to provide the data manually based on support. Tagging @jessegreenberg but I'll do the work.

[2022-07-08 23:26] zepumph commented on #822
Oh wow! That was easier than I thought it would be, we already have a list of supported tabs. Thanks @jessegreenberg for being good at your job. Closing

[2022-07-08 23:26] #822 closed

[2022-07-08 23:30] zepumph commented on #744
I think that some of the next steps may be helped by a design meeting. But I will take a look at hiding individual preferences sections/tabs first.

[2022-07-14 23:25] zepumph commented on #744
This is still blocking Friction

[2022-07-14 23:29] zepumph commented on #816
This has not been an issue on CT for quite some time, and I couldn't reproduce it just now. That said I can't find a commit that fixed it. We can reopen if it pops up again.

[2022-07-14 23:29] #816 closed

[2022-07-15 22:24] zepumph commented on #776
Lots of converting in joist today. Some questions:

* Should Screen params default to IModel and ScreenView? I think it will simplify a fair number of spots in joist.

[2022-07-15 22:31] samreid commented on #783
I committed IModel today for a different issue. But it doesn't have a reset method yet.

[2022-07-18 22:27] pixelzoom opened #823 "Remove tandem constructor param from several joist classes."
Noticed during cleanup for "TypeScript sprint"...

There are a number of places in joist where `tandem` is not passed via options, which is the typical PhET pattern. Instead, a constructor parameter was added. And that's unfortunate, becaue `tandem` is typically included in (not omitted from) the options type for the class.

In fb48dd0e773a01ccbe686e4cd0671091a7eab331, @samreid added a `tandem` pa

[2022-07-18 22:44] pixelzoom commented on #823
I don't have a lot to do for the TypeScript sprint, so I'll start on this. If I run into trouble, I might toss it back to @samreid.

[2022-07-18 23:18] samreid commented on #783
I don't see any calls to `reset` in joist, so I'm not sure the advantage of adding that as an optional part of the interface.  @zepumph can this be closed?

[2022-07-18 23:46] kathy-phet commented on #802
@zepumph - Reopening this to confirm we should have the redline if ?ea is run in standalone PhET-iO sim? I think so, because that is basically running with debug on the PhET-iO sim only. But lets check in at Thursday PhET-iO meeting to make sure we all understand how it criss crosses various combinations, and Amy can write it up well. @arouinfar

[2022-07-18 23:53] pixelzoom opened #824 "JoistButton `super` followed immediately by `mutate`?"
In JoistButton.ts:

[code]

Is it really necessary to call `super` without options, _immediately_ followed by `mutate`?

If so... It should be documented, because it's really confusing, and really odd.  And I would definitely reconsider whatever design decision caused this to be necessary.

[2022-07-18 23:58] pixelzoom commented on #823
Addressed in the above commits. @samreid would you like to take a peek?

[2022-07-19 12:22] samreid commented on #823
All commits for this issue are good improvements, thanks!  Looks good to close.

[2022-07-19 12:22] #823 closed

[2022-07-19 14:31] zepumph commented on #820
All went well here. And we have a SimInfoState type now to use generally. The one spot worth double checking on is the `@ts-ignore` in SimInfo. I couldn't figure out how to provide the right type for the value of each element. @samreid, will you please take a look?

[2022-07-19 14:34] zepumph commented on #810
This is a bit tricky, they are abstract for the purpose of any ScreenView implementing the voicing feature, but it will only be called from the voicing toolbar. I feel like the best path forward would be to change the doc from `@abstract` to `must be overridden if supporting voicing. The runtime error there seems best. I don't really want to split up ScreenView into VoicingScreenView or something,

[2022-07-19 14:35] zepumph commented on #810
Merge and any have already been taken care of. @jessegreenberg please review and feel free to close.

[2022-07-19 15:26] zepumph commented on #824
This is vestigial, and the hackary is no longer needed since updating our mixins to Typescript. The options can be passed directly to super. Let me know if you see any other cases like this!

[2022-07-19 15:54] pixelzoom commented on #824
👍🏻 Closing.

[2022-07-19 16:25] zepumph commented on #783
In https://github.com/phetsims/joist/commit/0d6f15d4ba1fc319902af99ad6496ba6ea7ed36e I made IModel the default for Screen, which was nice to not have to give it parameters when really it is quite general.

[2022-07-19 18:20] pixelzoom commented on #783
Based on conclusions in https://github.com/phetsims/chipper/issues/1283, and @samreid's proposal to ban `interface`... Perhaps `type` should be used instead of `interface`.

[2022-07-19 23:31] pixelzoom opened #825 "Incorrect type for Sim modalNodeStack"
Encountered when trying to port BarrierRectangle.js to TS.

In Sim.js, @samreid ported `modalNodeStack` like this:

[code]

Node is an incorrect type here.   Looking at BarrierRectangle, the only place that takes `modalNodeStack` as an input:

[code]

So it doesn't need to be a Node at all, just something that implements `hide: () => void`.  Creating a type just for that seems a little odd.  It wo

[2022-07-19 23:34] pixelzoom commented on #825
Hmm... Some evidence in Sim.ts that modalStack should be PopupableNode:

[code]

[2022-07-19 23:51] pixelzoom commented on #825
The above commit works, and allowed me to proceed with porting BarrierRectangle. Closing.

[2022-07-19 23:51] #825 closed

[2022-07-20 00:13] pixelzoom commented on #783
This is failing for me in a couple of places, and I'm dead in the water.

In Screen.ts, both WebStorm and tsc are complaining about the definiton of CreateView, despite the ts-ignore:

<img width="471" alt="screenshot_1789" src="https://user-images.githubusercontent.com/3046552/179868831-94e3c839-77ba-49da-a76d-1569bc4e714a.png">

In Screen subclasses like LensScreen.ts, I'm seeing an "implicit an

[2022-07-20 01:39] samreid commented on #783
I messaged slack:

[2022-07-20 02:24] pixelzoom commented on #783
Upgrading to TS 4.7 resolved the issues I reported in https://github.com/phetsims/joist/issues/783#issuecomment-1189667682.

[2022-07-20 03:39] samreid commented on #783
I investigated how to implement the IModel constraint without any ts-ignore.  The problem is that Sim and Screen specify `IModel` as a parameter in `createModel`, so when a Screen is parameterized as `MyModel => MyView` it needs `MyModel =>MyView` and will not accept `IModel => MyView` because that type parameter already told it to expect something more specific.

Brainstorming ideas:
* We can saf

[2022-07-21 21:04] zepumph commented on #802
We reviewed this in PhET-iO meeting and decided that there was a bug in the build standalone version. This version doesn't have assertions, but adding ?ea shows the red line still. We also went over all other use cases of phetioDebug and reviewed that they seem good. Also note the problem described in https://github.com/phetsims/studio/issues/269 was a large portion of the confusion. Closing

[2022-07-21 21:04] #802 closed

[2022-07-22 22:07] jessegreenberg commented on #752
Done in https://github.com/phetsims/joist/commit/8a822463374f6dfd25e879c09deb3bfe7d3c7ee2.

Done in https://github.com/phetsims/joist/commit/7b717a468e5e51c297aef7e8629e6e50d8c2ce83.

@terracoda comment https://github.com/phetsims/joist/issues/752#issuecomment-1170053079 indicates this is OK.  Ill leave it as is for now.

So we are back to ready for review in this issue. Here is the commit to revi

[2022-07-22 22:09] jessegreenberg commented on #810
I appreciate https://github.com/phetsims/joist/commit/d54b75d3728ad87341292ae89adc8343f67e177c, thank you! Closing.

[2022-07-22 22:09] #810 closed

[2022-07-25 20:05] zepumph commented on #744
From a design meeting with @arouinfar today:

* We discussed that the general sab of the PreferencesDialog is really its own beast, that should be a lot more customizable than other tabs. We mentioned that perhaps character sets and language preferences should be put into a separate and new tab instead of in general (since they aren't sim specific).
* We discussed query parameters generally, and t

[2022-07-25 20:26] zepumph commented on #743
- [ ] Rename PreferencesManager -> PreferencesModel.

[2022-07-26 22:06] zepumph commented on #744
I am going to link to this comment in code comments to help track the decision of using Tandem.OPT_OUT. @arouinfar and I decided that while the underlying Properties may be readonly and available for PhET-iO, there is no reason to instrument the controlling view components. We wouldn't want to hide preferences (besides general) from the user. That is antethetical to the usability goals of PhET pre

[2022-07-26 22:30] zepumph commented on #814
What do we think about moving the Localization section to its own tab? I think it would flow a lot better, keeping the general tab for simulation-specific (content-wise) preferences. I foresee this a staple part of our preferences, and I worry about tacking it onto the general tab. It seems especially important to have its own tab if it would have default controls that apply to all sims in the fut

[2022-07-26 22:33] jessegreenberg commented on #814
I agree with @zepumph thoughts on organization of the dialog and it would not be difficult to change to this in the implementation. @arouinfar let us know what you think!

[2022-07-26 22:50] zepumph commented on #744
Ok. I removed the View instrumentation. I also removed the visibleProperty from the general panel. Please review the preferences dialog and the new general.model.preferencesModel.

[2022-07-26 22:51] zepumph commented on #743
I think this is done in correlation with https://github.com/phetsims/joist/issues/744. Can you please review. Marking as blocking publication because of Friction.

[2022-07-26 22:58] zepumph commented on #737
Ok. I updated this to house more Properties that PreferencesModel supports. Please review. Is there anything else you'd like here?

[2022-07-26 22:59] zepumph commented on #743
- [ ] should toolbarEnabledProperty be in the PreferencesModel?

[2022-07-26 23:28] zepumph commented on #744
A couple more questions for @arouinfar :

- should the `selectedTabProperty` be unstateful and readOnly also? I'm pretty sure, but since it lives in the view I thought I'd ask
- I also opted out for the localization and character set items since they were in the preferences/ folder too. This way we have the same behavior for all settings but the sim-specific components on the general tab, but let

[2022-07-27 22:32] arouinfar commented on #744
@zepumph in general, the tree looks good, but I ran into one issue:

* The contents of `general.view.toolbar` should likely all be read-only. It seems odd for users to be in control of the `visibleProperty` of the toolbar and its contents.

This all looks good to me @zepumph!

Yes, that sounds reasonable to me.

Eventually the Localization Settings will include a UI control for users to select the

[2022-07-27 22:33] arouinfar commented on #814
@jessegreenberg @zepumph a Localization tab sounds great to me!

[2022-07-28 18:41] samreid commented on #783
At today's developer meeting, we agreed the final proposal and patch in the about bullet point sounds promising, but we want to run it past @pixelzoom before implementing it.

[2022-07-28 23:21] zepumph opened #826 "`?screens` should not change the PhET-iO API"
Over in https://github.com/phetsims/studio/issues/268#issuecomment-1198714103 and https://github.com/phetsims/phet-io/issues/1699 there was a large conversation about how Query Parameters can effect PhET-iO, most specifically as it pertains to the studio customization -> standard phet-io wrapper stack. Here are some gross things about the screens query parameter when making standard phet-io wrappe

[2022-08-01 13:40] terracoda commented on #789
In @samreid 's mockup the buttons in the inverted navbar look way better than they do in sims when an 3rd-party tool is used to invert the colors.

[2022-08-01 13:54] kathy-phet commented on #826
I'm closing this issue because after further thinking we realized that:
1) Using ?screens= in conjuction with the Standard PhET-iO Wrapper would not work because the state is set after the query parameters are initiated. Only ?locale= works after a wrapper is created in Studio.
2) We will pursue an easier improvement in Studio to support API clients to show just one screen
Closing.

[2022-08-01 13:54] #826 closed

[2022-08-01 13:58] kathy-phet opened #827 "Create a node for the screen/homescreen group and add a visible property"
To make it easier for clients to mimic a one-screen sim, we will put the home screen plus screen icons/names into a node grouping container, and then instrument that grouping to be able to have visible property that can be toggled on and off. Optionally, an enabled property could be available too for clients to prevent premature movement to another screen ... but not sure that is needed.

@arouinf

[2022-08-01 14:01] kathy-phet opened #828 "Upgrade joist screen icons/names and homescreen icons to use dynamic layout"
@arouinfar - Can you look at Studio and see if the icon layout is dynamically responsive if you hide one screen icon/name in the navigation and homescreens? If not, @jonathanolson, can you upgrade these layout groups to use dynamic layout?

[2022-08-01 15:46] zepumph commented on #752
Awesome thanks.

Last thing. Do you feel like we should use Enumeration instead of number? I was just thinking we can't enforce having arbitrary priorities right now, which we currently don't have (but I had to go and check all usages of `priority:`. Do you like this better? If not feel free to close.

[code]

[2022-08-01 15:50] jessegreenberg commented on #752
I do like that a little better, it was proposed in https://github.com/phetsims/utterance-queue/issues/78 as well. I think it is a dev enhancement we can get to separate from this issue.

[2022-08-01 15:58] #752 closed

[2022-08-02 15:49] jonathanolson commented on #828
Implemented this part of the feature above, can you see how it looks?

[2022-08-02 17:42] zepumph commented on #827
This may be obsolete if instead we create a property that takes the value of the `screens` query parameter and updates the sim accordingly.

[2022-08-03 04:29] samreid commented on #664
I'm ready to check in with @jonathanolson and @pixelzoom about this issue.  Should we follow one of the proposed subsampling algorithms?

[2022-08-03 05:30] kathy-phet commented on #827
I thought we didn't want to go that direction because screens doesn't work after using studio. And we want clients to have all four screens available through the api which doesn't work if the api is limited to one screen.

[2022-08-03 17:03] arouinfar commented on #828
@jonathanolson I think this is behaving as intended, but the home screen button looks a bit off in the absence of screen buttons. It seems like the screen button group (excluding the home button) is centered in the navbar and things re-center appropriately as individual screens are hidden. That all looks good, but I was surprised that the home button didn't end up centered when the last screen but

[2022-08-03 17:06] arouinfar commented on #827
@kathy-phet the proposal is for there to be a Property that accepts a string formatted like the one used with the `screens` query parameter. The idea is that a client would create a single Standard PhET-iO Wrapper and then later set this new Property to something like `1,2` to only include the first two screens.

[2022-08-03 19:45] jonathanolson commented on #827
Implemented the Property for this (sim.general.view.screensStringProperty), and did a lot of the dynamic layout work above so that this should update seamlessly.

One unintuitive thing is that you can currently be on a screen (1) and change the screens to (2,3) and it won't force a change of screens. I didn't know what was best (if I implement going to e.g. screen 2 in that case, it changes the fo

[2022-08-03 19:47] jonathanolson commented on #827
@zepumph would you be able to review these changes?

Notably, selectScreens separation makes it particularly tricky, as we need the output of one section of it BEFORE we can create the HomeScreen. I had to add an earlier callback for this, but in general my solution is ugly in this way. Perhaps it would be best to separate selectScreens out into two functions? Thoughts?

[2022-08-03 19:50] jonathanolson commented on #828
It's expected, since the layout is based on "the left-most visible screen button". To be backwards-compatible, I had to do some atypical things (the navbar screen buttons take up a certain amount of space for their layout, but the offset of the home button (a) doesn't respect this space/padding, it uses its own, and (b) only the screen button group is centered, that doesn't include the home button

[2022-08-03 21:01] arouinfar commented on #827
@jonathanolson I reviewed `screensSelectedProperty` in the context of Buoyancy which has 4 screens. The navbar layout updates as expected when changing the value and looks great overall. Things also look fine when running Studio with `screens` -- `screensSelectedProperty` is read-only, though the valid values start to look a bit odd. For example running Studio with `screens=3,4` has these valid va

[2022-08-03 21:06] jonathanolson commented on #827
Yes, I was waffling back-and-forth between doing something (what you described) in those situations, or doing nothing.

[2022-08-03 21:06] zepumph commented on #827
This is so fun! Thanks for all the hard work.

* I definitely think that we should have the screenProperty listen to this string, and if it is no longer available in the list, move to the "next available", I'm not sure if it matters too much which one that is.
* I noticed that the valid values are sorta in a weird order: Perhaps some work to sort these:
![image](https://user-images.githubuserconte

[2022-08-03 21:38] arouinfar commented on #828
Thanks for the explanation @jonathanolson. I'm fine with leaving things as-is.

Not sure if this issue can be closed or needs to be reassigned to another dev to review the changes, so back to @jonathanolson.

[2022-08-03 22:49] samreid commented on #807
Raising for dev meeting discussion to determine priority, assignees, timeline and whether it will need to be a chip-away.

[2022-08-03 23:12] kathy-phet commented on #827
Just reviewed briefly, so sorry if I'm missing something.
- Seems like re-indexing the screens could cause confusion, so remember the valid screens - so screen 3 is always screen 3, seems like it would be better.
- Having radio buttons of the valid values seems like it will get quite long for a 5 screen sim? Can we do validity checking when its entered, but not provide it as a radio button selecti

[2022-08-03 23:40] samreid commented on #820
With the current implementation strategy, the `any` and `ts-ignore` seem reasonable.  The next level would be to eliminate `info` completely and use type-specific elements like so:

[code]

However, that is a lot of work and what we have is working nicely.  OK to close?

[2022-08-04 02:35] #820 closed

[2022-08-04 14:56] zepumph commented on #827
I'm excited to discuss this this afternoon at 1:40, but basically my hope was to deprecate the ?screens query parameter as a PhET-iO feature, since this instrumented Property is a much more streamlined approach to support this both on startup AND for dynamic mutation during the runtime of the sim.

[2022-08-04 15:14] jonathanolson commented on #827
There actually was an easy way to prevent the "reindexing", I've switched to it with the above commit.

[2022-08-04 15:17] pixelzoom commented on #664
I don't have an opinion. Screenshots are outside my wheelhouse.

[2022-08-04 20:34] jonathanolson commented on #827
Future TODOs:

- Add phetioDocumentation
- Code review (together with @zepumph)

We renamed it to `screensIncludedProperty`, ordered the valid values, have the selected and active screens in the sim adjust nicely when it changes, and have those changes not mess with selection in studio. It's also not read-only anymore, even if the screens query parameter.

[2022-08-04 20:37] jonathanolson commented on #827
Also notably, having it just be a string "Property" doesn't work well. When trying to change "1,2" to "1,2,3", it goes through an intermediate "broken" state of "1,2," (extra comma), and fails validation. It seems like for most cases, an explicit list is fine.

[2022-08-04 20:55] pixelzoom commented on #783
I can't say that I'm wild about the approach in the patch in https://github.com/phetsims/joist/issues/783#issuecomment-1189781470.  But I don't have a better suggestion.   If `create` is the new way of instantiating a Sim instance, then Sim's constructor should be `protected`.

[2022-08-05 17:51] zepumph opened #829 "Non translatable text in soon-to-be-published sim"
From https://github.com/phetsims/joist/issues/772 and https://github.com/phetsims/joist/issues/694:

I believe most recently this is being worked on in https://github.com/phetsims/joist/issues/814.

https://github.com/phetsims/joist/blob/e34f1194e9b89d123a9e3b43604adefaf0ad2d48/js/preferences/SimControlsPanelSection.ts#L13-L16

@jessegreenberg can we tighten this down for our soon-to-be-released R

[2022-08-05 18:09] jessegreenberg commented on #829
If it will be used in friction then it can be moved back into joist strings. It was just confusing for translators to find it in the translation utility when it wasn't used in any sim yet.

Is there content under this section in friction?

[2022-08-08 18:50] samreid commented on #827
The `screensIncludedProperty` looks great and leads to a great UX for Gravity and Orbits:

<img width="432" alt="image" src="https://user-images.githubusercontent.com/679486/183491207-c648110c-a2fb-426b-ba64-77eb1d873b28.png">

However, it is a bit more unwieldy for a 4-screen sim like Graphing Quadratics (zoomed out so I could fit everything one one page):

<img width="202" alt="image" src="https

[2022-08-08 20:01] samreid commented on #827
For the UI, I was picturing something like https://stackoverflow.com/questions/10588607/tutorial-for-html5-dragdrop-sortable-list which could look like:

![Kapture 2022-08-08 at 14 00 16](https://user-images.githubusercontent.com/679486/183503985-baf1078a-d867-425d-b9d3-a44a8f047c33.gif)

Maybe with grab handles so it looks more draggable.

Also, the underlying type could be `ArrayIO<NumberIO>` in

[2022-08-08 21:29] samreid commented on #783
The proposed strategy gets type inference to work well in all sites that use `new Sim`.  For instance, in Fourier, it could infer all the model and view types from this part:

[code]

`Sim.create` was our workaround for sites that `extend Sim` where inference cannot be used.  But maybe it would be better if all sites could use `new Sim`.

I skimmed it and did not see any obvious defects.

Let's di

[2022-08-09 22:04] samreid commented on #828
I tried hiding both navbar sim screen buttons in Gravity and Orbits and got this error:

[code]

[2022-08-09 22:35] samreid commented on #744
Today @zepumph and I converted Gravity and Orbits to use PreferencesConfiguration.  @arouinfar can you please spot check it and make sure it seems good?

[2022-08-09 22:46] samreid commented on #828
Fixed in the commit.  Everything else in this issue seems good to close.  Please reopen if I've missed something or if there is more to do.

[2022-08-09 22:46] #828 closed

[2022-08-09 23:00] samreid commented on #744
I addressed several of the recommendations above:

When this is introduced, the `localeProperty` will be instrumented and stateful and the UI components will not need to be stateful.

I think that's everything for this issue.  @arouinfar can you please review, and also check the new Preferences Dialog for Gravity and Orbits?  Please close if all is well.

[2022-08-09 23:33] arouinfar commented on #744
@samreid the Projector Mode checkbox behaves as expected and looks fine in the Studio tree. However, the font is huge. It looks like it might match the size of "General" but it should instead be a more appropriate size for the contents. For example, refer to the "Extra Sounds" checkbox (found in Friction, but likely a common code thing).
<img width="256" alt="image" src="https://user-images.github

[2022-08-10 05:00] samreid commented on #814
Since this issue overlaps with https://github.com/phetsims/joist/issues/744, I'll commit a proposed implementation for review.   The naive implementation looks like this:

<img width="355" alt="image" src="https://user-images.githubusercontent.com/679486/183819248-da1c177b-432b-42b4-921e-060fee5186d1.png">

Design problems with this:
* It visually parses like there are essentially 3 "titles".
* It

[2022-08-10 05:02] samreid commented on #744
I reduced the size and added a commit in https://github.com/phetsims/joist/issues/814 that omits the inclusive features blurb at the bottom of the General tab if there is only one tab.

Ready for review.

[2022-08-10 15:26] arouinfar commented on #744
Thanks @samreid, the visual changes you made in GAO seem fine, but I agree with your comments in https://github.com/phetsims/joist/issues/814#issuecomment-1210161680 which we can discuss in design meeting tomorrow.

It looks like the Projector Mode checkbox is no longer instrumented, and it seems like the entire Preferences Dialog may have been uninstrumented. I can still find the capsule in the t

[2022-08-10 20:03] samreid commented on #744
I featured the preferencesButton.visibleProperty and fixed a bug that prevented the subtree from in elements from showing in https://github.com/phetsims/studio/issues/268.  @arouinfar can you please re-review?

[2022-08-11 00:57] jessegreenberg commented on #814
Brainstorming some other layout ideas before design meeting tomorrow:

The section could be left aligned in a layout container like this
<details>

![image](https://user-images.githubusercontent.com/6396244/184047119-1dcc3c03-ac5d-4098-9d75-da9a7ccb9928.png)

</details>

Maybe we get rid of the tab:

<details>

![image](https://user-images.githubusercontent.com/6396244/184047386-bfb1558e-909c-4786

[2022-08-11 04:58] emily-phet commented on #814
Sorry - I'm curious to learn more about this issue tomorrow in status. I'm assuming the example here is just a stand-in for a general case. For the specific example given, I just wanted to note the following - "projector mode" would be a visual change appropriate for a visual tab rather than the general tab.

[2022-08-11 17:55] jessegreenberg commented on #664
During dev meeting 8/11/22

KP: Would the proposed changes in https://github.com/phetsims/joist/issues/664#issuecomment-1073053535 have a performance impact?
JO: Yes it might. I think we have done something like this in the past and we chose speed over quality. I think Safari + Canvas was the slowest platform/case for screenshots.
KP: How was this noticed?
SR: Noticed by a QA tester, others have v

[2022-08-11 20:51] kathy-phet opened #830 "Fix ?allowLinks behavior"
There are a few places where links / opportunities for students to navigate away from the simulation are still available when
?allowLinks=false

Specifically, these links are still active:

We need a solution for this when allowLinks=false.

Options off the top of my head:

others???

[2022-08-11 21:03] samreid commented on #827
screensIncludedProperty will be Array<number> instead of String
general.model
screens
selectedScreenProperty (renamed from screenProperty, migration rule needed)
availableScreensProperty
isUserNavigableProperty
Add a linked element from the new navbar group so the visibleProperty links back to isUserNavigableProperty

[2022-08-11 21:07] oliver-phet opened #831 "Review ?allowLinks=false query parameter"
I looked into the `?allowLinks=false` query parameter because we received a request for disabling various PhET menu items from a user deploying sims in a kiosk fashion:

It sounds like the level of customization they want is best served by PhET-iO.

However, I still think it would be good to reevaluate the `?allowLinks=false` qp. From what I can tell, it disables the links to the Licensing Terms,

[2022-08-11 21:09] oliver-phet commented on #831
I suppose I'll add this to Dev meeting to be evaluated/prioritized?

[2022-08-11 22:20] jonathanolson commented on #830
Also, any usage of `openPopup` should be checked (perhaps openPopup could check to see if the query parameter is provided?)

[2022-08-11 22:24] kathy-phet commented on #830
Original issue: https://github.com/phetsims/joist/issues/592

[2022-08-12 00:03] jonathanolson commented on #827
Implemented above, @samreid can you review?

[2022-08-12 01:02] samreid commented on #827
@jonathanolson the commits and behavior look good.  I added a commit with a migration rule so 1.5 states will load into 1.6 gravity and orbits.  There was one other flaw noted in https://github.com/phetsims/studio/issues/268 which was corrected.  All else seems good to me.  Tagging @zepumph in case he wants another look or knows of more to do.  Otherwise, closing.

[2022-08-12 04:40] kathy-phet commented on #830
@zepumph - Can you review JO's fix to allowLinks? You actually recognized this need previously in the original issue - in this comment https://github.com/phetsims/joist/issues/592#issuecomment-565555239, but I think you were on vacation and then the thought got lost in the final review and sign off on that issue.

Behavior currently doesn't hide the option (e.g. PhET Website ...) will be visible,

[2022-08-12 04:42] kathy-phet commented on #831
Hey Oliver, I made an issue about the same time as you did. JO found a potential fix he commited. So we will continue this discussion in that other issue:
https://github.com/phetsims/joist/issues/830

[2022-08-12 04:42] #831 closed

[2022-08-12 04:45] kathy-phet commented on #830
@jonathanolson - also, this is a candidate for a maintenance release to PhET brand, once we are sure we have fixed all cases and are happy with the PhET brand behavior.

[2022-08-12 19:29] arouinfar commented on #829
In the 8/11/22 design meeting, we decided to remove the "Simulations-specific Settings" title from the General tab, see https://github.com/phetsims/joist/commit/8f36fdff2e254bfdfe4de5348ca97da4a5480d50.

@zepumph you can likely close this issue.

[2022-08-12 20:04] arouinfar commented on #814
Meeting notes from the 8/11/2022 design meeting with EM, TS, AR, JG, MK, SR, KP, AP:

1. We want to add a "Localization" tab to house locale controls and other regional settings (e.g. character sets).
   * Based on today's PhET-iO discussion with @samreid @zepumph @jonathanolson about supporting `locale`, this functionality has become a priority.
3. The General tab should only contain truly simula

[2022-08-12 20:39] jessegreenberg commented on #814
The front-end changes listed here seem like they are in my wheelhouse, Ill start working on the checkboxes listed above now.

[2022-08-12 22:45] #829 closed

[2022-08-12 22:46] jessegreenberg commented on #814
A first pass for the Projector Mode toggle switch was added above. I have working copy changes for the new "Localization" tab that I will come back to next.

[2022-08-12 23:33] samreid commented on #814
I'm not sure what parts to work on, so I'll self-unassign.  Please add me back as needed.

[2022-08-13 02:24] jonathanolson opened #832 "branch: stringProperties"
See https://github.com/phetsims/chipper/issues/1302

[2022-08-15 18:21] zepumph commented on #830
Adding behavior for openPopup makes sense, but it doesn't capture the spirit of converting query parameters to behavior that is covered/duplicated by the PhET-iO API so that it can be mutated in PhET-iO and thus supported in the standard wrapper. To do that, this would need to run off of a Property, which is kinda  a no-no in phet-core.

[2022-08-15 20:01] jessegreenberg commented on #814
Several TODOs were added in the above commits, Ill keep cleaning up. But this is ready for a review, @arouinfar can you please review the changes and comment on next steps for this issue?

A new "Localization" tab has been added and controls were moved into that tab. You can see them in energy-skate-park/energy-skate-park-basics now.  Once reviewed we can remove the "Language" control until it is

[2022-08-15 21:28] jessegreenberg commented on #814
I think that cleanup is sufficient until further design feedback.

[2022-08-15 21:56] arouinfar commented on #814
Thanks @jessegreenberg, looks good in master. I've pasted in screenshots of the dialogs for easier review at this week's design meeting.

<img width="932" alt="image" src="https://user-images.githubusercontent.com/8419308/184724862-dca4983f-369d-42af-87e1-a84e71e6e182.png">
<img width="923" alt="image" src="https://user-images.githubusercontent.com/8419308/184724682-d122e762-7fcb-4296-9281-ca5e750

[2022-08-16 16:39] zepumph commented on #830
@jonathanolson and I discussed this, and in order to have allowLinks running from a Property, we are going to move openPopup to sun, so that it can depend on axon Property.

[2022-08-16 21:20] zepumph commented on #830
Steps for this issue:
* Have `?allowLinks` set the initialValue of a PhET-iO instrumented Property, that is customizable in studio. This shouldn't be in joist/ because we still want to be able to use the Property in `openPopup`
* Convert usages of the allowLinks query parameter to instead dynamically adjust behavior based on the state of the Property
* Move openPopup to a place where it can use th

[2022-08-18 15:32] zepumph commented on #830
@samreid, @arouinfar, @kathy-phet and I discussed this a bit more, and we have a new recommendation.

We want to move openPopup to scenery, and create the `allowLinksProperty` singleton in scenery.

[code]

[2022-08-18 15:54] jessegreenberg commented on #814
There was some discussion on slack where we identified next steps and identified how to hook up language switching into the preferences dialog. It should be straight forward through the new `localeProperty`.

So we need to decide the best UI to control language from within the dialog. In @jonathanolson prototype there is a popup that shows each language. Mouse over and press selects a new language

[2022-08-18 16:25] zepumph commented on #796
@jessegreenberg how does that look? Feel free to close.

[2022-08-18 17:19] zepumph commented on #776
Ok. All files in Joist have been converted, and most ts-ignores were able to be deleted now that other common code has been brought to typescript. I think we are ready to close. Remaining work lives in other issues.

[2022-08-18 17:19] #776 closed

[2022-08-18 17:56] zepumph commented on #513
This is in much better shape in PhetMenu now a days:

[code]

[2022-08-18 17:56] #513 closed

[2022-08-18 17:58] chrisklus commented on #807
KP: Does this affect phet-io API?
SR: No
KP: This seems like low priority and should probably not be changed right now

Should BackgroundColorProperty be in Screen or ScreenView? We took a vote:

AV: abstain
CM - not present
CK: no strong feelings, would want to look at usages before knowing what feels best
JB - not present
JG - ScreenView. But its used before ScreenViews are constructed currently

[2022-08-18 18:09] zepumph commented on #597
Just a ping on this guy

[2022-08-18 18:40] samreid commented on #814
Patch from demo:

<details>

[code]

</details>

[2022-08-18 19:15] jessegreenberg commented on #814
The above commit is a demo of displaying with a carousel.

![image](https://user-images.githubusercontent.com/6396244/185474507-ef35b6fa-0a15-4b34-a6bb-b798b6fb2af5.png)

[2022-08-18 19:18] jessegreenberg commented on #814
Ill start on the items in https://github.com/phetsims/joist/issues/814#issuecomment-1219814475 but may need help for dynamic layout and the layout issue.

[2022-08-18 20:52] arouinfar opened #833 "Change Preferences icon when Localization tab is present"
In https://github.com/phetsims/chipper/issues/1302 we are adding the support to switch the locale while running the simulation. The controls for this will live in the Localization tab of the Preferences Dialog, #814. The changes to support in-sim locale switching are too complex to maintenance release, so it will take quite a bit of time to support this feature in all sims.

We want a way to visua

[2022-08-18 23:08] jessegreenberg commented on #814
I added the icon to the "Localization" tab and put in the layout we decided to try in design meeting today.

I am not familiar with dynamic layout yet, @jonathanolson would you mind continuing with the remaining items? Or if it would be best to pair that is great too.

I am not sure what is going on here but it is accompanied by a maximum call stack exceeded error

    at Text.onTransformChange (N

[2022-08-19 15:57] emily-phet commented on #833
I wasn't part of the discussion on this, but wanted to share a thought on it.
We're providing a way to sort sims by what features they have through the website filtering page. That's how we're cueing folks to search for what kinds of key features are in a particular sim. I wonder if that's sufficient to support users in being aware of what sims have localization features - can we add the ability t

[2022-08-19 16:39] arouinfar commented on #833
Thanks @emily-phet. I really like this idea!

@kathy-phet could we achieve your goals using a website filter?

[2022-08-19 16:41] amanda-phet commented on #833
I am wondering why the icon should be modified in this case. It seems confusing to me to cue a particular setting that exists, when we don't do that for other settings in the preferences dialog.

Would it be present any time the localization tab exists? Or is this truly only for the case where you can switch locale in the sim?

Lastly, I think that cueing this in the settings icon could imply that

[2022-08-19 17:39] kathy-phet commented on #833
Some of the thoughts I had for elevating/cuing language switching directly in a simulation were around the context in which many many students now use PhET sims.

I think adding a website filter is nice, but it won't address what I was hoping to address with the icon cue.

That is, the vast minority of users will be navigating to a simulation via the website filter or something like that. These da

[2022-08-19 18:36] amanda-phet commented on #833
I guess the question is just whether locale switching is a top priority to cue in the navbar, when we have a lot of wonderful things available in the preferences menu that aren't explicitly cued.

[2022-08-19 19:07] BLFiedler commented on #833
I'm don't think I'm advocating this option so much as tossing it in the mix _and_ it goes against the existence of the Preferences menu, but if Localization does feel unique amongst the other Preferences menu options for one reason or the other, might it be worth its own icon/menu altogether?

Relevant to the original post, I like icon 4 the most.

[2022-08-19 19:14] kathy-phet commented on #833
One quick question is whether by adding a globe, it will increase the likelihood of people clicking and discoverying all the wonderful options we have. We know that discovery and knowledge of translations is something that is definitely an issue. It could definitely be a discovery issue for all of our wonderful options. If a globe encourages clicking, perhaps that is a good thing. (Interviews coul

[2022-08-19 19:34] emily-phet commented on #833
Adding a special designation to the preferences menu icon privileges that feature over others. There may be good reasons to do so, but I think it would be helpful to specifically document what those reasons are.

[2022-08-19 20:18] arouinfar commented on #833
If teachers are accessing the sim through a bookmarked/embedded sim, it's highly unlikely to be the _all file since we don't serve it directly on the website. For teachers to get access to locale-switching, they are going to need to revisit the PhET site and update their bookmarks.

I've given this some thought, and I think we should really just encourage users to explore the Preferences dialog, i

[2022-08-19 21:04] arouinfar commented on #814
@jessegreenberg when the General Tab is empty, can we get rid of the divider above the blurb?

Here's what it currently looks like in master (RaP):
<img width="421" alt="image" src="https://user-images.githubusercontent.com/8419308/185706860-53046d9b-0676-4ab7-b850-c174d1ee9088.png">

Compare that to the published behavior in JT:
<img width="854" alt="image" src="https://user-images.githubusercont

[2022-08-19 21:13] jessegreenberg commented on #743
This is looking good.  I reviewed https://github.com/phetsims/joist/commit/25f06b0b6a940dcaae9247fc6d816b12bda07087. PreferencesManager was then renamed to PreferencesModel.

I am not too sure. It is currently only related to Voicing but there was a thought that one day more things would go in here. Its controlled from the "Voicing" section of the "Audio" panel and may be better in the AudioModel.

[2022-08-19 21:18] jessegreenberg commented on #814
There is some code in RAP putting empty content into the general tab in some cases, it think that is a sim specific issue. JT and GAO master look like the second screenshot you showed.

[2022-08-19 21:47] jessegreenberg commented on #746
Now that we have a better PreferencesModel from #743 we can wrap this up. Though I am not exactly sure what is best. My thinking is that we need to move the check added in https://github.com/phetsims/joist/commit/034eacb35950e6aafb1a46da4deaf4849798fc4c into the PreferencesModel such that `PreferencesModel.audioModel` is accurately describes supported features.

Done in the above commit. @zepumph

[2022-08-19 22:29] jessegreenberg commented on #814
After discussion with @zepumph who recommended these enhancements, I added a few more things
 - maxWidth safety net for when there are too many languages so that the Panel scales down instead of the whole dialog.
 - Highlights that show selected locale and a highlight for mouse interaction
 - Basic keyboard navigation

[2022-08-19 22:35] jessegreenberg opened #834 "Consolidate PreferencesConfiguration and simFeatures"
We used to have simFeatures as the only entry point to enable or disable features for a PhET sim. Now we have PreferencesConfiguration which is also a way to enable other features and their items in the Preferences Dialog. They have overlap, and it is confusing which should take priority. I noticed this because I tried to enable Voicing from PreferencesConfiguration but found it did nothing becaus

[2022-08-19 22:37] jessegreenberg commented on #834
Its likely to support this we will need a default PreferencesConfiguration, which is a step in the right direction. It is strange to require an empty PreferencesConfiguration just to see the Preferences Dialog.

[2022-08-22 15:15] zepumph commented on #746
Looks great! Thanks.

[2022-08-22 15:15] #746 closed

[2022-08-22 15:57] zepumph opened #835 "A better API to supply sim-specific preferences into any Preferences tab"
Currently we have `createSimControls` which is a single node that goes onto the general tab, but on Friday @jessegreenberg and I discussed the potentential need to have sim-specfic settings that don't map into general, but rather other tabs. I wanted to prototype with an option to preferencesConfiguration like:

[code]

And update the PreferencesDialog to append these into whatever tab is needed.

[2022-08-22 15:58] zepumph commented on #835
This is blocking publication of RAP I believe.

[2022-08-22 16:42] pixelzoom opened #836 "UI and API for selecting color profile is unnecessarily limiting."
In the Preferences dialog, the UI for selecting a color profile looks like this:

<img width="774" alt="screenshot_1803" src="https://user-images.githubusercontent.com/3046552/185973158-11af5961-8123-4309-8cc9-4f3a5c8e37c1.png">

And the API looks like this (example from gravity-and-orbits-main.ts):

[code]

This assumes that there are only 2 color profiles: 'default' and 'projector'.  PhET specif

[2022-08-22 17:00] pixelzoom opened #837 "Fold Options into Preferences."
Related to #835, and summary of Zoom discussion with @jessegreenberg ...

* Any sim that has an Options dialog (uses SimOptions `createOptionsDialogContent`) will need to be folded into Preferences.
* This will probably involve using SimOptions `preferencesConfiguration` instead of `createOptionsDialogContent`.
* If the Options dialog uses ProjectorModeCheckbox, it should be removed, and instead a

[2022-08-22 18:36] pixelzoom commented on #783
@samreid let me know when you'd like to discuss.

[2022-08-22 19:22] zepumph commented on #837
In that case, it will probably want to hold off until #835 has been worked out. If options are totally sim-specific, then we can proceed using `PreferencesConfiguration.createSimControls`

[2022-08-22 19:24] zepumph commented on #835
Also good to tag https://github.com/phetsims/joist/issues/837

[2022-08-22 20:04] arouinfar commented on #836
This came up in design meeting  while we considered UI options for Projector Mode, but decided to use a switch to match some of the other controls already in the Preference Dialog, like Interactive Highlights or the Voicing/Sound switches. The previous Projector Mode checkbox was also a binary control.  Since there are no plans to add support for additional color profiles for the foreseeable futur

[2022-08-22 20:25] pixelzoom commented on #836
I get it.  And I'd prefer the cleanness of the on/off switch -- if it was really a binary choice.

But it's not binary. So there's a big mismatch between the UI and color-profile API here. Are we certain that there will be no need to add additional color profiles? Nothing related to a11y or research, like a high-contrast profile?

[2022-08-22 20:29] zepumph commented on #836
Can we make the argument though that it is at least not more of a mismatch as what is already implementing ProjectorMode checkbox (which uses assumptions and assertions to map colorProfile into projector mode and "other")? We can always change the UI when it is time to add more color profiles.

For context, you are catching me after ~5 months of scope creep on the upcoming PhET-iO batch release, s

[2022-08-22 20:34] pixelzoom commented on #836
Agreed that it is no worse than using ProjectorModeCheckbox in an Options dialog.

[2022-08-22 20:39] zepumph commented on #834
@jessegreenberg and I were working on this today. We decided that simFeatures probably need to stick around so that we can still have data lists, but it wasn't clear to us if the query parameters should override the options passed when creating a PreferencesModel.

Up next we are going to combine PreferencesModel and PreferencesConfiguration. This is only possible because we can now have an empty

[2022-08-22 21:43] zepumph commented on #835
@jessegreenberg and I like:

[code]

[2022-08-22 22:53] jessegreenberg commented on #835
<details><summary>Progress Patch</summary>

[code]

</details>

[2022-08-22 23:35] zepumph commented on #837
Definitely on hold until we finish https://github.com/phetsims/joist/issues/835, there is a new API for creating custom preferences, even in the general tab.

[2022-08-22 23:46] zepumph commented on #834
We were able to combine these two and delete PreferencesConfiguration. We decided that we didn't want to support query parameters overriding the value passed into the preferencesModel at this time. It seemed fine since most options should come from simFeatures anyways. @jessegreenberg ready to close?

[2022-08-23 00:01] zepumph commented on #835
Lots of good progress here!

Each preferences type now has its own `customPreferences` to add. We are using it in RAP to provides input preferences, and ESP and Quad for general controls.

I think we are ready to unblock https://github.com/phetsims/joist/issues/837

[2022-08-23 00:01] zepumph commented on #835
@jessegreenberg, can you please review and recommend next steps?

[2022-08-23 00:02] zepumph commented on #837
Now unblocked! Yay

[2022-08-23 00:14] zepumph commented on #837
I converted the ProjectorMode-checkbox-only sims over to preferences above. It lost PhET-iO instrumentation on some, but consistency is good. If we want the checkbox instrumented in the future, we will add it then.

[2022-08-23 00:34] zepumph commented on #837
The second half of the list has been done above. A couple more things to do:

- [ ] `new ProjectorModeCheckbox` should not be used, we should be moving towards the preferencesModel setting.
- [ ] OptionsDialog should be deleted. Right now the main challenge is that OptionsDialog has constants used elsewhere.
- [ ] GreenhouseEffectQueryParameters.optionsDialog should probably be renamed
- [ ] *Opti

[2022-08-23 03:19] jonathanolson commented on #814
I made some updates above for dynamic strings and dynamic layout (and fixed a GAO issue that was showing up here).

@jessegreenberg could we possibly collaborate on the rest? I'm not sure how to get everything to show up, and I think it would be beneficial to work through some dynamic layout things together.

[2022-08-23 15:08] jessegreenberg commented on #837
Excellent! I am seeing a couple of phet-io problems on CT in diffucion/gas-properties that I don't know how to fix

[2022-08-23 15:12] pixelzoom commented on #837
A couple of other things that need to be done:

- [ ] Rename "Options" classes/variables/methods/etc. like GOOptionsNode.js. Should we use "Preferences", e.g. GOPreferencesNode?

- [ ] Update documentation like this that appears in GOOptionsNode.ts:

[2022-08-23 15:37] zepumph commented on #837
Fixed above. We changed the tandem API so now you are given a parent tandem, instead of the tandem you should use.

[2022-08-23 15:40] pixelzoom commented on #837
- [ ] GasPropertiesGlobalOptionsNode is still creating a ProjectorModeCheckbox.

[2022-08-23 15:41] zepumph commented on #837
See above: >new ProjectorModeCheckbox should not be used, we should be moving towards the preferencesModel setting

[2022-08-23 15:49] pixelzoom opened #838 "Reconsider placement of accessibility statement in Preferences dialog."
Now that we're moving sim-specific options to the Preferences dialog in #837 ....

Here's the _General_ tab for Geometric Optics:

<img width="779" alt="screenshot_1807" src="https://user-images.githubusercontent.com/3046552/186201964-9e60c0da-c9f9-4403-9b56-59659814f159.png">

In this context, the 2 paragraphs at the bottom seem out of place, and potentially confusing. These controls have nothing

[2022-08-23 15:54] pixelzoom commented on #837
I see, I misunderstood.  I thought that the point of addressing the first checklist in https://github.com/phetsims/joist/issues/837#issue-1346723654 was to delete ProjectorModeCheckBox and use `supportsProjectorMode: true`.

[2022-08-23 15:56] zepumph commented on #837
Righto!

I deleted ProjectorModeCheckbox above. The only weird thing is that diffusion still creates a GasProperties preferences Node even though it has no content for it. Since it is in a suite. I thought that was better, in case a new option is added to that sime that should apply to all three sims (gas-properties, diffusion, and gases-intro).

Also, new tandem names across the board will fix CT

[2022-08-23 15:57] zepumph commented on #837
@jessegreenberg, over to you for next steps!

[2022-08-23 16:02] pixelzoom commented on #837
Not good. To be addressed in https://github.com/phetsims/diffusion/issues/8.

[2022-08-23 16:04] pixelzoom commented on #837
There's nothing in that name that indicates that it's content for the General tab. What if the sim is also adding sim-specific options to other tabs? (That's certainly supported by PreferencesModel.).  How about `{{SIM}}{{TAB}}PreferencesContent` as a convention.  For example, `geometricOpticsGeneralPreferencesContent` for _General_ tab content added by Geometric Options.

[2022-08-23 17:51] pixelzoom commented on #837
Sure, that would be fine.  But that's not what you proposed above. You proposed convention `simPreferencesContent`.  And I'm pointing out the shortcomings of that convention - it assumes that you're only adding custom content to the _General_, e.g.:

[code]

The Preferences API supports adding custom content to any tab.  So if we go with your simPreferencesContent` convention for the _General tab_

[2022-08-23 17:54] pixelzoom commented on #837
A reason not to "name to what the content actually has" is PhET-iO standardization.  I can imagine that PhET-iO designers will want to have consistent tandem names for "custom content added to the General tab", "custom content added to the Audio tab", etc.

[2022-08-23 18:22] pixelzoom opened #839 "New buttons result in crowded navigation bar."
PhET has recently added 3 buttons to the navigation bar.  And based on recently decisions about which features will now be "standard", and what features will be included in https://github.com/orgs/phetsims/projects/44, all 3 of those buttons will now be visible.  Consequently, the navigation bar ihas gotten very crowded.

The worst case is (probably?) Equality Explorer, which has 5 screens:

<img

[2022-08-23 18:24] pixelzoom commented on #839
By the way... If I run with `?locales=*`, it adds a 4th button (globe) for testing layout of dynamic locale.   In the case of Equality Explorer, that looks like trouble.

[2022-08-23 18:28] pixelzoom commented on #839
Things are even worse in PhET-iO brand, because the logo is considerably wider.  I'm not sure if that will cause overlap in Equality Explorer -- and I can't test, because it's not a PhET-iO sim yet.  But Fourier looks considerably more cramped:

<img width="1083" alt="screenshot_1813" src="https://user-images.githubusercontent.com/3046552/186235945-f2ee1198-cfbf-4be0-bb9d-30c9bfb5d5dd.png">

[2022-08-23 18:41] pixelzoom commented on #839
Here's what the PhET-iO version of Equality Explorer will look like:

<img width="1082" alt="screenshot_1814" src="https://user-images.githubusercontent.com/3046552/186238030-4fddd936-41c8-4bfa-825c-da2c10e02bd9.png">

And with `locales=*` for testing dynamic locale:

<img width="1083" alt="screenshot_1815" src="https://user-images.githubusercontent.com/3046552/186238234-8c75bf25-d62f-4538-8202-02

[2022-08-23 19:13] arouinfar commented on #839
@pixelzoom I don't have time to fully respond to this issue right now (will come back later today), but just so you know the globe icon that appears with `locales=*` is a temporary measure and will never be part of production. It was introduced as a short-term measure until we added Localization controls to the Preferences dialog.

[2022-08-23 19:17] pixelzoom commented on #839
Yes, I realize that the globe is temporary -- or even if it's permanent, it's for debugging, and not user facing.   But even without the globe, usablity of the navigation bar for Equality Explorer (shown in https://github.com/phetsims/joist/issues/839#issuecomment-1224589685) seems compromised.

[2022-08-23 19:19] pixelzoom commented on #839
Yes thanks, I realize that the globe is temporary -- or even if it's permanent, it's for debugging, and not user facing.   But even without the globe, usablity of the navigation bar for Equality Explorer (shown in https://github.com/phetsims/joist/issues/839#issuecomment-1224589685) seems compromised.  So I don't think that the current plan/layout is scalable.

[2022-08-23 19:48] zepumph opened #840 "Add linked elements for global Properties in PreferencesModel"
While @pixelzoom and I were talking about https://github.com/phetsims/joist/issues/837, we realized it would be awesome to add a new field to customPreferences over in https://github.com/phetsims/joist/issues/835 where you could provide PhET-iO instrumented Proeprties to be linked to under the Preferences model of the provided customPreference.

@jessegreenberg, I'm so excited about this!

[2022-08-23 19:48] pixelzoom commented on #837
I discussed the tandem name issue with @zepumph.   We agreed that `simPreferences` is a better general name, for use in all tabs.  The phetioID (tandem hierarchy) will tell you which tab you're in.

For example, instead of this, where "geometricOpticsPreferencesContent" is a bt redundant:

`geometricOptics.general.view.navigationBar.preferencesButton.preferencesDialogCapsule.archetype.preferencesP

[2022-08-23 19:52] pixelzoom commented on #837
- [ ] GOOptions.ts and `geometricOptics.global.view.options` need to be renamed.  Should they be renamed to GOPreferences.ts and `geometricOptics.global.view.preferences`?   Note that `geometricOptics.global.view.options.cueingArrowsEnabledProperty` will NOT appear in the Preferences dialog, because (by design) it has no presence in the UI and is a PhET-iO-only Property.

[2022-08-23 20:09] pixelzoom commented on #837
Things that need to be renamed in my sims:

- [ ] GOOptionsNode, GOOptions, associated tandems
- [ ] GasPropertiesGlobalOptionsNode, GasPropertiesGlobalOptions, associated tandems
- [ ] MPOptionsNode, MPGlobalOptions, associated tandems

It looks like other sims have similar renaming issues (e.g. build-an-atom GlobalOptionsNode) but I'm not going to attempt to enumerate them.

[2022-08-23 20:17] samreid opened #841 "Make Sim.topLayer private"
In https://github.com/phetsims/chipper/issues/1302, @zepumph and I eliminated several usages of Sim.topLayer.  There are still a few left before it can be made private like it was on 8/12/22.

[2022-08-23 20:35] jessegreenberg commented on #834
Thanks! There was one more TODO about `shouldShowDialog`, addressed in the above commit.

I removed the support for `supportsMultipleLocales` for this so it isn't a special case. Now I don't see a need to keep `?supportsMultipleLocales` query parameter so I removed it.

I did a second scan through above commits and things look good. I think this can be closed if these changes are OK with you.

[2022-08-23 21:06] zepumph commented on #839
FYI: Globe was removed in https://github.com/phetsims/joist/commit/7ff277e39051e24ba7902c8a9d0c8623bdffdd16

[2022-08-23 21:27] jessegreenberg commented on #838
This makes sense to me!

Each tab can generally include features related to access and inclusion so these paragraphs describe the dialog as a whole. Now that we have more examples of sim-specific controls in the general tab, I can see how the mix of content may not be best. I don't think "General" is the best tab name for simulation specific controls.

I wanted to propose a layout like this where

[2022-08-23 21:49] arouinfar commented on #839
I worked on the mockups for the Preferences button and dialog, but I don't consider myself the lead/responsible designer for this feature set. It was really a collaboration between many parties including @jessegreenberg @samreid @emily-phet @terracoda @amanda-phet @kathy-phet. (Apologies to anyone else I may have forgotten.)

First and foremost, these buttons are in the navbar for discoverability

[2022-08-23 22:04] terracoda commented on #838
I agree that there needs to be some changes to the language. There is room for improvement.

Before we start adjusting the words and the placement of the words, let's agree to not put some features or options in an "accessibility" category.

Some features may be required to make a sim accessible to a particular learner, but the same features are almost never exclusively for accessibility.

While P

[2022-08-23 22:06] terracoda commented on #838
@jessegreenberg, I think you are onto something, but there is room for improvement.

[2022-08-23 22:33] kathy-phet commented on #838
@jessegreenberg - I was also thinking this could work really well, but would propose the tab be called "Overview", not Accessibility. And the next tab be called Simulation or Sim-Specific

[2022-08-23 22:42] pixelzoom opened #842 "Preferences dialog lacks consistent UI style."
In #837, Options were folded into the Preferences dialog.  In general, the content for the Options dialog was not changed, it was simply passed to the Preferences dialog.  The end result is that there are now different UI styles in the Preferences dialog, a bit of a hodge podge.

For example, see Gas Properties. Projector Mode (handled by Preferences dialog) is set using an A/B switch, with a nice

[2022-08-23 23:03] jessegreenberg commented on #835
Great, thanks. I think this will support us well for now. I noticed disposal missing for a couple of components in tabs and I added them for completion though I don't think they were critical since these tabs don't appear in state (to my understanding). I also found a layout issue in the localization tab where the "Region and Culture" combobox wasn't in the right spot when it was alone in the dial

[2022-08-23 23:03] #835 closed

[2022-08-24 20:08] pixelzoom commented on #840
For the benefit of designers (@arouinfar @amanda-phet @kathy-phet), this means adding linked elements under (for example) `geometricOptics.general.model.preferencesModel`, where there would presumably be a `.generalModel`:

<img width="351" alt="screenshot_1821" src="https://user-images.githubusercontent.com/3046552/186513351-61ae2cb2-e625-48fb-ab80-af4993370880.png">

[2022-08-24 20:25] KatieWoe opened #843 "Language choice can greatly change preference dialog size"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/830
One of the languages (Chinese Taiwan) changes the preference dialog box size quite a bit. It doesn't go out of bounds, so I'm not too worried, but it is different behavior. I think it's due to the translation of the first page of the dialog.

**Visuals**
Oddly s

[2022-08-24 22:07] jessegreenberg commented on #837
I think we are done here except for the items listed in https://github.com/phetsims/joist/issues/837#issuecomment-1224750873 and https://github.com/phetsims/joist/issues/837#issuecomment-1224787364. @pixelzoom can you please assign this back to me when those are done? I reviewed the lists in the original issue and sims are looking OK. I looked for remaining references to 'OptionsDialog' or `Global

[2022-08-24 22:16] pixelzoom commented on #837
I complete geometric-optics, molecule-polarity, and gas-properties in their respective issues (linked above).

General conventions I used:

* Preferences Properties are under `{sim}.global.model.preferences` in PhET-iO

* tandem name for the Node returned by SimOptions.preferencesModel.generalOptions.customPreferences.createContent is 'simPreferences', as decided in https://github.com/phetsims/joi

[2022-08-24 22:26] pixelzoom commented on #837
Looks like there's still work to be done here. We decided to use 'simPreferences' as the standard tandem name.  That's being violated in every sim that I've looked at.  Examples...

build-an-atom-main.js:

[code]

cck-ac-virtual-lab-main.js

[code]

cck-virtual-lab-main.js:

[code]

cck-dc-main.js:

[code]

energy-skate-park-main.js:

[code]

Back to @jessegreenberg.

[2022-08-24 22:30] pixelzoom commented on #837
There's also no standard for preferences Properties.  In all of my sims, they are under `{sim}.global.model.preferences`.

I see `energySkatePark.global.model.energySkateParkPreferencesModel`, which is redunant in 2 ways -- "energySkatePark" and "model", both of which are already in the phetioID.     I haven't looked at other sims.

Recommended to choose a convention here, and use it consistently.

[2022-08-24 23:10] pixelzoom commented on #837
On Slack, we discussed the `{sim}.global.model.preferences` convention.

Instead of defining this everywhere, like I've done in my sims:

`const preferencesTandem = Tandem.GLOBAL_MODEL.createTandem( 'preferences' );`

I've added this to Tandem.ts:

[code]

So we should use `Tandem.PREFERENCES` for preferences Properties. And if the designers decide they want preferences Properties somewhere else,

[2022-08-24 23:13] jonathanolson commented on #830
Implemented above. Do we want to toggle all of the appearances that are based on allowLinks dynamically also?

[2022-08-24 23:15] zepumph commented on #830
I thought so, but the original solution was to just no-op these phet menu buttons, instead of hiding them. The links in the about dialog should update though.

[2022-08-24 23:25] kathy-phet commented on #830
I don’t know what’s easy. At a minimum, just not actually popping to a new window is fine. If easy, toggling visibility is nice so they aren’t there. Except for the urls in about where we just make them not linked.

Kathy

Sent from my iPhone

[2022-08-25 03:58] pixelzoom commented on #838
In https://github.com/phetsims/joist/issues/838#issue-1348168341, I showed the sim-specific preferences for Geometric Optics.  In discussion with @kathy-phet, she proposed I might think of those preferences as being loosely related to inclusion, because they help tailor the sim for a specific age group.   I think that's a stretch, but I can imagine that for those specific controls. But I don't thi

[2022-08-25 14:33] terracoda commented on #842
Great points, @pixelzoom. I think it might be better for me to comment in the other issue where we are discussing wording of the "inclusive features".

Perhaps a temporary fix is using a "Sim-specifc Options" subheading here for these types of checkboxes that are being migrated directly from the PhET Menu to the Preferences Menu.

[2022-08-25 14:57] terracoda commented on #838
Ok, here's a sample re-write that may be general enough for an opening Tab, whatever it gets called

**Proposed Wording:**
P: The Preferences Menu provides access to all available presentation settings and features for a given simulation. Some features make the simulation more inclusive and can support accessibility for learners with diverse needs and within diverse environments. Explore this menu

[2022-08-25 15:04] terracoda commented on #838
Since some simulations have several options, we may indeed indeed need an extra opening tab, and an aptly-named  sim-specific tab.

The place that gets fuzzy for me, is when sim-specific settings cross-over with the other tabs (i.e., the "Visual Tab"). But maybe this kind of cross-over can be worked out relatively easily by the sim designers.

[2022-08-25 15:16] terracoda commented on #838
Brainstorming ideas for Sim Options or Sim Settings
Note that "tab" is spoken by a screen reader and included in the voiced tab name, though not visually displayed.
- Sim-Specific Options/Settings Tab
- Simulation Tab
- Simulation Options/Settings Tab
- Lesson Options/Settings Tab
- Teacher Options/Settings Tab
- Lesson Tab
- Teacher Tab
- Basic Sim Settings/Options Tab
- Sim Features Tab

I am no

[2022-08-25 15:21] terracoda commented on #842
This issue is also related to #838

[2022-08-25 15:28] jonathanolson commented on #830
Added dynamic updates in the commit above.

[2022-08-25 16:53] jessegreenberg commented on #837
OK, the PhET-iO changes described in the previous three comments are done.  I think everything discussed in this issue is now complete. @zepumph can you think of anything else to review or do here?

[2022-08-25 21:01] jessegreenberg commented on #843
Thanks @KatieWoe. I am not sure what is expected here. The Dialog fits the size of its contents. The contents are allowed to expand to support longer strings. Without dynamic locales this wouldn't be a problem. @arouinfar @kathy-phet should this behavior change?

[2022-08-25 21:02] zepumph commented on #837
All looks good here. Thanks @pixelzoom and @jessegreenberg!!! Ready to close?

[2022-08-25 21:05] zepumph commented on #837
Please note that we will be adding a PhET-iO migration rule because we removed the OptionsDialog menu item (and whole dialog). See https://github.com/phetsims/gravity-and-orbits/issues/434

[2022-08-25 21:11] jessegreenberg commented on #837
Commits above look good. I believe so, closing.

[2022-08-25 21:11] #837 closed

[2022-08-25 21:15] kathy-phet commented on #843
@jessegreenberg - I'm not sure why it doesn't just wrap in chinese, since it is a paragraph?

[2022-08-25 21:32] samreid opened #844 "Sim screen name property and title property should link back to LocalizedStringProperties"
Discovered in https://github.com/phetsims/axon/issues/408, you cannot localize Sim title and sim screen titles.  Sim screen name property and title property should link back to LocalizedStringProperties

[2022-08-25 21:34] jessegreenberg commented on #843
The paragraph uses RichText `lineWrap`. Something about that translated string isn't triggering line breaks. The separator for line breaks is a space `' '`, maybe the translated string doesn't use that space character? I am not sure if there is another character to look for in RichText or if it is customary for the entire paragraph to be on line in the chinese translation.

[2022-08-25 22:05] samreid opened #845 "Make some LocalizedStrings phetioReadOnly: true"
From https://github.com/phetsims/axon/issues/408

[2022-08-25 22:07] samreid commented on #845
Patch from today's meeting:

[code]

[2022-08-25 22:09] samreid commented on #830
What about graying it out?

[2022-08-25 22:21] samreid commented on #814
From today's meeting:

@jonathanolson met with @jessegreenberg and discussed the questions above. @jonathanolson said @jessegreenberg is aware how to support dynamically sized things in the future, and that Gravity and Orbits things are sizing correctly at the moment.

[2022-08-25 22:31] zepumph commented on #814
Also, we said this was good enough for the current PhET-iO batch release. This issue is remaining open because in the future we will want a better UI for choosing a locale.

[2022-08-25 22:42] zepumph commented on #845
How about this crazy idea!!?!?!?

<details>

[code]

[2022-08-25 22:44] samreid commented on #744
In today's meeting,

### Regarding saving state with or without preferences
@JacquiHayes identified that privacy laws may forbid detecting what a11y preferences are selected without specialized permissions.
@kathy-phet points out that the PhET-iO clients may want to have this flexibility, like being able to save a state without these values, or another API call that also gives these values.
@zepum

[2022-08-25 22:57] zepumph commented on #840
Let's add the localeProperty here too while we are at it, and perhaps we will have a couple more from the general Preferences as we went.

[2022-08-25 23:44] jessegreenberg commented on #843
Assigning to @jonathanolson in case he has any thoughts about what should happen with RichText `lineWrap` in this case, and @arouinfar and @kathy-phet to prioritize and comment on design.

[2022-08-26 01:32] samreid commented on #845
That is much better than the previous iteration, thanks!  Considering taking it one step further, what about this?

[code]

[2022-08-26 01:41] samreid commented on #844
I'm seeing Sim.ts:

[code]

Do we want to:
(a) eliminate this and just use the localized string
(b) create a DerivedProperty here? (so we can keep the phetioDocumentation?)

I would recommend (a) and just working on making it discoverable via autoselect.

@zepumph what do you recommend?

[2022-08-26 16:44] zepumph commented on #844
Creating a DerivedProperty sounds nice, when you create a Sim, I don't really think we should lock in needing to pass a Property for the name. Shouldn't we support the case of `new Sim( 'mySim' . . .)`? If feels like something that should live in Sim instead of off in the strings files. Note 39 usages of `.simNameProperty` in the project (mostly passed around joist). I don't see it as a gain to st

[2022-08-26 17:59] zepumph opened #846 "Voicing: Don't hear "Sim Voicing Off" bug"
To reproduce:

* Open a sim with voicing
* Enable voicing
* Press the "details" button with the mouse
* Immediately press the sim voicing toggle switch.

Expected Behavior: details button is interrupted then you hear "sim voicing off"

Current Behavior: details button is interrupted

[2022-08-26 18:15] zepumph opened #847 "localeProperty should be part of PreferencesModel"
From https://github.com/phetsims/joist/issues/840#issuecomment-1227835873, and the work we did in https://github.com/phetsims/joist/issues/743. We shouldn't pull in globals, but instead pass them through the preferencesModel.localizationModel

[2022-08-26 18:22] zepumph commented on #847
@jessegreenberg can you please review.

[2022-08-26 18:48] jessegreenberg commented on #847
This is great, thanks!

[2022-08-26 18:48] #847 closed

[2022-08-26 19:31] zepumph opened #848 "Localization is not an i18n string"
Seems like something to fix before publication!!

https://github.com/phetsims/joist/blob/7012e5db338713a7d26bd247702962f2c1bd4310/js/preferences/PreferencesTabs.ts#L65-L73

[2022-08-26 19:41] zepumph commented on #743
I love it! Thanks.

[2022-08-26 19:43] zepumph commented on #840
Alright. localeProperty and colorProfileProperty were both accessed by the view globally, so I moved them into the PreferencesModel. I also created a general way to pass in Properties from custom preferences that you want linked. By default, they take the tandemName of the Property they are linking to, but you can provide a custom tandemName if you'd like.

I only implemented this for `geometric-o

[2022-08-26 20:06] arouinfar commented on #845
We'd like to prevent clients from editing the sim credits and other contents of the About dialog. Let's make these strings `phetioReadOnly: true`.

- [ ] `strings.joist.termsPrivacyAndLicensingStringProperty`
- [ ] `strings.joist.versionPatternStringProperty`
- [ ] `strings.joist.credits.*`
- [ ] `strings.joist.thirdParty.credits.linkStringProperty`
- [ ] `strings.joist.translation.credits.linkStr

[2022-08-26 20:23] samreid commented on #840
Now that https://github.com/phetsims/chipper/issues/1313 has been addressed, we can use a better type for `LinkedModelProperties.property`, I'll commit momentarily.

[2022-08-26 21:22] samreid commented on #844
I committed this and it seems to be working well. The main UX issue is that it takes a lot of clicks to get from, say, the nav bar to the sim title:

* gravityAndOrbits.general.view.navigationBar.titleText (via autoselect)
* gravityAndOrbits.general.view.navigationBar.titleText.textProperty
* gravityAndOrbits.general.model.displayedSimNameProperty
* gravityAndOrbits.general.model.displayedSimNameP

[2022-08-27 03:07] samreid commented on #783
I added a note to my calendar to reach out to @pixelzoom in the coming week.  Self-unassigning until then.

[2022-08-27 03:54] samreid commented on #795
Good fix, thanks!  Let's go on hold until #783 is complete.

[2022-08-27 04:09] samreid commented on #664
The missing grass above led me to try the *2 /2 strategy.  However, testing on latest Chrome and Safari the image quality was already great before making any code changes.  Perhaps they updated the browser for this.  But I still saw an advantage in Firefox:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/679486/187013729-8ea34b24-bd2d-42cd-a1a2-e5d31bc5ff54.png">

[2022-08-27 04:13] samreid commented on #664
For QA Testing, please use the PhET Menu "Screenshot" button to capture images on several combinations of the following:

* Different sims, including some upcoming releases like gravity-and-orbits
* Different browsers, including Safari, Firefox, Chrome, Edge?
* Different devices, including Mac, Win, iPad, Chromebook

We are checking to make sure the image resolution is acceptable, please see above

[2022-08-27 23:32] samreid opened #849 "Closing a dialog in the state wrapper leads to a dimmed downstream sim"
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/867.  After closing the preferences dialog in the state wrapper, the downstream Preferences Dialog closes, but the semi-transparent overlay is still there.

<img width="556" alt="image" src="https://user-images.githubusercontent.com/679486/187051463-bc7913bc-4d94-4138-b782-4d56be7088df.png">

@jessegreenberg can you p

[2022-08-29 13:48] jessegreenberg commented on #846
Confirmed. I am not hearing any content when interrupting a "Quick Info" button (for example, pressing Reset All).

[2022-08-29 13:52] jessegreenberg commented on #846
Caused by this line:
https://github.com/phetsims/joist/blob/7c651545b65a38302e8814ee800aa7cf9b80637a/js/toolbar/VoicingToolbarItem.ts#L188-L189

[2022-08-29 14:59] pixelzoom commented on #840
Looks nice -- I verified in geometric-optics, and it presents the way that I expected in Studio.

The API is a little verbose, for example in GOSim.ts:

[code]

But I understand that `linkedModelProperties` is `LinkedModelProperties[]` so that we can optionally specify tandems for each linked element.

The one nit I have is that the names `linkedModelProperties` and `LinkedModelProperties` are a b

[2022-08-29 15:13] jessegreenberg commented on #846
We added this line because we don't want to hear stale Utterances that are sitting in the queue waiting for the toolbar button responses to finish. I think that is correct. But if we interrupt the the toolbar button responses we do want to hear the next response.

I pushed a proposed fix in the above commit and added a line of doc about where it falls short. But I think it should be acceptable. @z

[2022-08-29 15:43] jessegreenberg commented on #836
Agreed and this is what we discussed in the meeting. But other sim code/tools do support multiple color profiles, it makes sense for this dialog to support that. If we need multiple profiles later will that require PhET-iO migration rules (I am not really sure what is involved for that)? Code side, it should be easy to change the UI/API for multiple profiles. ComboBox might also work and conserve

[2022-08-29 15:50] jessegreenberg commented on #817
I took a look at the above commits but I don't understand the implications or expected behaviors. The previous comment referenced review at an upcoming meeting, and I am certainly happy to understand more but I also trust PhET-iO team here! Reassigning to @zepumph.

[2022-08-29 15:58] jessegreenberg commented on #747
Your change was great, thanks. Note that master now uses `ManualConstraint` for dynamic layout so this can be closed.

https://github.com/phetsims/joist/blob/74f37398c5a74e007bc2e72765d2313112159ed4/js/NavigationBar.ts#L305-L311

[2022-08-29 15:58] #747 closed

[2022-08-29 16:03] jessegreenberg commented on #796
Looks great, thanks.

[2022-08-29 16:09] jessegreenberg commented on #778
This issue was handled in https://github.com/phetsims/joist/issues/810#issuecomment-1189133005, closing.

[2022-08-29 16:09] #778 closed

[2022-08-29 16:33] jessegreenberg commented on #737
This is great, thank you! I am loving this feature. There was a TODO that I just removed about where to put `PreferencesStorage.register` calls. I think now that we only have PreferencesModel they are great where they are.

Ready to close?

[2022-08-29 16:48] jessegreenberg commented on #597
Oof, Im sorry about this.

I reviewed https://github.com/phetsims/joist/commit/aafe1aa56a88c11158e383bc7ed7bea540710caf, it looks great.

I was going to recommend removing it from `options` and see that it has since been removed. Closing.

[2022-08-29 16:48] #597 closed

[2022-08-29 17:01] jessegreenberg commented on #640
Nothing was committed in this issue except for a note of documentation pointing back here. This work didn't come up while working on Preferences. Leaving open but removing assignment and review labels.

[2022-08-29 17:44] arouinfar commented on #843
In general, I am fine with the Preferences dialog changing in width in response to locale, so long as it remains within the dev bounds. Since the width is properly constrained here, we can probably leave it at that.

However, in this specific case, we could probably add spaces after the period character `。` without changing the meaning of the translation ([source](https://en.wikipedia.org/wiki/Chi

[2022-08-29 18:17] arouinfar commented on #833
We didn't have time to discuss this in depth during the 8/25/22 design meeting. However, I think we are fine with deferring this idea for now. Unclear if we want to revisit in the future, so assigning to @kathy-phet for next steps.

[2022-08-29 18:30] marlitas commented on #849
@samreid and I did some exploration.

We learned:
- dispose is called in the downstream sim, but not in the upstream
- hidePopup is called in the upstream, but not in the downstream

Questions:
- In the upstream sim, when the preferences dialog is clicked out of/ exited, do we want to dispose or keep in memory?

[2022-08-29 18:31] samreid commented on #783
Removing the hold to update the patch before discussing with @pixelzoom

[2022-08-29 18:41] arouinfar commented on #839
Notes from the 8/25/22 design meeting:
* The Preferences, Audio, and Keyboard Help buttons all provide meaningful quick access and should be kept in their current location next to the PhET logo.
* The PhET menu could be restructured to fit some of these purposes but is not ideal for discoverability. Similarly, the toolbar used for Voicing could be more general and contain audio controls, etc. Thes

[2022-08-29 20:01] samreid commented on #783
Current patch:

<details>

Index: main/joist/js/toolbar/VoicingToolbarAlertManager.ts
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
diff --git a/main/joist/js/toolbar/VoicingToolbarAlertManager.ts b/main/joist/js/toolbar/VoicingToolbarAlertManager.ts
--- a/main/joist/js/toolbar/VoicingToo

[2022-08-29 21:17] KatieWoe commented on #664
- [ ] Tester = , Platform = , Time =
- [ ] Tester = , Platform = , Time =
- [ ] Tester = , Platform = , Time =

[2022-08-29 21:17] zepumph commented on #737
I wonder if we should add any more to preferencesStorage? Also I wonder if customPreferences properties that are getting linked should be stored here. Perhaps via an option? I'll take a look.

[2022-08-29 22:23] pixelzoom commented on #783
Discussed with @samreid.  There's definitiely something odd going on here, or maybe something about TypeScript that we don't understand.  But this seems like lower prioirty at the moment, so I recommend keepin the ts-ignore in Screen.ts, with a link to this issue. I.e.:

[code]

@samreid please feel free to add additional notes that might be helpful in the future, then feel free to label as deferr

[2022-08-30 00:48] samreid commented on #783
Summarizing key points from my discussion with @pixelzoom:

* The problematic ts-ignore is in ScreenView:
[code]
* Removing this ts-ignore yields: this type error:
[code]

This is a buggy type annotation because `M` is in the `in` location, and `out` is not correct.  Removing the variance annotation like so: `type CreateView<M extends TModel, V> = ( model: M ) => V;` gives 73 errors in sim code li

[2022-08-30 00:59] samreid commented on #783
I changed from the incorrect variance annotation to one IntentionalAny in the commit.

[2022-08-30 18:33] pixelzoom commented on #664
Note that this issue is causing problems in gas-properties, see https://github.com/phetsims/gas-properties/issues/200.

[2022-08-30 19:06] samreid commented on #843
@arouinfar is this blocking Gravity and Orbits RC?  @jonathanolson would this be easy to correct?

[2022-08-30 19:14] samreid commented on #830
I'll do the "make it invisible" part, for the PhetMenu, and I'll search for `openPopup` to see if there are other cases.  After this is done, the maintenance release part doesn't need to block Gravity and Orbits RC.

@zepumph says we should always create the items, but toggle visibility, so the API doesn't change.

[2022-08-30 19:19] Nancy-Salpepi commented on #664
Center and Variability on Master is still missing the ground when taking a screenshot with MacOS 12.5.1 and Safari 15.6.1
![Center and Variability screenshot-2](https://user-images.githubusercontent.com/87318828/187511762-7adb321a-fefb-4930-9100-e1dea51ef1f4.png)

[2022-08-30 19:21] pixelzoom commented on #664
You might check Natural Selection too.  It uses scenery Sprites and WebGl, like the particles in Gas Properties.

[2022-08-30 19:30] zepumph commented on #843
@arouinfar said this doesn't block publication.

[2022-08-30 19:31] Nancy-Salpepi commented on #664
The opposite of what is seen with diffusion/gases is happening in molecule shapes. The molecule in the screenshot is much smaller than in the sim (mac +safari)

The sim:

<img width="1321" alt="Screen Shot 2022-08-30 at 3 29 17 PM" src="https://user-images.githubusercontent.com/87318828/187526397-55f2a663-001c-4423-86b3-122abdf968f5.png">

The screenshot:
<img width="1363" alt="Screen Shot 2022-08

[2022-08-30 20:07] jonathanolson commented on #843
I should have a fix for this relatively soon!

[2022-08-30 22:11] kathy-phet commented on #836
I would like to support a forward planning version, where we go with radio buttons, so the choices are all visible to the user.

I prefer "Display Mode" or "Display Options" or something with the word "Display", rather than "Color Profile".

[2022-08-30 22:12] arouinfar commented on #836
Here's a mockup that I reviewed with @kathy-phet. It contains all of the options we can think of that would fall under "Visual", including the BAM-specific high contrast particles.

<img width="843" alt="image" src="https://user-images.githubusercontent.com/8419308/187552838-e4a25da0-083f-446a-b072-ab026bbb68e4.png">

[2022-08-30 23:23] zepumph commented on #849
This was a regression caused by https://github.com/phetsims/axon/issues/409. @samreid and I were able to work it out. Basically, on dispose of a Dialog, we are calling `isShowingProperty.value = false`, which the calles `hidePopup` via a listener. This was no longer happening because of this code:

https://github.com/phetsims/axon/blob/b5c62d90476a1e9c2684bbb71ffa6183b5c775a5/js/ReadOnlyProperty.t

[2022-08-31 00:20] jonathanolson commented on #843
Main commits in https://github.com/phetsims/chipper/commit/4711345360c3cefe9e0fa1cc0f882550b646b45e, https://github.com/phetsims/sherpa/commit/e2b5b26580323e71fe1561dbe8a73370b31cbb73, https://github.com/phetsims/scenery/commit/f7a32b07eab4e9ead0334a4dde395d2feaf4fae3, https://github.com/phetsims/joist/commit/ee0da58445432c8380bdd406cc1d3f7fd1d482c6

I added isLeftToRightProperty and some changes

[2022-08-31 00:21] jonathanolson commented on #843
@jessegreenberg would you be able to review?

[2022-08-31 14:36] Nancy-Salpepi commented on #664
Natural Selection looks good to me on master with Mac + safari/chrome
![Natural Selection screenshot-10](https://user-images.githubusercontent.com/87318828/187704623-d9ec3aaf-88ca-40f2-912b-78f497148a64.png)

[2022-08-31 15:32] Nancy-Salpepi commented on #664
Screenshots for density with mac + safari/chrome are similar to what I was seeing with molecule shapes.
![Density screenshot (1)](https://user-images.githubusercontent.com/87318828/187718502-ad73a88e-63c2-42b1-9881-0d96b1e77608.png)

[2022-08-31 16:58] KatieWoe commented on #664
I think we can call QA here. Some of the issues we've seen may also apply to other sims, but in random sampling we didn't see excessive blurriness and speed of taking screenshots was good.

[2022-08-31 18:00] zepumph commented on #843
@pixelzoom, @jbphet and I were all hit by the API changes from this. Committed above.

[2022-08-31 18:32] zepumph commented on #844
Tagging for design review tomorrow.

[2022-08-31 19:17] KatieWoe commented on #664
While https://github.com/phetsims/gas-properties/issues/200 is fixed, the related issues here do not seem to be.

[2022-08-31 20:17] jessegreenberg commented on #846
Thinking about this more I think it is less of a shortcoming and more the correct behavior.  I changed my doc language to describe why. I thought it was correct because
1) The queue is still cleared when toolbar button content stops speaking.
2) If there is some user input, we won't have a build-up of alerts. As soon as the user taps on the screen, the toolbar button content becomes lowest priorit

[2022-08-31 22:01] zepumph commented on #846
@jessegreenberg and I discussed this, we are in agreement that the current implementation isn't ideal because if you interrupt a readme button by grabbing the book, it may say 10 "ambient" utterances waiting in the queue before saying "grabbed".

We discussed new priorities, and separating a priority for "AMBIENT" voicing vs "INTERACTIVE":

AMBIENT_HIGH
AMBIENT_LOW
README_AFTER
INTERACTIVE_HIGH
IN

[2022-08-31 23:01] samreid commented on #830
I implemented a first draft and the design questions above should be discussed.

[2022-08-31 23:14] jessegreenberg commented on #846
Ideas that are moderately to extremely yucky.
- What if we clear the queue in a listener on the Pointer that presses the button?
- What if we added a set of "pre-dispatch" input listeners to to display so that in `Input.dispatchEvent` we could
[code]
- Add a listener to the document with `useCapture` that would fire before scenery input event dispatch as a workaround.
- Utterances have an `ambient

[2022-09-01 01:02] samreid commented on #664
This patch appears to fix both Molecule Shapes and Density.  But I didn't want to commit because I had to remove the backingScale from molecule shapes.  Density seemed fine to keep it.  @jonathanolson I'm at a good point for your feedback:

[code]

[2022-09-01 15:53] jessegreenberg commented on #843
I reviewed the commits referenced in https://github.com/phetsims/joist/issues/843#issuecomment-1232304619, changes make sense to me.

The Preferences dialog is working really well, no longer resizes for different translations. RichText lineWrap is working great for all locales I have seen and the formatting for rtl languages works nicely. Very cool @jonathanolson, thanks! Closing.

[2022-09-01 15:53] #843 closed

[2022-09-01 17:00] zepumph commented on #830
Another design question:
* Do we need an intermediate Property for PhET-iO to control the visibility of these menu items? Before PhET-iO clients could hide menu items they didn't want, but now this is derived solely based on allowLinks. I would consider this a regression of behavior, but it isn't clear that it is necessarily wrong. Like @samreid said, lets discuss today.

[2022-09-01 17:36] #834 closed

[2022-09-01 17:42] zepumph commented on #840
Yeah, I couldn't think of anything better while implementing, but I agree with you.

[code]

I doesn't have to be Properties technically, but there is likely no reason to have any other PhetioObjects linked here, so perhaps we should with modelLinkables or modelPropertyLinkables. Thoughts?

[2022-09-01 18:10] zepumph commented on #737
I'm wondering if we can figure out a way to combine the function to link phet-io elements and register for preferences storage. I'll think about it.

[2022-09-01 18:43] jonathanolson commented on #664
I'm git-bisecting, because I'm curious about what broke this.

[2022-09-01 19:05] zepumph commented on #830
Design questions are the quoted text, answers are below:

Yes.

[code]

Hide the update phetMenu item entirely. Ensure that there are no links in the about dialog if out of date.

"no discussion needed" - Sam Reid

We don't want to exclusively use allowLinks. You also need to be able to toggle visibility of the phet menu buttons manually for each button ("and" the two together).

[2022-09-01 19:14] zepumph commented on #844
We want to have the sim constructor only take a StringProperty as an arg, not a string.

`Sim.simNameProperty` will just be a pointer for that.

[code]

[2022-09-01 19:14] zepumph commented on #844
- [ ] Make sure after this change to post on the breaking changes thread of the google group.

[2022-09-01 19:26] samreid commented on #664
Yes, that commit was added to upscale 2x and downscale 0.5 the sim to improve the resolution.  But it seemed the WebGL layers weren't respecting that matrix scale.

[2022-09-01 21:17] jonathanolson commented on #664
Patched three.js-using code above to respect the needed scale. Can you verify?

[2022-09-01 21:18] pixelzoom commented on #840
`type ModelPropertyLinkable` and `modelLinkables: ModelPropertyLinkable[]` would be an improvement.  I can't think of better names.

[2022-09-01 21:30] jessegreenberg commented on #838
There are a lot of classes throughout now with `GeneralPreferences` in the name. They should be renamed now.

[2022-09-01 21:52] samreid commented on #664
Molecule Shapes and Density look great, thanks!  As far as I know the last problem is the missing ground in Center and Variability: https://github.com/phetsims/joist/issues/664#issuecomment-1232068018

I'll look at that next.

[2022-09-01 22:07] samreid commented on #664
I was able to replicate the problem on safari. I observed that the gradient had 1.0 for two of the color stops. I believe these were incompatible. By adjusting one, I got the desired behavior. I do not believe this to be a pervasive problem, because we have not seen it reported before. If it happens again, we can make a common code issue to make sure the color stops are all at different values.  @

[2022-09-01 22:13] pixelzoom commented on #830
In the above commit, I fixed the allowLinks behavior for Molecule Polarity's "Real Molecules" screen.  Needed to pass a Property to RichText, not a static string.

[2022-09-01 22:36] jessegreenberg commented on #838
OK, the "General" tab has been removed and replaced with "Overview" and "Simulation" tabs with some related code cleanup.

@arouinfar back to you for this part or to reassign to anyone else.

@zepumph can you please spot check? Most things were straight forward, but I used `Simulation` in class/option/type names. Was slightly worried about confusion because "Simulation" is overloaded for us. But t

[2022-09-01 23:17] zepumph opened #850 "support dynamic locale switching in toolbar"
This blocks friction phet-io

[2022-09-01 23:18] zepumph opened #851 "support dynamic locale switching in preferences panels"
this is blocking friction phet-io release.

[2022-09-01 23:18] zepumph commented on #848
I'll do this. I hit it while reviewing https://github.com/phetsims/joist/issues/838.

[2022-09-01 23:18] zepumph commented on #850
I'll do this. I hit it while reviewing https://github.com/phetsims/joist/issues/838.

[2022-09-01 23:19] zepumph commented on #838
You are so very talented. This is amazing. I liked above issues that I think are high priority that I found while reviewing this, but I have no recommendations here. Let me know if you need anything else.

[2022-09-02 00:00] zepumph commented on #848
@jessegreenberg please review. Feel free to close.

[2022-09-02 00:14] zepumph opened #852 "Visible strings are not translatable because they are under the `a11y` key"
While working on https://github.com/phetsims/joist/issues/850, I found this. My understanding is that all visible strings need to be available to translators.

This blocks publication of RAP and Friction

[2022-09-02 00:25] zepumph commented on #852
We need to refactor most strings in the toolbar and voicing section to no longer be under the a11y key.

[2022-09-02 00:31] zepumph commented on #850
The work here is done, but it isn't currently doing anything because of https://github.com/phetsims/joist/issues/852. @jessegreenberg please review once that work is done.

[2022-09-02 00:32] zepumph commented on #851
This should be all supported. I was able to test in the input and audio panels, but voicing isn't working because of https://github.com/phetsims/joist/issues/852. Please review once that issue is complete.

[2022-09-02 00:35] zepumph commented on #851
Oh sorry! This isn't actually working. PreferencesToggleSwitch is not supportive of relayout. I'm not sure how best to support this. here is how it currently looks:

![image](https://user-images.githubusercontent.com/6856943/188034796-75fefa92-07b7-423b-bb81-a3c3a2d31a41.png)

[2022-09-02 00:39] zepumph commented on #840
Sounds great thanks! I like it much more.

[2022-09-02 00:46] jessegreenberg commented on #852
So far these were excluded intentionally and Voicing is not available unless running with English locale. I'm not sure if these should be available to translators, maybe we should hide or remove voicing if localeProperty is not English, or maybe even if running with multiple locales available? I'm not sure.

[2022-09-02 02:05] samreid commented on #830
Testing Studio, I didn't see any buttons in the phet menu that are altered by `allowLinks`.
* The "check for updates" button only shows in PhET brand
* Report a problem only shown in PhET brand
* PhET Website button only shown in PhET brand.

So perhaps no work is necessary for this part?

All other known issues addressed.  @kathy-phet would you like to assign a reviewer?

[2022-09-02 02:23] pixelzoom commented on #840
Reopening - did you mean to close this before changing the names?  I still see `linkedModelProperties?: LinkedModelProperties[]` in PreferencesModel.ts and call sites.

[2022-09-02 02:33] zepumph commented on #840
I'm having a real pushing problem this week. Thanks for keeping me honest.

[2022-09-02 02:33] #840 closed

[2022-09-02 02:40] kathy-phet commented on #830
Hey Sam, Agreed - sounds like nothing is necessary!

@jonathanolson - Can you please review this? (Since you will need to maintenance release basic behavior in the easiest way possible ... we don't need maintenance release to restructure where OpenPopup is and all of that, but it would be great if maintenance release did not block screenshots and full screen).

[2022-09-02 03:21] zepumph commented on #851
Sorry. My push had a conflict. All should be good now.

[2022-09-02 12:03] Nancy-Salpepi commented on #664
Things look good on mac + safari/chrome. @KatieWoe did you want to take a look at Windows before closing?

[2022-09-02 15:29] marlitas commented on #849
Spot checked the commits, and all looks good to me. I'm not sure I'm fully following the order of things that caused the bug, but the explanation and fix seems reasonable. Closing!

[2022-09-02 15:29] #849 closed

[2022-09-02 15:34] jessegreenberg opened #853 "How should Voicing work with the new locale switching feaure?"
Voicing is only supported in English and the feature and its controls are hidden when sims are running with other languages. How should Voicing behave with the new locale switching feature? If we do nothing, the output of Voicing will be strange. Voicing only includes English voices. Accessibility uses a mix of translatable and non-translatable strings. So Voicing output will be a  mix of English

[2022-09-02 15:38] jessegreenberg commented on #853
I think we should disable and hide Voicing and controls when the locale is switched from english. That matches previous expectations for the feature. The downside is that the Preferences Dialog could resize when changing languages. Benefit is that all these strings related to Voicing controls in Preferences will not be available to translators. Since the feature doesn't work in other languages, it

[2022-09-02 15:40] jessegreenberg commented on #852
This is blocked by decisions made in https://github.com/phetsims/joist/issues/852

[2022-09-02 15:51] jessegreenberg commented on #851
Thanks @zepumph commits above look good. Ill take a look at PreferencesToggleSwitch.

[2022-09-02 17:56] samreid commented on #844
I've made the change and notified slack like so:

I also tested in Studio and it was easier to find the title, the new procedure is:

1. Autoselect the title
2. select `gravityAndOrbits.general.view.navigationBar.titleText.textProperty`
3. click the linked element `gravityAndOrbits.general.model.displayedSimNameProperty`
4. click `dependencies`
5. click `gravityAndOrbits.general.model.displayedSim

[2022-09-02 18:12] samreid commented on #844
I wrote to the google group:

Sam

I saw errors for RAP--I'll take a look.

[2022-09-02 18:16] samreid commented on #844
I opened a side issue.  As far as I can tell, all parts of this issue have been addressed.  @kathy-phet would you like to assign a reviewer?

[2022-09-02 18:36] jessegreenberg commented on #851
With help from @jonathanolson I implemented layout for PreferencesToggleSwitch using GridBox. I found a couple of strings in VisualPreferencesPanel that were not using Properties. And I removed some documentation about excluding some strings from i18n since they will be translatable now.

I think that is all for Preferences contents except for https://github.com/phetsims/joist/issues/852 and we wi

[2022-09-02 18:36] #851 closed

[2022-09-02 18:41] jessegreenberg commented on #850
Thanks @zepumph, commits to use `*StringProperty` for Toolbar strings looks good. How we handle i18n for this content is dependent on https://github.com/phetsims/joist/issues/853. Blocked until then.

[2022-09-02 18:45] jessegreenberg commented on #848
Great, thanks! It seems reasonable to make these translatable now.

[2022-09-02 19:26] jessegreenberg commented on #814
This was still assigned to me for dynamic layout changes for Preferences in https://github.com/phetsims/joist/issues/814#issuecomment-1227816876. That was handled in https://github.com/phetsims/joist/issues/851.

@arouinfar back to you, is there anything else needed now for this issue?

[2022-09-02 21:20] KatieWoe commented on #664
Looks ok on Win 11 chrome

[2022-09-02 21:20] #664 closed

[2022-09-02 22:29] terracoda commented on #853
Excellent points @jessegreenberg, I agree, I think Voicing needs to be disabled when the language is switched to something other than English.

[2022-09-05 00:50] samreid commented on #795
In #783 we decided to stick with

[code]

and

[code]

Regarding the patch in https://github.com/phetsims/joist/issues/795#issuecomment-1212271314, I didn't fully understand it, but since `Sim` doesn't have a `scale` to pass, perhaps it should remain omitted?

Back to @zepumph for discussion/review.  I'm OK to close if you agree.

[2022-09-06 14:59] terracoda opened #854 "Customize Voice Sliders are not voicing changes with keyboard interaction"
![image](https://user-images.githubusercontent.com/1902116/188667096-3678e2ca-8af0-479a-8b08-3355c5e88477.png)

The sliders that control voice Rate and voice Pitch used to voice changes when using keyboard. Now they only voice changes when using mouse input.

Here's a link to the design doc for the [Preferences Menu](https://docs.google.com/document/d/1Qu3U8IsFYn486oJUzQ71BXs_lBKZTVS5NVdLJlTK7gw/e

[2022-09-06 15:04] jessegreenberg commented on #854
Thanks @terracoda. I started to investigate this in https://github.com/phetsims/utterance-queue/issues/90, but this issue is better in joist. Moving comments over here.

[2022-09-06 17:26] zepumph commented on #854
This issue is blocking friction and RAP releases as far as I know.

[2022-09-06 17:50] zepumph commented on #844
I'll review!

[2022-09-06 19:24] zepumph commented on #853
Sounds fine to me, though it may increase technical debt in the future when we flip the switch on translating these.

* Should we voice something when we disable it, like "Sim voicing off, only supported in English."
* What happens when we have voicing on, switch locales, and then come back to english? Do you need to re-enable voicing?
* What happens when one person reaches out to us with, "I know

[2022-09-06 19:46] zepumph commented on #795
I didn't make too much sense. Let me re-explain:

https://github.com/phetsims/joist/commit/d70808369e8e57ed763fecfdd2bf25ae0ce74c1d is the recommended fix for a ts-ignore

It works so-so in my opinion, but is probably good enough. Note the type error when you apply this patch:

[code]

So if you try to add the wrong type signature for the layout method to the top layer, we fail. Will you take a fi

[2022-09-06 20:25] samreid commented on #795
Yes, that matches my understanding and I reproduced that type error by changing that layout method.  I think we are in good shape to close.

[2022-09-06 20:25] #795 closed

[2022-09-06 21:17] zepumph commented on #845
I don't yet feel like I have a good solution for how to do this. It makes me incredibly worried to put this data into the string files, but perhaps that is an acceptable solution. I won't be able to investigate this soon. @samreid, would you mind trying out putting the data in string files, and seeing what you need to do to load-unbuilt-strings and getStringModule to have this work in both (un)bui

[2022-09-06 21:18] zepumph commented on #845
Before committing, we would want to double check with rosetta team that they are depending on a specific structure of phet.chipper.strings or somethign.

[2022-09-06 21:24] samreid commented on #845
@jbphet or @liammulh does the above proposal sound reasonable to you?

[2022-09-06 21:30] liammulh commented on #845
I could be wrong, but I don't think this (the most recent patch) will negatively affect rosetta since it doesn't look for anything other than stringKey.value. @jbphet, what say you?

[2022-09-06 21:34] zepumph commented on #845
@samreid, just to be clear here, the object returned by getStringModule most likely shouldn't change at all. We only need to store this data in phet.chipper.strings, which will be used to create the Properties in that object, but we don't need to put `phetioReadOnly` into that object used by sims.

Some ideas:

[code]

[2022-09-06 21:39] zepumph commented on #833
Confirming here that this is not blocking the batch PhET-iO release. Please add to the project board if you feel differently.

[2022-09-06 22:46] jessegreenberg commented on #854
OK, this was done in the above commits. To summarize, I added Voicing to Slid by using `voicingOnEndResponse`. The hard part was getting it to work with SliderTrack. I had to make `valueOnStart` an arg for `voicingOnEndResponse` so that it could be used without a references to Slider or a subtype of AccessibleValueHandler.

After these changes I updated the sliders in VoicingPanelSection.

@zepump

[2022-09-07 15:11] jessegreenberg commented on #853
Thanks all, I made some simple changes to get started. Voicing is now disabled and the Voicing section is hidden when locale is changed from English. If Voicing is enabled when this happens, we hear the same "Voicing off" response from the "Voicing" toggle switch (which we got for free from existing listeners).

@zepumph raised some good questions, I sent a demo over slack of this behavior and rea

[2022-09-07 15:15] jessegreenberg commented on #852
In https://github.com/phetsims/joist/issues/852 we decided that this content should be hidden when not running in the "en" locale. There is a comment currently above the strings that reads

// are nested under the 'a11y' section to make sure that they are not translatable
const voicingLabelString = joistStrings.a11y.preferences.tabs.audio.voicing.titleStringProperty;
const voicingDescriptionString

[2022-09-07 15:27] jessegreenberg commented on #850
In #853 we decided that Voicing content should be hidden when switching away from the English locale so contents of the VoicingToolbarItem do not need to support locale switching because those strings are not translatable.

In #852 I asked if it would be clearer for these non-translatable strings to be defined locally instead of nested under the `a11y` key. If so, that should be done for VoicingTo

[2022-09-07 15:27] #850 closed

[2022-09-07 16:10] terracoda commented on #853
Dynamic name/label for Voicing toggle switch

- When no additional languages are available in the Preferences Menu
![image](https://user-images.githubusercontent.com/1902116/188925187-68dd96d9-592b-4080-b8a1-a4d63df93e1c.png)

- When additional languages are made available in the Preferences menu
![image](https://user-images.githubusercontent.com/1902116/188925422-ee70c834-a1b9-488e-9639-cf42390a2

[2022-09-07 21:31] zepumph commented on #852
Sounds good to me!

[2022-09-07 21:31] #852 closed

[2022-09-08 15:12] jessegreenberg commented on #853
OK thanks @terracoda. Added both of those in the above commits. "Voicing (English Only)" is the new label when there are more locales available. The response for changing locale includes "Only available with English".

@zepumph I think this is done, over to you to review if you wish and confirm Friction/RaP are no longer blocked.

[2022-09-08 15:53] zepumph commented on #853
There are other locales that are english:

https://github.com/phetsims/chipper/blob/55f01f582ff42427c5b2f12a070edbe0c47f0706/js/data/localeInfoModule.js#L223-L237

Do we want to support all of them by using 'startsWith' instead of triple equals?

Also, It is almost certainly possible to make the HBox respect the bounds of the invisible voicing section. I couldn't figure it out in 2 minutes of play

[2022-09-08 17:42] jessegreenberg commented on #853
Thanks for reviewing!

Great idea! Done above.

I see what you mean. I found one way to accomplish this with `excludeInvisibleChildrenFromBounds: false`. The VBox to the right of the Voicing content does not shift to the left and I think that is correct. But it probably could if you prefer. Does this look better?

[2022-09-08 19:22] zepumph commented on #844
- [ ] Noted today that Screen.nameProperty is still editable, and doesn't point back to the i18n strings.

[2022-09-08 19:53] zepumph commented on #830
Noted today during PhET-iO meeting that this is still out for review.

[2022-09-08 19:56] zepumph commented on #845
We looked at this today at PhET-iO design meeting, @jbphet can you please comment here as to if adding this metadata to the en json string files would be alright from a rosetta/translation perspective?

[2022-09-08 19:59] zepumph commented on #845
@jonathanolson recommends keeping it out of phet.chipper.strings, because that is more of a per-locale data structure, so we will just want to create our own metadata object that can be used in getStringModule.

We need to support this in getStringMap and load-unbuilt-strings.

[2022-09-08 20:05] zepumph commented on #830
High priority (and why this is on the phet-io batch release board) is a review of the above commits.

MR release requirements:
?allowLinks query parameter
prevent `openPopup` behavior generally, but make sure screenShots and other internal popups are allowed.

@kathy-phet says that the MR is not the highest priority. After other blocking items.

[2022-09-08 20:07] zepumph commented on #839
From PhET-iO design meeting:

@arouinfar and @kathy-phet reviewed this this morning. @jessegreenberg will be the reviewer, but first @arouinfar will post a couple of pixel polishes to do.

[2022-09-08 20:07] zepumph commented on #744
Still on me, pinged during today's PhET-iO meeting.

[2022-09-08 21:03] jbphet commented on #845
Above, @zepumph asked:

In an earlier comment, he said:

In the comment immediately above this one, he said:

So, at this point, I'm a little confused.  Are we still talking about putting the metadata to mark a string as `phetioReadOnly` in the English version of the strings file?  If so, would in *only* be in the English file and not in the others?  If we specifically know the strings that we wan

[2022-09-08 21:29] arouinfar commented on #839
Previously, the home button was vertically centered in the navbar, and that is still the case, so no further changes are needed.

I think the issue here is that the kebab menu should also be reduced in size by the same proportion.

Here are the pixel polishes:
- [ ] Reduce the size of the PhET logo by 15% in all brands, not just PhET-iO.
- [ ] Reduce the size of the kebab menu dots by 15%.
- [ ] V

[2022-09-08 21:32] samreid commented on #743
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:32] samreid commented on #827
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:50] emily-phet commented on #853
@jessegreenberg Thanks for the video in Slack, it was very helpful.
I think it's a little unfortunate to have the voicing feature disappears from the audio tab when a new locale is chosen, rather than having it disabled. But, I recognize it would be a bit awkward to either have the Voicing content present in English, or to have a translated label for something available only in English.

I'm not s

[2022-09-08 22:03] zepumph commented on #853
I like everything I heard above a lot. Especially having voicing enabled again when returning but seeing a greyed out switch  in the on position.

Also @jessegreenberg, is there anything in the code that could possible re-enable voicing when the localeProperty is off? I believe all those controls will be hidden, but it seems a bit hard to see all cases.

[2022-09-08 22:26] jessegreenberg commented on #853
Thanks @emily-phet and @zepumph.

Not yet, this could be done.

Currently it does not, but it could. I think the behavior you described where making the "Voicing" label invisible when it does not return matches what is implemented. If it would be better to have Voicing to return in this case, we could keep the label visible. Which do you prefer?

If Voicing is not enabled, I don't think the Voicin

[2022-09-08 22:34] zepumph commented on #853
Sorry, I meant to say "could possible re-enable voicing when the localeProperty caused it to turn off originally and then was set back to en.

[2022-09-08 22:35] zepumph commented on #743
@jessegreenberg, does this seem like a reasonably patch to you?

[code]

[2022-09-08 22:44] jessegreenberg commented on #853
Thanks! I understand now, I believe it should be. Ill take a look.

[2022-09-08 23:07] jessegreenberg commented on #853
In the above commit, I changed it so
- If locale changes while Voicing is enabled, the next time "en" locale is selected Voicing will be enabled again.
- The "Voicing" label of the panel section remains visible, but is disabled when locale is not english. Voicing is disabled and subcomponents are hidden.

I recorded another demo and posted on slack to get votes on which version to use.

[2022-09-08 23:22] jessegreenberg commented on #743
Looks great to me, thanks! Reviewed, applied, tested, pushed. Closing.

[2022-09-08 23:22] #743 closed

[2022-09-09 00:15] samreid commented on #827
Fixed, closing.

[2022-09-09 00:15] #827 closed

[2022-09-09 00:16] pixelzoom commented on #853
Pleas regenerate all PhET-iO API files.  ph-scale-basics is failing in CT. By running `grunt generate-phet-io-api`, I can see that no PhET-iO API files were updated, and other sims will fail similarly.

Now that strings are PhET-iO instrumented, adding a string for a sim requires regenerating that sim’s API file. Adding a common-code string (like you’ve done in JoistStrings.ts) requires regenerati

[2022-09-09 00:31] samreid commented on #839
Centering the kebab dots on the bounds of the PhET-iO logo image looks lopsided because the image has asymmetrical bounds (bounds includes the dot of the i)

<img width="184" alt="image" src="https://user-images.githubusercontent.com/679486/189248143-2a3e7357-233a-410e-be02-e7b7e9f0fcfd.png">

Instead, I centered it on the PhET-iO logo but without the letter "i":

<img width="174" alt="image" src=

[2022-09-09 00:39] samreid commented on #839
After the changes, the pointer areas are looking like this:

<img width="312" alt="image" src="https://user-images.githubusercontent.com/679486/189249024-b5d53b9f-97ef-4dfc-91ed-d426f6abb015.png">

I feel like I am requested to expand them by 15% or so?

[2022-09-09 00:51] samreid commented on #839
After adjusting the pointer areas:

<img width="790" alt="image" src="https://user-images.githubusercontent.com/679486/189249582-1d26981c-813f-45bb-bc7d-cf720f4a15d6.png">

[2022-09-09 00:51] samreid commented on #839
All requests complete, wasn't 100% sure about the vertical centering since the PhET icons are asymmetrical as described a few comments back.  The picture in the previous comment is zoomed in.  Ready for review.

[2022-09-09 14:28] terracoda commented on #853
@jessegreenberg, I liked the demo in slack where the Voicing switch and help text were left disabled. The responses sound good, too.

[2022-09-09 14:36] jessegreenberg commented on #853
This was done for all sims in https://github.com/phetsims/phet-io-sim-specific/commit/131a41d9431460b6205a77ff708b370737945cbb. `grunt compare-phet-io-api` shows no diferences in any sim in perennial/data/phet-io-api-stable.

[2022-09-09 19:49] arouinfar commented on #839
Thanks @samreid everything looks good in master, including the `pointerAreas`.

Here's a comparison of the original scaling (top) to master (all brands).
![navbar-original](https://user-images.githubusercontent.com/8419308/189431466-c75aeeb5-6536-47b3-8cba-df513626f88b.png)
![navbar-updated-1](https://user-images.githubusercontent.com/8419308/189431469-800a7180-246b-4651-bdd2-205e9ac51906.png)
![n

[2022-09-12 17:43] jessegreenberg commented on #853
From slack and above comments, the design in https://github.com/phetsims/joist/issues/853#issuecomment-1241322613 is the one we will go with.

There are two more changes to make discussed over slack.
- The visual Voicing label and description should be translatable.
- We should make sure that if the sim starts in a non-english language but English is an available locale, Voicing should be availabl

[2022-09-12 21:55] arouinfar commented on #814
Thanks @jessegreenberg. I think we're ready to close this issue. We can open new issues for the ESP work as we encounter them.

[2022-09-13 01:17] jonathanolson commented on #845
There's certain metadata for strings that apply to ALL locales, this seems to be an example (confirmed during design meeting). I propose that we keep that metadata in the file that is checked into the sim (which happens to be the English string file).

For the runtime of sims (built and unbuilt), that metadata doesn't fit well with what `phet.chipper.strings` currently is. I recommend placing the

[2022-09-13 02:54] jonathanolson commented on #830
Continuing my review, but @samreid can you check the above commit? I believe it would leak memory before when a RichText with a link is changed/created.

[2022-09-13 03:26] samreid commented on #830
The memory fix looks good, thanks!

[2022-09-13 13:24] jonathanolson commented on #830
https://github.com/phetsims/joist/commit/df9633ae7cb3e1fc9e4c8ae4555b546935d13cc3 also seems to include a change that triggers update checks from iOS-app versions of the sim. That change seems unrelated to what's done here, was that on purpose?

[2022-09-13 14:04] jonathanolson commented on #830
Review completed. @samreid thoughts on https://github.com/phetsims/joist/issues/830#issuecomment-1245407193? (it's superficial)

[2022-09-13 14:08] #832 closed

[2022-09-13 17:13] jonathanolson commented on #845
@zepumph thoughts on:

[code]

and `phet.chipper.stringMetadata[ stringKey ]` is the content of everything under metadata?

So in getStringModule, near
[code]
we can just grab `phet.chipper.stringMetadata[ stringKey ]?.phetioReadOnly`. We'll need to create options for LocalizedString.

load-unbuilt-strings will populate `phet.chipper.stringMetadata` as it loads the English file.

We'll create `get

[2022-09-13 17:50] zepumph commented on #845
I'd love to take a first pass on this if you don't mind. I'll let you know how it goes!

[2022-09-13 21:59] samreid commented on #830
https://github.com/phetsims/joist/issues/830#issuecomment-1245407193 looks like an improvement, but while I was looking, I saw that it looks like there is no unlink/dispose on `allowLinksProperty.link( updatePanelAllowLinksListener );`.  We need that, right?

[2022-09-14 00:19] zepumph commented on #844
1. I see that there are no Sim instances using string now, with `new \w{0,100}Sim\( \w+String,`
2. I see 71 usages of `String = .*StringProperty;`, should these variables be renamed? I kinda don't think it matters.
3. I took care of https://github.com/phetsims/ratio-and-proportion/issues/502
4. Screen.nameProperty is now a linkedElement back to the model when a Property is passed in as the name. I

[2022-09-14 19:24] jessegreenberg opened #855 "Add a query parameter to enable Interactive Highlights by default"
We would like to have this to support upcoming compatibility testing/user interviews. We have `voicingInitiallyEnabled`, presumably we would have `interactiveHighlightingInitiallyEnabled` to match?

[2022-09-14 20:00] jessegreenberg commented on #855
Added `?interactiveHighlightsInitiallyEnabled` for this. @arouinfar will this be sufficient for your upcoming testing needs?

[2022-09-14 20:44] zepumph commented on #839
Pinging @jessegreenberg here, we got here during PhET-iO design meeting

[2022-09-14 21:35] zepumph commented on #836
Discussed during PhET-iO meeting today. @arouinfar and @kathy-phet would like a "Display Mode" radio button group.

* Please use the above mockup exactly except that "Default" doesn't need any extra description.
* Keep `colorProfileProperty` as the name of the mode Property, and don't change the name of the linkedElement/references key in the PreferencesModel.visualModel.

[2022-09-14 21:45] zepumph commented on #855
@arouinfar looked today during PhET-iO meeting, all is good here. Thanks. Commits to come.

[2022-09-15 00:11] samreid commented on #844
Changes in Screen.ts look great, I would like to promote this to a new issue:

Anything else to do here?

[2022-09-15 00:12] samreid opened #856 "StringProperty local variables should have StringProperty suffix"
From https://github.com/phetsims/joist/issues/844#issuecomment-1247421486

@zepumph said:

I would like to rename the left hand side to end in *StringProperty.

[2022-09-15 02:54] kathy-phet opened #857 "Should Preferences Menu include toggle for "Pan and Zoom""
I noticed that Pan and Zoom is not in the preference menu, while we have moved all of the other options into that menu. Is there a use case where a user might prefer it off or want to toggle it on/off? Should there be access in the preferences menu?

Is it a "Visual" preference? sort of.

Related - if so, @zepumph, it would need to be in the collection of preferences.

[2022-09-15 03:29] kathy-phet commented on #844
@samreid @zepumph - I was reviewing GAO as part of the Guide review, and the work here doesn't look like its done yet, or at least it is not fully working in what I am seeing.

The spots I still see issues:
- [] For the screen names, everything should link back to these two strings:
gravityAndOrbits.general.model.strings.gravityAndOrbits.modelStringProperty
gravityAndOrbits.general.model.strings.g

[2022-09-15 03:45] kathy-phet commented on #844
Unless I'm being fooled by phettest ... it doesn't seem to be pulling correctly.

[2022-09-15 04:05] kathy-phet commented on #844
I was being fooled by phettest. Sad face.

One question though:
I understand that "gravityAndOrbits.general.model.displayedSimNameProperty" is used to create names like
"Gravity and Orbits - To Scale"
This seems to only happen when you actually use ?screens=2 or another screen parameter.

When you do "availableScreensProperty" and choose [ 2 ]. It remains "Gravity and Orbits".

I want to make sure

[2022-09-15 04:37] emily-phet commented on #857
I would prefer not to have a Pan and Zoom option in the preferences menu. We've been quite thoughtful about it's design, and it should feel relatively seamless from other system pan and zoom experiences. There is probably a case where it might not be desired (likely in a tablet situation) but I would prefer to leave it as is if and until there is a strong need arises to include an option to turn i

[2022-09-15 16:25] samreid commented on #844
Thanks, I believe that was an oversight and that it should update accordingly.  I revised that logic like so:

<details>

[code]

</details>

@zepumph can you please review and commit (or give me the go-ahead) if everything seems good?

[2022-09-15 17:00] kathy-phet commented on #844
@samreid - OK - but one more fix, it then needs one more fix if you haven't done it. Please add the 3rd dependency to the dependencies list. It should be the title and both screen names, not just the title and first screen.

[2022-09-15 17:02] samreid commented on #844
Just checking on understanding of the patch syntax--the red code with "-" is the deleted code, the green code with "+" is the added code.  The deleted code has `this.simScreens[ 0 ].nameProperty`.  The proposed code has `...this.simScreens.map( screen => screen.nameProperty )` which takes all of them.

[2022-09-15 17:59] pixelzoom opened #858 "`supportsInteractiveHighlights: true` should be the default for sims that support alt input"
From 9/15/2022 dev meeting notes, with notes by @jessegreenberg

* Interactive Highlights are highlights that surround interactive Nodes on mouse and touch input to improve low vision access.
* To enable Interactive Highlights [add this option to the Sim PreferencesModel](https://github.com/phetsims/greenhouse-effect/commit/87e00de23287bfe40b4b0d2daa42197570578c3c).
* Common code components will n

[2022-09-15 18:18] kathy-phet commented on #858
@jessegreenberg - Let me know what you think about CM's suggestion above. Thanks!

[2022-09-15 19:07] #855 closed

[2022-09-15 19:23] zepumph commented on #844
[code]

[2022-09-15 21:17] kathy-phet commented on #857
I'm fine leaving it. Just wanted to check.

[2022-09-15 21:17] #857 closed

[2022-09-15 22:55] zepumph opened #859 "Instrument PreferencesModel to expose all `supports*` flags"

[2022-09-15 22:59] zepumph commented on #859
Something like this:

[code]

[2022-09-15 23:34] zepumph commented on #845
Unfortunately I will not have time for this like I thought I would. @jonathanolson, can you please take the lead on it and work with @samreid for any PhET-iO questions?

[2022-09-16 13:40] samreid commented on #859
I added one more commit that marks it as `phetioFeatured: true`.

[2022-09-16 16:32] zepumph opened #860 "PhET-iO support for choosing to hide tabs on the preferences dialog"
From https://github.com/phetsims/joist/issues/744#issuecomment-1247304108

@jessegreenberg could you please help me with a facility to hide the tabs. We want to be able to customize if certain tabs are available to the user. If you hide the currently selected tab, it would also hide the panel being shown (because it would likely move to the next selection.

I think some sort of model Property that

[2022-09-16 16:35] zepumph commented on #744
I'd like to co-assign @samreid because my time pre-vacation is running short, and I don't want to be a bottle neck. I think that @samreid could definitely work on marking things as phetioReadOnly: true again, and likely also the simSoundEnabledProperty rename. I'm still trying to get to this though!

[2022-09-16 17:00] zepumph commented on #859
Perfect!

[2022-09-16 17:05] samreid commented on #859
Thanks, I have nothing further for this issue. Closing.

[2022-09-16 17:05] #859 closed

[2022-09-16 22:46] pixelzoom opened #861 "TModel now requires all models to have a `step` method."
In Sim.ts, screen.model.step is clearly optional:

[code]

But in TModel.ts (created in https://github.com/phetsims/joist/issues/783), `step` is now required:

[code]

And Screen requires a model to be of type TModel:

[code]

So as I'm converting sims to TypeScript (e.g. Equality Explorer), I'm having to add a no-op `step` methods to my models that previously had no `step` method.   It probably w

[2022-09-16 23:08] pixelzoom commented on #861
I've also discovered that Screen and TModel don't seem to be enforcing the constraint that every Screen has a model that implements `step`.   In ph-scale, which is fully converted to TypeScript, I have:

[code]

... where `MySolutionModel` does not implement `TModel` and does not have a `step` method.

[2022-09-16 23:22] pixelzoom commented on #861
In the above commits, I added `implements TModel` to the models in all of my TS sims, and properly parameterized Screen (even though it doesn't complain if it's not parameterized propertly).

4 of 5 sims needs to have an empty `step` method add to a model:
* beers-law-lab BeersLawModel
* equality-explorer SolveItModel
* molecule-polarity RealMoleculesModel
* ph-scale MySolutionModel

So there's ev

[2022-09-17 01:14] jonathanolson commented on #845
Implemented, and added read-only to the strings in https://github.com/phetsims/joist/issues/845#issuecomment-1228885371.

@zepumph can you verify?

[2022-09-18 01:47] jessegreenberg commented on #858
Yes, I think this makes sense! Making this the default has a little more up front cost in enabling this for the ~25 sims that currently support alt input but do not yet support Interactive Highlights. Most will be trivial, but a few might take 15-30 minutes.

@kathy-phet is that OK? Is this something you would like me to do or should I create issues for the responsible dev of each of these sims?

[2022-09-18 01:50] samreid commented on #844
@zepumph and I collaborated on the patch above.  I re-reviewed it and tested it, and it seems complete and correct.  I tested changing the availableScreens in studio and saw that this value updated correctly.  I also confirmed that I could trace the dependencies and change the name of the sim entirely (whether it had one availableScreen or more).

I think this issue can be closed.  @kathy-phet do

[2022-09-18 04:40] kathy-phet commented on #858
Hey Jesse,
Yes, this sounds great. There are 14 sims published that are listed as supporting alt input. So maybe 10 other sims. I don't think we would eagerly republish all 14 sims right now. But if you could get it working on master, that would be great, so its ready when we republish. Sounds like its pretty straightforward.
@emily-phet - Do you see any issues with having interactive highlights b

[2022-09-18 13:09] emily-phet commented on #858
This sounds wonderful!

Having interactive highlights be forever forward coupled with alt input is indeed ideal!
One clarification, it would be available but "off" by default, correct? I'm guessing that's the case but just wanted to clarify.

[2022-09-18 13:17] kathy-phet commented on #858
Yes - off by default unless you use the query parameter to start with it on - but available to turn on through the preferences dialog.

The user testing that was done with low-vision non-screen reader users on GHE suggests that this would really help them. We are going to re-do the testing in GHE with the interactive highlights available and confirm. But it definitely seems like what they were wis

[2022-09-18 13:17] zepumph commented on #844
Can you also do a quick test with ?screens=2 to make sure that looks the same and is editable in studio?

[2022-09-18 13:48] samreid commented on #844
Testing in studio with ?screens=2, the title initially appears correctly, and is editable by tracing back to `gravityAndOrbits.general.model.displayedSimNameProperty.dependencies.gravityAndOrbits-general-model-strings-joist-simTitleWithScreenNamePatternStringProperty`

However, launching with ?screens=2 then changing `availableScreensProperty` at runtime gives this assertion error:

<img width="43

[2022-09-18 13:52] samreid commented on #845
I'll review this issue, thanks @jonathanolson

[2022-09-18 14:12] zepumph commented on #844
I think, "no, please no." We only make the screens provided in the query string, I just wanted to confirm the editability you reported in the first paragraph. All good on my side!

[2022-09-18 14:15] samreid commented on #845
I reviewed the places phetioReadOnly was marked true, and checked that they appeared correctly in studio.  I tested built and unbuilt mode.  I considered that we may one day want to put metadata in a parent node, like:

[code]

But I believe that would be overcomplicated for now.

I think this issue can be closed, @kathy-phet do you recommend any further design or code review?

[2022-09-19 15:41] samreid commented on #744
@marlitas and I implemented the first step by making things no longer read only. We have no confidence that we have covered model elements that do not appear in gravity and orbits, and we are considering adding a post start up a session check that all nested elements under the preferences model are marked as read only false.  We think this would take 30 minutes or so but would protect occurrences

[2022-09-19 17:12] jessegreenberg commented on #839
Thanks @samreid, I reviewed commits referenced here and comments. Looking good.

Only one question, is this `pickOptional` necessary? Those new JoistButtonOptions are already optional on the parent options.

Same for NavigationBarAudioToggleButton and NavigationBarPreferencesButton.

[2022-09-20 01:31] jonathanolson commented on #645
Adjusted the font family in PhetFont, and I added a `?fontFamily=` query parameter to test out different fonts. `Helvetica Neue` used to be a default for macOS and has a good appearance for Safari (stretches to the full amount). I added the typical backup fonts for it, including Arial in the chain.

@kathy-phet and @KatieWoe, can you see if this works, see if it looks good, and possibly try out al

[2022-09-20 16:15] samreid opened #862 "Does isLeftToRightProperty respect fallbacks correctly?"
From https://github.com/phetsims/phet-io/issues/1881

@marlitas and I noticed this code:

[code]

We specified a non-existant locale “ar_MM” and expected to see it fallback to “ar”, but the isLeftToRightProperty crashed because it didn’t know about “ar_MM” specifically.

[2022-09-20 16:58] jonathanolson commented on #862
I previously had localeProperty's validValues to be the set of locales in localeInfoModule, which would guarantee this behavior. To me, localeProperty taking on something not in localeInfoModule seems to be the error.

[2022-09-20 17:49] samreid commented on #844
@zepumph agreed the behavior is as expected and the issue can be closed, thanks!

[2022-09-20 17:49] #844 closed

[2022-09-20 20:30] jonathanolson opened #863 "Long sim title strings break layout on single-screen sims"
To reproduce:

1. Run a single-screen sim (e.g. WOAS) with `&stringTest=asrtalasrkntalskrntalskrntalksrntlaksrntlaksrntalskrntalksrntaaslrtknaslrktnalsrktnalsrktnalskrntalksrntalskrntalskrntalksrntalskrnt`

The title will overshoot the PhET button:

<img width="881" alt="image" src="https://user-images.githubusercontent.com/480878/191358374-cabd6176-d6d9-4160-8a48-2ddd3b6dc55d.png">

Presumably we

[2022-09-21 00:57] samreid commented on #839
Thanks, I converted from PickOptional to Pick.  Is that what you had in mind?  Please close if all is well.

[2022-09-21 01:20] samreid opened #864 "Rename simSoundEnabledProperty to audioEnabledProperty"
From https://github.com/phetsims/joist/issues/744, @zepumph said:

[2022-09-21 01:22] samreid commented on #864
When I started on this, I had 2 questions:

* AudioModel is defined like so:
[code]

After this change, it would be

[code]

Are the semantics for audio vs sound sufficiently well described?  Is it confusing to have `audioEnabled` right next to `soundEnabled`?

Second, I saw numerous occurrences of `simSoundEnabledProperty` in the sim Quadrilateral and wasn't sure if those should also be renamed.

[2022-09-21 01:23] samreid commented on #744
I completed the assertions that @marlitas and I started.  I moved the remaining issue to https://github.com/phetsims/joist/issues/864.  I think this issue can be closed.  We may discover details during design review or QA testing, in that case, we can reopen or create side issues.

[2022-09-21 03:16] jonathanolson commented on #863
In NavigationBar, we're subtracting by `this.a11yButtonsHBox.width`, which in this sim's case happens to have no bounds (thus its width is -Infinity), thus the maxWidth becomes +Infinity.

[2022-09-21 03:18] samreid commented on #862
Thanks, I believe this will be addressed as part of https://github.com/phetsims/joist/issues/862, closing.

[2022-09-21 03:18] #862 closed

[2022-09-21 03:21] jonathanolson commented on #863
@marlitas could you review this change?

[2022-09-21 03:50] jonathanolson commented on #811
We switched over a while ago, and it should have the "correct" padding now. I believe it might be a 1-pixel change, and doesn't seem like a problem.

[2022-09-21 04:18] jonathanolson commented on #862
That's... this issue. Did you mean another issue?

[2022-09-21 05:33] samreid commented on #862
Yes, thanks.  I think we will address it in https://github.com/phetsims/phet-io/issues/1882

[2022-09-21 16:43] marlitas commented on #863
Looking through this I pulled up Waves on a String to test the functionality, and while using the helper dialog I hit an assertion when looking for the `A11yButtonsHBox`. It seems buggy to me that `A11yButtonsHBox` would have no bounds. If the HBox has no content its bounds should reflect that as 0.

[2022-09-21 17:14] marlitas commented on #863
Talked through my questions with @jonathanolson. Feels good to close!

[2022-09-21 17:14] #863 closed

[2022-09-21 17:24] jessegreenberg commented on #864
Yes, this rename makes sense to me and matches PhET's definition of "audio" and "sound". Distinctions between each audio feature are in audioManager.ts. Id like to flesh out the documentation for these model types.

Thanks, I renamed all of those to a more sim-specific name.

[2022-09-21 17:41] jessegreenberg commented on #864
I added some documentation for the AudioModel. Back to @samreid for the rename and the other PhET-iO changes described, but feel free to reassign if you would like me to do it.

[2022-09-21 18:26] jessegreenberg commented on #839
I'm sorry, I misunderstood the ProvidedOptions of these subclasses. I was actually thinking get rid of `Pick` for
[code]

But I see now from the implementation of these JoistButton subclasses that it is best to exclude most of the JoistButton options.

Otherwise I don't feel too strongly between Pick and PickOptional here.

Good to close then.

[2022-09-21 19:10] KatieWoe commented on #645
Things looked ok on my end.

[2022-09-21 20:15] samreid commented on #864
Fixed, tested in studio.  All seems well, closing.

[2022-09-21 21:40] kathy-phet commented on #839
@samreid - Just want to confirm whether this should this go back to PickOptional? Or stay as Pick?

[2022-09-21 22:09] samreid commented on #839
Pick works well because the option is already optional so doesn't need to be marked optional twice, this issue seems OK to close.  Thanks everyone!

[2022-09-21 22:09] #839 closed

[2022-09-21 22:36] jessegreenberg commented on #853
The items in https://github.com/phetsims/joist/issues/853#issuecomment-1244085194 were done in the above commits. @zepumph could you please review this? Sorry, I know you are currently out but you did the first review and expressed thoughts about how this should behave over slack. I think it can wait for your return and is only blocking for Friction/RaP publications.

[2022-09-22 15:26] samreid opened #865 "High contrast mode and other modes like it should not be output into the state"
From #836

In a meeting with @samreid @arouinfar and @kathy-phet, we discussed that we would like (projector mode vs default mode) to be captured in the state, but something like high contrast vs non-high-contrast would not be in the state.

Splitting up color profiles into booleans (projector, high contrast, color blind), would be prohibitively expensive, and we aren't planning on that.

We also

[2022-09-22 15:28] samreid commented on #836
In discussion with @arouinfar and @kathy-phet, we agreed this is non-blocking and can actually be deferred until we have a 3rd color profile.  We don't know what sim that would be at the moment.

[2022-09-22 15:52] samreid commented on #860
At today's meeting, @kathy-phet @arouinfar and I discussed that using `visibleProperty = false` to hide the tabs seems like a good starting place.

The tabs should be nested together in a node in the studio tree, like "tabs"?

[2022-09-22 16:14] jessegreenberg commented on #860
@samreid and I discussed over slack:

 Will all of the unused tabs be instrumented but invisible? We are unsure about that.
Tabs are only included if the sim has features that are supported in that tab. I was thinking only used tabs would be available but they could be made invisible with PhET-iO. Is that OK?

[2022-09-22 19:03] jessegreenberg commented on #860
It looks like the instrumentation of PreferencesTabs and PreferencesPanels is possible so that they can be hidden with `visibleProperty`. But then they would have to be set together. A single Property like @zepumph suggested would probably be a better API.

[2022-09-22 19:14] samreid commented on #830
We saw that disposal is not needed since the AboutDialog is not disposed after opening.  I'll use the optimization @jonathanolson recommended, then close the issue.

[2022-09-22 19:23] jessegreenberg commented on #860
Discussed with @samreid, the API expectation was to go through `visibleProperty` so we should continue to do that. Right now visibility of each panel is tied to `selectedTabProperty` but we should try also linking it to visibility of the PreferencesTab so that the API just goes through that Node.

[2022-09-22 21:13] kathy-phet opened #866 "Preferences model: move toolbarEnabledProperty to Audio"
In review, we noticed that toolbarEnabledProperty was classified in the Preferences Model under "visualModel", but is hooked up to a selection under "audioModel". Please move it to the "Audio" part of the Preferences Model in the Studio Tree:
 friction.general.model.preferencesModel.visualModel.toolbarEnabledProperty

 Thanks, K

[2022-09-22 22:11] jessegreenberg opened #867 "Create a superclass for content in Preferences panels"
https://github.com/phetsims/joist/issues/860 would be much easier if there were a superclass for Preferences panel content. Mostly to manage visibility in that issue, but there is also some duplication between all of the *PreferencesPanel.ts files in joist/preferences.

[2022-09-22 23:30] samreid commented on #866
I moved it to `friction.general.model.preferencesModel.audioModel.toolbarEnabledProperty`, @arouinfar or @kathy-phet want to review?

[2022-09-22 23:32] jessegreenberg commented on #860
https://github.com/phetsims/joist/issues/867 should have the visibility Properties linked up correctly so all that should be left is to add tandems to the `Tab`s so their visibility can be set by PhET-iO.

[2022-09-23 00:14] jessegreenberg commented on #860
Alright, I think we are mostly implemented as requested. I had a couple of design questions.

- What if a tab is set to `visible: false` while that tab is currently displayed? Do we need to display a different one?
- What if all the tabs are set to invisible?

I am not sure if these are use cases we care about.

@samreid can you please review the instrumentation in and verify the behavior in studi

[2022-09-23 02:18] samreid commented on #830
Fixed, closing.

[2022-09-23 02:20] samreid commented on #860
Yes, in the top comment, @zepumph said: "If you hide the currently selected tab, it would also hide the panel being shown (because it would likely move to the next selection."

[2022-09-23 02:43] samreid commented on #860
I added a commit that switches tabs to the leftmost visible tab if the currently selected tab becomes hidden.  If all tabs are hidden, it is just an empty dialog box.  @jessegreenberg can you please review?

[2022-09-23 14:41] jonathanolson commented on #830
Reopening to track for the maintenance release.

[2022-09-23 15:58] arouinfar commented on #866
@samreid thanks, looks good in master.

[2022-09-23 15:58] #866 closed

[2022-09-23 16:06] arouinfar commented on #860
@samreid @jessegreenberg I stumbled across these changes when reviewing another issue, and I just wanted to let you both know that the behavior in master looks really good. The `preferencesTabs.*Tab.visibleProperty` structure is clear and it behaves as I would expect. The edge cases @samreid addressed in https://github.com/phetsims/joist/issues/860#issuecomment-1255744662 also look good.

If furth

[2022-09-23 17:46] jessegreenberg commented on #860
Thanks @samreid, that `multilink` is great and works as described. In the above commit I added the `unmultilink` to the dispose which I think is necessary because those Properties are not owned by the PreferencesTabs.

With @arouinfar design sign off I think we are done for this issue. Closing.

[2022-09-23 17:46] #860 closed

[2022-09-23 17:48] jessegreenberg commented on #867
This is done and working well for the requests in #860.

[2022-09-23 17:48] #867 closed

[2022-09-26 16:02] chrisklus commented on #645
I think this issue may be causing some layout issues in NumberPlay, and I suspect many other sims are affected as well. It seems like there's a lot riding on the specific family of PhetFont, so likely shouldn't be changed without lots of pixel testing.

Please compare screen 3 and the bottom right panel of screen 5 of these dev versions:
Pre-font family change: https://phet-dev.colorado.edu/html/n

[2022-09-26 16:22] kathy-phet commented on #645
Can you post screenshots @chrisklus ? I don't see any changes in screen 3, or bottom right panel of screen 5

[2022-09-26 16:46] chrisklus commented on #645
It's easiest to compare if you click on each of these to open in their own tab. Most notably, the new font doesn't vertically center symbols like <, = , and >. It looks like number characters are slightly lower too, causing misalignment with the arrow buttons in the second screenshot.

before:

![Number Play screenshot (3)](https://user-images.githubusercontent.com/5618316/192333078-322257f6-6aad-

[2022-09-26 21:25] kathy-phet commented on #645
On a PC, just reporting that I don't see the font offset you are seeing on the mac.
Old:
![image](https://user-images.githubusercontent.com/5096804/192383425-a8c93e5e-b57d-411e-a52c-96869c69ac64.png)
New:
![image](https://user-images.githubusercontent.com/5096804/192383515-49672a7d-313b-4bd9-8fb5-81aa09547abf.png)

[2022-09-27 00:02] jonathanolson commented on #645
This is happening on my system, with the "Helvetica Neue" font on macOS. It does NOT happen with Arial. Perhaps we should choose another common font?

[2022-09-27 03:58] samreid commented on #865
This seems like a good issue to implement in concert with https://github.com/phetsims/joist/issues/836.  VisualPreferencesOptions is defined like so:

[code]

So we would need to know more about how this will work before we can add the custom IO type for it.

[2022-09-27 03:59] samreid commented on #836
When this issue undefers, it would also be a good time to work on https://github.com/phetsims/joist/issues/865

[2022-09-27 19:20] KatieWoe commented on #645
I'm seeing this in https://github.com/phetsims/qa/issues/838 (Win 11 Chrome). It also seems that this can throw off icons such as those in the nav bar. @samreid let me know if you want this as a separate issue for the GaO rc.
RC:
<img width="292" alt="off" src="https://user-images.githubusercontent.com/41024075/192616284-c1c403b5-37a3-46a6-ac48-3aa0fd6ae660.png">
Published:
<img width="286" alt="o

[2022-09-27 21:34] samreid commented on #856
I added these in the commits.  Wondering if we want a type-aware lint rule that axon Property instances should end in a `Property` suffix.  Separate issue?

[2022-09-27 21:34] #856 closed

[2022-09-28 00:16] samreid commented on #645
Yes, a sim-specific issue would be great so we can track cherry-picking & maintenance, thanks!

[2022-10-03 17:52] pixelzoom opened #868 "Preferences button should appear in the navbar if there are any preference in addition to Overview."
Discussed with @arouinfar in the context of pH Scale requirements...

If the Preferences dialog would have any tab in addition to Overview, then a Preferences button should appear in the navigation bar.

This is currently not the case. `supportSounds: true` is apparently not creating the Audio tab, and it should be doing so.   There seemed to be an assumption that the Audio tab was not necessary i

[2022-10-03 18:17] zepumph commented on #868
The current behavior was a specific design decision made by the preferences team when creating it. I was not involved in this, but it seems likely worth looping some of them in before deciding on anything. Over to lead dev @jessegreenberg.

[2022-10-03 18:32] arouinfar commented on #868
There's an odd intersection when the only Preferences in a sim are sound and localization. The Localization tab appears only in the _all file. So if a sim has just sound and localization, the _en file would not have a Preferences dialog, but the _all file would. However, that Preferences dialog would contain tabs for both Audio and Localization. It seems strange within the same simulation to only

[2022-10-04 14:48] samreid commented on #814
Discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs remaining in the code. Reopening.

[2022-10-04 14:48] samreid commented on #864
Discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs remaining in the code. Reopening.

[2022-10-04 16:55] zepumph commented on #854
This all looks excellent! Thank you so much.

[2022-10-04 17:00] zepumph commented on #853
Looks great, thanks!

[2022-10-04 17:29] samreid commented on #143
This was raised in https://github.com/phetsims/gravity-and-orbits/issues/448

[2022-10-04 17:30] samreid commented on #645
Probably not related to https://github.com/phetsims/gravity-and-orbits/issues/448

[2022-10-04 17:38] jessegreenberg commented on #864
Thanks, the TODO was

simply the pointer to the work of this issue which is now done. Removed, closing.

[2022-10-04 17:38] #864 closed

[2022-10-04 17:39] #854 closed

[2022-10-04 17:41] #853 closed

[2022-10-04 18:04] #814 closed

[2022-10-04 21:40] zepumph commented on #845
Review:

* I factored out a default metadata value.
* In my opinion, LocalizedString should be moved to joist, it is the only module in chipper that depends on joist. It also seems best in i18n. I would also recommend that moving getStringModule to joist would also be an improvement. Then all sim-loaded i18n code would be together.

@arouinfar Here is the list that we marked as read only:

[code]

[2022-10-04 23:10] arouinfar commented on #845
Yes, that all looks good @zepumph.

[2022-10-05 13:47] jessegreenberg commented on #868
Previously we decided not to include a Preferences dialog if sound was the only supported feature because it isn't necessary. Everything in the dialog is redundant with the "Audio" toggle button in the navigation bar and it has no other use in the UI.

That sounds right to me.

I don't find this strange. The dialog is included now because there are meaningful controls within it.

That may be, but

[2022-10-05 15:32] jessegreenberg commented on #729
I was reviewing joist issues and found this one. @kathy-phet or @arouinfar can you please review this feedback and comment on whether this warrants time?

[2022-10-05 15:36] samreid commented on #645
@marlitas and I reviewed this today in the context of the Gravity and Orbits RC.1 for https://github.com/phetsims/qa/issues/838.  It seems the title font is corrected by the new font, and the problem @chrisklus pointed out mainly affects mathematical symbols which do not appear in Gravity and Orbits. We reproduced the problem in number play and confirmed those math symbols do have incorrect lookin

[2022-10-05 15:56] arouinfar commented on #729
Thanks for writing this up @jessegreenberg. I agree, we are using the terms "audio" and "sound" strangely. Based on the definitions, "sound" is a better catch-all for all auditory features, and the term "sound effects" more accurately describes the non-speech sounds produced by the simulation.

I think at some point we considered naming the set of preferences "Auditory", which by definition is "re

[2022-10-05 16:21] samreid commented on #645
In discussion with @marlitas and @arouinfar, we think this font change may have also caused https://github.com/phetsims/scenery/issues/1458

[2022-10-05 16:53] zepumph commented on #861
@samreid and I felt like TModel made Joist typescript code more maintainable, but we realized that an empty step function was less than ideal. We couldn't figure out another definition of a model type that Screens could be passed. @samreid, do you want to reevaluate our decision?

[2022-10-05 17:28] arouinfar commented on #868
By that logic, you could argue that the "Audio Features" toggle is pointless if it is the only control in the Audio tab. The navbar button is more convenient. The number of other tabs in the dialog doesn't change the utility of the "Audio Features" toggle, so why are we bothering to show that tab at all?

Also, I want to confirm if there is extra logic to detect if `supportsExtraSound: true`. If I

[2022-10-05 18:01] zepumph commented on #868
Why have we not gotten original designers in the conversation for this yet? Everything @arouinfar is saying may be the way we should go, but it isn't up to developers. The current behavior was the last designed spec. @emily-phet can you please confirm showing a preferences dialog with only an overview/audio tab for sound (not extra sound) is acceptable and desired as described by @arouinfar above?

[2022-10-05 18:14] emily-phet commented on #868
The logic that @arouinfar describes above is consistent with my understanding of the decision process.

I can elaborate on why that decision was made if needed, but the outcome is the same. Related, there has been a recent decision to include the interactive highlights feature along with alternative input in sims going forward. This would involve the addition of a visual tab to the preferences men

[2022-10-05 18:27] zepumph commented on #868
@emily-phet, given the current implementation (and you continued recommended design), in the cases where there are only UI sound and multiple locales in the the `_all` html. Then You have the case where the `_en` version doesn't have a preferences dialog (since it would just be to toggle the general UI sound), but the `_all` html does have a preferences dialog with overview/audio/localization. Is

[2022-10-05 18:30] emily-phet commented on #868
It seems I'm not clear on the repercussions re localization tab. I have a message to you responding re meeting. Could we briefly discuss this tomorrow?

In general, I'm not opposed to sims going out with only the audio tab (only UI sounds). If that is an outcome of sims with localization features, I'm fine with that personally, but it hasn't been brought up specifically in the situation with local

[2022-10-05 18:40] zepumph commented on #868
Sounds good. I'll report back here after our meeting tomorrow afternoon.

[2022-10-05 19:01] zepumph commented on #846
I am going to mark this as blocking friction so that it doesn't fall off our radar.

[2022-10-05 19:03] jessegreenberg commented on #868
I just confirmed that if "extra sound" is supported the dialog becomes available. IMO it is well documented in code. If changes are needed feel free to reassign me!

<details>

[code]
</details>

[2022-10-05 21:40] jessegreenberg commented on #858
I got about halfway through the list of sims locally this afternoon, should have this finished soon.

[2022-10-06 00:16] pixelzoom commented on #868
I opened this issue because I noted a difference between requirements (what I was asked to do) and what was possible (the current implementation behavior).  How to address that is not my call. This is up to designers - either the design requirements need to change to match the implementation, or visa versa.

Unassigning myself.

[2022-10-06 16:25] jonathanolson commented on #645
Should we potentially revert the font change? Are we able to use the query parameter to figure out what might work in all of these cases?

[2022-10-06 16:33] jonathanolson commented on #845
It sounds fine to move LocalizedString/getStringModule to joist, although that will make maintenance releases more difficult for getStringModule. @kathy-phet do you know if we would maintenance release anything like that?

[2022-10-06 16:37] jonathanolson commented on #143
@samreid is this getting resolved in https://github.com/phetsims/gravity-and-orbits/issues/448?

[2022-10-06 16:40] samreid commented on #645
Should those math symbols be translatable?  Maybe sims should be using `MathSymbolFont` for that?  Or even `MathSymbols`?

[2022-10-06 22:04] zepumph commented on #868
@emily-phet and I discussed this further today, and we agree that it makes the most sense long term to add in a preferences dialog when any preferences occur. This means minor changes to when a preferences dialog is shown, and generally simpler code. I'll implement.

[2022-10-06 22:25] zepumph commented on #868
@jessegreenberg, will you please review this and let me know if there is anything else here?

[2022-10-07 03:16] samreid commented on #143
In https://github.com/phetsims/gravity-and-orbits/issues/448, @zepumph @KatieWoe and I agreed the existing solution is good enough for that release. I'm not sure what else needs to be done for this issue.

[2022-10-07 03:22] samreid commented on #861
I tried a variety of ways to tell TypeScript: "it may or may not have a step function, but if it does, it must have this signature", and it doesn't seem to be possible.  So having empty `step` functions seems a reasonable alternative to me.  OK to close?

[2022-10-07 04:39] pixelzoom commented on #861
I would have thought that this would work:

[code]

But removing (for example) the empty `step` from BeersLawModel result in:

It appears that TModel would need to have 1 required Property for `step?:` to work. For example:

[code]

I can then remove the empty `step` method from BeersLawModel, if I add some like this to BeersLawModel:

[code]

Very strange...  So I'm not sure how to make `TModel.s

[2022-10-07 04:42] pixelzoom commented on #861
The reason I brought this up is that it feels wrong to require an empty method that is called on every frame.  Maybe it's insignificant, maybe it gets optimized out, ... I don't know.

[2022-10-07 04:47] pixelzoom commented on #861
How about defining TModel like this:

[code]

Most TModel subclasses do in fact have a `rest` method, typically called by the ResetAllButton listener.  And in the cases where an empty `reset` needs to be added, I'd much rather add something that is called by a button listener, instead of something that is called by Sim on every frame.

[2022-10-07 04:50] pixelzoom commented on #861
In https://github.com/phetsims/joist/issues/783#issuecomment-1054488070, @zepumph said:

In https://github.com/phetsims/joist/issues/783#issuecomment-1188426857, @samreid replied:

I don't think it needs to be called by joist to be part of the TModel interface. It just needs to be something that TModel typically has.

[2022-10-07 04:54] samreid commented on #861
Good idea!  Taking it one step further, how about making both optional?  It seems to work nicely.  And we have several demos that don't have a reset function (I see 19 type errors if reset is required).

[code]

[2022-10-07 04:57] pixelzoom commented on #861
With:

[code]

If I remove both `step` and `reset` from BeersLawModel (for example), then it errors with:

If both properties are optional, at least one of them needs to be defined in the implementing class. Very weird.

I guess this is OK. But it might be less confusing to just make `reset` required, and add an empty `reset` in the few places where it's needed.

[2022-10-07 04:59] pixelzoom commented on #861
... and if we were willing to add empty `step` methods in many performance critical places, I would think that it would be OK to add empty `reset` methods in a few demo applications.

[2022-10-07 05:16] pixelzoom commented on #861
@samreid said:

Here are the 19 errors:

[code]

Every one of them currently has an empty `step` method.  It seems like an empty `reset` method would be a fine tradeoff.

[2022-10-07 16:24] zepumph commented on #293
Removed the TODO over in https://github.com/phetsims/ratio-and-proportion/issues/509 by moving the pdomVisibility stuff directly into Sim. Closing

[2022-10-07 16:24] #293 closed

[2022-10-07 16:32] zepumph commented on #817
@jessegreenberg and I discussed this today, we understand and can't think of any other loose ends. Closing

[2022-10-07 16:32] #817 closed

[2022-10-07 17:38] #846 closed

[2022-10-07 18:12] samreid commented on #861
Sounds good, I committed TModel as prescribed in https://github.com/phetsims/joist/issues/861#issuecomment-1271104966 and updated usage sites.  Ready for review.

[2022-10-07 18:33] pixelzoom commented on #861
Looks good, thanks for taking the lead on making the changes.

I identified a few more empty `step` methods to delete. See the above commits.

I also added a link to this issue in TModel.ts, in case we need to remember/revisit what has been done.

Closing.

[2022-10-07 18:33] #861 closed

[2022-10-10 17:03] jessegreenberg commented on #858
This was done in the above commits and sims in [perennial/](https://github.com/phetsims/perennial/blob/master/data/interactive-description) now support Interactive Highlights. Only exception are the CCK sims because alt input isn't really supported for those.

- https://github.com/phetsims/chipper/commit/1c3d1a8f73ee3afe88202b79b73c569daba19ba9 made Interactive Highlights enabled by default when `

[2022-10-10 17:12] kathy-phet commented on #858
@pixelzoom - Can you please review the code changes here?
@KatieWoe - When QA has a lull, this would be good to test.
@jessegreenberg - Can you make a QA issue with what to test, and put it in the pipeline? Label it medium-priority. thx.

[2022-10-10 19:03] jessegreenberg commented on #868
Fair enough, sounds good! Above commits look good, I just removed the documentation describing the previous design. Closing.

[2022-10-11 13:01] pixelzoom commented on #858
I can't get to reviewing this for a least a week - I'm on vacation.  This seems like should be high priority to review, since it affects many sims, and PhET is in the process of re-releasing many sims.  So @kathy-phet @jessegreenberg please assign someone else to review the code.

[2022-10-12 12:55] pixelzoom commented on #858
@kathy contacted me via Slack:

So I'll do the review, sometime during the week of October 17.

[2022-10-12 12:59] pixelzoom commented on #858
Requirements are not described in this issue. And (at first glance), there are a lot of commits above.  So to make this review so more smoothly...

@jessegreenberg could you please summarize:

* How should this feature behave from the user's perspective? When is it on, when is it off? Are there are related query parameters, and how do they behave?  (All of this would be good to note in the code, i

[2022-10-13 16:28] zepumph opened #869 "Update localeOrderProperty algorithm"
Over in https://github.com/phetsims/phet-io/issues/1893, the PhET-iO team (KP AR SR MK) decided that it would be better to have the following locale order:

1. selected locale
2. The "shortened" version of the selected, if available.
3. The list specified by the fallbackLocalesProperty
4. en

We will still keep the optimization here: https://github.com/phetsims/joist/blob/897250904e4e1343e219fd8d9

[2022-10-13 17:09] zepumph commented on #869
Tagging @jonathanolson here because he and I came to a different agreement to the algorithm over in https://github.com/phetsims/chipper/issues/1302#issuecomment-1245515050.

@samreid, you will probably want to cherry-pick this for GAO, right?

[2022-10-13 19:56] kathy-phet opened #870 "Preferences Dialog: Needs to respect UI Sound On/Off"
We found in Number Play that the Preferences Dialog plays UI sound and isn't respecting UI Sound On/Off list.

[2022-10-13 20:03] kathy-phet opened #871 "Preferences Dialog: When only audio is some sound, simplify "Sound" text description"
In Number Play meeting, the "Sound" text description seemed to cause some confusion when there was no UI sound or sonification. Perhaps no only hide the toggle, but also simplify the description so its more general for these case, since "Audio" will be in every sim with a preferences dialog now.

[2022-10-14 01:38] samreid commented on #869
https://github.com/phetsims/phet-io/issues/1893 is documented differently than I recall.  I thought we concluded that PhET-iO would not automatically fall back to shortened locales. Is that implemented and I'm not seeing it? Or was that decision overturned?

[2022-10-14 15:04] zepumph commented on #869
That issue documents the decision that was made. We decided not to automatically fall back onto shortened locales from custom fallbacks. Is that maybe what you were thinking of?

[2022-10-14 15:14] samreid commented on #869
Yes, but it seems the implementation is still automatically falling back to the shortened one for the primary requested locale in https://github.com/phetsims/joist/blob/6500242a7ddcf1857f9bafda03fd958d73cfd600/js/i18n/localeOrderProperty.ts#L22-L26, unless I am misunderstanding something.