[2015-06-10 21:30] jbphet commented on #164
@oliver-phet said in the original problem description that some other sims, such as Balancing Act, didn't have this problem, but I just tested the published version of Balancing Act (v1.0.2) and it took 25 seconds, basically the same amount of time as Area Builder.

[2015-06-10 21:31] jonathanolson commented on #164
Just testing, if I press "Allowed blocked content", it loads almost instantly. Adding the MOTW and loading causes it to freeze for ~15 seconds, but then loads instantly every time after to launch it. Testing more.

[2015-06-10 21:36] jonathanolson commented on #164
Confirmed that sims built with this at the top of the template freeze the tab but don't ask for allowing blocked content:
[code]
Every launch after that is fast.

[2015-06-10 22:24] jbphet commented on #164
The MOTW isn't work for me so far.  After manually adding it to the downloaded area-builder_en.html file, I'm still seeing the dialog message about blocked content, and it still takes about 24 seconds to load after pressing the button.

[2015-06-10 22:31] jbphet commented on #164
I changed my IE settings to allow active content to run from files on My Computer, and things have changed, but this didn't really fix the issue.  Sometimes the dialog below appears for a while before the page loads, but the page does load:
![ie-ba-msg](https://cloud.githubusercontent.com/assets/3082831/8095683/738ad1b6-0f8d-11e5-8bfb-b97e99b12058.png)
This seems like an odd message, since this wa

[2015-06-11 18:27] jbphet opened #248 "remove empty step functions"
During 6/11/2015 design meeting we discussed whether empty step functions should be removed, and decided that yes, they should be.  This issue was noticed when working on #164.

[2015-06-11 18:28] samreid commented on #171
At today's meeting, we decided to remove the empty step functions in existing code, and that @samreid would do it.

[2015-06-11 18:44] jbphet commented on #164
I tested a local installation using IE11 and found that the same issue exists when trying to launch sims from within the local PhET mirror.  Not good.

[2015-06-11 18:45] jbphet commented on #164
Discussed during the 6/11/2015 developer meeting, and we decided that we should continue to pursue a solution for this, since it feels quite broken for an HTML sim to take ~25 seconds to load.

[2015-06-11 18:58] samreid commented on #171
OK I removed the empty blocks above.  @pixelzoom anything else to do here?

[2015-06-11 18:59] samreid commented on #248
Oops, I actually committed on this as part of https://github.com/phetsims/joist/issues/171.  Closing this, let's track it over there.

[2015-06-11 18:59] #248 closed

[2015-06-11 20:03] jonathanolson commented on #189
New proposal for updates:

Similar to how Chrome/Firefox display updates, we could have the update only checked and shown in the About dialog. Once the user opens the About dialog, it would check whether the sim is up-to-date. While checking, it could shown a circling progress indicator. There are essentially three possibilities/messages:

1. Couldn't contact the server (no internet).
2. Sim is up

[2015-06-11 21:12] samreid commented on #189
I just wanted to point out that this is how Chrome indicates that an update is available so (a) people may be accustomed to this feature and/or (b) google's UI team concluded this was a good approach.

I also wanted to point out another simplification we can make: all simulations (online/offline/installer/translations) would have the same feature to check for updates--don't try to make special cas

[2015-06-11 21:16] samreid commented on #189
At today's meeting, I also guesstimated that working on this at moderate priority, with a proper code review and our usual user interface polish, it would take around 2 weeks to develop.  Perhaps longer to thoroughly test on our many platforms and address issues that come up.

[2015-06-14 21:47] pixelzoom commented on #171
I think the covers it. Closing.

[2015-06-14 21:47] #171 closed

[2015-06-15 16:17] bryo5363 commented on #137
This issue is no longer present in the most current version of beers law

[2015-06-15 16:17] #137 closed

[2015-06-15 18:16] phet-steele opened #249 "No troubleshooting info on IE11"
During the Full Screen test of molecule shapes, when using IE11 on Win 8.1, there is no troubleshooting info shown on the Report a Problem page.

[2015-06-16 22:27] jonathanolson commented on #249
Sorry, inaccurate tap on phone mid-assigned.

[2015-06-16 22:28] arouinfar commented on #249
No worries!

[2015-06-17 17:27] jonathanolson commented on #189
For the desired behavior, there are essentially four states that we can be in:
1. Up-to-date
2. Out-of-date
3. Checking version (internet request has not yet responded or been processed)
4. Check failed (presumably offline)

When the sim runs, we immediately fire off a check for the version.

Whenever a check completes, we will color the menu bar to a shade of green if we are out-of-date, otherwis

[2015-06-17 17:30] jonathanolson commented on #189
Also a quick note that if we do as described, '1.0.1-dev.1' would be declared out-of-date if '1.0.0' is the latest version. Do we need to do a more advanced comparison?

[2015-06-17 17:38] pixelzoom commented on #189
@jonathanolson asked:

In https://github.com/phetsims/joist/issues/189#issuecomment-69053182, @kathy-phet expressed a strong opinion about not notifying users about translation updates. But as I said in https://github.com/phetsims/joist/issues/189#issuecomment-69064225, what's constitutes an important update is subjective. Whether than unilateral deciding that translation updates are not important

[2015-06-17 17:40] pixelzoom commented on #189
@jonathanolson wrote:

I don't follow. "1.0.1" is clearly more recent than "1.0.0", why would it be declared out-of-date?

[2015-06-17 17:43] samreid commented on #189
@jonathanolson said above:

I think he is trying to make simplifications to make this logic easier.

[2015-06-17 19:02] jonathanolson commented on #189
We can also do major/minor/maintenance checks, and treat suffixes differently.

Any preferences on how suffixes (not used for production versions) would be handled?

[2015-06-17 20:21] kathy-phet commented on #189
Overall this approach is sounding good to me. I like that the check is automatic, and that it tells you the answer.

Question:
If they are in a translated version, would the update URL change or would it always go to english?

If it changes it seems like it would have to have pretty good logic to know if a sim page existed in that language or not. Or it could go to the english page with the transl

[2015-06-17 20:25] jonathanolson commented on #189
Presumably the update URL would be dependent on the locale. I wasn't yet sure if we were directing them to the sim page itself (in which case, the update URL would be dependent on whether there IS a website translation for that locale), or the up-to-date sim itself (which would usually be available for whatever locale launched).

The website could check if it has a translation for that locale. If

[2015-06-17 20:30] orejolaphet opened #250 "No full screen option for IE 10"
I would post the trouble shooting information if there were any. Trouble shooting information is also not displayed, see https://github.com/phetsims/joist/issues/249

[2015-06-17 20:31] orejolaphet commented on #249
No trouble shooting information for IE 10 on Win 7

[2015-06-17 20:33] kathy-phet commented on #189
In terms of where to send the link, it seems like there are some trade offs:
Option 1: Sending them back to the sim page, brings anyone who hasn't been there lately or is accessing the sim from some 3rd party back to the phet website, which could certainly be useful. And download is pretty obvious from there now.
Option 2: Starting up the new sim for them gets them going with the new sim, but they

[2015-06-17 20:38] jonathanolson commented on #189
Yes, it's feasible.

Sounds good to me, although I'd like to think about the best behavior for someone running a sim in locale X (assuming we don't have a website translation for locale X). If they click "New version available" (translated in the sim interface), it would be confusing to be brought to an English page if we don't have 'translations' opened and if we don't do something like highlight

[2015-06-17 20:39] jonathanolson commented on #189
It's also possible to have multiple links/buttons in the About dialog when they are out-of-date, allowing a combination of any of the options.

[2015-06-17 20:48] kathy-phet commented on #189
Your comment made me wonder.

Another option: About menu always has a "Sim Info and Lessons" or "Visit Sim Homepage" or "Visit Sim Webpage" or "Get Sim Lessons" link that brings you to the sim web page , and then have a "Download Update" if it is out of date.

[2015-06-17 20:55] jonathanolson commented on #189
I'm fine with that approach, but I'd recommend primarily letting them know it's out of date, and then also having a way of downloading an update (since they may not be running a downloaded copy, I don't want "Download Update" to be the primary, particularly if they could bookmark the main sim from our website).

Also, do we want to disable the version update/check if running a custom-built togethe

[2015-06-17 21:11] kathy-phet commented on #189
I did not mean to suggest not having your messages. I thought what you laid out was good ... eg a check mark with Sim up to date, etc.

Good point that they may not be running a downloaded copy. Hmm ... then maybe just taking them to the sim page is right thing to do.

I would say that for now at least - yes, we should disable this update feature for together/interoperable versions.

[2015-06-18 04:57] jonathanolson commented on #189
Added prototype version, will show tomorrow for feedback (http://www.colorado.edu/physics/phet/dev/olsonjb/update-tests/).

Currently checking dependencies.json comment on server to retrieve version, but it 404s for sims that haven't been published yet, and there should be better ways.

I also have a temporary URL meant for redirection for out-of-date sims, so that in the future we can control on

[2015-06-18 04:58] jonathanolson commented on #189
It would be helpful for @pixelzoom or @samreid to review my changes if possible.

[2015-06-18 05:23] jonathanolson commented on #249
Added redeploy tag.

It looks like IE11 is capping the URLs to 2083 characters. In some cases, this just cuts off the dependencies part, but here it interrupts the URL in-between two characters of an escape code, resulting in an invalid URI component.

Some quick googling shows this limitation: https://support.microsoft.com/en-us/kb/208427.

The best solution is probably to cut down the verbosity

[2015-06-18 13:43] pixelzoom commented on #249
Won't that also be a problem for Rosetta and together, which both rely on passing large amounts of data via query parameters?

[2015-06-18 14:21] pixelzoom commented on #189
I haven't had a chance to review the implementation yet, but took it for a quick test-drive.

Looks good for published sims, both in requirejs mode and with a build.

For an unpublished sim, I'm not wild about the error message (noted by @jonathanolson above) that occurs at startup and when the About dialog is opened (see below).  Error messages that are not really errors tend to obfuscate real er

[2015-06-18 14:28] pixelzoom commented on #189
Another UI comment...

(3) Do we really need to put "Sim is offline" in the About dialog. Imo, no. But if yes, then maybe put it to right of version number, with a '?' icon and "offline". (Again, don't use "Sim".)

[2015-06-18 14:44] pixelzoom commented on #189
Implementation comments:

(1) `createUpdateNode` was added to AboutDialog. It's a significant chunk of code, and creating it isn't necessarily a responsibility of AboutDialog. Recommended to factor it out into a separate .js file. AboutDialog is presumably going to get refined in the future, and that will be easier if AboutDialog doesn't contain a bunch of code that doesn't need to be there.

(2)

[2015-06-18 14:49] pixelzoom commented on #189
Re (2) immediately above... Perhaps `checkRequired` doesn't need to be public?  Clients could simply call UpdateCheck.check() and it would (internally) decide whether an update check was necessary, or whether to immediately return the previous successful check.

[2015-06-18 14:49] pixelzoom commented on #189
Close accidentally, reopened.

[2015-06-18 15:05] jonathanolson commented on #249
Yes, I also made an agenda item for discussing the restriction. I knew there was a limit for IE, but didn't know it was quite so low.

[2015-06-18 15:31] jonathanolson commented on #189
Sounds great, will do.

I was also wondering about both of those things. And "offline" may be inaccurate, since it also includes "some error", so something more about not being able to check for updates would be appropriate.

Subtle works with Chrome, since it auto-updates. Since sims don't, I could consider making it more noticeable.

I was also on the fence about this, but saw the credits were c

[2015-06-18 15:38] jonathanolson commented on #189
For the 'update-tests' link above, all files in that directory were created by changing/commenting-out code. To reproduce the "checking" locally, you can comment out lines 103-104 of UpdateCheck:
[code]
With it not actually sent, it will show "checking", waiting until it receives a reply.

[2015-06-18 15:38] pixelzoom commented on #189
Yep.

I'm still unclear on why the logic for the test (the `if` expression) can't be encapsulated in an UpdateCheck function. Ie, UpdateCheck can provide a function to test what AboutDialog wants to test, without the messy logic being in AboutDialog.  That doesn't require other client to use that behavior, it just keeps things like string literals from leaking into AboutDialog.

TypeError: undefin

[2015-06-18 15:46] jonathanolson commented on #189
Sorry, published those before making the fix for that. Will have new ones up soon.

[2015-06-18 16:22] bryo5363 opened #251 "No Full Screen option for iFrame"
The iFrame version of Molecule Shapes does not have the option for Full Screen

[2015-06-18 18:53] pixelzoom commented on #189
6/18/15 dev meeting:
• Keep info in About dialog
• If an update is available, add "Get Update..." menu item in PhET menu, which takes you to the PhET website where the update is available

[2015-06-18 18:53] jonathanolson commented on #189
Also: Upper-case the 'w' in "PhET Website" for the PhET Menu.

[2015-06-18 19:00] pixelzoom commented on #189
I did this.

[2015-06-18 20:19] jonathanolson commented on #189
Latest UI:
Up-to-date: http://www.colorado.edu/physics/phet/dev/olsonjb/update-tests/molarity-up-to-date.html
Out-of-date: http://www.colorado.edu/physics/phet/dev/olsonjb/update-tests/molarity-out-of-date.html
Offline/failure to check: http://www.colorado.edu/physics/phet/dev/olsonjb/update-tests/molarity-offline.html
Checking: http://www.colorado.edu/physics/phet/dev/olsonjb/update-tests/molarit

[2015-06-18 21:03] jbphet commented on #225
I've removed renderer specs from build-an-atom and friction and have done basic testing on them (Chrome only so far) to verify that performance is not degraded for either.  I'll count on QA testing to make sure that this still performs well across all platforms for the Summer 2015 Redeploy.

Assigning this to @samreid for john-travoltage and energy-skate-park-basics.

[2015-06-22 15:41] pixelzoom commented on #210
Raising the priority of this because it's languishing.

[2015-06-22 17:08] jonathanolson commented on #210
@aaronsamuel137, @pixelzoom, thoughts on a new name, since chipper 'build-server' is now taken? "automated-test"?

[2015-06-22 17:34] aaronsamuel137 commented on #210
test-server?

[2015-06-22 17:41] pixelzoom commented on #210
When I hear "server", I think of something that runs continuously, not something that is run on demand.

Since this applications builds and fuzz-tests all sims, how about `build-and-fuzz`?  It would also be nice if you could specify a subset of sims to build and fuzz.

[2015-06-22 17:46] jonathanolson commented on #210
I tend to leave it running on my main desktop, and I could imagine leaving it running on a remote server as well.

[2015-06-22 17:51] pixelzoom commented on #210
I see. So build-server.js runs continuously, and refreshing test-sims.html restarts the tests? What happens if there are tests in progress, or if you have test-sims.html open in >1 browser window?

[2015-06-22 17:57] jonathanolson commented on #210
Yes.

I can handle concurrent requests, but doesn't have logic yet to prevent it from trying to build the same sim at the same time from multiple requests.

[2015-06-22 19:21] jonathanolson commented on #249
Tested multiple sims, all working with IE URL limit.

[2015-06-22 19:21] #249 closed

[2015-06-22 19:34] jonathanolson commented on #234
@samreid, is there a specific reason why checking width/height every frame would slow it down?

[2015-06-22 20:39] jonathanolson commented on #234
Ok, not sure how to work around this so far.

Every way I can get the height returns the same amount (704) in the one-tab and buggy multiple-tab layout. Scrollable heights are 0, attempting to scroll to 0,0, skipping scrolling, and scrolling down and back up don't trigger any updates.

I haven't yet found a reliable marker for whether it's in the buggy state yet. Nothing under document/window/docu

[2015-06-22 21:32] pixelzoom commented on #234
Sorry, beyond my comprehension.

[2015-06-22 21:35] samreid commented on #234
I do not know whether checking size runs any code, or just returns a value (that was computed earlier).  May differ from browser to browser.

[2015-06-23 02:09] samreid commented on #210
It keeps cycling through the sims over and over?  If I have a cron job to pull latest master will it auto-update in the test-server browser or do things get cached and have to be hard-reloaded?

[2015-06-23 02:10] samreid commented on #234
Create a minimal reproducible test case and create a StackOverflow issue.

[2015-06-23 02:16] samreid commented on #225
John Travoltage has this code:

[code]

[2015-06-23 02:17] samreid commented on #225
Energy Skate Park: Basics sets the renderer based on whether WebGL is available.

[2015-06-23 05:13] jonathanolson commented on #210
It doesn't cycle, when you load the test HTML, it will just run through all the sims and stop. You also won't want to pull while it's building a sim. It npm-installs and builds, since that's fairly safe (can have checked-out changes to test).

[2015-06-23 06:10] jonathanolson commented on #251
Looks like we're not adding the options in our iframe embedding test pages for this, see https://developer.mozilla.org/en-US/docs/Web/Guide/API/DOM/Using_full_screen_mode#When_a_fullscreen_request_fails

I also don't see those options present on the website.

@ariel-phet, do we want to make our iframe test pages allow fullscreen, and/or do we want to put this in the embedding snippets we give out

[2015-06-23 12:41] pixelzoom commented on #234
... and if you have a minimal reproducible test case, report to Apple.

[2015-06-23 17:33] ariel-phet commented on #241
@pixelzoom - it looks like the scenery issue is complete. This issue seems like a good common code one to address

[2015-06-23 17:36] ariel-phet commented on #163
This issue is basically going to be handled by https://github.com/phetsims/website/issues/224

[2015-06-23 17:40] pixelzoom commented on #241
On my list, along with several other similar i18n issues for common code.

[2015-06-23 17:42] pixelzoom commented on #241
Closed by mistake, reopening.

[2015-06-24 17:09] samreid opened #252 "Add 3rd party licenses into the UI (perhaps somewhere in the about dialog)"
#71 discusses about dialog refinements.  One additional step that could be taken would be to include the 3rd party contribution license texts into a new tab in the about dialog.  We may not be required to do this to meet the letter of the law, but it could still be a good thing to do to be "good citizens".

[2015-06-25 16:14] jonathanolson commented on #234
I'm also curious whether this happens on iOS 9. @arnabp, would you be able to test this on the iOS 9 iPad?

[2015-06-25 17:02] ariel-phet commented on #234
Removing from summer redeploy, looks like we are punting on this issue for now.

[2015-06-25 17:02] jonathanolson commented on #189
Always in PhET Menu, "Check for updates..." - unless interoperable.

Will decide UI at end of meeting?

[2015-06-25 17:03] jonathanolson commented on #234
Still planning on submitting a bug/issue report so hopefully we can figure out a solution ASAP.

[2015-06-25 17:29] jonathanolson commented on #189
"Check for updates..." in PhetMenu, green if out-of-date.

Offline: Same thing as about dialog
Checking: Same thing as About dialog
Up-to-date: <green check> This simulation is up to date. ---- change About dialog to this text also.
Out-of-date:
[code]

Text same size as in About dialog.

[2015-06-25 17:59] arnabp commented on #234
On iOS 9 I am able to replicate this but only in certain situations:

Simply opening up a new tab and navigating back to the sim doesn't cause any cutoff and the sim resizes appropriately. However, if I open a link FROM the sim ("PhET website...", "Report a Problem...", etc.), then navigating back to the sim causes the tab to cover up part of the sim. In addition, iOS 9 has semitransparent tabs, s

[2015-06-25 18:14] pixelzoom commented on #241
6/25/15 dev meeting notes:

Equally divide up space available in the navbar, accounting for spacing. Use that to set the maxWidth for the screen names.

Limit the sim title to some percentage of the navbar width.

[2015-06-25 18:26] pixelzoom opened #253 "AdaptedFromPhETText should be part of navbar"
It's currently added directly to HomeScreenView, so NavigationBar knows nothing about it. This is a problem for handling navbar layout, e.g. https://github.com/phetsims/joist/issues/241.  This should be handled in NavigationBar.

This is a prerequisite to addressing https://github.com/phetsims/joist/issues/241.

[2015-06-25 18:27] pixelzoom opened #254 ""adapter from" should be translatable"
It's currently hardcoded English. See AdapterFromPhETText line 28:

[code]

[2015-06-25 18:37] jbphet commented on #247
Duplicate of #239, closing.

[2015-06-25 18:37] #247 closed

[2015-06-25 18:39] #254 closed

[2015-06-25 18:41] jonathanolson commented on #189
URL redirection proposal, from the code:
[code]

e.g.:
[code]

[2015-06-25 18:42] jonathanolson commented on #189
Note that the server API will probably give the sim the URL to visit, so we could always avoid a redirection? Will discuss.

[2015-06-25 18:59] pixelzoom opened #255 "HomeScreen entries in LookAndFeel?"
HomeScreen currently seems to assume that the background will always be 'black'.  Perhaps that's an OK assumption.  But if that ever changes, we'll need entries for the home screen in LookAndField.

[2015-06-25 19:01] pixelzoom commented on #239
The problem is that the "adapted from" texted is fill with sim.lookAndFeel.navigationBarTextFillProperty, which defaults to 'black' and doesn't have a correct value until a screen is selected and a navbar is created.

The home screen doesn't currently have and properties in the lookAndFeel (perhaps it should, see https://github.com/phetsims/joist/issues/255) and assumes a 'black' background.  So I

[2015-06-25 19:03] pixelzoom commented on #239
Fixed. Assigned to @jbphet to verify.

[2015-06-25 19:04] pixelzoom commented on #239
Fixed. Assigned to @samreid to verify.

[2015-06-25 19:05] pixelzoom commented on #253
AdaptedFromPhETText is indeed added to NavigationBar already.  It's also added to HomeScreenView, since HomeScreenView doesn't have a navbar.  So nothing to do here, closing.

[2015-06-25 19:05] #253 closed

[2015-06-25 19:08] pixelzoom opened #256 "should AdaptedFromText be part of PhetButton?"
AdaptedFromPhETText has this ugly hack for keeping it next to the PhetButton when the browser window is resized:

[code]

...and the exclusive usage is in HomeScreenView:

[code]

Why isn't AdaptedFromPhETText simply a child of PhetButton? (Probably with pickable:false)

Assigning to @samreid for comment, since he designed this.

[2015-06-25 19:10] samreid commented on #239
Code diffs look good, I also checked out the adapted-from-phet branch of the brand repo, and tested in Acid Base Solutions and Gravity and Orbits, and it looked great, nice work, closing.

[2015-06-25 19:10] #239 closed

[2015-06-25 19:12] pixelzoom opened #257 "bad dependency on navigationBarFillProperty in PhetButton"
PhetButton appears on both the home screen and in the nav bar.

It's supertype constructor is called like this:

`JoistButton.call( this, icon, sim.lookAndFeel.navigationBarFillProperty, options );`

Using `navigationBarFillProperty` here is inappropriate for the case where the PhetButton appears on the home screen.

[2015-06-25 19:13] pixelzoom commented on #257
Related to https://github.com/phetsims/joist/issues/256

[2015-06-25 19:14] pixelzoom commented on #256
Making this part of PhetButton would also remove the need for a separate AdaptedFromPhETText type (which is poorly named, because the text is "adapted from", not "adapted from PhET").

[2015-06-25 19:15] pixelzoom commented on #256
This would also simplify nav bar layout, because we wouldn't have to conditionally check for the presence of AdaptedFromPhETText.

[2015-06-25 19:16] pixelzoom commented on #257
Also related to https://github.com/phetsims/joist/issues/188 (remove dependencies on {Sim} sim in numerous constructors).

[2015-06-25 20:36] kathy-phet opened #258 "Add Registered Trademark to Logo on Joist Nav Bar"
We need to add the registered trademark R circle to our logo in the sim.

Three places:
- Loading screen
- Nav Bar
- About dialog text "PhET Interactive Simulations" ... with R-circle small and next to top of the T.

@amanda-phet : Can you mock up something that would be good for the size of loading screen and nav bars. These can possibly be a bit different.

[2015-06-29 15:18] pixelzoom opened #259 "common code for creating screen icons"
There's a bit of code that I've been copying around for making screen icons. You can see the latest incarnation at HookesLawIconFactory.createScreenIcon.  It takes a {Node} icon and puts it on a background rectangle of some specified {Dimension2} size and {Color|string} color.

The code is duplicated in hookes-law and graphing-lines. And I suspect that other developers must be duplicating similar

[2015-06-29 16:25] pixelzoom commented on #259
@jbphet's feedback on Skype:

[6/29/15, 9:22:56 AM] John Blanco: I've definitely created code for the former before, so it sounds like a good idea to generalize it.  I suppose you could always do both and have the latter reference the former, but I haven't had much cause to put icons on backgrounds other than for screens.
[6/29/15, 9:23:40 AM] Chris Malley: thoughts on where such utility functions

[2015-06-29 16:25] pixelzoom commented on #259
I created ScreenIcon, and used it in my sims. I did not create the more general utility function.

Assigning to @jbphet for review.

[2015-06-29 18:17] jbphet commented on #259
For the most part, this looks good.  However, I find the names and documentation for xScaleFactor and yScaleFactor a bit confusing.  It looks like this:
[code]
The names make me think that the values will be used to scale the icon in the x and y directions, but these are actually used to control the maximum amount of the overall width or height that the icon will occupy.  I'd suggest naming these

[2015-06-29 19:01] pixelzoom commented on #259
Options renamed to maxIconWidthProportion and maxIconHeightProportion.
Range documentation changed to (0,1].

Assigning to @jbphet for review.

[2015-06-29 19:03] jbphet commented on #259
Looks good - thanks for doing this.  Closing.

[2015-06-29 19:03] #259 closed

[2015-06-30 14:37] aaronsamuel137 commented on #189
@jonathanolson, I have made an initial simplified API on the website, which I will deploy tonight. Feel free to review https://github.com/phetsims/website/commit/14cc7fafb93ce4a42b6013bb31f8f3e105dc51df.

Right now, the website does not track build date at all. Would you recommend adding a column for this? Which table do you think would be best. Currently, version information is in the project tab

[2015-06-30 14:57] pixelzoom commented on #189
Just wanted to mention that hookes-law is getting close to production release. Will this feature be ready for inclusion in that release? Or do we need a way to disable it?

[2015-06-30 15:33] jonathanolson commented on #189
I'll plan to have it ready by the end of today, but I'm unsure of the testing schedule. @ariel-phet would have a better idea of whether it's realistic. I'll be able to bury it under a query-parameter if you find that helpful for now.

[2015-06-30 16:02] jonathanolson commented on #189
Latest UI: http://www.colorado.edu/physics/phet/dev/olsonjb/update-tests2/

Will have the internal work done soon.

[2015-06-30 16:31] jonathanolson commented on #189
Test requests:

On figaro, using "nc phet.colorado.edu 80" and piping/copy-pasting the following requests for testing:
[code]

Since Molarity is 1.1.0, the following versions should respond for the following:
- 1.0.0 - Out of date
- 1.0.1 - Out of date
- 1.1.0-dev.2 - Out of date
- 1.1.1 - Up to date
- 1.1.0 - Up to date
- 1.2.0-dev.2 - Up to date
- 1.2.0 - Up to date

Note you'll need to change t

[2015-06-30 16:33] jonathanolson commented on #189
Also, if a website translation doesn't exist for some locale, we shouldn't direct to phet.colorado.edu/bad-locale/...

[2015-06-30 16:34] jonathanolson commented on #189
"updateURL" instead of "updateUrl", for the UPDATE_URL_KEY.

[2015-06-30 16:35] jonathanolson commented on #189
Additionally, CORS will need to be responding properly to allow requests. Might need to handle the OPTIONS request directly if we can?

[2015-06-30 16:40] jonathanolson commented on #189
Also, we should use 'buildTimestamp' instead of 'buildDate', sorry!

[2015-06-30 17:22] jonathanolson commented on #189
Actual submitted JSON post-data for implementation:
[code]

[2015-06-30 18:07] aaronsamuel137 commented on #189
I assume you meant to put "buildTimestamp" in your last comment instead of "buildDate"?

[2015-06-30 18:37] jonathanolson commented on #189
Yes, fixed now. Thanks!

[2015-06-30 18:46] jonathanolson commented on #210
Moved to chipper. Anything else to do for this issue?

[2015-06-30 18:53] aaronsamuel137 commented on #189
I've made these changes and tested. I'll deploy tonight. Feel free to review again if you'd like.

[2015-06-30 19:43] jonathanolson commented on #189
Looks good to me, I'll see if I can find any issues tonight. Thanks!

[2015-06-30 21:16] pixelzoom commented on #256
FYI... I renamed AdaptedFromPhETText to AdaptedFromText, since it renders the string "adapted from".

[2015-06-30 21:19] pixelzoom opened #260 "What is the plan for brand-specific translatable strings?"
joist.AdaptedFromText, and therefore the translated "adapted from" string, is included in all sims, regardless of whether they are the "adapted from PhET" brand.  This should be avoided if possible. Only relevant strings should be included.  Investigate moving this to the brand. Perhaps the brand could return a {Node} logo that is used for the PhetButton.

[2015-06-30 21:24] jbphet commented on #152
While reviewing localeInfo.js, I noticed the following comment:

[code]

This begs the question: Why not update to the latest version while we're working on this?  This website shows the list, and it has the newer names: https://www.loc.gov/standards/iso639-2/php/code_list.php.

And, for that matter, why not use the three-letter codes listed in 639-2, if these are that latest and greatest identifi

[2015-06-30 21:40] amanda-phet commented on #258
The sizes used here are comparable to the sizes we decided on for the other logos we worked on.

Navbar (blue):
![screen shot 2015-06-30 at 3 36 29 pm](https://cloud.githubusercontent.com/assets/7852916/8442714/daa55550-1f3d-11e5-911f-6d5e3bbb983b.png)
![screen shot 2015-06-30 at 3 36 40 pm](https://cloud.githubusercontent.com/assets/7852916/8442715/dd3b5f62-1f3d-11e5-8ac3-f7f7fdbe7815.png)

Navba

[2015-06-30 21:49] pixelzoom opened #261 "buggy fullscreen code"
In HomeScreenView:

[code]

There are *so* many things wrong with this.

(1)  This creates a big block of unreachable code: `if ( showFullScreenButton && false )`

(2) PhetButton is instantiated in 2 different ways, depending on whether the fullscreen button is added. Why?

(3) It's questionable whether the if block is even relevant anymore, since a fullscreen button is in the PhET menu.

[2015-06-30 21:54] pixelzoom commented on #258
You're bucking convention by putting the registered trademark symbol (®) at the lower-right of the logo. By convention, it's placed at the upper-right. Eg see http://howconceptual.com/tm-symbol/.

Also wanted to verify... Has PhET obtained a Federal trademark registration certificate? The registered trademark symbol may only be used if you have such a registration certificate. Otherwise use the ™

[2015-06-30 22:01] amanda-phet commented on #258
We looked at a lot of logos, and the most consistent placement was on the right side of the logo-- usually the upper-right, but was often the lower-right as well (see coca-cola, for example).

The logo is in fact registered, and we have been told to start using the symbol. It should be in at least one instance of the logo on any web page. @kathy-phet can confirm this and elaborate on it.

[2015-06-30 22:13] pixelzoom commented on #256
AdaptedFromText is now a decoration handled by PhetButton.  I anticipate that this will need to change again when we address broader branding issues. But at least it's encapsulated in one place now, without kludgy layout code.

Assigning to @samreid to review.

[2015-06-30 22:14] pixelzoom commented on #261
@jonathanolson or @samreid Can you comment on any of the above?

[2015-06-30 22:17] pixelzoom commented on #261
If this code is relevant, why is it short-circuited with `if ( showFullScreenButton && false )` instead of using the 'fullscreen' query parameter that's used elsewhere (e.g., in PhetMen) ?

[2015-06-30 22:20] jonathanolson commented on #261
Pretty sure it is very old and deprecated code that can be removed?

[2015-06-30 22:24] pixelzoom opened #262 "identical itemDescriptors in PhetMenu"
In PhetMenu:

[code]

The only thing different about these 2 entries is `present: isPhETBrand` versus `present: !isPhETBrand`.  So an identical AboutDialog is created regardless of the value of isPhETBrand.  Why is this not equivalent?:

[code]

[2015-06-30 22:25] pixelzoom commented on #262
Ah... Is it the `separatorBefore` field that's significant? If so, wow is this a bad design for item descriptions.

[2015-06-30 22:26] pixelzoom commented on #262
... and why can't we just do:

[code]

[2015-06-30 22:27] pixelzoom commented on #261
So there's no requirement for a separate fullscreen button that appears only on the home screen?

[2015-06-30 22:28] jonathanolson commented on #261
Not that I have been involved in.

[2015-06-30 22:29] jonathanolson commented on #262
We would also want the flexibility to create our own nodes, etc.

[2015-06-30 22:31] pixelzoom commented on #261
@samreid  ?

[2015-06-30 22:36] pixelzoom commented on #261
@jonathanolson and I both suspect that this is cruft that wasn't cleaned up from a previous prototype. I've deleted it.  Assigning to @samreid to verify.

[2015-06-30 23:01] jbphet commented on #152
While reviewing this, I noticed that the way mixed strings (i.e. strings with RTL and LTR portions) are shown when the string file is opened in IntelliJ or MS Word is a bit different from how they appear in the sim.  Screenshots are shown below.  I'm not sure that this matters.  What probably matters most is that the strings appear in the sim the same way that they appear in the translation utilit

[2015-06-30 23:18] pixelzoom commented on #257
Bad dependency removed.  Assigning to @samreid to review.

[2015-06-30 23:49] pixelzoom opened #263 "Navigation bar creates all screen buttons twice"
In NavigationBar:

[code]

NavigationBarScreenButton is a complex node. Is this taking a significant amount of time?

[2015-07-01 00:00] pixelzoom opened #264 "problems with NavigationBarScreenButton API"
In NavigationBarScreen:

[code]

And then in Sim:

[code]

Problems:

(1) A NavigationBarScreenButton should be a type of radio button. It should know about its screen, and a currentScreen Property.  It shouldn't need to know about very screen, as it does in this implementation.

(2) NavigationBarScreenButton takes a screen and converts it to a screen index. Sim converts the screen index back to a

[2015-07-01 00:02] pixelzoom commented on #264
(4) NavigationBarScreenButton exposes this.multilink. Why?  It's not used anywhere. I suspect it was to suppress a jshint error, and a var wouldn't do it.  Why not use Property.multilink instead?

[2015-07-01 00:04] pixelzoom commented on #264
More fun...

[code]

How about putting the correct parameters in the update() function?

[2015-07-01 00:07] pixelzoom commented on #264
Here's one that's fun to read:

`box.opacity = selected.get() ? 1.0 : buttonModel.down ? 0.65 : 0.5;`

[2015-07-01 00:13] pixelzoom commented on #264
Fixed items 3, 4, 5, 6.

[2015-07-01 00:25] pixelzoom opened #265 "browser window title isn't properly internationalized"
In Sim.js:

`$( 'title' ).html( name + ' ' + sim.version + options.textDescription ); //TODO i18n of order`

The order isn't internationalized. Need to add something like this to joist strings file:

`"titlePattern": "{0} {1} {2}"

And perhaps we can get rid of options.textDescription, whose documentation is:

[code]

[2015-07-01 00:31] pixelzoom commented on #265
Assigning to @samreid to verify.  If textDescription is no longer needed, please remove it from Sim.js and joist-strings_en.json.

[2015-07-01 00:37] pixelzoom opened #266 "use visibility annotations"
Joist in general is very difficult to deal with because it doesn't use @private annotations much. And I've found that some things that are instance fields really don't need to be.  Someone should go through joist and do proper documentation.

[2015-07-01 00:39] pixelzoom commented on #208
Sim.js is still at 900 lines.

[2015-07-01 00:41] pixelzoom commented on #241
This has been *really* frustrating. I've had to do major cleanup and deal with things that shouldn't even be related (AdaptedFromText? fullscreen feature? *REALLY?!?!*)

[2015-07-01 16:46] jonathanolson commented on #263
It might, but the alternative looks like we'd have to be able to adjust the button's dimensions after creation to match the largest one?

[2015-07-01 16:50] jonathanolson commented on #152
Remember the editors assume LTR on the outside, so it sees first an LTR chunk "PH" then the rest is RTL. Thus "PH" appears first in the editors, with an embedded RTL segment afterwards.

In the browser, we note this is a translated string (assumes RTL on the outside), so first it sees an embedded LTR chunk (PH), and places it in the RTL order (on the right) before the rest of the non-embedded RTL

[2015-07-01 16:51] pixelzoom commented on #263
Why do should screen icons have different dimensions in the first place? Shouldn't they all be created with one of these 2 sizes?:

[code]

[2015-07-01 17:29] samreid commented on #263
Perhaps the text is part of the button dimension?

[2015-07-01 19:11] jonathanolson commented on #189
Notes:

1. If the locale matches a website translation, we probably shouldn't include the translation-header hash (e.g. for English, prefer http://phet.colorado.edu/en/simulation/molarity over http://phet.colorado.edu/en/simulation/molarity#translations-header).
2. For non-built sims, I'm seeing "{ "error": "JSONObject["buildTimestamp"] not found." }", since buildTimestamp is undefined. I think it

[2015-07-01 19:13] jonathanolson commented on #189
Also, sample request and response for the current behavior (NOTE that browsers will do an OPTIONS request for CORS before making this request):
[code]
[code]

[2015-07-01 22:35] aaronsamuel137 commented on #189
I've made these changes. Will do a deploy tonight.

[2015-07-01 23:33] aaronsamuel137 commented on #189
Deployed. Assigning to @jonathanolson for review.

[2015-07-02 15:41] jonathanolson commented on #189
Build timestamp optionality is working nicely, and I noticed that the stripping of "#translation-header" looks specific to English (http://phet.colorado.edu/es/simulation/molarity#translations-header). For now since we have only English sims, this definitely makes sense, but when we have a Spanish version of Molarity, presumably we wouldn't want to have the translations hash?

[2015-07-02 15:47] jonathanolson commented on #164
Notables from last night:
1. Windows-style "\r\n" is required after the MOTW for IE to parse it.
2. Amount of frozen time seems to be related to the existence of the code, not whether it is run.

[2015-07-02 16:12] jonathanolson commented on #164
Also notable: http://windowssecrets.com/forums/showthread.php/165004-IE-Very-Slow-to-Open-htm-Files-Saved

[2015-07-02 17:23] jbphet commented on #152
In a conversation with @jonathanolson, he suggested that I test changing the renderer to canvas and dom and make sure that the ordering of the strings looks consistent.

[2015-07-02 18:07] jbphet commented on #152
We discussed the question about whether to update to a more recent version of the ISO language codes (originally raised in https://github.com/phetsims/joist/issues/152#issuecomment-117348862) in the 7/2/2015 developer meeting, and decided to leave these codes unchanged for now.  The reasoning is that the codes aren't used outside of PhET, and changing them would require work on the website code an

[2015-07-02 18:40] samreid commented on #210
http://localhost:8080/chipper/tests/test-sims.html no longer works, did the URL change?

[2015-07-02 18:43] samreid commented on #261
It looks like we can additionally delete joist/js/FullScreenButton.js

[2015-07-02 18:45] samreid commented on #261
I'm not too familiar with the rest of the full screen features, but the deletions above look good, closing.

[2015-07-02 18:45] #261 closed

[2015-07-02 18:50] jonathanolson commented on #164
Closed after confirmed testing.

[2015-07-02 18:50] #164 closed

[2015-07-02 18:58] samreid commented on #265
The only Sim.js usage of textDescription was removed in https://github.com/phetsims/forces-and-motion-basics/issues/134, so I'll remove it from Sim.js for now.

[2015-07-02 19:00] jonathanolson commented on #189
(Assigned for review).

[2015-07-02 19:04] samreid commented on #265
I removed textDescription above and reviewed @pixelzoom's titlePattern implementation above.  Everything looks good.  I also tested hooke's-law (requirejs and built version) and did not see any problems.  Closing.

[2015-07-02 19:04] #265 closed

[2015-07-02 19:11] samreid commented on #262
I tested this code:

[code]

and it appeared to have the right behavior for the phet & alternative brandings (note the inverted ! for separatorBefore compared to https://github.com/phetsims/joist/issues/262#issuecomment-117362053

Since it seems logically correct and tested out well, I'll commit shortly.

[2015-07-02 19:13] samreid commented on #262
Factored out above, closing.

[2015-07-02 19:13] #262 closed

[2015-07-02 21:34] amanda-phet commented on #258
@pixelzoom Will you be the one implementing these changes? Kathy would like them done with the summer redeploy. If it is you, I will email the .png logo files to you- one for the navbar and one for the loading screen (which is identical to the website header logo).

As for the text in the about dialog- each typeface handles ® differently. The Arial ® is as large as a lowercase letter, but we just

[2015-07-02 21:58] jonathanolson commented on #210
http://localhost/phet/git/chipper/tests/test-sims.html (my local URL for this computer) is working fine. Can you clarify what "no longer works" means?

[2015-07-02 23:48] pixelzoom commented on #258
@amanda-phet I don't think this work has been assigned yet, @ariel-phet should probably handle assignment, but I'll be happy to do it.

From what I see so far, this looks like we're just updating the PhET logo image file, and the "PhET®" string that appears in the About dialog.  Should we also change "PhET Website" to "PhET® Website" in the PhET menu?

[2015-07-03 05:05] kathy-phet commented on #258
I assigned this to Ariel, to discuss who should make these changes, but as Chris mentioned its primarly just updating the logo files.

@pixelzoom - To confirm Amanda's comment, the PhET name and logo are both registered trademarks now. We only need to put the ® on one instance per page ... so we don't need to have it in the Menu item itself.

[2015-07-03 14:53] pixelzoom commented on #258
I added ® to the 'PhET' string in Brand.js, which is what appears in the About dialog. Here's how it looks:

![screenshot_545](https://cloud.githubusercontent.com/assets/3046552/8501238/e4b2bdce-2160-11e5-808b-3ae7312abe2c.png)

[2015-07-03 17:00] pixelzoom commented on #263
Why would we scale the entire button if the text is longer?

[2015-07-03 17:01] pixelzoom commented on #263
Also related to this in NavigationScreenButton:

[code]

Bad that NavigationScreenButton needs to know that NavigationBar is doing this.

[2015-07-03 17:05] pixelzoom commented on #263
I see what's going on here.  NavigationScreenButton is adding an overlay (transparent) Rectangle, and all the overlays are the same width. The buttons are then put in an HBox, and the end result is that the icons look like they are equally spaced.  This approach makes it difficult to address navbar i18n (https://github.com/phetsims/joist/issues/241).

[2015-07-03 17:09] pixelzoom commented on #263
The vertical highlight bars are also placed around the overlay, not the icon+text.  So if one screen name is exceptionally long, you get something that looks like this (where pointer is over "Systems" icon):

![screenshot_549](https://cloud.githubusercontent.com/assets/3046552/8502914/e44be58c-2173-11e5-865d-4c1b836b22e5.png)

Do we really want highlighting to behave like this? What's wrong with h

[2015-07-03 17:10] pixelzoom commented on #241
This can't be addressed until https://github.com/phetsims/joist/issues/263 is resolved.

[2015-07-03 17:17] pixelzoom commented on #263
Recommendations:

To eliminate the need to create all NavigationScreenButton twice:
• Require all screen icons to be the same size.
• Set NavigationScreenButton size based on icon+text+padding. Do not make them all the same width.

To facilitate i18n of screen button text:
• Make NavigationBar responsible for computing maxWidth for NavigationScreenButton text.
• Make NavigationBar responsible for

[2015-07-03 17:51] pixelzoom commented on #263
I made the changes described above.  Computation of maxWidth for screen button text will be addressed in #241.

Assigning to @samreid for review.

[2015-07-03 18:03] pixelzoom opened #267 "highlight is different for home button vs screen buttons"
Here's the highlight for a screen button in the navigation bar:

![screenshot_553](https://cloud.githubusercontent.com/assets/3046552/8503346/30508f3a-217b-11e5-9484-cd86866bbcb7.png)

Here's the highlight for the home button:

![screenshot_552](https://cloud.githubusercontent.com/assets/3046552/8503349/3ae00700-217b-11e5-94cf-6a8c23c3d78f.png)

Seems like they should be the same.

(NOTE: This and

[2015-07-03 18:06] pixelzoom commented on #267
There's also this bit of code in NavigationBar:

[code]

Why not handle the sizing and positioning of homeButton in the constructor, add it to screenButtonsParent, and be done with it?  As is, the scaling code here is identical to the scaling code for screenButtonsParent.

[2015-07-03 18:24] pixelzoom opened #268 "Home button scaling issues"
The home button in the navbar is currently scaled in 2 places.

In HomeButton:

[code]

In NavigationBar:

[code]

So it's being scaled it down, then scaled up.  Why not just scale it once, based on the navbar height?

[2015-07-03 18:25] pixelzoom commented on #268
Related to #241 (i18n layout of navbar).

[2015-07-03 18:25] pixelzoom commented on #267
Related to #241 (i18n layout of navbar).

[2015-07-03 18:54] ariel-phet commented on #258
@pixelzoom please go ahead and complete this work. @amanda-phet should be able to provide any of the files you need.

[2015-07-06 03:44] pixelzoom commented on #258
@amanda-phet There are 3 logo files that I'll need: logo.png, logo-on-white.png and splash.svg. The current versions of those files can be found here: https://github.com/phetsims/brand/tree/phet/images.  According to the header in splash.svg, it was generated using "Adobe Illustrator 15.0.2, SVG Export Plug-In". I'm not positive, but I think the original .ai files are in https://github.com/phetsim

[2015-07-06 03:47] pixelzoom opened #269 "move assets to brand?"
Discovered while updating the PhET logo files in https://github.com/phetsims/joist/issues/258.

joist/assets contains 3 files:

phet-logo.svg
PhET_Logo_FINAL_RGB_NoTagLine.ai
PhET_Logo_FINAL_RGB_TagLine_White.ai

These are all related to the PhET logo, and logos live in the brand repository. Should these assets be move to brand/assets, in the 'phet' branch of brand?

Assigning to @samreid for comm

[2015-07-06 03:52] pixelzoom commented on #258
I wrote:

As part of #269, I took a closer look at these files. The 3 files are:

PhET_Logo_FINAL_RGB_NoTagLine.ai
PhET_Logo_FINAL_RGB_TagLine_White.ai

You can probably ignore phet-logo.svg.

PhET_Logo_FINAL_RGB_NoTagLine.ai is the PhET logo *without* "Interactive Simulations" below it.

PhET_Logo_FINAL_RGB_TagLine_White.ai is the PhET logo with "Interaction Simulations" below it, and those lette

[2015-07-06 04:48] pixelzoom opened #270 "missing items in the PhET menu"
Sometime very recently the "PhET Website" and "Report a Problem" items disappeared from the PhET menu.  Compare these 2 recent versions of hookes-law:

http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.0.0-dev.22/hookes-law_en.html
http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.0.0-dev.23/hookes-law_en.html

Was this intentional or a bug?

[2015-07-06 04:57] pixelzoom commented on #270
Here's the culprit, line 158 of PhetMenu:

`var isPhETBrand = Brand.name === 'PhET Interactive Simulations';`

... and the missing menu items are added only if isPhetBrand === true.

Issue https://github.com/phetsims/joist/issues/258 requested adding the registered trademark symbol (®) to the string, so Brand.js changed to:

`var phetString = 'PhET<sup>\u00ae</sup> Interactive Simulations';`

...

[2015-07-06 14:40] pixelzoom commented on #258
@amanda-phet Looks like we also need a different set of black-&-white logo files for the "adapted from PhET" brand. You can see the current files here: https://github.com/phetsims/brand/tree/adapted-from-phet/images

[2015-07-06 14:49] pixelzoom commented on #270
I should mention that there is this comment about `var isPhetBrand` in PhetMenu:

`//Note: this string below must stay in sync with the Brand.name or phet features will be dropped`

So an attempt was made to note the dependency. Unfortunately this dependency should have been noted in Brand.js, not here, since there's no way someone changing Brand.js would have known to look for this documentation.

[2015-07-06 14:53] pixelzoom commented on #270
Temporary fix in https://github.com/phetsims/joist/commit/257ceb0ca4f29f328d5997652ec876fdac9324ac, I made a copy of the new Brand.js string.  This is not a longterm solution, but allows us to remove the "Summer 2015 redeploy" label from this issue.

[2015-07-06 15:01] pixelzoom commented on #268
This comment in NavigationBar is also odd:

// see https://github.com/phetsims/joist/issues/127

The home button is visibly *smaller* than the screen icons, because the combined scale value is actually 0.825 (0.75 * 1.1)

Does anyone know the history of this?

[2015-07-06 15:19] pixelzoom opened #271 "how to identify a specific brand?"
This issue is related to both brand and joist, but the logic inconsistencies manifest themselves in joist.

Joist does some tests that add features for the 'phet' and 'adapted-from-phet' brands.

The 'phet' brand tests look like this:

[code]

The 'adapted-from-phet' brand tests look like this:

[code]

Why is joist relying on string comparison in one case, and a brand-specific flag in the other?

[2015-07-06 16:20] pixelzoom commented on #268
Discussed with @jonathanolson. His recollection is that the home button should be a bit larger than the screen icons (which it is), not the "icons and text".  So I check the comment to:

`// Center the home icon vertically and make it a bit larger than icons on screen buttons`

[2015-07-06 16:22] pixelzoom commented on #268
Discussed with @jonathanolson. His recollection is that the home button should be a bit larger than the screen icons (which it is), not the "icons and text". So I changed the comment to:

[code]

[2015-07-06 16:26] pixelzoom commented on #267
This is related to the fact that the home button is scaled differently, see https://github.com/phetsims/joist/issues/268.

[2015-07-06 16:26] pixelzoom commented on #268
Scaling the home button differently is the root cause of #267 (highlight is different for home button vs screen buttons).

[2015-07-06 16:40] samreid commented on #270
Perhaps the brand instance should have the following entries:

brand.showPhETWebsiteButtonInPhETMenu
brand.showReportAProblemInPhETMenu

I'm flexible on what to name them, but you get the idea.  PhETMenu would use their values to decide whether to show the phet website button or the report a problem button.  This would also make it easy for 3rd parties to link back to PhET.

[2015-07-06 16:43] samreid commented on #271
I suggested an alternate approach in #270, let's discuss it.

[2015-07-06 20:37] jbphet commented on #152
Tested using alternative rendering, it all worked fine.  Example Sim was used, and Persian was the language.

[2015-07-06 20:39] jbphet commented on #152
@jonathanolson and I briefly discussed the idea of embedding the Unicode control characters in the strings using rosetta so that no automatic insertion would be needed.  We decided against this, since it would likely make it tricky to edit these files by hand, which is probably going to happen at some point.

[2015-07-06 20:41] jbphet commented on #152
As a result of testing this, some issues were logged on rosetta (the translation utility), please see https://github.com/phetsims/rosetta/issues/27 and https://github.com/phetsims/rosetta/issues/28.  Also, the translation pages for RTL languages are now set up so that the edit boxes "grow" from the right, which is how it should work.

[2015-07-06 20:42] jbphet commented on #152
This all seems to be working well.  Other work on rosetta is being tracked in other issues, so this one will be closed.

[2015-07-06 20:42] #152 closed

[2015-07-06 21:02] pixelzoom commented on #267
Addressed this issue.  Home button icon is the same size as it has been, but the highlight is the same size as the screen buttons.

Assigning to @samreid to review.

[2015-07-06 21:03] pixelzoom commented on #268
All scaling is now handled by HomeButton.  Icon size and position should be unchanged. Assigning to @samreid to review.

[2015-07-06 21:05] pixelzoom commented on #270
I dislike the approach of adding brand-specific flags, i.e. flags that are intended to be true only for 1 specific brand.

[2015-07-06 21:05] pixelzoom commented on #270
Or maybe you're suggesting that someone creating their own brand could choose to add these menu items to their brand?

[2015-07-06 21:06] samreid commented on #270
Sure, let's say that another group wanted to link back to the PhET website in their rebranded sim, for example.

[2015-07-07 18:20] samreid commented on #268
I skimmed each change set above and tested a fresh acid-base solution to see if the home button still looked/behaved properly and did not discover any issues.  Closing.

[2015-07-07 18:20] #268 closed

[2015-07-07 18:24] samreid commented on #269
Moving the assets to phetsims/brand/phet/assets seems like the best place to me, once all brand branches are moved to master.  Not sure why this was flagged for S2015R, can you comment?

[2015-07-07 18:35] samreid commented on #267
This looks much better in the UI, thanks.  I didn't spot any issues when I skimmed the change sets above.

[2015-07-07 18:35] #267 closed

[2015-07-07 18:44] samreid commented on #263
I was concerned that this new requirement may cause some sims to fail the icon size check.  To check, I ran http://localhost:8080/chipper/tests/test-sims.html?loadOnly

I saw this error in several sims:

balancing-act
build-an-atom
color-vision
energy-forms-and-changes
fluid-pressure-and-flow
gene-expression-basics
gravity-and-orbits
reactants-products-and-leftovers

Reassigned to @pixelzoom to di

[2015-07-07 19:00] pixelzoom commented on #263
Imo, those sims all have the same defect and they should be fixed.

[2015-07-07 19:04] pixelzoom commented on #263
Inspecting the issue in reactants-products-and-leftovers, here's what I see when I set a breakpoint in NavigationBar's constructor before the assertion:

[code]

In this sim, the first screen has a navbar-specific icon, while the others are defaulting to the home screen icon.  I would expect that screen.navigationBarIcon would (at this point) be a navbar icon, not a home screen icon.

[2015-07-07 19:10] pixelzoom commented on #263
Here's what I see with balancing-act:

[code]

The icons in this sim are navbar-specific, and they are read from image files.  I see no reason why they should be something other than Screen.NAVBAR_ICON_SIZE = new Dimension2( 147, 100 ).  So for this sim, I believe this is a defect.

[2015-07-07 19:18] pixelzoom commented on #269
Flagged because KP requested that the logos be revised for S2015R, see https://github.com/phetsims/joist/issues/258.  If we're going to update the logos in brand, we might as well put the assets in the correct place.

[2015-07-07 21:22] samreid commented on #256
It seems like things would be significantly simpler if we could just put the "adapted from" text into the logo itself.  However, this would make it non-translateable *or* mean that we have one adapted-from logo per repository.  Can @ariel-phet or @kathy-phet comment on whether it is acceptable to hard code "adapted from" text into English?

[2015-07-07 21:27] samreid commented on #257
Skimming through the change set, it seems like an improvement.  Closing.

[2015-07-07 22:41] samreid commented on #260
I also suggested moving the text to the logo in #256, pending discussion from @ariel-phet and/or @kathy-phet

[2015-07-07 22:43] pixelzoom commented on #260
We discussed this in a recent meeting, and the decision was to translate the text. See https://github.com/phetsims/joist/issues/254.

[2015-07-07 22:45] samreid commented on #264
I previously suggested extending the sun radio button look and feel to accommodate the joist radio buttons, but we decided against it at the time.

[2015-07-07 22:48] pixelzoom commented on #264
As I recall, we decided not to do it because it was a lot of work, not because it was a bad idea.

[2015-07-08 02:42] samreid commented on #210
It seems to be working now, not sure what was wrong before.  @jonathanolson anything else to do here?

[2015-07-08 04:38] jonathanolson commented on #210
I asked you the same question, so I'll go ahead and close it (we can reopen later if necessary).

[2015-07-08 04:38] #210 closed

[2015-07-08 04:48] #257 closed

[2015-07-08 05:07] samreid commented on #256
@pixelzoom said

[2015-07-08 05:08] samreid commented on #264
That is my recollection as well.

[2015-07-08 13:10] samreid commented on #256
In the above commit, I converted link=>linkAttribute and tested that it worked properly in Molecule Shapes when the background color is toggled through the options menu.

[2015-07-08 13:12] samreid commented on #256
I reviewed AdaptedFromPhET and its usages and all looks good, closing.

[2015-07-08 13:12] #256 closed

[2015-07-08 16:12] samreid commented on #271
I think a better strategy would be to include an "id" field in the brand which can be used for determining the brand.  The ID field should match the branch name for phet-supplied brands.  It won't be internationalizable and can be used as a uniform way to handle brand-specific logic for phet-supplied brands.

[2015-07-08 16:27] samreid commented on #270
I think the solution in #271 solves this problem as well.  Thoughts?

[2015-07-08 16:36] samreid commented on #271
I implemented the id strategy described above, reassigning to @pixelzoom for review.

[2015-07-08 16:37] pixelzoom commented on #270
Agree that #271 solved this issue too. Closing.

[2015-07-08 16:37] #270 closed

[2015-07-08 16:47] pixelzoom commented on #271
I inspected changes and ran with the 'phet' brand. Looks great, I like this solutions. Closing.

[2015-07-08 16:47] #271 closed

[2015-07-08 16:52] samreid commented on #263
I finished reviewing the implementation, this is much nicer, thanks.  Shall we leave this issue open until broken sims get their own issues?

[2015-07-08 17:05] pixelzoom commented on #263
Yes, leave open. We need to decide what to do about the broken sims.  I'll add to dev meeting agenda.

My opinion is that they should provide correctly-size icons for home screen and (optionally) navbar.  And if home screen icons are used for navbar, then they should be properly sized when they are attached to Screen.navigationBarIcon.

[2015-07-08 17:47] pixelzoom commented on #241
Problematic to use maxWidth in this context because of the existing layout's reliance on setScaleMagnitude.  So I'll need to totally rewrite the layout.

[2015-07-08 18:20] pixelzoom commented on #269
@samreid Do you know if phet-logo.svg is still relevant? I don't see it used anywhere. I suspect it was replaced by the various images in brand/images/.

[2015-07-08 18:46] pixelzoom opened #272 "NavigationScreenButton doesn't propagate options to supertype"
Yet another issue encountered while working on navbar i18n, https://github.com/phetsims/joist/issues/241.

[2015-07-08 19:02] samreid commented on #269
I believe we were just treating the SVG file as the "original artwork" since it was full resolution vector art.  Not sure if we have an AI file for it now, but we probably should for consistency.

[2015-07-08 19:15] pixelzoom commented on #269
The original artwork is an SVG file? Surely the original artwork was created using Illustrator, no? If not, why not? If so, where is the original .ai file?

And was phet-logo.svg used in the creation of PhET_Logo_FINAL_RGB_NoTagLine.ai and PhET_Logo_FINAL_RGB_TagLine_White.ai?

[2015-07-08 20:29] pixelzoom opened #273 "NavigationBarScreenButton doesn't extend JoistButton"
Other similar buttons (PhetButton, HomeButton) extend JoistButton. NavigationBarScreenButton adds its own highlights, duplicating code that's in JoistButton.

@samreid Is there any reason why this is the case? Something I'm missing?

[2015-07-08 20:31] pixelzoom commented on #272
Reopening. Since options involves a tandem, it deserves a test with an interoperable sim.

[2015-07-08 20:39] pixelzoom commented on #241
Major changes to navbar, using maxWidth to constrain the width text. It was impossible to make this pixel-identical to previous versions, so everyone is advised to take a look at their sims.

Layout is now much better at handling i18n.  There is still one major wart, indicated by this TODO:

[code]

The problem here is that we know how much width should be allocated to each button. So we really ne

[2015-07-08 20:46] pixelzoom commented on #263
To facilitate testing of #241 (navbar i18n layout), and until we've discussed how to proceed, I've temporarily disabled the requirement that all navbar screen icons must have the same size.

[2015-07-08 21:49] samreid commented on #269
@ariel-phet is probably more in-touch with this kind of artwork, though I can always do some archaeology around in my email and find out what I was given originally.

[2015-07-08 21:55] samreid commented on #273
It may be possible to write NavigationBarScreenButton to extend JoistButton.  It may be a good way to factor out some code at the moment, but my hesitation is that NavitaionBarScreenButton is more of a radio button and hence has a different feature set than the other JoistButtons.

[2015-07-08 22:11] samreid commented on #241
To compare before/after, I took screenshots before and after joist 01433450bd949f8f281a6f62643573d23ec00fa7

Acid base solutions before:
![image](https://cloud.githubusercontent.com/assets/679486/8583536/8d89ea84-258b-11e5-9cd3-76a5d3c0fdfc.png)

Acid base solutions after:
![image](https://cloud.githubusercontent.com/assets/679486/8583546/97d57fda-258b-11e5-8354-243cf7f470b2.png)

FAMB before:
![i

[2015-07-08 22:27] pixelzoom commented on #241
@samreid What do you think about using adaptive spacing between the screen buttons, so that the amount of spacing increases as the maxScreenButtonWidth decreases?

[2015-07-08 22:30] samreid commented on #241
An adaptive spacing sounds ok, but we will still have to use an adaptive spacing that doesn't let the "2 small icons" case get *too far* apart, for example.  That is, we don't want a "use all of the available space rule", we will need more complex heuristics.

[2015-07-08 22:33] pixelzoom commented on #241
Understood. But the issue with the icons getting to "cozy" in ABS is that they have very short screen names. If they had longer screen names, the icons would appear to be further apart.  So as maxScreenButtonWidth gets smaller, we would (slightly) increase the spacing between buttons.

[2015-07-08 22:38] pixelzoom commented on #273
So JoistButton is really JoistPushButton?

[2015-07-08 22:40] pixelzoom commented on #273
Indeed it is. JoistButton.js line 43:
`this.buttonModel = new PushButtonModel( options ); // @private`

[2015-07-08 22:43] pixelzoom commented on #241
Another (much easier) option would be to just space the screen buttons out more in general. The current spacing between buttons is (and was) zero.

[2015-07-08 22:44] samreid commented on #241
That sounds great, I'd recommend to try that first.

[2015-07-08 22:51] pixelzoom commented on #241
Push increase to SCREEN_BUTTON_SPACING.

[2015-07-08 22:53] pixelzoom commented on #273
Recommended type hierarchy:

[code]

[2015-07-08 23:40] samreid commented on #273
That seems like a nice intermediate solution, though perhaps a better long term solution would involve moving some of this to sun and/or integrating it with the sun button/radiobutton implementations.

[2015-07-08 23:50] pixelzoom commented on #272
This work required a change that could affect tandem propagation. Can someone tell me how to test an interoperable sim? Or does someone want to do the test?  The test is to run any sim and verify that navbar buttons are sending messages.

[2015-07-08 23:52] samreid commented on #272
@jbphet just reported that navbar events weren’t working anyways, see https://github.com/phetsims/together/issues/99

@jbphet is really best poised to test your changes to navbar tandem, though we could figure it out if he can't get to it in the near future.

[2015-07-08 23:57] pixelzoom commented on #272
[7/8/15, 5:51:07 PM] Sam Reid: @jbphet just reported that navbar events weren’t working anyways, see https://github.com/phetsims/together/issues/99
[7/8/15, 5:51:34 PM] Sam Reid: @jbphet is really best poised to test your changes to navbar tandem
[7/8/15, 5:56:15 PM] Chris Malley: not working prior to my changes?
[7/8/15, 5:56:22 PM] Sam Reid: correct

@jbphet When you get phetsims/together#99 wor

[2015-07-08 23:59] pixelzoom commented on #273
Still seems like a lot of work. I'm going to defer this unless there's no other way that I can finish #241.

[2015-07-09 17:57] amanda-phet commented on #258
We have two versions of the logo with the registered symbol:
1. When the PhET logo is small (such as in the navbar), the ® must be larger in relation to the logo.
2. When the PhET logo is larger (such as the loading page), the ® can be smaller in relation to the logo.

Is PhET_Logo_FINAL_RGB_NoTagLine the logo for the navbar, and PhET_Logo_FINAL_RGB_TagLine the larger logo used on the loading page

[2015-07-09 18:49] pixelzoom commented on #258
@ariel-phet says to also get the "official" .ai file for the PhET logo from @amanda-phet and check it into github.

[2015-07-09 18:56] pixelzoom commented on #269
According @ariel-phet, @amanda-phet has the original .ai for the PhET logo.

[2015-07-09 19:00] pixelzoom commented on #258
@amanda-phet Regarding your questions about the asset files... I'm unclear on the history/use of these, and we're trying to figure that out in https://github.com/phetsims/joist/issues/258.

[2015-07-09 19:07] pixelzoom commented on #163
The "Translation Credits" link in the About dialog needs to be done.

[2015-07-09 19:11] pixelzoom commented on #163
7/9/15 dev meeting, do these tasks ASAP:

• Add "Translation Credits" link to the About dialog. (Note the name difference, not "Translator Credits" as in the mockup above.)
• Put up the associated webpage page.

[2015-07-09 19:22] samreid commented on #251
Since we are relying on iframes for some together.js interoperability, I think embedding in an iframe should support fullscreen *if* our normal sims do.

[2015-07-09 19:23] samreid commented on #246
iPad does not support fullscreen in iOS8, closing.

[2015-07-09 19:23] #246 closed

[2015-07-09 19:25] samreid commented on #251
@jonathanolson can you add the attributes to enable this for iframes?

[2015-07-09 19:25] #101 closed

[2015-07-09 19:27] jbphet commented on #244
After some work on another issue (see https://github.com/phetsims/scenery/issues/434), we learned that iOS 7.0.x had a number of issues with Safari crashing.  Later versions don't appear to have this issue.  We have decided not to try to support iOS 7.0.x or earlier.  Closing.

[2015-07-09 19:27] #244 closed

[2015-07-10 16:02] ariel-phet commented on #260
I think it is correct to have this text translatable.

[2015-07-10 16:05] samreid commented on #260
We have discussed the possibility of adding metadata to the strings to indicate where they are used--@pixelzoom do you want to track this anywhere?  I'm not sure if there is an issue for it or if it is being tracked somewhere, or if it is an appropriate solution for this problem.

[2015-07-10 20:18] pixelzoom commented on #258
@amanda-phet emailed me phet-brand-assets.ai, with this information:

[2015-07-10 20:19] pixelzoom commented on #258
@amanda-phet also sent me revised versions of PhET_Logo_FINAL_RGB_NoTagline.ai and PhET_Logo_FINAL_RGB_Tagline_White.ai.  I replied:

The files that you attached are .ai files. I had mentioned these files in https://github.com/phetsims/joist/issues/258#issuecomment-118707088 in case you needed to modify them to create the image files.  These .ai files appear to be covered by the phet-brand-assets.

[2015-07-10 20:24] pixelzoom commented on #269
brand/assets/phet-brand-assets.ai replaces all of the files in joist/assets, so the contents of joist/assets/ has been deleted.  All assets and image related to the PhET brand now live in the 'phet' branch of the brand repository.

Closing.

[2015-07-10 20:24] #269 closed

[2015-07-10 20:32] pixelzoom commented on #260
I'm going to retitle this issue to "What is the plan for brand-specific translatable strings?"
Brand-specific strings is a general problem.  We currently have translatable strings for PhET-specific brands.  And will 3rd-party brands also want to have translatable strings?

Questions to answer:
1. Should brand-specific strings be translatable?
2. Should brand-specific strings show up in Rosetta onl

[2015-07-10 20:33] pixelzoom commented on #260
Since this issue affects translation, I've labeled it as "Summer 2015 redeploy".

[2015-07-10 20:49] amanda-phet commented on #258
I can export the .pngs from the .ai file I sent you with the following:

2. a mini color version (for all navbars)
3. a mini black version (for adapted navbars)
4. a mini white version (for adapted navbars)

The full-size version (1) is what I imagine you'll use for splash.svg, but logo.png and logo-on-white.png can be consolidated using the mini color version (2). We decided to use the same yello

[2015-07-10 21:01] pixelzoom commented on #258
@amanda-phet ...

Yes. Please export from .ai so that it is has the same dimensions as brand/images/splash.svg.

I'll take your word for it, I was not involved in the decision.  Feel free to send me a single PNG with transparent background and the same dimensions as logo.png.

Thanks.

[2015-07-10 22:15] pixelzoom commented on #258
Updates for the 'phet' brand are done.

Now we need to update the 'adapted-from-phet' brand, as described in https://github.com/phetsims/joist/issues/258#issuecomment-118875729.

[2015-07-10 22:21] pixelzoom commented on #258
Ah… Now we have a big problem.  We previously had logo.png and logo-on-white.png, and logic in joist for which logo to use based on the navbar background color.  In https://github.com/phetsims/joist/issues/258#issuecomment-118875729, @amanda-phet said that the decision was made to consolidate to a single logo.png.  That may work for the ‘phet’ brand, but it doesn’t work for the ‘adapted-from-phet’

[2015-07-10 22:40] pixelzoom commented on #258
I've restored the joist logic for logo.png and logo-on-white.png, and in the 'phet brand logo-on-white.png is an identical copy of logo.png.

I also noticed that 'interoperable' brand has the same logo files as 'phet' brand. @ariel-phet said for now to copy the logos from 'phet' brand to 'interoperable' brand.

Also noticed that any sim using 'master' brand fails at startup if it's navbar is white

[2015-07-10 23:27] jbphet commented on #272
I've tested on an interoperable sim while working on https://github.com/phetsims/together/issues/99, and tandem information appears to be property propagated.  I think it is safe to close this one.

[2015-07-10 23:27] #272 closed

[2015-07-10 23:38] pixelzoom commented on #258
Here are dev versions showing the various revised logo files.

'phet' brand, black navbar:
http://www.colorado.edu/physics/phet/dev/html/scenery-phet/1.0.0-dev.4/scenery-phet_en.html

'phet' brand, white navbar:
http://www.colorado.edu/physics/phet/dev/html/scenery-phet/1.0.0-dev.5/scenery-phet_en.html

'adapted-from-phet', black navbar:
http://www.colorado.edu/physics/phet/dev/html/scenery-phet/1

[2015-07-11 00:16] pixelzoom commented on #258
You can ignore the above dev versions, we're going to start over.

In brand#15 the quality of the logo was flagged. We decided to use mipmapping for the logo in the navbar (PhetButton). This will require adding the mipmap plugin to all config.js files. The image files may already be bigger than needed (273x108), since PhetButton is scaling that by 0.28. @samreid will experiment and provide @ariel-

[2015-07-11 00:23] pixelzoom commented on #258
TODO:

- [ ] Add mipmap plugin to config.js files for all repositories
- [ ] Replace logo.png and logo-on-white.png in 'phet' branch of brand
- [ ] Replace logo.png and logo-on-white.png in 'adapted-from-phet' branch of brand
- [ ] Replace `image!` with `mipmap!` in PhetButton.js
- [ ] Possibly adjust scale of `var phetLabel` on line 77 of PhetButton.js
- [ ] Publish 4 new dev versions, as in http

[2015-07-11 00:25] pixelzoom commented on #258
TODO for @pixelzoom unless otherwise noted:

- [ ] determine optimal size for logo.png and logo-on-white.png (@samreid)
- [ ] create new logo.png and logo-white.png for 'phet' and 'adapted-from-phet' brands (@ariel-phet)
- [ ] Add mipmap plugin to config.js files for all repositories
- [ ] Replace logo.png and logo-on-white.png in 'phet' branch of brand
- [ ] Copy logo.png and logo-on-white.png fr

[2015-07-11 01:28] jessegreenberg commented on #189
##### Review comments for update feature

* SpinningIndicatorNode.js

  * I notice that this.step( 0 ) initializes the colors, but isn't this called by by the sim anyway?  I am unsure if this is necessary.

  * I added the @constructor annotation, see commit above.

  * What are the scaling factors in rectangleFactory and circleFactory?  Were these calculated or empirically determined?

* SimVersi

[2015-07-11 19:22] zepumph commented on #163
There are now two links on the about dialog, one for translation credits, and one for
licensing. Both link to the dev website, where the translation credit page is live. This will need to be changed manually when it is deployed.

[2015-07-13 02:13] samreid opened #274 "Too many license links in the about dialog"
See screenshot:

![image](https://cloud.githubusercontent.com/assets/679486/8641430/63d46f44-28d2-11e5-8242-581f50558b1f.png)

It has "Terms, Privacy and Licensing" as well as "Software Agreement and Licensing".  Why?  Perhaps one of them should be deleted?

[2015-07-13 03:02] pixelzoom commented on #163
@zepumph I don't see your commits referenced in this issue.  It's standard practice to include the issue number in your commit messages, see https://help.github.com/articles/writing-on-github/#references.

You said:

Why does the license link go to the dev website? It was going to a valid URL on the PhET website that was going to be supported by a redirect.

[2015-07-13 03:04] samreid commented on #163
I actually saw 3 links on the about dialog, please see #274

[2015-07-13 03:06] pixelzoom commented on #274
@zepumph Is this related to https://github.com/phetsims/joist/issues/163?

[2015-07-13 14:29] pixelzoom commented on #274
@zepumph A couple of things related to this...

I suspect that you're not running with the 'phet' branch of the brand repository, which is why you didn't see the existing license link. If you run with the 'master' branch of brand, you'll be using the default (empty) brand, which currently has no links field in Brand.js.

And speaking of the "links" field in Brand.js... Notice that the license link

[2015-07-13 14:30] pixelzoom commented on #274
AboutDialog.js line 121 has a console.log that needs to be removed.

[2015-07-13 14:32] pixelzoom commented on #274
AboutDialog.js line 105 has a private static function declared inside the constructor:

`var displayNameToDevName = function(...`

This will cause a copy of this function to be created for every instance of this type. In general, declare private static functions outside of the constructor to conserve memory.

[2015-07-13 14:33] pixelzoom commented on #274
AboutDialog.js line 121 needs to be removed:

`console.log(devName)`

The lack of spacing around parens is another clue that you're probably not using the PhET code style.

[2015-07-13 14:51] pixelzoom commented on #163
[I moved these comments here from #274.]

@zepumph A few of things related to this...

(1) I suspect that you're not running with the 'phet' branch of the brand repository, which is why you didn't see the existing license link. If you run with the 'master' branch of brand, you'll be using the default (empty) brand, which currently has no links field in Brand.js.

(2) Speaking of the "links" field

[2015-07-13 14:51] pixelzoom commented on #274
Moving some comments to #163 that I accidentally put here. Then I'll delete them here.

[2015-07-13 14:55] pixelzoom commented on #163
Recommendations:

1. Revert all changes to joist

2. Move the Translation Credits link to Brand.js for the brands that should have such credits.

3. Remove the '#simname' portion of the Translation Credits URL, so that this link can be handled through the normal "brand links" mechanism in AboutDialog.  Imo, scrolling that URL to a sim-specific place would be nice, but is not essential, and introdu

[2015-07-13 14:59] pixelzoom commented on #163
Looks like these are the joist commits related to this issue:
https://github.com/phetsims/joist/commit/af931a6ebf8f831c1857d485421b0c1240286df3
https://github.com/phetsims/joist/commit/6588ffbe1eb514576c6ef6e414ddcd8bcfaeda47
https://github.com/phetsims/joist/commit/c032e9cc9fbb1b56cea380e07f480e5852d4869f

Where any other repos involved?

[2015-07-13 16:09] samreid commented on #258
Here's my plan:

1. I'm going to track down the logo with the same resolution as before where the (r) is not truncated, possibly one provided last week by @ariel-phet.
2. Test that logo in Firefox on my 39.0 OS X with joist as it is
3. Test the same logo, but with mipmap turned on (make sure to clear cache between tests)

If this doesn't look good enough, I'll experiment with different image sizes

[2015-07-13 16:11] zepumph commented on #274
Yeah this is my bad, I apologize, It will be fixed with commits related to #163.

[2015-07-13 16:29] zepumph commented on #163
Hey there, sorry about not referencing the commits, I usually do. Those were the only three, no other repos involved.

I linked the license to phet-dev because hopefully soon (still waiting on a mock up) we are going to get the new licensing pages up on dev, so then we would see the better version of the licensing structure.

As for the list of items for me, thank you for taking to time to write o

[2015-07-13 16:30] pixelzoom opened #275 "make spacing mutable in HighlightNode"
This would be convenient for adjusting screen button sizes when doing navbar layout, as in #241.

It would also make sense to handle spacing using HBox, instead of the current approach of creating 2 Rectangles as specific locations,

Ie, instead of this:

[code]

do this:

[code]

[2015-07-13 16:34] pixelzoom commented on #163
No problem. And as I said, make sure you get @ariel-phet and other developers to weigh in before implementing my recommendations.

[2015-07-13 16:40] samreid commented on #258
I couldn't see a blue+yellow phet logo so I took the following steps to create one (may not be optimal):

1. resized artboards in the AI file
2. maximize the AI file so it fills the screen
3. screen capture
4. paste to photoshop
5. clear background using magic wand
6. crop appropriately
7. use save to web and set height to 108 px and verify that width is 270px

I noticed that this process created

[2015-07-13 16:46] samreid commented on #258
I exported to PNG directly from AI and it looked much better:

![image](https://cloud.githubusercontent.com/assets/679486/8655127/674fdaa8-294c-11e5-9365-963727a48f38.png)

[2015-07-13 16:52] amanda-phet commented on #258
The .ai file is in google drive. Go to PhET Ai Files > Website > Logos > phet-brand-assets.ai. The artboards are sized at 273x108.

[2015-07-13 16:52] samreid commented on #258
OK, thanks, I'll take a look.

[2015-07-13 16:55] pixelzoom commented on #258
@amanda-phet @ariel-phet Note that phet-brand-assets.ai in GitHub already appears to be stale, as changes are being made to Google Drive without checking them into GitHub.  And this is continuing to result in confusion and wasted developer time.

[2015-07-13 16:56] samreid commented on #258
@amanda-phet should I use logo.png or export from phet-brand-assets.ai to raster?

[2015-07-13 17:00] samreid commented on #258
Using the artwork I sampled manually (since I'm still waiting to hear from @amanda-phet which one to use), the artwork looks a bit jagged in Firefox:

Here's the manually sampled image:
![logo](https://cloud.githubusercontent.com/assets/679486/8655416/30f27c2a-294e-11e5-8df1-bfcdfdaabe16.png)

Here's how it looks in firefox:
![image](https://cloud.githubusercontent.com/assets/679486/8655434/4de940

[2015-07-13 17:00] amanda-phet commented on #258
I was just trying to point @samreid in the direction of an updated file because I saw that he wrote

and the work had already been done.

[2015-07-13 17:01] samreid commented on #258
Thanks, I appreciate it and am not interested in duplicating work unnecessarily.  However, I'm still not sure while file to use, as I asked above:

[2015-07-13 17:02] samreid commented on #258
Also, @amanda-phet I heard someone mention that we were picking a yellow that worked well against black and white, so we wouldn't have different logo for each situation.  Is that true?  Is the appropriate shade of yellow in some of the google drive files?

[2015-07-13 17:04] samreid commented on #258
Sorry, forgot to grunt build after updating to the better raster.  Here's what it looks like in firefox with image!

![image](https://cloud.githubusercontent.com/assets/679486/8655525/f60257b0-294e-11e5-9542-ed6abc83a946.png)

[2015-07-13 17:07] amanda-phet commented on #258
@samreid Use logo.png since it is already exported and resized to 273x108. The yellow that you are using here is the universal yellow. It is documented in the PhET Visual Identity google doc.

[2015-07-13 17:07] samreid commented on #258
Here's what it looks like in firefox after mipmap! plugin:

![image](https://cloud.githubusercontent.com/assets/679486/8655587/57efc192-294f-11e5-8a3a-cea9fcdf5a9c.png)

[2015-07-13 17:10] ariel-phet commented on #258
@samreid - please do a skype call with @amanda-phet to avoid back and forth in the github issue and eliminate any confusion.

[2015-07-13 17:12] samreid commented on #258
@ariel-phet ok will do.

[2015-07-13 17:14] samreid commented on #258
Using the raster from google docs + the requirejs plugin, it looks like this in firefox:

![image](https://cloud.githubusercontent.com/assets/679486/8655732/430a3db0-2950-11e5-978d-c3b87d6a6c2c.png)

[2015-07-13 17:19] pixelzoom commented on #258
@samreid asked:

Separate logo.png and logo-on-white.png files are still necessary.
See https://github.com/phetsims/joist/issues/258#issuecomment-120541167 and https://github.com/phetsims/joist/issues/258#issuecomment-120543577. For the 'phet' and 'interoperable' brands, the 2 files will be identical.

[2015-07-13 19:07] pixelzoom commented on #275
Mutability of spacing was added to LayoutBox in phetsims/scenery#446, and therefore to HighlightNode, since it's a subtype of LayoutBox.  This feature is now used when adjusting the width of highlights in NavigationBarScreenButton, rather than having to create new instances of HighlightNode.

Assigning to @samreid to review.

[2015-07-13 19:09] pixelzoom commented on #241
Mutability was added to spacing of HighlightNode (see #275), and ugly hack for adjusting highlight was removed from NavigationBarScreenButton (see https://github.com/phetsims/joist/commit/c20dc4ef6ec73ec048057097914b60631fc74fda).

[2015-07-13 19:40] pixelzoom commented on #241
Here's an overview of how layout works now:

[code]

I'm at a good point to have someone else look at this.  Any takers?

[2015-07-13 20:14] pixelzoom commented on #241
@jessegreenberg volunteer to have a look, thanks!

• Review the code.
• Compare sims to the website. The navbar layout will not be pixel accurate with published sims, but it's in the same ballpark.
• Test with stringTest=double
• Test with stringTest=X
• Test with stringTest=SomeReallyReallyLongCrazyStringToMakeSureNothingBreaks
• Test with a 1-screen sim (e.g., John Travoltage)
• Test with a 2-sc

[2015-07-13 20:21] samreid commented on #258
OK I followed these steps:

1. Ilustrator: export artboard 2, optimize for art on transparent background
2. resize canvas to 273x108 in photoshop
3. save for web as PNG
4. build hooke's law
5. clear firefox browser cache
6. launch built version:

It looks like this on my OS X firefox (with mipmap) at fullscreen minus chrome and taskbar:

![image](https://cloud.githubusercontent.com/assets/679486/8

[2015-07-13 20:24] pixelzoom commented on #263
Now that navbar layout is more robust (#241), perhaps we can remove the assertion. If screen icons are not the same size, then you'll see that they're not the same size in the navbar.  If they're too wide and there are a large number of screens, the icons may even be scaled down (via maxWidth) to fit the space allocated for each screen button.

[2015-07-13 20:25] samreid commented on #258
This is with a 40px high image, scaled at `0.28*108/40`

![image](https://cloud.githubusercontent.com/assets/679486/8659885/eb0a3f6e-296a-11e5-85c1-fa6e3ee6a24b.png)

[2015-07-13 20:43] pixelzoom commented on #275
@samreid is busy, and this is related to phetsims/scenery#446. So @jonathanolson please review this one too.

[2015-07-13 20:46] samreid commented on #258
Chrome using image (fullscreen-toolbars on non-retina air)
![image](https://cloud.githubusercontent.com/assets/679486/8660277/480048ec-296d-11e5-99ec-5731e357bab3.png)

Chrome using mipmap:
![image](https://cloud.githubusercontent.com/assets/679486/8660334/9cd76882-296d-11e5-9ee9-9f122bed774f.png)

In my opinion, both of these seem OK, so I think it is OK to proceed with the original dimensions 27

[2015-07-13 20:48] pixelzoom opened #276 "problems with layout constants in JoistButton"
[code]

Problems:

(1) These constants are not static, they are being added to the prototype.
(2) Why does a general JoistButton need such constants?
(3) These constants are not used anywhere. (There are similar, static constants in PhetButton.)

[2015-07-13 20:52] pixelzoom commented on #276
These constants were brought over when JoistButton was factored out of PhetButton by @samreid. They inadvertently became non-static in 3a07967 when @samreid deleted prototype functions.

Assigning to @samreid to review.

[2015-07-13 20:53] samreid commented on #258
Please note, the artwork checked in to master has an artboard of 109px tall, so I needed to manually trim the canvas in photoshop to be 108px high (could not quickly find out how to resize an artboard in illustrator).

@amanda-phet do the black or white logos need to be re-edited to match the last version of the color logo we created today? available here: https://github.com/phetsims/brand/blob/ph

[2015-07-13 21:00] pixelzoom opened #277 "PhetMenu doesn't call tandem.addInstance"
PhetMenu passes the tandem to its menu items.  But it never calls tandem.addInstance itself.  So clicking on the PhetMenu doesn't result in a message.

[2015-07-13 21:00] pixelzoom commented on #277
PhetMenu also passes options.tandem to its supertype (Node), which it should not do.

[2015-07-13 21:09] pixelzoom commented on #277
Skype discussion:

[7/13/15, 3:01:28 PM] Chris Malley: SR, should PhetMenu be calling tandem.addInstance, so that there's a message sent when clicking on the button?
[7/13/15, 3:05:16 PM] Sam Reid: let me take a peek
[7/13/15, 3:06:14 PM] Sam Reid: I saw this event:
[7/13/15, 3:06:16 PM] Sam Reid: {
  "messageIndex": 1,
  "eventType": "user",
  "togetherID": "navigationBar.phetButton",
  "componen

[2015-07-13 21:13] pixelzoom commented on #277
I took care of the issue of PhetMenu passing options.tandem to the supertype.

[2015-07-13 21:14] pixelzoom opened #278 "Remove Key Listeners for Joist"
This block of code and associated TODO needs to be tested.

[code]

[2015-07-13 21:20] pixelzoom commented on #278
This code and TODO was added in fae0a34 on 1/12/15 by @samreid with comment "Improved accessibility support for popup dialogs".

[2015-07-13 21:40] pixelzoom commented on #273
I was able to complete #241 without addressing this. So unassigning because this is unlikely to be addressed in the near future, and it's not clear that that I should be the one addressing it.

[2015-07-13 21:52] samreid commented on #258
I checked off two items in https://github.com/phetsims/joist/issues/258#issuecomment-120555603, and reassigning to @pixelzoom.  Chris: please be on the alert for issues--while minimally modified, these logos have not been looked at on many platforms with mipmapping, so please be critical and raise any issues you see.

[2015-07-13 22:01] samreid commented on #64
Well, there are 32 occurrences of TODO under joist/js, so let's reopen this issue for joist.  Address the issues or make them GitHub issues.

[2015-07-13 23:45] zepumph commented on #163
@ariel-phet  we are looking for your thoughts on where to put the translation credit link in the About Dialog of each sim. Chris is thinking it may be good to put it in brand, because we may want it to disappear for certain brands like the adapted from phet. This is along the same lines as issue phetsims/brand#13.

The upside to keeping it in the About dialog is that it is much easier to implement

[2015-07-13 23:53] aaronsamuel137 commented on #163
@ariel-phet - Also please comment on whether or not you think it is acceptable to remove the ```#simname-header``` portion of the url. This is @pixelzoom's recommendation to simplify the code if we do end up putting this link in brand, but it would mean getting rid of the feature where you automatically get scrolled down to the sim you are linking from.

We can also discuss at developer meeting if

[2015-07-13 23:57] zepumph commented on #274
Closing

[2015-07-13 23:57] #274 closed

[2015-07-14 00:02] zepumph commented on #163
When I talked to @pixelzoom this morning he made it seem like there were multiple items that should be talked about in correlation with which brand we should put them in. So it may be good to get more input on this topic at dev-meeting.

[2015-07-14 00:05] ariel-phet commented on #163
dev-meeting it is...I am leaning towards @pixelzoom suggestion.

I agree that scrolling to the sim is not essential. We want to make sure we are giving translators credit, but someone motivated will easily be able to go to the appropriate sim from the link, even if not autoscrolled, so I agree this functionality though nice, is not essential. And if avoiding the functionality makes for cleaner cod

[2015-07-14 00:20] pixelzoom commented on #163
Looks like the 2nd license link was removed in the commits:

https://github.com/phetsims/joist/commit/e2d2a5bf6b61a58e5854cfe489876baac59d93f5
https://github.com/phetsims/joist/commit/d5fabbb670f833bfca351d6c4b01e65b24c7497b
https://github.com/phetsims/joist/commit/3b3b1a4cc2e026bb5aa35317556eb8a8a71845e2

Let's try to get the issue number in commit messages.

[2015-07-14 00:30] pixelzoom commented on #258
Here's a new set of dev versions that demonstrate the revised logo files:

'phet' brand, black navbar:
http://www.colorado.edu/physics/phet/dev/html/scenery-phet/1.0.0-dev.9/scenery-phet_en.html

'phet' brand, white navbar:
http://www.colorado.edu/physics/phet/dev/html/scenery-phet/1.0.0-dev.10/scenery-phet_en.html

'adapted-from-phet', black navbar:
http://www.colorado.edu/physics/phet/dev/html/s

[2015-07-14 00:35] pixelzoom commented on #258
All changes completed.  Remaining tasks:

- [ ] Have someone review the above dev versions to see if the quality is acceptable on all browsers.
- [ ] Determine if there is any appreciable performance or size penalty for requiring the mipmap plugin to be included in every sim.  If there is, decide whether it's worth the quality improvement.

[2015-07-14 02:25] ariel-phet commented on #258
@pixelzoom I reviewed on all windows 7 browsers (IE11, FF, Chrome). All four versions look good. Marked improvement in FF, and the logo looks quite crisp in IE11, and Chrome

[2015-07-14 02:26] ariel-phet commented on #258
And I should say...nice work! I know that turned into a much bigger project, but I am glad our logo now looks so much less aliased.

[2015-07-14 04:21] jonathanolson commented on #275
Joist changes look good.

[2015-07-14 04:21] #275 closed

[2015-07-14 04:53] jonathanolson commented on #251
Looks like the allowfullscreen option is working well in all latest browser versions.https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe noted no support in IE, but that might mean full-screen is supported anyways (works in IE11).

[2015-07-14 04:55] jonathanolson commented on #251
@aaronsamuel137, I'd propose we add this to the embedding snippets in the website (LocalizedSimulation.getDirectEmbeddingSnippet). Thoughts?

[2015-07-14 05:54] jessegreenberg commented on #241
##### Review of i18n layout issue with navigation bar

1. Code Review:

 * In NavigationBar, SCREEN_BUTTON_SPACING

[2015-07-14 07:59] jessegreenberg commented on #241
###### Review of i18n layout issue with navigation bar

1. Code Review

 * In NavigationBar.js ( commit 30940a0 ) SCREEN_BUTTON_SPACING value was increased which prevented acid-base-solutions icons from getting too close together.  Commit cb87049 reset the value to zero so that the navbar icons match published sims, but acid-base-solutions icons are pretty tight again:
![abs_spacing](https://cloud

[2015-07-14 14:52] pixelzoom commented on #258
@amanda-phet and @samreid Please review the dev versions.

Assigning this back to @kathy-phet for approval since she opened the issue.

[2015-07-14 15:12] pixelzoom opened #279 "adjust spacing between buttons in navigation bar?"
In https://github.com/phetsims/joist/issues/241, I made it easy to adjust the spacing between the screen buttons in the navigation bar, as well as the spacing to the left of the home button.  See NavigationBar, constants `SCREEN_BUTTON_SPACING` and `HOME_BUTTON_LEFT_MARGIN`.

If anyone thinks these values need tweaking, feel free to self assign. The work will be in reaching consensus.

[2015-07-14 15:12] pixelzoom commented on #241
@jessegreenberg Thanks for the review.

Responses to above comments...

I set it back to zero because the additional spacing (requested by @samreid) felt too different from what we've had in the past.  If this needs to be tweaked, it's easily done by changing SCREEN_BUTTON_SPACING.  The work will be in reaching consensus. I've created https://github.com/phetsims/joist/issues/279 if anyone wants to

[2015-07-14 15:21] aaronsamuel137 commented on #251
I don't see any reason why we shouldn't do this. I'll add it to the website code.

[2015-07-14 15:24] aaronsamuel137 commented on #251
Added to website code. Assigning to @jonathanolson for review.

[2015-07-14 15:30] amanda-phet commented on #258
I reviewed in Safari, Chrome, and FF. They all look great on my retina macbook:
<img width="438" alt="screen shot 2015-07-14 at 9 29 11 am" src="https://cloud.githubusercontent.com/assets/7852916/8677172/d82f6680-2a0a-11e5-8eb5-73953092d4d6.png">
and external monitor:
![screen shot 2015-07-14 at 9 27 34 am](https://cloud.githubusercontent.com/assets/7852916/8677181/e3d543c4-2a0a-11e5-858b-96bc2400

[2015-07-14 15:37] kathy-phet commented on #258
Looks good to me, too! Thanks for all the work on making this change happen, and look so nice across all the browsers..

[2015-07-14 15:39] kathy-phet commented on #258
Assigning back to Ariel to oversee or assign final checks on Chris' list.

[2015-07-14 15:45] jessegreenberg commented on #241
That makes sense, I was just curious about the reversion.  Thanks for clarifying.

I agree that it looks better, just wanted to make sure the deviation was intentional.

Exactly right.  I adjusted the aspect ratio, and the title text goes to the phet button margin as expected. Thanks!

Good to know that this exists. However, phetsims/forces-and-motion-basics#136 was not caught by stringTest=double

[2015-07-14 15:46] pixelzoom commented on #258
@ariel-phet Here's what's left to do:

Get @samreid's feedback on quality. (Everyone else has given a thumb's up.)

Have someone check that performance hasn't been adversely affected. I don't have time to do this. Recommended to assign to @jonathanolson since he's most familiar with the mipmap plugin.

[2015-07-14 15:53] pixelzoom commented on #241
Thanks @jessegreenberg.  Closing this issue.

[2015-07-14 15:53] #241 closed

[2015-07-14 15:58] jonathanolson commented on #258
Since the logo isn't being moved after the sim is launched, there shouldn't be any runtime performance drawback (it's as if you had used a single resolution that was properly selected yourself, instead of mipmapping).

Is there any other thing that should be reviewed for performance?

[2015-07-14 15:58] pixelzoom commented on #279
If this is going to be addressed, it should be done before redeploys.

Assigning to @ariel-phet to decide whether the current spacing is OK, and whether to pursue this issue. It's not an issue that I'm interested in tackling, but I've made it trivial to adjust the spacing.

[2015-07-14 16:50] pixelzoom commented on #263
7/14/15 dev meeting: Assert that the aspect ratio matches the aspect ratio of either Screen.NAVBAR_ICON_SIZE or Screen.HOME_SCREEN_ICON_SIZE.

[2015-07-14 17:45] jonathanolson commented on #251
Looks good, thanks!

@ariel-phet, should a testing task for checking to make sure this works for all supported browsers be made?

[2015-07-14 18:58] samreid commented on #258
Assigned to myself to give feedback on quality as prescribed above.  Afterwards I'll reassign to @ariel-phet to see if anything else remains for the issue.

[2015-07-14 19:01] jonathanolson commented on #189
I like to have the Node in a consistent graphical state after the constructor, without step() having been called yet. Is needed if someone wants to first display a "paused" indicator, but in general is more about safety and consistency.

Thanks.

Very empirically determined, so that the relative sizes look correct.

Options does seem like an improper name. Mainly I'm hoping to be able to construct

[2015-07-14 19:13] ariel-phet commented on #251
@jonathanolson - yes a testing task would be good. Please create the appropriate task and instructions and assign it to me for assignment/prioritization.

[2015-07-14 19:19] samreid commented on #258
Testing OS X + Chrome Version 43.0.2357.134 (64-bit) on my large external monitor: All 4 tests look great.

Testing on OS X + Firefox 39 on my 11" Macbook Air built-in screen.  The navbar :registered: looks like a broken clock:
![image](https://cloud.githubusercontent.com/assets/679486/8682175/b9e7ed46-2a28-11e5-8975-c60bf84d2b7a.png)

On white it is very faint:
![image](https://cloud.githubuserco

[2015-07-14 19:23] pixelzoom commented on #258
@jonathanolson

I guess the only other thing is deliverable (html file) size. But I can take a stab at that.

Here are a couple of sims, showing size before adding mipmap, after adding mipmap, and the increase:

hookes-law_en.html:
  before: 907733 (1.0.0-dev.24)
  after: 938490 (master)
  increase: 30757

balancing-chemical-equations_en.html
  before: 1070710 (1.1.0-dev.2)
  after: 1098733
  incr

[2015-07-14 19:34] jonathanolson commented on #251
Created https://github.com/phetsims/tasks/issues/286, closing this issue.

[2015-07-14 19:34] #251 closed

[2015-07-14 19:35] ariel-phet commented on #258
@samreid - I think these are acceptable compromises. I think at this point we have done the best we can. The other option would be to increase these size of the R considerably. I do not think that is a reasonable option, and we are following convention when compared to brands such as CocaCola that the presence of the R is often not particularly legible, and in many context looks like a small dot/c

[2015-07-14 19:39] samreid commented on #258
I agree with @ariel-phet's remarks but just wanted to comment on one detail from a previous comment.  @pixelzoom said:

But it looks like @pixelzoom was comparing uncompressed sized and we should be looking at gzipped sizes for download.  So 30K would be an upper bound since these images-as-text may be somewhat compressible.

[2015-07-14 19:41] jonathanolson opened #280 "iOS 9 Safari portrait orientation layout bug"
See https://github.com/phetsims/tasks/issues/269#issuecomment-120164376, notably after rotating to portrait and waiting until the resize, the navbar is too high (https://cloud.githubusercontent.com/assets/5090275/8608277/7ec50e40-2656-11e5-9314-06f1e016060e.PNG)

I'm tentatively marking this as high-priority and summer-redeploy, since it appears like it might be an iOS 9 issue that would affect al

[2015-07-14 19:49] pixelzoom commented on #258
@jonathanolson confirmed that level 0 is equivalent to the size that we were bundling when using the image plugin. So the addition size for the images is actually 10144 bytes.  The rest of the size increase is probably the mipmap plugin itself

Here's a better size comparison. I did 2 builds of hookes-law, with and with mipmap:

with mipmap: 938490
without mipmap: 924787
increase: 13703

So 10144

[2015-07-14 20:01] pixelzoom commented on #258
Forgot about splash.svg. It's size increased from 7057 to 8834 bytes.

[2015-07-14 20:02] pixelzoom commented on #258
Forgot about splash.svg. It's size increased from 7057 to 8834 bytes. But that's not related to mipmap, and it's the same splash.svg used in both of the hookes-law builds above.

[2015-07-14 20:06] pixelzoom commented on #258
Rendering quality has a thumbs up from everyone.
Size increase has been deemed acceptable.

I believe that's everything. Closing.

[2015-07-14 20:06] #258 closed

[2015-07-14 21:01] pixelzoom commented on #263
Assertion added to NavigationBar, requiring navbar screen icons to have the same aspect ratio as either Screen.NAVBAR_ICON_SIZE or Screen.HOME_SCREEN_ICON_SIZE.

The following sims identified in https://github.com/phetsims/joist/issues/263#issuecomment-119299402 still fail this assertion, because their icons have an incorrect aspect ratio:

balancing-act
build-an-atom
color-vision
fluid-pressure-a

[2015-07-14 21:09] pixelzoom commented on #263
I've created issues for all of the sims that are currently failing due to aspect ratio. Other sims will be identified through normal testing with assertions enabled.

Closing.

[2015-07-14 22:58] ariel-phet commented on #279
I think no tweaking is currently necessary. I do think it is good that we now have this flexibility just in case a truly long name feels necessary for a particular sim, or other constraints require such tweaking. Considering these spacings were all tweaked long ago in the initial design of the Nav bar and seem to have been working well, I see no reason to reopen the discussion.

[2015-07-15 01:31] pixelzoom commented on #264
Items 1 & 2 are left. I think these can wait until after S2015R, so unlabeling this issue.

[2015-07-15 13:54] samreid commented on #276
@pixelzoom it looks like your detective-work is all correct, nice work.  Closing.

[2015-07-15 13:54] #276 closed

[2015-07-15 13:58] samreid commented on #277
Let's schedule this for discussion with @jbphet and perhaps others once we are focusing on together.js again.

[2015-07-15 14:02] samreid commented on #278
This doesn't seem like it is working at all in osx+chrome+requirejs.  It was added for previous accessibility prototypes but I can't tell from the above snippet why it is not working--perhaps the phet menu does not receive focus and hence does not receive key input events?  Perhaps this code should be deleted until we can focus more effort on accessibility?  @jonathanolson and possibly @ariel-phet

[2015-07-15 19:06] jonathanolson commented on #278
Accessibility was disabled:
[code]

Also if there is no keyboard focus, it looks like it wouldn't fire anyways. AND keyboard focus would need to be on a that node or a descendant.

[2015-07-15 19:08] samreid commented on #278
@jonathanolson What action do you recommend we take, if any?

[2015-07-15 20:02] jessegreenberg commented on #189
Yes, I can see why it is desirable to construct a SimVersion with
[code]
I prefer renaming Options.  Could we just rename the object to something like version?
[code]

[2015-07-15 20:31] jonathanolson commented on #189
Fixed, anything else remaining to do?

[2015-07-15 20:44] jessegreenberg commented on #189
Nope, it looks very good as far as I am concerned, review is completed.  Reassigning to @jonathanolson to close if he is ready.

[2015-07-15 22:30] jonathanolson opened #281 "Investigate fullscreen in iframe for Safari 6.2"
See https://github.com/phetsims/tasks/issues/286, where OS X 10.8.5 with Safari 6.2 supports fullscreen without iframes, but the iframe tag doesn't seem to apply here. Do we need the webkitfullscreen tag?

[2015-07-15 22:30] jonathanolson commented on #281
@ariel-phet, what's the priority here?

[2015-07-16 00:15] ariel-phet commented on #281
Mediumish...If we are going to be deploying fullscreen as a feature, it seems like this is the last known issue.

[2015-07-16 01:00] #189 closed

[2015-07-16 16:02] jonathanolson commented on #278
Since most other keyboard accessibility is disabled, we should probably leave the escape key for that disabled too. Up to you and @pixelzoom whether the code should be kept.

[2015-07-16 18:24] pixelzoom commented on #240
I messed around with this elsewhere, so I'll investigate.

[2015-07-16 18:25] pixelzoom commented on #260
7/16/15 dev meeting

• remove "Summer 2015 redeploy" label
• investigate moving brand-specific strings and associated logic into brand

[2015-07-16 18:32] zepumph commented on #163
As discussed at 7/16 dev meeting:

Move  the translation credit link into phet brand, sacrificing the #sim-name functionality.

[2015-07-16 18:57] pixelzoom commented on #163
Translation Credits link also need to be in interoperable brand. I added it.

[2015-07-16 19:14] jonathanolson commented on #281
Closing as not important, since for interoperable sims we can not support this platform.

[2015-07-16 19:14] #281 closed

[2015-07-16 19:36] pixelzoom commented on #240
Looks like this was fixed when I made changes in https://github.com/phetsims/joist/issues/256.

Closing.

[2015-07-16 19:36] #240 closed

[2015-07-16 22:07] samreid commented on #278
Let's get rid of it so we can address all accessibility things uniformly when it is time.

[2015-07-17 14:04] samreid commented on #163
In my opinion, it would not be too complex to add a new set of "dynamic" brand links, which is a `function that returns an array of strings` rather than an `array of strings`.  The function would take in sim metadata as an argument (perhaps the Sim instance) and could use it to create custom links.

I'm not advocating doing this *now*, just wanted to brainstorm what it could look like if we decide

[2015-07-17 14:44] samreid commented on #278
There are actually several key listeners in joist that fall into this same category, so I'll retitle the issue to "Remove key listeners from Joist" and hit them all at once.

[2015-07-17 14:46] samreid commented on #278
I've removed them in my working copy, tested that hookes-law + grunt finishes properly and tested running the built version of hookes-law.  Everything seems good so I will commit shortly.

[2015-07-17 14:48] samreid commented on #278
Completed above.  @jonathanolson can you review this and suggest if any other tests or work is necessary?  Would be good to do before Monday's molecule-shapes redeploy.

[2015-07-17 14:56] samreid commented on #279
When I was testing #278 I launched Hooke's Law and the navbar screen buttons seemed very crowded:

![image](https://cloud.githubusercontent.com/assets/679486/8749780/025c69b4-2c61-11e5-9ea5-925645af3d8f.png)

I wanted to make sure @ariel-phet took a close look at this--it wasn't clear from the above comments whether this was intentionally changed, or whether @ariel-phet is aware of the change.  I

[2015-07-17 15:07] ariel-phet commented on #279
@samreid - I was not aware, my recommendation to @pixelzoom was basically to keep whatever we have used in the past as the default spacing.

Can you fix this issue?

[2015-07-17 15:08] samreid commented on #279
Sure, I'll take a look.

[2015-07-17 15:16] samreid commented on #279
By the way, this doesn't look like a problem for the *English* translation of Molecule Shapes, but it could  affect the translations if their text is shorter.  Not sure if I'll get to this before Monday's MS deploy or not.

[2015-07-17 17:30] jonathanolson commented on #278
Looks fine, can't particularly think of other related changes (closing).

[2015-07-17 17:30] #278 closed

[2015-07-18 01:22] samreid commented on #279
When I made the text very small (such as stringTest=x) and left the spacing as 0, the buttons still had some space between them:

![image](https://cloud.githubusercontent.com/assets/679486/8759734/221508b2-2cb9-11e5-9c8a-e31a75ec203c.png)

I think this is because each NavigationBarScreenButton has invisible width where the highlight will appear.  Perhaps solving this problem will be as simple as a

[2015-07-18 15:56] samreid commented on #279
By adjusting SCREEN_BUTTON_SPACING and HOME_BUTTON_LEFT_MARGIN and comparing hookes-law master with hookes-law 1.0.0-dev.21, I determined that a value of 11 for both of these constants matches the previous version.  However, these tests were only in the isolated case of "3 screens with short names" and we should check to see if any of the other combinations are negatively impacted.  It would also

[2015-07-18 21:48] samreid commented on #279
Using 11 for the constants mentioned above pushes the icons further apart than in the published 1.0.0 of Molecule Shapes:

master with 11/11:
![image](https://cloud.githubusercontent.com/assets/679486/8763634/376e6658-2d64-11e5-8341-89f63fa7c114.png)

1.0.0

![image](https://cloud.githubusercontent.com/assets/679486/8763632/280f15fe-2d64-11e5-83ea-4e551e0c6df0.png)

In this case, the latter looks

[2015-07-18 21:50] samreid commented on #279
I think what we actually want to set (and make sure exceeds a minimum) is the spacing between the *icons*, not the buttons (which includes text and highlight padding).

[2015-07-18 22:13] samreid commented on #279
If I add this line of code after the declaration of maxScreenButtonWidth

[code]

It gets pretty close to a good spacing for the "short text" case, and doesn't disrput the larger text case.  Together with `var HOME_BUTTON_LEFT_MARGIN = 8;` this does a pretty good job spacing things and matching previous convention.  The exception is that for the "short text" case, the home button is slightly close

[2015-07-18 22:14] samreid commented on #279
Since @jessegreenberg reviewed #241 it would be good to get his opinion on the workaround proposed in https://github.com/phetsims/joist/issues/279#issuecomment-122601724

Particularly: (a) do you think this will cause complications for any of the other combinations and (b) do you have any other suggestions how to solve this problem?

[2015-07-19 22:07] jessegreenberg commented on #279
During the review of #241, @pixelzoom said that

I think values were set to zero for cases like Molecule Shapes shown above.

After #241, all of the buttons have different widths, but the spacing is still set by the button with the max width so I agree that this is the issue.

[2015-07-19 22:19] jessegreenberg commented on #279
I don't see any issues with the workaround suggested by @samreid, and it was used in NavigationBar before #241.
[code]
The value 50 was used because NavigationBarScreenButton used to have its own horizontal padding.  @pixelzoom removed this workaround in commit 30940a0137f9c40d68ec43b2a4c6deb446838168 because 50 was an undocumented magic number. If we want to match the original layout, I think tha

[2015-07-20 15:16] samreid commented on #279
I implemented the suggestions from the above comment, and tested hookes-law, forces-and-motion-basics and acid-base-solutions.  Everything seemed acceptable, so I'll go ahead and commit it.  Thanks for discussing this with me @jessegreenberg.

[2015-07-20 15:23] samreid commented on #279
I pushed the changes above.  It is a small commit, but can you review it @jessegreenberg just to make sure everything is OK since we have imminent deploys from master coming?

Also, today is Molecule Shapes day, so I decided to test Molecule Shapes and compare the production version to master.  Here is what I saw:

![image](https://cloud.githubusercontent.com/assets/679486/8779440/b80fb6b0-2ec0-11

[2015-07-20 15:31] samreid commented on #279
To determine which (if any) of the above navbar screen icon buttons is centered, I drew a line down the middle of the above image:

![centered](https://cloud.githubusercontent.com/assets/679486/8779688/c78c3d9c-2ec1-11e5-8115-59fedf5c5b9c.png)

Based on the above drawing, it looks like the production version of molecule shapes is centered, and the master version is shifted to the left.  While rela

[2015-07-20 15:32] samreid commented on #279
Reassigned to @jessegreenberg to review as requested in https://github.com/phetsims/joist/issues/279#issuecomment-122915342

[2015-07-20 15:42] samreid opened #282 "Navigation Bar Screen Buttons should be centered horizontally"
Previously the navigation bar screen buttons were centered horizontally. In #241 the navigation bar layout was reimplemented to facilitate internationalization--however the navbar screen icon centering was omitted.  Here is a screenshot of before/after, indicating the center line:

![centered](https://cloud.githubusercontent.com/assets/679486/8779688/c78c3d9c-2ec1-11e5-8115-59fedf5c5b9c.png)

This

[2015-07-20 16:30] jessegreenberg commented on #279
It looks good @samreid, and thanks for adding the clear documentation.  I think that is why it was deleted the first time.  Closing since there is a new ticket for the issue described in https://github.com/phetsims/joist/issues/279#issuecomment-122916990

[2015-07-20 16:30] #279 closed

[2015-07-20 17:16] samreid commented on #282
The layout code has the screen buttons centered in the navbar like so:

[code]

so to diagnose the problem, I added a red tick mark for the center of the navbar, and a green bounds around the screen buttons parent and I observed:

![image](https://cloud.githubusercontent.com/assets/679486/8782136/a5a0c536-2ed0-11e5-9e31-cfb33d852d4d.png)

So it looks like the different screen buttons do not have t

[2015-07-20 17:23] jessegreenberg commented on #282
@samReid I think this is happening because the buttons now have different widths.  The overlays on published navigation bar buttons all used to be as wide as the widest button.  Now each button has a uniquely sized overlay. Illustrated in the following:

master:
![ms_local_bounds](https://cloud.githubusercontent.com/assets/6396244/8782207/25233078-2ed1-11e5-9a46-11327f618e6d.PNG)
published:
![ms_d

[2015-07-20 18:49] jonathanolson opened #283 "Navigation bar layout"
I was under the impression that the navbar layout would be implemented approximately as follows:

First, we calculate the area screen buttons are going to take, and we set the title's maxWidth based on that.
Then during layout we apply a single scale to everything in the navbar besides the background (to match the height of the desired navbar), center the screen buttons and right-align the PhET Me

[2015-07-20 18:50] jonathanolson commented on #282
Worked with @samreid on the above fix, will let him decide whether to close the issue.

[2015-07-20 19:23] samreid commented on #282
I added some comments in the above commit.  Next I'll just double check the overall centering in Photoshop.

[2015-07-20 19:35] samreid commented on #282
I tested molecule shapes snapshot metrics in Photoshop and it looks pixel perfect, thanks @jonathanolson.  Closing.

[2015-07-20 19:35] #282 closed

[2015-07-20 19:40] samreid commented on #225
Since the remaining work is covered by the issues linked above, this main issue can be closed.

[2015-07-20 19:40] #225 closed

[2015-07-23 17:54] kathy-phet commented on #163
We discussed this today at Developer Meeting, and new ideas emerged as to how to structure the Translation Credit url and build to link to the Sim-specific table in a way that is still nice code and maintainable.

I am in favor of this upgrade - as linking just to the translation credit page in general makes it much harder to find the correct translation (a number of scrolls and clicks). If someon

[2015-07-23 18:42] samreid commented on #163
At the developer meeting, @aaronsamuel137 @jbphet @jessegreenberg @zepumph and @oliver-phet and @samreid and @jonathanolson collaborated on this and decided to push the above commits.  We still need to handle the Brand branches.

[2015-07-23 18:50] samreid commented on #163
Finished the branches above.  Reassigning to @jessegreenberg to review everything.

[2015-07-23 19:13] aaronsamuel137 commented on #163
Also the changes made to Brand will require changes to the website. We'll need to redirect ```/translation-credits?simName=area-builder&locale=fr``` to ```/fr/for-translators/translation-credit#area-builder```.

The redirect is useful for 2 reasons:
1. The locale might not exist on the website, so we want to check if it exists before going to a non-existent URL.
2. It will be easier to change the

[2015-07-23 19:38] samreid commented on #163
Thanks to @jessegreenberg for pointing out a casing error in the packageJSON.js filename, I have fixed it above.

[2015-07-24 14:04] samreid commented on #71
I'm going to remove the `licensing` label since we have decided that 3rd party credits will appear as a link from the About Dialog to the website.

[2015-07-24 14:05] samreid commented on #252
We decided to just put a link in the About dialog that says "Third-party credits".  You can track the progress of the link working in this issue: https://github.com/phetsims/website/issues/255  Closing.

[2015-07-24 14:05] #252 closed

[2015-07-25 03:01] samreid commented on #163
@jessegreenberg when your review is complete, please reassign it to @pixelzoom for further review and discussion.

[2015-07-27 15:52] jessegreenberg commented on #163
I consider my review compete.  Code looks good, and I tested all branches with molecule-shapes in both requirejs and built versions.  Reassigning to @pixelzoom for further review.

[2015-08-03 02:29] samreid commented on #175
This will be a big next step for the together.js interoperability feature set.  I'm looking forward to working on it, but have many other things to do first.  Unassigning for now.  Others feel free to work on this if you get here first.

[2015-08-03 03:04] samreid opened #284 "Rename phetLogo to logo"
phetLogo appears in a few places throughout joist.  However, this could be a 3rd party logo, an adapted-from-logo, etc.  We should rename it to be simply logo instead of phetlogo.

[2015-08-03 06:17] samreid commented on #284
Renamed in my working copy and tested by running optics-lab in requirejs mode.  No problem observed.  I'll commit shortly.

[2015-08-03 06:19] samreid commented on #284
Renamed above and also tested that lint is ok (it is).  @pixelzoom @jonathanolson @jessegreenberg @jbphet @aaronsamuel137 this was a small change but I'm wondering if anyone would be kind enough to review it?

[2015-08-03 14:22] pixelzoom commented on #283
Would have been nice to have this input during the weeks that I spent working on this. I know we discussed on the phone, but what you describe above is not what I have in the my notes from our (admittedly confusing) conversation.

@ariel-phet This is currently unassigned. Does it need to be assigned? Does it need to be completed for S2015R?

[2015-08-03 16:11] pixelzoom commented on #284
Visual inspection looks good. Closing.

[2015-08-03 16:11] #284 closed

[2015-08-03 16:22] jonathanolson opened #285 "Chrome/Safari mouse events lost outside iframe"
See https://github.com/phetsims/molecule-shapes/issues/127 for details.

No known fix at this point besides waiting, issue here mainly for tracking, or resolving in the future.

[2015-08-03 18:56] pixelzoom commented on #163
I took it for a test drive. Clicking on the "Translation Credits" link in the About dialog, the URL that's opened in the browser looks correct. (Eg, http://phet.colorado.edu/en/for-translators/translation-credit#acid-base-solutions).

One minor issue: The title on the web page says "Translation Credit", and it should be "Translation Credits" (plural).  I don't know if the web work was handled via

[2015-08-03 22:54] zepumph commented on #163
I just changed the title to translation credits, It will take a bit to show up because of varnish. Were you thinking that the url should also be '/translation-credits#sim , or just the Title? @pixelzoom

[2015-08-03 23:51] pixelzoom commented on #163
I hadn't noticed that the URL was singular, it should be plural also.

[2015-08-04 15:36] aaronsamuel137 commented on #163
Thanks for taking care of this @zepumph. Looks like the url will be updated on the next deploy. I also made the side nav link also say "Translation Credits" instead of "Translation Credit".

Anything else that needs to be done here or can we close?

[2015-08-04 16:20] pixelzoom commented on #163
For consistency, how about renaming TranslationCreditPanel.java to TranslationCreditsPanel.java?

I'm also a little confused... I synced with the latest joist change to get the updated URL, and I'm still being taken to `http://phet.colorado.edu/en/for-translators/translation-credit#hookes-law`.  I would except to see either the new URL or "not found" until the website is next deployed.

[2015-08-04 16:23] zepumph commented on #163
The change is from the website side, and isn't deployed to production yet. The changes are only pushed to master. They are on phet-dev though. If you go to the same URL.

[2015-08-04 16:24] pixelzoom commented on #163
If you want me to test, let me know when the website is redeployed. Or just go ahead and close this.

[2015-08-04 16:27] jbphet commented on #242
The work for the barrier stack portion of this issue is done, and was tracked against issue https://github.com/phetsims/together/issues/99.  The one thing that wasn't done yet is instrumenting the dialog window.  This should be done once work on interoperability resumes.

[2015-08-04 16:28] jbphet commented on #242
I have no plan to work on this for now so I'm going to unassign the issue.  We will reassign once we get back to work on interoperability.

[2015-08-05 01:10] samreid commented on #242
We will need a way to track joist (or other repo) issues for interoperability.  I'll create a label.  Not sure if interoperability or together is a better label.  together is the name of the repo, but interoperability implies tandem as well.  I guess I'll go with interoperability for now.

[2015-08-05 03:33] samreid commented on #238
The text appears on the home screen now, closing.

[2015-08-05 03:33] #238 closed

[2015-08-05 04:54] ariel-phet commented on #283
@pixelzoom - seems like a good topic for developer meeting

[2015-08-05 18:37] pixelzoom commented on #283
Unassigning. Since this is labeled "developer-meeting" it will automatically be reviewed at developer meeting.

[2015-08-06 00:31] aaronsamuel137 commented on #163
Deployed and tested. Closing.

[2015-08-06 18:14] zepumph commented on #283
Discussed 8/6 dev meeting. Now is the time to address this issue. @jonathanolson will tackle this as a high priority, in accordance with his time working with statistics  and working with @pixelzoom.

[2015-08-11 08:33] jonathanolson commented on #283
Assigning for @pixelzoom for review, see the above commit. Let me know if anything should be clarified, or if there are any issues.

[2015-08-11 23:27] pixelzoom commented on #283
Looks great. Closing.

[2015-08-11 23:27] #283 closed

[2015-08-16 17:53] pixelzoom opened #286 "odd name for screenshot file"
Mac OS X 10.10.4 + Chrome latest, but this issue is not OS or browser dependent.

The filename created for a screenshot is of the form `-TITLE- screenshot.png`, where TITLE is the simulation's title. What is the purpose of the hypens surrounding the sim name?

Examples:

http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.3.0-dev.3/beers-law-lab_en.html?screenshot  ->  `-Beer's Law Lab-

[2015-08-16 23:29] jonathanolson commented on #286
Seems like it's mapping "out-of-range" characters (UTF8 embedding marks) to hyphens at the browser level.

I'll look into the best way to handle this (stripping of embedding marks perhaps?)

[2015-08-16 23:33] pixelzoom commented on #286
Ah... You must mean the directional formatting (`<202a>` and `<202c>`) that surrounds the title.

[2015-08-16 23:34] pixelzoom commented on #286
Does the file need to contain the sim name, or would something generic like `screenshot.png` or `phew-screenshot.png` be acceptable?

[2015-08-16 23:37] pixelzoom commented on #286
Looks like escape characters aren't the only problem. Most operating systems have some chars that can't be used in filenames, and there's nothing to prevent those chars from being used in sim titles. For example, on Mac OS X, semicolon can be used in filenames, and "States Of Matter: Basics" screenshots are named `-States of Matter- Basics- screenshot.png`.

[2015-08-16 23:40] samreid commented on #286
What about using the non-internationalized sim name from package.json "name"?  Those are already sanitized and standardized.

[2015-08-17 00:16] pixelzoom commented on #286
I hadn't thought about i18n. Do screenshot filenames need to be internationalized? Does "screenshot" (as it appears in the filename) need to be a translatable joist string (its currently not)?

[2015-08-17 03:54] samreid opened #287 "ScreenView.layout should trigger notifications"
For https://github.com/phetsims/bending-light/issues/162 I would like to receive a callback after ScreenView.layout has been called in order to update other views accordingly.  Listening to scenery `resize` event and screenView `transform` events (as done in RewardNode.js) is insufficient since it does not provide the layout parameters.  I'd recommend to use a Axon Events channel as a property, to

[2015-08-17 03:56] samreid commented on #287
Fixed above, can @jonathanolson or @pixelzoom please review?

[2015-08-17 04:08] samreid commented on #287
I tested lint, grunt and launching hookes law with these changes and did not observe any issues.

[2015-08-17 04:35] jonathanolson commented on #286
Decisions probably pending on more feature design, since it's on hold. Should we disable the ability to add the query parameter flag?

Also, we can just use the internal sim name (states-of-matter-basics) if i18n is problematic here.

[2015-08-17 15:30] pixelzoom commented on #286
Since KP just asked me to publish dev versions with this feature for demoing at a conference, I think not.

[2015-08-17 15:31] pixelzoom commented on #286
There is aready a query parameter, `screenshot`. Is this what you mean?

[2015-08-17 18:07] pixelzoom commented on #287
Change set looks good.

Should RewardNode.js be modified to use this approach? If so, please create an issue.

[2015-08-17 18:11] samreid commented on #287
RewardNode is solving a related but different problem where the RewardNode may appear at any point in the scene graph, and hence it must accommodate arbitrary global to local transforms.  The solution above is for the case where the scene graph topology is known.  Anything else here?

[2015-08-17 18:33] pixelzoom commented on #287
Can you give me a more specific example? So I can understand and apply in the future.

[2015-08-17 19:11] samreid commented on #287
BendingLightView has an immediate child called singleColorLightCanvasNode.  I need to fit the canvas to the visible bounds, so I use:

[code]

One concern I have is that it appears the dx, dy are in stage coordinates and width, height are pixel coordinates.  Hence the scaling in my callback.  If this is indeed true, perhaps we should put them in the same coordinate frame (stage?).

[2015-08-17 19:31] pixelzoom commented on #287
Thanks for the example.

Not sure about the coordinate frame issue, assigning back to @samreid to potentially create an issue. (Might want @jonathanolson feedback on that issue).

Then feel free to close this issue.

[2015-08-17 21:41] jonathanolson commented on #286
I mean, is it a problem that we even provide the query parameter, instead of unconditionally having it disabled?

[2015-08-17 21:54] pixelzoom commented on #286
Since KP asked me to publish some dev versions to demo the screenshots feature at a conference, we need some way to easily enable the feature.  Whether it's OK to publish sims to the PhET website with support for the "screenshot" feature is a question that should probably be directed to @ariel-phet.

[2015-08-17 21:55] pixelzoom commented on #286
KP asked me (yesterday) to publish some dev versions to demo the screenshot feature at a conference, so we need some way to easily enable the feature.  Whether it's OK to publish sims to the PhET website with support for the "screenshot" query param is a question that should probably be directed to @ariel-phet.

[2015-08-18 16:56] pixelzoom commented on #166
In 8/16/15 dev meeting agenda, @ariel-phet asked:

I'll review, to see what still needs to be done.

[2015-08-19 15:29] samreid commented on #287
I decided to change the args width & height to be in stage coordinates but still provide the scale, so that the pixel coordinates can be computed if necessary.  I'll document and commit shortly.

[2015-08-19 15:32] samreid commented on #287
Changed as described above.  I also decided to use JSDoc to document the trigger since I didn't see any other suitable place to document it (even though this is somewhat unconventional for us).  @pixelzoom do you want to take a look?

[2015-08-19 16:20] pixelzoom commented on #287
I'm not totally understanding this issue. As mentioned above, I think it would be best if you have @jonathanolson review.

[2015-08-19 17:44] pixelzoom commented on #250
@ariel-phet This issue was create 2 months ago, and seems to have fallen through the cracks. "Full screen" is a new feature for "Summer 2015 Redeploy".   If it doesn't work on IE10, is that OK?

[2015-08-19 17:48] pixelzoom commented on #250
Looks like this was issue was created during testing of the full-screen feature, but not mentioned as related. See https://github.com/phetsims/tasks/issues/258

[2015-08-19 17:50] pixelzoom commented on #250
"pH Scale" RC testing (https://github.com/phetsims/tasks/issues/322, https://github.com/phetsims/tasks/issues/323) is on hold until this issue is addressed or deferred.

[2015-08-19 17:51] ariel-phet commented on #250
@pixelzoom I will let @jonathanolson comment. I believe this was either fixed, or we detect IE 10 and then just do not show the the option in the menu.

[2015-08-19 17:52] pixelzoom commented on #250
Indeed, https://github.com/phetsims/tasks/issues/258#issuecomment-112153156 says:

Is that OK? We're rolling out a new feature with no support for IE10?

[2015-08-19 17:56] pixelzoom commented on #97
Since "Summer 2015 Redeploy" deals with translation, shouldn't this be addressed?

[2015-08-19 17:57] pixelzoom commented on #95
It's now mid-2014. Perhaps we should revisit?

[2015-08-19 17:58] ariel-phet commented on #250
@pixelzoom - I think so. The full screen option to me is under a bit of a different category. This is sort of a "nicety" so if it can work great. But if not available, I felt that hiding the option was fine. We can certainly discuss more, but I did not see this feature as universally necessary, and not problematic if it was not available.

[2015-08-19 17:59] pixelzoom commented on #250
@ariel-phet Then do you want to close this issue, or defer for later discussion?  And do you want to remove any of the labels?

[2015-08-19 18:01] ariel-phet commented on #250
I am fine closing this issue, unless there are any serious objections. Any serious objections?

[2015-08-19 18:03] pixelzoom commented on #266
PhET policy for visibility annotations has changed, see https://github.com/phetsims/tasks/issues/307. We now need to annotate all parts of an interface with @public, @protected or @private.  And joist is still not in good shape wrt annotations.

[2015-08-19 18:05] pixelzoom commented on #250
Your call. I don't know the specifics of why this feature isn't supportable on IE10, or whether a different implementation would support all platforms.  I just want to know whether to proceed with publishing sims without IE10 support for the "full screen" feature.

[2015-08-19 18:08] ariel-phet commented on #250
Yes proceed. Closing. Feel free to bring up at developer meeting if there might be a better approach to fullscreen for future.

[2015-08-19 18:08] #250 closed

[2015-08-19 18:11] pixelzoom commented on #97
@ariel-phet Is it OK to proceed with RC testing with this issue still open?

[2015-08-19 18:19] ariel-phet commented on #97
@aaronsamuel137 @jonathanolson what would this take? Seems like good logic that if you open up a HTML5 translated sim (once we have it) that the link to the PhET site in the sim should go to the correct locale (if that locale exists for the website).

@pixelzoom fine to continue with the RC testing for the moment. Since we still need to beta test rosetta and flesh out bugs.

[2015-08-19 18:33] pixelzoom commented on #97
The URL for the "PhET Website" menu item is currently:

`http://phet.colorado.edu`

To go to the translated website, the locale needs to be added to the URL, like this:

`http://phet.colorado.edu/ar_SA/`

[2015-08-19 18:34] pixelzoom opened #288 "should "PhET Website" go to the sim page?"
Should the "PhET Website" menu item take you to the sim's page on the website, rather than home page?

Related to #97.

[2015-08-19 18:37] pixelzoom commented on #97
Change PhetMenu line 190 from this:

`var phetWindow = window.open( 'http://phet.colorado.edu', '_blank' );`

to this:

`var phetWindow = window.open( 'http://phet.colorado.edu/' + sim.locale, '_blank' );`

[2015-08-19 18:39] ariel-phet commented on #288
Should go to homepage. That has been our standard. I believe the reason is that if someone is just handed a sim link, they are then encouraged to see we have entire website of resources. Not just a single sim. Closing.

[2015-08-19 18:39] #288 closed

[2015-08-19 18:40] pixelzoom commented on #288
Assuming you want to go to the translated version of the sim page...

Change PhetMenu line 190 from this:

`var phetWindow = window.open( 'http://phet.colorado.edu', '_blank' );`

to this:

[code]

[2015-08-19 18:49] pixelzoom commented on #97
I verified the above proposed fix in requirejs mode:

http://localhost/~cmalley/GitHub/acid-base-solutions/acid-base-solutions_en.html?brand=phet&locale=ar_SA

And in build mode:

% grunt --locales=ar_SA
http://localhost/~cmalley/GitHub/acid-base-solutions/build/acid-base-solutions_ar_SA.html

In both cases, the "PhET Website" menu item goes to http://phet.colorado.edu/ar_SA/.

@ariel-phet Do you

[2015-08-19 18:58] pixelzoom commented on #97
A few problems here:

(1) The website may not have been translated into the locale of the sim.  For example, for acid-base-solutions, there is an 'ar' translation for the sim, but no 'ar' translation of the website. So we get "The requested page could not be found".

(2) Consider the case where a sim has been translated into 'ar_SA', the website has not been been translated into 'ar_SA', but the w

[2015-08-19 18:59] jonathanolson commented on #97
This won't work for translations that don't have a website translation, e.g. Lao (http://phet.colorado.edu/lo/). Please do not put that in common JS code.

If this is desired, it should request something that would be redirected on the server side.

[2015-08-19 19:00] jonathanolson commented on #97
I think that's probably the better option.

Yup.

[2015-08-19 19:01] pixelzoom commented on #97
PhetMenu change described in https://github.com/phetsims/joist/issues/97#issuecomment-132735437 will be deferred until server side support is implemented.

[2015-08-19 19:02] pixelzoom commented on #97
And it sure seems like this should be implemented before republishing translatable sims.

[2015-08-19 19:18] pixelzoom opened #289 "SettingsDialog should extend Dialog"
Factored out of https://github.com/phetsims/joist/issues/166.

SettingsDialog currently extends ScreenView.  It should extend Dialog.

[2015-08-19 19:25] pixelzoom opened #290 "non-modal option of Dialog doesn't work"
Factored out of #166 (create a Dialog base type). I tested the modal option of joist.Dialog, and it doesn't work as expected.

I set `modal: true` on line 108 of AboutDialog.js, ran a sim in requirejs mode, and opened the AboutDialog.  It behaved exactly like a modal dialog.

As described in the requirements for #166, a non-modal dialog allows you to interact with the sim while the dialog is open.

[2015-08-19 19:28] pixelzoom opened #291 "look of close button for Dialogs"
Factored out of #166 (create a Dialog type).

https://github.com/phetsims/joist/issues/166#issuecomment-72100645 says:

![1451eb2c-a7bd-11e4-80ea-8a694a592815](https://cloud.githubusercontent.com/assets/3046552/9366699/081fbc82-4676-11e5-96d8-61e2c99cfa3a.png)

This is a look that (I believe) is used exclusively in sims that @jonathanolson has worked on.

This is a design issue. Assigning to @arie

[2015-08-19 19:38] pixelzoom commented on #166
I created issues (see above) for some of the things that haven't been completed.

A more general issue is that responsibilities have not been implemented as proposed in the requirements. From https://github.com/phetsims/joist/issues/166#issuecomment-57212796:

• creates modal dialogs exclusively
• adds a dialog to the current screen, removes it from the current screen when dismissed
• responsible

[2015-08-19 19:39] pixelzoom commented on #166
Also wondering how the current implementation will handle non-modal dialog, where the user may change screens while one or more dialogs (specific to the current screen) are displayed.

[2015-08-19 19:41] pixelzoom commented on #290
My bad on this one. I was actually testing modal.  Retested with non-modal and it seems to work OK.

[2015-08-19 19:41] #290 closed

[2015-08-19 19:43] pixelzoom opened #292 "non-modal dialog must have close button"
Related to #166.

If a Dialog has `modal: false`, then it had better have `hasCloseButton:true`.  If not, there's no way to close the dialog. Add an assertion to verify this.

[2015-08-19 20:28] pixelzoom opened #293 "problems with non-modal dialogs"
Noted while reviewing #166.

These problem occur in master, as of joist 4c143a8e9037d3d8c97eb2601634d1a0e116a137. They can be demonstrated by running the joist demo application (joist/joist_en.hmtl).  Note that the demo currently contains 2 instances of DialogsDemoView, so that you can test switching between screens.

A non-modal dialog may be global (if created by the PhET menu) or specific to a

[2015-08-19 20:29] pixelzoom commented on #166
I created a joist demo application for testing Dialog, see joist/joist_en.html.  Numerous problems noted with non-modal dialogs, see https://github.com/phetsims/joist/issues/293.

[2015-08-19 20:53] ariel-phet commented on #97
Agreed seems like a high priority, but also seems relatively straightforward to implement...isn't that correct?

[2015-08-19 20:54] pixelzoom commented on #97
No idea about the server side. @aaronsamuel137 or @jonathanolson will have to comment on what's involved there.

[2015-08-19 21:08] ariel-phet commented on #291
Personally, I prefer this style of close button for a dialog (I think it is clean, flat, and modern looking), but I suggest bring it up at a status meeting to see pros/cons get a consensus from both designers and developers as well as KP. Assigning to @pixelzoom to bring up at 8/27/2015 design meeting (if that is OK).

[2015-08-19 21:10] pixelzoom commented on #291
@ariel-phet Assuming that you mean 8/27/15 *dev meeting*... I'll be happy to bring it up. But this is not a developer-only decision.

[2015-08-19 21:14] ariel-phet commented on #291
Sorry I meant status meeting. (multitasking...)

[2015-08-20 00:58] jonathanolson commented on #97
It's probably very similar to previous redirections that have been done.

[2015-08-20 01:07] jonathanolson commented on #166
It doesn't have to be sim, but it has to be something with access to the root node (which Sim has), and probably something global (since the background put up behind needs to be tracked in once place, and it needs to try to "exit" the top dialog if allowable).

And it doesn't necessarily need to be centered, is there a good use-case for non-centered?

[2015-08-20 13:55] pixelzoom commented on #166
Any non-modal dialog. (And any API I've ever worked with that supports dialogs.)

[2015-08-20 16:15] pixelzoom opened #294 "enable Update feature only for 'phet' brand"
Requested by @kathy-phet at 8/20/15 interoperability meeting.

[2015-08-20 17:28] jbphet commented on #95
This was discussed at the 8/20/2015 developer meeting, and @oliver-phet says that we're not receiving many reports from users about HTML5 sims not working.  Perhaps that can be handled just by having a list of supported/tested platforms on the web site, and not need to work this into the sim code.  We'll close this issue and reopen it or create a new one if we begin to get reports that indicate th

[2015-08-20 17:28] #95 closed

[2015-08-20 17:36] pixelzoom commented on #97
Dev meeting consensus:
• First try to fallback to a less-specific (language only) translation
• If that's not available, fallback to English.

[2015-08-20 17:40] jbphet commented on #97
@pixelzoom will add code to joist, @jessegreenberg and @jonathanolson will roll new release candidates for Molecules and Light and Molecule Shapes (respectiviely), and @aaronsamuel137 will implement the redirect/fallback behavior described in previous comment.

[2015-08-20 17:46] pixelzoom commented on #293
Let's put an assertion in for now that bails if `modal:false`, until we can get around to addressing this.

[2015-08-20 17:47] jbphet commented on #166
@pixelzoom has reviewed and has created specific issues for the problems described above.  This was reviewed at the 8/20/2015 dev meeting and we agreed it can be closed.

[2015-08-20 17:47] #166 closed

[2015-08-20 17:47] pixelzoom commented on #293
In https://github.com/phetsims/joist/issues/166#issuecomment-133016415, @jonathanolson asked:

Any non-modal dialog. (And any API I've ever worked with that supports dialogs.)

[2015-08-20 17:48] pixelzoom commented on #293
@jonathanolson will add the assertion,

[2015-08-20 18:35] pixelzoom commented on #291
Workaround for centering: Create the dialog such that it's origin is the center to the rounded rectangle. The use option.x and option.y to position.

[2015-08-20 18:38] pixelzoom commented on #291
Dev meeting notes:

• @samreid would like to see other alternative designs
• @jbphet and I would like us to decide on 1 design, rather than supporting multiple looks
• I don't a preference between this design and red 'X" box.
• @jbphet and @jonathanolson prefer this design

[2015-08-20 18:40] pixelzoom commented on #291
@ariel-phet Dev meeting notes above. Since I really don't have a strong preference how this looks, I'd prefer not to be involved. Please assign to someone else to flesh out the design and implement it.

[2015-08-20 19:24] ariel-phet commented on #291
I will take a look with design team/Dave and settle on a design

[2015-08-24 20:37] ariel-phet commented on #291
A consistent set of icons is being developed for the website, and Dave Underwood suggested we keep a similar look and feel. Below is the icon he likes best

![close_icon](https://cloud.githubusercontent.com/assets/4051174/9451698/60ea9e0e-4a6d-11e5-860c-4eb4298c87a9.png)

[2015-08-24 20:37] ariel-phet commented on #291
@amanda-phet - since you were involved in least squares do you want to comment on placement of this icon in dialog boxes? I agree it would be best to settle on one standard.

[2015-08-24 20:44] pixelzoom commented on #291
A solid-colored circle (in this case, black) will disappear on a background of the same color. Recommend to stroke it with white, as is done in the example shown in https://github.com/phetsims/joist/issues/291#issue-101978830.

[2015-08-24 20:49] amanda-phet commented on #291
I agree with @pixelzoom that a stroke is needed in case the background is black. I like the above design for the x though. I don't have strong design preferences beyond that.

Placement should be in the upper right corner since that is a standard on all website dialog boxes. I think the example from LSR is probably a little too dramatically outside of the rounded rectangle. Maybe something more li

[2015-08-24 21:39] ariel-phet commented on #291
Looking good to me...lets make this the standard.

@pixelzoom - still have an objection to implementing?

[2015-08-24 21:50] pixelzoom commented on #291
I haven't been involved in the implementation of joist.Dialog. My role was to triage #166 and identify sub-issues that hadn't been addressed.

[2015-08-24 21:52] pixelzoom commented on #291
I didn't want to be involved in the design because I didn't have a strong opinion on the options, and I have way too much other work to do. I haven't been involved in the implementation of joist.Dialog. My role was to triage #166 and identify sub-issues that hadn't been addressed. @jonathanolson did the implementation.

[2015-08-25 00:30] ariel-phet commented on #291
@pixelzoom - yes, I knew about the design, just thinking about implementation, thanks for the info. I will make a topic for developer meeting.

[2015-08-25 03:22] samreid commented on #291
My recommendation for implementing this shape: implement the close button shape as a general scenery node, perhaps in scenery-phet, so that it can easily be reused in different contexts as necessary.

[2015-08-25 14:02] ariel-phet commented on #291
From Dave:

[2015-08-25 16:27] jbphet commented on #291
Let's have PhET tackle this in design meeting.  @jonathanolson was the original implementer and would be down with representing the dev team in design meetings.  @ariel-phet - can you put this on the agenda for design meetings until resolved?

[2015-08-25 16:32] ariel-phet commented on #291
Roger

[2015-08-25 18:21] jonathanolson opened #295 "Update check fails with HTTPS/HTTP mismatch in Chrome"
[code]

Should be fixed by using '//phet.colorado.edu' instead of 'http://phet.colorado.edu', so that the browser uses the current protocol.

[2015-08-25 18:23] jonathanolson commented on #295
This is also a bit tricky to test, since spot redirects HTTPS to HTTP (so it can't be used for testing dev/RC releases).

[2015-08-25 18:25] samreid commented on #295
Will this change what happens for file:// ?

[2015-08-25 18:30] jonathanolson commented on #295
I'll check.

[2015-08-25 18:33] jonathanolson commented on #295
file:// still makes an online request for the correct file, but there's another issue running with file://. I'll also verify, running from phet.colorado.edu.

[2015-08-25 18:49] jonathanolson commented on #295
Actually, it wasn't quite working, AND Hewlett's Google Analytics tracker was also failing with the file:// protocol (but not our main google analytics code).

I've fixed both of those above, and tested on file://, http:// and https://. Should be ok, but will add to the developer agenda (are redeployments needed?)

[2015-08-25 18:49] #295 closed

[2015-08-25 21:23] jonathanolson opened #296 "Add additional Google Analytics tracker"
See https://github.com/phetsims/yotta/issues/12 for details. Will include sending data to another tracker conditionally.

[2015-08-27 18:40] pixelzoom commented on #295
molecule-and-light needs to pick this up, @jbphet will handle.

ph-scale and ph-scale-basics already picked this up for 1.2.0-rc.1.

[2015-08-28 17:52] jonathanolson commented on #296
Updated trackers and tested.

[2015-08-28 17:52] #296 closed

[2015-08-31 19:20] pixelzoom opened #297 "add visibility annotations"
Add a @public, @protected or @private annotation to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-09-01 21:43] pixelzoom commented on #188
No plans to work on this in the near future, so unassigning for now.

[2015-09-01 21:43] pixelzoom commented on #188
No plans to work on this in the near future, so unassigning for now.

[2015-09-01 21:43] pixelzoom commented on #222
No plans to work on this in the near future, so unassigning for now.

[2015-09-03 01:32] samreid commented on #291
Brainstorming, here's one way to keep the button inside the dialog and integrate it with the dialog shape:

![image](https://cloud.githubusercontent.com/assets/679486/9648758/40a5c6a8-51a9-11e5-829c-f8c5f6274da0.png)

[2015-09-03 17:30] emily-phet commented on #291
Just a thought, after discussions about keyboard navigation, you might want to also consider options for what the "x" looks like when focused on.

[2015-09-03 17:51] aaronsamuel137 commented on #260
Rosetta currently works by taking the strings currently in the source code of the sim from the published version. Therefore, adapted-from-phet brand strings will not show up. We discussed in 9/3 dev meeting that the current behavior is probably fine.

@jbphet, please feel free to fill in any details I missed.

Assigning to @pixelzoom for comment.

[2015-09-03 18:13] samreid commented on #68
We noticed that the simulations at http://connexions.github.io/simulations/ have a nice animated splash screen.  We should look into how they did it and if we can do something similar.

[2015-09-03 18:59] samreid commented on #68
The connexions splash has unreliable behavior on the iPad3.  Sometimes it animates, sometimes it is blank, sometimes the beaker appears with no bubbles, etc.

@jakies pointed out the code that renders it is in CSS and located here:
https://github.com/Connexions/simulations/blob/master/common/app/app.less

[2015-09-03 20:58] samreid opened #298 "Implement setChildren/setVisible using Node.setExcludesInvisible"
We currently have custom logic to handle setChildren/setVisible for screens in Joist.  But this can be replaced by new scenery feature Node.setExcludesInvisible.  Marked for developer-meeting to prioritize.

[2015-09-03 21:23] amanda-phet commented on #291
smaller circle, black circle with white rounded x, sticking outside of rounded rectangle, roughly 2/3 of the circle is "inside" the rectangle.

Focus could be a rectangle, or circle, or the circle could change color.

OR

x will be *inside* the dialog box, no circle, title will wrap around so as not to interfere with the x, if there is no title then the context will be pushed down below the x.

[2015-09-03 21:23] samreid commented on #291
We discussed many things today.  One item I thought was clean and simple would be like this screenshot:

![save](https://cloud.githubusercontent.com/assets/679486/9671368/a41a7d5e-524f-11e5-8e82-75dd3a49d6d5.png)

It got an upvote from @jbphet and @kathy-phet said she was fine with it.

There were also other suggestions from others and I was unclear whether there was any consensus.

[2015-09-03 23:57] pixelzoom commented on #298
If anyone else is looking for this... It's `Node.setExcludeInvisible` (singular).

[2015-09-04 16:50] pixelzoom opened #299 "navigation bar fails i18n layout test"
This occurs with the "adapted from PhET" brand (the default).

Example:
http://localhost/~cmalley/Github/hookes-law/hookes-law_en.html?dev&stringTest=SomeVeryLongStringThatMayCauseProblems

![screenshot_594](https://cloud.githubusercontent.com/assets/3046552/9689292/542a8746-52f2-11e5-8215-3e53f61057a0.png)

Assigning to @jonathanolson, since he most recently worked on navbar layout in https://git

[2015-09-04 16:58] pixelzoom commented on #299
@jonathanolson Also note that the screen icons in the navbar are appearing in the reverse order in the above screenshot!

[2015-09-04 20:06] pixelzoom commented on #260
On 7/7/15, the consensus was that the strings needed to be translated, see https://github.com/phetsims/joist/issues/260#issuecomment-119365110.

9/4/15 comment (https://github.com/phetsims/joist/issues/260#issuecomment-137527013) now indicates that it's OK that Rosetta won't support brand-specific strings.

Can someone please explain how we went for "must to translate" to "OK that we won't be able

[2015-09-04 20:35] ariel-phet commented on #260
@pixelzoom after discussion yesterday it did not seem like there would be a use case with our published sims whereby these strings would be appropriate to translate.

For instance, the string "adapted from" will not appear in the published sim. If someone pulls our code and wants to publish an adapted from version, they would not be using the translation utility to make a translation.

It seems su

[2015-09-04 20:49] pixelzoom commented on #260
brand-specific strings are not translatable, via Rosetta or otherwise (unless you include hacking the html file). i18n enables localization (string translation). There is no i18n of brand-specific code; strings are currently hard-coded English, not factored out into (e.g.) a strings.json file.

[2015-09-04 21:01] ariel-phet commented on #260
Ah...that was not clear to me...well those strings should be i18n. Is this easy to take care of or should we have a deeper discussion?

[2015-09-04 22:43] pixelzoom commented on #260
Not easy. Deeper discussion.

[2015-09-04 23:42] jonathanolson commented on #299
The adapted-by text pushed the "available space on the right" metric to the negative. I've commited a limit to 60px for it (our text is 39px wide) as the best probable fix.

It was buggy (and reversed), since the "phet menu + home button" took up more than half the screen width, and the layout tries to fit the center of the screen buttons in the middle.

Let me know if this is a sufficient fix. Sc

[2015-09-05 01:44] samreid commented on #260
For the case of "Adapted from PhET", it is a joist string, loaded statically during joist initialization for every sim.  So won't it appear in the list of translatable strings for every sim?  if not, why not?  And if so, is there a reason we cannot use this strategy for brand-specific strings that we want to i18nize?

[2015-09-05 15:42] aaronsamuel137 commented on #260
It doesn't appear because rosetta looks at the source code of the published sim for the strings keys, and "Adapted from PhET" doesn't appear in the source code if the brand is phet.

[2015-09-05 22:04] pixelzoom commented on #260
As @samreid said in https://github.com/phetsims/joist/issues/260#issuecomment-137892585, the "adapted from" string is loaded statically during joist initialization for every sim. PhetButton is included with every brand, it requires AdaptedFromText.js, which requires the "adaptedFrom" string:

`var adaptedFromString = require( 'string!JOIST/adaptedFrom' );`

I built hookes-law with `grunt --brand=p

[2015-09-06 17:33] aaronsamuel137 commented on #260
Ah I see what you mean now. Yes adaptedFrom will appear in Rosetta because it is in the source code.

The reason it wasn't before is because the .htaccess files were pointing to old versions of the sim on phet-dev. Build-server updates these .htaccess files automatically, but in this case the files got resynced with the old versions on figaro. I've updated the files, and now adapted from is showin

[2015-09-08 15:49] pixelzoom commented on #299
Looks sufficient to me. Closing.

[2015-09-08 15:49] #299 closed

[2015-09-08 16:15] pixelzoom commented on #260
Consensus 9/8/15 dev meeting:
If we have brand-specific strings that we want internationalized, they'll live in joist (like we've done with "adapted from PhET").   We should also keep in mind that Rosetta is only translating 'phet' brand html files.

Closing because we have "a plan".

[2015-09-08 16:15] #260 closed

[2015-09-08 16:26] pixelzoom commented on #298
9/8/15 dev meeting:

SR: joist feature is used by BAM and ESPB.
JO: This has been set to `true` for ScreenView for awhile. So joist feature may no longer be needed.
SR: Will delete joist feature.

[2015-09-15 16:29] jonathanolson commented on #285
It also looks like this may affect Safari, as noted in https://github.com/phetsims/scenery/issues/464.

[2015-09-17 21:03] jonathanolson commented on #280
Bug present in released iOS 9, @ariel-phet I'm assuming this should be my top priority?

[2015-09-17 21:36] jonathanolson commented on #280
Exact iOS version: iOS 9.0 (13A4254v)

[2015-09-19 02:22] jonathanolson commented on #280
Unable to reproduce after many attempts on iPad 3 with iOS 9.0 (13A344). Unsure if it's related to the retina display.

The iPad 2 I used for testing did note that an update was also partially pending (and I see it has a different build/something number). Might be worth a re-test on Tuesday.

@samreid, are you available to test on your iPad sometime?

[2015-09-19 02:26] samreid commented on #280
I just started downloading iOS9 for my iPad3 and will try to test within the next few business days.  I also created a tasks issue and assigned it to me to help it stay on my radar.

[2015-09-19 05:43] samreid commented on #280
I do not see the tall navbar after rotation on ipad3 running iOS 9.0 13A344 testing bending light 1.0.0-dev.24.  I tested both single and multi tabs, same good behavior in both cases.

[2015-09-22 19:09] jonathanolson commented on #280
I just verified that Tycho seemed to still be on the iOS 9 beta, and hadn't completed the iOS 9 update. I just went ahead and updated (13A344 now), and the bug is NOT present.

Does not seem to affect the latest iOS 9 version, closing.

[2015-09-22 19:09] #280 closed

[2015-09-23 16:54] aaronsamuel137 commented on #97
The redirect behavior already works. The only part that is not implemented is the fallback to a less specific locale. Closing this issue here and opening a website issue since the joist part is already done:

https://github.com/phetsims/website/issues/277

[2015-09-23 16:54] #97 closed

[2015-09-24 02:11] jonathanolson opened #300 "Global namespace option for debugging/together"
Creates things like phet.sun.CheckBox dynamically, so that it's easy to get global references to types.

Added developer-meeting tag to discuss.

[2015-09-25 16:51] samreid commented on #298
There is a comment from @jonathanolson in build-a-molecule-main that says:

Still, I think we were aware of that when we decided to remove the feature anyways.  @jonathanolson correct me if wrong, please.

[2015-09-25 17:04] samreid commented on #298
Energy Skate Park: Basics launches fine on the iPad with the setVisible strategy, so I've committed that change above.

Build a molecule (built version) gets to the homescreen, but when showing a sim screen it is blank on the iPad3 with the setVisible strategy.

Running with ?screens=1 (and setVisible strategy), it launches OK.  So don't we still need this feature or an equivalent workaround for B

[2015-09-25 17:05] samreid commented on #298
By the way, there is a huge incentive to remove this feature from Sim.js because it will save us 65 lines of code.

[2015-09-29 15:12] samreid commented on #300
This issue overlaps with https://github.com/phetsims/tasks/issues/378 "pattern for namespacing"

[2015-09-29 17:09] pixelzoom commented on #300
9/29/15 dev meeting:
• @jonathanolson this can go away once we've namespaced things as in phetsims/tasks#378
• @samreid  this handles images too, but that doesn't seem too important

[2015-10-13 05:18] samreid opened #301 "Revisions for scenery input event recording/playback in Sim.js"
To proceed with https://github.com/phetsims/together/issues/68 @jonathanolson and @samreid discussed updates to Joist to support scenery input event recording and playback using phet-io.  I've got input event recording and playback working in my working copy, which has also got Sim.js from 900 LOC down to 750 LOC, a significant improvement, see #208

I have also simplified SIm's usage of request a

[2015-10-13 05:34] samreid commented on #301
Recording my testing progress:

![image](https://cloud.githubusercontent.com/assets/679486/10446236/9aef647a-7139-11e5-9efc-0bfa95acbc45.png)

[code]

I'll try to wrap this up tomorrow before I commit the changes described above.

[2015-10-13 05:36] samreid commented on #208
As noted in #301, refactoring related to scenery input event recording/playback has got Sim.js down to 750 lines.  The proposed changes are undergoing testing and will be committed soon.

[2015-10-13 14:42] samreid commented on #301
Sim fuzz tests complete and no problems look related to the Sim.js changes.  I'm also pleasantly surprised at the fact that only 4 sims are failing fuzz tests.

![image](https://cloud.githubusercontent.com/assets/679486/10458035/19c625a8-7186-11e5-969a-6b0573cfc7cf.png)

[code]

[2015-10-13 14:45] samreid commented on #301
Based on the promising results of the above testing, I'm going to commit my changes.  But I'll also create a new issue label "needs-review-before-publication" since these changes should really be reviewed before any simulations are published with the changes.

[2015-10-13 14:58] samreid commented on #301
Changes committed to 3 repos above, I'll mark this issue as described above.

[2015-10-13 15:00] samreid commented on #301
I'll also mark for developer-meeting to make others aware of this work and discuss scheduling a reviewer.

[2015-10-13 16:52] samreid commented on #301
@jonathanolson suggests that review is not necessary before republication--any issues will be caught during testing.

[2015-10-14 17:23] samreid commented on #301
@pixelzoom asked:

Regarding Sim.js, here is the testing I completed for it with no problems observed:

    I have tested record & playback in Concentration, and all seems well.
    I tested acid base solutions in requirejs mode in chrome and all seems well.
    Scenery qunit shows: 4618 assertions of 4618 passed, 0 failed.
    "eslint:allFiles" from function-builder is succeeding
    Completed Fu

[2015-10-21 21:06] samreid commented on #301
My work on this is complete for now.  @jonathanolson do you want to review?

[2015-10-23 16:47] samreid commented on #263
Reopening, this rule:

Seems unnecessarily strict.  For instance, I received artwork with an aspect ratio of
1.4697554697554698

which did not match either of these:

navbarIconAspectRatio = 1.47
homeScreenIconAspectRatio = 1.4691689008042896

So shouldn't we allow some tolerance around these values?

[2015-10-23 16:53] samreid commented on #263
I committed a tolerance above, this should be discussed & reviewed by one of @pixelzoom @jbphet @jonathanolson.

[2015-10-27 17:58] jonathanolson opened #302 "Fullscreen HTTPS-only for Chrome"
We'll want to test once this goes live. We already have HTTPS links on https://github.com/phetsims/website/issues/289, but we want to make sure a full-screen button doesn't erroneously show up when running with HTTP.

Discussion in the Google Group seems to indicate it's likely that the fullscreenEnabled flag will be set (https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/2LXKVWYkOus

[2015-10-27 19:54] pixelzoom commented on #263
Looks ok to me, closing.

[2015-10-27 19:54] #263 closed

[2015-10-27 21:08] samreid opened #303 "For phet-io scenery input event playback, it would be nice to have a way to disable requestAnimationFrame calls"
For phet-io scenery input event playback, it would be nice to have a way to disable requestAnimationFrame calls.  I have a solution in place (in together) for now, since I didn't want to disrupt joist/master during deploys, but a more permanent solution would be good.

[2015-11-03 14:14] samreid commented on #303
I used the same strategy as previously, tested that it works properly via the mirror input event test harness, and documented the API in Sim.js.  All seems good, closing.

[2015-11-03 14:14] #303 closed

[2015-11-03 15:00] pixelzoom opened #304 "PhET button changes position"
PhET button is shifted slightly right on the home screen, compared to its position on the navigation bar. To reproduce, switch between any screen and the home screen, watch the PhET button move back and forth.  This is a problem on all platforms, with all brands.  Noted in joist 5d0e22ec246ca7fa4e0af4ff4657dbb654cb15e4.

Assigning to @ariel-phet to prioritize.

[2015-11-03 15:08] ariel-phet commented on #304
Nice catch @pixelzoom - I had not noticed this before. Not a high priority, but if it is easy to fix I would match the position that occurs within the sim itself. Is this something that would be quick for you to take care of? If not, please assign back to me.

[2015-11-03 15:11] pixelzoom commented on #304
This was introduced in 7729853 by @jonathanolson. The layout for the PhET button was changed in NavigationBar, but not in HomeScreenView.

[2015-11-03 15:13] pixelzoom commented on #304
I took a quick look at this, and it's not obvious to me why the layout in NavigationBar (line 217) is different for "expanded" vs "compact" (or what those refer to).  Assigning to @jonathanolson.

[2015-11-03 15:13] ariel-phet commented on #304
Ah, this must have been when we were dealing with internationalization issues

[2015-11-03 15:17] pixelzoom commented on #304
Yes, specifically #283.

[2015-11-06 21:50] pixelzoom commented on #266
Duplicate of https://github.com/phetsims/joist/issues/297.

[2015-11-06 21:50] #266 closed

[2015-11-09 18:16] samreid commented on #297
Completed above, reopen for review if you wish.  Otherwise, closing.

[2015-11-09 18:16] #297 closed

[2015-11-09 19:37] jonathanolson commented on #304
@ariel-phet, @samreid and @pixelzoom, if we want the same positioning of the PhET button, can we switch to having the navigation bar still visible on the home-screen, but make the sim title/screen buttons/home button invisible?

It seems tricky and problematic to position the phet button in two different places (since only one may get changed like this case).

If we need to keep it similar to how

[2015-11-09 19:53] samreid commented on #304
I'd investigate the "navbar on the homescreen" idea.  It would make things simpler to have only 1 phetbutton instance in the sim, and also simpler to have it so that each screen has a navbar (though the visible contents of the navbar may be different).  You may also want to set the navbar fill to be null, to handle issues where the home screen color is changed (say in the future for projector mode

[2015-11-09 19:57] pixelzoom commented on #304
@jonathanolson asked:

Since the only thing that we are ever likely to want visible on the home screen is the PhET menu, this seems like a questionable (but perhaps unavoidable?) way to accomplish that.  But if you do proceed with this:

(1) You'll need to make the navigation bar itself invisible too, unless you go through the trouble of changing its color to match the home screen background.

(2)

[2015-11-09 20:58] jonathanolson commented on #304
Just also tested, and the current Molecule Shapes / Charges and Fields "WebGL warning" node can move over where the navigation bar is, so it's also a potential design issue. It also looks like a headache to refactor the home screen to be more like other screens with the navigation bar.

With the maintainability points made by @pixelzoom and uncertainty about future design, I'm leading now towards

[2015-11-09 21:03] ariel-phet commented on #304
Just to comment, this seems to me to be a low priority...it is aesthetically objectionable, but it can also be lived with. If it improves the structure and cleanliness of the code, I am for it, if not, I would say punt currently.

[2015-11-09 21:11] jonathanolson commented on #304
I'll leave assigned. Changes to have the navbar be visible (with some things hidden) may be cleaner after major refactoring, but it's not an easy fix.

As it's low priority, dropping this off my current radar.

[2015-11-09 21:15] samreid commented on #304
I'm ok with the "use the same transform" idea.

[2015-11-09 21:17] pixelzoom commented on #304
I thought there was a joist issue regarding complexity that's added by treating HomeScreen differently than other Screens, but I can't find the issue. I've definitely run into that issue repeatedly when making joist changes. It seems like it would be advantageous to treat the HomeScreen instance as screens[0] for multi-screen sims, instead of having tests like `if ( sim.homeScreen )` throughout Si

[2015-11-09 21:21] ariel-phet commented on #304
This seems developer meeting worthy...will plan it for Thursday

[2015-11-10 19:17] samreid commented on #304
Or... each sim has *one* PhETButton that appears in the rootNode (in front of navbar, in front of homescreen).  That could make layout tricky (having something in the navbar just to the left of the PhETButton, say).

[2015-11-11 00:57] jessegreenberg opened #305 "branch: accessible-instance"
While adding accessible content to HomeScreenView, an issue was found involving the removal of accessible instances.  This branch holds some accessibility related changes to HomeScreenView so that we can easily reproduce the issue.  As soon as the issue is resolved, this branch should be deleted.

The issue was tracked to Node.removeChildWithIndex so documentation on the issue will exist in the sc

[2015-11-11 01:16] jessegreenberg commented on #305
See https://github.com/phetsims/scenery/issues/491 for documentation on the issue.

[2015-11-12 19:40] jonathanolson commented on #304
Will apply the transform copying change.

[2015-11-13 05:39] jonathanolson commented on #305
Resolved issue, assigning to @jessegreenberg to handle merge.

[2015-11-13 06:21] jonathanolson commented on #304
Applied the described fix.

I ended up opting to make the phetButton property on HomeScreenView AND NavigationBar public (joist-internal), as they are both constructed before either are added to the rootNode. This means I can't create a TransformTracker in NavigationBar and only export that.

All locations are documented with the reasoning for why they are public, with references to this issue.

@

[2015-11-16 03:38] pixelzoom commented on #304
Yields that desired result and implementation looks reasonable. But in light of https://github.com/phetsims/joist/issues/208 ("move stuff out of Sim.js"), do we really want to put this in Sim.js?  Maybe move `linkPhetButtonTransform` to PhetButton, with this signature:

`function linkPhetButtonTransform( homeScreen, navigationBar, rootNode )`

... then call it from Sim.js like this:

`this.linkPhe

[2015-11-16 04:21] pixelzoom opened #306 "add namespace"
See https://github.com/phetsims/tasks/issues/378

[2015-11-16 06:02] jonathanolson commented on #304
Sure, will do.

[2015-11-16 17:09] pixelzoom commented on #304
How about @param doc for PhetButton.linkPhetButtonTransform?

[2015-11-16 17:23] jonathanolson commented on #304
Sorry about that! Fixed, let me know if there's anything else.

[2015-11-16 17:34] pixelzoom commented on #304
:+1:

[2015-11-16 21:49] jonathanolson opened #307 "Easy post-load checking of namespacing"
As an alternative to https://github.com/phetsims/tasks/issues/435 (require.js-based) or https://github.com/phetsims/tasks/issues/431 (eslint-based) for checking the namespacing of https://github.com/phetsims/tasks/issues/378.

We had already created a debugging tool for creating these, and I've repurposed it so that if you run in require.js mode with ?ea&checkNamespaces, it will check require.js m

[2015-11-16 21:53] jonathanolson commented on #307
Added to discuss using this as our sole namespace checking method (and enabling by default once we have all common code namespaced). This would mean bailing on https://github.com/phetsims/tasks/issues/435 (require.js-based namespace checks) and https://github.com/phetsims/tasks/issues/431 (eslint-based namespace checks).

[2015-11-17 02:11] pixelzoom commented on #307
How do I test drive this?  I tried:

`http://localhost/~cmalley/Github/hookes-law/hookes-law_en.html?ea&checkNamespaces`

... and I get this assertion failure:

![screenshot_94](https://cloud.githubusercontent.com/assets/3046552/11200787/cf65b1ec-8c95-11e5-9e97-7741698965fd.png)

Is this because joist isn't namespaced yet?

[2015-11-17 02:57] samreid commented on #307
Yes, it asserts that all of the requirejs modules appear in the global namespace with the appropriate name and value.  It is failing on the module "checkNamespaces" which has not been namespaced.

[2015-11-17 03:16] samreid commented on #307
You can negate the assert conditions and transform them to `if() console.log()` if you want to see a full list of offenders.

[2015-11-17 07:39] samreid commented on #307
I asked @jonathanolson over skype:

[2015-11-17 07:39] samreid commented on #307
@jonathanolson responded:

[2015-11-17 07:51] samreid commented on #307
I have done this on my working copy but want to test it further before committing.  Tomorrow.

[2015-11-17 16:12] samreid commented on #307
Fixed above.  Leaving open and marked for developer-meeting for discussion of how to use this and its limitations (only checks AMD modules loaded without a plugin).

[2015-11-17 16:30] pixelzoom commented on #307
Why does this features require 2 query parameters? (?ea&checkNamespace)  How about `checkNamespace` to the console output without assertion failure, and add `ea` to enable related assertion?

[2015-11-17 16:32] pixelzoom commented on #307
Very odd that `checkNamespace` by itself does nothing. Why does this features require 2 query parameters? (`?ea&checkNamespaces`)

How about `checkNamespace` to get the console output without assertion failure, and add `ea` to enable related assertions?

[2015-11-17 16:45] jonathanolson commented on #306
I'll take care of the joist namespacing.

[2015-11-17 16:52] samreid commented on #307
Consensus: We will keep the checkNamespace option for now to help developers namespace sims, in the future we will remove ?checkNamespaces and just use ?ea to throw assertion errors if a namespacing issue occurs.

[2015-11-17 16:52] pixelzoom commented on #307
Limitations:
• won't confirm namespacing of inner types
• there are some non-require things that need to be namespaced in scenery

We can live with these.

[2015-11-17 17:34] pixelzoom opened #308 "handle language direction in layout"
This issue was generalized from https://github.com/phetsims/rosetta/issues/102 and affect many common repositories, as well as sim-specific code.

@ariel-phet says there's no time to work on this now, but should be on our radar for the future.

[2015-11-17 19:14] arouinfar commented on #308
Off the top of my head, I can think of a few things that could be adjusted for RTL locales. When the time comes to work on this issue, I'd be happy to discuss it more with the developers.

* In general, any left-aligned text should become right-aligned.
* Many control panels will need to be adjusted, so that the title precedes the readout/slider/combo box.

![image](https://cloud.githubusercontent

[2015-11-17 19:55] samreid commented on #308
A few years ago, someone proposed the following strategy for dealing with RTL simulations:

1. Horizontally flip the entire simulation
2. Horizontally flip all of the text

@arouinfar how close would this get us to the "ideal" case for RTL layout?

[2015-11-17 20:09] pixelzoom commented on #308
I'm not sure that horizontally flipping applies to all UI components. For example, should the min/max be flipped on a slider?

I'm also not sure that the same convention applies to all RTL languages.

[2015-11-18 22:27] pixelzoom commented on #306
I'll take care of this.

[2015-11-18 22:51] pixelzoom commented on #306
I completed namespacing joist, but ran into something different with UpdateCheck.js, which looks like this:

[code]

Note that it's returning an instance, not the constructor.

Adding `joist.register( 'UpdateCheck', UpdateCheck )` resulted in this console.log with `?ea&checkNamespaces`:

`joist.UpdateCheck is different than the expected namespaced object`

I resolved this by registering the single

[2015-11-18 23:02] pixelzoom commented on #306
@jonathanolson replied on Skype:

Closing.

[2015-11-18 23:02] #306 closed

[2015-11-19 04:59] jonathanolson commented on #304
Reopening, seems to be a bug in build-a-molecule:

![bam-phet-button](https://cloud.githubusercontent.com/assets/480878/11262701/9d26c6b6-8e3f-11e5-9c9d-39998a513486.PNG)

I'll be looking into it.

[2015-11-19 05:08] jonathanolson commented on #298
It's also causing a quirk in BAM, since https://github.com/phetsims/joist/issues/304 (Phet Button link position) will only work in the normal (setVisible) children strategy.

I'll be looking at this with higher priority.

[2015-11-19 05:42] jonathanolson commented on #304
Moved BAM off of setChildren strategy, closing. Will rely on https://github.com/phetsims/joist/issues/298 removing the "broken" code.

[2015-11-19 05:42] #304 closed

[2015-11-19 05:43] jonathanolson commented on #298
Removed layerSplits in BAM, and took it off of setChildren. It's working  on my iPad 3 now, feel free to remove this feature.

[2015-11-19 17:56] jessegreenberg commented on #305
I completed the merge, including the accessible content, and a lint fix that @jonathanolson added.  phetsims/scenery#491 is resolved.  This branch is no longer necessary, closing.

[2015-11-19 17:56] #305 closed

[2015-11-29 05:45] samreid commented on #298
Fixed in my working copy by removing the `screenDisplayStrategy` property and defaulting to the behavior for setVisible instead of setChildren.  All changes are isolated to Sim.js.  I tested Acid Base Solutions before and after this change and it seems to be working properly.  I'll commit shortly.

[2015-11-29 05:48] samreid commented on #298
Fixed above. This seemed straightforward and since I know others are busy I'm inclined to close the issue.  Still this is a change to a central class Sim.js and @jbphet @jessegreenberg @jonathanolson @pixelzoom should feel free to reopen + review the change if desired.

[2015-11-29 23:32] pixelzoom commented on #298
I'd like to take a look, since I'm not totally clear on what was done and why.

[2015-11-30 05:08] samreid commented on #208
Getting rid of setChildren/setVisible screenDisplayStrategy in https://github.com/phetsims/joist/issues/298 shaved off another 63 lines.

[2015-12-04 19:24] pixelzoom commented on #298
Yo comprendo, closing.

[2015-12-04 19:24] #298 closed

[2015-12-07 03:40] samreid opened #309 "Scale the splash screen logo based on the size of the screen"
Everything in a PhET simulation scales to fit the window _except_ the splash screen logo/text.  Should this scale as well?  Tagging @ariel-phet @pixelzoom for discussion.

[2015-12-07 16:10] ariel-phet commented on #309
I suppose that would be nice, but seems extremely low priority unless it would make the code cleaner/more consistent.

[2015-12-07 16:19] pixelzoom commented on #309
I wouldn't bother with this, unlikely that the user will resize the browser window while the sim is loading, and if they do, not big deal because it doesn't compromise functionality of the sim.  Consider addressing this if/when animation is added to the splash, in https://github.com/phetsims/joist/issues/68.

[2015-12-07 17:19] samreid commented on #309
I suspect this issue will become more important if/when we start targeting smaller devices (where the logo currently fills the whole screen or even goes offscreen).

[2015-12-14 20:34] jessegreenberg opened #310 "'Heart Beat' div should be hidden from screen readers"
In https://github.com/phetsims/joist/issues/140, a 'heartBeat' div was introduced to Sim.js to keep the sim awake for Mac OS with Safari.  The div contains a random number that changes every thirty seconds or so.

The div can be found by screen readers so that when the AT reads through the document, the last thing it reads is the random heart beat value.  The user can also find the number with the

[2015-12-17 18:11] pixelzoom opened #311 "handle alternative namespace file convention in checkNamespace.js"
The typical convention for a repo's namespace file is to use the repo name converted to camel case, for example colorVision.js.

Sometimes this may conflict with an existing .js filename, for example tandem/Tandem.js or together/together.js.  In https://github.com/phetsims/tandem/issues/5, we decided that an acceptable alternative filename would be to add a 'Namespace' suffix, for example tandemNa

[2015-12-17 18:16] #311 closed

[2015-12-23 17:48] jessegreenberg commented on #310
Looking over #140, I can not reproduce the 'unresponsive sim' issue with Mac OS Safari 9.0.2 when the heartbeat div is removed.

[2015-12-23 17:51] jessegreenberg commented on #310
'aria-hidden' successfully hides the div from NVDA.

[2015-12-23 21:18] jessegreenberg commented on #310
It may be best to hide the entire 'sim' div from the screen reader.  A new issue came up where some of the visual text can be found by screen readers.  Something like this might work:
 - Add ```'aria-hidden'=true``` to the 'sim' div to hide all visual elements.
 - Add ```'aria-hidden'=true``` to the heartbeat div since it is outside of the sim div.
 - Move the parallel DOM out of the 'sim' div and

[2015-12-23 22:15] jessegreenberg commented on #310
This in combination with the change in phetsims/scenery#504 seems to work very nicely with NVDA + Chrome/Firefox.

Ran through test-server, no issues related to the change.

[2015-12-27 02:39] samreid opened #313 "Wrong default for Dialog"
While investigating https://github.com/phetsims/joist/pull/312 I noticed that in practice, all of our Dialog subclasses and instantiations use `modal:true` (aside from the demo).  Perhaps we should make `modal:true` the default if it is so popular?  I'll assign for the next developer meeting, but it would be great to discuss and decide before that, if @pixelzoom @jbphet @jonathanolson @jessegreenb

[2015-12-27 02:54] samreid opened #314 "Cannot dismiss non-modal dialogs"
As reported by @Cooookie in https://github.com/phetsims/joist/pull/312, it is impossible to dismiss non-modal dialogs.  I have reproduced the problem and I have a good solution in my working copy.  The Joist dialog demo is working properly.  I'll commit shortly.

[2015-12-27 03:09] samreid commented on #314
In the above commit, I gave `barrierStack` a more appropriate name, added properties for `isShowing` into the Dialogs (rather than checking the formerly-known-as `barrierStack`).  I tested the joist dialog demo as well as molecules and light and did not see any issues.  @pixelzoom can you spare time to review these changes?

[2015-12-27 19:08] pixelzoom commented on #313
In most toolkits that I've worked with (X11, Motif, Swing,...) dialogs are modeless (i.e. non-modal) by default.  Not to say that we couldn't do something else, but I believe that joist.Dialog should be migrated to sun.  And sun is supposed to be useful beyond PhET.

[2015-12-28 17:26] pixelzoom opened #315 "move joist.Dialog to sun"
Factored this issue out of https://github.com/phetsims/joist/pull/312 and https://github.com/phetsims/joist/issues/313.

Dialogs are a useful part of any general UI toolkit, so joist.Dialog should be moved to sun.

[2015-12-28 17:28] samreid commented on #293
I fixed the "close button will not work" problem in https://github.com/phetsims/joist/issues/314.

[2015-12-28 17:35] pixelzoom commented on #314
For the record, I think `barrierStack` was a superior name, since this barrier can theoretically be used by things other than modal dialogs. By renaming to `modalNodeStack`, you've given the impression that it's for use by modal dialogs only.  While that may be the case, the documentation at Sim.js line 458 indicates that it has a more general use - to block input events:

[code]

If you want to p

[2015-12-28 17:36] samreid commented on #313
Good argument about sun being useful outside of PhET, I'm OK to close this issue but will leave it open for now in case @jbphet @jonathanolson @jessegreenberg have other opinions.

[2015-12-28 17:51] pixelzoom opened #316 "Dialog: visibility of this.modal"
Dialog.js line 59:

[code]

Shouldn't this be `@private (read-only)`?  Or can a dialog's modality change after it's been instantiated.

Assigning to @samreid since he added this annotation.

[2015-12-28 17:52] pixelzoom commented on #316
Since it's @private, it's not a big deal.  I'll stick a `(read-only)` on there for good measure.

[2015-12-28 17:55] pixelzoom opened #317 "Dialog: visibility of this.isShowing"
Dialog.js line 62:

[code]

I don't see this field used anywhere outside of Dialog, and suspect that it should be `@private`.

Assigning to @samreid since he added this annotation.

[2015-12-28 18:06] pixelzoom opened #318 "add assertions to Sim.showPopup and hidePopup"
In Dialog.js, `this.isShowing` is used to guard against whether `show` or `hide` are called improperly:

[code]

This is fine. But `show` and `hide` rely on more general functions in Sim, `showPopup` and `hidePopup` respectively.  And those functions may be used by other clients, and contain no guards against calling them incorrectly.

Recommendations:

(1) Add this assertion to Sim.showPopup:

`a

[2015-12-28 18:13] samreid commented on #317
Thanks @pixelzoom I was confused by the isShowing of PhetMenu.js which has different visibility.  Dialog.js annotation should be fixed above.

[2015-12-28 18:14] #317 closed

[2015-12-28 19:19] samreid commented on #316
@pixelzoom added (read-only) in 168eaa64189b68c111aa93db3fafa669645efbea

This is correct, you should not be able to change modality at runtime.  (Or if we later add that as a feature we can re-address this).

[2015-12-28 19:19] #316 closed

[2015-12-28 19:27] samreid commented on #314
I fixed the docs above to read like so:

[code]

This stack is used by both modal dialogs and the PhetMenu, so I'm considering the PhetMenu a "modal node" (coining a new phrase) because it behaves like a modal dialog (background fades, clicking away will dismiss it) without being a dialog.

I fixed the visibility annotations and updated the docs.

[2015-12-28 20:02] pixelzoom commented on #314
:+1: Closing.

[2015-12-28 20:02] #314 closed

[2015-12-29 17:43] pixelzoom commented on #313
12/29/15 consensus is to keep as non-modal by default, and eventually move Dialog to sun (see #315).

[2015-12-29 17:43] #313 closed

[2015-12-29 17:55] pixelzoom commented on #315
This is trickier than it looks.
(1) There's a lot of `window.phet.joist.sim` stuff in Dialog.js, deep dependencies on joist.
(2) Where should the responsibility for modality lie?

[2015-12-29 17:56] pixelzoom commented on #315
12/29/15 sounds like a lot of work, deferring.

[2015-12-29 17:57] samreid commented on #315
When we work on this, we may be able to create an abstraction in sun like `DialogContainer` which can be reused by joist and other sun clients.

[2016-01-05 17:31] jonathanolson commented on #318
Sounds good, added them.

[2016-01-05 17:31] #318 closed

[2016-02-11 23:22] jbphet commented on #277
@samreid - now that you're focusing on together.js again, can you determine whether this is still an issue and if any actions need to be taken to resolve?

[2016-02-12 01:18] pixelzoom opened #319 "About dialog fails stringTest"
Not sure how this got through all the i18n testing for S2015R. But the About dialog fails the i18n string test.  It totally lacks any `maxWidth` settings.  Affects all sims.

Eg, with `?stringTest=long`:

![screenshot_10](https://cloud.githubusercontent.com/assets/3046552/12996255/8b36cf16-d0eb-11e5-8086-15327c0cc73f.png)

[2016-02-12 04:59] samreid commented on #277
I've added a wrapper type and registration for the PhetMenu with dispose and it seems to be working properly.  Easy to test in the instance proxy demo.  Will commit and close.

[2016-02-12 04:59] #277 closed

[2016-02-15 16:59] ariel-phet commented on #68
Concord consortium also seems to have a loading animation on their HTML5 sims. See for instance:

http://mw.concord.org/nextgen/#interactives/chemistry/phase-change/molecular-view-liquid

[2016-02-15 18:22] samreid commented on #68
I also saw this loading spinner, which seemed immune to blocking JS in the console (at least in Chrome) https://github.com/fgnass/spin.js

[2016-02-15 19:25] pixelzoom opened #320 "Failed to execute 'requestFullScreen'"
I'm seeing this error in the Chrome console when running function-builder with ?fuzzMouse.

This sim is doing nothing explicitly with full-screen feature, so this is probably coming from common code.

[2016-02-15 19:25] pixelzoom commented on #320
Skype discussion:

[2/15/16, 12:20:40 PM] Jonathan Olson: Basically, the fuzzer can try to click on the full screen icon after it opens the PhET menu
[2/15/16, 12:21:07 PM] Jonathan Olson: Chrome security restrictions don't allow that to happen when it originates from an animation frame
[2/15/16, 12:21:14 PM] Jonathan Olson: (only can happen from things like mouse ups, etc.)
[2/15/16, 12:21:35 PM]

[2016-02-15 19:25] pixelzoom commented on #320
@phet-steele FYI, until this is fixed. This error is likely to occur with test-server automated fuzz testing.

[2016-02-15 19:32] jonathanolson commented on #320
Also, it's not flagged as an error, so it won't show up in the test-sims output.

[2016-02-16 19:35] jonathanolson commented on #319
Added constraints for:
1. Individual elements of the About dialog.
2. Individual elements in the PhET menu.
3. "Update" status nodes (from "Check for udpates...").

@ariel-phet, do we need to look into maintenance releases?
@pixelzoom, does the above commit look good (if you want/have time to review?)

[2016-02-16 19:53] pixelzoom commented on #319
Commit looks good to me, tested with stringTest=long and stringTest=double.

Imo, we don't need to do maintenance releases for this.  The About dialog generally looked good with stringTest=double, and stringTest=long is a bit of a stress test.

[2016-02-16 22:55] ariel-phet commented on #319
I do believe the about dialog was mentioned at some point, but deemed not so important, I would have to look over. (I also don't think we had stringTest=long when we were making some of those decisions)

But I am surprised ..certain things in the about dialog should NOT be translatable.
- The version number (fine for the word version, but the number should not be able to be touched)
- Again, tittl

[2016-02-17 00:30] jonathanolson commented on #319
To support i18n, the order of the version text and version number itself is variable, and the English string is "version {0}". There are many places where a translator can omit the {0} in sims (and a number or something won't show up), so I don't think it's different here?

For names, same thing:
[code]

[2016-02-17 01:53] phet-steele opened #321 "Edge 25 NavBar and Menu problems"
@jonathanolson or whoever works on joist issues, there's a problem occurring in most (or all) of our sims' NavBar scene selection and menus. I am **only** seeing this in Edge 25.10586.0.0 (not earlier versions). You won't see the issue immediately upon opening the sim, you must interact with the NavBar (and menu). The issue is that scene names are being cut short:

![navbarcut](https://cloud.githu

[2016-02-17 03:06] ariel-phet commented on #319
@jonathanolson no...not currently desired. Though we might need to revisit if we ever go away from the "trusted" translator model.

[2016-02-17 03:07] ariel-phet commented on #319
and thanks for the explanation, it seems for the moment we can count on people not being nefarious

[2016-02-17 14:36] pixelzoom commented on #319
In the Java version of Translation Utility, translated strings are required to have the same number of placeholders (eg {0}) as the English string.  Otherwise the translated string is visibly flagged as an error, and the translation cannot be submitted.  I recall some previous discussion (with Aaron?) about this feature being added to Rosetta, but don't know if that was done.  Perhaps @jbphet can

[2016-02-18 19:49] phet-steele commented on #321
@jbphet this may be a more pressing, general issue concerning more than just the NavBar. Screenshot from Neuron 1.0.0-rc.4:

![neuron](https://cloud.githubusercontent.com/assets/5863899/13156029/bd80338e-d63d-11e5-9078-ab5696c95023.PNG)

Like the original comment, you have to move your cursor, with concentrations checked, for this to happen. Moving the cursor around also drastically lowers perform

[2016-02-18 19:54] pixelzoom commented on #319
Rosetta enforces patterns:

![screenshot_16](https://cloud.githubusercontent.com/assets/3046552/13156242/c10d0062-d63e-11e5-8004-a3cc291f6c53.png)

[2016-02-18 20:00] pixelzoom commented on #319
General issue of preventing Submit for a translation with errors is moved to https://github.com/phetsims/rosetta/issues/122.

Closing.

[2016-02-18 20:00] #319 closed

[2016-02-23 17:31] ariel-phet commented on #291
unassigning until this issue come up again, seems minor compared to other larger issues currently.

[2016-02-23 20:53] jonathanolson opened #322 "[Edge] Full-screen to "PhET Website..." forces Edge in front of all other windows"
During testing for https://github.com/phetsims/tasks/issues/523, @phet-steele noticed this.

Reproduction:
1. Open a sim under http://www.colorado.edu/physics/phet/dev/olsonjb/maintenance.
2. Make it full-screen via the menu
3. Open the menu again and click "PhET Website..." or "Report a Problem...".
4. (optionally?) switch back to sim tab (now not full-screen).
5. Try to bring any other window in

[2016-02-23 21:38] phet-steele commented on #322
@jonathanolson step 4 is very optional. Regarding step 5, yes Edge must be restarted OR you can go back to the sim, enter full screen, and exit full screen correctly. Or for a very temporary fix, just minimize Edge. Also, I believe "PhET Website..." is the reliable option in step 3 (maybe the only option?).

[2016-02-26 03:45] samreid opened #323 "layoutFinished args seem awkward"
The signature is:

[code]

To put something in the bottom right it is:

[code]

Why is this dx/dy/width/height instead of a rectangle?  Having to subtract dx seems odd.

[2016-02-26 03:46] samreid commented on #323
I marked this for developer meeting to see what other developers would like for this API.  But also, @jonathanolson @jessegreenberg @pixelzoom @jbphet please feel free to chime in sooner!

[2016-02-27 02:09] ariel-phet commented on #36
Considering how long we have had HTML5 sims published and we have had none of these kinds of issues reported by users, this seems unnecessary. Recent stats on the website show all significant use is on modern browsers.

[2016-02-27 02:09] #36 closed

[2016-02-27 02:36] ariel-phet commented on #212
I believe the screenshot feature is now in the wheelhouse of PhET-iO - can you comment on or close this issue @samreid

[2016-02-27 02:38] ariel-phet commented on #208
Marking for developer meeting, this seems like a technical debt issue we should revisit

[2016-02-28 03:00] samreid commented on #208
Sim.js is at 737 lines.

[2016-02-28 17:16] pixelzoom commented on #323
Here's the current doc in joist.ScreenView:

[code]

I've never used this feature before.  And before I can recommend a better API, I need to understand the current API.  Questions:
(1) The doc for params `dx` and `dy` makes no sense to me - "offset" of what, and relative to what?
(2) What are "stage coordinates" and "pixel coordinates"?  Afaik, this is the only place whether the term "stage" is u

[2016-02-29 19:15] jonathanolson opened #324 "[branch] no-overflow"
For https://github.com/phetsims/phet-io/issues/341 (and testing).

[2016-03-01 03:48] pixelzoom commented on #208
Is th check list of Sim responsibilities (https://github.com/phetsims/joist/issues/208#issue-56107561) up to date? I recall that additional responsibilities were added after this issue was created.

[2016-03-01 21:59] samreid commented on #212
At our last discussion we still wanted to publish a "Screenshot" button in the PhET Menu, but it is currently buried behind a ?screenshot query parameter.  I don't recall why it is behind a query parameter, perhaps @jonathanolson does?