[2018-11-07 00:52] #525 closed

[2018-11-07 17:57] zepumph opened #535 "Where is the splash screen in the playback wrapper?"
From working on and testing https://github.com/phetsims/phet-io/issues/1397, we found that the playback wrapper was broken. @samreid and @zepumph have both successfully recorded and played back in the past week, but this morning it is broken.

We get this error when playing back.

[code]

the line of code on Sim.js:831 is:
[code]

[2018-11-07 18:29] zepumph commented on #535
This was a byproduct of changing event.event -> event.name. We ended up deleting it though because we don't need to maintain backwards compatibility anymore.

[2018-11-07 18:29] #535 closed

[2018-11-08 00:34] jonathanolson opened #536 "How to tell if the current ScreenView is currently active?"
It seems the ScreenView doesn't have a reference to the Screen (which has an activeProperty), and Sim's currentScreenProperty is joist-only.

I'm going to temporarily "break" the joist-only bit to temporarily check `phet.joist.sim.currentScreenProperty.value === screenView`, but I'm flagging this to determine if we should make that permanent (remove 'joist-only'), or come up with a better way.

[2018-11-08 16:42] jessegreenberg commented on #536
I think we should have a better way to do this that doesn't go through the phet namespace.

[2018-11-09 01:52] samreid opened #537 "Remove jquery"
While investigating https://github.com/phetsims/unit-rates/issues/207, I tested removing jquery, which we are only using in approximately 5 places.  Even though it only reduced the heap by 100-200kb, it still seems like a good idea to get rid of it and use vanilla js instead.  This will reduce download by approximately 84kb and prevent caught exceptions during simulation launch (sometimes a hassle

[2018-11-12 22:36] pixelzoom opened #538 "screen icons blend into home screen and navigation bar"
Gas Properties needs to support Projector Mode, so I was looking at how it's implemented in other sims.   While looking at SOM, I noticed these problems, which are also likely to occur in Gas Properties.

Two problems, both of which are general:

### (1) Home screen icons blend into home screen background

The home screen in SOM currently looks like this:

![screenshot_848](https://user-images.git

[2018-11-12 22:45] arouinfar commented on #538
@pixelzoom I would LOVE for joist to handle adding a white stroke around icons. For SOM, I think it was more of an oversight on my part. For Wave Interference, I added a white stroke around the artwork itself, which works fine for the home screen icons.
![image](https://user-images.githubusercontent.com/8419308/48379451-67262680-e691-11e8-935b-b554dce4e188.png)

When scaling down the icons for the

[2018-11-12 23:50] samreid commented on #234
@jonathanolson should we add a feature (maybe only on iOS) that just detects the window size each frame (or every N frames) and resizes if it is different?  @ariel-phet what is the priority of this issue?

[2018-11-13 00:10] pixelzoom commented on #538
For home screen icons, there is apparently an option to add a stroke, and it's used in SOM.  In JOIST/Sim:

[code]

The option name could use some work, and the doc isn't quite right.  What it really does is puts a border around unselected home screen icons.

@arouinfar You should probably use this option in Wave Interference and remove the border from the artwork.

@ariel-phet There should be a s

[2018-11-13 05:55] jonathanolson commented on #234
At least before, Safari did NOT report a size change, and reported the incorrect (old) size, so I don't think polling would help? Maybe there is an alternative way to help? Maybe it is less buggy now?

[2018-11-14 06:08] samreid commented on #516
For testing, I added these lines to resistance in a wire credits and tested with ?stringTest=long
[code]

Commit coming up.

[2018-11-14 06:11] samreid commented on #516
Proposed fix is committed, notes are in the comments in the commit.  For now, I centered the AboutDialog above the navigation bar, but if we decide to center all Dialogs above the navigation bar, we could move this layoutStrategy from AboutDialog to `Dialog.DEFAULT_LAYOUT_STRATEGY`.  @ariel-phet can you please assign a developer to review/test?

[2018-11-14 15:43] pixelzoom commented on #538
Since this isn't exactly straightforward (joist has a wonky way of handling this), I'd like some clarification before I spend the time.

Is this what you want?

(1) Handling of the home screen icons via the `showSmallHomeScreenIconFrame` is OK as is, make no changes.

(2) You'd like another option, say `showNavigationBarScreenIconFrame`, that does the exact same thing as `showSmallHomeScreenIconFr

[2018-11-14 18:55] ariel-phet commented on #538
@pixelzoom I think so. Since this is in Joist, and should be a relatively quick issue to review, I am going to mark for dev meeting tomorrow (since it would be good for other devs to be aware anyhow). We should be able to get through this issue quickly, so I will mark it high priority.

[2018-11-14 18:58] ariel-phet commented on #234
@KatieWoe when this is seen, if the problematic tab is reloaded (so the sim is not properly sized, but your refresh that tab on the browser), does the problem fix itself?

[2018-11-14 19:06] KatieWoe commented on #234
It does.  I also think it might occur, or at least occur more often, if you go to the tab right away and switch back to the original tab before its loaded, and switch back to the sim tab very quickly.

[2018-11-14 23:12] pixelzoom commented on #536
Yeah, what's the use case?  Why does the ScreenView need to know if it's active?

And if it does need to know, create `{BooleanProperty} isActiveProperty` in Screen and pass it to its ScreenView.

[2018-11-15 16:56] jonathanolson commented on #536
There is a listener added on the Display to catch input events in the "background" (e.g. like ComboBox) that, if no relevant object was interacted with, will "unselect" everything. We want to start with one thing selected on the screen.

The problem is when the user starts on the home screen and presses on the screen button, that activates our listener and deselects the initial object.

[2018-11-15 17:47] samreid commented on #536
Somewhat devil's advocating here, but want to understand better: Shouldn't a Display event in the "background" unselect everything in every screen?  Or are non-active screens expected to retain their selections?  Say I open a combo box on screen 1, then go to screen 2 and tap in the display.  When I return to screen 1, should I expect the combo box to still be open?

[2018-11-15 19:04] samreid commented on #538
From today's meeting: When testing this, check States of Matter and make sure the light outline isn't too visible against the light navigation bar.

[2018-11-19 19:39] samreid commented on #522
This seems safe to implement--I tried it locally and aqua/phet and phet-io fuzz tests seem OK.  I'll commit, Bayes CT can test further.  If we see any problems, we can rethink or revert.

[2018-11-19 19:41] samreid commented on #522
Pushed, closing for now.

[2018-11-19 19:41] #522 closed

[2018-11-19 20:41] pixelzoom commented on #222
This issue came up again while investigation how to address https://github.com/phetsims/joist/issues/538.   If joist used ColorProfiles, that issue would have been trivial to address.  Instead, I'm having to wade into this odd LookAndFeel thing.

LookAndFeel is something totally different than ColorProfiles, and it's a bit of a hack, based on whether the Screen's `backgroundColorProperty` is 'blac

[2018-11-19 21:38] pixelzoom commented on #538
Here's what the home screen looks like for the published version of Equality Explorer:

![screenshot_877](https://user-images.githubusercontent.com/3046552/48736474-8f210700-ec08-11e8-95f0-ebae87db287f.png)

Here's what is looks like if we always put the '#dddddd' border around icons on the home screen:

![screenshot_878](https://user-images.githubusercontent.com/3046552/48736486-98aa6f00-ec08-11e

[2018-11-19 21:42] pixelzoom commented on #538
On second thought... I don't like the border on the unselected icons.  I also don't like them being omnipresent in the navigation bar.   No idea what to do here.

[2018-11-19 22:13] arouinfar commented on #538
So, I know my two cents weren't requested, but I'm going to throw them out there anyway.

I really dislike the stroked icons in Equality Explorer. The stroke highlights the unselected screens and creates some competition with the selected screen. In part, I think it's because the screen icons have pastel-colored backgrounds, rather than black.

I would rather manually add white outlines around the

[2018-11-19 22:18] pixelzoom commented on #538
Agreed.

The background color changes dynamically (e.g. projector mode).  And in the future, the navbar may not be limited to 'black' and 'white'.   So if you add the stroke to the artwork, you'll be creating a related but different problem.

[2018-11-19 22:58] ariel-phet commented on #538
@pixelzoom yeah...not digging the stroke around the equality explorer icons

[2018-11-19 23:01] ariel-phet commented on #538
It seems one needs the option to stroke specific icons, and not others (such as in the wave interference example above).

[2018-11-20 21:30] samreid commented on #537
Jesse Greenberg [2:25 PM]

I'm seeing a dozen or more usages in scenery.

[2018-11-20 22:13] samreid commented on #537
I had forgotten about the scenery usages--it seems critical for @jonathanolson to weigh in here before we proceed.

[2018-11-21 02:41] jonathanolson commented on #537
I've tried to get rid of usages. The most tricky would be jquery code that detects element sizes, but it would definitely be nice to fully drop the dependency.

[2018-11-21 18:08] ariel-phet commented on #516
@Denz1994 said he could take a look, seems like it should be pretty quick. If all looks good, feel free to close @Denz1994

[2018-11-21 21:40] Denz1994 commented on #516
I tested locally, with John Travoltage and MAS. The about dialog remains centered at various screen sizes and works well with `stringTest=long` and `stringTest=x`. The documentation added to the commited changes is descriptive aswell. This looks good as is @samreid.

[2018-11-21 22:05] Denz1994 commented on #516
Making the screen vertically narrow causes the dialog box layer to become horizontally narrower than the screen bounds. The side effect is that the nav-bar becomes pickable, which goes against the modal nature of the about dialog.

I tested with MAS and John-Travoltage. This doesn't effect keyboard nav as the nav-bar remains unfocusable while the about dialog is open, but is still pickable, so the

[2018-11-26 02:45] jonathanolson commented on #516
Yes, should be feasible, and that is the plan. Just hasn't been a priority.

[2018-11-26 03:13] jonathanolson commented on #222
I guess I don't understand how the 'default' and 'projector' would work. Some sims have a naturally white background (with a black navigation bar as default), and others have a black background (with a light navigation bar as default).

[2018-11-27 21:06] samreid opened #539 "Add intermediate "general" tandem"
From https://github.com/phetsims/phet-io-wrappers/issues/143#issuecomment-440859324

activeProperty
browserTab
phetioCommandProcessor
resizedEmitter
screenIndexProperty
showHomeScreenProperty

[2018-11-27 21:08] samreid commented on #539
@chrisklus and I added "general" in the above commits.  It seems things are mostly working aside from the "diff" and "multi" wrappers.

[2018-11-27 21:34] chrisklus commented on #539
@samreid and I have fixed the "multi" wrapper. The "diff" wrapper error was triggered by checking "pause on caught exceptions" for a non-PhET related script, so it appears to not be an issue. Ready to close.

[2018-11-27 22:35] KatieWoe opened #540 "Legends of Learning page freezes"
For https://github.com/phetsims/QA/issues/221.  When LoL has paused the sim, try and drag objects around, especially across the "paused" dialog.  The dialog may become highlighted.  When this occurs the LoL page freezes and must be refreshed.  I have only seen this on Edge.

[2018-11-28 00:12] pixelzoom commented on #222
There should be default that work in most situations -- i.e., projector mode typically involves lightening up the screen background, and using a dark navigation bar.  And the client should be able to override those defaults part of defining the 'default' and 'projector' profiles.

[2018-11-28 00:14] pixelzoom commented on #538
That's a totally different implementation that what currently exists.  Rather than creating a brand new hack, effort would be better spent addressing the lack of ColorProfile support in joist, https://github.com/phetsims/joist/issues/222.

[2018-11-28 22:39] arouinfar commented on #540
@KatieWoe can you take a screen capture of this issue?

It's not clear if this is a PhET bug or LoL bug, but Edge is such a low-use platform that I don't think this this would be considered a publication-blocking issue.

@mbarlow12 is the responsible dev for `coulombs-law`, but now that this issue is in joist, I'm going to unassign him. Not sure what the next step would be, so tagging for develope

[2018-11-28 23:05] KatieWoe commented on #540
https://drive.google.com/file/d/17HEKCEevUCwZ8PKrHejVKP8MYdpXkpTI/view?usp=sharing

[2018-11-29 17:03] jonathanolson commented on #222
I guess I'm just concerned that for sims with certain background colors, the sim's "normal" color profile would be paired with the "projector" profile for joist, and vice versa (being somewhat confusing).

[2018-11-29 17:09] pixelzoom commented on #222
I can't be any more confusing (or brittle) than the current "invert" behavior in joist.   E.g. https://github.com/phetsims/joist/issues/538 should be simple; instead it's a major project.

[2018-11-29 19:51] pixelzoom commented on #222
11/19/18 dev meeting notes:

* No objections to investigating use of ColorProfile in joist.
* @jbphet Sounds like the right way to go.
* @jonathanolson We should keep the joist profile independent.
* @jonathanolson Having one active profile might not be the correct abstraction.

Self assigning to discuss with @ariel-phet.

[2018-12-01 01:05] samreid commented on #539
My apologies, https://github.com/phetsims/tandem/commit/9c1990fccd66b0e17375e08c7cdfa0437d000aa9 introduced `const` into a preload file.  Preloads do not run through babel and iPad 2 crashes when it parses.

[2018-12-01 01:10] samreid commented on #539
Patch fix committed in https://github.com/phetsims/tandem/commit/4336872f0c7c6e3571d99c4b1c9c36da39915ecc

That commit can be used as a cherry-pick.

[2018-12-01 01:19] samreid commented on #539
I additionally said on slack:

Sam Reid [6:11 PM]
Master is fixed.  Commit should be cherry-pickable.  Let me know if you want me to use that to create RC.2 of anything.

Reassigned to @pixelzoom and @jonathanolson since they created RC's with this bug.  Sorry for the trouble and let me know how I can help.

[2018-12-01 02:09] pixelzoom commented on #539
Self assigning so that I can cherry pick for Graphing Quadratics 1.0 release branch.

[2018-12-03 19:40] pixelzoom opened #541 "bottom part of dev bounds are chopped off on home screen"
Reported for Graphing Quadratics in https://github.com/phetsims/graphing-quadratics/issues/121, but affects all sims.

The bottom part of the dev bounds rectangle is chopped off in master.  Compare Equality Explorer in master (top) vs published (bottom):

![screenshot_911](https://user-images.githubusercontent.com/3046552/49397215-34070e00-f6f8-11e8-851b-e060f086b73b.png)
![screenshot_912](https:/

[2018-12-03 19:42] pixelzoom commented on #541
@jonathanolson FYI, since your RC for the Fractions suite contains this problem.

[2018-12-03 19:51] samreid commented on #541
Issue https://github.com/phetsims/joist/issues/503 has commit 088058b6dd9b526384d87c9857107304a30ba155 which says:

Maybe that is obscuring the dev bounds?

[2018-12-03 19:51] pixelzoom commented on #541
Looking through commits on `HomeScreenView`, I'm betting that this was caused by adding sound and keyboard icons to the home screen in https://github.com/phetsims/joist/issues/503.  @chrisklus @jbphet is that possible?

[2018-12-03 19:52] jonathanolson commented on #541
This doesn't seem like an issue worth patching for RCs/published sims. Presumably `?dev` is for internal use?

[2018-12-03 19:56] chrisklus commented on #541
@pixelzoom at first glance of https://github.com/phetsims/joist/issues/541#issue-386973885, that seems likely. We are checking.

[2018-12-03 19:57] samreid commented on #541
The home screen dev bounds is also shifted down (compared to the dev bounds on each screen).

[2018-12-03 19:59] pixelzoom commented on #541
@jonathanolson said:

@jonathanolson up to you, just wanted you to be in the loop.

[2018-12-03 20:01] jonathanolson commented on #539
I patched the area-model RCs.

[2018-12-03 20:05] jbphet commented on #541
I just tested this on tambo, since it is a multi-screen sim with both sound and keyboard accessibility permanently turned on, and I'm seeing that the dev bounds on the home screen are also wider than those of the other screens.

On the screens, the dev bounds are above the nav bar, so it sort of looks to me like we added the nav bar but didn't adjust the dev bounds to accommodate it.  We will cont

[2018-12-03 20:12] pixelzoom commented on #541
I'm going to ignore this for Graphing Quadratics 1.0, based on the consensus that this doesn't affect anything other than the internal `dev` query parameter.  If that changes, please notify me.

Slack:

Is there anything here that you feel needs to be corrected in the 1.0 release branch of Graphing Quadratics?

So far I'd say no, since this is a developer-only feature, but we will keep you posted

[2018-12-03 20:15] pixelzoom commented on #539
Graphing Quadratics 1.0 release branch is also patched in tandem branch "graphing-quadratics-1.0".

[2018-12-03 23:30] chrisklus commented on #541
@samreid and I investigated this for a bit and found that if we change line 126 in Sim.js from
[code]

to

[code]
which is the same way that the screens are laid out, then the bottom border of the dev bound appears above the nav bar so the whole rectangle is in view.

![image](https://user-images.githubusercontent.com/5618316/49407290-3c217680-f715-11e8-8462-26de8143793a.png)

![image](https://use

[2018-12-03 23:36] pixelzoom commented on #541
I don't think we should do anything that changes the size or position of the home screen icons.

[2018-12-04 00:04] pixelzoom opened #542 "standardize aspect ratio of custom layoutBounds"
From https://github.com/phetsims/graphing-quadratics/issues/121#issuecomment-443910148...

`ScreenView` (the top-level view component in joist) has an option for setting a custom `layoutBounds`.  When doing a direct port from Java, it's convenient (and less expensive) to use the layoutBounds from the Java sim, so that the sizes and positions of things (in the view, and possibly in the model) don't

[2018-12-04 00:04] pixelzoom commented on #542
ScreenView's default layoutBounds is:

`var DEFAULT_LAYOUT_BOUNDS = new Bounds2( 0, 0, 1024, 618 );`

Sims that currently have custom layoutBounds include:

acid-base-solutions: new Bounds2( 0, 0, 768, 504 )
area-builder: new Bounds2( 0, 0, 768, 464 )
arithmetic: new Bounds2( 0, 0, 768, 504 )
balancing-act: new Bounds2( 0, 0, 768, 504 )
balancing-chemical-equations: new Bounds2( 0, 0, 768, 504 )
b

[2018-12-04 00:14] pixelzoom commented on #542
ScreenView's default layoutBounds is:

`var DEFAULT_LAYOUT_BOUNDS = new Bounds2( 0, 0, 1024, 618 );`

.. which is aspect ratio = 1024/618 = 1.66

Here are all of the sims that use a non-default layoutBounds, grouped by bounds values.

**new Bounds2( 0, 0, 768, 504 ), aspect ration = 1.52**
acid-base-solutions
arithmetic
balancing-act
balancing-chemical-equations
balloons-and-static-electricity
flu

[2018-12-04 01:37] ariel-phet commented on #541
Removing status:blocks-publication

[2018-12-04 03:56] samreid commented on #539
Thanks @jonathanolson and @pixelzoom.  Master is fixed, recent branches are fixed, and we have an open issue to prevent this class of error from happening again.  Since this error was only introduced 6 days ago, it seems unlikely that we have taken other SHAs from master that contain this problem, closing.

[2018-12-04 03:56] #539 closed

[2018-12-04 03:59] samreid commented on #541
To clarify on point (3) from https://github.com/phetsims/joist/issues/541#issuecomment-443910753, it would be relatively easy (an hour or so) to match the location and size of the home screen at the default resolution (when the simulation is exactly at our prescribed aspect ratio), but the behavior would differ from master as the window is reshaped.

[2018-12-04 16:31] pixelzoom commented on #541
If the home screen now needs a navigation bar, why not change the implementation so that it's like the other screens?  And the dev bounds would then stroke the ScreenView's layoutBounds, not the entire home screen.

[2018-12-04 16:44] samreid commented on #541
That sounds great to me, and I recommend we do so.  The only caveat is that we won't be able to exactly match the prior scaling behavior (though we will be able to match how it looks at the default aspect ratio).

[2018-12-04 17:01] pixelzoom commented on #541
I think it would be fine (and in fact preferable) if the contents of the home screen scaled up/down in the same way as the contents of all other screens.

[2018-12-04 17:04] pixelzoom commented on #542
So there are a large number of sims (see above) that have custom layoutBounds with aspect ratio that is different than the default.   The ones with aspect ratio ~1.65 and ~1.67 are presumably fine; the difference won't be visually significant.    The ones with aspect ratio ~1.52 and ~1.57 would need attention.  Graphing Quadratic was formerly in the ~1.57 category (see phetsims/graphing-quadratics

[2018-12-05 17:15] jessegreenberg opened #543 "PhetMenu doesn't work with keyboard"
Probably related to changes in https://github.com/phetsims/scenery/issues/888, using arrow keys on the PhET menu no longer changes focus, and pressing escape no longer closes the menu.

[2018-12-05 17:18] jessegreenberg commented on #543
Just looks like this usage didnt' get the change from DOMEvent -> Scenery Event in the a11y input listener, fixed with the above commit.

[2018-12-05 17:18] #543 closed

[2018-12-06 00:44] arouinfar commented on #540
@mbarlow12 issues can now be transferred from one repo to another, so this issue now lives in joist. (Thanks @KatieWoe!)

This is not a sim-specific issue, and it's somewhat of an edge case, so I don't think it would be publication blocking.

[2018-12-06 02:52] mbarlow12 commented on #540
Thank @arouinfar (facepalm)—it's been a long day :) If I'd just looked at the address bar...

[2018-12-06 02:53] samreid commented on #533
It seems like our decision to work on this should depend on our long-term plans for IE and, in turn, our fraction of IE users in analytics.

[2018-12-06 17:48] jessegreenberg commented on #540
I am not able to reproduce this in Windows 10 Microsoft Edge 42.17134.1.0 with this link: https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-rc.5/phet/coulombs-law_en_phet.html?legendsOfLearning

[2018-12-06 17:50] pixelzoom opened #544 "kebab menu icon"
During 12/6/18 status meeting, @samreid referred to the "shish kabob" menu in the context of PhetButton:

![screenshot_934](https://user-images.githubusercontent.com/3046552/49602020-af5cff80-f944-11e8-9be5-4db3fe826450.png)

Slack discussion ensued:

Chris Malley [10:31 AM]
Shish kabob button? JB and I are interested in why you’re calling it that.

Sam Reid [10:33 AM]
I heard it from someone else

[2018-12-06 18:09] pixelzoom commented on #544
I factored out KebabMenuIcon, used some more descriptive var names in PhetButton, and fixed some doc in PhetButton.  @samreid please take a peek, feel free to close.

[2018-12-06 18:20] pixelzoom commented on #544
I also simplified the Shape description by using `circle` instead of `arc`.  Comparing before and after, they look identical.

[2018-12-06 18:37] arouinfar commented on #542
Thanks for opening this  issue @pixelzoom!

`var DEFAULT_LAYOUT_BOUNDS = new Bounds2( 0, 0, 1024, 618 );`
.. with aspect ratio = 1024/618 = ~1.66

1024x618 is the resolution of a sim with the navbar on an iPad2, which is the standard we've been designing for in HTML5. On sim screens, layoutBounds does not include the navbar, so this is the appropriate aspect ratio. (If we included the navbar, the

[2018-12-06 19:06] jessegreenberg commented on #540
I ran this through the test harness in Edge and could not produce the bug with the above steps:
<details><summary>Test HTML</summary>

[code]
</details>

This indicates that it is not a LoL issue.

[2018-12-06 21:15] rea-laura commented on #234
Also noticed this problem in MacOS 10.14.1 using Safari 12.0.1 while testing https://github.com/phetsims/QA/issues/234.

To Reproduce:
1) open sim
2) using the green expand button in the top left corner, open the window to full screen.
3) resize the window down again using the same green button
4) the downsized sim will now have the menu bar at the bottom cut off

[2018-12-07 18:42] jbphet commented on #541
Scaling of the home screen that is consistent with the other screens also seems good to me, and the consistency may make the code easier to maintain.

[2018-12-09 03:08] samreid commented on #544
Looks great, thanks, closing.

[2018-12-09 03:08] #544 closed

[2018-12-10 18:51] samreid commented on #541
We heard from two developers, which is good!  But it would also be nice to hear from a designer, particularly about whether it is OK to have a different scaling algorithm than we have had previously.  To be specific, we can set up so that the home screen so that at the default aspect ratio it looks the same as it does now, and at different aspect ratios, it would scale like sim screens do (which i

[2018-12-12 21:01] samreid commented on #542
Many of our sims have significant or nontrivial design changes--I would be surprised to see layout numbers from Java translating directly to HTML5.

All sims should be using exactly the same aspect ratio.

I'd like to take this one step further and argue that:

a) All new sim development should use the default ScreenView layoutBounds.

This will ensure consistency across our HTML5 codebase.  When

[2018-12-12 22:59] pixelzoom commented on #542
I said "direct port from Java", which we have previously used to describe a sim that was ported with little or no design changes.  I've done many direct port -- Beer's Law Lab, Concentration, pH Scale, Acid-Base Solutions, RPAL, BCE, Graphing Lines, Molarity, Molecule Polarity... -- and they were all relatively inexpensive to move over because I didn't have to diddle with layout changes.   So whil

[2018-12-12 23:33] samreid commented on #542
Can you speculate how long it would take to update one of your legacy simulations?

[2018-12-12 23:55] pixelzoom commented on #542
WAG 5-15 hours.

[2018-12-13 00:01] pixelzoom commented on #542
If a sim's layoutBounds were changed and you wanted everything to look the same, here are the obvious things that you'd need to change:

* model view transform
* initial position of all model elements
* initial position of all view components
* font sizes
* values for all "dimensional" options: lineWidth, lineDash, cornerRadius, margins, spacing,...

[2018-12-13 17:52] pixelzoom commented on #542
The main disadvantage to using custom layoutBounds seems to be with common-code UI components (like ResetAllButton), where we have a standard size, pointer areas, etc. that we want to use across all sims.   Imo, adjusting a handful of these components is significantly easier than changing layoutBounds for exists sims, or future ports.

Standardizing aspect ratio, on the other hand, is relatively e

[2018-12-13 18:05] samreid commented on #542
Can we also require that new sims use the default layout bounds?

[2018-12-13 18:10] pixelzoom commented on #542
Sims that are not legacy ports should definitely use the default layoutBounds.   For ports, I think that PhET management needs to make that call, based on whether the benefits outweigh the costs (see https://github.com/phetsims/joist/issues/542#issuecomment-446790667).

[2018-12-18 16:36] zepumph commented on #496
@jessegreenberg please review https://github.com/phetsims/joist/commit/80a44cefe8c4cd1ba2013b5630d7f801f39b4240.

[2018-12-18 16:52] jessegreenberg commented on #496
Sorry @zepumph, I just reviewed the above commit it looks very nice. I also reviewed a few single and multi-screen sims and the screen strings look correct. Is anything remaining for this issue?

[2018-12-18 17:49] jonathanolson opened #545 "Show mouse/touch areas for navigation buttons?"
@kathy-phet was curious why the mouse/touch areas for the navigation buttons don't show up with ?showPointerAreas, e.g.:

![image](https://user-images.githubusercontent.com/5096804/50136288-8dbd1b80-0254-11e9-984e-4cde253a2a3f.png)

which is due to the code in NavigationBarScreenButton:

[code]

Should this be changed to use the mouseArea/touchArea setting (instead of a Rectangle, which in this ca

[2018-12-19 00:10] jessegreenberg opened #546 "Limit width of content in KeyboardHelpDialog"
KeyboardHelpDialog currently assumes that its content will keep the width within the dev bounds.  But this means that we generally need to define a max width on the content every time we create a KeyboardHelpDialog. In https://github.com/phetsims/resistance-in-a-wire/issues/203 @jbphet recommended

Assigning to myself to investigate.

[2018-12-19 00:30] jessegreenberg commented on #546
This issue is not specific to KeyboardHelpDialog but all Dialogs. Dialogs don't have knowledge of the dev bounds and are often not attached to a ScreenView so it doesn't seem like a Dialog can do this generally.

[2018-12-19 00:44] jessegreenberg commented on #546
What if we have a supertype KeyboardHelpDialogContent that has a default maxWidth that works well for default layout bounds of ScreenView but can be specified as an option for sims that are not using default layout bounds?

[2018-12-19 00:46] zepumph commented on #546
I found phet.sim.joist.screenBoundsProperty (joist-internal) (read-only). What if we just used a percent of that?

[2018-12-19 01:55] zepumph commented on #546
@jessegreenberg please review. Do you think that this kind of solution could work?

[2018-12-19 17:49] jessegreenberg commented on #546
Ah, I found that Dialog has a layout strategy option that has everything that we need!

[2018-12-19 17:52] jessegreenberg commented on #546
I tested this in RIAW, friction, and coulombs-law. @zepumph can you please review?

[2018-12-19 20:04] zepumph commented on #546
This looks awesome! Well done. I will note in friction, and let you handle RIAW.

[2018-12-19 20:04] #546 closed

[2018-12-19 22:01] pixelzoom commented on #545
Yah, probably. But if we remove `overlay`, we'll need to adjust the horizontal spacing of the buttons.

What do you mean by "in general"?  In general for NavigationBarScreenButton.  In general for all Node, no.

[2018-12-20 01:48] zepumph commented on #536
Just a thought that breaks OO programming, but I thought I'd get it out here (we are all thinking it)

In ScreenView:
[code]

In usage
`if( this.screen.activeProperty.get() )`

[2018-12-20 15:59] jonathanolson commented on #545
I guess it's helpful for the ?showPointerAreas query parameter to be able to display any non-intuitive areas. For example, looking at the navbar buttons, I wouldn't be able to tell where the touch areas would be.

[2018-12-20 17:05] pixelzoom commented on #545
Sorry, I still don't understand.  What are "non-intuitive areas"?  Are you proposing that Nodes without explicit pointer areas should show their bounds as the default pointer areas?

[2018-12-20 17:53] jonathanolson commented on #545
In general, an area that is different than the actual components visual area. In this case, There are two pieces of each component: the text and the icon. However the mouse/touch area expands horizontally, and includes the bottom corners where there is empty space.

I'm considering something similar to this, since it seems to be confusing that certain "nonobvious" things don't show their pointer a

[2018-12-20 22:53] kathy-phet commented on #545
Both Amanda and I noticed that the "Mixed Number" checkbox originally showed now touch area. I had to decide what I thought it would be and requested it to be bigger. It would have been useful to be able to review what it was and not have to guess what it was before deciding if it should be bigger for that component.

[2018-12-27 02:38] pixelzoom commented on #536
This seems to work just fine.  What doesn't this do that you need?

[code]

[2018-12-27 19:10] ariel-phet commented on #545
@ariel-phet says that showing pointer Areas for these navigation buttons is unnecessary (we have never changed them, they are not an issue in interviews, etc) and it is not worth the effort to make this change.

However, we will investigate showing pointer areas for checkboxes, as per @kathy-phet comment in a separate issue.

[2018-12-27 19:10] #545 closed

[2018-12-27 19:18] samreid commented on #533
We decided we would like to remove the SHAs from the report an error URI.

[2018-12-27 19:20] jonathanolson commented on #533
Ideally we should strip out the SHAs (or other information we don't really use), and ideally add in the URL that was run? We can generally get the SHAs from the URL, and it should shorten things.

[2018-12-27 19:35] zepumph commented on #533
@jonathanolson @samreid please review.

[2018-12-29 01:54] zepumph opened #547 "global sound button doesn't work with state wrapper"
I have done no investigation on this, so perhaps all that needs to happen is an instrumentation, but I wanted to document it before forgetting,
![image](https://user-images.githubusercontent.com/6856943/50532124-3d01ba00-0ac1-11e9-85a8-13371aa2ecb8.png)

[2018-12-29 02:14] zepumph commented on #547
Instrumented above, @jbphet can you please review. Does this look alright to you?

[2018-12-30 03:11] pixelzoom commented on #542
If we're OK with standardizing existing sims on aspect ratio only, then...

* Sims with `Bounds2( 0, 0, 1100, 700 )` should be converted to `Bounds2( 0, 0, 1160, 700 )`.
* Sims with `Bounds2( 0, 0, 768, 504 )` should be converted to `Bounds2( 0, 0, 835, 504 )`.

[2018-12-30 03:27] #18 closed, assigned to nobody

[2018-12-30 03:33] pixelzoom commented on #70
This has been handled for awhile by Sim.js, using scenery's `interruptSubtreeInput` feature.  I.e.:

[code]

See also https://github.com/phetsims/scenery/issues/218 and https://github.com/phetsims/joist/commit/b35547e9747cd53d5b3f702ac3caa95a907961d3.

So... closing

[2018-12-30 03:33] #70 closed

[2019-01-01 17:46] jbphet commented on #547
For the most part, it looks reasonable to me.  I do have one question.  I noticed that the name of the property was changed from `enabledProperty` to `soundEnabledProperty`.  Since the property was owned by the `soundManager` singleton, I had thought that `enabledProperty` was clear enough in that context.  Was the "sound" portion prepended because the tandem won't have the context of knowing that

[2019-01-03 03:03] jonathanolson commented on #406
The commits and strategy look good to me. Closing.

[2019-01-03 03:03] #406 closed

[2019-01-03 03:21] zepumph commented on #547
Yes that was my thinking. I think there are two ways to go, keeping in mind that it is convention for the tandem name to match exactly the variable name.

1. The implementation I did, renaming the const only to match the tandem name (I too thought that your naming was just fine for your purposes).
2. Instrument, at least in name, the soundManager such that the tandem looks more like the code: `fri

[2019-01-03 03:35] pixelzoom commented on #536
First,  I thought we were concerned with how to tell if a ScreenView should be active here.  And passing `isActiveProperty` to its constructor means that the ScreenView doesn't care where that Property comes from or what's controlling it.  There is zero coupling between Sim, Screen and ScreenView, all of which are interested in which screen is active.

In terms of generality... Yes, if you wanted

[2019-01-03 03:38] pixelzoom commented on #536
... and passing in `activeProperty` to ScreenView sure seems a lot better than resorting to a global variable, `check phet.joist.sim.currentScreenProperty.value === screenView`, as you're doing now.

[2019-01-03 03:51] jonathanolson commented on #536
Passing in just the Property seems fine.

[2019-01-03 17:53] KatieWoe commented on #540
Found in https://github.com/phetsims/QA/issues/247

[2019-01-03 17:56] samreid commented on #547
`friction.general.soundManager.enabledProperty` sounds more like the sound manager is enabled.  `friction.general.soundManager.soundEnabledProperty` sounds more like the sound is enabled.  In the absence of further information, I'd lean toward the latter.

[2019-01-04 03:56] samreid commented on #538
@arouinfar requested this be completed for wave interference 1.0, coming up soon, for https://github.com/phetsims/wave-interference/issues/32.  Bumping priority accordingly.

[2019-01-07 15:17] rea-laura commented on #533
Also found in https://github.com/phetsims/QA/issues/219
Device: Schrodinger
OS: Windows 8.1
Browser: Internet Explorer 11.0.9600.19155
Only occurs in query parameter ?rtl - all other queries normal.

[2019-01-07 15:17] rea-laura commented on #533
Also found in phetsims/QA#243
Device: Bates
OS: Windows 7
Browser: IE 11
Only found in XHTML version of sim

[2019-01-07 20:06] jbphet commented on #547
Okay, I'm convinced.  Closing.

[2019-01-08 00:20] zepumph commented on #533
So do we need to cherry pick this change into RC branches? Here is the joist sha:
`3fd17c49d440d899dfcb06d2d4bc2061f672d693`

[2019-01-08 00:45] zepumph commented on #547
Just making sure that @samreid is on the same page, since what we actually went with is `friction.general.soundEnabledProperty`, see https://github.com/phetsims/tambo/commit/9e7de6ceff5c4809706452fcd062a06020e97ebb.

@samreid please close if all looks alright.

[2019-01-08 15:53] samreid commented on #547
Looks great, thanks!  Closing.

[2019-01-08 15:53] #547 closed

[2019-01-08 18:56] jbphet commented on #540
@ariel-phet - This issue was discussed today during the sound design meeting with respect to the RC that is in progress for Resistance in a Wire.  No one felt that this issue should block the publication of RIAW, but I thought we should check in with you.  Do you concur?

[2019-01-08 19:18] pixelzoom commented on #538
@samreid said:

What's the ETA?

[2019-01-08 21:37] pixelzoom commented on #357
Dialog has been moved to sun.  This issue should be moved there too.

[2019-01-08 21:39] pixelzoom commented on #359
Dialog has been moved to sun, so I'm going to move this issue to sun, using GitHub's new "Transfer issue" feature.

[2019-01-08 21:51] zepumph opened #548 "This is an issue for sun"
This is an issue to test the "transfer issue" feature. I'm going to move it to sun.

[2019-01-09 22:41] ariel-phet commented on #540
@jbphet I concur, this should not block publication of RIAW

[2019-01-10 23:34] samreid commented on #538
From https://github.com/phetsims/wave-interference/issues/32#issuecomment-453272758

[2019-01-11 18:47] jbphet commented on #540
We've decided that this isn't a blocking issue for publication of sims.  I don't have much experience with the LoL harness, and I don't know how important it is to resolve issues like this, so I'm not sure what should happen with this issue at this point.  I guess I'll assign it to @ariel-phet to prioritize and assign, or maybe just close.  Mentioning @samreid in case he has any input, since I bel

[2019-01-11 19:04] arouinfar commented on #540
In the LoL environment, the teacher has the option to pause the activity for all students, most likely for a quick announcement or class discussion. When a teacher pauses the activity, this is what the students would see:

![image](https://user-images.githubusercontent.com/8419308/51054024-a93bed80-1598-11e9-9d5f-7dc8d7e438d9.png)

This is what the teacher would see:
![image](https://user-images.g

[2019-01-15 05:28] pixelzoom commented on #538
In the above commits, I replaced Sim's `showSmallHomeScreenIconFrame` options with `Screen` option `showUnselectedHomeScreenIconFrame` (default `false`).   This allows us to specify _per screen_ whether the unselected (small) home screen icon should have a frame around it.

This was update in color-vision, gas-properties, states-of-matter (@jbphet), wave-interference (@samreid).

[2019-01-15 06:31] pixelzoom commented on #538
The above commits introduce a new `Screen` options, demonstrated in gas-properties:

[code]

If anyone has a better name for this option, feel free to change it. Though the fact that it's just as awful as `showUnselectedHomeScreenIconFrame` provides some nice symmetry.

Setting `showScreenIconFrameForNavigationBarFill: 'black'` in GasPropertiesScreenView looks like this:

Projector Mode off, no ic

[2019-01-15 06:34] pixelzoom commented on #538
Over to @samreid for review, in case he wants to use this in Wave Interference.   Below is what it would look like (not committed) with `showScreenIconFrameForNavigationBarFill: 'black'`.

<img width="899" alt="screenshot_968" src="https://user-images.githubusercontent.com/3046552/51162842-dd433700-1854-11e9-9139-84db5583388d.png">

[2019-01-16 18:58] Denz1994 commented on #518
This is stable right now and it doesn't look like https://github.com/phetsims/rosetta/issues/197 will be touched anytime soon. I'm going to close this issue and if our conventions change or find a better pattern to follow, I'll revisit.

[2019-01-16 18:58] #518 closed

[2019-01-16 20:38] pixelzoom commented on #536
@jonathanolson is there something else to discuss here for dev meeting, or can this be unlabeled?

[2019-01-16 21:11] pixelzoom commented on #542
This has been on the dev meeting agenda for way too long (12/6), so...

Proposal:

(1) For all new sims, use ScreenView's default `layoutBounds` unless there's a really good reason to use custom `layoutBounds`.   For direct ports a "really good reason" might include a large increase in the cost to adjust model & view to different coordinate frames.

(2) For any new sims that use non-default `layou

[2019-01-17 16:49] jonathanolson commented on #542
I'm not quite clear on the advantage to adjusting sims with different aspect ratios. Is it just so ?dev will always be the same? (It is better to have the dev-tools open in Chrome so that it shows the actual pixel dimensions when resizing, and would be much more reproducible).

So... what is the downside of leaving things as-is?

[2019-01-17 16:51] samreid commented on #542
For example, new `ResetAllButton()` would have a different size in different sims.  Layout dimensions have different meaning in different sims.

[2019-01-17 17:04] jonathanolson commented on #542
That would be an argument for making all of the layout bounds the same (instead of just making them have the same aspect ratio). I understand advantages of everything having identical layout bounds.

[2019-01-17 19:34] oliver-phet commented on #542
@arouinfar See the QA process for taking screenshots: https://github.com/phetsims/QA/wiki/QA-Book#screenshots
We've been using 1536x1008 for screenshots that adhere to the ipad bounds. You probably don't need this high of resolution for teacher tips, so any smaller aspect ratio would work too? 384 x 252?

[2019-01-17 19:43] arouinfar commented on #542
Thanks @oliver-phet. I've gone over this process with @KatieWoe awhile back, so a bigger motivator for standardizing the aspect ratio of the layoutBounds was that it would make it easier to optimize the sim layouts for an iPad. Designers assume that `?dev` is at an iPad aspect ratio, so it was problematic to discover that many sims were not following this expectation.

Glad to know that the defaul

[2019-01-17 19:43] #542 closed

[2019-01-22 15:57] samreid commented on #542
As far I recall, we also decided not to go back through old sims and update their layout bounds.

[2019-01-24 05:00] ariel-phet commented on #540
@KatieWoe considering this only happens on Edge, and considering @arouinfar comments above, I think we can ignore this issue.

Marking as `wontfix` and assigning back to you. Feel free to close and let the QA team know.

[2019-01-24 05:10] ariel-phet commented on #533
@samreid @zepumph I do not think this warrants a Maintenance release, it will basically be picked up by new sims going into RC in the future, and it is minor enough not to worry about IMO. Closing

[2019-01-24 05:10] #533 closed

[2019-01-24 15:54] #540 closed

[2019-01-30 17:30] KatieWoe opened #549 "[Edge] right end of screen can be cut off"
Found during https://github.com/phetsims/QA/issues/276, but is present in any sim.  When the Edge window is very tall and thin, the right edge of the sim can be hidden.  This does not seem to occur if the sim is loaded into a window in this state.  To reproduce:
1. Size edge window so that it is tall and wide, but not full screen
2. load sim
3. Quickly drag right side in so window is tall and thin

[2019-01-30 20:17] oliver-phet commented on #526
I've also been noticing this when opening sims on my phone (I use Chrome). We currently only support Safari on iOS, but maybe we should consider supporting Chrome too?

Here's analytics ytd:

Browser | Sessions | Percent
-- | -- | --
Safari | 461852 | 77.79%
Safari (in-app) | 81427 | 13.72%
Chrome | 50038 | 8.43%
Puffin | 314 | 0.05%
UC Browser | 40 | 0.01%
osee2unifiedRelease | 15 | 0.00%
YaBrows

[2019-01-31 01:15] pixelzoom commented on #534
You haven't provided enough info here. Is `stepSimulationEmitter` functionally equivalent to `frameStartedEmitter` and `frameEndedEmitter`? What is the proposed conversion?

[2019-01-31 01:40] pixelzoom commented on #534
I looked at `stepSimulationEmitter` in Sim.js.   A few things:

(1) Emitter takes a `listener` option, and you're apparently relying on that to be called first.  As I mentioned recently, relying on the order of listeners is (in general) a code smell and an anti-pattern.  And the number of times that I've seen this order dependency leveraged in the past week is alarming. I think this warrants a dev

[2019-01-31 03:38] samreid commented on #534
PhET-iO playback and record warranted introduction of `stepSimulationEmitter`.  We hypothesize that we do not need listeners at the beginning of frame and end of frame and that all usages can be converted to use `stepSimulationEmitter` instead.

Let's discuss `Emitter` listener ordering in another issue such as https://github.com/phetsims/scenery/issues/928

[2019-01-31 03:44] pixelzoom commented on #534
It sounds like you further hypothesized that no one needs `frameStartedEmitter, because `stepSimulationEmitter` is equivalent to `frameEndedEmitter`.  Is that the case?  How am I supposed to accomplish https://github.com/phetsims/equality-explorer/issues/148, which needs to be done _before_ the first `step` happens?

[2019-01-31 03:47] samreid commented on #534
I don't understand why `termCreator.positiveLocation` and `termCreator.negativeLocation` have to be set before `step`.  Would the behavior be different if those values were set at the end of the first step?

[2019-01-31 03:51] pixelzoom commented on #534
It may well be the case that we can get away with performing EqEx's callback at the end of the frame.  That's not the point.  The point is that the callback is work that should semantically be done before the first step, and doing it before the first step ensures that it's further proof.  And the general issue is not whether EqEx can be changed or not.  The issue is that there is a legitimate need

[2019-01-31 03:54] samreid commented on #534
The documentation for that listener says

[code]

So perhaps adding a listener to `sim.endedSimConstructionEmitter` would be more appropriate?

[2019-01-31 03:59] pixelzoom commented on #534
I don't know. The doc tells me that endedSimConstructionEmitter "indicates sim construction completed".  Recommended to replace that with something that actually tells the reader something.

`TermCreatorNode`'s `frameStartedCallback` needs to be called after it has a valid location and before `step`.

[2019-01-31 04:19] pixelzoom commented on #534
Continuing discussion of `endedSimConstructionEmitter` in EqEx in https://github.com/phetsims/equality-explorer/issues/148.

[2019-01-31 13:56] samreid opened #550 "One step() is called before endedSimConstructionEmitter emits"
Discovered in https://github.com/phetsims/equality-explorer/issues/148, the startup sequence ends like this:

[code]

This has the result that `step()` is called once before `endedSimConstructionEmitter`.  This may not cause practical problems, but I wonder if it needs to be swapped to keep things nice and organized.  I'm not sure if any code is relying on this ordering at the moment (I hope not).

[2019-01-31 16:38] pixelzoom commented on #550
My thought its that this is not good - stepping the model and view could cause problems if the scenegraph isn't constructed. Recommended to fix this, but I don't have the time to participate.

Re impact on EqEx... Since this step this also happens before `frameStartEmitter` and `frameEndEmitter` emit, using `endedSimConstructionEmitter` shouldn't be an issue.

[2019-01-31 16:42] samreid commented on #550
The model and views *are* constructed before the first step, but step is called before endedSimConstructionEmitter notifications.

[2019-01-31 16:46] pixelzoom commented on #550
I said:

I spoke too soon.  The change to `endedSimConstructionEmitter` is causing problems. see https://github.com/phetsims/equality-explorer/issues/149.

@samreid said:

Then perhaps endedSimConstructionEmitter needs to be moved earlier (depending on its semantics) or we need another Emitter that signifies "model and view are constructed".

[2019-01-31 18:13] ariel-phet commented on #541
@samreid @chrisklus this designer is signing off that this alternative scaling would be fine. Now that we are out of the January woods might be a good time to polish this work off in the next month or so.

Marking medium priority

[2019-02-01 00:34] zepumph commented on #549
@emily-phet should this block the next publication for friction?

[2019-02-01 20:44] KatieWoe commented on #549
Agreed.  Minor issue and also not unique to friction.  It happens with any sim.

[2019-02-03 00:41] samreid commented on #534
It looks like the `frameEndedEmitter.addListener` usage by PhET-iO is important--we may need to keep that intact.  I wonder if that should be powered by `stepSimulationEmitter.after`.

[2019-02-03 05:36] samreid commented on #550
I committed the proposed fix.  It could cause trouble if some code is relying on one step() being done before doing work on the `endedSimConstructionEmitter` notifications.  But that is hopefully not happening, and if it is, it sounds like it should be repaired.

[2019-02-04 04:04] samreid commented on #538
In the commits for this issue, `'#dddddd'` was added once for `showScreenIconFrameForNavigationBarFill` and again for `showUnselectedHomeScreenIconFrame`.  It is documented as a gray that works well against black.  Should these be factored out into JoistConstants (which doesn't yet exist), or is it important that these vary independently?

[2019-02-04 16:55] pixelzoom commented on #550
I looked at the commit and don't see anything obviously wrong.  I'll leave this assigned to @zepumph in case he wants to also have a look.

[2019-02-04 16:59] pixelzoom commented on #538
In the above commit, I added PhetColorScheme.SCREEN_ICON_FRAME.  Back to @samreid for review.

[2019-02-04 17:43] samreid commented on #538
Changes look good.  I also tested the options in Gas Properties.  No other recommendations at this time, closing.

[2019-02-04 17:43] #538 closed

[2019-02-04 21:57] zepumph commented on #534
From this it may be nice to document a preferred way to add a listener to a frame. Which emitter should be used by default? Is the visibility annotation and documentation clear enough for all of them?

[2019-02-04 22:34] samreid commented on #534
I think most simulations should add a listener by implementing `Model.step` or `ScreenView.step`.  When that is impossible, the `Sim` emitters can be used.  I committed better docs.  Anything else to do here?

[2019-02-04 22:48] pixelzoom commented on #534
@samreid said:

Is something like this what you had in mind?

[code]

[2019-02-04 23:08] samreid commented on #534
Yes, but this is broader than just doing something on the first try.  Normal models and views implement step like this:

From Balancing Act:
[code]

From Hooke's Law:
[code]

Hooking into `Sim` emitters gives callbacks for every screen.  Implementing `step` in a model or view is called only for the selected screen.

[2019-02-05 17:48] samreid opened #551 "State wrapper fails after showing the keyboard help dialog"
@chrisklus and I discovered this problem after https://github.com/phetsims/john-travoltage/issues/327 was fixed.

If you launch John Travoltage in the state wrapper and press the keyboard help button, the downstream sim crashes with this error:

[code]

[2019-02-05 17:51] samreid commented on #551
We previously decided that dialogs are transient and should not appear in the state.  Most of the dialog had this implementation, but a recently introduced `isShowingProperty` did not.  It has been modified accordingly, closing.

[2019-02-05 17:51] #551 closed

[2019-02-06 18:07] zepumph commented on #412
They are now coalesced (commit to come)

[2019-02-06 18:07] #412 closed

[2019-02-07 01:07] zepumph commented on #534
Looks really good. Thank you both.

[2019-02-07 01:07] #534 closed

[2019-02-08 23:26] jbphet opened #552 "Profiler broken"
The profiler isn't working on master.  I investigated a little bit, and it looks like `sim.frameEndedEmitter` is never firing.  I think @samreid has been doing some work related to these emitters (he asked me something about them for the Neuron sim), and he is also one of the primary authors for joist, so I'm assigning to him.

I'm marking this as high priority since it prevents me from being able

[2019-02-08 23:42] samreid commented on #552
I added a commit which should fix the issue, thanks for pointing out this problem.  Let me know if it's resolved.

[2019-02-11 19:21] jbphet commented on #552
Looks great, thanks for the quick fix.  Closing.

[2019-02-11 19:21] #552 closed

[2019-02-21 20:23] zepumph commented on #529
This has been handled in https://github.com/phetsims/interaction-dashboard/issues/107. Closing

[2019-02-21 20:23] #529 closed

[2019-02-28 21:36] pixelzoom opened #553 "PhET-iO feature for how long student has been using the sim"
In https://github.com/phetsims/graphing-quadratics/issues/112 and https://docs.google.com/document/d/1OfHhIDuaBt-hhXVtpnJgM3Wm0iByJ7dmXd-2UkphUR4/edit#, General "featured" requirements included:

| Use cases: Instructional designer and developer that works with them |  How to implement (PhET-iO ID)  |
| :---- | :---- |
| Something related to time? To know how long student has been using the sim? (

[2019-02-28 21:44] pixelzoom opened #554 "PhET-iO instrumentation of PhET menu"
In https://github.com/phetsims/graphing-quadratics/issues/112 and https://docs.google.com/document/d/1OfHhIDuaBt-hhXVtpnJgM3Wm0iByJ7dmXd-2UkphUR4/edit#, the Navigation section has requirements related to the PhET menu.  This section applies to all sims and needs more discussion.

Here's what it looked like on 2/2/28:

<img width="736" alt="screenshot_1094" src="https://user-images.githubuserconten

[2019-02-28 22:21] zepumph commented on #553
A few more thoughts on this. In the interaction dashboard @DianaTavares created a similar metric, and decided to tie it to the length of time that the student was "interacting" with the sim. For this particular case we defined the start time as the first time that the student clicked in the sim, and the end time as the last time the student clicked.

All of this logic was done in the post processi

[2019-03-01 02:43] samreid commented on #553
If we make these to be type NumberProperty with phetioState: false and phetioDataStream: false, it could make it very easy to develop/debug/understand them, by observing them dynamically updating in studio.

[2019-03-06 01:22] #550 closed

[2019-03-11 21:02] KatieWoe commented on #519
This hasn't been an issue in awhile.  If @arouinfar agrees I think this can be closed.

[2019-03-11 21:57] arouinfar commented on #519
Luckily I haven't run into this issue in a very long time, so I think we can go ahead and close it @KatieWoe

[2019-03-11 21:57] #519 closed

[2019-03-27 22:41] zepumph commented on #553
It seems clear that this will need more discussion before any dev/implementation. Marking for meeting.

[2019-04-03 05:00] samreid commented on #541
Here's a solution that matches the layout for the default aspect ration or thinner.  For wider than the default aspect ratio, the old layout scales more because it had more vertical space to fill out.

[code]

I didn't commit this because it is not exactly the strategy proposed in https://github.com/phetsims/joist/issues/541#issuecomment-444164682 about actually adding the navigation bar to the ho

[2019-04-03 05:10] samreid commented on #541
I checked tambo, and noted that the sound and keyboard icons are visible on the homescreen even though there is no navigation bar there.

Therefore, I recommend that we commit the proposal from https://github.com/phetsims/joist/issues/541#issuecomment-479340327 and mark as blocks-publication until that's been reviewed.  That is a minimal change that addresses the problem raised by this issue.  The

[2019-04-03 05:15] samreid opened #555 "Should the homescreen leverage the navigation bar implementation?"
In https://github.com/phetsims/joist/issues/541#issuecomment-444164682 it was proposed that we leverage the navigation bar implementation for showing the content in the bottom right of the home screen.  This includes (but may not be limited to) the PhET button, sound icon, keyboard icon.  Note on the home screen, the title and screen icons should not be shown at the bottom of the screen.

We expec

[2019-04-05 17:57] samreid commented on #555
This work was already completed in https://github.com/phetsims/joist/issues/503, closing.

[2019-04-05 17:57] #555 closed

[2019-04-05 18:22] chrisklus commented on #541
@samreid and I reviewed his committed change from above, and found that the home screen scaling is identical to the previous home screen when window size of the sims aspect ratio is used, and when the layout is constrained in the x-direction. When the layout is constrained in the y direction (short and wide view), the scaling matches sim screen behavior instead of the previous home screen.

We als

[2019-04-05 18:22] #541 closed

[2019-04-10 20:35] zepumph commented on #553
This won't break backward compatibility, so we shouldn't mark this as blocking.

[2019-04-10 22:48] pixelzoom commented on #553
It's blocking because it's a requirement for Graphing Quadratics, specifically requested in https://github.com/phetsims/graphing-quadratics/issues/112 and the 3rd row of the spreadsheet in https://docs.google.com/document/d/1OfHhIDuaBt-hhXVtpnJgM3Wm0iByJ7dmXd-2UkphUR4/edit#.

[2019-04-12 16:09] samreid commented on #362
In https://github.com/phetsims/axon/issues/222 we'll be converting this to a strategy that uses `Property` and `multilink` instead of `Emitter` and `addListener`.  I tested the steps above and found that `Property`/`multilink` has the correct behavior.

[2019-04-13 21:48] arouinfar opened #556 "Show pointer areas for all UI components?"
Related to https://github.com/phetsims/QA/issues/295.

@arouinfar:

@kathy-phet:

The following sims contain at least one UI component without `pointerAreas`.
* https://github.com/phetsims/under-pressure/issues/147
* https://github.com/phetsims/forces-and-motion-basics/issues/278
* https://github.com/phetsims/john-travoltage/issues/331
* https://github.com/phetsims/gravity-force-lab/issues/153
* h

[2019-04-18 17:06] ariel-phet commented on #556
Will be discussed in https://github.com/phetsims/sun/issues/426

[2019-04-18 18:28] zepumph commented on #553
If it was a design feature for that sim, it is likely wanted/needed for all sims.

[2019-04-24 16:30] samreid opened #557 "Duplicated code between AboutDialog and UpdateDialog"
While working on https://github.com/phetsims/phet-io/issues/1454, @chrisklus and I noticed a significant amount of duplicated code between AboutDialog and UpdateDialog:

![image](https://user-images.githubusercontent.com/679486/56676540-bbd7bf80-667b-11e9-9c3d-5afa5b618711.png)

![image](https://user-images.githubusercontent.com/679486/56676559-c85c1800-667b-11e9-9e62-13be51538d94.png)

We are loo

[2019-04-24 16:42] samreid opened #558 "AboutDialog should be created during startup"
From https://github.com/phetsims/phet-io/issues/1454, we would like to simplify the PhET-iO API by creating the about dialog during startup.  But we would also like to postpone network activity until the dialog is shown, if that is not too much trouble.

Mentioning @jonathanolson because this overlaps with #557

Also, we should check that this doesn't put too much additional burden on the heap or

[2019-04-24 17:10] pixelzoom commented on #553
Sorry that I wasn't clear in the first comment of this issue.  This feature was identified during PhET-iO design for Graphing Quadratics, and it was decided that this feature is desired for all sims.  The purpose of this issue is to design the feature for all sims.

[2019-04-25 00:30] pixelzoom commented on #558
This is a slippery slope.  Dialogs should generally be created on demand, and eagerly creating the About dialog doesn't address the problem generally.  Are we also going to create the (optional) Options dialog?  What are the alternatives?

[2019-04-25 00:32] pixelzoom commented on #558
I'm confused. Reading https://github.com/phetsims/phet-io/issues/1454, it sounds like there's an intention to "support instrumented element that is dynamic/lazily created".  Why is that not applicable to the About dialog?

[2019-04-25 03:17] samreid commented on #558
Why?  Do they incur too much CPU time during startup?  Too much memory usage on the heap?  Better programming practice?  Other runtime considerations?

The strategy we used for Group is to provide an archetypal element that completely describes the PhET-iO structure/api (subtandems and all) for members of the group.  If we apply that pattern to dynamic/lazily created elements, then we might end up

[2019-04-25 05:25] pixelzoom commented on #558
We are not creating everything eagerly, we are creating the initial state of all screens eagerly.

We create screens eagerly because the time delay to create and switch to a new screen was determine to be (in general) unacceptable.  It's assumed that students will visit each screen, and we decided that it was a preferable UX to have the cost to create all of the screen incurred on startup.

Requir

[2019-04-25 15:30] samreid commented on #558
Some ideas on the spectrum from easy to difficult:

1. Dynamic things are uninstrumented.  They are not customizable and we don't get data stream for them
2. Dynamic things are converted to static, created eagerly.
3. Dynamic things are created eagerly during baseline creation, but not during the sim runtime

For the latter: if we reuse the same code for creating the "prototypes" as the real insta

[2019-05-02 17:36] samreid commented on #553
Discussion May 2:

@ariel-phet recommends defining a threshold of activity.  Activity below the threshold doesn't count toward used time.  We can provide a default, the client can give a different threshold.  A query could tell you the click rate during a period of time.
@kathy-phet says we want "sim open" time and "sim active" time.
We also need to know if the sim tab is the active tab.
This coul

[2019-05-02 17:40] zepumph commented on #553
From the discussion, it is clear that we are interested in creating a system based on three areas:
* Time (likely an option to determine how large the histogram "bin" should be
* Activity - "clicks" were tossed around as a possibility, but maybe there is another/more complex proxy for engagement. The more specific/complex we get, the less likely we are to have all clients interested in it.
* Scree

[2019-05-02 17:41] zepumph commented on #553
Also here is a link that @jbphet had to a paper on engagement:
http://hypermedia468.pbworks.com/w/file/fetch/82070534/Wiebe%20et%20al.%20%282014%29%20Measuring%20engagement%20in%20video%20game-based%20environments.pdf

[2019-05-02 17:46] jbphet commented on #553
I just did a quick search, and a number of people have done research on user engagement measures.  Here are a few that looked somewhat promising to me:

+ http://hypermedia468.pbworks.com/w/file/fetch/82070534/Wiebe%20et%20al.%20%282014%29%20Measuring%20engagement%20in%20video%20game-based%20environments.pdf
+ https://dl.acm.org/citation.cfm?id=1358909
+ http://ir.dcs.gla.ac.uk/~mounia/Papers/umap

[2019-05-06 16:53] ghost opened #559 "Screenshot button in PhET menu prompts alert saying webpage trying to open popup"
Found while doing testing for phetsims/QA#313. Seen on iOS 9.3.5 + XHTML version.

I've only seen this once and I can't reproduce.

[2019-05-06 18:49] KatieWoe opened #560 "Debug freezes"
While running fuzz test on https://github.com/phetsims/QA/issues/297 I noticed that the window froze after ~20 min.  Happened with another sim as well, so likely not specific to this sim.
![freezes](https://user-images.githubusercontent.com/41024075/54706871-8a605700-4b05-11e9-9b85-85d3fd8c8b1f.jpg)

[2019-05-09 00:31] zepumph commented on #553
In the above commits we added a basic structure to monitor engagement. @chrisklus and I called it ActivityMonitor, and contains an instrumented Property that can be called on for the current state of activity. Right now we only implemented it based on screen and time, more engagement metrics to come!!

[2019-05-09 02:02] zepumph commented on #553
After discussing further with @chrisklus and @samreid, we decided on the following data structures as a "base" for the data calculations:

[code]

where screen is the screenIndex, and time is the total elapsed time of the sim running.

We discussed thoroughly whether or not we should use `Date.now()` vs `phet.joist.elapsedTime`, settling on elapsedTime, but not strongly. We were wondering if perha

[2019-05-09 17:20] chrisklus commented on #553
Just to make sure we're on the same page, it was my understanding that part of the purpose of having a separate structure for screen time (in the way that it is) was so we could store clicks as simply as:

[code]

[2019-05-09 17:35] kathy-phet commented on #553
I thought we had decided or discussed maybe to not store raw clicks? But just a Boolean engaged or not each second?

Kathy

Sent from my iPhone

On May 9, 2019, at 10:20 AM, Chris Klusendorf <notifications@github.com<mailto:notifications@github.com>> wrote:

Just to make sure we're on the same page, it was my understanding that part of the purpose of having a separate structure for screen time (in

[2019-05-09 17:46] chrisklus commented on #553
Right - most definitely. To start off, we are going to use mousedown events as the data for calculating engagement. This is a simple way to set up the structure that's going to allow for dynamically adjustable binning. Once we have that working, we can adjust the data/parameters that contribute to the overall state of engagement per time unit.

[2019-05-09 23:03] pixelzoom opened #561 "stepSimulationAction doesn't do frameEndedEmitter.emit"
This seems very odd:

[code]

Why aren't `frameStartedEmitter.emit()` and `frameEndedEmitter.emit()` both inside the function executed by `stepSimulationAction`?  This looks like a problem, especially since `stepSimulationAction` is public. If a client calls `stepSimulationAction.execute`, who handles `frameEndedEmitter.emit`?  Please explain and document.

[2019-05-11 04:09] samreid commented on #553
I have significant improvements for this issue but I'll wait to commit until I can be around to monitor CT.  If you want to move forward before I commit, ping me and I'll synchronize with you.

[2019-05-11 15:34] samreid commented on #553
Lint is passing, grunt is passing, I'm able to launch this wrapper in built and requirejs mode, and wrapper unit tests are passing for Graphing Quadratics.  Aqua shows no systemic issues for phet brand.  I'll commit and check on CT.

[2019-05-11 15:40] samreid commented on #553
Some notes from collaboration with @chrisklus yesterday:

1. If we pre-bin or pre-compute measures, we are locked into a particular strategy and cannot, for example, change the bin width dynamically.  We considered storing a subset of metadata from the events but realized it is simpler and clearer to store the events themselves.
2. If we are storing events incrementally in the simulation side, thi

[2019-05-11 15:52] samreid commented on #553
@zepumph how would you set it up to process recorded events?  Would you use interaction dashboard or the playback wrapper as a starting point?  Or do we need a "playback wrapper template"--minimal demo of how to stream recorded events for processing?

[2019-05-11 16:36] kathy-phet commented on #553
Sam, Chris - I agree that it could be quite nice to provide clients with a wrapper starter that had flexible metrics for them to customize, but I think there is high value in having a simplified API command that provides a summary statistics of student use and is not storing raw metrics or using a wrapper approach.  So a solution that avoids looking like a "memory leak" and has a predetermined arr

[2019-05-13 02:58] samreid commented on #553
Sounds good, we will investigate that strategy in our next session.

[2019-05-13 03:01] samreid commented on #561
I cannot recall whether this was intentional to support the playback wrapper (and will need to remain as it is), or if it is vestigially asymmetrical (and the `frameEndedEmitter` could be moved into the `Action`).  @zepumph do you know offhand, or shall we investigate?

[2019-05-13 17:44] jessegreenberg opened #562 "branch: browserZoom"
In support of initial investigation for phetsims/scenery#175, to see if we can leverage the browser to support zoom and magnify. Expecting changes in scenery, joist, and chipper, each which will require a branch like this one. For more documentation, please see phetsims/scenery#175.

[2019-05-15 20:12] jessegreenberg opened #563 "branch: customZoom"
A branch to explore custom panning/zooming of Sim.js. Changes are part of https://github.com/phetsims/scenery/issues/974. This is an alternative to #562 where we explored pan/zoom/magnify done natively with the browser. This branch uses PanZoomListener to do this in a custom way with Scenery.

[2019-05-15 21:36] zepumph commented on #553
Part of this work led us to https://github.com/phetsims/phet-io/issues/1464, because the data stream should have the same api on the sim and wrapper side.

[2019-05-16 01:33] zepumph commented on #553
@chrisklus and @zepumph with initial help from @samreid implemented a basic version of what @kathy-phet mentioned in https://github.com/phetsims/joist/issues/553#issuecomment-491525826. Currently it is only stats for the whole sim, not split on screen. The main improvement is that, although it is in the sim frame, it is totally based on the data stream, and the same exact logic could be used by th

[2019-05-19 08:34] samreid commented on #553
In the above commits, I added a brute-force calculation of screen-specific time by accumulating dt values every frame.  It seems to work correctly, but I wonder if @zepumph had a more sparse approach in mind, like was implemented for the total sim time.  Not sure this is a performance issue though.

[2019-05-22 17:25] samreid commented on #558
We measured the size of the about dialog to be about 1MB, so we would like to create it lazily.  Not sure what approach to use, it will depend somewhat how we want to see it in Studio, which is a question for PhET-iO design meeting.

@chrisklus says maybe the about dialog could be streamlined to not take up 1MB.

[2019-05-23 00:52] zepumph commented on #553
The phet-io team worked on this today, and made quite a few improvements. Here is what the schema looks like now:
[code]

The "sim" stats are created from the individual screens. We also have support for if there is no home screen. We implemented this in the sim side. I also poked around with getting the chart to update based on these metrics, but gave up quickly because I didn't quite understand

[2019-05-23 17:31] samreid commented on #558
@kathy-phet suggests: let's not instrument the About Dialog for now.  We can take time to make sure we design Group and/or Lazy things properly.

[2019-05-23 17:34] zepumph commented on #558
Note that this will currently break phet-io/a11y together, see `Display.focus` setter:

[code]

[2019-05-23 19:49] zepumph commented on #558
In the above commits I made the following changes:
* Uninstrumented AboutDialog
* Add phetioComponentOptions to other menu items (from https://github.com/phetsims/phet-io/issues/1420, I made all the menu items consistent)
* Relax the assertion that all focusable elements need to be phet-io instrumented, and tweak a few bugs found about focus related to https://github.com/phetsims/scenery/issues/86

[2019-05-24 22:07] zepumph commented on #553
Today in a phet-io timeline meeting, we decided to defer this until after this first GQ publication.

[2019-05-25 00:38] zepumph commented on #553
I commented out the engagement related code above.

[2019-05-25 01:21] samreid commented on #558
Are values for `phetioIDIndices` ever read or used by anything?  Or is that for data stream output only?

[2019-05-25 16:18] zepumph commented on #558
Just for data stream output. Focus changes are downstream of Keyboard related input actions, so a11y input record playback works largely the same way as traditional input.

[2019-05-25 22:50] samreid commented on #558
`TARGET_SUBSTITUTE_KEY` is difficult for me to understand.  For example:

[code]
Why is `'target'` the appropriate substitute?  What does it mean?  When/why is this code (i.e. `deserializeDomEvent`) called?

Other changes look good, I'm just trying to understand the changes in Input.js better.

[2019-05-30 00:40] zepumph commented on #558
`event.target` is a read-only field that the browser set's on an event. It is very important for a11y input that we know what HTML element received the event. This is because in the PDOM to go from HTMLElement -> Node, we keep the TrailID (string) as a data attribute on the HTMLElement. When serializing the event, we make sure to keep track of the trailID from the target:
![image](https://user-ima

[2019-06-04 22:56] jessegreenberg commented on #140
This bug or something very much like it has come back.  At first we weren't able to produce the bug anywhere other than ohms-law but I think it is because we weren't waiting long enough. Verified on master of ohms-law, resistance-in-a-wire, and gravity-force-lab-basics. @KatieWoe reported that this does not happen in published resistance-in-a-wire. Here was the initial report: https://github.com/p

[2019-06-04 22:58] jessegreenberg commented on #140
I am assuming this blocks publication, adding label.

[2019-06-04 23:15] samreid commented on #140
I tested Ohm's Law master/requirejs on Mac Safari Version 12.1 (14607.1.40.1.4) running Mac OS 10.14.4.  I used the sim for 10 seconds, then set a timer for 2 minutes and waited.  After 2 minutes, I resume usage and there was no pause and the sim continued normally.

[2019-06-05 00:10] jessegreenberg commented on #140
Thanks @samreid. @KatieWoe initially reported this again on Mac 10.14.5 Safari 12.1.1 and @jbphet saw this on OSX version 10.10.5, Safari version 10.1.2

[2019-06-05 00:16] jessegreenberg commented on #140
@samreid suggested taking a look at the developer tool "timeline" in Safari to get any clues as to where time is being spent, @KatieWoe if you have time for this we could try to get that info together.

[2019-06-05 15:29] KatieWoe commented on #140
Was not able to reproduce on blackbody spectrum.  Either the rc or on master.

[2019-06-05 16:44] jessegreenberg commented on #140
@KatieWoe and I met to try get information out of the developer tool "timeline" but we could not see the bug when the developer tools were open. Here is a summary in order of what we tried, all tests were with blackbody-spectrum off of master.

- We tried without a11y and did not see the problem
- We tried with a11y and did see the problem
- We tried again with a11y again and did see the problem
-

[2019-06-05 16:47] jessegreenberg commented on #140
Adding developer meeting label in case anyone else has ideas for what to try next.

Also assigning to @ariel-phet so he is aware of this issue and to confirm that this is a priority that needs to be worked on further.

[2019-06-05 18:04] jonathanolson commented on #140
Does the "classic" style heartbeat div fix the issue?

[2019-06-06 18:49] jbphet commented on #140
This sounds a bit like the delays that we were seeing in https://github.com/phetsims/scenery/issues/621. @samreid will check to see if this is related.

[2019-06-06 18:52] jbphet commented on #140
@jessegreenberg - @jonathanolson and I have a couple of suggestions above, and we discussed in dev meeting and no other immediate ideas came up.  Back to you for now.

[2019-06-06 18:53] samreid commented on #140
I set to integrated graphics card and was still not able to reproduce the problem.

[2019-06-08 00:11] zepumph commented on #558
Removing from blocks publication.

[2019-06-13 21:23] zepumph opened #564 "NavigationBar tandem should be nested under `general`"
I made a slack poll, and it seems like this should be done.

[2019-06-14 02:24] jessegreenberg commented on #140
Thanks for reviewing all. I am able to see this issue on a macOS Mojave 10.14.5 at https://phet-dev.colorado.edu/html/ohms-law/1.4.0-rc.3/phet/ohms-law_en_phet.html. I will try the "classic" heartbeat div recommended in https://github.com/phetsims/joist/issues/140#issuecomment-499192420.

[2019-06-14 03:49] jessegreenberg commented on #140
I am able to see this very consistently with ?a11y enabled and I am never able to see this without it, so I am pretty convinced this is caused by a11y somehow. I confirmed that even with a11y enabled the problem does not happen when recording with the "Timelines" Safari tool.

[2019-06-14 19:57] jessegreenberg commented on #140
I found two ways to fix this issue in AccessibleSiblingStyle.js: Add `z-index: -1` to the PDOM root, or position elements of the PDOM with `absolute` rather than `fixed`. Both changes work with desktop and mobile screen readers. I don't understand what is happening here yet. Putting z-index=1 on the heartbeat div does not solve the problem.

But `fixed` does not seem like the correct portioning at

[2019-06-14 20:44] jessegreenberg commented on #140
I asked @KatieWoe to try to produce the bug with this version with the fix and she could not: https://phet-dev.colorado.edu/html/ohms-law/1.5.0-dev.3/phet/ohms-law_en_phet.html. This issue is fixed again, closing.

[2019-06-14 21:03] zepumph commented on #564
@samreid I made the changes above. Please review

[2019-06-16 22:27] jessegreenberg commented on #140
Reopening. https://github.com/phetsims/scenery/issues/981 identifies why 'fixed' positioning is important for a11y, PDOM elements are positioned relative to the viewport. So we either need to go with the `z-index` workaround or change the way PDOM elements are positioned.

I am going with the z-index solution for now, I don't think it is worth changing our approach since this workaround is availab

[2019-06-17 17:20] jessegreenberg commented on #140
I verified several times on macOS 10.14.5 that this is fixed.

[2019-06-17 17:20] #140 closed

[2019-06-24 15:06] samreid commented on #558
Remarking as blocks publication because this seems it should be done for GQIO11

[2019-06-24 15:13] samreid commented on #558
@chrisklus and I reviewed the changes and have a better understanding of `TARGET_SUBSTITUTE_KEY`.  We think this issue can be closed.

[2019-06-24 15:13] #558 closed

[2019-06-24 15:44] samreid commented on #564
@chrisklus and I reviewed the changes and agree this looks good.  Still, we are wondering if it needs @kathy-phet to sign off because it changes our previously prescribed tandem structure for the nav bar.  I'll mark for quick discussion in an upcoming PhET-iO meeting.

[2019-06-24 23:19] jonathanolson opened #565 "branch: connectionTest"
Temporary work to support https://github.com/phetsims/phet-ios-app/issues/484

[2019-06-26 18:28] samreid commented on #564
@kathy-phet reviewed this and said it seems fine, closing.

[2019-06-26 18:28] #564 closed

[2019-07-09 19:19] samreid opened #566 "How should tab navigation work after selecting a different screen in the navbar?"
While working on https://github.com/phetsims/wave-interference/issues/412 I noticed the following pattern.  Assume that Screen 1 has the following tab traversal order, for, say 8 focusable items in Screen 1 and 9 things in Screen 2:
Screen 1: 1, 2, 3, 4, 5, 6, 7, 8, navbar.home, navbar.1, navbar.2, keyboard button, phet button.
Screen 2: 1, 2, 3, 4, 5, 6, 7, 8, 9, navbar.home, navbar.1, navbar.2,

[2019-07-09 19:44] KatieWoe opened #567 "Some sims will activate home screen buttons when you right click"
I noticed that some sims would either make a small screen icon big, or take you into a screen if the icon is big, if you right click on it.  This is normally only the behavior if you left click on those buttons.  Right clicks do not seem to activate any portion of the screens themselves from what I have so far observed.  It does happen on gravity and orbits and not on energy forms and changes  If

[2019-07-09 19:47] samreid commented on #567
Also adding @jonathanolson since scenery handles the left/right mouse buttons.

[2019-07-09 19:56] ariel-phet commented on #567
@KatieWoe can you identify when this bug went away? I think there might be a way to see the publication date of sims, certainly all the sims on the  "new sims page" don't seem to have this bug, and it sounds like it is not appearing in master, so I am tempted to mark as `wontfix`

[2019-07-09 19:58] KatieWoe commented on #567
I'll take some time when the repo is a bit more clear and look for the latest sim to have the problem.

[2019-07-09 20:14] jessegreenberg commented on #566
My understanding is that keeping focus on "navbar.2" is the most typical behavior for a web application. It would be expected to go through the address bar when moving forward to the top of the page. It would be less intuitive to have focus removed or moved somewhere else. A11y guidelines typically warn against moving focus unnecessarily because it can be disorienting for the user.

Moving focus o

[2019-07-09 21:17] zepumph commented on #566
I agree with @jessegreenberg, though understand why this issue was created. I also defer to @terracoda's thoughts on the matter.

[2019-07-09 21:40] samreid commented on #566
I agree automatically transferring focus seems disorienting and I'm not recommending that.  What about a strategy like this: when you press "Tab" after changing screens in the navigation bar, the next focused item is (a) the first item in the screen instead of (b) the next item in the navigation bar?

[2019-07-09 22:05] KatieWoe commented on #567
Here is a list of sims that are affected.  Some other only have one screen, so they might have the code bug, but not show it.
Acid Base Solutions
Area Builder
Area Model Algebra
Area Model Introduction
Area Model Multiplication
Arithmetic
Balancing Act
Beer's Law Lab
Bending Light
Build an Atom
Capacitor Lab Basics
Circuit Construction Kit DC
Color Vision
Energy Skate Park Basics
Equality Explorer

[2019-07-09 23:35] ariel-phet commented on #567
@KatieWoe thanks

Considering that the bug appears fixed in master, and it is unlikely to be pedagogically damaging (really the main purpose of the homescreen is to navigate to the sim), I think we can close this issue. It is a good find, but I am going to mark this as `wontfix` as it does not seem worth the resources to track it down and perform a maintenance release.

[2019-07-09 23:35] #567 closed

[2019-07-11 09:50] terracoda commented on #566
@samreid, if we treat the list of screens like a tablist, which I think is exactly the kind of interaction widget that it is. The screen buttons activate a screen just like a button in a tablist would activate a  tab panel.

Once a screen is active pressing the tab key should go to the first focus-able thing in the screen (i.e., tab panel). The arrow keys would be used to go between the list of sc

[2019-07-11 09:56] terracoda commented on #566
@samreid, @jessegreenberg, and @zepumph for examples see
https://www.w3.org/TR/wai-aria-practices-1.1/examples/tabs/tabs-1/tabs.html

[2019-07-11 09:57] terracoda commented on #566
And we do "manual activation" on the screen buttons - not "auto activation".

[2019-07-11 15:30] jessegreenberg commented on #566
@samreid @terracoda that is an interesting idea, I like that better than moving focus. However, I still think it runs the risk of being disorienting and it feels like we are trying to predict what the user intends to do. For instance, what if the user does want to move to the next screen button and click that one just to see what is there before going through an active screen?

Would the order cha

[2019-07-12 14:37] jessegreenberg commented on #566
We discussed this during a meeting on 7/12/19:

Design for the navigation bar was previously explored in https://github.com/phetsims/a11y-research/issues/45. That was implemented and discussed further in https://github.com/phetsims/joist/issues/462.

@terracoda agreed with @samreid that it would be ideal if the next focusable item in the sim was the first focusable item in the screen after activat

[2019-07-12 20:11] zepumph commented on #561
We converted the logic to use the action in https://github.com/phetsims/joist/commit/ccfd0c4ec8651d93d41c4d8dd7887429293abf3e#diff-1a1c3747494feba507339d0cc74ad5caL895.

Then it was swapped over to the stepSimulation call (instead of the action) in https://github.com/phetsims/joist/commit/c7b3da273f3813c7f7cef2d057dd78f65f5e8ee8.

This looks very safe to move over. Good find @pixelzoom. @pixelzoom

[2019-07-13 21:20] pixelzoom commented on #561
👍 closing.

[2019-07-13 21:20] #561 closed

[2019-07-15 03:01] samreid commented on #566
Sounds like a good plan, thanks!

[2019-07-17 22:17] pixelzoom opened #568 "change API for OptionsDialog content"
Over in https://github.com/phetsims/tandem/issues/96#issuecomment-512588509, I noted that the OptionsDialog is created as tandem `general...phetMenu.optionsDialog`.  But there's no way to get that tandem to use as the parent for the dialog's content.

The API for creating the Options dialog is to provide `options.optionsNode` to `Sim` constructor, and OptionsDialog is automatically with that conte

[2019-07-17 22:37] pixelzoom commented on #568
Looks like we have 14 sims that use the `optionsNode` option.

[2019-07-18 02:34] pixelzoom opened #569 "change ProjectorModeCheckBox API"
Now that we have Tandem.global and it shows up in Studio (courtesy of https://github.com/phetsims/tandem/issues/94), I see that there a conflict between ColorProfile's `profileNameProperty` (a string) and GasPropertiesGlobalOptions `projectorModeEnabledProperty` (a boolean).  Both Properties are `phetioReadOnly: false`.

If the client sets `profileNameProperty` to `'projector'`, then `projectorMod

[2019-07-18 02:38] pixelzoom commented on #569
Top priority, this must be addressed before gas-properties begins testing.

[2019-07-18 02:38] pixelzoom commented on #569
Top priority, this must be addressed before gas-properties begins testing.

[2019-07-18 02:50] pixelzoom commented on #569
Proposal to address this issue.

(1) Add this field to `ColorProfile`, so that we can verify that it has 'projector' profile:

[code]

(2) Change constructor of `ProjectorModeCheckBox` to include the ColorProfile, so that we can sync with it:

[code]

Add this assertion to `ProjectorModeCheckBox` constructor, to verify that the ColorProfile has a profile named 'projector':

[code]

Add this in `Pr

[2019-07-18 02:53] pixelzoom commented on #569
And yes, it would be nice not to be copying `'projector'` and `'default'` everywhere, but that's a more pervasive problem that this issue is not trying to solve.

[2019-07-18 03:01] pixelzoom commented on #569
Here's how I'm currently working around this in Gas Properties, see `GasPropertiesGlobalOptionsNode`, the content for the Options dialog.

[code]

[2019-07-18 04:25] pixelzoom commented on #569
Even simpler.... Make `projectorModeEnabledProperty` private to `ProjectorModeCheckBox`.  There's no need for it other than to pass to the Checkbox.  The client should only have to pass in a ColorProfile that has exactly 2 profiles, named 'default' and 'projector'.

[2019-07-18 04:38] pixelzoom commented on #569
There are 8 sims that use `ProjectorModeCheckbox`.

[2019-07-18 05:04] pixelzoom commented on #569
I did a rewrite of ProjectModeCheckbox and tested it in the context of Gas Properties.  It seems to work nicely.  And it looks relatively easy to modify in the other 13 sims that use ProjectModeCheckbox.

Here's the proposed rewrite of ProjectModeCheckbox:

<details>
<summary> ProjectModeCheckbox.js</summary>

[code]

</details>

Here's a patch that includes the changes to ProjectorModeCheckbox, C

[2019-07-18 05:25] samreid commented on #569
I don't know all the context for this, but it seems like part of the solution is like a bidirectional version of `DerivedProperty.valueEquals`.  Not sure if we can build one of those using `DynamicProperty` or not.  Or even if there is common code to support this kind of mapping, maybe the proposed implementation is clearest, I'm not sure.

[2019-07-18 16:02] pixelzoom commented on #569
I started down the path of using `DynamicProperty`, but it seemed unnecessary complicated and obfuscating.  And contrary to the code comment, we will probably need to instrument the internal `isProjectorModeProperty` because I believe Checkbox requires it to be instrumented,.

[2019-07-18 18:55] samreid commented on #569
We agreed this is going in a good direction.  After this is committed and complete, @pixelzoom will reassign to @jbphet for review.

[2019-07-18 19:11] samreid commented on #568
We reviewed this at today's meeting and it seems like a good pattern.  @pixelzoom will proceed.

[2019-07-20 21:19] pixelzoom commented on #569
A couple of changes from `ProjectorModeCheckbox` API proposal in https://github.com/phetsims/joist/issues/569#issuecomment-512665977 were necessary:

(1) I had to add `options.defaultColorProfileName`, since molecule-shapes-basics uses a specific profile ('basics') as its default.

(2) I instrumented internal Property `projectorModeEnabledProperty` because Checkbox expects its associated Property

[2019-07-20 21:24] pixelzoom commented on #569
I just realized that @jbphet unavailable until 7/29/19, and this should really be reviewed with high priority.  @samreid since you had a look at the proposal, would you mind reviewing?  If you don't have time, feel free to assign to @ariel-phet.

[2019-07-20 22:46] pixelzoom commented on #569
Please ignore the commit between this comment and the previous comment.  They were incorrectly associated with this issue, and are for https://github.com/phetsims/joist/issues/568.

[2019-07-20 22:52] pixelzoom commented on #568
The API change was completed in the above commits.

Note that 3 sims were creating the OptionDialog's content with phetioID "globals.options": blackbody-spectrum, charges-and-fields, coulombs-law.   You will no longer see the dialog content at `globals.options` is the Studio tree, and you won't see it (or the OptionsDialog) in Studio until https://github.com/phetsims/phet-io/issues/1454 and https:

[2019-07-20 23:18] pixelzoom commented on #568
After making these changes, I'm seeing this error in CT for sims that have an OptionsDialog, presumable with the Option menu item gets selected:

[code]

[2019-07-20 23:25] pixelzoom commented on #568
Workaround for the CT errors appears in the above commit.  I'm creating OptionsDialog with `Tandem.optional` until there's support for dynamic elements.

[2019-07-22 17:38] zepumph commented on #568
* Thanks for the workaround, it looks better than the one I put in place.

* I like that you are passing tandem into items via options if that is already set up for it. That pattern is new (I think from GQ), and I see it working very nicely.

* Sim cases, for example commits like https://github.com/phetsims/atomic-interactions/commit/93d0d4808855a70c80f46baaf198946c055ce2ab, seem good, future proo

[2019-07-22 18:35] pixelzoom commented on #568
This would be useful if OptionNode had a use outside of PhET Menu > Options, but it currently does not.   And we definitely don't want to pass a `Node`  in any of those cases.   If it comes up in the future, we can add it later.

Closing.

[2019-07-22 18:35] #568 closed

[2019-07-22 21:28] pixelzoom opened #570 "hooks to make PhET-iO API calls on 'step'"
From 7/18/19 Gas Properties design meeting notes in https://github.com/phetsims/gas-properties/issues/30#issuecomment-512980763:

The use case is to allow the client to get an array of particle speeds each time the model is stepped.

The answer is "not currently supported".  There are some ideas in the Slack discussion below, but no final decision.   @kathy-phet @ariel-phet @arouinfar FYI, priorit

[2019-07-22 23:58] samreid commented on #570
There is discussion and a proposal in https://github.com/phetsims/axon/issues/222#issuecomment-474515601 about how to deal with Action and listeners.  In this case, it would mean instrumenting `Sim.frameEndedEmitter`.  @zepumph and @pixelzoom sound OK?

[2019-07-23 00:13] pixelzoom commented on #570
`Sim.frameEndedEmitter` sounds fine for hooks at the end of a frame.  You'll need to ask the designers if they think there's a need for hooks at the start of a frame.

[2019-07-23 12:51] samreid commented on #570
@zepumph pointed out in another thread that this method is asynchronous, and likely unnecessary to have both `started` and `ended`, since they would likely be called at the same time anyways.

[2019-07-23 16:30] kathy-phet commented on #570
I don't know what happens on a frame well enough to know whether we would need control over the start or the end of the frame. I think what would be important is that we don't get model values that are mid-way calculated .. e.g. PV before being updated and NT from after being updates. We need them to be either all calculated or all before the calculation update.

[2019-07-23 18:32] zepumph commented on #570
My vote would be for instrumenting the `frameEndedEmitter`, not both.

[2019-07-23 18:34] zepumph commented on #570
Because of the asynchronous nature of phet-io when communicating from the sim frame to the wrapper frame, all calculations would be done in the sim for a given frame before the wrapper get's any messages for that frame.

[2019-07-23 18:52] pixelzoom commented on #570
I agree with @kathy-phet's comment in https://github.com/phetsims/joist/issues/570#issuecomment-514285716, but that pertains to a specific case, Graphing Quadratics.   The question about whether both pre and post callbacks are needed is a general question.   If there answer is "no", that's fine.  I just want to make sure we're considering this generally, not doing something specific for Graphing Q

[2019-07-23 18:57] kathy-phet commented on #570
I think Chris means Gas Properties.

[2019-07-23 18:58] pixelzoom commented on #570
Sorry, yeah, Gas Properties (the other "G" sim :)

[2019-07-24 00:53] zepumph commented on #511
- [ ] There is still a todo for this issue in `ScreenSummaryNode` in regards to this issue.

[2019-07-24 19:12] lmulhall-phet commented on #559
@ariel-phet, I'm going to mark as deferred since we don't support iOS 9 and I've only seen this in XHTML and I haven't found a way to reliably reproduce.

[2019-07-25 16:46] pixelzoom opened #571 "standards for ScreenView margins"
Over in https://github.com/phetsims/acid-base-solutions/issues/160, we discovered that the pH probe was a bit too close to the top of the screen, making it difficult to select on iPhone.

As noted in that issue, I would be nice to have some standards for margins, since this is a general problem.   I've noticed that several sims put things much closer to the edges of the screen than I think is safe

[2019-07-25 18:05] pixelzoom commented on #569
This is block-publication because it should be reviewed before Gas Properties starts RC testing.

[2019-07-25 18:31] pixelzoom commented on #569
7/25/19 dev meeting: assigned to @jessegreenberg to review with high priority. (Thanks!)

[2019-07-25 23:25] jessegreenberg commented on #569
Changes to ProjectorModeChecbox look great. I skimmed through the sim commits, they look reasonable too.

I understand why it was added but think it would be better without this. Shoudl we change `MoleculeShapesColorProfile` (use `basics` colors as `default` colors in a new `MoleculeShapesBasicsColorProfile`) instead of changing the API?

Could the new Tandem.optOut (https://github.com/phetsims/ta

[2019-07-28 20:46] pixelzoom opened #572 "should ProjectorModeCheckbox projectorModeEnabledProperty be instrumented?"
Creating this issue based on feedback by @jessegreenberg in https://github.com/phetsims/joist/issues/569#issuecomment-515250918.

There are 2 Properties associated with the "Projector Mode" checkbox that typically appears in the Options dialog for a sim that has this feature.

The first Property is `profileNameProperty`, the name of the selected ColorProfile.  The choices are typically "default" o

[2019-07-28 20:53] pixelzoom commented on #569
Thanks for the feedback @jessegreenberg.

The 'projector' profile for the 2 sims is currently identical.  So if we do what you've proposed, then `MoleculeShapesColorProfile` and `MoleculeShapesBasicsColorProfile` will duplicate colors for the 'projector' profile, and keeping them in sync would require changing both ColorProfile subclasses.   That said, I prefer the current solution.  It would be g

[2019-07-28 21:04] pixelzoom commented on #569
molecule-shapes-basics bug is addressed in the above commit.  @jessegreenberg please verify.

[2019-07-29 17:47] jessegreenberg commented on #569
Thanks for clarifying in https://github.com/phetsims/joist/issues/569#issuecomment-515794317. I just tested molecule-shapes-basics and confirmed that the issue has been fixed.

[2019-07-29 17:57] pixelzoom commented on #569
Thanks @jessegreenberg.

I just discovered that there's more work for me to do here.  After these changes, the `colorProfile` query parameter, used to specify the profile used on startup, is being ignored.

[2019-07-29 18:39] pixelzoom commented on #569
Support for the `colorProfile` query parameter is restored in the above 2 commits.  You can test a sim that has a ColorProfile (blackbody-spectrum, gas-properties,...) using `?colorProfile=projector`.

For molecules-shapes-basics, I restored it's behavior to what it was before ProjectorModeCheckbox changes.  That is, it recognizes `?colorProfile=projector`, but silently ignores anything else.    T

[2019-07-29 18:57] jessegreenberg commented on #569
https://github.com/phetsims/scenery-phet/commit/589f1bd24feec9c49b5415b3d7bc5d7322b2f7ab Looks good. I tested ?projectorMode on a few sims including molecule-shapes-basics, it is working as expected. Good catch.

[2019-07-29 19:01] pixelzoom commented on #569
Thanks @jessegreenberg.

Remaining questions are being tracked in separate GitHub issues, so I'll close this one.

[2019-07-29 19:01] #569 closed

[2019-07-29 19:03] pixelzoom commented on #569
@jessegreenberg said:

I just noticed this.  There is no `?projectorMode`, so I'm assuming that you meant `?colorProfile=projector`.   Is that correct?

[2019-07-29 19:08] jessegreenberg commented on #569
Yep, sorry, that is totally what I meant.

[2019-08-28 17:23] samreid opened #573 "How to handle conditionally created sound button for PhET-iO"
While working on https://github.com/phetsims/phet-io/issues/1454 @chrisklus and I were looking at this code in AllyButtonsHBox.js:

[code]

For PhET-iO, we would like to always create and instrument this button if the sim supports sound. However `sim.supportsSound` also includes other information from query parameters and is described as:
`// true if the simulation supports sound and sound is enab

[2019-09-09 14:47] samreid commented on #549
@ariel-phet how do you want to proceed on this issue?

[2019-09-09 15:08] samreid commented on #537
I searched for `$(` in scenery and found

* 3 occurrences in DOM.js
* 3 occurrences in TextBounds.js (uses $().css only)
* 6 occurrences in Util.js

Other occurrences in scenery are in tests.  I won't have time to work on this in the near future at current priority.  Reassigning to @ariel-phet to review and potentially reprioritize/reassign.

[2019-09-09 21:14] samreid commented on #387
Unassigning until hold removed.

[2019-09-10 15:54] ariel-phet commented on #549
Considering Edge bugs should generally be fixed when it moves to chromium, we have not been paying attention to them unless they are more int he "showstopper" category. Given the nature of this bug I am going to mark as `wontfix` and close.

[2019-09-10 15:55] #549 closed

[2019-09-10 23:05] jbphet commented on #573
I'd strongly prefer not to rename this.  The parameter has some history, see:
+ https://github.com/phetsims/tambo/issues/11
+ https://github.com/phetsims/tambo/issues/26
+ https://github.com/phetsims/tambo/issues/47

I don't think that this setting should be instrumented for phet-io at all.  It exists to support the situation where we have a sim with some partially developed sound, but we don't wa

[2019-09-10 23:18] samreid commented on #573
To clarify on the problem, the simulation will throw a validation error if it doesn't create all of the components specified in its PhET-iO API.  If the API specifies that a `NavigationBarSoundToggleButton` will exist, then the simulation should create it.  Our idea is that if a query parameter disables sound, the `NavigationBarSoundToggleButton` will still be created but just not added to the sce

[2019-09-11 16:52] jbphet commented on #573
It seems a bit limiting and inflexible to require the creation of a component that we don't need in support of an API spec that will be describing something that can't be manipulated.  In the code snippet above, there is a TODO item that says:

[code]

The GitHub issue referenced in that comment is long, so I didn't read it all, but it seems to me that support for dynamically created elements is e

[2019-09-11 17:03] samreid commented on #573
Thanks for discussing this @jbphet, I noted your remarks in https://github.com/phetsims/phet-io/issues/1454 and we'll discuss further.

[2019-09-11 19:38] zepumph commented on #553
From roadmap meeting today, @chrisklus will take this on, re-familiarize himself with it, and then bring it to a design meeting with current implementation and remaining questions.

[2019-09-11 22:46] samreid opened #574 "Should ResetAllButton be factored out and renamed?"
We currently have 115 occurrences of `new ResetAllButton` and we have a policy that each `ScreenView` will create exactly one `ResetAllButton`.  We also would like each screen to create its reset button with a specific tandem name `resetAllButton` so this code is getting copied many places:

[code]

Also, I don't see any reason that `ResetAllButton` shouldn't just be wired up to automatically call

[2019-09-11 23:19] zepumph commented on #574
I think this makes a lot of sense. Perhaps the next step is to mark for developer meeting to see if others think this is a reasonable refactor.

[2019-09-12 00:35] samreid commented on #574
It seems the default should be to add the child to the back, since other tools and things should be dragged in front of it.  It some particular screenView needs the ResetScreenButton elsewhere in the z-order, it can call `moveToFront` or equivalent.

[2019-09-18 22:24] KatieWoe opened #575 "Home screen buttons shift"
The first time you click a new icon on the home screen of a sim the icons shift a bit.  Not big and it's in published.
![firsttimeshifts](https://user-images.githubusercontent.com/41024075/65191264-a00cf580-da30-11e9-9d3a-fee2eb4699d3.gif)

[2019-09-19 02:27] ariel-phet commented on #575
@KatieWoe I am not seeing this on recently published sims (like gas properities), I am guessing Build an Atom just has an old version of Joist. Are you seeing this on any recently published sims?

[2019-09-19 17:57] pixelzoom commented on #574
This proposal assumes that all Screens have a  ResetAllButton, and that is not the case.  Game screens often don't have a ResetAllButton at all, or (as @jessegreenberg and @jonathanolson noted above) the use of the ResetAllButton is a bit different.  My vote is to leave as is.

[2019-09-19 19:16] Denz1994 commented on #574
Discussed at dev meeting: 09/19/19

We will not proceed with the factor due to the concerns brought up by @jessegreenberg, @jonathanolson and @pixelzoom. The edge cases described above warrant no further action for this issue.

Also discussed: ResetAllButton refers to all reset actions on the specific screen, not the scene. This works as a Tandem name for phet-io.

[2019-09-19 19:16] #574 closed

[2019-09-19 19:22] pixelzoom commented on #574
Addressed in https://github.com/phetsims/simula-rasa/commit/0d63bcb4e2953d8f45204d5068089cb50be5b8a5, by adding to simula-rasa template.

[2019-09-21 22:11] samreid opened #576 "Provide a UI for setting query parameters for a simulation"
In https://github.com/phetsims/energy-forms-and-changes/issues/216 we discussed a new feature which would show a user interface for selecting query parameters for the simulation.

From the notes, @chrisklus remarked:

There were a few more comments in https://github.com/phetsims/energy-forms-and-changes/issues/216#issuecomment-533355597 and below which culminated in the suggestion that each sim ha

[2019-09-22 18:46] zepumph commented on #576
In what way would you like my assistance in this issue? It sounds like mainly like a space for design and prototyping the UI of the auxiliary html page.

Ideas about the page:
We could outfit queryStringMachine to accept the public/private aspect of the query parameters into its schema. Then in the Web page we could load separate copies of init globals to get a list of the public ones.  (one bad w

[2019-09-23 14:30] samreid commented on #576
The next step for this issue is discussion at an upcoming PhET-iO team meeting, I've marked it in the next agenda.  Unassigning until then.

[2019-09-26 18:49] chrisklus commented on #576
Notes from 09/26/19 design meeting:

We are likely not going to hard code this feature right into Studio, but @samreid, @zepumph, and @chrisklus are going to investigate implementing something that is able to be versioned with sims.

We are also open to making this a feature for phet-brand in the future, perhaps by adding a link on sim pages that opens a customization dialog before launching the s

[2019-09-26 18:56] samreid commented on #576
We also discussed that it seems reasonable to build this as a separate HTML page during the build.  This page should be able to pass-through to studio or to the sim itself.

[2019-09-27 00:46] zepumph commented on #491
I'm happy to implement anything, just let me know what you would like the title for each screen to look like.

[2019-09-27 09:32] terracoda commented on #491
I the latest thinking on this is here:
https://github.com/phetsims/joist/blob/master/doc/HomeScreen.md

Each screen should start with an H1, in my opinion.

[2019-09-27 09:34] terracoda commented on #491
@zepumph, let me review this issue a little more carefully. It has been a while.

[2019-09-27 14:33] terracoda commented on #491
@zepumph, you said:

Just want to be clear that we both know that the `title` element is different than the `h1` or `h1`'s as the case may be.

[2019-09-27 20:59] zepumph commented on #576
@samreid, @chrisklus, and I spoke about this today from an implementation standpoint. The main tenants we were thinking about are to have an HTML file built with the sim that is some sort of form that gives you the proper query string or URL from the output of the form.

To get this, we need a way to access all query parameter schemas from the build process. Ideally this wouldn't be puppeteer, as

[2019-09-27 22:30] samreid commented on #576
Another possibility would be to load just the sim query parameters in requirejs mode.  For instance, change:

[code]

Then load the sim, and you will have access to the query parameters via `phet.energyFormsAndChanges.EFACQueryParameters`.  This could likely be evaluated in Node instead of puppeteer, and would likely be very fast.

[2019-09-30 17:23] megan-phet opened #577 "iOS 13 Screen shifts down after closing tab next to sim but pointer areas does't"
<b>Test Device</b>
- iPad (6th generation)

<b>Operating System</b>
- iOS 13.1

<b>Browser</b>
- Safari

<b>Problem Description</b>
For phetsims/QA#429

Screen shifts down after closing the tab next to it but pointer areas do not change.
(Need to click above the object or icon intended to select.)

Tried on iPad pro-OS 12.4.1 and the screen jumps back to the original place after closing the tab ne

[2019-09-30 18:03] jessegreenberg commented on #577
Thanks @megan-phet - it looks like the gif visual didn't quite upload all the way, could you please try that again? It might be hlepful to see.

[2019-09-30 18:22] zepumph opened #578 "UpdateCheck does not meet code standards"
While working on https://github.com/phetsims/perennial/issues/111, I found a fair number of improvements I would like to make along the way.

* Faulty documentation
* in es5
* some local fields that should be constants
* `stateProperty` should be and EnumerationProperty
* It's a singleton with incorrect capitalization, and usages should be updated too.

[2019-09-30 19:04] megan-phet commented on #577
Yep, here you go.

![Kapture 2019-09-30 at 11 17 24](https://user-images.githubusercontent.com/40698031/65907971-a41b0a80-e382-11e9-8f54-b89f963a0dbd.gif)

[2019-09-30 19:35] zepumph commented on #578
In the above commits I . . .
 * converted the file to es6
 * factored out `stateProperty` values to an Enumeration called `UpdateState`
 * refactored items that had incorrect visibility for their purpose (some fields moved to constants, and some just got updated annotations)
 * Converted the file to be named like a singleton (lowerCaseCamelCase) and updated usages
 * Found and fixed a few bugs in

[2019-09-30 19:50] pixelzoom commented on #578
I skimmed the changes, and I don't see anything obviously amiss.  But I'm not very familiar with `updateCheck`, so you might want to have @jonathanolson (author) review.

[2019-09-30 22:22] ariel-phet opened #579 "Win 7 appears to slightly cut off the bottom of the sim when using a second screen"
Seen all sims, all 3 supported Win 7 browsers (Chrome, IE, FF)

When the browser window is maximum, AND the browser window is being viewed on a second screen (the one without the task bar), the bottom of the browser window slightly overlaps the navbar. Only observable on my desktop where I am using two screens, but I am concerned this issue could potentially show up on interactive whiteboards or p

[2019-10-01 02:04] samreid commented on #579
I have a vague memory about something like this happening in the past.  I tried to reproduce the problem on my Mac OS 10.14.6 and Win 10 Pro, using laptop as primary display and external monitor as extended desktop, and didn't see it in either case.

[2019-10-01 14:42] jessegreenberg commented on #577
Thanks @megan-phet that is helpful, I will try to produce on my end. Probably an issue for all sims, but there is a chance it is caused by the PDOM.

[2019-10-01 17:33] jonathanolson commented on #577
I just built a version of a sim that tries to resize every frame. Can you test https://phet-dev.colorado.edu/olsonjb/resizer.html to see if it has the same problem?

[2019-10-01 17:47] megan-phet commented on #577
It still has the same problem @jonathanolson.

[2019-10-01 17:47] jonathanolson commented on #578
Looks good to me!

[2019-10-01 17:50] jonathanolson commented on #577
The fact that it's happening with the above HTML means it's unlikely something I can directly "fix" on our sim side (and Safari is reporting the wrong width/height).

[2019-10-01 18:10] #578 closed

[2019-10-01 19:19] ariel-phet commented on #579
I am seeing this problem when using zoom as well. Seems to be a general issue out of our control. Closing

[2019-10-01 19:19] #579 closed

[2019-10-02 00:48] samreid commented on #576
From slack:

[2019-10-02 01:04] samreid commented on #576
Could this replace some of the functionality in phetmarks?

![image](https://user-images.githubusercontent.com/679486/66010925-3d7b1700-e47e-11e9-8503-4aa3a45e490e.png)

[2019-10-02 20:31] samreid commented on #576
Some notes from discussion with @zepumph and @chrisklus

Should we move everything to the PhET-iO API? Do some things have to remain as query parameters?

If some features are buried in query parameters, how can we API validate them?

In the future, we want to make phet brand customizable.

Wouldn't it be better to
(a) have one way of doing things?
(b) be able to validate the API?

Those suggest w

[2019-10-02 20:40] samreid commented on #576
Best of both worlds, use Groups to power everything in implementation, and QP as a way to specify it on startup?

Maybe schedule group as primary objective, and plan on not using query parameters.  We will eventually want a QP UI for phet-brand sims.

[2019-10-02 21:26] samreid commented on #576
If we come back to wanting a query parameter page for each sim, I think the first version should be handcrafted rather than harvested from query string machine schemas.

[2019-10-05 23:54] pixelzoom opened #580 "combine ScreenView options defaults into 1 _.extend call"
While working on https://github.com/phetsims/vector-addition/issues/221, I noticed that `options` for `ScreenView` is odd.   Instead of all options being in 1 `_.extend` call, they are split across 2 calls, see below.   I'd like to combine these into 1 `_.extend` call, but wanted to make sure I'm not missing some subtle reason for the options needing to be split up like this.  So I need another se

[2019-10-05 23:55] pixelzoom commented on #580
Here's what I had in mind:

[code]

[2019-10-07 14:15] samreid commented on #580
Combining into one `_.extends` seems best, thanks!  The only reason to separate them would be if the 2nd `_.exends` used `options.*` from the first extend, and that's not happening here.

[2019-10-08 00:28] pixelzoom opened #581 "Screen assertion messages are not specific enough"
In Screen.js:

[code]

The assertion message are identical, and don't tell you whether width or height was the problem.   Looks like I was responsible for this, so I will change, review, and close :)

[2019-10-08 01:27] pixelzoom commented on #581
Done, closing.

[2019-10-08 01:27] #581 closed

[2019-10-08 01:39] pixelzoom commented on #580
Done in above commit.  @samreid would you make a quick sanity check?

[2019-10-08 01:44] samreid commented on #580
Looks good to me, thanks!  Closing.

[2019-10-08 01:44] #580 closed

[2019-10-08 14:57] KatieWoe opened #582 "CT maxHeight should be null or a positive number"
[code]

[2019-10-08 15:15] samreid commented on #582
This can be triggered in any sim by making the window skinnier.  No more deploys until this is fixed.

[2019-10-08 15:20] samreid commented on #582
May be related to https://github.com/phetsims/sun/issues/525

[2019-10-08 17:15] zepumph commented on #582
Because of and explained in https://github.com/phetsims/sun/issues/525#issuecomment-539613896. Closing.

[2019-10-08 20:11] zepumph commented on #582
There is still this error in sun, I think it has to do with the screen bounds being `Infinity` for some reason.

[2019-10-08 22:13] zepumph commented on #582
I know I have gotten this error locally since committing a fix, but I can't seem to reproduce it now. Also CT has not showed up with it for three rounds. I'll keep checking.

[2019-10-09 22:16] zepumph commented on #582
This is still sporadically hitting `sun` on CT, though I can't seem to reproduce locally. @samreid can you reproduce either in fuzzing or something else?

[2019-10-09 22:35] samreid commented on #582
Can you trigger the problem by commenting out the body of sun/js/demo/MemoryTestsScreenView.step, then launching screen 4, then showing the about dialog?  I reproduced it once following that strategy, now the browser is hanging when I try that.  I suspect the screenView bounds aren't well defined when there are no children.

[2019-10-11 18:00] zepumph commented on #582
I'm going to take this up in https://github.com/phetsims/sun/issues/532, as this problem is most often occurring in sun and other demo sims. I think it has to do with having screenBounds that are not yet set.

[2019-10-11 18:04] #582 closed

[2019-11-04 23:41] zepumph opened #583 "rename supportsTouchA11y-> supportsGestureA11y"
@jessegreenberg and @terracoda and I have been trying to specific this particular feature support of mobile VO + iOS as gesture instead of touch, as it feels a bit more specific.

[2019-11-04 23:43] zepumph commented on #583
@jessegreenberg please review. Feel free to close if you don't have any thoughts.

[2019-11-05 14:39] jessegreenberg commented on #583
Sounds great, thanks.

[2019-11-05 14:39] #583 closed

[2019-11-06 21:22] jbphet opened #584 "Move supportsSound and supportsEnhancedSound to package.json"
This is a child issue of https://github.com/phetsims/tambo/issues/73, specifically [this comment](#issuecomment-544658485).

A decision has been made to move the parameters that control whether sound is supported in a simulation from being an option to the `Sim` constructor to being a configuration item in the simulation's `package.json` file.  This will enable the sound library (tambo) code to av

[2019-11-18 18:56] jbphet commented on #584
Another related issue is https://github.com/phetsims/chipper/issues/806.

[2019-11-18 18:57] jbphet commented on #584
This is done, and the commits and verification information are available at the line in the preceding comment.  Closing.

[2019-11-18 18:57] #584 closed

[2019-11-20 21:01] KatieWoe opened #585 "iPad OS 13 Splash screen is in the top left corner"
Found so far in Curve Fitting, both published and master. While the splash screen is up, it will move to the upper left corner part way through. If the sim reloads, this happens the entire time the splash screen is up. Does not seem to impact size/location of sim once fully loaded.

[2019-11-27 20:07] zepumph commented on #573
This issue is largely overlapping https://github.com/phetsims/phet-io/issues/1457, and there is a TODO in that block in code pointing over to that issue. We will unassign here and mark on hold for now, and see what we come up with over there!

[2019-12-03 22:30] pixelzoom opened #586 "incorrect scaling of Dialogs"
While working on Natural Selection, I noticed that Dialogs seem to be getting scaled.  And they are getting scaled _up_, which is generally bad.

Below is a screenshot to demonstrate.  `'Play Again'` and `'All of the bunnies have died'` are both using `PhetFont( 16 )`.   But the text in the Dialog appears to be significantly larger.

<img width="980" alt="screenshot_07" src="https://user-images.gi

[2019-12-03 22:36] pixelzoom commented on #586
In the first screenshot shown in https://github.com/phetsims/joist/issues/586#issue-532310674, here are specifics of text height in the global coordinate frame:

"Play Again" => 17
"All of the bunnies have died" => 21.7

So the dialog in this case is being scaled up by ~28%.

[2019-12-03 23:59] samreid commented on #586
I commented out line 132 and used CMD+ to take this screenshot:

![image](https://user-images.githubusercontent.com/679486/70099986-a6e9e400-15ed-11ea-88e4-364a7ef38eeb.png)

Then I used CMD- to take this screenshot:
![image](https://user-images.githubusercontent.com/679486/70099997-b49f6980-15ed-11ea-8c51-5cb32bc22b51.png)

Note the tiny dialog in the top left.  I don't recall all of the details

[2019-12-04 00:46] pixelzoom commented on #586
What did you do before taking this screenshot to result in the tiny dialog?

[2019-12-04 00:49] samreid commented on #586
I held down the command key and pressed the minus button  several times to change the browser zoom level before taking the screenshot.

[2019-12-04 00:52] pixelzoom commented on #586
Thanks for clarifying.  I didn't grok that you were using the browser's zoom in/out feature. And I reproduced what you described.

[2019-12-04 15:13] samreid commented on #586
It looks like the same strategy is used for scaling screen content and the topLayer, which contains dialogs.  However, the value used for scaling screen content is
ScreenView.DEFAULT_LAYOUT_BOUNDS = Bounds2 {minX: 0, minY: 0, maxX: 1024, maxY: 618}

Whereas the value used for scaling the topLayer which contains dialogs is:
HomeScreenView.LAYOUT_BOUNDS = Bounds2 {minX: 0, minY: 0, maxX: 768, maxY:

[2019-12-04 15:46] pixelzoom commented on #586
Yes.

If you want to confirm with Natural Selection (by pressing the "Play Again" button), you'll also need to make this change in `NaturalSelectionConstants`:

[code]

[2019-12-04 16:26] pixelzoom opened #587 "revise 'Bunnies have taken over the world' image"
NOTE: You might want to wait on this until we're certain that the bunnies will not change (after we've seen them in context).

The image of bunnies taking over the world will need to be revised, using new bunnies.  I'm currently using the PNG file from the Java version. The HTML5 image file is [natural-selection/images/world.png](https://github.com/phetsims/natural-selection/blob/master/images/wor

[2019-12-04 16:28] pixelzoom opened #588 "credits in images/license.json"
I'm not clear on who should be credited with which images, and there are some TODO items in license.json for images that were copied from the Java version.  We'll need to sort this out before 1.0.0 publication.

[2019-12-05 23:01] #577 closed

[2019-12-07 01:18] zepumph opened #589 "AboutDialog dynamic state is broken"
From https://github.com/phetsims/phet-io/issues/1590. Using AboutDialog helped us find a constraint that we didn't want in the state engine (that all dynamic element "roots" must be in the state), which that issue fixed. From here we should decide how to go with AboutDialog.

1. Why is AboutDialog in the state? Can't we exclude all sub elements from the state and be done? Why do we need to support

[2019-12-10 20:09] samreid commented on #576
Discussion from slack today:

[code]

[2019-12-11 18:57] zepumph commented on #589
@samreid, @chrisklus, @jonathanolson, and @zepumph investigated this today. The first challenge we ran into was the templating var assertion discussed at the end of https://github.com/phetsims/phet-io/issues/1586#issuecomment-561966658. Commits fixing that are above.

[2019-12-11 19:40] zepumph commented on #589
We looked into solving the show/hide piece in general, for all dialogs. We came up with the conclusion that we didn't want to "box ourselves into a corner" by saying that we never want to allow dialogs to be shown via state. So we added support for show/hide state by moving show/hide logic to be a listener to the `isShowingProperty`. This way, if the isShowingProperty is stateful and set to `true`

[2019-12-11 19:46] zepumph commented on #589
The above commit (https://github.com/phetsims/phet-io-test-sim/commit/9f87a1c7e3b6e5dc6f81425b288cb51506dc4af8) is an exploration in making sure that PhetioCapsules support state in arbitratily nested PhET-iO elements. This mimics the behavior of AboutDialog, which itself is not stateful (`phetioState:false`), but has children with textProperties that are stateful.

[2019-12-11 20:39] zepumph opened #590 "Problems with menu item options"
From https://github.com/phetsims/phet-io/issues/1585, we are working on component options in this file again.

I found that all component options are marking `phetioState:false`, this means that studio is not able to pass that customization to the "launched sim". I don't know why we originally did that, but I don't think it should stick around.

[2019-12-11 21:13] zepumph commented on #590
After more investigation, here is what I would like to do for this issue:

* MenuItem should be phetioState:false by default
* The we can remove all the usages of setting those in PhetMenu.
* Remove phetioState:false from component options. This is prohibiting customization support and I don't know why it is the case. The best I found for the change for the about dialog takes me to https://github.

[2019-12-11 21:46] pixelzoom commented on #576
FYI, Natural Selection 1.0 will be specifying query parameters manually in the URL.

[2019-12-11 23:25] zepumph opened #591 "Only PhET-iO instrument soundEnabledProperty if there is sound in the sim?"
From https://github.com/phetsims/phet-io/issues/1585:

We should probably just not have it instrumented unless sound is enabled. That is acceptable and supported with PhET-iO because that will never change for the whole "platform" of a published sim. Once it is on, it is always on.

@samreid do you agree? Is it best to instrument conditionally?

[2019-12-11 23:30] samreid commented on #591
I'm not sure.  Our long-term plan is that sims will have sound effects, so maybe it makes sense to put this as a placeholder even though it doesn't do anything for quiet sims at the moment, to keep the code simpler and more uniform.

For instance, faraday's law is a one-screen sim, but it still has `faradaysLaw.general.screenIndexProperty`.  Let's say the designers reviewed faraday's law and said

[2019-12-11 23:45] zepumph commented on #591
Let's get some design time for this tomorrow.

[2019-12-11 23:59] zepumph commented on #590
Basically this issue accomplished two things:

* Removing `phetioState:false` from component options fixed a bug where PhET-iO customization was broken for menu items (hiding one and then launching studio would not keep it hidden).
* Simplify, organize, remove duplication, and document options being passed to MenuItem.
  * `phetioState:false` was duplicated in descriptors and is covered by Node.js

[2019-12-12 16:58] pixelzoom commented on #589
Sorry, I'm not qualified to review this issue. I have no experience with PhetioCapsule. And I don't understand why it's undesirable for AboutDialog to be stateful, and why its children must be stateful.

[2019-12-12 17:16] zepumph commented on #589
Sorry I wasn't clear. I am primarily interested in reviewing the changes to Dialog.js, which we did for PhET-iO ,but effect all Dialogs.js. Primarily https://github.com/phetsims/sun/commit/bd128eed4363d026b3d666f00fcda49db6bc601f where we moved show/hide logic from prototype methods to a listener on `isShowingProperty`. This helps us support state and interoperability for PhET-iO, but I'm also int

[2019-12-12 19:06] samreid opened #592 "Add a query parameter allowLinks=false"
From today's discussion, we would like to add a query parameter `allowLinks=false`, so that links can't be followed out of the sim.

[2019-12-12 19:10] samreid commented on #592
I added this support above.  @zepumph has more notes from this discussion.  @jessegreenberg I noticed

[code]

In the other VBox, should it be added to the sub-VBox as well?

@zepumph can you please review?

[2019-12-12 19:32] zepumph commented on #591
We can add phetioDocumentation to this that says "if the sim contains sound. . . ", but we will not conditionally instrument this.

[2019-12-12 19:33] samreid commented on #591
@kathy-phet also pointed out that the sound icon button in the navigation bar should have a LinkedElement for the soundManager.enabledProperty.

[2019-12-12 21:41] pixelzoom opened #593 "error dialog for invalid query parameter value"
In 12/12/19 design meeting for Natural Selection, we identified a need to have a dialog open when a query parameter value is incorrect.   This is important because we're making query parameters available to users (e.g. teachers) who will not have a console open, and will therefore not see an error.

Also note that query parameters should not be validate using `assert`.  They should throw `Error`.

[2019-12-13 02:17] pixelzoom commented on #589
phetsims/sun@bd128ee looks correct to me.  This looks like a nice change.

[2019-12-13 16:34] pixelzoom commented on #592
Yesterday we speculated that the About dialog was the only place where hyperlinks appear. That's not the case - Molecule Polarity has a link in the "Real Molecules" screen, see screenshot below. According to @ariel-phet and @kathy-phet, we don't need to do anything about this.

<img width="996" alt="screenshot_23" src="https://user-images.githubusercontent.com/3046552/70815800-6a577e80-1d8b-11ea-8

[2019-12-13 18:30] zepumph commented on #592
I don't think so. In general proliferation of `div` elements in the PDOM is less than ideal.

I feel like this should also be implemented to support other common code links, even if they are not totally needed at this time, for completeness. Through my search I found two more spots:

`UpdateNodes` has a linked `RichText` than ends up in the `AboutDialog` when out of date. I propose that `UpdateNod

[2019-12-19 16:30] jessegreenberg opened #594 "Can showSaveAndLoad options be removed?"
From https://github.com/phetsims/energy-skate-park-basics/issues/370. It appears this option still exists but I can't find an implementation for it.

@samreid can this option be deleted?

[2019-12-19 17:40] jonathanolson commented on #593
Do we need a general way of catching and showing errors without going to the console? Are you proposing something in general for this, or asking what should be done?

[2019-12-19 17:53] pixelzoom commented on #593
That is what has been requested, by @kathy-phet specifically.

[2019-12-19 17:53] pixelzoom commented on #593
That is what has been requested, by @kathy-phet specifically.   This issue addresses getting determining priority and getting it done.

[2019-12-19 18:08] chrisklus commented on #593
I'm up to work on this if we need a volunteer!

[2019-12-19 19:12] pixelzoom commented on #593
12/19/19 dev meeting:

* Public-facing query parameters should not be validated using assertions. They need to `throw Error` if value is invalid.
* First thing to do might be to warn to console, then revert to the default value when an invalid value is provided.  @chrisklus will do this part.
* The modal dialog is more user-friendly, and would be something similar to the "WebGL required" dialog.

[2019-12-20 17:26] pixelzoom commented on #593
@chrisklus I have no urgent need for this (May timeframe would be fine).  It sounds like you'll need it for EFAC sooner.  Let me know when you'd like to collaborate on this, anytime after 1/1/2020.

[2019-12-23 23:49] chrisklus commented on #593
I addressed this item in the commit above. @samreid helped me get started and then assisted again when I had some questions, so assigning to him for review.

There is a new schema key `isGraceful` that can be added to public query parameters. This way, internal query parameters can still throw errors for PhET developers, but public query parameters can just warn in the console and revert to defaul

[2019-12-24 02:18] samreid commented on #594
Deleted, closing.

[2019-12-24 02:18] #594 closed

[2019-12-24 02:41] samreid commented on #593
I looked through the proposal and had recommendations and questions which I wrote in this patch:

<details>

[code]

</details>

Ultimately what may be best for this file is to convert its numerous `validate` patterns (which throw an assertion error if failed) to `isValid` patterns.  Please take a look at the partial changes and recommendations in the patch and let's discuss.

[2019-12-26 16:48] chrisklus commented on #593
Thanks @samreid. The changes in `validateValue` look good, but the changes in `getForString` cause the following error on startup because `validateValue` does not always return a value, as pointed out by your TODO in `validateBooleanValue`:

[code]

Regarding this TODO in `validateValue`, `// TODO: https://github.com/phetsims/joist/issues/593 what if no defaultValue is provided?` - i verified that

[2019-12-27 02:05] chrisklus commented on #593
@samreid paired more on this today and were able to make some improvements. We followed through with @samreid's `isValid` suggestion from https://github.com/phetsims/joist/issues/593#issuecomment-568633044 and like how it worked out.

Assigning to @pixelzoom and @chrisklus for next steps (starting patch in https://github.com/phetsims/joist/issues/593#issuecomment-568608216).

[2020-01-03 05:18] samreid opened #595 "branch: webpack"
For https://github.com/phetsims/chipper/issues/820

[2020-01-03 20:26] pixelzoom commented on #593
In https://github.com/phetsims/joist/issues/593#issuecomment-568608216, @chrisklus said:

Presumably all public-facing query parameters should fail gracefully. And we need a way to designated which query parameters are public-facing. So how about something like `public: true` (default false) instead of `isGraceful`?

We should do the same for initialize-globals.js.

[2020-01-03 20:33] pixelzoom commented on #593
I verified with natural-selection and `?allelesVisible=foobar`, a boolean query parameter.  In the console, I see:

But I'm a little confused here...  Why does this not throw an Error, which can then be caught and displayed in a Dialog?  And if not caught, will print the Error to the console?

[2020-01-04 00:30] chrisklus commented on #593
@pixelzoom said:

Sounds good to me, I converted usages and added the one marked as public in initialize-globals.js. I suspect more of these are intended to be marked public, like `screens` (since we advertise it), so I created a separate issue, see https://github.com/phetsims/chipper/issues/829.

@pixelzoom said:

In https://github.com/phetsims/joist/issues/593#issuecomment-567623410, @pixelzoom

[2020-01-04 00:47] chrisklus commented on #593
Also worth noting in case you hadn't seen the starting patch in https://github.com/phetsims/joist/issues/593#issuecomment-568608216 yet - all of the info sent to `QueryStringMachine.addWarning` becomes available to the dialog popup, which is more informative to the user than just the queryStringMachineAssert error message since the provided value and default value are also included independently f

[2020-01-04 01:23] zepumph commented on #592
Back to you @samreid, sorry I didn't do so earlier.

[2020-01-04 01:25] zepumph commented on #589
Thanks! I'm going to close this issue

[2020-01-04 01:25] #589 closed

[2020-01-08 18:54] samreid commented on #592
It seems like we should address this before making more releases.

[2020-01-09 18:29] jessegreenberg commented on #592
Regarding https://github.com/phetsims/joist/issues/592#issuecomment-565142725

I agree with @zepumph, it is only needed for the container of all dialog content.

[2020-01-11 17:05] pixelzoom commented on #593
QueryStringMachine now puts together a list of warnings.   @chrisklus Questions for designers that could be investigated while you're waiting for me to work on this....

* Do we display a dialog when the first warning occurs, or after query parameters have been processed?
* If the latter, do we display the first warning, or all warnings?
* If displaying all warnings, what do we do if there are too

[2020-01-16 04:56] samreid commented on #592
At the previous dev meeting, we agreed I need to understand the recommendations in https://github.com/phetsims/joist/issues/592#issuecomment-565555239 better and coordinate with @zepumph on next steps.

[2020-01-16 14:34] samreid commented on #592
With the proposed code, the about dialog looks like this:

![image](https://user-images.githubusercontent.com/679486/72533255-17f9f980-3832-11ea-9133-f6e19bcc6289.png)

I'll add the text, but make it non-linked and non-pointered.

[2020-01-16 14:39] samreid commented on #592
I committed the revision above, here is a patch to facilitate testing:

[code]

@zepumph can you please review at your convenience?

[2020-01-16 18:37] samreid commented on #554
From today's phet-io design meeting: @kathy-phet said we would like to solidify the about dialog and phet menu.  @kathy-phet and @arouinfar will review this together with https://github.com/phetsims/phet-io/issues/1586

[2020-01-16 18:55] samreid commented on #576
I summarized that since Query Parameter features must be backed by PhET-iO features so they can be API-trackable, adding a separate UI seems less important since the studio API will already work.

@chrisklus reported that this is working well in EFAC.

@kathy-phet reports that this issue can be deferred.  It's not high priority.

[2020-01-17 18:19] pixelzoom commented on #593
@ariel-phet We need designer input to proceed on this issue.  Specifically, we need answers to the questions on https://github.com/phetsims/joist/issues/593#issuecomment-573334639.  Could you please assign someone?

[2020-01-17 21:09] zepumph commented on #592
This is really nice! I especially like the ternary around setting links. That feels suave to me. No other thoughts here.

[2020-01-19 13:53] samreid commented on #592
Thanks, it seems this issue is ready to close.

[2020-01-19 13:53] #592 closed

[2020-01-20 02:07] samreid commented on #595
Branch no longer needed, deleted, closing.

[2020-01-21 16:52] ariel-phet commented on #593
Reading over the questions in https://github.com/phetsims/joist/issues/593#issuecomment-573334639 I think we should bring this discussion to iO meeting this week. @arouinfar do you mind taking a quick first pass with your thoughts? I think we will need KP sign off here though to be efficient in moving forward.

[2020-01-21 17:45] arouinfar commented on #593
Here are my initial thoughts. I'll think more about the dialog content before Thursday's iO meeting, and possibly mock up a few options.

A few assumptions I'm making about query parameters:

1. Nonexistent/misspelled query parameters (such as `?nonsense` or `?skreens=1`) are ignored and the sim loads normally.
2. The sim will fail to load if the a query parameter is passed a bad (or no) value lik

[2020-01-21 19:54] pixelzoom commented on #593
Based on @arouinfar's feedback in the previous comment, it seems like there's an assumption that we will recognize unsupported query parameters -- e.g. if the user accidentally types "screenz=1,2" instead of "screens=1,2".  Unsupported query parameters are currently ignored, and nothing in this issue (so far) has planned to address that.  And I really don't recommend that we do this -- it will be

[2020-01-21 20:08] arouinfar commented on #593
Sorry, I wasn't clear. I am not suggesting that the sim corrects the query parameter, but simply ignores it. Currently, something like `?skreenz=1` is ignored and the sim will load, but the sim won't load if you pass a bad value like `?screens=99`. The latter seems problematic to me, since I'm not sure how the dialog would function. Would you get a dialog over a black screen?

[2020-01-21 20:33] pixelzoom commented on #593
@arouinfar I'm confused.  You gave this as an example:

[code]

As currently implemented, the sim will never know about `nonsense` and therefore cannot warn about it.   Warning about an unsupported query parameter is not ignoring it.

[2020-01-21 21:07] arouinfar commented on #593
If the goal of the this dialog is to make users aware that there are errors in the query parameters, then we would need to print a warning about `nonsense`.  That said, I don't think I understand the goals of this dialog or inner-workings of query parameters well enough to continue an asynchronous discussion. I think it will be more productive to pick it up at Thursday's iO meeting, so I'll unassi

[2020-01-23 18:49] chrisklus commented on #593
From 01/23/20 phet-io meeting:

We're okay with ignoring misspelled query parameter keys, but we'll proceed with adding warnings for bad values, and reverting to default values for any warnings that came up. In the long term, it would be nice to have a UI to select QPs so invalid keys are far less likely to be a problem.

* General message format:
[code]
We may also add a PhET girl image, like the

[2020-01-23 23:35] samreid opened #596 "branch: omit-mipmaps"
For https://github.com/phetsims/chipper/issues/840

[2020-01-24 20:15] samreid commented on #573
From today's discussion, we would like to create the sound buttons based on whether `supportsSound` is true in package.json.  We will determine whether to show the buttons depending on whether `sim.SupportsSound` is true.  @zepumph will work on this as part of https://github.com/phetsims/phet-io/issues/1457

[2020-01-24 21:40] pixelzoom commented on #593
Thoughts/notes:

* Need to decide when (in the startup sequence) the dialog should be displayed.  Maybe after the sim has fully loaded?  Ask designers.

* The dialog should be created by joist.

* Reuse OopsDialog? It lives in scenery-phet, and joist already depends on scenery-phet.
`class QueryParameterWarningDialog extends OopsDialog`

* Strings should live in joist-strings_en.json, something li

[2020-01-24 21:41] pixelzoom commented on #593
Slack with @arouinfar:

Chris Malley  2:40 PM
Re https://github.com/phetsims/joist/issues/593 (query parameter warning dialog)...  We need to decide when (in the startup sequence) the dialog is displayed.  Would it be OK to display it after the sim has fully loaded, and the home screen (or sole screen) has been rendered?

Amy Rouinfar  2:40 PM
That sounds reasonable to me

Chris Malley  2:40 PM
Th

[2020-01-25 02:12] zepumph commented on #573
Right! Commits are over there are out for review. Closing.

[2020-01-25 02:12] #573 closed

[2020-01-27 17:57] chrisklus commented on #593
@pixelzoom and I worked on this and created a new Dialog called QueryParametersWarningDialog.js. For now, we decided to not instrument it for phet-io.

It looks like this:

![image](https://user-images.githubusercontent.com/5618316/73200217-5cc04300-4104-11ea-8466-d872144c2511.png)

What do you think @arouinfar - anything else to add or change?

[2020-01-27 18:27] arouinfar commented on #593
Looks good to me @chrisklus @pixelzoom!

[2020-01-27 18:57] pixelzoom commented on #593
@arouinfar @chrisklus

I tried using this for the `mutations` and `population` query parameters that in Natural Selection, whose values are dependent on each other (see https://github.com/phetsims/natural-selection/issues/9).

For query parameters `?&allelesVisible=fals&mutations=F&population=Ff:20,Ee:15`, the resulting dialog is shown below.  The value of `allelesVisible` is invalid due to a miss

[2020-01-27 19:18] arouinfar commented on #593
I believe the conclusion in PhET-iO meeting was to keep the dialog simple and shift some responsibility to the user. That said, I'm not the lead for Natural Selection, so I would really prefer to defer to @amanda-phet to make sure this is an acceptable solution.

[2020-01-27 19:42] amanda-phet commented on #593
If the decision is to keep the dialog simple, this certainly works. It's not the most user-friendly, but I think that isn't necessarily the goal right now. My understanding is that we want to create a more robust solution later and will put more effort in to making it user friendly at that time. If that is all correct, then this looks like a fine solution for now.

[2020-01-27 20:37] arouinfar commented on #554
@kathy-phet and I reviewed the phetMenu and aboutDialog in studio.

* `phetMenu.enhancedSoundMenuItem.visibleProperty` should be featured.
* There are five menuItems under the phetMenu which appear in the tree, regardless of whether or not they are relevant to the particular sim. Not all sims have an Options menu or Enhanced Sound. It's a bit problematic to have these irrelevant menuItems in the t

[2020-01-27 20:38] arouinfar commented on #554
Assigning to @zepumph, but please reassign to another dev if appropriate.

[2020-01-27 20:52] pixelzoom commented on #593
Here's another problem with validating query parameters that depend on each other -- what I will refer to herein as "compatibility constraints".

Suppose that I query parameters `width` and `height` that are numbers, they are both > 0, and their compatibility constraint is `width >= height`.

Here's the implementation:

[code]

With `?width=10&height=20`, I get this dialog, which looks OK:

<img w

[2020-01-27 21:13] pixelzoom commented on #593
We probably need to do something like this:

* Let `QueryStringMachine.getAll` do its validation.
* For each compatibility constraint, if any query parameter had a problem in `getAll`, then reset all query parameters involved in the relationship to their default values.
* Have exactly 1 warning for any query parameter that was reset to its default values.

We can use `QueryStringMachine.hasWarning

[2020-01-27 22:42] arouinfar opened #597 "Designer comments/questions about PhET-iO instrumentation of navbar"
@kathy-phet and I reviewed `general.navigationBar` in studio and had the following comments/questions. For brevity, `simName.general.navigationBar` has been removed from the front of the tandems, unless otherwise specified.

- [x] The children under `a11yButtonsHBox.keyboardHelpButton.keyboardHelpDialogCapsule.archetype` should follow the same pattern used in `phetButton.phetMenu.aboutDialogCapsul

[2020-01-27 22:44] zepumph commented on #597
Thanks! I'll get this done before GFL publication.

[2020-01-27 23:21] zepumph commented on #597
- [ ] Oh I just saw that RichText links at the bottom of the AboutDialog are not read-only. I'm going to change that as part of this issue too.

[2020-01-27 23:34] zepumph commented on #597
What do you think about getting rid of that middle container?
`gravityForceLab.general.navigationBar.keyboardHelpButton`
`gravityForceLab.general.navigationBar.soundOnOffButton`

[2020-01-27 23:46] zepumph commented on #597
I talked with @arouinfar and that seemed best.

I implemented everything above. Each checkbox (ish) got its own commit, and then there was one `grunt update` at the end.

Over to you for review.

[2020-01-28 00:29] kathy-phet commented on #593
Another question around these query parameters was if we should test whether there is a "match" in query parameters but the case sensitivity makes if off. Today a mistyped the case for allowLinks and had to fix it. Is it easy to flag this without adding complication about the passthough stuff?

[2020-01-28 00:40] arouinfar commented on #597
@zepumph looks good except `titleTextNode.visibleProperty` doesn't appear to be featured.

[2020-01-28 01:45] zepumph commented on #591
This was done as part of https://github.com/phetsims/joist/issues/597

Also over in https://github.com/phetsims/phet-io/issues/1457 we created `sim.soundPartOfAPI` as a boolean to check against whether or not to instrument the soundToggleButton, so I think we can use the same thing here.

[2020-01-28 01:48] zepumph commented on #597
Oops! I featured the Node and not its `visibleProperty`.  Fixed above. Closing

[2020-01-28 02:00] zepumph commented on #591
https://github.com/phetsims/joist/issues/591#issuecomment-565151726 was completed above with the addition of documentation. We decided not to conditionally instrument it, so `Sim.soundPartOfAPI` is not needed. Adding that would be difficult since soundManager is a singleton, and its enabledProperty is created before the sim has been constructed. I like the current solution. @chrisklus please revie

[2020-01-28 03:39] zepumph opened #598 "AboutDialog credits to split on full names"
From https://github.com/phetsims/gravity-force-lab/issues/180#issuecomment-572297576, it would be nice if whole names were always on the same line, and not split up half way.

I looked into `RichText` and found that `lineWrap` is set up to split only on individual "nodes" within the RichText. I didn't see an obvious way to make that split on `, ` instead of ` ` or something like that.

@jonathanol

[2020-01-28 03:39] pixelzoom commented on #593
There's nothing in the current implementation (QueryStringMachine) that checks for case-insensitive key matches.  It's not easy to flag these, and (at this point) also not easy to add that to the warning dialog.  (We decided last week that warning would pertain to values, not keys.)

[2020-01-28 15:14] jonathanolson commented on #598
There's no built in support for that. I'm fine with setting up an API that allows controlling where splits can happen (where each element then would have information about whether it can split to the left/right). Thoughts?

[2020-01-28 18:27] zepumph commented on #598
It sounds complicated. What I keep coming back to is that `CreditsNode` starts with a whole string of names. To support something like splitting on each full name wouldn't each name need to be split up? Can you recommend a potential API for this issue, even if we don't end up going forward?

I'm not sure how i18n would work for this, but one thought I had would be the following options:
[code]

I

[2020-01-28 18:27] zepumph commented on #598
Oops, the patch:
<details>

[code]
</details>

[2020-01-30 16:19] jonathanolson commented on #598
Reviewing the patch. Also what if we used non-breaking spaces inside names, would that solve the issue?

[2020-01-30 16:53] jonathanolson commented on #598
The patch looks good to me, if you'd like to commit it.

[2020-01-30 23:36] chrisklus opened #599 "Support graceful validation for ?screens query parameter"
From https://github.com/phetsims/joist/issues/593 and https://github.com/phetsims/chipper/issues/829.

The validation for the `screens` query parameter happens in Sim.js instead of the usual flow in QueryStringMachine. In order to support the functionality of the new `public` schema key, the validation should be handled by QueryStringMachine. Marking a TODO to this issue and self-assigning.

[2020-02-01 02:44] zepumph opened #600 "HomeScreen text is not dynamically centered for PhET-iO"
The title and small/large screen button text is not centered when updated with PhET-iO (like in studio).

Discovered while working on https://github.com/phetsims/projectile-motion/issues/201

This also relates to the general proliferation of dynamic text updates discussed in
https://github.com/phetsims/phet-io/issues/1551 and
https://github.com/phetsims/phet-io/issues/1565

I think we probably wan

[2020-02-01 02:56] zepumph commented on #600
I tried to add:

[code]

To ScreenButton.js and it worked great for the large button, but not good for the small, and I'm unsure why.

[2020-02-01 03:02] zepumph commented on #600
I had more luck with the title node though. @samreid can you please review this half, and recommend how to proceed with ScreenButton?

[2020-02-03 22:46] pixelzoom opened #601 "restructure home screen buttons"
This came up in a Zoom discussion with @arouinfar, @kathy-phet, @zepumph, and @chrisklus.

ph-scale has 3 screen: _Macro_, _Micro_, and _My Solution_. Here's the Studio tree structure for the home screen:

<img width="293" alt="screenshot_92" src="https://user-images.githubusercontent.com/3046552/73697481-e25f6800-469b-11ea-8478-0af8967b9d55.png">

Exposing the large and small buttons separately d

[2020-02-03 23:12] samreid commented on #601
I'm hesitant to use the exact term "radio button group" because clicking on a selected element a 2nd time has a different effect than a traditional radio button group.  Maybe just call it `screenButtonGroup` instead?

I agree with the main idea of this issue.  Last time we worked on this, we didn't have time to revise joist to have a single type for each of the buttons (where each type has 2 sizes

[2020-02-03 23:30] chrisklus opened #602 "include homeScreen in screenIndexProperty"
Related to https://github.com/phetsims/phet-io/issues/1607 and https://github.com/phetsims/joist/issues/601.

During a meeting with @arouinfar @kathy-phet @zepumph @pixelzoom, we discussed the possibility of refactoring `screenIndexProperty` to include the home screen. This would make it easier to determine which screen in visible in the sim for phet-io clients, as right now you need to check `scr

[2020-02-04 02:31] samreid commented on #600
We may have more of a rewrite of ScreenButton as part of #601

[2020-02-05 17:29] kathy-phet commented on #602
Related to this - but should perhaps be a new issue after our discussion on Thursday - it would be great if when you switch screens the PhET-iO data stream message not only told you that you switched from screen "1" to screen "2", but also listed the names of those screens in the message - drawing from either this text value:
energyFormsAndChanges.general.navigationBar.introScreenButton.text.textP

[2020-02-06 18:50] samreid commented on #602
@jonathanolson and @samreid pointed out that we shouldn't create the home screen for single screen sims, or when homeScreen=false.  There are different implementations that can accomplish this.

[2020-02-06 19:17] chrisklus commented on #602
Notes from 02/06/20 phet-io meeting:

screens[ 0 ] = homeScreen
selected screen icon behavior will need a new Property that lives under homeScreen, like homeScreen.selectedScreenIconProperty
omit showHomeScreenProperty
convert screenIndexProperty to screenProperty so the screens index, tandem, etc are availible for the data stream
  phet-io studio control would be a radio button group for valid va

[2020-02-06 22:59] zepumph commented on #602
And so `screenProperty` will be be of type `PropertyIO.<ScreenIO>`. `ScreenIO` does not yet exist, as `Screen` instances have not been instrumented up to this point, but instead only their components have.

My recommendation, and I think what was discussed during today's meeting, is to create `ScreenIO` as a complete skeleton that inherits from `ReferenceIO`, and let `ReferenceIO` handle all the s

[2020-02-06 23:16] pixelzoom commented on #602
Yes, that sounds correct.

[2020-02-10 23:51] chrisklus commented on #602
@samreid and I worked on this today. phet brand and the query parameters described in https://github.com/phetsims/joist/issues/602#issuecomment-583065326 appear to be working correctly.

@samreid the last change I made was adding `finishInitialization` to `HomeScreenModel` so that it could link to `screenProperty` and update `homeScreen.model.selectedScreenProperty`, which allows for the correct s

[2020-02-11 03:19] samreid commented on #602
@chrisklus and I made improvements in Joist and started adding support for studio:

<details>

[code]

</details>

[2020-02-11 03:22] pixelzoom commented on #601
Wow.... Small and large buttons each have their own Text node.  So for example I can change a large button's text to "Foo" like this:

<img width="683" alt="screenshot_116" src="https://user-images.githubusercontent.com/3046552/74208934-e151ac00-4c42-11ea-9527-40eeaea35907.png">

And then the small button's text is unchanged:

<img width="683" alt="screenshot_118" src="https://user-images.githubus

[2020-02-11 04:43] chrisklus commented on #602
Screens are instrumented but just with ReferenceIO. Studio runs after a grunt update.

<details>

[code]

</details>

[2020-02-12 03:19] samreid commented on #602
Current progress:

<details>

[code]

</details>

[2020-02-12 17:06] chrisklus commented on #602
<details>

[code]

</details>

[2020-02-12 19:06] zepumph commented on #602
<details>

[code]
</details>

[2020-02-12 21:31] chrisklus commented on #553
From #602, some usages of `screenIndexProperty` and `showHomeScreenProperty` will need to be refactored to work with `screenProperty` for EngagementMetrics to run again. Marked with a TODO to this issue.

[2020-02-13 00:44] zepumph opened #603 "Factor out screen query-param logic into unit-testable function"
From #602, @samreid @chrisklus and I think that it makes sense to try to factor out logic relating to converting screen query parameters (`homeScreen`, `initialScreen`, and `screens`) into its own function that can have unit tests written about.

@samreid, will you please respond with your ideas on this. @zepumph and @chrisklus were a little confused about what the inputs and outputs would be for

[2020-02-13 00:52] zepumph commented on #602
Today, @chrisklus and @samreid and I finished up the work on this commit. Here is a list of changes in this much-too-big commit:
* Get rid of `currentScreenProperty`, `showHomeScreenProperty`, and `screenIndexProperty`
* Created `screenProperty`, largely in replacement of `screenIndexProperty`, which is `Property.<Screen>`
* Update query parameter validation to be centralized in one place in Sim.j

[2020-02-13 06:07] samreid commented on #603
Something like this:

[code]

[2020-02-13 06:35] samreid commented on #602
CT is failing for sonified sims with this error:

It feels related to this issue but I'm not exactly sure how.

[code]

[2020-02-13 06:39] samreid commented on #602
It seems like the audio didn't decode yet in MultiClip.  I wonder if we should hold off launching until sounds load, like we do for images.  This support is provided by SimLauncher.js

[2020-02-13 07:25] zepumph commented on #602
Since CT was failing so heavily, I pushed a fix that works, but may not be the most long term code. The sound generator was moved to later in the sim construction process to `finishInit`. This was done because it needed to be done after the HomeScreen's model was initialized, which happens in one of the `workItems`. Unfortunately this was too late, by the time that occurs, there isn't enough time

[2020-02-13 15:57] pixelzoom commented on #602
After pull-all.sh, I had to `grunt update` in ph-scale.   Now I'm still seeing this error when loading ph-scale in Studio:

[code]

[2020-02-13 16:16] pixelzoom commented on #602
I just test-drove these changes in Studio.  Very nice!

[2020-02-13 16:21] pixelzoom opened #604 "standardize tandem name for sim title"
These 2 elements in Studio display the sim's title:

[code]

Should we standardize the tandem name? `titleNode` perhaps?

[2020-02-13 16:28] pixelzoom opened #605 "is it useful to show phetioEngine in the Studio tree?"
`phetioEngine` is the first thing in the Studio tree, at the very top.  Does showing it in the tree provide some value?  If not, should it be hidden?

[2020-02-13 16:33] pixelzoom opened #606 "use a more specific label for "Types" radio button group"
Re this radio button group in Studio:

<img width="121" alt="screenshot_122" src="https://user-images.githubusercontent.com/3046552/74456210-aff3fe80-4e43-11ea-8065-b74f35259825.png">

"Types" is a bit too generic.  Should this be labeled as "IO Types", since that's how they are referred to in the "How to Instrument a PhET Simulation for PhET-iO" doc?  Or is there a more specific term that will be

[2020-02-13 17:30] zepumph commented on #604
I think that `titleText` is most idiomatic to how we name things since each of these will be a `TextIO` and will have a textProperty sub Property.

[2020-02-13 17:35] arouinfar commented on #602
This is looking really nice in studio!! I also tested with variations of `screens` and `homeScreen=false` and the behavior is as expected.

[2020-02-13 17:39] pixelzoom commented on #601
I took a quick look at the implementation...  Thoughts:

* `ScreenButton` is only used by `HomeScreenView`.  Rename it to `HomeScreenButton`, for symmetry with `NavigationBarScreenButton`.

* Do away with the concept of "large" and "small" buttons, replace with a single `HomeScreenButton `.

* Change the implementation of `HomeScreenButton ` so that it modifies it's appearance based on whether its

[2020-02-13 17:55] pixelzoom commented on #602
The current implementation of `HomeScreenModel` violates this code review item:

HomeScreenModel constructor is:

[code]

HomeScreenModel  does not need to know about the entire `sim`, it needs only `sim.screenProperty` and `sim.simScreens`.  The constructor should be:

[code]

[2020-02-13 17:59] pixelzoom commented on #602
The previous comment also bubbles up to `HomeScreen`.  There's no reason to pass the entire `sim` to HomeScreen.  It needs only what's needed by `HomeScreenModel` and `HomeScreenView`.  It's constructor should be:

[code]

[2020-02-13 18:01] pixelzoom commented on #602
Sim.js is the biggest class in joist, let's mitigate that by reducing coupling, and not adding more coupling.  Also note that https://github.com/phetsims/joist/issues/188 identifies other unnecessary coupling to Sim.

[2020-02-13 18:08] chrisklus commented on #602
`sim.screenProperty` doesn't exist at the time of creation for the HomeScreen, so we thought that was preferable to something like this:

[code]

It works the way it is because we were able to delay the screens initialization until later (so the homeScreen is initialized at the same time as all the rest of the screens, see `sim.start` line ~835).

And if `sim.screenProperty` is created before the

[2020-02-13 18:12] pixelzoom commented on #602
I don't think that's justification for passing in the entire Sim, and probably another good reason not to.  What you described is not at all reflect in the current implementation . If `sim.screenProperty` doesn't exist until later, then you should be setting `HomeScreenModel.screenProperty` when it does exist.

[2020-02-13 19:04] chrisklus commented on #602
Here's a patch for what those changes might look like. Note the added line in Sim at line 874. I'm not sure this could even work anymore since homeScreen initialization is delayed with the rest of the screens (see error when clicking on one of the screen buttons with the patch applied). Based on that error, I think the line at 874 which finishes initializing the homeScreen model would need to be m

[2020-02-13 19:15] pixelzoom commented on #602
The cost of increased coupling.  Sim has a large API.  HomeScreenModel now has access to that entire API, when it only needs 2 fields.   If you make a change to Sim, then you have to examine HomeScreenModel, along with the other classes identified in https://github.com/phetsims/joist/issues/188.

It may be messy, but it accurately reflects what's happening.

[2020-02-13 20:07] pixelzoom opened #607 "does KeyboardHelpButton need to use mipmap?"
In KeyboardHelpButton.js:

[code]

@jessegreenberg thinks these don't need to be `mipmap!` and could be `image!`. They are probably `mipmap!` because the require statements were copy-pasted from elsewhere.

[2020-02-13 20:50] jessegreenberg commented on #607
That's right, they must have been copy-pasted from PhetButton, which also uses mipmap. Does the PhetButton need to use mipmap?

[2020-02-13 21:00] pixelzoom commented on #607
Good question.  Looks like it was @samreid's recommendation to use mipmaps in https://github.com/phetsims/joist/issues/258#issuecomment-120993449, and I executed that in https://github.com/phetsims/joist/commit/71563991b339f58a5142dcb8086cb5d4400a1a83.   I believe that was back when Firefox has some quality issues, so it may be unnecessary now.

[2020-02-13 21:01] jessegreenberg commented on #607
I did comparisons of the KeyboardHelpButton and PhetButton in Windows 10 Chrome, Firefox, Safari and saw no difference when I used image instead of mipmap.

[2020-02-13 21:03] jessegreenberg commented on #607
Here is what it looked like in #258
![image](https://user-images.githubusercontent.com/6396244/74477934-4d6a2500-4e7a-11ea-98f4-dfd40bf89e3b.png)

Here is what it looks like in Firefox 73
![image](https://user-images.githubusercontent.com/6396244/74477969-65da3f80-4e7a-11ea-802a-f4facaa7d9d6.png)

[2020-02-13 21:13] jessegreenberg commented on #607
I switched both to use image instead of mipmap. @samreid can you please review?

[2020-02-13 21:23] samreid commented on #607
Can you please reference the commits to this issue?

[2020-02-13 21:24] jessegreenberg commented on #607
Sorry, didn't see push was rejected.

[2020-02-13 22:11] zepumph commented on #600
Alright then, for the GFL branch I'm only going to update the title.

[2020-02-13 22:47] zepumph commented on #600
I didn't need to do this because there is no home screen for GFL... oops.

[2020-02-14 00:49] samreid opened #608 "Improve support for dynamic layout"
I mentioned this in Slack on Friday Feb 7:

We have been struggling with how to reflow the UI when the layout of something changes, or when items are added or removed, or change size/contents.  We haven’t taken the plunge into LayoutManagers yet, and I question the added value of going all in for LayoutManagers because the strategy we have been using for positioning things relative to each other h

[2020-02-14 00:49] samreid commented on #608
@zepumph replied:

[2020-02-14 00:50] samreid commented on #608
[code]

[2020-02-14 00:52] samreid commented on #608
From https://github.com/phetsims/sun/issues/541#issuecomment-586002421

SR: Should we investigate a strategy where the layout code is factored out to a separate function, and can be re-run when necessary?
CM: That sounds like it's worth investigation.
KP: It's nice because we could opt-in one component at a time without having to do everything.
KP: SR, go ahead and give it a try, perhaps in ComboB

[2020-02-14 01:08] samreid commented on #608
To prototype with this, I'd like to choose a simulation that satisfies the following criteria:

* Have control panels with layout that adjust when text is resized or should adjust items are added/removed
* Has a ComboBox
* Is instrumented for PhET-iO
* Has been worked on recently--isn't too stale
* I'm at least somewhat familiar with the code

[2020-02-14 01:18] samreid commented on #608
Even though I'm not the lead, and it's been a while since it was worked on, it seems like Beer's Law Lab is a good candidate.  I'll work in a branch so as not to disturb anything.

[2020-02-14 04:39] samreid commented on #608
On second thought, these changes are spanning several repos, so I'll use a patch instead:

<details>

[code]

</details>

This patch changes VBox so that invisible things don't take up space, and a layout is triggered when something's visibility changes.  I'm not yet sure whether this is a reasonable approach to take for all our code.

![Kapture 2020-02-13 at 21 29 21](https://user-images.githubus

[2020-02-14 04:40] samreid commented on #608
This approach would be usable by babel--translators could immediately see the new strings appear in the sim as they are typed.  Maybe overkill?

[2020-02-14 15:11] samreid commented on #607
That solution will not work because `brightIconImage.height` is `0` in built mode.  You can see this by building balloons-and-static-electricity and running the built version.  The console reports:

[code]

We will need to find another way to get the image size during startup.  UPDATE: I pushed a commit that waits until images are loaded to access their dimensions.

Back to @jessegreenberg to revi

[2020-02-14 15:37] pixelzoom commented on #607
As I recall, that argument didn't fly when we discovered rendering-quality issues that we browser specific.   And I've only had to use mipmap because PhET wasn't willing to wait until browsers addressed the issue, not because we needed many levels of rendering detail.  So QA finds no current problems and you want to recommend dropping support for mipmaps, I think that's a decision that designs and

[2020-02-14 16:17] pixelzoom commented on #607
This change appears to be causing the following problem for many sims in CT:

[code]

Running the all_phet_debug.hmtl version of a local build, the error is:

[code]

[2020-02-14 17:14] samreid commented on #608
What about this as a general pattern?

* Each parent component with children listens to the bounds and visibility of its children
* When a child's bounds or visibility changes, the parent component, calls `layout` on itself.  This, in turn, may change the parent component's bounds and trigger the grandparent to layout().

Could this lead to cycles?

[2020-02-14 18:04] zepumph commented on #608
@samreid and I looked into the above patch, scratched it, and made a simpler changeset that may do similar logic.

<details>

[code]

[2020-02-14 18:38] jessegreenberg commented on #607
Sorry, regarding the CT error @samreid's fix in https://github.com/phetsims/joist/commit/d44c94228dfda6a537f07f419494b040f4cb9105 addresses this. The change looks good.

I made https://github.com/phetsims/QA/issues/481 to compare quality of PhetButton and KeyboardHelpButton on all of our supported platforms after the change. This is related to https://github.com/phetsims/chipper/issues/840 as it i

[2020-02-15 12:54] samreid commented on #608
This patch is more general and has more coverage for different components.  LayoutBox is resising nicely in Gravity and Orbits, ComboBox listboxes, Beer's Law Lab.  Changes were concentrated in Node.js

<details>

[code]

</details>

Here are just the changes for scenery:

[code]

The next step for this issue is to discuss with @jonathanolson to determine the practicality of this approach, will it

[2020-02-16 14:03] samreid opened #609 "elementsToRemove appears unused"
Discovered in https://github.com/phetsims/chipper/issues/844, it looks like `SimLauncher.elementsToRemove` hasn't been used in many years.  It seems safe to remove, but I should run it past @jonathanolson who introduced it.

[2020-02-16 14:04] samreid commented on #388
This code is up for deletion in https://github.com/phetsims/joist/issues/388

[2020-02-16 14:10] samreid commented on #609
I tested a sim without this code in built and requirejs mode, and launched scenery playground.  No problems noted.  I'll commit, @jonathanolson can you please review?  I don't think this commit in itself should block publication, but it would be good to understand why that code may no longer be necessary, so I will mark for blocks-publicaiton.

[2020-02-18 17:58] samreid commented on #608
A note that @jonathanolson also has nice working copy changes for sun and gravity-and-orbits.

[2020-02-18 19:13] jonathanolson commented on #608
It looks like some sims might have minor layout differences with the scenery patch. Should we add checks/assertions to see where nodes are invisible currently in layout containers?

Also for developer discussion: is it ok if layout containers (LayoutBox in particular) both does NOT layout invisible nodes, AND does not include their bounds?

This seems like a general improvement to me.

[2020-02-18 19:35] chrisklus commented on #591
I made small doc changes above. What is `phet.isWrapper`? I can't find any other usages of `isWrapper`.

[2020-02-19 01:25] samreid commented on #608
I added this assertion:

[code]
and got reports for these sims:

[code]

gravity-and-orbits is expected, @jonathanolson and I added code to that repo to leverage this new layout feature.

[2020-02-19 02:38] samreid commented on #608
I compared the control panels in Waves Intro.  Top is before the scenery patch, bottom is after the scenery patch:

![image](https://user-images.githubusercontent.com/679486/74796347-8db81180-5285-11ea-9178-b0b20d90a2f0.png)

In the "after", the tools in the top seem more centered and the sliders seem a little larger.  Here's a gif that might make it easier to visualize:

![Kapture 2020-02-18 at 1

[2020-02-19 17:21] arouinfar commented on #597
@kathy-phet and I found a few more things in the navbar, so it seems appropriate to re-open this issue.

- [ ] Can you please "feature" the titleTextNode.textProperty in the code (since its common).  energyFormsAndChanges.general.navigationBar.titleTextNode.textProperty
- [ ] The name of a screen needs to be changed in three places: the large/small home screen buttons & the navbar. This is problem

[2020-02-19 17:23] samreid commented on #602
@chrisklus @zepumph and I collaborated to make one more improvement.  This is still up for review by @jonathanolson

[2020-02-19 20:23] zepumph commented on #554
This is largely being worked on as part of https://github.com/phetsims/phet-io/issues/1457, but it will be good to link these two.

[2020-02-19 20:36] zepumph opened #610 "Refactor MenuItems in PhetMenu to be created eagerly"
From https://github.com/phetsims/phet-io/issues/1457#issuecomment-581183740, @samreid mentioned this as a review comment. I worked on it a bit over there and said:

I worked on this today, and made some progress, but I couldn't quite get the layout to work out. I will need to dive in again sometime soon.

<details>

[code]
</details>

I will take another pass again here. This also relates to PhET-

[2020-02-19 22:29] chrisklus commented on #554
Items (1) and (3) from https://github.com/phetsims/joist/issues/554#issuecomment-578941025 are ready for review.

[2020-02-19 23:08] chrisklus commented on #601
From https://github.com/phetsims/joist/issues/597#issuecomment-588338516:

- [ ] The name of a screen needs to be changed in three places: the large/small home screen buttons & the navbar. This is problematic (see #601), as the client would need to change a screen name in 3 places. For example:
`homeScreen.view.introScreenSmallButton.text.textProperty`
`homeScreen.view.introScreenLargeButton.text.

[2020-02-19 23:20] chrisklus commented on #597
@arouinfar I featured `titleTextNode.textProperty` in the above commits. Marking on-hold until work in #601 is complete.

[2020-02-19 23:23] arouinfar commented on #554
Looks good in master @chrisklus! Since the remaining work will be tracked in other issues, I'll go ahead and close.

[2020-02-19 23:23] #554 closed

[2020-02-20 17:08] jonathanolson commented on #602
Looking good to me. Added REVIEW comments in the above commit.

[2020-02-20 17:31] chrisklus commented on #602
Thanks @jonathanolson!

Right now there's a bug where any `screens` value greater than 1 is failing. @zepumph and I are looking into it. If there's an obvious fix then we'll commit that for now, but think that #603 should be completed at high priority so we can be confident about our changes.

[2020-02-20 18:56] chrisklus commented on #602
The bug mentioned above is fixed, but I'm excited to get some tests going to feel more confident about the state of this issue.

[2020-02-20 20:21] Denz1994 commented on #608
As discussed in dev-meeting on 02/20/20:
SR mentioned there are slight pixel differences as seen [above](https://github.com/phetsims/joist/issues/608#issuecomment-588005459).  This will also cause layout boxes to not consider invisible children.

AP: I'm not too worried about having QA look at this specifically.
SR/JO/AP: Let's try this patch now and if there are any problems, use `excludeInvisibl

[2020-02-21 05:57] chrisklus commented on #603
Latest (factoring out is working, test environment completed, 2 "test" tests written):

<details>

[code]

</details>

Work left is to flesh out a bunch of test cases and cleanup

[2020-02-21 17:43] samreid commented on #608
We found problems in, say, the waves intro toolbox where icons were jumping around. So cannot commit this change right away.

@zepumph points out that we could just opt-in for ComboBox list boxes for now.  Sounds great!

[2020-02-21 18:15] chrisklus commented on #603
Logic has been factored out to ScreenSelector.js and tests added in ScreenSelectorTests. This was blocking a sim dev version so I'm going to create that now and then return for more cleanup.

[2020-02-21 20:02] chrisklus commented on #603
@zepumph or @samreid can you please review ScreenSelectorTests, including the test cases and expected results (and any more test cases you'd like to add).

I wasn't sure of the best way to proceed for this TODO on line 18:

[code]

Would it be okay to assign QUERY_PARAMETERS_SCHEMA from initialize-globals.js to window?

The pattern you assisted me with in ScreenSelector looks great. I'd like to ad

[2020-02-27 04:21] chrisklus commented on #601
progress patch:

<details>

[code]

</details>

I need to fix the text layout, do more cleanup, and recover some lost logic relating to hover behavior - it looks like I misunderstood the purpose of `highlightedScreenIndexProperty`.

Other than those things, the behavior seems normal and the Studio looks nice. Once they are complete, I'll need assistance to check on a11y behavior from the changes.

[2020-02-27 22:27] oliver-phet opened #611 "Screen changes are triggering sounds even when user interface sounds are disabled"
@jbphet: this was first noticed in http://phettest.colorado.edu/circuit-construction-kit-ac/circuit-construction-kit-ac_en.html?ea&brand=phet
There are several UI sounds that are disabled (volume set to 0), but the screen buttons continue to play sounds -- so they don't appear to be labeled as UI sounds.

[2020-02-28 18:07] jessegreenberg commented on #607
QA tested [this list of platforms](https://github.com/phetsims/QA/issues/481#issuecomment-591517716) and confirmed that image quality is still good for these buttons on all of them. @samreid is there anything else for this issue?

[2020-02-28 18:10] samreid commented on #607
Everything looks cleared to me, but let's run it past @pixelzoom since he opened the issue.

[2020-02-29 02:31] chrisklus commented on #601
Implemented above. Tested with screens 1,2,3,4,5,6, screens 1,2,3,4,5, screens 1,2,3,4 etc. of `scenery-phet-demo`, in comparison to https://phet-dev.colorado.edu/html/scenery-phet/1.0.0-dev.18/phet/scenery-phet_en_phet.html. Also tested with all screens of `wave-interference` and `states-of-matter` since they use the option `showUnselectedHomeScreenIconFrame` for stroking the unselected screen bu

[2020-02-29 02:39] pixelzoom commented on #601
This looks awesome in Studio, _so_ much nicer.  Thanks for tackling this @chrisklus.

[2020-02-29 02:40] pixelzoom commented on #601
... and `buttonGroup` seems very appropriate to me.

[2020-02-29 03:18] pixelzoom commented on #607
👍

[2020-02-29 03:18] #607 closed

[2020-03-04 01:35] zepumph commented on #603
To be clear, when we are dealing with a single screen sim, this will fail, this is only problematic for cases where you select a single screen for a multi-screen sim and have that query parameter also. I can see this going either way. Extra fail logic could be clear, but also could make programmatic url creation challenging, (like if you only include one screen, then you HAVE to omit the homeScree

[2020-03-04 01:36] zepumph commented on #602
Is there a way to capture that fix in a test somehow?

[2020-03-04 02:20] zepumph commented on #600
This may be much easier now that https://github.com/phetsims/joist/issues/601 has been done.

[2020-03-04 02:50] zepumph commented on #601
I compared

https://phet.colorado.edu/sims/html/number-line-integers/1.0.0/number-line-integers_en.html
http://localhost/number-line-integers/number-line-integers_en.html?brand=phet&ea

and found that, as I moved between the two tabs in different home screen states, they look exactly identical (from what my eyes can see). Good work!

- [ ] A local `isSelectedProperty` seems really nice, and makes

[2020-03-04 19:19] samreid commented on #603
@chrisklus and I reviewed the js/ScreenSelectorTests.js and they look great, thanks!

[2020-03-05 19:30] jonathanolson commented on #609
Looks safe to me, thanks!

[2020-03-05 19:30] #609 closed

[2020-03-05 20:42] zepumph commented on #610
The output of this should make sure to embody the phet-io design requirements of https://github.com/phetsims/phet-io/issues/1457

[2020-03-11 16:22] samreid opened #612 "Just pass in the index"
From https://github.com/phetsims/joist/issues/602, @jonathanolson remarked in the code review:

[code]

It's unclear what the recommendation is, @jonathanolson can you please clarify?

[2020-03-11 16:26] samreid opened #613 "Should "?screens=1" or "?initialScreen=1" or "homeScreen=false" fail for single screen sims?"
From #602 and #603, this came up during review:

[code]

Before we can proceed, we need to ask the dev team: Should "?screens=1" or "?initialScreen=1" or "homeScreen=false" fail for single screen sims?

[2020-03-11 17:08] jonathanolson commented on #612
There were multiple accesses to `simScreens.indexOf( screen )`, AND `simScreens` was only used for that purpose. Just passing in the index of the screen (instead of the simScreens array) should improve encapsulation and be simpler.

[2020-03-11 19:30] samreid opened #614 "How to determine whether to select a subset of screens?"
From #602, @jonathanolson said:

[code]

@chrisklus and I discussed this and agree it would work properly and shorten the code to check for `null` instead of using `screensQueryParameterProvided`.  However, there is no robust way to check for the default value in the query parameter schema, so this would be somewhat brittle.  Also, we recommend using this pattern so that it is symmetrical with the

[2020-03-11 20:00] samreid commented on #602
Reverting the fix shows that this test fails:

[code]

[2020-03-11 20:11] chrisklus commented on #602
@samreid and I removed the remaining REVIEW comments by addressing them or promoting them to their own issues for additional discussion. Closing.

[2020-03-11 20:11] #602 closed

[2020-03-12 17:15] samreid commented on #613
At today's meeting @pixelzoom @kathy-phet @arouinfar agreed that these should not be failure cases.  @chrisklus can you please address this accordingly?

[2020-03-12 18:03] samreid opened #615 "Make it easier for sims to listen to when phetioSetStateCompleted"
Here's a patch from discussion today:

<details>

[code]

</details>

We wanted to ask @zepumph if we can eliminate the `stateSetEmitter` by bundling its behavior into the `isSettingStateProperty`. There is an `updateViews` between them.

[2020-03-12 19:13] jessegreenberg commented on #586
From developer meeting 3/12/20 - @ariel-phet we need a developer to investigate a solution for this, can you please assign someone to do so?

[2020-03-13 01:25] pixelzoom commented on #511
@jessegreenberg reminder that this TODO is still in ScreenSummaryNode.js:

[code]

[2020-03-14 20:02] samreid commented on #608
@jessegreenberg pointed out ScreenView already defines `layout(w,h)`, so the earlier comments about adding a generic `layout` function may not jive.  See https://github.com/phetsims/energy-skate-park/issues/237#issuecomment-599128636

[2020-03-14 20:22] samreid commented on #612
@chrisklus can you please take a look?

[2020-03-16 20:41] jbphet commented on #611
Fixed by setting the sound generator for these screen sounds to the 'user-interface' category, closing.

[2020-03-16 23:42] zepumph commented on #615
Yes I think that there is an important distinction here, and I don't think that we can combine out of the box.

`isSettingStateProperty` is what you listen to if you want to know if the phet-io engine is in the process of setting state. This is purposefully the very first and very last things in the `setState` call.

`stateSetEmitter`, likely the worse named of the two`, is meant to be a hook for

[2020-03-17 02:27] zepumph opened #616 "Should ScreenView be Tandem.REQUIRED?"
Over in https://github.com/phetsims/studio/issues/109 there was a bug for sims that had an instrumented ScreenViews. It made me realize that there is no consistency across sims as to if we instrument the ScreenView for sims.

To illustrate this, note that HomeScreenView is instrumented, but many sims don't have their other sims instrumented (you can see this by looking at the commits in https://gi

[2020-03-18 02:07] zepumph commented on #601
- [ ] @chrisklus today during work with interactive descriptions, I noticed that you cannot activate home screen buttons with the keyboard anymore. To reproduce, go to energy-forms-and-changes, add `?supportsDescriptions` and then tab to a button. Notice that enter/spacebar don't activate them. That said the logic to "highlight" on tab still works. Let me know if you want help tracking down the bu

[2020-03-18 03:52] chrisklus commented on #612
Ah I understand, thanks for clarifying @jonathanolson. I committed the recommended change above. @samreid would you please review?

[2020-03-18 04:16] chrisklus commented on #616
Oh wow, yeah I've never noticed this either. Seems best to be consistent - I can't think of a reason why it shouldn't be required. Should we also assert that `tandem.name` === `view`? Feel free to leave assigned to me to implement.

[2020-03-18 16:43] #611 closed

[2020-03-18 21:19] chrisklus commented on #601
I reverted a line that shouldn't have been removed during my refactor and the problem described in https://github.com/phetsims/joist/issues/601#issuecomment-600387443 appears to be fixed. @zepumph then gave this a look and we also added events to the keyboard input listeners.

- [ ] @zepumph also suggested that I do a line by line comparison from the previous file to make sure any other essential

[2020-03-19 23:30] chrisklus commented on #601
Thanks for great feedback @zepumph. Please review my responses in https://github.com/phetsims/joist/issues/601#issuecomment-594296873 and the commits above. I copied one item down here that I would like more input on:

  I looked into this a bit and think that it's simpler to understand and implement in the way it is (over using ButtonModel.js) - let me know if you disagree. If we leave it impleme

[2020-03-20 00:10] zepumph commented on #601
I think that it is organized pretty well as is, and don't think more work is needed. The loose structure is something like:
[code]

That feels normal and nice to me. Good work!

[2020-03-20 21:51] arouinfar commented on #601
That also seems fine to me, but not sure if this is moot given the conclusion to the question below...

Thanks for the clarification @chrisklus. I don't think either of these properties need to be instrumented. If clients want to know which button is "big" on the HomeScreen, they can see this in `homeScreen.model.selectedScreenProperty`.

[2020-03-21 00:03] zepumph commented on #601
@chrisklus let me know if I can be of more help here.

[2020-03-22 23:00] zepumph opened #617 "move a11y strings into main strings json"
From phetsims/chipper#795

[2020-03-22 23:21] chrisklus commented on #613
Implemented above, @samreid please review.

[2020-03-23 00:26] chrisklus commented on #601
Thanks @zepumph and @arouinfar, sounds good.

There was one remaining item from that was improved, but not fixed, by the work in this issue. Since the remainder of that problem doesn't relate to the home screen buttons, I'm going to close this issue and move that back to https://github.com/phetsims/joist/issues/597 for further discussion.

[2020-03-23 00:26] #601 closed

[2020-03-23 00:55] chrisklus commented on #597
Remaining items for this issue:

- [ ] Updated by CK: The name of a screen needs to be changed in two places: its home screen button & the navbar, for example:
`homeScreen.view.buttonGroup.introScreenButton.text.textProperty`
`general.view.navigationBar.introScreenButton.text.textProperty`

  CK: @samreid @zepumph recommendations for how to condense this? Some ideas:
  * Make `navigationBar.introS

[2020-03-23 16:30] pixelzoom commented on #586
Consensus at 3/12/20 dev meeting is that this should be done sooner, rather than later.  Otherwise we're continuing to make design decisions about dialogs based on incorrect scaling.

Here's what needs to be done:

- [ ] Identify the cause of the problem (see clues above).
- [ ] Correct the problem.
- [ ] Identify and adjust dialogs that are compensating for incorrect scaling.

[2020-03-23 17:28] pixelzoom commented on #586
@ariel-phet and I discussed this via Zoom.  This doesn't impact the UX, so can't be a priority right now, so it will remain unassigned.   In the meantime, developers should be made aware of this problem, and should use a workaround like the one that I've used in Natural Selection. E.g.:

[code]

This will be a high-priority PSA for developer meeting.

[2020-03-24 00:53] zepumph commented on #496
The first thing that I notice is that `HomeScreen.js` doesn't have a name, so it comes up as "null Screen, Coulombs Law" as the h1.  I'll start there.

[2020-03-24 01:12] zepumph commented on #617
Implemented above. @jessegreenberg please spot check.

[2020-03-24 01:17] zepumph commented on #496
Implemented above. I looked around to see if it was scary to pass that name in, but couldn't find anything so I committed.

[2020-03-24 05:20] zepumph commented on #496
`HomeScreen.md` has an aria-labelledby between the `nav` container and `Sim Screens` as an `h2`. In master it was an `aria-label` and there was no `h2`. I changed than above.

[2020-03-24 05:26] zepumph commented on #496
In the above commits I removed the "Play Area" and "Control Area" sections from the home screen.

[2020-03-24 05:38] zepumph commented on #496
* Something that is in master but not in the `HomeScreen.md` example is `aria-roledescription="Sim Screen"` on the `button` for each screen `li`. Should we keep that attribute on each screen `button`?

[2020-03-24 15:13] pixelzoom commented on #496
@zepumph asked in Slack:

Michael Kauzmann:octopus:  7:17 PM
Can anyone think of a reason why HomeScreen.js should NOT have a name provided (like if something assumes it will have a name of null)? If so please comment in https://github.com/phetsims/joist/issues/496 where I passed a name in to `
HomeScreen.js.

I'm not aware of anything that is relying on HomeScreen having a null name. And if somet

[2020-03-24 17:13] zepumph commented on #496
I added the aria-describedby association between the `button` and the `p` for each screen in the above commit.

[2020-03-24 17:33] zepumph commented on #496
https://github.com/phetsims/joist/issues/496#issuecomment-603023804 was incomplete. We also wanted to remove the default screen summary Node. Implemented a more general solution above.

[2020-03-24 18:18] zepumph commented on #496
@terracoda this issue is ready for preliminary review. Here is what I did:

* I looked at `HomeScreen.md` and the example there of Coulomb's Law Home Screen.
* I then compared that to what is on master for the CL home screen.
* I tried to be as clear as possible above as to what I changed to align these two.

What I think is best for you to review:
* Take a look at `HomeScreen.md` to refresh (this

[2020-03-24 21:48] KatieWoe commented on #516
Noticed on https://github.com/phetsims/QA/issues/487, indicating this is still an issue.
![abouttoobig](https://user-images.githubusercontent.com/41024075/77480254-f5aeca00-6de6-11ea-87ff-2758dd7003ed.png)

[2020-03-25 17:06] zepumph commented on #597
This is what I would prefer. I think that Screen.js should have a `nameProperty`. It is a bit weird because it won't be under `model` or `view`, but I, at this moment, may still be ok with that.

Then that nameProperty can be passed around in joist instead of just `{string} name` like it is now (passed as an option to Screen.js)

What do you think about that?

[2020-03-25 18:00] JRomero0613 commented on #516
This does not occur for my own Windows 10 device nor the iOS 13.3.1 iPad I am testing on. It might have something to do with the size of my screens because both devices have plenty of room vertically for the about dialog.

[2020-03-26 18:05] zepumph opened #618 "fix incorrect scaling of KeyboardHelpDialog"
Over in #586, @pixelzoom investigated that dialogs are getting weirdly scaled. Over in that issue, fixing the problem was deferred, but @pixelzoom recommended a word around in https://github.com/phetsims/joist/issues/586#issuecomment-602745008 to make sure the issue isn't continued to be propagated.

This workaround won't work for additional keyboard help content that will be created, and I think

[2020-03-26 18:06] jbphet commented on #586
Discussed in the 3/26/2020 dev meeting, and we decided to address a couple of specific cases with the recommended workarounds and defer the larger fix for a couple of months.

[2020-03-26 20:44] pixelzoom opened #619 "replace phet.phetio with Tandem.PHET_IO_ENABLED in conditionals"
Testing `phet.phetio` appears to be widely used as a way of determining whether PhET-iO is running.  Searching .js files in PhET repos:

* 9 occurrence of `( phet.phetio`
* 4 occurrence of `( window.phet.phetio`
* 2 occurrences of `( !phet.phetio`
* 2 occurrence of `( !window.phet.phetio`

... and there may be more.

Shouldn't these be testing `Tandem.PHET_IO_ENABLED`?   See https://github.com/phe

[2020-03-26 22:51] zepumph commented on #619
@chrisklus is this something you can look at?

[2020-03-27 00:52] samreid commented on #612
Looks great, thanks @chrisklus and @jonathanolson, closing.

[2020-03-27 00:52] #612 closed

[2020-03-28 21:32] samreid commented on #597
That sounds reasonable to me, and matches patterns we have liked previously.

[2020-03-30 15:45] chrisklus commented on #597
Sounds good, I'll try it out!

[2020-03-30 19:06] chrisklus opened #620 "NavigationBarScreenButton highlight wrong when text grows"
Discovered during https://github.com/phetsims/joist/issues/597.

When the text in NavigationBarScreenButton gets longer, it correctly updates by centering the text and respecting its max-width, but the button still gets wider. This causes the right-side highlight from mouseover to be positioned incorrectly:

<img width="426" alt="Screen Shot 2020-03-30 at 1 57 15 PM" src="https://user-images.githu

[2020-03-30 19:20] chrisklus commented on #597
Implemented above - @zepumph could you please review? Relevant commits are https://github.com/phetsims/studio/commit/4a4ffdc8804291a13f3f6b9dd0ae64a1c4d1a5c1 and https://github.com/phetsims/joist/commit/d29cd9522dd5d8f793e0f3099072932f6b785ed8. Also please note the TODO I added related to accessibility.

Since the button labels on the home screen and nav bar now listen to the value of screen.nameP

[2020-03-30 21:51] chrisklus commented on #619
I attempted to get all of the occurrences that can rely on Tandem.js. Tested with aqua (both brands), Studio, and wrapper unit tests. @samreid or @zepumph please review.

[2020-03-31 01:43] pixelzoom commented on #586
Assigned to me because I'm supposed to add a calendar reminder for "a couple of months" from now. I've added a "Future Reminders" section at the top of the developer meeting document, and included this issue there.

[2020-04-01 15:38] jessegreenberg commented on #617
a11y strings in joist are looking good, thanks! I just removed `String` suffix from a few for consistency. Closing.

[2020-04-01 15:38] #617 closed

[2020-04-02 16:46] zepumph commented on #597
@chrisklus I was surprised to see that each screen's `nameProperty` doesn't have any phetioDocumentation. Do you think we should add it? I don't think it needs to be specific to the screen/sim, just a common string for all of them should be good.

[2020-04-02 22:11] samreid opened #621 "Generalize SimLauncher resource locks"
From https://github.com/phetsims/density/issues/13, we would like to generalize the SimLauncher resource locks.

[2020-04-03 03:49] samreid commented on #621
I rewrote SimLauncher to use a list of locks and it is working well.  It allowed us to eliminate around 50 lines of very sketchy code in SimLauncher.  It also required changes to modulify.js and initialize-globals.js.  I tested by modulifying common code repos and several sims (including acid-base-solutions and density), and they worked well.  I tested adding a fake lock that is never unlocked and

[2020-04-03 03:50] samreid opened #622 "branch: simlauncher-locks"
To support https://github.com/phetsims/joist/issues/621

[2020-04-06 16:43] arouinfar commented on #597
@chrisklus can you also make each screen's `nameProperty` phetioFeatured?

[2020-04-06 17:54] chrisklus commented on #597
Right, thanks for noticing this. I'm realizing it would have been better to run my proposed docs past you and @arouinfar before committing them, oops.

Yes, done above - sorry I forgot this on my first pass.

Back to @zepumph to continue review, if you weren't finished before. Moved down/edited from above since my last https://github.com/phetsims/joist/issues/597#issuecomment-606191206 is buried:

[2020-04-06 17:59] chrisklus opened #623 "sim.screenProperty phetioDoc does not match phet-io style"
[code]

I will omit the code comment and update the phet-io doc. The valid values show up in Studio, so I don't think this needs to be very descriptive. How does this sound:

[code]

[2020-04-06 18:22] samreid commented on #623
"Indicates" sounds like a one-way process, like it is just showing a value.  But it can also be used to set which screen is showing.  So maybe "Determines which screen is selected in the simulation"?

[2020-04-06 18:52] chrisklus commented on #623
Oh right, thanks. That sounds good to me.

[2020-04-07 02:36] chrisklus commented on #597
@zepumph pointed out another bug that came from this issue. Multi-screen sims that get reduced to a single screen by the `screens` QP have a title in the nav bar in the form of `Sim Name - Screen Name`. He noticed that `- Screen Name` is missing. I committed a fix above.

I missed a couple of cases when making this refactor because I was searching for usages incorrectly - it was impossible to look

[2020-04-07 14:29] samreid commented on #608
I moved my and @jonathanolson's work from the branch to master, and exercised it in ComboBox's ListBox and a checkbox panel in Gravity and Orbits.  I confirmed that cases like Waves Intro's toolbox (in the top right) doesn't cause the icons to jump around.  This is testing well and was a straightforward change, but would be good to have @jonathanolson review before we publish any simulations with

[2020-04-07 15:20] pixelzoom commented on #608
@samreid Can you please summarize the changes that were made here?  What was done, what potential issues to look for, any new features we should be aware of,...

[2020-04-07 15:57] samreid commented on #608
We added a Node option `excludeInvisibleChildrenFromBounds`, which is documented like so:

[code]

The value defaults to false to match previous behavior.  You must opt-in to get the new behavior.  At the moment, only a few sites opt-in to the new behavior:

* ComboBoxListBox, see https://github.com/phetsims/sun/commit/c0a58eaf66d89fbafdbe4426d7b29ded9d65228f
* Gravity and Orbits checkbox panel, s

[2020-04-07 17:16] samreid commented on #603
@chrisklus can you please clarify what remains for this issue?

[2020-04-07 21:49] pixelzoom opened #624 "home screen buttons don't behave correctly on touch devices"
This was discovered during dev testing of ph-scale, and reported in https://github.com/phetsims/ph-scale/issues/160.

The home screen is broken in master on touch devices for all sims. When one of the screen buttons is touched, the button does not get larger, it goes immediately to the associated screen. This has been broken since at least 3/23/20, when ph-scale 1.0.0-dev.15 was published for dev